<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Expense Payment Voucher List</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['exp_pay_vouche_list']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['finance']}</li>
							<li>#{msg['govt_Scheme']}</li>
							<li class="active">#{msg['exp_pay_vouche_list']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['exp_type']}" />
									<select class="form-control">
										<option>Select</option>
										<option>Staff</option>
										<option>Vendor</option>
										<option>Others</option>
									</select>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['voucher_no']}" />
									<input type="text" class="form-control" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['trans_from']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="transfrom" pattern="dd-MM-yyyy" mask="true"
										required="true" requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['trans_to']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="transto" pattern="dd-MM-yyyy" mask="true"
										required="true" requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['pay_to']}" />
									<input type="text" class="form-control" />
								</div>
							</div>




							<div class="col-lg-12  text-right">
								<div class="form-group">
									<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"></p:commandButton>
									<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
									</p:commandButton>
								</div>
							</div>

						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['srch_res']}</h3>
									<div class="pull-right m-t-2">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											styleClass="btn btn-xs waves-effect waves-light btn-success fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											styleClass="btn btn-xs waves-effect waves-light btn-info fa-input"></p:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th align="center">#{msg['sl']}</th>
																<th align="center">#{msg['exp_type']}</th>
																<th align="center">#{msg['voucher_no']}</th>
																<th align="center">#{msg['pay_to']}</th>
																<th align="center" class="fa-input">#{msg['transac_amt']}(&#xf156;)</th>
																<th align="center">#{msg['created_date']}</th>
																<th align="center">#{msg['created_by']}</th>
																<th align="center">#{msg['select']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>Staff</td>
																<td>012352</td>
																<td>Kamran Khan</td>
																<td align="right">1000</td>
																<td>20-Jun-2017</td>
																<td>Admin</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>Vendor</td>
																<td>012353</td>
																<td>Saravana Kumar</td>
																<td align="right">1200</td>
																<td>21-Jun-2017</td>
																<td>Admin</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>Other</td>
																<td>012354</td>
																<td>Kuber</td>
																<td align="right">1500</td>
																<td>22-Jun-2017</td>
																<td>Admin</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>Staff</td>
																<td>012355</td>
																<td>Ezhilarasan</td>
																<td align="right">1600</td>
																<td>23-Jun-2017</td>
																<td>Admin</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>Vendor</td>
																<td>012356</td>
																<td>Senthil Kumar</td>
																<td align="right">1800</td>
																<td>24-Jun-2017</td>
																<td>Admin</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12 ph0">
													<!-- <div class="col-lg-6 col-md-6 col-sm-12 m-t-10">
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
															title="Download PDF">
															<i class="fa fa-download"></i> PDF
														</button>
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-success"
															title="Download Excel">
															<i class="fa fa-download"></i> Excel
														</button>
													</div> -->
													<div class="col-lg-12 col-md-12 col-sm-12 text-right ph0">
														<ul class="pagination pagination-split m-t-10 m-b-0">
															<li><a href="#"><i class="fa fa-angle-left"></i>
																	Previous</a></li>
															<li class="disabled"><a href="#"><i
																	class="fa fa-angle-left"></i></a></li>
															<li><a href="#">1</a></li>
															<li class="active"><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
															<li><a href="#">Next <i
																	class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- end col -->
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
