<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PAY_SCALE_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{payScaleBean}"></ui:param>

		<title>Infotex | Pay Scale</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<h4>#{bean.action eq 'ADD' ? msg['pay_scale_create'] :
							msg['pay_scale_edit']}</h4>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{bean.action eq 'ADD' ?
							msg['pay_scale_create'] : msg['pay_scale_edit']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">

			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['pay_scale']}
							<p:outputLabel styleClass="pull-right">
									(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
								</p:outputLabel>
						</h6>
					</div>

					<div class="panel-body page-scroll-without-process p-t-10">
						<!--  first info  -->
						<p:outputPanel id="payscalepannel">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_amt']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputText
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												id="fromamount" minimum="6" maximum="10"
												requiredMessage="#{msg['frm_amt_is_req']}"
												value="#{payScaleBean.fromAmount}"
												validatorMessage="#{msg['pay_tool_from']}">
												<p:keyFilter regEx="/[\d\s]/i"></p:keyFilter>
												<p:ajax update="frommsg" />
												<f:convertNumber pattern="#0" />
											</p:inputText>
										</div>


										<p:focus for="fromamount"></p:focus>
										<h:message for="fromamount" id="frommsg"
											class="validation-error-label" />
										<p:tooltip for="fromamount" value="#{msg['pay_tool_from']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['to_amt']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputText
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												id="toamount" requiredMessage="#{msg['to_amt_is_req']}"
												minimum="6" maximum="10" value="#{payScaleBean.toAmount}"
												validatorMessage="#{msg['pay_tool_to']}">
												<p:ajax update="tomsg" />
												<p:tooltip for="toamount" value="#{msg['pay_tool_to']}" />
												<f:convertNumber pattern="#0" />
											</p:inputText>
										</div>

										<h:message for="toamount" id="tomsg"
											class="validation-error-label"></h:message>
										<p:tooltip for="toamount" value="#{msg['pay_tool_to']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['pay_range']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputText id="payRange" value="#{payScaleBean.payRange}">
											</p:inputText>
										</div>
										<p:tooltip for="payRange" value="#{msg['pay_range']}" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" immediate="true"
										action="#{payScaleBean.cancel}" update="growls"
										styleClass="btn btn-sm bg-slate font-iconmoon" />


									<p:commandButton value="&#xed6e; #{msg['submit']}"
										title="#{msg['submit']}" update="payscalepannel growls"
										binding="#{submit}" onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										styleClass="btn btn-sm bg-success font-iconmoon"
										rendered="#{payScaleBean.action eq 'ADD'}"
										action="#{payScaleBean.submitPayScaleForm}">
										<f:setPropertyActionListener value="ADD"
											target="#{payScaleBean.action}"></f:setPropertyActionListener>
									</p:commandButton>


									<p:commandButton value="&#xeda7; #{msg['update']}"
										title="#{msg['update']}" onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										update="payscalepannel growls" binding="#{update}"
										styleClass="btn btn-sm bg-primary font-iconmoon"
										rendered="#{payScaleBean.action eq 'EDIT'}"
										action="#{payScaleBean.submitPayScaleForm}">
										<f:setPropertyActionListener value="EDIT"
											target="#{payScaleBean.action}"></f:setPropertyActionListener>
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>