<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('NATIONALITY_MASTER_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{nationalityMasterBean}"></ui:param>
		<ui:param name="nationalityMaster"
			value="#{nationalityMasterBean.nationalityMaster}"></ui:param>
		<title>InfoTex | Nationality</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'Create' ? msg['create_nation'] :
						msg['edit_nation']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{bean.action eq 'Create' ?
							msg['create_nation'] : msg['edit_nation']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['nationality']}<span class="pull-right text-13 ">(<span
								class="text-danger">*</span> #{msg['mand_fields']})
							</span>
						</h6>
					</div>

					<div class="panel-body p-t-10 page-scroll-without-process">
						<p:outputPanel id="addForm">
							<div class="row">
								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['nation_code']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText value="#{nationalityMaster.code}"
												class="form-control" id="code" maxlength="10" minimum="2"
												validatorMessage="#{msg['nation_code_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['nation_code_is_req']}">
												<p:keyFilter regEx="/[a-z0-9\s]/i"></p:keyFilter>
												<f:validateLength minimum="2" maximum="6" />
											</p:inputText>
										</div>
										<p:focus for="code" />
										<h:message for="code" class="validation-error-label" />
										<p:tooltip for="code" value="#{msg['nation_code_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['nation_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-flag3"></i></span>
											<p:inputText value="#{nationalityMaster.name}"
												class="form-control" maxlength="75" minimum="3" id="name"
												validatorMessage="#{msg['nation_name_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['nation_name_is_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="name" class="validation-error-label" />
										<p:tooltip for="name" value="#{msg['nation_name_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['nation_name']} (#{msg['in_tamil']})" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-flag3"></i></span>
											<p:inputText value="#{nationalityMaster.localName}"
												class="form-control" maxlength="75" minimum="3"
												id="localName"
												validatorMessage="#{msg['nation_name_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['nation_name_is_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="localName" class="validation-error-label" />
										<p:tooltip for="localName"
											value="#{msg['nation_name_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu class="form-control"
												value="#{nationalityMaster.activeStatus}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="Code is required">
												<f:selectItem itemLabel="Active" itemValue="true" />
												<f:selectItem itemLabel="InActive" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12 text-right">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										title="#{msg['cancel']}" immediate="true"
										action="#{bean.showNationalityMasterListPage}"
										styleClass="btn btn-sm bg-slate font-iconmoon m-l-0" />
									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="#{bean.action eq 'Create'? '&#xed6e;': '&#xeda7;'} #{bean.action eq 'Create'?msg['submit']:msg['update']}"
										styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										action="#{bean.saveOrUpdate}" binding="#{submit}"
										update="growls addForm"
										title="#{bean.action eq 'Create'?msg['submit']:msg['update']}" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>
