<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('INVESTMENT_CATEGORY_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{investmentCategoryMasterBean}"></ui:param>
		<h:form>
			<title>InfoTex | Create Investment Category</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action eq 'Create' ? msg['cr_in_ca'] :
							msg['ed_in_ca']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['finance_master']}</li>
							<li class="active">#{bean.action eq 'Create' ?
								msg['cr_in_ca'] : msg['ed_in_ca']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content page-scroll no-padding-bottom">
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['invest_category']} <span class="pull-right text-13 ">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div>
							<p:outputPanel id="createInvestmentCategoryMasterPanel">
								<div class="panel-body no-padding-bottom">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['code']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="codenum"
														value="#{bean.investmentCategoryMaster.code}"
														required="true" requiredMessage="#{msg['code_is_req']}"
														placeholder=" ">
														<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="codenum" styleClass="validation-error-label"></h:message>
												<p:tooltip for="codenum" value="#{msg['code_valid_msg']}" />
												<p:focus for="codenum"></p:focus>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['name']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class=" icon-file-text2"></i></span>
													<p:inputText styleClass="form-control" id="codename"
														value="#{bean.investmentCategoryMaster.name}"
														required="true" requiredMessage="#{msg['name_is_req']}"
														placeholder=" ">
														<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="codename"
													styleClass="validation-error-label"></h:message>
												<p:tooltip for="codename" value="#{msg['name_valid_msg']}" />
											</div>
										</div>



										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['name']} (#{msg['in_tamil']})" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class=" icon-file-text2"></i></span>
													<p:inputText styleClass="form-control" id="lname"
														value="#{bean.investmentCategoryMaster.locName}"
														required="true" requiredMessage="#{msg['name_is_req']}"
														placeholder=" ">
														<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="lname" styleClass="validation-error-label"></h:message>
												<p:tooltip for="lname"
													value="#{msg['local_name_tamil_tool']}" />
											</div>
										</div>


										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-file-check"></i></span>
													<h:selectOneMenu class="form-control" id="status"
														value="#{bean.investmentCategoryMaster.activeStatus}">
														<f:selectItem itemLabel="Active" itemValue="true" />
														<f:selectItem itemLabel="InActive" itemValue="false" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													action="#{bean.showInvestmentCategoryMasterListPage}"
													immediate="true" title="#{msg['cancel']}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													class="btn btn-sm bg-slate font-iconmoon" update="growls" />

												<p:commandButton
													value="#{bean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
													title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
													styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
													action="#{bean.saveOrUpdate}"
													update="createInvestmentCategoryMasterPanel growls"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();" />
											</div>
										</div>
									</div>
									<!-- end row -->
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>
</ui:composition>