<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('E-MAIL_TEMPLATE_ADD')}" />
		</f:metadata>
		<title>InfoTex | Template Details</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{templateDetailsBean.action eq 'ADD' ?
						msg['create_temp_details'] : msg['edit_temp_details']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{templateDetailsBean.action eq 'ADD' ?
							msg['create_temp_details'] : msg['edit_temp_details']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<h:form id="templateForm">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['temp_details']} <span class="pull-right text-13">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10 page-scroll-without-process">
								<div class="row label-form">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['type']}" for="templateType" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="templateType"
												rendered="#{empty param[submit.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="templateType"
													value="#{templateDetailsBean.templateDetails.templateType}"
													styleClass="form-control" tabindex="1"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['temp_type_is_req']}"
													validatorMessage="Please enter TemplateType">
													<f:selectItem itemLabel="#{msg['select']}"
														itemDisabled="true"></f:selectItem>
													<f:selectItem itemValue="SMS" itemLabel="SMS"></f:selectItem>
													<f:selectItem itemValue="EMAIL" itemLabel="Email"></f:selectItem>
												</h:selectOneMenu>
											</div>
											<h:message for="templateType" class="validation-error-label"></h:message>
											<p:tooltip for="templateType"
												value="Please Choose Template Type" />
											<p:focus for="templateType"></p:focus>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cod']}" for="templateCode" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="templateCode"
												rendered="#{empty param[submit.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:importConstants
													type="in.gov.cooptex.core.enums.TemplateCode"></p:importConstants>
												<h:selectOneMenu id="templateCode"
													value="#{templateDetailsBean.templateDetails.templateCode}"
													var="templateCode" styleClass="form-control" tabindex="2"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['temp_code_is_req']}"
													validatorMessage="Please enter TemplateCode">
													<f:selectItem itemLabel="#{msg['select']}"
														itemDisabled="true"></f:selectItem>
													<f:selectItems
														value="#{templateDetailsBean.templateCodeList}">
													</f:selectItems>
												</h:selectOneMenu>
											</div>
											<h:message for="templateCode" class="validation-error-label"></h:message>
											<p:tooltip for="templateCode"
												value="Please Choose Template Code" />
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sub']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-mail-read"></i></span>
												<p:inputText class="form-control" id="templateSubject"
													value="#{templateDetailsBean.templateDetails.subject}"
													placeholder="Template Subject" tabindex="3" required="true"
													requiredMessage="#{msg['temp_sub_is_req']}"
													validatorMessage="Please enter TemplateSubject" />
											</div>
											<h:message for="templateSubject"
												class="validation-error-label"></h:message>
											<p:tooltip for="templateSubject"
												value="#{msg['sub_valid_msg']}" />
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<p:outputLabel value="#{msg['description']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<p:textEditor widgetVar="editor1" id="templatedescription"
												value="#{templateDetailsBean.templateDetails.description}"
												height="150" required="true"
												requiredMessage="#{msg['templ_desc_is_req']}"
												validatorMessage="Please enter TemplateDescription"
												placeholder="Enter The Description" />
											<h:message for="templatedescription"
												class="validation-error-label"></h:message>
										</div>
										<p:tooltip for="templatedescription"
											value="#{msg['des_vaid_msg']}" />
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12">
										<p:outputLabel value="#{msg['loc_desc']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<p:textEditor widgetVar="editor2"
												id="templateLocalDescription"
												value="#{templateDetailsBean.templateDetails.localDescription}"
												height="150" required="true"
												requiredMessage="#{msg['temp_loc_desc_is_req']}"
												validatorMessage="Please enter TemplateLocalDescription"
												placeholder="Enter The LocalDescription" />

											<h:message for="templateLocalDescription"
												class="validation-error-label"></h:message>
										</div>
										<p:tooltip for="templateLocalDescription"
											value="#{msg['des_vaid_msg']}" />
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton update="growls"
											onclick="history.back(); return true;"
											oncomplete="PF('progressDlg').hide();" immediate="true"
											value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon m-l-0"
											action="#{templateDetailsBean.cancel}">
										</p:commandButton>
										<p:commandButton update="growls templateForm"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											action="#{templateDetailsBean.submit}"
											value="#{templateDetailsBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{templateDetailsBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											title="#{templateDetailsBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{templateDetailsBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											binding="#{submit}">
										</p:commandButton>

									</div>
								</div>

							</div>
						</div>
					</div>
				</h:form>
			</div>
			<!-- colleps panel end -->
		</div>

	</ui:define>
</ui:composition>