<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Create Filter Work</title>
		
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['crte_filter_work']}</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['master']}</li>
						<li class="active">#{msg['crte_filter_work']}</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="content">
			<div class="">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['crte_filter_work']}</h6>
					</div>
					<div class="panel-body">
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['filter_work_code']}" />
									<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText value="" class="form-control"></p:inputText>
									</div>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['filter_work_name']}" />
									<div class="input-group">
									<span class="input-group-addon"><i class="icon-grid6"></i></span>
									<p:inputText value="" class="form-control"></p:inputText>
									</div>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['filter_work_name']} (in Tamil)" />
									<div class="input-group">
									<span class="input-group-addon"><i class="icon-grid6"></i></span>
									<p:inputText value="" class="form-control"></p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<div class="input-group">
									<span class="input-group-addon"><i class="icon-file-check"></i></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Select"></f:selectItem>
										<f:selectItem itemLabel="Inactive"></f:selectItem>
										<f:selectItem itemLabel="Active"></f:selectItem>
									</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>
						
												
						<div class="text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" class="btn bg-slate font-iconmoon m-r-0">
							</p:commandButton>
							<p:commandButton 
								value="&#xed6e; #{msg['submit']}" title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
	</ui:composition>