<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Account Information Master</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_acc_info']} #{msg['master']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li class="active">#{msg['create_acc_info']} #{msg['master']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['acc_info']} #{msg['master']}
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity_master_code']} / #{msg['name']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="SH001 / Showroom"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="SH001 / Showroom" itemLabel="SH001 / Showroom"></f:selectItem>
												<f:selectItem itemValue="WH001 / Warehouse" itemLabel="WH001 / Warehouse"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['regional_off_code_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree7"></i></span>
											<h:selectOneMenu id="regioncode" styleClass="form-control">
												<f:selectItem itemLabel="16 / Chennai"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="11 / Coimbatore"
													itemLabel="11/Coimbatore"></f:selectItem>
												<f:selectItem itemValue="12 / Cuddalore"
													itemLabel="12/Cuddalore"></f:selectItem>
												<f:selectItem itemValue="16 / Chennai"
													itemLabel="16 / Chennai"></f:selectItem>
												<f:selectItem itemValue="17 / Madurai"
													itemLabel="17 / Madurai"></f:selectItem>
												<f:selectItem itemValue="18 / Salem" itemLabel="18/Salem"></f:selectItem>
												<f:selectItem itemValue="19 / Tanjavur"
													itemLabel="19 / Tanjavur"></f:selectItem>
												<f:selectItem itemValue="20 / Tirunelvelli"
													itemLabel="20 / Tirunelvelli"></f:selectItem>
												<f:selectItem itemValue="21 / Vellore"
													itemLabel="21 / Vellore"></f:selectItem>
												<f:selectItem itemValue="51 / Bangalore"
													itemLabel="51 / Bangalore"></f:selectItem>
												<f:selectItem itemValue="66 / Mumbai"
													itemLabel="66 / Mumbai"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sroom_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem
													itemLabel="SH023 / Thillaiyadi Valliammai Co-optex"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem
													itemValue="SH023 / Thillaiyadi Valliammai Co-optex"
													itemLabel="SH023 / Showroom"></f:selectItem>
												<f:selectItem itemValue="WH010 / Vannamalar Co-optex"
													itemLabel="WH010 / Vannamalar Co-optex"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>


								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Active" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Active" itemLabel="Active"></f:selectItem>
												<f:selectItem itemValue="In-Active" itemLabel="In-Active"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['bnk_det']}</span>
									</h5>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bank_branch_code']} / #{msg['name']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-git-branch"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem
													itemLabel="001683 / State Bank of India - West Mambalam"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="001623 / Indian Bank - Chrompet"
													itemLabel="001623 / Indian Bank - Chrompet"></f:selectItem>
												<f:selectItem itemValue="002183 / Axis Bank - Saidapet"
													itemLabel="002183 / Axis Bank - Saidapet"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ifsc_cod']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												placeholder="SBIN0001683">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['acc_type']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Current Account"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Current Account"
													itemLabel="Current Account"></f:selectItem>
												<f:selectItem itemValue="Saving Account"
													itemLabel="Saving Account"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['act_no']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												placeholder="20047487097">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['min_amt']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right"
												placeholder="50000.00">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['acc_hd_info']}</span>
									</h5>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['acc_hd_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem
													itemLabel="101 / CCB Chennai Branch C / A 3045"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem
													itemValue="101 / CCB Chennai Branch C / A 3045"
													itemLabel="101 / CCB Chennai Branch C / A 3045"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
									<p:commandButton update="growls"
									onclick="window.location.href='#{request.contextPath}/pages/masters/listAccountInfoMaster.xhtml'"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate font-iconmoon m-r-0">
									</p:commandButton>
									<p:commandButton update="growls"
										value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
