<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Vendor Master</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['crt_vendor_master']}</h4>
					<ul class="breadcrumb">
							<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['master']}</li>
							<li>#{msg['crt_vendor_master']}</li>
						</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<!-- End Page Header -->
		<div class="content page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['vendor_master']}
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="label-form">
								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['vendor_code']}" />
											
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="supcode"
													placeholder="ASS01">
												</p:inputText>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['vendor_name']}" />
											<!-- <span class="text-danger">*</span> -->
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-target"></i></span>
												<p:inputText styleClass="form-control" id="supname"
													placeholder="Prathap sons ">
												</p:inputText>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['vendor_name']} (#{msg['in_tamil']})" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:inputText styleClass="form-control" id="supnametamil"
													placeholder=" ">
												</p:inputText>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6  col-sm-6">
										<p:outputLabel value="#{msg['dt_reg']}" />
										<div class="form-group form-group_calend">
											<p:calendar id="dtreg"
												value="#{retailInputFormBean.retailInputForm.notLaterThan}"
												mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
												navigator="true" required="true" requiredMessage="Required"
												placeholder="12-Dec-2017"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax update="" event="dateSelect" />
											</p:calendar>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="custom-form-1">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['gst_no']}" />
														<!-- <span class="text-danger">*</span> -->
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<p:inputText styleClass="form-control" id="gstno"
																placeholder="22 AAAAA0000A 1ZS">
															</p:inputText>
														</div>
													</div>



												</div>


												<div class="col-lg-6 col-md-6 col-sm-6">

													<div class="form-group">
														<p:outputLabel value="#{msg['con_per_name']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-user"></i></span>
															<p:inputText styleClass="form-control" id="categorycode"
																placeholder="S Radhakrishnan">
															</p:inputText>
														</div>
													</div>

												</div>
											</div>


											<div class="row">

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['email']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-envelop5"></i></span>
															<p:inputText styleClass="form-control" id="emailiid"
																placeholder="info@company.com">
															</p:inputText>
														</div>
													</div>
												</div>



												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['mob_no']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-calculator4"></i></span>
															<p:inputText styleClass="form-control" id="mobno"
																placeholder="+91 9526595650">
															</p:inputText>
														</div>
													</div>
												</div>

											</div>


										</div>


										<div class="row col-lg-6 col-md-6 col-sm-12">


											<div class="col-lg-10 col-md-10 col-sm-10">
												<div class="form-group">
													<p:outputLabel value="#{msg['sup_add']}"
														class="control-label" />
													<p:outputLabel
														rendered="#{officeMasterBean.action ne 'VIEW'}"
														class="mand-sign" />
													<!-- <span class="text-danger">*</span> -->
													<p:inputTextarea class="form-control cust_height"
														disabled="true" value="" />
													<!-- cust_height -->

												</div>

											</div>

											<div class="col-lg-2 col-md-2 col-sm-2">
												<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
												<button type="button"
													class="btn bg-success cust-btn-h heading-btn  font-iconmoon"
													data-toggle="modal" data-target="#modal_theme_info">
													&#xea0e;&nbsp;#{msg['add']}</button>
											</div>

										</div>


									</div>


								</div>



							</div>


							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-10 ">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['payment_details']}</span>
									</h5>
								</div>
							</div>


							<div class="row label-form custom-form-1 m-b-10">


								<div class="col-lg-3 col-md-6  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['pmt_terms']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<h:selectOneMenu id="pmtterms" styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Max 30 Days"
													itemLabel="Max 30 Days"></f:selectItem>
												<f:selectItem itemValue="Max 60 Days"
													itemLabel="Max 60 Days"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>


								<div class="col-lg-3 col-md-6 col-sm-6 smnopad ">

									<div class="col-lg-6 col-md-6 col-sm-6 xsnopad">
										<div class="form-group">
											<p:outputLabel value="#{msg['intr_aple']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu id="intraapple" styleClass="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
													<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>



									<div class="col-lg-6 col-md-6 col-sm-6 xsnopad">
										<div class="form-group">
											<p:outputLabel value="#{msg['interest']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="instper"
													placeholder="(%)">
												</p:inputText>
											</div>
										</div>
									</div>


								</div>



								<div class="col-lg-3 col-md-6  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['crd_alw']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<h:selectOneMenu id="crdalw" styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>



								<div class="col-lg-3 col-md-6  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ret_alw']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<h:selectOneMenu id="retalw" styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>





							</div>



							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0 ">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['bnk_det']}</span>
									</h5>
								</div>
							</div>



							<div class="label-form">

								<div class="row custom-form-1">



									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bnk_name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<p:inputText styleClass="form-control" id="bnkmame"
													placeholder="State Bank">
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['brn_name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-git-branch"></i></span>
												<p:inputText styleClass="form-control" id="branmame"
													placeholder="Egmore">
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['ifsc_cod']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="ifsccod"
													placeholder="SBI02564">
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['act_no']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"> <i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="actno"
													placeholder="4458568965246598">
												</p:inputText>
											</div>
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-lg-12">
										<h5 class="bord_bot m-t-10 ">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['loom_info']}</span>
										</h5>
									</div>
								</div>
								<div class="row label-form">	

									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_type']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu id="loomtype" styleClass="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue="loom type I"
														itemLabel="loom type I"></f:selectItem>
													<f:selectItem itemValue="loom type I"
														itemLabel="loom type II"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['danp_code_name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu id="dnpcodenamen" styleClass="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue=" " itemLabel="MD2562 / Madurai"></f:selectItem>
													<f:selectItem itemValue=" " itemLabel="CH3265 / Chennai"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sup_class']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu id="supclass" styleClass="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue=" "
														itemLabel="Supplier Class Type 1"></f:selectItem>
													<f:selectItem itemValue=" "
														itemLabel="Supplier Class Type 2"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>




									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sup_grade']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu id="supgrade" styleClass="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue=" " itemLabel="sup grade 01"></f:selectItem>
													<f:selectItem itemValue=" " itemLabel="sup grade 02"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									</div>
									<div class="row">

									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['super_name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class=" icon-user"></i></span>
												<p:inputText styleClass="form-control"
													placeholder="S Thirukumaravel Murugan">
												</p:inputText>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-6  col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sup_mode']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class=" icon-display4"></i></span>
												<p:inputText styleClass="form-control" id="supmode"
													placeholder="Supplier mode ">
												</p:inputText>
											</div>
										</div>
									</div>

									

									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									
										
											<p:commandButton update="growls"
												value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn bg-slate font-iconmoon m-r-0">
											</p:commandButton>
											<p:commandButton update="growls"
												value="&#xed6e;&nbsp;#{msg['submit']}"
												title="#{msg['submit']}"
												class="btn bg-success heading-btn  font-iconmoon">
											</p:commandButton>
										
									</div>


								</div>

							</div>





						</div>
					</div>
				</div>
			</div>





		</div>



		<!-- /Address Popup -->
		<div id="modal_theme_info" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add Address</h6>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr1"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr2"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr3"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr1"
											placeholder="Local Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr2"
											placeholder="Local Address 2">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr3"
											placeholder="Local Address 3">
										</p:inputText>
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="state" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['dist']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="district" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['city']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="city" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['area']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="area" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['taluk']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="taluk" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['pcode']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="postalcode"
											placeholder="Postal code">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['lmark']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="landmark"
											placeholder="Land Mark">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<p:commandButton update="growls"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									class="btn bg-success font-iconmoon m-r-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /Address Popup -->


	</ui:define>
</ui:composition>
