<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('LEAVE_TYPE_ADD')}" />
		</f:metadata>
		<h:form id="leaveTypeMaster">
			<title>InfoTex | Leave Type</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{leaveTypeMasterBean.action eq 'ADD' ?
							msg['create_leavetype'] : msg['edit_leavetype']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['personnel_master']}</li>
							<li class="active">#{leaveTypeMasterBean.action eq 'ADD' ?
								msg['create_leavetype'] : msg['edit_leavetype']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content page-scroll">
				<!-- collapse panel -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['leave_type']}
							<p:outputLabel styleClass="pull-right">
								(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
							</p:outputLabel>
						</h6>
					</div>

					<div class="panel-body p-t-10">
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['leaveType_code']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<!-- <p:inputText styleClass="form-control" required=" "
												placeholder="171077">
											</p:inputText> -->
										<p:inputText styleClass="form-control" id="code" minlength="2"
											maxlength="4"
											value="#{leaveTypeMasterBean.leaveTypeMaster.code}"
											placeholder=" " tabindex="1"
											required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
											requiredMessage="#{msg['leave_type_code_req']}"
											validatorMessage="#{msg['le_code_type']}">
											<p:ajax update="codeMsg" />
											<p:keyFilter regEx="/[a-zA-Z\d\s]/i"></p:keyFilter>
											<f:validateLength minimum="2" maximum="4" />
										</p:inputText>
									</div>
									<h:message for="code" id="codeMsg"
										styleClass="validation-error-label"></h:message>
									<p:focus for="code"></p:focus>
									<p:tooltip for="code" value="#{msg['le_code_type']}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['leaveType_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<!-- <p:inputText styleClass="form-control" required=" "
												placeholder="India">
											</p:inputText> -->
										<p:inputText styleClass="form-control" id="name" minlength="3"
											maxlength="50"
											value="#{leaveTypeMasterBean.leaveTypeMaster.name}"
											placeholder=" " tabindex="1"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['leave_type_name_req']}"
											validatorMessage="#{msg['leave_type_name_valid_msg']}">
											<!-- <f:validateLength minimum="3" maximum="50" /> -->
										</p:inputText>
									</div>
									<h:message for="name" styleClass="validation-error-label"></h:message>
									<p:tooltip for="name"
										value="#{msg['leave_type_name_valid_msg']}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['leaveType_name']} (#{msg['in_tamil']})" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<!-- <p:inputText styleClass="form-control" required=" "
												placeholder="India">
											</p:inputText> -->
										<p:inputText styleClass="form-control" id="lname"
											minlength="3" maxlength="50"
											value="#{leaveTypeMasterBean.leaveTypeMaster.lname}"
											placeholder=" " tabindex="1"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['leave_type_name_req']}"
											validatorMessage="#{msg['leave_type_name_valid_msg']}">
											<!-- <f:validateLength minimum="3" maximum="50" /> -->
										</p:inputText>
									</div>
									<h:message for="lname" styleClass="validation-error-label"></h:message>
									<p:tooltip for="lname"
										value="#{msg['leave_type_name_valid_msg']}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<h:selectOneMenu class="form-control"
											value="#{leaveTypeMasterBean.leaveTypeMaster.activeStatus}"
											tabindex="4">
											<f:selectItem itemLabel="Select" itemDisabled="true" />
											<f:selectItem itemLabel="Active" itemValue="true" />
											<f:selectItem itemLabel="InActive" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									title="#{msg['cancel']}"
									styleClass="btn bg-slate font-iconmoon"
									action="#{leaveTypeMasterBean.cancel}" tabindex="8"
									immediate="true" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" />
									
								<p:commandButton
									value="#{leaveTypeMasterBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{leaveTypeMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{leaveTypeMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{leaveTypeMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									action="#{leaveTypeMasterBean.submit}" binding="#{submit}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									update="leaveTypeMaster growls" tabindex="9" />
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->
			</div>
		</h:form>
	</ui:define>
</ui:composition>