<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('STATE_ADD')}" />
		</f:metadata>
		<h:form id="stateMaster">
			<title>InfoTex | State</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{stateMasterBean.action eq 'ADD' ? msg['create_state'] :
							msg['edit_state']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['general_master']}</li>
							<li class="active">#{stateMasterBean.action eq 'ADD' ?
								msg['create_state'] : msg['edit_state']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content">
				<!-- collapse panel -->

				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['state']} </a>
							<p:outputLabel styleClass="pull-right">
								(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
							</p:outputLabel>
						</h6>
					</div>

					<div class="panel-body p-t-10 page-scroll-without-process">

						<div class="row label-form">
							<p:outputPanel id="stateGrowls">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['country']}" for="countryId" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="countryId" rendered="#{empty param[submit.clientId]}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-list"></i></span>
											<h:selectOneMenu class="form-control" id="countryId"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['country_req']}"
												value="#{stateMasterBean.stateMaster.countryMaster}">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems var="countryMaster"
													itemValue="#{countryMaster}"
													itemLabel="#{countryMaster.name}"
													value="#{stateMasterBean.countryMasterList}" />
											</h:selectOneMenu>
										</div>
										<h:message for="countryId" class="validation-error-label" />
										<p:focus for="countryId"></p:focus>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['state_code']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" id="code"
												minlength="2" maxlength="5"
												value="#{stateMasterBean.stateMaster.code}" tabindex="1"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['state_code_is_req']}"
												validatorMessage="#{msg['state_code_valid_msg']}">
												<f:validateLength minimum="2" maximum="5" />
											</p:inputText>
										</div>
										<h:message for="code" class="validation-error-label" />
										<p:tooltip for="code" value="#{msg['state_code_valid_msg']}"></p:tooltip>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['state_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-location4"></i></span>

											<p:inputText styleClass="form-control" id="name"
												minlength="3" maxlength="50"
												value="#{stateMasterBean.stateMaster.name}" tabindex="1"
												required="true"
												requiredMessage="#{msg['state_name_is_req']}"
												validatorMessage="#{msg['state_name_valid_msg']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="50" />
											</p:inputText>
										</div>
										<h:message for="name" class="validation-error-label" />
										<p:tooltip for="name" value="#{msg['state_name_valid_msg']}"></p:tooltip>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['state_name']} (#{msg['in_tamil']})" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-location4"></i></span>
											<p:inputText styleClass="form-control" id="lstateName"
												minlength="3" maxlength="50"
												value="#{stateMasterBean.stateMaster.lstateName}"
												tabindex="1" required="true"
												requiredMessage="#{msg['state_name_is_req']}"
												validatorMessage="#{msg['state_name_valid_msg']}">
												<f:validateLength minimum="3" maximum="50" />
											</p:inputText>
										</div>
										<h:message for="lstateName" class="validation-error-label" />
										<p:tooltip for="lstateName"
											value="#{msg['state_name_valid_msg']}"></p:tooltip>
									</div>
								</div>
							</p:outputPanel>
						</div>


						<div class="row custom-form-1 label-form">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['state_gst_code']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText styleClass="form-control" id="gststatecode"
											maxlength="20"
											value="#{stateMasterBean.stateMaster.gstStateCode}"
											tabindex="1"
											validatorMessage="#{msg['state_gst_code_valid_msg']}">
											<f:validateLength maximum="20" />
											<p:keyFilter regEx="/[0-9A-Z]/i" />
										</p:inputText>
									</div>
									<p:tooltip for="gststatecode"
										value="#{msg['state_gst_code_valid_msg']}"></p:tooltip>
								</div>
							</div>

							<c:if test="#{stateMasterBean.action eq 'EDIT'}">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">&nbsp;</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>

											<h:selectOneMenu id="status" tabindex="2"
												value="#{stateMasterBean.stateMaster.status}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
												<f:selectItem itemLabel="#{msg['inactive']}"
													itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</c:if>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon m-l-0"
									action="#{stateMasterBean.cancel}" immediate="true"
									title="#{msg['cancel']}" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" />
								<p:commandButton
									value="#{stateMasterBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{stateMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									action="#{stateMasterBean.submit}"
									title="#{stateMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{stateMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									onclick="PF('progressDlg').show();" binding="#{submit}"
									oncomplete="PF('progressDlg').hide();"
									update="growls stateGrowls" tabindex="9" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>