<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('BUSINESS_TYPE_MASTER_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{businessTypeMasterBean}"></ui:param>
		<ui:param name="businessTypeMaster"
			value="#{businessTypeMasterBean.businessTypeMaster}"></ui:param>
		<title>InfoTex | Business Type</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{businessTypeMasterBean.action eq 'Create' ?
						msg['create'] : msg['edit']} #{msg['business_type']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{businessTypeMasterBean.action eq
							'Create' ? msg['create'] : msg['edit']} #{msg['business_type']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['business_type']}<span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>

					<div class="panel-body p-t-10 page-scroll-without-process">
						<p:outputPanel id="addForm">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['business_type_code']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i>
											</span>
											<p:inputText value="#{businessTypeMaster.code}"
												class="form-control" id="code" maxlength="10" minimum="2"
												validatorMessage="Please enter Business Type Master Code between 2 to 6"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['business_type_code_req']}">
												<p:keyFilter regEx="/[a-z0-9\s]/i"></p:keyFilter>
												<f:validateLength minimum="2" maximum="6" />
											</p:inputText>
										</div>
										<p:focus for="code" />
										<h:message for="code" class="validation-error-label" />
										<p:tooltip for="code" value="#{msg['code_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['business_type_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-briefcase"></i> </span>
											<p:inputText value="#{businessTypeMaster.name}"
												class="form-control" maxlength="75" minimum="3" id="name"
												validatorMessage="Please enter Business Type Master Name between 3 to 75"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['business_name_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="name" class="validation-error-label" />
										<p:tooltip for="name" value="#{msg['name_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['business_type_name']} (#{msg['in_tamil']})" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-briefcase"></i> </span>
											<p:inputText value="#{businessTypeMaster.localName}"
												class="form-control" maxlength="75" minimum="3"
												id="localName"
												validatorMessage="Please enter Business Type Master Name (in Tamil) between 3 to 75"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['business_name_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="localName" class="validation-error-label" />
										<p:tooltip for="localName" value="#{msg['name_valid_msg']}" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-file-check"></i> </span>
											<h:selectOneMenu class="form-control"
												value="#{businessTypeMaster.activeStatus}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="Code is required">
												<f:selectItem itemLabel="InActive" itemValue="false" />
												<f:selectItem itemLabel="Active" itemValue="true" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12 text-right">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										immediate="true" title="#{msg['cancel']}"
										action="#{bean.showBusinessTypeMasterListPage}"
										styleClass="btn btn-sm bg-slate font-iconmoon" />
									<p:commandButton
										value="#{businessTypeMasterBean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{businessTypeMasterBean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
										title="#{businessTypeMasterBean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
										styleClass="#{businessTypeMasterBean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										action="#{bean.saveOrUpdate}" binding="#{submit}"
										update="growls addForm" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>

