<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('SUPPLIER_MASTER_ADD')}" />
		</f:metadata>
		<ui:param name="address" value="#{addressMasterBean}"></ui:param>
		<h:form id="suppForm">
			<title>InfoTex | Supplier</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{supplierMasterBean.action eq 'ADD' ?
							msg['crt_supplier_master'] : msg['edit_supplier_master']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li>#{supplierMasterBean.action eq 'ADD' ?
								msg['crt_supplier_master'] : msg['edit_supplier_master']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['supplier_master']}
								<p:outputLabel styleClass="pull-right">
									(<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>)
								</p:outputLabel>
							</h6>
						</div>

						<div class="pg-scroll-panel-1">
							<p:outputPanel id="panel1">
								<div class="panel-body p-t-10">
									<div class="">
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['byr_type']}"
														for="businesstype" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="businesstype"
														rendered="#{empty param[submit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="businesstype"
															value="#{supplierMasterBean.supplierMaster.businessTypeMaster}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['busns_type_is_req']}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{supplierMasterBean.businessTypeMasterList}"
																var="busstype" itemLabel="#{busstype.name}"
																itemValue="#{busstype}" />
															<p:ajax event="change" update="businesstypereqmsg" />
														</h:selectOneMenu>
													</div>
													<h:message for="businesstype"
														class="validation-error-label" id="businesstypereqmsg" />
												</div>
												<p:focus for="businesstype"></p:focus>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['supp_type_code']}"
														for="suppliertype" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="suppliertype"
														rendered="#{empty param[submit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-tree6"></i></span>
														<h:selectOneMenu id="suppliertype"
															value="#{supplierMasterBean.supplierMaster.supplierTypeMaster}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['sup_type_code_is_req']}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{supplierMasterBean.supplierTypeMasterList}"
																var="supptype" itemLabel="#{supptype.code}"
																itemValue="#{supptype}" />
															<p:ajax event="change"
																update="suppliertypereqmsg society_circle other_circle distric_code otherdistric_code banksodity branch_society otherbranch_society" />
														</h:selectOneMenu>
													</div>
													<h:message for="suppliertype"
														class="validation-error-label" id="suppliertypereqmsg" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['loom_type']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="loomtype"
															value="#{supplierMasterBean.supplierMaster.loomType}"
															styleClass="form-control">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems value="#{supplierMasterBean.loonTypeList}"
																var="loomtype" itemLabel="#{loomtype.name}"
																itemValue="#{loomtype.code}"></f:selectItems>

														</h:selectOneMenu>
													</div>
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sup_code']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="suppcode"
															value="#{supplierMasterBean.supplierMaster.code}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['supply_code_req']}" minimum="3"
															maxlength="20"
															validatorMessage="#{msg['supply_code_valid_msg']}">
															<p:keyFilter regEx="/[a-z0-9_]/i" />
															<p:ajax update="suppcodereqmsg" />
															<f:validateLength minimum="3" maximum="20" />
														</p:inputText>
													</div>
													<h:message for="suppcode" class="validation-error-label"
														id="suppcodereqmsg" />
													<p:tooltip for="suppcode"
														value="#{msg['supply_code_valid_msg']}" />
												</div>
											</div>

											<ui:remove>
												<div class="col-lg-3 col-md-3 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['varieties']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu id="inwardno" styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItem itemValue="Silk" itemLabel="Silk"></f:selectItem>
																<f:selectItem itemValue="Cotton" itemLabel="Cotton"></f:selectItem>
																<f:selectItem itemValue="both" itemLabel="both"></f:selectItem>
															</h:selectOneMenu>
														</div>
													</div>
												</div>
											</ui:remove>
										</div>


										<div class="row custom-form-1">
											<div class="col-lg-6 col-md-12 col-sm-12">
												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['sup_name']}" />
															<span class="text-danger">*</span>
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-cart4"></i></span>
																<p:inputText styleClass="form-control" id="suppname"
																	value="#{supplierMasterBean.supplierMaster.name}"
																	required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																	requiredMessage="#{msg['supply_name_req']}" minimum="3"
																	maxlength="50"
																	validatorMessage="#{msg['supply_name_valid_msg']}">
																	<f:validateLength minimum="3" maximum="50" />
																	<p:ajax event="keyup" update="suppnamereqmsg" />
																	<p:keyFilter regEx="/[a-z0-9_\s-]/i" />
																</p:inputText>
															</div>

															<h:message for="suppname" class="validation-error-label"
																id="suppnamereqmsg" />
															<p:tooltip for="suppname"
																value="#{msg['supply_name_valid_msg']}" />
														</div>
													</div>

													<div class="col-lg-6 col-md-6 col-sm-6">
														<div class="form-group">
															<p:outputLabel
																value="#{msg['sup_name']} (#{msg['in_tamil']})" />
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-cart4"></i></span>
																<p:inputText styleClass="form-control" id="localName"
																	minlength="3" maxlength="50"
																	value="#{supplierMasterBean.supplierMaster.localName}"
																	placeholder=" ">
																	<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="false" />
																	<p:ajax event="keyup" update="supplnamereqmsg" />
																</p:inputText>
															</div>

															<h:message for="localName" class="validation-error-label"
																id="supplnamereqmsg" />
															<p:tooltip for="localName"
																value="#{msg['supply_name_valid_msg']}" />
														</div>
													</div>

												</div>


												<div class="row">
													<div class="col-lg-6 col-md-6 col-sm-6">
														<p:outputLabel value="#{msg['dt_reg']}" />
														<span class="text-danger">*</span>
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="dtreg" pattern="dd-MMM-yyyy"
																placeholder="dd-MMM-yyyy"
																required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																requiredMessage="#{msg['date_of_reg_req']}"
																validatorMessage="#{msg['gstin_no_valid_msg']}"
																navigator="true"
																value="#{supplierMasterBean.supplierMaster.registrationDate}"
																styleClass="form-control-1 calend-icon-1">
																<p:ajax event="dateSelect" update="dtreg dtregreqmsg" />
															</p:calendar>
														</div>
														<h:message for="dtreg" class="validation-error-label"
															id="dtregreqmsg" />

													</div>

													<div class="col-lg-6 col-md-6 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['gst_no']}" />
															<span class="text-danger">*</span>
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-hash"></i></span>
																<p:inputText styleClass="form-control" id="gstno"
																	value="#{supplierMasterBean.supplierMaster.gstNumber}"
																	placeholder=" " maxlength="15" minimum="10"
																	required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																	requiredMessage="#{msg['gstin_no_is_req']}"
																	validatorMessage="#{msg['gstin_no_valid_msg']}">
																	<f:validateLength minimum="10" maximum="15" />
																	<p:ajax event="blur" update="gstnoreqmsg @this" />
																	<p:keyFilter regEx="/[A-Z0-9_\s-]/i" preventPaste="false"/>
																</p:inputText>
															</div>
															<h:message for="gstno" class="validation-error-label"
																id="gstnoreqmsg" />
															<p:tooltip for="gstno"
																value="#{msg['gstin_no_valid_msg']}" />
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-12">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8">
														<div class="form-group">
															<p:outputLabel value="#{msg['sup_add']}" />
															<span class="mand-red">*</span>
															<p:inputTextarea rows="4"
																required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																requiredMessage="#{msg['supp_add_req']}"
																class="form-control cust-textarea-height cust-dis-textarea"
																disabled="true" id="address"
																value="#{supplierMasterBean.address}">
																<p:ajax event="blur" update="gstnoreqmsg1 @this" />
															</p:inputTextarea>
														</div>
														<h:message for="address" class="validation-error-label"
															id="gstnoreqmsg1" />
													</div>


													<div class="col-lg-4 col-md-4 col-sm-4">
														<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
														<p:commandButton id="btnAddressDialog"
															value="#{supplierMasterBean.action eq 'ADD' ?  '&#xea0e;' :  '&#xeda7;' }  #{supplierMasterBean.action eq 'ADD' ?  msg['add'] :  msg['update'] }"
															title="#{supplierMasterBean.action eq 'ADD' ?  msg['add'] :  msg['update'] }"
															styleClass="#{supplierMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon m-l-0' : 'btn bg-primary font-iconmoon m-l-0' }"
															immediate="true"
															action="#{addressMasterBean.openAddressDialog1}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															oncomplete="PF('addressDialog').show();"
															update="addressDialogForm">

														</p:commandButton>
													</div>
												</div>
											</div>


											<!-- <div class="col-lg-6 col-md-12 col-sm-12">
												<div class="row">
													<div class="col-lg-8 col-md-8 col-sm-8">
														<p:outputPanel id="addressTextAreaPanel">
															<p:outputLabel value="#{msg['sup_add']}" />
															<p:inputTextarea
																class="form-control cust-textarea-height cust-dis-textarea"
																disabled="true" value="#{supplierMasterBean.address}"
																required="#{not empty param[submit.clientId]}"
																requiredMessage="Supplier Address is Required"
																id="addressTextArea" rows="2">
															</p:inputTextarea>
														</p:outputPanel>
													</div>
													<h:message for="addressTextArea"
														class="validation-error-label" />



													<div class="col-lg-4 col-md-4 col-sm-4 m-t-20">
														<div class="form-group">
															<p:commandButton value="&#xea0e; #{msg['add']}"
																id="addradd" title="#{msg['add']}"
																styleClass="btn btn-success btn-md font-iconmoon"
																onclick="PF('addressdialog').show();">
															</p:commandButton>


														</div>
													</div>
												</div>
											</div> -->
										</div>
										<div class="row">

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['con_per_name']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>

														<p:inputText styleClass="form-control" id="contactname"
															minlength="3" maxlength="50"
															value="#{supplierMasterBean.supplierMaster.primaryContactName}"
															placeholder=" "
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['ct_per_name_is_req']}"
															validatorMessage="#{msg['sup_con_per_name_valid_msg']}">
															<f:validateLength minimum="3" maximum="100" />
															<p:ajax event="keyup" update="contactnamereqmsg" />
															<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
														</p:inputText>
													</div>
													<h:message for="contactname" class="validation-error-label"
														id="contactnamereqmsg" />
													<p:tooltip for="contactname"
														value="#{msg['sup_con_per_name_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['email']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-envelop3"></i></span>
														<p:inputText styleClass="form-control" id="emailiid"
															minlength="3" maxlength="50"
															value="#{supplierMasterBean.supplierMaster.primaryEmail}"
															placeholder=" "
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['email_is_req']}"
															validatorMessage="#{msg['email_valid_msg']}">
															<f:validateLength minimum="8" maximum="50" />
															<p:ajax event="keyup" update="emailiidreqmsg" />
															<f:validateRegex
																pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
														</p:inputText>
													</div>

													<h:message for="emailiid" class="validation-error-label"
														id="emailiidreqmsg" />
													<p:tooltip for="emailiid" value="#{msg['email_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['mob_no']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-mobile"></i></span>
														<p:inputText styleClass="form-control" id="mobno"
															maxlength="10"
															value="#{supplierMasterBean.supplierMaster.primaryContactNumber}"
															placeholder=" "
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['mobile_req']}"
															validatorMessage="#{msg['mob_valid_msg']}">
															<f:validateLength minimum="10" maximum="10" />
															<p:ajax event="keyup" update="mobnoreqmsg" />
															<p:keyFilter regEx="/^[0-9]+$/"></p:keyFilter>
															<f:validateRegex pattern="[7-9][0-9]{9}" />
														</p:inputText>
													</div>

													<h:message for="mobno" class="validation-error-label"
														id="mobnoreqmsg" />
													<p:tooltip for="mobno" value="#{msg['mob_valid_msg']}" />
												</div>


											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['sup_tax_extempted']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-forward"></i></span>
														<h:selectOneMenu id="taxextempted"
															styleClass="form-control"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['tax_extempted']}"
															value="#{supplierMasterBean.supplierMaster.taxExempted}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItem itemValue="true" itemLabel="Yes"></f:selectItem>
															<f:selectItem itemValue="false" itemLabel="No"></f:selectItem>
															<p:ajax update="taxemptedmsg"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="taxextempted"
														class="validation-error-label" id="taxemptedmsg" />
												</div>
											</div>


											<p:outputPanel id="other_circle"
												rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code ne 'SOCIETY'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['circle_name_code']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu id="circlecode"
																converter="#{entityConverter}"
																value="#{supplierMasterBean.supplierMaster.circleMaster}"
																styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems value="#{supplierMasterBean.circleList}"
																	var="distric" itemLabel="#{distric.name}"
																	itemValue="#{distric}"></f:selectItems>
															</h:selectOneMenu>
														</div>
													</div>
												</div>
											</p:outputPanel>

											<p:outputPanel id="society_circle"
												rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code eq 'SOCIETY'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['circle_name_code']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu id="ccode"
																converter="#{entityConverter}"
																required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																requiredMessage="#{msg['circle_code_name_req']}"
																value="#{supplierMasterBean.supplierMaster.circleMaster}"
																styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems value="#{supplierMasterBean.circleList}"
																	var="distric" itemLabel="#{distric.name}"
																	itemValue="#{distric}"></f:selectItems>
																<p:ajax update="cocietycirclemsg"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="ccode" class="validation-error-label"
															id="cocietycirclemsg" />
													</div>
												</div>
											</p:outputPanel>

											<p:outputPanel id="distric_code"
												rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code ne 'SOCIETY'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['district_code_name']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu id="districcode"
																converter="#{entityConverter}"
																value="#{supplierMasterBean.supplierMaster.districcode}"
																styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems value="#{supplierMasterBean.districList}"
																	var="distric" itemLabel="#{distric.name}"
																	itemValue="#{distric.code}"></f:selectItems>
															</h:selectOneMenu>
														</div>
													</div>
												</div>
											</p:outputPanel>

											<p:outputPanel id="otherdistric_code"
												rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code eq 'SOCIETY'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['district_code_name']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu id="othertdistriccode"
																converter="#{entityConverter}"
																required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
																requiredMessage="#{msg['district_code_name_req']}"
																value="#{supplierMasterBean.supplierMaster.districcode}"
																styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems value="#{supplierMasterBean.districList}"
																	var="distric" itemLabel="#{distric.name}"
																	itemValue="#{distric.code}"></f:selectItems>
																<p:ajax update="cocietydistricemsg"></p:ajax>
															</h:selectOneMenu>
														</div>
													</div>
													<h:message for="othertdistriccode"
														class="validation-error-label" id="cocietydistricemsg" />
												</div>
											</p:outputPanel>

										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['payment_details']}</span>
											</h5>
										</div>
									</div>
									<div class="row custom-form-1 label-form">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['pmt_terms']} (#{msg['with_in_no_of_days']})" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-cash4"></i></span>
													<h:selectOneMenu class="form-control"
														id="maxinstallmentmonth"
														required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['payment_term_req']}"
														value="#{supplierMasterBean.supplierMaster.maxInstallmentMonth}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="5" itemValue="5" />
														<f:selectItem itemLabel="10" itemValue="10" />
														<f:selectItem itemLabel="10" itemValue="15" />
														<f:selectItem itemLabel="50" itemValue="20" />
														<p:ajax event="change" update="maxinstallmentmonthreqmsg" />
													</h:selectOneMenu>
												</div>

												<h:message for="maxinstallmentmonth"
													class="validation-error-label"
													id="maxinstallmentmonthreqmsg" />
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['intr_aple']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-percent"></i></span>
															<h:selectOneMenu id="intraapple"
																styleClass="form-control">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
																<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
															</h:selectOneMenu>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['interest']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-percent"></i></span>

															<p:inputText styleClass="form-control" id="instper"
																minlength="1" maxlength="3"
																value="#{supplierMasterBean.supplierMaster.interestPercentage}"
																tabindex="1"
																validatorMessage="Please enter interest between 1 and 100 ">
																<f:validateLongRange minimum="1" maximum="100" />
																<p:keyFilter regEx="/^[0-9]+$/"></p:keyFilter>
																<f:validateLength minimum="3" maximum="5" />
															</p:inputText>
														</div>
														<h:message for="instper" class="validation-error-label" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['crd_alw']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-credit-card"></i></span>
													<h:selectOneMenu id="crdalw" styleClass="form-control"
														tabindex="2"
														value="#{supplierMasterBean.supplierMaster.creditAllowed}">
														<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
														<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
													</h:selectOneMenu>

												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ret_alw']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>

													<h:selectOneMenu id="retalw" styleClass="form-control"
														tabindex="2"
														value="#{supplierMasterBean.supplierMaster.returnAllowed}">
														<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
														<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['bnk_det']}</span>
											</h5>
										</div>
									</div>
									<div class="row form-field custom-form-1">
										<p:outputPanel id="banksodity"
											rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code eq 'SOCIETY'}">
											<div class="col-lg-3 col-md-6 col-sm-6">

												<div class="form-group">
													<p:outputLabel value="#{msg['bnk_name']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="bankname" class="form-control"
															converter="#{entityConverter}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['bank_name_req']}"
															value="#{supplierMasterBean.bankMaster}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems
																value="#{supplierMasterBean.bankMasterList}"
																var="bankMaster" itemLabel="#{bankMaster.bankName}"
																itemValue="#{bankMaster}" />
															<p:ajax event="change"
																update="branchname ifsccode otherbranchname banksocietymeg"
																listener="#{supplierMasterBean.processBranches}" />
														</h:selectOneMenu>
													</div>

													<h:message for="bankname" class="validation-error-label"
														id="banksocietymeg" />
												</div>
											</div>

										</p:outputPanel>


										<p:outputPanel id="other_banksodity"
											rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code ne 'SOCIETY'}">
											<div class="col-lg-3 col-md-6 col-sm-6">

												<div class="form-group">
													<p:outputLabel value="#{msg['bnk_name']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="otherbankname" class="form-control"
															converter="#{entityConverter}"
															value="#{supplierMasterBean.bankMaster}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems
																value="#{supplierMasterBean.bankMasterList}"
																var="bankMaster" itemLabel="#{bankMaster.bankName}"
																itemValue="#{bankMaster}" />
															<p:ajax event="change"
																update="branchname ifsccode otherbranchname"
																listener="#{supplierMasterBean.processBranches}" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>

										</p:outputPanel>

										<p:outputPanel id="branch_society"
											rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code eq 'SOCIETY'}">
											<div class="col-lg-3 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['brn_name']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-building"></i></span>
														<h:selectOneMenu id="branchname" class="form-control"
															converter="#{entityConverter}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['branch_name_req']}"
															value="#{supplierMasterBean.supplierMaster.branchMaster}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems value="#{supplierMasterBean.branchList}"
																var="branch" itemLabel="#{branch.branchName}"
																itemValue="#{branch}" />
															<p:ajax event="change" update="ifsccode branchnamereqmsg"
																listener="#{supplierMasterBean.updateIfscCode}" />
														</h:selectOneMenu>
													</div>

													<h:message for="branchname" class="validation-error-label"
														id="branchnamereqmsg" />
												</div>
											</div>
										</p:outputPanel>

										<p:outputPanel id="otherbranch_society"
											rendered="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code ne 'SOCIETY'}">
											<div class="col-lg-3 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['brn_name']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-building"></i></span>
														<h:selectOneMenu id="otherbranchname" class="form-control"
															converter="#{entityConverter}"
															value="#{supplierMasterBean.supplierMaster.branchMaster}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems value="#{supplierMasterBean.branchList}"
																var="branch" itemLabel="#{branch.branchName}"
																itemValue="#{branch}" />
															<p:ajax event="change" update="ifsccode"
																listener="#{supplierMasterBean.updateIfscCode}" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</p:outputPanel>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ifsc_cod']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="ifsccode"
														disabled="true" value="#{supplierMasterBean.ifscCode}">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['act_no']}" />

												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"> <i
														class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="actno"
														minimum="5" maxlength="20"
														value="#{supplierMasterBean.supplierMaster.accountNumber}">
														<p:keyFilter regEx="/[A-Z0-9_\s-]/i" preventPaste="false"/>
													</p:inputText>
												</div>


											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['busn_details']}</span>
											</h5>
										</div>
									</div>
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['regis_num']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="regnum"
														value="#{supplierMasterBean.supplierMaster.registrationNumber}">
														<p:ajax update="@this"></p:ajax>
													</p:inputText>
												</div>
												<p:tooltip for="regnum" value="#{msg['reg_no_valid_msg']}" />
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['name_of_dir_part']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText styleClass="form-control" id="directorname"
														value="#{supplierMasterBean.supplierMaster.directorsName}">
														<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
														<p:ajax update="@this"></p:ajax>
													</p:inputText>
												</div>
												<p:tooltip for="directorname"
													value="#{msg['name_valid_msg']}" />
											</div>
										</div>


										<div class="col-lg-3 col-md-4 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['nationality']}" />
												<p:outputLabel value="*" class="mand-symbol" />
												<div class="input-group ">
													<span class="input-group-addon"><i
														class="icon-flag3"></i></span>
													<h:selectOneMenu id="nationality"
														value="#{supplierMasterBean.supplierMaster.nationality}"
														required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['nationalilty_req']}"
														converter="#{entityConverter}" class="form-control">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems
															value="#{supplierMasterBean.nationalityList}"
															itemLabel="#{nation.name}" itemValue="#{nation}"
															var="nation" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>

												</div>
												<h:message for="nationality" class="validation-error-label" />
											</div>
										</div>



										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['pan_tan_no']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="pannumber"
														value="#{supplierMasterBean.supplierMaster.panNumber}" maxlength="15">
														<p:ajax update="@this"></p:ajax>
														<p:keyFilter regEx="/[A-Z0-9_\s-]/i" preventPaste="false"/>
													</p:inputText>
												</div>
												<p:tooltip for="pannumber"
													value="#{msg['pan_no_valid_msg']}" />
											</div>
										</div>
									</div>



									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['estab_yr']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu class="form-control" id="estabishyear"
														value="#{supplierMasterBean.supplierMaster.yearOfEstablishment}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="2015" itemValue="2015" />
														<f:selectItem itemLabel="2016" itemValue="2016" />
														<f:selectItem itemLabel="2017" itemValue="2017" />
														<f:selectItem itemLabel="2018" itemValue="2018" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['nat_of_buss']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-briefcase3"></i></span>
													<p:inputText styleClass="form-control" id="natureofbs"
														value="#{supplierMasterBean.supplierMaster.natureOfBusiness}">
														<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
														<p:ajax update="@this"></p:ajax>
													</p:inputText>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['legal_status']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-file-check"></i></span>
													<h:selectOneMenu class="form-control" id="legalstatus"
														value="#{supplierMasterBean.supplierMaster.legalStatus}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="Limited Company"
															itemValue="Limited Company" />
														<f:selectItem itemLabel="Undertaking"
															itemValue="Undertaking" />
														<f:selectItem itemLabel="Joint Venture"
															itemValue="Joint Venture" />
														<f:selectItem itemLabel="Partnership"
															itemValue="Partnership" />
														<f:selectItem itemLabel="Others" itemValue="Others" />
														<p:ajax update="@this"></p:ajax>

													</h:selectOneMenu>


												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['comp_catgy']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu class="form-control" id="companycategory"
														value="#{supplierMasterBean.supplierMaster.companyCategory}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="Micro" itemValue="Micro" />
														<f:selectItem itemLabel="Small" itemValue="Small" />
														<f:selectItem itemLabel="Medium" itemValue="Medium" />
														<f:selectItem itemLabel="Others" itemValue="Others" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['bid_pre_reg_with']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-pencil5"></i></span>
													<h:selectOneMenu class="form-control"
														id="preregisteredwith"
														value="#{supplierMasterBean.supplierMaster.preRegisteredWith}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="MSME" itemValue="MSME" />
														<f:selectItem itemLabel="NA" itemValue="NA" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['organ_type']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="organizationtype"
														value="#{supplierMasterBean.supplierMaster.organizationTypeMaster}"
														converter="#{entityConverter}" class="form-control">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems
															value="#{supplierMasterBean.organizationtypemasterList}"
															itemLabel="#{orgtype.name}" itemValue="#{orgtype}"
															var="orgtype" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['aadhaar_no']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="aadhar" maxlength="20"
														value="#{supplierMasterBean.supplierMaster.aadharNumber}">
														<p:keyFilter regEx="/[0-9_\s-]/i" />
														<p:ajax update="@this"></p:ajax>
													</p:inputText>
												</div>
												<p:tooltip for="aadhar"
													value="#{msg['aadhar_no_valid_msg']}" />
											</div>
										</div>
										<!-- 	<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['byr_type']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-briefcase"></i></span> <select class="form-control">
														<option>Select</option>
														<option>Individual</option>
														<option>Corporate</option>
													</select>
												</div>
											</div>
										</div>  -->
									</div>

									<div class="row custom-form-1 label-form">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['soc_catgy']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu class="form-control" id="socialcategory"
														value="#{supplierMasterBean.supplierMaster.socialCategory}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="OBC" itemValue="OBC" />
														<f:selectItem itemLabel="SC" itemValue="SC" />
														<f:selectItem itemLabel="ST" itemValue="ST" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['diff_abled']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-file-check"></i></span>
													<h:selectOneMenu class="form-control" id="differentabled"
														value="#{supplierMasterBean.supplierMaster.differentlyAbled}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemLabel="Yes" itemValue="true" />
														<f:selectItem itemLabel="No" itemValue="false" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<p:commandButton value="&#xed6a; #{msg['cancel']}"
												styleClass="btn btn-sm bg-slate font-iconmoon"
												action="#{supplierMasterBean.cancel}" immediate="true"
												oncomplete="PF('progressDlg').hide();"
												title="#{msg['cancel']}"
												onclick="window.location.href='#{request.contextPath}/pages/masters/listSupplierMaster.xhtml'" />

											<p:commandButton id="submit" binding="#{submit}"
												rendered="#{supplierMasterBean.action eq 'ADD'}"
												value="&#xed6e; #{msg['submit']}" title="#{msg['submit']}"
												action="#{supplierMasterBean.submitSupplierMaster()}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												styleClass="btn btn-sm bg-success font-iconmoon"
												update="panel1 growls">
											</p:commandButton>

											<p:commandButton id="update" binding="#{update}"
												rendered="#{supplierMasterBean.action eq 'EDIT'}"
												value="&#xeda7; #{msg['update']}" title="#{msg['update']}"
												action="#{supplierMasterBean.updateSupplierMaster}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												styleClass="btn btn-sm bg-primary font-iconmoon"
												update="panel1 growls" tabindex="9">
											</p:commandButton>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>

		<ui:include src="/pages/address/addressPopup.xhtml">
			<ui:param name="parameterBean" value="#{supplierMasterBean}"></ui:param>
			<ui:param name="ctrlToUpdate" value="#{suppForm.address}"></ui:param>
		</ui:include>

	</ui:define>
</ui:composition>
