<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Warehouse Profile Master</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_warhs_prof']} #{msg['master']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li class="active">#{msg['create_warhs_prof']} #{msg['master']}
							</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['warhs_prof']} #{msg['master']}
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warehs_type']}" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-grid6"></i></span>
													<h:selectOneMenu id="cate" styleClass="form-control">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="Showroom" itemLabel="Showroom"></f:selectItem>
														<f:selectItem itemValue="ISSR" itemLabel="ISSR"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warhs_code']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="showroomcode"
														placeholder="WH001">
													</p:inputText>
												</div>
											</div>
										</div>
									</div>

									
									<div class="row custom-form-1 label-form">
									<div class="col-lg-12 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warhs_name']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<p:inputText styleClass="form-control" id="showroomname"
														placeholder="Thillaiyadi Valliammai Co-optex">
													</p:inputText>
												</div>
											</div>
										</div>
										</div>
									
								</div>


								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="row">
										<div class="col-lg-8 col-md-8 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warhs_address']}" />
												<p:inputTextarea rows="4"
													class="form-control cust-textarea-height cust-dis-textarea" disabled="true"
													id="textarea" />
											</div>
										</div>


										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
											<button type="button"
												class="btn bg-success heading-btn  font-iconmoon"
												data-toggle="modal" data-target="#modal_theme_info">
												&#xea0e;&nbsp;#{msg['add']}</button>
										</div>
									</div>
								</div>
							</div>


							<div class="row custom-form-1 label-form">
							<div class="col-md-6 col-lg-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['warhs_name']} (#{msg['in_tamil']})" />
											<p:outputLabel
												rendered="#{wareHouseMasterBean.action ne 'VIEW'}" />
											<span class="text-danger">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<p:inputText id="sroomname"
													value="தில்லையாடி வள்ளியம்மை கோ-ஆப்டெக்ஸ்"
													maxlength="50" class="form-control"
													onkeypress="return allowOnlyAlphabets(event)"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
													requiredMessage="#{msg['wareHous_name']} #{msg['req']}"
													disabled="#{wareHouseMasterBean.action eq 'VIEW'}">
													<p:ajax update="msgsrname" event="keyup" />
												</p:inputText>
												<p:message for="sroomname" styleClass="" id="msgsrname" />
												<p:tooltip
													rendered="#{wareHouseMasterBean.action eq 'ADD' || wareHouseMasterBean.action eq 'EDIT'}"
													styleClass="cus-tooltip" for="sroomname"
													value="#{msg['whouse_name_valid_msg']}"></p:tooltip>
											</div>

										</div>
									</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['region_code']} / #{msg['name']}" />
													<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree7"></i></span>
													<h:selectOneMenu id="regioncode" styleClass="form-control">
														<f:selectItem itemLabel="16/Chennai"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="11/Coimbatore"
															itemLabel="11/Coimbatore"></f:selectItem>
														<f:selectItem itemValue="12/Cuddalore"
															itemLabel="12/Cuddalore"></f:selectItem>
														<f:selectItem itemValue="16/Chennai"
															itemLabel="16/Chennai"></f:selectItem>
														<f:selectItem itemValue="17/Madurai"
															itemLabel="17/Madurai"></f:selectItem>
														<f:selectItem itemValue="18/Salem" itemLabel="18/Salem"></f:selectItem>
														<f:selectItem itemValue="19/Tanjavur"
															itemLabel="19/Tanjavur"></f:selectItem>
														<f:selectItem itemValue="20/Tirunelvelli"
															itemLabel="20/Tirunelvelli"></f:selectItem>
														<f:selectItem itemValue="21/Vellore"
															itemLabel="21/Vellore"></f:selectItem>
														<f:selectItem itemValue="51/Bangalore"
															itemLabel="51/Bangalore"></f:selectItem>
														<f:selectItem itemValue="66/Mumbai" itemLabel="66/Mumbai"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
									<p:outputLabel value="#{msg['open_date']}" />
									<div class="form-group form-group_calend">
										<p:calendar id="opdate"
											value="26-01-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>
							
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" id="gstno"
												placeholder="22 AAAAA0000A 1ZS">
											</p:inputText>
										</div>
									</div>

								</div>

								
								<div class="col-lg-3 col-md-3 col-sm-12">
								
									<div class="form-group">
										<p:outputLabel value="#{msg['area_siz']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-design"></i></span>
											<p:inputText styleClass="form-control" id="areasize"
												placeholder="2500">
											</p:inputText>
										</div>
									</div>
								</div>

								
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu id="status" styleClass="form-control">
												<f:selectItem itemLabel="Active"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Active" itemLabel="Active"></f:selectItem>
												<f:selectItem itemValue="In-Active" itemLabel="In-Active"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								
							</div>

							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['build_details']}</span>
									</h5>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['build_type']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu id="buildtype" styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Own" itemLabel="Own"></f:selectItem>
												<f:selectItem itemValue="Rent" itemLabel="Rent"></f:selectItem>
												<f:selectItem itemValue="Lease" itemLabel="Lease"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['month_rent_amt']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right" id="rentamount"
												placeholder="25000.00">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['rent_pay_dt']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu id="payabledate" styleClass="form-control">
												<f:selectItem itemLabel="5"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="1" itemLabel="1"></f:selectItem>
												<f:selectItem itemValue="2" itemLabel="2"></f:selectItem>
												<f:selectItem itemValue="3" itemLabel="3"></f:selectItem>
												<f:selectItem itemValue="4" itemLabel="4"></f:selectItem>
												<f:selectItem itemValue="5" itemLabel="5"></f:selectItem>
												<f:selectItem itemValue="6" itemLabel="6"></f:selectItem>
												<f:selectItem itemValue="7" itemLabel="7"></f:selectItem>
												<f:selectItem itemValue="8" itemLabel="8"></f:selectItem>
												<f:selectItem itemValue="9" itemLabel="9"></f:selectItem>
												<f:selectItem itemValue="10" itemLabel="10"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bill_copy']}" />
										<div class="file-upload">
											<div class="file-select">
												<div class="file-select-name" id="noFile">No file
													chosen...</div>
												<div class="file-select-button" id="fileName">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</div>
												<input type="file" name="chooseFile" id="chooseFile" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['lease_amount']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right" id="leaseamount"
												placeholder="25000.00">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<p:outputLabel value="#{msg['lease_from']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend">
										<p:calendar id="leasefrom"
											value="26-01-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<p:outputLabel value="#{msg['lease_to']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend">
										<p:calendar id="leaseto"
											value="25-01-2020"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['lease_agree']}" />
										<div class="file-upload">
											<div class="file-select">
												<div class="file-select-name" id="leaseagree1">No file
													chosen...</div>
												<div class="file-select-button" id="fileName1">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</div>
												<input type="file" name="chooseFile1" id="chooseFile1" />
											</div>
										</div>
									</div>
								</div>




							</div>

							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['con_det']}</span>
									</h5>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['contact_name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<p:inputText styleClass="form-control" id="contactname"
												placeholder="Gajendran M">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['local_contact']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<p:inputText styleClass="form-control" id="localcontact"
												placeholder="Gajendran M">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['contact_num']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<p:inputText styleClass="form-control" id="landno"
												placeholder="044-26415681">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['mob_no']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-mobile"></i></span>
											<p:inputText styleClass="form-control" id="contactno"
												placeholder="9884645681">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['email']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-envelope"></i></span>
											<p:inputText styleClass="form-control" id="email"
												placeholder="gaja2012@gmail.com">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['fx_num']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-fax"></i></span>
											<p:inputText styleClass="form-control" id="faxno"
												placeholder="02124634-044">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['note']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-info-circle"></i></span>
											<p:inputText styleClass="form-control" id="note"
												placeholder="Comment...">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-lg-12">
								<h4 class="m-t-0 m-b-0">
									<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>Warehouse In-charge Details</span>
								</h4>
								</div>	
								</div> 
								<p:outputPanel id="warehousetypepanel">
								<div class="row  label-form">	
									<div class="col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['inchrg_type']}" />
										<p:outputLabel rendered="#{wareHouseMasterBean.action ne 'VIEW'}"/>
										<span class="text-danger">*</span>
										<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-list"></i></span>
										<h:selectOneMenu id="inchrgtype"
											converter="#{entityConverter}"
											value="#{wareHouseMasterBean.wareHouseEntityMasterDTO.entityInchargeTypeDTO}"
											class="form-control select2"
											required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
											requiredMessage="#{msg['inchrg_type']} #{msg['req']}"
											disabled="#{wareHouseMasterBean.action eq 'VIEW'}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{wareHouseMasterBean.wareHouseInchargeTypeDTOList}"
												var="inchrgtype" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (inchrgtype.lname ne null ? inchrgtype.lname : '') : inchrgtype.name}"
												itemValue="#{inchrgtype}" />

											<p:ajax
												listener="#{wareHouseMasterBean.checkwareHouseInchargeType}"
												process="@this"
												update="managerpanel staffpanel warehousetypepanel srincrgtype"></p:ajax>
										</h:selectOneMenu>
										<p:message for="inchrgtype" styleClass="" id="srincrgtype" />
										</div>

									</div>
								</div>
								
								<p:outputPanel id="managerpanel" rendered="#{wareHouseMasterBean.wareHouseInchargeTypeName eq 'Warehouse Manager'}">
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['whmngr_name']}" />
											<p:outputLabel rendered="#{wareHouseMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<h:selectOneMenu id="manager" converter="#{entityConverter}"
												value="#{wareHouseMasterBean.wareHouseEntityMasterDTO.employeeDTO}"
												class="form-control select2"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['mngr_name']} #{msg['req']}"
												disabled="#{wareHouseMasterBean.action eq 'VIEW'}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{wareHouseMasterBean.employeeDTOList}"
													var="emp" itemLabel="#{emp.lastName} #{emp.firstName}"
													itemValue="#{emp}" />
												<p:ajax update="srmngr" event="change" />
											</h:selectOneMenu>
											<p:message for="manager" styleClass="" id="srmngr" />

										</div>
									</div>

								</p:outputPanel>
								
								<p:outputPanel id="staffpanel" rendered="#{wareHouseMasterBean.wareHouseInchargeTypeName eq 'Temporary Staff'}">
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['temp_staff_name']}" />
											<p:outputLabel rendered="#{wareHouseMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<h:selectOneMenu id="tempstaff"
												converter="#{entityConverter}"
												value="#{wareHouseMasterBean.wareHouseEntityMasterDTO.employeeDTO}"
												class="form-control select2"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['temp_staff_name']} #{msg['req']}"
												disabled="#{wareHouseMasterBean.action eq 'VIEW'}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{wareHouseMasterBean.employeeDTOList}"
													var="emp" itemLabel="#{emp.lastName} #{emp.firstName}"
													itemValue="#{emp}" />
												<p:ajax update="srtpstaff" event="change" />
											</h:selectOneMenu>
											<p:message for="tempstaff" styleClass="" id="srtpstaff" />

										</div>
									</div>
								</p:outputPanel>
									</div>
								</p:outputPanel>	-->
							<div class="row">
								

								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
									<p:commandButton update="growls"
										onclick="window.location.href='#{request.contextPath}/pages/masters/listWarehouseMaster.xhtml'"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate font-iconmoon m-r-0">
									</p:commandButton>
									<p:commandButton update="growls"
										value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon">
									</p:commandButton>
								</div>

								<!-- <div class="col-lg-6">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="m-t-0 m-b-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['warehs_det']}</span>
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warehs_type']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-list"></i></span>
													<h:selectOneMenu id="waretype" styleClass="form-control">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="Active" itemLabel="Active"></f:selectItem>
														<f:selectItem itemValue="In-Active" itemLabel="In-Active"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['warehs_name']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu id="warehoname" styleClass="form-control">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="Active" itemLabel="Active"></f:selectItem>
														<f:selectItem itemValue="In-Active" itemLabel="In-Active"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /Address Popup -->
		<div id="modal_theme_info" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['add_adrs']}</h6>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr1"
											placeholder="No.12, New Street">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr2"
											placeholder="Indira Nagar">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr3"
											placeholder="Mambalam">
										</p:inputText>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr1"
											placeholder="Local Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr2"
											placeholder="Local Address 2">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr3"
											placeholder="Local Address 3">
										</p:inputText>
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="state" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dist']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="district" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['city']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="city" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['area']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="area" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['taluk']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="taluk" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pcode']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="postalcode"
											placeholder="Postal code">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['lmark']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="landmark"
											placeholder="Mambalam Railway Station">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<p:commandButton update="growls"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									class="btn bg-success font-iconmoon m-r-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Address Popup -->
	</ui:define>
</ui:composition>
