<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{complaintTypeMasterBean}"></ui:param> 
		<h:form id="complaintType">
			<title>InfoTex | Complaint Type</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">

						<h4>#{bean.action eq 'ADD' ? msg['create'] : msg['edit']}
							#{msg['complaint_type']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li class="active">#{bean.action eq 'Create' ? msg['create']
								: msg['edit']} #{msg['complaint_type']}</li>


						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content">
				<!-- collapse panel -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['complaint_type']}
							</a>
							<p:outputLabel styleClass="pull-right">
                        (<span class="mand-red">*</span>
								<span>#{msg['mand_fields']})</span>
							</p:outputLabel>
						</h6>
					</div>
					<div class="panel-body p-t-10 page-scroll-without-process">
						<div class="row label-form">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['complaint_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-text2"></i></span>
										<p:inputText styleClass="form-control" id="name"
											value="#{bean.complaintTypeMaster.name}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['complaint_name']} #{msg['is_required']}">
											<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
											<p:ajax update="name"></p:ajax>
										</p:inputText>
									</div>
									<h:message for="name" styleClass="validation-error-label"></h:message>
									<p:focus for="name" />
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['complaint_name']} (#{msg['in_tamil']})" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-text2"></i></span>
										<p:inputText styleClass="form-control" id="lname"
											value="#{bean.complaintTypeMaster.LName}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['complaint_name']} (#{msg['in_tamil']}) #{msg['is_required']}">
											<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
											<p:ajax update="lname"></p:ajax>
										</p:inputText>
									</div>
									<h:message for="lname" styleClass="validation-error-label"></h:message>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="">
									<p:outputLabel value="#{msg['status']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<h:selectOneMenu id="status"
											value="#{bean.complaintTypeMaster.activeStatus}"
											styleClass="form-control"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['status']} #{msg['is_required']}">
											<f:selectItem itemLabel="Select" noSelectionOption="true" />
											<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
											<f:selectItem itemLabel="#{msg['inactive']}"
												itemValue="false" />
											<p:ajax event="change" update="status"></p:ajax>
										</h:selectOneMenu>
									</div>
								</div>
								<h:message for="status" styleClass="validation-error-label"></h:message>
							</div>
						</div>
						
						<div class="row label-form">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon m-l-10"
									title="#{msg['cancel']}" action="#{bean.showListPage}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()" update="complaintType" />
								<p:commandButton
									value="#{bean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{bean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{bean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									action="#{bean.saveOrUpdate}" binding="#{submit}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									update="complaintType growls" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
		</h:form>
	</ui:define>
</ui:composition>