<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('BANK_ACCOUNT_TYPE_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{bankAccountTypeBean}"></ui:param>
		<ui:param name="bankAccountType"
			value="#{bankAccountTypeBean.bankAccountType}"></ui:param>
		<title>InfoTex | Bank Account Type</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'Create' ?
						msg['create_bank_account_type'] : msg['edit_bank_account_type']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['finance_master']}</li>
						<li class="active">#{bean.action eq 'Create' ?
							msg['create_bank_account_type'] : msg['edit_bank_account_type']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['bank_account_type']}</h6>
					</div>

					<div class="panel-body">
						<p:outputPanel id="addForm">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bank_account_type_code']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class=" icon-hash"></i></span>
											<p:inputText value="#{bankAccountType.code}"
												class="form-control" id="code" maxlength="6" minimum="2"
												validatorMessage="#{msg['bank_acc_type_code_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['bank_acc_type_code_req']}">
												<p:keyFilter regEx="/[a-z0-9\s]/i"></p:keyFilter>
												<f:validateLength minimum="2" maximum="6" />
											</p:inputText>
										</div>
										<h:message for="code" class="validation-error-label" />
										<p:focus for="code" />
										<p:tooltip for="code"
											value="#{msg['bank_acc_type_code_valid_msg']}"></p:tooltip>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bank_account_type_name']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack"></i></span>
											<p:inputText value="#{bankAccountType.name}"
												class="form-control" maxlength="75" minimum="3" id="name"
												validatorMessage="#{msg['bank_acc_type_name_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['bank_acc_type_name_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="name" class="validation-error-label" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['bank_account_type_name']} (#{msg['in_tamil']})" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class=" icon-stack"></i></span>
											<p:inputText value="#{bankAccountType.localName}"
												class="form-control" maxlength="75" minimum="3" id="lname"
												validatorMessage="#{msg['bank_acc_type_name_valid_msg']}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['bank_acc_type_name_req']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75"></f:validateLength>
											</p:inputText>
										</div>
										<h:message for="lname" class="validation-error-label" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu class="form-control"
												value="#{bankAccountType.activeStatus}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['status_is_req']}">
												<f:selectItem itemLabel="Active" itemValue="true" />
												<f:selectItem itemLabel="InActive" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12 text-right">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										title="#{msg['cancel']}" immediate="true"
										action="#{bean.showBankAccountTypeListPage}"
										styleClass="btn btn-sm bg-slate font-iconmoon" />
									<p:commandButton
										value="#{bean.action eq 'Create' ? '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
										title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
										styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										action="#{bean.saveOrUpdate}" binding="#{submit}"
										update="growls addForm" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>

