<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('DISCOUNT_OR_REBATE_ADD')}" />
		</f:metadata>
		<h:form id="discountForm">
			<title>InfoTex | Discount</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{discountMasterBean.pageAction eq 'ADD' ?
							msg['create_discount'] : msg['edit_discount']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li class="active">#{discountMasterBean.pageAction eq 'ADD'
								? msg['create_discount'] : msg['edit_discount']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['discount_details']}
								<p:outputLabel styleClass="pull-right">
									(<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>)
								</p:outputLabel>

							</h6>
						</div>
						<div
							class="#{discountMasterBean.pageAction eq 'ADD' ?
							'pg-scroll-panel-1' : ''}">
							<div class="panel-body p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['rebate']} / #{msg['dis_code_id']}" />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText id="code" styleClass="form-control"
													maxlength="6" required="#{not empty param[gen.clientId]}"
													requiredMessage="#{msg['rebate_discount_code_id_req']}"
													value="#{discountMasterBean.discountMasterValue.code}">
													<p:keyFilter mask="num" />
												</p:inputText>
											</div>
											<h:message for="code" class="validation-error-label" />
											<p:focus for="code" />
											<p:tooltip for="code" value="#{msg['code_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['rebate']} / #{msg['dis_name']}" />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText styleClass="form-control" id="disname"
													maxlength="75" required="#{not empty param[gen.clientId]}"
													requiredMessage="#{msg['rebate_discount_name_req']}"
													value="#{discountMasterBean.discountMasterValue.name}">
												</p:inputText>
											</div>
											<h:message for="disname" class="validation-error-label" />
											<p:tooltip for="disname" value="#{msg['name_valid_msg']}" />
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['rebate']} / #{msg['dis_name']} (#{msg['in_tamil']})" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText styleClass="form-control" maxlength="75"
													id="dis_name_tamil"
													value="#{discountMasterBean.discountMasterValue.lname}">
												</p:inputText>
											</div>
											<p:tooltip for="dis_name_tamil"
												value="#{msg['name_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:outputPanel id="inputpanelstateid">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['state_gst_code']} / #{msg['name']}" />
													<p:outputLabel value="*" class="text-danger mand-symbol" />
													<div class="multi-select-full">
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<p:selectCheckboxMenu id="statelist"
																panelStyle="width:270px"
																value="#{discountMasterBean.discountMasterValue.selectedStatesList}"
																widgetVar="stateSelect" converter="#{entityConverter}"
																required="#{not empty param[gen.clientId]}"
																requiredMessage="#{msg['state_gst_code_name_req']}"
																label="(#{discountMasterBean.discountMasterValue.selectedStatesList.size() == 0 || discountMasterBean.discountMasterValue.selectedStatesList.size()==null ?'0':discountMasterBean.discountMasterValue.selectedStatesList.size()}) State's Selected"
																tabindex="5" filter="true" filterMatchMode="startsWith">
																<f:selectItems value="#{discountMasterBean.stateList}"
																	var="state"
																	itemLabel="#{state.gstStateCode}/#{state.name}"
																	itemValue="#{entity}" />

																<p:ajax
																	update="inputpanelstateid showRoomId showroomslist statelist"
																	event="change" oncomplete="PF('stateSelect').show()"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"></p:ajax>
																<p:ajax event="toggleSelect"
																	update="inputpanelprocatid groupId groupListId showroomslist statelist"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"
																	listener="#{discountMasterBean.loadEntitysBySelectedStates}"
																	oncomplete="PF('stateSelect').show()"></p:ajax>
																<f:ajax
																	listener="#{discountMasterBean.loadEntitysBySelectedStates}"
																	render="showRoomId showroomslist"></f:ajax>
															</p:selectCheckboxMenu>
														</div>
														<h:message for="statelist" class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">
											<p:outputPanel id="inputpanelstate">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['state_gst_code']} / #{msg['name']}"
														for="stateMasterId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="stateMasterId"
														rendered="#{empty param[gen.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location3"></i></span>
														<div class="multi-select-full">
															<h:selectOneMenu id="stateMasterId"
																value="#{discountMasterBean.stateMaster}"
																class="form-control" converter="#{entityConverter}"
																required="#{not empty param[gen.clientId]}"
																requiredMessage="#{msg['state_gst_code_name_req']}">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{discountMasterBean.stateList}"
																	var="state"
																	itemLabel="#{state.gstStateCode}/ #{state.name}"
																	itemValue="#{state}" />
																<p:ajax onstart="PF('progressDlg').show();"
																	onsuccess="PF('progressDlg').hide();"
																	listener="#{discountMasterBean.showListOfShowRooms}"
																	update="showRoomId showroomslist"></p:ajax>
															</h:selectOneMenu>
														</div>
													</div>
													<h:message for="stateMasterId"
														class="validation-error-label" />
												</div>
											</p:outputPanel>
										</h:panelGroup>
									</div>
								</div>


								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:outputPanel id="inputpanelentityid">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}" />
													<p:outputLabel value="*" class="text-danger mand-symbol" />
													<div class="multi-select-full">
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<p:selectCheckboxMenu id="showroomslist"
																panelStyle="width:270px"
																value="#{discountMasterBean.discountMasterValue.selectedShowRoomsList}"
																widgetVar="entitySelect" converter="#{entityConverter}"
																required="#{not empty param[gen.clientId]}"
																requiredMessage="#{msg['entity_code_name_req']}"
																label="(#{discountMasterBean.discountMasterValue.selectedShowRoomsList.size() == 0 || discountMasterBean.discountMasterValue.selectedShowRoomsList.size()==null ?'0':discountMasterBean.discountMasterValue.selectedShowRoomsList.size()}) Show rooms Selected"
																tabindex="5" filter="true" filterMatchMode="startsWith">
																<f:selectItems
																	value="#{discountMasterBean.entityMasterList}"
																	var="entity" itemLabel="#{entity.code}/#{entity.name}"
																	itemValue="#{entity}" />
																<p:ajax update="inputpanelentityid showroomslist"
																	event="change" oncomplete="PF('entitySelect').show()"></p:ajax>
																<p:ajax event="toggleSelect"
																	update="inputpanelentityid showroomslist"
																	oncomplete="PF('entitySelect').show()"></p:ajax>
															</p:selectCheckboxMenu>
														</div>
														<h:message for="showroomslist"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">

											<div class="form-group">
												<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}"
													for="showRoomId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="showRoomId" rendered="#{empty param[gen.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<div class="multi-select-full">
														<h:selectOneMenu id="showRoomId"
															value="#{discountMasterBean.discountMasterValue.showRoom}"
															class="form-control" converter="#{entityConverter}"
															required="#{not empty param[gen.clientId]}"
															requiredMessage="#{msg['entity_code_name_req']}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{discountMasterBean.entityMasterList}"
																var="entity" itemLabel="#{entity.code} / #{entity.name}" />
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="showRoomId" class="validation-error-label" />
											</div>
										</h:panelGroup>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup>
											<p:outputPanel id="inputpanelsalemasterid">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sales_type_master_code']} / #{msg['name']}"
														for="salesMasterlist" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="salesMasterlist"
														rendered="#{empty param[gen.clientId]}" />
													<div class="multi-select-full">
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<h:selectOneMenu class="form-control"
																id="salesMasterlist"
																required="#{not empty param[gen.clientId]}"
																requiredMessage="#{msg['sales_type_code_name_req']}"
																value="#{discountMasterBean.discountMasterValue.salesTypeMaster}"
																converter="#{entityConverter}">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}"></f:selectItem>
																<f:selectItems
																	value="#{discountMasterBean.saleTypeMasterList}"
																	var="salestype"
																	itemLabel="#{salestype.code}/#{salestype.name}"
																	itemValue="#{salestype}" />
																<p:ajax update="salesMasterlist" event="change"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="salesMasterlist"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</h:panelGroup>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-file-check"></i></span>
												<h:selectOneMenu class="form-control" id="status"
													value="#{discountMasterBean.discountMasterValue.activeStatus}">
													<f:selectItem itemLabel="Active" itemValue="true" />
													<f:selectItem itemLabel="InActive" itemValue="false" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_category_code']} / #{msg['name']}"
													for="catId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="catId" rendered="#{empty param[gen.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<div class="multi-select-full">
														<h:selectOneMenu id="catId"
															value="#{discountMasterBean.productCategory}"
															class="form-control" converter="#{entityConverter}"
															required="#{not empty param[gen.clientId]}"
															requiredMessage="#{msg['prod_cate_code_name_req']}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{discountMasterBean.productCategoryList}"
																var="product"
																itemLabel="#{product.productCatCode} / #{product.productCatName}"
																itemValue="#{product}"></f:selectItems>
															<f:ajax
																listener="#{discountMasterBean.showListOfProductCategory}"
																render="groupId"></f:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="catId" class="validation-error-label" />
											</div>
										</h:panelGroup>


										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:outputPanel id="inputpanelprocatid">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_category_code']} / #{msg['name']}"
														for="productcataid" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="productcataid"
														rendered="#{empty param[gen.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack3"></i></span>
														<div class="multi-select-full">
															<h:selectOneMenu id="productcataid"
																value="#{discountMasterBean.discountMasterValue.productCategory}"
																class="form-control" converter="#{entityConverter}"
																required="#{not empty param[gen.clientId]}"
																requiredMessage="#{msg['prod_cate_code_name_req']}">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems
																	value="#{discountMasterBean.productCategoryList}"
																	var="product"
																	itemLabel="#{product.productCatCode} / #{product.productCatName}"
																	itemValue="#{product}" />
																<p:ajax onstart="PF('progressDlg').show();"
																	onsuccess="PF('progressDlg').hide();"
																	listener="#{discountMasterBean.loadAllGroupsByProductCategorys}"
																	update="productcataid groupId inputpanelprocatid  groupListId rebPer leaseamount "></p:ajax>
															</h:selectOneMenu>
														</div>
													</div>
													<h:message for="productcataid"
														class="validation-error-label" />
												</div>
											</p:outputPanel>
										</h:panelGroup>
									</div>
								</div>


								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_group_code']} / #{msg['name']}"
													for="groupId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="groupId" rendered="#{empty param[gen.clientId]}" />

												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-grid6"></i></span>
													<div class="multi-select-full">
														<h:selectOneMenu id="groupId"
															value="#{discountMasterBean.productGroupMaster}"
															class="form-control" converter="#{entityConverter}"
															required="#{not empty param[gen.clientId]}"
															requiredMessage="#{msg['prod_group_code_name_req']}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{discountMasterBean.productGroupMasterList}"
																var="product"
																itemLabel="#{product.code} / #{product.name}"
																itemValue="#{product}"></f:selectItems>
															<f:ajax
																listener="#{discountMasterBean.getProductByGroup}"
																render="proId Group"></f:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="groupId" class="validation-error-label" />
											</div>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:outputPanel id="inputpanelgroupid">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_group_code']} / #{msg['name']}"
														for="groupListId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="groupListId" rendered="#{empty param[gen.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-grid6"></i></span>
														<div class="multi-select-full">
															<p:selectCheckboxMenu id="groupListId"
																panelStyle="width:270px"
																value="#{discountMasterBean.discountMasterValue.selectedProductGroupMasterList}"
																widgetVar="groupSelect" converter="#{entityConverter}"
																label="(#{discountMasterBean.discountMasterValue.selectedProductGroupMasterList.size() == 0 || discountMasterBean.discountMasterValue.selectedProductGroupMasterList.size()==null ?'0':discountMasterBean.discountMasterValue.selectedProductGroupMasterList.size()}) Product Groups Selected"
																tabindex="5" filter="true" filterMatchMode="startsWith">
																<f:selectItems
																	value="#{discountMasterBean.productGroupMasterList}"
																	var="product"
																	itemLabel="#{product.code} / #{product.name}"
																	itemValue="#{product}" />
																<p:ajax update="inputpanelgroupid Group" event="change"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"
																	oncomplete="PF('groupSelect').show()"></p:ajax>
																<p:ajax event="toggleSelect"
																	onstart="PF('statusDialog').show()"
																	listener="#{discountMasterBean.loadAllProductVarietysByProductGroups}"
																	onsuccess="PF('statusDialog').hide()"
																	update="groupListId Group"
																	oncomplete="PF('groupSelect').show()"></p:ajax>
																<f:ajax
																	listener="#{discountMasterBean.loadAllProductVarietysByProductGroups}"
																	render="Group"></f:ajax>
															</p:selectCheckboxMenu>
														</div>
													</div>
													<h:message for="groupListId" class="validation-error-label" />
												</div>
											</p:outputPanel>
										</h:panelGroup>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_variey_code']} / #{msg['name']}"
													for="proId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="proId" rendered="#{empty param[gen.clientId]}" />

												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<div class="multi-select-full">
														<h:selectOneMenu id="proId"
															value="#{discountMasterBean.discountMasterValue.productVariety}"
															class="form-control" converter="#{entityConverter}"
															required="#{not empty param[gen.clientId]}"
															requiredMessage="#{msg['prod_variety_code_name_req']}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{discountMasterBean.productVarietyMasterList}"
																var="varietyproduct"
																itemLabel="#{varietyproduct.code} / #{varietyproduct.name}" />
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="proId" class="validation-error-label" />
											</div>
										</h:panelGroup>


										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:outputPanel id="inputpanelid">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_variey_code']} / #{msg['name']}" />
													<div class="multi-select-full">
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-tree6"></i></span>
															<p:selectCheckboxMenu id="Group" panelStyle="width:270px"
																value="#{discountMasterBean.discountMasterValue.selectedProductVarietyMasterList}"
																widgetVar="regionSelect" converter="#{entityConverter}"
																label="(#{discountMasterBean.discountMasterValue.selectedProductVarietyMasterList.size() == 0 || discountMasterBean.discountMasterValue.selectedProductVarietyMasterList.size()==null ?'0':discountMasterBean.discountMasterValue.selectedProductVarietyMasterList.size()}) Product Varietys Selected"
																tabindex="5" filter="true" filterMatchMode="startsWith">
																<f:selectItems
																	value="#{discountMasterBean.productVarietyMasterList}"
																	var="ProductVariety"
																	itemLabel="#{ProductVariety.code}/#{ProductVariety.name}"
																	itemValue="#{ProductVariety}" />
																<p:ajax update="inputpanelid Group" event="change"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"
																	oncomplete="PF('regionSelect').show()"></p:ajax>
																<p:ajax event="toggleSelect" update="Group inputpanelid"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"
																	oncomplete="PF('regionSelect').show()"></p:ajax>
															</p:selectCheckboxMenu>
														</div>
													</div>
												</div>
											</p:outputPanel>
										</h:panelGroup>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dis_per']}" />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-percent"></i></span>
												<p:inputText id="disPer" styleClass="form-control"
													maxlength="4" required="#{not empty param[gen.clientId]}"
													requiredMessage="#{msg['dis_per_is_req']}"
													value="#{discountMasterBean.discountMasterValue.percentage}">
													<p:keyFilter mask="num" />
													<f:convertNumber pattern="#0.00" />
												</p:inputText>
											</div>
											<h:message for="disPer" class="validation-error-label" />
											<p:tooltip for="disPer" value="#{msg['per_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['reb_per']}" />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-percent"></i></span>
												<p:inputText id="rebPer" styleClass="form-control"
													disabled="#{discountMasterBean.discountMasterValue.productCategory.productCatCode =='D'}"
													maxlength="4" required="#{not empty param[gen.clientId]}"
													requiredMessage="#{msg['rebate_per_is_req']}"
													value="#{discountMasterBean.discountMasterValue.rebatePercentage}">
													<p:keyFilter mask="num" />
													<f:convertNumber pattern="#0.00" />
												</p:inputText>
											</div>
											<h:message for="rebPer" class="validation-error-label" />
											<p:tooltip for="rebPer" value="#{msg['per_valid_msg']}" />
										</div>
									</div>
								</div>

								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['rebate_max_ceiling_amount']}" />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="fa fa-inr fa-lg"></i></span>
												<p:inputText styleClass="form-control text-right"
													id="leaseamount" maxlength="6"
													disabled="#{discountMasterBean.discountMasterValue.productCategory.productCatCode =='D'}"
													required="#{not empty param[gen.clientId]}"
													requiredMessage="#{msg['rebate_max_ceil_amt_is_req']}"
													value="#{discountMasterBean.discountMasterValue.rebateValue}">
													<p:keyFilter mask="num" />
													<f:convertNumber pattern="#0.00" />
												</p:inputText>
											</div>
											<h:message for="leaseamount" class="validation-error-label" />
											<p:tooltip for="leaseamount" value="#{msg['amt_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['valid_from']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="validFrom"
												value="#{discountMasterBean.discountMasterValue.validFrom}"
												pattern="dd-MMM-yyyy" navigator="true" required="true"
												placeholder="dd-MMM-yyyy"
												requiredMessage="#{msg['valid_from_req']}"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax event="dateSelect"
													listener="#{discountMasterBean.fromDateChange}"
													update="validFrom validTo"></p:ajax>
											</p:calendar>
											<h:message for="validFrom" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['valid_to']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="validTo"
												value="#{discountMasterBean.discountMasterValue.validTo}"
												disabled="#{discountMasterBean.discountMasterValue.validFrom eq null}"
												mindate="#{discountMasterBean.discountMasterValue.validFrom}"
												pattern="dd-MMM-yyyy" navigator="true" required="true"
												placeholder="dd-MMM-yyyy"
												requiredMessage="#{msg['valid_to_req']}"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax update="validTo" event="dateSelect" />
											</p:calendar>
											<h:message for="validTo" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='ADD'}">
											<p:commandButton value="&#xe916; #{msg['clear']}"
												title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
												immediate="true" onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												update="discountForm  growls"
												action="#{discountMasterBean.clearVal}">
											</p:commandButton>

											<p:commandButton id="gen" binding="#{gen}"
												title="#{msg['generate']}"
												class="btn bg-primary heading-btn  font-iconmoon"
												update="discountForm discountTable growls"
												value="&#xeda7;&nbsp;#{msg['generate']}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												actionListener="#{discountMasterBean.loadProductDiscountInfo}">
											</p:commandButton>
										</h:panelGroup>
									</div>

									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<h:panelGroup
											rendered="#{discountMasterBean.pageAction=='EDIT'}">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
												oncomplete="PF('progressDlg').hide();"
												action="#{discountMasterBean.clear}" process="@this"
												class="btn bg-slate font-iconmoon m-r-0" />

											<p:commandButton id="update" update="growls"
												title="#{msg['update']}"
												class="btn bg-primary heading-btn font-iconmoon"
												value="&#xeda7;&nbsp;#{msg['update']}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												action="#{discountMasterBean.updateDiscountmaster}">
											</p:commandButton>
										</h:panelGroup>
									</div>
								</div>


								<h:panelGroup rendered="#{discountMasterBean.pageAction=='ADD'}">
									<h5 class="m-t-0 m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['prod_wise_per_details']}</span>
									</h5>

									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<p:outputPanel
													styleClass="#{discountMasterBean.discountMasterList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
													<p:dataTable id="discountTable" var="dis" widgetVar="table"
														styleClass="custom-input-width" lazy="true"
														rowKey="#{dis.id}" scrollable="true"
														scrollHeight="#{discountMasterBean.discountMasterList.size() eq 0 ? '30' : 
								  				 discountMasterBean.discountMasterList.size() eq 1 ? '30':
								  				 discountMasterBean.discountMasterList.size() eq 2 ? '59':
												 discountMasterBean.discountMasterList.size() eq 3 ? '88':
												 discountMasterBean.discountMasterList.size() eq 4 ? '117':
												 discountMasterBean.discountMasterList.size() gt 4 and discountMasterBean.discountMasterList.size() lt 6 ? '174' :'185'}"
														value="#{discountMasterBean.discountMasterList}"
														rowIndexVar="idx"
														emptyMessage="#{msg['no_records_found']}">

														<p:column headerText="#{msg['s_no']}"
															styleClass="text-center sno-ovrflw-4">
															<h:outputText value="#{idx+1}" />
														</p:column>

														<p:column
															headerText="#{msg['rebate']} / #{msg['dis_code_id']}"
															styleClass="width-8 text-center">
															<h:outputText value="#{dis.code}" />
														</p:column>
														<p:column
															headerText="#{msg['rebate']} / #{msg['dis_name']}"
															styleClass="width-10">
															<h:outputText value="#{dis.name}" />
														</p:column>

														<p:column
															headerText="#{msg['enty_code']} / #{msg['name']}"
															styleClass="width-10">
															<h:outputText
																value="#{dis.showRoom.code} / #{(dis.showRoom.name).length() gt 7 ? fn:substring({dis.showRoom.name}, 1, 8).concat('...'):(dis.showRoom.name)}"
																title="#{dis.showRoom.code}/#{dis.showRoom.name}" />
														</p:column>

														<p:column
															headerText="#{msg['prod_category_code']} / #{msg['name']}"
															styleClass="width-10">
															<h:outputText
																value="#{dis.productCategory.productCatCode} / #{(dis.productCategory.productCatName).length() gt 7 ? fn:substring({dis.productCategory.productCatName}, 1, 8).concat('...'):(dis.productCategory.productCatName)}"
																title="#{dis.productCategory.productCatCode}/#{dis.productCategory.productCatName}" />
														</p:column>

														<p:column
															headerText="#{msg['prod_group_code']} / #{msg['name']}"
															styleClass="width-10">
															<h:outputText
																value="#{dis.productGroupMaster.code} / #{(dis.productGroupMaster.name).length() gt 7 ? fn:substring({dis.productGroupMaster.name}, 1, 8).concat('...'):(dis.productGroupMaster.name)}"
																title="#{dis.productGroupMaster.code} / #{dis.productGroupMaster.name}" />
														</p:column>

														<p:column
															headerText="#{msg['prod_variey_code']} / #{msg['name']}"
															styleClass="width-10">
															<h:outputText
																value="#{dis.productVariety.code} / #{(dis.productVariety.name).length() gt 5 ? fn:substring({dis.productVariety.name}, 1, 6).concat('...'):(dis.productVariety.name)}"
																title="#{dis.productVariety.code} / #{dis.productVariety.name}" />
														</p:column>

														<p:column
															headerText="#{msg['dis_master']}&lt;br/&gt;(&#xf295;)"
															styleClass="width-6 text-right fa-input">
															<h:outputText value="#{dis.percentage}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>

														<p:column
															headerText="#{msg['rebate']}&lt;br/&gt;( &#xf295; )"
															styleClass="width-6 text-right fa-input">
															<h:outputText value="#{dis.rebatePercentage}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>

														<p:column
															headerText="#{msg['rebate_max_ceiling_amount']}&nbsp;( &#xf156; )"
															styleClass="width-8 text-right fa-input">
															<h:outputText value="#{dis.rebateValue}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>

														<p:column headerText="#{msg['valid_from']}"
															styleClass="width-8 text-center">
															<h:outputText value="#{dis.validFrom}">
																<f:convertDateTime pattern="dd-MMM-yyyy"
																	timeZone="#{loginBean.timeZone}" />
															</h:outputText>
														</p:column>

														<p:column headerText="#{msg['valid_to']}"
															styleClass="width-8 text-center">
															<h:outputText value="#{dis.validTo}">
																<f:convertDateTime pattern="dd-MMM-yyyy"
																	timeZone="#{loginBean.timeZone}" />
															</h:outputText>
														</p:column>
													</p:dataTable>
												</p:outputPanel>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 m-t-10 text-right">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
												oncomplete="PF('progressDlg').hide();"
												action="#{discountMasterBean.clear}" process="@this"
												class="btn bg-slate font-iconmoon m-r-0" />
											<p:commandButton binding="#{submitId}"
												value="#{discountMasterBean.pageAction eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{discountMasterBean.pageAction eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												title="#{discountMasterBean.pageAction eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												styleClass="#{discountMasterBean.pageAction eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												update="discountForm discountTable growls validTo validFrom"
												action="#{discountMasterBean.saveUpdateDiscount}" />
										</div>
									</div>
								</h:panelGroup>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

	</ui:define>
</ui:composition>
