<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('FESTIVAL_PERIOD_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{festivalMasterBean}"></ui:param>
		<h:form>
			<title>InfoTex | Create Festival Period</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action eq 'Create' ? msg['create_festival_period']
							: msg['edit_festival_period'] }</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li class="active">#{bean.action eq 'Create' ?
								msg['create_festival_period'] : msg['edit_festival_period'] }</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content page-scroll-hp">
				<!-- collapse panel -->
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['festival_period']}
							<p:outputLabel styleClass="pull-right">
                        (<span class="mand-red">*</span>
								<span>#{msg['mand_fields']})</span>
							</p:outputLabel>
						</h6>
					</div>
					<div class="panel-body p-t-10">
						<div class="row label-form custom-form-1">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['festival_type_code']} / #{msg['name']}"
										for="festivaltypeid" />
									<p:outputLabel value="*" for="festivaltypeid" class="mand-red"
										rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-flag7"></i></span>
										<h:selectOneMenu id="festivaltypeid"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['festival_type_code_name_is_req']}"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{bean.festivalMaster.festivalTypeMaster}">
											<f:selectItem itemLabel="Select" onSelectionOption="true" />
											<f:selectItems value="#{bean.festivalTypeMasterList}"
												var="festivaltype"
												itemLabel="#{festivaltype.code} / #{festivaltype.name}"
												itemValue="#{festivaltype}"></f:selectItems>
										</h:selectOneMenu>
									</div>
									<h:message for="festivaltypeid" class="validation-error-label" />
									<p:focus for="festivaltypeid" />
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['start_date']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend m-b-0">
										<p:calendar value="#{bean.festivalMaster.startDate}"
											readonlyInput="true"
											required="#{not empty param[submit.clientId]}" id="offsId"
											requiredMessage="#{msg['start_date_is_req']}"
											placeholder="dd-MMM-yyyy"
											styleClass="form-control-1 calend-icon-1"
											onchange="PF('toDateWidget').show();" pattern="dd-MMM-yyyy"
											navigator="true">
											<p:ajax event="dateSelect" update="idEndDate" />
										</p:calendar>
									</div>
									<h:message for="offsId" class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['end_date']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend m-b-0">
										<p:calendar value="#{bean.festivalMaster.endDate}"
											widgetVar="toDateWidget"
											mindate="#{bean.festivalMaster.startDate}"
											required="#{not empty param[submit.clientId]}" id="idEndDate"
											requiredMessage="#{msg['end_date_is_req']}"
											placeholder="dd-MMM-yyyy"
											styleClass="form-control-1 calend-icon-1"
											pattern="dd-MMM-yyyy" navigator="true">
											<p:ajax event="dateSelect" />
										</p:calendar>

									</div>
									<h:message for="idEndDate" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="">
									<p:outputLabel value="#{msg['status']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<h:selectOneMenu styleClass="form-control"
											value="#{bean.festivalMaster.activeStatus}">
											<f:selectItem itemValue="true" itemLabel="Active"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="In-Active"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon m-l-0"
									immediate="true" title="#{msg['cancel']}"
									onclick="window.location.href='#{request.contextPath}/pages/masters/listFestivalPeriodMaster.xhtml'" />

								<p:commandButton
									value="#{bean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
									title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									action="#{bean.saveOrUpdate}" update="growls @form"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" binding="#{submit}" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
		</h:form>
	</ui:define>
</ui:composition>