<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('ORGANIZATION_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{organizationMasterBean}"></ui:param>
		<ui:param name="address" value="#{addressMasterBean}"></ui:param>
		<h:form id="orgForm">
			<title>InfoTex | Organization</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action eq 'Create' ? msg['create_organ'] :
							msg['edit_organ']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li class="active">#{bean.action eq 'Create' ?
								msg['create_organ'] : msg['edit_organ']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content page-scroll-hp">
				<p:outputPanel id="panel">
					<!-- collapse panel -->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['organization']}
								<p:outputLabel styleClass="pull-right text-13">
                        (<span class="mand-red">*</span>
									<span>#{msg['mand_fields']})</span>
								</p:outputLabel>
							</h6>
						</div>
						<div class="panel-body p-t-10">
							<p:outputPanel id="organizationPanelForm">
								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-8">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['organ_type_code']} / #{msg['name']}"
														for="orgtypeid" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="orgtypeid" rendered="#{empty param[submit.clientId]}" />

													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="orgtypeid"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['organ_type_code_name_is_req']}"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{bean.organizationMaster.organizationTypeMaster}">
															<f:selectItem itemLabel="Select" onSelectionOption="true" />
															<f:selectItems value="#{bean.organizationTypeMasterList}"
																var="orgtype"
																itemLabel="#{orgtype.code} / #{orgtype.name}"
																itemValue="#{orgtype}"></f:selectItems>
															<p:ajax update="@this"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="orgtypeid" class="validation-error-label" />
													<p:focus for="orgtypeid" />
												</div>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group label-form">
													<p:outputLabel value="#{msg['parent']}" />
													<!-- <span class="mand-red">*</span> -->
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<p:autoComplete id="organizationParent" minQueryLength="2"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{bean.parentOrganization}" itemValue="#{org}"
															var="org" itemLabel="#{org.orgName}"
															completeMethod="#{organizationMasterBean.getOrganizationAutoComplecityData}"
															effect="fade">
															<p:ajax event="itemSelect" update="organizationParent"></p:ajax>
														</p:autoComplete>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['organization_code']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="orgcode"
															value="#{bean.organizationMaster.orgCode}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['organ_code_is_req']}">
															<p:keyFilter regEx="/[0-9a-z\d\s]/i" preventPaste="false"></p:keyFilter>
															<p:ajax update="@this"></p:ajax>
														</p:inputText>
													</div>
													<h:message for="orgcode" class="validation-error-label" />
													<p:tooltip for="orgcode" value="#{msg['code_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['org_name']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<p:inputText styleClass="form-control" id="orgname"
															value="#{bean.organizationMaster.orgName}"
															required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['organ_name_is_req']}">
															<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
															<p:ajax update="@this"></p:ajax>
														</p:inputText>
													</div>
													<h:message for="orgname" class="validation-error-label" />
													<p:tooltip for="orgname" value="#{msg['name_valid_msg']}" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['org_name']} (#{msg['in_tamil']})" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<p:inputText styleClass="form-control" id="localorgname"
															value="#{bean.organizationMaster.localOrgName}"
															requiredMessage="#{msg['organ_lname_is_req']}">
															<p:ajax update="@this"></p:ajax>
														</p:inputText>
													</div>
													<h:message for="localorgname"
														class="validation-error-label" />
													<p:tooltip for="localorgname"
														value="#{msg['name_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['ecs_code']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="ecscode"
															maxlength="10" value="#{bean.organizationMaster.ecsCode}">
															<p:ajax update="@this"></p:ajax>
														</p:inputText>
													</div>
													<p:tooltip for="ecscode" value="#{msg['code_valid_msg']}" />
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-4">
										<p:outputPanel id="addressid">
											<div class="row">
												<div class="col-lg-8 col-md-8 col-sm-8">
													<div class="form-group">
														<p:outputLabel value="#{msg['address']}" />
														<p:inputTextarea rows="4"
															class="form-control cust-textarea-height cust-dis-textarea"
															disabled="true" id="address" required="true"
															value="#{organizationMasterBean.address}" />
													</div>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-4">
													<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
													<p:commandButton id="btnAddressDialog"
														value="#{bean.action eq 'Create' ?  '&#xea0e;' :  '&#xeda7;' } #{bean.action eq 'Create'? msg['add']:msg['update']}"
														title="#{bean.action eq 'Create'?msg['add']:msg['update']}"
														styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon m-l-0 min-wid-auto' : 'btn bg-primary font-iconmoon m-l-0 min-wid-auto' }"
														immediate="true"
														action="#{addressMasterBean.openAddressDialog}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														oncomplete="PF('addressDialog').show();"
														update="addressDialogForm">
													</p:commandButton>
												</div>
											</div>
										</p:outputPanel>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											styleClass="btn btn-sm bg-slate font-iconmoon m-l-0"
											immediate="true" title="#{msg['cancel']}"
											onclick="window.location.href='#{request.contextPath}/pages/masters/listOrganizationMaster.xhtml'" />
										<p:commandButton
											value="#{bean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
											title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											action="#{bean.saveOrUpdate}"
											update="growls organizationPanelForm addressid"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();" binding="#{submit}" />
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</p:outputPanel>
			</div>
		</h:form>

		<ui:include src="/pages/address/addressPopup.xhtml">
			<ui:param name="parameterBean" value="#{organizationMasterBean}"></ui:param>
			<ui:param name="ctrlToUpdate" value="#{orgForm.address}"></ui:param>
		</ui:include>
	</ui:define>
</ui:composition>