<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form prependId="false" id="userprofile">
			<title>InfoTex | Group</title>

			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{groupBean.action eq 'ADD' ? msg['create_group'] :
							msg['edit_group']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['user_management']}</li>
							<li class="active">#{groupBean.action eq 'ADD' ?
								msg['create_group'] : msg['edit_group']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content page-scroll">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['group']}<span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<div class="panel-body p-t-10">
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group ">
									<p:outputLabel value="#{msg['group_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:inputText id="groupname" class="form-control fa-input"
											value="#{groupBean.groupDto.name}" tabindex="1"
											maxlength="50" required="true"
											requiredMessage="#{msg['group_name_req']}"
											validatorMessage="#{msg['group_name_valid_msg']}">
											<f:validateLength minimum="5" maximum="50" />
										</h:inputText>
									</div>
									<p:focus for="groupname" />
									<h:message id="groupnamemsg" for="groupname"
										class="validation-error-label" />
									<p:tooltip for="groupname"
										value="#{msg['group_name_valid_msg']}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group ">
									<p:outputLabel value="#{msg['status']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-check"></i></span>
										<h:selectOneMenu class="form-control"
											value="#{groupBean.groupDto.status}" tabindex="2">
											<f:selectItem itemLabel="Select" itemDisabled="true" />
											<f:selectItem itemLabel="Active" itemValue="true" />
											<f:selectItem itemLabel="Inactive" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}" tabindex="3"
									title="#{msg['cancel']}" immediate="true"
									styleClass="btn btn-sm bg-slate font-iconmoon"
									action="#{groupBean.cancel}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" />

								<p:commandButton tabindex="4"
									value="#{groupBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{groupBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{groupBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="btn btn-sm bg-success font-iconmoon"
									action="#{groupBean.saveGroup}"
									update="growls userprofile:groupnamemsg"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" />
							</div>
						</div>
					</div>


				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>