<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PRODUCT_CATEGORY_GROUP_ADD')}" />
		</f:metadata>
		<style>
.purchase-popup {
	height: 530px;
	overflow: auto;
}
</style>
		<title>InfoTex | Product Category Group</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{productCategoryGroupBean.action eq 'ADD' ?
						msg['create_pdt_cate_group'] : msg['ed_pdt_cate_group']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{productCategoryGroupBean.action eq 'ADD'
							? msg['create_pdt_cate_group'] : msg['ed_pdt_cate_group']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="panelid">
			<div class="content page-scroll">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['PNS_product_category_Group']}<span
									class="pull-right text-13">(<span class="text-danger">*</span>
									#{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['code']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="codenum"
													value="#{productCategoryGroupBean.productCategoryGroup.groupCode}"
													required="true" maxlength="5"
													requiredMessage="#{msg['code_is_req']}" placeholder="">
														<p:keyFilter regEx="/[0-9]/i "></p:keyFilter>
												</p:inputText>
											</div>
											<h:message for="codenum" styleClass="validation-error-label"></h:message>
											<p:tooltip for="codenum"
												value="#{msg['prod_cat_grp_code_valid_msg']}" />
											<p:focus for="codenum"></p:focus>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['name']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-grid6"></i></span>
												<p:inputText styleClass="form-control" id="name"
													value="#{productCategoryGroupBean.productCategoryGroup.groupName}"
													required="true" maxlength="150"
													requiredMessage="#{msg['name_is_req']}" placeholder="">
													<p:keyFilter regEx="/[a-z]/i "></p:keyFilter>
												</p:inputText>
											</div>
											<h:message for="name" styleClass="validation-error-label"></h:message>
											<p:tooltip for="name"
												value="#{msg['prod_cat_grp_name_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['name']} (#{msg['in_tamil']})" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-grid6"></i></span>
												<p:inputText styleClass="form-control" id="lname"
													value="#{productCategoryGroupBean.productCategoryGroup.regionalName}"
													required="true" maxlength="150"
													requiredMessage="#{msg['name_is_req']}" placeholder="">
													<p:keyFilter regEx="/[a-z]/i "></p:keyFilter>
												</p:inputText>
											</div>
											<h:message for="lname" styleClass="validation-error-label"></h:message>
											<p:tooltip for="lname"
												value="#{msg['prod_cat_grp_name_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class=" icon-file-check"></i></span>
												<h:selectOneMenu class="form-control" id="status"
													value="#{productCategoryGroupBean.productCategoryGroup.activeStatus}">
													<f:selectItem itemLabel="Active" itemValue="true" />
													<f:selectItem itemLabel="InActive" itemValue="false" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" class="btn bg-slate font-iconmoon m-r-0"
											title="#{msg['cancel']}"
											action="#{productCategoryGroupBean.showProductCategoryGroupListPage}"></p:commandButton>
										<p:commandButton
											value="#{productCategoryGroupBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;'}  #{productCategoryGroupBean.action eq 'ADD' ?  msg['submit'] :  msg['update']}"
											title="#{productCategoryGroupBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{productCategoryGroupBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											binding="#{submit}" update="panelid growls"
											action="#{productCategoryGroupBean.submit}"></p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>
	</ui:define>
</ui:composition>