<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | DA EMI Config</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['create_da_emi_config']}<span
							class="label stageLabel label-primary label-rounded"></span>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['create_da_emi_config']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content ">
			<div class="panel panel-info">
				<div class="panel-heading ">
					<h6 class="panel-title">
						#{msg['da_emi_config']}
						<p:outputLabel styleClass="pull-right text-13">
                     (<span class="mand-red">*</span>
							<span>#{msg['mand_fields']})</span>
						</p:outputLabel>
					</h6>
				</div>
				<div class="panel-body p-t-10 p-b-10 page-scroll-without-process">
					<div class="row label-form">
						<div class="col-lg-2 col-md-2 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['from_amt']}" />
								<span class="text-danger">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-inr fa-lg"></i></span>
									<p:inputText value="20000.00"
										styleClass="form-control text-right" id="fromAmt" />
								</div>
								<p:tooltip for="fromAmt" value="#{msg['amt_valid_msg']}" />
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['to_amt']}" />
								<span class="text-danger">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-inr fa-lg"></i></span>
									<p:inputText value="10000.00"
										styleClass="form-control text-right" id="toAmt" />
								</div>
								<p:tooltip for="toAmt" value="#{msg['amt_valid_msg']}" />
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['emi_count']}" />
								<span class="text-danger">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText value="5" id="emiCount" />
								</div>

							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 text-right">
							<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
							<p:commandButton value="&#xed6a; #{msg['cancel']}"
								styleClass="btn btn-sm bg-slate font-iconmoon"
								title="#{msg['cancel']}"
								onclick="window.location.href='#{request.contextPath}/pages/masters/listDaEmiConfig.xhtml'">
							</p:commandButton>
							<p:commandButton value="&#xed6e; #{msg['submit']}"
								styleClass="btn btn-sm bg-success font-iconmoon"
								title="#{msg['submit']}">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>