<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Vendor Master List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vendor_master_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['master']}</li>
						<li>#{msg['vendor_master_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						<strong>3</strong> - #{msg['vendor_master']}(s)<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
							onclick="window.location.href='#{request.contextPath}/pages/masters/createVendorMaster.xhtml'"
							class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}"
							class="btn bg-primary font-iconmoon" title="Edit">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon"
							title="#{msg['view']}">
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
						</p:commandButton>
						<p:commandButton value="&#xe916; #{msg['clear']}"
							class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
						</p:commandButton>

					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center width-3"><span
										class="ui-column-title">#</span></th>
									<th class="ui-state-default text-center width-15"><p:outputLabel
											value="#{msg['vendor_code']} / #{msg['name']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<input type="text" class="form-control" /></th>
									
									<th class="ui-state-default text-center width-15"><p:outputLabel
											value="#{msg['dt_reg']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:calendar pattern="dd-MM-yyyy" placeholder="dd-mm-yyyy"
											mask="true" styleClass="form-control calend-icon"
											navigator="true" /></th>	

									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['cname']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>

										<input type="text" class="form-control" /></th>

									<th class="ui-state-default text-center width-10"><p:outputLabel
											value="#{msg['email']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>

										<input type="text" class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['mob_no']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>

										<input type="text" class="form-control" /></th>	
									<th class="ui-state-default text-center width-15"><p:outputLabel
											value="#{msg['created_date']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:calendar pattern="dd-MM-yyyy" placeholder="dd-mm-yyyy"
											mask="true" styleClass="form-control calend-icon"
											navigator="true" /></th>
									<th class="ui-state-default text-center width-15"><p:outputLabel
											value="#{msg['status']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<select class="form-control">
											<option>Active</option>
											<option>In-active</option>
									</select></th>
									<th class="ui-state-default text-center width-4"><p:outputLabel
											value="#{msg['select']}" /></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>VDR0012 / Pratap &amp; Sons</td>
									<td class="text-center">12-Mar-2017</td>
									<td>Pratap.V</td>
									<td title="dropamailtoprotap25@gmail.com">dropamailtopro..</td>
									<td class="text-center">8945265478</td>
									<td class="text-center">12-Mar-2017</td>
									<td class="text-sucess text-center"><span
										class="label label-success width-custom">Active</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
								<tr>
									<td class="text-center">2</td>
									<td>VDR0014 / RamaKrishna &amp; Sons</td>
									<td class="text-center">12-Mar-2017</td>
									<td>R.krishna</td>
									<td title="dropamailto-r.krishna25@gmail.com">dropamailto-r.kri..</td>
									<td class="text-center">8945265478</td>
									<td class="text-center">12-Mar-2017</td>
									<td class="text-danger text-center"><span
										class="label label-danger width-custom">Inactive</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
								<tr>
									<td class="text-center">3</td>
									<td>VDR0016 / Deepshikha Complex</td>
									<td class="text-center">12-Mar-2017</td>
									<td>Deepshikha</td>
									<td title="dropamailtodeepshikhacomplex49@gmail.com">dropamailtodeepsh..</td>
									<td class="text-center">8945265478</td>
									<td class="text-center">12-Mar-2017</td>
									<td class="text-danger text-center"><span
										class="label label-danger width-custom">Inactive</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10" id="DataTables_Table_0_info ">
							<strong>(1 of 1)</strong>
						</div>
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label> <select class="">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
									</select>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="dataTables_info m-b-0 m-l-10"
						id="DataTables_Table_2_info" role="status" aria-live="polite">
						<button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button>
					</div>
				</div>
			</div>

		</div>
	</ui:define>
</ui:composition>