<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Region List</title>
		<h:form id="regionLitForm">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['region_list']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['user_management']}</li>
							<li class="active">#{msg['region_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>


			<div class="content">
				<div class="row">
					<div class="col-lg-6">
						<h6 class="panel-title">
							<b><h:outputText value="#{regionBean.regionListSize}"></h:outputText></b>
							- #{msg['region']}(s)<a class="heading-elements-toggle"><i
								class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-6 text-right">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								class="btn bg-success font-iconmoon" title="#{msg['add']}"
								action="#{regionBean.addRegion}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{regionBean.buttonName}" />
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"
								class="btn bg-primary font-iconmoon" update="growls"
								action="#{regionBean.editRegion}" title="#{msg['edit']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="EDIT"
									target="#{regionBean.buttonName}" />
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" rendered="false"
								class="btn bg-info heading-btn  font-iconmoon"
								onclick="PF('progressDlg').show();" title="#{msg['view']}"
								oncomplete="PF('progressDlg').hide();">
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}"
								class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
								action="#{regionBean.deleteRegion}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="DELETE"
									target="#{regionBean.buttonName}" />
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
								action="#{regionBean.clear}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
							</p:commandButton>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-body p-0">
						<p:dataTable id="table" var="data" rowKey="#{data.id}"
							widgetVar="Table" selection="#{regionBean.selectedRegion}"
							value="#{regionBean.regionList}" lazy="false"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							styleClass="" rowsPerPageTemplate="5,10,15" rowIndexVar="idx">

							<p:column headerText="#" class="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.name}"
								filterMatchMode="contains" headerText="#{msg['region_name']}"
								sortBy="#{data.name}" sortable="true">
								<f:facet name="Region Name">
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-city"></i></span>
										<p:inputText value="" class="form-control" />
									</div>
								</f:facet>
								<h:outputText value="#{data.name}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.createdBy.username}"
								filterMatchMode="contains" headerText="#{msg['created_by']}"
								styleClass="width-15" sortBy="#{data.createdBy.username}"
								sortable="true">
								<f:facet name="CreatedBy">
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<p:inputText value="" class="form-control" />
									</div>
								</f:facet>
								<h:outputText value="#{data.createdBy.username}" />
							</p:column>
							<p:column headerText="#{msg['created_date']}"
								sortBy="#{data.createdDate}" filterable="true"
								filterBy="#{data.createdDate}" sortable="true"
								styleClass="text-center width-15">
								<f:facet name="filter">
									<p:calendar id="regionpopup" navigator="true"
										placeholder="dd-mmm-yyyy" class="form-control calend-icon"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect" oncomplete="PF('Table').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
								</h:outputText>
							</p:column>

							<p:column sortBy="#{data.activeStatus}" sortable="true"
								filterable="true" filterBy="#{data.activeStatus}"
								styleClass="width-15 text-center" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control inline_select"
										onchange="PF('Table').filter()">
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="InActive" itemValue="false" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="label sts_shortl #{data.activeStatus eq 'true'?' label-success':'label label-default'}"
									value="#{data.activeStatus eq 'true'?'Active':'Inactive'}"></h:outputText>
							</p:column>


							<p:column selectionMode="single" headerText="#{msg['select']}"
								styleClass="width-4 text-center">
								<f:facet name="">
									<p:inputText value="">
									</p:inputText>
								</f:facet>
								<h:outputText value="">

								</h:outputText>
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</div>


			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true" closable="true" width="30%"
				widgetVar="confirmdelete" showEffect="fade" hideEffect="fade"
				closeOnEscape="true" resizable="false"
				styleClass="p-0 overlay-pop modal-dialog">

				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmdelete').hide()" />
					<p:spacer width="5px" />
					<p:commandButton ajax="false" value="&#xed6e;&nbsp;#{msg['yes']}"
						styleClass="btn bg-success heading-btn font-iconmoon"
						title="#{msg['yes']}" action="#{regionBean.confirmDelete}"
						immediate="true">
					</p:commandButton>
				</div>
			</p:dialog>
			
		</h:form>
	</ui:define>
</ui:composition>