<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('COURT_LIST')}" />
		</f:metadata>
		<title>InfoTex | Court List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['court_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li>#{msg['court_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{courtMasterBean.courtMasterListSize}" id="recordcount"></h:outputText></strong>
						- #{msg['court']}(#{msg['list_s']})<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}" id="addId"
								rendered="#{courtMasterBean.addButtonFlag and loginBean.userFeatures['COURT_ADD']}"
								title="#{msg['add']}" action="#{courtMasterBean.addCourtMaster}"
								class="btn bg-success font-iconmoon" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{courtMasterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								rendered="#{loginBean.userFeatures['COURT_EDIT']}"
								action="#{courtMasterBean.editCourtMaster}"
								title="#{msg['edit']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								rendered="#{loginBean.userFeatures['COURT_VIEW']}"
								title="#{msg['view']}"
								action="#{courtMasterBean.viewCourtMaster}"
								class="btn bg-info heading-btn  font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{courtMasterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								rendered="#{loginBean.userFeatures['COURT_DELETE']}"
								action="#{courtMasterBean.deleteCourtMaster}"
								title="#{msg['delete']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-danger font-iconmoon">
							</p:commandButton>
							
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								immediate="true" action="#{courtMasterBean.clear}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>




			<div class="panel">
				<div class="panel-body p-0">
					<p:dataTable id="courtmasterlisttable" var="data" class="table"
						widgetVar="courttablewdgt"
						selection="#{courtMasterBean.courtMaster}" rowKey="#{data.id}"
						value="#{courtMasterBean.courtMasterList}" lazy="false"
						emptyMessage="#{msg['no_records_found']}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rows="10" paginator="true" paginatorPosition="bottom"
						oncomplete="updateFilterSelection()" tableStyleClass=""
						rowsPerPageTemplate="5,10,15" rowIndexVar="idx">
						<p:ajax event="rowSelectRadio"
							listener="#{courtMasterBean.onRowSelect}"
							update=":#{p:component('addId')},#{p:component('menupanel')}" />
							
						<p:column headerText="#" class="width-3 text-center">
							<h:outputText value="#{idx+1}" />
						</p:column>
						
						<p:column filterable="true" filterBy="#{data.code}"
							styleClass="width-5" class="width-15 text-center"
							filterMatchMode="contains" headerText="#{msg['court_code']}"
							sortBy="#{data.code}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterCode" class="form-control "
									onkeyup="PF('courttablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.code}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.name}"
							styleClass="width-15" filterMatchMode="contains"
							headerText="#{msg['court_name']}" sortBy="#{data.name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterName" class="form-control "
									onkeyup="PF('courttablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.name}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.lname}"
							styleClass="width-20" filterMatchMode="contains"
							headerText="#{msg['court_name']} (#{msg['in_tamil']})"
							sortBy="#{data.lname}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterLcourtName" class="form-control "
									onkeyup="PF('courttablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.lname}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.placeName}"
							styleClass="width-15" filterMatchMode="contains"
							headerText="#{msg['court_place_name']}"
							sortBy="#{data.placeName}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterplaceName" class="form-control "
									onkeyup="PF('courttablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.placeName}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.placeLocalName}"
							styleClass="width-20" filterMatchMode="contains"
							headerText="#{msg['court_place_name']} (#{msg['in_tamil']})"
							sortBy="#{data.placeLocalName}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterplacelocalName"
									class="form-control " onkeyup="PF('courttablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.placeLocalName}" />
						</p:column>

						<p:column sortBy="#{data.activeStatus}" sortable="true"
							filterable="true" filterBy="#{data.activeStatus}"
							styleClass="text-center width-15" headerText="#{msg['status']}">
							<f:facet name="filter">
								<h:selectOneMenu id="statusFiter" class="form-control"
									onchange="PF('courttablewdgt').filter()">
									<f:selectItem itemLabel="Active" itemValue="true" />
									<f:selectItem itemLabel="InActive" itemValue="false" />
									<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>
							</f:facet>
							<h:outputText
								styleClass="label sts_shortl #{data.activeStatus eq 'true'?' label-success':'label label-default'}"
								value="#{data.activeStatus eq 'true'?'Active':'Inactive'}"></h:outputText>
						</p:column>

						<p:column headerText="#{msg['select']}" selectionMode="single"
							styleClass="text-center width-5" />
					</p:dataTable>
					<p:remoteCommand name="updateFilterSelection"
						update=":#{p:component('recordcount')}" autoRun="true" />
					<div class="dataTables_info m-b-0 m-l-10"
						id="DataTables_Table_2_info" role="status" aria-live="polite">
						<!-- <button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button> -->
					</div>
				</div>
			</div>
		</div>
		
		
		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="confirmCourtMasterDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmCourtMasterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{courtMasterBean.deleteCourtMasterConfirm}"
					oncomplete="PF('confirmCourtMasterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>