<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Gradewise Pay Config List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['gradewise_pay_config_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li>#{msg['pay_roll_config']}</li>
						<li class="active">#{msg['gradewise_pay_config_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><p:outputLabel id="totalSize"
								value="#{gradewisePayConfigBean.totalRecords}"
								styleClass="textb play_class" /></strong> - #{msg['gradewise']}
						#{msg['pay_conf']}(s) <a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<ui:remove>
							<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
								onclick="window.location.href='createGradewisePayConfig.xhtml'"
								class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"
								class="btn bg-primary font-iconmoon" title="Edit">
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}"
								onclick="window.location.href='viewGradewisePayConfig.xhtml'"
								class="btn bg-info heading-btn  font-iconmoon"
								title="#{msg['view']}">
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}"
								class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
							</p:commandButton>
						</ui:remove>

						<h:panelGroup id="menupanel">
							<p:commandButton update="growls"
								rendered="#{gradewisePayConfigBean.isAddButton}"
								action="#{gradewisePayConfigBean.loadPage}" id="addId"
								value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
								onclick="PF('progressDlg').show();"
								class="btn bg-success font-iconmoon"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{gradewisePayConfigBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{gradewisePayConfigBean.loadPage}" update="growls"
								class="btn bg-primary font-iconmoon ">
								<f:setPropertyActionListener value="EDIT"
									target="#{gradewisePayConfigBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								onclick="PF('progressDlg').show();" title="#{msg['view']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{gradewisePayConfigBean.loadPage}" update="growls"
								class="btn bg-info font-iconmoon ">
								<f:setPropertyActionListener value="VIEW"
									target="#{gradewisePayConfigBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								rendered="#{loginBean.userFeatures['EMP_INCREMENT_ADMIN_DETAILS_DELETE']}"
								id="idDelete" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['delete']}"
								action="#{gradewisePayConfigBean.loadPage}" update="growls"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{gradewisePayConfigBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{gradewisePayConfigBean.cancelGradeWisePay}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>



			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">

						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="table" tableStyleClass="" rowKey="#{data.id}"
							selection="#{gradewisePayConfigBean.selectedAllowanceGrade}"
							value="#{gradewisePayConfigBean.allowanceGradeLazyList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{gradewisePayConfigBean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('idDelete')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />

							<!-- SI No.  -->
							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!--Application Number.  -->
							<p:column id="code" filterable="true" filterBy="#{data.code}"
								filterMatchMode="contains" headerText="#{msg['code']}"
								sortBy="#{data.code}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="codeId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="codeId"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.code}" />
							</p:column>

							<p:column id="name" filterable="true" filterBy="#{data.name}"
								filterMatchMode="contains" headerText="#{msg['name']}"
								sortBy="#{data.name}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="nameId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.name}" />
							</p:column>

							<p:column id="lname" filterable="true"
								filterBy="#{data.localName}" filterMatchMode="contains"
								headerText="#{msg['name']} (#{msg['in_tamil']})"
								sortBy="#{data.localName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="lnameId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.localName}" />
							</p:column>

							<p:column id="allowanceType" filterable="true"
								filterBy="#{data.allowanceType}" filterMatchMode="contains"
								headerText="#{msg['allow_type']}" sortBy="#{data.allowanceType}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="allowanceTypeId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.allowanceType}" />
							</p:column>

							<p:column id="cdate" filterable="true"
								styleClass="text-center form-group_calend"
								filterBy="#{data.createdDate}" filterMatchMode="contains"
								headerText="#{msg['created_date']}" sortBy="#{data.createdDate}"
								sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="registrationDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" yearRange="c-100:c+100"
										maxdate="java.util.Date" mask="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>
							</p:column>

							<p:column id="status" filterable="true"
								filterBy="#{data.activeStatus}" filterMatchMode="contains"
								headerText="#{msg['status']}" class="text-center"
								sortBy="#{data.activeStatus}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('table').filter()"
										styleClass="form-control">
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="In-Active" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="ui-column-title label label-success width-custom"
									value="#{data.activeStatus eq 'true' ? 'Active' : 'Active'}"
									rendered="#{data.activeStatus eq 'true'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-danger width-custom"
									value="#{data.activeStatus eq 'false' ? 'In-Active' : 'In-Active'}"
									rendered="#{data.activeStatus eq 'false'}"></h:outputText>
							</p:column>

							<!-- Select Radio Button -->
							<p:column headerText="#{msg['select']}" styleClass="text-center"
								selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmUserDelete" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmUserDelete').hide()" />
				<p:commandButton update="growls" onstart="PF(statusDialog).show();"
					onsuccess="PF('statusDialog').hide();"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{gradewisePayConfigBean.deleteGrade}"
					oncomplete="PF('confirmUserDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>