<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Filter Color List</title>
		
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['filter_clr_list']}</h4>
					<ul class="breadcrumb">
						<li><i class="icon-home2 position-left"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li class="active">#{msg['filter_clr_list']}</li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title">
						<b><h:outputText value="2"></h:outputText></b> - #{msg['tot']} #{msg['filter_clr']}(s)
					</h6>
				</div>
					<div class="col-lg-6 text-right">
						<div class="form-group m-b-10">
							<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}" 
								class="btn bg-success font-iconmoon m-r-0" >
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"  
							title="#{msg['edit']}" class="btn bg-primary font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}" 
								title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
							</p:commandButton>
							</p:outputPanel>
						</div>						
					</div>					
				</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
					<table class="cust-table">
						<thead>
							<tr>
								<th class="text-center">#</th>
								<th class="">#{msg['filter_clr_code']}
								<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText styleClass="form-control"></p:inputText>
								</th>
								<th class="">#{msg['filter_clr_name']}
								<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText styleClass="form-control"></p:inputText>
								</th>
								<th class="">Filter Color Name (in Tamil)
								<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText styleClass="form-control"></p:inputText>
								</th>
								<th class="text-center">#{msg['status']}
								<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<select class="form-control">
											    <option>Select</option> 
												<option>Active</option>
												<option>In Active</option>
											</select>
								</th>
								<th class="text-center">#{msg['select']}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td class="text-center">843435WE98</td>
								<td class="">Filter Color</td>
								<td class="">வடிகட்டி நிறம்</td>
								<td class="text-center"><span class="label label-success sts_shortl">Active</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td class="text-center">843435DF34</td>
								<td class="">Filter Color</td>
								<td class="">வடிகட்டி நிறம்</td>
								<td class="text-center"><span class="label label-default sts_shortl">Inactive</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
						</tbody>
					</table>
					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info "><strong>(1 of 1)</strong></div>	
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li class="disabled"><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<select class="">
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>
							</li>
						</ul>
					</div>
			
					</div>
				</div>
			</div>
			
		</div>
		
	</ui:define>
		</ui:composition>