<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PRODUCT_CATEGORY_GROUP_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{productCategoryGroupBean}"></ui:param>
		<title>InfoTex | List Product Category Group</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['pdt_cate_group_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['pdt_cate_group_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText> </strong> -
						#{msg['PNS_product_category_Group']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="buttonpanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								rendered="#{loginBean.userFeatures['PRODUCT_CATEGORY_GROUP_ADD']}"
								action="#{bean.addProductCategoryGroup}"
								class="btn bg-success font-iconmoon" update="growls"
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="ADD" target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe912; #{msg['edit']}"
								rendered="#{loginBean.userFeatures['PRODUCT_CATEGORY_GROUP_EDIT']}"
								action="#{bean.editProductCategoryGroup}" title="#{msg['edit']}"
								update="growls" id="editId" class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="EDIT"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								rendered="#{loginBean.userFeatures['PRODUCT_CATEGORY_GROUP_VIEW']}"
								title="#{msg['view']}" action="#{bean.viewProductCategoryGroup}"
								class="btn bg-info heading-btn  font-iconmoon" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.deleteProductCategoryGroup}"
								rendered="#{loginBean.userFeatures['PRODUCT_CATEGORY_GROUP_DELETE']}"
								title="#{msg['delete']}" update="growls"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe916; #{msg['clear']}"
								action="#{bean.clear}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="table-responsive">
						<div class="panel panel-info ">
							<div class="panel-body p-0">
								<div class="table-responsive">
									<p:dataTable widgetVar="productcategorygrouptablewdgt"
										class="table" id="productcategorygroupid" rowKey="#{data.id}"
										value="#{bean.lazyProductCategoryGroupList}"
										selection="#{bean.selectedProductCategoryGroup}" var="data"
										rowIndexVar="idx" lazy="true"
										emptyMessage="#{msg['no_record_found']}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rows="10" paginator="true" paginatorPosition="bottom"
										tableStyleClass="" rowsPerPageTemplate="5,10,15">

										<p:ajax event="filter" oncomplete="updateFilterSelection()" />
										<p:ajax event="page" onstart="PF('progressDlg').show()"
											onsuccess="PF('progressDlg').hide()" />

										<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
											update=":#{p:component('addId')},#{p:component('buttonpanel')}" />

										<p:column headerText="#{msg['s_no']}"
											class="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										
										<p:column filterable="true" styleClass="width-15"
											sortable="true" filterMatchMode="contains"
											sortBy="#{data.groupCode}" filterBy="#{data.groupCode}"
											headerText="#{msg['code']}">
											<h:outputText value="#{data.groupCode}" />
										</p:column>
										
										<p:column styleClass="width-15" filterable="true"
											sortable="true" filterMatchMode="contains"
											sortBy="#{data.groupName}" filterBy="#{data.groupName}"
											headerText="#{msg['name']}">
											<h:outputText value="#{data.groupName}" />
										</p:column>
										<p:column styleClass="width-17" filterable="true"
											sortable="true" filterMatchMode="contains"
											sortBy="#{data.regionalName}" filterBy="#{data.regionalName}"
											headerText="#{msg['name']} (#{msg['in_tamil']})">
											<h:outputText value="#{data.regionalName}" />
										</p:column>

										<p:column headerText="#{msg['created_date']}"
											filterMatchMode="contains"
											styleClass="text-center width-10 form-group_calend"
											filterable="true" sortable="true"
											filterBy="#{data.createdDate}" sortBy="#{data.createdDate}">
											<f:facet name="filter">
												<p:calendar id="popup" class="form-control calend-icon"
													navigator="true" placeholder="dd-MMM-yyyy"
													pattern="dd-MMM-yyyy">
													<p:ajax event="dateSelect"
														oncomplete="PF('productcategorygrouptablewdgt').filter()" />
												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.createdDate}">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-yyyy" />
											</h:outputText>
										</p:column>

										<p:column sortBy="#{data.activeStatus}" sortable="true"
											filterable="true" filterBy="#{data.activeStatus}"
											styleClass="text-center width-12"
											headerText="#{msg['status']}">
											<f:facet name="filter">
												<h:selectOneMenu id="statusFiter" class="form-control"
													onchange="PF('productcategorygrouptablewdgt').filter()">
													<f:selectItem itemLabel="Active" itemValue="true" />
													<f:selectItem itemLabel="InActive" itemValue="false" />
													<f:selectItem itemLabel="Select" />
												</h:selectOneMenu>
											</f:facet>

											<h:outputText
												styleClass="label sts_shortl #{data.activeStatus eq 'true'?' label-success':'label label-default'}"
												value="#{data.activeStatus eq 'true'?'Active':'Inactive'}"></h:outputText>
										</p:column>

										<p:column headerText="#{msg['select']}" selectionMode="single"
											styleClass="width-4 text-center" />
									</p:dataTable>
									<p:remoteCommand name="updateFilterSelection"
										update=":#{p:component('recordcount')}" autoRun="true" />



								</div>

								<!-- 										<div class="dataTables_info m-b-0 m-l-10" -->
								<!-- 											id="DataTables_Table_2_info" role="status" aria-live="polite"> -->
								<!-- 											<button type="button" title="Download PDF" -->
								<!-- 												class="btn btn-primary btn-xs"> -->
								<!-- 												<i class="icon-file-pdf position-left"></i>PDF -->
								<!-- 											</button> -->
								<!-- 											<button type="button" title="Download Excel" -->
								<!-- 												class="btn btn-success btn-xs"> -->
								<!-- 												<i class="icon-file-excel position-left"></i>Excel -->
								<!-- 											</button> -->
								<!-- 										</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Confirm Delete Start -->
		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmProductCategoryGroupDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmProductCategoryGroupDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteProductCategoryGroupConfirm}"
					oncomplete="PF('confirmProductCategoryGroupDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Confirm Delete End -->
	</ui:define>
</ui:composition>