<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('SILK_PRODUCT_COSTING_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{silkProductCastingBean}"></ui:param>
		<title>InfoTex | Silk Product Costing List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['silk_prod_cost_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li>#{msg['silk_prod_cost_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{bean.totalRecords}" id="recordcount"></h:outputText></span> -
						#{msg['silk_prod_cost']}(#{msg['list_s']})<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}"
							title="#{msg['add']}" id="addId"
							disabled="#{bean.disableAddButton}"
							action="#{bean.goToCreatePage}"
							rendered="#{loginBean.userFeatures['SILK_PRODUCT_COSTING_ADD']}"
							class="btn bg-success font-iconmoon" update="growls"
							onclick="PF('progressDlg').show();">
						</p:commandButton>

						<p:commandButton value="&#xe912; #{msg['edit']}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							rendered="#{loginBean.userFeatures['SILK_PRODUCT_COSTING_EDIT']}"
							action="#{bean.editSilkProductCosting}" title="#{msg['edit']}"
							update="growls" id="editId" class="btn bg-primary font-iconmoon">
						</p:commandButton>

						<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
							onclick="PF('progressDlg').show();"
							rendered="#{loginBean.userFeatures['SILK_PRODUCT_COSTING_VIEW']}"
							oncomplete="PF('progressDlg').hide();" title="#{msg['view']}"
							action="#{bean.gotoViewPage}"
							class="btn bg-info heading-btn  font-iconmoon" update="growls">
						</p:commandButton>

						<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
							onclick="PF('progressDlg').show();"
							rendered="#{loginBean.userFeatures['SILK_PRODUCT_COSTING_DELETE']}"
							oncomplete="PF('progressDlg').hide();"
							action="#{bean.deleteSilkProductCosting}"
							title="#{msg['delete']}" update="growls"
							class="btn bg-danger font-iconmoon">
						</p:commandButton>

						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
							action="#{bean.clear}" onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();">
						</p:commandButton>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="silkProductCostingId"
							widgetVar="silkProductCostingTableWdgt" class="table" var="data"
							rowKey="#{data.id}"
							selection="#{bean.selectedProductCostingMaster}"
							value="#{bean.productCostingMasterLazyList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="5" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')}" />

							<p:column headerText="#{msg['s_no']}" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true"
								filterBy="#{data.supplierMaster.code}"
								filterMatchMode="contains" styleClass="width-20"
								headerText="#{msg['sup_code']} / #{msg['name']}"
								sortBy="#{data.supplierMaster.code}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="supplierMasterCode" class="form-control"
										onkeyup="PF('silkProductCostingTableWdgt').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.supplierMaster.code} / #{data.supplierMaster.name}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.silkCost}"
								filterMatchMode="contains"
								headerText="#{msg['silk_cost']} (&#xf156;)"
								styleClass="fa-input text-right" sortBy="#{data.silkCost}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="silkCostId" class="form-control "
										onkeyup="PF('silkProductCostingTableWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.silkCost}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.jariCost}"
								filterMatchMode="contains"
								headerText="#{msg['zari_cost']} (&#xf156;)"
								styleClass="fa-input text-right" sortBy="#{data.jariCost}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="jariCostId" class="form-control "
										onkeyup="PF('silkProductCostingTableWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.jariCost}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.techJariCost}"
								filterMatchMode="contains"
								headerText="#{msg['tech_zari_cost']} (&#xf156;)"
								styleClass="fa-input text-right" sortBy="#{data.techJariCost}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="techJariCostId" class="form-control "
										onkeyup="PF('silkProductCostingTableWdgt').filter()" />
								</f:facet>

								<h:outputText value="#{data.techJariCost}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['from_date']}"
								styleClass="text-center form-group_calend" filterable="true"
								sortable="true" filterBy="#{data.fromDate}"
								sortBy="#{data.fromDate}">
								<f:facet name="filter">
									<p:calendar id="popup" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('silkProductCostingTableWdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.fromDate}">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['to_date']}"
								styleClass="text-center form-group_calend" filterable="true"
								sortable="true" filterBy="#{data.toDate}"
								sortBy="#{data.toDate}">
								<f:facet name="filter">
									<p:calendar id="toDate" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('silkProductCostingTableWdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.toDate}">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['created_date']}"
								styleClass="text-center form-group_calend" filterable="true"
								sortable="true" filterBy="#{data.createdDate}"
								sortBy="#{data.createdDate}">
								<f:facet name="filter">
									<p:calendar id="createDate" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('silkProductCostingTableWdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
								</h:outputText>
							</p:column>
							<!-- <p:column sortBy="#{data.activeStatus}" sortable="true"
								filterable="true" filterBy="#{data.activeStatus}"
								styleClass="text-center" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu id="statusFiter" class="form-control"
										onchange="PF('silkProductCostingTableWdgt').filter()">
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="InActive" itemValue="false" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="label sts_shortl #{data.activeStatus eq 'true'?' label-success':'label label-danger'}"
									value="#{data.activeStatus eq 'true'?'Active':'Inactive'}"></h:outputText>
							</p:column> -->

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />

						</p:dataTable>

						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />

					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmSilkProductCostingDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmSilkProductCostingDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deletetSilkProduCtCosting}"
					oncomplete="PF('confirmSilkProductCostingDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>