<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PAY_SCALE_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{payScaleBean}"></ui:param>
		<title>InfoTex | Pay Scale List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['pay_scale_lst']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['pay_scale_lst']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />

			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{payScaleBean.totalRecords}" id="recordcount"></h:outputText></span>
						<!-- <strong>#{payScaleBean.totalRecords}</strong> -->
						- #{msg['pay_scale']}(#{msg['list_s']})<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
								title="#{msg['add']}"
								rendered="#{payScaleBean.addButton and loginBean.userFeatures['PAY_SCALE_ADD']}"
								id="addId" class="btn bg-success font-iconmoon m-r-0"
								action="#{payScaleBean.showPayScaleForm}">
								<f:setPropertyActionListener value="ADD"
									target="#{payScaleBean.action}" />
							</p:commandButton>

							<p:commandButton update="growls"
								action="#{payScaleBean.showPayScaleForm}"
								rendered="#{payScaleBean.editButtonFlag and loginBean.userFeatures['PAY_SCALE_EDIT']}"
								value="&#xe912;&nbsp;#{msg['edit']}" title="#{msg['edit']}"
								class="btn bg-primary font-iconmoon ">
								<f:setPropertyActionListener value="EDIT"
									target="#{payScaleBean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton update="growls"
								rendered="#{loginBean.userFeatures['PAY_SCALE_VIEW']}"
								action="#{payScaleBean.showPayScaleForm}"
								value="&#xea18;&nbsp;#{msg['view']}" title="#{msg['view']}"
								class="btn bg-info heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="View"
									target="#{payScaleBean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								update="growls"
								rendered="#{loginBean.userFeatures['PAY_SCALE_DELETE']}"
								action="#{payScaleBean.showPayScaleForm}"
								title="#{msg['delete']}"
								class="btn bg-danger heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{payScaleBean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" action="#{payScaleBean.cancel}"
								styleClass="btn btn-sm bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table">
									<div class="ui-datatable-scrollable-header-box cust-table">
										<p:dataTable id="table" var="data" rowKey="#{data.id}"
											selection="#{payScaleBean.payScaleSelect}"
											widgetVar="payscaleListTable" emptyMessage="#{msg['no_records_found']}"
											value="#{payScaleBean.lazyPayScaleMasterList}" lazy="true"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											rows="10" paginator="true" paginatorPosition="bottom"
											tableStyleClass="" rowsPerPageTemplate="5,10,15"
											rowIndexVar="idx">

											<p:ajax event="filter" oncomplete="updateFilterSelection()" />
											<p:ajax event="page" onstart="PF('progressDlg').show()"
												onsuccess="PF('progressDlg').hide()" />
											<p:ajax event="rowSelectRadio"
												listener="#{payScaleBean.onRowSelect}"
												update=":#{p:component('addId')},#{p:component('menupanel')}" />

											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<!-- <p:column filterable="true" filterBy="#{data.id}"
												filterMatchMode="contains" style="width:25%;"
												headerText="ID" sortBy="#{data.id}" sortable="true">
												<h:outputText value="#{data.id}" />
											</p:column> -->

											<p:column filterable="true" filterBy="#{data.fromAmount}"
												filterMatchMode="contains"
												styleClass="text-right width-10 fa-input"
												headerText="#{msg['from_amt']} (&#xf156;)"
												sortBy="#{data.fromAmount}" sortable="true">
												<f:facet name="filter">
													<p:inputText id="code" class="form-control"
														onkeyup="PF('payscaleListTable').filter()" />
												</f:facet>
												<h:outputText value="#{data.fromAmount}">
													<f:convertNumber minFractionDigits="0" pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column filterable="true" filterBy="#{data.toAmount}"
												filterMatchMode="contains"
												styleClass="text-right width-10 fa-input"
												headerText="#{msg['to_amt']} (&#xf156;)"
												sortBy="#{data.toAmount}" sortable="true">
												<h:outputText value="#{data.toAmount}">
													<f:convertNumber minFractionDigits="0" pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column filterable="true" filterBy="#{data.createdDate}"
												styleClass="text-center width-10 form-group_calend"
												filterMatchMode="contains"
												headerText="#{msg['created_date']}"
												sortBy="#{data.createdDate}" sortable="true">
												<f:facet name="filter">
													<p:calendar onchange="PF('payscaleListTable').filter()"
														id="createddate" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" mask="true"
														yearRange="c-10:c+10" navigator="true"
														styleClass="form-control calend-icon">
														<p:ajax event="dateSelect"
															oncomplete="PF('payscaleListTable').filter()" />
													</p:calendar>
												</f:facet>
												<h:outputText value="#{data.createdDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}"></f:convertDateTime>
												</h:outputText>
											</p:column>

											<p:column filterable="true"
												filterBy="#{data.createdBy.username}"
												filterMatchMode="contains" styleClass="width-10"
												sortBy="#{data.createdBy.username}"
												headerText="#{msg['created_by']}" sortable="true">

												<f:facet name="filter">
													<p:inputText id="createdby" class="form-control"
														onkeyup="PF('payscaleListTable').filter()" />
												</f:facet>
												<h:outputText value="#{data.createdBy.username}" />
											</p:column>

											<p:column selectionMode="single"
												headerText="#{msg['select']}"
												styleClass="text-center width-4">
											</p:column>
										</p:dataTable>
										<p:remoteCommand name="updateFilterSelection"
											update=":#{p:component('recordcount')}" autoRun="true" />
										<!-- Pagination End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmPayScaleDelete" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmPayScaleDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deletePayScale}"
					oncomplete="PF('confirmPayScaleDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		
	</ui:define>
</ui:composition>