<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Group List</title>
		<h:form id="grouplistform" prependId="false">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['group_list']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['user_management']}</li>
							<li class="active">#{msg['group_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-lg-6">
						<h6 class="panel-title">
							<b><h:outputText value="#{groupBean.groupListSize}"></h:outputText></b>
							- #{msg['group']}(s)<a class="heading-elements-toggle"><i
								class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-6 text-right">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" action="#{groupBean.addGroup}"
								class="btn bg-success font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"></p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}" update="growls"
								rendered="#{loginBean.userFeatures['GROUP_EDIT']}"
								title="#{msg['edit']}" class="btn bg-primary font-iconmoon"
								action="#{groupBean.editGroup}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" rendered="false"
								title="#{msg['view']}"
								class="btn bg-info heading-btn  font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
							</p:commandButton>
							
							<p:commandButton value="&#xe99e; #{msg['delete']}"
								rendered="#{loginBean.userFeatures['GROUP_DELETE']}"
								class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
								action="#{groupBean.deleteGroup}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">

							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
								action="#{groupBean.clear}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								update="grouptable grouplistpanel">
							</p:commandButton>
						</div>
					</div>
				</div>

				<div class="panel">
					<div class="panel-body p-0">
						<p:outputPanel id="grouplistpanel">
							<p:dataTable id="grouptable" var="data" class="table"
								widgetVar="grouptablewdgt" rowKey="#{data.id}"
								selection="#{groupBean.selectedGroupDto}"
								value="#{groupBean.groupList}" lazy="false"
								emptyMessage="#{msg['no_records_found']}"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rows="10" paginator="true" paginatorPosition="bottom"
								tableStyleClass="" rowsPerPageTemplate="5,10,15"
								rowIndexVar="idx">

								<p:column headerText="#" class="text-center width-3">
									<h:outputText value="#{idx+1}" />
								</p:column>

								<p:column filterable="true" filterBy="#{data.name}"
									filterMatchMode="contains" headerText="#{msg['group_name']}"
									sortBy="#{data.name}" sortable="true" styleClass="">
									<f:facet name="filter">
										<h:selectOneMenu onchange="PF('grouptablewdgt').filter()"
											id="groupDropdown" class="form-control inline_select">
											<f:selectItem itemLabel="#{msg['select']}"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{groupBean.groupList}" var="group"
												itemLabel="#{group.name}" itemValue="#{group.name}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{data.name}" />
								</p:column>

								<p:column sortBy="#{data.type}" sortable="true"
									filterable="true" filterBy="#{data.type}"
									styleClass="text-center width-15" headerText="#{msg['status']}">
									<f:facet name="filter">
										<h:selectOneMenu id="statusFiter"
											class="form-control inline_select"
											onchange="PF('grouptablewdgt').filter()">
											<f:selectItem itemLabel="Active" itemValue="Active" />
											<f:selectItem itemLabel="InActive" itemValue="InActive" />
											<f:selectItem itemLabel="#{msg['select']}" />
										</h:selectOneMenu>

									</f:facet>
									<h:outputText
										styleClass="#{data.type eq 'Active'?'label label-success sts_shortl':'label label-default sts_shortl'}"
										value="#{data.type}"></h:outputText>
								</p:column>
								<p:column headerText="#{msg['select']}"
									styleClass="text-center width-4" selectionMode="single" />
							</p:dataTable>
						</p:outputPanel>
					</div>
				</div>
			</div>


			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true" closable="true" width="30%"
				widgetVar="confirmdelete" showEffect="fade" hideEffect="fade"
				closeOnEscape="true" resizable="false"
				styleClass="p-0 overlay-pop modal-dialog">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmdelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
						action="#{groupBean.confirmDelete}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>


		</h:form>
	</ui:define>
</ui:composition>