<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('STAFF_ELIGIBILITY_MASTER_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{staffEligibilitySalesMasterBean}"></ui:param>
		<title>InfoTex | Staff Eligibility List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['li_staff_eli']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['li_staff_eli']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{bean.totalRecords}" id="recordcount"></h:outputText></span> -
						#{msg['staff_elg']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>

				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{bean.goToStaffEligibilitySalesMasterCreatePage}"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['STAFF_ELIGIBILITY_MASTER_ADD']}"
								class="btn bg-success font-iconmoon" update="growls">
								<f:setPropertyActionListener value="ADD" target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe912; #{msg['edit']}"
								title="#{msg['edit']}" id="editId"
								rendered="#{bean.editButtonFlag and loginBean.userFeatures['STAFF_ELIGIBILITY_MASTER_EDIT']}"
								action="#{bean.goToStaffEligibilitySalesMasterEditPage}"
								class="btn bg-primary font-iconmoon" update="growls">
								<f:setPropertyActionListener value="EDIT"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['view']}"
								action="#{bean.goToStaffEligibilitySalesMasterViewPage}"
								rendered="#{bean.viewButtonFlag and loginBean.userFeatures['STAFF_ELIGIBILITY_MASTER_VIEW']}"
								class="btn bg-info heading-btn  font-iconmoon" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.deletetStaffEligibilitySalesMaster}"
								title="#{msg['delete']}" update="growls"
								rendered="#{bean.deleteButtonFlag and loginBean.userFeatures['STAFF_ELIGIBILITY_MASTER_DELETE']}"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916; #{msg['clear']}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
								action="#{bean.clear}">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="staffEligibilitySalesMasterId"
							widgetVar="staffEligibilitySalesMasterTableWdgt" class="table"
							var="data" rowKey="#{data.id}"
							selection="#{bean.selectedStaffEligibilitySalesMaster}"
							value="#{bean.lazyStaffEligibilitySalesMasterList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="5" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('menupanel')}" />

							<p:column headerText="#" class="width-5 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.minSales}"
								filterMatchMode="contains" styleClass="text-right fa-input"
								headerText="#{msg['min_sales_in_lakhs']} (&#xf156;)"
								sortBy="#{data.minSales}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="minSalesId" class="form-control"
										onkeyup="PF('staffEligibilitySalesMasterTableWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.minSales}">
									<f:convertNumber pattern="#0.00"></f:convertNumber>
								</h:outputText>
							</p:column>


							<p:column filterable="true" filterBy="#{data.maxSales}"
								filterMatchMode="contains" styleClass="text-right fa-input"
								headerText="#{msg['max_sales_in_lakhs']} (&#xf156;)"
								sortBy="#{data.maxSales}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="maxSalesId" class="form-control"
										onkeyup="PF('staffEligibilitySalesMasterTableWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.maxSales}">
									<f:convertNumber pattern="#0.00"></f:convertNumber>
								</h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.staffEligibility}"
								filterMatchMode="contains" headerText="#{msg['staff_elg']}"
								sortBy="#{data.staffEligibility}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="staffEligibilityId" class="form-control "
										onkeyup="PF('staffEligibilitySalesMasterTableWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.staffEligibility}" />
							</p:column>

							<p:column sortBy="#{data.status}" sortable="true"
								filterable="true" filterBy="#{data.status}"
								styleClass="text-center" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu id="statusFiter" class="form-control"
										onchange="PF('staffEligibilitySalesMasterTableWdgt').filter()">
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="InActive" itemValue="false" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="label sts_shortl #{data.status eq 'true'?' label-success':'label label-default'}"
									value="#{data.status eq 'true'?'Active':'Inactive'}"></h:outputText>
							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-5" />

						</p:dataTable>

						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog text-left" closable="true"
			width="30%" widgetVar="confirmStaffEligibilitySalesMasterDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmStaffEligibilitySalesMasterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deletetStaffEligibilitySalesMasterConfirm}"
					oncomplete="PF('confirmStaffEligibilitySalesMasterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>
