<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PROFILE')}" />
		</f:metadata>
		<title>InfoTex | Profile List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['profile_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['profile_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{profileMasterBean.totalRecords}" id="recordcount"></h:outputText></strong>
						- #{msg['profile']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
							id="addbutton" action="#{profileMasterBean.showAddPage}"
							disabled="#{!profileMasterBean.addButtonFlag}"
							onclick="PF('progressDlg').show();"
							rendered="#{loginBean.userFeatures['PROFILE_ADD']}"
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}"
							action="#{profileMasterBean.showEditPage}" update="growls"
							onclick="PF('progressDlg').show();"
							rendered="#{loginBean.userFeatures['PROFILE_EDIT']}"
							oncomplete="PF('progressDlg').hide();" title="#{msg['edit']}"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>

						<p:commandButton value="&#xea18; #{msg['view']}"
							rendered="#{loginBean.userFeatures['PROFILE_VIEW']}"
							title="#{msg['view']}" class="btn bg-info font-iconmoon"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							action="#{profileMasterBean.showViewPage}" update="growls">
						</p:commandButton>

						<p:commandButton value="&#xe99e; #{msg['delete']}"
							rendered="#{loginBean.userFeatures['PROFILE_DELETE']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							action="#{profileMasterBean.deleteProfile}" update="growls">
						</p:commandButton>

						<p:commandButton value="&#xe916; #{msg['clear']}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
							class="btn bg-slate font-iconmoon"
							action="#{profileMasterBean.showListPage}">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" class="table" widgetVar="table"
							tableStyleClass="" lazy="true"
							selection="#{profileMasterBean.responseDto}"
							value="#{profileMasterBean.profileLazyList}" rowKey="#{data.id}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="10,15" rows="10" rowIndexVar="idx"
							emptyMessage="#{msg['no_records_found']}"
							oncomplete="updateFilterSelection()">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="rowSelectRadio"
								listener="#{profileMasterBean.onRowSelect}" update="addbutton" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column headerText="#{msg['group']}" filterMatchMode="contains"
								styleClass="width-10" filterable="true"
								filterBy="#{data.groupName}" sortBy="#{data.groupName}"
								sortable="true">
								<h:outputText value="#{data.groupName}" />
							</p:column>

							<p:column filterable="true" styleClass="width-12"
								filterBy="#{data.entityTypeCodeOrName}"
								sortBy="#{data.entityTypeCodeOrName}" filterMatchMode="contains"
								sortable="true"
								headerText="#{msg['entity_master_code']} / #{msg['name']}">
								<h:outputText
									value="#{data.entityTypeCode} / #{data.entityTypeName}"></h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.entityCodeOrName}"
								sortBy="#{data.entityCodeOrName}" filterMatchMode="contains"
								sortable="true" styleClass="width-12"
								headerText="#{msg['enty_code']} / #{msg['name']}">
								<h:outputText value="#{data.entityCode} / #{data.entityName}"></h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.gstNumber}"
								styleClass="text-center width-10" sortBy="#{data.gstNumber}"
								filterMatchMode="contains" sortable="true"
								headerText="#{msg['gst_no']}">
								<h:outputText value="#{data.gstNumber}"></h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.regionCodeOrName}"
								sortBy="#{data.regionCodeOrName}" filterMatchMode="contains"
								sortable="true" styleClass="width-11"
								headerText="#{msg['region_code']} / #{msg['name']}">
								<h:outputText value="#{data.regionCode} / #{data.regionName}"
									rendered="#{not empty data.regionCode}"></h:outputText>
							</p:column>

							<p:column headerText="#{msg['created_date']}"
								filterBy="#{data.createdDate}"
								styleClass="text-center form-group_calend width-10"
								filterMatchMode="equals" sortBy="#{data.createdDate}"
								sortable="true">

								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="planFrom" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" styleClass="form-control calend-icon text-center">
										<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column filterBy=" #{data.activeStatus}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy="#{data.activeStatus}" sortable="true"
								styleClass="text-center width-4">
								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('table').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
										<f:selectItem itemLabel="#{msg['inactive']}" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{msg['active']}"
									styleClass="label label-success sts_shortl"
									rendered="#{data.activeStatus eq true}" />

								<h:outputText value="#{msg['inactive']}"
									styleClass="label label-default sts_shortl"
									rendered="#{data.activeStatus eq false}" />
							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="width-4 text-center">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>




					<ui:remove>
						<div class="dataTables_info m-b-0 m-l-10"
							id="DataTables_Table_2_info" role="status" aria-live="polite">
							<button type="button" title="Download PDF"
								class="btn btn-primary btn-xs">
								<i class="icon-file-pdf position-left"></i>PDF
							</button>
							<button type="button" title="Download Excel"
								class="btn btn-success btn-xs">
								<i class="icon-file-excel position-left"></i>Excel
							</button>
						</div>
					</ui:remove>
				</div>
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="dlg1" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					onclick="PF('dlg1').hide();" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{productVarietyMasterBean.confirmDelete}"
					onclick="PF('dlg1').hide();">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>