<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('VENUE_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{venueBean}"></ui:param>
		<title>InfoTex | Venue List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['venue_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li>#{msg['venue_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{bean.totalRecords}" id="recordcount"></h:outputText></span> -
						#{msg['venue_list']}(#{msg['list_s']}) <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['VENUE_ADD']}"
								title="#{msg['add']}" id="addId" action="#{bean.addVenuMaster}"
								class="btn bg-success font-iconmoon" update="growls"
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}"
								rendered="#{loginBean.userFeatures['VENUE_EDIT']}"
								action="#{bean.editVenuMaster}" title="#{msg['edit']}"
								update="growls" id="editId" class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['view']}" action="#{bean.viewVenuMaster}"
								rendered="#{loginBean.userFeatures['VENUE_VIEW']}"
								class="btn bg-info heading-btn  font-iconmoon" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<ui:remove>
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.deleteVenueMaster}" title="#{msg['delete']}"
								rendered="#{loginBean.userFeatures['VENUE_DELETE']}"
								update="growls" class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							</ui:remove>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								immediate="true" action="#{bean.clear}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable widgetVar="tendercategorytablewdgt" class="table"
							id="venueMasterList" rowKey="#{data.id}"
							value="#{bean.lazyVenueMasterList}"
							selection="#{bean.selectedVenueMaster}" var="data"
							rowIndexVar="idx" lazy="true"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							tableStyleClass="" rowsPerPageTemplate="5,10,15">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />

							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />

							<p:column headerText="#" class="width-5 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.name}"
								filterMatchMode="contains" class="width-15 "
								headerText="#{msg['cod']} / #{msg['name']}"
								sortBy="#{data.name}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="globalFilterName" class="form-control "
										onkeyup="PF('tendercategorytablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.code}/ #{data.name}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.lname}"
								class="width-15 " filterMatchMode="contains"
								headerText="#{msg['lname']} (Tamil)" sortBy="#{data.lname}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="globalFilterName1" class="form-control "
										onkeyup="PF('tendercategorytablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.lname}" />
							</p:column>

							<p:column filterable="true" filterBy="#{regionName}"
								class="width-15 " filterMatchMode="contains"
								headerText="#{msg['region_name']}" sortBy="#{regionName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="regionNames" class="form-control "
										onkeyup="PF('tendercategorytablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.region.name}" />
							</p:column>

							<p:column filterable="true" filterBy="#{venueType}"
								class="width-15 " filterMatchMode="contains"
								headerText="#{msg['venue_type']}" sortBy="#{venueType}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="venueTypeName" class="form-control "
										onkeyup="PF('tendercategorytablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.venueType.name}" />
							</p:column>


							<p:column filterable="true" filterBy="#{data.environment}"
								styleClass=" width-15" filterMatchMode="contains"
								headerText="#{msg['environment_type']}"
								sortBy="#{data.environment}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="globalFilterLtendercategoryName"
										class="form-control "
										onkeyup="PF('tendercategorytablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.environment}" />
							</p:column>
							<p:column headerText="#{msg['created_date']}"
								styleClass="text-center width-12 form-group_calend"
								filterable="true" sortable="true" filterBy="#{data.createdDate}"
								sortBy="#{data.createdDate}">
								<f:facet name="filter">
									<p:calendar onchange="PF('tendercategorytablewdgt').filter()"
										id="createdDae" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" mask="false" yearRange="c-10:c+10"
										navigator="true" styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('tendercategorytablewdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />

								</h:outputText>
							</p:column>
							<p:column sortBy="#{data.activeStatus}" sortable="true"
								filterable="true" filterBy="#{data.activeStatus}"
								styleClass="text-center width-9" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu id="statusFiter" class="form-control"
										onchange="PF('tendercategorytablewdgt').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="#{true}" itemLabel="Active" />
										<f:selectItem itemValue="#{false}" itemLabel="InActive" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="label  sts_shortl #{data.activeStatus eq 'true'?' label-success':'label label-default'}"
									value="#{data.activeStatus eq 'true'?'Active':'Inactive'}"></h:outputText>
							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-5" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
					<!-- 						<div class="dataTables_info m-b-0 m-l-10" -->
					<!-- 							id="DataTables_Table_2_info" role="status" aria-live="polite"> -->
					<!-- 							<button type="button" title="Download PDF" -->
					<!-- 								class="btn btn-primary btn-xs"> -->
					<!-- 								<i class="icon-file-pdf position-left"></i>PDF -->
					<!-- 							</button> -->
					<!-- 							<button type="button" title="Download Excel" -->
					<!-- 								class="btn btn-success btn-xs"> -->
					<!-- 								<i class="icon-file-excel position-left"></i>Excel -->
					<!-- 							</button> -->
					<!-- 						</div> -->
				</div>
			</div>

		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmTenderCategoryDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmTenderCategoryDelete').hide()" />

				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteVenueMasterConfirm}"
					oncomplete="PF('confirmTenderCategoryDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>