<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('FESTIVAL_PERIOD_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{festivalMasterBean}"></ui:param>
		<title>InfoTex | Festival Period List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['festival_period_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['festival_period_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <span class="textb"> <h:outputText
									value="#{bean.totalRecords}" id="recordcount"></h:outputText></span>
						</strong> - #{msg['festival_period']}(#{msg['list_s']})<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								action="#{bean.showFestivalPeriodListPageAction}"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['FESTIVAL_PERIOD_ADD']}"
								class="btn bg-success font-iconmoon" update="growls">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"
								action="#{bean.showFestivalPeriodListPageAction}"
								rendered="#{bean.editButtonFlag and loginBean.userFeatures['FESTIVAL_PERIOD_EDIT']}"
								title="#{msg['edit']}" update="growls" id="editId"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['view']}"
								action="#{bean.showFestivalPeriodListPageAction}"
								class="btn bg-info heading-btn  font-iconmoon"
								rendered="#{bean.viewButtonFlag and loginBean.userFeatures['FESTIVAL_PERIOD_VIEW']}"
								update="growls">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.showFestivalPeriodListPageAction}"
								rendered="#{bean.deleteButtonFlag and loginBean.userFeatures['FESTIVAL_PERIOD_DELETE']}"
								title="#{msg['delete']}" update="growls"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{bean.showfestivalMasterListPage}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>

					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="festivalmasterList"
							widgetVar="festivalmasterListTable" class="table" var="data"
							rowKey="#{data.id}" selection="#{bean.selectedFestivalMaster}"
							value="#{bean.lazyFestivalMasterList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom" emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />

							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('editId')},#{p:component('menupanel')}" />
							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column styleClass="width-15"
								headerText="#{msg['festival_type_code']} / #{msg['name']}"
								filterMatchMode="contains" filterable="true"
								filterBy="#{data.festivalTypeMaster.code}"
								sortBy="#{data.festivalTypeMaster.code}" sortable="true">
								<h:outputText
									value="#{data.festivalTypeMaster.code} / #{data.festivalTypeMaster.name} " />
							</p:column>
							
							<p:column headerText="#{msg['start_date']}"
								styleClass="text-center width-12 form-group_calend" filterMatchMode="contains"
								filterable="true" filterBy="#{data.startDate}"
								sortBy="#{data.startDate}" sortable="true">

								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="startDate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" styleClass="form-control calend-icon text-center">
										<p:ajax event="dateSelect"
											oncomplete="PF('festivalmasterListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.startDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['end_date']}"
								styleClass="text-center form-group_calend width-12" filterMatchMode="contains"
								filterable="true" filterBy="#{data.endDate}"
								sortBy="#{data.endDate}" sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="endDate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" styleClass="form-control calend-icon text-center">
										<p:ajax event="dateSelect"
											oncomplete="PF('festivalmasterListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.endDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['created_date']}"
								filterBy="#{data.createdDate}"
								styleClass="text-center form-group_calend width-12"
								filterMatchMode="contains" sortBy="#{data.createdDate}"
								sortable="true">

								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="planFrom" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" styleClass="form-control calend-icon text-center">
										<p:ajax event="dateSelect"
											oncomplete="PF('festivalmasterListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>


							</p:column>
							<p:column filterBy=" #{data.activeStatus}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy="#{data.activeStatus}" sortable="true"
								styleClass="text-center width-7">
								<f:facet name="filter">
									<h:selectOneMenu
										onchange="PF('festivalmasterListTable').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
										<f:selectItem itemLabel="#{msg['inactive']}" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{msg['active']}"
									styleClass="label label-success sts_shortl
"
									rendered="#{data.activeStatus eq true}" />

								<h:outputText value="#{msg['inactive']}"
									styleClass="label label-default sts_shortl
"
									rendered="#{data.activeStatus eq false}" />

							</p:column>
							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-4" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog text-left"
			closable="true" width="30%" widgetVar="confirmFestivalMasterDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmFestivalMasterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteConfirm}"
					oncomplete="PF('confirmFestivalMasterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>