<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | List Priority Master</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				 <div class="page-title"> 
					<h4>#{msg['list']} Priority Master</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Masters</li>
						<li class="active">#{msg['list']} Priority Master</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		
		<div class="content">
			<div class="row">
				<div class="col-lg-6">
						<h6 class="panel-title">
							<b>1</b> - #{msg['list']} Priority Master<a class="heading-elements-toggle"><i
								class="icon-more"></i></a>
						</h6>
					
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
					<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
						   onclick="location.href='createPriorityMaster.xhtml'"
							class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}"
						onclick="window.location.href='#'"
							title="#{msg['edit']}" class="btn bg-primary font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
						onclick="location.href='viewDisciplinaryAction.xhtml'"
							title="#{msg['view']}" class="btn bg-info font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
						</p:commandButton>
						<p:commandButton value="&#xe916; #{msg['clear']}"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center" style="width: 3%"><span>#</span></th>
									

<th class="ui-state-default text-center "><p:outputLabel
											value="Priority Code" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<p:inputText styleClass="form-control"></p:inputText>
										 </th>
										 
										 <th class="ui-state-default text-center "><p:outputLabel
											value="Priority Name" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<p:inputText styleClass="form-control"></p:inputText>
											
											
										 </th>
										 
										 <th class="ui-state-default text-center "><p:outputLabel
											value="Status" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<h:selectOneMenu  class="form-control"
									>
									<f:selectItem itemLabel="Active" itemValue="true" />
									<f:selectItem itemLabel="InActive" itemValue="false" />
									<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>
											
											
										 </th>
										 <th class="ui-state-default text-center width-5">
									<p:outputLabel value="#{msg['select']}" />
									</th>
										 
										 
									
										 
										 
										
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td >ICM</td>
									<td >Inter Caste Marriage</td>
								
									<td class="text-success text-center"><span
										class="label label-success width-custom">Active</span></td>
										<td class="text-center"><input type="radio" /></td>
									
								</tr>
								
								
								
							</tbody>
						</table>
					</div>
					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<!-- <div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info ">Showing
							1 to 10 of 15 entries</div> -->
						<div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info "><strong>(1 of 1)</strong></div>	
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<select class="">
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
