<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
   xmlns:c="http://java.sun.com/jsp/jstl/core"
   template="/pages/template/layoutWithIndividualForm.xhtml">
   <ui:define name="content">
      <title>InfoTex | View Transport</title>
      <!-- Page Header -->
      <div class="page-header page-header-default">
         <div class="page-header-content">
            <div class="page-title">
               <h4>#{msg['view_transport']}</h4>
               <ul class="breadcrumb">
                  <li><a href="#{request.contextPath}/pages/home.xhtml"><i
                     class="icon-home2 position-left"></i>#{msg['home']}</a></li>
                  <li>#{msg['masters']}</li>
 				<li>#{msg['oper_master']}</li>
                  <li class="active">#{msg['view_transport']}</li>
               </ul>
               <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>
         </div>
      </div>
      <!-- End Page Header -->
      <div class="content">
         <div class="panel panel-info">
            <div class="panel-heading">
               <h6 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion-control-right"
                     href="#accordion-control-right-group1">#{msg['transport']}
                  </a>
               </h6>
            </div>
            <div class="panel-body p-t-10">
               <div class="row view-style">
               <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['transport_type']}" />
                        <h:outputText value="Lorry" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['transport_code']}" />
                        <h:outputText value="TN0011" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['transport_name']}" />
                        <h:outputText value="Sanjai Travels" class="">
                        </h:outputText>
                     </div>
                  </div>
                  
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel
                           value="#{msg['transport_name']} (#{msg['in_tamil']})" />
                        <h:outputText value="Sanjai Travels" class="">
                        </h:outputText>
                     </div>
                  </div>
                  </div>
                  <div class="row view-style">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['supp_type_code']} / #{msg['name']}" />
                        <h:outputText value="Direct Suppliers" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['sup_code_name']}" />
                        <h:outputText value="SS01 / Sanjai Suppliers" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['status']}" />
                        <h:outputText value="In Active" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['created_date']}" />
                        <h:outputText value="25-Oct-2018" class="">
                        </h:outputText>
                     </div>
                  </div>
               </div>
               <div class="row view-style">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['created_by']}" />
                        <h:outputText value="Jacob" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['modified_date']}" />
                        <h:outputText value="26-Oct-2018" class="">
                        </h:outputText>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['modified_by']}" />
                        <h:outputText value="John" class="">
                        </h:outputText>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                     <p:commandButton value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}" 
                     	onclick="window.location.href='#{request.contextPath}/pages/masters/listTransportMaster.xhtml'"
                        class="btn bg-info btn-xs font-iconmoon" >
                     </p:commandButton>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ui:define>
</ui:composition>