<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<ui:param name="bean" value="#{modeOfEnquiryBean}"></ui:param>
		<title>InfoTex | View Mode of Enquiry</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_mod_of_enq']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_mod_of_enq']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['view_mod_of_enq']}</h6>
				</div>
				<div class="panel-body p-t-10">
					<h:form id="catform">
						<p:outputPanel id="entity">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['mod_of_enq_code']}" />
										<h:outputText id="code" value="#{bean.modeOfEnquiry.code} ">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['mod_of_enq_name']}" />
										<h:outputText value="#{bean.modeOfEnquiry.name}" id="cname" >
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['mod_of_enq_name']} (#{msg['in_tamil']})" />
										<h:outputText value="#{bean.modeOfEnquiry.localName}" id="lname">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText id="status" value="#{bean.modeOfEnquiry.activeStatus}">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText value="#{bean.modeOfEnquiry.createdDate}" id="createDate">
											<f:convertDateTime timeZone="#{loginBean.timeZone}" pattern="dd-MMM-YYYY" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText value="#{bean.modeOfEnquiry.createdBy.username}" id="createBy">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<h:outputText value="#{bean.modeOfEnquiry.modifiedDate}" id="modDate">
											<f:convertDateTime timeZone="#{loginBean.timeZone}" pattern="dd-MMM-YYYY" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<h:outputText value="#{bean.modeOfEnquiry.modifiedBy.username}" id="modBy">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										title="#{msg['back']}"
										action="#{bean.showModeOfEnquiryListPage}" update="catform"
										immediate="true" class="btn bg-info btn-xs font-iconmoon">
									</p:commandButton>
								</div>
							</div>

						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>



