<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	
	<ui:define name="content">
		<h:form id="suppForm">
			<title>InfoTex | View Supplier</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['view_supplier_master']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li>#{msg['view_supplier_master']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['supplier_master']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">

							<p:outputPanel id="panel1">
								<div class="panel-body p-t-10 page-scroll-without-process">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['byr_type']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.businessTypeMaster.name}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['supp_type_code']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.supplierTypeMaster.code}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['loom_type']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.loomType}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sup_code']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.code}" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['circle_name_code']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.circleMaster.name}" class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['district_code_name']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.districcode}" class="" />
											</div>
										</div>

										<ui:remove>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['varieties']}" />
													<h:outputText value="Silk" class="" />
												</div>
											</div>
										</ui:remove>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sup_name']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.name}" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['sup_name']} (#{msg['in_tamil']})" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.localName}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_reg']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.registrationDate}"
													class="">
													<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['gst_no']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.gstNumber}"
													class="" />
											</div>
										</div>

									</div>

									<div class="row view-style">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="row view-style">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['con_per_name']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.primaryContactName}"
															class="" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['email']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.primaryEmail}"
															class="" />
													</div>
												</div>
											</div>
											<div class="row view-style">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['mob_no']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.primaryContactNumber}"
															class="" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['sup_tax_extempted']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.taxExempted==true?'YES':'NO'}"
															class="" />
													</div>
												</div>

											</div>

										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sup_add']}" />
												<h:outputText value="#{supplierMasterBean.address}" class="" />
											</div>
										</div>
									</div>


									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['payment_details']}</span>
									</h5>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['pmt_terms']} (#{msg['with_in_no_of_days']})" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.maxInstallmentMonth}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['intr_aple']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.interestPercentage ne null ? 'Yes' : 'No'}"
															class="" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['interest']}" />
														<h:outputText
															value="#{supplierMasterBean.supplierMaster.interestPercentage}"
															class="" />
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['crd_alw']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.creditAllowed eq false ? 'No' : 'Yes'}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ret_alw']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.returnAllowed eq false ? 'No' : 'Yes'}"
													class="" />
											</div>
										</div>
									</div>

									<h5 class="bord_bot m-t-0 ">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['bnk_det']}</span>
									</h5>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['bnk_name']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.branchMaster.bankMaster.bankName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['brn_name']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.branchMaster.branchName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ifsc_cod']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.branchMaster.ifscCode}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['act_no']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.accountNumber}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0 ">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['busn_details']}</span>
											</h5>
										</div>
									</div>
									<div class="row view-style">

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['regis_num']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.registrationNumber}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['name_of_dir_part']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.directorsName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['nationality']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.nationality.name}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['pan_tan_no']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.panNumber}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['estab_yr']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.yearOfEstablishment}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['nat_of_buss']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.natureOfBusiness}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['legal_status']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.legalStatus}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['comp_catgy']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.companyCategory}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['bid_pre_reg_with']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.preRegisteredWith}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['organ_type']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.organizationTypeMaster.name}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['aadhaar_no']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.aadharNumber}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['byr_type']}" />
												<h:outputText value="Individual" class="" />
											</div>
										</div>
									</div>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['soc_catgy']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.socialCategory}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['diff_abled']}" />
												<h:outputText
													value="#{supplierMasterBean.supplierMaster.differentlyAbled}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xeddf; #{msg['back']}"
													title="#{msg['back']}"
													styleClass="btn btn-sm bg-info font-iconmoon m-l-0"
													action="#{supplierMasterBean.cancel}" immediate="true"
													oncomplete="PF('progressDlg').hide();"
													onclick="window.location.href='#{request.contextPath}/pages/masters/listSupplierMaster.xhtml'" />
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
