<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View KNT Plan</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_knt_plan']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_knt_plan']}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		
		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['knt_pln_frm']}</h6>
				</div>
				<div class="panel-body p-t-10 page-scroll-without-process">
					<h:form id="catform">
						<div class="row ">
							<div class="col-sm-12">
								<p:outputPanel id="entity">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['knt_pln_name']}" />
												<!-- <h:outputText 
													value="Weavers Wellfare Scheme" class="">
												</h:outputText> -->
												<h:outputText id="planName" onblur=""
													value="#{kNTPlanMasterBean.kntPlanMaster.planName}">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['knt_pln_name']} (#{msg['in_tamil']})" />
												<h:outputText id="planlName"
													value="#{kNTPlanMasterBean.kntPlanMaster.planlName}">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['max_instal_amt']}" />
												<span><i class="fa fa-inr"></i>&nbsp;<h:outputText
														value="#{kNTPlanMasterBean.kntPlanMaster.maxAmount}">
														<f:convertNumber pattern="0.00" />
													</h:outputText></span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['min_instal_amt']}" />
												<span><i class="fa fa-inr"></i>&nbsp;<h:outputText
														value="#{kNTPlanMasterBean.kntPlanMaster.minAmount}">
														<f:convertNumber pattern="0.00" />
													</h:outputText> </span>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['no_instal']}" />
												<h:outputText id="instalmentMonth"
													value="#{kNTPlanMasterBean.kntPlanMaster.instalmentMonth}"
													class=""></h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['denomtns']}" />
												<span><i class="fa fa-inr"></i>&nbsp;<h:outputText
														value="#{kNTPlanMasterBean.kntPlanMaster.denominations}">
														<f:convertNumber pattern="0.00" />
													</h:outputText> </span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['bon_ins_app']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.bonusApplicable eq 'true' ? 'Yes' : 'No'}"
													class=""></h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['bon_ins']}" />
												<h:outputText id="bonusMonth"
													value="#{kNTPlanMasterBean.kntPlanMaster.bonusMonth}"
													class=""></h:outputText>
											</div>
										</div>
									</div>
									
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['gift_amt_app']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.giftApplicable eq 'true' ? 'Yes' : 'No'}"
													class=""></h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['gift_percentage']}" />
												<h:outputText id="giftPercentage"
													value="#{kNTPlanMasterBean.kntPlanMaster.giftPercentage}"
													class="">
													<f:convertNumber pattern="0.00" />
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['dis_per']}" />
												<h:outputText id="discountPercentage"
													value="#{kNTPlanMasterBean.kntPlanMaster.discountPercentage}"
													class="">
													<f:convertNumber pattern="0.00" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['reb_per']}" />
												<h:outputText id="rebatePercentage"
													value="#{kNTPlanMasterBean.kntPlanMaster.rebatePercentage}"
													class="">
													<f:convertNumber pattern="0.00" />
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['pro_cat']}" />
												<ui:repeat var="name"
													value="#{kNTPlanMasterBean.productCategoryNameList}">
													<h:outputText value="#{name}" class=""></h:outputText>
												</ui:repeat>
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['int_applicable_delay_payment']}" />
												<h:outputText id="activeDelayPayment"
													value="#{kNTPlanMasterBean.kntPlanMaster.activeDelayPayment eq 'true'?'Yes':'No'}"
													class=""></h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['inst_per']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.interestPercentage}"
													class="">
													<f:convertNumber pattern="0.00" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.activeStatus eq 'true'?'Active':'Inactive'}"
													class=""></h:outputText>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.createdDate}"
													id="createDate">
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
														pattern="#{loginBean.userInfoDTO.dateFormat}" class="" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText class=""
													value="#{kNTPlanMasterBean.kntPlanMaster.createdBy.username}">
												</h:outputText>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_date']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.modifiedDate}"
													id="modDate">
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
														pattern="#{loginBean.userInfoDTO.dateFormat}" class="" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_by']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.modifiedBy.username}"
													class="">
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['knt_plan_end_date']}" />
												<h:outputText
													value="#{kNTPlanMasterBean.kntPlanMaster.planEndDate}"
													class="">
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
														pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
												title="#{msg['back']}" update="catform" immediate="true"
												action="#{kNTPlanMasterBean.gotoListPage}"
												class="btn bg-info btn-xs font-iconmoon">
											</p:commandButton>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>