<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Product Category</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_product_category']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_product_category']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['product_category']}</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
						
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['group_code_name']}" />
										<h:outputText
											value="#{productCatBean.selectedProductCategoryGroup.groupCode} / #{productCatBean.selectedProductCategoryGroup.groupName}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['category_code']}" />
										<h:outputText value="#{productCatBean.categoryCode}" class="" />
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['category_name']}" />
										<h:outputText value="#{productCatBean.categoryName}" class="" />
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['category_name']} (#{msg['in_tamil']})" />
										<h:outputText value="#{productCatBean.regionalName}" class="" />
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText value="#{productCatBean.activeStatusMsg}"
											class="" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											title="#{msg['back']}" onclick="location.href='#';"
											class="btn bg-info heading-btn  font-iconmoon"
											action="#{productCatBean.back}">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>