<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Product Variety</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_pro_variety']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['vi_pro_variety']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['pro_variety']}</h6>
					</div>
					<div class="panel-body panelBody-fixStg2line p-t-10">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_category_code_or_name']}" />
									<h:outputText id="code" onblur=""
										value="#{productVarietyMasterBean.productCategoryDto.productCatCode} / #{productVarietyMasterBean.productCategoryDto.productCatName}">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_group_code_name']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productGroupDto.code} / #{productVarietyMasterBean.productGroupDto.name}"
										id="cname">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_variey_code']} " />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.code}"
										id="lname">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_variety_name']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.name}"
										id="prod_variety_name">
									</h:outputText>
								</div>
							</div>

						</div>

						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['prod_variety_name']} (#{msg['in_tamil']})" />
									<h:outputText id="prod_variety_lname" onblur=""
										value="#{productVarietyMasterBean.productVarietyMasterDTO.lname}">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['unit_of_measurement']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.uomMaster.name}"
										id="unit_of_measurement">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['hsn_code']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.hsnCode}"
										id="hsn">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['created_date']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.createdDate}"
										id="createddate">
										<f:convertDateTime
											pattern="#{loginBean.userInfoDTO.dateFormat}"
											timeZone="#{loginBean.timeZone}"></f:convertDateTime>
									</h:outputText>
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['created_by']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.createdBy.username}"
										id="createdby">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['modified_date']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.modifiedDate}"
										id="modifieddate">
										<f:convertDateTime
											pattern="#{loginBean.userInfoDTO.dateFormat}"
											timeZone="#{loginBean.timeZone}"></f:convertDateTime>
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['modified_by']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.modifiedBy.username}"
										id="modifiedby">
									</h:outputText>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['specifications']}</span>
								</h5>
							</div>
						</div>
						<div class="col-lg-6 no-padding">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['length_of_product']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4  col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['actual_value']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.lengthActual}"
											id="actual_value">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-4 col-md-4  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['unit_of_measurement']}" />
										<h:outputText id="unitofmeasurement" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.luomMaster.name}">
										</h:outputText>
									</div>
								</div>


								<div class="col-lg-4 col-md-6  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tolerance_value']}" />
										<h:outputText id="tolerance_value" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.lengthTolerance}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 p-r-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['width_of_product']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4  col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['actual_value']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.widthActual}"
											id="actualvalue">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-4 col-md-4  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['unit_of_measurement']}" />
										<h:outputText id="unitofmeasure" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.wuomMaster.name}">
										</h:outputText>
									</div>
								</div>


								<div class="col-lg-4 col-md-6  col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tolerance_value']}" />
										<h:outputText id="tolerancevalue" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.widthTolerance}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-6 no-padding">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['warp_yarn']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-6 col-md-6  col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['warp_yarn_type']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.warpyarnTypeMasterDTO.name}"
											id="warp_yarn_type">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-6 col-md-6  col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['warp_yarn_waight']}" />
										<h:outputText id="warp_yarn_waight" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.warpYarnWeight}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 p-r-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['weft_yarn']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['weft_yarn']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.weftyarnTypeMasterDTO.name}"
											id="weft_yarn">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['weft_yarn_waight']}" />
										<h:outputText id="weft_yarn_waight" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.weftYarnWeight}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 no-padding">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['reed_pick_per_inch']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['actual_value']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.picksPerInchActual}"
											id="actu">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tolerance_value']}" />
										<h:outputText id="toler" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.picksPerInchTolerance}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 p-r-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['reed_end_per_inch']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['actual_value']}" />
										<h:outputText
											value="#{productVarietyMasterBean.productVarietyMasterDTO.endspPerInchActual}"
											id="ac">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tolerance_value']}" />
										<h:outputText id="to" onblur=""
											value="#{productVarietyMasterBean.productVarietyMasterDTO.endsPerInchTolerance}">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>

						<div class="row view-style">

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['selectable_product']}" />
									<h:outputText id="selectab" onblur=""
										value="#{productVarietyMasterBean.productVarietyMasterDTO.selectable}">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3  col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.statusValue  eq 'true'?'Active':'Inactive'}"
										id="status">
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['description']}" />
									<h:outputText
										value="#{productVarietyMasterBean.productVarietyMasterDTO.description}"
										id="description">
									</h:outputText>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									title="#{msg['back']}"
									action="#{productVarietyMasterBean.cancelProductVarietyAdd}"
									class="btn bg-info font-iconmoon m-l-0">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>