<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{salesTypeMasterBean}"></ui:param>
		<ui:param name="salesType" value="#{salesTypeMasterBean.salesType}"></ui:param>
		<title>InfoTex | View City</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_city']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{msg['view_city']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll">
			<!-- collapse panel -->

			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['view_city']}</h6>
				</div>
				<div class="panel-body">
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['country']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.districtMaster.stateMaster.countryMaster.name}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['state']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.districtMaster.stateMaster.name}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['district']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.districtMaster.name}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['city_code']}" />
								<h:outputText value="#{cityMasterBean.cityMaster.code}" class="" />
							</div>
						</div>
					</div>
					
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['city_name']}" />
								<h:outputText value="#{cityMasterBean.cityMaster.name}" class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['city_name']} (#{msg['in_tamil']})" />
								<h:outputText value="#{cityMasterBean.cityMaster.localName}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['status']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.activeStatus eq 'true'?'Active':'Inactive'}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_date']}" />
								<h:outputText value="#{cityMasterBean.cityMaster.createdDate}"
									class="">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
								</h:outputText>
							</div>
						</div>
					</div>
					
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_by']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.createdBy.username}"
									class="" />
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_date']}" />
								<h:outputText value="#{cityMasterBean.cityMaster.modifiedDate}"
									class="">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
								</h:outputText>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_by']}" />
								<h:outputText
									value="#{cityMasterBean.cityMaster.modifiedBy.username}"
									class="" />
							</div>
						</div>
					</div>
					
					<div class="row label-form">
						<div class="col-lg-12 col-md-12 text-right" id="btnalign">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}"
								action="#{cityMasterBean.cityMasterListPage}"
								onclick="PF('statusDialog').show()"
								oncomplete="PF('statusDialog').hide();"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>