<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{festivalMasterBean}"></ui:param>
		<title>InfoTex | View Coupon Register</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_coupn_reg']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_coupn_reg']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion-control-right"
							href="#accordion-control-right-group1">#{msg['coupn_reg']} </a>
					</h6>
				</div>
				<div class="panel-body p-t-10 page-scroll-without-process">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['region']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.regionOffice.code} / #{couponRegisterMasterBean.regionOffice.name}"
									class="">
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sroom_code']} / #{msg['name']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.showroom.code} / #{couponRegisterMasterBean.showroom.name}"
									class="">
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['coupan_num_frm']}" />
								<h:outputText value="#{couponRegisterMasterBean.couponFrom}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['coupan_num_to']}" />
								<h:outputText value="#{couponRegisterMasterBean.couponTo}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['value']}" />
								<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
									<h:outputText value="#{couponRegisterMasterBean.couponValue}"
										class="fa-input dis-inlineblock">
										<f:convertNumber minFractionDigits="2"></f:convertNumber>
									</h:outputText></span>

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['valid_to']}" />
								<h:outputText value="#{couponRegisterMasterBean.couponDate}"
									id="validTo">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['status']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.couponStatus eq 'true' ? 'Active' : 'In-Active'}"
									class="">
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_date']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.giftCouponRegister.createdDate}"
									id="createDate">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>

					</div>
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_by']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.giftCouponRegister.createdBy.username}"
									id="createBy">
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_date']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.giftCouponRegister.modifiedDate}"
									id="modDate">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_by']}" />
								<h:outputText
									value="#{couponRegisterMasterBean.giftCouponRegister.modifiedBy.username}"
									id="modBy">
								</h:outputText>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}" class="btn bg-info btn-xs font-iconmoon"
								update="growls"
								action="#{couponRegisterMasterBean.cancelCouponRegister}">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>