<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="payScaleMaster" value="#{payScaleBean.payScaleMaster}"></ui:param>
		<title>InfoTex | View Pay Scale</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['pay_scale_view']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['pay_scale_view']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['pay_scale']}</h6>
				</div>
				<div class="panel-body page-scroll-without-process p-t-10">
					<h:form id="catform">

						<p:outputPanel id="entity">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_amt']}" />
										<span class="dis-inlineblock"><i
											class="fa fa-inr m-r-5"></i> <h:outputText
												value="#{payScaleMaster.fromAmount}" id="code"
												class="fa-input dis-inlineblock">
												<f:convertNumber minFractionDigits="2"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['to_amt']}" />
										<span class="dis-inlineblock"><i
											class="fa fa-inr m-r-5"></i> <h:outputText
												value="#{payScaleMaster.toAmount}" id="cname"
												class="fa-input dis-inlineblock">
												<f:convertNumber minFractionDigits="2"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText value="#{payScaleMaster.createdDate}"
											id="createDate">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText value="#{payScaleMaster.createdBy.username}"
											id="createBy">
										</h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<h:outputText value="#{payScaleMaster.modifiedDate}"
											id="modDate">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<h:outputText value="#{payScaleMaster.modifiedBy.username}"
											id="modBy">
										</h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										title="#{msg['back']}"
										action="#{payScaleBean.loadPayScaleList}" update="catform"
										immediate="true" class="btn bg-info btn-xs font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>