<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{kntPlanDenominationMasterBean}"></ui:param>
		<title>InfoTex | View KNT Plan Denomination</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_knt_plan_denom']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_knt_plan_denom']}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['knt_plan_denom']}</h6>
				</div>
				<div class="panel-body p-t-10 page-scroll-without-process">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['from_amt']}" />
								<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
									<h:outputText value="#{bean.kntPlanDenomination.fromAmount}"
										id="frmAmt" class="fa-input dis-inlineblock">
										<f:convertNumber minFractionDigits="2"></f:convertNumber>
									</h:outputText></span>
								<!-- <h:outputText 
													value="Weavers Wellfare Scheme" class="">
												</h:outputText> -->

							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['to_amt']}" />
								<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
									<h:outputText value="#{bean.kntPlanDenomination.toAmount}"
										id="toAmt" class="fa-input dis-inlineblock">
										<f:convertNumber minFractionDigits="2"></f:convertNumber>
									</h:outputText></span>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['denomtns']}" />
								<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
									<h:outputText value="#{bean.kntPlanDenomination.denomination}"
										id="denom" class="fa-input dis-inlineblock">
										<f:convertNumber minFractionDigits="2"></f:convertNumber>
									</h:outputText></span>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_date']}" />
								<h:outputText value="#{bean.kntPlanDenomination.createdDate}"
									id="createDate">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY"
										class="" />
								</h:outputText>
							</div>
						</div>

						<!-- <div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<h:outputText value="#{kNTPlanMasterBean.kntPlanMaster.bonusApplicable eq 'true' ? 'Yes' : 'No'}" class=""></h:outputText>
											</div>
										</div> -->
					</div>


					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_by']}" />
								<h:outputText class=""
									value="#{bean.kntPlanDenomination.createdBy.username}">
								</h:outputText>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_date']}" />
								<h:outputText value="#{bean.kntPlanDenomination.modifiedDate}"
									id="modDate">
									<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY"
										class="" />
								</h:outputText>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_by']}" />
								<h:outputText
									value="#{bean.kntPlanDenomination.modifiedBy.username}"
									class="">
								</h:outputText>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}" class="btn bg-info btn-xs font-iconmoon"
								action="#{bean.showKntPlanDenominationListPage}">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>