<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{organizationMasterBean}"></ui:param>
		<title>InfoTex | View Organization</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_organ']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_organ']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content page-scroll-hp">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['organization']}</h6>
				</div>
				<div class="panel-body p-t-10">
					<div class="row view-style">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="row view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['organ_type_code']} / #{msg['name']}" />
										<h:outputText
											value="#{bean.organizationMaster.organizationTypeMaster.code} / #{bean.organizationMaster.organizationTypeMaster.name}"
											class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['parent']}" />

										<h:outputText
											value="#{bean.organizationMaster.organizationMaster.orgName}"
											class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['organization_code']}" />
										<h:outputText value="#{bean.organizationMaster.orgCode}"
											class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['org_name']}" />
										<h:outputText value="#{bean.organizationMaster.orgName}"
											class="">
										</h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['org_name']} (#{msg['in_tamil']})" />
										<h:outputText value="#{bean.organizationMaster.localOrgName}"
											class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ecs_code']}" />
										<h:outputText value="#{bean.organizationMaster.ecsCode}"
											class="">
										</h:outputText>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['address']}" />
								<h:outputText value="#{organizationMasterBean.address}" class="" />
							</div>
						</div>
					</div>
					
					<div class="row view-style">
						<!--  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="form-group">
                        <p:outputLabel value="#{msg['status']}" />
                        <h:outputText value="Active" class="">
                        </h:outputText>
                     </div>
                  </div> -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_date']}" />
								<h:outputText value="#{bean.organizationMaster.createdDate}"
									class="">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>

							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_by']}" />
								<h:outputText
									value="#{bean.organizationMaster.createdBy.username}"
									id="createBy">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_date']}" />
								<h:outputText value="#{bean.organizationMaster.modifiedDate}"
									class="">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_by']}" />
								<h:outputText
									value="#{bean.organizationMaster.modifiedBy.username}"
									id="modBy">
								</h:outputText>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}" class="btn bg-info btn-xs font-iconmoon"
								onclick="window.location.href='#{request.contextPath}/pages/masters/listOrganizationMaster.xhtml'">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>