<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{salesTypeMasterBean}"></ui:param>
		<ui:param name="salesType" value="#{salesTypeMasterBean.salesType}"></ui:param>
		<title>InfoTex | View Delivery Type</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['delviery_type_view']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['delviery_type_view']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll">
			<!-- collapse panel -->

			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['delivery_type']}</h6>
				</div>
				<div class="panel-body p-t-10">
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['delivery_type_code']}" />
								<h:outputText value="#{salesType.code}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['delivery_type_name']}" />
								<h:outputText value="#{salesType.name}" class="" />

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['delivery_type_name']} (#{msg['in_tamil']})" />
								<h:outputText value="#{salesType.lname}" class="" />

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['status']}" />
								<h:outputText value="#{salesType.activeStatus}" class="" />
							</div>
						</div>

					</div>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_date']}" />
								<h:outputText value="#{city.creatDate}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['created_by']}" />
								<h:outputText value="#{city.createBy}" class="" />


							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_date']}" />
								<h:outputText value="#{city.modifyDate}" class="" />

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['modified_by']}" />
								<h:outputText value="#{city.lname}" class="" />

							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 text-right" id="btnalign">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}" action="#{bean.showSalesTypeListPage}"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

	</ui:define>
</ui:composition>