<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{studentTrainingRequestBean}"></ui:param>
		<ui:param name="studentTraining"
			value="#{studentTrainingRequestBean.studentTraining}"></ui:param>
		<title>InfoTex | Approval Student Training</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['app_sty_train']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
							<li>#{msg['hr']}</li>
							<li>#{msg['admin']}</li>
							<li>#{msg['student_training']}</li>
						<li class="active">#{msg['app_sty_train']}</li>
					</ul>
				</div>
			</div>
		</div>


		<p:outputPanel id="approvalform">
			<div class="content m-b-0">
				<div class="">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">
								#{msg['student_training']}

							</h6>

						</div>
						<div class="panel-body ">

							<div class="view-style">
								<div class="row ">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.referenceNumber}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_type']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionType.name}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_name']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionName}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_start_date']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.scheduledStartDate}">
														<f:convertDateTime timeZone="GMT+05:30"
															pattern="dd-MMM-yyyy" />
													</h:outputText> </span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-6 col-sm-6  col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_end_date']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.scheduledEndDate}">
														<f:convertDateTime timeZone="GMT+05:30"
															pattern="dd-MMM-yyyy" />
													</h:outputText> </span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_no_of_days']}" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.noOfDays}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_schedule_start_time']}" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.scheduledStartTime}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="hh:mm a" />
													</h:outputText> </span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_schedule_end_time']}" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.scheduledEndTime}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="hh:mm a" />
													</h:outputText> </span>
											</div>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-3 col-md-6 col-sm-6  col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_purpose_of_training']}" />
											<div getSocietyRegRequestLogclass="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.purposeOfTraining}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6  col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_topic']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.subject}" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<h6 class="m-t-0 bord_bot">
											<span class="iform_title"> <i
												class="fa fa-th-large m-r-5"></i> #{msg['insti_details']}
											</span>
										</h6>
									</div>
								</div>

								<div class="row">

									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_address1']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionAddress1}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_address2']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionAddress2}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_address3']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionAddress3}" /></span>
											</div>

										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_institution_representative_name']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.institutionRepresentativeName}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_contact_number']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.contactNumber}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_emain_id']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.emailId}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_no_of_students']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{studentTraining.noOfStudents}" /></span>
											</div>
										</div>
									</div>

								</div>


								<div class="row"></div>
							</div>

							<!-- <div class="row">
								<div class="col-lg-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['comment']}" />
														<span class="mand-red">*</span>
														<h:inputTextarea id="reason" rows="3" class="form-control"  maxlength="250" 
														required="#{not empty param[submit.clientId] || not empty param[submit1.clientId] }"
											requiredMessage="Comments is required"></h:inputTextarea>
													</div>
													<h:message for="reason" class="validation-error-label" />
												</div>
												</div> -->
							<div class="row">
								<div class="col-md-12 ">
									<div class=" ">
										<div class=" text-right">
											<p:commandButton value="&#xed6a; #{msg['cancel']}" title="#{msg['cancel']}"
												styleClass="btn btn-sm bg-slate font-iconmoon"
												action="#{bean.showListStudentTrainingPage}">
											</p:commandButton>
											<p:commandButton update="growls comments1" immediate="true"
												value="&#xecf5;&nbsp; #{bean.finalapprovalFlag eq false ?msg['approve']: msg['final_approve']}"
												title="#{msg['approve']}"
												class="btn bg-success font-iconmoon"
												onclick="PF('dlgComments1').show();">
												<p:ajax event="click"
													listener="#{bean.changeCurrentStatus('APPROVED')}"></p:ajax>
											</p:commandButton>
											<p:commandButton update="growls comments2" immediate="true"
												value="&#xecf6;&nbsp;#{msg['reject']}"
												title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
												onclick="PF('dlgComments2').show();" type="button">
												<p:ajax event="click"
													listener="#{bean.changeCurrentStatus('REJECTED')}"></p:ajax>
											</p:commandButton>
										</div>
									</div>
								</div>


							</div>
						</div>


					</div>


				</div>
			</div>
		</p:outputPanel>
		<p:dialog
			header="#{msg['confirm']} #{bean.action eq 'APPROVE' ? 'approve' : 'reject'}"
			draggable="false" modal="true" id="idConfirm"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmStatus" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText
					value="#{msg['app_or_reject']} #{bean.action eq 'APPROVE' ? 'approve' : 'reject'} record ?" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}" title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmStatus').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}" action="#{bean.submit()}"
					oncomplete="PF('confirmStatus').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

		<p:dialog modal="true" draggable="false" header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%" focus="comments1">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remark']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{bean.remarkscomment}" id="comments1">
								<p:ajax update="comments1"></p:ajax>
							</p:inputTextarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
					class="btn bg-slate heading-btn  font-iconmoon">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls comments1" title="#{msg['submit']}"
					onclick="PF('dlgComments1').hide();"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{bean.statusUpdate}">
				</p:commandButton>
			</div>
		</p:dialog>


		<p:dialog modal="true" draggable="false" header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%" focus="comments2">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remark']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{bean.remarkscomment}" id="comments2">
								<p:ajax update="comments2"></p:ajax>
							</p:inputTextarea>
						</div>
						<h:message for="comments2" class="validation-error-label" />
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
					class="btn bg-slate heading-btn  font-iconmoon">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{bean.statusUpdate}"
					onsuccess="PF('dlgComments2').hide();">
				</p:commandButton>
			</div>
		</p:dialog>



	</ui:define>
</ui:composition>