<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{empTrainingBean}"></ui:param>
		<ui:param name="details" value="#{bean.empTrainingNominationPage}"></ui:param>
		<ui:param name="nominees"
			value="#{bean.empTrainingMemberListViewPage}"></ui:param>
		<ui:param name="submitObj"
			value="#{bean.approveOrRejectTrainingRequestDtoViewPage}"></ui:param>

		<title>InfoTex | View Internal / External Training</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['viinextrarep']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['admin']}</li>
						<li>#{msg['training']}</li>
						<li class="active">#{msg['viinextrarep']}</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="content m-b-0">
			<div class="">
				<div class="panel panel-info">
					<div class="panel-heading ">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['int_ext_train']}
							</a>
						</h6>
					</div>
					<div class="panel-body page-scroll-without-process">

						<h:panelGroup rendered="#{bean.internalTypePanelNomineePageFlag}">
							<!-- Internal view details -->
							<div class="view-style">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['training_type']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.trainingTypeMaster.name}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['tra_nam']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.trainerName}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['top_traini']}" />

											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.trainingTopic}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.department.name}" />
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Internal view details close -->
						</h:panelGroup>

						<!-- Schedule of the program view details -->
						<div class="view-style">
							<h5 class="m-t-0 bord_bot">
								<span class="iform_title"> <i
									class="fa fa-th-large m-r-5" /> #{msg['schoftepro']}
								</span>
							</h5>
							<div class="row custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 time-pick">
									<div class="form-group">
										<p:outputLabel value="#{msg['start_date']}" />
										<div class="input-group">
											<span class=""> <h:outputText
													value="#{bean.empTrainingNominationPage.scheduleStartDate}">
													<f:convertDateTime pattern="dd-MMM-YYYY"
														timeZone="#{loginBean.timeZone}"></f:convertDateTime>
												</h:outputText>

											</span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 time-pick">
									<div class="form-group">
										<p:outputLabel value="#{msg['end_date']}" />
										<div class="input-group">
											<span class=""> <h:outputText
													value="#{bean.empTrainingNominationPage.scheduleEndDate}">
													<f:convertDateTime pattern="dd-MMM-YYYY"
														timeZone="#{loginBean.timeZone}"></f:convertDateTime>
												</h:outputText>
											</span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['vendet']}" />
										<div class="input-group">
											<span class=""> <h:outputText
													value="#{details.venue.name}" />
											</span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['st_train_no_of_days']} " />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{details.noOfDays}" /></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['rex_per']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{details.trainerName}" /></span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['top_hand']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{details.trainingTopic}" /></span>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['reason']}" />
										<div class="input-group">
											<span class=""> <h:outputText
													value="#{details.reason}" />
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Schedule of the program view details close -->
						<h:panelGroup rendered="#{bean.externalTypePanelNomineePageFlag}">
							<!-- External view details -->
							<div class="view-style">
								<div class="row ">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['training_type']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.trainingTypeMaster.name}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.referenceNo}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['date']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{bean.getDate(details.referenceDate)}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['tra_nam']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{details.trainerName}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['insti_name']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.trainingInstitute.name}" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['vendet']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.venue.name}" />
												</span>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['st_train_no_of_days']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{details.noOfDays}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['profes']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{bean.getAmt(details.programFees)}" />
												</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group ">
											<p:outputLabel value="#{msg['reason']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{details.reason}" /></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- External view details close -->
						</h:panelGroup>

						<div class="row" id="internal2">
							<div class="col-sm-12">
								<div class=" table-responsive">
									<p:outputPanel
										styleClass="#{nominees.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable id="viewNomineesTable" scrollable="true"
											value="#{nominees}" var="data" rowIndexVar="idx"
											emptyMessage="#{msg['no_records_found']}"
											scrollHeight="#{nominees.size() eq 0 ? '35' : 
									  				 nominees.size() eq 1 ? '35':
									  				 nominees.size() eq 2 ? '70':
													 nominees.size() eq 3 ? '105':
													 nominees.size() eq 4 ? '140':
													 nominees.size() gt 4 and  nominees.size() lt 6 ? '175' :'250'}">

											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column class=" width-15">
												<f:facet name="header">
													<h:outputText value="#{msg['emp_name']}" />
												</f:facet>
												<h:outputText
													value="#{data.empMaster.empCode} / #{data.empMaster.firstName}" />
											</p:column>

											<p:column class=" width-10">
												<f:facet name="header">
													<h:outputText value="#{msg['desgn']}" />
												</f:facet>
												<h:outputText
													value="#{data.empMaster.personalInfoEmployment.designation.name}" />
											</p:column>

											<p:column class=" width-10">
												<f:facet name="header">
													<h:outputText value="#{msg['dept']}" />
												</f:facet>
												<h:outputText
													value="#{data.empMaster.personalInfoEmployment.department.name}" />
											</p:column>

											<p:column styleClass="text-center width-5">
												<f:facet name="header">
													<h:outputText value="#{msg['sec']}" />
												</f:facet>
												<h:outputText
													value="#{data.empMaster.personalInfoEmployment.sectionMaster.name}" />
											</p:column>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>

						<h:panelGroup id="forwardPannel">
							<div class="row label-form">
								<h:panelGroup
									rendered="#{bean.approvalFlag and !bean.lastEmpTrainingNote.finalApproval and bean.selectedEmpTrainingRowDtoListPage.status ne 'REJECTED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'INITIATED'}">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['forward_to']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="forwardTo" styleClass="form-control"
														disabled="{bean.buttonFlag}"
														value="#{submitObj.forwardToId}">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems value="#{bean.forwardToUsersList}"
															var="ftList"
															itemLabel="#{ftList.empCode} / #{ftList.empName}"
															itemValue="#{ftList.id}" />
													</h:selectOneMenu>
												</ui:remove>

												<p:autoComplete id="forwardTo" minQueryLength="2"
													disabled="{bean.buttonFlag}" styleClass="form-control"
													converter="#{entityConverter}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{bean.forwardTo}" itemValue="#{emp}" var="emp"
													itemLabel="#{emp.empName}"
													completeMethod="#{bean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="forwardTo"></p:ajax>
												</p:autoComplete>
											</div>
											<h:message for="forwardTo" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['forward_for']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="forwardFor"
													disabled="{bean.buttonFlag}"
													converterId="javax.faces.Boolean" styleClass="form-control"
													value="#{submitObj.forwardFor}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</h:panelGroup>
							</div>
						</h:panelGroup>

						<div class="row m-t-10">
							<h:panelGroup id="create-note">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xea18;&nbsp;#{msg['view_note']}"
										title="#{msg['view_note']}"
										styleClass="btn bg-info btn-sm font-iconmoon m-l-0"
										onclick="PF('notedialog').show();">
									</p:commandButton>
									<p:commandButton id="getneratePdfButton" ajax="false"
																class="btn bg-primary font-iconmoon downloadbut"
																value="&#xead2;&nbsp;#{msg['download']}"
																title="#{msg['download']}"
																rendered="#{null ne bean.empTrainingNominationPage.filePath}"
																actionListener="#{bean.getDownloadFile()}"
																update="growls">
																<p:fileDownload value="#{bean.file}" />
															</p:commandButton>
									<p:commandButton value="&#xeb0d;" style="min-width:32px;"
										styleClass="btn btn-primary btn-md font-iconmoon"
										onclick="PF('commentdialog').show();"></p:commandButton>
								</div>
							</h:panelGroup>

							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
									title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
									rendered="#{bean.approvalFlag and bean.lastEmpTrainingLog.stage ne 'FINAL_APPROVED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'REJECTED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'INITIATED'}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									update="growls forwardPannel create-note"
									action="#{bean.selectApproveOrRejected('REJECTED')}">
								</p:commandButton>
								<p:commandButton value="&#xecf5;&nbsp;#{msg['final_approve']}"
									title="#{msg['approve']}" class="btn bg-success font-iconmoon"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									rendered="#{bean.approvalFlag and bean.lastEmpTrainingNote.finalApproval eq 'true' and bean.lastEmpTrainingLog.stage ne 'FINAL_APPROVED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'REJECTED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'INITIATED'}"
									update="growls forwardPannel create-note"
									action="#{bean.selectApproveOrRejected('FINAL_APPROVED')}">
								</p:commandButton>
								<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
									title="#{msg['approve']}" class="btn bg-success font-iconmoon"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									rendered="#{bean.approvalFlag and bean.lastEmpTrainingNote.finalApproval eq 'false' and bean.selectedEmpTrainingRowDtoListPage.status ne 'REJECTED' and bean.selectedEmpTrainingRowDtoListPage.status ne 'INITIATED'}"
									update="growls forwardPannel create-note"
									action="#{bean.selectApproveOrRejected('APPROVED')}">
								</p:commandButton>

								<p:commandButton value="&#xeddf; #{msg['back']}"
									title="#{msg['back']}"
									action="#{bean.cancelViewTrainingRequest}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									class="btn btn-sm bg-info font-iconmoon">
								</p:commandButton>
							</div>
						</div>

					</div>
				</div>

			</div>
			<p:dialog modal="true" draggable="true" id="dlgComment"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
				width="40%" focus="comments1">

				<f:facet name="header">
					<h:outputText id="someDialogHeader" value="#{msg['app_rej_cmt']}" />
				</f:facet>
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{submitObj.remarks}" id="comments1" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}"
						class="btn bg-slate heading-btn  font-iconmoon"
						onclick="PF('dlgComments1').hide();" />
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						update="growls" title="#{msg['submit']}"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.submitApprovalOrRejection}"
						onclick="PF('dlgComments1').hide(); PF('progressDlg').show();"
						oncomplete="PF('progressDlg').hide();">
					</p:commandButton>
				</div>
			</p:dialog>
		</div>

		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0 top-100" width="80%">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 view-note-editor">
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<!-- WYSIHTML5 basic -->
								<p:textEditor widgetVar="editor1" readonly="true"
									value="#{bean.lastNoteDto.note}" height="150" />
								<!-- <div class="form-group text-wysihtml5-toolbar m-b-0">
												<h:outputText value="#{bean.lastNoteDto.note}"
													disabled="true" escape="false" />
											</div> -->


								<div class="row">
									<div class="col-md-12 m-b-10">
										<p:carousel value="#{bean.viewLogResponseList}" var="data">
											<div
												class="panel panel-body border-top-warning no-padding-bottom p-8 m-b-0">
												<ul class="list list-icons m-b-0">
													<li>
														<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
														<h6 class="m-t-0 text-center">
															<strong><h:outputText
																	value="#{fn:replace(data.empTrainingStatus, '_', ' ')}"></h:outputText></strong>
														</h6>
													</li>
													<li>Name : #{data.empName}</li>
													<li>Designation : #{data.empDesg}</li>
													<li>Date : <h:outputText
															value="#{data.empCreatedDate}">
															<f:convertDateTime pattern="dd-MM-yyyy"
																timeZone="#{loginBean.timeZone}"></f:convertDateTime>
														</h:outputText></li>
												</ul>
											</div>
										</p:carousel>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon"
										onclick="PF('notedialog').hide();" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- Comment Start -->
		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			width="80%" modal="true" showEffect="fade" hideEffect="fade"
			resizable="false" styleClass="p-0 top-100">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable m-b-15">
							<ul class="nav nav-tabs nav-tabs-bottom">
								<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
										class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
								<li><a href="#solid-tab2" data-toggle="tab"><i
										class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="solid-tab1">
									<table class="table table-striped cust-table">
										<tbody>
											<ui:repeat var="approveData"
												value="#{bean.approveCommentsDTOList}">
												<tr>
													<td class="width-15"><strong>#{msg['approve_comment']}</strong></td>
													<td><span class="pull-left">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right">#{approveData.displayName
															eq null?approveData.employeeName:approveData.displayName}
													</span> <br /> <span class="pull-left m-t-15">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																value="#{approveData.createdDate}">
																<f:convertDateTime
																	pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
															</h:outputText> </span></td>
													<td class="width-40"><h:inputTextarea disabled="true"
															name="enter-message" value="#{approveData.remarks}"
															class="form-control" rows="3" cols="1"></h:inputTextarea></td>
												</tr>
											</ui:repeat>
										</tbody>
									</table>
								</div>

								<div class="tab-pane" id="solid-tab2">
									<table class="table table-striped cust-table">
										<tbody>

											<ui:repeat var="rejectData"
												value="#{bean.rejectCommentsDTOList}">
												<tr>
													<td class="width-15"><strong>#{msg['reject_comments']}</strong></td>
													<td><span class="pull-left">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right">#{rejectData.displayName
															eq null?rejectData.employeeName:rejectData.displayName}</span> <br />
														<span class="pull-left m-t-15">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																value="#{rejectData.createdDate}">
																<f:convertDateTime
																	pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
															</h:outputText> </span></td>
													<td class="width-40"><h:inputTextarea disabled="true"
															name="enter-message" value="#{rejectData.remarks}"
															class="form-control" rows="3" cols="1"></h:inputTextarea></td>
												</tr>
											</ui:repeat>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- Comment End -->
	</ui:define>
</ui:composition>