<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Tentative Amount Claiming</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['ten_amt_claim']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['finance']}</li>
							<li>#{msg['govt_Scheme']}</li>
							<li class="active">#{msg['ten_amt_claim']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<h4 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
							</h4>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['scheme_type']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="schemetype"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="FDS" itemLabel="FDS"></f:selectItem>
											<f:selectItem itemValue="NMP" itemLabel="NMP"></f:selectItem>
											<f:selectItem itemValue="NMP" itemLabel="OAP"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['cur_pdt_plan_name']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="currentplan"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="123" itemLabel="123"></f:selectItem>
											<f:selectItem itemValue="234" itemLabel="234"></f:selectItem>
											<f:selectItem itemValue="564" itemLabel="564"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12 m-t-25">
								<div class="form-group">
									<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"></p:commandButton>
									<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
									</p:commandButton>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['exp_detail']}</h3>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th align="center">S.No</th>
																<th align="center">#{msg['head_acc']}</th>
																<th align="center" class="fa-input">#{msg['prev_yr_amt']}(&#xf156;)</th>
																<th align="center">#{msg['ten_amt_yr']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>Transportation Charges</td>
																<td align="right">25000</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>Packing Charges</td>
																<td align="right">25000</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>Electricity Charges</td>
																<td align="right">25000</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>Fire Safety Equipments</td>
																<td align="right">25000</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>Postage</td>
																<td align="right">25000</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td align="center" colspan="2"><strong>TOTAL</strong></td>
																<td class="text-right">12500</td>
																<td class="text-right"></td>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<!-- end col -->
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
						<div class="row view-style m-t-20">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['ten_sup_sheme']}" />
									<h:outputText value="121000000" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['ten_exp_amt']}" />
									<h:outputText value="1500" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['per_hand_charg_supp_value']}" />
									<h:outputText value="250" class="" />
								</div>
							</div>
							<!-- end col -->

							<!-- <div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_exp_amt_cur_pdt_plan']}" />
									<h:outputText value="2500" class="" />
								</div>
							</div> -->
							<!-- end col -->
						</div>
						<div class="col-lg-12 text-right ph0">
							<p:commandButton value="&#xf164;&nbsp;#{msg['approve']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light fa-input m-r-10"></p:commandButton>
							<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
							<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></p:commandButton>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
