<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Advance Amount Collection List</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['advan_amt_coll_list']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['finance']}</li>
							<li>#{msg['govt_Scheme']}</li>
							<li class="active">#{msg['advan_amt_coll_list']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['scheme_type']}" />
									<div class="form-group">
										<h:selectOneMenu id="schemetype"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="FDS" itemLabel="FDS"></f:selectItem>
											<f:selectItem itemValue="NMP" itemLabel="NMP"></f:selectItem>
											<f:selectItem itemValue="NMP" itemLabel="OAP"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['production_plan_name']}" />
									<div class="form-group">
										<h:selectOneMenu id="productioplanname"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="123" itemLabel="123"></f:selectItem>
											<f:selectItem itemValue="234" itemLabel="234"></f:selectItem>
											<f:selectItem itemValue="564" itemLabel="564"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<!-- <div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_amt_claim_id']}" />
									<div class="form-group">
										<h:selectOneMenu id="tentativeamount"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="123" itemLabel="123"></f:selectItem>
											<f:selectItem itemValue="234" itemLabel="234"></f:selectItem>
											<f:selectItem itemValue="564" itemLabel="564"></f:selectItem>
										</h:selectOneMenu>
									</div>
									input-group
								</div>
							</div>
							end col -->


							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['transac_no']}" />
									<p:inputText disabled=" " placeholder="1250"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<div class="form-group">
										<h:selectOneMenu id="status"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Active" itemLabel="Active"></f:selectItem>
											<f:selectItem itemValue="Pending" itemLabel="Pending"></f:selectItem>
											<f:selectItem itemValue="Reject" itemLabel="Reject"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-12  text-right">
								<div class="form-group">
									<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"></p:commandButton>
									<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
									</p:commandButton>
								</div>
							</div>

						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['srch_res']}</h3>
									<div class="pull-right m-t-2">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											styleClass="btn btn-xs waves-effect waves-light btn-success fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											styleClass="btn btn-xs waves-effect waves-light btn-info fa-input"></p:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th align="center">#{msg['sl']}</th>
																<th align="center">#{msg['scheme_type']}</th>
																<th align="center">#{msg['production_plan_name']}</th>
																<th align="center">#{msg['transac_no']}</th>
																<th align="center" class="fa-input">#{msg['transac_amt']}(&#xf156;)</th>
																<th align="center">#{msg['created_date']}</th>
																<th align="center">#{msg['status']}</th>
																<th align="center">#{msg['select']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>12345</td>
																<td>PD0123</td>
																<td>120</td>
																<td align="right">1000</td>
																<td>20-Jun-2017</td>
																<td>Created</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>12345</td>
																<td>PD0124</td>
																<td>140</td>
																<td align="right">1200</td>
																<td>21-Jun-2017</td>
																<td>Approved</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>12345</td>
																<td>PD0125</td>
																<td>160</td>
																<td align="right">1500</td>
																<td>22-Jun-2017</td>
																<td>Collected</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>12345</td>
																<td>PD0126</td>
																<td>180</td>
																<td align="right">1600</td>
																<td>23-Jun-2017</td>
																<td>Created</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>12345</td>
																<td>PD0127</td>
																<td>200</td>
																<td align="right">1800</td>
																<td>24-Jun-2017</td>
																<td>Approved</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12 ph0">
													<!-- <div class="col-lg-6 col-md-6 col-sm-12 m-t-10">
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
															title="Download PDF">
															<i class="fa fa-download"></i> PDF
														</button>
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-success"
															title="Download Excel">
															<i class="fa fa-download"></i> Excel
														</button>
													</div> -->
													<div class="col-lg-12 col-md-12 col-sm-12 text-right ph0">
														<ul class="pagination pagination-split m-t-10 m-b-0">
															<li><a href="#"><i class="fa fa-angle-left"></i>
																	Previous</a></li>
															<li class="disabled"><a href="#"><i
																	class="fa fa-angle-left"></i></a></li>
															<li><a href="#">1</a></li>
															<li class="active"><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
															<li><a href="#">Next <i
																	class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- end col -->
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
