<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{employeeHRAddLtcBean}"></ui:param>
		<ui:param name="ltc" value="#{bean.employeeLeaveTravelConcession}"></ui:param>
		<title>InfoTex | View Leave Travel Concession</title>
		<style type="text/css">
.view-style .form-group button span {
	color: #fff
}
</style>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Add #{msg['leave_travel_concession']} Bills</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['view_leave_travel_concession']}</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['view_leave_travel_concession']}</h6>
				</div>

				<div class="page-scroll">
					<div class="panel-body p-t-10">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ho_ro']}" />
									<h:outputText
										value="#{bean.selectedHoRo.code}/#{bean.selectedHoRo.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['enty_typ']}" />
									<h:outputText
										value="#{bean.selectedEntityTypeMaster.entityName}" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity']}" />
									<h:outputText value="#{bean.slectedEntity.name}" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText value="#{bean.selectedDepartement.name}" class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['sec']}" />
									<h:outputText value="#{bean.selectedSection.name}" class="" />
								</div>
							</div>
							<h:panelGroup rendered="#{bean.departementFlag}">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_code_name']}" />
										<h:outputText
											value="#{bean.ltcDetails.employeeMaster.empCode}/#{bean.ltcDetails.employeeMaster.firstName}"
											class="" />
									</div>
								</div>
							</h:panelGroup>

							<h:panelGroup rendered="#{bean.entityEmployeeFlag}">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_code_name']}" />
										<h:outputText
											value="#{bean.ltcDetails.employeeMaster.empCode}/#{bean.ltcDetails.employeeMaster.firstName}"
											class="" />
									</div>
								</div>
							</h:panelGroup>

						</div>
						<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['blk_yrs']}" />
										<h:outputText rendered="#{bean.employeeLeaveTravelConcession.blockYears!=null}"
											value="#{bean.employeeLeaveTravelConcession.blockYears!=null?
											bean.employeeLeaveTravelConcession.blockYears:(bean.employeeLeaveTravelConcession.blockYearFrom)}"
											class="" />
										<h:outputText rendered="#{bean.employeeLeaveTravelConcession.blockYears==null}"
											value="#{bean.employeeLeaveTravelConcession.blockYearFrom} - #{bean.employeeLeaveTravelConcession.blockYearTo}"
											class="" />
									</div>
								</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ltc_fm_date']}" />
									<h:outputText value="#{ltc.blockFromDate}" class="">
										<f:convertDateTime pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />

									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ltc_to_date']}" />
									<h:outputText value="#{ltc.blockToDate}" class="">
										<f:convertDateTime pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['num_of_days']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.blockNumberOfDays}"
										class="" />
								</div>
							</div>
						</div>

						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['eligible_distance']} (#{msg['km']})" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.eligibleDistance}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['travelled_distance']} (#{msg['km']})" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.travelledDistance}"
										class="" />
								</div>
							</div>

							<p:dialog width="80%" modal="true" header="Members List"
								styleClass="p-0 overlay-pop modal-dialog " closable="true"
								widgetVar="viewMember" showEffect="fade" hideEffect="fade"
								closeOnEscape="true">
								<div class="modal-body border0 ">
									<p:dataTable id="familyMemberList" var="data" class="table"
										widgetVar="familyMemberListTable" rowKey="#{data.id}"
										paginatorAlwaysVisible="false"
										value="#{bean.employeeFamilyList}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" paginatorPosition="bottom"
										rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
										emptyMessage="No records found">
										<p:ajax event="page" onstart="PF('progressDlg').show()"
											onsuccess="PF('progressDlg').hide()" />
										<p:column headerText="#{msg['s_no']}"
											style="text-align: center; width: 3%;">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column style="width:8%;" headerText="Name">
											<h:outputText value="#{data.dependentName}" />
										</p:column>

										<p:column style="width:8%;" headerText="Relationship">
											<h:outputText value="#{data.relationshipMaster.name}" />
										</p:column>
										<p:column style="width:8%;" headerText="Age">
											<h:outputText value="#{data.age}" />
										</p:column>
										<p:column rendered="false" headerText="Action"
											style="width:8%;" class="text-center"
											selectionMode="multiple">
										</p:column>
									</p:dataTable>
								</div>
							</p:dialog>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['applied_for']}" class="block" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.availedFor}"
										class="inlineblock" />
									<p:outputPanel id="member" class="inlineblock">

										<p:commandButton id="viewMember" value="&#xea18; View Members"
											rendered="#{bean.employeeLeaveTravelConcession.availedFor eq 'Family'}"
											update="viewMember familyMemberList"
											action="#{bean.loadFamilyMembersView}" immediate="true"
											styleClass="btn btn-sm btn-info font-iconmoon"
											style="padding:0px; font-size: 12px; vertical-align: top;" />
									</p:outputPanel>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['mode_of_travel']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.travelMode}"
										class="" />
								</div>
							</div>

						</div>


						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['type_of_leave']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.leaveTypeMaster.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['leave_from_date']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.holidayFromDate}"
										class="">
										<f:convertDateTime pattern="dd-MM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['leave_to_date']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.holidayToDate}"
										class="">
										<f:convertDateTime pattern="dd-MM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['num_of_days']}" />
									<h:outputText
										value="#{bean.employeeLeaveTravelConcession.holidayNoOfDays}"
										class="" />
								</div>
							</div>

						</div>

						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['cost_of_ticket']}" />
									<h:outputText
										value="&#xf156; #{bean.employeeLeaveTravelConcession.advanceAmount}"
										class="fa-input" />
								</div>
							</div>

							<p:outputPanel rendered="#{!empty bean.empLtcHolidayDatesList}">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="Holiday List" class="block" />
										<h:outputText value="Holiday List" class="inlineblock" />
										<p:outputPanel id="holidayss" class="inlineblock">

											<p:commandButton id="viewHoliday"
												value="&#xea18; View Members"
												rendered="#{!empty bean.empLtcHolidayDatesList}"
												update="viewHoliday holidaysTableOfLTc"
												action="#{bean.loadEmpHolidayList}" immediate="true"
												styleClass="btn btn-sm btn-info font-iconmoon"
												style="padding:0px; font-size: 12px; vertical-align: top;" />
										</p:outputPanel>
									</div>
								</div>
							</p:outputPanel>

							<p:dialog width="80%" modal="true" header="Holiday List"
								styleClass="p-0 overlay-pop modal-dialog " closable="true"
								widgetVar="viewHoliday" showEffect="fade" hideEffect="fade"
								closeOnEscape="true">
								<div class="row ">
									<div class="col-lg-12">
										<div class="table-responsive">
											<p:dataTable id="holidaysTableOfLTc" var="data" class="table"
												rowKey="#{data.id}" lazy="false"
												paginatorAlwaysVisible="false"
												value="#{bean.empLtcHolidayDatesList}"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												paginator="true" paginatorPosition="bottom"
												rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
												emptyMessage="No records found">
												<p:column headerText="#{msg['s_no']}"
													style="text-align: center; width: 3%;">
													<h:outputText value="#{idx+1}" />
												</p:column>
												<p:column filterable="true"
													styleClass="width-10 text-center" headerText="Date">
													<h:outputText value="#{data.holidayDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
															pattern="dd-MMM-yyyy" />
													</h:outputText>
												</p:column>
											</p:dataTable>
										</div>
									</div>
								</div>
							</p:dialog>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel
										rendered="#{!empty bean.employeeLeaveTravelConcession.documentPath}"
										value="#{msg['supp_docs']}" />
									<p:commandButton
										rendered="#{!empty bean.employeeLeaveTravelConcession.documentPath}"
										value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
										title="#{msg['download']}"
										actionListener="#{bean.downloadIncomingFile(bean.employeeLeaveTravelConcession.documentPath)}"
										ajax="false"
										class="fa-input btn btn-sm bg-primary font-iconmoon m-l-5">
										<p:fileDownload value="#{bean.file}"></p:fileDownload>
									</p:commandButton>
								</div>
							</div>

						</div>



						<h6>
							Add Leave Bills Documents
							<!-- <span class="clearfix"></span>
						<input type="radio" name="Yes" value="Yes" checked="checked"  /> 
						<p:outputLabel  value="Yes" class="m-l-10" />
						<input type="radio" name="No" value="No" class="m-l-10" />
						<p:outputLabel  value="No" class="m-l-10" /> -->
						</h6>

						<div class="row view-style">
							<div class="col-lg-12 col-sm-12 col-md-12">
								<div class="form-group ">

									<ui:repeat value="#{bean.holidaysList}" var="holiday">
										<h:outputText
											class="label label-default inlineblock width-20 ltc-dt-label"
											value="#{holiday}" id="dates">
										</h:outputText>
									</ui:repeat>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive m-b-10">
									<p:outputPanel id="intapal"
										styleClass="#{bean.ltcBillList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										
										<p:dataTable var="list" rowIndexVar="index"
												styleClass="report-table" value="#{bean.ltcBillList}"
												id="filetable" scrollable="false"
												scrollHeight="#{bean.fileList.size() eq 0 ? '35' : 
									  				 bean.fileList.size() eq 1 ? '40':
									  				 bean.fileList.size() eq 2 ? '80':
													 bean.fileList.size() eq 3 ? '120':
													 bean.fileList.size() eq 4 ? '160':
													 bean.fileList.size() gt 4  ? '200' :'35'}"
												style="margin-right: 0px;">
												<p:column headerText="#{msg['s_no']}"
													styleClass="fa-input width-3">
													<h:outputText value="#{index+1}"></h:outputText>
												</p:column>
												<p:column headerText="#{msg['doc_name']}"
													styleClass="width-50">
													<h:outputText value="#{list}"></h:outputText>
												</p:column>
												<p:column headerText="#{msg['action']}"
													styleClass="datatb-upload-icon width-25 text-center">

												<p:commandButton
													rendered="#{!empty list}"
													value="&#xf019;&nbsp;&nbsp;"
													title="#{msg['download']}" 
													actionListener="#{bean.downloadIncomingFileLTCBill(list)}"
													immediate="true" ajax="false"
													class="fa-input btn btn-sm bg-primary font-iconmoon m-l-5">
													<p:fileDownload value="#{bean.file}"></p:fileDownload>
												</p:commandButton>


												<p:fileUpload fileUploadListener="#{bean.billsFileUpload}"
														id="tapalfile"
														mode="advanced" rendered="#{bean.billsubmitFlag}"
														auto="true" sizeLimit="10000000" label="&#xf093;"
														update="filetable growls tapalfile" multiple="true">
														<f:attribute name="index" value="#{index}" />

													</p:fileUpload>
													<p:commandButton value="&#xea0e;" action="#{bean.addRow}"
														update="filetable intapal" rendered="#{bean.billsubmitFlag}"
														class="btn bg-success font-iconmoon m-l-0"
														title="#{msg['add']}">
													</p:commandButton>
													<p:commandButton value="&#xe99e;" rendered="#{bean.billsubmitFlag}"
														action="#{bean.deleteRow(index)}" update="filetable"
														class="btn bg-danger font-iconmoon m-l-5"
														title="#{msg['delete']}">
													</p:commandButton>
												</p:column>
											</p:dataTable>
										
									</p:outputPanel>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<h:panelGroup
								rendered="#{(bean.approvalFlag and !bean.previousApproval) or bean.billsubmitFlag}">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_to']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<p:autoComplete id="forwardto" minQueryLength="2" disabled="#{bean.previousApproval}"
												styleClass="form-control" converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']} "
												value="#{bean.userMaster}" itemValue="#{emp}" var="emp"
												itemLabel="#{emp.empName}"
												completeMethod="#{bean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="forwardto"></p:ajax>
											</p:autoComplete>
											<ui:remove>
												<h:selectOneMenu id="forwardto" styleClass="form-control"
													required="true"
													requiredMessage="#{msg['frwd_to']} #{msg['required']}"
													placeholder="#{msg['frwd_to']}"
													value="#{bean.leaveTravelConcessionDto.forwardTo}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems
														value="#{bean.leaveTravelConcessionForwardToList}"
														var="userMaster"
														itemLabel="#{userMaster.empCode}/#{userMaster.empName}"
														itemValue="#{userMaster.id}"></f:selectItems>
												</h:selectOneMenu>
											</ui:remove>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_for']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="forwardfor" styleClass="form-control"
												required="true"
												requiredMessage="#{msg['frwd_for']} #{msg['required']}"
												value="#{bean.leaveTravelConcessionDto.forwardFor}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								</h:panelGroup>
						</div>
						<div class="row label-form">
							<div class="col-lg-6">

								<div class="form-group ">
									<p:commandButton value="&#xea18;&nbsp;#{msg['view_note']}"
										title="#{msg['view_note']}"
										styleClass="btn btn-info btn-md font-iconmoon m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>
								</div>

							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 text-right">
							<h:panelGroup rendered="#{bean.approvalFlag}">
							
									<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
										onclick="PF('dlgComments2').show();"
										rendered="#{bean.stage ne 'SUBMITTED' and bean.stage ne 'APPROVED' and bean.stage ne 'FINALAPPROVED' and bean.stage ne 'BILL_REJECTED'  and bean.stage ne 'BILL_FINALAPPROVED' and bean.approvalFlag}"
										class="btn btn-sm bg-danger font-iconmoon">
									</p:commandButton>
									<p:commandButton value="&#xecf5;&nbsp; #{bean.leaveTravelConcessionDto.forwardFor ? msg['final_approve']:msg['approve']}"
										onclick="PF('dlgComments1').show();"
										rendered="#{bean.stage ne 'SUBMITTED' and bean.stage ne 'APPROVED' and bean.stage ne 'FINALAPPROVED' and bean.stage ne 'BILL_REJECTED'  and bean.stage ne 'BILL_FINALAPPROVED' and bean.approvalFlag}"
										class="btn btn-sm bg-success font-iconmoon">
									</p:commandButton>
									
								</h:panelGroup>

								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									title="#{msg['back']}" id="addId" update="growls"
									immediate="true" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{bean.listPage}"
									class="btn bg-info font-iconmoon m-r-0 pull-right">
								</p:commandButton>

								<p:commandButton value="&#xed6e; #{msg['submit']}"
									onclick="PF('progressDlg').show();"
									rendered="#{bean.billsubmitFlag}"
									oncomplete="PF('progressDlg').hide();" update="growls"
									action="#{bean.saveBills}"
									styleClass="btn btn-sm bg-success font-iconmoon m-r-0 pull-right" ></p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<p:dialog modal="true" draggable="false" header="Approve Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<h:form>
				<p:outputPanel id="approvePanel">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="Remarks" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.leaveTravelConcessionDto.remarks}"
										id="comments1" rendered="true">
										<p:ajax update="comments1"></p:ajax>
									</p:inputTextarea>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer ph0 m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							update="approvePanel growls" title="#{msg['submit']}"
							oncomplete="PF('dlgComments1').hide();" process="@this"
							class="btn bg-success heading-btn  font-iconmoon"
							action="#{bean.approveLTC}" onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false" header="Reject Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<h:form>
				<p:outputPanel id="rejectPanel">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="Remarks" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.leaveTravelConcessionDto.remarks}"
										id="comments2">
										<p:ajax update="comments2"></p:ajax>
									</p:inputTextarea>
								</div>
								<h:message for="comments2" class="validation-error-label" />
							</div>
						</div>
					</div>
					<div class="modal-footer ph0 m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" action="#{bean.rejectLTC}"
							update="rejectPanel growls"
							oncomplete="PF('dlgComments2').hide();" process="@this">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<p:outputPanel id="viewPanel">
				<div class="panel-body modal-lg p-0">
					<div class="tabbable wysihtml5-tabc">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<!-- WYSIHTML5 basic -->

								<div class="form-group text-wysihtml5-toolbar">
									<p:inputTextarea cols="18" rows="18"
										class="wysihtml5 wysihtml5-min form-control"
										placeholder="Enter text ..."
										value="#{bean.leaveTravelConcessionDto.note}" disabled="true">
									</p:inputTextarea>
								</div>
								<div class='col-md-12'>
									<div class="carousel slide media-carousel">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name :
																		#{bean.loginEmployee.firstName}</li>
																	<li>Designation :
																		#{bean.loginEmployee.personalInfoEmployment.designation.name}</li>
																	<li>Date : #{bean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>

												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />

							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
</ui:composition>