<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Temporary Engagement</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Recruitment Process - Create Temporary Engagement</h4>
					<ul class="breadcrumb">
						<li><a href=""><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Personnel</li>
						<li>HR</li>
						<li>#{msg['recruit_pro']}</li>
						<li>Temporary Engagement</li>
						<li class="active">Create Temporary Engagement</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">

			<div
				class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">
						<a data-toggle="collapse" class="block"
							data-parent="#accordion-control-right"
							href="#accordion-control-right-group1">Temporary Engagement
							Generation <span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
						</span>
						</a>
					</h6>
				</div>

				<div class="panel-body" id="accordion-control-right-group1">
					<div class="row">
						<div class="col-lg-10 no-padding">
							<div class="col-lg-12 ">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['state']}" />
											<p:outputLabel value="*" class="text-danger mand-symbol" />
											<h:selectOneMenu class="form-control">
												<f:selectItem itemLabel="TamilNadu" />
											</h:selectOneMenu>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="Entity" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon height30"><i
													class="icon-location4"></i></span>
												<div class="multi-select-full">
													<select class="multiselect" multiple="multiple">
														<option>Select All</option>
														<option>Head Office</option>
														<option>Salem</option>
														<option>Madurai</option>
														<option>Kanchipuram</option>
														<option>Vellore</option>
														<option>Chennai</option>
														<option>Cuddalore</option>
														<option>Thanjavur</option>
														<option>Tirunelveli</option>
														<option>Coimbatore</option>
														<option>Bangalore</option>
														<option>Mumbai</option>
														<option>Vijayawada</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<p:outputLabel value="*" class="text-danger mand-symbol" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<h:selectOneMenu class="form-control">
													<f:selectItem itemLabel="#{msg['select']}" />
													<f:selectItem itemLabel="Technical" />
													<f:selectItem itemLabel="Marketing" />
													<f:selectItem itemLabel="Admin" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="Designation" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<div class="multi-select-full">
													<select class="multiselect" multiple="multiple">
														<option>Select All</option>
														<option>CHIEF GENERAL MANAGER</option>
														<option>GENERAL MANAGER</option>
														<option>SENIOR REGIONAL MANAGER</option>
														<option>REGIONAL MANAGER</option>
														<option>SUPERINTENDENT</option>
														<option>SENIOR ASSISTANT</option>
														<option>JUNIOR ASSISTANT</option>
														<option>ATTENDER</option>
														<option>GENERAL MANAGER (PRODUCTION)</option>

													</select>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
							<div class="col-lg-12 col-md-6 col-sm-6 gen-btn">
								<p:commandButton value="&#xe916;&nbsp; #{msg['clear']}"
								
									styleClass="btn btn-sm bg-slate font-iconmoon" />
								<p:commandButton value="&#xf021;&nbsp; #{msg['generate']}"
									styleClass=" m-t-10 btn btn-sm bg-primary fa-input " />
							</div>
						</div>
					</div>
				</div>
			</div>

			<h5 class="m-b-0">
				<span class="iform-title"> <i class="fa fa-th-large m-r-5"></i>
					<h:outputText value="Temporary Engagement" /> <!-- - <p:outputLabel
						value="Marketing" class="label badge-recruitment label-primary" /> --></span>
			</h5>

			<div class="">
				<div class="panel">
					<div class="panel-body p-0">
						<table class="cust-table">
							<thead>
								<tr>
									<th>#</th>
									<th>Entity</th>
									
									<th>#{msg['sanc_sta_stre']}</th>
									<th>#{msg['tot_sta_eli']}</th>
									<th>#{msg['tot_sta_role']}</th>
									<th>#{msg['excess_count']}</th>
									<th>#{msg['short_count']}</th>
									<th>#{msg['action']}</th>
								</tr>
								
							</thead>

							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>Coimbatore</td>
									<td class="text-right">8</td>
									<td class="text-right">114</td>
									<td class="text-right">25</td>
									<td class="text-right">0</td>
									<td class="text-right">89</td>
									<td class="text-center">
									<p:commandButton value="&#xea18;"
										title="View" onclick="PF('coimbShowroom').show()"
										class="btn btn-sm bg-info font-iconmoon" />
									</td>
								</tr>
							</tbody>
						</table>

						<div class="p-10">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="Selection Year" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar22"></i></span>
											<p:inputText value="" class="form-control" />
										</div>

									</div>
								</div>
							</div>

							<div class="text-right ">
								<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
									class="btn btn-sm bg-slate fa-input" />
								<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}"
									class="btn btn-sm bg-success fa-input m-l-10" />
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<p:dialog draggable="false" modal="true" widgetVar="coimbShowroom"
			header="Temporary Engagement - Coimbatore"
			styleClass="p-0 overlay-pop modal-dialog modal-full" closable="true"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body p-10 border0">
				<table class="cust-table">
					<thead>
						<tr>
							<th>#</th>
							<th>Entity</th>
							<th class="text-right">Area (Sq.Ft)</th>
							<th>#{msg['sanc_sta_stre']}</th>
							<th>#{msg['tot_sta_eli']}</th>
							<th>#{msg['tot_sta_role']}</th>
							<th>#{msg['excess_count']}</th>
							<th>#{msg['short_count']}</th>
						</tr>
						
					</thead>

					<tbody>
						<tr>
							<td class="text-center">1</td>
							<td>MARUTHAM</td>
							<td class="text-right">8860</td>
							<td class="text-right">-</td>
							<td class="text-right">26</td>
							<td class="text-right">7</td>
							<td class="text-right">0</td>
							<td class="text-right">19</td>
						</tr>
						<tr>
							<td class="text-center">2</td>
							<td>R.S.PURAM</td>
							<td class="text-right">700</td>
							
							<td class="text-right">-</td>
							<td class="text-right">3</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">1</td>
						</tr>
						<tr>
							<td class="text-center">3</td>
							<td>POLLACHI</td>
							<td class="text-right">824</td>
							
							<td class="text-right">-</td>
							<td class="text-right">5</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">3</td>
						</tr>

						<tr>
							<td class="text-center">4</td>
							<td>GANDHIPURAM</td>
							<td class="text-right">1067</td>
							
							<td class="text-right">-</td>
							<td class="text-right">3</td>
							<td class="text-right">3</td>
							<td class="text-right">0</td>
							<td class="text-right">0</td>
						</tr>

						<tr>
							<td class="text-center">5</td>
							<td>TIRUPUR</td>
							<td class="text-right">1860</td>
							
							<td class="text-right">-</td>
							<td class="text-right">4</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">2</td>
						</tr>

						<tr>
							<td class="text-center">6</td>
							<td>VANNAMALAR</td>
							<td class="text-right">3014</td>
							
							<td class="text-right">-</td>
							<td class="text-right">6</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">4</td>
						</tr>

						<tr>
							<td class="text-center">7</td>
							<td>UDUMALPET</td>
							<td class="text-right">960</td>
							
							<td class="text-right">-</td>
							<td class="text-right">4</td>
							<td class="text-right">1</td>
							<td class="text-right">0</td>
							<td class="text-right">3</td>
						</tr>

						<tr>
							<td class="text-center">8</td>
							<td>BALAMURUGAN</td>
							<td class="text-right">300</td>
							
							<td class="text-right">-</td>
							<td class="text-right">3</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">1</td>
						</tr>

						<tr>
							<td class="text-center">9</td>
							<td>ISSR, CBE</td>
							<td class="text-right">-</td>
							
							<td class="text-right">3</td>
							<td class="text-right">3</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">1</td>
						</tr>

						<tr>
							<td class="text-center">10</td>
							<td>PWH.CHML</td>
							<td class="text-right">-</td>
							
							<td class="text-right">5</td>
							<td class="text-right">2</td>
							<td class="text-right">2</td>
							<td class="text-right">0</td>
							<td class="text-right">0</td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="modal-footer m-t-10 border0 text-right">
				<p:commandButton value="&#xed6a; Close"
					styleClass="btn btn-sm bg-slate font-iconmoon"
					oncomplete="PF('coimbShowroom').hide()" />
			</div>

		</p:dialog>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
	</ui:define>
</ui:composition>