<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex |  Oral Test Venue Approval</title>

			<style type="text/css">
#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number, #steps-uid-0-t-4 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff !important;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
	color: #bbb
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-5 .number:after {
	content: "18";
	color: #ff5722;
}

#steps-uid-0-t-5 .number {
	border-color: #ff5722;
}

#steps-uid-0-t-5 .number:after {
	content: "18";
}

#steps-uid-0-t-5 .number:after {
	content: "19";
}

#steps-uid-0-t-6 .number:after {
	content: "20";
}

#steps-uid-0-t-7 .number:after {
	content: "21";
}

#steps-uid-0-t-8 .number:after {
	content: "22";
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-5 {
	color: #333 !important;
}
</style>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4> #{msg['oral_test_app']} </h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
							<li class="active">#{msg['oral_test_app']} </li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content p-content">
				<div class="box-shadow-wizard wizard rpwf2 clearfix">
			<div class="steps clearfix">
			
			<ul>
					<li class="first current smnone mdnone"><a id="steps-uid-0-t-0"><span
					class="current-info audible">current step: </span><span
					class="number">1</span> #{msg['written_xam']}</a></li>
					<li class="disabled smnone "><a
						id="steps-uid-0-t-1"><span class="number">2</span>
							#{msg['wri_ex_appl']}</a></li>
					<li class="disabled " ><a
						id="steps-uid-0-t-2"><span class="number">3</span>
							#{msg['orl_ex_li']}</a></li>
					<li class="disabled " ><a
						id="steps-uid-0-t-3"><span class="number">4</span>
							#{msg['orl_ex_li_appl']}</a></li>
					<li class="disabled  "><a
						id="steps-uid-0-t-4"><span class="number">5</span>
							#{msg['venue']}</a></li>
					<li class="disabled smnone mdnone"><a
						id="steps-uid-0-t-5"><span class="number">6</span>
							#{msg['ven_appl']}</a></li>
					<li class="disabled smnone mdnone"><a
						id="steps-uid-0-t-6 "><span class="number">20</span>
							#{msg['cal_let']}</a></li>
					<li class="disabled mdnone smnone"><a
						id="steps-uid-0-t-7 "><span class="number">21</span>
							#{msg['oral_exam_mark']}</a></li>
					<li class="disabled mdnone smnone"><a
						id="steps-uid-0-t-8"><span class="number">9</span>
							#{msg['orl_ex_appl']}</a></li>
				</ul>
				
				
			</div>
		</div>
			</div>

			<div class="content">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right "
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading panelHeading-fix">
							<h6 class="panel-title">#{msg['oral_exam_venue']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="topFix page-scroll-with-process-insight-panel">
							<div class="panel-body ">
								<div class="view-style">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['adver_num']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.jobAdvertisement.notificationNumber}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['region']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.regionName.name}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['oral_venue_name']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.venueName}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['incharge_name']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.inchargeName}</span>
											</div>
										</div>
								
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['oral_date']}" />
												<span class=""> <h:outputText
														value="#{oralExamVenueBean.oralExamVenue.oralExamDate}">
														<f:convertDateTime timeZone="GMT+05:30"
															pattern="dd-MMM-yyyy" />
													</h:outputText>
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['oral_ex_start_time']}" />
												<span class=""> <h:outputText
														value="#{oralExamVenueBean.oralExamVenue.oralExamStartTime}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="hh:mm a" />
													</h:outputText>
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['oral_ex_end_time']}" />
												<span class=""> <h:outputText
														value="#{oralExamVenueBean.oralExamVenue.oralExamEndTime}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="hh:mm a" />
													</h:outputText>
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_no_seats']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.noOfSeats}</span>
											</div>
										</div>
								
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line1']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.addressLineOne}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line2']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.addressLineTwo}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line3']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.addressLineThree}</span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['state']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.stateMaster.name}</span>
											</div>
										</div>
								
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dist']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.districtMaster.name}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['pincode']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.pincode}</span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['pri_con_num']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.primaryContactNumber}</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['sec_con_num']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.secondaryContactNumber}</span>
											</div>
										</div>
									
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['email_address']}" />
												<span class="">#{oralExamVenueBean.oralExamVenue.emailId}</span>
											</div>
										</div>

									</div>


								</div>

								<div class="col-lg-12 no-padding m-t-10">
									<div class="form-group ">
										<p:outputLabel value="#{msg['remark']}" />
										<p:inputTextarea
											value="#{oralExamVenueBean.oralExamVenue.remarks}" rows="3"
											class="form-control" maxlength="250" placeholder="Some text">
										</p:inputTextarea>
										<small>#{msg['textarea_msg']}</small>
									</div>
								</div>

								<div class="col-md-12 no-padding ">
									<div class=" ">
										<div class="text-right">
											<!-- Cancel -->
											<p:commandButton value="&#xed6a; #{msg['cancel']}"
												action="#{oralExamVenueBean.showPage}"
												title="#{msg['cancel']}" onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												class="btn btn-sm bg-slate font-iconmoon m-l-10">
												<f:setPropertyActionListener value="cancel"
													target="#{oralExamVenueBean.page}" />
											</p:commandButton>
											<!-- Reject -->
											<p:commandButton value="&#xecf6; #{msg['reject']}"
												update="idConfirm growls" title="#{msg['reject']}"
												action="#{oralExamVenueBean.confirmStatus}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												class="btn btn-sm bg-danger font-iconmoon m-l-10">
												<f:setPropertyActionListener value="Rejected"
													target="#{oralExamVenueBean.oralExamVenue.status}" />
											</p:commandButton>
											<!-- Approve -->
											<p:commandButton value="&#xecf5; #{msg['approve']}"
												update="idConfirm growls" title="#{msg['approve']}"
												action="#{oralExamVenueBean.confirmStatus}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												class="btn bg-success heading-btn font-iconmoon">
												<f:setPropertyActionListener value="Approved"
													target="#{oralExamVenueBean.oralExamVenue.status}" />
											</p:commandButton>

										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
				<!-- colleps panel end -->
				<p:dialog
					header="#{msg['confirm']} #{oralExamVenueBean.oralExamVenue.status eq 'Approved' ? 'approve' : 'reject'}"
					draggable="false" modal="true" id="idConfirm"
					styleClass="p-0 overlay-pop modal-dialog" closable="true"
					width="30%" widgetVar="confirmStatus" showEffect="fade"
					hideEffect="fade" closeOnEscape="true" resizable="false">
					<div class="modal-body">
						<h:outputText
							value="#{msg['app_or_reject']} #{oralExamVenueBean.oralExamVenue.status eq 'Approved' ? 'approve' : 'reject'} record ?" />
					</div>
					<div class="modal-footer m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}" title="#{msg['no']}"
							styleClass="btn bg-slate heading-btn font-iconmoon"
							oncomplete="PF('confirmStatus').hide()" />
						<p:commandButton ajax="false"
							styleClass="btn bg-success heading-btn font-iconmoon"
							value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
							action="#{oralExamVenueBean.approveReject}"
							oncomplete="PF('confirmStatus').hide()">
						</p:commandButton>
					</div>
				</p:dialog>

			</div>

		</h:form>

	</ui:define>
</ui:composition>
