<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="incrementForm">
			<title>InfoTex | Increment</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_increment']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{msg['create_increment']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content page-scroll no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right page-scroll-without-outsight-panel"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['increment']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<p:outputPanel id="incrementPanel">
								<div class="panel-body">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="horo" styleClass="form-control"
														value="#{incrementBean.headRegionOffice}"
														disabled="#{incrementBean.incrementDTOList.size() gt 0}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['ho_ro_req']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}" itemLabel="#{obj.name}"
															var="obj"
															value="#{incrementBean.loginUserHeadRegionOfficeList}"></f:selectItems>
													</h:selectOneMenu>
												</div>
												<h:message for="horo" class="validation-error-label" />
												<p:focus for="horo" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['increment_cycle']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-user-tie"></i></span>

													<h:selectOneMenu id="incrementCycleId"
														styleClass="form-control"
														disabled="#{incrementBean.incrementDTOList.size() gt 0}"
														value="#{incrementBean.incrementCycle}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['increment_cycle_req']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}"
															itemLabel="#{obj.incrementCycleName}" var="obj"
															value="#{incrementBean.incrementCycleList}"></f:selectItems>
														<p:ajax event="change" onstart="PF('progressDlg').show();"
															onsuccess="PF('progressDlg').hide();"
															listener="#{incrementBean.loadIncrementPercentage}"
															update="financialYear percentageId  incrementTable"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="incrementCycleId"
													class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['percentage']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-percent"></i></span>
													<p:inputText id="percentageId" class="form-control"
														value="#{incrementBean.incrementPercentage}"
														disabled="true">
													</p:inputText>
												</div>
												<h:message for="percentageId" class="validation-error-label"></h:message>
											</div>
										</div>

										<p:outputPanel id="financialYear">
											<h:panelGroup
												rendered="#{incrementBean.incrementCycle.incrementCycleCode eq 'ADDBONUS'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
													<div class="form-group">
														<p:outputLabel value="#{msg['year']}" />
														<span class="text-danger">* </span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<h:selectOneMenu class="form-control" id="finYear"
																required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
																requiredMessage="#{msg['year_req']}"
																value="#{incrementBean.financialYear}"
																converter="#{entityConverter}">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}" noSelectionOption="true" />
																<f:selectItems var="fin" itemValue="#{fin}"
																	itemLabel="#{fin.startYear} / #{fin.endYear}"
																	value="#{incrementBean.financialYearList}" />
																<p:ajax event="change"
																	update="incrementCycleId incrementTable financialYear growls "></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="finYear" class="validation-error-label"></h:message>
													</div>
												</div>
											</h:panelGroup>
										</p:outputPanel>
									</div>

									<div class="row">
										<div class="col-lg-12 text-right">
											<p:commandButton
												update="horo incrementCycleId percentageId incrementTable growls"
												onstart="PF('statusDialog').show();"
												action="#{incrementBean.clearIncrement}"
												value="&#xe916;&nbsp;#{msg['clear']}"
												title="#{msg['clear']}"
												class="btn bg-slate heading-btn font-iconmoon m-l-0"
												onsuccess="PF('statusDialog').hide();">
											</p:commandButton>
											<p:commandButton onstart="PF('statusDialog').show();"
												action="#{incrementBean.generateIncrementInformation}"
												value="&#xeda7;&nbsp;#{msg['generate']}" binding="#{submit}"
												title="#{msg['generate']}"
												onsuccess="PF('statusDialog').hide();"
												update="incrementTable incrementPanel growls"
												class="btn bg-primary heading-btn font-iconmoon">
											</p:commandButton>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->

				<div class="panel">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['incrmnt_information']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:outputPanel id="incrementTable">
										<p:dataTable rowIndexVar="idx"
											rendered="#{incrementBean.incrementCycle.incrementCycleCode ne 'ADDBONUS'}"
											var="increment" class="report-table m-b-15"
											value="#{incrementBean.incrementDTOList}">

											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['employee_code_name']}"
												styleClass="width-10">
												<h:outputText
													value="#{increment.employeeCode} / #{increment.firstName} #{increment.lastName}" />
											</p:column>

											<p:column headerText="#{msg['desgn']}" styleClass="width-10">
												<h:outputText value="#{increment.designationName}" />
											</p:column>

											<p:column headerText="#{msg['payscale']}"
												styleClass="width-10">
												<h:outputText value="#{increment.fromAmount}">
													<f:convertNumber minFractionDigits="0" pattern="#0"></f:convertNumber>
												</h:outputText>
												<h:outputText value=" - " />

												<h:outputText value="#{increment.toAmount}">
													<f:convertNumber minFractionDigits="0" pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column
												headerText="#{msg['existing_basic_pay']} (&#xf156;)"
												styleClass="width-10 text-right fa-input">
												<h:outputText value="#{increment.basicpay}">
													<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['incrmnt_percentage']}"
												rendered="#{incrementBean.incrementCycle.incrementCycleCode eq 'PR01'}"
												styleClass="width-10 text-right">
												<p:inputText id="percentageId" class="form-control"
													maxlength="3" value="#{increment.incrementPercentage}">
													<p:ajax event="change" update="incrementTable growls"
														listener="#{incrementBean.calculateIncrementPrecentageForPR(increment)}" />
												</p:inputText>
											</p:column>
											<p:column headerText="#{msg['incrmnt_amnt']} (&#xf156;)"
												styleClass="width-10 text-right fa-input">
												<h:outputText value="#{increment.incrementAmount}">
													<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['revised_basic_pay']} (&#xf156;)"
												styleClass="width-10 text-right fa-input">
												<h:outputText value="#{increment.revisedBasicpay}">
													<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column
												headerText="#{msg['financial_benefit_start_from']} *"
												styleClass="width-10 text-center form-group_calend">
												<p:calendar onchange="PF('table').filter()" navigator="true"
													value="#{increment.financialBenefitFrom}" id="openDate"
													pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
													yearRange="c-100:c+100" maxdate="java.util.Date"
													mask="true" styleClass="form-control calend-icon">
													<p:ajax event="dateSelect" />
												</p:calendar>
											</p:column>
											<p:column headerText="#{msg['eff_Date']} *"
												styleClass="width-10 text-center form-group_calend">
												<p:calendar onchange="PF('table').filter()" navigator="true"
													value="#{increment.effectiveDate}" id="effDate"
													pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
													yearRange="c-100:c+100" mask="true"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect" />
												</p:calendar>
											</p:column>
											<p:column headerText="#{msg['action']}"
												styleClass="width-6 text-center">
												<div class="table-actn-btn">
													<p:selectBooleanCheckbox id="sameaspresent"
														disabled="#{increment.basicpay eq '0.0'}"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														value="#{incrementBean.isIncrementEmployeeStatus}">
														<p:ajax update=""
															listener="#{incrementBean.setIncrementDetails(increment)}"></p:ajax>
													</p:selectBooleanCheckbox>
												</div>
											</p:column>
										</p:dataTable>

										<p:dataTable rowIndexVar="idx"
											rendered="#{incrementBean.incrementCycle.incrementCycleCode eq 'ADDBONUS'}"
											var="bonus" class="report-table m-b-15"
											value="#{incrementBean.employeeBonusDTOList}">

											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['pf_no']}" styleClass="width-5">
												<h:outputText value="#{bonus.pfNumber}" />
											</p:column>

											<p:column headerText="#{msg['employee_code_name']}"
												styleClass="width-10">
												<h:outputText value="#{bonus.empName}" />
											</p:column>

											<p:column headerText="#{msg['desgn']}" styleClass="width-5">
												<h:outputText value="#{bonus.designation}" />
											</p:column>

											<p:column headerText="#{msg['total_working_days']}"
												styleClass="width-10">
												<p:inputText id="noOfWorkingDays" disabled=""
													value="#{bonus.noOfWorkingDays}">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax event="change" update="eligibleBonus netPayAmt"></p:ajax>
												</p:inputText>
											</p:column>

											<p:column
												headerText="#{msg['total_basic_pay_DA']} (&#xf156;)"
												styleClass="width-10 text-right fa-input">
												<p:inputText id="basicDA" value="#{bonus.basicDa}" rendered="#{bonus.hideFlag=='true'}">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax event="change" update="eligibleBonus netPayAmt"></p:ajax>
												</p:inputText>
												<h:outputText value="#{bonus.basicDa}"  rendered="#{bonus.hideFlag=='false'}"/>
												
											</p:column>

											<p:column headerText="#{msg['eligible_bonus']} (&#xf156;)"
												styleClass="width-5 text-right fa-input">
												<h:outputText id="eligibleBonus"
													value="#{((bonus.basicDa) * (bonus.noOfWorkingDays)/365) gt 8400 ? 8400 : ((bonus.basicDa) * (bonus.noOfWorkingDays)/365)}">
													<f:convertNumber pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['income_tax']}"
												styleClass="width-8 text-right">
												<p:inputText id="incomeTax" class="form-control" rendered="#{bonus.hideFlag=='true'}"
													value="#{bonus.incomeTAx}" maxlength="10">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax update="total netPayAmt"></p:ajax>
													<f:convertNumber pattern="#0.0"></f:convertNumber>
												</p:inputText>
												
												<h:outputText value="#{bonus.incomeTAx}"  rendered="#{bonus.hideFlag=='false'}"/>
												
											</p:column>

											<p:column headerText="#{msg['stock_deficit']}"
												styleClass="width-8 text-right">
												<p:inputText id="stockDeficit" class="form-control" rendered="#{bonus.hideFlag=='true'}"
													value="#{bonus.stockDeficit}" maxlength="10">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax update="total netPayAmt"></p:ajax>
													<f:convertNumber pattern="#0.0"></f:convertNumber>
												</p:inputText>
													<h:outputText value="#{bonus.stockDeficit}"  rendered="#{bonus.hideFlag=='false'}"/>
											</p:column>

											<p:column headerText="#{msg['credit_sales']}"
												styleClass="width-8 text-right">
												<p:inputText id="creditSales" class="form-control" rendered="#{bonus.hideFlag=='true'}"
													value="#{bonus.creditSales}" maxlength="10">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax update="total netPayAmt"></p:ajax>
													<f:convertNumber pattern="#0.0"></f:convertNumber>
												</p:inputText>
												<h:outputText value="#{bonus.creditSales}"  rendered="#{bonus.hideFlag=='false'}"/>
											</p:column>

											<p:column headerText="#{msg['other']}"
												styleClass="width-8 text-right">
												<p:inputText id="other" class="form-control"  rendered="#{bonus.hideFlag=='true'}"
													value="#{bonus.other}" maxlength="10">
													<p:keyFilter regEx="/[0-9.]/"></p:keyFilter>
													<p:ajax update="total netPayAmt "></p:ajax>
													<f:convertNumber pattern="#0.0"></f:convertNumber>
												</p:inputText>
												<h:outputText value="#{bonus.other}"  rendered="#{bonus.hideFlag=='false'}"/>
											</p:column>

											<p:column headerText="#{msg['total']}"
												styleClass="width-8 text-right">
												<h:outputText id="total"
													value="#{(bonus.incomeTAx + bonus.stockDeficit + bonus.creditSales + bonus.other)}">
													<f:convertNumber pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['netPayable_amount']}"
												styleClass="width-8 text-right">
												<h:outputText id="netPayAmt"
													value="#{((bonus.basicDa) * (bonus.noOfWorkingDays)/365) gt 8400 ? 8400 : ((bonus.basicDa) * (bonus.noOfWorkingDays)/365) - (bonus.incomeTAx + bonus.stockDeficit + bonus.creditSales + bonus.other)}">
													<f:convertNumber pattern="#0"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['action']}"
												styleClass="width-6 text-center">
												<div class="table-actn-btn">
													<p:selectBooleanCheckbox id="sameaspresentt"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														value="#{incrementBean.isIncrementEmployeeStatus}">
														<p:ajax update=""
															listener="#{incrementBean.setBonusDetails(bonus)}"></p:ajax>
													</p:selectBooleanCheckbox>
												</div>
											</p:column>
										</p:dataTable>
									</p:outputPanel>
								</div>

								 <div class="row m-t-10 label-form">
									<p:outputPanel id="forwardPanelId">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_to']}" for="forwardto" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardto" rendered="#{empty param[update.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<p:autoComplete id="forwardto" minQueryLength="2" panelStyle="width:50px"
														styleClass="form-control" converter="#{entityConverter}"
														required="#{not empty param[update.clientId]}"
														requiredMessage="#{msg['frwd_to']} #{msg['is_required']}"
														value="#{incrementBean.forwardToUser}" itemValue="#{emp}"
														var="emp" itemLabel="#{emp.empName}"
														completeMethod="#{incrementBean.getForwardToList}"
														effect="fade">
														<p:ajax event="itemSelect" update="forwardto"></p:ajax>
													</p:autoComplete>
													<ui:remove>
														<h:selectOneMenu id="forwardto" styleClass="form-control"
															converter="#{entityConverter}"
															value="#{incrementBean.forwardToUser}"
															required="#{not empty param[update.clientId]}"
															requiredMessage="#{msg['forward_to_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems var="user"
																value="#{incrementBean.forwardToUsersList}"
																itemValue="#{user}"
																itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
															<p:ajax event="change" />
														</h:selectOneMenu>
													</ui:remove>
												</div>
												<h:message for="forwardto" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_for']}" for="forwardfor" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardfor" rendered="#{empty param[update.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="forwardfor" styleClass="form-control"
														value="#{incrementBean.forwardFor}"
														required="#{not empty param[update.clientId]}"
														requiredMessage="#{msg['forward_for_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
														<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
														<p:ajax event="change" />
													</h:selectOneMenu>
												</div>
												<h:message for="forwardfor" class="validation-error-label" />
											</div>
										</div>
									</p:outputPanel>
								</div>


								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											styleClass="btn bg-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton> 
									</div>

									<div class="col-md-8 text-right m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											action="#{incrementBean.cancelIncrement}"
											class="btn bg-slate heading-btn  font-iconmoon">
										</p:commandButton>

										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											update="incrementPanel forwardPanelId growls"
											binding="#{update}" onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											action="#{incrementBean.saveEmployeeIncrement}"
											class="btn bg-success heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end row -->
				</div>
			</div>

			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<p:textEditor widgetVar="editor2" cols="28" rows="30"
										height="150" value="#{incrementBean.note}"></p:textEditor>
									<div class='col-md-12'>
										<div class="carousel slide media-carousel">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row m-t-15">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name :
																		#{incrementBean.employeeMaster.firstName}</li>
																	<li>Designation :
																		#{incrementBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
																	<li>Date : #{incrementBean.currentCreatedDate}</li>
																</ul>
															</div>
														</div>

													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-10">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											onsuccess="PF('notedialog').hide()" title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success font-iconmoon"
											onsuccess="PF('notedialog').hide()" title="#{msg['submit']}"
											action="#{freeDistributionSystemBean.submitNote}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>