<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/personnelHR/createEmployeePersonal.xhtml">
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{employeeMasterBean.onContactLoad}" />
	</f:metadata>
	<ui:define name="personnel">
		<h:form id="empfrmaddcontacts" prependId="false">

			<p:outputPanel id="addpanel"
				rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
				<div class="tab-pane has-padding m-t-10">
					<div class="row">
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading colllapse  pad-5-10">
									<h6 class="panel-title font14 m-r-25" id="scrollspy">
										#{msg['address_details']} <span class="pull-right text-13 ">(<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
										</span>
									</h6>
									<div class="heading-elements">
										<ul class="icons-list">
											<li><a data-action="collapse" class=""></a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body p-t-10">
									<p:outputPanel id="permanentaddpanel">
										<p:outputLabel value="#{msg['permnt_address']}"
											styleClass="text-bold" />
										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['addr_one']}" />
													<span class="mand-red">&nbsp;*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control"
															value="#{employeeMasterBean.employeeContactDetails.addressLineOnePermanent}"
															id="add1" placeholder=" " maxlength="50" immediate="true"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['address1_req']}"
															validatorMessage="#{msg['addre_line1_valid_msg']}">
															<f:validateLength minimum="3" maximum="50" />
														</p:inputText>
													</div>
													<p:focus for="add1" />
													<h:message for="add1" class="validation-error-label" />
													<p:tooltip for="add1"
														value="#{msg['addre_line1_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['addr_two']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control"
															value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPermanent}"
															placeholder=" " maxlength="50" id="add2">
														</p:inputText>
													</div>
													<p:tooltip for="add2"
														value="#{msg['addre_line1_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['addr_three']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="add3"
															value="#{employeeMasterBean.employeeContactDetails.addressLineThreePermanent}"
															placeholder=" " maxlength="50">
														</p:inputText>
													</div>
													<p:tooltip for="add3"
														value="#{msg['addre_line1_valid_msg']}" />
												</div>
											</div>
										</div>

										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['state']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="stateId" class="form-control select2"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['state_req']}"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.stateIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onStateChangePermanent}"
																update="districtId" />
															<f:selectItem itemLabel="State" />
															<f:selectItems var="state" itemValue="#{state}"
																itemLabel="#{state.name}"
																value="#{employeeMasterBean.stateMasterList}" />
															<p:ajax update="districtId"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="stateId" class="validation-error-label" />
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dist']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="districtId"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['dist_req']}"
															value="#{employeeMasterBean.employeeContactDetails.districtIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onDistrictChangePermanent}"
																update="talukId,cityId" />
															<f:selectItem itemLabel="District" />
															<f:selectItems var="district" itemValue="#{district}"
																itemLabel="#{district.name}"
																value="#{employeeMasterBean.districtMasterList}" />
															<p:ajax update="talukId"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="districtId" class="validation-error-label" />
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['taluk']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="talukId" class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.talukIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onTalukChangePermanent}"
																update="villageId" />
															<f:selectItem itemLabel="Taluk" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.talukMasterList}" />
															<p:ajax update="cityId"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</div>
										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['city']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="cityId" class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.cityIDPermanent}">
															<f:selectItem itemLabel="City" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.cityMasterList}" />
															<p:ajax update="villageId"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>

											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['vill']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<h:selectOneMenu id="villageId"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.villageIdPermanent}">
															<f:selectItem itemLabel="Village" />
															<f:selectItems var="village" itemValue="#{village}"
																itemLabel="#{village.name}"
																value="#{employeeMasterBean.villageMasterList}" />
														</h:selectOneMenu>
													</div>
												</div>

											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pincode']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="postalper"
															placeholder=""
															value="#{employeeMasterBean.employeeContactDetails.postalCodePermanent}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['pin_code_req']}" maxlength="6"
															validatorMessage="#{msg['pin_code_valid_msg']}">
															<f:validateLength minimum="6" maximum="6" />
															<p:keyFilter mask="num" />
														</p:inputText>
													</div>
													<h:message for="postalper" class="validation-error-label" />
													<p:tooltip for="postalper"
														value="#{msg['pin_code_valid_msg']}" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-4">
												<div class="form-group ">
													<p:outputLabel value="#{msg['lmark']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="landmark1"
															value="#{employeeMasterBean.employeeContactDetails.landmarkPermanent}"
															placeholder=" " maxlength="50">
														</p:inputText>
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>


									<!-- Present Address Start -->
									<p:outputLabel value="#{msg['prsnt_address']}"
										styleClass="text-bold" />

									<span class="mand-red">&nbsp;*</span> <label
										class="text-right pull-right">#{msg['same_as_above']}</label>

									<div class="pull-right add-checkbox-same">
										<p:selectBooleanCheckbox id="sameaspresent"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											value="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
											<p:ajax update="presentaddpanel"
												listener="#{employeeMasterBean.copyAddress}"
												process="@this permanentaddpanel"></p:ajax>
										</p:selectBooleanCheckbox>
									</div>

									<p:outputPanel id="presentaddpanel">
										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['addr_one']}" />
													<span class="mand-red">&nbsp;*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="addpresent1"
															value="#{employeeMasterBean.employeeContactDetails.addressLineOnePresent}"
															placeholder=" " maxlength="50"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['address1_req']}"
															validatorMessage="#{msg['addre_line1_valid_msg']}">
															<f:validateLength minimum="3" maximum="50" />
														</p:inputText>
													</div>
													<p:tooltip for="addpresent1"
														value="#{msg['addre_line1_valid_msg']}" />
													<h:message for="addpresent1" class="validation-error-label" />
												</div>

											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['addr_two']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="addpresent2"
															value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}"
															placeholder=" " maxlength="50"
															validatorMessage="#{msg['addre_line1_valid_msg']}">
														</p:inputText>
													</div>
													<p:tooltip for="addpresent2"
														value="#{msg['addre_line1_valid_msg']}" />
													<h:message for="addpresent2" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['addr_three']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="addpresent3"
															value="#{employeeMasterBean.employeeContactDetails.addressLineThreePresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}"
															placeholder=" " maxlength="50"></p:inputText>
													</div>
												</div>
											</div>
										</div>
										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['state']}" />
													<span class="mand-red">&nbsp;*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="stateIdPresent"
															class="form-control select2"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['state_req']}"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.stateIdPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
															<p:ajax
																listener="#{employeeMasterBean.onStateChangePresent}"
																update="districtIdPresent" />
															<f:selectItem itemLabel="State" noSelectionOption="true" />
															<f:selectItems var="state" itemValue="#{state}"
																itemLabel="#{state.name}"
																value="#{employeeMasterBean.stateMasterList}" />
															<p:ajax update="districtIdPresent"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="stateIdPresent"
													class="validation-error-label" />
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dist']}" />
													<span class="mand-red">&nbsp;*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>

														<h:selectOneMenu id="districtIdPresent"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['dist_req']}"
															value="#{employeeMasterBean.employeeContactDetails.districtIdPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
															<p:ajax
																listener="#{employeeMasterBean.onDistrictChangePresent}"
																update="talukIdPresent,cityIdPresent" />
															<f:selectItem itemLabel="District" />

															<f:selectItems var="district" itemValue="#{district}"
																itemLabel="#{district.name}"
																value="#{employeeMasterBean.districtMasterListPresent}" />
															<p:ajax update="cityIdPresent"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
												<h:message for="districtIdPresent"
													class="validation-error-label" />
											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['city']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="cityIdPresent"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.cityIDPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
															<f:selectItem itemLabel="City" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.cityMasterListPresent}" />
															<p:ajax update="talukIdPresent"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</div>

										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['taluk']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="talukIdPresent"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.talukIdPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
															<p:ajax
																listener="#{employeeMasterBean.onTalukChangePresent}"
																update="villageIdPresent" />
															<f:selectItem itemLabel="Taluk" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.talukMasterListPresent}" />
															<p:ajax update="villageIdPresent"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>

											</div>

											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['vill']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="villageIdPresent"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.villageIDPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}">
															<f:selectItem itemLabel="Village" />
															<f:selectItems var="village" itemValue="#{village}"
																itemLabel="#{village.name}"
																value="#{employeeMasterBean.villageMasterListPresent}" />
														</h:selectOneMenu>
													</div>
												</div>

											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pincode']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="postalpres"
															placeholder=" "
															value="#{employeeMasterBean.employeeContactDetails.postalCodePresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}"
															maxlength="6"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="#{msg['pin_code_req']}"
															validatorMessage="#{msg['pin_code_valid_msg']}">
															<f:validateLength minimum="6" maximum="6" />
															<p:keyFilter mask="num" />
														</p:inputText>
													</div>
													<h:message for="postalpres" class="validation-error-label" />
													<p:tooltip for="postalpres"
														value="#{msg['pin_code_valid_msg']}" />
												</div>
											</div>
										</div>
										<div class="row label-form">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['lmark']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="landmark2"
															value="#{employeeMasterBean.employeeContactDetails.landmarkPresent}"
															disabled="#{employeeMasterBean.employeeContactDetails.permanentAndPresent}"
															placeholder=" " maxlength="50"></p:inputText>
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
									<!-- Present Address End -->
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading colllapse">
									<h6 class="panel-title font14 m-r-25" id="scrollspy">
										#{msg['contact_details']} <span class="pull-right text-13 ">(<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
										</span>
									</h6>
									<div class="heading-elements">
										<ul class="icons-list">
											<li><a data-action="collapse" class=""></a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['emrgncy_contct_no']}" />
												<span class="mand-red">&nbsp;*</span> <span
													class="mobileconno m-l-10">+91</span>
												<div class="input-group mobileno-pad">
													<span class="input-group-addon"><i
														class="icon-phone2"></i></span>
													<p:inputText class="form-control"
														required="#{not empty param[addAddress.clientId]}"
														id="emergencynumber"
														requiredMessage="Emergency contact number required"
														value="#{employeeMasterBean.employeeContactDetails.emergencyContactNumber}"
														placeholder="" maxlength="10">
														<p:keyFilter mask="num" />
													</p:inputText>
												</div>
												<h:message for="emergencynumber"
													class="validation-error-label" />
											</div>
										</div>


										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['landline_no']}" />
											<div class="clearfix"></div>
											<div class="col-lg-5 col-md-5 col-sm-5 p-r-0 p-l-0">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-phone"></i></span>
														<p:inputText class="form-control"
															value="#{employeeMasterBean.landlineCode}"
															placeholder="STD Code" maxlength="4">
															<p:keyFilter mask="num" />
														</p:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-7 col-md-7 col-sm-7  p-r-0">
												<div class="form-group">
													<p:inputText class="form-control" placeholder=" "
														value="#{employeeMasterBean.landlineNumber}" maxlength="8">
														<p:keyFilter mask="num" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-4 col-md-4 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['alternate_email']}" />
												<span class="mand-red">&nbsp;*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-envelop3"></i></span>
													<p:inputText class="form-control"
														required="#{not empty param[addAddress.clientId]}"
														requiredMessage="#{msg['official_emai_req']}"
														id="officialemail"
														value="#{employeeMasterBean.employeeContactDetails.officialEmail}"
														placeholder="" maxlength="50"></p:inputText>
												</div>
												<h:message for="officialemail"
													class="validation-error-label" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-6">
							<p>
								#{msg['uploaded_doc']}: <span style="color: #2196F3;"><p:outputLabel
										id="uploadfilename"
										value="#{employeeMasterBean.employeeContactDetails.fileName}"></p:outputLabel>
								</span>
							</p>
						</div>

						<div class="col-md-6 text-right contact-upload">
							<p:fileUpload update="growls uploadfilename" auto="true"
								id="addressProof" label="&#xf093;&nbsp; #{msg['upload']}"
								dragDropSupport="true" styleClass="btn btn-sm p-0 font-iconmoon"
								fileUploadListener="#{employeeMasterBean.handleFileUploadForAddressProof}" />

							<p:commandButton value="&#xed6a; #{msg['cancel']}"
								onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeMasterBean.clear}" immediate="true"
								styleClass=" btn btn-sm bg-slate font-iconmoon ">
							</p:commandButton>

							<p:commandButton onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								styleClass="#{employeeMasterBean.action eq 'EDIT' ?  'btn btn-sm bg-primary font-iconmoon' :  'btn btn-sm bg-primary font-iconmoon' }"
								value="#{employeeMasterBean.action eq 'EDIT' ?  '&#xeda7;' :  '&#xead4;' }  #{employeeMasterBean.action eq 'EDIT' ?  msg['update_continue'] :  msg['save_continue'] }"
								title="#{employeeMasterBean.action eq 'EDIT' ?  msg['update_continue'] :  msg['save_continue'] }"
								action="#{employeeMasterBean.createContactDetails}"
								binding="#{addAddress}" id="conSubmit" update="growls addpanel">
								<f:setPropertyActionListener value="EMPLOYEE_CONTACT_DETAILS"
									target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
							</p:commandButton>
						</div>
					</div>
				</div>
			</p:outputPanel>


			<p:outputPanel id="viewpanel"
				rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
				<div class="tab-pane has-padding m-t-10">
					<div class="panel panel-flat">
						<div class="panel-heading colllapse  pad-5-10">
							<h5 class="panel-title font14" id="scrollspy">
								#{msg['address_details']}<a class="heading-elements-toggle"><i
									class="icon-more"></i></a>
							</h5>
							<div class="heading-elements">
								<ul class="icons-list">
									<li><a data-action="collapse" class=""></a></li>
								</ul>
							</div>
						</div>

						<div class="panel-body no-padding-bottom p-t-10">
							<h6 class="m-b-5">
								<p:outputLabel value="#{msg['permnt_address']}"
									style="font-weight:700" />
							</h6>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['addl1']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineOnePermanent}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['addl2']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPermanent}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['addl3']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineThreePermanent}" /></span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.stateIdPermanent.name}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dist']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.districtIdPermanent.name}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['taluk']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.talukIdPermanent.name}" /></span>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['city']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.cityIDPermanent.name}" /></span>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['vill']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.villageIdPermanent.name}" /></span>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group no-padding-right">
										<p:outputLabel value="#{msg['pcode']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.postalCodePermanent}" /></span>
									</div>
								</div>
							</div>

							<h6 class="m-b-5">
								<p:outputLabel value="#{msg['prsnt_address']}"
									style="font-weight:700" />
							</h6>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['addl1']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineOnePresent}" /></span>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['addl2']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPresent}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group ">
										<p:outputLabel value="#{msg['addl3']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.addressLineThreePresent}" /></span>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.stateIdPresent.name}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dist']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.districtIdPresent.name}" /></span>
									</div>
									<h:message for="districtIdPresent"
										class="validation-error-label" />
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['taluk']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.talukIdPresent.name}" /></span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['city']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.cityIDPresent.name}" /></span>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['vill']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.villageIDPresent.name}" /></span>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['pcode']}" />
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.postalCodePresent}" /></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel">
					<div class="panel-heading colllapse  pad-5-10">
						<h6 class="panel-title font14" id="scrollspy">#{msg['con_det']}</h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse" class=""></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body p-t-10 no-padding-bottom">
						<div class="row view-style">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emrgncy_contct_no']}" />
									<div class="input-group mobileno-pad">
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.emergencyContactNumber}" /></span>
									</div>
								</div>
							</div>


							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['office_landline_no']}" />
									<div class="input-group" style="display: inline-block;">
										<span style="display: inline-block;"><h:outputText
												value="#{employeeMasterBean.landlineCode}" /></span> <span
											style="display: inline-block;"><h:outputText
												value="#{employeeMasterBean.landlineNumber}" /></span>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['alternate_email']}" />
									<div class="input-group">
										<span class=""><h:outputText
												value="#{employeeMasterBean.employeeContactDetails.officialEmail}" /></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-lg-12 text-right ph0">
					<!-- <p:commandButton value="&#xe912; #{msg['edit']}"
												
												styleClass="wid-10 btn btn-sm bg-primary font-iconmoon ">
											</p:commandButton> -->

					<p:commandButton value="&#xeddf; #{msg['back']}"
						onclick="PF('progressDlg').show();"
						oncomplete="PF('progressDlg').hide();"
						action="#{employeeMasterBean.clear}" immediate="true"
						styleClass="btn btn-sm bg-info font-iconmoon ">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>

