<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="postponeForm">
			<title>InfoTex | Employee Confirmation Postponed</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{confirmationPostponeBean.pageAction eq 'ADD' ?
							msg['create_employee_confirm_postpone'] :
							msg['edit_employee_confirm_postpone']}</h4>

						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{confirmationPostponeBean.pageAction eq
								'ADD' ? msg['create_employee_confirm_postpone'] :
								msg['edit_employee_confirm_postpone']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content no-padding-bottom page-scroll-hp">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['employee_confirm_postpone']}
								</a> <span class="pull-right text-13 m-r-25">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<p:outputPanel id="confirmationEmployeePanel">
								<div class="panel-body p-t-10">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['type']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="conformationId"
														disabled="#{confirmationPostponeBean.addEditFlag}"
														styleClass="form-control"
														value="#{confirmationPostponeBean.conformationType}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['ttype_req']} ">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}" itemLabel="#{obj}"
															var="obj"
															value="#{confirmationPostponeBean.conformationTypeList}"></f:selectItems>
														<p:ajax update="conformationId"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="conformationId"
													class="validation-error-label" />
												<p:focus for="conformationId" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="horo" styleClass="form-control"
														disabled="#{confirmationPostponeBean.addEditFlag}"
														value="#{confirmationPostponeBean.headRegionOffice}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['ho_ro_req']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}" itemLabel="#{obj.name}"
															var="obj"
															value="#{confirmationPostponeBean.headRegionOfficeList}"></f:selectItems>
														<p:ajax event="change"
															listener="#{confirmationPostponeBean.loadEntityList}"
															update="type entity growls employeeId"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="horo" class="validation-error-label" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity_master']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="type" styleClass="form-control"
														disabled="#{confirmationPostponeBean.addEditFlag or confirmationPostponeBean.disableFlag}"
														value="#{confirmationPostponeBean.entityTypeMaster}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['entity_type_required']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems itemValue="#{entityType}"
															itemLabel="#{entityType.entityName}" var="entityType"
															value="#{confirmationPostponeBean.entityTypeList}"></f:selectItems>
														<p:ajax event="change"
															listener="#{confirmationPostponeBean.loadEntityList}"
															update="entity type growls"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="type" class="validation-error-label" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="entity" styleClass="form-control"
														disabled="#{confirmationPostponeBean.addEditFlag or confirmationPostponeBean.disableFlag}"
														value="#{confirmationPostponeBean.entityMaster}"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['entity_required']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems itemValue="#{entity}"
															itemLabel="#{entity.name}" var="entity"
															value="#{confirmationPostponeBean.entityList}"></f:selectItems>
														<p:ajax event="change"
															listener="#{confirmationPostponeBean.loadEmployeeByEntity}"
															update="employeeId entity growls" />
													</h:selectOneMenu>
												</div>
												<h:message for="entity" class="validation-error-label" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['emp_name_code']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:selectCheckboxMenu id="employeeId" appendTo="@this"
														disabled="#{confirmationPostponeBean.addEditFlag}"
														styleClass="form-control" widgetVar="employeeSelect"
														value="#{confirmationPostponeBean.selectedEmployeeIdList}"
														label="(#{confirmationPostponeBean.selectedEmployeeIdList.size() == 0 || confirmationPostponeBean.selectedEmployeeIdList.size()==null ?'0':confirmationPostponeBean.selectedEmployeeIdList.size()}) Employee Selected"
														panelStyle="overflow:auto; height:200px; width:100%;"
														converter="#{entityConverter}" tabindex="4" filter="true"
														required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
														requiredMessage="#{msg['emp_cod_name_req']}"
														filterMatchMode="startsWith">
														<f:selectItems
															value="#{confirmationPostponeBean.employeeMasterList}"
															var="employee"
															itemLabel="#{employee.empCode} / #{employee.firstName} #{employee.lastName}"
															itemValue="#{employee.id}"></f:selectItems>
														<p:ajax event="change" update="employeeId"
															oncomplete="PF('employeeSelect').show()"></p:ajax>
														<p:ajax event="toggleSelect" update="employeeId growls"></p:ajax>
													</p:selectCheckboxMenu>
												</div>
												<h:message for="employeeId" class="validation-error-label"></h:message>
											</div>
										</div>

										<div class="col-lg-9 col-md-9 col-sm-12 text-right">
											<p:outputLabel value="&nbsp;" styleClass="dis-block-tab" />
											<div class="form-group m-b-0">
												<p:commandButton
													update="conformationId horo confirmationEmployeePanel employeeId employeeTableId growls"
													disabled="#{confirmationPostponeBean.addEditFlag}"
													onstart="PF('statusDialog').show();"
													action="#{confirmationPostponeBean.clearEmployeeDetails}"
													value="&#xe916;&nbsp;#{msg['clear']}"
													title="#{msg['clear']}"
													class="btn bg-slate heading-btn font-iconmoon m-l-0"
													onsuccess="PF('statusDialog').hide();">
												</p:commandButton>

												<p:commandButton onstart="PF('statusDialog').show();"
													actionListener="#{confirmationPostponeBean.loadEmployeeDetails}"
													disabled="#{confirmationPostponeBean.addEditFlag}"
													value="&#xeda7;&nbsp;#{msg['generate']}"
													title="#{msg['generate']}"
													onsuccess="PF('statusDialog').hide();"
													update="confirmationEmployeePanel employeeTableId growls"
													class="btn bg-primary heading-btn  font-iconmoon">
												</p:commandButton>
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->

				<div class="panel panel-white">
					<div class="panel-body p-t-0">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['employees_list']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:dataTable id="employeeTableId" rowIndexVar="idx"
										var="employee" styleClass="report-table"
										value="#{confirmationPostponeBean.postponedEmployeeDTOList}">
										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['employee_code_name']}"
											styleClass="width-15">
											<h:outputText
												value="#{employee.employeeCode} / #{employee.firstName} #{employee.lastName}" />
										</p:column>
										<p:column headerText="#{msg['desgn']}" styleClass="width-15">
											<h:outputText value="#{employee.designationName}" />
										</p:column>

										<p:column headerText="#{msg['type']}" styleClass="width-6">
											<h:outputText value="#{employee.conformationType}" />
										</p:column>
										<p:column headerText="#{msg['dt_joining']}"
											styleClass="width-10 text-center">
											<h:outputText value="#{employee.dateOfJoining}">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['actual_date']}"
											styleClass="width-10 text-center">
											<h:outputText value="#{employee.actualDate}">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['postponed_date']}"
											styleClass="width-10 text-center form-group_calend">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												value="#{employee.postponeDate}" id="openDate"
												pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
												mindate="Date()" yearRange="c-100:c+100"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" />
											</p:calendar>
										</p:column>
										<p:column headerText="#{msg['reason']}"
											styleClass="width-10 text-center">
											<p:inputTextarea rows="1" value="#{employee.postponedReason}"
												styleClass="form-control textarea-scroll" placeholder="">
											</p:inputTextarea>
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>

						<p:outputPanel id="forwardUserId">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_to']}" for="forwardTo" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<p:autoComplete id="forwardTo" minQueryLength="1" 
										               styleClass="form-control" converter="#{entityConverter}"
										               required="#{not empty param[update.clientId]}"
														requiredMessage="#{msg['forward_to_required']}"
										               value="#{confirmationPostponeBean.forwardToUser}"
										               var="user" itemLabel="#{user.empName}" itemValue="#{user}"
										               completeMethod="#{confirmationPostponeBean.loadAutoCompleteUserMaster}"
										              effect="fade">
										             <p:ajax event="itemSelect" update="forwardTo"></p:ajax>
									          </p:autoComplete>	
												
									<ui:remove><h:selectOneMenu id="forwarsdTo" styleClass="form-control"
												converter="#{entityConverter}"
												value="#{confirmationPostponeBean.forwardToUser}"
												required="#{not empty param[update.clientId]}"
												requiredMessage="#{msg['forward_to_required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItems var="user"
													value="#{confirmationPostponeBean.forwardToUsersList}"
													itemValue="#{user}"
													itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
												<p:ajax event="change" />
											</h:selectOneMenu></ui:remove>
										</div>
										<h:message for="forwardTo" class="validation-error-label" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" for="forwardFor" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="forwardFor" styleClass="form-control"
												value="#{confirmationPostponeBean.forwardFor}"
												required="#{not empty param[update.clientId]}"
												requiredMessage="#{msg['forward_for_is_required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
												<p:ajax event="change" />
											</h:selectOneMenu>
										</div>
										<h:message for="forwardFor" class="validation-error-label" />
									</div>
								</div>
							</div>
						</p:outputPanel>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton value="&#xf067; #{msg['create_note']}"
									title="#{msg['create_note']}"
									styleClass="btn bg-success btn-md fa-input m-l-0"
									onclick="PF('notedialog').show();">
								</p:commandButton>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" update="growls"
									action="#{confirmationPostponeBean.cancalConfirmationPostpone}"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>

								<p:commandButton
									value="#{confirmationPostponeBean.pageAction eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{confirmationPostponeBean.pageAction eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{confirmationPostponeBean.pageAction eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{confirmationPostponeBean.pageAction eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									update="forwardUserId confirmationEmployeePanel growls"
									binding="#{update}" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{confirmationPostponeBean.savePostpone}">
								</p:commandButton>
							</div>
						</div>

					</div>
				</div>
			</div>


			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3" /></a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="panel-body p-0 m-b-10">
											<p:textEditor id="requiredNote"
												value="#{confirmationPostponeBean.note}" height="150"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['create_note_is_required']}"
												placeholder="Enter text ..." />

										</div>
										<div class="col-md-12 m-b-10">
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<div class="col-md-3 col-lg-3 col-sm-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name :
																			#{confirmationPostponeBean.employeeMaster.firstName}</li>
																		<li>Designation :
																			#{confirmationPostponeBean.employeeMaster.personalInfoEmployment.designation.name}</li>
																		<li>Date :
																			#{confirmationPostponeBean.currentCreatedDate}</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon"
											title="#{msg['cancel']}" onclick="PF('notedialog').hide();" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											title="#{msg['submit']}" onclick="PF('notedialog').hide();" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
		</h:form>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>