<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/personnelHR/createEmployeeCareer.xhtml">
	<ui:define name="career">
		<h:form id="empAdditionalChargesForm">
			<div class="tab-pane no-padding ">
				<p:outputPanel id="addpanel"
					rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
					<!-- disciplinary action starts -->
					<div class="tab-pane has-padding" id="disciplinaryActn">
						<div class="panel panel-flat ">
							<div class="panel-heading colllapse  pad-5-10">
								<h6 class="panel-title font14" id="scrollspy">
									#{msg['additional_charge']} <span class="pull-right text-13 ">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>
							<div class="panel-body p-t-10">
								<p:outputPanel id="empAdditionalChargePanel">
									<p:outputPanel id="viewDisciplinaryPanel"
										rendered="#{employeeMasterBean.visibleButton eq 'VIEWDISCIPLINARY'}">
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.referenceNumber}" /></span>
												</div>
											</div>



											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_date']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.referenceDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText></span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.entityTypeMaster.entityName}">
														</h:outputText> </span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.entityMaster.name}">
														</h:outputText> </span>
												</div>
											</div>
										</div>


										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['desgn']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.currentDesignation.name}">
														</h:outputText> </span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['add_charge']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.designation.name}">
														</h:outputText> </span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_of_charge']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.dateOfAditionaalCharge}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText> </span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_relieving']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeAdditionalCharge.relievingDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText> </span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pmnt']}" />
													<span class=""><h:outputText
															value="&#xf156;#{employeeMasterBean.employeeAdditionalCharge.payment}"
															styleClass="fa-input">
															<f:convertNumber minFractionDigits="2" />
														</h:outputText> </span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12 text-right">
												<!-- Clear Promotion Details -->
												<p:commandButton value="&#xed6a; #{msg['cancel']}"
													update="empAdditionalChargesForm:empAdditionalChargePanel growls"
													onclick="PF('progressDlg').show();"
													title="#{msg['cancel']}"
													oncomplete="PF('progressDlg').hide();"
													actionListener="#{employeeMasterBean.clearAdditionalChargeDetails}"
													class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-slate font-iconmoon">
												</p:commandButton>
											</div>
										</div>
									</p:outputPanel>

									<p:outputPanel
										rendered="#{employeeMasterBean.visibleButton ne 'VIEWDISCIPLINARY'}">

										<!-- ReferenceNumber -->
										<div class="row custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group custom-form-2">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText class="form-control fa-input"
															id="referencenumber"
															required="#{not empty param[addAdditional.clientId] || not empty param[updateAdditional.clientId]}"
															value="#{employeeMasterBean.employeeAdditionalCharge.referenceNumber}"
															minlength="5" maxlength="50" placeholder="" tabindex="1"
															requiredMessage="#{msg['reference_number_required']}"
															validatorMessage="#{msg['ref_no_valid_msg']}">
														</p:inputText>
														<p:focus for="referencenumber" />

													</div>
													<h:message id="referenceNum" for="referencenumber"
														class="validation-error-label" />
													<p:tooltip for="referencenumber"
														value="#{msg['ref_no_valid_msg']}" />
												</div>
											</div>

											<!-- ReferenceDate -->
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group form-bottom-pad">
													<p:outputLabel value="#{msg['ref_date']}" />
													<span class="mand-red">*</span>
													<div class="form-group form-group_calend">
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="referenceDate" pattern="dd-MMM-yyyy"
																rendered="#{employeeMasterBean.action ne 'VIEW'}"
																tabindex="2" maxdate="java.util.Date"
																required="#{not empty param[addAdditional.clientId] || not empty param[updateAdditional.clientId]}"
																requiredMessage="#{msg['reference_date_required']}"
																navigator="true" yearRange="c-100:c+100"
																placeholder="dd-MMM-yyyy"
																value="#{employeeMasterBean.employeeAdditionalCharge.referenceDate}"
																styleClass="form-control-1 calend-icon-1">
															</p:calendar>
														</div>
														<h:message id="refdate" for="referenceDate"
															class="validation-error-label" />
													</div>
												</div>
											</div>

											<!-- Entity Type -->
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}"
														for="entityTypeMaster" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entityTypeMaster"
														rendered="#{empty param[addAdditional.clientId] and empty param[updateAdditional.clientId]}" />

													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="entityTypeMaster" tabindex="3"
															value="#{employeeMasterBean.employeeAdditionalCharge.entityTypeMaster}"
															class="form-control" converter="#{entityConverter}"
															required="#{not empty param[addAdditional.clientId] or not empty param[updateAdditional.clientId]}"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															requiredMessage="#{msg['entity_type_required']}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.entityMasterTypeList}"
																var="typ" itemLabel="#{typ.entityName}"
																itemValue="#{typ}" />
															<p:ajax
																listener="#{employeeMasterBean.onAdditionalEntityTypeChange}"
																update="entMaster" />
														</h:selectOneMenu>
													</div>
													<h:message for="entityTypeMaster"
														class="validation-error-label" />
												</div>
											</div>
											<!--  Entity -->

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" for="entMaster" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entMaster"
														rendered="#{empty param[addAdditional.clientId] and empty param[updateAdditional.clientId]}" />

													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu class="form-control" id="entMaster"
															tabindex="4" requiredMessage="#{msg['entity_required']}"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															required="#{not empty param[addAdditional.clientId] or not empty param[updateAdditional.clientId]}"
															value="#{employeeMasterBean.employeeAdditionalCharge.entityMaster}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.entityMasterList}" var="it"
																itemLabel="#{it.name}" itemValue="#{it}" />
														</h:selectOneMenu>
													</div>
													<h:message for="entMaster" class="validation-error-label" />
												</div>
											</div>
										</div>

										<!-- Current Designation -->
										<div class="row custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['desgn']}"
														for="cureentDesignationId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="cureentDesignationId"
														rendered="#{empty param[addAdditional.clientId] and empty param[updateAdditional.clientId]}" />
													<div class="input-group ">
														<span class="input-group-addon"><i
															class="icon-briefcase"></i></span>
														<h:selectOneMenu id="cureentDesignationId" tabindex="5"
															required="#{not empty param[addAdditional.clientId] or not empty param[updateAdditional.clientId]}"
															requiredMessage="#{msg['designation_req']}"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															value="#{employeeMasterBean.employeeAdditionalCharge.currentDesignation}"
															converter="#{entityConverter}" styleClass="form-control">
															<f:selectItem itemLabel="Select" itemValue="" />
															<f:selectItems
																value="#{employeeMasterBean.designationList}"
																var="designation" itemLabel="#{designation.name}"
																itemValue="#{designation}" />
														</h:selectOneMenu>

													</div>
													<h:message for="cureentDesignationId"
														class="validation-error-label" />
												</div>
											</div>

											<!-- Add_charge -->
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['add_charge']}"
														for="designationId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="designationId"
														rendered="#{empty param[addAdditional.clientId] and empty param[updateAdditional.clientId]}" />
													<div class="input-group ">
														<span class="input-group-addon"><i
															class="icon-vcard"></i></span>
														<h:selectOneMenu id="designationId" tabindex="6"
															required="#{not empty param[addAdditional.clientId] or not empty param[updateAdditional.clientId]}"
															requiredMessage="#{msg['add_charge_req']}"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															value="#{employeeMasterBean.employeeAdditionalCharge.designation}"
															converter="#{entityConverter}" styleClass="form-control">
															<f:selectItem itemLabel="Select" itemValue="" />
															<f:selectItems
																value="#{employeeMasterBean.designationList}"
																var="designation" itemLabel="#{designation.name}"
																itemValue="#{designation}" />
														</h:selectOneMenu>
													</div>
													<h:message for="designationId"
														class="validation-error-label" />
												</div>
											</div>

											<!-- AdditionalChargeDate -->
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group form-bottom-pad">
													<p:outputLabel value="#{msg['dt_of_charge']}" />
													<span class="mand-red">*</span>
													<div class="form-group form-group_calend m-b-0">
														<p:calendar id="additionalChargeDate" pattern="dd-MMM-yyyy"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															tabindex="7"
															required="#{not empty param[addAdditional.clientId] || not empty param[updateAdditional.clientId]}"
															requiredMessage="#{msg['date_of_charge_req']}"
															navigator="true" yearRange="c-100:c+100"
															placeholder="dd-MMM-yyyy"
															value="#{employeeMasterBean.employeeAdditionalCharge.dateOfAditionaalCharge}"
															styleClass="form-control-1 calend-icon-1">
														</p:calendar>
														<h:message for="additionalChargeDate"
															class="validation-error-label" />
													</div>
												</div>
											</div>



											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group form-bottom-pad">
													<p:outputLabel value="#{msg['dt_relieving']}" />
													<span class="mand-red">*</span>
													<div class="form-group form-group_calend m-b-0">
														<p:calendar id="releivingDate" pattern="dd-MMM-yyyy"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															tabindex="8"
															required="#{not empty param[addAdditional.clientId] || not empty param[updateAdditional.clientId]}"
															requiredMessage="#{msg['relieving_date_req']}"
															navigator="true" yearRange="c-100:c+100"
															placeholder="dd-MMM-yyyy"
															value="#{employeeMasterBean.employeeAdditionalCharge.relievingDate}"
															styleClass="form-control-1 calend-icon-1">
														</p:calendar>
														<h:message for="releivingDate"
															class="validation-error-label" />
													</div>
												</div>
											</div>
											<!-- ReveilingDate -->
										</div>

										<!-- Payment -->
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pmnt']}" class="fa-input" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-inr fa-lg"></i></span>
														<p:inputNumber id="paymentId" tabindex="9" class=""
															placeholder="" maxlength="10"
															rendered="#{employeeMasterBean.action ne 'VIEW'}"
															value="#{employeeMasterBean.employeeAdditionalCharge.payment}">
														</p:inputNumber>
													</div>
													<p:tooltip for="paymentId" value="#{msg['amt_valid_msg']}" />
												</div>
											</div>
										</div>

										<!-- Remarks -->
										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<p:inputTextarea rows="3" class="form-control"
														tabindex="10" counter="display" maxlength="2000"
														placeholder="Please enter your remarks here."
														value="#{employeeMasterBean.employeeAdditionalCharge.remarks}"
														counterTemplate="{0} characters remaining."
														autoResize="false" />
													<h:outputText id="display" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12 text-right">
												<!-- Clear -->
												<p:commandButton value="&#xe916; #{msg['clear']}"
													process="@this" title="#{msg['clear']}"
													update="empAdditionalChargesForm:empAdditionalChargePanel growls"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													class="btn btn-sm bg-slate font-iconmoon"
													action="#{employeeMasterBean.clearAdditionalChargeDetails}">
												</p:commandButton>
												<p:commandButton value="&#xea0e; #{msg['add']}"
													title="#{msg['add']}" id="addAdditional"
													binding="#{addAdditional}"
													rendered="#{employeeMasterBean.visibleButton ne 'UPDATEDISCIPLINARY'}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
													class="btn btn-sm bg-success font-iconmoon"
													actionListener="#{employeeMasterBean.addAdditionalChargeDetails}">
												</p:commandButton>
												<p:commandButton value="&#xeda7; #{msg['update']}"
													title="#{msg['update']}" id="updateAdditional"
													binding="#{updateAdditional}"
													rendered="#{employeeMasterBean.visibleButton eq 'UPDATEDISCIPLINARY'}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
													class="btn btn-sm bg-success font-iconmoon"
													actionListener="#{employeeMasterBean.updateAdditionalChargeDetails}">
												</p:commandButton>
											</div>
										</div>
									</p:outputPanel>


									<div class="row">
										<div class="col-md-12  m-t-10">
											<div class="table-responsive cust-table2">
												<p:dataTable id="empAdditionalChargeTable"
													var="incremntalData" tableStyleClass="table-bordered"
													rowKey="#{incremntalData.rowIndex}" rowIndexVar="idx"
													value="#{employeeMasterBean.employeeAdditionalChargeList}">

													<p:column headerText="#{msg['s_no']}"
														styleClass="text-center width-3">
														<h:outputText value="#{idx+1}" />
													</p:column>
													<!-- SI No.  -->

													<!-- Reference Number  -->
													<p:column id="referenceNumber"
														styleClass="text-center width-10"
														headerText="#{msg['ref_num']}">
														<h:outputText value="#{incremntalData.referenceNumber}" />
													</p:column>

													<!-- Reference Date.  -->
													<p:column id="referenceDate"
														styleClass="text-center width-10"
														headerText="#{msg['ref_date']}">
														<h:outputText value="#{incremntalData.referenceDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText>
													</p:column>

													<!-- entityTypeMaster.  -->
													<p:column id="entityMaster" styleClass="width-10"
														headerText="#{msg['entity_master']}">
														<h:outputText
															value="#{incremntalData.entityTypeMaster.entityName}" />
													</p:column>

													<!-- entityMaster.  -->
													<p:column id="entity" styleClass="width-10"
														headerText="#{msg['entity']}">
														<h:outputText value="#{incremntalData.entityMaster.name}" />
													</p:column>


													<!-- Curent Designation .  -->
													<p:column id="Currentdesignation" styleClass="width-10"
														headerText="#{msg['designation']}">
														<h:outputText
															value="#{incremntalData.currentDesignation.name}" />
													</p:column>

													<!-- Designation .  -->
													<p:column id="designation" styleClass="width-10"
														headerText="#{msg['additonal_charge']}">
														<h:outputText value="#{incremntalData.designation.name}" />
													</p:column>

													<!-- DateofAdditionalCharge.  -->
													<p:column id="DateofAdditionalCharge"
														styleClass="width-10 text-center"
														headerText="#{msg['dt_of_charge']}">
														<h:outputText
															value="#{incremntalData.dateOfAditionaalCharge}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText>
													</p:column>

													<!-- RelievingDate.  -->
													<p:column id="RelievingDate"
														styleClass="width-10 text-center"
														headerText="#{msg['dt_relieving']}">
														<h:outputText value="#{incremntalData.relievingDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText>
													</p:column>

													<!-- Payment  -->
													<p:column id="relievingDate"
														styleClass="width-8 text-right fa-input"
														headerText="#{msg['pmnt']}&nbsp;(&#xf156;)">
														<h:outputText value="#{incremntalData.payment}">
															<f:convertNumber minFractionDigits="2" />
														</h:outputText>
													</p:column>

													<p:column headerText="#{msg['action']}"
														styleClass="width-15 text-center">
														<!-- Edit Promotion -->
														<div class="">
															<p:commandLink
																update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
																process="@this" onclick="PF('progressDlg').show();"
																oncomplete="PF('progressDlg').hide();" value="&#xe912;"
																title="#{msg['edit']}"
																actionListener="#{employeeMasterBean.editAdditionalChargeDetails(incremntalData)}"
																class="btn btn-primary btn-xs btn-table-button font-iconmoon">
															</p:commandLink>
															<!-- View Additional -->
															<p:commandLink process="@this"
																update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
																onclick="PF('progressDlg').show();" value="&#xea18;"
																title="#{msg['view']}"
																oncomplete="PF('progressDlg').hide();"
																actionListener="#{employeeMasterBean.viewAdditionalChargeDetails(incremntalData)}"
																class="btn btn-info btn-xs btn-table-button m-lr-3 font-iconmoon">
															</p:commandLink>
															<!-- Delete Additional  -->
															<p:commandLink id="deleteDisciplinaryLink"
																rendered="#{loginBean.userFeatures['EMP_ADDITIONAL_CHARGE_DELETE']}"
																update="empAdditionalChargesForm:empAdditionalChargePanel growls"
																process="@this" onclick="PF('progressDlg').show();"
																oncomplete="PF('progressDlg').hide();"
																title="#{msg['delete']}"
																actionListener="#{employeeMasterBean.deleteAdditionalChargeDetails(incremntalData)}"
																class="btn btn-danger btn-xs btn-table-button">
																<i class="fa fa-trash"></i>
																<p:confirm header="#{msg['confirmation']}"
																	message="#{msg['confirm_delete']} ?" />
															</p:commandLink>
														</div>
													</p:column>
												</p:dataTable>

												<p:confirmDialog id="DisciplinaryDelete" global="true"
													showEffect="fade" position="center" class="no-padding">
													<div class="text-right p-10">
														<p:commandButton value="&#xed6a; #{msg['no']}"
															update=" empAdditionalChargeTable growls"
															styleClass="btn btn-sm bg-slate ui-confirmdialog-no font-iconmoon">
														</p:commandButton>
														<p:commandButton value="&#xed6e; #{msg['yes']}"
															styleClass="btn btn-sm bg-success ui-confirmdialog-yes font-iconmoon" />
													</div>
												</p:confirmDialog>

											</div>
										</div>
									</div>
								</p:outputPanel>

								<div class="row">
									<div class="col-lg-12 text-right m-t-10">
										<!-- Cancel -->
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
											oncomplete="PF('progressDlg').hide();"
											action="#{employeeMasterBean.clear}" immediate="true"
											styleClass="btn btn-sm bg-slate font-iconmoon ">
										</p:commandButton>
										<p:commandButton
											rendered="#{employeeMasterBean.action ne 'EDIT'}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
											action="#{employeeMasterBean.saveemployeeAdditionalChargeDetails}"
											value="&#xead4;&nbsp;#{msg['save_continue']}"
											title="#{msg['save_continue']}"
											class="btn btn-sm bg-success font-iconmoon">
										</p:commandButton>
										<p:commandButton
											rendered="#{employeeMasterBean.action eq 'EDIT'}"
											process="@this" onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											update="empAdditionalChargesForm:empAdditionalChargePanel empAdditionalChargeTable growls"
											action="#{employeeMasterBean.saveemployeeAdditionalChargeDetails}"
											value="&#xeda7; #{msg['update_continue']}"
											title="#{msg['update_continue']}"
											class="btn btn-sm bg-primary font-iconmoon">
											<f:setPropertyActionListener
												value="EMPLOYEE_ADDITIONAL_CHARGE_DETAILS"
												target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>


				<p:outputPanel id="viewpanel"
					rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
					<!-- disciplinary action starts -->
					<div class="tab-pane has-padding" id="disciplinaryActn">
						<div class="panel">
							<div class="panel-heading colllapse  pad-5-10">
								<h5 class="panel-title font14" id="scrollspy">
									#{msg['additional_charge']}<a class="heading-elements-toggle"><i
										class="icon-more"></i></a>
								</h5>
							</div>
							<div class="panel-body p-t-10">
								<p:outputPanel id="viewDisciplinaryPanelData"
									rendered="#{employeeMasterBean.visibleButton eq 'VIEWDISCIPLINARY'}">

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ref_num']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.referenceNumber}" /></span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ref_date']}" />
												<span class=""><h:outputText
														value=" #{employeeMasterBean.employeeAdditionalCharge.referenceDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText> </span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['enty_typ']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.entityTypeMaster.entityName}">
													</h:outputText> </span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.entityMaster.name}">
													</h:outputText> </span>
											</div>
										</div>
									</div>


									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['desgn']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.currentDesignation.name}">
													</h:outputText> </span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['add_charge']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.designation.name}">
													</h:outputText> </span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_of_charge']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.dateOfAditionaalCharge}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText> </span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_relieving']}" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.relievingDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText> </span>
											</div>
										</div>
									</div>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['pmnt']}&nbsp;(&#xf156;)"
													class="fa-input" />
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeeAdditionalCharge.payment}">
													</h:outputText> </span>
											</div>
										</div>
									</div>
								</p:outputPanel>

								<div class="row ">
									<div class="col-md-12">
										<div class="table-responsive">
											<p:dataTable id="disciplinaryViewTableData"
												var="incremntalData" rowKey="#{incremntalData.rowIndex}"
												rowIndexVar="idx" styleClass="report-table"
												value="#{employeeMasterBean.employeeAdditionalChargeList}">

												<p:column headerText="#{msg['s_no']}"
													styleClass="width-3 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>
												<!-- SI No.  -->

												<!-- Reference Number  -->
												<p:column id="referenceNumber"
													styleClass="width-10 text-center"
													headerText="#{msg['ref_num']}">
													<h:outputText value="#{incremntalData.referenceNumber}" />
												</p:column>

												<!-- Reference Date.  -->
												<p:column id="referenceDate"
													styleClass="width-10 text-center"
													headerText="#{msg['ref_date']}">
													<h:outputText value="#{incremntalData.referenceDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>

												<!-- entityTypeMaster.  -->
												<p:column id="entityMaster" styleClass="width-10"
													headerText="#{msg['entity_master']}">
													<h:outputText
														value="#{incremntalData.entityTypeMaster.entityName}" />
												</p:column>

												<!-- entityMaster.  -->
												<p:column id="entity" styleClass="width-10"
													headerText="#{msg['entity']}">
													<h:outputText value="#{incremntalData.entityMaster.name}" />
												</p:column>


												<!-- Curent Designation .  -->
												<p:column id="Currentdesignation" styleClass="width-10"
													headerText="#{msg['curr_desgn']}">
													<h:outputText
														value="#{incremntalData.currentDesignation.name}" />
												</p:column>

												<!-- Designation .  -->
												<p:column id="designation" styleClass="width-10"
													headerText="#{msg['add_charge']}">
													<h:outputText value="#{incremntalData.designation.name}" />
												</p:column>

												<!-- DateofAdditionalCharge.  -->
												<p:column id="DateofAdditionalCharge"
													styleClass="width-10 text-center"
													headerText="#{msg['dt_of_charge']}">
													<h:outputText
														value="#{incremntalData.dateOfAditionaalCharge}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>

												<!-- RelievingDate.  -->
												<p:column id="RelievingDate"
													styleClass="width-10 text-center"
													headerText="#{msg['dt_relieving']}">
													<h:outputText value="#{incremntalData.relievingDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>

												<!-- Payment  -->
												<p:column id="relievingDate"
													styleClass="width-8 text-center"
													headerText="#{msg['pmnt']}&nbsp;(&#xf156;)"
													class="fa-input">
													<h:outputText value="#{incremntalData.payment}" />
												</p:column>

												<p:column headerText="#{msg['action']}"
													styleClass="width-10 text-center">
													<!-- View Promotion -->
													<p:commandLink onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();" value="&#xea18;"
														update="form empAdditionalChargesForm growls"
														title="#{msg['view']}"
														actionListener="#{employeeMasterBean.viewAdditionalChargeDetails(incremntalData)}"
														class="btn btn-info btn-xs btn-table-button font-iconmoon">
													</p:commandLink>
												</p:column>

											</p:dataTable>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 text-right ph0">
						<p:commandButton value="&#xeddf; #{msg['back']}"
							onclick="PF('progressDlg').show();" title="#{msg['back']}"
							oncomplete="PF('progressDlg').hide();"
							action="#{employeeMasterBean.clear}" immediate="true"
							styleClass="btn btn-sm bg-info font-iconmoon ">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>