<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="updateall">
			<title>InfoTex | Additional Charge</title>
			<ui:param name="bean" value="#{employeeAdditionalChargeBean}"></ui:param>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action eq 'ADD' ? msg['create_additonal_charge'] :
							msg['edit_additonal_charge']}</h4>

						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{bean.action eq 'ADD' ?
								msg['create_additonal_charge'] : msg['edit_additonal_charge']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content  page-scroll-hp no-padding-bottom">
				<div class="">
					<!-- collapse panel -->
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">
										#{msg['additonal_charge']} </a>
									<p:outputLabel styleClass="pull-right m-r-25">
(<span class="mand-red">*</span>
										<span>#{msg['mand_fields']}</span>)
</p:outputLabel>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<p:outputPanel id="updateall">
									<div class="panel-body p-t-10 p-b-5">
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['ho_ro']}" for="horo" />
													<p:outputLabel value="*" class="mand-red" for="horo"
														rendered="#{empty param[generate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu class="form-control"
															value="#{bean.headOfficeAndRegionEntity}"
															converter="#{entityConverter}" id="horo"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['ho_ro_req']}">
															<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
															<f:selectItems
																value="#{bean.headOfficeAndRegionEntityList}"
																itemLabel="#{datas.code} / #{datas.name}"
																itemValue="#{datas}" var="datas"></f:selectItems>
															<p:ajax listener="#{bean.headandRegional}"
																update="updateall employee"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="horo" class="validation-error-label"></h:message>
													<p:focus for="horo" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack"></i></span>
														<h:selectOneMenu class="form-control"
															converter="#{entityConverter}" id="entitytypeId"
															required="#{not empty param[sumit.clientId]}"
															value="#{bean.regionalOfficeEntityType}"
															requiredMessage="#{msg['en_ty_req']}"
															disabled="#{bean.visibility}">
															<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
															<f:selectItems
																value="#{bean.regionalOfficeEntityTypeList}"
																itemLabel="#{datas.entityName.toUpperCase()}"
																itemValue="#{datas}" var="datas"></f:selectItems>
															<p:ajax event="change"
																listener="#{bean.loadAllEntityByRegionIdandEntityTypeId}"
																update="@this updateall employee"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="entitytypeId"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack"></i></span>
														<h:selectOneMenu class="form-control"
															converter="#{entityConverter}" id="entityId"
															value="#{bean.entityMaster}"
															required="#{not empty param[sumit.clientId]}"
															disabled="#{bean.visibility}"
															requiredMessage="#{msg['ent_req']}">
															<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
															<f:selectItems value="#{bean.entityMasterList}"
																itemLabel="#{datas.code} / #{datas.name}"
																itemValue="#{datas}" var="datas"></f:selectItems>
															<p:ajax event="change"
																listener="#{bean.onchangeDepartmentOrEntity}"
																update="@this  updateall employee"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['dept']}" for="department" />
													<p:outputLabel value="*" class="mand-red" for="department"
														rendered="#{empty param[generate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-tree6"></i></span>
														<h:selectOneMenu class="form-control" id="department"
															disabled="#{bean.deptvisibility}"
															value="#{bean.department}" styleClass="form-control"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['dept_req']}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems var="department" itemValue="#{department}"
																itemLabel="#{department.name}"
																value="#{bean.departmentList}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																listener="#{bean.onchangeDepartmentOrEntity}"
																update="updateall @this employee" />
														</h:selectOneMenu>
													</div>
													<h:message for="department" class="validation-error-label"></h:message>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['emp_pf_num_name']}"
														for="employee" />
													<p:outputLabel value="*" class="mand-red" for="employee"
														rendered="#{empty param[generate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user-tie"></i></span>
														<h:selectOneMenu class="form-control" id="employee"
															value="#{bean.employeeAdditionalChargeRequestDto.selectedEmployee}"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['emp_cod_name_req']}"
															styleClass="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems var="employee" itemValue="#{employee}"
																itemLabel="#{employee.personalInfoEmployment.pfNumber} / #{employee.firstName} "
																value="#{bean.employeeMasterList}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																update="updateall @this cdesignation" />
														</h:selectOneMenu>
													</div>
													<h:message for="employee" class="validation-error-label"></h:message>
												</div>
											</div>

											<div class="col-lg-9 col-md-3 col-sm-6 text-right m-t-0">
												<div class="form-group m-b-0">
													<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block"
														id="extspc" />
													<!-- <p:commandButton update="growls"
											value="&#xe916;&nbsp;#{msg['mis_clear']}"
											title="#{msg['mis_clear']}"
											class="btn bg-slate font-iconmoon m-l-0"
											>
										</p:commandButton> -->
													<p:commandButton update="growls updateall"
														onstart="PF('statusDialog').show();"
														value="&#xe916;&nbsp;#{msg['clear']}"
														title="#{msg['clear']}" action="#{bean.clearEntities}"
														class="btn bg-slate heading-btn font-iconmoon m-l-0"
														onsuccess="PF('statusDialog').hide();">
													</p:commandButton>
													<p:commandButton onstart="PF('statusDialog').show();"
														action="#{bean.onchangeEmployee}"
														update="updateall @this cdesignation designation employee"
														value="&#xeda7;&nbsp;#{msg['generate']}"
														binding="#{generate}" title="#{msg['generate']}"
														onsuccess="PF('statusDialog').hide();"
														class="btn bg-primary heading-btn  font-iconmoon">
													</p:commandButton>
												</div>
											</div>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</div>
					<!-- colleps panel end -->

					<div class="panel m-b-0">
						<div class="panel-body p-t-10">

							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['assign_additonal_charge']}</span>
							</h5>
							<div class="row custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['desgn']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-vcard"></i></span>
											<p:inputText class="form-control" disabled="true"
												id="cdesignation"
												value="#{bean.employeeAdditionalCharge.currentDesignation.name}">
											</p:inputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['additonal_charge']}"
											for="designation" />
										<p:outputLabel value="*" class="mand-red" for="designation"
											rendered="#{empty param[submit.clientId]}" />

										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-user-tie"></i></span>
											<h:selectOneMenu class="form-control" id="designation"
												value="#{bean.employeeAdditionalCharge.designation}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['add_charge_req']}"
												styleClass="form-control" converter="#{entityConverter}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems var="desi" itemValue="#{desi}"
													itemLabel="#{desi.name}" value="#{bean.designationList}" />
												<p:ajax event="change" update="designation  @this  growls" />
											</h:selectOneMenu>
										</div>
										<h:message for="designation" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_date']}" for="FrmDate" />
										<p:outputLabel value="*" class="mand-red" for="FrmDate"
											rendered="#{empty param[submit.clientId]}" />
										<div class="form-group form-group_calend m-b-0">
											<p:calendar placeholder="dd-MMM-yyyy" id="FrmDate"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['from_date_required']}"
												value="#{bean.dateOfAdditionalCharge}" yearRange="c-0:c+1"
												styleClass="form-control-1 calend-icon-1"
												pattern="dd-MMM-yyyy" navigator="true">
												<p:ajax event="dateSelect"
													listener="#{bean.onchangeEmployee}" update="@this" />
											</p:calendar>
										</div>
										<h:message for="FrmDate" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['remarks']}" />
										<span class="mand-red">*</span>
										<p:inputTextarea id="remarks"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['remarks_req']}"
											value="#{bean.employeeAdditionalCharge.remarks}"
											class="form-control">
											<p:ajax event="change" update="@this"></p:ajax>
										</p:inputTextarea>
										<small>#{msg['textarea_msg']}</small>
										<h:message for="remarks" class="validation-error-label" />
									</div>
								</div>
							</div>

							<div class="row  m-t-10 label-form">
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_to']}"
											for="forwardto" />
										<p:outputLabel value="*" class="mand-red" for="forwardto"
											rendered="#{empty param[submit.clientId]}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="forwardto" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{bean.employeeAdditionalChargeNote.userMaster}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems value="#{bean.forwardToUsersList}"
														var="frwd" itemLabel="#{frwd.empCode} / #{frwd.empName}"
														itemValue="#{frwd}" />
													<p:ajax event="change" update="@this"></p:ajax>
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="forwardto" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{bean.employeeAdditionalChargeNote.userMaster}"
												itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
												completeMethod="#{bean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="forwardto"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="forwardto" class="validation-error-label"></h:message>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_for']}"
											for="forwardfor" />
										<p:outputLabel value="*" class="mand-red" for="forwardfor"
											rendered="#{empty param[submit.clientId]}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="forwardfor" styleClass="form-control"
												value="#{bean.employeeAdditionalChargeNote.finalApproval}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_for_req']}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItem itemLabel="#{msg['approval']}"
													itemValue="false" />
												<f:selectItem itemLabel="#{msg['final_approve']}"
													itemValue="true" />
												<p:ajax update="@this @all"
													onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"></p:ajax>
											</h:selectOneMenu>
										</div>
										<h:message for="forwardfor" class="validation-error-label" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xf067; #{msg['create_note']}"
										title="#{msg['create_note']}"
										styleClass="btn btn-success btn-md fa-input m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>

									<!-- 								<p:commandButton value="&#xeb0d;" title="#{msg['add']}" -->
									<!-- 									style="min-width:32px;" -->
									<!-- 									styleClass="btn btn-primary btn-md font-iconmoon" -->
									<!-- 									onclick="PF('commentdialog').show();"></p:commandButton> -->


								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" action="#{bean.showListPage}"
										class="btn bg-slate heading-btn  font-iconmoon">
									</p:commandButton>

									<p:commandButton
										value="#{bean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
										title="#{bean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
										styleClass="#{bean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										update="updateall growls" action="#{bean.submit}"
										binding="#{submit}" onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()">
									</p:commandButton>

								</div>
							</div>
							<!-- end row -->
						</div>
					</div>
				</div>
			</div>
		</h:form>

		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form>
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<p:textEditor widgetVar="editor2" height="200"
									value="#{bean.employeeAdditionalChargeNote.note}"
									style="margin-bottom:10px" placeholder="Enter your content">
								</p:textEditor>
								<div class='col-md-12'>
									<div class="carousel slide media-carousel">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-md-3 col-sm-4">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : #{bean.loggedInEmployeeMaster.firstName}</li>
																<li>Designation :
																	#{bean.loggedInEmployeeMaster.personalInfoEmployment.designation.name}</li>
																<li>Date : #{bean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>

												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-10">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="PF('notedialog').hide()" title="#{msg['cancel']}"
										class="btn bg-slate font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success font-iconmoon" update="growls"
										onclick="PF('notedialog').hide()" title="#{msg['submit']}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>