<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	
		<ui:param name="bean" value="#{employeeHRAddLtcBean}"></ui:param>
		<ui:param name="ltc" value="#{bean.employeeLeaveTravelConcession}"></ui:param>
		<h:form id="ltcForm">
			<p:outputPanel id="htcPanel">
				<title>InfoTex | Leave Travel Concession</title>
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4>#{employeeHRAddLtcBean.action eq 'Add' ?
								msg['create_leave_travel_concession'] :
								msg['edit_leave_travel_concession']}</h4>

							<ul class="breadcrumb">
								<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li>#{msg['personnel']}</li>
								<li>#{msg['human_resource']}</li>
								<li class="active">#{employeeHRAddLtcBean.action eq 'Add' ?
									msg['create_leave_travel_concession'] :
									msg['edit_leave_travel_concession']}</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="content">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['leave_travel_concession']}<span
									class="pull-right text-13">(<span class="text-danger">*</span>
									#{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						
						<div class="pg-scroll-panel-1">
							<div class="panel-body  p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['ho_ro']}" for="hoRoId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="hoRoId" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<h:selectOneMenu id="hoRoId" styleClass="form-control"
													converter="#{entityConverter}" value="#{bean.selectedHoRo}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['ho_ro_req']} " placeholder="">
													<f:selectItem itemLabel="Select" onSelectionOption="true" />
													<f:selectItems value="#{bean.entityMasterList}"
														var="entityMaster"
														itemLabel="#{entityMaster.code} / #{entityMaster.name}"
														itemValue="#{entityMaster}"></f:selectItems>
													<p:ajax event="change" update="htcPanel entityPanel"
														listener="#{bean.loadAllEntityTypesByRegionId}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="hoRoId" styleClass="validation-error-label"></h:message>
											<p:focus for="hoRoId" />
										</div>
									</div>
									<p:outputPanel id="entityPanel">
										<h:panelGroup
											rendered="#{bean.selectedHoRo.entityTypeMaster.entityCode ne 'HEAD_OFFICE'}">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity_master_code_name']}"
														for="entityTypeId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entityTypeId"
														rendered="#{empty param[submit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="entityTypeId"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{bean.selectedEntityTypeMaster}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['entity_type_code_name_req']}">
															<f:selectItem itemLabel="Select" onSelectionOption="true" />
															<f:selectItems
																value="#{bean.entitytypelistByHeadAndRegionalId}"
																var="entityTypeMaster"
																itemLabel="#{entityTypeMaster.entityCode} / #{entityTypeMaster.entityName}"
																itemValue="#{entityTypeMaster}"></f:selectItems>
															<p:ajax event="change" update="htcPanel entityTypeId"
																listener="#{bean.loadAllEntityByRegionIdandEntityTypeId}"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"></p:ajax>
														</h:selectOneMenu>

													</div>
													<h:message for="entityTypeId"
														styleClass="validation-error-label"></h:message>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_cod_nam']}"
														for="entityId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entityId" rendered="#{empty param[submit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="entityId" styleClass="form-control"
															converter="#{entityConverter}"
															value="#{bean.slectedEntity}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['entity_code_name_req']}">
															<f:selectItem itemLabel="Select" onSelectionOption="true" />
															<f:selectItems
																value="#{bean.entitylistByHeadAndRegionalIdAndEntityTypeId}"
																var="entityMaster"
																itemLabel="#{entityMaster.code} / #{entityMaster.name}"
																itemValue="#{entityMaster}"></f:selectItems>
															<p:ajax event="change"
																update=" htcPanel departmentId entityId"
																listener="#{bean.loadAllDepartementOREmployeBaseOnDepartementFlag}"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="entityId"
														styleClass="validation-error-label"></h:message>
												</div>
											</div>
										</h:panelGroup>
									</p:outputPanel>

									<h:panelGroup id="departementPanel"
										rendered="#{bean.departementFlag}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept_code']}"
													for="departmentId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="departmentId"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu class="form-control" id="departmentId"
														converter="#{entityConverter}"
														value="#{bean.selectedDepartement}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['dept_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															onSelectionOption="true" />
														<f:selectItems value="#{bean.departmentList}"
															var="departement"
															itemLabel="#{departement.code} / #{departement.name}"
															itemValue="#{departement}"></f:selectItems>
														<p:ajax event="change"
															update="sectionId employeeBasedOnSectionId"
															listener="#{bean.loadAllSectionBasedOnDepartementId}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="departmentId" class="validation-error-label"></h:message>
											</div>
										</div>
									</h:panelGroup>
								</div>


								<div class="row label-form custom-form-1">
									<h:panelGroup rendered="#{bean.departementFlag}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['sec']}" for="sectionId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="sectionId" rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu class="form-control" id="sectionId"
														value="#{bean.selectedSection}"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['sec_req']} ">
														<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
														<f:selectItems
															value="#{bean.sectionMasterListBasedOnDepatementID}"
															var="data" itemLabel="#{data.name}" itemValue="#{data}"></f:selectItems>
														<p:ajax update="sectionId"></p:ajax>
														<p:ajax event="change" update="employeeBasedOnSectionId"
															listener="#{bean.loadAllEmploymasaterBasedOnSectionId}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="sectionId" class="validation-error-label"></h:message>
											</div>
										</div>
									</h:panelGroup>
 
									<h:panelGroup rendered="#{bean.departementFlag}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['employee_code_name']}"
													for="employeeBasedOnSectionId" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="employeeBasedOnSectionId"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu class="form-control"
														id="employeeBasedOnSectionId"
														value="#{bean.employeeMasterBasedOnSectionId}"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['emp_cod_name_req']} ">
														<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
														<f:selectItems
															value="#{bean.employeeMasterBasedOnSectionList}"
															var="employee"
															itemLabel="#{employee.empCode} / #{employee.firstName} #{employee.lastName}"
															itemValue="#{employee}"></f:selectItems>
														<p:ajax update="employeeBasedOnSectionId"></p:ajax>
														<p:ajax event="change"
															update="blockYearId eligibleDistance submitBtn"
															listener="#{bean.loadBlockYearsFromFinancialYearTable}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="employeeBasedOnSectionId"
													class="validation-error-label"></h:message>
											</div>
										</div>
									</h:panelGroup>

									<h:panelGroup rendered="#{bean.entityEmployeeFlag}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['employee_code_name']}"
													for="employeeBasedEntity" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="employeeBasedEntity"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu class="form-control"
														id="employeeBasedEntity"
														value="#{bean.employeeMasterBasedOnEntityId}"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['emp_cod_name_req']} ">
														<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
														<f:selectItems
															value="#{bean.employeeMasterBasedOnEntityList}"
															var="employee"
															itemLabel="#{employee.empCode} / #{employee.firstName} #{employee.lastName}"
															itemValue="#{employee}"></f:selectItems>
														<p:ajax update="employeeBasedEntity"></p:ajax>
														<p:ajax event="change"
															update="blockYearId eligibleDistance submitBtn"
															listener="#{bean.loadBlockYearsFromFinancialYearTable}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="employeeBasedEntity"
													class="validation-error-label"></h:message>
											</div>
										</div>
									</h:panelGroup>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['block_year']}" for="blockYearId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="blockYearId" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-calendar22"></i></span>
												<h:selectOneMenu class="form-control" id="blockYearId"
													value="#{bean.selectedBlocKYear}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['block_year_req']}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
													<f:selectItems
														value="#{bean.blockYearListFromFinacialYear}" var="year"
														itemLabel="#{year.startYear} - #{year.endYear}"
														itemValue="#{year}"></f:selectItems>
													<p:ajax update="blockFrmDate"></p:ajax>
													<p:ajax event="change" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
													<p:ajax event="change"
														update="eligibleDistance submitBtn growls travelledDistance"
														listener="#{bean.loadEligibleDistance}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="blockYearId" class="validation-error-label" />
										</div>
									</div>



									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['eligible_distance']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-road"></i></span>
												<p:inputText styleClass="form-control" id="eligibleDistance"
													value="#{bean.employeeLeaveTravelConcession.eligibleDistance}"
													disabled="true">
													<p:keyFilter regEx="/[0-9]/i" preventPaste="false"></p:keyFilter>
												</p:inputText>
											</div>
										</div>
									</div>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['from_date']}" />
											<span class="text-danger">*</span>
											<p:calendar placeholder="dd-MMM-yyyy" id="blockFrmDate"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['from_date_required']}"
												value="#{ltc.blockFromDate}"
												yearRange="#{bean.selectedBlocKYear.startYear}:#{bean.selectedBlocKYear.endYear}"
												styleClass="form-control-1 calend-icon-1"
												 pattern="dd-MMM-yyyy"
												navigator="true">
												<p:ajax event="dateSelect"
													listener="#{bean.onchangeBlockDate}"
													update="blockToDate blockNoDays leaveFromDate   holidayFrmDate " />
											</p:calendar>
											<h:message for="blockFrmDate" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['to_date']}" />
											<span class="text-danger">*</span>
											<p:calendar placeholder="dd-MMM-yyyy" id="blockToDate"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['to_date_required']} "
												disabled="#{ltc.blockFromDate eq null}"
												value="#{ltc.blockToDate}"
												styleClass="form-control-1 calend-icon-1"
												mindate="#{ltc.blockFromDate}" pattern="dd-MMM-yyyy"
												navigator="true">
												<p:ajax event="dateSelect"
													listener="#{bean.onchangeBlockDate}"
													update="blockNoDays leaveFromDate leavToDate holidayFrmDate " />
											</p:calendar>
											<h:message for="blockToDate" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['num_of_days']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText id="blockNoDays"
													class="form-control text-right" disabled="true"
													value="#{ltc.blockNumberOfDays}" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['travelled_distance']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-road"></i></span>
												<p:inputNumber class="text-right" id="travelledDistance" required="true"
												    requiredMessage="Travelled distance is required"
													value="#{ltc.travelledDistance}">
													<p:keyFilter mask="num" />
													<p:ajax listener="#{bean.calculateDistance}"
														update="growls travelledDistance travlDisMsg"></p:ajax>
												</p:inputNumber>
											</div>
											<h:message for="travelledDistance"
												class="validation-error-label" id="travlDisMsg" />
										</div>
									</div>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['applied_for']}" class="block">
												<span class="text-danger">*</span>
											</p:outputLabel>
											<div class="form-control">
												<p:selectOneRadio value="#{bean.appliedFor}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['applied_for_req']} "
													id="appliedfor" styleClass="inlineblock">
													<f:selectItem itemLabel="Self" itemValue="Self" />
													<f:selectItem itemLabel="Family" itemValue="Family" />
													<p:ajax event="change"
														listener="#{bean.onchangeAppliedForMehtod}"
														update=" appliedfor family" />
												</p:selectOneRadio>
											</div>
											<h:message for="appliedfor" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['mode_of_travel']}"
												for="travelMode" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="travelMode" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-road"></i></span>
												<h:selectOneMenu class="form-control" id="travelMode"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['modeoftra_req']}"
													value="#{bean.travelMode}">
													<f:selectItem itemLabel="Select" itemValue="#{null}" />
													<f:selectItem itemLabel="By Air" itemValue="By Air" />
													<f:selectItem itemLabel="By Bus" itemValue="By Bus" />
													<f:selectItem itemLabel="By Train" itemValue="By Train" />
												</h:selectOneMenu>
											</div>
											<h:message for="travelMode" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['travel_class']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-road"></i></span>
												<p:inputText class="form-control" id="typeId"
													value="#{bean.employeeLeaveTravelConcession.travelClass}" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['type_of_leave']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu class="form-control" id="leaveTypeId"
													converter="#{entityConverter}"
													value="#{bean.leaveTypeMaster}">
													<f:selectItem itemLabel="Select" itemValue="#{null}" />
													<f:selectItems value="#{bean.leaveTypeMasterList}" var="lv"
														itemLabel="#{lv.name}" itemValue="#{lv}" />
													<p:ajax event="change" listener="#{bean.onLeaveTypeChange}"
														update="leaveFromDate leaveBalance" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>

								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['leave_balance']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText class="form-control text-right"
													id="leaveBalance" disabled="true"
													value="#{bean.leaveDetail.leaveBalance}">
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['leave_from_date']}" />
											<p:calendar placeholder="dd-MMM-yyyy" id="leaveFromDate"
												disabled="#{ltc.blockFromDate eq null}"
												requiredMessage="#{msg['leave_from_date_req']}"
												value="#{ltc.holidayFromDate}"
												styleClass="form-control-1 calend-icon-1"
												mindate="#{ltc.blockFromDate}" maxdate="#{ltc.blockToDate}"
												pattern="dd-MMM-yyyy" navigator="true">
												<p:ajax event="dateSelect"
													listener="#{bean.onchangeLeaveDate}"
													update="holidayNoOfDays leavToDate" />
											</p:calendar>
											<h:message for="leaveFromDate" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['leave_to_date']}" />
											<p:calendar placeholder="dd-MMM-yyyy" id="leavToDate"
												disabled="#{ltc.holidayFromDate eq null}"
												value="#{ltc.holidayToDate}"
												requiredMessage="#{msg['leave_to_date_req']}"
												styleClass="form-control-1 calend-icon-1"
												mindate="#{ltc.holidayFromDate}"
												maxdate="#{ltc.blockToDate}" pattern="dd-MMM-yyyy"
												navigator="true">
												<p:ajax event="dateSelect"
													listener="#{bean.onchangeLeaveDate}"
													update="holidayNoOfDays" />
											</p:calendar>
											<h:message for="leavToDate" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['num_of_days']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText class="form-control text-right"
													id="holidayNoOfDays" value="#{ltc.holidayNoOfDays}"
													disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['cost_of_ticket']} (₹)" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-cash3"></i></span>
												<p:inputText id="advanceAmount"
													class="form-control text-right"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['cost_tic_req']}"
													value="#{ltc.advanceAmount}">
													<p:keyFilter mask="num" regEx="/[\d\.]/" />
												</p:inputText>
											</div>
											<h:message for="advanceAmount" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['up_doc']}" />
											<div class="row btn-file-upload">
												<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
													<p:inputText class="form-control" id="uploadFileName"
														value="#{bean.fileName}" disabled="true" />
												</div>
												<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
													<div
														class="no-padding contact-upload upload-popup file-upload-support pull-left">
														<div>
															<p:fileUpload update="uploadFileName growls" auto="true"
																id="complaintDocumentUpload" 
																label="&#xf093;&nbsp;Upload"
																onstart="PF('progressDlg').show();"
																oncomplete="PF('progressDlg').hide();"
																dragDropSupport="true" styleClass="btn-upload "
																fileUploadListener="#{bean.fileUpload}">
																<f:attribute value="#{data}" name="object"></f:attribute>
															</p:fileUpload>
														</div>
													</div>
												</div>
											</div>
											<div>
												<small class="uploadfinename">#{msg['file_format_lessthan_250kb']}</small>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['whet_holi_per']}" />
											<p:selectOneRadio value="#{bean.isPermission}"
												styleClass="form-control">
												<f:selectItem itemLabel="Yes" itemValue="true" />
												<f:selectItem itemLabel="No" itemValue="false" />
												<p:ajax event="change"
													listener="#{bean.onchangeHolidayPermission}"
													update="holidays" />
											</p:selectOneRadio>
										</div>
									</div>
								</div>


								<p:outputPanel id="holidays">

									<p:outputPanel rendered="#{bean.isPermission =='true'}">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['date']}" />
													<p:calendar placeholder="dd-MMM-yyyy" id="holidayFrmDate"
														disabled="#{ltc.blockFromDate eq null}"
														styleClass="form-control calend-icon"
														value="#{bean.empLtcHolidayDates.holidayDate}"
														mindate="#{ltc.blockFromDate}"
														maxdate="#{ltc.blockToDate}" pattern="dd-MMM-yyyy"
														navigator="true">
														<p:ajax event="dateSelect" update="holidayFrmDate" />
													</p:calendar>
													<h:message for="holidayFrmDate"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="&nbsp;" class="block" />
												<p:commandButton value="&#xea0e; #{msg['add_dates']}"
													id="addTravel"
													action="#{bean.addHoidaysInHolidaysTableOfLTc}"
													process="@this" update="holidaysTableOfLTc growls holidayFrmDate"
													style="padding:2px 0;"
													class="btn bg-primary font-iconmoon m-l-0"></p:commandButton>
											</div>
										</div>

										<div class="row ">
											<div class="col-lg-12">
												<div class="table-responsive">
													<p:dataTable id="holidaysTableOfLTc" var="data"
														styleClass="report-table" rowKey="#{data.id}" lazy="false"
														paginatorAlwaysVisible="false"
														value="#{bean.empLtcHolidayDatesList}"
														paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														paginator="true" paginatorPosition="bottom"
														rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
														emptyMessage="#{msg['no_records_found']}">
														<p:column headerText="#{msg['s_no']}"
															styleClass="text-center width-3">
															<h:outputText value="#{idx+1}" />
														</p:column>

														<p:column filterable="true"
															styleClass="width-10 text-center"
															headerText="#{msg['date']}">
															<h:outputText value="#{data.holidayDate}">
																<f:convertDateTime timeZone="#{loginBean.timeZone}"
																	pattern="dd-MMM-yyyy" />
															</h:outputText>
														</p:column>

														<p:column headerText="#{msg['action']}"
															styleClass="width-5 text-center">
															<f:facet name="filter">
																<p:inputText class="form-control " />
															</f:facet>
															<p:commandButton value="&#xe99e;"
																class="btn bg-danger font-iconmoon m-l-5"
																action="#{bean.removeDataItem(data)}" immediate="true"
																update="holidaysTableOfLTc" title="#{msg['delete']}">
															</p:commandButton>
														</p:column>
													</p:dataTable>
												</div>
											</div>
										</div>

									</p:outputPanel>
								</p:outputPanel>



								<!-- <div class="well well-sm" style="min-height: 87px;">
										<div class="form-group ">
											<div class="clearfix"></div>
											<p:outputLabel class="width-30" id="fromdatetodate">
												<ui:repeat value="#{bean.fromdateToDateList}" var="holiday">
													<p:outputLabel
														class="label label-primary inlineblock bg-primary">
														<h:outputText value="#{holiday}" id="dates"></h:outputText>
														<a href="" class="text-white"><i class="icon-close2"></i></a>
													</p:outputLabel>
												</ui:repeat>
											</p:outputLabel>

										</div>
									</div> -->



								<p:outputPanel id="family">
									<p:outputPanel rendered="#{bean.appliedFor =='Family'}">

										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['add_fmlymemb_dtls']}</span>
										</h5>

										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['name']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" id="nameID"
															value="#{bean.dependantName}"
															required="#{not empty param[family.clientId]}"
															requiredMessage="#{msg['name_is_req']} ">
														</p:inputText>
													</div>
													<h:message for="nameID" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['reltnship']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<h:selectOneMenu class="form-control"
															id="relationshipMasterId"
															value="#{bean.selectedRelation}"
															converter="#{entityConverter}"
															required="#{not empty param[family.clientId]}"
															requiredMessage="#{msg['relation_req']}">
															<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
															<f:selectItems value="#{bean.relationshipMasterList}"
																var="relation" itemLabel="#{relation.name}"
																itemValue="#{relation}"></f:selectItems>
															<p:ajax update="relationshipMasterId"></p:ajax>
															<p:ajax event="change" update="blockYearId"
																listener="#{bean.loadBlockYearsFromFinancialYearTable}"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="relationshipMasterId"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['age']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText class="form-control" id="ageID"
															value="#{bean.age}"
															required="#{not empty param[family.clientId]}"
															requiredMessage="#{msg['age_req']}" maxlength="2">
															<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
														</p:inputText>
													</div>
													<h:message for="ageID" class="validation-error-label" />
												</div>

											</div>
											<div class="col-lg-3 col-md-4 col-sm-3">
												<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
												<div class="verticalButton">
													<p:commandButton value="&#xea0e; #{msg['add']}"
														binding="#{family}" action="#{bean.addFamilMember}"
														update="family growls" title="#{msg['add']}"
														styleClass="btn bg-success heading-btn  font-iconmoon m-l-0">
													</p:commandButton>

												</div>

											</div>
										</div>
										<div class="row ">
											<div class="col-lg-12">
												<div class="table-responsive">
													<p:dataTable id="familyTableOfLTc" var="data"
														rowKey="#{data.id}" lazy="false" styleClass="report-table"
														paginatorAlwaysVisible="false"
														value="#{bean.employeeFamilyList}"
														paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														paginator="true" paginatorPosition="bottom"
														rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
														emptyMessage="#{msg['no_records_found']}">
														<p:column headerText="#{msg['s_no']}"
															styleClass="text-center width-3">
															<h:outputText value="#{idx+1}" />
														</p:column>

														<p:column filterable="true"
															styleClass="width-10 text-center"
															headerText="#{msg['name']}">
															<h:outputText value="#{data.dependentName}" />
														</p:column>

														<p:column styleClass="width-10 text-center"
															headerText="#{msg['reltnship']}">
															<h:outputText value="#{data.relationshipMaster.name}" />
														</p:column>

														<p:column styleClass="width-10 text-center"
															headerText="#{msg['age']}">
															<h:outputText value="#{data.age}">
															</h:outputText>
														</p:column>

														<p:column headerText="#{msg['action']}"
															styleClass="width-5 text-center">
															<f:facet name="filter">
																<p:inputText class="form-control " />
															</f:facet>
															<p:commandButton value="&#xe99e;"
																class="btn bg-danger font-iconmoon m-l-0"
																action="#{bean.removeItem(data)}" immediate="true"
																update="familyTableOfLTc" title="#{msg['delete']}">
															</p:commandButton>
														</p:column>
													</p:dataTable>
												</div>
											</div>

										</div>
									</p:outputPanel>
								</p:outputPanel>

								<div class="row label-form m-t-10">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_to']}" for="forwardto" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="forwardto" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<p:autoComplete id="forwardto" minQueryLength="2" panelStyle="width:250px"
										styleClass="form-control" converter="#{entityConverter}"
										required="#{not empty param[submit.clientId]}"
										requiredMessage="#{msg['forward_to_req']} "
										 value="#{bean.userMaster}"
										 var="user" itemLabel="#{user.empName}" itemValue="#{user}"
										completeMethod="#{bean.loadAutoCompleteUserMasterForAllocationList}"
										effect="fade">
										<p:ajax event="itemSelect" update="forwardto"></p:ajax>
									    </p:autoComplete>
									    <ui:remove>loadAutoCompleteUserMaster</ui:remove>
									  
												<ui:remove>
												<h:selectOneMenu id="forwardto" styleClass="form-control"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']} "
													value="#{bean.leaveTravelConcessionDto.forwardTo}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems
														value="#{bean.leaveTravelConcessionForwardToList}"
														var="userMaster"
														itemLabel="#{userMaster.empCode}/#{userMaster.empName}"
														itemValue="#{userMaster.id}"></f:selectItems>
												</h:selectOneMenu>
												</ui:remove>
											</div>
											<h:message for="forwardto" class="validation-error-label" />
										</div>
									</div>


									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_for']}" for="forwardfor" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="forwardfor" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="forwardfor" styleClass="form-control"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_for_req']} "
													value="#{bean.leaveTravelConcessionDto.forwardFor}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
												</h:selectOneMenu>
											</div>
											<h:message for="forwardfor" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											styleClass="btn bg-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
									</div>

									<div class="col-lg-8 col-md-8 col-sm-6 text-right m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['mis_cancel']}" action="#{bean.listPage}"
											immediate="true" onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-slate heading-btn  font-iconmoon">
										</p:commandButton>

										<p:commandButton
											value="#{employeeHRAddLtcBean.action eq 'Add' ?  '&#xed6e;' :  '&#xeda7;' }  #{employeeHRAddLtcBean.action eq 'Add' ?  msg['submit'] :  msg['update'] }"
											binding="#{submit}"
											title="#{employeeHRAddLtcBean.action eq 'Add' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{employeeHRAddLtcBean.action eq 'Add' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											action="#{bean.saveLTCForm}" update="ltcForm:htcPanel growls"
											id="submitBtn" onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>


			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3" /></a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="form-group">
											<p:textEditor widgetVar="editor1" id="note"
												value="#{bean.leaveTravelConcessionDto.note}" height="200" />

											<ui:remove>
												<!-- <p:inputTextarea id="note" cols="18" rows="18"
												rendered="true" requiredMessage="Note #{msg['required']}"
												class="wysihtml5 wysihtml5-min form-control"
												placeholder="Enter text ..."
												value="#{bean.leaveTravelConcessionDto.note}">
												<p:ajax update="note"></p:ajax>
											</p:inputTextarea> -->
											</ui:remove>

										</div>
										<div class='col-md-12'>
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<div class="col-md-3 col-lg-3 col-sm-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : #{bean.loginEmployee.firstName}</li>
																		<li>Designation :
																			#{bean.loginEmployee.personalInfoEmployment.designation.name}</li>
																		<li>Date : #{bean.currentCreatedDate}</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>