<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/personnelHR/createEmployeePersonal.xhtml">
	<ui:define name="personnel">
		<h:form id="educationForm">
			<title>#{msg['infotex']} |
				#{employeeMasterBean.employeeMaster.id!=null?msg['edit']:msg['create']}
				#{msg['employee_service_regd']}</title>

			<div class="tab-pane has-padding">
				<div class="row m-t-10">
					<div class="col-md-12">
						<div class="panel panel-flat m-b-10">
							<div class="panel-heading colllapse  pad-5-10">
								<h6 class="panel-title font14" id="scrollspy">
									#{msg['eductnl_qualifctn']} <span class="pull-right text-13 ">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>

							<p:outputPanel id="educationPanel"
								rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
								<p:focus context="educationPanel" />
								<div class="table-responsive">
									<p:dataTable id="educationTable" rowIndexVar="idx"
										var="education" style="padding:10px" styleClass="report-table"
										value="#{employeeMasterBean.educationQualificationList}"
										tableStyleClass="table-bordered">

										<p:column headerText="#{msg['s_no']}"
											styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['reg_no']}" styleClass="width-12">
											<p:inputText id="regId" value="#{education.registerNo}"
												placeholder="" autocomplete="off" maxlength="20"
												styleClass="input-width-100">
											</p:inputText>
											<p:focus for="regId" />
										</p:column>
										<p:column headerText="#{msg['Name_of_School/Institute']}"
											styleClass="width-12">
											<p:inputText id="instuId"
												value="#{education.institutionName}" autocomplete="off"
												maxlength="50" placeholder="" styleClass="input-width-100">
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['qualifctn']}"
											styleClass="width-10">
											<h:selectOneMenu class="form-control"
												value="#{education.qualificationMaster}"
												id="qualificationId" converter="#{entityConverter}">
												<f:selectItem itemLabel="Select" itemValue="" />
												<f:selectItems
													value="#{employeeMasterBean.qualificationMasterList}"
													var="education" itemLabel="#{education.qualificationLevel}"
													itemValue="#{education}" />
											</h:selectOneMenu>
										</p:column>
										<p:column headerText="#{msg['medium_board_univ']}"
											styleClass="width-15">
											<p:inputText id="locInsId"
												value="#{education.universityName}" autocomplete="off"
												maxlength="50" placeholder="" styleClass="input-width-100">
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['passed_out_year']}"
											styleClass="width-12">
											<p:inputText id="durationId"
												value="#{education.yearOfPassing}"
												styleClass="input-width-100" placeholder=""
												autocomplete="off" maxlength="4">
												<p:keyFilter mask="int" />
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['Percentage_of_Marks']}"
											styleClass="width-6" class="text-right">
											<div class="inputnumber">

												<p:inputNumber id="cgpaId"
													value="#{education.percentageCgpa}"
													styleClass="input-width-100" placeholder=""
													autocomplete="off" maxlength="3">
													<p:keyFilter mask="int" />
												</p:inputNumber>
											</div>
										</p:column>
										<p:column headerText="#{msg['certification_No']}"
											styleClass="width-12">
											<p:inputText id="certification"
												value="#{education.certificatinNo}" autocomplete="off"
												maxlength="50" placeholder="" styleClass="input-width-100">
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['action']}"
											styleClass="width-12 text-center">
											<!-- Add New Row -->
											<div class="">
												<p:commandLink update="educationTable growls"
													onstart="PF('statusDialog').show();" title="#{msg['add']}"
													onsuccess="PF('statusDialog').hide();"
													class="btn btn-success btn-xs btn-table-button"
													actionListener="#{employeeMasterBean.addEmployeeEducationRow}">
													<i class="icon-file-plus"></i>
												</p:commandLink>
												<!-- Upload Document  -->
												<p:commandLink onclick="PF('dialog').show();"
													title="#{msg['upload']}"
													class="btn btn-primary btn-xs btn-table-button">
													<i class="fa fa-upload"></i>
													<f:setPropertyActionListener value="#{education}"
														target="#{employeeMasterBean.selectedEducation}" />
													<h:outputText id="refreshMe"
														value="#{education.documentPath}" style="display : none" />
												</p:commandLink>
												<!-- Delete Row -->
												<p:commandLink id="deletesalePersonLink"
													rendered="#{fn:length(employeeMasterBean.educationQualificationList) ne 1 and 
							loginBean.userFeatures['EMP_EDUCATION_DETAILS_DELETE']}"
													title="#{msg['delete']}" process="@this"
													update="educationTable growls"
													class="btn btn-danger btn-xs btn-table-button"
													actionListener="#{employeeMasterBean.deleteEducationRecord(education)}">
													<i class="fa fa-trash"></i>
													<p:confirm header="#{msg['confirmation']}"
														message="#{msg['confirm_delete']} ?" />
												</p:commandLink>
											</div>
										</p:column>
									</p:dataTable>
								</div>
								<p:outputPanel id="uploadedDocumnets">
									<span style="padding-left: 10px">#{msg['uploaded_doc']}:</span>
									<c:forEach var="edu"
										items="#{employeeMasterBean.educationQualificationList}">
										<span style="color: #2196F3;"> <h:outputText
												id="pathId" value="#{edu.documentPath} ," />
										</span>
									</c:forEach>
								</p:outputPanel>
								<p:confirmDialog id="masterDelete" global="true"
									showEffect="fade" class="no-padding" position="center">
									<div class="text-right p-10">
										<p:commandButton value="&#xed6a; #{msg['no']}"
											update="educationTable" title="#{msg['no']}"
											styleClass="btn btn-sm bg-slate ui-confirmdialog-no font-iconmoon">
										</p:commandButton>
										<p:commandButton value="&#xed6e; #{msg['yes']}"
											title="#{msg['yes']}"
											styleClass="btn btn-sm bg-success ui-confirmdialog-yes font-iconmoon" />
									</div>
								</p:confirmDialog>





								<p:dialog header="#{msg['doc_upload']}" widgetVar="dialog"
									modal="true" showEffect="fade" hideEffect="fade" id="dlgId"
									resizable="false" width="40%" styleClass="p-0">

									<div class="panel-body">
										<div class="row">
											<div class="col-lg-12">
												<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
													<label class="control-label">#{msg['certificate']}</label>
												</div>
												<div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
													<div
														class="uploadercustom1 col-lg-8 col-md-8 col-sm-7 col-xs-7">
														<h:outputText id="disId" value="" />
													</div>
													<div
														class="col-lg-4 col-md-4 col-sm-5 col-xs-5 contact-upload upload-popup">
														<p:graphicImage cache="false" id="refreshMe"
															value="#{employeeMasterBean.uploadedDocument}"
															class="profilePic certfi_upload" />
														<p:fileUpload update="educationTable:refreshMe"
															auto="true" label="&#xf093;&nbsp;#{msg['upload']}"
															sizeLimit="" oncomplete="PF('dialog').hide();"
															styleClass="fa-input" style="margin-top: -19px;"
															fileUploadListener="#{employeeMasterBean.documentUpload}">
														</p:fileUpload>
													</div>
													<div class="clearfix"></div>
													<div>
														<small class="uploadfinename">File format: png,
															jpeg, pdf, doc and filesize should be lessthan 250kb</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</p:dialog>



								<div class="col-md-12 text-right m-t-10 ph0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
										oncomplete="PF('progressDlg').hide();"
										action="#{employeeMasterBean.clear}" immediate="true"
										styleClass="btn btn-sm bg-slate font-iconmoon ">
									</p:commandButton>

									<p:commandButton
										rendered="#{employeeMasterBean.action ne 'EDIT'}"
										class="btn btn-sm bg-primary font-iconmoon"
										update="educationForm:educationPanel growls"
										value="&#xead4;&nbsp;#{msg['save_continue']}"
										onclick="PF('progressDlg').show();"
										title="#{msg['save_continue']}"
										oncomplete="PF('progressDlg').hide();"
										action="#{employeeMasterBean.educationDetailsSaveContinue}">
										<f:setPropertyActionListener value="ADD"
											target="#{employeeMasterBean.action}" />
									</p:commandButton>

									<p:commandButton
										rendered="#{employeeMasterBean.action eq 'EDIT'}"
										class="btn btn-sm bg-primary font-iconmoon"
										update="educationForm:educationPanel growls"
										value="&#xeda7;&nbsp;#{msg['update_continue']}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{employeeMasterBean.educationDetailsSaveContinue}">
										<f:setPropertyActionListener
											value="EMPLOYEE_EDUCATIONAL_DETAILS"
											target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
									</p:commandButton>
								</div>

							</p:outputPanel>

							<p:outputPanel id="eduViewPanel"
								rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
								<div class="cust-table2">
									<p:dataTable id="educationViewTable" rowIndexVar="idx"
										var="education" styleClass="report-tabe"
										value="#{employeeMasterBean.educationQualificationList}"
										tableStyleClass="table table-bordered" style="padding:10px;">

										<p:column headerText="#{msg['s_no']}"
											styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['reg_no']}"
											styleClass="width-10 text-center">
											<h:outputText value="#{education.registerNo}" />
										</p:column>
										<p:column headerText="#{msg['Name_of_School/Institute']}"
											styleClass="width-10">
											<h:outputText class="pull-left"
												value="#{education.institutionName}" />

										</p:column>
										<p:column headerText="#{msg['qualifctn']}"
											styleClass="width-8">
											<h:outputText
												value="#{education.qualificationMaster.qualificationLevel}" />

										</p:column>
										<p:column headerText="#{msg['medium_board_univ']}"
											styleClass="width-8">
											<h:outputText value="#{education.universityName}" />

										</p:column>
										<p:column headerText="#{msg['passed_out_year']}"
											styleClass="width-8 text-center">
											<h:outputText value="#{education.yearOfPassing}" />

										</p:column>
										<p:column headerText="#{msg['Percentage_of_Marks']}"
											styleClass="width-8 text-right">
											<h:outputText value="#{education.percentageCgpa}">
												<f:convertNumber pattern="#0.00"></f:convertNumber>
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['certification_No']}"
											styleClass="width-8 text-center">
											<h:outputText value="#{education.certificatinNo}" />
										</p:column>

									</p:dataTable>
								</div>
								<div class="form-group col-md-12 m-t-10">
									<div class="text-right">
										<p:commandButton value="&#xeddf; #{msg['back']}"
											onclick="PF('progressDlg').show();" title="#{msg['back']}"
											oncomplete="PF('progressDlg').hide();"
											action="#{employeeMasterBean.clear}" immediate="true"
											styleClass="btn btn-sm bg-info font-iconmoon ">
										</p:commandButton>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>


		</h:form>

	</ui:define>
</ui:composition>