<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>InfoTex | Create Oral Exam Mark</title>

		<style type="text/css">
#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number,
	#steps-uid-0-t-4 span.number, #steps-uid-0-t-5 span.number,
	#steps-uid-0-t-6 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff !important;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after,
	#steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after,
	#steps-uid-0-t-7 .number:after, #steps-uid-0-t-8 .number:after {
	color: #bbb;
}

#steps-uid-0-t-7 .number {
	border-color: #ff5722;
}

#steps-uid-0-t-7 .number:after {
	content: "20";
	color: #ff5722;
}

#steps-uid-0-t-7 .number:after {
	content: "21";
}

#steps-uid-0-t-8 .number:after {
	content: "22";
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-7 {
	color: #333333 !important;
}
</style>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['create_oral_test_mark']} <span
							class="label stageLabel label-primary label-rounded">21 /
							26</span>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['create_oral_test_mark']}</li>
					</ul>
				</div>
			</div>
		</div>

		<h:form id="oralMarkForm">
			<p:outputPanel id="oralMarkPanel">

				<div class="content p-content">
					<div class="box-shadow-wizard wizard rpwf2 clearfix">
						<div class="steps clearfix">
							<ul>
								<li class="first current smnone mdnone"><a
									id="steps-uid-0-t-0"><span class="current-info audible">current
											step: </span><span class="number">1</span>#{msg['written_xam']} </a></li>
								<li class="disabled smnone mdnone"><a id="steps-uid-0-t-1"><span
										class="number">2</span> #{msg['wri_ex_appl']}</a></li>
								<li class="disabled smnone mdnone"><a id="steps-uid-0-t-2"><span
										class="number">3</span> #{msg['orl_ex_li']}</a></li>
								<li class="disabled smnone mdnone"><a id="steps-uid-0-t-3"><span
										class="number">4</span> #{msg['orl_ex_li_appl']}</a></li>
								<li class="disabled smnone mdnone"><a id="steps-uid-0-t-4"><span
										class="number">5</span> #{msg['venue']}</a></li>
								<li class="disabled smnone"><a id="steps-uid-0-t-5"><span
										class="number">5</span> #{msg['ven_appl']}</a></li>
								<li class="disabled"><a id="steps-uid-0-t-6"><span
										class="number">6</span> #{msg['cal_let']}</a></li>
								<li class="disabled"><a id="steps-uid-0-t-7"><span
										class="number">7</span> #{msg['oral_exam_mark']}</a></li>
								<li class="disabled"><a id="steps-uid-0-t-8"><span
										class="number">8</span> #{msg['orl_ex_appl']}</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="content ">
					<div class="page-scroll-with-process-outsight-panel">
						<div
							class="panel-group m-b-10 panel-group-control panel-group-control-right"
							id="accordion-control-right">
							<div class="panel panel-info">
								<div class="panel-heading ">
									<h6 class="panel-title">
										<a href="#accordion-control-right-group1"
											data-toggle="collapse" class="block">#{msg['oral_exam_mark']}
											<span class="pull-right text-13">(<span
												class="text-danger">*</span>
												#{msg['marked_field_mandatory']})
										</span>
										</a>
									</h6>
								</div>
								<div id="accordion-control-right-group1"
									class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['adver_num']}" for="idNotifi" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="idNotifi" rendered="#{empty param[submit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="idNotifi" class="form-control"
															converter="#{entityConverter}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['advno_req']}"
															value="#{oralTestMarkBean.notificationDto}">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" />
															<f:selectItems
																value="#{oralTestMarkBean.notificationNumberList}"
																var="nt" itemLabel="#{nt.notificationNo}"
																itemValue="#{nt}" />

															<p:ajax
																listener="#{oralTestMarkBean.onChangeNotificationNumber}"
																event="change" update="noti recpost,recyear" />

														</h:selectOneMenu>
														<p:focus for="idNotifi" />
													</div>
													<h:message id="noti" for="idNotifi"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['req_post']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText id="recpost"
															value="#{oralTestMarkBean.recruitmentForPost}"
															disabled="true" class="form-control" />
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['req_year']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText id="recyear"
															value="#{oralTestMarkBean.recruitmentYear}"
															disabled="true" class="form-control" />
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12 col-md-12 text-right">
												<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
													title="#{msg['clear']}"
													action="#{oralTestMarkBean.clearOralTestExam}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="oralMarkPanel submitOralMarkId"
													class="btn bg-slate font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xeda7;&nbsp;#{msg['generate']}"
													title="#{msg['generate']}" binding="#{submit}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{oralTestMarkBean.generateOralTestMark}"
													update="oralMarkPanel submitOralMarkId growls"
													styleClass="btn btn-sm bg-primary font-iconmoon" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="panel panel-white m-b-0">
							<div class="panel-body no-padding-top">
								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['oral_exam_mark_list']}</span>
								</h5>
								<div class="table-responsive">
									<p:dataTable var="data" editable="true" editMode="cell"
										value="#{oralTestMarkBean.oralTestMarkList}" widgetVar="table"
										rowKey="#{data.id}" rows="10" paginator="true"
										rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										emptyMessage="#{msg['no_record_found']}"
										tableStyleClass="table-bordered" rowIndexVar="idx"
										styleClass="table m-0 cust-table noear table-input-editor"
										id="otmTable">

										<p:column headerText="#{msg['s_no']}"
											styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column filterable="true"
											filterBy="#{data.applicationNumber}"
											filterMatchMode="contains" sortBy="#{data.applicationNumber}"
											sortable="true" styleClass="width-15"
											headerText="#{msg['adver_num']}">
											<h:outputText value="#{data.applicationNumber}" />
										</p:column>

										<p:column filterable="true"
											filterBy="#{data.registrationNumber}"
											filterMatchMode="contains"
											sortBy="#{data.registrationNumber}" sortable="true"
											headerText="#{msg['reg_no']}" styleClass="width-12">
											<h:outputText value="#{data.registrationNumber}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.candidateName}"
											filterMatchMode="contains" sortBy="#{data.candidateName}"
											sortable="true" headerText="#{msg['candidate_name']}"
											styleClass="width-12">
											<h:outputText value="#{data.candidateName}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.community}"
											filterMatchMode="contains" sortBy="#{data.community}"
											sortable="true" headerText="#{msg['community']}"
											styleClass="width-10">
											<h:outputText value="#{data.community}" />
										</p:column>

										<p:column headerText="#{msg['exam_date']}"
											styleClass="text-center form-group_calend width-12"
											sortBy="#{data.writtenExamDate}" sortable="true"
											filterBy="#{data.writtenExamDate}" filterMatchMode="exact">
											<f:facet name="filter">
												<p:calendar onchange="PF('otmTable').filter()"
													navigator="true" tabindex="7" id="examDate"
													pattern="dd-MMM-yyyy" mask="true" placeholder="dd-MMM-yyyy"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('otmTable').filter()" />
													<p:ajax event="change" execute="@this"
														oncomplete="PF('otmTable').filter()"
														update="otmTable,@form" />
												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.writtenExamDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>

										<p:column filterable="true" filterBy="#{data.writtenExamMark}"
											filterMatchMode="contains" sortBy="#{data.writtenExamMark}"
											sortable="true"
											headerText="#{msg['written_examination_mark']}"
											styleClass="width-13">
											<h:outputText value="#{data.writtenExamMark}" />
										</p:column>

										<p:column headerText="#{msg['oral_exam_date']}"
											styleClass="text-center form-group_calend width-12"
											sortBy="#{data.oralExamDate}" sortable="true"
											filterBy="#{data.oralExamDate}" filterMatchMode="exact">
											<f:facet name="filter">
												<p:calendar onchange="PF('otmTable').filter()"
													navigator="true" tabindex="7" id="oralexamdate"
													pattern="dd-MMM-yyyy" mask="true" placeholder="dd-MMM-yyyy"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('otmTable').filter()" />
													<p:ajax event="change" execute="@this"
														oncomplete="PF('otmTable').filter()"
														update="otmTable,@form" />
												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.oralExamDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>

										<p:column filterable="true" filterBy="#{data.oralExamMark}"
											filterMatchMode="contains" sortBy="#{data.oralExamMark}"
											sortable="true">
											<f:facet name="header">
												<h:outputText value="#{msg['oral_exam_mark']}"
													styleClass="width-15" />
											</f:facet>
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{data.oralExamMark}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
												<f:facet name="input">
													<p:inputText maxlength="6" id="modelInput"
														class="form-control text-right"
														value="#{data.oralExamMark}">
														<p:keyFilter mask="num" />
													</p:inputText>
												</f:facet>
											</p:cellEditor>
										</p:column>
									</p:dataTable>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											title="#{msg['cancel']}"
											action="#{oralTestMarkBean.showPage}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											class="btn btn-sm bg-slate font-iconmoon">
											<f:setPropertyActionListener value="CANCEL"
												target="#{oralTestMarkBean.action}" />
										</p:commandButton>
										<p:commandButton id="submitOralMarkId"
											value="&#xed6e; #{msg['submit']}" update="growls"
											title="#{msg['submit']}"
											disabled="#{oralTestMarkBean.oralTestMarkList.size() eq 0}"
											action="#{oralTestMarkBean.createOralTestMark}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											class="btn btn-sm bg-success font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>

		</h:form>
	</ui:define>
</ui:composition>