<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="regForm">
			<title>#{msg['infotex']} |
				#{employeeServiceRegisterBean.employee.id!=null?msg['edit']:msg['create']}
				#{msg['employee_service_regd']}</title>

			<!-- Page Header -->
			<div class="page-header page-header-default page-header-wizard"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<i class="icon-arrow-left52 position-left"></i>#{employeeServiceRegisterBean.employee.id!=null?msg['edit']:msg['create']}
							#{msg['employee_service_regd']}
						</h4>
						<ul class="breadcrumb">
							<li><a href="index.html"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>

							<li><a href="components_page_header.html">#{msg['admin']}</a></li>
							<li class="active">#{employeeServiceRegisterBean.employee.id!=null?msg['edit']:msg['create']}
								#{msg['employee_service_regd']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content-wizard">
				<div class="panel panel-flat ">
					<div class="panel-body no-padding">
						<div class="col-md-12 no-padding no-bor-top">
							<div class="">
								<div class="panel-body no-padding" style="display: block;">
									<div class="col-md-12 no-padding"
										style="background-color: #26A69A;">
										<ul id="stepy-3917109643043668-header" class=" customwizsize">
											<li>
												<div class="ac active" href="#PersonalInfo"
													data-toggle="tab">
													<i class="fa fa-user wizicon"></i>
												</div> <span class="text-white">#{msg['personal_info']}</span>
											</li>
											<li class="">
												<div class="ac" href="#benefits" data-toggle="tab">
													<i class="fa fa-thumbs-up wizicon"
														style="margin-left: 2px;"></i>
												</div> <span class="text-white">#{msg['career_profile']}</span>
											</li>
											<li class="">
												<div class="ac" href="#leaveDetails" data-toggle="tab">
													<i class="fa fa-puzzle-piece wizicon"
														style="margin-left: 3px;"></i>
												</div> <span class="text-white">#{msg['leave_details']}</span>
											</li>
											<li class="">
												<div class="ac" href="#others" data-toggle="tab">
													<i class="fa fa-rocket wizicon"></i>
												</div> <span class="text-white">#{msg['others']}</span>
											</li>
										</ul>
									</div>

									<!--  2nd info  -->

									<div class="tab-content">
									
										<li class="col-md-2" style="display:block; border-right: 1px solid #e9e9e9 !important;">
													<div class="m-t-10">
														<div class="thumb thumb-slide">
															<img src="../../assets/images/index.jpg"
																style="width: 100px;" alt="" />
														</div>
														<div class="caption text-center m-b-15 m-t-10">
															<h6 class="text-semibold no-margin">
																Siva Karthick <small class="display-block">P123456</small>
															</h6>
														</div>
													</div>
												</li>
									
									
									
										<div id="PersonalInfo"
											class="tab-pane active tabbable nav-tabs-vertical nav-tabs-left"
											 style="height: 200px; overflow: auto;">
											<ul 
												class="nav  nav-tabs-highlight col-md-2 no-padding customnav"
												style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
											
												<li class=""><a href="#primaryinfo" data-toggle="tab"
													aria-expanded="false" style="border-top: 1px solid #e9e9e9 !important;"><i
														class="icon-user position-left"></i>#{msg['primary_info']}</a></li>
												<li class="active"><a href="#additionalInfo"
													data-toggle="tab" aria-expanded="true"><i
														class="icon-user position-left"></i>#{msg['additional_info']}</a></li>
												<li class=""><a href="#empDetails" data-toggle="tab"
													aria-expanded="false"><i
														class="icon-user-tie position-left"></i>#{msg['employment_details']}</a></li>
												<li class=""><a href="#addpayscale" data-toggle="tab"
													aria-expanded="true"><i
														class="icon-calculator3 position-left"></i>#{msg['pay_scale_info']}</a></li>
												<li class=""><a href="#addressDetails"
													data-toggle="tab" aria-expanded="false"><i
														class="icon-location3 position-left"></i>#{msg['address_contact']}</a></li>
												<li class=""><a href="#familyDetails" data-toggle="tab"
													aria-expanded="true"><i
														class="icon-users4 position-left"></i>#{msg['family_details']}</a></li>
												<li class=""><a href="#eductnlqualifctn"
													data-toggle="tab" aria-expanded="true"><i
														class="icon-graduation2 position-left"></i>#{msg['eductnl_dtls']}</a></li>
												<li class=""><a href="#workexp" data-toggle="tab"
													aria-expanded="false"><i
														class="icon-chair position-left"></i>#{msg['work_exp']}</a></li>
												<li class=""><a href="#achievements" data-toggle="tab"
													aria-expanded="false"><i
														class=" icon-trophy3 position-left"></i>#{msg['achievmnts']}</a></li>
												<li class=""></li>
											</ul></div>
											
											
												<div id="benefits"
											class="tab-pane  tabbable nav-tabs-vertical nav-tabs-left"
											 style="height: 400px; overflow: auto;">
											<ul 
												class="nav  nav-tabs-highlight col-md-2 no-padding customnav"
												style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
												
												<li class="active"><a href="#increment"
													data-toggle="tab" aria-expanded="false"><i
														class="icon-cash4 position-left"></i>#{msg['increment']}</a></li>
												<li class=""><a href="#promotion" data-toggle="tab"
													aria-expanded="true"><i
														class="icon-stairs-up position-left"></i>#{msg['promotion']}</a></li>
												<li class=""><a href="#addCharges" data-toggle="tab"
													aria-expanded="true"><i
														class="fa fa-money position-left"></i>#{msg['add_charge']}</a></li>
												<li class=""><a href="#transfer" data-toggle="tab"
													aria-expanded="false"><i
														class=" icon-transmission position-left"></i>#{msg['transfer']}</a></li>
												<li class=""><a href="#disciplinaryActn"
													data-toggle="tab" aria-expanded="true"><i
														class="fa fa-user position-left"></i>#{msg['disciplne_actn']}</a></li>
												<li class=""><a href="#suspension" data-toggle="tab"
													aria-expanded="false"><i
														class="fa fa-map-marker position-left"></i>#{msg['suspension']}</a></li>

												<li class=""></li>
											</ul>
											
											</div>
											<div id="leaveDetails"
											class="tab-pane  tabbable nav-tabs-vertical nav-tabs-left"
											 style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
											 <ul 
												class="nav  nav-tabs-highlight col-md-2 no-padding customnav"
												style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
											
											<li class="active"><a href="#leaveInfo"
													data-toggle="tab" aria-expanded="true" style="border-top: 1px solid #e9e9e9 !important;"><i
														class="fa fa-user position-left"></i>#{msg['leave_details']}</a></li>
												<li class=""><a href="#LeaveTravelConcession"
													data-toggle="tab" aria-expanded="false"><i
														class="fa fa-map-marker position-left"></i>#{msg['leave_travel_concession']}</a></li>
														</ul>
														</div>
														
														<div id="others"
											class="tab-pane  tabbable nav-tabs-vertical nav-tabs-left"
											 style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
											 <ul 
												class="nav  nav-tabs-highlight col-md-2 no-padding customnav"
												style="border-right: 1px solid #e9e9e9 !important; height: 400px; overflow: auto;">
											
											<li class="active"><a href="#disciplinaryActn"
													data-toggle="tab" aria-expanded="true"><i
														class="fa fa-file-text-o position-left"></i>#{msg['up_doc']}</a></li>
														</ul>
														</div>

									</div>
								


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		


			<!--  Suspension remarks popup ends -->

		</h:form>


		<script>


$('.ac').click(function(e) {
    e.preventDefault();
    $('.ac').removeClass('active');
    $(this).addClass('active');
});



</script>

	</ui:define>
</ui:composition>
