<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/personnelHR/createEmployeeCareer.xhtml">
	<ui:define name="career">
		<h:form id="empPromotionForm">
			<div class="tab-pane no-padding">
				<p:outputPanel id="addpanel"
					rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
					<div class="tab-pane has-padding " id="promotion">
						<div class="panel">
							<div class="panel-heading colllapse pad-5-10">
								<h6 class="panel-title font14" id="scrollspy">
									#{msg['promotion']} <span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>
							<div class="panel-body p-t-10">
								<p:outputPanel id="promotionPanel">
									<p:outputPanel id="viewPromotionPanel"
										rendered="#{employeeMasterBean.visibleButton eq 'VIEWPROMOTION'}">
										<div class="row view-style label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceNo}"
														styleClass="" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_date']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceDate}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ent_typ']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.entityTypeMaster.entityName}"
														styleClass="" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.entityMaster.name}"
														styleClass="" />
												</div>
											</div>
										</div>


										<div class="row view-style label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dept']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.department.name}"
														styleClass="" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['curr_desgn']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.curruntDesignation.name}"
														styleClass="" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['curr_payscale']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.curruntPayscale.fromAmount}"
														styleClass="" style="display: inline-block;">
														<f:convertNumber pattern="#0" />
													</h:outputText>
													-
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.curruntPayscale.toAmount}"
														styleClass="" style="display: inline-block;">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['promo_desgn']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.promotedDesignation.name}"
														styleClass="" />
												</div>
											</div>
										</div>
										<div class="row view-style label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['seniority_no']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.seniority}"
														styleClass="" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['revised_payscale']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.revisedPayscale.fromAmount}"
														styleClass="" style="display: inline-block;">
														<f:convertNumber pattern="#0" />
													</h:outputText>
													-
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.revisedPayscale.toAmount}"
														styleClass="" style="display: inline-block;">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['proceed_ref_num']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceNumber}"
														styleClass="" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['proceed_ref_date']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceDate}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>
										</div>
										<div class="row view-style label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['date']} (w.e.f)" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.promotionEffectiveDate}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_joining']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.dateOfJoining}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['whether_option_excercised']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.whetherOptionExercised}"
														styleClass="" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['option_excercised']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.optionExercised}"
														styleClass="" />
												</div>
											</div>
										</div>
										<div class="row view-style label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['date_of_option']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.dateOfOption}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['revised_basic_pay']}" />
													<h:outputText
														value="&#xf156; #{employeeMasterBean.employeePromotionDetail.revisedBasicPay}"
														styleClass="fa-input">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['date_of_reliving']}" />
													<h:outputText
														value="#{employeeMasterBean.employeePromotionDetail.dateOfReliving}"
														styleClass="">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12 text-right">
												<p:commandButton value="&#xed6a; #{msg['cancel']}"
													title="#{msg['cancel']}"
													update="empPromotionForm:promotionPanel growls"
													actionListener="#{employeeMasterBean.clearPromotionDetails}"
													class="btn btn-sm bg-slate font-iconmoon">
												</p:commandButton>
											</div>
										</div>
									</p:outputPanel>

									<p:outputPanel
										rendered="#{employeeMasterBean.visibleButton ne 'VIEWPROMOTION'}">
										<div class="row custom-form-1">
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-hash"></i></span>
														<p:inputText id="refId"
															required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
															autocomplete="off"
															requiredMessage="#{msg['reference_number_required']}"
															validatorMessage="#{msg['ref_no_valid_msg']}"
															value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceNo}"
															class="form-control" placeholder="">
															<p:keyFilter mask="alpha" regEx="/[a-zA-Z0-9-/_.]+/"
																preventPaste="false" />
														</p:inputText>
														<p:focus for="refId" />
													</div>
													<h:message for="refId" class="validation-error-label" />
													<p:tooltip for="refId" value="#{msg['ref_no_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['ref_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="refDateId"
														required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
														requiredMessage="#{msg['reference_date_required']}"
														maxdate="java.util.Date"
														value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceDate}"
														pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														navigator="true" styleClass="form-control-1 calend-icon-1" />
													<h:message for="refDateId" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ent_typ']}" for="entId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack"></i></span>
														<h:selectOneMenu id="entId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['entity_type_required']}"
															value="#{employeeMasterBean.employeePromotionDetail.entityTypeMaster}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{employeeMasterBean.entityMasterTypeList}"
																var="entity" itemLabel="#{entity.entityName}"
																itemValue="#{entity}" />
															<p:ajax
																listener="#{employeeMasterBean.onEntityTypeChange}"
																update="entMasterId" />
														</h:selectOneMenu>
													</div>
													<h:message for="entId" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" for="entMasterId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entMasterId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack"></i></span>
														<h:selectOneMenu class="form-control" id="entMasterId"
															value="#{employeeMasterBean.employeePromotionDetail.entityMaster}"
															requiredMessage="#{msg['entity_required']}"
															converter="#{entityConverter}"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.entityMasterList}" var="it"
																itemLabel="#{it.name}" itemValue="#{it}" />
														</h:selectOneMenu>
													</div>
													<h:message for="entMasterId" class="validation-error-label" />
												</div>
											</div>
										</div>
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dept']}" for="deptId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="deptId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-tree6"></i></span>
														<h:selectOneMenu id="deptId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['department_required']}"
															value="#{employeeMasterBean.employeePromotionDetail.department}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" />
															<f:selectItems
																value="#{employeeMasterBean.departmentList}"
																var="deptmt" itemLabel="#{deptmt.name}"
																itemValue="#{deptmt}" />
														</h:selectOneMenu>
													</div>
													<h:message for="deptId" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['curr_desgn']}" for="cdesigId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="cdesigId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-briefcase"></i></span>
														<h:selectOneMenu id="cdesigId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['current_desgn_req']}"
															value="#{employeeMasterBean.employeePromotionDetail.curruntDesignation}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" />
															<f:selectItems
																value="#{commonDataService.designationList}"
																var="cdesig" itemLabel="#{cdesig.name}"
																itemValue="#{cdesig}" />
														</h:selectOneMenu>
													</div>
													<h:message for="cdesigId" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['curr_payscale']}"
														class="fa-input" for="cpId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="cpId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-inr fa-lg"></i></span>
														<h:selectOneMenu id="cpId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['payscale_req']}"
															value="#{employeeMasterBean.employeePromotionDetail.curruntPayscale}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" />
															<f:selectItems
																value="#{employeeMasterBean.payScaleMasterList}"
																var="cpayscale" itemLabel="#{cpayscale.fromToAmount}"
																itemValue="#{cpayscale}" />
														</h:selectOneMenu>
													</div>
													<h:message for="cpId" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['promo_desgn']}" for="prId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="prId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-briefcase"></i></span>
														<h:selectOneMenu id="prId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['promoted_desgn_req']}"
															value="#{employeeMasterBean.employeePromotionDetail.promotedDesignation}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" />
															<f:selectItems
																value="#{employeeMasterBean.designationList}"
																var="pdesig" itemLabel="#{pdesig.name}"
																itemValue="#{pdesig}" />
														</h:selectOneMenu>
													</div>
													<h:message for="prId" class="validation-error-label" />
												</div>
											</div>
										</div>
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['senior_no']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="seId" autocomplete="off"
															required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['seniority_req']}"
															value="#{employeeMasterBean.employeePromotionDetail.seniority}"
															class="form-control" placeholder="" maxlength="4">
															<p:keyFilter mask="num" />
														</p:inputText>
													</div>
													<h:message for="seId" class="validation-error-label" />
													<p:tooltip for="seId" value="#{msg['seniority_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['revised_payscale']}"
														class="fa-input" for="rpId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="rpId"
														rendered="#{empty param[addPromotion.clientId] and empty param[pdatePromotion.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-inr fa-lg"></i></span>
														<h:selectOneMenu id="rpId" class="form-control"
															required="#{not empty param[addPromotion.clientId] or not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['revised_payscale_req']}"
															value="#{employeeMasterBean.employeePromotionDetail.revisedPayscale}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" />
															<f:selectItems
																value="#{employeeMasterBean.payScaleMasterList}"
																var="rpayscale" itemLabel="#{rpayscale.fromToAmount}"
																itemValue="#{rpayscale}" />
														</h:selectOneMenu>
													</div>
													<h:message for="rpId" class="validation-error-label" />
													<p:tooltip for="rpId" value="#{msg['amt_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['proceed_ref_num']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="prcId" autocomplete="off"
															value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceNumber}"
															required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
															requiredMessage="#{msg['proceeding_ref_no_req']}"
															validatorMessage="#{msg['proceeding_ref_no_valid_msg']}"
															class="form-control" placeholder="" maxlength="50">
															<p:keyFilter mask="alpha" regEx="/[a-zA-Z0-9-/_.]+/"
																preventPaste="false" />
														</p:inputText>
													</div>
													<h:message for="prcId" class="validation-error-label" />
													<p:tooltip for="prcId"
														value="#{msg['proceeding_ref_no_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['proceed_ref_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="prdId"
														value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceDate}"
														required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
														requiredMessage="#{msg['proceeding_ref_date_req']}"
														maxdate="java.util.Date" pattern="dd-MMM-yyyy"
														yearRange="c-100:c+100" placeholder="dd-MMM-yyyy"
														navigator="true" styleClass="form-control-1 calend-icon-1" />
													<h:message for="prdId" class="validation-error-label" />
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['date']}&nbsp;(w.e.f)" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="deId"
														required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
														requiredMessage="#{msg['effective_date_req']}"
														maxdate="java.util.Date" navigator="true"
														value="#{employeeMasterBean.employeePromotionDetail.promotionEffectiveDate}"
														pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														styleClass="form-control-1 calend-icon-1" />
													<h:message for="deId" class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['dt_joining']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="dojId"
														required="#{not empty param[addPromotion.clientId] || not empty param[updatePromotion.clientId]}"
														requiredMessage="#{msg['date_join_req']}"
														maxdate="java.util.Date" navigator="true"
														value="#{employeeMasterBean.employeePromotionDetail.dateOfJoining}"
														pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														styleClass="form-control-1 calend-icon-1" />
													<h:message for="dojId" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['whether_option_excercised']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu
															value="#{employeeMasterBean.employeePromotionDetail.whetherOptionExercised}"
															class="form-control">
															<f:selectItem itemLabel="Select" />
															<f:selectItem itemLabel="Yes" itemValue="yes" />
															<f:selectItem itemLabel="No" itemValue="no" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['option_excercised']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText autocomplete="off"
															value="#{employeeMasterBean.employeePromotionDetail.optionExercised}"
															class="form-control " placeholder="" maxlength="50" />
													</div>
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['date_of_option']}" />
												<div class="form-group form-group_calend">
													<p:calendar
														value="#{employeeMasterBean.employeePromotionDetail.dateOfOption}"
														pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														maxdate="java.util.Date" navigator="true"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<div class="form-group ">
													<p:outputLabel value="#{msg['revised_basic_pay']}" />
													<span class="mand-red"></span>
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="fa fa-inr fa-lg"></i></span>
														<p:inputNumber id="revisedBasic" autocomplete="off"
															padControl="false"
															value="#{employeeMasterBean.employeePromotionDetail.revisedBasicPay}"
															placeholder="">
														</p:inputNumber>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['date_of_reliving']}" />
												<div class="form-group form-group_calend">
													<p:calendar
														value="#{employeeMasterBean.employeePromotionDetail.dateOfReliving}"
														pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														maxdate="java.util.Date" navigator="true"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 text-right m-r-0">
												<!-- Clear Promotion Details -->
												<p:commandButton value="&#xe916; #{msg['clear']}"
													title="#{msg['clear']}"
													update="empPromotionForm:promotionPanel growls"
													actionListener="#{employeeMasterBean.clearPromotionDetails}"
													class="btn btn-sm bg-slate font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xea0e; #{msg['add']}"
													title="#{msg['add']}" binding="#{addPromotion}"
													rendered="#{employeeMasterBean.visibleButton ne 'UPDATEPROMOTION'}"
													update="empPromotionForm:promotionPanel promotionTable growls"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													actionListener="#{employeeMasterBean.addPromotionDetails}"
													class="btn btn-sm bg-success font-iconmoon" />
												<p:commandButton value="&#xeda7; #{msg['update']}"
													binding="#{updatePromotion}" title="#{msg['update']}"
													rendered="#{employeeMasterBean.visibleButton eq 'UPDATEPROMOTION'}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="empPromotionForm:promotionPanel promotionTable growls"
													actionListener="#{employeeMasterBean.updatePromotionDetails}"
													class="btn btn-sm bg-success font-iconmoon" />
											</div>
										</div>
									</p:outputPanel>

									<div class="col-md-12 no-padding m-t-10">
										<div class="table-responsive">
											<p:dataTable id="promotionTable" var="promotionDetail"
												rowIndexVar="idx" rowKey="#{promotionDetail.rowIndex}"
												tableStyleClass="table-bordered"
												value="#{employeeMasterBean.employeePromotionDetailsList}">

												<p:column headerText="#{msg['s_no']}" class="text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>
												<p:column headerText="#{msg['dept']}">
													<h:outputText value="#{promotionDetail.department.name}" />
												</p:column>
												<p:column headerText="#{msg['curr_desgn']}">
													<h:outputText
														value="#{promotionDetail.curruntDesignation.name}" />
												</p:column>
												<p:column
													headerText="#{msg['curr_payscale']}&nbsp;(&#xf156;)"
													class="fa-input text-right">
													<h:outputText
														value="#{promotionDetail.curruntPayscale.fromAmount}">
														<f:convertNumber pattern="#0" />
													</h:outputText>
																	-
																<h:outputText
														value="#{promotionDetail.curruntPayscale.toAmount}">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['promo_desgn']}">
													<h:outputText
														value="#{promotionDetail.promotedDesignation.name}" />
												</p:column>
												<p:column
													headerText="#{msg['revised_payscale']}&nbsp;(&#xf156;)"
													class="fa-input text-right">

													<h:outputText
														value="#{promotionDetail.revisedPayscale.fromAmount}">
														<f:convertNumber pattern="#0" />
													</h:outputText>
																	-
																<h:outputText
														value="#{promotionDetail.revisedPayscale.toAmount}">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['date']}&nbsp;(w.e.f)"
													class="text-center">
													<h:outputText
														value="#{promotionDetail.promotionEffectiveDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['action']}"
													class="text-center width-14">
													<!-- Edit Promotion -->
													<div class="">
														<p:commandLink id="pupadteId"
															update="empPromotionForm:promotionPanel promotionTable growls"
															onclick="PF('progressDlg').show();"
															oncomplete="PF('progressDlg').hide();"
															actionListener="#{employeeMasterBean.editPromotionDetails(promotionDetail)}"
															value="&#xe912;" title="#{msg['edit']}"
															class=" btn btn-primary btn-xs btn-table-button font-iconmoon">
														</p:commandLink>
														<!-- View Promotion -->
														<p:commandLink update="promotionTable growls"
															value="&#xea18;" onclick="PF('progressDlg').show();"
															oncomplete="PF('progressDlg').hide();"
															title="#{msg['view']}"
															actionListener="#{employeeMasterBean.viewPromotionDetails(promotionDetail)}"
															class=" btn btn-info btn-xs btn-table-button m-lr-3 font-iconmoon">
														</p:commandLink>
														<!-- Delete Promotion  -->
														<p:commandLink id="deletePromotionLink"
															update="promotionTable growls"
															rendered="#{loginBean.userFeatures['EMP_PROMOTION_DETAILS_DELETE']}"
															onclick="PF('progressDlg').show();"
															title="#{msg['delete']}"
															oncomplete="PF('progressDlg').hide();"
															actionListener="#{employeeMasterBean.deletePromotionRecord(promotionDetail)}"
															class=" btn btn-warning btn-xs btn-table-button">
															<i class="fa fa-trash"></i>
															<p:confirm header="#{msg['confirmation']}"
																message="#{msg['confirm_delete']} ?" />
														</p:commandLink>
													</div>
												</p:column>
											</p:dataTable>

											<p:confirmDialog id="promotionDelete" global="true"
												showEffect="fade" position="center" class="no-padding">
												<div class="text-right p-10">
													<p:commandButton value="&#xed6a; #{msg['no']}"
														update="promotionTable"
														styleClass="btn btn-sm bg-slate ui-confirmdialog-no font-iconmoon">
													</p:commandButton>
													<p:commandButton value="&#xed6e; #{msg['yes']}"
														styleClass="btn btn-sm bg-success ui-confirmdialog-yes font-iconmoon" />
												</div>
											</p:confirmDialog>
										</div>
									</div>
								</p:outputPanel>
							</div>
							<div class="col-md-12 m-t-15 text-right">
								<!-- Cancel  -->
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
									oncomplete="PF('progressDlg').hide();"
									action="#{employeeMasterBean.clear}" immediate="true"
									styleClass="btn btn-sm bg-slate font-iconmoon ">
								</p:commandButton>
								<p:commandButton
									rendered="#{employeeMasterBean.action ne 'EDIT'}"
									onclick="PF('progressDlg').show();"
									title="#{msg['save_continue']}"
									oncomplete="PF('progressDlg').hide();"
									update="empPromotionForm:promotionPanel growls"
									action="#{employeeMasterBean.promotionDetailsSaveContinue}"
									value="&#xead4;&nbsp;#{msg['save_continue']}"
									class="btn btn-sm bg-success font-iconmoon">
								</p:commandButton>
								<p:commandButton
									rendered="#{employeeMasterBean.action eq 'EDIT'}"
									onclick="PF('progressDlg').show();"
									title="#{msg['update_continue']}"
									oncomplete="PF('progressDlg').hide();"
									update="empPromotionForm:promotionPanel growls"
									action="#{employeeMasterBean.promotionDetailsSaveContinue}"
									value="&#xeda7; #{msg['update_continue']}"
									class="btn btn-sm bg-primary font-iconmoon">
									<f:setPropertyActionListener value="EMPLOYEE_PROMOTION_DETAILS"
										target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>

				<p:outputPanel id="viewpanel"
					rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">

					<div class="tab-pane has-padding " id="promotion">
						<div class="panel">
							<div class="panel-heading colllapse  pad-5-10">
								<h5 class="panel-title font14" id="scrollspy">
									#{msg['promotion']} <a class="heading-elements-toggle"><i
										class="icon-more"></i></a>
								</h5>
							</div>
							<div class="panel-body p-t-10">
								<p:outputPanel id="viewPromotionPanelData"
									rendered="#{employeeMasterBean.visibleButton eq 'VIEWPROMOTION'}">
									<div class="row">
										<div class="view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceNo}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_date']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeePromotionDetail.promotionReferenceDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText>
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ent_typ']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeePromotionDetail.entityTypeMaster.entityName}" />
													</span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeePromotionDetail.entityMaster.name}" />
													</span>
												</div>
											</div>
											<div class="col-lg-12">
												<div class="row">
													<div class="view-style">
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['dept']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.department.name}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['curr_desgn']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.curruntDesignation.name}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['curr_payscale']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.curruntPayscale.fromAmount}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText> - <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.curruntPayscale.toAmount}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText>
																</span>
															</div>
														</div>

														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['promo_desgn']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.promotedDesignation.name}" />
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-12">
												<div class="row">
													<div class="view-style">
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['seniority_no']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.seniority}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['revised_payscale']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.revisedPayscale.fromAmount}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText> - <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.revisedPayscale.toAmount}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText>
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['proceed_ref_num']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceNumber}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['proceed_ref_date']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.proceedingReferenceDate}">
																		<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
																	</h:outputText>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="col-lg-12">
												<div class="row">
													<div class="view-style">
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['date']} (w.e.f)" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.promotionEffectiveDate}">
																	<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
																	</h:outputText>
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['dt_joining']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.dateOfJoining}">
																		<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
																	</h:outputText>
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel
																	value="#{msg['whether_option_excercised']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.whetherOptionExercised}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['option_excercised']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.optionExercised}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['option_excercised']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.optionExercised}" />
																</span>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['date_of_reliving']}" />
																<span class=""> <h:outputText
																		value="#{employeeMasterBean.employeePromotionDetail.dateOfReliving}">
																		<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
																	</h:outputText>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</p:outputPanel>

								<div class="col-md-12 ph0">
									<div class="table-responsive">
										<p:dataTable id="promotionViewTable" var="promotionDetail"
											class="table" rowIndexVar="idx" styleClass="report-table"
											rowKey="#{promotionDetail.rowIndex}"
											value="#{employeeMasterBean.employeePromotionDetailsList}">

											<p:column headerText="#{msg['s_no']}"
												class="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['dept']}" class="width-10">
												<h:outputText value="#{promotionDetail.department.name}" />
											</p:column>

											<p:column headerText="#{msg['curr_desgn']}" class="width-12">
												<h:outputText
													value="#{promotionDetail.curruntDesignation.name}" />
											</p:column>

											<p:column
												headerText="#{msg['curr_payscale']}&nbsp;( &#xf156; )"
												class="text-right width-12 fa-input">
												<h:outputText
													value="#{promotionDetail.curruntPayscale.fromAmount}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
																	-
																<h:outputText
													value="#{promotionDetail.curruntPayscale.toAmount}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['promo_desgn']}" class="width-12">
												<h:outputText
													value="#{promotionDetail.promotedDesignation.name}" />
											</p:column>
											<p:column headerText="#{msg['revised_payscale']}"
												class="text-right width-12">
												<h:outputText
													value="#{promotionDetail.revisedPayscale.fromAmount}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
																	-
																<h:outputText
													value="#{promotionDetail.revisedPayscale.toAmount}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['date']}&nbsp;(w.e.f)"
												class="text-center width-10">
												<h:outputText
													value="#{promotionDetail.promotionEffectiveDate}">
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['action']}"
												class="text-center width-4">
												<!-- View Promotion -->
												<p:commandLink update="form empPromotionForm growls"
													value="&#xea18;" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													actionListener="#{employeeMasterBean.viewPromotionDetails(promotionDetail)}"
													class="btn btn-info btn-xs btn-table-button font-iconmoon">
												</p:commandLink>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 text-right ph0">
							<p:commandButton value="&#xeddf; #{msg['back']}"
								onclick="PF('progressDlg').show();" title="#{msg['back']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeMasterBean.clear}" immediate="true"
								styleClass="btn btn-sm bg-info font-iconmoon ">
							</p:commandButton>
s						</div>
					</div>

				</p:outputPanel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>