<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
<ui:define name="content">
<h:form>
<title>#{msg['infotex']} |
				#{employeeMasterBean.employeeMaster.id!=null?msg['edit']:msg['create']}
				#{msg['staff_elg_sale _master']}</title>
<!-- Page Header -->
<div class="page-header page-header-default"
				style="margin-top: 50px;">
  <div class="page-header-content">
    <div class="page-title">
      <h4> <i class="icon-file-plus position-left"></i>#{employeeMasterBean.employeeMaster.id!=null?msg['edit']:msg['create']}
       #{msg['staff_elg_sales_master']} </h4>
      <ul class="breadcrumb">
        <li><a href="index.html"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
        <li><a href="components_page_header.html">Personnel HR</a></li>
        <li class="active">#{employeeMasterBean.employeeMaster.id!=null?msg['edit']:msg['create']}
          #{msg['staff_elg_sales_master']}</li>
      </ul>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a> </div>
		<ui:include src="/pages/pageHeadingElements.xhtml" />
  </div>
</div>
<!-- End Page Header -->

<div class="content page-scroll">
  <div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
    <div class="panel panel-info ">
      <div class="panel-heading">
        <h6 class="panel-title"> #{msg['staff_elg_sales_master']}
        <span class="pull-right" style="font-size: 12px; padding-top: 3px;"><span class="text-danger">*</span> Mandatory Fields</span>
         </h6>
         
      </div>
      <div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
        <div class="panel-body" style="padding: 10px 20px 10px 20px">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
              <div class="form-group">
                <p:outputLabel value="#{msg['min']} #{msg['sales']} in lakhs"  /> <span class="mand-red">*</span>
                <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-inr"></i></span>
                  <p:inputText class="form-control" placeholder="1,00,000.00"
													maxlength="50">
                    <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                  </p:inputText>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 ">
              <div class="form-group">
                <p:outputLabel value="#{msg['max']} #{msg['sales']} in lakhs" /> <span class="mand-red">*</span>
                <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-inr"></i></span>
                  <p:inputText class="form-control" placeholder="2,00,000.00"
													maxlength="50">
                    <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                  </p:inputText>
                </div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 ">
              <div class="form-group">
                <p:outputLabel value="#{msg['staff_elg']}" /> <span class="mand-red">*</span>
                <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-user"></i></span>
                  <p:inputText class="form-control" placeholder="10"
													maxlength="50">
                    <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                  </p:inputText>
                </div>
              </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
              
            
            
            
            
            
            
                
            
          </div>
          
          
          
          <div class="col-lg-12 no-padding ">
            <div class="form-group">
              <p:outputLabel value="#{msg['remarks']}" />
              <textarea row="3" class="form-control" placeholder="Some Notes"
											maxlength="50"></textarea>
            </div>
          </div>
          <div class="col-md-12 no-padding m-t-15">
            <div class="form-group ">
              <div class="text-right">
                <button id="" name="form:regForm:j_idt665"
												class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-slate font-iconmoon"
												onclick="PrimeFaces.ab({s:&quot;form:regForm:j_idt665&quot;});return false;"
												type="submit" role="button" aria-disabled="false"> <span class="ui-button-text ui-c"> Cancel</span> </button>
                <button id="" name="form:regForm:j_idt391"
												class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-success font-iconmoon m-l-10"
												onclick="PrimeFaces.ab({s:&quot;form:regForm:j_idt391&quot;});return false;"
												type="submit" aria-disabled="false"> <span class="ui-button-text ui-c"> Save </span> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</h:form>
</ui:define>
</ui:composition>
