<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/personnelHR/createEmployeeCareer.xhtml">
	<ui:define name="career">
		<h:form id="suspensionForm">
			<p:outputPanel id="suspensionDetailsPanel"
				rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
				<div class="tab-pane no-padding">
					<div class="tab-pane has-padding " id="suspension">
						<div class="panel">
							<div class="panel-heading colllapse  pad-5-10">
								<h6 class="panel-title font14" id="scrollspy">
									#{msg['suspension']}
									<h:outputLabel value="View"
										rendered="#{employeeMasterBean.suspensionFlag eq 'VIEWSUSPENSION'}"></h:outputLabel>
									<h:outputLabel value="Edit"
										rendered="#{employeeMasterBean.action eq 'EDITSUSPENSION'}"></h:outputLabel>
									<a class="heading-elements-toggle"><i class="icon-more"></i></a><span
										class="pull-right text-13 ">(<span class="text-danger">*</span>
										#{msg['marked_field_mandatory']})
									</span>
								</h6>

							</div>
							<div class="panel-body p-t-10">
								<p:outputPanel id="editEmployeeSuspension"
									rendered="#{employeeMasterBean.suspensionFlag ne 'VIEWSUSPENSION'}">
									<div>
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="referenceNum" placeholder=" "
															onkeyup="this.value=this.value.toUpperCase();"
															class="form-control"
															required="#{not empty param[addSusp.clientId] || not empty param[updateSusp.clientId]}"
															requiredMessage="#{msg['reference_number_required']}"
															validatorMessage="#{msg['ref_no_valid_msg']}"
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceNumber}"
															maxlength="50">
															<p:ajax event="keyup" update="refNumber" />
														</p:inputText>
														<p:focus for="referenceNum" />
													</div>
													<h:message id="refNumber" for="referenceNum"
														class="validation-error-label" />
													<p:tooltip for="referenceNum"
														value="#{msg['ref_no_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['ref_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="referenceDate" pattern="dd-MMM-yyyy"
														navigator="true" yearRange="c-100:c+100"
														placeholder="dd-MMM-yyyy" maxdate="java.util.Date"
														required="#{not empty param[addSusp.clientId] || not empty param[updateSusp.clientId]}"
														requiredMessage="#{msg['reference_date_required']}"
														value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceDate}"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax event="dateSelect" update="refdt" />
													</p:calendar>
													<h:message id="refdt" for="referenceDate"
														class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sus_ho_ro']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="headOffice"
															value="#{employeeMasterBean.employeeSuspensionDetails.headAndRegionalOffice}"
															class="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.entityMasterList}"
																var="typ" itemLabel="#{typ.name}" itemValue="#{typ}" />
															<p:ajax event="change"
																listener="#{employeeMasterBean.onchangeRegionAndEntityType()}"
																update="entityId  entityTypeMaster entity"></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="entityTypeMaster"
															disabled="#{employeeMasterBean.suspensionFlag eq 'DISABLEDENTITY'}"
															value="#{employeeMasterBean.employeeSuspensionDetails.entityTypeMaster}"
															class="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.suspensionEntityTypeList}"
																var="typ" itemLabel="#{typ.entityName}"
																itemValue="#{typ}" />
															<p:ajax event="change"
																listener="#{employeeMasterBean.onchangeRegionAndEntityType()}"
																update="entityId "></p:ajax>
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['work_location']}"
														for="entityId" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="entityId"
														rendered="#{empty param[addSusp.clientId] and empty param[updateSusp.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<h:selectOneMenu id="entityId"
															disabled="#{employeeMasterBean.suspensionFlag eq 'DISABLEDENTITY'}"
															required="#{not empty param[addSusp.clientId] or not empty param[updateSusp.clientId]}"
															value="#{employeeMasterBean.employeeSuspensionDetails.workLocation}"
															requiredMessage="#{msg['work_location_req']}"
															class="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.suspensionEntityMasterList}"
																var="ent" itemLabel="#{ent.name}" itemValue="#{ent}" />
															<p:ajax event="change" update="entity" />

														</h:selectOneMenu>
													</div>
													<h:message id="entity" for="entityId"
														class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['detail_of_suspens']}"
														for="suspensionDetail" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="suspensionDetail"
														rendered="#{empty param[addSusp.clientId] and empty param[updateSusp.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu class="form-control"
															id="suspensionDetail"
															required="#{not empty param[addSusp.clientId] or not empty param[updateSusp.clientId]}"
															requiredMessage="#{msg['details_suspension_req']}"
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionDetailsMaster}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItems
																value="#{employeeMasterBean.suspensionDetailsList}"
																var="sdl" itemLabel="#{sdl.suspensionName}"
																itemValue="#{sdl}" />
															<p:ajax event="change" update="suspDet" />
														</h:selectOneMenu>
													</div>
													<h:message id="suspDet" for="suspensionDetail"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['from_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="fromDate" pattern="dd-MMM-yyyy"
														navigator="true" yearRange="c-100:c+100"
														placeholder="dd-MMM-yyyy" maxdate="java.util.Date"
														value="#{employeeMasterBean.employeeSuspensionDetails.fromDate}"
														required="#{not empty param[addSusp.clientId] || not empty param[updateSusp.clientId]}"
														requiredMessage="#{msg['from_date_required']}"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax event="dateSelect" update="frmdt" />
													</p:calendar>
													<h:message id="frmdt" for="fromDate"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['dt_of_reinstat']}" />
												<div class="form-group form-group_calend">
													<p:calendar pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														navigator="true" yearRange="c-100:c+100"
														maxdate="java.util.Date"
														styleClass="form-control-1 calend-icon-1"
														value="#{employeeMasterBean.employeeSuspensionDetails.dateOfReinstatement}" />
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['dt_joining']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="sdgvsdc" pattern="dd-MMM-yyyy"
														navigator="true" yearRange="c-100:c+100"
														placeholder="dd-MMM-yyyy" maxdate="java.util.Date"
														value="#{employeeMasterBean.employeeSuspensionDetails.dateOfJoining}"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sub_allowance_paid']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu class="form-control"
															value="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid}">
															<f:selectItem itemLabel="Select" itemDisabled="true" />
															<f:selectItem itemLabel="Yes" itemValue="true" />
															<f:selectItem itemLabel="No" itemValue="false" />
															<p:ajax event="change" update="rateOfSubsistance" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['rateof_sub_allowance_paid']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-percent"></i></span>
														<p:inputText id="rateOfSubsistance"
															class="form-control text-left"
															disabled="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid eq false}"
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfSubsistenceAllowancePaid}"
															maxlength="6">
															<p:keyFilter regEx="/[0-9.]/" />
														</p:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['period_of_exten']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu class="form-control"
															value="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended}">
															<f:selectItem itemLabel="Select" itemDisabled="true" />
															<f:selectItem itemLabel="Yes" itemValue="true" />
															<f:selectItem itemLabel="No" itemValue="false" />
															<p:ajax event="change"
																update="extRefNo extRefDate extFrm extUpTo" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['extension_ref_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="extRefNo" placeholder=" "
															onkeyup="this.value=this.value.toUpperCase();"
															class="form-control"
															disabled="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended eq false}"
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceNumber}"
															maxlength="50"></p:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['extension_ref_date']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="extRefDate" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" navigator="true"
														yearRange="c-100:c+100" maxdate="java.util.Date"
														disabled="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended eq false}"
														value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceDate}"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['from_extension']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="extFrm" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" maxdate="java.util.Date"
														disabled="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended eq false}"
														value="#{employeeMasterBean.employeeSuspensionDetails.extensionFrom}"
														navigator="true" yearRange="c-100:c+100"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['to_extension']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="extUpTo" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" navigator="true"
														yearRange="c-100:c+100" maxdate="java.util.Date"
														disabled="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended eq false}"
														value="#{employeeMasterBean.employeeSuspensionDetails.extensionUpTo}"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['whether_subsistence_allow']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu class="form-control"
															value="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced}">
															<f:selectItem itemLabel="Select" itemDisabled="true" />
															<f:selectItem itemLabel="Yes" itemValue="true" />
															<f:selectItem itemLabel="No" itemValue="false" />
															<p:ajax event="change"
																update="ratOfRev dateOfRevocSusp revRefNo revRefDate" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['the_rate_of_revi']}&nbsp;(%)" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-percent"></i></span>
														<p:inputText id="ratOfRev" class="form-control text-left"
															disabled="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced eq false}"
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfRevision}"
															maxlength="6">
															<p:keyFilter regEx="/[0-9.]/" />
														</p:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_revoc_suspen']}" />
													<div class="form-group form-group_calend">
														<p:calendar id="dateOfRevocSusp" pattern="dd-MMM-yyyy"
															placeholder="dd-MMM-yyyy" navigator="true"
															yearRange="c-100:c+100" maxdate="java.util.Date"
															disabled="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced eq false}"
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfRevocationOfSuspension}"
															styleClass="form-control-1 calend-icon-1" />
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['revision_ref_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="revRefNo" placeholder=" "
															onkeyup="this.value=this.value.toUpperCase();"
															class="form-control"
															disabled="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced eq false}"
															value="#{employeeMasterBean.employeeSuspensionDetails.revisionReferenceNumber}"
															maxlength="50"></p:inputText>
													</div>
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['revision_ref_date']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="revRefDate" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" navigator="true"
														yearRange="c-100:c+100" maxdate="java.util.Date"
														disabled="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced eq false}"
														value="#{employeeMasterBean.employeeSuspensionDetails.revisioReferenceDate}"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['regular_ref_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="regRefNo" class="form-control"
															placeholder=" "
															onkeyup="this.value=this.value.toUpperCase();"
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceNumber}"
															maxlength="50"></p:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['regular_ref_date']}" />
												<div class="form-group form-group_calend">
													<p:calendar pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
														navigator="true" yearRange="c-100:c+100"
														maxdate="java.util.Date"
														value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceDate}"
														styleClass="form-control-1 calend-icon-1" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['regur_of_the_period_suspen']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-tags"></i></span>
														<h:selectOneMenu class="form-control"
															value="#{employeeMasterBean.employeeSuspensionDetails.isRegular}">
															<f:selectItem itemLabel="Select" itemDisabled="true" />
															<f:selectItem itemLabel="Yes" itemValue="true" />
															<f:selectItem itemLabel="No" itemValue="false" />
															<p:ajax event="change" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-12 col-md-12 col-sm-6 ">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<p:inputTextarea id="remarks" maxlength="2000"
														placeholder="Remarks here"
														value="#{employeeMasterBean.employeeSuspensionDetails.remarks}"
														rows="3" class="input-width-100">
													</p:inputTextarea>
												</div>
											</div>
										</div>
									</div>
								</p:outputPanel>

								<p:outputPanel id="viewExperienceDetail"
									rendered="#{employeeMasterBean.suspensionFlag eq 'VIEWSUSPENSION'}">
									<div class="tab-pane has-padding " id="suspensionview">
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_date']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sus_ho_ro']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.headAndRegionalOffice.name}" />
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ent_typ']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.entityTypeMaster.entityName}" />
													</span>
												</div>
											</div>
											<!-- end col -->
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['work_location']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.workLocation.name}" />
													</span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['detail_of_suspens']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionDetailsMaster.suspensionName}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['from_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.fromDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_of_reinstat']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfReinstatement}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_joining']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfJoining}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sub_allowance_paid']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid == false}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['rateof_sub_allowance_paid']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfSubsistenceAllowancePaid }" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['period_of_exten']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended == false}" /></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_extension']} #{msg['ref_num']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_extension']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['from_extension']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionFrom}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['to_extension']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionUpTo}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['whether_subsistence_allow']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced == false}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['the_rate_of_revi']}&nbsp;(%)" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfRevision}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_revoc_suspen']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfRevocationOfSuspension}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['revision']}  #{msg['ref_num']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.revisionReferenceNumber}" /></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value=" #{msg['revision']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.revisioReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['regur_of_the_period_suspen']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationPeriod}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_regular']} #{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_regular']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['regur_of_the_period_suspen']}" />
													<span> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isRegular == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isRegular == false}" />
													</span>
												</div>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.remarks}" />
													</span>
												</div>
											</div>
											<!-- end col -->
										</div>
									</div>
								</p:outputPanel>


								<div class="row ">
									<div class="col-lg-12 text-right ">
										<p:commandButton value="&#xe916; #{msg['clear']}"
											title="#{msg['clear']}"
											update="suspensionForm:suspensionDetailsPanel"
											rendered="#{employeeMasterBean.suspensionFlag ne 'VIEWSUSPENSION'}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											actionListener="#{employeeMasterBean.clearSuspensionDetails}"
											class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-slate font-iconmoon">
										</p:commandButton>
										<p:commandButton id="addSusp" binding="#{addSusp}"
											value="&#xea0e; #{msg['add']}" title="#{msg['add']}"
											rendered="#{(employeeMasterBean.action eq 'ADD') or (employeeMasterBean.action eq 'EDIT')}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											class="btn btn-sm bg-success font-iconmoon"
											action="#{employeeMasterBean.addEmployeeSuspensionDetails}"
											update="suspensionForm:suspensionDetailsPanel growls ">
										</p:commandButton>
										<p:commandButton id="updateSusp" binding="#{updateSusp}"
											value="&#xeda7; #{msg['update']}" title="#{msg['update']}"
											rendered="#{employeeMasterBean.action eq 'EDITSUSPENSION'}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											styleClass="btn btn-sm bg-success font-iconmoon"
											action="#{employeeMasterBean.updateEmployeeSuspensionDetails}"
											update="suspensionForm:suspensionDetailsPanel growls ">
										</p:commandButton>
										<p:commandButton id="close"
											rendered="#{employeeMasterBean.suspensionFlag eq 'VIEWSUSPENSION'}"
											value="&#xed6a; #{msg['cancel']}" title="#{msg['cancel']}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-slate font-iconmoon"
											action="#{employeeMasterBean.closeSuspensionDetails}"
											update="suspensionForm:suspensionDetailsPanel">
										</p:commandButton>
									</div>
								</div>


								<!-- Suspension Table  -->
								<div class="row">
									<div class="col-md-12 m-t-10">
										<div class="table-responsive cust-table2">
											<p:dataTable id="table" class="table" var="data"
												selection="#{employeeMasterBean.selectedEmployee}"
												rowKey="#{data.id}"
												value="#{employeeMasterBean.employeeSuspensionDetailsList}"
												rowIndexVar="idx" emptyMessage="#{msg['no_records_found']}">

												<!-- SI No.  -->
												<p:column headerText="#{msg['s_no']}"
													styleClass="text-center width-3">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<!-- ref_num.  -->
												<p:column id="refName" styleClass="width-15"
													headerText="#{msg['ref_num']}">
													<h:outputText value="#{data.suspensionReferenceNumber}"></h:outputText>
												</p:column>

												<!-- ref_date  -->
												<p:column id="refDate" styleClass="width-10 text-center"
													headerText="#{msg['ref_date']}">
													<h:outputText value="#{data.suspensionReferenceDate}">
														<f:convertDateTime timeZone="GMT+05:30"
															pattern="dd-MMM-yyyy" />
													</h:outputText>
												</p:column>

												<!-- Entity  -->
												<p:column id="entity" styleClass="width-15"
													headerText="#{msg['work_location']}">
													<h:outputText value="#{data.workLocation.name}">
													</h:outputText>
												</p:column>


												<!-- from_date .  -->
												<p:column id="fromDate" styleClass="width-10 text-center"
													headerText="#{msg['from_date']}">
													<h:outputText value="#{data.fromDate}">
														<f:convertDateTime timeZone="GMT+05:30"
															pattern="dd-MMM-yyyy" />
													</h:outputText>
												</p:column>

												<!--Action  -->
												<p:column id="action" styleClass="width-10 text-center"
													headerText="#{msg['action']}">

													<p:commandLink
														class="btn btn-primary btn-xs btn-table-button font-iconmoon"
														process="@this" immediate="true" title="#{msg['edit']}"
														update="suspensionForm:suspensionDetailsPanel"
														value="&#xe912;" onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														action="#{employeeMasterBean.editEmployeeSuspensionDetails(idx,data)}">
													</p:commandLink>
													<p:commandLink immediate="true"
														class="btn btn-info btn-xs btn-table-button m-lr-3 font-iconmoon"
														update="suspensionForm:suspensionDetailsPanel"
														title="#{msg['view']}" value="&#xea18;"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														action="#{employeeMasterBean.viewEmployeeSuspensionDetails(data)}">
													</p:commandLink>
													<p:commandLink immediate="true"
														rendered="#{loginBean.userFeatures['EMP_SUSPENSION_DETAILS_DELETE']}"
														class="btn btn-danger btn-xs btn-table-button"
														process="@this" title="#{msg['delete']}"
														update="suspensionForm:suspensionDetailsPanel growls"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														action="#{employeeMasterBean.deleteEmployeeSuspension(idx,data)}">
														<i class="fa fa-trash-o"></i>
														<f:setPropertyActionListener value="DELETESUSPENSION"
															target="#{employeeMasterBean.suspensionFlag}">
														</f:setPropertyActionListener>
														<p:confirm header="#{msg['confirmation']}"
															message=" #{msg['confirm_delete']}?" />
													</p:commandLink>
												</p:column>
											</p:dataTable>

											<p:confirmDialog id="suspensionDelete" global="true"
												showEffect="fade" position="center" class="no-padding">
												<div class="text-right p-10">
													<p:commandButton value="&#xed6a; #{msg['no']}"
														update="table" title="#{msg['no']}"
														styleClass="btn btn-sm bg-slate ui-confirmdialog-no font-iconmoon">
													</p:commandButton>
													<p:commandButton value="&#xed6e; #{msg['yes']}"
														title="#{msg['yes']}"
														styleClass="btn btn-sm bg-success ui-confirmdialog-yes font-iconmoon" />
												</div>
											</p:confirmDialog>

										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 text-right m-t-10">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
									oncomplete="PF('progressDlg').hide();"
									action="#{employeeMasterBean.clear}" immediate="true"
									styleClass="btn btn-sm bg-slate font-iconmoon ">
								</p:commandButton>

								<p:commandButton
									rendered="#{employeeMasterBean.action ne 'EDIT'}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									value="&#xead4;&nbsp;#{msg['save_continue']}"
									title="#{msg['save_continue']}"
									disabled="#{employeeMasterBean.employeeSuspensionDetailsList.size() eq 0}"
									update="suspensionForm:suspensionDetailsPanel growls"
									action="#{employeeMasterBean.saveEmployeeSuspensionDetails}"
									styleClass="btn btn-sm bg-primary font-iconmoon">
								</p:commandButton>

								<p:commandButton
									rendered="#{employeeMasterBean.action eq 'EDIT'}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									value="&#xeda7; #{msg['update_continue']}"
									title="#{msg['update_continue']}"
									disabled="#{employeeMasterBean.employeeSuspensionDetailsList.size() eq 0}"
									update="suspensionForm:suspensionDetailsPanel growls"
									action="#{employeeMasterBean.saveEmployeeSuspensionDetails}"
									styleClass="btn btn-sm bg-primary font-iconmoon">
									<f:setPropertyActionListener
										value="EMPLOYEE_SUSPENTION_DETAILS"
										target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
			<p:outputPanel id="viewpanel"
				rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
				<div class="tab-pane no-padding">
					<div class="tab-pane has-padding " id="suspension">

						<div class="panel">
							<div class="panel-heading colllapse  pad-5-10">
								<h6 class="panel-title font14" id="scrollspy">
									#{msg['suspension']}
									<h:outputLabel value="View"
										rendered="#{employeeMasterBean.suspensionFlag eq 'VIEWSUSPENSION'}"></h:outputLabel>
									<h:outputLabel value="Edit"
										rendered="#{employeeMasterBean.action eq 'EDITSUSPENSION'}"></h:outputLabel>
									<a class="heading-elements-toggle"><i class="icon-more"></i></a>
								</h6>

							</div>
							<div class="panel-body p-t-10">

								<p:outputPanel id="viewExperienceDetailAno"
									rendered="#{employeeMasterBean.suspensionFlag eq 'VIEWSUSPENSION'}">
									<div class="tab-pane has-padding " id="suspensionview">
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ref_date']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sus_ho_ro']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.headAndRegionalOffice.name}" />
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ent_typ']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.entityTypeMaster.entityName}" />
													</span>
												</div>
											</div>
											<!-- end col -->
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['work_location']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.workLocation.name}" />
													</span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['detail_of_suspens']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.suspensionDetailsMaster.suspensionName}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['from_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.fromDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_of_reinstat']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfReinstatement}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_joining']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfJoining}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />

														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sub_allowance_paid']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.subsistenceAllowanceIsPaid == false}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['rateof_sub_allowance_paid']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfSubsistenceAllowancePaid }">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['period_of_exten']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.whetherPeriodIsExtended == false}" /></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_extension']} #{msg['ref_num']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_extension']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['from_extension']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionFrom}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['to_extension']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.extensionUpTo}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['whether_subsistence_allow']}" />
													<span class=""> <h:outputText value="Yes"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced == true}" />
														<h:outputText value="No"
															rendered="#{employeeMasterBean.employeeSuspensionDetails.isAllowanceEnhancedReduced == false}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['the_rate_of_revi']}&nbsp;(%)" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.rateOfRevision}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_revoc_suspen']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.dateOfRevocationOfSuspension}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['revision']}  #{msg['ref_num']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.revisionReferenceNumber}" /></span>
												</div>
											</div>
										</div>
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value=" #{msg['revision']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.revisioReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['regur_of_the_period_suspen']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationPeriod}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_regular']} #{msg['ref_num']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceNumber}" /></span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sus_regular']} #{msg['ref_date']}" />
													<span class=""><h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.regularizationReferenceDate}">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-yyyy" />
														</h:outputText></span>
												</div>
											</div>
										</div>

										<div class="row view-style">
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<span class=""> <h:outputText
															value="#{employeeMasterBean.employeeSuspensionDetails.remarks}" />
													</span>
												</div>
											</div>
											<!-- end col -->
										</div>
									</div>
								</p:outputPanel>
								<!-- Suspension Table  -->

								<div class="col-md-12 ph0">
									<div class="table-responsive">
										<p:dataTable id="tableView" var="data"
											selection="#{employeeMasterBean.selectedEmployee}"
											rowKey="#{data.id}" styleClass="report-table"
											value="#{employeeMasterBean.employeeSuspensionDetailsList}"
											rowIndexVar="idx" emptyMessage="#{msg['no_records_found']}">

											<!-- SI No.  -->
											<p:column headerText="#{msg['s_no']}"
												styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<!-- ref_num.  -->
											<p:column id="refName" styleClass="width-10"
												headerText="#{msg['ref_num']}">
												<h:outputText value="#{data.suspensionReferenceNumber}"></h:outputText>
											</p:column>

											<!-- ref_date  -->
											<p:column id="refDate" styleClass="width-10 text-center"
												headerText="#{msg['ref_date']}">
												<h:outputText value="#{data.suspensionReferenceDate}">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</p:column>

											<!-- Entity  -->
											<p:column id="entity" styleClass="width-12"
												headerText="#{msg['work_location']}">
												<h:outputText value="#{data.workLocation.name}">
												</h:outputText>
											</p:column>


											<!-- from_date .  -->
											<p:column id="fromDate" styleClass="width-10 text-center"
												headerText="#{msg['from_date']}">
												<h:outputText value="#{data.fromDate}">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</p:column>

											<!--Action  -->
											<p:column id="action" styleClass="width-5 text-center"
												headerText="#{msg['action']}">
												<p:commandLink immediate="true"
													class="btn btn-info btn-xs btn-table-button font-iconmoon"
													update="suspensionForm:viewpanel" value="&#xea18;"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{employeeMasterBean.viewEmployeeSuspensionDetails(data)}">
												</p:commandLink>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>

							<div class="col-md-12 ph0 text-right m-t-10">
								<p:commandButton value="&#xeddf; #{msg['back']}"
									onclick="PF('progressDlg').show();" title="#{msg['back']}"
									oncomplete="PF('progressDlg').hide();"
									action="#{employeeMasterBean.clear}" immediate="true"
									styleClass="btn btn-sm bg-info font-iconmoon ">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>