<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<style type="text/css">
.wizard>.steps>ul>li.current .number {
	font-size: 13px;
}

#steps-uid-0-t-0 .number:after {
	margin-left: 0px;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-0 {
	color: #333333 !important;
}
</style>
		<h:form>
			<title>InfoTex | Create Staff Eligibility Statement</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							#{msg['recruit_pro']} - #{msg['create_ses']} <span
								class="label stageLabel label-primary label-rounded">1 /
								26</span>
						</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['recruit_pro']}</li>
							<li>#{msg['per_recui']}</li>
							<li class="active">#{msg['create_ses']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content p-content">
				<div class="box-shadow-wizard wizard clearfix">
					<div class="steps clearfix">
						<ul>
							<li class="first current"><a id="steps-uid-0-t-0"><span
									class="current-info audible">current step: </span><span
									class="number">1</span> <span class="smwid100">#{msg['staff_elg_stmt']}</span></a></li>
							<li class="disabled "><a id="steps-uid-0-t-1"><span
									class="number">2</span>#{msg['hr_staff_es_app']} </a></li>
							<li class="disabled"><a id="steps-uid-0-t-2"><span
									class="number">3</span>#{msg['roster_reservation']}</a></li>
							<li class="disabled smnone"><a id="steps-uid-0-t-3"><span
									class="number">4</span>#{msg['reser_app']} </a></li>
							<li class="disabled smnone mdnone"><a id="steps-uid-0-t-4"><span
									class="number">5</span>#{msg['job_ad']} </a></li>
							<li class="disabled last smnone mdnone"><a
								id="steps-uid-0-t-5"><span class="number">6</span>#{msg['job_ad_appal']}
							</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content">
				<div
					class=" pro_steps2line page-scroll-with-process-outsight-panel x-hide">
					<div
						class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-10"
						id="accordion-control-right">
						<div class="panel-heading bg-info">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['staff_elg_stmt']}
									<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>

							</h6>

						</div>
						<p:outputPanel id="colapsepanel">
							<div id="accordion-control-right-group1"
								class="panel-collapse #{staffEligibilityBean.panelValue}">
								<div class="panel-body p-t-10">
									<div class="row custom-form-1">
										<div class="col-lg-12 no-padding">
											<p:outputPanel id="searchFilter">
												<div class="col-lg-12 ">
													<div class="row landscape">
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['state']}" for="state" />
																<p:outputLabel value="*" class="text-danger mand-symbol"
																	for="state"
																	rendered="#{empty param[generate.clientId]}" />

																<div class="multi-select-full">
																	<div class="input-group">
																		<span class="input-group-addon"><i
																			class="icon-location4"></i></span>

																		<h:selectOneMenu id="state"
																			value="#{staffEligibilityBean.staffEligibilityStmt.state}"
																			class="form-control" converter="#{entityConverter}"
																			label="Select State" tabindex="3"
																			required="#{not empty param[generate.clientId]}"
																			requiredMessage="#{msg['state_req']}"
																			panelStyle="width:270px">
																			<f:selectItem itemLabel="Select" itemDisabled="true"
																				itemValue="#{null}" />
																			<f:selectItems
																				value="#{staffEligibilityBean.stateList}"
																				var="state" itemLabel="#{state.name}"
																				itemValue="#{state}" />
																			<f:ajax
																				listener="#{staffEligibilityBean.loadEntityList}"
																				render="entity entityselect" />
																		</h:selectOneMenu>
																	</div>
																	<h:message for="state" class="validation-error-label" />
																	<p:focus for="state"></p:focus>

																</div>
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['entity']}" />
																<span class="text-danger">*</span>
																<div class="input-group">
																	<span class="input-group-addon height30"><i
																		class="icon-location4"></i></span>

																	<div class="multi-select-full multi-select-dropdown">
																		<p:selectCheckboxMenu id="entity" appendTo="@this"
																			widgetVar="entityselect" class="form-control"
																			panelStyle="overflow:auto; height:200px; width:100%;"
																			value="#{staffEligibilityBean.staffEligibilityStmt.regionList}"
																			required="#{not empty param[generate.clientId]}"
																			requiredMessage="#{msg['ent_req']}"
																			converter="#{entityConverter}"
																			label="(#{staffEligibilityBean.staffEligibilityStmt.regionList.size() == 0 || staffEligibilityBean.staffEligibilityStmt.regionList.size()==null ?'0':staffEligibilityBean.staffEligibilityStmt.regionList.size()}) Regions Selected"
																			tabindex="4" filter="true"
																			filterMatchMode="startsWith">
																			<f:selectItems
																				value="#{staffEligibilityBean.entityMasterList}"
																				var="enti" itemLabel="#{enti.name}"
																				itemValue="#{enti.id}" />
																			<p:ajax update="entity enttip" event="change"
																				listener="#{staffEligibilityBean.changeEntity}"
																				oncomplete="PF('entityselect').show()"></p:ajax>
																			<p:ajax event="toggleSelect" update="entity enttip"
																				listener="#{staffEligibilityBean.changeEntity}"
																				oncomplete="PF('entityselect').show()"></p:ajax>

																		</p:selectCheckboxMenu>

																		<p:tooltip id="enttip" for="entity">
																			<h:outputText
																				value="#{staffEligibilityBean.entitytip eq ''?'No regions selected':staffEligibilityBean.entitytip}"></h:outputText>
																		</p:tooltip>
																	</div>
																</div>

																<h:message for="entity" class="validation-error-label" />
															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['dept']}" for="department" />
																<p:outputLabel value="*" class="text-danger mand-symbol"
																	for="department"
																	rendered="#{empty param[generate.clientId]}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-office"></i></span>
																	<h:selectOneMenu id="department"
																		value="#{staffEligibilityBean.staffEligibilityStmt.department}"
																		class="form-control" converter="#{entityConverter}"
																		label="Select Department" tabindex="1"
																		required="#{not empty param[generate.clientId]}"
																		requiredMessage="#{msg['dept_req']} "
																		panelStyle="width:270px">
																		<f:selectItem itemLabel="Select" itemDisabled="true"
																			itemValue="#{null}" />
																		<f:selectItems
																			value="#{staffEligibilityBean.departmentList}"
																			var="department" itemLabel="#{department.name}"
																			itemValue="#{department}" />
																		<f:ajax
																			listener="#{staffEligibilityBean.loadDesignationList}"
																			render="designation designationSelect recruitmentpost searchFilter @this" />

																	</h:selectOneMenu>
																</div>
																<h:message for="department"
																	class="validation-error-label" />

															</div>
														</div>
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['designation']}" />
																<span class="text-danger">*</span>
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-user"></i></span>
																	<div class="multi-select-full multi-select-dropdown">
																		<p:selectCheckboxMenu id="designation"
																			value="#{staffEligibilityBean.staffEligibilityStmt.designation}"
																			appendTo="@this" widgetVar="designationSelect"
																			panelStyle="width:240px"
																			converter="#{entityConverter}" class="form-control"
																			label="(#{staffEligibilityBean.staffEligibilityStmt.designation.size() == 0 || staffEligibilityBean.staffEligibilityStmt.designation.size()==null ?'0':staffEligibilityBean.staffEligibilityStmt.designation.size()}) Designations Selected"
																			tabindex="2" filter="true"
																			required="#{not empty param[generate.clientId]}"
																			requiredMessage="#{msg['designation_req']} "
																			filterMatchMode="startsWith">
																			<f:selectItems
																				value="#{staffEligibilityBean.designationList}"
																				var="desig" itemLabel="#{desig.name}"
																				itemValue="#{desig}" />
																			<p:ajax update="designation deptip" event="change"
																				listener="#{staffEligibilityBean.changeDesignations}"
																				oncomplete="PF('designationSelect').show()"></p:ajax>
																			<p:ajax event="toggleSelect"
																				update="designation deptip"
																				listener="#{staffEligibilityBean.changeDesignations}"
																				oncomplete="PF('designationSelect').show()"></p:ajax>
																		</p:selectCheckboxMenu>
																		<p:tooltip id="deptip" for="designation">
																			<h:outputText
																				value="#{staffEligibilityBean.designationtip eq ''?'No designations selected':staffEligibilityBean.designationtip}"></h:outputText>
																		</p:tooltip>

																	</div>
																</div>
																<h:message for="designation"
																	class="validation-error-label" />
															</div>
														</div>
													</div>



													<div class="row label-form custom-form-1">
														<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<div class="row landscape">
																<p:outputPanel id="salesPeriodPanel"
																	rendered="#{staffEligibilityBean.showSalesPeriodPanel}">
																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<p:outputLabel value="#{msg['sal_per_from']}"
																			for="salesFromMonthYear" />
																		<p:outputLabel value="*"
																			class="text-danger mand-symbol"
																			for="salesFromMonthYear"
																			rendered="#{empty param[generate.clientId]}" />
																		<div class="form-group form-group_calend">

																			<div class="input-group">
																				<span class="input-group-addon"><i
																					class="icon-calendar22"></i></span>
																				<h:selectOneMenu id="salesFromMonthYear"
																					name="salesFromMonthYear" class="form-control"
																					required="#{not empty param[generate.clientId]}"
																					tabindex="5"
																					requiredMessage="#{msg['sal_per_from_req']} "
																					value="#{staffEligibilityBean.salesFromMonthYear}">
																					<f:selectItem itemLabel="Month-Year"
																						itemValue="#{null}" />
																					<f:selectItems var="salesFromMonthYear"
																						itemValue="#{salesFromMonthYear}"
																						itemLabel="#{salesFromMonthYear.split('-')[0].substring(0,3)}-#{salesFromMonthYear.split('-')[1]}"
																						value="#{staffEligibilityBean.salesFromMonthYearList}" />
																				</h:selectOneMenu>
																			</div>

																			<!-- <p:calendar placeholder="dd-MM-yyyy" id="salesFromMonthYear"
																tabindex="5"
																required="#{not empty param[generate.clientId]}"
																requiredMessage="Sales period from is required"
																styleClass="form-control-1 calend-icon-1"
																value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodFrom}"
																navigator="true" pattern="dd-MM-yyyy"
																maxdate="#{staffEligibilityBean.todayDate}">
															</p:calendar> -->
																			<h:message for="salesFromMonthYear"
																				class="validation-error-label" />
																		</div>

																	</div>

																	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
																		<p:outputLabel value="#{msg['sal_per_to']}"
																			for="salesToMonthYear" />
																		<p:outputLabel value="*"
																			class="text-danger mand-symbol"
																			for="salesToMonthYear"
																			rendered="#{empty param[generate.clientId]}" />
																		<div class="form-group form-group_calend">
																			<div class="input-group">
																				<span class="input-group-addon"><i
																					class="icon-calendar22"></i></span>
																				<h:selectOneMenu id="salesToMonthYear"
																					class="form-control"
																					required="#{not empty param[generate.clientId]}"
																					tabindex="6"
																					requiredMessage="#{msg['sal_per_to_req']}"
																					value="#{staffEligibilityBean.salesToMonthYear}">
																					<f:selectItem itemLabel="Month-Year"
																						itemValue="#{null}" />
																					<f:selectItems var="salesToMonthYear"
																						itemValue="#{salesToMonthYear}"
																						itemLabel="#{salesToMonthYear.split('-')[0].substring(0,3)}-#{salesToMonthYear.split('-')[1]}"
																						value="#{staffEligibilityBean.salesToMonthYearList}" />
																				</h:selectOneMenu>
																			</div>

																			<!-- <p:calendar placeholder="dd-MM-yyyy" id="salesToMonthYear"
																tabindex="6"
																value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodTo}"
																styleClass="form-control-1 calend-icon-1"
																required="#{not empty param[generate.clientId]}"
																requiredMessage="Sales period to is required"
																navigator="true" pattern="dd-MM-yyyy"
																maxdate="#{staffEligibilityBean.todayDate}">
															</p:calendar> -->
																			<h:message for="salesToMonthYear"
																				class="validation-error-label" />
																		</div>

																	</div>
																</p:outputPanel>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-lg-12 text-right">
															<p:commandButton value="&#xe916;&nbsp; #{msg['clear']}"
																title="#{msg['clear']}" tabindex="7"
																action="#{staffEligibilityBean.clearFilter}"
																styleClass="btn btn-sm bg-slate font-iconmoon"
																update="searchFilter detailsList designation" />
															<p:commandButton value="&#xeda7;&nbsp;#{msg['generate']}"
																title="#{msg['generate']}" tabindex="8"
																onclick="PF('progressDlg').show();"
																oncomplete="PF('progressDlg').hide();"
																action="#{staffEligibilityBean.generateStaffEligibilityStatement}"
																styleClass="btn btn-sm bg-primary font-iconmoon "
																binding="#{generate}"
																update="searchFilter headerName detailsList colapsepanel growls secondpanel" />
														</div>
													</div>
												</div>
											</p:outputPanel>

										</div>
									</div>
								</div>
							</div>
						</p:outputPanel>
					</div>

					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>
							<h:outputText id="headerName"
								value="#{msg['staff_elg_stmt']} #{staffEligibilityBean.staffEligibilityStmt.department.name ne null?'-':''} #{staffEligibilityBean.staffEligibilityStmt.department.name}"></h:outputText></span>
					</h5>

					<div class="panel m-b-0">
						<div class="panel-body p-0">
							<div class="table-responsive no-filter">
								<p:dataTable id="detailsList" rowKey="#{staffEligiDet.id}"
									value="#{staffEligibilityBean.staffEligibilityStmt.staffEligibilityDetails}"
									selection="#{staffEligibilityBean.selectedStaffEligibilityDetail}"
									var="staffEligiDet" rowIndexVar="idx">
									<p:column headerText="#" class="text-center">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column headerText="#{msg['entity']}">
										<h:outputText value="#{staffEligiDet.region.name}" />
									</p:column>
									<p:column headerText="#{msg['staff_annual']}"
										class="text-right"
										rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}">
										<h:outputText
											value="#{staffEligibilityBean.currencyFormat(staffEligiDet.annualSales)}">
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['no_of_staff_eli']}"
										class="text-right"
										rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}">
										<h:outputText value="#{staffEligiDet.noOfStaffEligible}" />
									</p:column>
									<p:column headerText="#{msg['sanc_sta_stre']}"
										class="text-right">
										<h:outputText value="#{staffEligiDet.sanctionedStaffCount}" />
									</p:column>
									<p:column
										rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}"
										headerText="#{msg['tot_sta_eli']}" class="text-right">
										<h:outputText value="#{staffEligiDet.totalStaffEligible}" />
									</p:column>
									<p:column headerText="#{msg['tot_sta_role']}"
										class="text-right">
										<h:outputText value="#{staffEligiDet.totalStaffOnRole}" />
									</p:column>
									<p:column headerText="#{msg['excess_count']}"
										class="text-right">
										<h:outputText value="#{staffEligiDet.excessCount}" />
									</p:column>
									<p:column headerText="#{msg['short_count']}" class="text-right">
										<h:outputText value="#{staffEligiDet.shortageCount}" />
									</p:column>

									<p:column headerText="#{msg['action']}" class="text-center">
										<p:commandButton value="&#xea18;" title="#{msg['view']}"
											class="btn btn-sm bg-info font-iconmoon"
											action="#{staffEligibilityBean.viewShowroomDetails(staffEligiDet)}"
											update="showroompopup"></p:commandButton>
									</p:column>


									<p:columnGroup type="footer">
										<p:row>
											<p:column
												colspan="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING' ? 8 : 5}"
												styleClass="text-right" footerText="#{msg['tot']}" />
											<p:column
												footerText="#{staffEligibilityBean.staffEligibilityStmt.shortageCountTotal}"
												styleClass="text-right" />
											<p:column footerText="&nbsp;" styleClass="text-center" />
										</p:row>
									</p:columnGroup>
								</p:dataTable>
							</div>
						</div>

						<div class="p-10">
							<p:outputPanel id="secondpanel">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['req_post']}"
												for="recruitmentpost" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="recruitmentpost"
												rendered="#{empty param[submit.clientId]}" />

											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-user-tie"></i></span>
												<h:selectOneMenu id="recruitmentpost"
													value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentForPost}"
													class="form-control" converter="#{entityConverter}"
													label="Select Designation" tabindex="9" filter="true"
													filterMatchMode="startsWith"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['rec_post_req']}"
													panelStyle="width:270px">
													<f:selectItem itemLabel="Select" itemDisabled="true" />
													<f:selectItems
														value="#{staffEligibilityBean.staffEligibilityStmt.designation}"
														var="desig" itemLabel="#{desig.name}" itemValue="#{desig}" />
												</h:selectOneMenu>
											</div>
											<h:message for="recruitmentpost"
												class="validation-error-label" />
										</div>

										<div class="form-group">
											<p:outputLabel value="#{msg['req_year']}"
												for="recruitmentyear" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="recruitmentyear"
												rendered="#{empty param[submit.clientId]}" />

											<div class="input-group">
												<span class="input-group-addon"><i
													class=" icon-calendar22"></i></span>
												<h:selectOneMenu id="recruitmentyear"
													value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentYear}"
													class="form-control" label="Select Designation"
													tabindex="10" filter="true" filterMatchMode="startsWith"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['rec_year_req']}"
													panelStyle="width:270px">
													<f:selectItem itemLabel="Select" itemDisabled="true" />
													<f:selectItems
														value="#{staffEligibilityBean.recruitmentYearList}"
														var="year" itemLabel="#{year}" itemValue="#{year}" />
												</h:selectOneMenu>
											</div>
											<h:message for="recruitmentyear"
												class="validation-error-label" />

										</div>

									</div>


									<div class="col-lg-9 col-md-9 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['remarks']}" />
											<p:inputTextarea class="form-control cust_height"
												value="#{staffEligibilityBean.staffEligibilityStmt.remarks}"
												maxlength="250" tabindex="11" />
											<small>#{msg['textarea_msg']}</small>
										</div>
									</div>

								</div>
							</p:outputPanel>

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_to']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="frwdto" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{staffEligibilityBean.staffEligibilityStmt.forwardToId}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['frwd_to']} #{msg['required']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems
														value="#{staffEligibilityBean.forwardToUsersList}"
														var="frwd" itemLabel="#{frwd.empCode} / #{frwd.empName}"
														itemValue="#{frwd.id}" />
													<p:ajax event="change" update="@this"></p:ajax>
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="frwdto" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{staffEligibilityBean.userMaster}"
												itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
												completeMethod="#{staffEligibilityBean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="frwdto"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="frwdto" class="validation-error-label"></h:message>

									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="frwdfor" styleClass="form-control"
												value="#{staffEligibilityBean.staffEligibilityStmt.finalApprove}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['frwd_for']} #{msg['required']}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItem itemLabel="Approval" itemValue="false" />
												<f:selectItem itemLabel="Final Approval" itemValue="true" />
												<p:ajax update="@this"></p:ajax>
											</h:selectOneMenu>
										</div>
										<h:message for="frwdfor" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xf067; #{msg['create_note']}"
										title="#{msg['create_note']}"
										styleClass="btn bg-success btn-md fa-input m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn btn-sm bg-slate font-iconmoon"
										action="#{staffEligibilityBean.cancel}" immediate="true"
										onclick="PF('progressDlg').show();" tabindex="12"
										oncomplete="PF('progressDlg').hide();" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										rendered="#{staffEligibilityBean.action ne 'EDIT'}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{staffEligibilityBean.saveStaffEligibility}" 
										binding="#{submit}" update="secondpanel growls" tabindex="13"
										class="btn btn-sm bg-success font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['update']}"
										title="#{msg['update']}"
										rendered="#{staffEligibilityBean.action eq 'EDIT'}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{staffEligibilityBean.editStaffEligibilityDetails}"
										binding="#{update}" tabindex="14"
										class="btn btn-sm bg-success font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog draggable="false" modal="true" id="showroompopup"
			header="#{msg['staff_elg_stmt']} - #{staffEligibilityBean.selectedStaffEligibilityDetail.region.name}"
			styleClass="p-0 overlay-pop modal-dialog" height="480" width="90%"
			closable="true" widgetVar="showroomdetail" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<h:form>
				<div class="modal-body p-10 border0">
					<p:dataTable id="showroomList" scrollable="true" scrollHeight="360"
						value="#{staffEligibilityBean.selectedStaffEligibilityDetail.staffEligibilityShowroomDetails}"
						tableStyleClass="showroom-tbl" var="staffEligiChild"
						rowIndexVar="idx">
						<p:column headerText="#">
							<h:outputText value="#{idx+1}" />
						</p:column>
						<p:column headerText="Entity">
							<h:outputText value="#{staffEligiChild.region.name}" />
						</p:column>
						<p:column
							rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}"
							headerText="#{msg['staff_annual']}" class="text-right">
							<h:outputText
								value="#{staffEligibilityBean.currencyFormat(staffEligiChild.annualSales)}">
							</h:outputText>
						</p:column>
						<p:column
							rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}"
							headerText="#{msg['no_of_staff_eli']}" class="text-right">
							<h:outputText value="#{staffEligiChild.noOfStaffEligible}" />
						</p:column>
						<p:column headerText="#{msg['sanc_sta_stre']}" class="text-right">
							<h:outputText value="#{staffEligiChild.sanctionedStaffCount}" />
						</p:column>
						<p:column
							rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}"
							headerText="#{msg['tot_sta_eli']}" class="text-right">
							<h:outputText value="#{staffEligiChild.totalStaffEligible}" />
						</p:column>
						<p:column headerText="#{msg['tot_sta_role']}" class="text-right">
							<h:outputText value="#{staffEligiChild.totalStaffOnRole}" />
						</p:column>
						<p:column headerText="#{msg['excess_count']}" class="text-right">
							<h:outputText value="#{staffEligiChild.excessCount}" />
						</p:column>
						<p:column headerText="#{msg['short_count']}" class="text-right">
							<h:outputText value="#{staffEligiChild.shortageCount}" />
						</p:column>
					</p:dataTable>
				</div>

				<div class="modal-footer m-0 p-0 m-r-10">
					<p:commandButton value="&#xed6a; #{msg['close']}"
						title="#{msg['close']}"
						styleClass="btn btn-sm bg-slate font-iconmoon"
						oncomplete="PF('showroomdetail').hide()" />
				</div>

			</h:form>
		</p:dialog>
		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0 top-100">

			<p:outputPanel id="customerPanel">
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1" height="200"
										value="#{staffEligibilityBean.staffEligibilityStmt.note}" />
								</div>

								<div class='col-md-12'>
									<div class="carousel slide media-carousel" id="media">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name :
																	#{staffEligibilityBean.employeeMaster.firstName}</li>
																<li>Designation :
																	#{staffEligibilityBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
																<li>Date :
																	#{staffEligibilityBean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon"
									onclick="PF('notedialog').hide();" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onclick="PF('notedialog').hide();" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>