<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/personnelHR/employee_template.xhtml">
	<ui:define name="employee">
		<title>InfoTex | Create Employee Personnel</title>

		<div class="col-md-12 no-padding">
			<ul
				class="nav nav-tabs-highlight col-md-2 no-padding customnav tab-scroll-ht"
				style="border-right: 1px solid #e9e9e9 !important;">
				<li>
					<div class="text-center m-t-10 profilePic">
						<p:graphicImage cache="false" id="profilePic"
							value="#{employeeMasterBean.uploadedImage}" class="profilePic" />
						<div class="caption text-center m-b-15 m-t-10">
							<h6 class="text-semibold no-margin">
								#{employeeMasterBean.employeeMaster.firstName} <small
									class="display-block">#{employeeMasterBean.employeeMaster.personalInfoEmployment.pfNumber}</small>
							</h6>
						</div>
					</div>
				</li>
				<li
					class="#{view.viewId eq '/pages/personnelHR/createEmployeeScannedDoc.xhtml' ? 'active' : ''}">
					<a
					href="#{request.contextPath}/pages/personnelHR/createEmployeeScannedDoc.xhtml">
						<i class="icon-user position-left"></i><span>#{msg['scanned_uplod_doc']}</span>
				</a>
				</li>
			</ul>
			<ul class="col-md-10 tab-scroll-ht">
				<ui:insert name="others">

				</ui:insert>
			</ul>
		</div>
	</ui:define>
</ui:composition>