<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/personnelHR/createEmployeePersonal.xhtml">
	<ui:define name="personnel">
		<h:form id="empadditionalInfoForm">
			<p:focus context="empadditionalInfo">
				<p:outputPanel id="empadditionalInfo">
					<p:outputPanel id="addpanel"
						rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">
						<div class="row  ">
							<div class="col-md-12">
								<div class="panel panel-flat m-t-10">
									<div class="panel-heading colllapse  pad-5-10">
										<h6 class="panel-title font14" id="scrollspy">
											#{msg['additional_information']} <span
												class="pull-right text-13 ">(<span
												class="text-danger">*</span>
												#{msg['marked_field_mandatory']})
											</span>
										</h6>
									</div>
									<div class="panel-body pad-l-10 p-b-0" style="display: block;">
										<div class="row m-t-10">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['marital_sts']}"
														for="maritalStatus" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="maritalStatus"
														rendered="#{empty param[addtionalAdd.clientId] and empty param[addtionalUpdate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-users"></i></span>
														<h:selectOneMenu id="maritalStatus"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.maritalStatus}"
															required="#{not empty param[addtionalAdd.clientId] or not empty param[addtionalUpdate.clientId]}"
															class="form-control"
															requiredMessage="#{msg['marsta_req']}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" itemValue=""
																noSelectionOption="true" />
															<f:selectItems
																value="#{employeeMasterBean.maritalStatusList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>
													</div>
													<h:message for="maritalStatus"
														class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['father_name']} / #{msg['spouse_name']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" placeholder=""
															id="fatherName"
															required="#{not empty param[addtionalAdd.clientId] || not empty param[addtionalUpdate.clientId]}"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.fatherName}"
															validatorMessage="#{msg['len_sh_three_fifty']}"
															requiredMessage="#{msg['father_spouse_req']}"
															maxlength="50">
															<p:keyFilter regEx="/^[a-zA-Z ]*$/" />
															<f:validateLength minimum="3" maximum="50" />
														</p:inputText>
													</div>
													<h:message for="fatherName" class="validation-error-label" />
													<p:tooltip for="fatherName"
														value="#{msg['len_sh_three_fifty']}" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['nationality']}"
														for="nationality" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="nationality"
														rendered="#{empty param[addtionalAdd.clientId] and empty param[addtionalUpdate.clientId]}" />
													<div class="input-group ">
														<span class="input-group-addon"><i
															class="icon-flag3"></i></span>
														<h:selectOneMenu id="nationality"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.nationality}"
															required="#{not empty param[addtionalAdd.clientId] or not empty param[addtionalUpdate.clientId]}"
															requiredMessage="#{msg['nationalilty_req']}"
															converter="#{entityConverter}" class="form-control">
															<f:selectItems
																value="#{employeeMasterBean.nationalityList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>

													</div>
													<h:message for="nationality" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['religion']}" for="religion" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="religion"
														rendered="#{empty param[addtionalAdd.clientId] and empty param[addtionalUpdate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-gg"></i></span>
														<h:selectOneMenu id="religion"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.religion}"
															required="#{not empty param[addtionalAdd.clientId] or not empty param[addtionalUpdate.clientId]}"
															requiredMessage="#{msg['religion_req']}"
															converter="#{entityConverter}" class="form-control">
															<f:selectItem itemLabel="Select" itemValue=""
																noSelectionOption="true" />
															<f:selectItems value="#{employeeMasterBean.religionList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>
													</div>
													<h:message for="religion" class="validation-error-label" />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['community']}" for="community" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="community"
														rendered="#{empty param[addtionalAdd.clientId] and empty param[addtionalUpdate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-users"></i></span>
														<h:selectOneMenu id="community"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.community}"
															required="#{not empty param[addtionalAdd.clientId] or not empty param[addtionalUpdate.clientId]}"
															requiredMessage="#{msg['commu_req']}"
															converter="#{entityConverter}" class="form-control">
															<f:selectItem itemLabel="Select" itemValue=""
																noSelectionOption="true" />
															<f:selectItems
																value="#{employeeMasterBean.communityList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>

													</div>
													<h:message for="community" class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['caste']}" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="community"
														rendered="#{empty param[addtionalAdd.clientId] and empty param[addtionalUpdate.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-yelp"></i></span>
														<h:selectOneMenu id="caste"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.caste}"
															required="#{not empty param[addtionalAdd.clientId] or not empty param[addtionalUpdate.clientId]}"
															requiredMessage="#{msg['caste_req']}"
															converter="#{entityConverter}" class="form-control">
															<f:selectItem itemLabel="Select" itemValue=""
																noSelectionOption="true" />
															<f:selectItems
																value="#{employeeMasterBean.casteMasterList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>

													</div>
													<h:message for="caste" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['persnl_idntfctn']}&nbsp;1" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" placeholder=" "
															id="personalIdentification1"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.personalIdentification1}"
															maxlength="50">
															<p:keyFilter regEx="/^[a-zA-Z ]*$/" />
														</p:inputText>
													</div>
													<h:message for="personalIdentification1"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['persnl_idntfctn']}&nbsp;2" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" placeholder=" "
															id="personalIdentification2"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.personalIdentification2}"
															maxlength="50">
															<p:keyFilter regEx="/^[a-zA-Z ]*$/" />
														</p:inputText>
													</div>
													<h:message for="personalIdentification2"
														class="validation-error-label" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pan_no']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText class="form-control" placeholder=" "
															id="panNumber"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.panNumber}"
															required="#{not empty param[addtionalAdd.clientId] || not empty param[addtionalUpdate.clientId]}"
															requiredMessage="#{msg['pan_no_req']}"
															validatorMessage="#{msg['pan_vali_msg']}" maxlength="10">
															<p:keyFilter regEx="/^[a-zA-Z0-9]*$/" />
															<f:validateLength minimum="3" maximum="10" />
														</p:inputText>
													</div>
													<h:message for="panNumber" class="validation-error-label" />
												</div>
											</div>



											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['aadhaar_no']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputMask id="aadhaarNo"
															required="#{not empty param[addtionalAdd.clientId] || not empty param[addtionalUpdate.clientId]}"
															placeholder=" " requiredMessage="#{msg['aadhar_no_req']}"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.aadharNumber}"
															mask="9999-9999-9999" style="width:100%">
															<p:ajax event="change" update="aadhaarNo">
															</p:ajax>
														</p:inputMask>

													</div>
													<h:message for="aadhaarNo" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['height']}&nbsp;(in cm)" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-height"></i></span>
														<div class="">
															<p:inputText class="text-right" placeholder=" "
																id="height" maxValue="500"
																value="#{employeeMasterBean.employeePersonalInfoGeneral.height}">
															</p:inputText>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['weight']}&nbsp;(in kg)" />
													<div class="input-group">
														<span class="input-group-addon"><i class="icon-law"></i></span>
														<div class="">
															<p:inputText class="text-right" placeholder=" "
																id="weight"
																value="#{employeeMasterBean.employeePersonalInfoGeneral.weight}"
																maxValue="500">
															</p:inputText>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['bld_grp']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-droplet"></i></span>
														<h:selectOneMenu id="bldgrp"
															value="#{employeeMasterBean.employeePersonalInfoGeneral.bloodGroup}"
															converter="#{entityConverter}" class="form-control">
															<f:selectItem itemLabel="Select" itemValue=""
																noSelectionOption="true" />
															<f:selectItems
																value="#{employeeMasterBean.bloodGroupMasterList}"
																itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>



											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel class="display-block"
														value="#{msg['exserviceman']}" />
													<h:selectOneRadio class="radiomargin" id="isExserviceman"
														value="#{employeeMasterBean.employeePersonalInfoGeneral.isExservicemen}">
														<f:selectItem itemLabel="&nbsp; Yes" itemValue="true" />
														<f:selectItem itemLabel="&nbsp; No" itemValue="false"
															checked="checked" />
													</h:selectOneRadio>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel class="display-block"
														value="#{msg['diff_abled']}" />
													<h:selectOneRadio class="radiomargin" id="isDiffabled"
														value="#{employeeMasterBean.employeePersonalInfoGeneral.isDifferentlyAbled}">
														<f:selectItem itemLabel="&nbsp; Yes" itemValue="true" />
														<f:selectItem itemLabel="&nbsp; No" itemValue="false"
															checked="checked" />
													</h:selectOneRadio>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel class="display-block"
														value="#{msg['destitute_widow']}" />
													<h:selectOneRadio class="radiomargin" id="isFreedomFighter"
														value="#{employeeMasterBean.employeePersonalInfoGeneral.isDestituteWidow}">
														<f:selectItem itemLabel="&nbsp; Yes" itemValue="true" />
														<f:selectItem itemLabel="&nbsp; No" itemValue="false"
															checked="checked" />
													</h:selectOneRadio>
												</div>
											</div>
										</div>
										<!-- <div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel class="display-block"
													value="Destitute - Widow" />
												<h:selectOneRadio class="radiomargin">
													<f:selectItem itemLabel="&nbsp; Yes" itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false"
														checked="checked" />
												</h:selectOneRadio>
											</div>
										</div>
									</div> -->
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<p>
									Uploaded documents: <span style="color: #2196F3;"> <h:outputText
											value="#{employeeMasterBean.communityFileName}" /> <h:panelGroup
											rendered="#{!empty employeeMasterBean.panDetailsFileName}">, </h:panelGroup>
										<h:outputText value="#{employeeMasterBean.panDetailsFileName}" />
										<h:panelGroup
											rendered="#{!empty employeeMasterBean.exServicemanFileName}">, </h:panelGroup>
										<h:outputText
											value="#{employeeMasterBean.exServicemanFileName}" /> <h:panelGroup
											rendered="#{!empty employeeMasterBean.differentlyAbledFileName}">, </h:panelGroup>
										<h:outputText
											value="#{employeeMasterBean.differentlyAbledFileName}" /> <h:outputText
											value="#{employeeMasterBean.freedomFighterFileName}" />
									</span>
								</p>
							</div>

							<div class="col-md-6 text-right">
								<p:commandButton value="&#xf093; #{msg['upload']}"
									update="form empadditionalInfoForm" title="#{msg['upload']}"
									actionListener="#{employeeMasterBean.addInfoWidget(employeeMasterBean.employeePersonalInfoGeneral)}"
									styleClass="btn btn-sm bg-primary fa-input">
								</p:commandButton>

								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
									oncomplete="PF('progressDlg').hide();"
									action="#{employeeMasterBean.clear}" immediate="true"
									styleClass="btn btn-sm bg-slate font-iconmoon ">
								</p:commandButton>

								<p:commandButton
									rendered="#{employeeMasterBean.action ne 'EDIT'}"
									id="addtionalAdd" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									title="#{msg['save_continue']}"
									class="btn btn-sm bg-primary font-iconmoon"
									update="empadditionalInfoForm:empadditionalInfo growls"
									value="&#xead4;&nbsp;#{msg['save_continue']}"
									binding="#{addtionalAdd}"
									action="#{employeeMasterBean.personalInfoSaveContinue}">
									<f:setPropertyActionListener value="ADD"
										target="#{employeeMasterBean.action}" />
								</p:commandButton>

								<p:commandButton
									rendered="#{employeeMasterBean.action eq 'EDIT'}"
									id="addtionalUpdate" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									title="#{msg['update_continue']}"
									class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-primary font-iconmoon"
									update="empadditionalInfoForm:empadditionalInfo growls"
									value="&#xeda7; #{msg['update_continue']}"
									binding="#{addtionalUpdate}"
									action="#{employeeMasterBean.personalInfoSaveContinue}">
									<f:setPropertyActionListener value="EDIT"
										target="#{employeeMasterBean.action}" />
									<f:setPropertyActionListener value="EMPLOYEE_INFO_GENERAL"
										target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
								</p:commandButton>
							</div>
						</div>
					</p:outputPanel>
					<p:outputPanel id="viewpanel"
						rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
						<div class="panel m-t-10">
							<div class="panel-heading colllapse  pad-5-10">
								<h5 class="panel-title font14" id="scrollspy">
									#{msg['additional_information']}<a
										class="heading-elements-toggle"><i class="icon-more"></i></a>
								</h5>

							</div>
							<div class="panel-body p-t-10">
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['marital_sts']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.maritalStatus.name}" /></span>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['father_name']} / #{msg['spouse_name']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.fatherName}" /></span>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['nationality']}" />
											<div class="input-group ">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.nationality.name}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['religion']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.religion.name}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['community']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.community.name}" /></span>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['caste']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.caste.name}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['persnl_idntfctn']}&nbsp;1" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.personalIdentification1}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['persnl_idntfctn']}&nbsp;2" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.personalIdentification2}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['pan_no']}" />
											<div class="input-group view-style">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.panNumber}" /></span>
											</div>
										</div>
									</div>



									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['aadhaar_no']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.aadharNumber}" /></span>

											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['height']}&nbsp;(in cm)" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.height}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['weight']}&nbsp;(in kg)" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.weight}" /></span>

											</div>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bld_grp']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeMasterBean.employeePersonalInfoGeneral.bloodGroup.name}" /></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="display-block"
												value="#{msg['exserviceman']}" />
											<h:outputText value="Yes" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isExservicemen == true}" />
											<h:outputText value="No" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isExservicemen == false}" />

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="display-block"
												value="#{msg['diff_abled']}" />
											<h:outputText value="Yes" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isDifferentlyAbled == true}" />
											<h:outputText value="No" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isDifferentlyAbled == false}" />

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="display-block"
												value="#{msg['destitute_widow']}" />

											<h:outputText value="Yes" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isDestituteWidow == true}" />
											<h:outputText value="No" class="view-style"
												rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isDestituteWidow == false}" />

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 text-right ph0">
							<p:commandButton value="&#xeddf; #{msg['back']}"
								onclick="PF('progressDlg').show();" title="#{msg['back']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeMasterBean.clear}" immediate="true"
								styleClass="btn btn-sm bg-info font-iconmoon ">
							</p:commandButton>
						</div>
					</p:outputPanel>


					<p:dialog id="addInfoId" header="#{msg['doc_upload']}" width="40%"
						styleClass="p-0 overlay-pop modal-dialog" modal="true"
						showEffect="fade" hideEffect="fade" closeOnEscape="true"
						widgetVar="addInfoWidget" position="center">
						<div class="form-group">
							<div class="row ">
								<div class="col-lg-3">
									<label class="control-label">#{msg['community']} &nbsp;
									</label>
								</div>
								<div class="col-lg-9">
									<div class="uploadercustom2 col-lg-8">
										<h:outputText id="comId"
											value="#{employeeMasterBean.communityFileName}" styleClass="" />
									</div>
									<div class="col-lg-4 no-padding contact-upload upload-popup">
										<div class="uploader upoload-esr">
											<p:fileUpload
												fileUploadListener="#{employeeMasterBean.communityFileUpload}"
												onstart="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();" mode="advanced"
												auto="true" sizeLimit="1000000"
												allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/"
												update="growls comId addpanel" />
										</div>
									</div>
									<div>
										<small class="uploadfinename">#{msg['file_format_png_jpg_filesize_less']}</small>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-lg-3">
									<p:outputLabel value="#{msg['pan_no']}" />
								</div>
								<div class="col-lg-9">
									<div class="uploadercustom2 col-lg-8">
										<h:outputText id="panId"
											value="#{employeeMasterBean.panDetailsFileName}" />
									</div>
									<div class="col-lg-4 no-padding contact-upload upload-popup">
										<div class="uploader upoload-esr">
											<p:fileUpload
												fileUploadListener="#{employeeMasterBean.panDetailsUpload}"
												onstart="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();" mode="advanced"
												auto="true" sizeLimit="1000000"
												allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/"
												update="growls panId addpanel" />
										</div>
									</div>
									<div>
										<small class="uploadfinename">#{msg['file_format_png_jpg_filesize_less']}</small>
									</div>
								</div>
							</div>
						</div>


						<p:outputPanel id="expanel"
							rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isExservicemen == true}">
							<div class="form-group">
								<div class="row ">
									<div class="col-lg-3">
										<p:outputLabel value="#{msg['exserviceman']}" />
									</div>

									<div class="col-lg-9">
										<div class="uploadercustom1 col-lg-8">
											<h:outputText id="exserId"
												value="#{employeeMasterBean.exServicemanFileName}" />
										</div>
										<div class="col-lg-4 no-padding contact-upload upload-popup">
											<div class="uploader upoload-esr">
												<p:fileUpload
													fileUploadListener="#{employeeMasterBean.exServicemanFileUpload}"
													onstart="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();" mode="advanced"
													auto="true" sizeLimit="1000000"
													allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/"
													update="growls exserId addpanel" />
											</div>
										</div>
										<p class="dis-inlineblock">
											<small class="uploadfinename">#{msg['file_format_png_jpg_filesize_less']}</small>
										</p>
									</div>
								</div>
							</div>
						</p:outputPanel>

						<p:outputPanel id="diffpanel"
							rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isDifferentlyAbled == true}">
							<div class="row">
								<div class="form-group">
									<div class="col-lg-3">
										<p:outputLabel value="#{msg['diff_abled']}" />
									</div>
									<div class="col-lg-9">
										<div class="uploadercustom1 col-lg-8">
											<h:outputText id="differId"
												value="#{employeeMasterBean.differentlyAbledFileName}" />
										</div>

										<div class="col-lg-4 no-padding contact-upload upload-popup">
											<div class="uploader upoload-esr">
												<p:fileUpload
													fileUploadListener="#{employeeMasterBean.differentlyAbledFileUpload}"
													onstart="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();" mode="advanced"
													auto="true" sizeLimit="1000000"
													allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/"
													update="growls differId addpanel" />
											</div>
										</div>
										<p class="dis-inlineblock">
											<small class="uploadfinename">#{msg['file_format_png_jpg_filesize_less']}</small>
										</p>
									</div>
								</div>
							</div>
						</p:outputPanel>

						<p:outputPanel id="freedompanel"
							rendered="#{employeeMasterBean.employeePersonalInfoGeneral.isFreedomFighter == true}">
							<div class="form-group">
								<div class="row m-t-10">
									<div class="col-lg-3">
										<p:outputLabel value="#{msg['des_widow']}" />
									</div>
									<div class="col-lg-9">
										<div class="uploadercustom2 col-lg-8">
											<h:outputText id="freeId"
												value="#{employeeMasterBean.freedomFighterFileName}" />
										</div>
										<div class="col-lg-4 no-padding contact-upload upload-popup">
											<div class="uploader upoload-esr">
												<p:fileUpload
													fileUploadListener="#{employeeMasterBean.destituteWidowDocUpload}"
													mode="advanced" auto="true" sizeLimit="1000000"
													onstart="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/"
													update="growls freeId addpanel" />
											</div>
										</div>
										<p class="dis-inlineblock">
											<small class="uploadfinename">#{msg['file_format_png_jpg_filesize_less']}</small>
										</p>
									</div>
								</div>
							</div>
						</p:outputPanel>
					</p:dialog>
				</p:outputPanel>
			</p:focus>
		</h:form>
	</ui:define>
	
	
</ui:composition>
