<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{employeeDeathRegistrationBean}"></ui:param>
		<title>InfoTex | Employee Death Registration</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'CREATE' ? msg['create_emp_death_reg'] :
						msg['edit_emp_death_reg']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['retiremnt']}</li>
						<li class="active">#{bean.action eq 'CREATE' ?
							msg['create_emp_death_reg'] : msg['edit_emp_death_reg']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content ">
			<div class="panel panel-info">
				<div class="panel-heading ">
					<h6 class="panel-title">
						#{msg['emp_death_reg']}
						<p:outputLabel styleClass="pull-right text-13">
                     (<span class="mand-red">*</span>
							<span>#{msg['mand_fields']})</span>
						</p:outputLabel>
					</h6>
				</div>

				<p:outputPanel id="panelid">
					<div class="panel-body  pg-scroll-panel-1">
						<div class="row label-form custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
								<div class="form-group">
									<p:outputLabel value="#{msg['ho_ro']}" for="horo" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="horo" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="horo" styleClass="form-control"
											value="#{bean.horoEntity}" converter="#{entityConverter}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['ho_ro_req']}"
											disabled="#{bean.action eq 'EDIT' and bean.selectedEmpDeathRegister.stage eq 'INPROGRESS'}">
											<f:selectItem itemLabel="#{msg['select']}" itemValue=""
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.headOfficeAndRegionEntityList}"
												var="horo" itemValue="#{horo}"
												itemLabel="#{horo.code}/#{horo.name}"></f:selectItems>
											<p:ajax listener="#{bean.horoValueChange}"
												update="panelid entityType" event="change"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"></p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="horo" class="validation-error-label" />

								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ent_typ']}" for="entityType" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="entityType" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="entityType" styleClass="form-control"
											converter="#{entityConverter}"
											disabled="#{(bean.horoEntity.entityTypeMaster.entityCode eq 'HEAD_OFFICE') or 
											(bean.action eq 'EDIT' and bean.selectedEmpDeathRegister.stage eq 'INPROGRESS')}"
											value="#{bean.deathRegistrationDTO.empDeathRegister.entityTypeMaster}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['entity_type_required']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.entityTypeMasterList}"
												var="entityType" itemValue="#{entityType}"
												itemLabel="#{entityType.entityName}"></f:selectItems>
											<p:ajax listener="#{bean.entityTypeValueChange}"
												update="entity" onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"></p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="entityType" class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity']}" for="entity" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="entity" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="entity" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{bean.deathRegistrationDTO.empDeathRegister.entityMaster}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['entity_required']}"
											disabled="#{(bean.horoEntity.entityTypeMaster.entityCode eq 'HEAD_OFFICE') or 
											(bean.action eq 'EDIT' and bean.selectedEmpDeathRegister.stage eq 'INPROGRESS')
											}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.entityMasterList}" var="entity"
												itemValue="#{entity}"
												itemLabel="#{entity.code}/#{entity.name}"></f:selectItems>
											<p:ajax listener="#{bean.loadEmployeeByEntityId}"
												event="change" update="employee"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"></p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="entity" class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" for="employee" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="employee" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<h:selectOneMenu id="employee" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['employee_name_required']}"
											disabled="#{bean.action eq 'EDIT' and bean.selectedEmpDeathRegister.stage eq 'INPROGRESS'}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.employeeList}" var="employee"
												itemValue="#{employee}" itemLabel="#{employee.firstName} #{employee.lastName} / #{employee.personalInfoEmployment.pfNumber}"></f:selectItems>
											<p:ajax event="change" update="employeeDetailsIs"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"></p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="employee" class="validation-error-label" />
								</div>
							</div>

							<p:outputPanel id="employeeDetailsIs">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['emp_pf_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.pfNumber}"
												disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['designation']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-user-tie"></i></span>
											<p:inputText styleClass="form-control"
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.currentDesignation.name}"
												disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_joining']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar22"></i></span>
											<p:inputText styleClass="form-control"
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.dateOfJoining}"
												disabled="true">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_of_retire']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar22"></i></span>
											<p:inputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.retirementDate}"
												styleClass="form-control" disabled="true">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</p:inputText>
										</div>
									</div>
								</div>
							</p:outputPanel>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['nature_of_death']}"
										for="natureofdeath" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="natureofdeath" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<h:selectOneMenu id="natureofdeath" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{bean.deathRegistrationDTO.empDeathRegister.natureOfDeath}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['nature_of_death_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.natureOfDeathList}" var="death"
												itemValue="#{death}" itemLabel="#{death.name}"></f:selectItems>
										</h:selectOneMenu>
									</div>
									<h:message for="natureofdeath" class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group form-group_calend">
									<p:outputLabel value="#{msg['dod']}" />
									<span class="mand-red">*</span>
									<p:calendar id="deathdate"
										value="#{bean.deathRegistrationDTO.empDeathRegister.dateOfDeath}"
										pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										required="#{not empty param[submit.clientId]}"
										requiredMessage="#{msg['death_date_req']}" navigator="true"
										yearRange="c-100:c+100" styleClass="form-control-1 calend-icon-1"
										autocomplete="off">
									</p:calendar>
									<h:message for="deathdate" class="validation-error-label" />
								</div>
							</div>

							<!-- Upload button -->
							<div class="col-lg-6 col-md-12 col-sm-12">
								<div class="form-group m-b-0">
									<p:outputLabel value="#{msg['doc_upload']}" />
									<span class="mand-red">*</span>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-4 col-xs-7">
											<p:inputText class="form-control" id="docName"
												value="#{bean.deathRegistrationDTO.empDeathRegisterDocs.docName}"
												style="border-radius: 4px !important;" disabled="true">
											</p:inputText>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-4 btn-file-upload ">
											<h:panelGroup rendered="#{bean.action eq 'EDIT'}">
												<p:commandButton
													value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
													actionListener="#{bean.downloadFile}" ajax="false"
													title="#{msg['download']}"
													class="btn btn-sm bg-primary fa-input btn-upload">
													<p:fileDownload value="#{bean.file}"></p:fileDownload>
												</p:commandButton>
											</h:panelGroup>
											<div
												class=" no-padding contact-upload upload-popup pull-left ">
												<p:fileUpload fileUploadListener="#{bean.fileUpload}"
													onstart="PF('progressDlg').show();" id="recLetter"
													oncomplete="PF('progressDlg').hide();"
													label="&#xf093;&nbsp;#{msg['upload']}"
													styleClass="btn-upload dis-inblk upload-padd"
													mode="advanced" auto="true" sizeLimit="10000000"
													update="docName growls" multiple="true"
													allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpe?g|png)$/">
												</p:fileUpload>
											</div>
										</div>
									</div>
									<div>
										<small class="uploadfinename">#{msg['file_format_5MB']}</small>
									</div>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['frwd_to']}" for="forwardto" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="forwardto" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>

										<p:autoComplete id="forwardto" minQueryLength="2"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{bean.deathRegistrationDTO.userMaster}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['forward_for_req']}"
											itemValue="#{user}" var="user" itemLabel="#{user.empName}"
											completeMethod="#{bean.getForwardToList}"
											effect="fade">
											<p:ajax event="itemSelect" update="forwardto"></p:ajax>
										</p:autoComplete>
										<ui:remove>
											<h:selectOneMenu id="forwardto" styleClass="form-control"
												converter="#{entityConverter}"
												value="#{bean.deathRegistrationDTO.userMaster}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_for_req']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItems value="#{bean.forwardToUsersList}" var="user"
													itemValue="#{user}"
													itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
											</h:selectOneMenu>
										</ui:remove>
									</div>
									<h:message for="forwardto" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['frwd_for']}" for="forwardfor" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="forwardfor" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardfor" styleClass="form-control"
											value="#{bean.deathRegistrationDTO.finalApproval}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['forward_for_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemLabel="Approval" itemValue="false"></f:selectItem>
											<f:selectItem itemLabel="Final Approval" itemValue="true"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<h:message for="forwardfor" class="validation-error-label" />
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:commandButton
									value="#{bean.action eq 'CREATE' ?  '&#xf067;' :  '&#xf044;' }  #{bean.action eq 'CREATE' ?  msg['create_note'] :  msg['edit_note'] }"
									title="#{bean.action eq 'CREATE' ?  msg['create_note'] :  msg['edit_note'] }"
									class="#{bean.action eq 'CREATE' ?  'btn bg-success fa-input m-l-0' : 'btn bg-primary fa-input m-l-0' }" 
									oncomplete="PF('notedialog').show();"></p:commandButton>
								<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
									style="min-width:32px;"
									styleClass="btn btn-primary btn-md font-iconmoon"
									onclick="PF('commentdialog').show();"></p:commandButton> -->
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon"
									update="panelid growls" title="#{msg['cancel']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{bean.showDeathRegistrationListPage}">
								</p:commandButton>
								<p:commandButton
									value="#{bean.action eq 'CREATE' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'CREATE' ?  msg['submit'] :  msg['update'] }"
									title="#{bean.action eq 'CREATE' ?  msg['submit'] :  msg['update'] }"
									class="#{bean.action eq 'CREATE' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{bean.saveDeathRegistration}" update="panelid growls "
									binding="#{submit}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</div>
		</div>
		<p:dialog 
			header="#{bean.action eq 'CREATE' ? msg['create_note'] : msg['edit_note']}"
			widgetVar="notedialog" modal="true" showEffect="fade" width="80%"
			hideEffect="fade" resizable="false" styleClass="p-0 top-100">
			<h:form>
					<div class="panel-body p-0">
						<div class="row">
							<div class="col-md-12">
								<div class="tabbable">
									<ul
										class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
										<li class="active"><a href="#large-tab1"
											data-toggle="tab">#{msg['note']}</a></li>
										<li class="pull-right"><a href="#large-tab2"
											data-toggle="tab"> <i class="icon-plus3"></i></a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="large-tab1">
											<!-- WYSIHTML5 basic -->

											<div class="panel-body">

												<p:textEditor widgetVar="editor1" 
													value="#{bean.deathRegistrationDTO.note}" height="150"
													placeholder="Enter text ..." />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="carousel slide media-carousel" id="media">
									<div class="carousel-inner">
										<div class="item  active">
											<div class="row">
												<div class="col-md-3">
													<div
														class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
														<ul class="list list-icons m-b-0">
															<li>
																<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																<h6 class="m-t-0 text-center">Created By</h6>
															</li>
															<li>#{msg['name']} :
																#{bean.employeeMaster.firstName}</li>
															<li>#{msg['designation']} :
																#{bean.employeeMaster.personalInfoEmployment.currentDesignation
																ne 'null' ?
																bean.employeeMaster.personalInfoEmployment.currentDesignation.name
																:''}</li>
															<li>#{msg['date']} :<h:outputText
																	value="#{bean.currentDate}">
																	<f:convertDateTime
																		pattern="#{loginBean.userInfoDTO.dateFormat}"
																		timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																</h:outputText></li>
														</ul>
													</div>
												</div>

											</div>
										</div>
									</div>
									<a data-slide="prev" href="#media"
										class="left carousel-control">‹</a> <a data-slide="next"
										href="#media" class="right carousel-control">›</a>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										onclick="PF('notedialog').hide();" />
								</div>
							</div>
						</div>
					</div>
			</h:form>
		</p:dialog>
		
	</ui:define>
</ui:composition>