<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/personnelHR/createEmployeePersonal.xhtml">
	<ui:define name="personnel">
		<h:form id="achievementsForm">

			<div class="tab-pane has-padding m-t-10">
				<p:outputPanel id="addPanel"
					rendered="#{employeeMasterBean.viewFlag ne 'VIEWEMPLOYEE'}">

					<div class="panel">
						<div class="panel-heading colllapse pad-5-10">
							<h6 class="panel-title font14" id="scrollspy">
								#{msg['achievmnts']}</h6>
						</div>

						<div class="panel-body">
							<div class="row custom-form-1 inline-table-date">
								<div class="table-responsive">
									<p:outputPanel id="achievementsPanel">
										<p:dataTable id="achievementsTable" var="achievements"
											styleClass="report-table" rowIndexVar="idx"
											value="#{employeeMasterBean.achievementsList}">

											<p:column headerText="#{msg['s_no']}"
												styleClass="width-3 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['award_name']}"
												styleClass="width-30">
												<p:inputText id="AwardedName" tabindex="1" placeholder=""
													update="growls" value="#{achievements.awardName}"
													styleClass="input-width-100">
												</p:inputText>
												<p:message for="AwardedName" />
												<p:focus for="AwardedName"></p:focus>
											</p:column>

											<p:column headerText="#{msg['awarded_dt']}"
												styleClass="width-15 text-center">
												<div class="form-group form-group_calend">
													<p:calendar id="AwardedDate" pattern="dd-MMM-yyyy"
														tabindex="2" navigator="true" yearRange="c-100:c+100"
														placeholder="dd-MMM-yyyy" maxdate="java.util.Date"
														value="#{achievements.awardDate}"
														styleClass="form-control-1 calend-icon-1">
													</p:calendar>
												</div>
												<p:message for="AwardedDate" />
											</p:column>

											<p:column headerText="#{msg['award_by']}"
												styleClass="width-25">
												<p:inputText id="AwardedBy" tabindex="3" placeholder=""
													value="#{achievements.awardedBy}"
													styleClass="input-width-100">
												</p:inputText>
											</p:column>



											<p:column headerText="#{msg['action']}"
												styleClass="width-10 text-center">
												<!-- Add New Row -->
												<p:commandLink update="achievementsTable growls"
													onstart="PF('statusDialog').show();" title="#{msg['add']}"
													onsuccess="PF('statusDialog').hide();"
													class="btn btn-success btn-xs btn-table-button m-lr-3"
													actionListener="#{employeeMasterBean.addNewRowForAchievements}">
													<i class="icon-file-plus"></i>
												</p:commandLink>

												<p:commandLink id="deletesalePersonLink"
													rendered="#{fn:length(employeeMasterBean.achievementsList) ne 1 and 
																loginBean.userFeatures['EMP_ACHIEVEMENT_DELETE']}"
													title="#{msg['delete']}" process="@this"
													update="achievementsTable growls"
													class="btn btn-danger btn-xs btn-table-button"
													actionListener="#{employeeMasterBean.deleteAchievementsRecord(achievements)}">
													<i class="fa fa-trash"></i>
													<p:confirm header="#{msg['confirmation']}"
														message="#{msg['confirm_delete']} ?" />
												</p:commandLink>

											</p:column>
										</p:dataTable>

										<p:confirmDialog id="achievementsDelete" global="true"
											showEffect="fade" position="center" class="no-padding">
											<div class="text-right p-10">
												<p:commandButton value="&#xed6a; #{msg['no']}"
													update="achievementsTable" title="#{msg['no']}"
													styleClass="btn btn-sm bg-slate ui-confirmdialog-no font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xed6e; #{msg['yes']}"
													title="#{msg['yes']}"
													styleClass="btn btn-sm bg-success ui-confirmdialog-yes font-iconmoon" />
											</div>
										</p:confirmDialog>

									</p:outputPanel>
								</div>
							</div>
						</div>

						<div class="col-md-12 m-t-10 text-right ph0">
							<p:commandButton value="&#xed6a; #{msg['cancel']}"
								onclick="PF('progressDlg').show();" title="#{msg['cancel']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeMasterBean.clear}" immediate="true"
								styleClass="btn btn-sm bg-slate font-iconmoon ">
							</p:commandButton>

							<p:commandButton id="achievementsSubmit"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								update="achievementsForm:achievementsPanel growls"
								rendered="#{employeeMasterBean.action ne 'EDIT'}"
								class="btn btn-sm bg-primary font-iconmoon"
								title="#{msg['save_continue']}"
								value="&#xead4;&nbsp;#{msg['save_continue']}"
								action="#{employeeMasterBean.achievementsDetailsSaveContinue}">
							</p:commandButton>

							<p:commandButton id="achievementsUpdate"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								update="achievementsForm:achievementsPanel growls"
								rendered="#{employeeMasterBean.action eq 'EDIT'}"
								class="btn btn-sm bg-primary font-iconmoon"
								title="#{msg['update_continue']}"
								value="&#xeda7;&nbsp;#{msg['update_continue']}"
								action="#{employeeMasterBean.achievementsDetailsSaveContinue}">
								<f:setPropertyActionListener
									value="EMPLOYEE_ACHIEVEMENT_DETAILS"
									target="#{employeeMasterBean.employeeMaster.pageName}"></f:setPropertyActionListener>
							</p:commandButton>
						</div>
					</div>
				</p:outputPanel>

				<p:outputPanel id="viewPanel"
					rendered="#{employeeMasterBean.viewFlag eq 'VIEWEMPLOYEE'}">
					<div class="panel">
						<div class="panel-heading colllapse  pad-5-10">
							<h5 class="panel-title font14" id="scrollspy">
								#{msg['achievmnts']}<a class="heading-elements-toggle"><i
									class="icon-more"></i></a><span style="font-size: 13px"> </span>
							</h5>
						</div>
						<div class="panel-body p-t-10">
							<div class="col-lg-12 ph0">
								<div class="table-responsive">
									<p:dataTable id="achievementsViewTable" rowIndexVar="idx"
										var="achievements" styleClass="report-table"
										value="#{employeeMasterBean.achievementsList}"
										tableStyleClass="table table-bordered">

										<p:column headerText="#{msg['s_no']}"
											styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['award_name']}"
											styleClass="width-50">
											<h:outputText value="#{achievements.awardName}" />
										</p:column>

										<p:column headerText="#{msg['awarded_dt']}"
											styleClass="width-10 text-center">
											<h:outputText value="#{achievements.awardDate}">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-YYYY" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['award_by']}"
											styleClass="width-30">
											<h:outputText value="#{achievements.awardedBy}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>

						<div class="col-lg-12 text-right ph0 m-t-10">
							<p:commandButton value="&#xeddf; #{msg['back']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['back']}"
								action="#{employeeMasterBean.clear}" immediate="true"
								styleClass="btn btn-sm bg-info font-iconmoon ">
							</p:commandButton>
						</div>
					</div>
				</p:outputPanel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>