<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/personnelHR/createJobApplication.xhtml">
	<ui:define name="jobapp">
		<h:form id="jobPaymentForm">
			<p:outputPanel id="jobPaymentPanel">
				<title>#{msg['infotex']} </title>
				<!-- Page Header -->  

				<!-- End Page Header -->
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading colllapse ">
								<h6 class="panel-title">#{msg['demand_draft']}</h6>
							</div>
							<div class="panel-body p-10">
								<div class="col-lg-3 col-md-4 col-sm-6 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['dd_num']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-hashtag"></i></span>
											<p:inputText class="form-control" disapled="true" id="ddnum" tabindex="1"
												value="#{jobApplicationBean.jobAppPayment.demandDraftNumber}"
												required="#{not empty param[payment.clientId] || not empty param[paymentUpdate.clientId]}" 
												requiredMessage="#{msg['demadraft_req']}"
												validatorMessage="#{msg['ddnumber6']}" placeholder=""
												maxlength="6">
												<p:keyFilter mask="int" />
											</p:inputText>
											 <p:focus for="ddnum"/>
										</div>
										<h:message for="ddnum" class="validation-error-label" />
										<p:tooltip for="ddnum" value="#{msg['ddnumber6']}" />
									</div>
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['name_of_bank']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-building"></i></span>
											<p:inputText class="form-control" disapled="true" tabindex="2"
												id="bankName"
												value="#{jobApplicationBean.jobAppPayment.bankName}"
												required="#{not empty param[payment.clientId] || not empty param[paymentUpdate.clientId]}"
												requiredMessage="#{msg['bank_req']}"
												validatorMessage="#{msg['len_sh_three_fifty']}" placeholder=""
												maxlength="50">
												<f:validateLength minimum="3" maximum="50" />
												<p:keyFilter regEx="/[a-zA-Z_.]+/" />
											</p:inputText>
											
										</div>
										<h:message for="bankName" class="validation-error-label" />
										<p:tooltip for="bankName" value="#{msg['len_sh_three_fifty']} " />
									</div>
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['brn_name']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-building"></i></span>
											<p:inputText class="form-control" disapled="true" tabindex="3"
												id="brnName" 
												required="#{not empty param[payment.clientId] || not empty param[paymentUpdate.clientId]}"
												value="#{jobApplicationBean.jobAppPayment.branchName}"
												requiredMessage="#{msg['branch_name_req']}"
												validatorMessage="#{msg['len_sh_three_fifty']}"
												placeholder="" maxlength="50">
												<f:validateLength minimum="3" maximum="50" />
												<p:keyFilter regEx="/[a-zA-Z_.]+/" />
											</p:inputText>
										</div>
										<h:message for="brnName" class="validation-error-label" />
										<p:tooltip for="brnName" value="#{msg['len_sh_three_fifty']} " />
									</div>
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['name_favor']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<p:inputText class="form-control" disapled="true" id="favor" tabindex="4"
												value="#{jobApplicationBean.jobAppPayment.nameOfFavor}"
												required="#{not empty param[payment.clientId]}"
												requiredMessage="#{msg['favor_req']}"
												validatorMessage="#{msg['len_sh_three_fifty']} "
												placeholder="" maxlength="50">
												<f:validateLength minimum="3" maximum="50" />
												<p:keyFilter regEx="/[a-zA-Z_. ]+/" />
											</p:inputText>
										</div>
										<h:message for="favor" class="validation-error-label" />
										<p:tooltip for="favor" value="#{msg['len_sh_three_fifty']} " />
									</div>
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6 ">
									<div class="form-group">
									<p:outputLabel value="#{msg['dd_amt']}" />
									<span class="mand-red">*</span>
									<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<p:inputNumber
												id="ddamount" tabindex="5" placeholder=""
												value="#{jobApplicationBean.jobAppPayment.demandDraftAmount}"
												requiredMessage="#{msg['demadraft_amt_req']}"
												validatorMessage="#{msg['incramtgra']}"
												required="#{not empty param[payment.clientId]} || not empty param[paymentUpdate.clientId]}">
											</p:inputNumber>
										</div>
										<h:message for="ddamount" class="validation-error-label" />
										<p:tooltip for="ddamount" value="#{msg['incramtgra']} " />
									</div>
								</div>
								<div class="col-lg-3 col-md-4 col-sm-6 custom-form-1">
									<div class="form-group">
										<p:outputLabel value="#{msg['date_dd']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend m-b-0">
											<p:calendar id="ddDate" pattern="dd-MMM-yyyy" tabindex="6"
												value="#{jobApplicationBean.jobAppPayment.demandDraftDate}"
												mindate="#{jobApplicationBean.onlineStartDate}"
												maxdate="#{jobApplicationBean.onlineEndDate}"
												required="#{not empty param[payment.clientId]} || not empty param[paymentUpdate.clientId]}"
												requiredMessage="#{msg['demadraft_date_req']}" placeholder="dd-MMM-yyyy"
												mask="true" navigator="true" yearRange="c-100:c+100"
												styleClass="form-control-1 calend-icon-1">
											</p:calendar>
										</div>
										<h:message for="ddDate" class="validation-error-label" />
										
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-12 ">

						<div class="col-md-6 m-t-10  no-padding">
							<p>
								#{msg['uploaded_doc']}: <span style="color: #2196F3;"><p:outputLabel
										value="#{jobApplicationBean.demandDraftFileName}" id="fileName"></p:outputLabel> </span>
							</p>
						</div>
						<div class="col-md-6 no-padding">
							<div class="m-b-10  pull-right">
								
								<p:commandButton value="&#xf093; #{msg['upload']}" title="#{msg['upload']}" tabindex="7"
									onclick="PF('paymentdocupload').show();"
									class="ui-button ui-widget ui-state-default fa-input ui-corner-all ui-button-text-only btn btn-sm bg-primary font-iconmoon m-l-10">
								</p:commandButton>
																	
								<p:commandButton value="&#xf00d; #{msg['cancel']}" title="#{msg['cancel']}" tabindex="8"
								immediate="true"
								onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
													action="#{jobApplicationBean.cancelViewPage}" 
													class="btn btn-sm bg-slate fa-input m-l-10" >
												</p:commandButton>

								<p:commandButton id="jobSubmit" tabindex="9"
									value="&#xed6c; #{msg['submit']}" title="#{msg['submit']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									update="jobPaymentForm:jobPaymentPanel growls"
									binding="#{payment}"
									rendered="#{jobApplicationBean.action ne 'EDIT'}" 
									action="#{jobApplicationBean.saveJobAppPayment}"
									class="btn btn-sm bg-success  font-iconmoon">
									<f:setPropertyActionListener value="ADD" target="#{jobApplicationBean.action}"/>
								</p:commandButton>
								<p:commandButton id="jobUpdate" tabindex="9"
									value="&#xed6c; #{msg['update']}" title="#{msg['update']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									update="jobPaymentForm:jobPaymentPanel growls"
									binding="#{paymentUpdate}"
									rendered="#{jobApplicationBean.action eq 'EDIT'}" 
									action="#{jobApplicationBean.saveJobAppPayment}"
									class="btn btn-sm bg-success  font-iconmoon">
									<f:setPropertyActionListener value="EDIT" target="#{jobApplicationBean.action}"/>
								</p:commandButton>
							</div>
						</div>
					</div>
			</p:outputPanel>
			<p:dialog draggable="true" modal="true" id="singId" width="40%"
						header="Document Upload"
						styleClass="p-0 overlay-pop modal-dialog " 
						closable="true" widgetVar="paymentdocupload" showEffect="fade" 
						hideEffect="fade" closeOnEscape="true" resizable="false">
						<div class="modal-body p-10 border0">
						<div class="form-group">
							<div class="row">
									<div class="col-lg-4">
										<label class="control-label  m-t-10">#{msg['demand_draft']}
												<span class="mand-sign-input">*</span>
											</label>
									</div>
									<div class="col-lg-8">
										<div class="row">
										<div
											class=" p-r-0 contact-upload upload-popup col-lg-4 ">
											<div class="uploader ">
												<p:fileUpload
													value="#{jobApplicationBean.jobApplication.demandDraftDocPath}"
													fileUploadListener="#{jobApplicationBean.uploadDD}"
													onstart="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();PF('paymentdocupload').hide();" mode="advanced"
													auto="true" sizeLimit="1000000"
													update="fileName sigName growls"
													allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/">
												</p:fileUpload>
											</div>
										</div>
										<div class="uploadercustom1 col-lg-8 p-l-0">
											<h:outputText id="sigName"
												value="#{(jobApplicationBean.demandDraftFileName).length() gt 25 ? 
												fn:substring({jobApplicationBean.demandDraftFileName}, 1, 25).concat('...'):
												(jobApplicationBean.demandDraftFileName)}"/>
										</div>
										</div>
										<div class="clearfix"></div>
										<div>
											<small class="uploadfinename">#{msg['file_format_lessthan_250kb']}</small>
										</div>
									</div>
								
							</div>
							</div>
						</div>
					</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
