<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
		<ui:define name="content">
			<title>InfoTex | Decision Process of Disciplinary Action</title>
			<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<h4 class="page-title">Decision Process of Disciplinary Action</h4>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="text-right">
							<ol class="breadcrumb mt text12 ph0">
								<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
								<li><a href="#">Personnel HR</a></li>
								<li class="active">Decision Process of Disciplinary Action</li>
							</ol>
						</div>
					</div>
				</div>
				
			<div class="panel panel-color panel-top-bor">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Complaint Reference Number" />
							<p:inputText value="1003654" class="form-control" disabled="true" />
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Complaint Date" />
							<p:inputText value="10-05-2017" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Region" />
							<p:inputText value="Coimbatore" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Department" />
							<p:inputText value="Technical" class="form-control" disabled="true" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Designation" />
							<p:inputText value="Junior Assistant" class="form-control" disabled="true" />
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Employee Name" />
							<p:inputText value="Ilaya Vel" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Employee ID" />
							<p:inputText value="1078" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Type of Complaint" />
							<p:inputText value="Stock misuse" class="form-control" disabled="true" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="Remarks" />
							<p:inputTextarea 
							value="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s" 
							class="form-control" disabled="true"></p:inputTextarea>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">	
							<div class="form-group">
							<p:outputLabel value="Status" />
							<p:inputText value="In Progress" class="form-control" disabled="true" />
							</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
							<p:outputLabel value="Upload Document" />
							<a href="" class="">mycastecertificate.pdf <i class="fa fa-download m-l-5"></i></a>
							</div>
					</div>	
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Type of Punishment" />
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" />
								<f:selectItem itemLabel="Warning" />
								<f:selectItem itemLabel="Fine" />
								<f:selectItem itemLabel="Censure" />
								<f:selectItem itemLabel="Suspension" />
								<f:selectItem itemLabel="Stopping of Increment" />
								<f:selectItem itemLabel="Dismissal" />
							</h:selectOneMenu>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="Details of charges framed" />
							<p:inputText value="email communication from HR department" class="form-control" />
						</div>
					</div>
				</div>

				<h4 class="bord_bot">
					<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>Reporting
						Authority</span>
				</h4>

				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Designation" />
							<p:inputText value="Sales Manager" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="form-group">
							<p:outputLabel value="Remarks" />
							<p:inputTextarea value="" class="form-control"></p:inputTextarea>
						</div>
					</div>
				</div>
				
				<div class="text-right ">
					<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
						class="btn btn-sm btn-cancel waves-effect waves-light fa-input m-l-10" />
					<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}"
						class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10" />
				</div>
			</div>
		</div>
				
		</ui:define>
</ui:composition>