<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>InfoTex | Generate Oral Exam List</title>

		<style type="text/css">
.ui-fileupload-buttonbar .ui-fileupload-choose {
	width: 100%;
}

#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff !important;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-2 .number {
	border-color: #ff5722;
}

#steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after,
	#steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after,
	#steps-uid-0-t-7 .number:after, #steps-uid-0-t-8 .number:after {
	color: #bbb;
}

#steps-uid-0-t-2 .number:after {
	content: "16";
}

#steps-uid-0-t-3 .number:after {
	content: "17";
}

#steps-uid-0-t-4 .number:after {
	content: "18";
}

#steps-uid-0-t-5 .number:after {
	content: "19";
}

#steps-uid-0-t-6 .number:after {
	content: "20";
}

#steps-uid-0-t-7 .number:after {
	content: "21";
}

#steps-uid-0-t-8 .number:after {
	content: "22";
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-2 {
	color: #333333 !important;
}
</style>
		<!-- Page Header -->
		<h:form id="oraltestform" prependId="false">

			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							Recruitment Process - #{msg['generate_oral_exam_list']} <span
								class="label stageLabel label-primary label-rounded">16 /
								26</span>
						</h4>

						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
							<li class="active">#{msg['generate_oral_exam_list']}</li>
						</ul>

					</div>
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content p-content">
				<ui:include src="recruitmentProcessWorkFlow.xhtml" />
			</div>

			<div class="content">
				
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-5"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading panelHeading-fix">
								<h6 class="panel-title">#{msg['generate_oral_exam_list']} <span class="pull-right"
									style="font-size: 12px; padding-top: 3px;"> (<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span></h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in topFix">
								<div class="panel-body panelBody-fix">
									<div class="view-style">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['adver_num']}" />
													<span class="">#{oralTestSelectionBean.oralTestSelection.writtenExamMarkList.jobAdvertisement.notificationNumber}</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['req_post']}" />
													<span class="">#{oralTestSelectionBean.oralTestSelection.writtenExamMarkList.recruitmentPost}</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['req_year']}" />
													<span class="">#{oralTestSelectionBean.oralTestSelection.writtenExamMarkList.recruitmentYear}</span>
												</div>
											</div>
										</div>
									</div>

									<h6 class="m-t-0">#{msg['oral_test_sec']} #{msg['list']}</h6>

									<p:dataTable
										value="#{oralTestSelectionBean.oralTestSelection.oralTestSelectionSummary}"
										tableStyleClass="table-bordered" var="oralTest" rowIndexVar="idx">
										<p:column headerText="#" class="text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['roster']}" >
											<h:outputText value="#{oralTest.rosterName}" />
										</p:column>
										<p:column headerText="#{msg['no_cand_recruit']}" class="text-right">
											<h:outputText value="#{oralTest.candidateToBeRecruited}" />
										</p:column>
										<p:column headerText="#{msg['no_of_can_oral_test']}"
											class="text-right">
											<h:outputText value="#{oralTest.candidateSelectedForOral}" />
										</p:column>
										<p:column headerText="#{msg['total_number_of_candi']}"
											class="text-right">
											<h:outputText value="#{oralTest.totalNumberOfCandidate}" />
										</p:column>
										<p:column headerText="#{msg['action']}" class="text-center">
											<p:commandButton value="&#xea18;" title="#{msg['view']}"
												class="btn btn-sm bg-info font-iconmoon"
												action="#{oralTestSelectionBean.viewOralDetails(oralTest)}"
												oncomplete="PF('appList').show()" disabled="#{oralTest.totalNumberOfCandidate == 0}" immediate="true"
												update="applications applicationList"></p:commandButton>
										</p:column>

									</p:dataTable>
									<div class="m-t-10">
										<p:outputPanel id="remarkspanel">
											<div class="form-group ">
												<p:outputLabel value="#{msg['remarks']}" />
												<span class="text-danger">*</span>
												<p:inputTextarea id="remarks" required="true"
													requiredMessage="Remarks is mandatory"
													value="#{oralTestSelectionBean.oralTestSelection.remarks}"
													rows="3" class="form-control" maxlength="250"
													validatorMessage="Please enter remarks not more than 250"
													placeholder="Remarks">
													<f:validateLength maximum="250" />
												</p:inputTextarea>
												<small>#{msg['textarea_msg']}</small>
											</div>
											<h:message for="remarks" class="validation-error-label" />
										</p:outputPanel>
									</div>

									<div class="text-right m-b-10">
										<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}" title="#{msg['cancel']}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();" immediate="true"
											action="#{writtenExaminationBean.loadWrittenExamMarkLists}"
											class="btn btn-sm bg-slate fa-input m-l-10">
										</p:commandButton>
										<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}" title="#{msg['submit']}"
											action="#{oralTestSelectionBean.saveOralTestSelection()}"
											update="remarkspanel form"
											class="btn btn-sm bg-success fa-input m-l-10" />

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- colleps panel end -->
				</div>
			
			<p:dialog modal="true" id="applications"
				header="#{msg['orl_exam_sele_list']}  "
				styleClass="p-0 overlay-pop modal-dialog modal-full" closable="true"
				widgetVar="appList" showEffect="fade" hideEffect="fade"
				closeOnEscape="true">
				<p:commandButton value="&#xf00c;&nbsp; #{msg['can_sel_for_ex']}" title="#{msg['can_sel_for_ex']}"
					class="btn btn-sm bg-success fa-input m-l-10" immediate="true"
					update="selectedApps totalApps">
					<f:setPropertyActionListener value="SelectedCandidates"
						target="#{oralTestSelectionBean.action}"></f:setPropertyActionListener>
				</p:commandButton>
				<p:commandButton value="&#xf00c;&nbsp; #{msg['tot_candidates']}" title="#{msg['tot_candidates']}"
					update="selectedApps totalApps" immediate="true"
					class="btn btn-sm bg-success fa-input m-l-10">

					<f:setPropertyActionListener value="TotalCandidates"
						target="#{oralTestSelectionBean.action}"></f:setPropertyActionListener>
				</p:commandButton>


				<div class="modal-body p-10 border0">
					<p:outputPanel id="selectedApps">
						<p:dataTable id="applicationList"
							rendered="#{oralTestSelectionBean.action eq 'SelectedCandidates'}"
							value="#{oralTestSelectionBean.oralTestSelectedApplins}"
							tableStyleClass="" var="oraltestdet"
							rowIndexVar="idx">
							<p:column headerText="#">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column headerText="#{msg['app_no']}">
								<h:outputText value="#{oraltestdet.applicationNumber}" />
							</p:column>
							<p:column headerText="#{msg['reg_no']}" class="text-right">
								<h:outputText value="#{oraltestdet.registerationNumber}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['candidate_name']}"
								class="text-right">
								<h:outputText value="#{oraltestdet.candidateName}" />
							</p:column>
							<p:column headerText="#{msg['community']}" class="text-right">
								<h:outputText value="#{oraltestdet.community}" />
							</p:column>
							<p:column headerText="#{msg['type']}" class="text-right">
								<h:outputText value="#{oraltestdet.privilegeType}" />
							</p:column>
							<p:column headerText="#{msg['dob']}" class="text-right">
								<h:outputText value="#{oraltestdet.dateOfBirth}" >
								<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['written_examination_mark']}"
								class="text-right">
								<h:outputText value="#{oraltestdet.marks}" />
							</p:column>
							<p:column headerText="#{msg['rank']}" class="text-right">
								<h:outputText value="#{oraltestdet.rank}" />
							</p:column>
						</p:dataTable>
					</p:outputPanel>
					<p:outputPanel id="totalApps">
						<p:dataTable id="TotalApplications"
							rendered="#{oralTestSelectionBean.action eq 'TotalCandidates'}"
							value="#{oralTestSelectionBean.oralTestSelectionDetails}"
							var="oraltestdet" rowIndexVar="idx">
							<p:column headerText="#">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column headerText="#{msg['app_no']}">
								<h:outputText value="#{oraltestdet.applicationNumber}" />
							</p:column>
							<p:column headerText="#{msg['reg_no']}" class="text-right">
								<h:outputText value="#{oraltestdet.registerationNumber}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['candidate_name']}"
								class="text-right">
								<h:outputText value="#{oraltestdet.candidateName}" />
							</p:column>
							<p:column headerText="#{msg['community']}" class="text-right">
								<h:outputText value="#{oraltestdet.community}" />
							</p:column>
							<p:column headerText="#{msg['type']}" class="text-right">
								<h:outputText value="#{oraltestdet.privilegeType}" />
							</p:column>
							<p:column headerText="#{msg['dob']}" class="text-right">
								<h:outputText value="#{oraltestdet.dateOfBirth}" >
								<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['written_examination_mark']}"
								class="text-right">
								<h:outputText value="#{oraltestdet.marks}" />
							</p:column>
							<p:column headerText="#{msg['rank']}" class="text-right">
								<h:outputText value="#{oraltestdet.rank}" />
							</p:column>
						</p:dataTable>
					</p:outputPanel>
				</div>

				<div class="modal-footer m-t-10 border0">
					<p:commandButton value="&#xed6a; #{msg['close']}" title="#{msg['close']}"
						styleClass="btn btn-sm bg-slate font-iconmoon"
						oncomplete="PF('appList').hide()" />
				</div>


			</p:dialog>

		</h:form>

	</ui:define>
</ui:composition>
