<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Transfer Initiation RM | Department HO
			Listing</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['trans_initi_rm_list']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">Personnel - HR</a></li>
							<li class="active">#{msg['trans_initi_rm_list']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ref_num']}" />
									<p:inputText id="refNumber" placeholder="01253"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<p:inputText id="empname" placeholder="Ezhilarasan"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<p:inputText id="designation" placeholder="Helper"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['to_region']}" />
									<div class="form-group">
										<h:selectOneMenu id="toregion"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Chennai" itemValue="true" />
											<f:selectItem itemLabel="Coimbatore" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="clearfix"></div>
							<div class="col-lg-12 text-right">
								<div class="form-group">
									<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
									<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										action="#{discountDetailsBean.search}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
									</p:commandButton>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-12">
								<div class="portlet m-b-0">
									<div class="panel-grey">
										<h3 class="portlet-title">#{msg['trans_initi_rm_list']}</h3>
										<div class="clearfix"></div>
									</div>
									<div id="bg-primary1" class="panel-collapse collapse in">
										<div class="portlet-body p0">
											<div class="row">
												<div class="col-md-12">
													<div class="table-responsive table-bordered">
														<p:dataTable id="table" var="data"
															value="#{entityMasterBean.entityList}"
															paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															rows="5" paginator="true" paginatorPosition="bottom"
															styleClass="cust-table" rowsPerPageTemplate="5,10,15"
															rowIndexVar="idx">
															<p:column headerText="#{msg['serial_no']}"
																style="width:50px; text-align:center;">
																<h:outputText value="#{idx+1}" />
															</p:column>
															<p:column headerText="#{msg['ref_num']}"
																styleClass="text-center">
																<h:outputText value="2476006" />
															</p:column>
															<p:column headerText="#{msg['emp_name']}">
																<h:outputText value="Ashwin" />
															</p:column>
															<p:column headerText="#{msg['to_region']}">
																<h:outputText value="Chennai" />
															</p:column>
															<p:column headerText="#{msg['req_dept']}">
																<h:outputText value="Admin" />
															</p:column>
															<p:column headerText="#{msg['req_date']}"
																styleClass="text-center">
																<h:outputText value="12-Jun-2017" />
															</p:column>
															<p:column headerText="#{msg['status']}"
																styleClass="text-center">
																<h:outputText class="text-warning" value="Pending" />
															</p:column>
															<p:column headerText="#{msg['action']}">
																<p:commandLink title="#{msg['edit']}"
																	styleClass="btn btn-xs btn-primary waves-effect waves-light m-r-5">
																	<i class="fa fa-edit"></i>
																</p:commandLink>
																<p:commandLink title="#{msg['view']}"
																	styleClass="btn btn-xs btn-info waves-effect waves-light m-r-5">
																	<i class="fa fa-eye"></i>
																</p:commandLink>
															</p:column>
															<!-- <f:facet name="footer">
																<p:commandLink
																	class="btn btn-xs btn-primary waves-effect waves-light fa-input">
																	<i class="fa fa-download"></i> PDF </p:commandLink>
																<p:commandLink
																	class="btn btn-xs btn-success waves-effect waves-light fa-input m-l-10">
																	<i class="fa fa-download"></i> Excel </p:commandLink>
															</f:facet> -->
														</p:dataTable>
													</div>
												</div>
												<!-- end col -->
												<div class="clearfix"></div>
											</div>
											<!-- end row -->

										</div>
									</div>
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
