<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('STAFF_ELIGIBILITY_LIST')}" />
		</f:metadata>
		<h:form>
			<title>InfoTex | Staff Eligibility Statement List</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['staffelistalist']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['recruit_pro']}</li>
							<li>#{msg['per_recui']}</li>
							<li class="active">#{msg['staffelistalist']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-lg-4">
						<h6 class="panel-title m-t-5">
							<strong><h:outputText
									value="#{staffEligibilityBean.totalRecords}" id="recordcount"></h:outputText></strong>
							- #{msg['staff_elg_stmt']}(s)
						</h6>
					</div>
					<div class="col-lg-8 text-right">
						<div class="form-group m-b-10">
							<h:panelGroup id="menupanel">
								<p:commandButton value="&#xea0e; #{msg['add']}" id="addId"
									action="#{staffEligibilityBean.addStaffEligibility}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_ADD'] and !staffEligibilityBean.addButtonFlag}"
									title="#{msg['add']}"
									class="btn resbutmt5 bg-success font-iconmoon">
									<f:setPropertyActionListener value="ADD"
										target="#{staffEligibilityBean.action}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton value="&#xeda7; #{msg['generateroster']}"
									id="generateId"
									action="#{rosterReservationBean.loadInitialData}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" update="growls"
									rendered="#{loginBean.userFeatures['ROSTER_RESERVATION_ADD'] and !staffEligibilityBean.generateFlag}"
									title="#{msg['generateroster']}"
									class="lobutton resbutmt5 btn bg-primary font-iconmoon">
									<f:setPropertyActionListener value="GENERATE"
										target="#{rosterReservationBean.action}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton value="&#xe912; #{msg['edit']}"
									action="#{staffEligibilityBean.editStaffEligibility}"
									title="#{msg['edit']}"
									disabled="#{!staffEligibilityBean.editButtonFlag}"
									update="growls"
									rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_EDIT']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									class="btn bg-primary font-iconmoon" id="editId">
									<f:setPropertyActionListener value="EDIT"
										target="#{staffEligibilityBean.action}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{staffEligibilityBean.viewStaffEligibility}"
									update="growls"
									rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_VIEW'] and !staffEligibilityBean.viewButtonFlag}"
									title="#{msg['view']}"
									class="btn resbutmt5 bg-info font-iconmoon">
									<f:setPropertyActionListener value="VIEW"
										target="#{staffEligibilityBean.action}"></f:setPropertyActionListener>
								</p:commandButton>

								<ui:remove>
									<p:commandButton value="&#xe99e; #{msg['delete']}"
										id="deleteId" onclick="PF('progressDlg').show();"
										rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_DELETE'] and !staffEligibilityBean.deleteFlag}"
										oncomplete="PF('progressDlg').hide();"
										action="#{staffEligibilityBean.deleteStaffEligibility}"
										update="growls" title="#{msg['delete']}"
										class="btn resbutmt5 bg-danger font-iconmoon">
										<f:setPropertyActionListener value="DELETE"
											target="#{staffEligibilityBean.action}"></f:setPropertyActionListener>
									</p:commandButton>
								</ui:remove>
								<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
									class="btn resbutmt5 bg-slate font-iconmoon"
									action="#{staffEligibilityBean.clear}">
								</p:commandButton>
							</h:panelGroup>
						</div>
					</div>
				</div>

				<div class="panel">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<p:dataTable widgetVar="stafftablewdgt" rowKey="#{staffEligi.id}"
								value="#{staffEligibilityBean.staffEligibilityList}"
								selection="#{staffEligibilityBean.selectedStaffEligibilityStmt}"
								var="staffEligi" rowIndexVar="idx" lazy="true"
								emptyMessage="#{msg['no_record_found']}"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rows="10" paginator="true" paginatorPosition="bottom"
								tableStyleClass="" rowsPerPageTemplate="5,10,15">
								<p:ajax event="filter" oncomplete="updateFilterSelection()" />
								<p:ajax event="page" onstart="PF('progressDlg').show()"
									onsuccess="PF('progressDlg').hide()" />
								<p:ajax event="rowSelectRadio"
									listener="#{staffEligibilityBean.onRowSelect}"
									update=":#{p:component('addId')},#{p:component('viewId')},#{p:component('generateId')},#{p:component('menupanel')}" />
								<p:column headerText="#" styleClass="text-center width-3">
									<h:outputText value="#{idx+1}" />
								</p:column>

								<p:column headerText="#{msg['ref_num']}" filterable="true"
									filterBy="#{staffEligi.referenceNumber}"
									filterMatchMode="contains" styleClass="width-12"
									sortBy="#{staffEligi.referenceNumber}" sortable="true">
									<f:facet name="filter">
										<p:inputText id="referenceFilter" class="form-control "
											onkeyup="PF('stafftablewdgt').filter()">
											<p:focus for="referenceFilter"></p:focus>
										</p:inputText>
									</f:facet>
									<h:outputText value="#{staffEligi.referenceNumber}" />
								</p:column>

								<p:column headerText="#{msg['state']}" filterable="true"
									filterBy="#{staffEligi.state.id}" filterMatchMode="contains"
									sortBy="#{staffEligi.state.name}" sortable="true"
									styleClass="width-12">
									<f:facet name="filter">
										<h:selectOneMenu id="postFilter" class="form-control"
											onchange="PF('stafftablewdgt').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems value="#{staffEligibilityBean.stateList}"
												var="state" itemLabel="#{state.name}"
												itemValue="#{state.id}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{staffEligi.state.name}" />
								</p:column>

								<p:column headerText="#{msg['req_post']}" filterable="true"
									filterBy="#{staffEligi.recruitmentForPost.id}"
									filterMatchMode="contains"
									sortBy="#{staffEligi.recruitmentForPost.name}" sortable="true"
									styleClass="width-20">
									<f:facet name="filter">
										<h:selectOneMenu id="desigFilter" class="form-control"
											onchange="PF('stafftablewdgt').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{staffEligibilityBean.designationList}" var="desig"
												itemLabel="#{desig.name}" itemValue="#{desig.id}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText title="#{staffEligi.recruitmentForPost.name}"
										value="#{(staffEligi.recruitmentForPost.name).length() gt 25 ? fn:substring({staffEligi.recruitmentForPost.name}, 1, 24).concat('...'):(staffEligi.recruitmentForPost.name)}" />
								</p:column>
								
								<p:column headerText="#{msg['req_year']}" filterable="true"
									filterBy="#{staffEligi.recruitmentYear}"
									filterMatchMode="exact" sortBy="#{staffEligi.recruitmentYear}"
									sortable="true" styleClass="width-12 text-center">
									<f:facet name="filter">
										<p:inputText id="recruitmentYear" class="form-control "
											onkeyup="PF('stafftablewdgt').filter()">
											<p:keyFilter mask="num"></p:keyFilter>
										</p:inputText>

									</f:facet>
									<h:outputText value="#{staffEligi.recruitmentYear}" />
								</p:column>
								
								<p:column headerText="#{msg['dept']}" filterable="true"
									styleClass="width-10" filterBy="#{staffEligi.department.id}"
									filterMatchMode="exact" sortBy="#{staffEligi.department.name}"
									sortable="true">

									<f:facet name="filter">
										<h:selectOneMenu id="departmentFiter" class="form-control"
											onchange="PF('stafftablewdgt').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems value="#{staffEligibilityBean.departmentList}"
												var="dept" itemLabel="#{dept.name}" itemValue="#{dept.id}" />

										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{staffEligi.department.name}" />
								</p:column>
								<p:column headerText="#{msg['entity']}" filterable="true"
									filterBy="#{staffEligi.entity}" filterMatchMode="exact"
									sortBy="#{staffEligi.entity}" sortable="true">
									<f:facet name="filter">
										<h:selectOneMenu id="entityFilter" class="form-control"
											onchange="PF('stafftablewdgt').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{staffEligibilityBean.entityMasterList}"
												var="entity" itemLabel="#{entity.name}"
												itemValue="#{entity.name}" />

										</h:selectOneMenu>
									</f:facet>
									<h:outputText
										value="#{(staffEligi.entity).length() gt 15 ? fn:substring({staffEligi.entity}, 1, 13).concat('...'):(staffEligi.entity)}" />
									<!-- 												<h:outputText value="#{staffEligi.entity}" /> -->

								</p:column>
								<p:column headerText="#{msg['status']}" filterable="true"
									filterBy="#{staffEligi.status}" filterMatchMode="contains"
									sortBy="#{staffEligi.status}" sortable="true"
									class="text-center width-8">
									<f:facet name="filter">
										<h:selectOneMenu id="statusFiter" class="form-control"
											onchange="PF('stafftablewdgt').filter()">
											<f:selectItem itemLabel="Select" />
											<f:selectItem itemLabel="INPROGRESS" itemValue="INPROGRESS" />
											<f:selectItem itemLabel="SUBMITTED" itemValue="SUBMITTED" />
											<f:selectItem itemLabel="APPROVED" itemValue="APPROVED" />
											<f:selectItem itemLabel="REJECTED" itemValue="REJECTED" />
											<f:selectItem itemLabel="FINAL_APPROVED"
												itemValue="FINAL_APPROVED" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{staffEligi.status}"
										styleClass="label label-default width-custom"
										rendered="#{staffEligi.status eq 'INPROGRESS'}" />

									<h:outputText value="#{staffEligi.status}"
										styleClass="label label-warning width-custom"
										rendered="#{staffEligi.status eq 'SUBMITTED'}" />

									<h:outputText value="#{staffEligi.status}"
										styleClass="label label-success width-custom"
										rendered="#{staffEligi.status eq 'APPROVED'}" />

									<h:outputText value="#{staffEligi.status}"
										styleClass="label label-success width-custom"
										rendered="#{staffEligi.status eq 'FINAL_APPROVED'}" />
									<h:outputText value="#{staffEligi.status}"
										styleClass="label label-danger width-custom"
										rendered="#{staffEligi.status eq 'REJECTED'}" />

									<!-- <h:outputText
										styleClass="#{staffEligi.status eq 'InProgress' ? 'label label-warning sts_shortl':staffEligi.status eq 'Approved'?'label label-success sts_shortl':'label label-danger sts_shortl'}"
										value="#{staffEligi.status}" /> -->
								</p:column>
								<p:column headerText="#{msg['select']}" selectionMode="single"
									styleClass="text-center width-4" />

							</p:dataTable>
							<p:remoteCommand name="updateFilterSelection"
								update=":#{p:component('recordcount')}" autoRun="true" />
						</div>
					</div>
				</div>
			</div>


			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmStaffEligiDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">

				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmStaffEligiDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{staffEligibilityBean.deleteStaffEligiConfirm}"
						oncomplete="PF('confirmStaffEligiDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>