<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="jobApproveForm">
			<p:outputPanel id="jobApprovePanel">
				<title>#{msg['infotex']} | #{msg['list']}
					#{msg['app_job_scrutinization']}</title>
				<!-- Page Header -->
				<div class="page-header page-header-default"
					style="margin-top: 50px;">
					<div class="page-header-content">
						<div class="page-title">
							<h4>
								<i class="icon-file-plus position-left"></i>
								#{msg['app_job_scrutinization']}
							</h4>
							<ul class="breadcrumb">
								<li><a href="index.html"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li><a href="components_page_header.html">Personal HR</a></li>
								<li class="active">#{msg['app_job_scrutinization']}
									#{msg['list']}</li>
							</ul>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</div>
					</div>
				</div>
				<!-- End Page Header -->

				<div class="content">
					<div class="row">
						<div class="col-lg-6">
						<h6 class="panel-title">

						<p:outputLabel id="totalSize"
							value="#{JobApplicationApprovalBean.totalRecords}"
							styleClass="textb play_class" />
						- Total  #{msg['app_job_scrutinization']} #{msg['list']} <a class="heading-elements-toggle"><i
									class="icon-more"></i></a>
					  </h6>
							
						</div>
						<div class="col-lg-6 text-right">
							<div class="form-group m-b-10">
								<p:commandButton value="&#xea18; #{msg['view']}"
								     update="growls"
									 action="#{JobApplicationApprovalBean.viewJobApproval}"
									class="btn bg-info heading-btn  font-iconmoon">
								</p:commandButton>
								
								<p:commandButton value="&#xe916; #{msg['clear']}"
								     update="jobApprovePanel"
								     onclick="PF('progressDlg').show();" 
							         oncomplete="PF('progressDlg').hide();"
								     action="#{JobApplicationApprovalBean.clear}"
									class="btn bg-slate font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
					<div class="panel panel-info ">
						<div class="panel-body p-0">
							<div class="table-responsive">
								<p:dataTable id="table" var="data" class="table "
									widgetVar="table" tableStyleClass="" rowKey="#{data.primaryKey.jobAppId}"
									selection="#{JobApplicationApprovalBean.selectedJobApplicationApproval}"
									value="#{JobApplicationApprovalBean.jobApplicationApprovalList}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									paginator="true" paginatorPosition="bottom"
									rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
									styleCalss="" emptyMessage="No records found">
									<p:ajax event="filter" oncomplete="updateFilterSelection()" />
									<p:ajax event="page" onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()" />
									<!-- SI No.  -->
									<p:column headerText="#{msg['serial_no']}"
										style="text-align: center; width: 6%;">
										<h:outputText value="#{idx+1}" />
									</p:column>


									<!--Application Number.  -->
									<p:column id="appNuber" filterable="true"
										filterBy="#{data.jobApplication.applicationNo}" filterMatchMode="contains"
										style="width:8%;" headerText="#{msg['app_no']}"
										sortBy="#{data.jobApplication.applicationNo}" sortable="true">
										<h:outputText value="#{data.jobApplication.applicationNo}" />

									</p:column>

									<!-- Date of Application -->

									 <p:column headerText="#{msg['dt_of_app']}" style="width:10%"
										styleClass="text-center form-group_calend"
										sortBy="#{data.jobApplication.registrationDate}" sortable="true"
										filterBy="#{data.jobApplication.registrationDate}" filterMatchMode="exact">
										<f:facet name="filter">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												id="registrationDate" pattern="dd-MM-yyyy" placeholder="DD-MM-YYYY"
												yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />

											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.jobApplication.registrationDate}">
											<f:convertDateTime pattern="dd-MM-yyyy" timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>


									candidate Name. 
									<p:column id="empcode" filterable="true"
										filterBy="#{data.jobApplication.firstName}" filterMatchMode="contains"
										style="width:8%;" headerText="#{msg['candidate_name']}"
										sortBy="#{data.jobApplication.firstName}" sortable="true">
										<h:outputText value="#{data.jobApplication.firstName}" />

									</p:column>

                                  Post Applied. 
                                      
									<p:column id="appliedPost" filterable="true"
										filterBy="#{data.jobApplication.appliedPost.name}" filterMatchMode="contains"
										style="width:8%;" headerText="#{msg['post_applied']} " 
										sortBy="#{data.jobApplication.appliedPost}" sortable="true">
										<h:outputText value="#{data.jobApplication.appliedPost.name}" />

									</p:column>

                                 Exam centre Preference
                                    <p:column id="examCentrePreference" filterable="true"
										filterBy="#{data.jobApplication.preferredExamCenter.name}" filterMatchMode="contains"
										style="width:8%;" headerText="#{msg['exam_center_per']}"
										sortBy="#{data.jobApplication.preferredExamCenter.name}" sortable="true">
										<h:outputText value="#{data.jobApplication.preferredExamCenter.name}" />

									</p:column>



									Gender

									<p:column filterBy="#{data.jobApplication.gender.name}"
										headerText="#{msg['gdr']}" filterMatchMode="exact"
										sortBy="#{data.jobApplication.gender.name}" sortable="true" styleClass=""
										style="width:9%">

										<f:facet name="filter">
											<h:selectOneMenu onchange="PF('table').filter()"
												id="gender" class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems value="#{JobApplicationApprovalBean.genderMasterList}"
													var="dp" itemLabel="#{dp.name}" itemValue="#{dp.name}" />
											</h:selectOneMenu>
										</f:facet>

										<h:outputText value="#{data.jobApplication.gender.name}"
											styleClass="text-left" />
									</p:column>


									Community

									<p:column filterBy="#{data.jobApplication.additionalInfo.community.name}"
										headerText="#{msg['community']}" filterMatchMode="exact"
										sortBy="#{data.jobApplication.additionalInfo.community.name}" sortable="true" styleClass=""
										style="width:9%">

										<f:facet name="filter">
											<h:selectOneMenu onchange="PF('table').filter()"
												id="community" class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems value="#{JobApplicationApprovalBean.communityList}"
													var="dp" itemLabel="#{dp.name}" itemValue="#{dp.name}" />
											</h:selectOneMenu>
										</f:facet>

										<h:outputText value="#{data.jobApplication.additionalInfo.community.name}"
											styleClass="text-left" />
									</p:column>



									Status

									<p:column headerText="#{msg['status']}"
										filterBy="#{data.jobApplicationStatus}" sortBy=" #{data.jobApplicationStatus}"
										sortable="true" styleClass="text-center" style="width:8%">
										<f:facet name="filter">
											<h:selectOneMenu class="form-control select2"
												onchange="PF('table').filter()">
												<f:selectItem itemLabel="#{msg['select']}" />
												<f:selectItem itemLabel="Approved" itemValue="Approved" />
												<f:selectItem itemLabel="Rejected" itemValue="Rejected"/>
												<f:selectItem itemLabel="InProgress" itemValue="InProgress"/>
											</h:selectOneMenu>
										</f:facet>

										<h:outputText
											styleClass="#{data.jobApplicationStatus eq 'Rejected' ? 'label label-success width-custom w100':'label label-danger width-custom w100' }"
											value="#{data.jobApplicationStatus}">
										</h:outputText>

									</p:column> 

									<!-- Select Radio Button -->
									<p:column headerText="#{msg['select']}"	styleClass="text-center" selectionMode="single"
										style="width:7%">
									</p:column>

								</p:dataTable>
                                <p:remoteCommand name="updateFilterSelection"
													update=":#{p:component('totalSize')}" autoRun="true" />
							</div>

						</div>
					</div>

				</div>
				<p:dialog widgetVar="progressDlg" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false">
					<img src="#{request.contextPath}/assets/images/preloader.gif" />
				</p:dialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>