<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>InfoTex | Employee Payroll Register List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default page-header-wizard"
			style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['emp_payrollreglist']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['emp_payrollreglist']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{employeePayrollRegisterBean.totalRecords}"
								id="totalSize"></h:outputText></span> -
						#{msg['employee']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group  m-b-10">
						<p:commandButton value="&#xea7a;&nbsp;#{msg['run_checklist']}"
							title="#{msg['run_checklist']}"
							disabled="#{employeePayrollRegisterBean.runCheckListFlag}"
							update="runchecklistpanelid growls"
							id="runchecklistid"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();"
							actionListener="#{employeePayrollRegisterBean.clickPayrollCheckList}"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>

						<p:commandButton value="&#xea7a;&nbsp;#{msg['run_payroll']}"
							title="#{msg['run_payroll']}" update="runpayrollpanelid growls"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();" 
							actionListener="#{employeePayrollRegisterBean.clickRunPayroll}"
							class="btn bg-brown heading-btn  font-iconmoon">
						</p:commandButton>

						<p:commandButton title="#{msg['download_payslip']}"
							value="&#xeab7;&nbsp;#{msg['download_payslip']}"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();" process="@this"
							class="btn bg-primary heading-btn font-iconmoon"
							update="pwdpanelid growls"
							actionListener="#{employeePayrollRegisterBean.clickDownloadPdf}">
						</p:commandButton>
						
						<p:commandButton title="#{msg['un_paid']}"
							value="&#xea7a;&nbsp;#{msg['un_paid']}"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();" process="@this"
							class="btn bg-danger heading-btn font-iconmoon"
							update="unpaidpanelid growls"
							actionListener="#{employeePayrollRegisterBean.clickUnpaid}">
						</p:commandButton>

						<p:commandButton value="&#xea7a;&nbsp;#{msg['edit_payslip']}"
							title="#{msg['edit_payslip']}"
							rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}"
							update="editpayslippanelid growls"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();"
							actionListener="#{employeePayrollRegisterBean.editPayslip}"
							class="btn bg-warning heading-btn  font-iconmoon">
						</p:commandButton>

						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							onclick="PF('progressDlg').show();" title="#{msg['clear']}"
							oncomplete="PF('progressDlg').hide();"
							action="#{employeePayrollRegisterBean.clear}"
							class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table ">
									<div class="ui-datatable-scrollable-header-box cust-table ">
										<div class=" ">
											<div class="panel-body p-0">
												<p:dataTable id="table" var="data" class="table "
													widgetVar="table" tableStyleClass="" lazy="true"
													selection="#{employeePayrollRegisterBean.selectedEmployee}"
													rowKey="#{data.id}"
													value="#{employeePayrollRegisterBean.employeeMasterResponseLazyList}"
													paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
													paginator="true" paginatorPosition="bottom"
													rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
													styleCalss="" emptyMessage="#{msg['no_records_found']}">
													<p:ajax event="rowSelectRadio" update="runchecklistid"
														listener="#{employeePayrollRegisterBean.onRowSelect}" />
													<p:ajax event="page" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()" />

													<!-- SI No.  -->
													<p:column headerText="#{msg['s_no']}"
														styleClass="width-3 text-center">
														<h:outputText value="#{idx+1}" />
													</p:column>

													<!-- Employee Id.  -->
													<ui:remove>
														<p:column id="empcode" filterable="true"
															filterBy="#{data.empCode}" filterMatchMode="contains"
															headerText="#{msg['emp_id']}" styleClass="width-10"
															sortBy="#{data.empCode}" sortable="true">
															<h:outputText value="#{data.empCode}" />
														</p:column>
													</ui:remove>

													<!-- PF Number.  -->
													<p:column id="pfNumber" filterable="true"
														styleClass="width-10" filterBy="#{data.pfNumber}"
														filterMatchMode="contains" headerText="#{msg['pf_no']}"
														sortBy="#{data.pfNumber}" sortable="true">
														<h:outputText value="#{data.pfNumber}" />
													</p:column>

													<!-- Employee Name -->
													<p:column filterable="true" filterBy="#{data.firstName}"
														filterMatchMode="contains" styleClass="width-20"
														headerText="#{msg['emp_name']}" sortBy="#{data.firstName}"
														sortable="true">
														<h:outputText value="#{data.firstName} #{data.lastName}" />
													</p:column>


													<!-- Designation -->
													<p:column filterBy="#{data.designationName}"
														styleClass="width-12" headerText="#{msg['designation']}"
														filterMatchMode="exact" sortBy="#{data.designationName}"
														sortable="true">

														<f:facet name="filter">
															<h:selectOneMenu onchange="PF('table').filter()"
																id="designation" class="form-control select2">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}" noSelectionOption="true" />
																<f:selectItems
																	value="#{employeePayrollRegisterBean.designationList}"
																	var="dg" itemLabel="#{dg.name}" itemValue="#{dg.name}" />
															</h:selectOneMenu>
														</f:facet>
														<h:outputText value="#{data.designationName}"
															styleClass="text-left" />
													</p:column>
													<!-- Region-->

													<p:column filterBy="#{data.regionName}"
														headerText="#{msg['work_location']}"
														filterMatchMode="exact" sortBy="#{data.regionName}"
														sortable="true" styleClass="width-12">

														<f:facet name="filter">
															<h:selectOneMenu onchange="PF('table').filter()"
																id="region" class="form-control select2">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}" noSelectionOption="true" />
																<f:selectItems
																	value="#{employeePayrollRegisterBean.regionList}"
																	var="rg" itemLabel="#{rg.name}" itemValue="#{rg.name}" />
															</h:selectOneMenu>
														</f:facet>
														<h:outputText value="#{data.regionName}"
															styleClass="text-left" />
													</p:column>

													<!-- Employee Department-->
													<p:column filterBy="#{data.department}"
														headerText="#{msg['dept']}" filterMatchMode="exact"
														sortBy="#{data.department}" sortable="true"
														styleClass="width-10">
														<f:facet name="filter">
															<h:selectOneMenu onchange="PF('table').filter()"
																id="department" class="form-control select2">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}" noSelectionOption="true" />
																<f:selectItems
																	value="#{employeePayrollRegisterBean.departmentList}"
																	var="dp" itemLabel="#{dp.name}" itemValue="#{dp.name}" />
															</h:selectOneMenu>
														</f:facet>
														<h:outputText value="#{data.department}"
															styleClass="text-left" />
													</p:column>

													<!-- date of joining -->
													<p:column headerText="#{msg['dt_joining']}"
														styleClass="text-center form-group_calend width-15"
														sortBy="#{data.dateOfJoining}" sortable="true"
														filterBy="#{data.dateOfJoining}" filterMatchMode="exact">
														<f:facet name="filter">
															<p:calendar autocomplete="off" readonlyInput="true"
																onchange="PF('table').filter()" navigator="true"
																id="dateOfJoining" pattern="dd-MMM-yyyy"
																placeholder="dd-MMM-yyyy" yearRange="c-100:c+100"
																maxdate="java.util.Date" mask="true"
																styleClass="form-control calend-icon">
																<p:ajax event="dateSelect"
																	oncomplete="PF('table').filter()" />
															</p:calendar>
														</f:facet>
														<h:outputText value="#{data.dateOfJoining}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText>
													</p:column>

													<!-- Status -->
													<p:column headerText="#{msg['status']}"
														filterBy="#{data.activeStatus}"
														sortBy=" #{data.activeStatus}" sortable="true"
														styleClass="text-center width-10">
														<f:facet name="filter">
															<h:selectOneMenu class="form-control select2"
																onchange="PF('table').filter()">
																<f:selectItem itemLabel="#{msg['select']}" />
																<f:selectItem itemLabel="#{msg['active']}"
																	itemValue="true" />
																<f:selectItem itemLabel="#{msg['inactive']}"
																	itemValue="false" />
															</h:selectOneMenu>
														</f:facet>

														<h:outputText
															styleClass="#{data.activeStatus eq true ? 'label label-success sts_shortl':'label label-default sts_shortl'}"
															value="#{data.activeStatus eq true ? 'Active' : 'inactive' }">
														</h:outputText>

													</p:column>

													<!-- Select Radio Button -->
													<p:column headerText="#{msg['select']}"
														styleClass="text-center width-4" selectionMode="single">
													</p:column>
												</p:dataTable>

												<p:remoteCommand name="updateFilterSelection"
													update=":#{p:component('totalSize')}" autoRun="true" />

												<ui:remove>
													<div class="m-t-5">
														<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
															title="#{msg['print']}"
															class="btn bg-primary heading-btn  font-iconmoon">
														</p:commandButton>
													</div>
												</ui:remove>

												<p:confirmDialog id="confirmDelete" global="true"
													showEffect="fade" position="center">
													<div class="text-right">
														<p:commandButton value="#{msg['no']}" type="button"
															update="promotionTable"
															styleClass="btn btn-sm btn-default ui-confirmdialog-no ">
														</p:commandButton>
														<p:commandButton value="#{msg['yes']}" type="button"
															styleClass="btn btn-sm btn-primary ui-confirmdialog-yes m-l-10" />
													</div>
												</p:confirmDialog>
											</div>
										</div>
										<!-- Pagination End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>

		<!-- Confirm Delete Start -->
		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmUserDelete" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmUserDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{employeePayrollRegisterBean.deleteEmployeeConfirm}"
					oncomplete="PF('confirmUserDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Confirm Delete End -->

		<!-- Create Login Start -->
		<p:dialog header="#{msg['create_login']}" draggable="true"
			modal="true" styleClass="p-0 close-popup overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="createLogin" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<p:outputPanel id="passwordPanel">

				<div class="row">
					<div class="col-lg-12 col-md-6 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="#{msg['name']}" />
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-user"></i></span>
								<h:inputText class="form-control" disabled="true"
									value="#{employeePayrollRegisterBean.employeeForLogin.firstName} #{employeePayrollRegisterBean.employeeForLogin.lastName}">
								</h:inputText>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-6 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="#{msg['desgn']}" />
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-vcard"></i></span>
								<h:inputText class="form-control" disabled="true"
									value="#{employeePayrollRegisterBean.employeeForLogin.personalInfoEmployment.currentDesignation.name}">

								</h:inputText>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-6 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="#{msg['pf_no']}" />
							<span class="text-danger">*</span>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-hash"></i></span>
								<p:inputText class="form-control" id="pfnumber"
									disabled="#{employeePayrollRegisterBean.empPFNumber ne '' ? true :false}"
									value="#{employeePayrollRegisterBean.empPFNumber}"
									requiredMessage="#{msg['pf_no']} #{msg['required']} ">

								</p:inputText>
							</div>
							<h:message for="pfnumber" class="validation-error-label"></h:message>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 m-b-10">
						<p:commandButton value="#{msg['submit']}"
							binding="#{createloginsubmit}"
							update="passwordPanel passwordPanel1 growls"
							action="#{employeePayrollRegisterBean.createLoginCredentialsForEmployee}"
							class="btn bg-success font-iconmoon m-l-0 open-popup width-100"
							onstart="PF('statusDialog').show();"
							onsuccess="PF('statusDialog').hide();" title="#{msg['submit']}">
						</p:commandButton>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>
		<!-- Create Login End -->

		<p:dialog header="#{msg['login_details']}" draggable="false"
			modal="true" styleClass="p-0  overlay-pop modal-dialog "
			closable="true" width="30%" widgetVar="loginDetails"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<p:outputPanel id="passwordPanel1">
				<!-- <div class="row m-t-10">
				<div class="col-lg-12">
				<ul class="successItem">
				<li><h:outputText value="#{msg['user_name']}"/></li>
				<li><h:outputText value="#{msg['password']}"/></li>
				</ul>
				</div>
				</div> -->
				<div class="row">
					<div class="col-lg-12">
						<h6 class="m-b-0">
							<h:outputText value="#{msg['your_login_created']}" class="m-l-8" />
						</h6>
					</div>
				</div>
				<div class="row m-t-10">
					<div class="col-lg-12 ">
						<div class="table-responsive m-l-8 loginTable">
							<table>
								<tr>
									<td>#{msg['name']}</td>
									<td>:</td>
									<td class="text-bold">#{employeePayrollRegisterBean.employeeForLogin.firstName}
										#{employeePayrollRegisterBean.employeeForLogin.lastName}</td>
								</tr>
								<tr>
									<td>#{msg['designation']}</td>
									<td>:</td>
									<td class="text-bold">#{employeePayrollRegisterBean.employeeForLogin.personalInfoEmployment.currentDesignation.name}</td>
								</tr>
								<tr>
									<td>#{msg['pf_no']}</td>
									<td>:</td>
									<td class="text-bold">#{employeePayrollRegisterBean.empPFNumber}</td>
								</tr>
								<tr>
									<td>#{msg['user_name']}</td>
									<td>:</td>
									<td class="text-bold">#{employeePayrollRegisterBean.empPFNumber}</td>
								</tr>
								<tr>
									<td>#{msg['password']}</td>
									<td>:</td>
									<td class="text-bold">#{employeePayrollRegisterBean.employeePassword}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="">
					<div class="col-lg-12 m-b-10">
						<p:commandButton value="#{msg['ok']}"
							onstart="PF('statusDialog').show();" update="growls"
							onclick="PF('loginDetails').hide();"
							class="btn btn-lg bg-success font-iconmoon m-l-0 width-100"
							onsuccess="PF('statusDialog').hide()" title="#{msg['submit']}">
						</p:commandButton>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>



		<p:dialog modal="true" header="#{msg['download_payslip']}" width="50%"
			closable="true" id="authenticationDialog"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="passwordDialog"
			hideEffect="fade" closeOnEscape="true">
			<p:outputPanel id="pwdpanelid">
				<div class=" border0">

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sec_pass']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class=" icon-key"></i></span>
									<p:password
										value="#{employeePayrollRegisterBean.secondaryPassword}"
										class="form-control" autocomplete="false" id="secpwd"
										required="#{not empty param[pwdsubmitId.clientId]}"
										requiredMessage="#{msg['sec_pass_req']}" >
									</p:password>
								</div>
								<h:message for="secpwd" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['month']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empmonth" styleClass="form-control"
										value="#{employeePayrollRegisterBean.dwlPaySlipMonth}"
										required="#{not empty param[pwdsubmitId.clientId]}"
										requiredMessage="#{msg['month_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
									</h:selectOneMenu>
								</div>
								<h:message for="empmonth" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['year']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empyear" styleClass="form-control"
										value="#{employeePayrollRegisterBean.dwlPaySlipYear}"
										required="#{not empty param[pwdsubmitId.clientId]}"
										requiredMessage="#{msg['year_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems value="#{employeePayrollRegisterBean.yearList}"
											var="year" itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
									</h:selectOneMenu>
								</div>
								<h:message for="empyear" class="validation-error-label" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">

							<div class="form-group p-r-10">

								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									oncomplete="PF('passwordDialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									binding="#{pwdsubmitId}"
									actionListener="#{employeePayrollRegisterBean.clickPayslipDownload}"
									update="pwdpanelid growls" onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();" 
									class="btn bg-success heading-btn  font-iconmoon" >
								</p:commandButton>

							</div>
						</div>
					</div>


				</div>
			</p:outputPanel>
		</p:dialog>
		
		
		<p:dialog modal="true" header="#{msg['un_paid']}" width="50%"
			closable="true" id="unPaidDialog"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="unPaidDialog"
			hideEffect="fade" closeOnEscape="true">
			<p:outputPanel id="unpaidpanelid">
				<div class=" border0">

				<div class="row">
						
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['emp_name']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-user"></i></span>
									<p:inputText class="form-control" id="unPaidempnumber"
									disabled="true"
									value="#{employeePayrollRegisterBean.selectedEmployee.firstName} #{employeePayrollRegisterBean.selectedEmployee.lastName}"
									requiredMessage="#{msg['emp_name']} #{msg['required']} ">
								</p:inputText>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
							<p:outputLabel value="#{msg['pf_no']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText class="form-control" id="unPaidpfnumber"
									disabled="true"
									value="#{employeePayrollRegisterBean.selectedEmployee.pfNumber}"
									requiredMessage="#{msg['pf_no']} #{msg['required']} ">
								</p:inputText>
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
							<p:outputLabel value="#{msg['designation']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-vcard"></i></span>
									<p:inputText class="form-control" id="unPaiddesignation"
									disabled="true"
									value="#{employeePayrollRegisterBean.selectedEmployee.designationName}"
									requiredMessage="#{msg['designation']} #{msg['required']} ">
								</p:inputText>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sec_pass']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class=" icon-key"></i></span>
									<p:password 
										value="#{employeePayrollRegisterBean.unpaidSecondaryPassword}"
										class="form-control" autocomplete="false" id="unpaidsecpwd"
										required="#{not empty param[unpaidsubmitId.clientId]}"
										requiredMessage="#{msg['sec_pass_req']}" >
									</p:password>
								</div>
								<h:message for="unpaidsecpwd" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['month']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="unpaidempmonth" styleClass="form-control"
										value="#{employeePayrollRegisterBean.unpaidMonth}"
										required="#{not empty param[unpaidsubmitId.clientId]}"
										requiredMessage="#{msg['month_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
										<p:ajax event="change"
											listener="#{employeePayrollRegisterBean.validateUnpaidLogMonthYear}"
											update="unpaidempmonth actionButton notepanel"></p:ajax>
									</h:selectOneMenu>
								</div>
								<h:message for="unpaidempmonth" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['year']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="unpaidempyear" styleClass="form-control"
										value="#{employeePayrollRegisterBean.unpaidYear}"
										required="#{not empty param[unpaidsubmitId.clientId]}"
										requiredMessage="#{msg['year_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems value="#{employeePayrollRegisterBean.yearList}"
											var="year" itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
										<p:ajax event="change"
											listener="#{employeePayrollRegisterBean.validateUnpaidLogMonthYear}"
											update="unpaidempyear actionButton notepanel"></p:ajax>
									</h:selectOneMenu>
								</div>
								<h:message for="unpaidempyear" class="validation-error-label" />
							</div>
						</div>
					</div>

					<div class="row">
						<p:outputPanel id="notepanel">
							<h:panelGroup
								rendered="#{!employeePayrollRegisterBean.unpaidValidateFlag and !employeePayrollRegisterBean.payrollVerificationFlag}">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['un_paid_reason']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-vcard"></i></span>
											<h:selectOneMenu id="unpaidreason" styleClass="form-control"
												converter="#{entityConverter}"
												value="#{employeePayrollRegisterBean.unpaidReasonMaster}"
												requiredMessage="#{msg['un_paid_reason']}  #{msg['required']}">
												<f:selectItem itemLabel="Select" noSelectionOption="true"
													itemDisabled="null"></f:selectItem>
												<f:selectItems
													value="#{employeePayrollRegisterBean.unpaidReasonMasterList}"
													var="reasonmaster" itemValue="#{reasonmaster}"
													itemLabel="#{reasonmaster.name}"></f:selectItems>
											</h:selectOneMenu>
										</div>
										<h:message for="unpaidreason" class="validation-error-label" />
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['un_paid_note']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-vcard"></i></span>
											<p:inputTextarea class="form-control" id="unpaidnote"
												requiredMessage="#{msg['un_paid_reason']}  #{msg['required']}"
												value="#{employeePayrollRegisterBean.reasonNote}"></p:inputTextarea>
										</div>
										<h:message for="unpaidnote" class="validation-error-label" />
									</div>
								</div>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{employeePayrollRegisterBean.unpaidValidateFlag and !employeePayrollRegisterBean.payrollVerificationFlag}">
								<div class="col-lg-12 col-md-12 col-sm-12 text-center">
									<div class="form-group">
										<p:outputLabel styleClass="label label-flat text-danger "
											value="UN Paid Adds For This Employee On this Month Already " /><br />
										<p:outputLabel styleClass="label label-flat text-danger " value="Do you want to remove the record?" />
									</div>
								</div>

							</h:panelGroup>
							
							<h:panelGroup
								rendered="#{employeePayrollRegisterBean.payrollVerificationFlag}">
								<div class="col-lg-12 col-md-12 col-sm-12 text-center">
									<div class="form-group">
										<p:outputLabel styleClass="label label-flat text-danger "
											value="PayRoll Verification Already Excuted for this Month " />
									</div>
								</div>

							</h:panelGroup>
						</p:outputPanel>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:outputPanel id="actionButton">
								<div class="form-group p-r-10">
									<h:panelGroup
										rendered="#{!employeePayrollRegisterBean.unpaidValidateFlag and !employeePayrollRegisterBean.payrollVerificationFlag}">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											oncomplete="PF('unPaidDialog').hide();"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											binding="#{unpaidsubmitId}"
											actionListener="#{employeePayrollRegisterBean.submitEmpUnpaidLog}"
											update="unpaidpanelid growls"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											class="btn bg-success heading-btn  font-iconmoon">
										</p:commandButton>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{employeePayrollRegisterBean.unpaidValidateFlag and !employeePayrollRegisterBean.payrollVerificationFlag}">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											oncomplete="PF('unPaidDialog').hide();"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['yes']}"
											actionListener="#{employeePayrollRegisterBean.deleteUnpaidLog}"
											update="unpaidpanelid growls"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											class="btn bg-success heading-btn  font-iconmoon">
										</p:commandButton>
									</h:panelGroup>

								</div>
							</p:outputPanel>
						</div>
					</div>


				</div>
			</p:outputPanel>
		</p:dialog>


		<p:remoteCommand name="payslipremote" update="table growls"
			process="@this"
			oncomplete="document.getElementById('dwldbtn').click()"
			actionListener="#{employeePayrollRegisterBean.downloadEmpPayrollPdf}"></p:remoteCommand>
		<p:commandButton style="display:none;" id="dwldbtn" ajax="false"
			update="table growls">
			<p:fileDownload value="#{employeePayrollRegisterBean.downloadFile}" />
		</p:commandButton>


		<p:dialog modal="true" header="#{msg['run_payroll']}" width="50%"
			closable="true" id="runpayrollDialog"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="runPayrollDialog" hideEffect="fade" closeOnEscape="true">
			<p:outputPanel id="runpayrollpanelid">
				<div class=" border0">

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sec_pass']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class=" icon-key"></i></span>
									<p:password
										value="#{employeePayrollRegisterBean.runPayrollSecondaryPassword}"
										class="form-control" autocomplete="false" id="secpwd1"
										required="#{not empty param[runpayrollsubmitId.clientId]}"
										requiredMessage="#{msg['sec_pass_req']}">
									</p:password>
								</div>
								<h:message for="secpwd1" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['month']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empmonth1" styleClass="form-control"
										value="#{employeePayrollRegisterBean.runPayrollMonth}"
										required="#{not empty param[runpayrollsubmitId.clientId]}"
										requiredMessage="#{msg['month_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
									</h:selectOneMenu>
								</div>
								<h:message for="empmonth1" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['year']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empyear1" styleClass="form-control"
										value="#{employeePayrollRegisterBean.runPayrollYear}"
										required="#{not empty param[runpayrollsubmitId.clientId]}"
										requiredMessage="#{msg['year_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems value="#{employeePayrollRegisterBean.yearList}"
											var="year" itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
									</h:selectOneMenu>
								</div>
								<h:message for="empyear1" class="validation-error-label" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">

							<div class="form-group p-r-10">

								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									oncomplete="PF('runPayrollDialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									binding="#{runpayrollsubmitId}"
									action="#{employeePayrollRegisterBean.runEmployeePayroll}"
									update="runpayrollpanelid growls"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									class="btn bg-success heading-btn  font-iconmoon">
								</p:commandButton>

							</div>
						</div>
					</div>


				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog modal="true" header="#{msg['run_checklist']}" width="50%"
			closable="true" id="runchecklistDialog"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="runCheckListDialog" hideEffect="fade" closeOnEscape="true">
			<p:outputPanel id="runchecklistpanelid">
				<div class=" border0">

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sec_pass']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class=" icon-key"></i></span>
									<p:password
										value="#{employeePayrollRegisterBean.checkListSecondaryPassword}"
										class="form-control" autocomplete="false" id="secpwd2"
										required="#{not empty param[runchecklistsubmitId.clientId]}"
										requiredMessage="#{msg['sec_pass_req']}">
									</p:password>
								</div>
								<h:message for="secpwd2" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['month']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empmonth2" styleClass="form-control"
										value="#{employeePayrollRegisterBean.checkListMonth}"
										required="#{not empty param[runchecklistsubmitId.clientId]}"
										requiredMessage="#{msg['month_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
									</h:selectOneMenu>
								</div>
								<h:message for="empmonth2" class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['year']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="empyear2" styleClass="form-control"
										value="#{employeePayrollRegisterBean.checkListYear}"
										required="#{not empty param[runchecklistsubmitId.clientId]}"
										requiredMessage="#{msg['year_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems value="#{employeePayrollRegisterBean.yearList}"
											var="year" itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
									</h:selectOneMenu>
								</div>
								<h:message for="empyear2" class="validation-error-label" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group p-r-10">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									oncomplete="PF('runCheckListDialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									binding="#{runchecklistsubmitId}"
									action="#{employeePayrollRegisterBean.runPayrollCheckList}"
									update="runchecklistpanelid growls"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									class="btn bg-success heading-btn  font-iconmoon">
								</p:commandButton>

							</div>
						</div>
					</div>


				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog modal="true" header="#{msg['edit_payslip']}" width="50%"
			closable="true" id="editPayslipDialog"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="editPayslipDialog" hideEffect="fade" closeOnEscape="true">
			<p:outputPanel id="editpayslippanelid">
				<div class=" border0">

					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['sec_pass']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class=" icon-key"></i></span>
									<p:password
										value="#{employeePayrollRegisterBean.editPayslipPassword}"
										class="form-control" autocomplete="false"
										id="editpayslipsecpwd2"
										required="#{not empty param[editpayslipsubmitId.clientId]}"
										requiredMessage="#{msg['sec_pass_req']}">
									</p:password>
								</div>
								<h:message for="editpayslipsecpwd2"
									class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['month']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="editpayslipempmonth2"
										styleClass="form-control"
										value="#{employeePayrollRegisterBean.editPayslipMonth}"
										required="#{not empty param[editpayslipsubmitId.clientId]}"
										requiredMessage="#{msg['month_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
									</h:selectOneMenu>
								</div>
								<h:message for="editpayslipempmonth2"
									class="validation-error-label" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['year']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<h:selectOneMenu id="editpayslipempyear2"
										styleClass="form-control"
										value="#{employeePayrollRegisterBean.editPayslipYear}"
										required="#{not empty param[editpayslipsubmitId.clientId]}"
										requiredMessage="#{msg['year_req']}">
										<f:selectItem itemLabel="Select" noSelectionOption="true"
											itemDisabled="null"></f:selectItem>
										<f:selectItems value="#{employeePayrollRegisterBean.yearList}"
											var="year" itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
									</h:selectOneMenu>
								</div>
								<h:message for="editpayslipempyear2"
									class="validation-error-label" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group p-r-10">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									oncomplete="PF('editPayslipDialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									binding="#{editpayslipsubmitId}"
									action="#{employeePayrollRegisterBean.confirmEditPayslip}"
									update="editpayslippanelid growls"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									class="btn bg-success heading-btn  font-iconmoon">
								</p:commandButton>

							</div>
						</div>
					</div>


				</div>
			</p:outputPanel>
		</p:dialog>
		<p:dialog modal="true" header="#{msg['emp_loan_pending']}" width="80%"
			closable="true" id="pendingEmployeeLoanPaymentDialog"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="pendingLoanPayementEmployees" hideEffect="fade"
			closeOnEscape="true">
			<p:outputPanel id="LOanPendingEmployees">
				<div class="panel-body border0">
					<div class="row">
						<div class="col-lg-12 m-b-10">
							<h:outputText value="#{msg['loan_payment_text']}"
								styleClass="text-danger text14" />
						</div>
					</div>
					<div class="row">
						<div class="table-responsive">
							<p:outputPanel
								styleClass="#{employeePayrollRegisterBean.pendingLoanPaymentEmployeeList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
								<p:dataTable id="pendingEmployeeLoans"
									styleClass="custom-input-width m-b-10" scrollable="true"
									scrollHeight="150"
									value="#{employeePayrollRegisterBean.pendingLoanPaymentEmployeeList}"
									var="data" rowIndexVar="idx">
									<p:column headerText="#" styleClass="sno-ovrflw-5 text-center">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column headerText="#{msg['pf_no']}" styleClass="width-15">
										<h:outputText value="#{data['pfNumber']}" />
									</p:column>

									<p:column headerText="#{msg['emp_name']}" styleClass="width-30">
										<h:outputText value="#{data['EmployeeName']}" />
									</p:column>

									<p:column headerText="#{msg['designation']}"
										styleClass="width-30">
										<h:outputText value="#{data['Designation']}" />
									</p:column>

									<p:column headerText="#{msg['region']}" styleClass="width-20">
										<h:outputText value="#{data['Region']}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								onstart="PF('statusDialog').show();"
								onsuccess="PF('statusDialog').hide();"
								oncomplete="PF('pendingLoanPayementEmployees').hide();"
								class="btn bg-slate heading-btn  font-iconmoon" />
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>


	</ui:define>
</ui:composition>