<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Leave Approval Listing</title>
		<h:form id="discountDetailsform">
			<p:outputPanel id="discountpanel">
				<div class="row">
					<div class="col-lg-12">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="page-title">#{msg['leave_approval_list']}</h4>
							</div>
							<div class="pull-right ">
								<ol class="breadcrumb hidden-xs m-t-10 text12 ph0">
									<li><i class="fa fa-home mr-sm"></i><a href="#"><p:outputLabel
												value="#{msg['home']}"></p:outputLabel></a></li>
									<li><a href="#">#{msg['admin']}</a></li>
									<li class="active">#{msg['leave_approval_list']}</li>
								</ol>
							</div>
						</div>
						<div class="panel panel-color panel-top-bor">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="refnum" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_id']}" />
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="empid" styleClass="form-control"></h:inputText>
										</div>
									</div>

									<div class="col-md-3">
										<p:outputLabel value="#{msg['from_date']}" />
										<div class="form-group form-group_calend">
											<p:calendar id="dperiodFrom"
												value="#{discountDetailsBean.discountDetailsDto.periodFrom}"
												pattern="dd-MM-yyyy" mask="true" required="true"
												requiredMessage="Required"
												styleClass="form-control calend-icon caled-top"></p:calendar>
										</div>
									</div>
									<!-- end col -->

									<div class="col-md-3">
										<p:outputLabel value="#{msg['to_date']}" />
										<div class="form-group form-group_calend">
											<p:calendar id="dperiodTo"
												value="#{discountDetailsBean.discountDetailsDto.periodTo}"
												pattern="dd-MM-yyyy" mask="true" required="true"
												requiredMessage="Required"
												styleClass="form-control calend-icon" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['leave_type']}" />
											<h:selectOneMenu id="leavetype"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Casual Leave" itemValue="true" />
												<f:selectItem itemLabel="Sick Leave" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<h:selectOneMenu id="status"
												value="#{discountDetailsBean.discountDetailsDto.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Approve" itemValue="true" />
												<f:selectItem itemLabel="Pending" itemValue="false" />
												<f:selectItem itemLabel="Reject" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-lg-12 text-right">
										<div class="form-group">
											<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
												styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
											<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
												action="#{discountDetailsBean.submit}"
												styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"
												update="discountpanel">
											</p:commandButton>
										</div>
									</div>
								</div>
								<!-- end row -->
								<div class="clearfix"></div>
								<div class="col-lg-12 ph0">
									<div class="portlet m-b-0">
										<div class="panel-grey">
											<h3 class="portlet-title">#{msg['leave_approval_details']}</h3>
											<div class="pull-right m-t-2">
												<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
													title="Edit"
													styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
												<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
													title="View"
													styleClass="btn btn-xs waves-effect waves-light btn-info fa-input"></p:commandButton>
											</div>
											<div class="clearfix"></div>
										</div>
										<div id="bg-primary1" class="panel-collapse collapse in">
											<div class="portlet-body p0">
												<div class="row">
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table m-0 cust-table">
																<thead>
																	<tr>
																		<th align="center">#{msg['sl']}</th>
																		<th align="center">#{msg['ref_num']}</th>
																		<th align="center">#{msg['emp_id']}</th>
																		<th align="center">#{msg['emp_name']}</th>
																		<th align="center">#{msg['sec']}</th>
																		<th align="center">#{msg['dept']}</th>
																		<th align="center">#{msg['designation']}</th>
																		<th align="center">#{msg['from_date']}</th>
																		<th align="center">#{msg['to_date']}</th>
																		<th align="center">#{msg['leave_type']}</th>
																		<th align="center">#{msg['status']}</th>
																		<th align="center">#{msg['select']}</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td>12033</td>
																		<td>EMP101</td>
																		<td>Elangovan</td>
																		<td>Admin</td>
																		<td>Admin</td>
																		<td>Senior Manager</td>
																		<td>12-Jun- 2017</td>
																		<td>14-Jun- 2017</td>
																		<td>Casual Leave</td>
																		<td class="text-success">Approve</td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td>12034</td>
																		<td>EMP103</td>
																		<td>Manimaran</td>
																		<td>Payroll</td>
																		<td>Product</td>
																		<td>Senior Manager</td>
																		<td>13-Jun- 2017</td>
																		<td>16-Jun- 2017</td>
																		<td>Casual Leave</td>
																		<td class="text-warning">Pending</td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">3</td>
																		<td>12035</td>
																		<td>EMP104</td>
																		<td>Ezhilarasan</td>
																		<td>HR</td>
																		<td>Admin</td>
																		<td>Senior Manager</td>
																		<td>10-Jun- 2017</td>
																		<td>11-Jun- 2017</td>
																		<td>Sick Leave</td>
																		<td class="text-danger">Reject</td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td>12036</td>
																		<td>EMP105</td>
																		<td>Anand Sekar</td>
																		<td>Technical</td>
																		<td>Delivery</td>
																		<td>Junior Manager</td>
																		<td>13-Jun- 2017</td>
																		<td>14-Jun- 2017</td>
																		<td>Casual Leave</td>
																		<td class="text-success">Approve</td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td>12037</td>
																		<td>EMP106</td>
																		<td>Kuber</td>
																		<td>Admin</td>
																		<td>HR</td>
																		<td>Junior Assistant</td>
																		<td>15-Jun- 2017</td>
																		<td>16-Jun- 2017</td>
																		<td>Sick Leave</td>
																		<td class="text-warning">Pending</td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<div class="col-md-12 ph0">
															<!-- <div class="col-md-6 m-t-10">
																<button
																	class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
																	title="Download PDF">
																	<i class="fa fa-download"></i> PDF
																</button>
																<button
																	class="btn-xs btn-icon waves-effect waves-light btn-success"
																	title="Download Excel">
																	<i class="fa fa-download"></i> Excel
																</button>
															</div> -->
															<div class="col-md-12 text-right ph0">
																<ul class="pagination pagination-split m-t-10 m-b-0">
																	<li><a href="#"><i class="fa fa-angle-left"></i>
																			Previous</a></li>
																	<li class="disabled"><a href="#"><i
																			class="fa fa-angle-left"></i></a></li>
																	<li><a href="#">1</a></li>
																	<li class="active"><a href="#">2</a></li>
																	<li><a href="#">3</a></li>
																	<li><a href="#">4</a></li>
																	<li><a href="#">5</a></li>
																	<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
																	<li><a href="#">Next <i
																			class="fa fa-angle-right"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<!-- end col -->
													<div class="clearfix"></div>
												</div>
												<!-- end row -->
											</div>
										</div>
									</div>
								</div>
								<!-- end col -->
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
