<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('RESIGNATION_LIST')}" />
		</f:metadata>
		<title>InfoTex | Resignation</title>
		<!-- Page Header -->
		<div class="page-header page-header-default page-header-wizard">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['resignation_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['resignation_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<p:outputLabel id="totalSize"
							value="#{resignationBean.resTotalRecord}"
							styleClass="textb play_class" />
						- #{msg['resign']}(#{msg['list_s']})
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group  m-b-10">
						<h:panelGroup id="menupanel">
							<ui:remove>
								<p:commandButton value="&#xeda7; #{msg['generate_info']}"
									title="#{msg['generate_info']}"
									onclick="location.href='generateResignation.xhtml'"
									class="lobutton resbutmt5 btn bg-primary font-iconmoon">
								</p:commandButton>
							</ui:remove>
							<p:commandButton
								rendered="#{loginBean.userFeatures['RESIGNATION_ADD'] and resignationBean.isAddButton}"
								update="growls" action="#{resignationBean.resignationPages}"
								disabled="true" id="addId" value="&#xea0e;&nbsp;#{msg['add']}"
								title="#{msg['add']}" onclick="PF('progressDlg').show();"
								class="btn bg-success font-iconmoon"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{resignationBean.pageResignation}" />
							</p:commandButton>
							<p:commandButton value="&#xecf5; #{msg['approve']}"
								id="approvalId" update="growls" title="#{msg['approve']}"
								disabled="true"
								action="#{jobApplicationBean.showJobApplication}"
								rendered="#{loginBean.userFeatures['RESIGNATION_APPROVE'] and resignationBean.isApproveButton}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn  bg-success font-iconmoon">
								<f:setPropertyActionListener value="APPROVAL"
									target="#{jobApplicationBean.action}" />
							</p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								title="#{msg['edit']}"
								rendered="#{loginBean.userFeatures['RESIGNATION_EDIT'] and resignationBean.isEditButton}"
								onclick="PF('progressDlg').show();" disabled="true"
								class="btn bg-primary font-iconmoon"
								oncomplete="PF('progressDlg').hide();" update="growls"
								action="#{resignationBean.resignationPages}">
								<f:setPropertyActionListener value="EDIT"
									target="#{resignationBean.pageResignation}" />
							</p:commandButton>

							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								title="#{msg['view']}"
								rendered="#{loginBean.userFeatures['RESIGNATION_VIEW']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{resignationBean.resignationPages}" update="growls"
								class="btn bg-info font-iconmoon ">
								<f:setPropertyActionListener value="VIEW"
									target="#{resignationBean.pageResignation}" />
							</p:commandButton>

							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								title="#{msg['delete']}" id="idDelete"
								rendered="#{loginBean.userFeatures['RESIGNATION_DELETE'] and resignationBean.isDeleteButton}"
								onclick="PF('progressDlg').show();" disabled="true"
								oncomplete="PF('progressDlg').hide();"
								action="#{resignationBean.resignationPages}" update="growls"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{resignationBean.pageResignation}" />
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{resignationBean.clearList}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<p:dataTable id="table" var="data" class="" lazy="true"
									widgetVar="table" tableStyleClass="" rowKey="#{data.id}"
									selection="#{resignationBean.selectedEmployeeResignation}"
									value="#{resignationBean.lazyEmployeeResignation}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									paginator="true" paginatorPosition="bottom"
									rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
									styleCalss="" emptyMessage="#{msg['no_records_found']}">
									<p:ajax event="rowSelectRadio"
										listener="#{resignationBean.onRowSelect}"
										update=":#{p:component('addId')},#{p:component('approvalId')},#{p:component('idDelete')},#{p:component('menupanel')}" />
									<p:ajax event="filter" oncomplete="updateFilterSelection()" />
									<p:ajax event="page" onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()" />

									<!-- SI No.  -->
									<p:column headerText="#" styleClass="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<!--Application Number.  -->
									<p:column id="regName" filterable="true"
										filterBy="#{data.headAndRegionOffice.name}"
										filterMatchMode="contains" headerText="#{msg['ho_ro']}"
										sortBy="#{data.headAndRegionOffice.name}" sortable="true">
										<f:facet name="filter">
											<h:selectOneMenu onchange="PF('table').filter()" id="offId"
												class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems value="#{resignationBean.entityMasterList}"
													var="pro" itemLabel="#{pro.name}" itemValue="#{pro.name}" />
											</h:selectOneMenu>
										</f:facet>
										<h:outputText value="#{data.headAndRegionOffice.name}" />
									</p:column>
									<!-- Date of Application -->

									<p:column headerText="#{msg['emp_no']}"
										styleClass="text-center form-group_calend"
										sortBy="#{data.employee.empCode}" sortable="true"
										filterBy="#{data.employee.empCode}" filterMatchMode="exact">
										<f:facet name="filter">
										</f:facet>
										<h:outputText value="#{data.employee.empCode}">
										</h:outputText>
									</p:column>

									<p:column id="empname" filterable="true"
										filterBy="#{data.employee.firstName}"
										filterMatchMode="contains" headerText="#{msg['emp_name']}"
										sortBy="#{data.employee.firstName}" sortable="true">
										<h:outputText value="#{data.employee.firstName}" />
									</p:column>

									<p:column id="dob" filterable="true"
										filterBy="#{data.employee.dob}" filterMatchMode="contains"
										class="text-center" headerText="#{msg['dob']}"
										sortBy="#{data.employee.dob}" sortable="true">
										<f:facet name="filter">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												id="dateOfBirth"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.employee.dob}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column id="dor" filterable="true"
										filterBy="#{data.employee.personalInfoEmployment.retirementDate}"
										class="text-center" filterMatchMode="contains"
										headerText="#{msg['dt_of_retire']}"
										sortBy="#{data.employee.personalInfoEmployment.retirementDate}"
										sortable="true">
										<f:facet name="filter">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												id="dateOfRetire"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText
											value="#{data.employee.personalInfoEmployment.retirementDate}">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column id="cdate" filterable="true"
										filterBy="#{data.createdDate}" filterMatchMode="contains"
										class="text-center" headerText="#{msg['created_date']}"
										sortBy="#{data.createdDate}" sortable="true">
										<f:facet name="filter">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												id="createDate"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.createdDate}">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['status']}"
										filterBy="#{data.status}" sortBy="#{data.status}"
										sortable="true" styleClass="text-center">
										<f:facet name="filter">
											<h:selectOneMenu class="form-control select2"
												onchange="PF('table').filter()">
												<f:selectItem itemLabel="#{msg['select']}" />
												<f:selectItem itemLabel="Approved" itemValue="Approved" />
												<f:selectItem itemLabel="Rejected" itemValue="Rejected" />
												<f:selectItem itemLabel="InProgress" itemValue="InProgress" />
											</h:selectOneMenu>
										</f:facet>
										<h:outputText
											styleClass="#{data.status eq 'APPROVED' ? 'label label-success sts_shortl' : data.status eq 'SUBMITTED' ? 'label label-warning sts_shortl': data.status eq 'FINAL-APPROVED' ? 'label label-success sts_shortl':'label label-danger sts_shortl'}"
											value="#{data.status}">
										</h:outputText>


									</p:column>

									<!-- Select Radio Button -->
									<p:column headerText="#{msg['select']}"
										styleClass="text-center" selectionMode="single">
									</p:column>
								</p:dataTable>
								<p:remoteCommand name="updateFilterSelection"
									update=":#{p:component('totalSize')}" autoRun="true" />


							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmUserDelete" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmUserDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{resignationBean.deleteConfirm}"
					oncomplete="PF('confirmUserDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>