<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('LEAVE_TRAVEL_CONCESSION_LIST')}" />
		</f:metadata>
		
		<ui:param name="bean" value="#{employeeHRAddLtcBean}"></ui:param>
		<title>InfoTex | Leave Travel Concession List</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['leave_travel_concession_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['leave_travel_concession_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title m-t-5">
						<span class="textb"><strong><h:outputText
									id="totalSize" value="#{employeeHRAddLtcBean.totalSize}"></h:outputText></strong>
						</span> - #{msg['leave_travel_concession']}(#{msg['list_s']})
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-12">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								action="#{employeeHRAddLtcBean.showPage}" title="#{msg['add']}"
								id="addId" disabled="#{bean.addButton}"
								rendered="#{loginBean.userFeatures['LEAVE_TRAVEL_CONCESSION_ADD']}"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="Add"
									target="#{employeeHRAddLtcBean.action}" />
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}" update="growls"
								rendered="#{loginBean.userFeatures['LEAVE_TRAVEL_CONCESSION_EDIT']}"
								id="editId" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								disabled="#{bean.editButton}"
								action="#{employeeHRAddLtcBean.showPage}" title="#{msg['edit']}"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{employeeHRAddLtcBean.action}" />
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
								action="#{employeeHRAddLtcBean.showPage}"
								disabled="#{bean.viewButton}" title="#{msg['view']}"
								rendered="#{loginBean.userFeatures['LEAVE_TRAVEL_CONCESSION_VIEW']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-info font-iconmoon">
								<f:setPropertyActionListener value="View"
									target="#{employeeHRAddLtcBean.action}" />
							</p:commandButton>

							<p:commandButton value="&#xea0e; #{msg['bills_add']}"
								update="growls" action="#{employeeHRAddLtcBean.showPage}"
								rendered="#{bean.billButton}" title="#{msg['bills_add']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="billsAdd"
									target="#{employeeHRAddLtcBean.action}" />
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}"
								rendered="#{bean.deleteButton and loginBean.userFeatures['LEAVE_TRAVEL_CONCESSION_DELETE']}"
								update="growls" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{bean.deleteLTCDetail}" title="#{msg['delete']}"
								class="btn bg-danger font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								update="growls" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeHRAddLtcBean.clear}" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>

						</p:outputPanel>
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmUserDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">

				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmUserDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{employeeHRAddLtcBean.deleteLTCDetailConfirm}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" widgetVar="table"
							tableStyleClass="" lazy="true"
							selection="#{employeeHRAddLtcBean.selectedLTCDId}"
							value="#{employeeHRAddLtcBean.empLTClazyLoadReport}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{employeeHRAddLtcBean.onRowSelect}"
								update="menupanel,:#{p:component('addId')},#{p:component('editId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />

							<p:column headerText="#{msg['s_no']}" class="width-5 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.refferenceNumber}"
								filterMatchMode="contains" headerText="#{msg['ref_num']}"
								sortBy="#{data.refferenceNumber}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="referenceNo" class="form-control"
										onkeyup="PF('table').filter()">
										<p:focus for="referenceNo" />
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.refferenceNumber}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.empName}"
								class="width-15" filterMatchMode="contains"
								headerText="#{msg['employee_code_name']}"
								sortBy="#{data.empName}" sortable="true">
								<h:outputText value="#{data.empName}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.depName}"
								class="width-9" filterMatchMode="contains"
								headerText="#{msg['dept']}" sortBy="#{data.depName}"
								sortable="true">
								<h:outputText value="#{data.depName}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.secName}"
								class="width-8 text-center" filterMatchMode="contains"
								headerText="#{msg['sec']}" sortBy="#{data.secName}"
								sortable="true">
								<h:outputText value="#{data.secName}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.noOfDays}"
								class="width-10 text-center" filterMatchMode="contains"
								headerText="#{msg['num_of_days']}" sortBy="#{data.noOfDays}"
								sortable="true">
								<h:outputText value="#{data.noOfDays}" />
							</p:column>


							<p:column headerText="#{msg['created_date']}"
								styleClass="text-center form-group_calend width-12"
								sortBy="#{data.createdDate}" sortable="true"
								filterBy="#{data.createdDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" id="createdDate"
										pattern="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
										placeholder="dd-MMM-yyyy" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />

									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['applied_for']}"
								filterBy="#{data.appliedFor}" sortBy=" #{data.appliedFor}"
								sortable="true" styleClass="">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="Self" itemLabel="Self" />
										<f:selectItem itemValue="Family" itemLabel="Family" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{data.appliedFor}">
								</h:outputText>

							</p:column>

							<p:column headerText="#{msg['status']}" filterBy="#{data.status}"
								sortBy=" #{data.status}" sortable="true"
								styleClass="text-center">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="SUBMITTED" itemLabel="Submited" />
										<f:selectItem itemValue="APPROVED" itemLabel="Approved" />
										<f:selectItem itemValue="FINALAPPROVED"
											itemLabel="Final Approved" />
										<f:selectItem itemValue="REJECTED" itemLabel="Rejected" />
										<f:selectItem itemValue="BILL_SUBMITED"
											itemLabel="Bill Submited" />
										<f:selectItem itemValue="BILL_APPROVED"
											itemLabel="Bill Approved" />
										<f:selectItem itemValue="BILL_FINALAPPROVED"
											itemLabel="Bill FinalApproved" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="#{ (data.status eq 'REJECTED') ? 'label label-danger width-custom ' :  (data.status eq 'SUBMITTED') ? 'label label-warning width-custom' : ' label label-success width-custom' }"
									value="#{data.status}">
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-3" selectionMode="single">
							</p:column>

						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />

					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>