<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('ROSTER_RESERVATION_LIST')}" />
		</f:metadata>
		<title>Infotex | Roster Reservation List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['roster_reservationlist']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['roster_reservationlist']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class=""></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{rosterReservationBean.totalRecords}" id="recordcount"></h:outputText></strong>
						- #{msg['roster_reservation']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class=""></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['create_job_ad']}"
								id="generateId" title="#{msg['create_job_ad']}"
								action="#{jobAdvertisementBean.showPage}" update="growls"
								rendered="#{loginBean.userFeatures['JOB_ADVERTISEMENT_ADD'] and !rosterReservationBean.generateFlag}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="ADD"
									target="#{jobAdvertisementBean.action}" />
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}"
								title="#{msg['view']}" onclick="PF('progressDlg').show();"
								id="viewId" oncomplete="PF('progressDlg').hide();"
								action="#{rosterReservationBean.viewRoster}" update="growls"
								rendered="#{loginBean.userFeatures['ROSTER_RESERVATION_VIEW'] and !rosterReservationBean.viewButtonFlag}"
								class="btn bg-info font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{rosterReservationBean.deleteRoster}"
								title="#{msg['delete']}" class="btn bg-danger font-iconmoon"
								update="growls"
								rendered="#{loginBean.userFeatures['ROSTER_RESERVATION_DELETE'] and !rosterReservationBean.deleteFlag}">
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon"
								action="#{rosterReservationBean.clear}">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable widgetVar="rostertablewdgt" rowKey="#{roster.id}"
							value="#{rosterReservationBean.rosterList}"
							selection="#{rosterReservationBean.selectedRosterReservation}"
							var="roster" rowIndexVar="idx" lazy="true"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							tableStyleClass="" rowsPerPageTemplate="5,10,15">
							<p:ajax event="rowSelectRadio"
								listener="#{rosterReservationBean.onRowSelect}"
								update=":#{p:component('viewId')},#{p:component('deleteId')},#{p:component('generateId')},#{p:component('menupanel')}" />

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
								
							<p:column headerText="#" class="text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							
							<p:column headerText="#{msg['ref_num']}" filterable="true"
								filterBy="#{roster.referenceNumber}" filterMatchMode="contains"
								sortBy="#{roster.referenceNumber}" sortable="true"
								styleClass="width-12">
								<f:facet name="filter">
									<p:inputText id="referenceFilter" class="form-control "
										onkeyup="PF('rostertablewdgt').filter()">
										<p:focus for="referenceFilter"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{roster.referenceNumber}" />
							</p:column>
							
							<p:column headerText="#{msg['req_post']}" filterable="true"
								filterBy="#{roster.recruitmentforPost}"
								filterMatchMode="contains" sortBy="#{roster.recruitmentforPost}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="postFilter" class="form-control "
										onkeyup="PF('rostertablewdgt').filter()">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{roster.recruitmentforPost}" />
							</p:column>
							
							<p:column headerText="#{msg['req_year']}" filterable="true"
								filterBy="#{roster.recruitmentYear}" filterMatchMode="contains"
								sortBy="#{roster.recruitmentYear}" sortable="true"
								class="text-center width-12">
								<f:facet name="filter">
									<p:inputText id="yearFilter" class="form-control "
										onkeyup="PF('rostertablewdgt').filter()">
										<p:keyFilter mask="num"></p:keyFilter>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{roster.recruitmentYear}" />
							</p:column>
							
							<p:column headerText="#{msg['dept']}" filterable="true"
								filterBy="#{roster.departmentId}" filterMatchMode="exact"
								sortBy="#{roster.departmentId}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu id="departmentFiter" class="form-control"
										onchange="PF('rostertablewdgt').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems value="#{rosterReservationBean.departmentList}"
											var="dept" itemLabel="#{dept.name}" itemValue="#{dept.id}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{roster.departmentName}" />
							</p:column>
							
							<p:column headerText="#{msg['total_vacancies']}"
								filterable="true" filterBy="#{roster.vacanciesToDistribute}"
								filterMatchMode="contains"
								sortBy="#{roster.vacanciesToDistribute}" sortable="true"
								class="text-center width-11">
								<f:facet name="filter">
									<p:inputText id="vacancyFilter" class="form-control "
										onkeyup="PF('rostertablewdgt').filter()">
										<p:keyFilter mask="num"></p:keyFilter>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{roster.vacanciesToDistribute}" />
							</p:column>
							
							<p:column headerText="#{msg['Prev_roaster_point']}"
								filterable="true" filterBy="#{roster.previousRosterPoint}"
								filterMatchMode="contains"
								sortBy="#{roster.previousRosterPoint}" sortable="true"
								class="text-center width-14">
								<f:facet name="filter">
									<p:inputText id="departmentFilter" class="form-control "
										onkeyup="PF('rostertablewdgt').filter()">
										<p:keyFilter mask="num"></p:keyFilter>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{roster.previousRosterPoint}" />
							</p:column>
							
							<p:column headerText="#{msg['status']}" filterable="true"
								filterBy="#{roster.status}" filterMatchMode="contains"
								sortBy="#{roster.status}" sortable="true" class="text-center">
								<f:facet name="filter">
									<h:selectOneMenu id="statusFiter" class="form-control"
										onchange="PF('rostertablewdgt').filter()">
										<f:selectItem itemLabel="Select" />
										<f:selectItem itemLabel="InProgress" itemValue="INPROGRESS" />
										<f:selectItem itemLabel="Approved" itemValue="APPROVED" />
										<f:selectItem itemLabel="Rejected" itemValue="REJECTED" />
										<f:selectItem itemLabel="Hold" itemValue="HOLD" />
										<f:selectItem itemLabel="Final Approved"
											itemValue="FINAL_APPROVED" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="ui-column-title label label-default width-custom"
									value="#{roster.status}"
									rendered="#{roster.status eq 'INPROGRESS'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-success width-custom"
									value="#{roster.status}"
									rendered="#{roster.status eq 'FINAL_APPROVED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-success width-custom"
									value="#{roster.status}"
									rendered="#{roster.status eq 'APPROVED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-danger width-custom"
									value="#{roster.status}"
									rendered="#{roster.status eq 'REJECTED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-danger width-custom"
									value="#{roster.status}" rendered="#{roster.status eq 'HOLD'}"></h:outputText>

							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />

						</p:dataTable>

						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmRosterDelete" showEffect="fade" hideEffect="fade"
			closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmRosterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{rosterReservationBean.confirmDeleteRoster}"
					oncomplete="PF('confirmRosterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

		<p:dialog widgetVar="progressDlg" modal="true" draggable="false"
			class="pre-loader" closable="false" resizable="false"
			showHeader="false">
			<img src="#{request.contextPath}/assets/images/preloader.gif" />
		</p:dialog>
	</ui:define>
</ui:composition>