<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Travelling Allowance Bill List</title>
		<ui:param name="bean" value="#{taBillBean}" />
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['ta_bill_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['ta_bill_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> -
						#{msg['travel_allowance_bill']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>

				</div>
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId" action="#{bean.addPageAction}"
								disabled="#{bean.addButtonFlag}"
								rendered="#{loginBean.userFeatures['TA_BILL_ADD']}"
								class="btn bg-success font-iconmoon"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
								<f:setPropertyActionListener value="ADD" target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}" id="editId"
								disabled="#{bean.editButtonFlag}" title="#{msg['edit']}"
								action="#{bean.edittaBill}"
								rendered="#{loginBean.userFeatures['TA_BILL_EDIT']}"
								class="btn bg-primary font-iconmoon"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
								<f:setPropertyActionListener value="EDIT"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								action="#{bean.viewtaBill}"
								rendered="#{loginBean.userFeatures['TA_BILL_VIEW']}"
								disabled="#{bean.viewButtonFlag}"
								class="btn bg-info heading-btn  font-iconmoon"
								title="#{msg['view']}" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" action="#{bean.clearButton}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>

						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="tabilltable" widgetVar="producttablewdgt"
							class="table" var="data" rowKey="#{data.id}"
							selection="#{bean.selectedTaBill}"
							value="#{bean.lazyTravAlloBillList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="10,15,20" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_record_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('editId')},#{p:component('viewId')}" />

							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" styleClass="width-12"
								filterBy="#{data.taBillType}" filterMatchMode="contains"
								headerText="#{msg['ta_bill_type']} " sortBy="#{data.taBillType}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.taBillType}" />
							</p:column>

							<p:column filterable="true" styleClass=" "
								filterBy="#{data.tourplancode}" filterMatchMode="contains"
								headerText="#{msg['tour_pgm_plan_code']} / #{msg['name']}"
								sortBy="#{data.tourplancode}" sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.tourplancode}" />
							</p:column>

							<p:column filterable="true" styleClass=" "
								filterBy="#{data.claimname}" filterMatchMode="contains"
								headerText="#{msg['claim_name']}" sortBy="#{data.claimname}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.claimname}" />
							</p:column>

							<p:column filterable="true" styleClass=" "
								filterBy="#{data.empCode}" filterMatchMode="contains"
								headerText="#{msg['employee_code']} / #{msg['name']} "
								sortBy="#{data.empCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.empCode}" />
							</p:column>

							<p:column filterable="true" styleClass="text-right fa-input"
								filterBy="#{data.totclaimAmount}" filterMatchMode="contains"
								headerText="#{msg['tot_claim_amt']} (&#xf156;) "
								sortBy="#{data.totclaimAmount}" sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.totclaimAmount}">
									<f:convertNumber pattern="#0.00"></f:convertNumber>
								</h:outputText>
							</p:column>

							<p:column filterable="true" styleClass="text-center"
								filterBy="#{data.status}" filterMatchMode="contains"
								headerText="#{msg['status']}" sortBy="#{data.status}"
								sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('producttablewdgt').filter()">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
										<f:selectItem itemValue="SUBMITTED" itemLabel="Submitted" />
										<f:selectItem itemValue="APPROVED" itemLabel="Approved" />
										<f:selectItem itemValue="FINAL-APPROVED"
											itemLabel="Final Approved" />
										<f:selectItem itemValue="REJECTED" itemLabel="Rejected" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.status}"
									styleClass="label label-warning width-custom"
									rendered="#{data.status eq 'SUBMITTED'}"></h:outputText>
								<h:outputText value="#{data.status}"
									styleClass="label label-primary width-custom"
									rendered="#{data.status eq 'APPROVED'}"></h:outputText>
								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'FINAL-APPROVED'}"></h:outputText>
								<h:outputText value="#{data.status}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'REJECTED'}"></h:outputText>
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="width-6 text-center" />
						</p:dataTable>

						<p:remoteCommand name="updateFilterSelection" process="@this"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
