<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>InfoTex | Online Job Application</title>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h4 class="page-title">Online Job Application</h4>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb mt text11 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">Personnel HR</a></li>
						<li class="active">Online Job Application</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="panel panel-default panel-top-bor">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Notification No. / அறிவிப்பு எண்" />
							<p:inputText value="167778" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5">
						<div class="form-group">
							<p:outputLabel value="Name of the Post applied / விண்ணப்பிக்கும் பதவியின் பெயர்" />
							<p:inputText value="Junior Assistant" class="form-control" disabled="true" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Application No. / விண்ணப்ப எண்" />
							<p:inputText value="086431" class="form-control" disabled="true" />
						</div>
					</div>
				</div>
				
				<div class="prevPage">

				<h4 class="bord_bot">
					<span class="iform-title"><i class="fa fa-th-large m-r-10"></i>
					Personal Details / <p:outputLabel value="சொந்த விவரங்கள்" class="text13" /></span>
				</h4>


				<div class="row">
					<div class="col-lg-9 col-md-10 col-sm-12">
						<div class="row m-b-5" style="margin-top: 24px;">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="First Name /&nbsp;" />
									<p:outputLabel value="முதற்பெயர்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Last Name /&nbsp;" />
									<p:outputLabel value="கடைசி பெயர்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Gender /&nbsp;" />
									<p:outputLabel value="பாலினம்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
									
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Select" />
										<f:selectItem itemLabel="Male" />
										<f:selectItem itemLabel="Female" />
									</h:selectOneMenu>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group form-group_calend">
									<p:outputLabel value="Date of Birth /&nbsp;" />
									<p:outputLabel value="பிறந்த தேதி" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Age/" />
									<p:outputLabel value="வயது" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" disabled="true" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Father Name /&nbsp;" />
									<p:outputLabel value="தந்தை பெயர்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Mother Name /&nbsp;" />
									<p:outputLabel value="தாயார் பெயர்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
									
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Marital Status /&nbsp;" />
									<p:outputLabel value="திருமண நிலை" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
									
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Male" />
										<f:selectItem itemLabel="Female" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Spouse Name /&nbsp;" />
									<p:outputLabel value="கணவர்/மனைவி பெயர்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Religion /&nbsp;" />
									<p:outputLabel value="மதம்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Mobile Number /&nbsp;" />
									<p:outputLabel value="கைபேசி எண்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
									
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="pr">
										<span class="contact-no">+91</span> <span
											class="fa fa-mobile fa-lg input_icons"></span>
										<p:inputText value="" class="form-control input-icon-phone" />
									</div>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Email Address/" />
									<p:outputLabel value="மின்னஞ்சல் முகவரி" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="pr">
								<span class="fa fa-envelope fa-lg input_icons"></span>
								<p:inputText value="" class="form-control" />
									</div>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
							<p:outputLabel value="Aadhaar Number /&nbsp;" /> 
							<p:outputLabel value="ஆதார் எண்" class="text11" />
							
						</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="input3-group"> 
								<p:inputText value="" class="form-control eql-input" />
								<p:inputText value="" class="form-control eql-input m-l-r-10" />
								<p:inputText value="" class="form-control eql-input" />
							</div>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="PAN Number /&nbsp;" />
									<p:outputLabel value="PAN எண்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Upload Signature /&nbsp;" /> 
									<p:outputLabel value="கையொப்பம் பதிவேற்றம்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
						</div>
						
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group text-center">
							<p:outputLabel value="Upload Photo" />
							<div class="m-b-10">
								<img src="#{request.contextPath}/assets/images/profile-photo.png" class="app_photo" />
							</div>
							<p:commandButton value="&#xf093;&nbsp; Upload" class="btn btn-primary fa-input" style="width:140px;" />
						</div>
												
					</div>
				</div>
				
				<h4 class="bord_bot">
					<span class="iform-title"><i class="fa fa-th-large m-r-10"></i>
					Caste Details / <p:outputLabel value="சாதி விவரங்கள்" class="text13" /></span>
				</h4>
				
				<div class="row">
				
				<div class="col-lg-9 col-md-9 col-sm-9">
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Caste/" />
									<p:outputLabel value="சாதி" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Sub Caste/" />
							<p:outputLabel value="சாதி உட்பிரிவின் பெயர்" class="text11" />
							<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Certificate No./" />
							<p:outputLabel value="சான்றிதழ் எண்" class="text11" />
							<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Date of Issue/" />
							<p:outputLabel value="வழங்கப்பட்ட தேதி" class="text11" />
							<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Issuing Authority" />
							<p:outputLabel value="சான்றிதழ் வழங்கிய அதிகாரி" class="text11" />
							<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="District/" />
									<p:outputLabel value="மாவட்டம்" class="text11" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Taluk/" />
							<p:outputLabel value="தாலுகா" class="text11" />
							<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
							</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				</div>

				<h4 class="bord_bot">
					<span class="iform-title"><i class="fa fa-th-large m-r-10"></i>Educational Details / <span class="text13">கல்வி விவரங்கள்</span>
					</span>
				</h4>
				
				<div class="row">

				<div class="col-lg-9 col-md-9 col-sm-9">
					<div class="row m-b-5">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="Educational Qualification/" />
								<p:outputLabel value="கல்வித்தகுதி" class="text11" />
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
							:
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<h:selectOneMenu class="form-control">
							<f:selectItem itemLabel="Select" />
						</h:selectOneMenu>
						</div>
					</div>
					
					<div class="row m-b-5">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="Date of result Published/" />
								<p:outputLabel value="தேர்வு முடிவு வெளியிடப்பட்ட தேதி" class="text11" />
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
							:
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
						</div>
					</div>
					
					<div class="row m-b-5">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="Medium of Instruction/" />
								<p:outputLabel value="பயிற்று மொழி" class="text11" />
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
							:
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<p:inputText value="" class="form-control" />
						</div>
					</div>
					
					<div class="row m-b-5">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group m-0">
								<p:outputLabel value="Name of the Board / University" class="m-0" />
								<p:outputLabel value="தேர்வுக்குழுமம் / பல்கலைக்கழகம்" class="text11 m-0" />
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
							:
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5">
							<p:inputText value="" class="form-control" />
						</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Certificate No./" class="m-0" />
									<p:outputLabel value="சான்றிதழ் எண்" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Percentage/CGPA/" class="m-0" />
									<p:outputLabel value=" சதவிதம்/" class="text11 m-0" />
									<p:outputLabel value="ஒட்டுமொத்த சராசரி / தர புள்ளிகள்" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				
				</div>

				<h4 class="bord_bot">
					<span class="iform-title m-r-15"><i
						class="fa fa-th-large m-r-10"></i>Are you a Physically challenged
						Person / <p:outputLabel value="மாற்றுத்திறனாளியா?" class="" /></span> 
						
						<span class="radio radio-info radio-inline"> <input
						type="radio" id="yes" checked="checked" /> <p:outputLabel
							value="Yes" />
					</span> <span class="radio radio-info radio-inline"> <input
						type="radio" id="no" /> <p:outputLabel value="No" />
					</span>
				</h4>
				
				<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9">
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Certificate No./" class="m-0" />
									<p:outputLabel value="சான்றிதழ் எண்" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Date of Issue/" />
									<p:outputLabel value="வழங்கப்பட்ட தேதி" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Issuing Authority/" />
									<p:outputLabel value="சான்றிதழ் வழங்கிய அதிகாரி" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34">
									<p:outputLabel value="Upload Certificate/" class="m-0" />
									<p:outputLabel value="சான்றிதழ் பதிவேற்றம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
					</div>
				</div>
				</div>
				

				<h4 class="bord_bot">
					<span class="iform-title m-r-10"><i
						class="fa fa-th-large m-r-10"></i>Apply for Priority /
						Non-Priority Class / <p:outputLabel value="முன்னுரிமை மற்றும் முன்னுரிமையற்ற வகுப்புகளுக்கு விண்ணப்பிக்கிறீர்களா?" class="text13" /></span>
						
						<span class="radio radio-info radio-inline">
					<input type="radio" id="yes" checked="checked" /> <p:outputLabel value="Yes" />
				</span> 
				<span class="radio radio-info radio-inline"> <input type="radio" id="no" /> <p:outputLabel value="No" /></span> 
				</h4>

				<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9">
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Priority / Non-Priority Name/" class="m-0" />
									<p:outputLabel value="முன்னுரிமை மற்றும் முன்னுரிமையற்ற வகுப்புகளின் பெயர்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control inline_block">
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
							</div>
					</div>
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Certificate No./" class="m-0" />
									<p:outputLabel value="சான்றிதழ் எண்" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Date of Issue/" />
									<p:outputLabel value="வழங்கப்பட்ட தேதி" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34 m-0">
									<p:outputLabel value="Issuing Authority/" />
									<p:outputLabel value="சான்றிதழ் வழங்கிய அதிகாரி" class="text11 m-0" />
									<p:outputLabel class="mand-sign" value="*" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
					</div>
					
					<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34">
									<p:outputLabel value="Upload Certificate/" class="m-0" />
									<p:outputLabel value="சான்றிதழ் பதிவேற்றம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3"></div>
				
				</div>
				
				<!-- <div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6"></div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								
								
					<p:commandButton value=" &nbsp; #{msg['cancel']}"
						class="btn btn-cancel waves-effect waves-light fa-input" />
						<p:commandButton value=" &nbsp; #{msg['save']} #{msg['and']} #{msg['continue']}"
						class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10" />
						
						<a href="" id="nextbtn" class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10">
									 &nbsp; #{msg['save']} #{msg['and']} #{msg['continue']}
						</a>
					
				
							</div>
						</div>
					</div>
				</div> -->

				</div>
				
				<div class="nextPage">
				<h4 class="bord_bot">
					<span class="iform-title m-r-15"><i
						class="fa fa-th-large m-r-10"></i>Studied in Tamil Medium (PSTM) / 
						<p:outputLabel class="text13" value="நீங்கள் தமிழ் வழியில் படித்திருக்கிறீர்களா?" />
						</span> 
					<span
						class="radio radio-info radio-inline"> <input type="radio"
						id="yes" checked="checked" /> <p:outputLabel value="Yes" />
					</span> 
					<span class="radio radio-info radio-inline"> <input
						type="radio" id="no" /> <p:outputLabel value="No" />
					</span>
				</h4>

				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34">
									<p:outputLabel value="Upload Certificate/" class="m-0" />
									<p:outputLabel value="சான்றிதழ் பதிவேற்றம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3"></div>
				</div>

				<h4 class="bord_bot">
					<span class="iform-title m-r-15"><i
						class="fa fa-th-large m-r-10"></i>Are you Government Employee / 
						<p:outputLabel value="அரசுப் பணியாளரா?" class="text13" />
					</span> 
					<span
						class="radio radio-info radio-inline"> <input type="radio"
						id="yes" checked="checked" /> <p:outputLabel value="Yes" />
					</span>
					<span class="radio radio-info radio-inline"> <input
						type="radio" id="no" /> <p:outputLabel value="No" />
					</span>
				</h4>

				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group lh34">
									<p:outputLabel value="Upload Certificate/" class="m-0" />
									<p:outputLabel value="சான்றிதழ் பதிவேற்றம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
					</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
					
					</div>
				</div>

				<h4 class="bord_bot">
					<span class="iform-title m-r-15"><i
						class="fa fa-th-large m-r-10"></i>Work Experience / 
						<p:outputLabel value="வேலை அனுபவம்" class="text13" />
					</span> 
						<span class="radio radio-info radio-inline"> <input type="radio"
						id="yes" checked="checked" /> <p:outputLabel value="Yes" />
					</span> <span class="radio radio-info radio-inline"> <input
						type="radio" id="no" /> <p:outputLabel value="No" />
					</span>
				</h4>
				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Name of the Organisation/" />
									<p:outputLabel value="நிறுவனத்தின் பெயர்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Designation/" />
									<p:outputLabel value="பதவி" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Period From/" />
									<p:outputLabel value="பதவிக்காலம் முதல்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Period To/" />
									<p:outputLabel value="பதவிக்காலம் வரை" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:calendar styleClass="form-control calend-icon caled-top"></p:calendar>
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Nature of Duty/" />
									<p:outputLabel value="பணியின் தன்மை" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Upload Experience Certificate/" />
									<p:outputLabel value="வேலை அனுபவம் சான்றிதழ் பதிவேற்றம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="file-upload">
								<div class="file-select">
									<div class="file-select-name" id="noFile">No file
										chosen...</div>
									<div class="file-select-button" id="fileName">
										<i class="fa fa-upload"></i>
									</div>
									<input type="file" name="chooseFile" id="chooseFile" />
								</div>
							</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
					
					</div>
				</div>
								
				<h4 class="bord_bot">
					<span class="iform-title">
					<i class="fa fa-th-large m-r-10"></i>Communication Details / 
					<p:outputLabel value="தொடர்பு விபரங்கள்" class=""></p:outputLabel>
					</span>
				</h4>
				
				<h3>Temporary Address</h3>
				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Address Line 1/" />
									<p:outputLabel value="முகவரி 1" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Address Line 2/" />
									<p:outputLabel value="முகவரி 2" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="State/" />
									<p:outputLabel value="மாநிலம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h:selectOneMenu class="form-control inline_block">
								<f:selectItem itemLabel="TamilNadu" />
								<f:selectItem itemLabel="Karnataka" />
								<f:selectItem itemLabel="Andhra Pradesh" />
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
					
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6"></div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="checkbox">
									<input type="checkbox" />
									<p:outputLabel value="Click here for same address" />
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-3 col-sm-3">
					
					</div>
				</div>
							
				
				<h3>Permanent Address</h3>
				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Address Line 1/" />
									<p:outputLabel value="முகவரி 1" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Address Line 2/" />
									<p:outputLabel value="முகவரி 2" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText value="" class="form-control" />
							</div>
						</div>
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="State/" />
									<p:outputLabel value="மாநிலம்" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="form-group">
								<h:selectOneMenu class="form-control inline_block">
								<f:selectItem itemLabel="TamilNadu" />
								<f:selectItem itemLabel="Karnataka" />
								<f:selectItem itemLabel="Andhra Pradesh" />
								<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>
							</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
					
					</div>
				</div>
				
				<h4 class="bord_bot">
					<span class="iform-title m-r-15"><i
						class="fa fa-th-large m-r-10"></i>Payment Details / <p:outputLabel value="கட்டண விவரங்கள்" class="text13" /></span> 
				</h4>
				
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Payment Type" />
									<p:outputLabel value="/கட்டணம் செலுத்தும் வகை" class="text11 m-0" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								
								<h:selectOneMenu class="form-control inline_block" disabled="true">
								<f:selectItem itemLabel="Demand draft" />
								</h:selectOneMenu>
							
							</div>
						</div>
					
					
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="DD No." />
									<p:outputLabel value="/கேட்புக் காசோலை எண்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText class="form-control" value="" />
							</div>
						</div>
					
				
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Name of the Favor" />
									<p:outputLabel value="/என்ற பெயருக்கு" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText class="form-control" value="" />
							</div>
						</div>
					
					
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Name of the Bank" />
									<p:outputLabel value="/வங்கியின் பெயர்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText class="form-control" value="" />
							</div>
						</div>
					
					
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="Name of the Branch" />
									<p:outputLabel value="/கிளையின் பெயர்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText class="form-control" value="" />
							</div>
						</div>
										
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="IFSC Code" />
									<p:outputLabel value="/இந்திய நிதி அமைப்பு குறியீட்டு எண்" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<p:inputText class="form-control" value="" />
							</div>
						</div>
						
						<div class="row m-b-5">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="DD Amount" />
									<p:outputLabel value="/கேட்புக் காசோலைத் தொகை" class="text11" />
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1 text-center lh34">
								:
							</div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<div class="form-group">
								<p:inputText class="form-control" value="" />
								</div>
							</div>
						</div>
					
				</div>
				</div>
				
				
				
				<div class="text-right" style="width: 68.5%;">
					<!-- <a href="" id="prevbtn" class="btn btn-sm btn-info waves-effect waves-light fa-input">
						 &nbsp; #{msg['back']}
					</a> -->
					<p:commandButton
						value="&#xf00c;&nbsp; #{msg['submit']}"
						class="btn btn-success waves-effect w-md waves-light fa-input ">
					</p:commandButton>
					<p:commandButton
						value="&#xf00d;&nbsp; #{msg['cancel']}"
						class="btn btn-cancel waves-effect waves-light fa-input m-l-10">
					</p:commandButton>
					
				</div>
				
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function (){
		$("#nextbtn").click(function(){
		    $("div[id^=div]").hide();
		});
		$("#prevbtn").click(function(){
		    $(".prevPage").show();
		}); 
		});
		</script>
		
	</ui:define>
</ui:composition>