<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="myform">
			<style>
.action-danger {
	width: 25px;
	height: 25px;
}

.withou-bor table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 8px 5px;
	font-size: 12px;
	font-weight: 600;
}

.withou-bor table, td {
	background: #fff;
}
</style>
			<script>
				function deleteFunction() {
					alert("js");
				}
			</script>

			<title>InfoTex | Employee Payroll Register List</title>
			<!-- Page Header -->
			<div class="page-header page-header-default page-header-wizard"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['emp_payrollreglist']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{msg['emp_payrollreglist']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>


				</div>
			</div>
			<!-- End Page Header -->

			<div class="content" id="panelIds">
				<div class="row">
					<div class="col-lg-12">
						<p:outputPanel id="panelId">
							<ui:repeat varStatus="status"
								value="#{employeePayrollRegisterBean.employeePayrollRequestDTOList}"
								var="checklist">
								<div class="panel panel-flat">
									<div class="panel-body p-8">
										<table class="withou-bor" style="width: 100%">
											<thead></thead>
											<tbody>
												<tr>
													<td class="border-hed width-18">P.F No</td>
													<td>#{checklist.pfNo}</td>
													<td class="border-hed width-18">Employee Name</td>
													<td>#{checklist.empName}</td>
													<td class="border-hed width-18">Designation</td>
													<td>#{checklist.designation}</td>
												</tr>
												<tr>
													<td class="border-hed width-18">UAN No</td>
													<td>#{checklist.uanNo}</td>
													<td class="border-hed width-18">Father / Husband Name</td>
													<td>#{checklist.fatherName}</td>
													<td class="border-hed width-18">Department / Section</td>
													<td>#{checklist.departmentName} /
														#{checklist.sectionName}</td>
												</tr>
												<tr>
													<td class="border-hed width-13">PAN No</td>
													<td>#{checklist.panNumber}</td>
													<td class="border-hed width-13">Date Of Joining</td>
													<td>#{checklist.dateOfJoining}</td>
													<td class="border-hed width-13">Days Worked</td>
													<td>#{checklist.daysWorked}</td>
												</tr>
											</tbody>
										</table>
										<p:dataTable value="#{checklist.employeePayrollDetailsList}"
											styleClass="report-table" var="data" rowIndexVar="index">
											<p:columnGroup type="header">
												<p:row>
													<p:column headerText="Earnings" styleClass="width-30" />
													<p:column headerText="Amount (&#xf156;)"
														styleClass="fa-input text-right width-15" />
													<p:column headerText="Earnings" styleClass="width-30" />
													<p:column headerText="Amount (&#xf156;)"
														styleClass="fa-input text-right width-15" />
												</p:row>
											</p:columnGroup>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.allowanceName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.allowanceAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.deductionName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.deductionAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column colspan="2"
												rendered="#{data.otherAllowance eq 'Allowance'}"
												styleClass="width-50" style="background:#f2f2f2;">
												<h:outputText value="Other Allowance"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance eq 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.deductionName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance eq 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.deductionAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:columnGroup type="footer">
												<p:row>
													<p:column colspan="1" footerText="Gross Pay">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.grossPay)}">
													</p:column>
													<p:column colspan="1" footerText="Total Deductions">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.deduction)}">
													</p:column>
												</p:row>
												<p:row>
													<p:column colspan="3"
														footerText="Payable Amount #{checklist.netPay ne '0.00' ? '' : '(Unpaid)'}">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.netPay)}">
													</p:column>
												</p:row>
												<p:row>
													<p:column colspan="3"
														footerText="Net Payable Amount #{checklist.netPay ne '0.00' ? '' : '(Unpaid)'}">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatRoundOffDecimalNumber(checklist.roundOff)}">
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
										<p class="text-right m-t-5">
											<h:panelGroup rendered="#{checklist.netPay ne '0.00'}">
												<b>Amount in Words :</b> #{checklist.amountInWords}
									</h:panelGroup>
										</p>
									</div>
								</div>
							</ui:repeat>
						</p:outputPanel>
					</div>
				</div>
				<div class="row label-form">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<p:outputLabel value="#{msg['frwd_to']}" for="forwardto" />
							<p:outputLabel value="*" class="mand-symbol" for="forwardto"
								rendered="#{empty param[submit.clientId]}" />
							<div class="input-group ui-outputlabel ui-widget">
								<span class="input-group-addon"><i class="icon-forward"></i></span>
								<p:autoComplete id="forwardto" minQueryLength="2"
									styleClass="form-control" converter="#{entityConverter}"
									required="#{not empty param[inspection.clientId]}"
									requiredMessage="#{msg['ins_off_name']} #{msg['required']}"
									value="#{employeePayrollRegisterBean.payrollVerification.forwardTo}"
									itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
									completeMethod="#{employeePayrollRegisterBean.loadAutoCompleteUserMaster}"
									effect="fade">
									<p:ajax event="itemSelect" update="forwardto"></p:ajax>
								</p:autoComplete>
							</div>
							<small>(#{msg['pls_type_pf_name_designation']})</small>
							<h:message for="forwardto" class="validation-error-label"></h:message>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<p:outputLabel value="#{msg['frwd_for']}" for="frwdFor" />
							<p:outputLabel value="*" class="mand-symbol" for="frwdFor"
								rendered="#{empty param[submit.clientId]}" />
							<div class="input-group ui-outputlabel ui-widget">
								<span class="input-group-addon"><i class="icon-forward"></i></span>
								<h:selectOneMenu class="form-control select2" id="frwdFor"
									value="#{employeePayrollRegisterBean.payrollVerification.finalApproval}"
									required="#{not empty param[submit.clientId]}"
									requiredMessage="#{msg['frwd_for']} #{msg['is_required']}">
									<f:selectItem itemLabel="#{msg['select']}" />
									<f:selectItem itemValue="#{false}" itemLabel="Approval" />
									<f:selectItem itemValue="#{true}" itemLabel="Final Approval" />
								</h:selectOneMenu>
							</div>
							<h:message for="frwdFor" class="validation-error-label"></h:message>
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<p:commandButton value="&#xf067; #{msg['create_note']}"
							title="#{msg['create_note']}"
							styleClass="btn bg-success btn-md fa-input m-l-0"
							onclick="PF('notedialog').show();"></p:commandButton>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 text-right">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							immediate="true" class="btn bg-slate font-iconmoon m-r-0"
							action="#{employeePayrollRegisterBean.payrollVerificationclear}"
							onstart="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();" title="#{msg['cancel']}">
						</p:commandButton>
						<p:commandButton value="#{msg['submit']}" title="#{msg['submit']}"
							update="growls" id="submit" onstart="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-success font-iconmoon"
							action="#{employeePayrollRegisterBean.savePayrollVerification}">
						</p:commandButton>
					</div>
				</div>

				<!-- Add Note Dialogue -->
				<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
					modal="true" showEffect="fade" hideEffect="fade" resizable="false"
					width="80%" class="p-0 top-100">
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">#{msg['note']}
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="panel-body p-0 m-b-10">
											<p:textEditor widgetVar="editor2"
												value="#{employeePayrollRegisterBean.payrollVerification.note}"
												height="200" />
										</div>

										<div class='col-md-12'>
											<div class="carousel slide media-carousel">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row m-t-10">
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>#{msg['name']} :
																			#{loginBean.employee.firstName}</li>
																		<li>#{msg['designation']} :
																			#{loginBean.employee.personalInfoEmployment.currentDesignation.name}</li>
																		<li><h:outputText
																				value="#{msg['date']} : #{employeePayrollRegisterBean.currentDate}">
																				<f:convertDateTime
																					pattern="#{loginBean.userInfoDTO.dateFormat}" />
																			</h:outputText></li>
																	</ul>
																</div>
															</div>

														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}" onclick="PF('notedialog').hide();"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											oncomplete="PF('notedialog').hide();" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</p:dialog>
			</div>
		</h:form>

		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="deleteDlg" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<h:form id="dlgformId">
				<div class="modal-body">
					<h:outputText value="#{msg['do_u_want_delete_payroll_data']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('deleteDlg').hide()" />
					<p:commandButton
						styleClass="btn bg-success heading-btn font-iconmoon"
						update="growls" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" title="#{msg['yes']}"
						value="&#xed6e;&nbsp;#{msg['yes']}"
						action="#{employeePayrollRegisterBean.deletePayrollData}"
						oncomplete="PF('deleteDlg').hide()">
					</p:commandButton>
				</div>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>