<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="myform">
			<style>
.action-danger {
	width: 25px;
	height: 25px;
}

.withou-bor table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 8px 5px;
	font-size: 12px;
	font-weight: 600;
}

.withou-bor table, td {
	background: #fff;
}
</style>


			<title>InfoTex | Employee Payroll Register List</title>
			<!-- Page Header -->
			<div class="page-header page-header-default page-header-wizard"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['retired_emp_payrollreglist']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{msg['retired_employee_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>


				</div>
			</div>
			<!-- End Page Header -->

			<div class="content" id="panelIds">
				<div class="row">
					<div class="col-lg-12">
						<p:outputPanel id="panelId">
							<ui:repeat varStatus="status"
								value="#{employeePayrollRegisterBean.employeePayrollRequestDTOList}"
								var="checklist">
								<div class="panel panel-flat">
									<div class="panel-body p-8">
										<table class="withou-bor" style="width: 100%">
											<thead></thead>
											<tbody>
												<tr>
													<td class="border-hed width-18">P.F No</td>
													<td>#{checklist.pfNo}</td>
													<td class="border-hed width-18">Employee Name</td>
													<td>#{checklist.empName}</td>
													<td class="border-hed width-18">Designation</td>
													<td>#{checklist.designation}</td>
												</tr>
												<tr>
													<td class="border-hed width-18">UAN No</td>
													<td>#{checklist.uanNo}</td>
													<td class="border-hed width-18">Father / Husband Name</td>
													<td>#{checklist.fatherName}</td>
													<td class="border-hed width-18">Department / Section</td>
													<td>#{checklist.departmentName} /
														#{checklist.sectionName}</td>
												</tr>
												<tr>
													<td class="border-hed width-13">PAN No</td>
													<td>#{checklist.panNumber}</td>
													<td class="border-hed width-13">Date Of Joining</td>
													<td>#{checklist.dateOfJoining}</td>
													<td class="border-hed width-13">Days Worked</td>
													<td>#{checklist.daysWorked}</td>
												</tr>
											</tbody>
										</table>
										<p:dataTable value="#{checklist.employeePayrollDetailsList}"
											styleClass="report-table" var="data" rowIndexVar="index"
											id="datatableId">
											<p:columnGroup type="header">
												<p:row>
													<p:column headerText="Earnings" styleClass="width-30" />
													<p:column headerText="Amount (&#xf156;)"
														styleClass="fa-input text-right width-15" />
													<p:column headerText="Action"
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}"
														styleClass="text-center width-5" />
													<p:column headerText="Earnings" styleClass="width-30" />
													<p:column headerText="Amount (&#xf156;)"
														styleClass="fa-input text-right width-15" />
													<p:column headerText="Action"
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}"
														styleClass="text-center width-5" />
												</p:row>
											</p:columnGroup>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.allowanceName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.allowanceAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column
												rendered="#{data.otherAllowance ne 'Allowance' and loginBean.userFeatures['PAYROLL_DELETE']}"
												styleClass="text-center width-5">
												<p:commandButton styleClass="btn bg-danger action-danger"
													rendered="#{not empty data.allowanceAmount}"
													icon="fa fa-trash" onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"
													oncomplete="PF('deleteDlg').show();">
													<f:setPropertyActionListener value="#{data.earningId}"
														target="#{employeePayrollRegisterBean.empPayrollDeleteId}"></f:setPropertyActionListener>
													<f:setPropertyActionListener value="#{checklist}"
														target="#{employeePayrollRegisterBean.deleteEmployeeRequest}"></f:setPropertyActionListener>
												</p:commandButton>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.deductionName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance ne 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.deductionAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column styleClass="text-center width-5"
												rendered="#{data.otherAllowance ne 'Allowance' and loginBean.userFeatures['PAYROLL_DELETE']}">
												<p:commandButton styleClass="btn bg-danger action-danger"
													rendered="#{not empty data.deductionAmount}"
													icon="fa fa-trash" onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"
													oncomplete="PF('deleteDlg').show();">
													<f:setPropertyActionListener value="#{data.deductionId}"
														target="#{employeePayrollRegisterBean.empPayrollDeleteId}"></f:setPropertyActionListener>
													<f:setPropertyActionListener value="#{checklist}"
														target="#{employeePayrollRegisterBean.deleteEmployeeRequest}"></f:setPropertyActionListener>
												</p:commandButton>
											</p:column>
											<p:column colspan="3"
												rendered="#{data.otherAllowance eq 'Allowance' and loginBean.userFeatures['PAYROLL_DELETE']}"
												styleClass="width-50" style="background:#f2f2f2;">
												<h:outputText value="Other Allowance"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance eq 'Allowance'}"
												styleClass="width-30">
												<h:outputText value="#{data.deductionName}"></h:outputText>
											</p:column>
											<p:column rendered="#{data.otherAllowance eq 'Allowance'}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.deductionAmount}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column styleClass="text-center width-5"
												rendered="#{data.otherAllowance eq 'Allowance' and loginBean.userFeatures['PAYROLL_DELETE']}">
												<p:commandButton styleClass="btn bg-danger action-danger"
													rendered="#{not empty data.deductionAmount}"
													icon="fa fa-trash" onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"
													oncomplete="PF('deleteDlg').show();">
													<f:setPropertyActionListener value="#{data.deductionId}"
														target="#{employeePayrollRegisterBean.empPayrollDeleteId}"></f:setPropertyActionListener>
													<f:setPropertyActionListener value="#{checklist}"
														target="#{employeePayrollRegisterBean.deleteEmployeeRequest}"></f:setPropertyActionListener>
												</p:commandButton>
											</p:column>

											<p:columnGroup type="footer">
												<p:row>
													<p:column colspan="1" footerText="Gross Pay">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.grossPay)}">
													</p:column>
													<p:column align="right" colspan="1" footerText=""
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
													<p:column colspan="1" footerText="Total Deductions">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.deduction)}">
													</p:column>
													<p:column align="right" colspan="1" footerText=""
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
												</p:row>
												<p:row>
													<p:column colspan="4" footerText="Payable Amount"
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatDecimalNumber(checklist.netPay)}">
													</p:column>
													<p:column align="right" colspan="1" footerText=""
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
												</p:row>
												<p:row>
													<p:column colspan="4" footerText="Net Payable Amount"
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
													<p:column styleClass="text-right width-8"
														footerText="#{employeePayrollRegisterBean.formatRoundOffDecimalNumber(checklist.roundOff)}">
													</p:column>
													<p:column align="right" colspan="1" footerText=""
														rendered="#{loginBean.userFeatures['PAYROLL_DELETE']}">
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
										<p class="text-right m-t-5">
											<b>Amount in Words :</b> #{checklist.amountInWords}
										</p>
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<p:commandButton value="&#xe916;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}" onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()"
												onclick="window.location.href='#{request.contextPath}/pages/personnelHR/listRetiredEmployeePayrollRegister.xhtml'"
												class="btn bg-slate heading-btn font-iconmoon m-l-0">
											</p:commandButton>
										</div>
									</div>
								</div>
							</ui:repeat>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</h:form>

		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="deleteDlg" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<h:form id="dlgformId">
				<div class="modal-body">
					<h:outputText value="#{msg['do_u_want_delete_payroll_data']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('deleteDlg').hide()" />
					<p:commandButton
						styleClass="btn bg-success heading-btn font-iconmoon"
						update="myform:panelId growls"
						onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" title="#{msg['yes']}"
						value="&#xed6e;&nbsp;#{msg['yes']}"
						action="#{employeePayrollRegisterBean.deletePayrollDataForRetiredEmployee}"
						oncomplete="PF('deleteDlg').hide()">
					</p:commandButton>
				</div>
			</h:form>
		</p:dialog>
	</ui:define> 
</ui:composition>