<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">	

	<style type="text/css">
		.ui-fileupload-buttonbar .ui-fileupload-choose {
			width: 100%;
		}
		
		#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number, #steps-uid-0-t-2 span.number {
			background-color: #4caf50 !important;
			border-color: #4caf50 !important;
			color: #4caf50 !important;
		}
		
		#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
		#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
		#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number {
			color: #fff !important;
		}
		
		#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after, #steps-uid-0-t-2 .number:after {
			content: '\ed6f';
			color: #fff !important;
			font-family: icomoon;
			display: inline-block;
			margin-left: -7px;
			font-size: 16px;
			line-height: 34px;
		}

		#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after, #steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
		#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
		#steps-uid-0-t-8 .number:after {
			margin-left: -9px;
			color: #ff5722;
		}
		
		#steps-uid-0-t-0 .number {
			font-size:14px;
		}
		
		#steps-uid-0-t-3 .number {
			border-color: #ff5722;
		}
		
		#steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after,
		#steps-uid-0-t-7 .number:after, #steps-uid-0-t-8 .number:after {
			color: #bbb;
		}
		
		#steps-uid-0-t-3 .number:after {
			content: "17";
			color: #ff5722;
		}
		
		#steps-uid-0-t-4 .number:after {
			content: "18";
		}
		
		#steps-uid-0-t-5 .number:after {
			content: "19";
		}
		
		#steps-uid-0-t-6 .number:after {
			content: "20";
		}
		
		#steps-uid-0-t-7 .number:after {
			content: "21";
		}
		
		#steps-uid-0-t-8 .number:after {
			content: "22";
		}
		#steps-uid-0-t-0 {
			color: #bbb;
		}
		#steps-uid-0-t-3 {
			color: #333333 !important;
		}
</style>

</ui:composition>