<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Staff Eligibility Statement - Approval</title>


		<style type="text/css">
#steps-uid-0-t-0 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: 0px;
	font-size: 16px;
	line-height: 34px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#steps-uid-0-t-1 .number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-1 {
	color: #333333 !important;
}

table.cust-table th {
	white-space: normal !important;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-0 {
	color: #333333 !important;
}
</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['recruit_pro']} - #{msg['hr_staff_es_app']} <span
							class="label stageLabel label-primary label-rounded">2 /
							26</span>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['hr_staff_es_app']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content p-content">
			<div class="box-shadow-wizard wizard clearfix">
				<div class="steps clearfix">
					<ul role="tablist">
						<li class="first current"><a id="steps-uid-0-t-0"><span
								class="current-info audible">current step: </span><span
								class="number">1</span>#{msg['staff_elg_stmt']} </a></li>
						<li class="disabled"><a id="steps-uid-0-t-1"><span
								class="number">2</span>#{msg['hr_staff_es_app']}</a></li>
						<li class="disabled"><a id="steps-uid-0-t-2"><span
								class="number">3</span>#{msg['roster_reservation']}</a></li>
						<li class="disabled smnone"><a id="steps-uid-0-t-3"><span
								class="number">4</span>#{msg['reser_app']}</a></li>
						<li class="disabled smnone mdnone"><a id="steps-uid-0-t-4"><span
								class="number">5</span>#{msg['job_ad']} </a></li>
						<li class="disabled last smnone mdnone"><a
							id="steps-uid-0-t-5"><span class="number">6</span>
								#{msg['job_ad_appal']}</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info ">
				<div class="panel-heading ">
					<h6 class="panel-title">#{msg['hr_staff_es_app']}</h6>
				</div>
				<div class="page-scroll-with-process-insight-panel">
					<div class="panel-body ">
						<div class="row landscape view-style">
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.state.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity']}" />
									<h:outputText id="entity"
										value="#{staffEligibilityBean.staffEligibilityStmt.entity.length() gt 25?fn:substring({staffEligibilityBean.staffEligibilityStmt.entity},1,25).concat('...'):staffEligibilityBean.staffEligibilityStmt.entity}"
										class="" />
									<p:tooltip for="entity"
										value="#{staffEligibilityBean.staffEligibilityStmt.entity}" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.department.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<h:outputText id="designation"
										value="#{staffEligibilityBean.staffEligibilityStmt.designations.length() gt 25?fn:substring({staffEligibilityBean.staffEligibilityStmt.designations},1,25).concat('...'):staffEligibilityBean.staffEligibilityStmt.designations}"
										class="" />
									<p:tooltip for="designation"
										value="#{staffEligibilityBean.staffEligibilityStmt.designations}" />
								</div>
							</div>


							<h:panelGroup id="panelgr"
								rendered="#{staffEligibilityBean.staffEligibilityStmt.department.name eq 'Marketing'}">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['sal_per_from']}" />
										<h:outputText
											value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodFrom}"
											class="">
											<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['sal_per_to']}" />
										<h:outputText
											value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodTo}"
											class="">
											<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
							</h:panelGroup>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['created_date']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.createdDate}"
										class="">
										<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['holding_days_for_approv']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.noOfDaysForApproval}"
										class="" />
								</div>
							</div>
						</div>
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['staff_elg_stmt']}
								- #{staffEligibilityBean.staffEligibilityStmt.department.name}</span>
						</h5>

						<div class="table-responsive">
							<p:dataTable id="detailsList"
								value="#{staffEligibilityBean.staffEligibilityStmt.staffEligibilityDetails}"
								tableStyleClass="table-bordered" var="staffEligiDet"
								selection="#{staffEligibilityBean.selectedStaffEligibilityDetail}"
								rowIndexVar="idx">

								<p:column headerText="#">
									<h:outputText value="#{idx+1}" />

								</p:column>
								<p:column headerText="#{msg['entity']}">
									<h:outputText value="#{staffEligiDet.region.name}"></h:outputText>
								</p:column>
								<p:column headerText="#{msg['staff_annual']}" class="text-right">
									<h:outputText
										value="#{staffEligibilityBean.currencyFormat(staffEligiDet.annualSales)}">
										<f:convertNumber type="currency" currencySymbol="rs"
											currencyCode="INR" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{msg['no_of_staff_eli']}"
									class="text-right">
									<h:outputText value="#{staffEligiDet.noOfStaffEligible}" />
								</p:column>
								<p:column headerText="#{msg['sanc_sta_stre']}"
									class="text-right">
									<h:outputText value="#{staffEligiDet.sanctionedStaffCount}" />
								</p:column>
								<p:column headerText="#{msg['tot_sta_eli']}" class="text-right">
									<h:outputText value="#{staffEligiDet.totalStaffEligible}" />
								</p:column>
								<p:column headerText="#{msg['tot_sta_role']}" class="text-right">
									<h:outputText value="#{staffEligiDet.totalStaffOnRole}" />
								</p:column>
								<p:column headerText="#{msg['excess_count']}" class="text-right">
									<h:outputText value="#{staffEligiDet.excessCount}" />
								</p:column>
								<p:column headerText="#{msg['short_count']}" class="text-right">
									<h:outputText value="#{staffEligiDet.shortageCount}" />
								</p:column>
								<p:column headerText="#{msg['app_court']}" class="text-right">
									<p:inputNumber value="#{staffEligiDet.approvedCount}"
										maxValue="#{staffEligiDet.shortageCount}" padControl="false">
										<p:keyFilter regEx="/[\d]/" />
									</p:inputNumber>
								</p:column>
								<p:column headerText="#{msg['action']}" class="text-center">
									<p:commandButton value="&#xea18;" title="#{msg['view']}"
										class="btn bg-info font-iconmoon"
										action="#{staffEligibilityBean.viewShowroomDetails(staffEligiDet)}"
										update="showroompopup"></p:commandButton>
								</p:column>
							</p:dataTable>
						</div>

						<div class="row m-t-15 view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_post']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentForPost.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_year']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentYear}"
										class="" />
								</div>
							</div>

						</div>
						<div class="row m-t-15 view-style">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['remarks']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.remarks}"
										class="" />
								</div>
							</div>
						</div>

						<p:outputPanel id="commentRequired">
							<div class="row label-form">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['comment']}" class="border0" />
										<p:inputTextarea
											value="#{staffEligibilityBean.staffEligibilityStmt.comments}"
											maxlength="250" id="commenttooltip" required="true"
											requiredMessage="#{msg['commds_req']}" class="form-control"
											row="1"></p:inputTextarea>
										<small>#{msg['textarea_msg']} </small>
										<h:message for="commenttooltip" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>
						</p:outputPanel>

						<div class="text-right ">
							<p:commandButton value="&#xed6a; #{msg['cancel']}"
								title="#{msg['cancel']}" action="#{staffEligibilityBean.cancel}" immediate="true"
								onclick="PF('progressDlg').show();" tabindex="12"
								oncomplete="PF('progressDlg').hide();"
								class="btn btn-sm bg-slate font-iconmoon" />

							<p:commandButton value="&#xecf6; #{msg['reject']}"
								title="#{msg['reject']}"
								update="confirmAppr commentRequired growls"
								action="#{staffEligibilityBean.rejectStaffEligibility}"
								onclick="PF('progressDlg').show();" tabindex="12"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-danger heading-btn font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xecf5; #{msg['approve']}"
								title="#{msg['approve']}" onclick="PF('progressDlg').show();"
								tabindex="12" oncomplete="PF('progressDlg').hide();"
								action="#{staffEligibilityBean.approveStaffEligibility}"
								update="confirmAppr commentRequired growls"
								class="btn bg-success heading-btn font-iconmoon">
							</p:commandButton>
						</div>

					</div>
				</div>
			</div>
		</div>

		<p:dialog
			header="#{msg['confirm']} #{staffEligibilityBean.approveRejectAction eq 'APPROVED'?'Approval':'Rejection'}"
			draggable="false" modal="true" id="confirmAppr"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmStaffEligiApprove" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText
					value="#{msg['app_or_reject']} #{staffEligibilityBean.approveRejectAction eq 'APPROVED'?'approve':'Reject'} this Record ?" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmStaffEligiApprove').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{staffEligibilityBean.confirmApproval}"
					oncomplete="PF('confirmStaffEligiApprove').hide()">
				</p:commandButton>
			</div>
		</p:dialog>


		<p:dialog draggable="true" modal="true" id="showroompopup"
			header="#{msg['staff_elg_stmt']} - #{staffEligibilityBean.selectedStaffEligibilityDetail.region.name}"
			styleClass="p-0 overlay-pop modal-dialog modal-full" height="420"
			width="90%" closable="true" widgetVar="showroomdetail"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<h:form>
				<div class="modal-body p-0 border0">
					<div class="table-lay-a">
						<div class="ui-datatable static ui-widget table">
							<p:dataTable id="showroomList"
								value="#{staffEligibilityBean.selectedStaffEligibilityDetail.staffEligibilityShowroomDetails}"
								tableStyleClass="showroom-tbl" scrollable="true"
								scrollHeight="300" styleClass="custom-input-width m-b-10"
								var="staffEligiChild" rowIndexVar="idx">

								<p:column headerText="#" styleClass="sno-ovrflw-5 text-center">
									<h:outputText value="#{idx+1}" />
								</p:column>
								
								<p:column headerText="#{msg['entity']}" styleClass="width-15">
									<h:outputText value="#{staffEligiChild.region.name}" />
								</p:column>
								
								<p:column headerText="#{msg['staff_annual']}" styleClass="width-12 text-right">
									<h:outputText
										value="#{staffEligibilityBean.currencyFormat(staffEligiChild.annualSales)}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{msg['no_of_staff_eli']}"
									styleClass="width-12 text-right">
									<h:outputText value="#{staffEligiChild.noOfStaffEligible}" />
								</p:column>
								<p:column headerText="#{msg['sanc_sta_stre']}"
									styleClass="width-12 text-right">
									<h:outputText value="#{staffEligiChild.sanctionedStaffCount}" />
								</p:column>
								<p:column headerText="#{msg['tot_sta_eli']}" styleClass="width-12 text-right">
									<h:outputText value="#{staffEligiChild.totalStaffEligible}" />
								</p:column>
								<p:column headerText="#{msg['tot_sta_role']}" styleClass="width-12 text-right">
									<h:outputText value="#{staffEligiChild.totalStaffOnRole}" />
								</p:column>
								<p:column headerText="#{msg['excess_count']}" styleClass="width-10 text-right">
									<h:outputText value="#{staffEligiChild.excessCount}" />
								</p:column>
								<p:column headerText="#{msg['short_count']}" styleClass="width-10 text-right">
									<h:outputText value="#{staffEligiChild.shortageCount}" />
								</p:column>

							</p:dataTable>
						</div>
					</div>
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a; #{msg['cancel']}" title="#{msg['cancel']}"
						styleClass="btn btn-sm bg-slate font-iconmoon"
						oncomplete="PF('showroomdetail').hide()" />
				</div>

			</h:form>
		</p:dialog>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/datatables_basic.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/tables/datatables/datatables.min.js"></script>
	</ui:define>
</ui:composition>