<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Transfer Initiation From RM | Department</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['trans_Initi_Rm']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">Personnel - HR</a></li>
							<li class="active">#{msg['trans_Initi_Rm']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_id']}" />
									<span class="mand-red">*</span>
									<p:inputText id="empid" placeholder="EMP101"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<p:inputText id="dPercentage" placeholder="Naresh Kumar"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										styleClass="form-control" disabled="true"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<p:inputText id="empname" placeholder="Helper"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<p:inputText id="leavetype" placeholder="Admin"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['cadre']}" />
									<p:inputText id="cadre" placeholder="I"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['senior_no']}" />
									<p:inputText id="senior" placeholder="12"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['enty_typ']}" />
									<p:inputText id="region" placeholder="Head Office"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['otype']}" />
									<p:inputText id="office" placeholder="Head Office"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['showrm']}" />
									<p:inputText id="showrm" placeholder="Head Office"
										value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.percentage}"
										disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_type']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="trans"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="With in Region" itemValue="true" />
										<f:selectItem itemLabel="Out of Region" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['enty_typ']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="entytype"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Head Office" itemValue="true" />
										<f:selectItem itemLabel="Regional Office" itemValue="false" />
										<f:selectItem itemLabel="D &amp; P Offcie" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['otype']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="otype1"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Head office 1" itemValue="true" />
											<f:selectItem itemLabel="Head office 2" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_dept']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="reqdept"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Admin" itemValue="true" />
										<f:selectItem itemLabel="Marketing" itemValue="false" />
										<f:selectItem itemLabel="Technical" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['sec']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="section"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="A1" itemValue="true" />
										<f:selectItem itemLabel="A2" itemValue="true" />
										<f:selectItem itemLabel="A3" itemValue="true" />
										<f:selectItem itemLabel="A4" itemValue="true" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<p:outputLabel value="#{msg['req_date']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="requdate"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<p:outputLabel value="#{msg['date_of_applied']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="dateofapply" placeholder="22-Aug-2017"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required" disabled="true"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['to_region']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="toregion"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Chennai" itemValue="true" />
										<f:selectItem itemLabel="Coimbatore" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<p:outputLabel value="#{msg['sup_doc']}" />
								<div class="file-upload">
									<div class="file-select">
										<div class="file-select-name" id="noFile">No file
											chosen...</div>
										<div class="file-select-button" id="fileName">
											<i class="fa fa-upload" aria-hidden="true"></i>
										</div>
										<input type="file" name="chooseFile" id="chooseFile" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['reason']}" />
									<textarea id="reason" class="form-control" maxlength="225"
										rows="2" placeholder="Comments...."></textarea>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-lg-12 text-right">
								<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
									styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input"></h:commandButton>
								<a data-toggle="modal" href="#panel-modal"
									class="btn btn-sm btn-success waves-effect waves-light m-l-10">
									<i class="fa fa-floppy-o"></i> #{msg['save']}
								</a>
							</div>
							<div class="col-lg-12">
								<div id="panel-modal" class="modal fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
									style="display: none;">
									<div class="modal-dialog panel-pop">
										<div class="modal-content p-0 b-0">
											<div class="panel panel-color panel-primary">
												<div class="panel-heading">
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">×</button>
													<div class="title">#{msg['view_trans_Details']}</div>
												</div>
												<div class="panel-body">
													<div class="trans-pop">
														<div class="trans-left">Entity Type</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">Head Office</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Section</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">A1</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Transfer Type</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">With in Region</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">To Region</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">Chennai</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Requested Department</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">Admin</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Requested Date</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">12-Jun-2017</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Office Type</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">Head Office</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Reason</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">Career Growth</div>
													</div>
													<div class="clearfix"></div>
													<div class="trans-pop m-t-5">
														<div class="trans-left">Supporting Document</div>
														<div class="trans-mid">:</div>
														<div class="trans-right">
															<a href="#">Medical Report.pdf</a>
														</div>
													</div>

													<!-- <div class="col-md-12">
														<p>
															<strong>Transfer Type: </strong>With in Region
														</p>
														<p class="m-t-10">
															<strong>To Region: </strong>
														</p>
														<p class="m-t-10">
															<strong>Requested Department: </strong> Chennai
														</p>
														<p class="m-t-10">
															<strong>Showroom: </strong> Chennai
														</p>
														<p class="m-t-10">
															<strong>Requested Date: </strong> Requested Date
														</p>
														<p class="m-t-10">
															<strong>Office Type: </strong> Head Office
														</p>
														<p class="m-t-10">
															<strong>Reason: </strong> Head Office
														</p>
														<p class="m-t-10">
															<strong>Supporting Document: </strong> <a href="#">Medical
																Report.pdf</a>
														</p>
													</div> -->
													<div class="col-md-12 text-right m-t-10">
														<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
															styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input"></h:commandButton>
														<h:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
															styleClass="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10"></h:commandButton>
													</div>
												</div>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->

							</div>
							<div class="clearfix"></div>
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<script>
			$('#chooseFile').bind('change', function() {
				var filename = $("#chooseFile").val();
				if (/^\s*$/.test(filename)) {
					$(".file-upload").removeClass('active');
					$("#noFile").text("No file chosen...");
				} else {
					$(".file-upload").addClass('active');
					$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
				}
			});
		</script>
	</ui:define>
</ui:composition>
