<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Transfer Approval</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['trans_approval']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">Personnel - HR</a></li>
							<li class="active">#{msg['trans_approval']}</li>
						</ol>
					</div>
				</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 ph0">
								<div class="portlet m-b-0">
									<div class="panel-grey">
										<h3 class="portlet-title">#{msg['trans_approval_list']}</h3>
										<div class="clearfix"></div>
									</div>
									<div id="bg-primary1" class="panel-collapse collapse in">
										<div class="portlet-body p0">
											<div class="row">
												<div class="col-md-12">
													<div class="table-responsive table-bordered">
														<p:dataTable id="table" var="data"
															value="#{entityMasterBean.entityList}"
															paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															rows="5" paginator="true" paginatorPosition="bottom"
															styleClass="cust-table" rowsPerPageTemplate="5,10,15"
															rowIndexVar="idx">
															<p:column headerText="#{msg['serial_no']}"
																style="width:50px; text-align:center;">
																<h:outputText value="#{idx+1}" />
															</p:column>
															<p:column headerText="#{msg['ref_num']}"
																styleClass="text-center">
																<h:outputText value="2476006" />
															</p:column>
															<p:column headerText="#{msg['sec_assit']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['sup']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['dgm/agm']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['gm']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['cgm']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<p:commandLink title="#{msg['reject']}"
																	styleClass="btn btn-xs btn-danger waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-down"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['Md']}"
																styleClass="text-center">
																<p:commandLink title="#{msg['approved']}"
																	styleClass="btn btn-xs btn-success waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-up"></i>
																</p:commandLink>
																<p:commandLink title="#{msg['reject']}"
																	styleClass="btn btn-xs btn-danger waves-effect waves-light m-r-5">
																	<i class="fa fa-thumbs-down"></i>
																</p:commandLink>
																<a data-toggle="modal" href="#panel-modal"
																	title="#{msg['comment']}"
																	class="btn btn-xs btn-primary waves-effect waves-light">
																	<i class="fa fa-commenting"></i>
																</a>
															</p:column>
															<p:column headerText="#{msg['action']}">
																<p:commandLink title="#{msg['view']}"
																	styleClass="btn btn-xs btn-info waves-effect waves-light">
																	<i class="fa fa-eye"></i>
																</p:commandLink>
															</p:column>
															<f:facet name="footer">
																<p:commandLink
																	class="btn btn-xs btn-primary waves-effect waves-light fa-input">
																	<i class="fa fa-download"></i> PDF </p:commandLink>
																<p:commandLink
																	class="btn btn-xs btn-success waves-effect waves-light fa-input m-l-10">
																	<i class="fa fa-download"></i> Excel </p:commandLink>
															</f:facet>
														</p:dataTable>
													</div>
												</div>
												<!-- end col -->
												<div class="clearfix"></div>
											</div>
											<!-- end row -->

										</div>
									</div>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-12">
								<div id="panel-modal" class="modal fade" tabindex="-1"
									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
									style="display: none;">
									<div class="modal-dialog panel-pop">
										<div class="modal-content p-0 b-0">
											<div class="panel panel-color panel-primary">
												<div class="panel-heading">
													<button type="button" class="close" data-dismiss="modal"
														aria-hidden="true">×</button>
													<div class="title">#{msg['view_trans_Details']}</div>
												</div>
												<div class="panel-body">
													<div class="col-md-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['reason']}" />
															<textarea id="textarea" class="form-control"
																maxlength="225" rows="2" placeholder="Comments...."></textarea>
														</div>
													</div>
													<div class="col-md-12 text-center ph0 mt">
														<h:commandButton value="&#xf060;&nbsp;#{msg['back']}"
															styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></h:commandButton>
													</div>
												</div>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->

							</div>
						</div>
						<!-- end row -->
					</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
