<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Staff Eligibility Statement</title>

		<style type="text/css">
#steps-uid-0-t-0 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: 0px;
	font-size: 16px;
	line-height: 34px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

table.cust-table th {
	white-space: normal !important;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-0 {
	color: #333333 !important;
}
</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_staff_elg_stmnt']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['view_staff_elg_stmnt']}</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="content p-content">
			<div class="box-shadow-wizard wizard clearfix">
				<div class="steps clearfix">
					<ul>
						<li class="first current"><a id="steps-uid-0-t-0"><span
								class="current-info audible">current step: </span><span
								class="number">1</span> <span class="smwid100">#{msg['staff_elg_stmt']}</span></a></li>
						<li class="disabled "><a id="steps-uid-0-t-1"><span
								class="number">2</span>#{msg['hr_staff_es_app']} </a></li>
						<li class="disabled"><a id="steps-uid-0-t-2"><span
								class="number">3</span>#{msg['roster_reservation']}</a></li>
						<li class="disabled smnone"><a id="steps-uid-0-t-3"><span
								class="number">4</span>#{msg['reser_app']} </a></li>
						<li class="disabled smnone mdnone"><a id="steps-uid-0-t-4"><span
								class="number">5</span>#{msg['job_ad']} </a></li>
						<li class="disabled last smnone mdnone"><a
							id="steps-uid-0-t-5"><span class="number">6</span>#{msg['job_ad_appal']}
						</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info  m-0">
				<div class="panel-heading ">
					<h6 class="panel-title">#{msg['staff_elg_stmt']}</h6>
				</div>
				<div class="page-scroll-with-process-insight-panel">
					<div class="panel-body ">
						<div class="row landscape view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['eligilibity']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.state.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value=" #{msg['entity']}" />
									<h:outputText id="entity"
										value="#{staffEligibilityBean.staffEligibilityStmt.entity.length() gt 25?fn:substring({staffEligibilityBean.staffEligibilityStmt.entity},1,25).concat('...'):staffEligibilityBean.staffEligibilityStmt.entity}"
										class="" />
									<p:tooltip for="entity"
										value="#{staffEligibilityBean.staffEligibilityStmt.entity}" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText
										value="#{staffEligibilityBean.staffEligibilityStmt.department.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<h:outputText id="designation"
										value="#{staffEligibilityBean.staffEligibilityStmt.designations.length() gt 25?fn:substring({staffEligibilityBean.staffEligibilityStmt.designations},1,25).concat('...'):staffEligibilityBean.staffEligibilityStmt.designations}"
										class="" />
									<p:tooltip for="designation"
										value="#{staffEligibilityBean.staffEligibilityStmt.designations}" />
								</div>
							</div>




							<h:panelGroup id="panelgr"
								rendered="#{staffEligibilityBean.staffEligibilityStmt.department.name eq 'Marketing'}">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sal_per_from']}" />
										<h:outputText
											value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodFrom}"
											class="">
											<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sal_per_to']}" />
										<h:outputText
											value="#{staffEligibilityBean.staffEligibilityStmt.salesPeriodTo}"
											class="">
											<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
							</h:panelGroup>
							<ui:remove>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['holding_days_for_approv']}" />
										<h:outputText
											value="#{staffEligibilityBean.staffEligibilityStmt.noOfDaysForApproval}"
											class="">
										</h:outputText>
									</div>
								</div>
							</ui:remove>
						</div>

						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['staff_elg_stmt']}
								- #{staffEligibilityBean.staffEligibilityStmt.department.name}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12">
								<div class="table-lay-a">
									<p:dataTable id="detailsList"
										value="#{staffEligibilityBean.staffEligibilityStmt.staffEligibilityDetails}"
										tableStyleClass="table-bordered" styleClass="report-table"
										selection="#{staffEligibilityBean.selectedStaffEligibilityDetail}"
										var="staffEligiDet" rowIndexVar="idx">

										<p:column headerText="#">
											<h:outputText value="#{idx+1}" />

										</p:column>
										<p:column headerText="#{msg['entity']}">
											<h:outputText value="#{staffEligiDet.region.name}"></h:outputText>
										</p:column>
										<p:column headerText="#{msg['staff_annual']}"
											class="text-right"
											rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}">
											<h:outputText
												value="#{staffEligibilityBean.currencyFormat(staffEligiDet.annualSales)}">
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['no_of_staff_eli']}"
											class="text-right"
											rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}">
											<h:outputText value="#{staffEligiDet.noOfStaffEligible}" />
										</p:column>
										<p:column headerText="#{msg['sanc_sta_stre']}"
											class="text-right">
											<h:outputText value="#{staffEligiDet.sanctionedStaffCount}" />
										</p:column>
										<p:column headerText="#{msg['tot_sta_eli']}"
											class="text-right"
											rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}">
											<h:outputText value="#{staffEligiDet.totalStaffEligible}" />
										</p:column>
										<p:column headerText="#{msg['tot_sta_role']}"
											class="text-right">
											<h:outputText value="#{staffEligiDet.totalStaffOnRole}" />
										</p:column>
										<p:column headerText="#{msg['excess_count']}"
											class="text-right">
											<h:outputText value="#{staffEligiDet.excessCount}" />
										</p:column>
										<p:column headerText="#{msg['short_count']}"
											class="text-right">
											<h:outputText value="#{staffEligiDet.shortageCount}" />
										</p:column>

										<p:column headerText="#{msg['app_court']}" class="text-right">
											<h:outputText value="#{staffEligiDet.approvedCount}" />
										</p:column>

										<p:column headerText="#{msg['action']}" class="text-center">
											<p:commandButton value="&#xea18;" title="#{msg['view']}"
												class="btn bg-info font-iconmoon"
												action="#{staffEligibilityBean.viewShowroomDetails(staffEligiDet)}"
												update="showroompopup"></p:commandButton>
										</p:column>


										<p:columnGroup type="footer">
											<p:row>
												<p:column colspan="5" styleClass="text-right"
													footerText="#{msg['tot']}"
													rendered="#{staffEligibilityBean.staffEligibilityStmt.department.code ne 'MARKETING'}" />
												<p:column colspan="8" styleClass="text-right"
													footerText="#{msg['tot']}"
													rendered="#{!staffEligibilityBean.staffEligibilityStmt.department.code eq 'MARKETING'}" />
												<p:column
													footerText="#{staffEligibilityBean.staffEligibilityStmt.shortageCountTotal}"
													styleClass="text-right" />
												<p:column footerText="&nbsp;" styleClass="text-center" />
												<p:column footerText="&nbsp;" styleClass="text-center" />
											</p:row>
										</p:columnGroup>
									</p:dataTable>




									<div class="row m-t-15 landscape view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['req_post']}" />
												<h:outputText
													value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentForPost.name}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['req_year']}" />
												<h:outputText
													value="#{staffEligibilityBean.staffEligibilityStmt.recruitmentYear}"
													class="" />
											</div>
										</div>
									</div>

									<div class="clearfix"></div>
									<div class="row view-style">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['remarks']}" />
												<p>
													<h:outputText
														value="#{staffEligibilityBean.staffEligibilityStmt.remarks}"
														class="" />
												</p>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['comment']}" />
												<p>
													<h:outputText
														value="#{staffEligibilityBean.staffEligibilityStmt.comments}"
														class="" />
												</p>
											</div>
										</div>
									</div>



									<!-- Forward Section -->
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['frwd_to']}" />
											<span class="text-danger">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<ui:remove>
														<h:selectOneMenu id="fwdto" styleClass="form-control"
															converter="#{entityConverter}"
															value="#{staffEligibilityBean.selectedStaffEligibilityStmt.forwardToId}"
															disabled="#{staffEligibilityBean.finalApproveFlag}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems var="user"
																value="#{staffEligibilityBean.forwardToUsersList}"
																itemValue="#{user.id}" itemLabel="#{user.username}"></f:selectItems>
															<p:ajax event="change" update="fwdto" />
														</h:selectOneMenu>
													</ui:remove>

													<p:autoComplete id="fwdto" minQueryLength="2"
														panelStyle="width:250px" styleClass="form-control"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['forward_to_req']}"
														value="#{staffEligibilityBean.forwardToUser}"
														itemValue="#{user}" var="user" itemLabel="#{user.empName}"
														disabled="#{staffEligibilityBean.finalApproveFlag}"
														completeMethod="#{staffEligibilityBean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="fwdto"></p:ajax>
													</p:autoComplete>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_for']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu styleClass="form-control"
														disabled="#{staffEligibilityBean.finalApproveFlag}"
														value="#{staffEligibilityBean.selectedStaffEligibilityStmt.finalApprove}">
														<f:selectItem itemLabel="Select" itemValue=""></f:selectItem>
														<f:selectItem itemLabel="Approved" itemValue="false"></f:selectItem>
														<f:selectItem itemLabel="Final Approval" itemValue="true"></f:selectItem>
														<p:ajax update="@this" event="change"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<p:commandButton value="&#xea18; #{msg['view_note']}"
												title="#{msg['view_note']}"
												styleClass="btn bg-info btn-md font-iconmoon m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>

											<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
												style="min-width:32px;"
												styleClass="btn btn-primary btn-md font-iconmoon"
												onclick="PF('commentdialog').show();"></p:commandButton>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-right">
											<h:panelGroup rendered="#{staffEligibilityBean.approvalFlag}">
												<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
													onclick="PF('dlgComments2').show();"
													title="#{msg['reject']}"
													rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_REJECT']}"
													disabled="#{staffEligibilityBean.buttonFlag}"
													class="btn btn-sm bg-danger font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
													onclick="PF('dlgComments1').show();"
													title="#{msg['approve']}"
													rendered="#{loginBean.userFeatures['STAFF_ELIGIBILITY_APPROVE']}"
													disabled="#{staffEligibilityBean.buttonFlag}"
													class="btn btn-sm bg-success font-iconmoon">
												</p:commandButton>
											</h:panelGroup>
											<p:commandButton value="&#xeddf; #{msg['back']}"
												title="#{msg['back']}"
												action="#{staffEligibilityBean.cancel}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												class="btn btn-sm bg-info font-iconmoon" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p:dialog draggable="false" modal="true" id="showroompopup"
			header="#{msg['staff_elg_stmt']} - #{staffEligibilityBean.selectedStaffEligibilityDetail.region.name}"
			styleClass="p-0 overlay-pop modal-dialog" height="420" width="90%"
			closable="true" widgetVar="showroomdetail" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<h:form>
				<div class="modal-body p-0 border0">
					<p:outputPanel
						styleClass="#{staffEligibilityBean.selectedStaffEligibilityDetail.staffEligibilityShowroomDetails.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
						<p:dataTable id="showroomList" scrollable="true"
							scrollHeight="300" styleClass="custom-input-width m-b-10"
							value="#{staffEligibilityBean.selectedStaffEligibilityDetail.staffEligibilityShowroomDetails}"
							tableStyleClass="showroom-tbl" var="staffEligiChild"
							rowIndexVar="idx">

							<p:column headerText="#" styleClass="sno-ovrflw-5 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column headerText="#{msg['entity']}" styleClass="width-15">
								<h:outputText value="#{staffEligiChild.region.name}" />
							</p:column>
							<p:column headerText="#{msg['staff_annual']}"
								styleClass="width-12 text-right">
								<h:outputText
									value="#{staffEligibilityBean.currencyFormat(staffEligiChild.annualSales)}">
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['no_of_staff_eli']}"
								styleClass="width-12 text-right">
								<h:outputText value="#{staffEligiChild.noOfStaffEligible}" />
							</p:column>
							<p:column headerText="#{msg['sanc_sta_stre']}"
								styleClass="width-12 text-right">
								<h:outputText value="#{staffEligiChild.sanctionedStaffCount}" />
							</p:column>
							<p:column headerText="#{msg['tot_sta_eli']}"
								styleClass="width-12 text-right">
								<h:outputText value="#{staffEligiChild.totalStaffEligible}" />
							</p:column>
							<p:column headerText="#{msg['tot_sta_role']}"
								styleClass="width-12 text-right">
								<h:outputText value="#{staffEligiChild.totalStaffOnRole}" />
							</p:column>
							<p:column headerText="#{msg['excess_count']}"
								styleClass="width-10 text-right">
								<h:outputText value="#{staffEligiChild.excessCount}" />
							</p:column>
							<p:column headerText="#{msg['short_count']}"
								styleClass="width-10 text-right">
								<h:outputText value="#{staffEligiChild.shortageCount}" />
							</p:column>
						</p:dataTable>
					</p:outputPanel>
				</div>


				<div class="modal-footer text-right">
					<p:commandButton value="&#xed6a; #{msg['cancel']}"
						title="#{msg['cancel']}"
						styleClass="btn btn-sm bg-slate font-iconmoon"
						oncomplete="PF('showroomdetail').hide()" />
				</div>
			</h:form>
		</p:dialog>


		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0 top-100">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<div class="panel-body p-0 m-b-10">
										<p:textEditor widgetVar="editor1" readonly="true"
											value="#{staffEligibilityBean.selectedStaffEligibilityStmt.note}"
											height="200" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<h:form>
				<p:outputPanel id="approvePanel">
					<div class="panel-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{staffEligibilityBean.selectedStaffEligibilityStmt.approvalRemarks}"
										id="comments1" rendered="true">
										<p:ajax update="comments1"></p:ajax>
									</p:inputTextarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									update="approvePanel growls" title="#{msg['submit']}"
									oncomplete="PF('dlgComments1').hide();" process="@this"
									class="btn bg-success heading-btn  font-iconmoon"
									action="#{staffEligibilityBean.approveFlow}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()">
								</p:commandButton>
							</div>
						</div>
					</div>

				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<h:form>
				<p:outputPanel id="rejectPanel">
					<div class="panel-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{staffEligibilityBean.selectedStaffEligibilityStmt.approvalRemarks}"
										id="comments2">
										<p:ajax update="comments2"></p:ajax>
									</p:inputTextarea>
								</div>
								<h:message for="comments2" class="validation-error-label" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									action="#{staffEligibilityBean.rejectFlow}"
									update="rejectPanel growls"
									oncomplete="PF('dlgComments2').hide();" process="@this">
								</p:commandButton>
							</div>
						</div>
					</div>

				</p:outputPanel>
			</h:form>
		</p:dialog>



		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/datatables_basic.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/tables/datatables/datatables.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/components_popups.js"></script>
	</ui:define>
</ui:composition>