<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	
	<ui:define name="content">
		<ui:param name="bean" value="#{employeeDeathRegistrationBean}"></ui:param>
		<title>InfoTex | View Employee Death Registration</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_emp_death_reg']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['retiremnt']}</li>
						<li class="active">#{msg['view_emp_death_reg']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content m-b-0">
			<div class="">
				<div class="panel panel-info">
					<div class="panel-heading ">
						<h6 class="panel-title">#{msg['emp_death_reg']}</h6>
					</div>
					<div class="panel-body page-scroll-without-process p-t-10 p-b-5">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ho_ro']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{empty bean.selectedEmpDeathRegister.horoName ? bean.selectedEmpDeathRegister.entityMaster.name : empty bean.selectedEmpDeathRegister.horoName}" />
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ent_typ']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.selectedEmpDeathRegister.entityTypeMaster.entityName}" />
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.selectedEmpDeathRegister.entityMaster.name}" />
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.selectedEmpDeathRegister.empMaster.firstName} 
                                   	 				#{bean.selectedEmpDeathRegister.empMaster.lastName eq 'null' ? '' :bean.selectedEmpDeathRegister.empMaster.lastName}">
											</h:outputText>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row view-style">

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_pf_no']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.selectedEmpDeathRegister.empMaster eq 'null' ? '' : 
                                    	bean.selectedEmpDeathRegister.empMaster.personalInfoEmployment eq 'null' ? '' :
                                    	bean.selectedEmpDeathRegister.empMaster.personalInfoEmployment.pfNumber}">
											</h:outputText>
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster eq 'null' ? '' : 
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment eq 'null' ? '' :
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.currentDesignation eq 'null' ? '' :
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.currentDesignation.name}">
											</h:outputText>
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dt_joining']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster eq 'null' ? '' : 
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment eq 'null' ? '' :
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.dateOfJoining}">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</h:outputText>
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dt_of_retire']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.empMaster eq 'null' ? '' : 
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment eq 'null' ? '' :
                                    	bean.deathRegistrationDTO.empDeathRegister.empMaster.personalInfoEmployment.retirementDate}">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</h:outputText>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['nature_of_death']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.natureOfDeath.name}" />
										</span>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dod']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{bean.deathRegistrationDTO.empDeathRegister.dateOfDeath}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</h:outputText>
										</span>
									</div>
								</div>
							</div>
						</div>

						<h:panelGroup
							rendered="#{not empty bean.deathRegistrationDTO.empDeathRegisterDocs.docName}">
							<div class="row view-style m-b-10">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<label class="control-label">#{msg['uploaded_doc']}</label>
									<div class="input-group btn-file-upload" style="width: 100%">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<p:inputText class="form-control" id="fileName"
													disabled="true"
													value="#{bean.deathRegistrationDTO.empDeathRegisterDocs.docName}" />
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class=" no-padding contact-upload upload-popup">
													<div>
														<p:commandButton
															value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
															actionListener="#{bean.downloadFile}" ajax="false"
															title="#{msg['download']}"
															class="btn btn-sm bg-primary fa-input btn-upload m-l-0">
															<p:fileDownload value="#{bean.file}"></p:fileDownload>
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</h:panelGroup>
						<!-- Forward Section -->
						<h:panelGroup
							rendered="#{bean.enableFlag and bean.deathRegisterLastNote.finalApproval eq 'false'}">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<p:outputLabel value="#{msg['frwd_to']}" />
									<span class="text-danger">*</span>
									<div class="form-group">
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>

											<p:autoComplete id="forwardto" minQueryLength="2"
												styleClass="form-control" converter="#{entityConverter}"
												value="#{bean.deathRegistrationDTO.userMaster}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_for_req']}"
												itemValue="#{user}" var="user" itemLabel="#{user.empName}"
												completeMethod="#{bean.getForwardToList}"
												effect="fade" disabled="#{bean.disableFlag}">
												<p:ajax event="itemSelect" update="forwardto"></p:ajax>
											</p:autoComplete>
											<ui:remove>
												<h:selectOneMenu id="fwdto" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{bean.deathRegistrationDTO.userMaster}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user"
														value="#{bean.forwardToUsersList}" itemValue="#{user}"
														itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
													<p:ajax event="change" update="fwdto" />
												</h:selectOneMenu>
											</ui:remove>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="forwardfor" styleClass="form-control"
												value="#{bean.deathRegistrationDTO.finalApproval}"
												disabled="#{bean.disableFlag}">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>
						</h:panelGroup>

						<div class="row m-b-10">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn bg-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-right">
								<h:panelGroup
									rendered="#{bean.selectedEmpDeathRegister.stage ne 'FINAL_APPROVED'}">
									<p:commandButton value="&#xed6e;&nbsp;#{msg['reject']}"
										update="growls" title="#{msg['reject']}"
										rendered="#{bean.enableFlag and bean.selectedEmpDeathRegister.stage ne 'FINAL_APPROVED'
										and loginBean.userFeatures['EMPLOYEE_DEATH_REG_REJECT']
										and bean.selectedEmpDeathRegister.stage ne 'REJECTED'}"
										styleClass="btn btn-sm bg-danger waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments2').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('REJECTED')}"></p:ajax>
									</p:commandButton>
									<p:commandButton value="&#xecf2;&nbsp;#{msg['final_approve']}"
										update="growls" title="#{msg['final_approve']}"
										rendered="#{bean.enableFlag and bean.deathRegisterLastNote.finalApproval eq 'true'
										and bean.selectedEmpDeathRegister.stage ne 'FINAL_APPROVED' 
										and loginBean.userFeatures['EMPLOYEE_DEATH_REG_APPROVE']
										and bean.selectedEmpDeathRegister.stage ne 'REJECTED'}"
										styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments3').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('FINAL_APPROVED')}"></p:ajax>
									</p:commandButton>
									<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
										action="#{bean.statusUpdate}" update="growls"
										rendered="#{bean.enableFlag and bean.deathRegisterLastNote.finalApproval eq 'false' 
										and loginBean.userFeatures['EMPLOYEE_DEATH_REG_APPROVE']}"
										styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments1').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('APPROVED')}"></p:ajax>
									</p:commandButton>
								</h:panelGroup>

								<p:commandButton value="&#xeddf; #{msg['back']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{bean.showDeathRegistrationListPage}"
									styleClass="btn btn-sm bg-info font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			closable="true" styleClass="p-0 top-100" width="80%">
			<h:form>
				<div class="panel-body p-0 view-note-editor">
					<div class="tabbable">
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="form-group">
									<p:textEditor widgetVar="editor3" readonly="true"
										value="#{bean.deathRegistrationDTO.note}" height="150"
										style="margin-bottom:10px">
									</p:textEditor>
								</div>
								<div class="carousel slide prime-media-carousel" id="media">
									<div class="item  active">
										<div class="row">
											<div class="col-lg-12 ph0">
												<p:carousel value="#{bean.viewNoteEmployeeDetails}"
													var="data" itemStyle="text-align:center" responsive="true">
													<div class="col-md-12 ph0">
														<div class="p-10 border-top-warning panel m-b-0">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h:panelGroup rendered="#{data.status=='INPROGRESS'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['created_by']}</h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.status=='FINAL_APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['final_approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='REJECTED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['rejected_by']}</h6>
																	</h:panelGroup>
																</li>
																<li>#{msg['name']} : #{data.employeeName}</li>
																<li>#{msg['designation']} :
																	#{data.employeeDesignation}</li>
																<li>#{msg['date']} : <h:outputText
																		value="#{data.createdDate}">
																		<f:convertDateTime pattern="dd-MM-yyyy"
																			timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																	</h:outputText></li>
															</ul>
														</div>
													</div>
												</p:carousel>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('notedialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />

							</div>
						</div>
					</div>
				</div>
			</h:form>
		</p:dialog>
		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<p:outputPanel id="approvepanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.deathRegistrationDTO.approveComments}"
									id="comments1" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments1').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpDeathRegister}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<p:outputPanel id="rejectpanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.deathRegistrationDTO.rejectComments}"
									id="comments2">
								</p:inputTextarea>

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments2').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide()" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpDeathRegister}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog modal="true" draggable="false"
			header="#{msg['final_approve']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
			width="40%">
			<p:outputPanel id="finalapprovepanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.deathRegistrationDTO.finalApproveComments}"
									id="comments3" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments3').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpDeathRegister}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
	
</ui:composition>