<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Written Exam Mark List</title>

		<style type="text/css">
.ui-fileupload-buttonbar .ui-fileupload-choose {
	width: 100%;
}

#steps-uid-0-t-0 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff !important;
}

#steps-uid-0-t-0 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-1 .number:after, #steps-uid-0-t-2 .number:after,
	#steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after,
	#steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after,
	#steps-uid-0-t-7 .number:after, #steps-uid-0-t-8 .number:after {
	color: #bbb;
}

#steps-uid-0-t-1 .number:after {
	content: "15";
}

#steps-uid-0-t-2 .number:after {
	content: "16";
}

#steps-uid-0-t-3 .number:after {
	content: "17";
}

#steps-uid-0-t-4 .number:after {
	content: "18";
}

#steps-uid-0-t-5 .number:after {
	content: "19";
}

#steps-uid-0-t-6 .number:after {
	content: "20";
}

#steps-uid-0-t-7 .number:after {
	content: "21";
}

#steps-uid-0-t-8 .number:after {
	content: "22";
}

#steps-uid-0-t-0 {
	color: #bbb;
}
</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_writt_exlis']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['vi_writt_exlis']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content p-content">
			<div class="box-shadow-wizard wizard rpwf2 clearfix">
			<div class="steps clearfix">
				<ul>
					<li class="first current "><a id="steps-uid-0-t-0"><span
					class="current-info audible">current step: </span><span
					class="number">1</span> #{msg['written_xam']}</a></li>
					<li class="disabled "><a
						id="steps-uid-0-t-1"><span class="number">2</span>
							#{msg['wri_ex_appl']}</a></li>
					<li class="disabled " ><a
						id="steps-uid-0-t-2"><span class="number">3</span>
							#{msg['orl_ex_li']}</a></li>
					<li class="disabled  smnone " ><a
						id="steps-uid-0-t-3"><span class="number">4</span>
							#{msg['orl_ex_li_appl']}</a></li>
					<li class="disabled smnone mdnone "><a
						id="steps-uid-0-t-4"><span class="number">5</span>
							#{msg['venue']}</a></li>
					<li class="disabled smnone mdnone"><a
						id="steps-uid-0-t-5"><span class="number">6</span>
							#{msg['ven_appl']}</a></li>
					<li class="disabled smnone mdnone"><a
						id="steps-uid-0-t-6 "><span class="number">20</span>
							#{msg['cal_let']}</a></li>
					<li class="disabled mdnone smnone"><a
						id="steps-uid-0-t-7 "><span class="number">21</span>
							#{msg['oral_exam_mark']}</a></li>
					<li class="disabled mdnone smnone"><a
						id="steps-uid-0-t-8"><span class="number">9</span>
							#{msg['orl_ex_appl']}</a></li>
				</ul>
			</div>
		</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading panelHeading-fix">
					<h6 class="panel-title">#{msg['vi_writt_exlis']}</h6>
				</div>
				<div class="topFix">
					<div class="panel-body view-style page-scroll-with-process-insight-panel">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['adver_num']}" />
									<h:outputText
										value="#{writtenExaminationBean.examMarkList.jobAdvertisement.notificationNumber}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_post']}" />
									<h:outputText
										value="#{writtenExaminationBean.examMarkList.recruitmentPost}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_year']}" />
									<h:outputText
										value="#{writtenExaminationBean.examMarkList.recruitmentYear}"
										class="" />
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<p:dataTable id="examMarkListTable"
										value="#{writtenExaminationBean.examMarkList.writtenExamMarkDetails}"
										var="data" widgetVar="writtenExamListTable"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" paginatorPosition="bottom"
										rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
										emptyMessage="No records found">

										<p:column headerText="#{msg['s_no']}" class="text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column filterable="true"
											filterBy="#{data.applicationNumber}"
											filterMatchMode="contains"
											headerText="#{msg['app_no']}"
											sortBy="#{data.applicationNumber}" sortable="true">

											<f:facet name="filter">
												<p:inputText id="applicationNumber" class="form-control"
													onkeyup="PF('writtenExamListTable').filter()" />
											</f:facet>

											<h:outputText value="#{data.applicationNumber}" />
										</p:column>

										<p:column filterable="true"
											filterBy="#{data.registrationNumber}"
											filterMatchMode="contains" 
											headerText="#{msg['regis_num']}"
											sortBy="#{data.registrationNumber}" sortable="true">

											<f:facet name="filter">
												<p:inputText id="registrationNumber" class="form-control"
													onkeyup="PF('writtenExamListTable').filter()" />
											</f:facet>

											<h:outputText value="#{data.registrationNumber}" />
										</p:column>


										<p:column headerText="#{msg['written_examination_date']}" 
											styleClass="text-center form-group_calend"
											sortBy="#{data.writenExamDate}" sortable="true"
											filterBy="#{data.writenExamDate}" filterMatchMode="exact">
											<f:facet name="filter">
												<p:calendar onchange="PF('writtenExamListTable').filter()"
													id="examDate" pattern="dd-MMM-yyyy" placeholder="DD-MMM-YYYY"
													mask="true" yearRange="c-10:c+10" navigator="true"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('writtenExamListTable').filter()" />

												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.writenExamDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>

										<p:column filterable="true" filterBy="#{data.candidateName}"
											filterMatchMode="contains"
											headerText="#{msg['name_of_candi']}"
											sortBy="#{data.candidateName}" sortable="true">

											<f:facet name="filter">
												<p:inputText id="candidateName" class="form-control"
													onkeyup="PF('writtenExamListTable').filter()" />
											</f:facet>

											<h:outputText value="#{data.candidateName}" />
										</p:column>

										<p:column headerText="#{msg['dob']}" 
											styleClass="text-center form-group_calend width-12"
											sortBy="#{data.dateOfBirth}" sortable="true"
											filterBy="#{data.dateOfBirth}" filterMatchMode="exact">
											<f:facet name="filter">
												<p:calendar onchange="PF('writtenExamListTable').filter()"
													id="dateOfBirth" pattern="dd-MMM-yyyy"
													placeholder="DD-MM-YYYY" mask="true" yearRange="c-10:c+10"
													navigator="true" styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('writtenExamListTable').filter()" />

												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.dateOfBirth}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>


										<p:column filterBy="#{data.community}" headerText="#{msg['community']}"
										 filterMatchMode="exact" sortBy="#{data.community}" sortable="true">
											<f:facet name="filter">
												<h:selectOneMenu
													onchange="PF('writtenExamListTable').filter()" id="recPost"
													class="form-control select2">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems
														value="#{writtenExaminationBean.communityList}" var="comm"
														itemLabel="#{comm.code}" itemValue="#{comm.code}" />
												</h:selectOneMenu>
											</f:facet>

											<h:outputText value="#{data.community}"
												styleClass="text-left" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.marks}"
											filterMatchMode="contains" class="text-center width-8"
											headerText="#{msg['mark']}" sortBy="#{data.marks}" sortable="true">

											<f:facet name="filter">
												<p:inputText id="marks" class="form-control"
													onkeyup="PF('writtenExamListTable').filter()" />
											</f:facet>

											<h:outputText value="#{data.marks}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.rank}"
											filterMatchMode="contains"
											headerText="#{msg['rank']}" sortBy="#{data.rank}" sortable="true" class="text-center width-8">

											<f:facet name="filter">
												<p:inputText id="rank" class="form-control"
													onkeyup="PF('writtenExamListTable').filter()" />
											</f:facet>

											<h:outputText value="#{data.rank}" />
										</p:column>
									</p:dataTable>
								</div>
								<div class="text-right m-b-10 ">
							<p:commandButton value="&#xeddf; #{msg['back']}" title="#{msg['back']}" action="#{writtenExaminationBean.loadWrittenExamMarkLists}"
								onclick="PF('progressDlg').show();" oncomplete="PF('progressDlg').hide();" class="btn btn-sm bg-info font-iconmoon" />
						</div>
							</div>
						</div>
						
					</div>
				</div>

	</ui:define>
</ui:composition>