<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		
		<h:form>
			<title>InfoTex | View Manual Attendance</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							Attendance - View Manual Attendance 
						</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Personnel</li>
						<li>HR</li>
							<li>#{msg['attend']}</li>
							<li class="active">View Manual Attendance</li>
						</ul>
					</div>
				</div>
			</div>



			<div class="content m-b-0">
				<div class="pro_steps2line">
					<div
						class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-0"
						id="accordion-control-right">
						<div class="panel-heading bg-info">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">Manual Attendance View 
								</a>

							</h6>

						</div>
						<p:outputPanel id="colapsepanel">
							<div
								class="#{staffEligibilityBean.generateButtonFlag ? 'panel-body collapse':'panel-body'}"
								id="accordion-control-right-group1">
								<div class="row custom-form-1">
									<div class="col-lg-12 no-padding">
										<p:outputPanel id="searchFilter">
											
												<div class="row">
								<div class="col-lg-12 ">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="HO/RO" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control" id="horoSelect"
											value="#{jobApplicationBean.jobApplicationOther.isPriority}">
											<f:selectItem itemLabel="Select" itemValue="" />
											<f:selectItem itemLabel="Chennai" itemValue="true" />
											<f:selectItem itemLabel="Madurai" itemValue="true" />
											
										</h:selectOneMenu>
										<p:focus for="horoSelect" />
										</div>
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['ent_typ']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control" id="entSelect"
											value="#{jobApplicationBean.jobApplicationOther.isPriority}">
											<f:selectItem itemLabel="Select" itemValue="" />
											<f:selectItem itemLabel="Chennai" itemValue="true" />
											<f:selectItem itemLabel="Madurai" itemValue="false" />
											
										</h:selectOneMenu>
										<p:focus for="entSelect" />
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control" id="entSelect"
											value="#{jobApplicationBean.jobApplicationOther.isPriority}">
											<f:selectItem itemLabel="Select" itemValue="" />
											<f:selectItem itemLabel="Regional Office" itemValue="true" />
											<f:selectItem itemLabel="Showroom" itemValue="true" />
											
										</h:selectOneMenu>
										<p:focus for="entSelect" />
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['dept']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control" id="entSelect"
											value="#{jobApplicationBean.jobApplicationOther.isPriority}">
											<f:selectItem itemLabel="Select" itemValue="" />
											<f:selectItem itemLabel="Admin" itemValue="true" />
											<f:selectItem itemLabel="Marketing" itemValue="true" />
											<f:selectItem itemLabel="Technical" itemValue="true" />
										</h:selectOneMenu>
										<p:focus for="entSelect" />
										</div>
									</div>
								</div>
								

								<div class="col-lg-12 col-md-3 col-sm-3">
									<div class="text-right">
									<p:outputLabel value="&nbsp;" style="display:block; " />
									<p:commandButton value="&#xe916; #{msg['clear']}"
										styleClass="btn btn-sm bg-slate font-iconmoon m-l-10 " />
									<p:commandButton value="&#xf021;&nbsp; #{msg['generate']}"
										styleClass="btn btn-sm bg-primary fa-input" />
									</div>
								</div>
							</div></div>
	</p:outputPanel>

									</div>
									
								</div>
							
							</div>
							
						</p:outputPanel>
						
					</div>


				</div>
			</div>

<div class="content">
<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>
							<h:outputText id="headerName"
								value="Manual Attendance Statement"></h:outputText></span>
					</h5>
			<div class="panel">
						<div class="panel-body p-0">
							<div class="table-responsive">
							<table class="table m-0 cust-table noear">
							<thead>
								<tr>
									<th class="  text-center "><span
										class="ui-column-title">#</span></th>
									<th class="  text-center"><p:outputLabel
											value="#{msg['emp_no']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText styleClass="form-control"></p:inputText></th>
									<th class="  text-center"><p:outputLabel
											value="#{msg['emp_name']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<p:inputText styleClass="form-control"></p:inputText>	
										
									</th>
									<th class="  text-center"><p:outputLabel
											value="Date" /> 
										</th>
									<th class="  text-center"><p:outputLabel
											value="Attendance Type" /> 	
										</th>
										<th class="  text-center"><p:outputLabel
											value="Shift Type" /> 	
										</th>
										<th class="  text-center"><p:outputLabel
											value="in-Time" /> 	
										
									</th>
									<th class="  text-center"><p:outputLabel
											value="Out-Time" /> 	
										
									</th>
									<th class="  text-center"><p:outputLabel
											value="Work Duration" /> 
										
									</th>
									<th class="  text-center"><p:outputLabel
											value="Over Time" /> 
										
									</th>
									<th class="  text-center"><p:outputLabel
											value="Total Duration" /> 
										
									</th>
										<th class="  text-center"><p:outputLabel
											value="#{msg['status']}" /> 
										
										
									</th>

									<th class="  text-center">
										<p:outputLabel value="#{msg['action']}" />
										<input type="checkbox" />
									</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center" style="width:20px;">1</td>
									<td style="width:150px;">P76543</td>
									<td class="" style="width:205px;">Kannan</td>
									<td class="" style="width:125px;"><p:calendar placeholder="dd-mm-yyyy"
											styleClass="form-control calend-icon" pattern="DD-MM-YYYY"
											navigator="true" /></td>
									<td class="text-center" style="width:110px;"><h:selectOneMenu class="form-control">
									<f:selectItem itemLabel="Select" />
											<f:selectItem itemLabel="Leave" itemValue="" />
											<f:selectItem itemLabel="Comp off" itemValue="" />
											<f:selectItem itemLabel="Manual" itemValue="" />
											
									</h:selectOneMenu></td>
									<td class="text-center" style="width:100px;"><h:selectOneMenu class="form-control">
									<f:selectItem itemLabel="Select" />
											<f:selectItem itemLabel="General" itemValue="" />
											<f:selectItem itemLabel="Night" itemValue="" />
											
											
									</h:selectOneMenu></td>
									<td class="text-center" style="width:75px;"><p:inputText  styleClass="form-control"></p:inputText></td>
									<td class="text-center" style="width:75px;"><p:inputText styleClass="form-control"></p:inputText></td>
									<td class="text-center" style="width:75px;"><p:inputText styleClass="form-control"></p:inputText></td>
									<td class="text-center" style="width:75px;"><p:inputText styleClass="form-control"></p:inputText></td>
									<td class="text-center" style="width:75px;"><p:inputText styleClass="form-control"></p:inputText></td>
									
									<td role="gridcell" class="text-center"><h:selectOneMenu class="form-control">
									<f:selectItem itemLabel="Select" />
											<f:selectItem itemLabel="InProgress" itemValue="InProgress" />
											<f:selectItem itemLabel="Approved" itemValue="Approved" />
											<f:selectItem itemLabel="Rejected" itemValue="Rejected" />
											
									</h:selectOneMenu></td>
									<td class="text-center" style="width:15px;"><input type="checkbox" /></td>
								</tr>
								
								
								
							</tbody>
						</table>
							
							
							</div>
							<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10 m-b-5" id="DataTables_Table_0_info ">
						Showing 1 to 10 of 10 entries</div>
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li class="disabled"><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label> <select class="">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
									</select>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-12 m-b-10">
							<div class="text-right ">
								<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
									class="btn btn-sm bg-slate fa-input m-l-10"
									 immediate="true"
									onclick="PF('progressDlg').show();" tabindex="12"
									oncomplete="PF('progressDlg').hide();" />
								<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									
									binding="#{submit}" tabindex="13"
									class="btn btn-sm bg-success fa-input m-l-10" />
							</div></div>
							</div>
							
							</div>
							
							</div>
			

		</h:form>
		
	</ui:define>
</ui:composition>