<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView" listener="#{hallTicketBean.clear}">
				<f:setPropertyActionListener value="HTCLELAR"
					target="#{hallTicketBean.action}"></f:setPropertyActionListener>
			</f:event>
		</f:metadata>

		<title>InfoTex | #{msg['hall_ticket']}</title>
		<style type="text/css">
#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 .number,
	#steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number {
	background-color: #4caf50;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-1 .number:after, #steps-uid-0-t-2 .number:after,
	#steps-uid-0-t-3 .number:after, #steps-uid-0-t-4 .number:after,
	#steps-uid-0-t-5 .number:after, #steps-uid-0-t-6 .number:after {
	margin-left: -9px;
}

#steps-uid-0-t-6 .number {
	border-color: #ff5722;
}

#steps-uid-0-t-1 .number, #steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number,
	#steps-uid-0-t-5 .number, #steps-uid-0-t-6 .number {
	color: #fff;
}

#steps-uid-0-t-6 .number:after {
	content: "13";
	color: #ff5722;
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-6 {
	color: #333333 !important;
}
</style>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['recruit_pro']} - #{msg['hall_ticket']} <span
							class="label stageLabel label-primary label-rounded">13 /
							26</span>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['hall_ticket']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content p-content">
			<ui:include src="recruitmentProcessWorkFlow2.xhtml" />
		</div>

		<div class="content">
			<div class="pro_steps">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title">
							<strong><h:outputText id="totalSize"
									value="#{hallTicketBean.hallTicketList.size()}"></h:outputText></strong>
							- #{msg['hall_ticket']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class=""></i></a>
						</h6>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xf019; #{msg['download']}"
								title="#{msg['download']}" id="htDwnldId" ajax="false"
								actionListener="#{hallTicketBean.downloadHallTicketPdf}"
								class="btn bg-primary fa-input font-iconmoon">
								<p:fileDownload value="#{hallTicketBean.downloadFile}" />
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								title="#{msg['clear']}" action="#{hallTicketBean.viewClear}"
								onclick="PF('progressDlg').show();"
								update=":#{p:component('htDwnldId')}"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>

				<div class="panel">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<!--  table -->
							<p:dataTable var="hallTicket"
								value="#{hallTicketBean.hallTicketList}"
								selection="#{hallTicketBean.selectedHallTicketList}"
								widgetVar="htTable" rowKey="#{hallTicket.nominalId}" rows="10"
								paginator="true" rowsPerPageTemplate="5,10,15"
								paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								emptyMessage="#{msg['no_records_found']}"
								tableStyleClass="table-bordered" rowIndexVar="idx" id="htTable">
								<p:ajax event="filter" oncomplete="updateFilterSelection()" />

								<p:column headerText="#{msg['s_no']}"
									styleClass="width-3 text-center">
									<h:outputText value="#{idx+1}" />
								</p:column>

								<p:column filterBy="#{hallTicket.registerNumber}"
									headerText="#{msg['reg_no']}" styleClass="width-10"
									filterMatchMode="contains"
									sortBy="#{hallTicket.registerNumber}" sortable="true">
									<f:facet name="filter">
										<p:inputText id="registerNumber" class="form-control "
											onkeyup="PF('htTable').filter()" tabindex="2">
										</p:inputText>
									</f:facet>
									<h:outputText value="#{hallTicket.registerNumber}">
									</h:outputText>
								</p:column>

								<p:column filterBy="#{hallTicket.appliedPost.name}"
									headerText="#{msg['post_applied']}" styleClass="width-10"
									filterMatchMode="exact" sortBy="#{hallTicket.appliedPost.name}"
									sortable="true">
									<f:facet name="filter">
										<h:selectOneMenu onchange="PF('htTable').filter()"
											tabindex="3" class="form-control">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems value="#{hallTicketBean.designationList}"
												var="desg" itemLabel="#{desg.name}" itemValue="#{desg.name}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{hallTicket.appliedPost.name}" />

								</p:column>

								<p:column filterBy="#{hallTicket.candidateName}"
									headerText="#{msg['candidate_name']}" styleClass="width-10"
									filterMatchMode="contains" sortBy="#{hallTicket.candidateName}"
									sortable="true">
									<f:facet name="filter">
										<p:inputText id="candidateName" class="form-control "
											onkeyup="PF('htTable').filter()" tabindex="4">
										</p:inputText>
									</f:facet>
									<h:outputText value="#{hallTicket.candidateName}" />
								</p:column>

								<p:column
									filterBy="#{hallTicket.jobApplication.additionalInfo.community.name}"
									headerText="#{msg['community']}" styleClass="width-10"
									filterMatchMode="exact"
									sortBy="#{hallTicket.jobApplication.additionalInfo.community.name}"
									sortable="true">
									<f:facet name="filter">
										<h:selectOneMenu onchange="PF('htTable').filter()"
											tabindex="5" class="form-control">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems value="#{hallTicketBean.communityList}"
												var="commu" itemLabel="#{commu.name}"
												itemValue="#{commu.name}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText
										value="#{hallTicket.jobApplication.additionalInfo.community.name}" />
								</p:column>

								<p:column filterBy="#{hallTicket.examCentre.examCentreName}"
									headerText="#{msg['exam_center']}" styleClass="width-10"
									filterMatchMode="exact"
									sortBy="#{hallTicket.examCentre.examCentreName}"
									sortable="true">
									<f:facet name="filter">
										<h:selectOneMenu onchange="PF('htTable').filter()"
											tabindex="6" class="form-control">
											<f:selectItem itemLabel="Select" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems value="#{hallTicketBean.examCentreList}"
												var="centre" itemLabel="#{centre.examCentreName}"
												itemValue="#{centre.examCentreName}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{hallTicket.examCentre.examCentreName}" />
								</p:column>


								<p:column headerText="#{msg['exam_date']}"
									styleClass="text-center form-group_calend width-10"
									sortBy="#{hallTicket.examinationDate}" sortable="true"
									filterBy="#{hallTicket.examinationDate}"
									filterMatchMode="exact">
									<f:facet name="filter">
										<p:calendar onchange="PF('htTable').filter()" navigator="true"
											tabindex="7" id="examDate" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" mask="true"
											styleClass="form-control calend-icon">
											<p:ajax event="dateSelect"
												oncomplete="PF('htTable').filter()" />
											<p:ajax event="change" execute="@this"
												oncomplete="PF('htTable').filter()" update="htTable,@form" />
										</p:calendar>
									</f:facet>
									<h:outputText value="#{hallTicket.examinationDate}">
										<f:convertDateTime pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</p:column>
								<p:column headerText="#{msg['select']}"
									styleClass="text-center width-6" selectionMode="multiple">
								</p:column>
							</p:dataTable>
							<p:remoteCommand name="updateFilterSelection"
								update=":#{p:component('totalSize')}" autoRun="true" />
						</div>

						<div class="row panel-body">
							<div class="col-md-12 text-right">
								<p:commandButton value="&#xeddf; #{msg['back']}"
									title="#{msg['back']}" action="#{hallTicketBean.back}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									class="btn btn-sm bg-info font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<p:dialog widgetVar="progressDlg" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<img src="#{request.contextPath}/assets/images/preloader.gif" />
		</p:dialog>
	</ui:define>
</ui:composition>