<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | View Oral Test Mark</title>

			<style type="text/css">
#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number,
	#steps-uid-0-t-4 span.number, #steps-uid-0-t-5 span.number,
	#steps-uid-0-t-6 span.number, #steps-uid-0-t-7 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-8 .number:after {
	content: "22";
	color: #bbb;
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-7 {
	color: #333333 !important;
}
</style>

			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['vi_oral_text']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['recruit_pro']}</li>
							<li>#{msg['per_recui']}</li>
							<li class="active">#{msg['vi_oral_text']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content p-content">
				<div class="box-shadow-wizard wizard rpwf2 clearfix">
					<div class="steps clearfix">
						<ul>
							<li class="first current smnone mdnone"><a
								id="steps-uid-0-t-0"><span class="current-info audible">current
										step: </span><span class="number">1</span>#{msg['written_xam']}</a></li>
							<li class="disabled smnone mdnone"><a id="steps-uid-0-t-1"><span
									class="number">2</span> #{msg['wri_ex_appl']}</a></li>
							<li class="disabled smnone mdnone"><a id="steps-uid-0-t-2"><span
									class="number">3</span> #{msg['orl_ex_li']}</a></li>
							<li class="disabled  "><a id="steps-uid-0-t-3"><span
									class="number">4</span> #{msg['orl_ex_li_appl']}</a></li>
							<li class="disabled  "><a id="steps-uid-0-t-4"><span
									class="number">5</span> #{msg['venue']}</a></li>
							<li class="disabled"><a id="steps-uid-0-t-5"><span
									class="number">6</span> #{msg['ven_appl']}</a></li>
							<li class="disabled smnone"><a id="steps-uid-0-t-6 "><span
									class="number"
									style="background-color: #4caf50 !important; border-color: #4caf50 !important; color: #4caf50 !important;"><i
										class="icon-checkmark4 " style="color: #fff"></i></span>
									#{msg['cal_let']}</a></li>
							<li class="disabled "><a id="steps-uid-0-t-7 "><span
									class="number"
									style="background-color: #4caf50 !important; border-color: #4caf50 !important; color: #4caf50 !important;"><i
										class="icon-checkmark4 " style="color: #fff"></i></span>
									#{msg['oral_exam_mark']}</a></li>
							<li class="disabled mdnone smnone"><a id="steps-uid-0-t-8"><span
									class="number">9</span> #{msg['orl_ex_appl']}</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content">
				<div
					class=" panel-group panel-group-control panel-group-control-right m-b-5"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">#{msg['oral_exam_mark']}</h6>
						</div>
						<div class="page-scroll-with-process-insight-panel">
							<div class="panel-body ">
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['adver_num']}" />
											<span class="">#{oralTestMarkBean.notificationNo}</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['requirement_post']}" />
											<span class="">#{oralTestMarkBean.recruitmentForPost}</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['requirement_year']}" />
											<span class="">#{oralTestMarkBean.recruitmentYear}</span>
										</div>
									</div>
								</div>

								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['oral_exam_mark_list']}</span>
								</h5>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p:dataTable var="data" editable="true" editMode="cell"
											value="#{oralTestMarkBean.oralTestMarkList}"
											widgetVar="table" rowKey="#{data.id}" rows="10"
											paginator="true" rowsPerPageTemplate="5,10,15"
											paginatorPosition="bottom" styleClass="report-table m-b-10"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx"
											id="OralTestMarkTable">

											<p:column headerText="#{msg['s_no']}"
												styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['app_no']}">
												<h:outputText value="#{data.applicationNumber}" />
											</p:column>

											<p:column headerText="#{msg['reg_no']}">
												<h:outputText value="#{data.registrationNumber}" />
											</p:column>

											<p:column headerText="#{msg['candidate_name']}">
												<h:outputText value="#{data.candidateName}" />
											</p:column>

											<p:column headerText="#{msg['community']}">
												<h:outputText value="#{data.community}" />
											</p:column>

											<p:column headerText="#{msg['written_examination_date']}"
												class="text-center">
												<h:outputText value="#{data.writtenExamDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['written_examination_mark']}"
												class="text-right">
												<h:outputText value="#{data.writtenExamMark}" />
											</p:column>

											<p:column headerText="#{msg['oral_exam_date']}"
												class="text-center">
												<h:outputText value="#{data.oralExamDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['oral_exam_mark']}"
												class="text-right">
												<h:outputText value="#{data.oralExamMark}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
										</p:dataTable>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 text-right">
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											action="#{oralTestMarkBean.showPage}" title="#{msg['back']}"
											class="btn btn-sm bg-info font-iconmoon">
											<f:setPropertyActionListener value="CANCEL"
												target="#{oralTestMarkBean.action}" />
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
