<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
template="/pages/personnelHR/createJobApplication.xhtml">
	<ui:define name="jobapp">
		<h:form id="regForm">
			<title>#{msg['infotex']} |
				#{employeeMasterBean.employeeMaster.id!=null? msg['edit']:msg['create']}
				#{msg['employee_service_regd']}</title>
			<!-- Page Header -->
			
			<!-- End Page Header -->
			<p:focus context="primaryInfo">
				<p:outputPanel id="primaryInfo">
					<div class="col-md-12 m-t-10">

              
                  
                  <p:outputPanel >
										<p:outputLabel  value="#{msg['prsnt_address']}"
											style="padding-left:10px" />
										<span class="mand-red">&nbsp;*</span>
										<div class="">
											
												<div class="col-lg-3 ">
													<div class="form-group ">
														<p:inputText class="form-control"
															value="#{employeeMasterBean.employeeContactDetails.addressLineOnePermanent}"
															id="add1" placeholder="Address Line 1" maxlength="50" immediate="true"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="Permanent Address One Required"
															validatorMessage="Minimum 3 not more than 50">
															<f:validateLength minimum="3" maximum="50" />
														</p:inputText>
													</div>
													<h:message for="add1" class="validation-error-label" />
												</div>
												<div class="col-lg-3">
													<div class="form-group">
														<p:inputText class="form-control" 
															value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPermanent}"
															placeholder="Address Line 2" maxlength="50" id="add2">
														</p:inputText>
													</div>
												</div>
												<div class="col-lg-3 ">
													<div class="form-group ">
														<p:inputText class="form-control" id="add3"
															value="#{employeeMasterBean.employeeContactDetails.addressLineThreePermanent}"
															placeholder="Address Line 3" maxlength="50">
														</p:inputText>
													</div>

												</div>
											
										
									
											
												<div class="  col-lg-3 col-md-6 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="stateId" class="form-control select2"
															required="#{not empty param[addAddress.clientId]}" requiredMessage="State Required"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.stateIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onStateChangePermanent}"
																update="districtId" />
															<f:selectItem itemLabel="State" />
															<f:selectItems var="state" itemValue="#{state}"
																itemLabel="#{state.name}"
																value="#{employeeMasterBean.stateMasterList}" />
														</h:selectOneMenu>
													</div>
													<h:message for="stateId" class="validation-error-label" />
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="districtId"
															class="form-control select2"
															converter="#{entityConverter}" required="#{not empty param[addAddress.clientId]}"
															requiredMessage="District Required"
															value="#{employeeMasterBean.employeeContactDetails.districtIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onDistrictChangePermanent}"
																update="talukId" />
															<f:selectItem itemLabel="District" />

															<f:selectItems var="district" itemValue="#{district}"
																itemLabel="#{district.name}"
																value="#{employeeMasterBean.districtMasterList}" />
														</h:selectOneMenu>
													</div>
													<h:message for="districtId" class="validation-error-label" />
												</div>
												<div class="  col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="talukId" class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.talukIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onTalukChangePermanent}"
																update="villageId" />
															<f:selectItem itemLabel="Taluk" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.talukMasterList}" />
														</h:selectOneMenu>
													</div>

												</div>
											
										
										
											
												<div class="col-lg-3 col-md-6 col-sm-6 ">
													<div class="form-group">
														<h:selectOneMenu id="villageId"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.villageIdPermanent}">
															<f:selectItem itemLabel="Village" />
															<f:selectItems var="village" itemValue="#{village}"
																itemLabel="#{village.name}"
																value="#{employeeMasterBean.villageMasterList}" />
														</h:selectOneMenu>
													</div>

												</div>
												<div class="col-lg-3">
												
												
													<div class="form-group ">
														<p:inputText class="form-control" id="postalper"
															placeholder="Pincode"
															value="#{employeeMasterBean.employeeContactDetails.postalCodePermanent}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="Pincode code required" maxlength="6"
															validatorMessage="Minimum 6 digits required">
															<f:validateLength minimum="6" maximum="6" />
															<p:keyFilter mask="num" />
															
														</p:inputText>
													</div>
													<h:message for="postalper" class="validation-error-label" />
												</div>
											
										</div>
										</p:outputPanel>
              
                  
                  
                  
                
                  
                  <p:outputPanel >
										<p:outputLabel value="#{msg['permnt_address']}" 
											style="padding-left:10px"  />
										<span class="mand-red">&nbsp;*</span>
										<div class="">
											
												<div class="col-lg-3 ">
													<div class="form-group ">
														<p:inputText class="form-control"
															value="#{employeeMasterBean.employeeContactDetails.addressLineOnePermanent}"
															id="add1111111" placeholder="Address Line 1" maxlength="50" immediate="true"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="Permanent Address One Required"
															validatorMessage="Minimum 3 not more than 50">
															<f:validateLength minimum="3" maximum="50" />
														</p:inputText>
													</div>
													<h:message for="add1" class="validation-error-label" />
												</div>
												<div class="col-lg-3">
													<div class="form-group">
														<p:inputText class="form-control" 
															value="#{employeeMasterBean.employeeContactDetails.addressLineTwoPermanent}"
															placeholder="Address Line 2" maxlength="50" id="add21111">
														</p:inputText>
													</div>
												</div>
												<div class="col-lg-3 ">
													<div class="form-group ">
														<p:inputText class="form-control" id="add31111"
															value="#{employeeMasterBean.employeeContactDetails.addressLineThreePermanent}"
															placeholder="Address Line 3" maxlength="50">
														</p:inputText>
													</div>

												</div>
											
										
									
											
												<div class="  col-lg-3 col-md-6 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="stateId1111" class="form-control select2"
															required="#{not empty param[addAddress.clientId]}" requiredMessage="State Required"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.stateIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onStateChangePermanent}"
																update="districtId" />
															<f:selectItem itemLabel="State" />
															<f:selectItems var="state" itemValue="#{state}"
																itemLabel="#{state.name}"
																value="#{employeeMasterBean.stateMasterList}" />
														</h:selectOneMenu>
													</div>
													<h:message for="stateId" class="validation-error-label" />
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="districtId1111"
															class="form-control select2"
															converter="#{entityConverter}" required="#{not empty param[addAddress.clientId]}"
															requiredMessage="District Required"
															value="#{employeeMasterBean.employeeContactDetails.districtIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onDistrictChangePermanent}"
																update="talukId" />
															<f:selectItem itemLabel="District" />

															<f:selectItems var="district" itemValue="#{district}"
																itemLabel="#{district.name}"
																value="#{employeeMasterBean.districtMasterList}" />
														</h:selectOneMenu>
													</div>
													<h:message for="districtId" class="validation-error-label" />
												</div>
												<div class="  col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<h:selectOneMenu id="talukId11111" class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.talukIdPermanent}">
															<p:ajax
																listener="#{employeeMasterBean.onTalukChangePermanent}"
																update="villageId" />
															<f:selectItem itemLabel="Taluk" />
															<f:selectItems var="taluk" itemValue="#{taluk}"
																itemLabel="#{taluk.name}"
																value="#{employeeMasterBean.talukMasterList}" />
														</h:selectOneMenu>
													</div>

												</div>
											
										
										
											
												<div class="col-lg-3 col-md-6 col-sm-6 ">
													<div class="form-group">
														<h:selectOneMenu id="villageId111"
															class="form-control select2"
															converter="#{entityConverter}"
															value="#{employeeMasterBean.employeeContactDetails.villageIdPermanent}">
															<f:selectItem itemLabel="Village" />
															<f:selectItems var="village" itemValue="#{village}"
																itemLabel="#{village.name}"
																value="#{employeeMasterBean.villageMasterList}" />
														</h:selectOneMenu>
													</div>

												</div>
												<div class="col-lg-3">
												
												
													<div class="form-group ">
														<p:inputText class="form-control" id="postalper111"
															placeholder="Pincode"
															value="#{employeeMasterBean.employeeContactDetails.postalCodePermanent}"
															required="#{not empty param[addAddress.clientId]}"
															requiredMessage="Pincode code required" maxlength="6"
															validatorMessage="Minimum 6 digits required">
															<f:validateLength minimum="6" maximum="6" />
															<p:keyFilter mask="num" />
															
														</p:inputText>
													</div>
													<h:message for="postalper" class="validation-error-label" />
												</div>
											
										</div>
										</p:outputPanel>
                 
                  
                  
               
				
								

									<div class="" >
								
						<div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['religion']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-gg"></i></span>
                          <h:selectOneMenu 
														value="#{employeeMasterBean.employeePersonalInfoGeneral.religion}"
														required="true" requiredMessage="Religion is required"
														converter="#{entityConverter}"
														class="form-control">
                            <f:selectItem itemLabel="Select" itemValue=""
															noSelectionOption="true" />
                            <f:selectItems value="#{employeeMasterBean.religionList}"
															itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
                          </h:selectOneMenu>
                        </div>
                      </div>
                    </div>		
								
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['community']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
														class="fa fa-users"></i></span>
                          <h:selectOneMenu 
														class="form-control">
                            <f:selectItem itemLabel="Select" itemValue=""
															noSelectionOption="true" />
                            <f:selectItems value="#{employeeMasterBean.communityList}"
															itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
                          </h:selectOneMenu>
                        </div>
                        <h:message for="community" class="validation-error-label"/>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['caste']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
														class="fa fa-yelp"></i></span>
                          <h:selectOneMenu 
														value="#{employeeMasterBean.employeePersonalInfoGeneral.caste}"
														required="true" requiredMessage="Caste is required"
														converter="#{entityConverter}"
														class="form-control">
                            <f:selectItem itemLabel="Select" itemValue=""
															noSelectionOption="true" />
                            <f:selectItems
															value="#{employeeMasterBean.casteMasterList}"
															itemLabel="#{emp.name}" itemValue="#{emp}" var="emp" />
                          </h:selectOneMenu>
                        </div>
                        <h:message for="caste" class="validation-error-label"/>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['certificate_no']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-user"></i></span>
                          <p:inputText class="form-control" disapled="true"  placeholder="CER1234578"
													maxlength="50">
                            <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                          </p:inputText>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['date_of_iss']}" />
                        <span class="mand-red">&nbsp;*</span>
                        <div class="form-group form-group_calend m-b-0">
                          <p:calendar id="appoin" 
                                			pattern="dd-MM-yyyy" requiredMessage="Date of birth required"
											placeholder="DD-MM-YYYY" mask="true" navigator="true" yearRange="c-100:c+100"
											styleClass="form-control calend-icon form-control-1 calend-icon-1">
                            <p:ajax event="dateSelect" />
                          </p:calendar>
                        </div>
                        <h:message for="appointment" class="validation-error-label"/>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['iss_authorty']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-user"></i></span>
                          <p:inputText class="form-control" disapled="true"  placeholder="Government"
													maxlength="50">
                            <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                          </p:inputText>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['dist']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-user"></i></span>
                          <p:inputText class="form-control" disapled="true"  placeholder="Tuticorin"
													maxlength="50">
                            <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                          </p:inputText>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                      <div class="form-group">
                        <p:outputLabel value="#{msg['taluk']}" />
                        <span class="mand-red">*</span>
                        <div class="input-group"> <span class="input-group-addon"><i
													class="fa fa-user"></i></span>
                          <p:inputText class="form-control" disapled="true"  placeholder="Tiruchendur"
													maxlength="50">
                            <p:keyFilter regEx="/[a-zA-Z_.]+/" />
                          </p:inputText>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
								</div>
							
									
                    
                  </div>
                  <div class="col-md-12 ">
														<div class="col-md-6 ">
															<p>
																Uploaded documents: <span style="color: #2196F3;">Signature
																	</span>
															</p>
														</div>
														<div class="col-md-6 text-right m-r-0">
															<div class="m-b-10">
																<p:commandButton value="&#xe916; #{msg['clear']}"
																	styleClass="btn btn-sm bg-slate font-iconmoon " />
																<button id="form:regForm:j_idt391"
																	name="form:regForm:j_idt391" data-toggle="modal"
																	data-target="#pridocupload"
																	class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-teal font-iconmoon m-l-10"
																	onclick="PrimeFaces.ab({s:&quot;form:regForm:j_idt391&quot;});return false;"
																	type="submit" aria-disabled="false">
																	<span class="ui-button-text ui-c"><span
																		class="fa fa-upload"></span> Upload</span>
																</button>


																<p:commandButton
																	value="&#xed6e; #{msg['save_continue']}"
																	styleClass="btn btn-sm bg-success font-iconmoon m-l-10" />
															</div>
														</div>

													</div>
                  
                  
                  


<div id="pridocupload" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header popuphead pad5">
							<button type="button" class="close" style="top: 25%"
								data-dismiss="modal">×</button>
							<h6 class="modal-title">Document Upload</h6>
						</div>
						<div class="modal-body">


							<div class="form-group">
								<div class="row m-r-10">
									<label class="control-label col-lg-3 m-t-10">#{msg['upload_caste']}
										&nbsp;<span class="mand-sign-input">*</span>
									</label>
									<div class="col-lg-8">
										<div class="uploader">
											<input class="file-styled-primary" type="file" /><span
												class="filename" style="-moz-user-select: none;">No
												file selected</span><span class="action btn bg-blue"
												style="-moz-user-select: none;">Choose File</span>
										</div>
										<p>
											<small class="uploadfinename">File format: png, jpeg,
												pdf, doc and filesize should be lessthan 250kb</small>
										</p>
									</div>
									
									<!-- <div class="col-lg-1 no-padding-left">
											
										</div> -->
								</div>
							</div>

							

							

							
							


							

						</div>
						<div class="modal-footer m-t-10 border-bot p-10">
							<button id="form:regForm:j_idt391" name="form:regForm:j_idt391"
								data-toggle="modal" data-target="#pridocupload"
								class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-sm bg-teal font-iconmoon m-l-10"
								onclick="PrimeFaces.ab({s:&quot;form:regForm:j_idt391&quot;});return false;"
								type="submit" aria-disabled="false">
								<span class="ui-button-text ui-c"><span
									class="fa fa-upload"></span> Upload</span>
							</button>
						</div>
					</div>

					<!--  address proof popup -->

				</div>
			</div>

						
				</p:outputPanel>
			</p:focus>

		</h:form>
		<script>
			$(document.body).addClass('has-detached-left');
		</script>
	</ui:define>
</ui:composition>
