<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Qr Code List</title>
		<f:metadata>
			<f:viewAction action="#{productQRCodeBean.onPageLoad}"
				onPostBack="true" />
		</f:metadata>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['qr_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['product_warehouse']}</li>
						<li class="active">#{msg['qr_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4">
					<h6 class="panel-title">
						<strong><h:panelGroup id="size">
								<h:outputText value="#{productQRCodeBean.size}" />
							</h:panelGroup></strong> - #{msg['qr_code']}<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xed6e;&nbsp;#{msg['download_qr_code']}"
							rendered="#{loginBean.userFeatures['QR_CODE_DOWNLOAD']}"
							title="#{msg['download_qr_code']}" id="download"
							onstart="PF('statusDialog').show()" update="table"
							onsuccess="PF('statusDialog').hide()" ajax="false"
							actionListener="#{productQRCodeBean.downloadInwardQrCode}"
							class="btn bg-primary font-iconmoon">
							<p:fileDownload
								value="#{productQRCodeBean.downloadInwardPdfFile}" />
						</p:commandButton>
						
						<p:commandButton value="&#xed6e;&nbsp;#{msg['generate_par']}"
							title="#{msg['generate_par']}" id="generate"
							onclick="PF('confirm').show()"
							disabled="#{productQRCodeBean.generateButtonFlag}"
							rendered="#{loginBean.userFeatures['GENERATE_PAR']}"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>
						
						<p:commandButton value="&#xea60; #{msg['qr_cd']}" id="addButton"
							immediate="true" action="#{productQRCodeBean.gotoPage('ADD')}"
							update="growls" title="#{msg['qr_cd']}"
							rendered="#{loginBean.userFeatures['QR_CODE_PRICE_FIXATION_ADD']}"
							disabled="#{productQRCodeBean.addButtonFlag}"
							onclick="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-success font-iconmoon">
							<f:setPropertyActionListener value="ADD"
								target="#{productQRCodeBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}" id="editButton"
							class="btn bg-primary font-iconmoon" title="#{msg['edit']}"
							rendered="#{loginBean.userFeatures['QR_CODE_PRICE_FIXATION_EDIT']}"
							disabled="#{productQRCodeBean.editButtonFlag}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" update=" growls"
							action="#{productQRCodeBean.gotoPage('EDIT')}">
							<f:setPropertyActionListener value="EDIT"
								target="#{productQRCodeBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon"
							rendered="#{loginBean.userFeatures['QR_CODE_PRICE_FIXATION_VIEW']}"
							title="#{msg['view']}" onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							action="#{productQRCodeBean.getViewPage}">
							<f:setPropertyActionListener value="VIEW"
								target="#{productQRCodeBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
							rendered="#{loginBean.userFeatures['QR_CODE_PRICE_FIXATION_DELETE']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" update="growls"
							action="#{productQRCodeBean.processDelete}">
							<f:setPropertyActionListener value="DELETE"
								target="#{productQRCodeBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe916; #{msg['clear']}"
							class="btn bg-slate font-iconmoon" title="#{msg['clear']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							actionListener="#{productQRCodeBean.clearSearch}"
							action="#{productQRCodeBean.getListPage}">
						</p:commandButton>

					</div>
				</div>
			</div>

			<!-- Confirm Delete Start -->
			<p:dialog header="#{msg['confirmation']}" widgetVar="confirm"
				modal="true" position="center" resizable="false" closable="true"
				width="30%" styleClass="p-0 overlay-pop modal-dialog">
				<h:form>
					<div class="modal-body">
						<h:outputText value="#{msg['par_confirm']}" />
					</div>
					<div class="modal-footer text-right m-t-10">
						<p:commandButton
							styleClass="btn bg-slate cust-btn-h font-iconmoon"
							title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
							onclick="PF('confirm').hide();">
						</p:commandButton>
						<p:commandButton
							styleClass="btn bg-success cust-btn-h font-iconmoon"
							value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
							action="#{productQRCodeBean.generatePAR}"
							oncomplete="PF('confirm').hide();"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" update="growls table">
						</p:commandButton>
					</div>
				</h:form>
			</p:dialog>
			<!-- Confirm Delete end -->

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" widgetVar="table" var="data" class="table"
							selection="#{productQRCodeBean.productQRCodeResponse}"
							rowKey="#{data.id}"
							value="#{productQRCodeBean.productQRCodeResponseLazyList}"
							lazy="true" emptyMessage="No records found"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							tableStyleClass="table-hover" rowsPerPageTemplate="5,10,15"
							rowIndexVar="idx">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />

							<p:ajax event="rowSelectRadio"
								listener="#{productQRCodeBean.onRowSelect}"
								update=":#{p:component('addButton')} , :#{p:component('editButton')}" />

							<p:column headerText="#" styleClass="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column headerText="Ack Number"
								styleClass="text-center width-10" filterMatchMode="contains"
								filterable="true" filterBy=" #{data.ackReferenceNumber}"
								sortBy=" #{data.ackReferenceNumber}" sortable="true">
								<h:outputText value="#{data.ackReferenceNumber}" />
							</p:column>

							<p:column headerText="#{msg['st_in_num']}"
								styleClass="text-center width-10" filterMatchMode="contains"
								filterable="true" filterBy=" #{data.stockInwardNumber}"
								sortBy=" #{data.stockInwardNumber}" sortable="true">
								<h:outputText value="#{data.stockInwardNumber}" />
							</p:column>

							<p:column headerText="#{msg['sender_code']} / #{msg['name']}"
								styleClass="width-20" filterMatchMode="contains"
								filterable="true" filterBy=" #{data.senderCodeOrName}"
								sortBy=" #{data.senderCodeOrName}" sortable="true">
								<h:outputText value="#{data.senderCodeOrName}" />
							</p:column>

							<p:column headerText="#{msg['receiver_code']} / #{msg['name']}"
								filterMatchMode="contains" filterable="true"
								styleClass="width-20" filterBy=" #{data.receiverCodeOrName}"
								sortBy=" #{data.receiverCodeOrName}" sortable="true">
								<h:outputText value="#{data.receiverCodeOrName}" />
							</p:column>
							<p:column filterBy=" #{data.status}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy=" #{data.status}" sortable="true"
								styleClass="text-center width-6">

								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('table').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems value="#{productQRCodeBean.statusValues}"
											var="status" itemLabel="#{status}" itemValue="#{status}" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{data.status}"
									styleClass="label label-warning btn-cust-wid"
									rendered="#{data.status eq 'QR_PENDING'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-warning btn-cust-wid"
									rendered="#{data.status eq 'QR_IN_PROGRESS'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success btn-cust-wid"
									rendered="#{data.status eq 'QR_COMPLETE' or data.status eq 'QR_COMPLETED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success btn-cust-wid"
									rendered="#{data.status eq 'QR_COMPLETE_PAR_GENERATED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-primary btn-cust-wid"
									rendered="#{data.status eq 'QR_COMPLETE_PAR_NOT_GENERATED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-warning btn-cust-wid"
									rendered="#{data.status eq 'QR_GENERATING'}" />
								<h:outputText value="#{data.status}"
									styleClass="label label-warning btn-cust-wid"
									rendered="#{data.status eq 'QR_NOT_COMPLETED'}" />
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="width-4 text-center">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('size')}" autoRun="true" />

						<ui:remove>
							<!-- <div class="dataTables_info m-b-0" id="DataTables_Table_2_info"
							role="status" aria-live="polite">
							<p:commandButton class="btn btn-primary btn-xs font-iconmoon"
								value="&#xef36;&nbsp;#{msg['operation_retail_input_form_pdf']}"
								actionListener="#{productQRCodeBean.generatePDF}" ajax="false"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
								<p:fileDownload value="#{productQRCodeBean.downloadFile}" />
							</p:commandButton>
						</div> -->
						</ui:remove>
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			widgetVar="dlg1" modal="true" position="center" resizable="false"
			closable="true" width="30%" styleClass="p-0 overlay-pop modal-dialog">
			<h:form>
				<div class="modal-body">
					<h:outputText value="#{msg['delete_record']}" />
				</div>
				<div class="modal-footer m-t-10">
					<h:commandButton
						styleClass="btn bg-slate heading-btn font-iconmoon cust-btn-h"
						title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
						onclick="PF('dlg1').hide();">
					</h:commandButton>
					<h:commandButton
						styleClass="btn bg-success heading-btn font-iconmoon cust-btn-h m-l-8"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{productQRCodeBean.delete}" onclick="PF('dlg1').hide();">
					</h:commandButton>
				</div>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>