<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="qrForm">
			<title>InfoTex | View QR Code</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['view_qr_code']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['warehouse_management']}</li>
							<li>#{msg['product_warehouse']}</li>
							<li class="active">#{msg['view_qr_code']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content pg-scroll-panel-3 no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['qr_cd']}</a>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10 p-b-0">
								<div class="row view-style">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['indr_num']}" />
													<h:outputText
														value="#{productQRCodeBean.productQRCode.stockTransfer.referenceNumber}"
														class="" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sender_address']}" />
													<h:outputText value="#{productQRCodeBean.senderAddress[0]}"
														class="" style="word-break: break-word;" />
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['received_dt']}" />
													<h:outputText
														value="#{productQRCodeBean.productQRCode.stockTransfer.dateReceived}"
														class="">
														<f:convertDateTime pattern="dd-MMM-yyyy  hh:mm aa"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

												<div class="form-group">
													<p:outputLabel value="#{msg['rec_add']}" />
													<h:outputText style="word-break: break-word;"
														value="#{productQRCodeBean.receiverAddress[0]}" class="" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- colleps panel end -->

				<div class="col-md-6 ph0">
					<div class="panel panel-flat panel-border-info m-b-10">
						<div class="panel-heading p-t-10 p-b-10">
							<h5 class="panel-title">
								<i class="icon-grid6 position-left"></i>#{msg['prod_variety_wise']}
								- #{msg['qr_code_status']}
							</h5>
						</div>

						<div class="panel-body">
							<p:outputPanel id="productCountDetails">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vl">
										<ul class="list-inline text-center">
											<li><i
												class="icon-stack3 icon-2x btn-md text-info valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.productQRCode.productQRCodeItemList.size()}</div>
												<div class="text-muted">#{msg['tot_prod_varts']}
												</div>
											</li>
										</ul>

									</div>

									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vl">
										<ul class="list-inline text-center">
											<li><i
												class="icon-checkmark-circle icon-2x btn-md text-success valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.totalQRCodeGeneratedVarities}</div>
												<div class="text-muted">#{msg['tot_qr_code_gen_varts']}
													
												</div>
											</li>
										</ul>
									</div>

									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<ul class="list-inline text-center">
											<li><i
												class="icon-arrow-right16 icon-2x btn-md text-slate valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.productQRCode.productQRCodeItemList.size()
													- productQRCodeBean.totalQRCodeGeneratedVarities}</div>
												<div class="text-muted">#{msg['qr_code_yet_to_gen']}
													
												</div>
											</li>
										</ul>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ph0">
					<div class="panel panel-flat panel-border-info m-b-10">
						<div class="panel-heading p-t-10 p-b-10">
							<h5 class="panel-title">
								<i class="icon-grid6 position-left"></i>#{msg['prod_item_wise']}
								- #{msg['qr_code_status']}
							</h5>
						</div>

						<div class="panel-body">
							<p:outputPanel id="productItemWiseDetails">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vl">
										<ul class="list-inline text-center">
											<li><i
												class="icon-list-unordered icon-2x btn-md text-info valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.totalProductItemWiseCount}</div>
												<div class="text-muted">#{msg['tot_no_of_items']}													
												</div>
											</li>
										</ul>
									</div>

									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vl">
										<ul class="list-inline text-center">
											<li><i
												class="icon-thumbs-up3 icon-2x btn-md text-success valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.totalProductItemWiseQRCodeCount}</div>
												<div class="text-muted">#{msg['qr_code_gen_items']}													
												</div>
											</li>
										</ul>
									</div>


									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<ul class="list-inline text-center">
											<li><i
												class="icon-hour-glass2 icon-2x btn-md text-warning valign-text-bottom"></i>
											</li>
											<li class="text-left width-65 width-45-sm">
												<div class="text-semibold text16">#{productQRCodeBean.totalProductItemWiseQRCodeToBeGenerateCount}</div>
												<div class="text-muted">#{msg['qr_code_to_be_gented']}													
												</div>
											</li>
										</ul>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="panel panel-flat m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<i class="fa fa-th-large m-r-5 m-t-0"></i><span
								class="iform-title">#{msg['quality_details']}</span>
						</h5>
						<div class="table-responsive m-b-10">
						<p:outputPanel 
										class="#{productQRCodeBean.productQRCode.productQRCodeItemList.size() gt 5 ?'overflow-table m-b-10':'col-lg-12 ph0'}">
							<p:dataTable id="itemsTable" var="data" 
								rowKey="#{data}" styleClass="custom-input-width"
								value="#{productQRCodeBean.productQRCode.productQRCodeItemList}"
								emptyMessage="#{msg['no_records_found']}" editable="true"
								rowIndexVar="idx" scrollable="true" 
								scrollHeight="#{productQRCodeBean.productQRCode.productQRCodeItemList.size() eq 0 ? '30' : 
								  				 productQRCodeBean.productQRCode.productQRCodeItemList.size() eq 1 ? '36':
								  				 productQRCodeBean.productQRCode.productQRCodeItemList.size() eq 2 ? '72':
												 productQRCodeBean.productQRCode.productQRCodeItemList.size() eq 3 ? '108':
												 productQRCodeBean.productQRCode.productQRCodeItemList.size() eq 4 ? '144':
												 productQRCodeBean.productQRCode.productQRCodeItemList.size() gt 4 
												 and productQRCodeBean.productQRCode.productQRCodeItemList.size() lt 6 ? '180' :'200'}">
								<p:column headerText="#" styleClass="sno-ovrflw-4 text-center">
									<h:outputText value="#{idx+1}" />
								</p:column>
								<p:column
									headerText="#{msg['prod_variey_code']} / #{msg['name']}"
									filterMatchMode="contains" filterable="true"
									styleClass="width-18"
									filterBy="#{data.productVarietyMaster.name}"
									sortBy="#{data.productVarietyMaster.name}" sortable="true">
									<h:outputText
										value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
								</p:column>
								<p:column headerText="#{msg['uom']}"
									styleClass="text-center width-9" filterMatchMode="contains"
									filterable="true"
									filterBy="#{data.productVarietyMaster.uomMaster.code}"
									sortBy="#{data.productVarietyMaster.uomMaster.code}"
									sortable="true">
									<h:outputText
										value="#{data.productVarietyMaster.uomMaster.code}" />
								</p:column>
								<p:column headerText="#{msg['dispatched_qty']}"
									styleClass="text-right width-15" filterMatchMode="contains"
									filterable="true" filterBy="#{data.dispatchedQuantity}"
									sortBy="#{data.dispatchedQuantity}" sortable="true">
									<h:outputText value="#{data.dispatchedQuantity}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['received_quantity']}"
									styleClass="text-right width-14" filterMatchMode="contains"
									filterable="true" filterBy="#{data.receivedQuantity}"
									sortBy="#{data.receivedQuantity}" sortable="true">
									<h:outputText value="#{data.receivedQuantity}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['status']}"
									styleClass="text-center width-15">
									<f:facet name="filter">
										<h:selectOneMenu id="statusDropdownforQR"
											class="form-control select2">
											<f:selectItem itemLabel="#{msg['select']}"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItems value="#{productQRCodeBean.statusValues}"
												var="status" itemLabel="#{status}" itemValue="#{status}" />
										</h:selectOneMenu>
									</f:facet>

									<h:outputText value="#{data.productStatus}"
										styleClass="label label-default width-custom"
										rendered="#{data.productStatus eq 'QR_IN_PROGRESS'}" />

									<h:outputText value="#{data.productStatus}"
										styleClass="label label-success width-custom"
										rendered="#{data.productStatus eq 'QR_COMPLETE' or data.productStatus eq 'QR_COMPLETED'}" />

									<h:outputText value="#{data.productStatus}"
										styleClass="label label-default width-custom"
										rendered="#{data.productStatus eq 'QR_PENDING'}" />
									<h:outputText value="#{data.productStatus}"
										styleClass="label label-default width-custom"
										rendered="#{data.productStatus eq 'QR_NOT_COMPLETED'}" />
								</p:column>
								<p:column headerText="#{msg['region_categorization']}"
									styleClass="text-center width-12">
									<p:commandButton update="qrForm:productRegionDialog"
										value="&#xec63;"
										action="#{productQRCodeBean.selectProductWiseData(data,idx,'YES')}"
										class="btn bg-success font-iconmoon btn-xs m-l-0"
										oncomplete="PF('productRegionDialog').show();" 
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"/>
								</p:column>
								<p:column headerText="#{msg['qr_code_generate']}"
									styleClass="text-center width-13">

									<p:commandButton
										update="itemsTable qrForm:productItemWiseDetails qrForm:productCountDetails growls"
										value="&#xeda7;" rendered="#{loginBean.userFeatures['QR_CODE_GENERATION']}"
										class="btn bg-primary font-iconmoon btn-xs m-l-0"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()" title="#{msg['qr_code_generate']}"
										action="#{productQRCodeBean.generateQRCodeByTable(idx)}" />


									<p:commandButton update="qrForm:qrCodeGenerateModal"
										value="&#xea18;"
										action="#{productQRCodeBean.onClickQRCodeModalOpen(data,idx)}"
										class="btn bg-info font-iconmoon btn-xs m-l-5"
										oncomplete="PF('qrCodeGenerateModal').show();" 
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"  title="View"/>
								</p:column>
							</p:dataTable>
							</p:outputPanel>
						</div>

						<div class="row">
							<div class="col-md-12 col-lg-12 text-right">
								<p:commandButton update="growls"
									value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
									action="#{productQRCodeBean.getListPage}"
									class="btn bg-info heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- QR Code Generate modal -->

			<p:dialog header="#{msg['at_num_wise_qr_code_dlt']}"
				id="qrCodeGenerateModal" widgetVar="qrCodeGenerateModal"
				position="center" width="80%" resizable="false" modal="true"
				showEffect="fade" hideEffect="fade" draggable="false"
				styleClass="cus-model-popup card_dialogbox p-0 popup-overflow-sm">

				<div class="row label-form view-style">
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
						<div class="form-group m-b-10">
							<p:outputLabel
								value="#{msg['prod_variey_code']} / #{msg['name']}" />
							<h:outputText
								value="#{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.code} / #{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.name}"
								class="" style="word-break:break-word" />
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
						<div class="form-group m-b-10">
							<p:outputLabel value="#{msg['u_o_m']}" />
							<h:outputText
								value="#{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.uomMaster.name}"
								class="" />
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
						<div class="form-group m-b-10">
							<p:outputLabel value="#{msg['dispatch_unit']}" />
							<h:outputText
								value="#{productQRCodeBean.selectedProductQRCodeItem.dispatchedQuantity}"
								class="" />
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
						<div class="form-group m-b-10">
							<p:outputLabel value="#{msg['recd_unit']}" />
							<h:outputText
								value="#{productQRCodeBean.selectedProductQRCodeItem.receivedQuantity}"
								class="" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
						<div class="panel panel-body panel-body-accent"
							style="padding: 10px">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-list-unordered  icon-2x text-info-400"></i>
								</div>

								<div class="media-body text-right">
									<h5 class="no-margin text-semibold">#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size()}</h5>
									<span class="text-uppercase text-size-mini text-muted">#{msg['tot_no_of_items']}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
						<div class="panel panel-body panel-body-accent"
							style="padding: 10px">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-thumbs-up3  icon-2x text-success-400"></i>
								</div>

								<div class="media-body text-right">
									<h5 class="no-margin text-semibold">#{productQRCodeBean.totalQRCodeGeneratedAtNumberWiseItems}</h5>
									<span class="text-uppercase text-size-mini text-muted">#{msg['qr_code_gen_items']}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
						<div class="panel panel-body panel-body-accent"
							style="padding: 10px">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-hour-glass2 icon-2x text-warning-400"></i>
								</div>

								<div class="media-body text-right">
									<h5 class="no-margin text-semibold">#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size()
										- productQRCodeBean.totalQRCodeGeneratedAtNumberWiseItems}</h5>
									<span class="text-uppercase text-size-mini text-muted">#{msg['qr_code_to_be_gen']}</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
						<p:outputPanel id="atNoTable" styleClass="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
							<p:dataTable id="itemsQRCodeDetailsTable" var="data"
								rowKey="#{data}" styleClass="custom-input-width"
								value="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList}"
								emptyMessage="#{msg['no_records_found']}" editable="true"
								rowIndexVar="idx" scrollable="true" 
								scrollHeight="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 0 ? '30' : 
									  				 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 1 ? '30':
									  				 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 2 ? '60':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 3 ? '90':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 4 ? '120':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() gt 4 and 
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() lt 6 ? '150' :'170'}">
								<p:column headerText="#" styleClass="text-center sno-ovrflw-5">
									<h:outputText value="#{idx+1}" />
								</p:column>
								<p:column headerText="#{msg['at_no']}" styleClass="text-center width-17">
									<h:outputText value="#{data.atNumber}" />
								</p:column>
								<p:column headerText="#{msg['reg_typ']}"
									styleClass="width-14">
									<h:outputText value="#{data.regionType}" />
								</p:column>

								<p:column headerText="#{msg['length']}"
									styleClass="text-right width-9">
									<h:outputText value="#{data.length}">
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['width']}"
									styleClass="text-right width-9">
									<h:outputText value="#{data.width}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['end_inch']}"
									styleClass="text-right width-10">
									<h:outputText value="#{data.endsperInch}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['pick_inch']}"
									styleClass="text-right width-10">
									<h:outputText value="#{data.picksperInch}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['pur_price']}&nbsp;(&#xf156;)"
									styleClass="text-right fa-input width-13">
									<h:outputText value="#{data.purchasePrice}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['retail_price']}&nbsp;(&#xf156;)"
									styleClass="text-right fa-input width-13">
									<h:outputText value="#{data.retailPrice}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:column>
							</p:dataTable>
							</p:outputPanel>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12 text-right m-t-10">
								<div class="form-group m-b-10">
									<p:commandButton value="&#xea60;&nbsp;#{msg['gen_qr']}"
										title="#{msg['gen_qr']}"
										disabled="#{productQRCodeBean.disableQRCodeButton == true}"
										update="itemsTable productCountDetails productItemWiseDetails growls"
										class="btn bg-primary heading-btn  font-iconmoon"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										action="#{productQRCodeBean.generateQRCode}" onclick="#">
									</p:commandButton>
									<p:commandButton value="&#xead2;&nbsp;#{msg['download']}"
										rendered="#{loginBean.userFeatures['QR_CODE_DOWNLOAD']}"
										id="getneratePdfButton" title="#{msg['download']}"
										disabled="#{productQRCodeBean.disableQRCodeButton == false}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										actionListener="#{productQRCodeBean.downloadQrCodePdf}"
										ajax="false" class="btn bg-info heading-btn  font-iconmoon">
										<p:fileDownload value="#{productQRCodeBean.downloadFile}" />
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:dialog>
			<!-- QR Code Generate modal -->
			
			<!-- Split Region modal -->
			<p:dialog header="#{msg['inter_intra_region_categories']}"
				id="productRegionDialog" widgetVar="productRegionDialog"
				position="center" width="90%" resizable="false" modal="true"
				showEffect="fade" hideEffect="fade" draggable="false"
				styleClass="cus-model-popup card_dialogbox p-0">
				<div class="modal-body p-0">
					<div class="row label-form view-style">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel
									value="#{msg['prod_variey_code']} / #{msg['name']}" />
								<h:outputText
									value="#{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.code} / #{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.name}"
									class="" style="word-break:break-word" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel value="#{msg['u_o_m']}" />
								<h:outputText
									value="#{productQRCodeBean.selectedProductQRCodeItem.productVarietyMaster.uomMaster.name}"
									class="" />
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel value="#{msg['dispatch_unit']}" />
								<h:outputText
									value="#{productQRCodeBean.selectedProductQRCodeItem.dispatchedQuantity}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row label-form view-style">
						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel value="#{msg['recd_unit']}" />
								<h:outputText
									value="#{productQRCodeBean.selectedProductQRCodeItem.receivedQuantity}"
									class="" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel value="#{msg['accpt_qty']}" />
								<h:outputText
									value="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size()}"
									class="" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
							<div class="form-group m-b-10">
								<p:outputLabel value="#{msg['rej_qty']}" />
								<h:outputText
									value="#{productQRCodeBean.productQRCodeDetailsDTO.rejectedCount}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row">
						<p:outputPanel id="regionItemCounts">

							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
								<div class="panel panel-body panel-body-accent"
									style="padding: 10px">
									<div class="media no-margin">
										<div class="media-left media-middle">
											<i
												class="icon-list-unordered  icon-2x display-inline-block text-info-400"></i>
										</div>

										<div class="media-body text-right">
											<h5 class="no-margin text-semibold">#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size()}</h5>
											<span class="text-uppercase text-size-mini text-muted">#{msg['tot_no_of_items']}</span>
										</div>
									</div>
								</div>
							</div>


							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
								<div class="panel panel-body panel-body-accent"
									style="padding: 10px">
									<div class="media no-margin">
										<div class="media-left media-middle">
											<i
												class="icon-thumbs-up3 icon-2x display-inline-block text-success-400"></i>
										</div>

										<div class="media-body text-right">
											<h5 class="no-margin text-semibold">#{productQRCodeBean.totalInterRegionItems}</h5>
											<span class="text-uppercase text-size-mini text-muted">#{msg['inter_regn_items']}</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
								<div class="panel panel-body panel-body-accent"
									style="padding: 10px">
									<div class="media no-margin">
										<div class="media-left media-middle">
											<i
												class="icon-hour-glass2 icon-2x display-inline-block text-warning-400"></i>
										</div>

										<div class="media-body text-right">
											<h5 class="no-margin text-semibold">#{productQRCodeBean.totalIntraRegionItems}</h5>
											<span class="text-uppercase text-size-mini text-muted">#{msg['intra_regn_items']}</span>
										</div>
									</div>
								</div>
							</div>

						</p:outputPanel>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive">
							<p:outputPanel styleClass="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
								<p:dataTable id="itemsDetailsTable" var="data" 
									rowKey="#{data}" styleClass="custom-input-width"
									value="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList}"
									emptyMessage="#{msg['no_records_found']}" editable="true"
									rowIndexVar="idx" scrollable="true" 
									scrollHeight="#{productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 0 ? '30' : 
									  				 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 1 ? '30':
									  				 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 2 ? '60':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 3 ? '90':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() eq 4 ? '120':
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() gt 4 and 
													 productQRCodeBean.productQRCode.productQRCodeItemList[productQRCodeBean.index].productQRCodeItemDetailsList.size() lt 6 ? '150' :'170'}">
									<p:column headerText="#" styleClass="text-center sno-ovrflw-5">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column headerText="#{msg['at_no']}" styleClass="width-14 text-center">
										<h:outputText value="#{data.atNumber}" />
									</p:column>
									<p:column headerText="#{msg['reg_typ']}" styleClass="width-17">
										<h:outputText value="#{data.regionType}" />
									</p:column>

									<p:column headerText="#{msg['length']}"
										styleClass="text-right width-9">
										<h:outputText value="#{data.length}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
										<h:outputText
											rendered="#{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.lengthUomMaster.name !=null}"
											value="(#{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.lengthUomMaster.name})">
										</h:outputText>

										<h:outputText
											rendered="#{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.lengthUomMaster.name == null}"
											value="">
										</h:outputText>

									</p:column>

									<p:column headerText="#{msg['width']}"
										styleClass="text-right width-9">
										<h:outputText value="#{data.width}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
										<h:outputText
											rendered="#{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.widthUomMaster.name !=null}"
											value="( #{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.widthUomMaster.name})">
										</h:outputText>

										<h:outputText
											rendered="#{productQRCodeBean.productQRCode.productQRCodeItemList.get(productQRCodeBean.index).productVarietyMaster.widthUomMaster.name == null}"
											value="">
										</h:outputText>

									</p:column>

									<p:column headerText="#{msg['end_inch']}"
										styleClass="text-right width-10">
										<h:outputText value="#{data.endsperInch}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['pick_inch']}"
										styleClass="text-right width-10">
										<h:outputText value="#{data.picksperInch}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['pur_price']}&nbsp;(&#xf156;)"
										styleClass="text-right fa-input width-13">
										<h:outputText value="#{data.purchasePrice}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['retail_price']}&nbsp;(&#xf156;)"
										styleClass="text-right fa-input width-13">
										<h:outputText value="#{data.retailPrice}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<p:columnGroup type="footer">
				       					<p:row>
				   							<p:column></p:column>
				   							<p:column></p:column>
				   							<p:column></p:column>
				   							<p:column></p:column>
				   							<p:column></p:column>
				   							<p:column></p:column>
				   							<p:column  style="text-align:right" footerText="Total" />
					           				<p:column>
					           					<f:facet name="footer">
													<h:outputText value="#{productQRCodeBean.totalPurchasePrice}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
					           				</p:column>
					           				<p:column  footerText="#{productQRCodeBean.totalRetailPrice}">
					           					<f:facet name="footer">
													<h:outputText value="#{productQRCodeBean.totalRetailPrice}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
					           				</p:column>
					           				
					           					
				       					</p:row>
				 					</p:columnGroup>
									<ui:remove>
										<p:column headerText="#{msg['action']}"
											styleClass="text-center width-7">
											<p:commandButton
												update="qrForm:itemsDetailsTable qrForm:regionItemCounts"
												value="&#xe99e;"
												action="#{productQRCodeBean.deleteProductItem(idx)}"
												class="btn bg-danger font-iconmoon btn-xs m-l-0" />
										</p:column>
									</ui:remove>
								</p:dataTable>
							</p:outputPanel>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-12 text-right m-t-10">
									<p:commandButton onclick="#"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn font-iconmoon">
									</p:commandButton>
									<ui:remove>
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											 title="#{msg['submit']}" update="growls itemsTable"
											disabled="#{productQRCodeBean.disableRegionSubmit == true}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											action="#{productQRCodeBean.submitQRCode}"
											class="btn bg-success heading-btn  font-iconmoon m-r-5">
										</p:commandButton>
									</ui:remove>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:dialog>
			<!-- Split Region Modal End -->
		</h:form>
	</ui:define>
</ui:composition>