<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="proForm">
			<title>InfoTex | Create Procurement Order</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{procurementOrderBean.action eq 'ADD' ?
							msg['create_procure_order'] : msg['ed_procure_order']}</h4>

						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['prcurmnt']}</li>
							<li>#{msg['otr_procurement']}</li>
							<li class="active">#{procurementOrderBean.action eq 'ADD' ?
								msg['create_procure_order'] : msg['ed_procure_order']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content pg-scroll-panel-3 no-padding-bottom">
				<div
					class="panel-group panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['proc_odr']} </a>
								<span class="pull-right text-13 m-r-25">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10 no-padding-bottom">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_type']}" for="prodPlanType" />
											<p:outputLabel value="*" class="mand-symbol"
												for="prodPlanType"
												rendered="#{empty param[generate.clientId]}" />

											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="prodPlanType"
													disabled="#{procurementOrderBean.editFlag eq true || procurementOrderBean.procrmntListSize ne 0}"
													value="#{procurementOrderBean.govtProductionPlan}"
													class="form-control select2"
													required="#{not empty param[generate.clientId]}"
													requiredMessage="#{msg['plan_type_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItem itemLabel="Govt Scheme"
														itemValue="Govt_Scheme" />
													<f:selectItem itemLabel="Contract" itemValue="Contract" />
													<f:selectItem itemLabel="Export" itemValue="Export" />
													<f:selectItem itemLabel="Additional Production Plan"
														itemValue="Additional_Production_Plan" />
													<p:ajax event="change" onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														listener="#{procurementOrderBean.loadGovtProductionPlanApprovedPlanList}"
														update="govPanel conPanel addPanel prodPlan prod growls" />
												</h:selectOneMenu>
											</div>
											<p:focus for="prodPlanType" />
											<h:message for="prodPlanType" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>
								<p:outputPanel id="govPanel">
									<p:outputPanel
										rendered="#{procurementOrderBean.govTypeName eq 'gov'}">
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}"
														for="prodPlan" />
													<p:outputLabel value="*" class="mand-symbol" for="prodPlan"
														rendered="#{empty param[generate.clientId]}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="prodPlan"
															disabled="#{procurementOrderBean.editFlag eq true || procurementOrderBean.procrmntListSize ne 0}"
															value="#{procurementOrderBean.govtSchemePlan}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['plan_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{procurementOrderBean.govtProductionPlanList}"
																var="productionplan"
																itemLabel="#{productionplan.planName}"
																itemValue="#{productionplan}" />
															<p:ajax onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																listener="#{procurementOrderBean.getDPOfficeList}"
																update="plangovfrom plangovto creategovdate createdgovby approvedgovdate approvedgovby dp prod growls valDate">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="prodPlan" class="validation-error-label"></h:message>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_from']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.govtSchemePlan.periodFrom}"
															disabled="true" id="plangovfrom" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_to']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.govtSchemePlan.periodTo}"
															disabled="true" id="plangovto" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.govtSchemePlan.createdDate}"
															disabled="true" id="creategovdate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
										</div>
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="createdgovby" placeholder=""
															value="#{procurementOrderBean.govtSchemePlan.createdBy.username}" />
													</div>
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.govtSchemePlan.approvedDate}"
															disabled="true" id="approvedgovdate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="approvedgovby" placeholder=""
															value="#{procurementOrderBean.govtSchemePlan.approvedBy.username}" />
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</p:outputPanel>
								<p:outputPanel id="conPanel">
									<p:outputPanel
										rendered="#{procurementOrderBean.govTypeName eq 'contract' or procurementOrderBean.govTypeName eq 'export'}">
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}"
														for="prodPlanId" />
													<p:outputLabel value="*" class="mand-symbol"
														for="prodPlanId"
														rendered="#{empty param[previewBut.clientId]}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="prodPlanId"
															value="#{procurementOrderBean.contractExportPlan}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[previewBut.clientId]}"
															requiredMessage="#{msg['plan_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{procurementOrderBean.contractExportPlanList}"
																var="productionplan"
																itemLabel="#{productionplan.planName}"
																itemValue="#{productionplan}" />
															<p:ajax onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																listener="#{procurementOrderBean.getDPOfficeListByConExport}"
																update="planCEfrom planCEto createCEdate createdCEby approvedCEdate approvedCEby dp prod growls valDate">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="prodPlanId" class="validation-error-label"></h:message>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_from']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.contractExportPlan.fromDate}"
															disabled="true" id="planCEfrom" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_to']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.contractExportPlan.toDate}"
															disabled="true" id="planCEto" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
										</div>
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.contractExportPlan.createdDate}"
															disabled="true" id="createCEdate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="createdCEby" placeholder=" "
															value="#{procurementOrderBean.contractExportPlan.createdBy.username}" />
													</div>
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.contractExportPlan.approvedDate}"
															disabled="true" id="approvedCEdate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="approvedCEby" placeholder="Approved By"
															value="#{procurementOrderBean.contractExportPlan.approvedBy.username}" />
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</p:outputPanel>
								<p:outputPanel id="addPanel">
									<p:outputPanel
										rendered="#{procurementOrderBean.govTypeName eq 'additional'}">
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}"
														for="addPlanId" />
													<p:outputLabel value="*" class="mand-symbol"
														for="addPlanId"
														rendered="#{empty param[previewBut.clientId]}" />

													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="addPlanId"
															value="#{procurementOrderBean.additionalProductionPlan}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[previewBut.clientId]}"
															requiredMessage="#{msg['plan_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{procurementOrderBean.additionalProductionPlanList}"
																var="productionplan"
																itemLabel="#{productionplan.planName}"
																itemValue="#{productionplan}" />
															<p:ajax onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																listener="#{procurementOrderBean.getDPOfficeListByAdd}"
																update="planaddfrom planaddto createadddate createdaddby approvedadddate approvedaddby dp prod growls valDate">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="addPlanId" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_from']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.additionalProductionPlan.planFrom}"
															disabled="true" id="planaddfrom" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_to']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.additionalProductionPlan.planTo}"
															disabled="true" id="planaddto" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>
										</div>
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.additionalProductionPlan.createdDate}"
															disabled="true" id="createadddate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="createdaddby" placeholder=" "
															value="#{procurementOrderBean.additionalProductionPlan.createdBy.username}" />
													</div>
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<h:inputText
															value="#{procurementOrderBean.additionalProductionPlan.createdDate}"
															disabled="true" id="approvedadddate" class="form-control">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:inputText>
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText class="form-control" disabled="true"
															id="approvedaddby" placeholder=""
															value="#{procurementOrderBean.additionalProductionPlan.createdBy.username}" />
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->

				<div class="panel panel-info m-b-0">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['d_n_p_office_details']}</span>
								</h5>
							</div>
						</div>
						<div class="row label-form custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['d_n_p_office_code']} / #{msg['name']}" for="dp" />
									<p:outputLabel value="*" styleClass="text-danger" for="dp"
										rendered="#{empty param[generate.clientId]}" />

									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="dp"
											disabled="#{procurementOrderBean.editFlag eq true || procurementOrderBean.procrmntListSize ne 0}"
											value="#{procurementOrderBean.dpOfficeEntity}"
											class="form-control select2" converter="#{entityConverter}"
											required="#{not empty param[generate.clientId]}"
											requiredMessage="#{msg['d_n_p_office_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{procurementOrderBean.dpOfficeEntityList}"
												var="dpOffice"
												itemLabel="#{dpOffice.code} / #{dpOffice.name}"
												itemValue="#{dpOffice}" />
											<p:ajax listener="#{procurementOrderBean.loadProductList}"
												update="prod growls" onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();">
											</p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="dp" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['prod_variey_code']} / #{msg['name']}" for="prod" />
									<p:outputLabel value="*" styleClass="text-danger" for="prod"
										rendered="#{empty param[generate.clientId]}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-tree6"></i></span>
										<h:selectOneMenu id="prod"
											value="#{procurementOrderBean.productVarietyMaster}"
											class="form-control select2" converter="#{entityConverter}"
											required="#{not empty param[generate.clientId]}"
											requiredMessage="#{msg['prod_variety_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{procurementOrderBean.productVarietyMasterList}"
												var="prd" itemLabel="#{prd.code} / #{prd.name}"
												itemValue="#{prd}" />
											<p:ajax listener="#{procurementOrderBean.getQuantites}"
												update="growls totalQty alreadyQty"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();">
											</p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="prod" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['total_procure_plan_qty']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stackoverflow"></i></span>
										<p:inputText styleClass="form-control" id="totalQty"
											placeholder="0.00" disabled="true"
											value="#{procurementOrderBean.totalProcPlanQty}">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['alrdy_issued_qty']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stackoverflow"></i></span>
										<p:inputText styleClass="form-control" id="alreadyQty"
											placeholder="0.00" disabled="true"
											value="#{procurementOrderBean.alreadyIssuedQty}">
										</p:inputText>
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['indenting_region_code']} / #{msg['name']}"
										for="region" />
									<p:outputLabel value="*" styleClass="text-danger" for="region"
										rendered="#{empty param[generate.clientId]}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<h:selectOneMenu id="region"
											value="#{procurementOrderBean.regionalEntity}"
											class="form-control select2" converter="#{entityConverter}"
											required="#{not empty param[generate.clientId]}"
											requiredMessage="#{msg['indenting_region_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{procurementOrderBean.regionalEntityList}" var="reg"
												itemLabel="#{reg.code} / #{reg.name}" itemValue="#{reg}" />
											<p:ajax listener="#{procurementOrderBean.loadISSREntityList}"
												update="issr growls" onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();">
											</p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="region" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['issr_code']}" for="issr" />
									<p:outputLabel value="*" styleClass="text-danger" for="issr"
										rendered="#{empty param[generate.clientId]}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<h:selectOneMenu id="issr"
											value="#{procurementOrderBean.issrEntity}"
											class="form-control select2" converter="#{entityConverter}"
											required="#{not empty param[generate.clientId]}"
											requiredMessage="#{msg['issr_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{procurementOrderBean.issrEntityList}"
												var="isr" itemLabel="#{isr.code} / #{isr.name}"
												itemValue="#{isr}" />
											<p:ajax update="growls" onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();">
											</p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="issr" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['current_issue_qty']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stackoverflow"></i></span>
										<p:inputText styleClass="form-control"
											required="#{not empty param[generate.clientId]}"
											requiredMessage="#{msg['current_issue_qty']} #{msg['required']}"
											id="qty" placeholder="0.00"
											value="#{procurementOrderBean.quantity}">
										</p:inputText>
									</div>
									<h:message for="qty" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:outputLabel value="#{msg['val_dt']}" />
								<span class="text-danger">*</span>
								<div class="form-group form-group_calend">
									<p:calendar id="valDate"
										value="#{procurementOrderBean.validityDate}"
										required="#{not empty param[generate.clientId]}"
										requiredMessage="#{msg['val_date_is_req']}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" navigator="true"
										mindate="#{procurementOrderBean.minDate}"
										placeholder="dd-MMM-yyyy"
										maxdate="#{procurementOrderBean.maxDate}"
										styleClass="form-control-1 calend-icon-1">
										<p:ajax event="dateSelect" update="nlDate"></p:ajax>
									</p:calendar>
									<h:message for="valDate" class="validation-error-label" />
								</div>
							</div>
						</div>
						<div class="row custom-form-1 label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:outputLabel value="#{msg['not_later_than_that']}" />
								<span class="text-danger">*</span>
								<div class="form-group form-group_calend">
									<p:calendar id="nlDate"
										required="#{not empty param[generate.clientId]}"
										requiredMessage="#{msg['not_late_than_req']}"
										value="#{procurementOrderBean.notLaterThanDate}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" navigator="true"
										mindate="#{procurementOrderBean.validityDate}"
										placeholder="dd-MMM-yyyy"
										maxdate="#{procurementOrderBean.maxDate}"
										styleClass="form-control-1 calend-icon-1">
									</p:calendar>
									<h:message for="nlDate" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-6">
								<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
								<div class="form-group">
									<p:commandButton
										update="growls,dp,prod,totalQty,nlDate,valDate,qty,issr,region,alreadyQty"
										value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										action="#{procurementOrderBean.clearDandPOfficeDetails()}"
										class="btn bg-slate font-iconmoon m-l-0">
									</p:commandButton>

									<p:commandButton onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();" binding="#{generate}"
										update="growls proForm prDtlslst prodPlanType prodPlan dp prod valDate nlDate qty issr region totalQty alreadyQty"
										value="#{procurementOrderBean.action eq 'ADD' ?  '&#xea0e;' :  '&#xe912;' }  #{procurementOrderBean.action eq 'ADD' ?  msg['add'] :  msg['edit'] }"
										title="#{procurementOrderBean.action eq 'ADD' ?  msg['add'] :  msg['edit'] }"
										action="#{procurementOrderBean.addProcurementDetails}"
										class="#{procurementOrderBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-body no-padding-top">
						<h5 class="m-b-0 m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['indent_region_wise']}
								- #{msg['proc_dtl']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<p:outputPanel
										styleClass="#{procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable var="procurementDtls" scrollable="true"
											value="#{procurementOrderBean.procurementOrder.procurementOrderDetailsList}"
											id="prDtlslst" styleClass="custom-input-width m-b-10"
											scrollHeight="
										#{procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 0 ? '30' : 
								  		procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 1 ? '33':
								  		procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 2 ? '65':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 3 ? '97':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 4 ? '129':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() gt 4 and procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() lt 6 ? '174' :'185'}"
											rowIndexVar="idx" emptyMessage="#{msg['no_record_found']}">
											<p:column headerText="#"
												styleClass="sno-ovrflw-5 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column
												headerText="#{msg['prod_variey_code']} / #{msg['name']}"
												styleClass="width-15">
												<h:outputText id="productVarietyCodeName"
													value="#{procurementDtls.productVarietyMaster.code} / #{(procurementDtls.productVarietyMaster.name).length() gt 20 ? fn:substring({procurementDtls.productVarietyMaster.name}, 1, 19).concat('...'):(procurementDtls.productVarietyMaster.name)}"></h:outputText>
												<p:tooltip for="productVarietyCodeName"
													value="#{procurementDtls.productVarietyMaster.name}" />
											</p:column>
											<p:column headerText="#{msg['uom']}"
												styleClass="text-center width-6">
												<h:outputText value="#{procurementDtls.uomMaster.name}" />
											</p:column>
											<p:column
												headerText="#{msg['indenting_region_code']} / #{msg['name']}"
												styleClass="width-15">
												<h:outputText
													value="#{procurementDtls.regionEntityMaster.code}/#{procurementDtls.regionEntityMaster.name}" />
											</p:column>

											<p:column headerText="#{msg['issr_code']}"
												styleClass="fa-input width-15">
												<h:outputText
													value="#{procurementDtls.issrEntityMaster.code} / #{(procurementDtls.issrEntityMaster.name).length() gt 10 ? fn:substring({procurementDtls.issrEntityMaster.name}, 1, 9).concat('...'):(procurementDtls.issrEntityMaster.name)}"
													title="#{procurementDtls.issrEntityMaster.code}/#{procurementDtls.issrEntityMaster.name}" />
											</p:column>

											<p:column headerText="#{msg['qty']}"
												styleClass="width-8 text-right">
												<h:outputText value="#{procurementDtls.itemQuantity}" />
											</p:column>

											<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
												styleClass="fa-input width-10 text-right">
												<h:outputText value="#{procurementDtls.itemValue}" />
											</p:column>
											<p:column headerText="#{msg['validity_date']}"
												styleClass="width-10 text-center">
												<h:outputText value="#{procurementDtls.validityDate}">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['not_later_than_that']}"
												styleClass="width-10 text-center">
												<h:outputText value="#{procurementDtls.notLesserDate}">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['action']}"
												styleClass="width-10 text-center">
												<p:commandButton value="&#xe99e;"
													class="btn bg-danger font-iconmoon"
													title="#{msg['delete']}"
													action="#{procurementOrderBean.deleteProcurementDtls(procurementDtls)}"
													update="growls prDtlslst">
												</p:commandButton>
											</p:column>

											<p:columnGroup type="footer">
												<p:row>
													<p:column footerText=""
														styleClass="text-right sno-ovrflw-5" />
													<p:column footerText="" styleClass="text-right width-15" />
													<p:column footerText="" styleClass="text-right width-6" />
													<p:column footerText="" styleClass="text-right width-15" />
													<p:column styleClass="text-right width-15"
														footerText="#{msg['tot']}" />
													<p:column
														footerText="#{procurementOrderBean.totalQuantity}"
														styleClass="text-right width-8" />

													<p:column footerText="#{procurementOrderBean.totalValue}"
														styleClass="text-right width-10" />
													<p:column footerText="" styleClass="text-right width-10" />
													<p:column footerText="" styleClass="text-right width-10" />
													<p:column footerText="" styleClass="text-right width-10" />
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>
						<p:outputPanel id="forwardpannel">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_to']}" />
										<span class="mand-red">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="fwdto" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{procurementOrderBean.planNote.userMaster}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user"
														value="#{procurementOrderBean.forwardToUsersList}"
														itemValue="#{user}"
														itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
													<p:ajax event="change" />
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="fwdto" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{procurementOrderBean.planNote.userMaster}"
												itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
												completeMethod="#{procurementOrderBean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="fwdto"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="fwdto" class="validation-error-label" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_for']}" />
										<span class="mand-red">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="fwdfor" styleClass="form-control"
												value="#{procurementOrderBean.planNote.finalApproval}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_for_req']}">
												<f:selectItem itemValue="#{null}" itemLabel="Select"></f:selectItem>
												<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
												<p:ajax event="change" />
											</h:selectOneMenu>
										</div>
										<h:message for="fwdfor" class="validation-error-label" />
									</div>
								</div>
							</div>
						</p:outputPanel>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton value="&#xf067; #{msg['create_note']}"
									title="#{msg['create_note']}"
									styleClass="btn bg-success btn-md fa-input m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

								<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									immediate="true" class="btn bg-slate font-iconmoon m-r-0"
									title="#{msg['cancel']}"
									action="#{procurementOrderBean.cancelProcurementOrder}">
								</p:commandButton>

								<p:commandButton value="&#xead4;&nbsp;#{msg['save']}"
									immediate="true" title="#{msg['save']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									rendered="#{procurementOrderBean.editFlag eq false}"
									class="btn bg-primary font-iconmoon m-r-0" update="growls"
									action="#{procurementOrderBean.saveProcurementOrder('INITIATED')}">
								</p:commandButton>

								<p:commandButton
									value="#{procurementOrderBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{procurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{procurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									rendered="#{procurementOrderBean.editFlag eq false}"
									class="btn bg-success heading-btn  font-iconmoon"
									update="growls forwardpannel"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{procurementOrderBean.saveProcurementOrder('SUBMITTED')}"
									binding="#{submit}">
								</p:commandButton>

								<p:commandButton value="&#xea0e;&nbsp;#{msg['save']}"
									title="#{msg['save']}"
									rendered="#{procurementOrderBean.editFlag eq true}"
									class="btn bg-primary heading-btn  font-iconmoon"
									update="growls" onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{procurementOrderBean.approveRejectGovtSocietyPlan('INITIATED')}">
								</p:commandButton>

								<p:commandButton
									value="#{procurementOrderBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{procurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{procurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									rendered="#{procurementOrderBean.editFlag eq true}"
									class="btn bg-success heading-btn  font-iconmoon"
									update="growls" onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									action="#{procurementOrderBean.approveRejectGovtSocietyPlan('SUBMITTED')}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Add Note Dialogue -->
			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel111">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<div class="form-group">
											<!-- <p:inputTextarea cols="18" rows="8" class="form-control"
												placeholder="Enter text ..."
												value="#{procurementOrderBean.planNote.note}"></p:inputTextarea> -->
											<p:textEditor widgetVar="editor1"
												value="#{procurementOrderBean.planNote.note}"
												placeholder="Enter text ..." height="200" />
										</div>

										<div class="col-md-12">
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<div class="col-md-3 col-lg-3 col-sm-4">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name :
																			#{procurementOrderBean.employeeMaster.firstName}</li>
																		<li>Designation :
																			#{procurementOrderBean.employeeMaster.personalInfoEmployment.designation.name}</li>
																		<li>Date :
																			#{procurementOrderBean.currentCreatedDate}</li>
																	</ul>
																</div>
															</div>

														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											onsuccess="PF('notedialog').hide()" title="#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											onsuccess="PF('notedialog').hide()" title="#{msg['submit']}"
											action="#{procurementOrderBean.submitNote}" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>

			<!-- /.add note dialogue -->

			<!-- Comment -->
			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="p-0">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel panel-flat">
							<div class="panel-body p-0">
								<div class="tabbable">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#solid-tab1"
											data-toggle="tab"><i class="icon-thumbs-up3"></i>
												#{msg['approve']}</a></li>
										<li><a href="#solid-tab2" data-toggle="tab"><i
												class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="solid-tab1">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Approved Comments</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="tab-pane" id="solid-tab2">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Rejection Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>

													<tr>
														<td><strong>Reply Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td><textarea name="enter-message"
																class="form-control" rows="3" cols="1"
																placeholder="What's on your mind?"></textarea></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="window.location.href='listInitiateRequirementRequest.xhtml'"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- /.Comment -->
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		</h:form>
	</ui:define>
</ui:composition>