<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Procurement Order</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_procurement_order']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['prcurmnt']}</li>
						<li>#{msg['otr_procurement']}</li>
						<li class="active">#{msg['view_procurement_order']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="viewPanel">
			<div class="content pg-scroll-panel-3 no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['proc_odr']} </a>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<p:outputPanel
								rendered="#{procurementOrderBean.govTypeName eq 'gov'}">
								<div class="panel-body p-t-10 no-padding-bottom">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_type']}" />
												<h:outputText value="Government Scheme" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.planName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_from']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.periodFrom}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_to']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.periodTo}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>


									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.createdDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.createdBy.username}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.approvedDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.govtSchemePlan.approvedBy.username}"
													class="" />
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
							<p:outputPanel
								rendered="#{procurementOrderBean.govTypeName eq 'contract' or procurementOrderBean.govTypeName eq 'export'}">
								<div class="panel-body p-b-0 p-t-5">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_type']}" />
												<h:outputText
													value="#{procurementOrderBean.govtProductionPlan}" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.planName}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_from']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.fromDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_to']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.toDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>


									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.createdDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.createdBy.username}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.approvedDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.contractExportPlan.approvedBy.username}"
													class="" />
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
							<p:outputPanel
								rendered="#{procurementOrderBean.govTypeName eq 'additional'}">
								<div class="panel-body p-b-0 p-t-5">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_type']}" />
												<h:outputText
													value="#{procurementOrderBean.govtProductionPlan}" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.planName}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_from']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.planFrom}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_to']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.planTo}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>


									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.createdDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.createdBy.username}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_date']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.approvedDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_by']}" />
												<h:outputText
													value="#{procurementOrderBean.procurementOrder.additionalProductionPlan.approvedBy.username}"
													class="" />
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->
				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['d_n_p_office_details']}</span>
						</h5>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['d_n_p_office_code']} / #{msg['name']}" />
									<h:outputText
										value="#{procurementOrderBean.procurementOrder.entityMaster.code} / #{procurementOrderBean.procurementOrder.entityMaster.name}"
										class="" />
								</div>
							</div>
						</div>
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['indent_region_wise']}
								- #{msg['proc_dtl']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<p:outputPanel
										styleClass="#{procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable var="procurementDtls"
											value="#{procurementOrderBean.procurementOrder.procurementOrderDetailsList}"
											id="prDtlslst" styleClass="custom-input-width m-b-10"
											scrollable="true" rowIndexVar="idx"
											emptyMessage="#{msg['no_record_found']}"
											scrollHeight="
										#{procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 0 ? '30' : 
								  		procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 1 ? '30':
								  		procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 2 ? '59':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 3 ? '88':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() eq 4 ? '117':
										procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() gt 4 and procurementOrderBean.procurementOrder.procurementOrderDetailsList.size() lt 6 ? '174' :'185'}">
											<p:column headerText="#"
												styleClass="sno-ovrflw-5 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column
												headerText="#{msg['prod_variey_code']} / #{msg['name']}"
												styleClass="width-15">
												<h:outputText id="productVarietyCodeName"
													value="#{procurementDtls.productVarietyMaster.code} / #{(procurementDtls.productVarietyMaster.name).length() gt 10 ? fn:substring({procurementDtls.productVarietyMaster.name}, 1, 9).concat('...'):(procurementDtls.productVarietyMaster.name)}"></h:outputText>
												<p:tooltip for="productVarietyCodeName"
													value="#{procurementDtls.productVarietyMaster.name}" />
											</p:column>
											<p:column headerText="#{msg['uom']}"
												styleClass="text-center width-6">
												<h:outputText value="#{procurementDtls.uomMaster.name}" />
											</p:column>
											<p:column
												headerText="#{msg['indenting_region_code']} / #{msg['name']}"
												styleClass="width-15">
												<h:outputText
													value="#{procurementDtls.regionEntityMaster.code}/#{procurementDtls.regionEntityMaster.name}" />
											</p:column>

											<p:column headerText="#{msg['issr_code']}"
												styleClass="fa-input width-15">
												<h:outputText
													value="#{procurementDtls.issrEntityMaster.code} / #{(procurementDtls.issrEntityMaster.name).length() gt 10 ? fn:substring({procurementDtls.issrEntityMaster.name}, 1, 9).concat('...'):(procurementDtls.issrEntityMaster.name)}"
													title="#{procurementDtls.issrEntityMaster.code}/#{procurementDtls.issrEntityMaster.name}" />
											</p:column>

											<p:column headerText="#{msg['qty']}"
												styleClass="width-8 text-right">
												<h:outputText value="#{procurementDtls.itemQuantity}" />
											</p:column>
											<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
												styleClass="fa-input width-10 text-right">
												<h:outputText value="#{procurementDtls.itemValue}" />
											</p:column>
											<p:column headerText="#{msg['validity_date']}"
												styleClass="width-10 text-center">
												<h:outputText value="#{procurementDtls.validityDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['not_later_than_that']}"
												styleClass="width-10 text-center">
												<h:outputText value="#{procurementDtls.notLesserDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>
											<ui:remove>
												<p:column headerText="#{msg['action']}" class="width-10">
													<p:commandButton value="&#xe99e; #{msg['delete']}"
														class="btn bg-danger font-iconmoon"
														title="#{msg['delete']}"
														action="#{procurementOrderBean.deleteProcurementDtls(procurementDtls)}"
														update="growls prDtlslst prodPlanType prodPlan dp">
													</p:commandButton>
												</p:column>
											</ui:remove>

											<p:columnGroup type="footer">
												<p:row>
													<p:column footerText=""
														styleClass="text-right sno-ovrflw-5" />
													<p:column footerText="" styleClass="text-right width-15" />
													<p:column footerText="" styleClass="text-right width-6" />
													<p:column footerText="" styleClass="text-right width-15" />
													<p:column styleClass="text-right width-15"
														footerText="#{msg['tot']}" />
													<p:column
														footerText="#{procurementOrderBean.totalQuantity}"
														styleClass="text-right width-8" />

													<p:column footerText="#{procurementOrderBean.totalValue}"
														styleClass="text-right width-8" />
													<p:column footerText="" styleClass="text-right width-10" />
													<p:column footerText="" styleClass="text-right width-10" />
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>
						<p:outputPanel
							rendered="#{procurementOrderBean.enableFlag  and procurementOrderBean.lastNote.finalApproval eq 'false'}">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_to']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="fwdto" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{procurementOrderBean.planNote.userMaster}"
													required="#{not empty param[approve.clientId]}"
													requiredMessage="#{msg['forward_to_required']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user"
														value="#{procurementOrderBean.forwardToUsersList}"
														itemValue="#{user}"
														itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
													<p:ajax event="change" update="fwdto" />
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="fwdto" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{procurementOrderBean.planNote.userMaster}"
												itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
												completeMethod="#{procurementOrderBean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="fwdto"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="fwdto" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['frwd_for']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="fwdfor" styleClass="form-control"
												value="#{procurementOrderBean.planNote.finalApproval}"
												required="#{not empty param[approve.clientId]}"
												requiredMessage="#{msg['forward_for_is_required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
												<p:ajax event="change" update="fwdfor" />
											</h:selectOneMenu>
										</div>
										<h:message for="fwdfor" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>
						</p:outputPanel>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn bg-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<h:panelGroup
									rendered="#{procurementOrderBean.procurementOrderResponseDto.procurementStatus eq 'INITIATED' or 
														procurementOrderBean.procurementOrderResponseDto.procurementStatus eq 'SUBMITTED'
														or procurementOrderBean.procurementOrderResponseDto.procurementStatus eq 'APPROVED'}">

									<p:commandButton update="growls" immediate="true"
										onstart="PF('statusDialog').show()"
										rendered="#{procurementOrderBean.enableFlag and procurementOrderBean.procurementOrderResponseDto.procurementStatus ne 'FINAL_APPROVED' and loginBean.userFeatures['PROCUREMENT_ORDER_REJECT']}"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf6;&nbsp;#{msg['reject']}"
										title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
										onclick="PF('dlgComments2').show();" type="button">
									</p:commandButton>
									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['final_approve']}"
										title="#{msg['approve']}"
										rendered="#{procurementOrderBean.enableFlag and procurementOrderBean.lastNote.finalApproval eq 'true'
												and procurementOrderBean.procurementOrderResponseDto.procurementStatus ne 'FINAL_APPROVED' and loginBean.userFeatures['PROCUREMENT_ORDER_APPROVE']}"
										styleClass="btn btn-sm btn-primary waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments3').show();" type="button">
									</p:commandButton>

									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['approve']}"
										title="#{msg['approve']}" binding="#{approve}"
										rendered="#{procurementOrderBean.enableFlag and procurementOrderBean.lastNote.finalApproval eq 'false' and loginBean.userFeatures['PROCUREMENT_ORDER_APPROVE']}"
										class="btn bg-success font-iconmoon" update="viewPanel"
										action="#{procurementOrderBean.showApprovePopup}">
									</p:commandButton>

								</h:panelGroup>
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									action="#{procurementOrderBean.getListPage}" immediate="true"
									class="btn bg-info font-iconmoon m-r-0" title="#{msg['back']}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>
		<!-- View Note -->

		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 view-note-editor">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="form-group m-b-0">
										<p:textEditor widgetVar="editor1" readonly="true"
											value="#{procurementOrderBean.lastNote.note}" height="150" />
										<ui:remove>
											<!-- <p:inputTextarea cols="18" rows="6" class="form-control"
											placeholder="Enter text ..."
											value="#{procurementOrderBean.lastNote.note}">
											<p:ajax listener="#{procurementOrderBean.test}" event="keyup" />
										</p:inputTextarea> -->
										</ui:remove>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p:carousel
												value="#{procurementOrderBean.viewLogResponseList}"
												var="data">
												<div
													class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
													<ul class="list list-icons m-b-0">
														<li>
															<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
															<h:panelGroup
																rendered="#{data.procurementStatus=='INITIATED'}">
																<h6 class="m-t-0 text-center">#{msg['initiated_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.procurementStatus=='SUBMITTED'}">
																<h6 class="m-t-0 text-center">#{msg['created_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.procurementStatus=='APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.procurementStatus=='FINAL_APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['final_approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.procurementStatus=='REJECTED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['rejected_by']}</h6>
															</h:panelGroup>
														</li>
														<li>Name : #{data.employeeName}</li>
														<li>Designation : #{data.employeeDesignation}</li>
														<li>Date : <h:outputText value="#{data.createdDate}">
																<f:convertDateTime pattern="dd-MM-yyyy"
																	timeZone="#{loginBean.timeZone}"></f:convertDateTime>
															</h:outputText></li>
													</ul>
												</div>
											</p:carousel>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onsuccess="PF('notedialog').hide()"
										class="btn bg-slate heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- View Note -->

		<!-- Comment -->
		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="window.location.href='listInitiateRequirementRequest.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- Approve Dialog -->
		<p:dialog modal="true" draggable="true" id="dlgCommentapr"
			showEffect="fade" hideEffect="fade"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments"
			width="40%" focus="comments">

			<f:facet name="header">
				<h:outputText id="someDialogHeader" value="Approve Comment" />
			</f:facet>

			<div class="row">
				<div class="col-lg-12">
					<p:outputLabel value="Remarks" />
					<div class="form-group">
						<p:inputTextarea autoResize="false" rows="4" cols="50"
							maxlength="235" styleClass="form-control"
							value="#{procurementOrderBean.procurementOrderResponseDto.procurementRemarks}"
							id="comments" />
					</div>
				</div>
			</div>
			<div class="modal-footer ph0">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}"
					class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					onclick="PF('dlgComments').hide();PF('statusDialog').show();"
					ajax="false"
					action="#{procurementOrderBean.submitApprovedStatus('APPROVED')}">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Reject Dialog -->
		<p:dialog modal="true" draggable="true" id="dlgCommentrej"
			showEffect="fade" hideEffect="fade"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%" focus="comments2">

			<f:facet name="header">
				<h:outputText id="someDialogHeader1" value="Reject Comment" />
			</f:facet>

			<div class="row">
				<div class="col-lg-12">
					<p:outputLabel value="Remarks" />
					<div class="form-group">
						<p:inputTextarea autoResize="false" rows="4" cols="50"
							maxlength="235" styleClass="form-control"
							value="#{procurementOrderBean.procurementOrderResponseDto.procurementRemarks}"
							id="comments2" />
						<p:ajax update="comments2"></p:ajax>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}"
					class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					onclick="PF('dlgComments2').hide();PF('statusDialog').show();"
					ajax="false" action="#{procurementOrderBean.submitRejectedStatus}">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Final Approve Dialog -->
		<p:dialog modal="true" draggable="true" id="dlgCommentfinalapr"
			showEffect="fade" hideEffect="fade"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
			width="40%" focus="comments2">

			<f:facet name="header">
				<h:outputText id="finalapprovehead" value="Final Approve Comment" />
			</f:facet>

			<div class="row">
				<div class="col-lg-12">
					<p:outputLabel value="Remarks" />
					<div class="form-group">
						<p:inputTextarea autoResize="false" rows="4" cols="50"
							maxlength="235" styleClass="form-control"
							value="#{procurementOrderBean.procurementOrderResponseDto.procurementRemarks}"
							id="comments3" />
					</div>
				</div>
			</div>
			<div class="modal-footer ph0">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}"
					class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					onclick="PF('dlgComments2').hide();PF('statusDialog').show();"
					ajax="false"
					action="#{procurementOrderBean.submitApprovedStatus('FINAL_APPROVED')}">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- /.Comment -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

	</ui:define>
</ui:composition>