<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Insurance</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_joining_Checklist']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['vi_joining_Checklist']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading ">
					<h6 class="panel-title">#{msg['joining_Checklist']}</h6>
				</div>
				<div class="panel-body">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['appointment_order_no']}" />
								<h:outputText value="#{joiningChecklistBean.appointmentNumber}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['emp_name']}" />
								<h:outputText
									value="#{joiningChecklistBean.empJoiningChecklist.empName}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['desgn']}" />
								<h:outputText
									value="#{joiningChecklistBean.empJoiningChecklist.designationMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['security_deposit']}" />
								<h:outputText
									value="#{joiningChecklistBean.empJoiningChecklist.securityDeposit}"
									class="">
									<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
								</h:outputText>
							</div>
						</div>
					</div>


					<h5 class="m-b-0">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['attachments']}</span>
					</h5>
					<p:dataTable id="familyMemberList" var="data" class="table"
						widgetVar="familyMemberListTable" rowKey="#{data.id}"
						value="#{joiningChecklistBean.empJoiningChecklist.empJoiningChecklistList}"
						rowIndexVar="idx">
						<p:column headerText="#{msg['s_no']}"
							styleClass="text-center width-3">
							<h:outputText value="#{idx+1}" />
						</p:column>
						<p:column headerText="#{msg['doc_name']}">
							<h:outputText value="#{data.documentName}" />
						</p:column>

						<p:column headerText="#{msg['status']}">
							<h:outputText value="#{data.documentPath}" />
						</p:column>
					</p:dataTable>


					<h5 class="bord_bot">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['pay_pro']}</span>
					</h5>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['mode_pay']}" />
								<div class="form-group">
									<h:outputText
										value="#{joiningChecklistBean.empJoiningChecklist.paymentMode.paymentMode}"
										class="" />
								</div>
							</div>
						</div>
					</div>

					<p:outputPanel id="cheqPanelId">
						<p:outputPanel
							rendered="#{joiningChecklistBean.cheqFlag and joiningChecklistBean.empJoiningChecklist.paymentMode.code eq 'CHEQUE'}">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['cheq_no']}" />
										<div class="form-group">
											<h:outputText value="#{joiningChecklistBean.docNumber}"
												class="" />
										</div>
										<h:message for="checkNumber" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['cheq_amt']}" />
										<div class="form-group">
											<h:outputText value="#{joiningChecklistBean.docAmount}"
												class="" />
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['cheq_dt']}" />
										<div class="form-group form-group_calend m-b-0">
											<h:outputText value="#{joiningChecklistBean.docDate}"
												class="">
												<f:convertDateTime timeZone="#{loginBean.timeZone}"
													pattern="#{loginBean.userInfoDTO.dateFormat}" />
											</h:outputText>

										</div>
									</div>
								</div>
							</div>

							<ui:remove>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['cheque_name']}" />
										<div class="form-group">
											<h:outputText value="#{joiningChecklistBean.cheqName}"
												class="" />
										</div>
									</div>
								</div>
							</ui:remove>
						</p:outputPanel>
					</p:outputPanel>
					<p:outputPanel id="ddPanelId">
						<p:outputPanel
							rendered="#{joiningChecklistBean.ddFlag and joiningChecklistBean.empJoiningChecklist.paymentMode.code eq 'DEMAND_DRAFT'}">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dd_num']}" />
										<div class="input-group">
											<h:outputText
												value="#{joiningChecklistBean.empJoiningChecklist.docNumber}"
												class="" />
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<p:outputLabel value="#{msg['issued_date']}" />
									<div class="form-group">
										<h:outputText
											value="#{joiningChecklistBean.empJoiningChecklist.docDate}"
											class="">
											<f:convertDateTime timeZone="#{loginBean.timeZone}"
												pattern="#{loginBean.userInfoDTO.dateFormat}" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<p:outputLabel value="#{msg['exp_date']}" />
									<div class="form-group form-group_calend">
										<h:outputText
											value="#{joiningChecklistBean.empJoiningChecklist.docExpiryDate}"
											class="">
											<f:convertDateTime timeZone="#{loginBean.timeZone}"
												pattern="#{loginBean.userInfoDTO.dateFormat}" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['amt']}" />
										<div class="input-group">
											<h:outputText
												value="#{joiningChecklistBean.empJoiningChecklist.amount}"
												class="">
												<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
											</h:outputText>
										</div>
									</div>
								</div>
							</div>
						</p:outputPanel>
					</p:outputPanel>

					<p:outputPanel
						rendered="#{joiningChecklistBean.empJoiningChecklist.paymentMode.code eq 'ECS'}">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bnk_name']}" />
									<div class="input-group">
										<h:outputText
											value="#{joiningChecklistBean.empJoiningChecklist.bankMaster.bankName}"
											class="" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['brn_name']}" />
									<div class="input-group">

										<h:outputText
											value="#{joiningChecklistBean.empJoiningChecklist.bankBranchMaster.branchName}"
											class="" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pay_at']} " />
									<div class="input-group">

										<h:outputText
											value="#{joiningChecklistBean.empJoiningChecklist.payableAt}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>


					<div class="row m-t-10 label-form">
						<p:outputPanel
							rendered="#{joiningChecklistBean.forwardFor eq 'false' and joiningChecklistBean.viewFlag eq 'true'}">
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['forward_to']}" for="forwardTo" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="forwardTo" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<p:autoComplete id="forwardTo" minQueryLength="2"
											styleClass="form-control" converter="#{entityConverter}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['forward_to_req']}"
											value="#{joiningChecklistBean.forwardTo}" itemValue="#{emp}"
											var="emp" itemLabel="#{emp.empName}"
											completeMethod="#{joiningChecklistBean.loadAutoCompleteUserMaster}"
											effect="fade">
											<p:ajax event="itemSelect" update="forwardTo"></p:ajax>
										</p:autoComplete>
									</div>
									<h:message for="forwardTo" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['forward_for']}" for="forwardFor" />
									<p:outputLabel value="*" class="text-danger mand-symbol"
										for="forwardFor" rendered="#{empty param[submit.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardFor"
											converterId="javax.faces.Boolean" styleClass="form-control"
											value="#{joiningChecklistBean.forwardFor}">
											<f:selectItem itemLabel="Select" noSelectionOption="true" />
											<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
											<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>

										</h:selectOneMenu>
									</div>
									<h:message for="forwardFor" class="validation-error-label" />
								</div>
							</div>
						</p:outputPanel>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p:commandButton value="&#xea18; #{msg['view_note']}"
								title="#{msg['view_note']}"
								styleClass="btn bg-info btn-md font-iconmoon m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>
							<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								styleClass="btn btn-primary btn-md font-iconmoon min-wid-auto"
								onclick="PF('commentdialog').show();"></p:commandButton>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6 text-right">
							<p:outputPanel styleClass="dis-inlineblock"
								rendered="#{joiningChecklistBean.viewFlag eq 'true' and (joiningChecklistBean.joiningChecklistStatus eq 'SUBMITTED' or joiningChecklistBean.joiningChecklistStatus eq 'APPROVED')}">
								<p:commandButton update="growls" immediate="true"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									value="&#xecf6;&nbsp;#{msg['reject']}" title="#{msg['reject']}"
									class="btn bg-danger font-iconmoon"
									onclick="PF('rejectbox').show();" type="button">
								</p:commandButton>
								<p:outputPanel styleClass="dis-inlineblock"
									rendered="#{joiningChecklistBean.forwardFor eq 'false'}">
									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['approve']}"
										title="#{msg['approve']}" class="btn bg-success font-iconmoon"
										onclick="PF('approvedBox').show();" type="button">
									</p:commandButton>
								</p:outputPanel>
								<p:outputPanel styleClass="dis-inlineblock"
									rendered="#{joiningChecklistBean.forwardFor eq 'true'}">
									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['final_approve']}"
										title="#{msg['final_approve']}"
										class="btn bg-success font-iconmoon"
										onclick="PF('finalApprovedBox').show();" type="button">
									</p:commandButton>
								</p:outputPanel>
							</p:outputPanel>
							<p:commandButton value="&#xeddf; #{msg['back']}"
								title="#{msg['back']}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{joiningChecklistBean.cancelCheckList}"
								styleClass="btn btn-sm bg-info font-iconmoon" />
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

			<p:dialog modal="true" draggable="true" id="dlgCommentrej"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="rejectbox"
				width="40%" focus="comments2">

				<f:facet name="header">
					<h:outputText id="someDialogHeader1"
						value="#{msg['reject_comments']}" />
				</f:facet>

				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{joiningChecklistBean.remarks}" id="comments2" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onclick="PF('rejectbox').hide();"
						class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						update="growls" title="#{msg['submit']}"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{joiningChecklistBean.submitApprovedRejectedStatus('REJECT')}">
					</p:commandButton>
				</div>
			</p:dialog>

			<p:dialog modal="true" draggable="true" id="dlgCommentfinalapr"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog"
				widgetVar="finalApprovedBox" width="40%" focus="comments2">

				<f:facet name="header">
					<h:outputText id="finalapprovehead"
						value="#{msg['approve_comments']}" />
				</f:facet>

				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{joiningChecklistBean.remarks}" id="comments3" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onclick="PF('finalApprovedBox').hide();"
						class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						update="growls" title="#{msg['submit']}"
						class="btn bg-success heading-btn  font-iconmoon"
						onclick="PF('dlgComments2').hide();" ajax="false"
						action="#{joiningChecklistBean.submitApprovedRejectedStatus('FINAL_APPROVED')}">
					</p:commandButton>
				</div>
			</p:dialog>

			<p:dialog modal="true" draggable="true" id="dlgCommentapr"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="approvedBox"
				width="40%" focus="comments">

				<f:facet name="header">
					<h:outputText id="someDialogHeader"
						value="#{msg['approve_comments']}" />
				</f:facet>

				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{joiningChecklistBean.remarks}" id="comments" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onclick="PF('approvedBox').hide();"
						class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" ajax="false"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{joiningChecklistBean.submitApprovedRejectedStatus('APPROVED')}">
					</p:commandButton>
				</div>
			</p:dialog>

			<!-- Comment Start -->
			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				width="80%" modal="true" showEffect="fade" hideEffect="fade"
				resizable="false" styleClass="p-0 top-100">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable m-b-15">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<ui:repeat var="approveData"
													value="#{joiningChecklistBean.commentAndLogList[0]}">
													<tr>
														<td class="width-15"><strong>#{msg['approve_comment']}</strong></td>
														<td><span class="pull-left">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right">#{approveData.displayName
																eq
																null?approveData.employeeName:approveData.displayName} </span>
															<br /> <span class="pull-left m-t-15">Given Date</span>
															<span
															class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																	value="#{approveData.createdDate}">
																	<f:convertDateTime
																		pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																</h:outputText> </span></td>
														<td class="width-40"><h:inputTextarea disabled="true"
																name="enter-message" value="#{approveData.remarks}"
																class="form-control" rows="3" cols="1"></h:inputTextarea>
														</td>
													</tr>
												</ui:repeat>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>

												<ui:repeat var="rejectData"
													value="#{joiningChecklistBean.commentAndLogList[1]}">
													<tr>
														<td class="width-15"><strong>#{msg['reject_comments']}</strong></td>
														<td><span class="pull-left">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right">#{rejectData.displayName
																eq null?rejectData.employeeName:rejectData.displayName}</span>
															<br /> <span class="pull-left m-t-15">Given Date</span>
															<span
															class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																	value="#{rejectData.createdDate}">
																	<f:convertDateTime
																		pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																</h:outputText> </span></td>
														<td class="width-40"><h:inputTextarea disabled="true"
																name="enter-message" value="#{rejectData.remarks}"
																class="form-control" rows="3" cols="1"></h:inputTextarea></td>
													</tr>
												</ui:repeat>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<ui:remove>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											onclick="location.href='createAmountTransferCashToBank.xhtml';"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon" />
									</div>
								</div>
							</div>
						</ui:remove>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- Comment End -->

			<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3" /></a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="panel-body p-0 m-b-10 view-note-editor">
											<p:textEditor id="requiredNote" readonly="true"
												value="#{joiningChecklistBean.note}" height="150"
												placeholder="Enter text ..." />

										</div>
										<div class="row">
											<div class="col-md-12">
												<p:carousel styleClass="m-b-15"
													value="#{joiningChecklistBean.commentAndLogList[2]}"
													var="data">
													<div
														class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
														<ul class="list list-icons m-b-0">
															<li>
																<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																<h:panelGroup rendered="#{data.status eq 'SUBMITTED'}">
																	<h6 class="m-t-0 text-center">#{msg['created_by']}</h6>
																</h:panelGroup> <h:panelGroup rendered="#{data.status eq 'APPROVED'}">
																	<h6 class="m-t-0 text-center">
																		#{msg['approved_by']}</h6>
																</h:panelGroup> <h:panelGroup
																	rendered="#{data.status eq 'FINAL-APPROVED'}">
																	<h6 class="m-t-0 text-center">
																		#{msg['final_approved_by']}</h6>
																</h:panelGroup> <h:panelGroup rendered="#{data.status eq 'REJECTED'}">
																	<h6 class="m-t-0 text-center">
																		#{msg['rejected_by']}</h6>
																</h:panelGroup>
															</li>
															<li>Name : #{data.employeeName}</li>
															<li>Designation : #{data.employeeDesignation}</li>
															<li>Date : <h:outputText value="#{data.createdDate}">
																	<f:convertDateTime pattern="dd-MM-yyyy"
																		timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																</h:outputText></li>
														</ul>
													</div>
												</p:carousel>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />

									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
		</div>
	</ui:define>
</ui:composition>