<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('EMPLOYEE_TYPE_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{employmentTypeBean}" />
		<ui:param name="employeeType"
			value="#{employmentTypeBean.employeeType}" />
		<title>InfoTex | Employment Type</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'ADD' ? msg['cr_emp_tpe'] :
						msg['ed_emp_tpe']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{bean.action eq 'ADD' ? msg['cr_emp_tpe']
							: msg['ed_emp_tpe']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['employee_type']}
							<p:outputLabel styleClass="pull-right">
								(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
							</p:outputLabel>
						</h6>
					</div>

					<div class="panel-body p-t-10">
						<p:outputPanel id="addForm">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_type_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-list"></i></span>
											<p:inputText value="#{employeeType.name}"
												class="form-control" maxlength="75" minimum="3"
												id="empTypeName"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['employee_type_name_req']}"
												validatorMessage="#{msg['employee_type_name_valid_msg']}">
												<p:keyFilter regEx="/[a-z\s]/i"></p:keyFilter>
												<f:validateLength minimum="3" maximum="75" />
											</p:inputText>
										</div>
										<p:focus for="empTypeName" />
										<h:message for="empTypeName" class="validation-error-label"></h:message>
										<p:tooltip for="empTypeName"
											value="#{msg['employee_type_name_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['employee_type_name']} (#{msg['in_tamil']})" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-list"></i></span>
											<p:inputText value="#{employeeType.lname}"
												class="form-control" maxlength="75" minimum="3"
												id="empTypeNameTamil"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['employee_type_name']} (#{msg['in_tamil']}) #{msg['is_required']}"
												validatorMessage="#{msg['employee_type_lname_valid_msg']}">
												<f:validateLength minimum="3" maximum="75" />
											</p:inputText>
										</div>
										<h:message for="empTypeNameTamil"
											class="validation-error-label"></h:message>
										<p:tooltip for="empTypeNameTamil"
											value="#{msg['employee_type_name_valid_msg']}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu class="form-control"
												value="#{employeeType.status}"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}">
												<f:selectItem itemValue="true" itemLabel="Active" />
												<f:selectItem itemValue="false" itemLabel="InActive" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 text-right">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										action="#{bean.showListEmploymentTypePage}"
										title="#{msg['cancel']}" immediate="true"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										styleClass="btn btn-sm bg-slate font-iconmoon" />
									<p:commandButton value="&#xed6e; #{msg['submit']}"
										action="#{bean.submit}" title="#{msg['submit']}"
										rendered="#{bean.action eq 'ADD'}" update="growls addForm"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										styleClass="btn btn-sm bg-success font-iconmoon"
										binding="#{submit}" />
									<p:commandButton value="&#xeda7; #{msg['update']}"
										action="#{bean.submit}" rendered="#{bean.action eq 'EDIT'}"
										update="growls addForm" title="#{msg['update']}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										styleClass="btn btn-sm bg-primary font-iconmoon"
										binding="#{update}" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>