<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="yarnForm">
			<title>InfoTex | Create Purchase Order</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_pur_order']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['yarn']}</li>
							<li class="active">#{msg['create_pur_order']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content page-scroll-hp no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['po']}</a>
								<p:outputLabel styleClass="pull-right m-r-20">
									<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>
								</p:outputLabel>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['from_month_year']}"
												for="planFromMonthYear" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="planFromMonthYear" rendered=" " />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-calendar22"></i></span>
												<h:selectOneMenu id="planFromMonthYear"
													name="planFromMonthYear" styleClass="form-control"
													converter="#{entityConverter}" required="true"
													requiredMessage="#{msg['from_month_req']}"
													value="#{yarnPurchaseOrderBean.fromMonthYear}">
													<f:selectItem itemLabel="Month-Year" itemValue="#{null}" />
													<f:selectItems var="planFromMonthYear"
														itemValue="#{planFromMonthYear}"
														itemLabel="#{planFromMonthYear.fromMonth} #{planFromMonthYear.fromYear}"
														value="#{yarnPurchaseOrderBean.monthList}" />
													<p:ajax event="change" update="planFromMonthYearMsg"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="planFromMonthYear" id="planFromMonthYearMsg"
												class="validation-error-label" />
											<p:focus for="planFromMonthYear" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['to_month_year']}"
												for="planToMonthYear" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="planToMonthYear" rendered=" " />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-calendar22"></i></span>
												<h:selectOneMenu id="planToMonthYear"
													styleClass="form-control" converter="#{entityConverter}"
													required="true" requiredMessage="#{msg['from_month_req']}"
													value="#{yarnPurchaseOrderBean.toMonthYear}">
													<f:selectItem itemLabel="Month-Year" itemValue="#{null}" />
													<f:selectItems var="monthAlias" itemValue="#{monthAlias}"
														itemLabel="#{monthAlias.toMonth} -  #{monthAlias.toYear}"
														value="#{yarnPurchaseOrderBean.monthList}" />
													<p:ajax event="change"
														update="inp_supplierMaster planToMonthYearMsg"
														listener="#{yarnPurchaseOrderBean.loadSupplerDetails}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()">
													</p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="planToMonthYear" id="planToMonthYearMsg"
												class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['supplier_type']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{yarnPurchaseOrderBean.supplierTypeMaster}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Supplier Type"
														noSelectionOption="true" itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{yarnPurchaseOrderBean.supplierTypeMasterList}"
														var="list" itemValue="#{list}" itemLabel="#{list.code}">
													</f:selectItems>
													<p:ajax onstart="PF('statusDialog').show();"
														listener="#{yarnPurchaseOrderBean.loadSupplierCodeName}"
														event="change" update="inp_supplierMaster"
														oncomplete="PF('statusDialog').hide();">
													</p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sup_code_name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{yarnPurchaseOrderBean.supplierMasterEntity}"
													filter="true" filterMatchMode="contains"
													converter="#{entityConverter}" id="inp_supplierMaster">
													<f:selectItem itemLabel="Select Supplier"
														noSelectionOption="true" itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{yarnPurchaseOrderBean.supplierList}" var="list"
														itemValue="#{list}"
														itemLabel="#{list.code} / #{list.name}">
													</f:selectItems>
													<p:ajax event="change" update="supplierMasterMsg"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()" />
												</h:selectOneMenu>
											</div>
											<h:message for="inp_supplierMaster" id="supplierMasterMsg"
												class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['pur_order_valid_dt']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="validDate"
												value="#{yarnPurchaseOrderBean.purchaseOrder.validDate}"
												mindate="new Date()" pattern="dd-MMM-yyyy" navigator="true"
												required="true" placeholder="dd-MMM-yyyy"
												requiredMessage="#{msg['pur_order_valid_date_req']}"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax event="dateSelect" update="validDateMsg" />
											</p:calendar>
											<h:message for="validDate" id="validDateMsg"
												class="validation-error-label" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['expected_date_of_delivery']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="exceptedDate"
												value="#{yarnPurchaseOrderBean.purchaseOrder.expectedDeliveryDate}"
												mindate="new Date()" pattern="dd-MMM-yyyy" navigator="true"
												required="true" placeholder="dd-MMM-yyyy"
												requiredMessage="#{msg['expected_delivery_date_req']}"
												styleClass="form-control-1 calend-icon-1 caled-top">
												<p:ajax event="dateSelect" update="exceptedDateMsg" />
											</p:calendar>
											<h:message for="exceptedDate" id="exceptedDateMsg"
												class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['yarn_unit_name']} (#{msg['for_supply']})"
												for="yarnUnitName" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="yarnUnitName" rendered=" " />

											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="yarnUnitName" styleClass="form-control"
													converter="#{entityConverter}" required="true"
													requiredMessage="#{msg['yarn_unit_name_req']}"
													value="#{yarnPurchaseOrderBean.purchaseOrder.deliveryEntityMaster}">
													<f:selectItem itemLabel="Select" itemValue="#{null}" />
													<f:selectItems var="yarnUnitName"
														itemValue="#{yarnUnitName}"
														itemLabel="#{yarnUnitName.name}"
														value="#{yarnPurchaseOrderBean.yarnUnits}" />
													<p:ajax event="change" update="yarnUnitNameMsg"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="yarnUnitName" id="yarnUnitNameMsg"
												class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 text-right">
										<p:commandButton update="growls"
											value="&#xed6a;&nbsp;#{msg['cancel']}"
											action="#{yarnPurchaseOrderBean.getListPage}"
											title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										<h:commandButton update="productCategory"
											value="&#xeda7;&nbsp;#{msg['generate']}"
											title="#{msg['generate']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											action="#{yarnPurchaseOrderBean.generateValues}"
											class="btn bg-primary cust-btn-h font-iconmoon m-l-8">
										</h:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->
				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['yarn_type_details']}</span>
						</h5>

						<div class="row custom-form-1 label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_category_code_or_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="productCategory"
											styleClass="form-control" converter="#{entityConverter}"
											requiredMessage="#{msg['prod_cate_code_name_req']}"
											value="#{yarnPurchaseOrderBean.yarnPurchaseOrderRequest.productCategory}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="category"
												itemLabel="#{category.productCatCode}/#{category.productCatName}"
												itemValue="#{category}"
												value="#{yarnPurchaseOrderBean.productCategoryList}" />
											<p:ajax event="change"
												listener="#{yarnPurchaseOrderBean.processProductGroups}"
												update="productGroupMaster @this"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productCategory" id="productCategoryMsg"
										class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_group_code_name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-grid6"></i></span>
										<h:selectOneMenu id="productGroupMaster"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{yarnPurchaseOrderBean.yarnPurchaseOrderRequest.productGroupMaster}"
											required="#{not empty param[addBtn.clientId]}"
											requiredMessage="#{msg['prod_group_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="group"
												itemLabel="#{group.code}/#{group.name}" itemValue="#{group}"
												value="#{yarnPurchaseOrderBean.productGroupList}" />
											<p:ajax event="change" update="yarnType @this"
												listener="#{yarnPurchaseOrderBean.processProductGroup}"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productGroupMaster" id="productGroupMasterMsg"
										class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['yarn_count_type']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-list"></i></span>
										<h:selectOneMenu id="yarnType" styleClass="form-control"
											converter="#{entityConverter}"
											requiredMessage="#{msg['yarn_type_req']}"
											value="#{yarnPurchaseOrderBean.yarnPurchaseOrderRequest.productVarietyMaster}">
											<f:selectItem itemLabel="Select" itemValue="#{null}" />
											<f:selectItems var="yarnType" itemValue="#{yarnType}"
												itemLabel="#{yarnType.name}"
												value="#{yarnPurchaseOrderBean.productList}" />
											<p:ajax event="change" update="accepted"
												listener="#{yarnPurchaseOrderBean.getQuantityForProduct}"></p:ajax>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['qty_to_be_dispatched']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-database"></i></span>
										<p:inputText styleClass="form-control" disabled="true"
											id="accepted"
											value="#{yarnPurchaseOrderBean.dispathcedQuantity}">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['already_order_qty']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-database"></i></span>
										<p:inputText styleClass="form-control"
											value="#{yarnPurchaseOrderBean.alreadyOrderedQuanity}">
											<p:ajax event="change"
												listener="#{yarnPurchaseOrderBean.onChangeOrderedQuantity}"
												update="current growls"></p:ajax>
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['current_order_qty']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-database"></i></span>
										<p:inputText styleClass="form-control" id="current"
											disabled="true"
											value="#{yarnPurchaseOrderBean.yarnPurchaseOrderRequest.currentOrderedQuantity}">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-right">
								<div class="form-group ">
									<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block-tab" />
									<div class="input-group">
										<p:commandButton value="&#xe916; #{msg['clear']}"
											onclick="PF('progressDlg').show();" title="#{msg['clear']}"
											oncomplete="PF('progressDlg').hide();"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
											title="#{msg['add']}"
											update="growls table :#{p:component('gstSummaryTable')} :#{p:component('gstamounttable')}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											action="#{yarnPurchaseOrderBean.addProduct}"
											class="btn btn-sm bg-success font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive">
									<p:dataTable id="table" widgetVar="table" var="data"
										rowKey="#{data}" rowIndexVar="idx"
										value="#{yarnPurchaseOrderBean.purchaseOrder.purchaseOrderItemsList}"
										emptyMessage="#{msg['no_record_found']}" editable="true"
										styleClass="report-table" tableStyleClass="table table-hover">
										<p:ajax event="rowEdit"
											update="growls table :#{p:component('gstSummaryTable')} :#{p:component('gstamounttable')}"
											listener="#{yarnPurchaseOrderBean.editRow(idx)}"></p:ajax>

										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column
											headerText="#{msg['prod_variey_code']} / #{msg['name']}"
											styleClass="width-20" filterMatchMode="contains"
											filterable="false"
											filterBy="#{data.productVarietyMaster.code}"
											sortBy="#{data.productVarietyMaster.code}" sortable="true">
											<h:outputText
												value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
										</p:column>

										<p:column headerText="#{msg['uom']}"
											class="text-center width-6">
											<h:outputText value="#{data.uomMaster.code}" />
										</p:column>

										<p:column headerText="#{msg['current_order_qty']}"
											styleClass="width-12">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{data.itemQty}" />
												</f:facet>
												<f:facet name="input">
													<p:inputText id="itemqty"
														validatorMessage="Item Quantity is invalid" maxlength="15"
														value="#{data.itemQty}" />
												</f:facet>
											</p:cellEditor>
											<h:message for="itemqty" id="itemqtyMsg"
												class="validation-error-label" />
										</p:column>

										<p:column headerText="#{msg['pur_price']} (&#xf156;)"
											styleClass="text-right fa-input width-12">
											<h:outputText value="#{data.unitRate}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['tax']} (%)" styleClass="width-6">
											<h:outputText value="#{data.taxPercent}">
												<f:convertNumber pattern="#0.0" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['tax_amt']}&nbsp;( &#xf156; )"
											styleClass="text-right fa-input width-10">
											<h:outputText value="#{data.taxValue}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['ttl_amt']} ( &#xf156; )"
											styleClass="text-right fa-input width-10">
											<h:outputText value="#{data.itemTotal}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="width-10 text-center">
											<p:rowEditor value="&#xe912;" class="cust-edit-btn">
											</p:rowEditor>
											<p:commandButton value="&#xe99e;"
												update=":#{p:component('table')} :#{p:component('gstSummaryTable')} :#{p:component('gstamounttable')}"
												action="#{yarnPurchaseOrderBean.deleteItem(idx)}"
												class="btn bg-danger font-iconmoon btn-xs m-l-0" />
										</p:column>

										<p:columnGroup type="footer"
											rendered="#{yarnPurchaseOrderBean.purchaseOrder.purchaseOrderItemsList.size() != 0}">
											<p:row>
												<p:column colspan="7"
													footerText="#{msg['mat_val']} (#{msg['without_tax']})" />
												<p:column>
													<f:facet name="footer">
														<p:outputPanel id="material">
															<h:outputText
																value="#{yarnPurchaseOrderBean.totalTaxMaterialAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:outputPanel>
													</f:facet>
												</p:column>
												<p:column></p:column>
											</p:row>
										</p:columnGroup>
									</p:dataTable>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5">
								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['gst_summary']}</span>
								</h5>
								<div class="table-responsive">
									<p:dataTable var="product" styleClass="report-table"
										value="#{yarnPurchaseOrderBean.gstPercentageWiseDTOList}"
										id="gstSummaryTable" rowIndexVar="idx">
										<p:column headerText="#{msg['hsn_code']}"
											styleClass="text-center">
											<h:outputText value="#{product.hsnCode}" />
										</p:column>
										<p:column headerText="#{msg['unit']}" styleClass="text-center">
											<h:outputText value="#{product.unit}" />
										</p:column>
										<p:column headerText="#{msg['tax']} (%)"
											styleClass="text-center">
											<h:outputText value="#{product.taxPercentage}" />
										</p:column>
										<p:column headerText="#{msg['cgst']}( &#xf156; )"
											styleClass="text-right fa-input">
											<h:outputText value="#{product.cgstAmount}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['sgst']}( &#xf156; )"
											styleClass="text-right fa-input">
											<h:outputText value="#{product.sgstAmount}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['ttl_tx_amt']}( &#xf156; )"
											styleClass="text-right fa-input">
											<h:outputText value="#{product.totalTax}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:columnGroup type="footer"
											rendered="#{yarnPurchaseOrderBean.gstPercentageWiseDTOList.size() != 0}">
											<p:row>
												<p:column colspan="3" styleClass="text-right"
													footerText="#{msg['tot']}" />
												<p:column styleClass="text-right">
													<f:facet name="footer">
														<h:outputText
															value="#{yarnPurchaseOrderBean.cgstTaxValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</f:facet>
												</p:column>
												<p:column styleClass="text-right">
													<f:facet name="footer">
														<h:outputText
															value="#{yarnPurchaseOrderBean.sgstTaxValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</f:facet>
												</p:column>
												<p:column styleClass="text-right">
													<f:facet name="footer">
														<h:outputText
															value="#{yarnPurchaseOrderBean.totalCgstSgstTaxValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</f:facet>
												</p:column>
											</p:row>
										</p:columnGroup>
									</p:dataTable>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group m-t-10">
									<!-- <p:outputLabel value="#{msg['term_cond']}" /> -->
									<textarea id="textarea" class="form-control" rows="5"
										placeholder=" " maxlength="225"></textarea>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 m-t-10 p-0">
								<div class="no-headerbg">
									<div class="table-responsive">
										<p:dataTable id="gstamounttable" widgetVar="gstamounttable"
											var="data" class="table" rowKey="#{data.id}"
											value="#{yarnPurchaseOrderBean.gstWiseList}"
											emptyMessage="#{msg['no_record_found']}"
											tableStyleClass="table nobor-table m-b-10" rowIndexVar="idx">

											<p:column styleClass="width-5 text-right">
												<h:outputText value="#{data.taxCode}" /> &nbsp;
                                                    <h:outputText
													value="#{data.taxPercentage}" /> %
                                                </p:column>
											<p:column styleClass="width-5 text-right">
												<h:outputText value="#{data.taxAmount}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
											<p:columnGroup type="footer"
												rendered="#{yarnPurchaseOrderBean.gstWiseList.size() != 0}">
												<p:row>
													<p:column colspan="1" footerText="#{msg['total']}" />
													<p:column>
														<f:facet name="footer">
															<h:outputText
																value="#{yarnPurchaseOrderBean.totalTaxAmount+yarnPurchaseOrderBean.totalTaxMaterialAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</div>
								</div>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 p-0"></div>
						</div>
					</div>

					<div class="panel-body p-t-0  p-b-0">
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_to']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="fwdto" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{yarnPurchaseOrderBean.purchaseOrderNote.userMaster}"
											requiredMessage="#{msg['forward_to_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems var="user"
												value="#{yarnPurchaseOrderBean.forwardToUsersList}"
												itemValue="#{user}" itemLabel="#{user.username}"></f:selectItems>
											<p:ajax event="change" update="fwdtoreqmsg" />
										</h:selectOneMenu>
									</div>
									<h:message for="fwdto" class="validation-error-label"
										id="fwdtoreqmsg" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_for']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="fwdfor" styleClass="form-control"
											value="#{yarnPurchaseOrderBean.purchaseOrderNote.finalApproval}"
											requiredMessage="#{msg['forward_for_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
											<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
											<p:ajax event="change" update="fwdforreqmsg" />
										</h:selectOneMenu>
									</div>
									<h:message for="fwdfor" class="validation-error-label"
										id="fwdforreqmsg" />
								</div>
							</div>
						</div>
						<div class="row m-b-10">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton value="&#xf067; #{msg['create_note']}"
									title="#{msg['create_note']}"
									styleClass="btn bg-success btn-md fa-input m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>
								<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
									styleClass="btn btn-primary btn-md font-iconmoon min-wid-auto"
									onclick="PF('commentdialog').show();"></p:commandButton>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									immediate="true" class="btn bg-slate font-iconmoon m-r-0"
									title="#{msg['cancel']}">
								</p:commandButton>
								<ui:remove>
									<!-- <p:commandButton value="&#xea0e;&nbsp;#{msg['save']}"
                           immediate="true" class="btn bg-primary font-iconmoon m-r-0"
                           title="#{msg['save']}">
                           </p:commandButton> -->
								</ui:remove>
								<p:commandButton value="&#xea18;&nbsp;#{msg['pre_view']}"
									title="#{msg['pre_view']}"
									action="#{yarnPurchaseOrderBean.previewPurchaseOrder}"
									class="btn bg-info heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Requirement popup -->
			<p:dialog header="#{msg['pro_var_yarn_require_detail']}"
				widgetVar="yarn_recquirement" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false" styleClass="p-0">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body modal-lg p-0">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['society_code']}  / #{msg['name']}" />
										<h:outputText id="code" onblur=""
											value="SOC0011 / Chennimalai Weavers Co-operative Society">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['yarn_unit_code']} / #{msg['name']}" />
										<h:outputText id="code1" onblur=""
											value="comb / Coimbatore Yarn Unit">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['from']}" />
											<h:outputText id="code2" onblur="" value="Mar-2018">
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['to']}" />
											<h:outputText id="code4" onblur="" value="Apr-2019">
											</h:outputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['circle_code_name']}" />
										<h:outputText id="code5" onblur=""
											value="CL002 / Circle Madurai">
										</h:outputText>
									</div>
								</div>
							</div>
							<!-- <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                        	<div class="form-group m-b-0">
                        		<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
                        			class="btn bg-slate heading-btn  font-iconmoon" />
                        		<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
                        			class="btn bg-success heading-btn  font-iconmoon" />
                        	</div>
                        </div>
                        </div> -->
						</div>
						<div class="panel-body p-0 m-t-10">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="table-responsible">
										<table class="main-table cust-table">
											<thead>
												<tr>
													<th rowspan="2" scope="col" class="width-40">#{msg['prod_variey_code']}
														/ #{msg['name']}</th>
													<th scope="col">10s</th>
													<th scope="col">20s</th>
													<th scope="col">22s</th>
													<th scope="col">28s</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td title="BEP1 / Bedsheet Erode Plain 4080">BEP1 /
														Bedsheet Erode Plain 4080</td>
													<td class="text-center">200</td>
													<td class="text-center">100</td>
													<td class="text-center">300</td>
													<td class="text-center">500</td>
												</tr>
												<tr>
													<td title="BEP2 / Bedsheet Erode Plain 5090">BEP2 /
														Bedsheet Erode Plain 5090</td>
													<td class="text-center">200</td>
													<td class="text-center">500</td>
													<td class="text-center">400</td>
													<td class="text-center">700</td>
												</tr>
												<tr>
													<td title="BEP3 / Bedsheet Erode Plain 6090">BEP3 /
														Bedsheet Erode Plain 6090</td>
													<td class="text-center">200</td>
													<td class="text-center">200</td>
													<td class="text-center">300</td>
													<td class="text-center">800</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td class="text-right">Total</td>
													<td class="text-center">600</td>
													<td class="text-center">800</td>
													<td class="text-center">1000</td>
													<td class="text-center">2000</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<div class="row m-t-10">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton
											onclick="window.location.href='#{request.contextPath}/pages/operation/yarn/viewYarnPriceFixation.xhtml'"
											value="&#xeddf;&nbsp;#{msg['back']}"
											class="btn bg-info heading-btn  font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- ./Requirement popup -->
			<!-- Add Note Dialogue -->

			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="p-0">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel panel-flat">
							<div class="panel-body p-0">
								<div class="tabbable">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#solid-tab1"
											data-toggle="tab"><i class="icon-thumbs-up3"></i>
												#{msg['approve']}</a></li>
										<li><a href="#solid-tab2" data-toggle="tab"><i
												class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="solid-tab1">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Approved Comments</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="solid-tab2">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Rejection Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>
													<tr>
														<td><strong>Reply Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td><textarea name="enter-message"
																class="form-control" rows="3" cols="1"
																placeholder="What's on your mind?"></textarea></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="window.location.href='listYarnPriceFixation.xhtml'"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- /.Comment -->
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		</h:form>
		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->

									<div class="panel-body p-0 m-b-10">
										<p:textEditor widgetVar="editor1"
											value="#{yarnPurchaseOrderBean.purchaseOrderNote.note}"
											height="200">
										</p:textEditor>
									</div>

									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name :
																		#{yarnPurchaseOrderBean.employeeMaster.firstName}</li>
																	<li>Designation :
																		#{yarnPurchaseOrderBean.employeeMaster.personalInfoEmployment.designation.name}
																	</li>
																	<li>Date :
																		#{yarnPurchaseOrderBean.currentCreatedDate}</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										onsuccess="PF('notedialog').hide()"
										action="#{yarnPurchaseOrderBean.submitNote}" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.add note dialogue -->
		<!-- Comment -->
	</ui:define>
</ui:composition>