<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{yarnRequirementBean}"></ui:param>
		<f:event type="preRenderView" listener="#{bean.init}" />
		<h:form id="yarnReqForm">
			<title>InfoTex | Yarn Requirement List - From ADHT Office</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['yarn_requirement_lst']} -
							#{msg['from_adht_office']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['yarn']}</li>
							<li class="active">#{msg['yarn_requirement_lst']} -
								#{msg['from_adht_office']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title m-t-5">
							<strong> <h:outputText value="#{bean.totalRecords}"
									id="recordcount"></h:outputText>
							</strong>- #{msg['yarm_reque']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:outputPanel id="menupanel">
								<p:commandButton value="&#xea0e; #{msg['create']}" id="addId"
									title="#{msg['create']}" rendered="#{bean.addButtonFlag}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									class="btn bg-success font-iconmoon m-r-0"
									action="#{bean.yarnRequirementListPageAction}">
									<f:setPropertyActionListener value="Create"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xe912; #{msg['edit']}"
									class="btn bg-primary font-iconmoon" title="#{msg['edit']}"
									onstart="PF('statusDialog').show()" id="editId"
									disabled="#{!bean.editButtonFlag}"
									action="#{bean.yarnRequirementListPageAction}"
									onsuccess="PF('statusDialog').hide()">
									<f:setPropertyActionListener value="Edit"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xea18; #{msg['view']}"
									class="btn bg-info heading-btn  font-iconmoon"
									title="#{msg['view']}" id="viewId"
									disabled="#{!bean.viewButtonFlag}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									action="#{bean.yarnRequirementListPageAction}">
									<f:setPropertyActionListener value="View"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xe99e; #{msg['delete']}"
									class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
									onstart="PF('statusDialog').show()" id="deleteId"
									disabled="#{!bean.deleteButtonFlag}"
									action="#{bean.yarnRequirementListPageAction}"
									onsuccess="PF('statusDialog').hide()">
									<f:setPropertyActionListener value="Delete"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xe916; #{msg['clear']}"
									action="#{bean.showYarnRequirementListPage}" immediate="true"
									class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
								</p:commandButton>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<div class="panel panel-info">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<div class="ui-datatable ui-widget ui-datatable-scrollable table">
								<div class="ui-datatable-scrollable-header-box cust-table">
									<p:dataTable id="yarnRequirementLisTable" var="data"
										class="table" widgetVar="yarnRequirementTable"
										tableStyleClass="" lazy="true"
										value="#{bean.yarnRequirementLazyList}"
										selection="#{bean.selectedYarnRequirement}"
										rowKey="#{data.id}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" paginatorPosition="bottom"
										rowsPerPageTemplate="10,15" rows="10" rowIndexVar="idx"
										emptyMessage="#{msg['no_record_found']}">

										<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
											update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('menupanel')}" />

										<p:ajax event="filter" oncomplete="updateFilterSelection()" />

										<p:column headerText="#" styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column filterable="true"
											filterBy="#{data.entityCodeOrName}"
											filterMatchMode="contains" styleClass="width-20"
											headerText="#{msg['d_n_p_office_code']} / #{msg['name']}"
											sortBy="#{data.entityCodeOrName}" sortable="true">
											<f:facet name="filter">
												<p:inputText id="dpOffice" class="form-control"
													onkeyup="PF('yarnRequirementTable').filter()" />
											</f:facet>
											<h:outputText
												title="#{data.entityMaster.code}/#{data.entityMaster.name}"
												value="#{data.entityMaster.code}/#{data.entityMaster.name}" />
										</p:column>


										<p:column filterable="true" filterBy="#{data.fromMonth}"
											filterMatchMode="contains" styleClass="width-12 text-center"
											headerText="#{msg['from_month_year']}"
											sortBy="#{data.fromMonth}" sortable="true">
											<f:facet name="filter">
												<p:inputText id="fromMonth" class="form-control"
													onkeyup="PF('yarnRequirementTable').filter()" />
											</f:facet>
											<h:outputText title="#{data.fromMonth}"
												value="#{data.fromMonth}-#{data.fromYear}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.toMonth}"
											filterMatchMode="contains" styleClass="width-12 text-center"
											headerText="#{msg['to_month_year']}" sortBy="#{data.toMonth}"
											sortable="true">
											<f:facet name="filter">
												<p:inputText id="toMonth" class="form-control"
													onkeyup="PF('yarnRequirementTable').filter()" />
											</f:facet>
											<h:outputText title="#{data.toMonth}"
												value="#{data.toMonth}-#{data.toYear}" />
										</p:column>

										<p:column filterable="true"
											filterBy="#{data.circleMaster.name}"
											filterMatchMode="contains" styleClass="width-12"
											headerText="#{msg['circle_code_name']}"
											sortBy="#{data.circleMaster.name}" sortable="true">
											<f:facet name="filter">
												<p:inputText id="circle" class="form-control"
													onkeyup="PF('yarnRequirementTable').filter()" />
											</f:facet>
											<h:outputText
												title="#{data.circleMaster.name}/#{data.circleMaster.code}"
												value="#{(data.circleMaster.code).concat(data.circleMaster.name).length() gt 30 ? fn:substring({data.circleMaster.code.concat('/').concat(data.circleMaster.name)}, 1, 32).concat('...'):(data.circleMaster.code.concat('/').concat(data.circleMaster.name))}" />
										</p:column>

										<p:column headerText="#{msg['created_date']}"
											filterBy="#{data.createdDate}"
											styleClass="text-center form-group_calend width-12"
											filterMatchMode="equals" sortBy="#{data.createdDate}"
											sortable="true">

											<f:facet name="filter">
												<p:calendar onchange="PF('yarnRequirementTable').filter()"
													navigator="true" id="planCreatedDate" pattern="dd-MMM-yyyy"
													placeholder="dd-MMM-yyyy" mask="true"
													styleClass="form-control calend-icon text-center">
													<p:ajax event="dateSelect"
														oncomplete="PF('yarnRequirementTable').filter()" />
												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.createdDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>
										<!-- Status-->
										<p:column filterBy=" #{data.status}"
											headerText="#{msg['status']}" filterMatchMode="contains"
											filterable="true" sortBy="#{data.status}" sortable="true"
											styleClass="text-center width-12">
											<f:facet name="filter">
												<h:selectOneMenu
													onchange="PF('yarnRequirementTable').filter()"
													id="statusDropdown" class="form-control select2">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems value="#{bean.yarnStatusValues}"
														var="status" itemLabel="#{status}" itemValue="#{status}" />
												</h:selectOneMenu>
											</f:facet>
											<h:outputText value="#{data.statusForLog}"
												styleClass="label label-warning width-custom"
												rendered="#{data.statusForLog eq 'SUBMITTED'}" />

											<h:outputText value="#{data.statusForLog}"
												styleClass="label label-success width-custom"
												rendered="#{data.statusForLog eq 'APPROVED'}" />


											<h:outputText value="#{data.statusForLog}"
												styleClass="label label-danger width-custom"
												rendered="#{data.statusForLog eq 'REJECTED'}" />
										</p:column>
										<p:column headerText="#{msg['select']}" selectionMode="single"
											styleClass="text-center width-4">
										</p:column>
									</p:dataTable>

									<p:remoteCommand name="updateFilterSelection"
										update=":#{p:component('recordcount')}" autoRun="true" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>

	</ui:define>
</ui:composition>