<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Revised Retail Price List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['revise_retail_price_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li class="active">#{msg['revise_retail_price_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{productVarietyRateRevisionBean.totalRecords}"
								id="recordcount"></h:outputText></strong> -
						#{msg['revise_retail_price']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>

				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
						<p:commandButton value="&#xeda7; #{msg['generate_qr']}"
								update="growls" title="#{msg['gen_qr']}"
								rendered="#{productVarietyRateRevisionBean.selectedProductVarietyRevisedRateDTO.status eq 'FINAL-APPROVED'}"
								actionListener="#{productVarietyRateRevisionBean.generateQRCodeByCurrentStockStatus}"
								class="btn btn-info font-iconmoon m-l-10" ajax="false">
								<p:fileDownload value="#{productVarietyRateRevisionBean.file}" />
							</p:commandButton>
							
							<p:commandButton value="&#xea0e; #{msg['add']}" id="addId"
								rendered="#{productVarietyRateRevisionBean.addButtonFlag and loginBean.userFeatures['PRODUCT_VARIETY_RATE_REVISION_ADD']}"
								title="#{msg['add']}" update="growls"
								action="#{productVarietyRateRevisionBean.showProductRevisedRatePageAction}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="CREATE"
									target="#{productVarietyRateRevisionBean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}" id="editId"
								rendered="#{productVarietyRateRevisionBean.editButtonFlag and loginBean.userFeatures['PRODUCT_VARIETY_RATE_REVISION_EDIT']}"
								title="#{msg['edit']}" update="growls"
								action="#{productVarietyRateRevisionBean.showProductRevisedRatePageAction}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="EDIT"
									target="#{productVarietyRateRevisionBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<ui:remove>
								<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
									action="#{productVarietyRateRevisionBean.showProductRevisedRatePageAction}"
									update="growls"
									rendered="#{productVarietyRateRevisionBean.deleteButtonFlag}"
									title="#{msg['delete']}" class="btn bg-danger font-iconmoon"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();">
									<f:setPropertyActionListener value="DELETE"
										target="#{productVarietyRateRevisionBean.action}"></f:setPropertyActionListener>
										
								</p:commandButton>
							</ui:remove>
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['edit']}" update="growls"
								rendered="#{loginBean.userFeatures['PRODUCT_VARIETY_RATE_REVISION_VIEW']}"
								action="#{productVarietyRateRevisionBean.showProductRevisedRatePageAction}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-info heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="VIEW"
									target="#{productVarietyRateRevisionBean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916; #{msg['clear']}" rendered="true"
								title="#{msg['clear']}"
								action="#{productVarietyRateRevisionBean.clear}"
								update="accountcategorylisttable menupanel"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>

					</div>
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="accountcategorylisttable"
							widgetVar="accountcategorytablewdgt" class="table" var="data"
							rowKey="#{data.id}"
							selection="#{productVarietyRateRevisionBean.selectedProductVarietyRevisedRateDTO}"
							value="#{productVarietyRateRevisionBean.lazyProductVarietyRevisedRateDTOList}"
							lazy="true" paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio"
								listener="#{productVarietyRateRevisionBean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" filterBy="#{refNumber}"
								filterMatchMode="contains" headerText="#{msg['ref_num']}">
								<h:outputText value="#{data.refferenceNumber}" />
							</p:column>
							<p:column filterable="true" filterBy="#{entityCode}"
								filterMatchMode="contains" headerText="#{msg['enty_code']}">
								<h:outputText value="#{data.entityCode}" />
							</p:column>
							
							<ui:remove>
							<p:column filterable="true" filterBy="#{productCode}"
								filterMatchMode="contains" headerText="#{msg['item_code']}">
								<h:outputText value="#{data.itemCode}" />
							</p:column>
							<p:column filterable="true" filterBy="#{qrCode}"
								filterMatchMode="contains" headerText="#{msg['qr_cd']}">
								<h:outputText value="#{data.qrCode}" />
							</p:column>
							<p:column filterable="true" filterBy="#{existingRate}"
								filterMatchMode="contains" styleClass="fa-input"
								headerText="#{msg['existing_rate']} (&#xf156;)">
								<h:outputText value="#{data.existingRate}" />
							</p:column>
							<p:column filterable="true" filterBy="#{revisedRate}"
								filterMatchMode="contains" styleClass="fa-input"
								headerText="#{msg['revised_rate']} (&#xf156;)">
								<h:outputText value="#{data.revisedRate}" />
							</p:column>
							</ui:remove>
							<p:column headerText="#{msg['created_date']}"
								 filterable="true"
								filterBy="#{createdDate}" sortable="true"
								styleClass="text-center form-group_calend width-12">
								<f:facet name="filter">
									<p:calendar id="popup" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('accountcategorytablewdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>
							</p:column>
							
							<p:column filterBy="#{status}" headerText="#{msg['status']}"
								filterMatchMode="contains" filterable="true"
								styleClass="text-center" style="width:12%">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('accountcategorytablewdgt').filter()"
										id="statusDropdown">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemValue="SAVED" itemLabel="SAVED" />	
										<f:selectItem itemValue="SUBMITTED" itemLabel="SUBMITTED" />
										<f:selectItem itemValue="APPROVED" itemLabel="APPROVED" />
										<f:selectItem itemValue="REJECTED" itemLabel="REJECTED" />
										<f:selectItem itemValue="FINAL-APPROVED"
											itemLabel="FINAL-APPROVED" />
										<p:ajax onstart="PF('progressDlg').show()"
											onsuccess="PF('progressDlg').hide()" event="change"></p:ajax>
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{fn:replace(data.status, '_','-')}"
									styleClass="label label-warning width-custom"
									rendered="#{data.status eq 'initiated' or data.status eq 'SUBMITTED' or data.status eq 'submitted'}" />
								<h:outputText value="#{fn:replace(data.status, '_','-')}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'FINAL-APPROVED' or data.status eq 'final_approved'}" />
								<h:outputText value="#{fn:replace(data.status, '_','-')}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'APPROVED' or data.status eq 'approved'}" />
								<h:outputText value="#{fn:replace(data.status, '_','-')}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'REJECTED' or data.status eq 'rejected'}" />
								<h:outputText value="#{fn:replace(data.status, '_','-')}"
									styleClass="label label-info width-custom"
									rendered="#{data.status eq 'SAVED' or data.status eq 'saved'}" />
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
					<ui:remove>
						<div class="dataTables_info m-b-0 m-l-10"
							id="DataTables_Table_2_info" role="status" aria-live="polite">
							<button type="button" title="Download PDF"
								class="btn btn-primary btn-xs">
								<i class="icon-file-pdf position-left"></i>PDF
							</button>
							<button type="button" title="Download Excel"
								class="btn btn-success btn-xs">
								<i class="icon-file-excel position-left"></i>Excel
							</button>
						</div>
					</ui:remove>
				</div>
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmAccountCategoryDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmAccountCategoryDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{productVarietyRateRevisionBean.deleteConfirm}"
					oncomplete="PF('confirmAccountCategoryDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
	
	
</ui:composition>