<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Yarn Price Fixation List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['yarn_price_fixation_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['yarn']}</li>
						<li class="active">#{msg['yarn_price_fixation_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<h:form>
			<ui:param name="yarnBean" value="#{yarnConsolidateFixationBean}"></ui:param>
			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title">
							<h:outputText value="#{yarnBean.totalRecords}" id="recordcount"
								styleClass="fw-b"></h:outputText>
							- #{msg['yarn_price_fix']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:outputPanel id="actionButtons">
								<p:commandButton value="&#xea0e; #{msg['add']}" id="addButton"
									action="#{yarnBean.createYarnPriceFixation}"
									rendered="#{yarnBean.addButtonFlag}"
									class="btn bg-success font-iconmoon m-r-0"
									title="#{msg['add']}">
								</p:commandButton>
								<p:commandButton value="&#xe912; #{msg['edit']}"
									rendered="#{yarnBean.editButtonFlag}"
									action="#{yarnBean.editYarnPriceFixation}"
									class="btn bg-primary font-iconmoon" title="#{msg['edit']}">
								</p:commandButton>
								<p:commandButton value="&#xea18; #{msg['view']}"
									rendered="#{yarnBean.viewButtonFlag}"
									action="#{yarnBean.viewYarnPriceFixation}"
									class="btn bg-info heading-btn  font-iconmoon"
									title="#{msg['view']}">
								</p:commandButton>
								<p:commandButton value="&#xe99e; #{msg['delete']}"
									rendered="#{yarnBean.viewButtonFlag}"
									class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
								</p:commandButton>
								<p:commandButton value="&#xe916; #{msg['clear']}"
									action="#{yarnBean.cancelYarn}"
									class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
								</p:commandButton>
							</p:outputPanel>
						</div>
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<div class="ui-datatable ui-widget ui-datatable-scrollable table">
								<div class="ui-datatable-scrollable-header-box cust-table">
									<p:dataTable id="productlisttable" var="data" class="table"
										widgetVar="producttablewdgt" tableStyleClass="" lazy="true"
										value="#{yarnBean.lazyYarnPriceFixationList}"
										selection="#{yarnBean.selecteYarnPriceFixation}"
										rowKey="#{data.id}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" paginatorPosition="bottom"
										rowsPerPageTemplate="5,10,15" rows="5" rowIndexVar="idx"
										emptyMessage="#{msg['no_records_found']}">

										<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
											update=":#{p:component('addButton')}" />

										<p:column headerText="#" styleClass="width-4 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.fromDate}"
											styleClass="text-center form-group_calend"
											filterMatchMode="contains"
											headerText="#{msg['from_month_year']}"
											sortBy="#{data.fromDate}" sortable="true">
											<f:facet name="filter">
												<p:calendar onchange="PF('producttablewdgt').filter()"
													id="fromdate" pattern="dd-MMM-yyyy"
													placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
													navigator="true" styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('producttablewdgt').filter()" />
												</p:calendar>
											</f:facet>
											<h:outputText
												value="#{yarnBean.yarnFromDateFormat(data.fromDate)}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.toDate}"
											filterMatchMode="contains"
											styleClass="text-center form-group_calend"
											headerText="#{msg['to_month_year']}" sortBy="#{data.toDate}"
											sortable="true">
											<f:facet name="filter">
												<p:calendar onchange="PF('producttablewdgt').filter()"
													id="todate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
													mask="true" yearRange="c-10:c+10" navigator="true"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('producttablewdgt').filter()" />
												</p:calendar>
											</f:facet>
											<h:outputText
												value="#{yarnBean.yarnToDateFormat(data.toDate)}" />
										</p:column>

										<p:column filterable="true" filterBy="#{data.createdDate}"
											filterMatchMode="contains"
											styleClass="text-center form-group_calend"
											headerText="#{msg['created_date']}"
											sortBy="#{data.createdDate}" sortable="true">
											<f:facet name="filter">
												<p:calendar onchange="PF('producttablewdgt').filter()"
													id="createddate" pattern="dd-MMM-yyyy"
													placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
													navigator="true" styleClass="form-control calend-icon">
													<p:ajax event="dateSelect"
														oncomplete="PF('producttablewdgt').filter()" />
												</p:calendar>
											</f:facet>
											<h:outputText
												value="#{yarnBean.yarnCreatedDateFormat(data.createdDate)}" />
										</p:column>

										<p:column filterBy=" #{data.status}"
											headerText="#{msg['status']}" filterMatchMode="contains"
											filterable="true" sortBy=" #{data.status}" sortable="true"
											styleClass="text-center width-12">
											<f:facet name="filter">
												<h:selectOneMenu class="form-control select2"
													onchange="PF('producttablewdgt').filter()"
													id="statusDropdown">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItem itemValue="PP_Fixation_Submitted"
														itemLabel="PP_FIXATION_SUBMITTED" />
													<f:selectItem itemValue="PP_Fixation_Approved"
														itemLabel="PP_FIXATION_APPROVED" />
													<f:selectItem itemValue="PP_Fixation_Final_Approved"
														itemLabel="PP_FIXATION_FINAL_APPROVED" />
													<f:selectItem itemValue="PP_Fixation_Rejected"
														itemLabel="PP_FIXATION_TEJECTED" />
												</h:selectOneMenu>
											</f:facet>
											<h:outputText value="#{data.status}"
												styleClass="label label-warning width-custom"
												rendered="#{data.status eq 'PP_Fixation_Submitted'}" />
											<h:outputText value="#{data.status}"
												styleClass="label label-success width-custom"
												rendered="#{data.status eq 'PP_Fixation_Approved'}" />
											<h:outputText value="#{data.status}"
												styleClass="label label-success width-custom"
												rendered="#{data.status eq 'PP_Fixation_Final_Approved'}" />
											<h:outputText value="#{data.status}"
												styleClass="label label-danger width-custom"
												rendered="#{data.status eq 'PP_Fixation_Rejected'}" />
										</p:column>

										<p:column headerText="#{msg['select']}" selectionMode="single"
											styleClass="text-center width-5" />
									</p:dataTable>


									<p:remoteCommand name="updateFilterSelection"
										update=":#{p:component('recordcount')}" autoRun="true" />

									<div class="pagi">
										<div
											class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0"
											id="DataTables_Table_2_paginate" role="status"
											aria-live="polite"></div>
									</div>
								</div>
							</div>

							<ui:remove>
								<!-- <div class="dataTables_info m-b-0 m-l-10"
								id="DataTables_Table_2_info" role="status" aria-live="polite">
								<button type="button" title="Download PDF"
									class="btn btn-primary btn-xs">
									<i class="icon-file-pdf position-left"></i>PDF
								</button>
								<button type="button" title="Download Excel"
									class="btn btn-success btn-xs">
									<i class="icon-file-excel position-left"></i>Excel
								</button>
							</div> -->
							</ui:remove>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>