<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Verify Revised Retail Price</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_verifiy_revised_retail_price']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li class="active">#{msg['view_verifiy_revised_retail_price']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll-hp no-padding-bottom">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['view_verifiy_revised_retail_price']}</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10 no-padding-bottom">
							<div class="row lable-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ref_num']}" />
										<h:outputText
											value="#{productVarietyRateRevisionBean.selectedProductVarietyRevisedRateDTO.refferenceNumber}"
											class="" />
									</div>
								</div>
								<ui:remove>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<h:outputText value="ASWS" class="">
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['rate']}" />
											<span class="dis-inlineblock"><i
												class="fa fa-inr m-r-5"></i> <h:outputText value="1250.00"
													class="fa-input dis-inlineblock">
													<f:convertNumber minFractionDigits="2"></f:convertNumber>
												</h:outputText></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['qr_cd']}" />
											<h:outputText value="ASWS" class="">
											</h:outputText>
										</div>
									</div>
								</ui:remove>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-info m-b-0">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['view_verifiy_revised_retail_price_details']}</span>
					</h5>
					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive">
								<p:dataTable id="revisedRateTable" widgetVar="credittablewdgt"
									rowKey="#{revisedRateTable.id}" rows="500" paginator="true"
									paginatorPosition="bottom"
									paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="100,200,500" lazy="true"
									value="#{productVarietyRateRevisionBean.verifiedFinalApprovalResoponseList}"
									var="productRevisedRate" rowIndexVar="idx"
									emptyMessage="#{msg['no_record_found']}">
									<p:column headerText="#" class="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column headerText="#{msg['qr_cd']}"
										styleClass="text-center width-8">
										<h:outputText value="#{productRevisedRate.qrCode}" />
									</p:column>
									<p:column headerText="#{msg['item_code']}"
										styleClass="text-center width-8">
										<h:outputText value="#{productRevisedRate.itemCode}" />
									</p:column>
									<p:column headerText="#{msg['name']}" styleClass="width-20">
										<h:outputText value="#{productRevisedRate.itemName}" />
									</p:column>
									<p:column headerText="#{msg['ava_qty']} (&#xf156;)"
										styleClass="text-right width-8 fa-input">
										<h:outputText value="#{productRevisedRate.availableQty}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['existing_rate']} (&#xf156;)"
										styleClass="text-right width-8 fa-input">
										<h:outputText value="#{productRevisedRate.existingRate}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<ui:remove>
										<p:column headerText="#{msg['existing_value']} (&#xf156;)"
											styleClass="text-right width-8 fa-input">
											<h:outputText
												value="#{productRevisedRate.existingRate * productRevisedRate.availableQty}" />
										</p:column>
									</ui:remove>
									<p:column headerText="#{msg['qty_to_revise']} (&#xf156;)"
										styleClass="text-right width-8 fa-input">
										<h:outputText
											rendered="#{productVarietyRateRevisionBean.uomCode  eq 'METR'}"
											value="#{productRevisedRate.qtyToRevise}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>

										<h:outputText
											rendered="#{productVarietyRateRevisionBean.uomCode  ne 'METR'}"
											value="#{productRevisedRate.qtyToRevise}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['revised_rate']} (&#xf156;)"
										styleClass="text-right width-8 fa-input">
										<h:outputText value="#{productRevisedRate.revisedRate}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<ui:remove>
										<p:column headerText="#{msg['revised_value']} (&#xf156;)"
											styleClass="text-right width-8 fa-input">
											<h:outputText id="revisedValue"
												value="#{productRevisedRate.revisedRate * productRevisedRate.availableQty }" />
										</p:column>
									</ui:remove>
								</p:dataTable>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6"></div>
						<div class="col-lg-6 col-md-8 col-sm-6 text-right">
							<p:commandButton value="&#xecf5;&nbsp;#{msg['submit']}"
								onstart="PF('progressDlg').show();"
								onsuccess="PF('progressDlg').hide();" title="#{msg['ok']}"
								onclick="PF('approveDialogBox').show();"
								styleClass="btn bg-success btn-md font-iconmoon m-l-0"></p:commandButton>
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								action="#{productVarietyRateRevisionBean.showProductRevisedRatePageAction}"
								immediate="true" class="btn bg-slate font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['cancel']}">
								<f:setPropertyActionListener value="LIST"
									target="#{productVarietyRateRevisionBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
			<p:dialog id="rejectRemarks" modal="true" draggable="false"
				header="#{msg['approve_comments']}"
				styleClass="p-0 overlay-pop modal-dialog"
				widgetVar="approveDialogBox" width="40%"
				focus="rejectCommentInputField">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{productVarietyRateRevisionBean.remarks}"
									id="rejectCommentInputField">
									<p:ajax update="rejectCommentInputField"></p:ajax>
								</p:inputTextarea>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onsuccess="PF('approveDialogBox').hide()"
						oncomplete="PF('progressDlg').hide();"
						class="btn bg-slate heading-btn  font-iconmoon" />
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						oncomplete="PF('approveDialogBox').hide();"
						action="#{productVarietyRateRevisionBean.saveVerifiedRecords}"
						update="growls" class="btn bg-success heading-btn  font-iconmoon" />
				</div>
			</p:dialog>

		</div>
	</ui:define>


</ui:composition>
