<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="yarnBean" value="#{yarnConsolidateFixationBean}"></ui:param>
		<title>InfoTex | View Yarn Price Fixation</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_yarn_price_fixation']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['yarn']}</li>
						<li class="active">#{msg['view_yarn_price_fixation']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['yarn_price_fix']}</h6>
					</div>
					<div id="accordion-control-right-group6"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0 p-t-5">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_month_year']}" />
										<h:outputText
											value="#{yarnBean.viewYarnPriceFixationdetails[0].yarnConsolidateRequirement.fromMonth}- #{yarnBean.viewYarnPriceFixationdetails[0].yarnConsolidateRequirement.fromYear}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['to_month_year']}" />
										<h:outputText
											value="#{yarnBean.viewYarnPriceFixationdetails[0].yarnConsolidateRequirement.toMonth}- #{yarnBean.viewYarnPriceFixationdetails[0].yarnConsolidateRequirement.toYear}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->

			<!-- 1st Collapse -->
			<div class="panel-group m-b-10">
				<div class="panel panel-flat">
					<div class="panel-heading p-t-10 p-b-5">
						<h5 class="panel-title">
							<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['yarn_unit_wise_req']}</span>
						</h5>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
							</ul>
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="row">
							<!-- <div class="col-lg-12 col-md-12 col-xs-12">
									<h5 class="m-t-5 m-l-15 m-b-5">
										<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['yarn_unit_wise_req']}</span>
									</h5>
								</div> -->
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<p:dataTable value="#{yarnBean.viewYarnPriceFixationdetails}"
										var="item" id="productDesignTargetDTO" rowIndexVar="index"
										styleClass="report-table"
										widgetVar="productDesignTargetDTOWdgr">

										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{index +1}" styleClass="fa-input" />
										</p:column>

										<p:column
											headerText="#{msg['yarn_unit_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.entityMaster.code}/ #{item.entityMaster.name}" />
										</p:column>

										<p:columns value="#{yarnBean.headerMenusList}" var="list"
											headerText="#{list.productVarietyMaster.code} / #{list.productVarietyMaster.name}">
											<ui:repeat var="listSec"
												value="#{yarnBean.viewYarnPriceFixationdetails}">
												<h:outputText value="#{listSec.requiredQuantity}"
													rendered="#{listSec.productVarietyMaster eq list.productVarietyMaster and listSec.entityMaster eq list.entityMaster and
							                		 listSec.entityMaster eq item.entityMaster}"></h:outputText>
											</ui:repeat>
										</p:columns>
									</p:dataTable>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 2nd Collapse -->

			<div class="panel-group m-b-10">
				<div class="panel panel-flat">
					<div class="panel-heading p-t-10 p-b-5">
						<h5 class="panel-title">
							<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['purchase_price_details']}</span>
						</h5>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
							</ul>
						</div>
					</div>

					<div id="accordion-control-right-group3"
						class="panel-collapse collapse in">
						<div class="panel-body no-padding-top">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="table-responsive">
										<p:dataTable
											value="#{yarnBean.viewyarnotherdetails.purchasePriceDetailsList}"
											var="item" id="viewyarnotherdetailslist" rowIndexVar="index"
											styleClass="report-table"
											widgetVar="productDesignTargetDTOPurchaseOrderWdgr">
											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{index +1}" styleClass="fa-input" />
											</p:column>

											<p:column
												headerText="#{msg['yarn_unit_code']} / #{msg['name']}">
												<h:outputText
													value="#{item.entityMaster.code}/ #{item.entityMaster.name} - #{item.entityMaster.id}"
													styleClass="fa-input" />
											</p:column>

											<p:column
												headerText="#{msg['yarn_count']} #{msg['code_name']}">
												<h:outputText
													value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
											</p:column>

											<p:column headerText="#{msg['total_reqs']}">
												<h:outputText value="#{item.requiredQuantity}" />
											</p:column>

											<p:column headerText="#{msg['pur_price']}  (&#xf156;)"
												styleClass="text-right fa-input">
												<p:inputNumber value="#{item.purchasePrice}">

													<p:ajax event="blur"></p:ajax>
												</p:inputNumber>
											</p:column>

											<p:column headerText="#{msg['val_dt']}"
												styleClass="text-center">
												<p:calendar pattern="dd-MMM-yyyy"
													value="#{item.validityDate}" id="calender2" mask="true"
													styleClass="form-control calend-icon">
													<p:ajax event="change"></p:ajax>
												</p:calendar>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 3rd Collapse -->

			<div class="panel-group m-b-10">
				<div class="panel panel-flat">
					<div class="panel-heading p-t-10 p-b-5">
						<h5 class="panel-title">
							<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['sup_detail']}</span>
						</h5>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
							</ul>
						</div>
					</div>
					<hr class="m-0"></hr>
					<div class="panel-body">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['yarn_cat_code']} / #{msg['name']}" />
									<h:outputText value="HYNK / Hank Yarn" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['yarn_type_code']} / #{msg['name']}" />
									<h:outputText value="10s" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_req_quantity']}" />
									<h:outputText
										value="#{yarnBean.viewyarnotherdetails.supplierDetailsList[0].totalRequirementsQuantity}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['allot_quantity']}" />
									<h:outputText
										value="#{yarnBean.viewyarnotherdetails.supplierDetailsList[0].allotedQuanity}"
										class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bal_quantity_sup']}" />
									<h:outputText
										value="#{yarnBean.viewyarnotherdetails.supplierDetailsList[0].balanceQuantitySupplied}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sup_code_name']}" />
									<h:outputText
										value="#{yarnBean.viewyarnotherdetails.supplierDetailsList[0].supplierMaster.name}"
										class="" />
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:dataTable value="#{yarnBean.viewyarnotherdetails}"
										var="item" id="viewyarnotherdetailslist2" rowIndexVar="index"
										styleClass="report-table"
										widgetVar="productDesignTargetDTOPurchaseOrderWdgr">

										<p:column headerText="#" styleClass="width-3 text-center">
											<h:outputText value="#{index +1}" />
										</p:column>

										<p:column
											headerText="#{msg['yarn_unit_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.entityMaster.code}/ #{item.entityMaster.name} - #{item.entityMaster.id}"
												styleClass="fa-input" />
										</p:column>

										<p:column
											headerText="#{msg['yarn_count']} #{msg['code_name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}"
												styleClass="fa-input" />
										</p:column>

										<p:column headerText="#{msg['total_reqs']}">
											<h:outputText value="#{item.requiredQuantity}"
												styleClass="fa-input" />
										</p:column>

										<p:column headerText="#{msg['pur_price']}  (&#xf156;)"
											styleClass="text-right fa-input">
											<p:inputNumber value="#{item.purchasePrice}">
												<p:ajax event="blur"></p:ajax>
											</p:inputNumber>
										</p:column>

										<p:column headerText="#{msg['val_dt']}"
											styleClass="text-center">
											<p:calendar pattern="dd-MM-yyyy" value="#{item.validityDate}"
												id="calender2" mask="true"
												styleClass="form-control calend-icon">
												<p:ajax event="change"></p:ajax>
											</p:calendar>
										</p:column>

									</p:dataTable>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 4th Collapse -->


			<div class="panel-group m-b-10">
				<div class="panel panel-flat">
					<div class="panel-heading p-t-10 p-b-5">
						<h5 class="panel-title">
							<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['committee_details']}</span>
						</h5>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
							</ul>
						</div>
					</div>
					<hr class="m-0"></hr>

					<div class="panel-body">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['section_code']} / #{msg['name']}" />
									<h:outputText value="Marketing Section" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['require_from']}" />
									<h:outputText value="1-Apr-2018" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['require_to']}" />
									<h:outputText value="31-Mar-2019" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['due_date']}" />
									<h:outputText value="15-Apr-2019" class="" />
								</div>
							</div>
						</div>

						<div class="row m-t-10">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table id="main-table3" class="report-table m-b-10">
										<thead>
											<tr>
												<th class="width-3">#</th>
												<th class="fa-input"><p:outputLabel
														value="#{msg['committee_member_name']}" /></th>
												<th class="fa-input width-15"><p:outputLabel
														value="#{msg['office_name']}" /></th>
												<th class="fa-input width-15"><p:outputLabel
														value="#{msg['designation']}" /></th>
												<th class="fa-input width-10"><p:outputLabel
														value="#{msg['action']}" /></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td align="center">1</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>


												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>


												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>

												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">4</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>


												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">5</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>


												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">6</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>

												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
											<tr>
												<td align="center">7</td>
												<td>Mr. G Muthukumara Swamy Ramesh</td>
												<td>Regional Office Chennai</td>
												<td>General Manager</td>
												<td class="text-center"><input type="button"
													value="&#xe912;"
													class="btn bg-primary font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['edit']}" /> <input type="button"
													value="&#xe99e;" class="btn bg-danger font-iconmoon btn-xs"
													data-toggle="modal" data-target="#viewInvoice"
													title="#{msg['delete']}" /></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="text-right" colspan="4"><strong> </strong></td>
												<td></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_to']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<select class="form-control">
											<option>Select</option>
											<option>Maha Gaurav V / Sales Representative</option>
											<option>Gurunathan M / Senior Manager</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_for']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<select class="form-control">
											<option>Select</option>
											<option>Approved</option>
											<option>Final Approval</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn bg-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

								<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									immediate="true" class="btn bg-slate font-iconmoon m-r-0"
									onclick="window.location.href='listProcurementOrder.xhtml'"
									title="#{msg['cancel']}">
								</p:commandButton>
								<!-- <p:commandButton value="&#xea0e;&nbsp;#{msg['save']}"
								immediate="true" class="btn bg-primary font-iconmoon m-r-0"
								title="#{msg['save']}">
							</p:commandButton> -->
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									action="#{districtMasterBean.addNewDistrict}">
								</p:commandButton>
							</div>
						</div>


					</div>
				</div>
			</div>
			<!-- end all collapse -->
		</div>


		<!-- Requirement popup -->
		<p:dialog header="#{msg['pro_var_yarn_require_detail']}"
			widgetVar="yarn_recquirement" modal="true" showEffect="fade"
			hideEffect="fade" resizable="false" styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body modal-lg p-0">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['society_code']}  / #{msg['name']}" />
									<h:outputText id="code" onblur=""
										value="SOC0011 / Chennimalai Weavers Co-operative Society">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['yarn_unit_code']} / #{msg['name']}" />
									<h:outputText id="code1" onblur=""
										value="comb / Coimbatore Yarn Unit">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['from']}" />
										<h:outputText id="code2" onblur="" value="Mar-2018">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['to']}" />
										<h:outputText id="code4" onblur="" value="Apr-2019">
										</h:outputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['circle_code_name']}" />
									<h:outputText id="code5" onblur=""
										value="CL002 / Circle Madurai">
									</h:outputText>
								</div>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div> -->
					</div>
					<div class="panel-body p-0 m-t-10">
						<div class="row">

							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsible">
									<table class="main-table cust-table">
										<thead>
											<tr>
												<th rowspan="2" scope="col" class="width-40">#{msg['prod_variey_code']}
													/ #{msg['name']}</th>
												<th scope="col">10s</th>
												<th scope="col">20s</th>
												<th scope="col">22s</th>
												<th scope="col">28s</th>
											</tr>

										</thead>
										<tbody>
											<tr>
												<td title="BEP1 / Bedsheet Erode Plain 4080">BEP1 /
													Bedsheet Erode Plain 4080</td>
												<td class="text-center">200</td>
												<td class="text-center">100</td>
												<td class="text-center">300</td>
												<td class="text-center">500</td>
											</tr>
											<tr>
												<td title="BEP2 / Bedsheet Erode Plain 5090">BEP2 /
													Bedsheet Erode Plain 5090</td>
												<td class="text-center">200</td>
												<td class="text-center">500</td>
												<td class="text-center">400</td>
												<td class="text-center">700</td>


											</tr>
											<tr>
												<td title="BEP3 / Bedsheet Erode Plain 6090">BEP3 /
													Bedsheet Erode Plain 6090</td>
												<td class="text-center">200</td>
												<td class="text-center">200</td>
												<td class="text-center">300</td>
												<td class="text-center">800</td>

											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td class="text-right">#{msg['tot']}</td>
												<td class="text-center">600</td>
												<td class="text-center">800</td>
												<td class="text-center">1000</td>
												<td class="text-center">2000</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="row m-t-10">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton
										onclick="window.location.href='#{request.contextPath}/pages/operation/yarn/viewYarnPriceFixation.xhtml'"
										value="&#xeddf;&nbsp;#{msg['back']}"
										class="btn bg-info heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- ./Requirement popup -->

		<!-- Add Note Dialogue -->
		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			width="80%" modal="true" showEffect="fade" hideEffect="fade"
			resizable="false" styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 view-note-editor">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<div class="form-group">
										<form action="#">
											<p:textEditor widgetVar="editor1" readonly="true"
												value="#{bean.viewcirculardetails.note}" height="150" />
										</form>
									</div>

									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.add note dialogue -->

		<!-- Comment -->
		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}"
									onclick="window.location.href='listYarnPriceFixation.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.Comment -->

	</ui:define>
</ui:composition>