<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<style type="text/css">
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style>

		<title>Infotex | Quality Checking</title>

		<!-- Page Header -->

		<!-- <div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['creat_quality_Check']} - #{msg['ins_cntr']}</h4>

					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['ins_cntr']}</li>
						<li class="active">#{msg['creat_quality_Check']} - #{msg['ins_cntr']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


				<div class="heading-elements"></div>
			</div>
		</div> -->

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_quality_Check']} - #{msg['ins_cntr']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['ins_cntr']}</li>
						<li class="active">#{msg['view_quality_Check']} -
							#{msg['ins_cntr']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>

		<!-- Page Header End -->

		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['creat_quality_Check']}
								- #{msg['ins_cntr']} <!-- <span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span> -->
							</a>
						</h6>
					</div>

					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_code']} / #{msg['name']}" />
										<div class="form-group">
											<h:outputText
												value="#{retailQualityCheckICBean.retailQualityCheck.stockTransfer.supplierMaster.code} / #{retailQualityCheckICBean.retailQualityCheck.stockTransfer.supplierMaster.name}"
												class="" />
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['st_in_num']} / #{msg['date']}" />
										<h:outputText
											value="#{retailQualityCheckICBean.retailQualityCheck.stockTransfer.referenceNumber}"
											class="" />
										<h:outputText
											value="#{retailQualityCheckICBean.retailQualityCheck.stockTransfer.dateReceived}"
											class="">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
										<!-- input-group -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- collepse panel end -->

			<div class="col-lg-6 col-md-6 col-sm-12 ph0">
				<div class="panel panel-flat panel-border-info">
					<div class="panel-body p-t-10">
						<h5 class="m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prod_variety_wise']}
								- #{msg['quality_check_status']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-xs-6 col-xs-12 vl">
								<ul class="list-inline text-center">
									<li><i
										class="icon-stack3 icon-2x btn-md text-info valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText
												value="#{retailQualityCheckICBean.totalProducts}"
												id="totalProducts"></h:outputText>
										</div>
										<div class="text-muted">
											Total Product <br />Varieties
										</div>
									</li>
								</ul>

							</div>

							<div class="col-lg-4 col-md-4 col-xs-6 col-xs-12 vl">
								<ul class="list-inline text-center">
									<li><i
										class="icon-checkmark-circle icon-2x btn-md text-success valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText value="#{retailQualityCheckICBean.qcCompleted}"
												id="qcCompleted"></h:outputText>
										</div>
										<div class="text-muted">
											Checking<br /> Completed
										</div>
									</li>
								</ul>

							</div>

							<div class="col-lg-4 col-md-4 col-xs-6 col-xs-12">
								<ul class="list-inline text-center">
									<li><i
										class="icon-hour-glass2 icon-2x btn-md text-warning valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText
												value="#{retailQualityCheckICBean.qcYetToStart}"
												id="qcYetToStart"></h:outputText>
										</div>
										<div class="text-muted">
											Checking <br /> Pending
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-6 col-md-6 col-sm-12 ph0">
				<div class="panel panel-flat panel-border-info">

					<div class="panel-body p-t-10">
						<h5 class="m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prod_item_wise']}
								- #{msg['quality_check_status']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-xs-6 col-xs-12 vl">
								<ul class="list-inline text-center">
									<li><i
										class="icon-list-unordered icon-2x btn-md text-info valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText id="totalItems"
												value="#{retailQualityCheckICBean.totalItems}"></h:outputText>
										</div>
										<div class="text-muted">
											Total Number <br />of Items
										</div>
									</li>
								</ul>
							</div>

							<div class="col-lg-3 col-md-3 col-xs-6 col-xs-12 vl">
								<ul class="list-inline text-center">
									<li><i
										class="icon-thumbs-up3 icon-2x btn-md text-success valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText id="itemsAccepted"
												value="#{retailQualityCheckICBean.itemsAccepted}"></h:outputText>
										</div>
										<div class="text-muted">
											No of Items<br /> Accepted
										</div>
									</li>
								</ul>
							</div>


							<div class="col-lg-3 col-md-3 col-xs-6 col-xs-12 vl">
								<ul class="list-inline text-center">
									<li><i
										class="icon-thumbs-down3 icon-2x btn-md text-warning valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText id="itemsRejected"
												value="#{retailQualityCheckICBean.itemsRejected}"></h:outputText>
										</div>
										<div class="text-muted">
											No of Items<br /> Rejected
										</div>
									</li>
								</ul>
							</div>

							<div class="col-lg-3 col-md-3 col-xs-6 col-xs-12">
								<ul class="list-inline text-center">
									<li><i
										class="icon-checkmark-circle icon-2x btn-md text-slate valign-text-bottom"></i>
									</li>
									<li class="text-left">
										<div class="text-semibold text16">
											<h:outputText id="itemsToBeCheck"
												value="#{retailQualityCheckICBean.itemsToBeCheck}"></h:outputText>
										</div>
										<div class="text-muted">
											No of Items<br /> to be Check
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-info">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>
					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive">
								<p:dataTable id="table" var="data"
									styleClass="report-table m-b-15" rowKey="#{data}"
									value="#{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList}"
									emptyMessage="#{msg['no_records_found']}" editable="true"
									tableStyleClass="table table-hover" rowIndexVar="idx">

									<p:column headerText="#" styleClass="text-center width-4">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}"
										styleClass="width-25">
										<h:outputText
											value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
									</p:column>

									<p:column headerText="#{msg['uom']}"
										styleClass="text-center width-10">
										<h:outputText
											value="#{data.productVarietyMaster.uomMaster.code}" />
									</p:column>

									<p:column headerText="#{msg['dispatched_qty']}"
										styleClass="text-center width-10">
										<h:outputText value="#{data.dispatchedQuantity}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['received_quantity']}"
										styleClass="text-center width-10">
										<h:outputText value="#{data.receivedQuantity}">
											<f:convertNumber pattern="#0" />
										</h:outputText>

									</p:column>

									<p:column headerText="#{msg['status']}"
										styleClass="text-center width-12">
										<f:facet name="filter">
											<h:selectOneMenu id="statusDropdown"
												class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems
													value="#{retailQualityCheckICBean.statusValues}"
													var="status" itemLabel="#{status}" itemValue="#{status}" />
											</h:selectOneMenu>
										</f:facet>
										<h:outputText
											value="#{data.qualityCheckStatus.name().replace('_',' ')}"
											styleClass="label label-default width-custom"
											rendered="#{data.qualityCheckStatus eq 'QC_IN_PROGRESS'}" />
										<h:outputText
											value="#{data.qualityCheckStatus.name().replace('_',' ')}"
											styleClass="label label-success width-custom"
											rendered="#{data.qualityCheckStatus eq 'QC_COMPLETE'}" />
										<h:outputText
											value="#{data.qualityCheckStatus.name().replace('_',' ')}"
											styleClass="label label-warning width-custom"
											rendered="#{data.qualityCheckStatus eq 'QC_PENDING'}" />
									</p:column>

									<p:column headerText="#{msg['action']}"
										styleClass="text-center fa-input width-10">
										<p:commandButton update="qualitycheckDlg" value="&#xea18;"
											action="#{retailQualityCheckICBean.selectProductWiseData(data,idx)}"
											class="btn bg-info font-iconmoon tab-btn m-l-0" title="View"
											oncomplete="PF('qualitycheckDlg').show();" />
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-lg-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								immediate="true" title="#{msg['back']}"
								action="#{retailQualityCheckICBean.getProductWarehouseQualityCheckList}"
								styleClass="btn btn-sm bg-info font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Quality Check modal -->
		<p:dialog header="#{msg['bund_details']}" id="qualitycheckDlg"
			widgetVar="qualitycheckDlg" position="center" width="80%"
			resizable="false" modal="true"
			styleClass="cus-model-popup card_dialogbox p-0">
			<div class="">

				<div class="row label-form view-style">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="form-group">
							<p:outputLabel value="#{msg['prod_variey_code_name']}" />
							<h:outputText
								value="#{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList[retailQualityCheckICBean.index].productVarietyMaster.code} / #{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList[retailQualityCheckICBean.index].productVarietyMaster.name}"
								class="" />
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="form-group m-b-0">
							<p:outputLabel value="#{msg['dis_qty']}" />
							<h:outputText
								value="#{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList[retailQualityCheckICBean.index].dispatchedQuantity}"
								class="" />
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="form-group m-b-0">
							<p:outputLabel value="#{msg['received_unit']}" />
							<h:outputText
								value="#{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList[retailQualityCheckICBean.index].receivedQuantity}"
								class="" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="panel-body p-0">
							<div class="table-responsive">
								<div class="">
									<p:dataTable id="at_table" var="data" class="table cust-table2"
										rowKey="#{data}"
										value="#{retailQualityCheckICBean.govtSchemeQC.govtSchemeQCItemsList[retailQualityCheckICBean.index].qcItemList}"
										emptyMessage="#{msg['no_records_found']}" editable="true"
										tableStyleClass="table table-hover" rowIndexVar="idx">

										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['bun_num']}">
											<h:outputText value="#{data.bundleNumber}" />
										</p:column>
										<p:column headerText="#{msg['recd_unit']}">
											<h:outputText value="#{data.receivedQuantity}" />
										</p:column>
										<p:column headerText="#{msg['accpt_qty']}"
											styleClass="text-center fa-input width-10">
											<p:inputText value="#{data.acceptedQuantity}" disabled="true"
												onkeypress="return isDecimal(event)" maxlength="15">
												<f:convertNumber pattern="#0.00" />
												<p:ajax event="keyup" update="growls at_table"
													listener="#{retailQualityCheckICBean.updateAcceptedQuantity(idx,data.acceptedQuantity)}"></p:ajax>
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['rej_qty']}"
											styleClass="text-right fa-input width-10">
											<p:inputText value="#{data.rejectedQuantity}" disabled="true"
												onkeypress="return isDecimal(event)" maxlength="15">
												<f:convertNumber pattern="#0.00" />
												<p:ajax event="keyup" update="growls at_table"
													listener="#{retailQualityCheckICBean.updateRejectedQuantity(idx,data.rejectedQuantity)}"></p:ajax>
											</p:inputText>
										</p:column>
										<p:column headerText="#{msg['rej_qty_details']}"
											styleClass="text-right fa-input width-40">
											<ui:repeat var="reject"
												value="#{retailQualityCheckICBean.stockRejectDetailsList}">
												<p:inputText value="#{reject.rejectQuantity}"
													disabled="true"
													styleClass="dis-inblk pull-left width-12 m-r-5">
													<p:ajax event="keypress" update="@this"
														listener="#{retailQualityCheckICBean.quantityCheck}"></p:ajax>
												</p:inputText>
												<h:selectOneMenu value="#{reject.rejectReasonMaster}"
													disabled="true" converter="#{entityConverter}"
													styleClass="form-control pull-left dis-inblk width-35  m-r-5">
													<f:selectItem itemLabel="select" onSelectOption="true"></f:selectItem>
													<f:selectItems
														value="#{retailQualityCheckICBean.rejectReasonMasterList}"
														var="rej" itemLabel="#{rej.code} / #{rej.name}"
														itemValue="#{rej}" />
													<p:ajax event="change" update="@this"></p:ajax>
												</h:selectOneMenu>
												<p:inputText
													styleClass="form-control pull-left dis-inblk width-40  m-r-5"
													disabled="true" id="note" placeholder=""
													value="#{reject.description}">
													<p:ajax update="@this"></p:ajax>
												</p:inputText>
											</ui:repeat>
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:dialog>


		<div id="qualitycheck" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-lg-cust"></div>
				</div>
			</div>
		</div>
		<!-- /modal with invoice -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>