<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('DISTRICT_LIST')}" />
		</f:metadata>
		<f:metadata>
			<f:viewAction action="#{districtMasterBean.onPageLoad}"
				onPostBack="true"></f:viewAction>
		</f:metadata>
		<title>InfoTex | District List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['district_master_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"> <i
								class="icon-home2 position-left"></i>#{msg['home']}
						</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{msg['district_master_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:panelGroup id="listSize">
								<h:outputText value="#{districtMasterBean.listSize}" />
							</h:panelGroup></strong> - #{msg['district']}(#{msg['list_s']})<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton update="growls"
							value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
							rendered="#{loginBean.userFeatures['DISTRICT_ADD']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-success font-iconmoon" id="addButton"
							disabled="#{districtMasterBean.disableAddButton}"
							action="#{districtMasterBean.gotoPage('ADD')}">
							<f:setPropertyActionListener value="ADD"
								target="#{districtMasterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe912;&nbsp;#{msg['edit']}" title="#{msg['edit']}"
							action="#{districtMasterBean.gotoPage('EDIT')}"
							rendered="#{loginBean.userFeatures['DISTRICT_EDIT']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-primary font-iconmoon">
							<f:setPropertyActionListener value="EDIT"
								target="#{districtMasterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xea18;&nbsp;#{msg['view']}" title="#{msg['view']}"
							action="#{districtMasterBean.gotoPage('VIEW')}"
							rendered="#{loginBean.userFeatures['DISTRICT_VIEW']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe99e;&nbsp;#{msg['delete']}" title="#{msg['delete']}"
							onstart="PF('statusDialog').show()"
							rendered="#{loginBean.userFeatures['DISTRICT_DELETE']}"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-danger font-iconmoon"
							action="#{districtMasterBean.processDelete}">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-slate font-iconmoon"
							action="#{districtMasterBean.gotoPage('LIST')}">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" widgetVar="table" var="data" class="table"
							selection="#{districtMasterBean.masterSearchDTO}"
							rowKey="#{data.id}"
							value="#{districtMasterBean.districtMasterLazyList}" lazy="true"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							tableStyleClass="" rowsPerPageTemplate="5,10,15"
							rowIndexVar="idx">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:ajax event="rowSelectRadio"
								listener="#{districtMasterBean.onRowSelect}"
								update=":#{p:component('addButton')}" />

							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column headerText="#{msg['district_code']} / #{msg['name']}"
								styleClass="width-20" filterMatchMode="contains"
								filterable="true" filterBy=" #{data.districtCodeOrName}"
								sortBy="#{data.districtCodeOrName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="globalFilterCode" class="form-control "
										onkeyup="PF('table').filter()" />
								</f:facet>
								<h:outputText value="#{data.districtCodeOrName}" />
							</p:column>

							<p:column
								headerText="#{msg['state_code']} / #{msg['name']}"
								filterMatchMode="contains" filterable="true"
								styleClass="width-20" filterBy=" #{data.stateCodeOrName}"
								sortBy=" #{data.stateCodeOrName}" sortable="true">
								<h:outputText value="#{data.stateCodeOrName}" />
							</p:column>

							<p:column
								headerText="#{msg['country_code']} / #{msg['name']}"
								filterMatchMode="contains" filterable="true"
								styleClass="width-20" filterBy=" #{data.countryCodeOrName}"
								sortBy=" #{data.countryCodeOrName}" sortable="true">
								<h:outputText value="#{data.countryCodeOrName}" />
							</p:column>


							<p:column sortBy="#{data.status}" sortable="true"
								filterable="true" filterBy="#{data.status}"
								styleClass="text-center width-10" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu id="statusFiter" class="form-control"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="Select" />
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="InActive" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="label sts_shortl #{data.status eq 'true'?' label-success':'label label-default'}"
									value="#{data.status eq 'true'?'Active':'Inactive'}" />
							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('listSize')}" autoRun="true" />
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation']}" widgetVar="dlg1"
				modal="true" position="center" resizable="false" closable="true"
				width="30%" styleClass="p-0 overlay-pop modal-dialog">

				<div class="modal-body">
					<h:outputText value="#{msg['delete_record']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton styleClass="btn btn-sm bg-slate font-iconmoon "
						title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
						onclick="PF('dlg1').hide();">
					</p:commandButton>
					<p:commandButton styleClass="btn btn-sm bg-success font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{districtMasterBean.delete}" onclick="PF('dlg1').hide();">
					</p:commandButton>
				</div>
			</p:dialog>



		</div>
	</ui:define>
</ui:composition>