<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		
		<h:form>
			<title>InfoTex | Approval Compulsory Retirement</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							Approval Compulsory Retirement 
						</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>Personnel</li>
							<li>HR</li>
							<li>Admin</li>
							<li>Compulsory Retirement</li>
							<li class="active">Approval Compulsory Retirement</li>
						</ul>
					</div>
				</div>
			</div>



			<div class="content m-b-0">
				<div class="">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">Approval Compulsory Retirement<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>

							</h6>

						</div>
						<div class="panel-body panelBody-fix-noStg ">
					<div class="view-style">
					<div class="row ">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['emp_no']}" />
										
										<div class="input-group">

												<span class=""><h:outputText
													value="P48304" /></span>

											</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['emp_name']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="Siva Kumar" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['desgn']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="Manager" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="PF.No" />
										<div class="input-group">
											<span class=""><h:outputText
													value="AKPPR9215D" /></span>
										</div>
									</div>
								</div>
			</div>
							<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['dob']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-10-1983" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['age']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="33" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_apptmnt']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="22-10-1999" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_of_retire']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-10-2041" /></span>
										</div>
									</div>
								</div>
								</div>
								<div class="row">
								
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['regi_where_pre_wor']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="Chennai" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['worked_from']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-10-1999" /></span>
										</div>
									</div>
								</div>
							
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['worked_to']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-10-2010" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['whether_ther_any_charge']}?" />
										<div class="input-group">
											<span class=""><h:outputText
													value="Yes" /></span>
										</div>
									</div>
								</div>
								</div>
								<div class="row">
								<div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
									<div class="form-group">
										<p:outputLabel value="If Yes, Please mention the details" />
										<div class="input-group">
											<span class=""><h:outputText
													value="Co-optex charged" /></span>
										</div>
										
									</div>
								</div>
								
							
								
							</div>
							<div class="row">
							<div class="col-lg-12">
							<h6 class="m-t-0 bord_bot">
							<span class="iform_title"> <i class="fa fa-th-large m-r-5"></i>
								Amount due to
							</span>
						</h6></div></div>
							<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['gratuity']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="2,53457.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['others']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="36,845.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['encashment_of_earned_leave']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="6,758.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['un-Earned_leave_on_priv_affairs']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="3,545.00" /></span>
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['retire_Benefit_scheme']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="7,432.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_security_deposit']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="52,457.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-12-1999" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['to_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
										<div class="input-group">
											<span class=""><h:outputText
													value="12-12-2041" /></span>
										</div>
									</div>
								</div></div>
								<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['percentage']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
										<div class="input-group">
											<span class=""><h:outputText
													value="7.39%" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['others,_if_any_staff_welfare']}" />
									<div class="input-group">
											<span class=""><h:outputText
													value="" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['balance_gratuity']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="1,25,478.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['ttl_amt']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="5,24,789.00" /></span>
										</div>
									</div>
								</div>
								
								</div>
								<div class="row">
								<div class="col-lg-12">
							<h6 class="m-t-0 bord_bot">
							<span class="iform_title"> <i class="fa fa-th-large m-r-5"></i>
								Amount due by
							</span>
						</h6></div></div>
						<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['Stock_deficit']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="30,457.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['credit_sales_dues']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="1,254.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['audit_objection']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="1,214.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_deposit']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="5,456.00" /></span>
										</div>
									</div>
								</div>
							
								</div>
								<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_deposit_petty_cash']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="10,000.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_depo_for_credit']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="3,124.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['future_Adjstmnt']}" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="254.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="RIT" />
										
										<div class="input-group">
											<span class=""><h:outputText
													value="" /></span>
										</div>
									</div>
								</div>
								</div>
								
								<div class="row">
								
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['ttl_amt']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="40,547.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_Amt_to_be_settled']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="5,24,123.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['approx_amt_settled']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="5,24,123.00" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['mode_payment_Cheque/DD']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="Cheque" /></span>
										</div>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['amt_withheld_which_paid_on_realiz/finaliz']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="5,24,123.00" /></span>
										</div>
									</div>
								</div>
								</div>
								</div>
								<div class="col-lg-12 no-padding">
													<div class="form-group">
														<p:outputLabel value="#{msg['comment']}" />
														<span class="mand-red">*</span>
														<h:inputTextarea rows="3" class="form-control" disabled="#{rosterReservationBean.action eq 'VIEW'}" value="#{rosterReservationBean.rosterReservation.approvalRemarks}" maxlength="250" ></h:inputTextarea>
													</div>
												</div>
								
	<div class="row">
								<div class="col-md-12 ">
										<div class="form-group ">
											<div class="form-group text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon" />
								<p:commandButton value="&#xecf6; #{msg['reject']}"
									class="btn btn-sm bg-danger font-iconmoon" />
								<p:commandButton value="&#xf164; #{msg['approve']}"
									class="btn bg-success heading-btn fa-input" />
								</div>
										</div>
									</div>
								
							</div></div>
	

									</div>
									
								</div>
								</div>
								
							
							
							
						


			

		</h:form>
						  
	</ui:define>
</ui:composition>