<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{empRetirementRequestBean}" />
		<h:form>
			<title>InfoTex | Approval Voluntary Retirement</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['approval_voluntary_retirement']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['retiremnt']}</li>
							<li class="active">#{msg['approval_voluntary_retirement']}</li>
						</ul>


					</div>
				</div>
			</div>
			<div class="content m-b-0">
				<div class="">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">
								#{msg['voluntary_retire']}<span
									class="pull-right text-13">(<span class="text-danger">*</span>
										#{msg['mand_fields']})
								</span>
								

							</h6>

						</div>
						<div class="panelBody-fix-noStg ">
						<div class="panel-body p-t-10">
							<div class="view-style ">
								<div class="row ">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_no']}" />

											<div class="input-group">

												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.empCode}" /></span>

											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_name']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.empName}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['desgn']}" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.designation}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['dob']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.dob}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>
											</div>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['age']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.age}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_apptmnt']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.dateOfAppointment}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>

											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_of_retire']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.retirementDate}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['regi_where_pre_wor']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.regionName}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">


									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['worked_from']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.dateOfJoining}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['worked_to']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.selectedNormalRetirementDto.dateOfResignation}">
														<f:convertDateTime pattern="dd-MM-yyyy"
															timeZone="{loginBean.timeZone}" />
													</h:outputText></span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['whether_ther_any_charge']}?" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.pendingDisposalCharges == true ? 'Yes' : 'No'}" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['if_yes_please_mention_the_details']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.punishmentInforceRemarks}" /></span>
											</div>

										</div>
									</div>



								</div>
								<div class="row">
									<div class="col-lg-12">
										<h6 class="m-t-0 bord_bot">
											<span class="iform_title"> <i
												class="fa fa-th-large m-r-5"></i> #{msg['amt_due_to']}
											</span>
										</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['gratuity']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.gratuityAmount}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['others']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.otherAmount}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['encashment_of_earned_leave']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.encashmentAmount}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['un-Earned_leave_on_priv_affairs']}" />
											<div class="input-group">
												<span class=""><h:outputText value="2.6" /></span>
											</div>
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['retire_Benefit_scheme']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.retirementBenefits}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['employee_security_deposit']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.employeeSecurityDeposit}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['from_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
											<div class="input-group">
												<span class=""><h:outputText value="2018-01-04" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['to_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
											<div class="input-group">
												<span class=""><h:outputText value="2018-01-04" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['percentage']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.percentage}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['others,_if_any_staff_welfare']}" />
											<div class="input-group">
												<span class=""><h:outputText value="dfg" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['balance_gratuity']}" />
											<div class="input-group">
												<span class=""><h:outputText value="232" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['ttl_amt']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueToTotalAmount}" /></span>
											</div>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-12">
										<h6 class="m-t-0 bord_bot">
											<span class="iform_title"> <i
												class="fa fa-th-large m-r-5"></i> #{msg['amt_due_by']}
											</span>
										</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['Stock_deficit']}" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{empRetirementRequestBean.empGeneralInfoDto.stockDeficit}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['credit_sales_dues']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.creditSalesDues}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['audit_objection']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.auditObjection}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_deposit']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.sundryDeposit}" /></span>
											</div>
										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_deposit_petty_cash']}" />
											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.sundryPettyCash}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_depo_for_credit']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.sundryCreditSales}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['future_Adjstmnt']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.futureAdjustment}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['lbl_rit']}" />

											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.rit}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">

									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['ttl_amt']}" />
											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueByTotalAmount}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_Amt_to_be_settled']}" />
											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.totalAmountToBeSettled}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['approx_amt_settled']}" />
											<div class="input-group">
												<span class=""><h:outputText value="#{empRetirementRequestBean.empGeneralInfoDto.approximateAmountSettled}" /></span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['mode_payment_Cheque/DD']}" />
											<div class="input-group">
												<span class=""><h:outputText value="Cheque" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['completed_years_of_services']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.completedYearsOfServices}" /></span>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['date_of_submission']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.dateOfSummision}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText> </span>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['commencement_on_notice_period']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.commencementNoticePeriod}" /></span>

										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['other_charges']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.commencementNoticePeriod}" /></span>

										</div>
									</div>
									
								</div>
							</div>
							<div class="col-lg-12 no-padding">
								<p:outputPanel id="approvePanel">
									<div class="form-group">
										<p:outputLabel value="#{msg['remark']}" />
										<span class="mand-red">*</span>
										<h:inputTextarea id="commId" required="true"
											requiredMessage="Comments required." rows="3"
											class="form-control"
											value="#{bean.voluntaryRetirement.retirementComments}"
											maxlength="250"></h:inputTextarea>
									</div>
									<h:message for="commId" class="validation-error-label" />
								</p:outputPanel>
							</div>

							<div class="row">
								<div class="col-md-12 text-right">
									
										
											<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
												action="#{empRetirementRequestBean.clearPage}"
												immediate="true" title="#{msg['back']}"
												class="btn bg-info heading-btn font-iconmoon">
												<f:setPropertyActionListener
													value="VOLUNTARY_RETIREMENT_LIST" target="#{bean.action}"></f:setPropertyActionListener>
											</p:commandButton>
											<p:commandButton value="&#xf0c7;&nbsp; #{msg['save']}"
												action="#{empRetirementRequestBean.clearPage}"
												immediate="true" title="#{msg['back']}"
												class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10">
											</p:commandButton>


											<ui:remove>
												<!-- Cancel -->
												<p:commandButton value="&#xf00d; #{msg['cancel']}"
													action="#{bean.cancelRetirement('VOLUNTARY')}"
													title="#{msg['cancel']}"
													onclick="PF('progressDlg').show();" immediate="true"
													oncomplete="PF('progressDlg').hide();"
													class="btn btn-sm bg-slate fa-input m-l-10">
												</p:commandButton>
												<!-- Reject -->
												<p:commandButton value="&#xecf6; #{msg['reject']}"
													update="approvePanel idConfirm growls"
													title="#{msg['reject']}" action="#{bean.confirmStatus}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													class="btn btn-sm bg-danger font-iconmoon m-l-10">
													<f:setPropertyActionListener value="REJECTED"
														target="#{bean.voluntaryRetirement.retirementStatus}" />
												</p:commandButton>
												<!-- Approve -->
												<p:commandButton value="&#xf164; #{msg['approve']}"
													update="approvePanel idConfirm growls"
													title="#{msg['approve']}" action="#{bean.confirmStatus}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													class="btn bg-success heading-btn fa-input">
													<f:setPropertyActionListener value="APPROVED"
														target="#{bean.voluntaryRetirement.retirementStatus}" />
												</p:commandButton>
											</ui:remove>
										
									
								</div>

							</div>
						</div>
						</div>

					</div>

				</div>
			</div>
			<p:dialog
				header="#{msg['confirm']} #{bean.voluntaryRetirement.retirementStatus eq 'APPROVED' ? 'approve' : 'reject'}"
				draggable="false" modal="true" id="idConfirm"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmStatus" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText
						value="#{msg['app_or_reject']} #{bean.voluntaryRetirement.retirementStatus eq 'APPROVED' ? 'approve' : 'reject'} record ?" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmStatus').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{bean.approvalRetirement}"
						oncomplete="PF('confirmStatus').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>