<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<p:outputPanel id="compulsoryPanel">
			<title>InfoTex | Create Compulsory Retirement</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_compul_retrmnt']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['retiremnt']}</li>
							<li class="active">#{msg['create_compul_retrmnt']}</li>
						</ul>
					</div>
				</div>
			</div>


			<div class="content m-b-0">
				<div class="">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">
								#{msg['compulsory_retire']} <span class="pull-right text-13">(<span
									class="text-danger">*</span> #{msg['mand_fields']})
								</span>

							</h6>
						</div>
						<div class="page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_pf_num']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText id="codeId" maxlength="6"
													required="#{not empty param[searchcode.clientId]}"
													requiredMessage="Employee PF number is required."
													value="#{empRetirementRequestBean.compulsoryRetirement.employee.empCode}"
													class="form-control" />
											</div>
										</div>
										<h:message for="codeId" class="validation-error-label" />
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="&nbsp;" class="block" />
											<p:commandButton title="#{msg['clear']}"
												value="&#xe916; #{msg['clear']}"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"
												update="compulsoryPanel codeId"
												actionListener="#{employeeRetirementBean.clear('COMPULSORY')}"
												class="btn btn-sm bg-slate font-iconmoon m-l-0">
												<f:setPropertyActionListener value=""
													target="#{empRetirementRequestBean.compulsoryRetirement.employee.empCode}"></f:setPropertyActionListener>
											</p:commandButton>
											<p:commandButton title="#{msg['search']}"
												value="&#xe98e; #{msg['search']}"
												onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();"
												binding="#{searchcode}" update="compulsoryPanel growls"
												class="btn btn-sm bg-info font-iconmoon"
												actionListener="#{empRetirementRequestBean.getEmployeeDetails('COMPULSORY')}" />
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_no']}" />
											<span class=""> <h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.empCode}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_name']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.firstName} #{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.lastName}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['desgn']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.currentDesignation.name}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dob']}" />
											<span class=""> <h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.dob}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText>
											</span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_apptmnt']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.dateOfAppointment}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText> </span>

										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_of_retire']}" />
											<span class=""> <h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.retirementDate}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['age']}&nbsp;(#{msg['as_on_date']})" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.age}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['actual_Service']}&nbsp;(#{msg['as_on_date']})" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.actualService}" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['pending_disposal_of_charges']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.pendingDisposalCharges eq 'true' ? 'Yes' :empRetirementRequestBean.empGeneralInfoDto.pendingDisposalCharges eq 'false' ? 'No':''}"
													class="">
												</h:outputText></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['punishment_in_force']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.punishmentInforce eq 'true' ? 'Yes' : empRetirementRequestBean.empGeneralInfoDto.punishmentInforce eq 'false' ? 'No' :''}"
													class="">
												</h:outputText></span>

										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['if_yes_please_mention_the_details']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.punishmentInforceRemarks}" /></span>
										</div>
									</div>
								</div>

								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['amt_due_to']}</span>
								</h5>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['gratuity']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.gratuityAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['others']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.otherAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['encashment_of_earned_leave']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.encashmentAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['un-Earned_leave_on_priv_affairs']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.unEarnedAmount}" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['retire_Benefit_scheme']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.retirementBenefits}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['employee_security_deposit']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.employeeSecurityDeposit}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['from_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.fromDate}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText> </span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['to_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.fromDate}">
													<f:convertDateTime pattern="dd-MM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText> </span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['percentage']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.percentage}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['others,_if_any_staff_welfare']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.otherStaffWelfareAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['balance_gratuity']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.balanceGratuity}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ttl_amt']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueToTotalAmount}" /></span>
										</div>
									</div>
								</div>

								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['amt_due_by']}</span>
								</h5>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['Stock_deficit']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.stockDeficit}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['credit_sales_dues']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.creditSalesDues}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['audit_objection']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.auditObjection}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_deposit']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.sundryDeposit}" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_deposit_petty_cash']}" />

											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.sundryPettyCash}" /></span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['sundry_depo_for_credit']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.sundryCreditSales}" /></span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['future_Adjstmnt']}" />


											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.futureAdjustment}" /></span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['lbl_rit']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.rit}" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['ttl_amt']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueByTotalAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_Amt_to_be_settled']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.totalAmountToBeSettled}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['approx_amt_settled']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.approximateAmountSettled}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['mode_payment_Cheque/DD']}" />
											<span class=""><h:outputText value="Cheque" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['completed_years_of_services']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.completedYearsOfServices}" /></span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['date_of_submission']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.dateOfSummision}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="{loginBean.timeZone}" />
												</h:outputText> </span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['commencement_on_notice_period']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.commencementNoticePeriod}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['any_due_if_any']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.dueAmount}" /></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['amt_withheld_which_paid_on_realiz/finaliz']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.realizationAmount}" /></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['name_of_previous_work_place']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.previousWorkPlace}" /></span>
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['any_pending_lapses_or_recoveries']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.pendingLapses}" /></span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form-group ">
											<p:outputLabel value="#{msg['remark']}" />
											<span class=""><h:outputText
													value="#{empRetirementRequestBean.empGeneralInfoDto.remarks}" /></span>
										</div>
									</div>
								</div>
								<!-- Forward Section -->
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['frwd_to']}" />
										<span class="text-danger">*</span>
										<div class="form-group">
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="fwdto" styleClass="form-control"
														converter="#{entityConverter}"
														value="#{empRetirementRequestBean.empRetirementRequestNote.forwardTo}"
														required="#{not empty param[normalRmt.clientId] || not empty param[normalRmt.clientId]}"
														requiredMessage="#{msg['forward_to_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems var="user"
															value="#{empRetirementRequestBean.forwardToUsersList}"
															itemValue="#{user}"
															itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
														<p:ajax event="change" />
													</h:selectOneMenu>
												</ui:remove>
												<p:autoComplete id="fwdto" minQueryLength="2"
													styleClass="form-control" converter="#{entityConverter}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{empRetirementRequestBean.empRetirementRequestNote.forwardTo}"
													itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{empRetirementRequestBean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="fwdto"></p:ajax>
												</p:autoComplete>
											</div>
											<h:message for="fwdto" class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_for']}" />
											<span class="text-danger">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="fwdfor" styleClass="form-control"
													value="#{empRetirementRequestBean.empRetirementRequestNote.finalApproval}"
													required="#{not empty param[normalRmt.clientId] || not empty param[normalRmt.clientId]}"
													requiredMessage="#{msg['forward_for_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
												</h:selectOneMenu>
											</div>
											<h:message for="fwdfor" class="validation-error-label" />
										</div>
									</div>
								</div>
								<div class="row">
									<!-- view_note button -->
									<div class="col-lg-3 col-md-3 col-sm-3">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											styleClass="btn bg-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
									</div>
									<div class="col-lg-9 col-md-9 col-sm-9">
										<div class="text-right ">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn btn-sm bg-slate font-iconmoon m-l-10"
												onclick="window.location.href='#{request.contextPath}/pages/admin/retirement/listCompulsoryRetirement.xhtml'"
												immediate="true" />
											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												title="#{msg['submit']}" onclick="PF('progressDlg').show();"
												update="growls"
												action="#{empRetirementRequestBean.saveEmployeeCompulsoryRetirement}"
												oncomplete="PF('progressDlg').hide();"
												class="btn btn-sm bg-success font-iconmoon m-l-10">
											</p:commandButton>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>

		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0 top-100" width="80%">

			<p:outputPanel id="customerPanel">
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">#{msg['note']}
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1"
										value="#{empRetirementRequestBean.empRetirementRequestNote.note}"
										height="200" />
								</div>
							</div>
						</div>
						
						<div class="col-md-12">
							<div class="carousel slide media-carousel">
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row m-t-10">
											<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
												<div
													class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
													<ul class="list list-icons m-b-0">
														<li>
															<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
															<h6 class="m-t-0 text-center">Created By</h6>
														</li>
														<li>#{msg['name']} : #{empRetirementRequestBean.employeeMaster.firstName}
															#{empRetirementRequestBean.employeeMaster.lastName}</li>
														<li>#{msg['designation']} :
															#{empRetirementRequestBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
														<li>#{msg['date']} : #{empRetirementRequestBean.currentCreatedDate}</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media"
									class="right carousel-control">›</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onsuccess="PF('notedialog').hide()" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>
		<!-- /.add note dialogue -->
	</ui:define>
</ui:composition>