<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('VOLUNTARY_RETIREMENT_EDIT')}" />
		</f:metadata>
		<ui:param name="bean" value="#{empRetirementRequestBean}"></ui:param>
		<title>InfoTex | Voluntary Retirement</title>
		<!-- Page Header -->
		<div class="page-header page-header-default page-header-wizard">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['li_voluntary_retire']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['retiremnt']}</li>
						<li class="active">#{msg['li_voluntary_retire']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<p:outputLabel id="recordcount"
							value="#{bean.voluntaryRetirementTotalRecords}"
							styleClass="textb play_class" />
						- #{msg['voluntary_retire']}(#{msg['list_s']})
					</h6>
				</div>
				
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group  m-b-10">
						<p:outputPanel id="menupanel">
							<ui:remove>
								<p:commandButton value="&#xeda7; #{msg['generate_info']}"
									title="#{msg['generate_info']}" id="generateId"
									action="#{bean.showEmployeeGeneralInformation}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" update="growls"
									class="lobutton resbutmt5 btn bg-primary font-iconmoon">
									<f:setPropertyActionListener value="VOLUNTARY_GENERAL_INFO"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
							</ui:remove>
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}" id="addId"
								title="#{msg['view']}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								rendered="#{loginBean.userFeatures['VOLUNTARY_RETIREMENT_VIEW']}"
								action="#{bean.viewStatus}" update="growls"
								class="btn bg-info heading-btn  font-iconmoon ">
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{bean.clearPage}" class="btn bg-slate font-iconmoon">
								<f:setPropertyActionListener value="VOLUNTARY_RETIREMENT_LIST"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<p:dataTable id="normalRetirementList"
									widgetVar="voluntaryRetirementListTable" var="data"
									rowKey="#{data.id}" paginatorPosition="bottom" paginator="true"
									lazy="true"
									selection="#{empRetirementRequestBean.selectedNormalRetirementDto}"
									value="#{bean.normalEmployeeRetirementListLazy}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rowsPerPageTemplate="5,10,15" rowIndexVar="idx" rows="10"
									emptyMessage="#{msg['no_records_found']}">
									<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
										update=":#{p:component('addId')},#{p:component('menupanel')}" />
									<p:ajax event="filter" oncomplete="updateFilterSelection()" />

									<p:column headerText="#" class="width-3 text-center">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column filterable="true" filterBy="#{data.regionName}"
										sortBy="#{data.regionName}" filterMatchMode="contains"
										sortable="true" styleClass="width-10"
										headerText="#{msg['region_name']}">
										<h:outputText value="#{data.regionName}" />
									</p:column>

									<p:column filterable="true" filterBy="#{data.empCode}"
										sortBy="#{data.empCode}" filterMatchMode="contains"
										sortable="true" styleClass="text-center width-10"
										headerText="#{msg['emp_no']}">
										<h:outputText value="#{data.empCode}" />
									</p:column>

									<p:column filterable="true" filterBy="#{data.empName}"
										sortBy="#{data.empName}" filterMatchMode="contains"
										sortable="true" headerText="#{msg['emp_name']}"
										styleClass="width-10">
										<h:outputText value="#{data.empName}" />
									</p:column>


									<p:column headerText="#{msg['dob']}" filterable="true"
										filterBy="#{data.dob}" sortBy="#{data.dob}"
										styleClass="text-center form-group_calend width-10">
										<f:facet name="filter">
											<p:calendar id="dob" class="form-control calend-icon"
												navigator="true" placeholder="dd-MMM-yyyy"
												pattern="dd-MMM-yyyy">
												<p:ajax event="dateSelect"
													oncomplete="PF('voluntaryRetirementListTable').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.dob}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['dt_of_retire']}" filterable="true"
										filterBy="#{data.retirementDate}"
										sortBy="#{data.retirementDate}"
										styleClass="text-center form-group_calend width-10">
										<f:facet name="filter">
											<p:calendar id="retirementsDate"
												class="form-control calend-icon" navigator="true"
												placeholder="dd-MMM-yyyy" pattern="dd-MMM-yyyy">
												<p:ajax event="dateSelect"
													oncomplete="PF('voluntaryRetirementListTable').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.retirementDate}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['created_date']}"
										sortBy="#{data.createdDate}" filterable="true"
										filterBy="#{data.createdDate}"
										styleClass="text-center form-group_calend width-13">
										<f:facet name="filter">
											<p:calendar id="createdDate" class="form-control calend-icon"
												navigator="true" placeholder="dd-MMM-yyyy"
												pattern="dd-MMM-yyyy">
												<p:ajax event="dateSelect"
													oncomplete="PF('voluntaryRetirementListTable').filter()" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.createdDate}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column filterBy=" #{data.status}"
										headerText="#{msg['status']}" filterMatchMode="contains"
										filterable="true" sortBy=" #{data.status}"
										styleClass="text-center width-8">

										<f:facet name="filter">
											<h:selectOneMenu class="form-control select2"
												onchange="PF('voluntaryRetirementListTable').filter()"
												id="statusDropdown" valu="#{bean.selectedstatus}">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItem itemValue="SUBMITTED" itemLabel="SUBMITTED" />
												<f:selectItem itemValue="APPROVED" itemLabel="APPROVED" />
												<f:selectItem itemValue="REJECTED" itemLabel="REJECTED" />
												<f:selectItem itemValue="FINAL-APPROVED"
													itemLabel="FINAL APPROVED" />
											</h:selectOneMenu>
										</f:facet>
										<h:outputText value="#{data.status}"
											styleClass="label label-warning width-custom"
											rendered="#{data.status eq 'SUBMITTED'}" />

										<h:outputText value="#{data.status}"
											styleClass="label label-primary width-custom"
											rendered="#{data.status eq 'APPROVED'}" />

										<h:outputText value="#{data.status}"
											styleClass="label label-danger width-custom"
											rendered="#{data.status eq 'REJECTED'}" />

										<h:outputText value="#{data.status}"
											styleClass="label label-success width-custom"
											rendered="#{data.status eq 'FINAL-APPROVED'}" />
									</p:column>
									<p:column headerText="#{msg['select']}" selectionMode="single"
										styleClass="width-4 text-center" />
								</p:dataTable>
								<p:remoteCommand name="updateFilterSelection"
									update=":#{p:component('recordcount')}" autoRun="true" />
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>