<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('NORMAL_RETIREMENT_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{empRetirementRequestBean}"></ui:param>
		<title>InfoTex | Normal Retirement List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['li_normal_retire']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['retiremnt']}</li>
						<li class="active">#{msg['li_normal_retire']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{bean.normalRetirementTotalRecords}" id="recordcount"></h:outputText></strong>
						- #{msg['normal_retire']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['NORMAL_RETIREMENT_ADD']}"
								action="#{bean.retirementAction}"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="NORMAL_RETIREMENT_CREATE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
								title="#{msg['view']}" id="viewId"
								action="#{empRetirementRequestBean.viewStatus}"
								onclick="PF('progressDlg').show();"
								rendered="#{loginBean.userFeatures['NORMAL_RETIREMENT_VIEW']}"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{empRetirementRequestBean.clear}" immediate="true"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
								<f:setPropertyActionListener value="NORMAL_RETIREMENT_LIST"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
						</p:outputPanel>

					</div>
				</div>
			</div>




			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="normalRetirementList"
							widgetVar="normalRetirementListTable" var="data"
							rowKey="#{data.id}" paginatorPosition="bottom" paginator="true"
							lazy="true"
							selection="#{empRetirementRequestBean.selectedNormalRetirementDto}"
							value="#{bean.normalEmployeeRetirementListLazy}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15" rowIndexVar="idx" rows="10"
							emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:column headerText="#" class="width-5 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.refferenceNo}"
								sortBy="#{data.refferenceNo}" filterMatchMode="contains"
								sortable="true" styleClass="text-center"
								headerText="#{msg['ref_num']}">
								<h:outputText value="#{data.refferenceNo}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.empCount}"
								sortBy="#{data.empCount}" filterMatchMode="contains"
								sortable="true" styleClass="text-right"
								headerText="#{msg['tot_count']}">
								<h:outputText value="#{data.empCount}" />
							</p:column>
							<p:column headerText="#{msg['created_date']}"
								sortBy="#{data.createdDate}" filterable="true"
								filterBy="#{data.createdDate}"
								styleClass="text-center form-group_calend">
								<f:facet name="filter">
									<p:calendar id="popup" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('normalRetirementListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column filterBy=" #{data.status}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy=" #{data.status}"
								styleClass="text-center width-12">

								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('normalRetirementListTable').filter()"
										id="statusDropdown" valu="#{bean.selectedstatus}">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemValue="SUBMITTED" itemLabel="SUBMITTED" />
										<f:selectItem itemValue="APPROVED" itemLabel="APPROVED" />
										<f:selectItem itemValue="REJECTED" itemLabel="REJECTED" />
										<f:selectItem itemValue="FINAL-APPROVED"
											itemLabel="FINAL APPROVED" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.status}"
									styleClass="label label-warning width-custom"
									rendered="#{data.status eq 'SUBMITTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-primary width-custom"
									rendered="#{data.status eq 'APPROVED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'REJECTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'FINAL-APPROVED'}" />
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-6" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>

		</div>
	</ui:define>
</ui:composition>