<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>InfoTex | View Voluntary Retirement</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_voluntary_retire']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['retiremnt']}</li>
						<li class="active">#{msg['vi_voluntary_retire']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-5"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading ">
						<h6 class="panel-title">#{msg['voluntary_retire']}</h6>

					</div>
					<div class="pg-scroll-panel-1">
						<div class="panel-body p-t-10">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['emp_no']}" />
										<span class=""> <h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.empCode}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['emp_name']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.firstName} #{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.lastName}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['desgn']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.currentDesignation.name}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dob']}" />
										<span class=""> <h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.dob}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_joining']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.dateOfJoining}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText> </span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['dt_of_retire']}" />
										<span class=""> <h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeMaster.personalInfoEmployment.retirementDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['age']}&nbsp;(#{msg['as_on_date']})" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.age}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['actual_Service']}&nbsp;(#{msg['as_on_date']})" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.actualService}" /></span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['pending_disposal_of_charges']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.pendingDisposalCharges eq 'true' ? 'Yes' : 'No'}"
												class="">
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['punishment_in_force']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.punishmentInforce eq 'true' ? 'Yes' : 'No'}"
												class="">
											</h:outputText></span>
									</div>
								</div>
							</div>


							<div class="row view-style">
								<div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['if_yes_please_mention_the_details']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.punishmentInforceRemarks}" /></span>
									</div>
								</div>
							</div>


							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['amt_due_to']}</span>
							</h5>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['gratuity']}" />

										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.gratuityAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['others']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.otherAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['encashment_of_earned_leave']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.encashmentAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['un-Earned_leave_on_priv_affairs']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.unEarnedAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>
							</div>


							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['retire_Benefit_scheme']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.retirementBenefits}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>

									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_security_deposit']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.employeeSecurityDeposit}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['from_date']}&nbsp;(#{msg['interest_on_Emp_security_deposit']})" />
										<span class=""> <h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.fromDate ? '-' : empRetirementRequestBean.empGeneralInfoDto.fromDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</span>

									</div>
									<h:message for="fromdate" class="validation-error-label"></h:message>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['to_date']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />

										<span class=""><h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.toDate ? '-' : empRetirementRequestBean.empGeneralInfoDto.toDate}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText> </span>

									</div>
									<h:message for="todate" class="validation-error-label"></h:message>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['percentage']}&nbsp; (#{msg['interest_on_Emp_security_deposit']})" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.percentage}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['others,_if_any_staff_welfare']}" />

										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.otherStaffWelfareAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['balance_gratuity']}" />

										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.balanceGratuity}">.
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ttl_amt']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueToTotalAmount}">
											</h:outputText></span>
									</div>
								</div>
							</div>

							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['amt_due_by']}</span>
							</h5>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['Stock_deficit']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.stockDeficit}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['credit_sales_dues']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.creditSalesDues}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['audit_objection']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.auditObjection}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_deposit']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.sundryDeposit}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_deposit_petty_cash']}" />
										<span class=""><h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.sundryPettyCash ? 0 : empRetirementRequestBean.empGeneralInfoDto.sundryPettyCash}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText> </span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sundry_depo_for_credit']}" />
										<span class=""><h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.sundryCreditSales ? 0 : empRetirementRequestBean.empGeneralInfoDto.sundryCreditSales}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['future_Adjstmnt']}" />
										<span class=""><h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.futureAdjustment ? 0 : empRetirementRequestBean.empGeneralInfoDto.futureAdjustment}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['lbl_rit']}" />
										<span class=""><h:outputText
												value="#{empty empRetirementRequestBean.empGeneralInfoDto.rit ? 0 : empRetirementRequestBean.empGeneralInfoDto.rit}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ttl_amt']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.amountDueByTotalAmount}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_Amt_to_be_settled']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.totalAmountToBeSettled}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['approx_amt_settled']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.approximateAmountSettled}">
												<f:convertNumber pattern="0.00"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['mode_payment_Cheque/DD']}" />
										<span class=""><h:outputText value="Cheque" /></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 view-style">
									<div class="form-group">
										<p:outputLabel value="#{msg['completed_years_of_services']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.completedYearsOfServices}" /></span>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 view-style">
									<div class="form-group">
										<p:outputLabel value="#{msg['date_of_submission']}" />
										<span class=""><h:outputText
												value="#{empRetirementRequestBean.empGeneralInfoDto.dateOfSummision}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText> </span>

									</div>
								</div>

								<p:outputPanel id="commencementDate">
									<div
										class="col-lg-3 col-md-3 col-sm-6 col-xs-12 label-form custom-form-1">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['commencement_on_notice_period']}" />
											<span class="text-danger">*</span>
											<div class="form-group form-group_calend">
												<p:calendar id="insdate" required="true"
													requiredMessage="#{msg['commencement_on_notice_period_required']}"
													disabled="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction eq false?true:false
													or empRetirementRequestBean.selectedNormalRetirementDto.status eq 'FINAL-APPROVED'}"
													value="#{empRetirementRequestBean.empRetirementRequestDTO.commencementNoticePeriod}"
													mindate="new Date()" pattern="dd-MMM-yyyy"
													placeholder="dd-MMM-yyyy" navigator="true"
													styleClass="form-control-1 calend-icon-1">
												</p:calendar>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 label-form">
										<div class="form-group">
											<p:outputLabel value="#{msg['any_due_if_any']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-inr fa-lg"></i></span>
												<p:inputNumber required="true" id="otherDues"
													value="#{empRetirementRequestBean.empRetirementRequestDTO.otherDues}"
													requiredMessage="#{msg['other_due_required']}"
													disabled="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction eq false?true:false
													or empRetirementRequestBean.selectedNormalRetirementDto.status eq 'FINAL-APPROVED'}"
													styleClass="text-right"></p:inputNumber>
											</div>
											<h:message for="otherDues" class="validation-error-label"></h:message>
										</div>
									</div>
								</p:outputPanel>
							</div>

							<p:outputPanel id="remarksDate">
								<div class="row label-form">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="form-group ">
											<p:outputLabel value="#{msg['remark']}" />
											<span class="text-danger">*</span>
											<p:inputTextarea rows="4" required="true"
												requiredMessage="#{msg['remark_req']}"
												disabled="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction eq false?true:false
												or empRetirementRequestBean.selectedNormalRetirementDto.status eq 'FINAL-APPROVED'}"
												value="#{empRetirementRequestBean.empRetirementRequestDTO.retirementRemarks}"
												class="form-control cust-textarea-height cust-dis-textarea" />
										</div>
									</div>
								</div>
							</p:outputPanel>

							<p:outputPanel id="forwardForwartToValidation">
								<div class="row label-form">
									<h:panelGroup
										rendered="#{empRetirementRequestBean.viewEmpRetirementRequestDTO.empRetirementRequestNote.finalApproval ne true}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_to']}" for="forwardTo" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardTo" rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>

													<c:choose>
														<c:when
															test="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction}">
															<ui:remove>
																<h:selectOneMenu id="forwardTo"
																	styleClass="form-control"
																	converter="#{entityConverter}"
																	value="#{empRetirementRequestBean.empRetirementRequestDTO.userId}"
																	requiredMessage="#{msg['forward_to_required']}">
																	<f:selectItem itemLabel="Select"
																		noSelectionOption="false" />
																	<f:selectItems
																		value="#{empRetirementRequestBean.forwardToUsersList}"
																		var="ftList"
																		itemLabel="#{ftList.empCode} / #{ftList.empName}"
																		itemValue="#{ftList.id}" />
																</h:selectOneMenu>
															</ui:remove>
															<p:autoComplete id="forwardTo" minQueryLength="2"
																styleClass="form-control" converter="#{entityConverter}"
																required="#{not empty param[preview.clientId]}"
																requiredMessage="Forward to #{msg['required']}"
																value="#{empRetirementRequestBean.empRetirementRequestDTO.userMaster}"
																itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
																completeMethod="#{empRetirementRequestBean.loadAutoCompleteUserMaster}"
																effect="fade">
																<p:ajax event="itemSelect" update="forwardTo"></p:ajax>
															</p:autoComplete>
														</c:when>
														<c:otherwise>
															<ui:remove>
																<h:selectOneMenu id="forwardTo"
																	styleClass="form-control" disabled="true"
																	value="#{empRetirementRequestBean.empRetirementRequestDTO.userId}"
																	requiredMessage="#{msg['forward_to_required']}">
																	<f:selectItem itemLabel="Select"
																		noSelectionOption="true" />
																	<f:selectItems
																		value="#{empRetirementRequestBean.forwardToUsersList}"
																		var="ftList"
																		itemLabel="#{ftList.empCode} / #{ftList.empName}"
																		itemValue="#{ftList.id}" />
																</h:selectOneMenu>
															</ui:remove>
															<p:autoComplete id="forwardTo" minQueryLength="2"
																disabled="true" styleClass="form-control"
																converter="#{entityConverter}"
																required="#{not empty param[preview.clientId]}"
																requiredMessage="Forward to #{msg['required']}"
																value="#{empRetirementRequestBean.empRetirementRequestDTO.userMaster}"
																itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
																completeMethod="#{empRetirementRequestBean.loadAutoCompleteUserMaster}"
																effect="fade">
																<p:ajax event="itemSelect" update="forwardTo"></p:ajax>
															</p:autoComplete>
														</c:otherwise>
													</c:choose>
												</div>
												<h:message for="forwardTo" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_for']}" for="forwardFor" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<c:choose>
														<c:when
															test="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction}">
															<h:selectOneMenu id="forwardFor"
																styleClass="form-control"
																converterId="javax.faces.Boolean"
																value="#{empRetirementRequestBean.empRetirementRequestDTO.finalApproval}"
																requiredMessage="#{msg['forward_for_is_required']}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" />
																<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
																<f:selectItem itemValue="true"
																	itemLabel="Final Approval"></f:selectItem>
															</h:selectOneMenu>
														</c:when>
														<c:otherwise>
															<h:selectOneMenu id="forwardFor" disabled="true"
																converterId="javax.faces.Boolean"
																styleClass="form-control"
																value="#{empRetirementRequestBean.empRetirementRequestDTO.finalApproval}"
																requiredMessage="#{msg['forward_for_is_required']}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" />
																<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
																<f:selectItem itemValue="true"
																	itemLabel="Final Approval"></f:selectItem>
															</h:selectOneMenu>
														</c:otherwise>
													</c:choose>
												</div>
												<h:message for="forwardFor" class="validation-error-label" />
											</div>
										</div>
									</h:panelGroup>
								</div>
							</p:outputPanel>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<h:panelGroup rendered="#{'SUBMITTED' ne empRetirementRequestBean.selectedNormalRetirementDto.status}">
										<p:commandButton value="&#xf067; #{msg['view_note']}"
											update="growls" title="#{msg['view_note']}"
											styleClass="btn bg-info btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>

										<p:commandButton value="&#xeb0d;" style="min-width:32px;"
											styleClass="btn btn-primary btn-md font-iconmoon"
											onclick="PF('commentdialog').show();"></p:commandButton>
									</h:panelGroup>

								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<div class="form-group m-b-0">
										<p:outputPanel id="approveRejectCondition">
											<p:commandButton update="growls,forwardForwartToValidation"
												immediate="true"
												rendered="#{empRetirementRequestBean.buttonShowsCondition and loginBean.userFeatures['VOLUNTARY_RETIREMENT_REJECT']}"
												onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												action="#{empRetirementRequestBean.approveReject}"
												value="&#xecf6;&nbsp;#{msg['reject']}"
												title="#{msg['reject']}" class="btn bg-danger font-iconmoon">
												<f:setPropertyActionListener value="REJECT"
													target="#{empRetirementRequestBean.empRetirementRequestDTO.approveReject}"></f:setPropertyActionListener>
											</p:commandButton>

											<c:choose>
												<c:otherwise>
													<p:commandButton
														rendered="#{empRetirementRequestBean.buttonShowsCondition and loginBean.userFeatures['VOLUNTARY_RETIREMENT_APPROVE']}"
														value="&#xecf5;&nbsp;#{msg['final_approve']}"
														onclick="PF('dlgComments1').show();"
														title="#{msg['approve']}"
														class="btn bg-success font-iconmoon">
														<f:setPropertyActionListener value="FINAL-APPROVED"
															target="#{empRetirementRequestBean.empRetirementRequestDTO.approveReject}"></f:setPropertyActionListener>
													</p:commandButton>
												</c:otherwise>
												<c:when
													test="#{empRetirementRequestBean.buttonShowsCondition and empRetirementRequestBean.approveButtonAction}">
													<p:commandButton
														rendered="#{empRetirementRequestBean.buttonShowsCondition and loginBean.userFeatures['VOLUNTARY_RETIREMENT_APPROVE']}"
														value="&#xecf5;&nbsp;#{msg['approve']}"
														onclick="PF('dlgComments1').show();"
														title="#{msg['approve']}"
														class="btn bg-success font-iconmoon">
														<f:setPropertyActionListener value="APPROVE"
															target="#{empRetirementRequestBean.empRetirementRequestDTO.approveReject}"></f:setPropertyActionListener>
													</p:commandButton>
												</c:when>
											</c:choose>

											<p:commandButton value="&#xeddf; #{msg['back']}"
												title="#{msg['back']}"
												action="#{empRetirementRequestBean.clearPage}"
												immediate="true" class="btn btn-sm bg-info font-iconmoon" />
										</p:outputPanel>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>


			</div>
		</div>
		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0 top-100">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 view-note-editor">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>

							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<form action="#">
										<div class="form-group">
											<p:textEditor cols="28" rows="30" height="150"
												value="#{empRetirementRequestBean.empRetirementRequestDTO.note}"
												requiredMessage="Note #{msg['required']}"
												placeholder="Enter text ..." rendered="true">
											</p:textEditor>
										</div>
									</form>
									<div class="carousel slide prime-media-carousel" id="media">
										<div class="item  active">
											<div class="row">
												<div class="col-lg-12 ph0">
													<p:carousel
														value="#{empRetirementRequestBean.empRetirementRequestDTO.viewLogList}"
														var="data" itemStyle="text-align:center" responsive="true">
														<div class="col-md-12 ph0">
															<div class="p-10 border-top-warning panel m-b-0">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h:panelGroup rendered="#{data.status=='SUBMITTED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['created_by']}</h6>
																		</h:panelGroup> <h:panelGroup rendered="#{data.status=='APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['approved_by']}</h6>
																		</h:panelGroup> <h:panelGroup
																			rendered="#{data.status=='FINAL-APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['final_approved_by']}</h6>
																		</h:panelGroup> <h:panelGroup rendered="#{data.status=='REJECTED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['rejected_by']}</h6>
																		</h:panelGroup>
																	</li>
																	<li>Name : #{data.employeeCodeAndName}</li>
																	<li>Designation : #{data.designationName}</li>
																	<li>Date : <h:outputText
																			value="#{data.createdDate}">
																			<f:convertDateTime pattern="dd-MM-yyyy"></f:convertDateTime>
																		</h:outputText></li>
																</ul>
															</div>
														</div>
													</p:carousel>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6e;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon"
										onsuccess="PF('notedialog').hide()" />

								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>

		</p:dialog>


		<!-- Comment Start -->
		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			width="80%" modal="true" showEffect="fade" hideEffect="fade"
			resizable="false" styleClass="p-0 top-100">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable m-b-15">
							<ul class="nav nav-tabs nav-tabs-bottom">
								<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
										class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
								<li><a href="#solid-tab2" data-toggle="tab"><i
										class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="solid-tab1">
									<table class="table table-striped cust-table">
										<tbody>
											<ui:repeat var="approveData"
												value="#{empRetirementRequestBean.viewEmpRetirementRequestDTO.approveCommentsDTOList}">
												<tr>
													<td class="width-15"><strong>#{msg['approve_comment']}</strong></td>
													<td><span class="pull-left">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right">#{approveData.displayName
															eq null?approveData.employeeName:approveData.displayName}
													</span> <br /> <span class="pull-left m-t-15">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																value="#{approveData.createdDate}">
																<f:convertDateTime
																	pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
															</h:outputText> </span></td>
													<td class="width-40"><h:inputTextarea disabled="true"
															name="enter-message" value="#{approveData.remarks}"
															class="form-control" rows="3" cols="1"></h:inputTextarea></td>
												</tr>
											</ui:repeat>
										</tbody>
									</table>
								</div>

								<div class="tab-pane" id="solid-tab2">
									<table class="table table-striped cust-table">
										<tbody>

											<ui:repeat var="rejectData"
												value="#{empRetirementRequestBean.viewEmpRetirementRequestDTO.rejectCommentsDTOList}">
												<tr>
													<td class="width-15"><strong>#{msg['reject_comments']}</strong></td>
													<td><span class="pull-left">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right">#{rejectData.displayName
															eq null?rejectData.employeeName:rejectData.displayName}</span> <br />
														<span class="pull-left m-t-15">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																value="#{rejectData.createdDate}">
																<f:convertDateTime
																	pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
															</h:outputText> </span></td>
													<td class="width-40"><h:inputTextarea disabled="true"
															name="enter-message" value="#{rejectData.remarks}"
															class="form-control" rows="3" cols="1"></h:inputTextarea></td>
												</tr>
											</ui:repeat>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- Comment End -->

		<p:dialog id="commentsRemark" modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%" focus="comments2">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{empRetirementRequestBean.remarks}" id="comments2">
								<p:ajax update="comments2"></p:ajax>
							</p:inputTextarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" onsuccess="PF('dlgComments1').hide()"
					class="btn bg-slate heading-btn  font-iconmoon" />
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					oncomplete="PF('dlgComments1').hide()" title="#{msg['submit']}"
					action="#{empRetirementRequestBean.approveReject}"
					update="growls,forwardForwartToValidation,commentsRemark,remarksDate"
					onstart="PF('statusDialog').show();" immediate="true"
					onsuccess="PF('statusDialog').hide();"
					class="btn bg-success heading-btn  font-iconmoon" />
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>