<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="entityForm">
			<title>LoomTypeMaster | Loom</title>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h4 class="page-title">#{msg['loom_master']}</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="text-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">#{msg['loom_master']}</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="panel panel-color panel-top-bor">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<p:outputPanel id="entityPanel">
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_code']}" />
											<span class="mand-sign-input">*</span>
											<p:inputText tabindex="1" autocomplete="off"
												a:autofocus="true" id="code"
												value="#{loomTypeMasterBean.loomTypeMaster.code}"
												class="form-control" maxlength="5"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['loom_code']} #{msg['required']}"
												onkeypress="return onlyAlphaNumberSpace(event)"
												disabled="#{loomTypeMasterBean.action eq 'EDIT'}">

											</p:inputText>
											<p:message for="code" />
											<p:tooltip for="code" value="#{msg['loom_code_valid_msg']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_name']}" />
											<span class="mand-sign-input">*</span>
											<p:inputText tabindex="2" id="name" autocomplete="off"
												value="#{loomTypeMasterBean.loomTypeMaster.name}"
												class="form-control" maxlength="50"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['loom_name']} #{msg['required']}"
												onkeypress="return onlyAlphaNumberSpace(event)">
											</p:inputText>
											<p:message for="name" />
											<p:tooltip for="name" value="#{msg['loom_name_valid_msg']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_local_name']}" />
											<span class="mand-sign-input">*</span>
											<p:inputText tabindex="3" id="regnlName" autocomplete="off"
												value="#{loomTypeMasterBean.loomTypeMaster.lname}"
												class="form-control" maxlength="50"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['loom_local_name_req']}"
												onkeypress="return onlyAlphaNumberSpace(event)">
											</p:inputText>
											<p:message for="regnlName" />
											<p:tooltip for="regnlName"
												value="#{msg['loom_local_valid_msg']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<h:selectOneMenu id="status"
												value="#{loomTypeMasterBean.loomTypeMaster.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
												<f:selectItem itemLabel="#{msg['inactive']}"
													itemValue="false" />
												<f:selectItem itemLabel="#{msg['all']}" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="text-right m-b-20">
									<div class="panel-heading pull-left m-t-10 ph0">
										<span class="mand-red">*</span> <span class="reqd_msg">#{msg['mrk_mand']}</span>
									</div>
									<!-- Clear Button -->
									<p:commandButton tabindex="5"
										value="&#xf12d;&nbsp; #{msg['clear']}" ajax="false"
										update="entityPanel entityTablePanel"
										actionListener="#{loomTypeMasterBean.clear}"
										rendered="#{loomTypeMasterBean.action eq 'ADD'}"
										class="btn btn-sm btn-cancel waves-effect waves-light fa-input" />
									<!-- Cancel Button -->
									<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
										ajax="false" update="entityPanel entityTablePanel"
										actionListener="#{loomTypeMasterBean.cancel}"
										rendered="#{loomTypeMasterBean.action eq 'EDIT'}"
										class="btn btn-sm btn-cancel waves-effect waves-light fa-input" />
									<!-- Search Button -->
									<p:commandButton tabindex="6"
										value="&#xf002;&nbsp; #{msg['search']}" ajax="false"
										update="entityForm entityPanel entityTablePanel growls"
										action="#{loomTypeMasterBean.searchLoom}"
										class="btn btn-sm btn-info waves-effect waves-light m-l-10 fa-input"
										rendered="#{loomTypeMasterBean.action eq 'ADD'}">
										<f:setPropertyActionListener value="Search"
											target="#{loomTypeMasterBean.buttonName}" />
									</p:commandButton>
									<!-- update Button -->
									<p:commandButton id="update" binding="#{update}" tabindex="4"
										value="&#xf00c;&nbsp; #{msg['update']}"
										update="entityPanel entityTablePanel growls"
										action="#{loomTypeMasterBean.updateData}"
										rendered="#{loomTypeMasterBean.action eq 'EDIT'}"
										class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10" />
								</div>
							</p:outputPanel>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="portlet">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['loom_master_list']}</h3>
									<div class="portlet-widgets">
										<!-- Submit Button -->
										<p:commandButton id="submit" binding="#{submit}"
											value="&#xf067;&nbsp; #{msg['add']}"
											update="entityPanel entityTablePanel growls"
											action="#{loomTypeMasterBean.submitLoom}"
											class="fa-input btn btn-xs btn-success waves-effect waves-light m-r-10"
											rendered="#{loomTypeMasterBean.action eq 'ADD'}">
											<f:setPropertyActionListener value="Add"
												target="#{loomTypeMasterBean.buttonName}" />
										</p:commandButton>
										<!-- Edit Button -->
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											id="edit" rendered="#{loomTypeMasterBean.action eq 'ADD'}"
											class="btn btn-xs btn-primary waves-effect waves-light fa-input m-r-10"
											update="entityPanel growls" binding="#{edit}"
											action="#{loomTypeMasterBean.showLoomDetails}">
											<f:setPropertyActionListener value="EDIT"
												target="#{loomTypeMasterBean.action}" />
										</p:commandButton>
										<!-- View Button -->
										<p:commandButton id="view"
											value="&#xf06e;&nbsp;#{msg['view']}"
											rendered="#{loomTypeMasterBean.action eq 'ADD'}"
											class="btn btn-xs btn-info waves-effect waves-light fa-input m-r-10"
											action="#{loomTypeMasterBean.showLoomDetails}"
											update="growls">
											<f:setPropertyActionListener value="VIEW"
												target="#{loomTypeMasterBean.action}" />
										</p:commandButton>
										<!-- Delete Button -->
										<p:commandButton id="delete"
											value="&#xf1f8;&nbsp;#{msg['delete']}"
											rendered="#{loomTypeMasterBean.action eq 'ADD'}"
											class="fa-input btn btn-xs btn-danger waves-effect waves-light m-l-10"
											action="#{loomTypeMasterBean.showLoomDetails}"
											update=" growls">
											<f:setPropertyActionListener value="DELETE"
												target="#{loomTypeMasterBean.action}" />
											<p:confirm header="#{msg['confirmation']}"
												message="#{msg['confirm_delete']} ?" />
											<p:confirm header="#{msg['confirmation']}"
												message="#{msg['confirm_delete']} ?" />
										</p:commandButton>
										<p:confirmDialog id="deleteDialog" global="true"
											visible="false" showEffect="fade" widgetVar="dlg1"
											rendered="#{not empty religionMasterBean.religion}"
											position="center">
											<div class="text-right">
												<p:commandButton ajax="false"
													value="&#xf00d;&nbsp; #{msg['no']}" type="button"
													action="#{religionMasterBean.clear}"
													update="table entity growls"
													styleClass="btn btn-sm btn-default ui-confirmdialog-no fa-input">
												</p:commandButton>
												<p:commandButton value="&#xf00c; #{msg['yes']}"
													type="button" ajax="false" update="table entity growls"
													styleClass="btn btn-sm btn-primary m-l-10 ui-confirmdialog-yes fa-input" />
											</div>
										</p:confirmDialog>
									</div>
									<div class="clearfix"></div>
								</div>
								<p:outputPanel id="entityTablePanel">
									<p:dataTable id="table" var="data" rowKey="#{data}"
										selection="#{loomTypeMasterBean.selectedLoomTypeMaster}"
										value="#{loomTypeMasterBean.loomTypeList}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rows="10" paginator="true" paginatorPosition="bottom"
										tableStyleClass="" rowsPerPageTemplate="5,10,15"
										rowIndexVar="idx">
										<p:column headerText="#{msg['serial_no']}"
											style="width:50px; text-align:center;">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['loom_code']}"
											styleClass="text-center">
											<h:outputText value="#{data.code}" />
										</p:column>
										<p:column headerText="#{msg['loom_name']}"
											styleClass="text-center">
											<h:outputText value="#{data.name}" />
										</p:column>
										<p:column headerText="#{msg['loom_local_name']}"
											styleClass="text-center">
											<h:outputText value="#{data.lname}" />
										</p:column>
										<p:column headerText="#{msg['created_date']}"
											styleClass="text-center">
											<h:outputText value="#{data.createdDate}">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-YYYY " />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['status']}"
											styleClass="text-center">
											<h:outputText
												styleClass="#{data.activeStatus eq true ? 'text-success':'text-danger'}"
												value="#{data.activeStatus eq true ? msg['active'] : msg['inactive'] }">
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['select']}" class="txt_cntr"
											selectionMode="single">
										</p:column>

										<!-- <f:facet name="footer">
											<p:commandLink
												class="btn btn-xs btn-primary waves-effect waves-light fa-input">
												<i class="fa fa-download"></i> PDF
							</p:commandLink>

											<p:commandLink
												class="btn btn-xs btn-success waves-effect waves-light fa-input m-l-10">
												<i class="fa fa-download"></i> Excel
							</p:commandLink>

										</f:facet> -->
									</p:dataTable>
									<p:confirmDialog id="masterDelete" global="true"
										showEffect="fade" position="center">
										<div class="text-right">
											<p:commandButton ajax="false" value="#{msg['no']}"
												type="button" update="entityForm table"
												styleClass="btn btn-sm btn-default ui-confirmdialog-no ">
											</p:commandButton>
											<p:commandButton value="#{msg['yes']}" type="button"
												styleClass="btn btn-sm btn-primary ui-confirmdialog-yes m-l-10" />
										</div>
									</p:confirmDialog>
								</p:outputPanel>
							</div>

						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>