<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="entityForm">
			<title>InfoTex | KNT Plan List</title>

			<!-- Page Header -->
			<div class="page-header page-header-default"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<i class="icon-arrow-left52 position-left"></i>#{msg['knt_pln_lst']}
						</h4>
						<ul class="breadcrumb">
							<li><a href="index.html"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li><a href="components_page_header.html">#{msg['admin']}</a></li>
							<li class="active">#{msg['knt_pln_lst']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<div class="heading-elements">
						<div class="heading-btn-group">
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="icon-info22 text-primary"></i> <span>#{msg['help']}</span></a>
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="glyphicon glyphicon-th text-primary"></i> <span>#{msg['quik_menu']}</span></a>
						</div>
					</div>  
				</div>
			</div>
			<!-- End Page Header -->

			<!-- Main content -->
			<div class="content">
				<div class="search-panel">
					<div class="panel panel-info panel-bordered">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['create_new_enty']}<a class="heading-elements-toggle"></a>
							</h6>
							<div class="heading-elements">
								<ul class="icons-list">
									<li><a href="" data-action="collapse" class=""></a></li>
								</ul>
							</div>
						</div>

						<div class="panel-body" style="display: block;">
							<p:outputPanel id="searchPanel">
								<div class="row">
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel for="planname" value="#{msg['plan_name']}" />
											<h:inputText id="planname"
												onkeypress="return checkAlphaNumericSpace(event)"
												value="#{kntPlanMasterBean.planName}" class="form-control"></h:inputText>
											<p:tooltip for="planname"
												value="#{msg['plan_name_valid_req_msg']}"></p:tooltip>
										</div>
									</div>

									<div class="col-sm-3">
										<div class="form-group">
											<label class="control-label">#{msg['inst_month']}</label>
											<h:selectOneMenu id="installmentmonth"
												styleClass="form-control"
												value="#{kntPlanMasterBean.instalmentMonth}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItems var="item" itemValue="#{item}"
													value="#{kntPlanMasterBean.installmentMonthList}"></f:selectItems>
											</h:selectOneMenu>
										</div>
									</div>

									<div class="col-sm-3">
										<div class="form-group">
											<label class="control-label">#{msg['status']}</label>
											<h:selectOneMenu id="status"
												styleClass="form-control int-drop"
												value="#{kntPlanMasterBean.activeStatus}">
												<f:selectItem itemLabel="#{msg['active']}"
													itemValue="#{true}"></f:selectItem>
												<f:selectItem itemLabel="#{msg['inactive']}"
													itemValue="#{false}"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>

									<div class="col-md-3 m-t-25">
										<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
											id="clear" class="btn bg-slate btn-xs font-iconmoon" title="Clear"
											update="searchPanel table"
											actionListener="#{kntPlanMasterBean.clear}">
										</p:commandButton>
										<p:commandButton value="&#xe98e;&nbsp;#{msg['search']}"
											id="search" class="btn bg-primary btn-xs font-iconmoon" title="Search"
											update="searchPanel table"
											actionListener="#{kntPlanMasterBean.search}">
										</p:commandButton>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>

				<!-- Contnet area -->

				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">
							Total Entities Types : 10 <a class="heading-elements-toggle"><i
								class="icon-more"></i></a>
						</h6>
						<div class="heading-elements">
							<div class="heading-btn">
								<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}" title="Edit"
									update="growls" action="#{kntPlanMasterBean.showForm}"
									styleClass="btn bg-primary btn-xs font-iconmoon">
									<f:setPropertyActionListener value="EDIT"
										target="#{kntPlanMasterBean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xea18;&nbsp;#{msg['view']}" title="View"
									update="growls" action="#{kntPlanMasterBean.showForm}"
									styleClass="btn bg-info btn-xs font-iconmoon m-r-10" icon="">
									<f:setPropertyActionListener value="VIEW"
										target="#{kntPlanMasterBean.action}"></f:setPropertyActionListener>
								</p:commandButton>
								<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}" title="Add"
									update="form" action="#{kntPlanMasterBean.showForm}"
									styleClass="btn bg-success btn-xs font-iconmoon">
									<f:setPropertyActionListener value="ADD"
										target="#{kntPlanMasterBean.action}"></f:setPropertyActionListener>
								</p:commandButton>
							</div>
						</div>
					</div>
					<div class="table-lay-a">
						<p:outputPanel id="entityTablePanel">
							<div class="table-responsive ">
								<p:dataTable id="table" var="data"
									selection="#{kntPlanMasterBean.kntPlanMasterDTO}"
									value="#{kntPlanMasterBean.kntPlanMasterDTOList}"
									rowKey="#{data}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rows="10" paginator="true" paginatorPosition="bottom"
									rowsPerPageTemplate="5,10,15" rowIndexVar="idx">
									<p:columnGroup type="header">
										<p:row>
											<p:column rowspan="2" headerText="#{msg['serial_no']}" />
											<p:column rowspan="2" headerText="#{msg['plan_name']}" />
											<p:column rowspan="2" headerText="#{msg['pro_cat']}" />
											<p:column rowspan="2" headerText="#{msg['inst_month']}" />
											<p:column colspan="2" headerText="#{msg['inst_amt']}" />
											<p:column rowspan="2" headerText="#{msg['reb_per']}" />
											<p:column rowspan="2" headerText="#{msg['dis_per']}" />
											<p:column rowspan="2" headerText="#{msg['created_date']}" />
											<p:column rowspan="2" headerText="#{msg['modified_date']}" />
											<p:column rowspan="2" headerText="#{msg['status']}" />
											<p:column rowspan="2" headerText="#{msg['select']}" />
										</p:row>
										<p:row>
											<p:column headerText="#{msg['min']}" />
											<p:column headerText="#{msg['max']}" />
										</p:row>
									</p:columnGroup>
									<p:column style="width:50px; text-align:center;">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column>
										<h:outputText value="#{data.planName}" />
									</p:column>
									<p:column>
										<h:outputText value="Product Category">
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText value="#{data.instalmentMonth}" />
									</p:column>
									<p:column styleClass="text-right">
										<h:outputText value="#{data.minAmount}" />
									</p:column>
									<p:column styleClass="text-right">
										<h:outputText value="#{data.maxAmount}" />
									</p:column>
									<p:column styleClass="text-right">
										<h:outputText value="#{data.rebatePercentage}" />
									</p:column>
									<p:column styleClass="text-right">
										<h:outputText value="#{data.discountPercentage}" />
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText value="#{data.createdDate}">
											<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText value="#{data.modifiedDate}">
											<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center">
										<h:outputText
											styleClass="#{data.activeStatus eq true ? 'label bg-success-400':'label bg-danger-400'}"
											value="#{data.activeStatus eq true ? msg['active'] : msg['inactive'] }">
										</h:outputText>
									</p:column>
									<p:column styleClass="text-center" selectionMode="single">
									</p:column>
								</p:dataTable>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>


		</h:form>
	</ui:define>
</ui:composition>


