<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Lab Master</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['lab_master']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">#{msg['lab_master']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ent_typ']}" />
									<span class="mand-red">*</span> <select class="form-control">
										<option>Select</option>
										<option>Thiruchangkodu</option>
										<option>Karupatti palayam</option>
										<option>Ramapuram</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['region']}" />
									<span class="mand-red">*</span> <select class="form-control">
										<option>Select</option>
										<option>Thiruchangkodu</option>
										<option>Karupatti palayam</option>
										<option>Ramapuram</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['addl1']}" />
									<span class="mand-red">*</span> <input type="text"
										class="form-control" placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['laddl1']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['addl2']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['laddl2']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->


							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['country']}" />
									<span class="mand-red">*</span> <select class="form-control">
										<option>Select</option>
										<option>America</option>
										<option>Belgium</option>
										<option>India</option>
									</select>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<span class="mand-red">*</span> <select class="form-control">
										<option>Select</option>
										<option>Delhi</option>
										<option>Kolkata</option>
										<option>Tamilnadu</option>
									</select>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['dist']}" />
									<span class="mand-red">*</span> <select class="form-control">
										<option>Select</option>
										<option>Chennai</option>
										<option>Madurai</option>
										<option>Selam</option>
									</select>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['city']}" />
									<select class="form-control">
										<option>Select</option>
										<option>Aynavaram</option>
										<option>Annanagar</option>
										<option>Tambaram</option>
									</select>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['vill']}" />
									<select class="form-control">
										<option>Select</option>
										<option>Aynavaram</option>
										<option>Annanagar</option>
										<option>Tambaram</option>
									</select>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['taluk']}" />
									<select class="form-control">
										<option>Select</option>
										<option>Aynavaram</option>
										<option>Annanagar</option>
										<option>Tambaram</option>
									</select>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['area']}" />
									<select class="form-control">
										<option>Select</option>
										<option>Aynavaram</option>
										<option>Annanagar</option>
										<option>Tambaram</option>
									</select>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['lmark']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['llmark']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['pcode']}" />
									<span class="mand-red">*</span> <input type="text"
										class="form-control" placeholder="Max Length 10" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['cname']}" />
									<span class="mand-red">*</span> <input type="text"
										class="form-control" placeholder="Max Length 50" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['lcname']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 50" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['cnum']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 150" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['email']}" />
									<input type="text" class="form-control"
										placeholder="Max Length 100" />
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-6 col-xs-12 panel-heading">
										<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
									</div>
									<div class="col-lg-6 col-xs-12 text-right">
										<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
										<h:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
											styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
									</div>
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
