<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:ui="http://java.sun.com/jsf/facelets"
 xmlns:h="http://java.sun.com/jsf/html"
 xmlns:f="http://java.sun.com/jsf/core"
 xmlns:p="http://primefaces.org/ui"
 template="/pages/template/layout.xhtml">
 <ui:define name="content">
  <title>InfoTex | Designation List</title>
  
  <div class="page-header page-header-default">
   <div class="page-header-content">
    <div class="page-title">
     <h4>Designation List
     </h4>
     <ul class="breadcrumb">
      <li><a href=""><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
      <li>Master</li>
      <li class="active">Master List</li>
     </ul>
    </div>
   </div>
  </div>
  
  <div class="content">
   <div class="row">
    <div class="col-lg-6">
     <h6 class="panel-title m-t-5">
      <span class="textb">5</span> - Total Designations
     </h6>
    </div>
    <div class="col-lg-6 text-right">
     <div class="form-group m-b-10">
     <p:commandButton value="&#xea0e; #{msg['add']}"
       title="#{msg['add']}"
       onclick="location.href='addDesignation.xhtml'"
       class="btn bg-success font-iconmoon">
      </p:commandButton>
      <p:commandButton value="&#xe912; #{msg['edit']}"
       title="#{msg['edit']}"
       class="btn bg-primary font-iconmoon">
      </p:commandButton> 
      <p:commandButton value="&#xea18; #{msg['view']}"
       title="#{msg['view']}"
       onclick="location.href='viewDesignation.xhtml'"
       class="btn bg-info font-iconmoon">
      </p:commandButton>
      <p:commandButton value="&#xe99e; #{msg['delete']}"
       title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
      </p:commandButton>

      <p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
       title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
      </p:commandButton>
     </div>
    </div>
   </div>
   
   <div class="panel">
    <div class="panel-body p-0">
     <div class="table-responsive">
      <table class="table cust-table">
       <thead>
        <tr>
         <th class="ui-state-default text-center"><span
          class="ui-column-title ">#</span></th>
          <th class="ui-state-default text-center width-12"><p:outputLabel
           value="Designation Code" /> <span
          class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
          <p:inputText value="" class="form-control" /></th>
          <th class="ui-state-default text-center width-12"><p:outputLabel
           value="Department Name" /> <span
          class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
          <h:selectOneMenu class="form-control">
          
          <f:selectItem itemLabel="Admin" />
           <f:selectItem itemLabel="Marketing" />
           <f:selectItem itemLabel="Technical" />
           <f:selectItem itemLabel="Select" />
          </h:selectOneMenu></th>
          <th class="ui-state-default text-center "><p:outputLabel
           value="Designation Name" /> <span
          class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
          <h:selectOneMenu class="form-control">
          <f:selectItem itemLabel="Salesman" />
           <f:selectItem itemLabel="Supervisor" />
           <f:selectItem itemLabel="Manager" />
           <f:selectItem itemLabel="Select" />
          </h:selectOneMenu></th>
          <th class="ui-state-default text-center "><p:outputLabel
           value="Designation Name (in Tamil)" /> <span
          class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
          <h:selectOneMenu class="form-control">
          <f:selectItem itemLabel="Salesman" />
           <f:selectItem itemLabel="Supervisor" />
           <f:selectItem itemLabel="Manager" />
           <f:selectItem itemLabel="Select" />
          </h:selectOneMenu></th>
          <th class="ui-state-default text-center"><p:outputLabel
           value="#{msg['status']}" /> <span
          class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
          <h:selectOneMenu class="form-control">
           <f:selectItem itemLabel="Active" />
           <f:selectItem itemLabel="In-Active" />
           <f:selectItem itemLabel="Select" />
          </h:selectOneMenu></th>
          <th class="ui-state-default text-center"><p:outputLabel
           value="#{msg['select']}" /></th>
        </tr>
       </thead>
       
       <tbody>
       <tr>
         <td class="text-center">1</td>
         <td>D42536</td>
         <td>Marketing</td>
         <td>Salesman</td>
         <td>விற்பனையாளர்</td>
         <td class="text-success text-center"><span
          class="label label-success sts_shortl">Active</span></td>
         <td class="text-center"><input type="radio" /></td>
        </tr>
        <tr>
         <td class="text-center">2</td>
         <td>D54323</td>
         <td>Admin</td>
         <td>Supervisor</td>
         <td>மேற்பார்வையாளர்</td>
         <td class="text-success text-center"><span
          class="label label-success sts_shortl">Active</span></td>
         <td class="text-center"><input type="radio" /></td>
        </tr>
        <tr>
         <td class="text-center">3</td>
         <td>D54342</td>
         <td>Technical</td>
         <td>Manager</td>
         <td>மேலாளர்</td>
         <td class="text-success text-center"><span
          class="label label-danger sts_shortl">InActive</span></td>
         <td class="text-center"><input type="radio" /></td>
        </tr>
        
        <tr>
         <td class="text-center">4</td>
         <td>D58393</td>
         <td>Admin</td>
         <td>Finance Manager</td>
         <td>நிதி மேலாளர்</td>
         <td class="text-success text-center"><span
          class="label label-success sts_shortl">Active</span></td>
         <td class="text-center"><input type="radio" /></td>
        </tr>
        
        <tr>
         <td class="text-center">5</td>
         <td>D53443</td>
         <td>Marketing</td>
         <td>Senior Salesman</td>
         <td>மூத்த விற்பனையாளர்</td>
         <td class="text-success text-center"><span
          class="label label-success sts_shortl">Active</span></td>
         <td class="text-center"><input type="radio" /></td>
        </tr>
        
       </tbody>
       
       
       </table>
       <div
       class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
       <div class="dataTables_info m-r-10 m-b-10"
        id="DataTables_Table_0_info " role="status" aria-live="polite">Showing
        1 to 5 of 5 entries</div>
       <ul class="pagination pagination-separated">
        <li><a href="#">&lsaquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="disabled"><a href="#">2</a></li>
        <li class="disabled"><a href="#">3</a></li>
        <li class="disabled"><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li><a href="#">&rsaquo;</a></li>
        <li>
         <div class="dataTables_length" id="DataTables_Table_1_length">
          <label><select name="DataTables_Table_1_length"
           aria-controls="DataTables_Table_1"
           class="select2-hidden-accessible" tabindex="-1"
           aria-hidden="true"><option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option></select><span
           class="select2 select2-container select2-container--default"
           dir="ltr" style="width: auto;"><span class="selection"><span
             class="select2-selection select2-selection--single"
             role="combobox" aria-haspopup="true" aria-expanded="false"
             tabindex="0"
             aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
              class="select2-selection__rendered"
              id="select2-DataTables_Table_1_length-hy-container"
              title="10">10</span><span class="select2-selection__arrow"
              role="presentation"><b role="presentation"></b></span></span></span><span
            class="dropdown-wrapper" aria-hidden="true"></span></span></label>
         </div>
        </li>
       </ul>
      </div>
       </div>
       </div>
       </div>
   
  </div>
  
 </ui:define>
  </ui:composition>