<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Temporary Engagement List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Temporary Engagement List</h4>
					<ul class="breadcrumb">
						<li><a href=""><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Personnel</li>
						<li>HR</li>
						<li>#{msg['recruit_pro']}</li>
						<li>Temporary Engagement</li>
						<li class="active">Temporary Engagement List</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						<span class="textb">6</span> - Total Temporary Engagement
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}" onclick="location.href='createTemporaryEngagement.xhtml'"
							title="#{msg['view']}" target="_blank"
							class="btn bg-success font-iconmoon m-r-5">
						</p:commandButton>
						<p:commandButton value="&#xf164; #{msg['approve']}" onclick="location.href='approveTemporaryEngagement.xhtml'"
							title="#{msg['approve']}" class="btn bg-success fa-input">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}" onclick="location.href='viewTemporaryEngagement.xhtml'"
							title="#{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<table class="table cust-table">
						<thead>
							<tr>
								<th class="ui-state-default text-center"><span
									class="ui-column-title ">#</span></th>
								<th class="ui-state-default text-center "><p:outputLabel
										value="#{msg['ref_num']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<p:inputText value="" class="form-control" /></th>
								<th class="ui-state-default text-center"><p:outputLabel
										value="State" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<select class="form-control">
										<option>Select</option>
										<option>TamilNadu</option>
										<option>Maharashtra</option>
										<option>Andhra Pradesh</option>
										<option>Karnataka</option>
										<option disabled="disabled">Madhya Pradesh</option>
										<option disabled="disabled">Delhi</option>
										<option disabled="disabled">Assam</option>
										<option disabled="disabled">West Bengal</option>
										<option disabled="disabled">Odisha</option>
										<option disabled="disabled">Uttarkand</option>
										<option disabled="disabled">Jharkand</option>
										<option disabled="disabled">Nagaland</option>
										<option disabled="disabled">Arunachal Pradesh</option>
								</select></th>
								
								<th class="ui-state-default text-center"><p:outputLabel
										value="#{msg['entity']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Head Office" />
										<f:selectItem itemLabel="Salem" />
										<f:selectItem itemLabel="Madurai" />
										<f:selectItem itemLabel="Kanchipuram" />
										<f:selectItem itemLabel="Vellore" />
										<f:selectItem itemLabel="Chennai" />
										<f:selectItem itemLabel="Cuddalore" />
										<f:selectItem itemLabel="Thanjavur" />
										<f:selectItem itemLabel="Tirunelveli" />
										<f:selectItem itemLabel="Coimbatore" />
										<f:selectItem itemLabel="Bangalore" />
										<f:selectItem itemLabel="Mumbai" />
										<f:selectItem itemLabel="Vijayawada" />
										<f:selectItem itemLabel="Select" />
										
									</h:selectOneMenu>
									</th>

								
								<th class="ui-state-default text-center"><p:outputLabel
										value="#{msg['dept']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Marketing" />
										<f:selectItem itemLabel="Technical" />
										<f:selectItem itemLabel="Admin" />
										<f:selectItem itemLabel="#{msg['select']}" />
									</h:selectOneMenu></th>
									
								<th class="ui-state-default text-center"><p:outputLabel
										value="Selection Year" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<select class="form-control">
										<option>Select</option>
										<option>2018</option>
										<option>2016</option>
										<option>2015</option>
										<option>2014</option>
										<option>2013</option>
										<option>2012</option>
										<option>2011</option>
										<option>2010</option>

								</select></th>
								
								<th class="ui-state-default text-center"><p:outputLabel
										value="Created Date" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<p:calendar placeholder="dd-mm-yyyy"
										styleClass="form-control calend-icon" pattern="DD-MM-YYYY"
										navigator="true" /></th>

								<th class="ui-state-default text-center"><p:outputLabel
										value="#{msg['status']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Approved" />
										<f:selectItem itemLabel="InProgress" />
										<f:selectItem itemLabel="Rejected" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu></th>
								<th class="ui-state-default text-center"><p:outputLabel
										value="#{msg['select']}" /></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td>Jan201833</td>
								<td>TamilNadu</td>
								<td>Chennai</td>
								<td>Marketing</td>
								<td class="text-center">2016</td>
								<td class="text-center">10 Mar 2017</td>
								<td class="text-success text-center"><span
									class="label label-warning sts_shortl">InProgress</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							
							<tr>
								<td class="text-center">2</td>
								<td>Jan201834</td>
								<td>TamilNadu</td>
								<td>Coimbatore</td>
								<td>Admin</td>
								<td class="text-center">2016</td>
								
								<td class="text-center">25 Jan 2017</td>
								<td class="text-success text-center"><span
									class="label label-success sts_shortl">Approved</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							
							<tr>
								<td class="text-center">3</td>
								<td>Jan201835</td>
								<td>TamilNadu</td>
								<td>Vellore</td>
								<td>Technical</td>
								<td class="text-center">2016</td>
								
								<td class="text-center">15 Nov 2016</td>
								<td class="text-success text-center"><span
									class="label label-danger sts_shortl">Rejected</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							
							<tr>
								<td class="text-center">4</td>
								<td>Jan201836</td>
								<td>TamilNadu</td>
								<td>Salem</td>
								<td>Marketing</td>
								<td class="text-center">2016</td>
								
								<td class="text-center">11 Sep 2016</td>
								<td class="text-success text-center"><span
									class="label label-warning sts_shortl">InProgress</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							
							<tr>
								<td class="text-center">5</td>
								<td>Jan201837</td>
								<td>TamilNadu</td>
								<td>Thanjavur</td>
								<td>Marketing</td>
								<td class="text-center">2016</td>
								
								<td class="text-center">01 Mar 2016</td>
								<td class="text-success text-center"><span
									class="label label-success sts_shortl">Approved</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							
							<tr>
								<td class="text-center">6</td>
								<td>Jan201838</td>
								<td>TamilNadu</td>
								<td>Madurai</td>
								<td>Admin</td>
								<td class="text-center">2016</td>
								<td class="text-center">05 Jan 2016</td>
								<td class="text-success text-center"><span
									class="label label-success sts_shortl">Approved</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
						</tbody>
					</table>

					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10 m-b-10"
							id="DataTables_Table_0_info " role="status" aria-live="polite">Showing 1 of 1</div>
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label><select name="DataTables_Table_1_length"
										aria-controls="DataTables_Table_1"
										class="select2-hidden-accessible" tabindex="-1"
										aria-hidden="true"><option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option></select><span
										class="select2 select2-container select2-container--default"
										dir="ltr" style="width: auto;"><span class="selection"><span
												class="select2-selection select2-selection--single"
												role="combobox" aria-haspopup="true" aria-expanded="false"
												tabindex="0"
												aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
													class="select2-selection__rendered"
													id="select2-DataTables_Table_1_length-hy-container"
													title="10">10</span><span class="select2-selection__arrow"
													role="presentation"><b role="presentation"></b></span></span></span><span
											class="dropdown-wrapper" aria-hidden="true"></span></span></label>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>