<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | Office Profile</title>
		<h:form id="officeForm">
			<!-- Page Header -->
			<div class="page-header page-header-default"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<h:outputLabel rendered="#{officeMasterBean.action eq 'ADD'}">#{msg['crt_ofc_pro']}</h:outputLabel>
							<h:outputLabel rendered="#{officeMasterBean.action eq 'EDIT'}">#{msg['edit']} #{msg['ofc_profile']}</h:outputLabel>
							<h:outputLabel rendered="#{officeMasterBean.action eq 'VIEW'}">#{msg['view']} #{msg['ofc_profile']}</h:outputLabel>
						</h4>
						<ul class="breadcrumb">
							<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active"><h:outputLabel
									rendered="#{officeMasterBean.action eq 'ADD'}">#{msg['crt_ofc_pro']}</h:outputLabel>
								<h:outputLabel rendered="#{officeMasterBean.action eq 'EDIT'}">#{msg['edit']} #{msg['ofc_profile']}</h:outputLabel>
								<h:outputLabel rendered="#{officeMasterBean.action eq 'VIEW'}">#{msg['view']} #{msg['ofc_profile']}</h:outputLabel>
							</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<div class="heading-elements">
						<div class="heading-btn-group">
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="icon-info22 text-primary"></i> <span>#{msg['help']}</span></a>
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="glyphicon glyphicon-th text-primary"></i> <span>#{msg['quik_menu']}</span></a>
						</div>
					</div>
				</div>
				</div>
				<!-- Page Header End -->
				<p:outputPanel id="officeInputPanel">
				<div class="content">
					<div class="search-panel">
						<div class="panel panel-flat">
							<div class="panel-body" style="display: block;">
							<div class="panel-body">
									<div class="tabbable">
										<ul class="nav nav-tabs nav-tabs-highlight">
											<li class="active"><a href="#css-animate-tab1" data-toggle="tab">Stage-1</a></li>
											<li><a href="#css-animate-tab2" data-toggle="tab">Stage-2</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane animated bounceIn active" id="css-animate-tab1">
											<p:outputPanel rendered="#{officeMasterBean.action ne 'VIEW'}">
										<p:outputLabel class="mand-sign" value="*" />
										<span class="text12 m-l-5">#{msg['marked_field_mandatory']}</span>
								</p:outputPanel>
												<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['ent_typ']}"
												styleClass="control-label" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<h:selectOneMenu id="entityId"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['ent_typ']} #{msg['required']}"
												converter="#{entityConverter}"
												value="#{officeMasterBean.officeMasterDto.entityMasterDto}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems var="entity" itemValue="#{entity}"
													itemLabel="#{entity.entityName}"
													value="#{officeMasterBean.entityMasterDtoList}" />
												<p:ajax update="msgEntity" event="change" />
											</h:selectOneMenu>
											<p:message id="msgEntity" for="entityId" />
										</div>
										<div class="form-group">
											<p:outputLabel value="#{msg['ofc_loc_nm']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="locId" maxlength="50" class="form-control"
												autocomplete="off" onkeypress="return allowOnlyAlphabets(event)"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												value="#{officeMasterBean.officeMasterDto.localName}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												requiredMessage="#{msg['ofc_loc_nm']} #{msg['required']}">
												<p:ajax update="locMsg" event="keyup" />
											</p:inputText>
											<p:message for="locId" id="locMsg" />
											<p:outputPanel class="page-title"
												rendered="#{officeMasterBean.action eq 'ADD' or officeMasterBean.action eq 'VIEW'}">
												<p:tooltip for="locId"
													value="#{msg['ofc_loc_nm']} #{msg['required']}" />
											</p:outputPanel>
										</div>
										
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['office_name']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="offNameId"
												value="#{officeMasterBean.officeMasterDto.name}"
												autocomplete="off" onkeypress="return allowOnlyAlphabets(event)"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['office_name']} #{msg['required']}"
												validatorMessage="#{msg['office_name_valid_msg']}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												maxlength="50" class="form-control">
												<p:ajax update="msgLastname" event="keyup" />
											</p:inputText>
											<p:message for="offNameId" id="msgLastname" />
											<p:tooltip for="offNameId"
												value="#{msg['office_name_valid_msg']}" />
										</div>
										<div class="form-group">
											<p:outputLabel value="#{msg['gst_no']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="gstId" maxlength="15" class="form-control"
												autocomplete="off"
												onkeyup="this.value=this.value.toUpperCase();"
												value="#{officeMasterBean.officeMasterDto.gstNumber}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												validatorMessage="#{msg['valid_gst_num']}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												requiredMessage="#{msg['gst_no']} #{msg['required']}">
												<f:validateRegex pattern="^[a-zA-Z0-9_]*$" />
												<p:ajax update="gstNo" event="keyup" />
											</p:inputText>
											<p:keyFilter for="gstId" mask="alphanum" />
											<p:message for="gstId" id="gstNo" />
											<p:tooltip for="gstId" value="#{msg['valid_gst_num']}" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<p:outputLabel value="#{msg['office_add']}"	class="control-label" />
											<p:outputLabel rendered="#{officeMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<p:inputTextarea id="addTextId" class="form-control b-hgt"
												rows="5" cols="33" disabled="true"
												value=""></p:inputTextarea>
										</div>
									</div>

									<div class="col-md-2 ph0" style="margin-top:28px;">
										<label class="control-label"></label>
										<!-- Add Address Details  -->
										<p:commandButton value="&#xea0e;&nbsp;#{msg['add_adrs']}"
											onclick="PF('dlg1').show();"
											
											class="btn bg-info btn-xs font-iconmoon" />

										<p:commandButton value="&#xea0e;&nbsp;#{msg['update_adrs']}"
											onclick="PF('dlg1').show();"
											
											class="btn bg-info btn-xs font-iconmoon" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['regional_office']}"
												styleClass="control-label" />
											<h:selectOneMenu id="regionId"
												converter="#{entityConverter}"
												value="#{officeMasterBean.officeMasterDto.regionId}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems var="region" itemValue="#{region}"
													itemLabel="#{region.name}"
													value="#{officeMasterBean.officeMasterRegionList}" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<h4 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i> #{msg['bnk_dtl']}</span>
								</h4>
								<hr></hr>
								<div class="row">
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['bnk_name']}"
												styleClass="control-label" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<h:selectOneMenu id="bankId1" converter="#{entityConverter}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['bnk_name']} #{msg['req']}"
												value="#{officeMasterBean.officeMasterDto.bankMasterDTO}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems var="bank" itemValue="#{bank}"
													itemLabel="#{bank.bankName}"
													value="#{officeMasterBean.bankMasterDtoList}" />
												<p:ajax update="bid" event="change" />
											</h:selectOneMenu>
											<p:message for="bankId1" id="bid" />
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['brn_name']}"
												styleClass="control-label" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<h:selectOneMenu id="bankId2" converter="#{entityConverter}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['brn_name']} #{msg['req']}"
												value="#{officeMasterBean.officeMasterDto.bankMasterDTO}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												class="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems var="bank" itemValue="#{bank}"
													itemLabel="#{bank.branchName}"
													value="#{officeMasterBean.bankMasterDtoList}" />
												<p:ajax update="brnchMsg" event="change" />
											</h:selectOneMenu>
											<p:message for="bankId2" id="brnchMsg" />
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<p:outputLabel class="fa-input" value="#{msg['act_no']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="acNoId"
												requiredMessage="#{msg['act_no']} #{msg['req']}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												value="#{officeMasterBean.officeMasterDto.accountNumber}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												autocomplete="off" maxlength="20" class="form-control">
												<p:keyFilter mask="hex" />
												<p:ajax update="accMsg" event="keyup" />
											</p:inputText>
											<p:message for="acNoId" id="accMsg" />
											<p:tooltip for="acNoId"
												value="#{msg['bnk_acc_num_valid_msg']}" />
										</div>
									</div>
								</div>
								<h4 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i> #{msg['prmy_cont_dtl']}</span>
								</h4>
								<hr></hr>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_name']}" />
											<p:inputText
												value="#{officeMasterBean.primaryContactDto.contactName}"
												id="cname4" autocomplete="off" maxlength="50"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												class="form-control" />
											<p:tooltip for="cname4" value="#{msg['contact_name']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['local_contact']}" />
											<p:inputText
												value="#{officeMasterBean.primaryContactDto.localContactName}"
												id="locCname4" autocomplete="off" maxlength="50"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												class="form-control" />
											<p:tooltip for="locCname4" value="#{msg['local_contact']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_num']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText
												value="#{officeMasterBean.primaryContactDto.contactNumber}"
												id="conNumID" maxlength="12" class="form-control"
												autocomplete="off" onkeypress="return validMobileNumber(event)"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['contact_num']} #{msg['required']}">
												<p:ajax event="keyup" update="msgcid" />
											</p:inputText>
											<p:message for="conNumID" id="msgcid" />
											<p:tooltip for="conNumID" value="#{msg['valid_mob_num']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['email']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="mailId" maxlength="50" class="form-control"
												onkeyup="this.value=this.value.toLowerCase();"
												autocomplete="off"
												value="#{officeMasterBean.primaryContactDto.emailId}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												requiredMessage="#{msg['email']} #{msg['required']}">
												<p:ajax update="msgmail" event="keyup" />
											</p:inputText>
											<p:keyFilter for="mailId" mask="email" />
											<p:message for="mailId" id="msgmail" />
											<p:tooltip for="mailId" value="#{msg['email_id_valid_msg']}" />
										</div>
									</div>

								</div>
								
								
								
								
											</div>

											<div class="tab-pane animated fadeInUp" id="css-animate-tab2">
												<h4 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i> #{msg['sec_add']}</span>
								</h4>
								<hr></hr>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="cname5" value="#{msg['contact_name']}" />
											<p:inputText id="cname5"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												value="#{officeMasterBean.secondaryContactDto.contactName}"
												autocomplete="off" maxlength="50" class="form-control" />
											<p:tooltip for="cname5" value="#{msg['contact_name']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['local_contact']}" />
											<p:inputText
												value="#{officeMasterBean.secondaryContactDto.localContactName}"
												id="secCname4" autocomplete="off" maxlength="50"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												class="form-control" />
											<p:tooltip for="secCname4" value="#{msg['local_contact']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_num']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="conId1" maxlength="12" class="form-control"
												autocomplete="off"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												value="#{officeMasterBean.secondaryContactDto.contactNumber}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['contact_num']} #{msg['required']}">
												<p:ajax update="msgmobnum1" event="keyup" />
												<p:keyFilter mask="pnum" />
											</p:inputText>
											<p:message for="conId1" id="msgmobnum1" />
											<p:tooltip for="conId1" value="#{msg['valid_mob_num']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['email']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="mailId1" maxlength="50" class="form-control"
												onkeyup="this.value=this.value.toLowerCase();"
												value="#{officeMasterBean.secondaryContactDto.emailId}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												autocomplete="off"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['email']} #{msg['required']}">
												<p:ajax update="outmsgmail1" event="keyup" />
											</p:inputText>
											<p:message for="mailId1" id="outmsgmail1" />
											<p:tooltip for="mailId1" value="#{msg['email_id_valid_msg']}" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="email11" value="#{msg['fx_num']}" />
											<p:inputText autocomplete="off" id="email11" maxlength="12"
												class="form-control"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												value="#{officeMasterBean.secondaryContactDto.faxNumber}" />
											<p:keyFilter for="email11" mask="num" />
											<p:tooltip for="email11" value="#{msg['fax_req']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="email12" value="#{msg['note']}" />
											<p:inputText autocomplete="off" id="email12" maxlength="50"
												class="form-control"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												value="#{officeMasterBean.secondaryContactDto.note}" />
											<p:tooltip for="email12" value="#{msg['note']}" />
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
										<!-- Support Contact Details  -->
								<h4 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i> #{msg['sup_con_dtl']}</span>
								</h4>
								<hr></hr>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['email']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="mailId2"
												value="#{officeMasterBean.supportContactDto.emailId}"
												onkeyup="this.value=this.value.toLowerCase();"
												maxlength="50" class="form-control" autocomplete="off"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['email']} #{msg['required']}">
												<p:ajax update="supportCon" event="keyup" />
											</p:inputText>
											<p:message for="mailId2" id="supportCon" />
											<p:tooltip for="mailId2" value="#{msg['email_id_valid_msg']}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['fx_num']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="faxId1"
												value="#{officeMasterBean.supportContactDto.faxNumber}"
												maxlength="12" class="form-control" autocomplete="off"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												required="#{not empty param[submit.clientId] or not empty param[update.clientId]}"
												requiredMessage="#{msg['fx_num']} #{msg['required']}">
												<p:ajax update="supportFax" event="keyup" />
												<p:keyFilter mask="num" />
											</p:inputText>
											<p:message for="faxId1" id="supportFax" />
											<p:tooltip for="faxId1" value="#{msg['fax_req']}" />
										</div>
									</div>
									<div class="col-md-4"></div>
								</div>
								<div class="row m-b-10">
									<div class="col-md-12">
										<div class="text-right">
											<h:outputLabel class="page-title"
												rendered="#{officeMasterBean.action eq 'ADD' or officeMasterBean.action eq 'EDIT'}">
												<h6 class="mng m-r-10">#{msg['max_five']}</h6>
											</h:outputLabel>

											<p:commandButton id="newrowId" binding="#{newrowId}"
												class="btn bg-info btn-xs font-iconmoon"
												actionListener="#{officeMasterBean.newRow}"
												rendered="#{officeMasterBean.action eq 'ADD' or officeMasterBean.action eq 'EDIT'}"
												value="&#xea0e;&nbsp;#{msg['add_contct_details']}"
												update="dataTableContact growls" ajax="true" />
										</div>

									</div>
								</div>
								<div class="responsive-table cust_con_tab">
									<p:dataTable var="contact"
										value="#{officeMasterBean.supportContactDtoList}"
										id="dataTableContact" rowIndexVar="idx">
										<p:column headerText="#{msg['serial_no']}"
											style="width:50px; text-align:center;">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['contact_name']}"
											style="width:150px ">
											<h:inputText id="tabCname" value="#{contact.contactName}"
												class="form-control"
												disabled="#{officeMasterBean.action eq 'VIEW'}" />
											<p:tooltip for="tabCname" value="#{msg['contact_name']}" />
										</p:column>

										<p:column headerText="#{msg['local_contact']}"
											style="width:150px ">
											<h:inputText id="tabLocName"
												value="#{contact.localContactName}" class="form-control"
												disabled="#{officeMasterBean.action eq 'VIEW'}" />
											<p:tooltip for="tabLocName" value="#{msg['local_contact']}" />
										</p:column>

										<p:column headerText="#{msg['contact_num']} "
											style="width:100px">
											<f:facet name="header">
												<p>
													#{msg['contact_num']}
													<p:outputLabel
														rendered="#{officeMasterBean.action ne 'VIEW'}"
														class="mand-sign" value="*" />
												</p>
											</f:facet>
											<h:inputText id="contactId" value="#{contact.contactNumber}"
												class="form-control" maxlength="10" autocomplete="off"
												  ajax="true" required="#{not empty param[submit.clientId]}"
												requiredMessage="Required"
												disabled="#{officeMasterBean.action eq 'VIEW'}">
												<p:keyFilter mask="pnum" />
											</h:inputText>
											<p:tooltip for="contactId" value="#{msg['valid_mob_num']}" />
										</p:column>
										<p:column headerText="#{msg['note']}" style="width:125px">
											<h:inputText id="tabNote" value="#{contact.note}"
												class="form-control"
												disabled="#{officeMasterBean.action eq 'VIEW'}" />
											<p:tooltip for="tabNote" value="#{msg['note']}" />
										</p:column>

										<p:column headerText="#{msg['action']}" style="width:25px">
											<p:commandLink id="deletesalePersonLink"
												title="#{msg['delete']}"
												disabled="#{officeMasterBean.action eq 'VIEW'}"
												styleClass="ui-commandlink ui-widget btn btn-sm btn-danger waves-effect waves-light m-r-5"
												action="#{officeMasterBean.deleteAction(contact)}">
												<i class="fa fa-trash"></i>
												<p:confirm header="#{msg['confirmation']}"
													message="#{msg['confirm_delete']} ?" />
											</p:commandLink>
										</p:column>
									</p:dataTable>
									<p:confirmDialog id="masterDelete" global="true"
										showEffect="fade" position="center">
										<div class="text-right">
											<p:commandButton value="#{msg['no']}" type="button"
												update="officeForm officeInputPanel dataTableContact"
												styleClass="btn btn-sm btn-default ui-confirmdialog-no ">
											</p:commandButton>
											<p:commandButton value="#{msg['yes']}" type="button"
												styleClass="btn btn-sm btn-primary ui-confirmdialog-yes m-l-10" />
										</div>
									</p:confirmDialog>
								</div>
								<br></br>
								<div class="row">
									<div class="col-md-12 text-right">
										<!-- Back Button -->
										<p:commandButton value="&#xe916;&nbsp;#{msg['back']}"
											rendered="#{officeMasterBean.action eq 'VIEW'}"
											action="#{officeMasterBean.cancelMainForm}"
											class="btn bg-info btn-xs font-iconmoon" />
										<!-- Cancel Button -->
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											rendered="#{officeMasterBean.action eq 'EDIT' || officeMasterBean.action eq 'ADD'}"
											action="#{officeMasterBean.cancelMainForm}"
											class="btn bg-danger btn-xs font-iconmoon" />
										<!-- Submit Button -->
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											binding="#{submit}" id="submit"
											update="officeInputPanel growls"
											action="#{officeMasterBean.submitMainForm}"
											rendered="#{officeMasterBean.action eq 'ADD'}"
											class="btn bg-success btn-xs font-iconmoon" />
										<!-- Update Button  -->
										<p:commandButton value="&#xe9fb;&nbsp;#{msg['update']}"
											binding="#{update}" id="update"
											update="officeInputPanel growls"
											action="#{officeMasterBean.submitMainForm}"
											rendered="#{officeMasterBean.action eq 'EDIT'}"
											class="btn bg-success btn-xs font-iconmoon" />
									</div>
								</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				</p:outputPanel>
		</h:form>
		<p:outputPanel id="addressPanel">
			<p:dialog class="modal-title clr_thm_blu cust_modal" resizable="false"
				visible="#{not empty param[add.clientId] or not empty param[updateAdd.clientId]}"
				id="dialoge" binding="#{dialoge}"
				disabled="#{officeMasterBean.action eq 'VIEW'}"
				header="#{msg['add_add_dtl']}" modal="true" widgetVar="dlg1"
				minHeight="40">
				<!-- Row 1 -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_one']}" />
							<p:inputText id="addsId"
								required="#{not empty param[add.clientId] or not empty param[updateAdd.clientId]}"
								requiredMessage="#{msg['addr_one']} #{msg['req']}"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.addressLineOne}"
								autocomplete="off" a:autofocus="true"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								class="form-control">
							</p:inputText>
							<p:message for="addsId" id="addMsg" />
							<p:tooltip for="addsId" value="#{msg['addr_one']}" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_two']}" />
							<p:inputText id="twoAId"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.addressLineTwo}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								styleClass="form-control" />
							<p:tooltip for="twoAId" value="#{msg['addr_two']}" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_three']}"
								styleClass="control-label" />
							<p:inputText
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.addressLineThree}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" id="threeAid"
								maxlength="50" styleClass="form-control" />
							<p:tooltip for="threeAid" value="#{msg['addr_three']}" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_one']}"
								styleClass="control-label" />
							<p:inputText
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.locAddressLineOne}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								styleClass="form-control" id="locOne" />
							<p:tooltip for="locOne" value="#{msg['loc_addr_one']}" />
						</div>
					</div>
				</div>

				<!-- Row 2  -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_two']}"
								styleClass="control-label" />
							<p:inputText
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.locAddressLineTwo}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								class="form-control" id="locTwo" />
							<p:tooltip for="locTwo" value="#{msg['loc_addr_two']}" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_three']}"
								styleClass="control-label" />
							<p:inputText
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.locAddressLineThree}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								class="form-control" id="locTre" />
							<p:tooltip for="locTre" value="#{msg['loc_addr_three']}" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['state']}" class="control-label" />
							<p:outputLabel rendered="#{officeMasterBean.action ne 'VIEW'}"
								class="mand-sign" value="*" />
							<h:selectOneMenu id="stateId" styleClass="form-control"
								converter="#{entityConverter}"
								required="#{not empty param[add.clientId] or not empty param[updateAdd.clientId]}"
								disabled="#{officeMasterBean.action eq 'VIEW'}"
								requiredMessage="#{msg['select']} #{msg['state']}"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.stateMasterDto}">
								<p:ajax listener="#{officeMasterBean.onStateChange}"
									update="districtId talukId stateMsg" />
								<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItems var="state" itemValue="#{state}"
									itemLabel="#{state.name}"
									value="#{officeMasterBean.stateMasterDtoList}" />
							</h:selectOneMenu>
							<p:message for="stateId" id="stateMsg" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['district']}"
								styleClass="control-label" />
							<p:outputLabel rendered="#{officeMasterBean.action ne 'VIEW'}"
								class="mand-sign" value="*" />
							<h:selectOneMenu id="districtId" converter="#{entityConverter}"
								required="#{not empty param[add.clientId] or not empty param[updateAdd.clientId]}"
								requiredMessage="#{msg['select']} #{msg['district']}"
								disabled="#{officeMasterBean.action eq 'VIEW'}"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.districtMasterDto}"
								styleClass="form-control">
								<p:ajax listener="#{officeMasterBean.onDistrictChange}"
									update="talukId distMsg" />
								<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItems var="district" itemValue="#{district}"
									itemLabel="#{district.name}"
									value="#{officeMasterBean.districtMasterDtoList}" />
							</h:selectOneMenu>
							<p:message for="districtId" id="distMsg" />
						</div>
					</div>
				</div>
				<!-- Row 3 -->
				<div class="row">
					<div class="col-md-3">
						<p:outputLabel value="#{msg['city']}" styleClass="control-label" />
						<h:selectOneMenu id="cityId" converter="#{entityConverter}"
							disabled="#{officeMasterBean.action eq 'VIEW'}"
							value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.cityMasterDto}"
							styleClass="form-control">
							<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems var="city" itemValue="#{city}"
								itemLabel="#{city.name}"
								value="#{officeMasterBean.cityMasterDtoList}" />
						</h:selectOneMenu>
					</div>
					<div class="col-md-3">
						<p:outputLabel value="#{msg['area']}" styleClass="control-label" />
						<h:selectOneMenu id="areaId" converter="#{entityConverter}"
							disabled="#{officeMasterBean.action eq 'VIEW'}"
							value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.areaMasterDto}"
							styleClass="form-control">
							<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
								noSelectionOption="true" />
							<f:selectItems var="area" itemValue="#{area}"
								itemLabel="#{area.name}"
								value="#{officeMasterBean.areaMasterDtoList}" />
						</h:selectOneMenu>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['taluk']}" styleClass="control-label" />
							<h:selectOneMenu id="talukId" converter="#{entityConverter}"
								disabled="#{officeMasterBean.action eq 'VIEW'}"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.talukMasterDto}"
								styleClass="form-control">
								<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
									noSelectionOption="true" />
								<f:selectItems var="taluk" itemValue="#{taluk}"
									itemLabel="#{taluk.name}"
									value="#{officeMasterBean.talukMasterDtoList}" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['pcode']}" styleClass="control-label" />
							<p:outputLabel rendered="#{officeMasterBean.action ne 'VIEW'}"
								class="mand-sign" value="*" />
							<p:inputText id="postelId"
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.postelCode}"
								required="#{not empty param[add.clientId] or not empty param[updateAdd.clientId]}"
								requiredMessage="#{msg['pcode']} #{msg['required']}"
								disabled="#{officeMasterBean.action eq 'VIEW'}"
								autocomplete="off" maxlength="6" class="form-control">
								<p:keyFilter regEx="/[\d\.]/" />
								<p:ajax event="keyup" update="postalMsg" />
							</p:inputText>
							<p:message for="postelId" id="postalMsg" />
							<p:tooltip for="postelId" value="#{msg['pcode']} #{msg['req']}" />
						</div>
					</div>
				</div>

				<!-- Row 4 -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['lmark']}" styleClass="control-label" />
							<p:inputText
								value="#{officeMasterBean.officeMasterDto.officeAddressMasterDTO.landMark}"
								autocomplete="off"
								disabled="#{officeMasterBean.action eq 'VIEW'}" maxlength="50"
								class="form-control" id="lmId" />
							<p:tooltip for="lmId" value="#{msg['lmark']}" />
						</div>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>
				</div>
				<div class="modal-footer ph0">
					<!-- Address Cancel Button  -->
					<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
						update="officeForm:addTextId addressPanel growls"
						rendered="#{officeMasterBean.action eq 'ADD' || officeMasterBean.action eq 'EDIT'}"
						action="#{officeMasterBean.cancelAddressForm}"
						class="btn btn-cancel fa-input waves-effect" />
					<!-- Address Add Button -->
					<p:commandButton value="&#xf067;&nbsp;#{msg['add']}" id="add"
						binding="#{add}"
						actionListener="#{officeMasterBean.submitAddressForm}"
						rendered="#{officeMasterBean.action eq 'ADD'}"
						update="officeForm:addTextId addressPanel growls"
						class="btn btn-success waves-effect waves-light fa-input" />
					<!-- Address Update Button -->
					<p:commandButton value="&#xf021;&nbsp;#{msg['update']}"
						id="upadteAdd" binding="#{updateAdd}"
						rendered="#{officeMasterBean.action eq 'EDIT'}"
						actionListener="#{officeMasterBean.submitAddressForm}"
						update="officeForm:addTextId addressPanel growls"
						class="btn btn-success waves-effect waves-light fa-input" />
				</div>
			</p:dialog>
		</p:outputPanel>
	</ui:define>
	
	
	
</ui:composition>