<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Professional Tax Slab Master</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['prof_tax_slab_']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">#{msg['prof_tax_slab_']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['financial_year']}" />
									<div class="form-group">
										<h:selectOneMenu id="city"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="2015 - 2016" itemValue="true" />
											<f:selectItem itemLabel="2016 - 2017" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<div class="form-group">
										<h:selectOneMenu id="city"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Active" itemValue="true" />
											<f:selectItem itemLabel="In-Active" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['search_result']}</h3>
									<div class="pull-right m-t-2">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											title="Add"
											styleClass="btn btn-xs waves-effect waves-light btn-success fa-input  m-r-10"></p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											title="Edit"
											styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											title="View"
											styleClass="btn btn-xs waves-effect waves-light btn-info fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf1f8;&nbsp;#{msg['delete']}"
											title="Delete"
											styleClass="btn btn-xs waves-effect waves-light btn-danger fa-input"></p:commandButton>

									</div>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th rowspan="2" align="center">#{msg['sl']}</th>
																<th colspan="2" align="center">#{msg['sal_slab']}
																	&nbsp;(<i class="fa fa-inr"></i>)
																</th>
																<th rowspan="2" align="center">#{msg['tax_rate']}
																	&nbsp;(<i class="fa fa-inr"></i>)
																</th>
																<th rowspan="2" align="center">#{msg['select']}</th>
															</tr>
															<tr>
																<th>#{msg['from_amt']}</th>
																<th>#{msg['to_amt']}</th>
															</tr>

														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="0" /></td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="3500" /></td>
																<td><input type="text" class="form-control"
																	dir="rtl" placeholder="0.0" /></td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="3501" /></td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="5000" /></td>
																<td><input type="text" class="form-control"
																	dir="rtl" placeholder="16.50" /></td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="5001" /></td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="7500" /></td>
																<td><input type="text" class="form-control"
																	dir="rtl" placeholder="30.00" /></td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="7501" /></td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="10000" /></td>
																<td><input type="text" class="form-control"
																	dir="rtl" placeholder="85.00" /></td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="10001" /></td>
																<td align="center"><input type="text"
																	class="form-control" dir="rtl" placeholder="12500" /></td>
																<td><input type="text" class="form-control"
																	dir="rtl" placeholder="126.50" /></td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">6</td>
																<td align="right">12,501</td>
																<td align="right">And Above</td>
																<td align="right">182.50</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<!-- end col -->
											<div class="clearfix"></div>
										</div>
										<!-- end row -->
									</div>
									<div class="col-lg-12 text-right ph0 m-t-10">
										<h:commandButton value="&#xf021;&nbsp;#{msg['reset']}"
											styleClass="btn btn-sm btn-info waves-effect waves-light m-r-10 fa-input"></h:commandButton>
										<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
										<h:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
											styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"
											action="#{societyProductionPlanBean.formSubmit}"></h:commandButton>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
