<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="salesTypeForm">
			<title>InfoTex | Sales Type</title>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h4 class="page-title">#{msg['sales_type_master']}</h4>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">#{msg['sales_type_master']}</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="panel panel-color panel-top-bor">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<p:outputPanel id="salesTypePanel">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sales_type_master_code']}" />
											<p:inputText autocomplete="off" a:autofocus="true" id="code"
												onkeyup="this.value=this.value.toUpperCase();"
												value="#{salesTypeMasterBean.salesTypeSearch.code}" class="form-control"
												maxlength="50"
												>
												<p:keyFilter mask="alpha" />
											</p:inputText>
											<p:message for="code" />
											
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sales_type_master_name']}" />
											<p:inputText id="name" autocomplete="off"
												value="#{salesTypeMasterBean.salesTypeSearch.name}" class="form-control"
												maxlength="50">
												<p:keyFilter mask="alpha" />
											</p:inputText>
											<p:message for="name" />
											
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sales_type_master_lname']}" />
											<p:inputText id="lname" autocomplete="off"
												value="#{salesTypeMasterBean.salesTypeSearch.lname}" class="form-control"
												maxlength="50">
												<p:keyFilter mask="alpha" />
											</p:inputText>
											<p:message for="lname" />
											
										</div>
									</div>

										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<p:selectOneMenu id="status" tabindex="0"
													styleClass="form-control int-drop"
													value="">
													<f:selectItem itemLabel="#{msg['all']}" noSelectionOption="true"></f:selectItem>
													<f:selectItem itemLabel="#{msg['active']}"
														itemValue="#{true}"></f:selectItem>
													<f:selectItem itemLabel="#{msg['inactive']}"
														itemValue="#{false}"></f:selectItem>
												</p:selectOneMenu>
											</div>
										</div>

								</div>
								<div class="text-right m-b-20">
									<!-- Clear Button -->
									<p:commandButton value="&#xf12d;&nbsp; #{msg['clear']}"
										update="salesTypePanel,salesTypeTablePanel"
										actionListener="#{salesTypeMasterBean.clear}"
										class="btn btn-sm btn-cancel waves-effect waves-light fa-input">
									</p:commandButton>

									<!-- Search Button -->
									<p:commandButton value="&#xf002;&nbsp; #{msg['search']}"
										update="salesTypePanel salesTypeTablePanel "
										actionListener="#{salesTypeMasterBean.searchBy}"
										class="btn btn-sm btn-info waves-effect waves-light m-l-10 fa-input">
										<f:setPropertyActionListener value="SEARCH"
											target="#{salesTypeMasterBean.buttonName}" />
									</p:commandButton>


								</div>
							</p:outputPanel>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<p:outputPanel id="salesTypeTablePanel">
								<div class="portlet">
									<div class="panel-grey">
										<h3 class="portlet-title">#{msg['sales_type_prf_details']}</h3>
										<div class="portlet-widgets">

											<!-- ADD Button -->
											<p:commandButton 
												action="#{salesTypeMasterBean.gotToAddPage}"
												value="&#xf067;&nbsp;#{msg['add']}"
												class="fa-input btn btn-xs btn-success waves-effect waves-light m-r-10">
												<f:setPropertyActionListener value="ADD" target="#{salesTypeMasterBean.buttonName}"></f:setPropertyActionListener>
											</p:commandButton>
											
											<!-- EDIT Button -->
											<p:commandButton 
											    update="salesTypePanel,salesTypeTablePanel,growls" 
												action="#{salesTypeMasterBean.editForm}"
												value="&#xf044;&nbsp;#{msg['edit']}"
												class="fa-input btn-xs btn btn-primary waves-effect waves-light m-r-10">
												<f:setPropertyActionListener value="EDIT" target="#{salesTypeMasterBean.buttonName}"></f:setPropertyActionListener>
											</p:commandButton>
											
											<!-- VIEW Button -->
											<p:commandButton 
											     update="salesTypePanel,salesTypeTablePanel,growls" 
											    action="#{salesTypeMasterBean.viewFrom}"
												value="&#xf06e;&nbsp;#{msg['view']}"
												class="fa-input btn btn-xs btn-info waves-effect waves-light">
												<f:setPropertyActionListener value="VIEW" target="#{salesTypeMasterBean.buttonName}"></f:setPropertyActionListener>
											</p:commandButton>
											<!-- DELETE Button -->
											
											<p:commandButton 
											    update="salesTypePanel,salesTypeTablePanel,table,growls"  
											         value="&#xf1f8;&nbsp;#{msg['delete']}"
											         action="#{salesTypeMasterBean.gotToDelete}"
										             class="fa-input btn btn-xs btn-danger waves-effect waves-light m-l-10">
										             <p:confirm header="#{msg['confirmation']}"
							                             message=" #{msg['confirm_delete']}?" />
											</p:commandButton>

			 							</div>
										<div class="clearfix"></div>
									</div>
									<p:dataTable id="table" var="data"
										value="#{salesTypeMasterBean.salesTypeMasterList}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rows="10" paginator="true" paginatorPosition="bottom"
										selection="#{salesTypeMasterBean.salesTypeMaster}"
										rowKey="#{data.id}" tableStyleClass=""
										rowsPerPageTemplate="5,10,15" rowIndexVar="idx">
										<p:column headerText="#{msg['serial_no']}"
											style="width:50px; text-align:center;">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['sales_type_master_code']}">
											<h:outputText value="#{data.code}" />
										</p:column>
										<p:column headerText="#{msg['sales_type_master_name']}">
											<h:outputText value="#{data.name}" />
										</p:column>

										<p:column headerText="#{msg['created_date']}">
											<h:outputText value="#{data.createdDate}">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-YYYY" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['status']}">
											<h:outputText
												styleClass="#{data.activeStatus eq true ? 'text-success':'text-danger'}"
												value="#{data.activeStatus eq true ? msg['active'] : msg['inactive'] }">
											</h:outputText>
										</p:column>
										<p:column selectionMode="single" headerText="Select">

										</p:column>


									</p:dataTable>

								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>

