<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Showroom</title>
		<h:form id="sroomform">
			<!-- Page Header -->
			<div class="page-header page-header-default"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<h:outputLabel rendered="#{showroomMasterBean.action eq 'ADD'}">#{msg['crt_sroom_pro']}</h:outputLabel>
							<h:outputLabel rendered="#{showroomMasterBean.action eq 'EDIT'}">#{msg['edit_showroom_prfle']}</h:outputLabel>
							<h:outputLabel rendered="#{showroomMasterBean.action eq 'VIEW'}">#{msg['view_showroom_prfle']}</h:outputLabel>
						</h4>
						<ul class="breadcrumb">
							<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">
								<h:outputLabel rendered="#{showroomMasterBean.action eq 'ADD'}">#{msg['crt_sroom_pro']}</h:outputLabel>
								<h:outputLabel rendered="#{showroomMasterBean.action eq 'EDIT'}">#{msg['edit_showroom_prfle']}</h:outputLabel>
								<h:outputLabel rendered="#{showroomMasterBean.action eq 'VIEW'}">#{msg['view_showroom_prfle']}</h:outputLabel>
							</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<div class="heading-elements">
						<div class="heading-btn-group">
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="icon-info22 text-primary"></i> <span>#{msg['help']}</span></a>
							<a href="#" class="btn btn-link btn-float has-text"><i
								class="glyphicon glyphicon-th text-primary"></i> <span>#{msg['quik_menu']}</span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div class="search-panel">
					<div class="panel panel-flat">
						<div class="panel-body" style="display: block;">
							<p:outputPanel id="showroommainpanel">
								<div class="row">
							<p:outputPanel rendered="#{showroomMasterBean.action ne 'VIEW'}">
								<div class="col-md-12 m-b-10">
								<div class="text-right">
									<p:outputLabel>
										<span class="mand-red">*</span> <span class="reqd_msg">#{msg['mrk_mand']}</span>
									</p:outputLabel>
								</div>
								</div>
							</p:outputPanel>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['sroom_cat']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<h:selectOneMenu id="sroomcat" a:autofocus="true"
										converter="#{entityConverter}"
										required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
										requiredMessage="#{msg['sroom_cat']} #{msg['req']}"
										value="#{showroomMasterBean.showroomMasterDTO.entityCategoryDTO}"
										class="form-control select2"
										disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true" />
										<f:selectItems
											value="#{showroomMasterBean.showroomCategoryDTOList}"
											var="category" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (category.lname ne null ? category.lname : '') : category.name}"
											itemValue="#{category}" />
										<p:ajax update="srcat" event="change" />
									</h:selectOneMenu>
									<p:message for="sroomcat" id="srcat" />
								</div>
								<div class="form-group">
									<p:outputLabel value="#{msg['sroom_name']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<p:inputText id="sroomname"
										value="#{showroomMasterBean.showroomMasterDTO.name}"
										maxlength="50" class="form-control"
										onkeypress="return allowOnlyAlphabets(event)"
										required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
										requiredMessage="#{msg['sroom_name']} #{msg['req']}"
										disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<p:ajax update="msgsrname" event="keyup" />
									</p:inputText>
									<p:message for="sroomname" styleClass="" id="msgsrname" />
									<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="sroomname"
										value="#{msg['sromm_name_valid_msg']}"></p:tooltip>

								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<!-- <label class="control-label">Showroom Code<span class="mand-red">*</span></label>
								 <input type="text" maxlength="250" class="form-control" />		 -->
									<p:outputLabel value="#{msg['region']}" />
									<!-- <p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" /> -->
									<h:selectOneMenu id="region" converter="#{entityConverter}"
										value="#{showroomMasterBean.showroomMasterDTO.forEntityMasterRegionID}"
										class="form-control select2"
										 
										requiredMessage="#{msg['region']} #{msg['req']}"
										disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true" />
										<!-- <f:selectItem itemValue="333" itemLabel="3333" />
											<f:selectItem itemValue="444" itemLabel="4444" /> -->
										<f:selectItems
											value="#{showroomMasterBean.entityMasterRegionList}"
											var="region" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (region.lname ne null ? region.lname : '') : region.name}" itemValue="#{region}" />
										<p:ajax update="srreg" event="change" />
									</h:selectOneMenu>
									<p:message for="region" styleClass="" id="srreg" />
								</div>

								<div class="form-group">
									<!-- <label class="control-label">Showroom Name<span class="mand-red">*</span></label>
										 <input type="text" maxlength="250" class="form-control" />	 -->

									<p:outputLabel value="#{msg['sroom_code']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<p:inputText id="sroomcode"
										value="#{showroomMasterBean.showroomMasterDTO.code}"
										maxlength="6" class="form-control"
										required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
										onkeypress="return checkNumbersOnly(event)"
										requiredMessage="#{msg['sroom_code']} #{msg['req']}"
										disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<p:ajax update="validcode" event="keyup" />
									</p:inputText>
									<p:message for="sroomcode" styleClass="" id="validcode" />
									<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="sroomcode"
										value="#{msg['sromm_code_valid_msg']}"></p:tooltip>

								</div>

							</div>
							<p:outputPanel id="textareapanel">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">#{msg['saddress']}
										</label>
										<p:inputTextarea rows="5" class="form-control" disabled="true" id="textarea"
											value = "#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine1 ne null ? showroomMasterBean.showroomMasterDTO.addressDTO.addressLine1 : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine1.length() gt '0' ? ', ' : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine2 ne null ? showroomMasterBean.showroomMasterDTO.addressDTO.addressLine2 : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine2.length() gt '0' ? ', ' : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine3 ne null ? showroomMasterBean.showroomMasterDTO.addressDTO.addressLine3 : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine3.length() gt '0' ? ', ' : ''}#{showroomMasterBean.showroomMasterDTO.addressDTO.districtMasterDTO.name}#{showroomMasterBean.showroomMasterDTO.addressDTO.districtMasterDTO.name.length() gt '0' ? ', ' :''}#{showroomMasterBean.showroomMasterDTO.addressDTO.stateMasterDTO.name}#{showroomMasterBean.showroomMasterDTO.addressDTO.stateMasterDTO.name.length() gt '0'?', ':''}#{showroomMasterBean.showroomMasterDTO.addressDTO.countryMasterDTO.name ne null ? showroomMasterBean.showroomMasterDTO.addressDTO.countryMasterDTO.name :''}#{showroomMasterBean.showroomMasterDTO.addressDTO.countryMasterDTO.name.length() gt '0' ?', ':''}#{showroomMasterBean.showroomMasterDTO.addressDTO.postalCode}#{showroomMasterBean.showroomMasterDTO.addressDTO.landmark.length() gt '0'  ? ', ' : ''} #{showroomMasterBean.showroomMasterDTO.addressDTO.landmark}"/>
									</div>
								</div>
							</p:outputPanel>
							<div class="col-md-2" style="margin-top:28px;">
								<div class="form-group">
									<p:commandButton value="&#xea0e;&nbsp;#{msg['add_adrs']}"
										rendered="#{showroomMasterBean.action eq 'ADD' &amp;&amp; showroomMasterBean.changeAddress ne 'CHANGE'}"
										onclick="PF('dlg1').show();"
										class="btn bg-info btn-xs font-iconmoon">
									</p:commandButton>
									<p:commandButton value="&#xf067;&nbsp;Change Address"
										rendered="#{showroomMasterBean.action eq 'ADD' &amp;&amp; showroomMasterBean.changeAddress eq 'CHANGE'}"
										onclick="PF('dlg1').show();"
										class="btn btn-info btn-sm waves-effect waves-light m-r-10 m-t-v fa-input">
									</p:commandButton>
									 
									<p:commandButton value="&#xf067;&nbsp;#{msg['edit_addr_det']}"  rendered="#{showroomMasterBean.action eq 'EDIT'}"
												onclick="PF('dlg1').show();" 
												class="btn btn-info waves-effect waves-light m-r-10 m-t-v fa-input" >
									</p:commandButton>	
									
								</div>
							</div>
							</div>
							<div class="row">
								<div class="col-md-3">
								<div class="form-group">
									<!-- <label class="control-label">GST Number<span class="mand-red">*</span></label>
										 <input type="text" maxlength="250" class="form-control" />	 -->
									<p:outputLabel value="#{msg['gst_no']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<p:inputText id="gstnum" maxlength="15" class="form-control"
										onkeyup="this.value=this.value.toUpperCase();"
										onkeypress="return checkAlphaNumeric(event)"
										value="#{showroomMasterBean.showroomMasterDTO.gstNumber}"
										required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
										requiredMessage="#{msg['gst_no']} #{msg['req']}"
										disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<p:ajax update="validgst" event="keyup" />
									</p:inputText>
									<p:message for="gstnum" styleClass="" id="validgst" />
									<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="gstnum"
										value="#{msg['valid_gst_num']}"></p:tooltip>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<!-- <label class="control-label">Area Size<span class="mand-red">*</span></label>
										 <input type="text" maxlength="250" class="form-control" />	 -->
									<p:outputLabel value="#{msg['area_siz']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<p:inputNumber id="areasize" maxlength="11" class="form-control no_border"
										maxValue="99999999.99" decimalPlaces="2"
										value="#{showroomMasterBean.showroomMasterDTO.areaSize}"
										required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
										requiredMessage="#{msg['area_siz']} #{msg['req']}"
										disabled="#{showroomMasterBean.action eq 'VIEW'}"
										validatorMessage="#{msg['valid_area_size']}"
										placeholder="Sq.ft">
										<f:validateDoubleRange minimum="1.0" maximum="99999999.99" />
										<p:ajax update="validarea" event="keyup" />
									</p:inputNumber>
									<p:message for="areasize" styleClass="" id="validarea" />
									<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="areasize"
										value="#{msg['valid_area_size']}"></p:tooltip>

								</div>
							</div>
							<div class="col-md-3">
								<p:outputLabel value="#{msg['open_date']}" />
								<div class="form-group">
									<!--  <div class="input-group">
					                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="datepicker-autoclose"/>
					                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span> 
					                  </div> -->
									<div class="form-group form-group_calend">
										<p:calendar id="opendate"
											value="#{showroomMasterBean.showroomMasterDTO.openingDate}"
											pattern="dd-MM-yyyy" navigator="true"  maxdate="today"
											disabled="#{showroomMasterBean.action eq 'VIEW'}"
											styleClass="form-control calend-icon"></p:calendar>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">#{msg['status']}</label> 
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<h:selectOneMenu id="statusid"
										value="#{showroomMasterBean.showroomMasterDTO.activeStatus}"
										class="form-control" disabled="#{showroomMasterBean.action eq 'VIEW'}">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="#{msg['active']}" itemValue="#{true}"></f:selectItem>
										<f:selectItem itemLabel="#{msg['inactive']}"
											itemValue="#{false}"></f:selectItem>
									</h:selectOneMenu>
								</div>
							</div>
							</div>
							<div class="row">
							<p:outputPanel id="showroomtypepanel">
								<div class="col-md-3">
									<div class="form-group">
										<!-- <label class="control-label">Showroom type</label>
												<select class="form-control">
													<option>Select</option>
													<option>own</option>
													<option>Rental</option>
													<option>Distribution Warehouse</option>
												</select> -->

										<p:outputLabel value="#{msg['sroom_type']}" />
										<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
										<h:selectOneMenu id="sroomtype" converter="#{entityConverter}"
											required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
											requiredMessage="#{msg['sroom_type']} #{msg['req']}"
											value="#{showroomMasterBean.showroomMasterDTO.buildingTypeDTO}"
											class="form-control select2"
											disabled="#{showroomMasterBean.action eq 'VIEW'}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<!-- <f:selectItem itemValue="111" itemLabel="1111" />
														<f:selectItem itemValue="222" itemLabel="2222" /> -->
											<f:selectItems
												value="#{showroomMasterBean.showroomTypeDTOList}"
												var="stype" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (stype.lname ne null ? stype.lname : '') : stype.name}" itemValue="#{stype}" />

											<p:ajax listener="#{showroomMasterBean.checkShowroomType}"
												update="rentalpanel  lease_panel showroomtypepanel srtype"></p:ajax>
										</h:selectOneMenu>
										<p:message for="sroomtype" id="srtype" />
									</div>
								</div>

								<p:outputPanel id="rentalpanel"
									rendered="#{showroomMasterBean.showroomTypeName eq 'Rental'}">
									<div class="col-md-3">
										<div class="form-group">
											<!-- <label class="control-label">Rental Amount</label>
												 <input type="text" maxlength="250"  class="form-control" />	 -->
											<p:outputLabel value="#{msg['rent_amount']}" />
											<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<p:inputText id="rentalamount" maxlength="10"
												class="form-control" maxValue="9999999999"
												value="#{showroomMasterBean.showroomMasterDTO.rentalAmount}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												onkeypress="return checkNumbersOnly(event)"
												requiredMessage="#{msg['rent_amount']} #{msg['req']}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												placeholder="Rs.">
											</p:inputText>
											<p:message for="rentalamount" styleClass=""
												 />
											<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="rentalamount"
												value="Rental Amount should be Numeric"></p:tooltip>

										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<!--  <div class="input-group">
							                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="datepicker-autoclose"/>
							                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
							                   </div> -->
											<!--   <p:outputLabel for="matdate" value="#{msg['maturity_date']}" />
       										   <p:calendar id="matdate" value="#{showroomMasterBean.showroomMasterDTO.maturityDate}"  navigator="true" pattern="yyyy-MMM-dd" /> -->

											<p:outputLabel value="#{msg['maturity_date']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="matdate"
													value="#{showroomMasterBean.showroomMasterDTO.maturityDate}"
													pattern="dd-MM-yyyy" navigator="true"
													disabled="#{showroomMasterBean.action eq 'VIEW'}"
													styleClass="form-control calend-icon" mindate="today"></p:calendar>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<!-- <label class="control-label">Rent Pay on/before</label>
												 <input type="text" maxlength="250" class="form-control" />		 -->
											<!--  <p:outputLabel for="rentpaydate" value="#{msg['rent_pay_date']}" />
       											  <p:calendar id="rentpaydate" value="#{showroomMasterBean.showroomMasterDTO.rentalPayDate}" navigator="true" pattern="yyyy-MMM-dd" /> -->
											<p:outputLabel value="#{msg['rent_pay_date']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="rentpaydate"
													value="#{showroomMasterBean.showroomMasterDTO.rentalPayDate}"
													pattern="dd-MM-yyyy" navigator="true"
													styleClass="form-control calend-icon"
													disabled="#{showroomMasterBean.action eq 'VIEW'}"></p:calendar>
											</div>
										</div>
									</div>
								</p:outputPanel>
								<p:outputPanel id="lease_panel"
									rendered="#{showroomMasterBean.showroomTypeName eq 'Lease'}">
									<div class="col-sm-3">
										<div class="form-group">
											<!-- <label class="control-label">Lease Amount</label>
										 <input type="text" maxlength="250" class="form-control" />	 -->

											<p:outputLabel value="#{msg['lease_amount']}" />
											<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<p:inputText id="leaseamount" maxlength="10"
												class="form-control" maxValue="9999999999"
												value="#{showroomMasterBean.showroomMasterDTO.leaseAmount}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												onkeypress="return checkNumbersOnly(event)"
												requiredMessage="#{msg['lease_amount']} #{msg['req']}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												placeholder="Rs.">
											</p:inputText>
											<p:message for="leaseamount" styleClass=""
												/>
											<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="leaseamount"
												value="Lease Amount should be Numeric"></p:tooltip>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<!--  <div class="input-group">
					                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="datepicker-autoclose"/>
					                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span> </div> -->
											<!--   <p:outputLabel for="lmatdate" value="#{msg['maturity_date']}" />
       									<p:calendar id="lmatdate" value="#{showroomMasterBean.showroomMasterDTO.maturityDate}"   navigator="true" pattern="yyyy-MMM-dd" /> -->

											<p:outputLabel value="#{msg['maturity_date']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="lmatdate"
													value="#{showroomMasterBean.showroomMasterDTO.maturityDate}"
													pattern="dd-MM-yyyy" navigator="true"
													styleClass="form-control calend-icon"
													disabled="#{showroomMasterBean.action eq 'VIEW'}" mindate="today"></p:calendar>
											</div>

										</div>
									</div>
								</p:outputPanel>
							</p:outputPanel>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<h4 class="bord_bot">
										<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['con_det']}</span>
										<hr></hr>
									</h4>
								</div>
								
							</div>
							<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_name']}" />
											<p:inputText
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.contactName}"
												id="cname4" autocomplete="off" maxlength="50"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												class="form-control" onkeypress="return allowOnlyAlphabets(event)"/>
											<p:tooltip for="cname4" value="#{msg['con_name_valid_msg']}" rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['local_contact']}" />
											<p:inputText
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.localContactName}"
												id="locCname4" autocomplete="off" maxlength="50"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												class="form-control" onkeypress="return allowOnlyAlphabets(event)"/>
											<p:tooltip for="locCname4" value="#{msg['local_contact']}" 
													rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_num']}" />
											<p:outputLabel
												rendered="#{showroomMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.contactNumber}"
												id="conNumID" maxlength="10" class="form-control"
												autocomplete="off" onkeypress="return checkNumbersOnly(event)"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['contact_num']} #{msg['required']}">
												<p:ajax event="keyup" update="msgcid" />
											</p:inputText>
											<p:message for="conNumID" id="msgcid" />
											<p:keyFilter for="conNumID" mask="pnum" />
											<p:tooltip for="conNumID" value="#{msg['valid_mob_num']}" 
															rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}"/>
										</div>
									</div>
									<div class="col-md-3">
      								<div class="form-group">
									<!-- <p:outputLabel value="Land Line Number" />
									<p:inputText value="" class="form-control"/> -->
									
									<p:outputLabel class="fa-input" value="#{msg['land_phone_num']}" />
									<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
									<p:inputText id="landconnum" maxlength="12" class="form-control" 
												onkeypress="return validLandPhoneNumber(event)"
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.landphoneNumber}"
												 disabled="#{showroomMasterBean.action eq 'VIEW'}" >
									</p:inputText>
									<p:message for="landconnum" styleClass="" />
									<p:tooltip styleClass="cus-tooltip" for="landconnum"
												value="#{msg['pri_land_con_num_valid_msg']}"></p:tooltip>
									
									</div>
      								</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['email']}" />
											<p:outputLabel
												rendered="#{showroomMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="mailId" maxlength="50" class="form-control"
												onkeyup="this.value=this.value.toLowerCase();"
												autocomplete="off"
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.emailId}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												requiredMessage="#{msg['email']} #{msg['required']}">
												<p:ajax update="msgmail" event="keyup" />
											</p:inputText>
											<p:keyFilter for="mailId" mask="email" />
											<p:message for="mailId" id="msgmail" />
											<p:tooltip for="mailId" value="#{msg['email_id_valid_msg']}" 
														rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}"/>
										</div>
									</div>

								
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['fx_num']}" />
											<p:outputLabel
												rendered="#{officeMasterBean.action ne 'VIEW'}"
												class="mand-sign" value="*" />
											<p:inputText id="faxId"
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.faxNumber}"
												maxlength="12" class="form-control" autocomplete="off"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												requiredMessage="#{msg['fx_num']} #{msg['required']}">
												<p:ajax event="keyup" update="primaryFax" />
												<p:keyFilter mask="num" />
											</p:inputText>
											<p:message for="faxId" id="primaryFax" />
											<p:tooltip for="faxId" value="#{msg['fax_req']}"
														rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" />
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="email2" value="#{msg['note']}" />
											<p:inputText
												value="#{showroomMasterBean.showroomMasterDTO.entityContactDeatilsDTO.note}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}"
												autocomplete="off" id="email2" maxlength="50"
												class="form-control" />
											<p:tooltip for="email2" value="#{msg['note']}" 
													rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}"/>
										</div>
									</div>
								</div>
									<h4 class="bord_bot">
												<span class="iform-title">
													<i class="fa fa-th-large m-r-5"></i>#{msg['inchrg_det']}
													<hr></hr>
												</span>
									</h4>
								<p:outputPanel id="warehousetypepanel">
								<div class="row">	
											
								
									<div class="col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['inchrg_type']}" />
										<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
										<h:selectOneMenu id="inchrgtype"
											converter="#{entityConverter}"
											value="#{showroomMasterBean.showroomMasterDTO.entityInchargeTypeDTO}"
											class="form-control select2"
											required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
											requiredMessage="#{msg['inchrg_type']} #{msg['req']}"
											disabled="#{showroomMasterBean.action eq 'VIEW'}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{showroomMasterBean.showroomInchargeTypeDTOList}"
												var="inchrgtype" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (inchrgtype.lname ne null ? inchrgtype.lname : '') : inchrgtype.name}"
												itemValue="#{inchrgtype}" />

											<p:ajax
												listener="#{showroomMasterBean.checkShowroomInchargeType}"
												process="@this"
												update="managerpanel staffpanel warehousetypepanel srincrgtype"></p:ajax>
										</h:selectOneMenu>
										<p:message for="inchrgtype" styleClass="" id="srincrgtype" />

									</div>
								</div>
								<p:outputPanel id="managerpanel"
									rendered="#{showroomMasterBean.showroomInchargeTypeName eq 'Showroom Manager'}">
									<div class="col-sm-3">
										<div class="form-group">
											<!-- <label class="control-label">Showroom Manager Name</label>
											<select class="form-control">
												<option>Select</option>
												<option>1</option>
												<option>2</option>
											</select> -->
											<p:outputLabel value="#{msg['mngr_name']}" />
											<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<h:selectOneMenu id="manager" converter="#{entityConverter}"
												value="#{showroomMasterBean.showroomMasterDTO.employeeDTO}"
												class="form-control select2"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['mngr_name']} #{msg['req']}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<!-- <f:selectItem itemValue="2" itemLabel="2222" />
											<f:selectItem itemValue="3" itemLabel="3333" />
											<f:selectItem itemValue="4" itemLabel="4444" />
											<f:selectItem itemValue="5" itemLabel="5555" /> -->

												<f:selectItems value="#{showroomMasterBean.employeeDTOList}"
													var="emp" itemLabel="#{emp.lastName} #{emp.firstName}"
													itemValue="#{emp}" />
												<p:ajax update="srmngr" event="change" />
											</h:selectOneMenu>
											<p:message for="manager" styleClass="" id="srmngr" />

										</div>
									</div>

								</p:outputPanel>
								<p:outputPanel id="staffpanel"
									rendered="#{showroomMasterBean.showroomInchargeTypeName eq 'Temporary Staff'}">
									<div class="col-sm-3">
										<div class="form-group">
											<!-- <label class="control-label">Temporary Staff Name/Code</label>
											<select class="form-control">
												<option>Select</option>
												<option>1</option>
												<option>2</option>
											</select> -->
											<p:outputLabel value="#{msg['temp_staff_name']}" />
											<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
											<h:selectOneMenu id="tempstaff"
												converter="#{entityConverter}"
												value="#{showroomMasterBean.showroomMasterDTO.employeeDTO}"
												class="form-control select2"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												requiredMessage="#{msg['temp_staff_name']} #{msg['req']}"
												disabled="#{showroomMasterBean.action eq 'VIEW'}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<!-- <f:selectItem itemValue="2" itemLabel="2222" />
											<f:selectItem itemValue="3" itemLabel="3333" />
											<f:selectItem itemValue="4" itemLabel="4444" />
											<f:selectItem itemValue="5" itemLabel="5555" /> -->
												<f:selectItems value="#{showroomMasterBean.employeeDTOList}"
													var="emp" itemLabel="#{emp.lastName} #{emp.firstName}"
													itemValue="#{emp}" />
												<p:ajax update="srtpstaff" event="change" />
											</h:selectOneMenu>
											<p:message for="tempstaff" styleClass="" id="srtpstaff" />

										</div>
									</div>
								</p:outputPanel>
									</div>
								</p:outputPanel>	
							<h4 class="bord_bot">
									<span class="iform-title">
										<i class="fa fa-th-large m-r-5"></i>#{msg['warehs_det']}
										<hr></hr>
									</span>
						   		</h4>
						   	<div class="row">
						   	<div class="col-sm-3">
								<p:outputPanel id="warehousetype">
									<div class="form-group">
										<p:outputLabel value="#{msg['warehs_type']}" />
										<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" />
										<h:selectOneMenu id="warehstype"
											converter="#{entityConverter}"
											value="#{showroomMasterBean.showroomMasterDTO.warehouseTypeDTO}"
											class="form-control select2"
											required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
											requiredMessage="#{msg['warehs_type']} #{msg['req']}"
											disabled="#{showroomMasterBean.action eq 'VIEW'}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{showroomMasterBean.warehouseTypeDTOList}"
												var="warehousetype" itemLabel="#{languageBean.localeCode eq 'ta_IN' ? (warehousetype.lname ne null ? warehousetype.lname : '') : warehousetype.name}"
												itemValue="#{warehousetype}" />

											<p:ajax
												listener="#{showroomMasterBean.processWarehouseDetails}"
												update="warehousedetails wrhstype"></p:ajax>
										</h:selectOneMenu>
										<p:message for="warehstype" styleClass="" id="wrhstype" />

									</div>
								</p:outputPanel>
							</div>
							<div class="col-sm-3">
								<p:outputPanel id="warehousedetails">
									<div class="form-group">
										<p:outputLabel value="#{msg['warehs_name']}" />
									<!-- 	<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}" class="mand-sign" value="*" /> -->
										<h:selectOneMenu id="warehsname"
											converter="#{entityConverter}"
											value="#{showroomMasterBean.showroomMasterDTO.warehouseMaterDTO}"
											class="form-control select2"
											 
											requiredMessage="#{msg['warehs_name']} #{msg['req']}"
											disabled="#{showroomMasterBean.action eq 'VIEW'}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{showroomMasterBean.warehouseMasterDTOList}"
												var="warehousemaster"
												itemLabel="#{warehousemaster.code}/#{warehousemaster.name}"
												itemValue="#{warehousemaster}" />
											<p:ajax update="wrhsdet" event="change" />
										</h:selectOneMenu>
										<p:message for="warehsname" styleClass="" id="wrhsdet" />
									</div>
								</p:outputPanel>
							</div>
							
						   	</div>	
						   	<div class="row">
						   	<div class="col-sm-12 text-right">
								<p:commandButton id="cancel"
									class="btn bg-cancel btn-xs font-iconmoon"
									value="&#xed6a;&nbsp;#{msg['cancel']}"
									action="#{showroomMasterBean.cancelForm}" immediate="true"
									rendered="#{showroomMasterBean.action ne 'VIEW'}">
								</p:commandButton>
								<p:commandButton binding="#{submit}" id="submit"
									rendered="#{showroomMasterBean.action eq 'ADD'}"
									class="btn bg-success btn-xs font-iconmoon"
									value="&#xed6e;&nbsp;#{msg['submit']}"
									update="showroommainpanel growls"
									action="#{showroomMasterBean.submitForm}">
								</p:commandButton>
								 <p:commandButton id="update" binding="#{update}" rendered="#{showroomMasterBean.action eq 'EDIT'}" 
											class="btn bg-success btn-xs font-iconmoon"  
											value="&#xe9fb;&nbsp;#{msg['update']}" update="showroommainpanel growls"
											action="#{showroomMasterBean.submitForm}">											 
								</p:commandButton>
								<p:commandButton id="back"
									rendered="#{showroomMasterBean.action eq 'VIEW'}"
									class="btn bg-info btn-xs font-iconmoon"
									value="&#xeddf;&nbsp;#{msg['back']}" update="sroomform"
									action="#{showroomMasterBean.cancelForm}">
								</p:commandButton>

							</div>
						   	</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog class="modal-title cust_modal clr_thm_blu" modal="true" id="addrdlg"
			visible="#{not empty param[save.clientId]}"
			header="#{msg['add_dtl']}" widgetVar="dlg1" minHeight="40">
			<p:outputPanel id="addrpanel">
				<!-- Row 1 -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_one']}"
								styleClass="control-label" />
							<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}">
												<span class="mand-sign">*</span>
											</p:outputLabel>
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine1}"
								maxlength="50" class="form-control" id="address1"
								required="#{not empty param[save.clientId] || not empty param[addrupdate.clientId]}"
								requiredMessage="#{msg['addr_one']} #{msg['req']}">
							</p:inputText>
							<p:message for="address1" styleClass="" />
							<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="address1"
								value="#{msg['addr_one']} #{msg['req']}"></p:tooltip>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_two']}"
								styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine2}"
								id="address2" maxlength="50" class="form-control">
							</p:inputText>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['addr_three']}"
								styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addressLine3}"
								id="address3" maxlength="50" class="form-control">
							</p:inputText>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_one']}"
								styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addresslLine1}"
								maxlength="50" class="form-control" />
						</div>
					</div>
				</div>

				<!-- Row 2  -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_two']}"
								styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addresslLine2}"
								maxlength="50" class="form-control" />
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['loc_addr_three']}"
								styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.addresslLine3}"
								maxlength="50" class="form-control" />
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['country']}" class="control-label" />
							<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}">
												<span class="mand-sign">*</span>
											</p:outputLabel>
							<h:selectOneMenu id="countryid" styleClass="form-control"
								converter="#{entityConverter}"
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.countryMasterDTO}"
								required="#{not empty param[save.clientId] || not empty param[addrupdate.clientId]}"
								requiredMessage="#{msg['country']} #{msg['req']}">
								<f:selectItem itemLabel="#{msg['select']}"
									noSelectionOption="true" />
								<f:selectItems var="country"
									value="#{showroomMasterBean.countryList}"
									itemValue="#{country}" itemLabel="#{country.name}" />
								<p:ajax listener="#{showroomMasterBean.onCountryChange}"
									update="stateId districtId" />
							</h:selectOneMenu>
							<p:message for="countryid" />

						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['state']}" class="control-label" />
							<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}">
												<span class="mand-sign">*</span>
											</p:outputLabel>
							<h:selectOneMenu id="stateId" styleClass="form-control"
								converter="#{entityConverter}"
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.stateMasterDTO}"
								required="#{not empty param[save.clientId] || not empty param[addrupdate.clientId]}"
								requiredMessage="#{msg['state']} #{msg['req']}">
								<f:selectItem itemLabel="#{msg['select']}"
									noSelectionOption="true" />
								<f:selectItems var="state"
									value="#{showroomMasterBean.stateMasterDtoList}"
									itemValue="#{state}" itemLabel="#{state.name}" />
								<p:ajax listener="#{showroomMasterBean.onStateChange}"
									update="districtId" />
							</h:selectOneMenu>
							<p:message for="stateId" />

						</div>
					</div>
				</div>
				<!-- Row 3 -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['district']}"
								styleClass="control-label" />
							<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}">
												<span class="mand-sign">*</span>
											</p:outputLabel>
							<h:selectOneMenu id="districtId" converter="#{entityConverter}"
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.districtMasterDTO}"
								styleClass="form-control"
								required="#{not empty param[save.clientId] || not empty param[addrupdate.clientId]}"
								requiredMessage="#{msg['district']} #{msg['req']}">
								<f:selectItem itemLabel="#{msg['select']}"
									noSelectionOption="true" />
								<f:selectItems var="district"
									value="#{showroomMasterBean.districtMasterDtoList}"
									itemLabel="#{district.name}" itemValue="#{district}" />

							</h:selectOneMenu>
							<p:message for="districtId" />
							<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="districtId"
								value="#{msg['district']} #{msg['req']}"></p:tooltip>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['pcode']}" styleClass="control-label" />
							<p:outputLabel rendered="#{showroomMasterBean.action ne 'VIEW'}">
												<span class="mand-sign">*</span>
											</p:outputLabel>
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.postalCode}"
								maxlength="6" class="form-control" id="pcode"
								required="#{not empty param[save.clientId] || not empty param[addrupdate.clientId]}"
								requiredMessage="#{msg['pcode']} #{msg['req']}"
								onkeypress="return checkNumbersOnly(event)">
							</p:inputText>
							<p:message for="pcode" />
							<p:tooltip rendered="#{showroomMasterBean.action eq 'ADD' || showroomMasterBean.action eq 'EDIT'}" styleClass="cus-tooltip" for="pcode"
								value="#{msg['pcode']} #{msg['req']}"></p:tooltip>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['lmark']}" styleClass="control-label" />
							<p:inputText
								value="#{showroomMasterBean.showroomMasterDTO.addressDTO.landmark}"
								maxlength="50" class="form-control" />
						</div>
					</div>


				</div>
			</p:outputPanel>
			<div class="modal-footer ph0">
				<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
					action="#{showroomMasterBean.cancelShowroomAddrForm}"
					class="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"
					update="sroomform:textarea addrpanel">
				</p:commandButton>

				<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
					binding="#{save}" id="save" rendered="#{showroomMasterBean.action eq 'ADD'}"
					actionListener="#{showroomMasterBean.saveShowroomAddress}"
					class="btn btn-sm btn-success waves-effect waves-light fa-input"
					update="sroomform:textarea addrpanel growls">
				</p:commandButton>
				<p:commandButton value="&#xf067;&nbsp;#{msg['update']}" binding="#{addrupdate}"
					id="updateaddr" rendered="#{showroomMasterBean.action eq 'EDIT'}"
					actionListener="#{showroomMasterBean.saveShowroomAddress}"
					class="btn btn-sm btn-success waves-effect waves-light fa-input"
					update="sroomform:textarea addrpanel growls">
				</p:commandButton>
			</div>

		</p:dialog>
	</ui:define>
</ui:composition>