<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
				<div class="card-box">
						<h:form id="formSociety">
							<p:growl id="growl" showDetail="true" />  
							<!-- Page-Title -->
							<div class="row">
								<div class="col-sm-12">
									<h4 class="page-title"><h:outputText value="#{msg['society.master']}" /></h4>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
								<!-- Society Details -->
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_code']}"/><span style="color:red">&nbps;*</span>
												<p:inputText value="#{societyMasterBean.societyMasterDto.code}" 
												a:autofocus="true" placeholder="Enter Society Code" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_name']}"/><span style="color:red">&nbps;*</span>
												<p:inputText value="#{societyMasterBean.societyMasterDto.name}" 
												placeholder="Enter Society Name" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_identity_name']}"/><span style="color:red">&nbps;*</span>
												<p:inputText value="#{societyMasterBean.societyMasterDto.identityName}" 
												placeholder="Enter Society Identity Name" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_identity_local_name']}"/><span style="color:red">&nbps;*</span>
												<p:inputText value="#{societyMasterBean.societyMasterDto.lidentityName}" 
												placeholder="Enter Society Identity Local Name" class="form-control"/>
											</div>
										</div>
									</div>
									<div class="text-right">
										<p:commandButton value="Add Address Details" onclick="PF('panelMatches').toggle();" 
										class="btn btn-sm btn-primary waves-effect w-md waves-light m-l-10"/>
									</div>
								
								<p:panel collapsed="true" id="panel" widgetVar="panelMatches" toggleSpeed="500" toggleable="true" style="border:none">
									<!-- Address  -->
										<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line1']}"/><span style="color:red">*</span>
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addressLine1}" a:autofocus="true" 
												placeholder="Enter Address Line 1" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line2']}"/><span style="color:red">*</span>
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addressLine2}" 
												placeholder="Enter Address Line 2" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_line3']}"/> 
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addressLine3}" 
												placeholder="Enter Address Line 3" class="form-control"/>
											</div>
										</div>
									</div>
									
									<!-- Local Address  -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_loc_line1']}"/> 
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addresslLine1}" 
												placeholder="Enter Local Address Line 1" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_loc_line2']}"/> 
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addresslLine2}" 
												placeholder="Enter Local Address Line 2" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_add_loc_line3']}"/> 
												<p:inputText value="#{societyMasterBean.addressMasterDTO.addresslLine3}" 
												placeholder="Enter Local Address Line 3" class="form-control"/>
											</div>
										</div>
									</div>
									
									<!-- State Details  -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
        										<p:outputLabel for="stateId" value="#{msg['state']}" /> <span style="color:red">*</span>
										        <h:selectOneMenu id="stateId" value="#{societyMasterBean.selectedStateId}" class="form-control">
										            <f:selectItem itemLabel="Select State" itemValue="#{null}" noSelectionOption="true"/>
										             <f:selectItems var="state" itemValue="#{state.id}" itemLabel="#{state.entityName}" value="#{societyMasterBean.stateList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="districtId" value="#{msg['district']}"/> <span style="color:red">*</span>
												 <h:selectOneMenu value="#{societyMasterBean.selectedDistrictId}" id="districtId" class="form-control">
										            <f:selectItem itemLabel="Select District" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="district" itemValue="#{district.id}" itemLabel="#{district.entityName}" value="#{societyMasterBean.districtList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="talukId" value="#{msg['taluk']}"/> <span style="color:red">*</span>
												 <h:selectOneMenu value="#{societyMasterBean.selectedTalukId}" id="talukId" class="form-control">
										           <f:selectItem itemLabel="Select Taluk" itemValue="#{null}" noSelectionOption="true"/>
										           <f:selectItems var="taluk" itemValue="#{taluk.id}" itemLabel="#{taluk.entityName}" value="#{societyMasterBean.talukList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="pinId" value="#{msg['pincode']}"/> <span style="color:red">*</span>
												<p:inputText id="pinId" value="#{societyMasterBean.addressMasterDTO.pincode}" placeholder="Enter Pincode" class="form-control">
													<f:validateRegex pattern="[0-9]*" />
												</p:inputText>
											</div>
										</div>
									</div>
								</p:panel>	
									<!-- Contact Details -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
        										<p:outputLabel for="contactId" value="#{msg['contact_name']}" /> <span style="color:red">*</span>
										        <p:inputText value="#{societyMasterBean.addressMasterDTO.contactName}" id="contactId" placeholder="Enter Contact Person Name" class="form-control"/>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="contactNumId" value="#{msg['contact_num']}"/> <span style="color:red">*</span>
												<p:inputText value="#{societyMasterBean.addressMasterDTO.contactNumber}" id="contactNumId" placeholder="Enter Contact Number" class="form-control">
												</p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="mailId" value="#{msg['email_id']}"/> <span style="color:red">*</span>
												<p:inputText value="#{societyMasterBean.email}" id="mailId" placeholder="Enter Email Id" class="form-control">
												</p:inputText>
											</div>
										</div>
									</div>
									
									<!-- Region Details -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
        										<p:outputLabel for="regionId" value="#{msg['region']}" /> <span style="color:red">*</span>
										        <h:selectOneMenu id="regionId" value="#{societyMasterBean.regionDTO.name}" class="form-control">
										            <f:selectItem itemLabel="Select Region" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="region" itemLabel="#{region.entityName}" value="#{societyMasterBean.regionList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['d_and_p']}"/> <span style="color:red">*</span>
												<h:selectOneMenu value="#{societyMasterBean.dpMasterDTO.code}" class="form-control">
										            <f:selectItem itemLabel="Select DP Code" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="dpmaster" itemLabel="#{dpmaster.code}" value="#{societyMasterBean.dpMasterList}"/>
										        </h:selectOneMenu>
												
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel for="scId" value="#{msg['society_class']}"/><span style="color:red">&nbps;*</span>
												<h:selectOneMenu id="scId" value="#{societyMasterBean.societyClassMasterDTO.code}" class="form-control">
										            <f:selectItem itemLabel="Select Society Class" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="society" itemLabel="#{society.code}" value="#{societyMasterBean.societyClassList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
									</div>
									
									<!-- Society Details -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
        										<p:outputLabel for="soneId" value="#{msg['s1_type']}" /> <span style="color:red">*</span>
										        <h:selectOneMenu id="soneId" value="#{societyMasterBean.societyMasterDto.s1Type}" class="form-control">
										            <f:selectItem itemLabel="Select S1 Type" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="society" itemValue="#{society.id}" itemLabel="#{society.s1Type}" value="#{societyMasterBean.societyMasterDtoList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['s2_type']}"/>
												<h:selectOneMenu value="#{societyMasterBean.societyMasterDto.s2Type}" class="form-control">
										            <f:selectItem itemLabel="Select S2 Type" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="society" itemValue="#{society.id}" itemLabel="#{society.s2Type}" value="#{societyMasterBean.societyMasterDtoList}"/>
										        </h:selectOneMenu>
												
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['s3_type']}"/>
												<h:selectOneMenu value="#{societyMasterBean.societyMasterDto.s3Type}" class="form-control">
										            <f:selectItem itemLabel="Select S3 Type" itemValue="#{null}" noSelectionOption="true"/>
										             <f:selectItems var="society" itemValue="#{society.id}" itemLabel="#{society.s3Type}" value="#{societyMasterBean.societyMasterDtoList}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										
									</div>
									
									<!-- Bank & Other Details -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
        										<p:outputLabel  value="#{msg['bank_code']}" /> <span style="color:red">*</span>
										        <h:selectOneMenu value="#{societyMasterBean.bankMasterDTO.bankCode}" class="form-control">
										            <f:selectItem itemLabel="Select Bank Code" itemValue="#{null}" noSelectionOption="true"/>
													<f:selectItems var="bankmaster" value="#{societyMasterBean.bankMasterList}" itemLabel="#{bankmaster.bankCode}"/>
										        </h:selectOneMenu>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['adh_and_t']}"/>
												<h:selectOneMenu value="#{societyMasterBean.adhtMasterDTO.code}" class="form-control">
										            <f:selectItem itemLabel="Select ADH and T" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItems var="adhtmaster" value="#{societyMasterBean.adhtMasterList}" itemLabel="#{adhtmaster.code}"/>
										        </h:selectOneMenu>
												
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['yarn_percentage']}"/><span style="color:red">&nbps;*</span>
												<p:inputText value="#{societyMasterBean.societyMasterDto.yarnPercentage}" placeholder="Enter Yarn %" class="form-control"/>
											</div>
										</div>
									</div>
									<!-- Other Details  -->
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_status']}"/>
												<h:selectOneMenu value="#{societyMasterBean.status}"  class="form-control">
										            <f:selectItem itemLabel="Select Status" itemValue="#{null}" noSelectionOption="true"/>
										            <f:selectItem itemLabel="Active" itemValue="Active" />
										            <f:selectItem itemLabel="In Active" itemValue="InActive" />
										        </h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="text-right">
												<p:commandButton ajax="false" value="#{msg['submit']}" action="#{societyMasterBean.submit}"
													update=":formSociety"	class="btn btn-sm btn-primary waves-effect w-md waves-light m-l-10"/>
												<p:commandButton value="#{msg['cancel']}" 
												action="#{societyMasterBean.cancel}" ajax="false"
														class="btn btn-sm btn-primary waves-effect w-md waves-light m-l-10"/>
									</div>
								</div>
							</div>
						</h:form>
						<script type="text/javascript">
    /**
     * Faces Validator
     */
    PrimeFaces.validator['custom.emailValidator'] = {
 
        pattern: /\S+@\S+/,
 
        validate: function(element, value) {
            //use element.data() to access validation metadata, in this case there is none.
            if(!this.pattern.test(value)) {
                throw {
                    summary: 'Validation Error',
                    detail: value + ' is not a valid email.'
                }
            }
        }
    };
 
    /**
     * Bean validator
     */
    PrimeFaces.validator['Email'] = {
 
        pattern: /\S+@\S+/,
 
        MESSAGE_ID: 'org.primefaces.examples.validate.email.message',
 
        validate: function(element, value) {
            var vc = PrimeFaces.util.ValidationContext;
 
            if(!this.pattern.test(value)) {
                var msgStr = element.data('p-email-msg'),
                msg = msgStr ? {summary:msgStr, detail: msgStr} : vc.getMessage(this.MESSAGE_ID);
 
                throw msg;
            }
        }
    };
</script>
					</div>
	</ui:define>
</ui:composition>


