<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Loom</title>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h:outputLabel class="page-title">#{msg['view_loom']}</h:outputLabel>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb mt text12 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['master']}</li>
						<li class="active">#{msg['view_loom']}</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="panel panel-color panel-top-bor">
			<div class="panel-body">
				<h:form id="form1">
					<div class="row">
						<div class="col-sm-12">
							<p:outputPanel id="entity" styleClass="view-style">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_code']}" />
											<h:outputText value="#{loomTypeMasterBean.code}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_name']}" />
											<h:outputText value="#{loomTypeMasterBean.name}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['loom_local_name']}" />
											<h:outputText value="#{loomTypeMasterBean.lname}" class="" />
											
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<h:outputText value="#{loomTypeMasterBean.activeStatus eq true ? msg['active'] : msg['inactive']}" class="" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_by']}" />
											<h:outputText value="#{loomTypeMasterBean.loomTypeMaster.createdBy.username}" class="" />
											
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_date']}" />
											<h:outputText value="#{loomTypeMasterBean.loomTypeMaster.createdDate}" class="">
												<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['modified_by']}" />
											<h:outputText value="#{loomTypeMasterBean.loomTypeMaster.modifiedBy.username}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['modified_date']}" />
											<h:outputText value="#{loomTypeMasterBean.loomTypeMaster.modifiedDate}" class="">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-YYYY" />
											</h:outputText>
										</div>
									</div>
								</div>
								<div class="text-right m-b-20">
										<!-- Back Button -->
										<p:commandButton value="&#xf060;&nbsp;#{msg['back']}"
											action="#{loomTypeMasterBean.cancelForm}"
											class="btn btn-info waves-effect waves-light fa-input" />
								</div>
							</p:outputPanel>
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>



