<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Caste Type</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['view_cast_typ']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['master']}</a></li>
							<li class="active">#{msg['view_cast_typ']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row view-style">
								<!-- Caste Type Code -->
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class=""  value="#{msg['caste_type_code']}" />
										<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.code}" />
									</div>
								</div>

								<!-- Caste Type Name -->
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['caste_type_name']}" />
										<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.name}" />
									</div>
								</div>


								<!-- Caste Type Lname -->
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class=""
											value="#{msg['caste_type_name_regional']}" />
										<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.lname}" />
									</div>
								</div>



								<!-- Caste Type Status -->
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['status']}" />
										<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.activeStatus==true?msg['active']:msg['inactive']}" />
									</div>
								</div>
						</div>
						
						
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['created_by']}" />
									<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.createdBy.username}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['created_date']}" />
									<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.createdDate}">
										<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['modified_by']}" />
									<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.modifiedBy.username}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['modified_date']}" />
									<h:outputText class="" value="${casteTypeMasterBean.casteTypeMaster.modifiedDate}">
										<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
									</h:outputText>
								</div>
							</div>

						<div class="col-lg-12">
							<div class="row">
								<div class="col-sm-12 text-right ph0 m-b-20">
									<!-- Back Button  -->
									<p:commandButton
										class="btn btn-sm btn-info fa-input waves-effect waves-light m-r-10"
										value="&#xf060;&nbsp;#{msg['back']}"
										action="${casteTypeMasterBean.cancel}">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</ui:define>
</ui:composition>
