<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="priorityForm">
		<title>Infotex | View Employment Priority / Non-Priority</title>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h4 class="page-title">View #{msg['priority_master']}</h4>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb mt text12 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">#{msg['master']}</a></li>
						<li class="active">View #{msg['priority_master']}</li>
					</ol>
				</div>
			</div>
		</div>
		
			<div class="panel panel-color panel-top-bor">
				<div class="panel-body">
						<div class="row view-style">
						<!-- <div class="row view-style">
							<div class="col-md-3">
								<div class="form-group">
								<p:outputLabel class="" value="Socirty Class Code" />
								<h:outputText value="SOC12" class="" />
								</div>
							</div> -->
						<p:outputPanel>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['priority_code']}" />
									<h:outputText value="PRO" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
							 <div class="form-group">
									<p:outputLabel class="" value="#{msg['priority_name']}" />
									<h:outputText value="First Priority" class="" />
								</div>
								
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['priority_type']}" />
									<h:outputText value="First" class="" />
								</div>
								
							</div>
							<div class="col-md-12 text-right m-b-20">
								<p:commandButton value="&#xf060;&nbsp;#{msg['back']}"
											styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
										</p:commandButton>
							</div>
							</p:outputPanel>
						</div>
				</div>
				<!-- Priority Master Data Table  -->
			</div>
		</h:form>
	</ui:define>
	<ui:define name="priorityscript">
</ui:define>
</ui:composition>
