<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Stock Outward - Inspection Center</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-file-eye position-left"></i>#{msg['stock_out']} -
						#{msg['ins_cntr']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['ins_cntr']}</li>
						<li class="active">#{msg['stock_out']} - #{msg['ins_cntr']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				
				<ui:include src="/pages/pageHeadingElements.xhtml" />

			</div>
		</div>
		<div class="content page-scroll">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['stock_out']} -
						#{msg['ins_cntr']}</h6>
					<div class="heading-elements"></div>
				</div>

				<div class="panel-body">
					<div class="row view-style label-form">

						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['ins_cntr']}" />
								<h:outputText value="Coimbatore Inspection Center" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['st_in_num']}" />
								<h:outputText value="STIN7845" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['stok_out_from_ent_type']}" />
								<h:outputText value="Coimbatore - Region Office" class="" />
							</div>

						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['stok_out_to_ent_type']}" />
								<h:outputText value="Selam - Head office" class="" />
							</div>

						</div>
					</div>
					<div class="row view-style">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['stock_from']}</span>
							</h4>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['ins_cntr_code']}" />
									<h:outputText value="COIN4512" class="" />
								</div>

							</div>

							<!-- end col -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['ins_cntr_nm']}" />
									<h:outputText value="Erode Inspection Center" class="" />
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['stock_to']}</span>
							</h4>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['enty_code']}" />
									<h:outputText value="11183" class="" />
								</div>

							</div>

							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['enty_name']}" />
									<h:outputText value="Salem ISSR" class="" />
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel m-b-0">
						<div class="panel-body p-0">
							<div class="panel-heading">
								<h5 class="panel-title">
									<i class="icon-grid6 position-left"></i> #{msg['pdt_details']}
								</h5>

							</div>
							<div class="table-responsive cust-table">
								<table class="table m-0 ">
									<thead>
										<tr>
											<th rowspan="2" align="center" style="width: 3%">#</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['order_form_no']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['product_code']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['pro_name']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['accpt_qty']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['alread_disp']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['cur_disp']}</th>
											<th rowspan="2" class="ui-state-default text-center">#{msg['value']}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center">1</td>
											<td align="center">12345</td>
											<td align="center">PD002</td>
											<td>Handloom Saree</td>
											<td align="right">120</td>
											<td align="right">50</td>
											<td align="right">60</td>
											<td class="text-right">12</td>

										</tr>
										<tr>
											<td align="center">2</td>
											<td align="center">12345</td>
											<td align="center">PD003</td>
											<td>Pedaloom Saree</td>
											<td align="right">100</td>
											<td align="right">30</td>
											<td align="right">60</td>
											<td class="text-right">12</td>

										</tr>
										<tr>
											<td align="center">3</td>
											<td align="center">12345</td>
											<td align="center">PD004</td>
											<td>Poweloom Saree</td>
											<td align="right">80</td>
											<td align="right">40</td>
											<td align="right">60</td>
											<td class="text-right">12</td>

										</tr>
										<tr>
											<td align="center">4</td>
											<td align="center">12345</td>
											<td align="center">PD005</td>
											<td>Handloom Saree</td>
											<td align="right">120</td>
											<td align="right">50</td>
											<td align="right">60</td>
											<td class="text-right">12</td>

										</tr>
										<tr>
											<td align="center">5</td>
											<td align="center">12345</td>
											<td align="center">PD006</td>
											<td>Pedaloom Saree</td>
											<td align="right">90</td>
											<td align="right">30</td>
											<td align="right">60</td>
											<td class="text-right">12</td>

										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="4" align="center">Total</td>
											<td align="right">510</td>
											<td align="right">200</td>
											<td align="right">300</td>
											<td align="right">60</td>
										</tr>
									</tfoot>
								</table>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="dataTables_info m-l-5" id="DataTables_Table_2_info"
										role="status" aria-live="polite">
										<button type="button" title="Download PDF"
											class="btn btn-primary btn-xs">
											<i class="icon-file-pdf position-left"></i>PDF
										</button>
										<button type="button" title="Download Excel"
											class="btn btn-success btn-xs">
											<i class="icon-file-excel position-left"></i>Excel
										</button>
									</div>
								</div>
								<div class="col-md-6 m-t-10 text-right">
									<ul class="pagination m-r-5 m-b-0">
										<li><a href="#">&larr; Previous</a></li>
										<li><a href="#">&lsaquo;</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li class="disabled"><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">&rsaquo;</a></li>
										<li><a href="#">Next &rarr;</a></li>
									</ul>
								</div>
							</div>
							<div class="panel-body">
								<h4 class="bord_bot">
									<i class="fa fa-th-large m-r-5 m-t-10"></i><span
										class="iform-title">#{msg['bund_details']}</span>
								</h4>
								<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['tot_no_bund']}" />
											<h:outputText value="120" class="" />
									</div> 
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['tot_bund_wt']}" />
											<h:outputText value="120" class="" />
									</div>
								
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
											<p:outputLabel class="" value="#{msg['bund_from_no']}" />
											<h:outputText value="4512" class="" />
								</div> 
								
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['bund_to_no']}" />
											<h:outputText value="6541" class="" />
									</div>
								
							</div>
							
						</div>
								<h4 class="bord_bot">
									<i class="fa fa-th-large m-r-5 m-t-10"></i><span
										class="iform-title">#{msg['trans_details']}</span>
								</h4>
								
								<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['trans_ser_type']}" />
											<h:outputText value="In Person" class="" />
									</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
											<p:outputLabel class="" value="#{msg['trans_ser_name']}" />
											<h:outputText value="Discount Plan" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['waybill_no']}" />
											<h:outputText value="65412" class="" />
									</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['trans_charge_type']}" />
											<h:outputText value="Paid" class="" />
									</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
											<p:outputLabel class="" value="#{msg['trans_charge_amt']}" />
											<h:outputText value="654125" class="" />
										</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['trans_vehi_no']}" />
											<h:outputText value="TN65A43" class="" />
									</div>
							</div>
							<!-- end col -->
						 	
						</div>
								<div class="row m-b-20">
									<div class="col-md-12 text-right">
										<p:commandButton value="&#xf060;&nbsp;#{msg['back']}"
											styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>
