<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="dashboardform">
			<ui:param name="dbDTO" value="#{dashboardBean.headerDTO}"></ui:param>
			<style>
.purchase-popup {
	height: 530px;
	overflow: auto;
}
</style>
			<title>InfoTex | Dashboard</title>
			<p:outputPanel
				rendered="#{loginBean.userMaster.userType ne 'SUPPLIER'}">
				<!-- Page Header -->
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4>#{msg['dashboard']}</h4>
							<ul class="breadcrumb">
								<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li class="active">#{msg['dashboard']}</li>
							</ul>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</div>
						<ui:include src="/pages/pageHeadingElements.xhtml" />
					</div>
				</div>
				<!-- Page Header End -->


				<!-- Page content -->
				<div class="content page-scroll-hp no-padding-bottom">
					<!-- <ul class="nav nav-tabs nav-tabs-bottom m-b-5"
				style="background: #fff">
				<li class="active"><a href="#general"
					class="text-size-small text-uppercase" data-toggle="tab"
					id="click2"> <i class="icon-menu7 position-left"></i>General
				</a></li>
				<li><a href="#technical" class="text-size-small text-uppercase"
					data-toggle="tab"> <i class="icon-gear position-left"></i>
						Technical
				</a></li>

				<li><a href="#marketing" class="text-size-small text-uppercase"
					data-toggle="tab" id="click1"> <i
						class="icon-cart5 position-left"></i> Marketing
				</a></li>

				<li><a href="#admin" class="text-size-small text-uppercase"
					data-toggle="tab" id="click"><i class="icon-user position-left"></i>
						Admin </a></li>
			</ul>
 -->

					<div class="row">
						<!-- <div class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								Circulars<a class="heading-elements-toggle"><i
									class="icon-more"></i></a>
							</h6>
						</div>
						<div class="list-group no-border no-padding-top">
							<a href="#" class="list-group-item"><i class="icon-tree7"></i>
								<span class="badge bg-primary pull-right">120</span> Total
								Number of Circular Received</a> <a href="#" class="list-group-item"><i
								class="icon-file-eye"></i> <span
								class="badge bg-success pull-right">80</span> Number of Circular
								Viewed</a> <a href="#" class="list-group-item"><i
								class="icon-hour-glass"></i> <span
								class="badge bg-warning pull-right">40</span> Pending Circular
								to be Viewed</a>
						</div>
					</div>
				</div> -->

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="panel panel-body text-center">
								<div class="media stack-media-on-mobile">
									<div class="media-body">
										<div class="media-middle">
											<i
												class="icon-clipboard3 icon-2x text-muted no-edge-top text-primary"></i>
										</div>
										<h5 class="text-semibold no-margin-bottom mt-5">#{msg['circular']}</h5>
									</div>
								</div>
								<div class="list-group-divider"></div>
								<div class="row">
									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['received']}</div>
										<h5 class="text-semibold no-margin">
											<h:outputText value="#{dbDTO.circularReceived}" />
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['viewed']}</div>
										<h5 class="text-semibold no-margin">
											<h:outputText value="#{dbDTO.circularViewed}" />
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['pending']}</div>
										<!-- <h5 class="text-semibold no-margin">
										<h:outputText value="#{dbDTO.circularPending}" />
									</h5> -->
										<p:outputPanel rendered="#{dbDTO.circularPending eq 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink value="#{dbDTO.circularPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
										<p:outputPanel rendered="#{dbDTO.circularPending ne 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink action="#{circularBean.showCircularListPage}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													value="#{dbDTO.circularPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="panel panel-body text-center">
								<div class="media stack-media-on-mobile">
									<div class="media-body">
										<div class="media-middle">
											<i
												class="icon-file-upload icon-2x text-muted no-edge-top text-success"></i>
										</div>
										<h5 class="text-semibold no-margin-bottom mt-5">#{msg['file_movmnt']}</h5>
									</div>
								</div>

								<div class="list-group-divider"></div>
								<div class="row">
									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['received']}</div>
										<h5 class="text-semibold no-margin">
											<p:outputPanel rendered="#{dbDTO.fileMovementReceived eq 0}">
												<h:outputText value="#{dbDTO.fileMovementReceived}" />
											</p:outputPanel>
											<p:outputPanel rendered="#{dbDTO.fileMovementReceived ne 0}">
												<h5 class="text-semibold no-margin status-link">
													<p:commandLink action="#{fileMovementBean.showListPage}"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														value="#{dbDTO.fileMovementReceived}">
													</p:commandLink>

												</h5>
											</p:outputPanel>
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['viewed']}</div>
										<h5 class="text-semibold no-margin">
											<p:outputPanel rendered="#{dbDTO.fileMovementViewed eq 0}">
												<h:outputText value="#{dbDTO.fileMovementViewed}" />
											</p:outputPanel>
											<p:outputPanel rendered="#{dbDTO.fileMovementViewed ne 0}">
												<h5 class="text-semibold no-margin status-link">
													<p:commandLink action="#{fileMovementBean.showListPage}"
														onclick="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();"
														value="#{dbDTO.fileMovementViewed}">
													</p:commandLink>
												</h5>
											</p:outputPanel>
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['pending']}</div>
										<p:outputPanel rendered="#{dbDTO.fileMovementPending eq 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink value="#{dbDTO.fileMovementPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
										<p:outputPanel rendered="#{dbDTO.fileMovementPending ne 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink action="#{fileMovementBean.showListPage}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													value="#{dbDTO.fileMovementPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<div class="panel panel-body text-center">
								<div class="media   stack-media-on-mobile">
									<div class="media-body">
										<div class="media-middle">
											<i
												class="icon-bell3 icon-2x text-muted no-edge-top text-warning"></i>
										</div>
										<h5 class="text-semibold no-margin-bottom mt-5">#{msg['notification']}</h5>
									</div>
								</div>
								<div class="list-group-divider"></div>
								<div class="row">
									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['received']}</div>
										<h5 class="text-semibold no-margin">
											<h:outputText value="#{dbDTO.notificationReceived}" />
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['viewed']}</div>
										<h5 class="text-semibold no-margin">
											<h:outputText value="#{dbDTO.notificationViewed}" />
										</h5>
									</div>

									<div class="col-xs-4">
										<div class="text-uppercase text-size-mini text-muted">#{msg['pending']}</div>
										<p:outputPanel rendered="#{dbDTO.notificationPending eq 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink value="#{dbDTO.notificationPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
										<p:outputPanel rendered="#{dbDTO.notificationPending ne 0}">
											<h5 class="text-semibold no-margin status-link">
												<p:commandLink
													action="#{systemNotificationBean.showListPage}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													value="#{dbDTO.notificationPending}">
												</p:commandLink>
											</h5>
										</p:outputPanel>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-flat">
						<div class="panel-body no-padding-bottom">
							<div class="row m-b-5">
								<div class="col-lg-12">
									<button type="button"
										class="btn bg-teal-400 btn-labeled btn-rounded"
										style="min-width: 148px">
										<b><i class="icon-hour-glass"></i></b>#{msg['sales_progress']}
									</button>

									<!--	<button type="button"
								class="btn bg-brown-400 btn-labeled btn-rounded"
								style="min-width: 148px">
								<b><i class="icon-reading"></i></b> Showroom
							</button>

							<button type="button"
								class="btn bg-slate-400 btn-labeled btn-rounded"
								style="min-width: 148px">
								<b><i class="icon-reading"></i></b> KNT Sales
							</button>-->
								</div>
							</div>

							<!-- <div class="row">
						<div class="col-sm-6 col-md-2">
							<div class="panel panel-body panel-body-accent"
								style="padding: 6px">
								<div class="media no-margin">
									<div class="media-left media-middle">
										<i class="icon-pointer icon-2x text-success-400"></i>
									</div>

									<div class="media-body text-right">
										<h5 class="no-margin text-semibold">652,549</h5>
										<span class="text-uppercase text-size-mini text-muted">Total
											Active Showroom</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-2">
							<div class="panel panel-body" style="padding: 6px">
								<div class="media no-margin">
									<div class="media-left media-middle">
										<i class="icon-enter6 icon-2x text-indigo-400"></i>
									</div>

									<div class="media-body text-right">
										<h5 class="no-margin text-semibold">245,382</h5>
										<span class="text-uppercase text-size-mini text-muted">Top
											5 Product Sales </span>
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-6 col-md-2">
							<div class="panel panel-body" style="padding: 6px">
								<div class="media no-margin">
									<div class="media-left media-middle">
										<i class="icon-bubbles4 icon-2x text-blue-400"></i>
									</div>

									<div class="media-body text-right">
										<h5 class="no-margin text-semibold">245,382</h5>
										<span class="text-uppercase text-size-mini text-muted">Notification
										</span>
									</div>
								</div>
							</div>
						</div>
					</div> -->


							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="panel panel-flat m-b-10">
										<div id="chart_div"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="panel panel-flat m-b-10">
										<div id="chart_div1"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="panel panel-flat m-b-10">
										<div id="piechart"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="panel-header-title m-b-10">
										<div class="panel-heading">
											<h5 class="panel-title">#{msg['top_5_fast_moving_pdt']}</h5>
										</div>
										<div class="table-responsive">
											<p:dataTable id="producttbl" var="product"
												rowIndexVar="index" styleClass="report-table" rows="5"
												emptyMessage="#{msg['no_record_found']}"
												value="#{dashboardBean.topMovingProductsList}">
												<p:column headerText="#" styleClass="text-center width-3">
													<h:outputText value="#{index +1}" />
												</p:column>
												<p:column headerText="#{msg['pro_name']}">
													<h:outputText value="#{product.name}" />
												</p:column>
												<p:column headerText="#{msg['unit_sold']}&nbsp;(&#xf156;)"
													styleClass="text-right fa-input">
													<h:outputText value="#{product.quantity}" />
												</p:column>
											</p:dataTable>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Tabs -->
					</div>


					<div class="panel panel-flat m-b-0">
						<div class="panel-body no-padding-bottom">
							<p:outputPanel id="showroompnl">
								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-sm-2">
										<div class="form-group">
											<button type="button"
												class="btn bg-brown-400 btn-labeled btn-rounded">
												<b><i class="icon-store"></i></b> #{msg['showrm']}
											</button>
										</div>
									</div>


									<div class="col-lg-9 col-md-9 col-sm-10">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-4">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-tree6"></i></span>
														<h:selectOneMenu id="regionEntityMaster"
															converter="#{entityConverter}"
															value="#{dashboardBean.selectedRegion}"
															class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems value="#{dashboardBean.regionList}"
																var="entityMaster"
																itemLabel="#{entityMaster.code} / #{entityMaster.name}"
																itemValue="#{entityMaster}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{dashboardBean.onchangeRegion}"
																update="showroom" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="showroom"
															value="#{dashboardBean.selectedShowroom}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems value="#{dashboardBean.showroomList}"
																var="showroom"
																itemLabel="#{showroom.code} / #{showroom.name}"
																itemValue="#{showroom}" />
															<p:ajax event="change" updtae="showroomdatapnl" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4">
												<div class="form-group form-group_calend">
													<p:calendar placeholder="dd-MMM-yyyy" id="FrmDate"
														value="#{dashboardBean.searchDate}"
														styleClass="form-control-1 calend-icon-1"
														pattern="dd-MMM-yyyy" navigator="true">
														<p:ajax event="dateSelect"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{dashboardBean.loadShowroomData}"
															updtae="showroomdatapnl month_sales" />
													</p:calendar>
												</div>
											</div>
										</div>
									</div>
								</div>

								<p:outputPanel id="showroomdatapnl">
									<div class="card-block feature-card-box m-b-15"
										style="border: 1px solid #ddd;">
										<div class="row">
											<div
												class="col-lg-2 col-md-2 col-sm-2 col-xs-12 b-r-default text-center home-information">
												<i class="icon-arrow-right7" style="font-size: 28px"></i>
												<h5 class="m-b-0">
													#{msg['information_for_day']}
													<h:panelGroup
														rendered="#{not empty dashboardBean.searchDate or dashboardBean.searchDate eq 'null'}">(<h:outputText
															value="#{dashboardBean.searchDate}">
															<f:convertDateTime
																pattern="#{loginBean.userInfoDTO.dateFormat}"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText>
														<ui:remove>
															<h:outputText value="#{session.lastAccessedTime}">
																<f:convertDateTime pattern="dd-MMM-yyyy" type="date" />
															</h:outputText>
														</ui:remove>
												)</h:panelGroup>
												</h5>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
												<div class="feature-icon bg-slate">
													<i class="icon-cart5"></i>
												</div>
												<h5 class="f-w-400 m-b-0 m-t-5">
													<i class="fa fa-inr"></i>
													#{dashboardBean.getIndianFormattedValue(dashboardBean.showroomInfoDTO.totalSaleAmount)}
												</h5>
												<p class="text-muted f-15 m-b-0">#{msg['sales_amount']}</p>
											</div>

											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
												<div class="feature-icon bg-primary">
													<i class="icon-certificate"></i>
												</div>
												<h5 class="f-w-400 m-b-0 m-t-5">#{dashboardBean.showroomInfoDTO.totalBillCompleted}</h5>
												<p class="text-muted f-15 m-b-0">#{msg['bill_completed']}</p>
											</div>
											<ui:remove>
												<div
													class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
													<div class="feature-icon bg-success">
														<i class="icon-hand"></i>
													</div>
													<h5 class="f-w-400 m-b-0 m-t-5">#{dashboardBean.showroomInfoDTO.totalBillOnHold}</h5>
													<p class="text-muted f-15 m-b-0">#{msg['bills_on_hold']}</p>
												</div>
											</ui:remove>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
												<div class="feature-icon bg-info">
													<i class="icon-cart5"></i>
												</div>
												<h5 class="f-w-400 m-b-0 m-t-5">
													<i class="fa fa-inr"></i>
													#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.totalExpenseAmount)}
												</h5>
												<p class="text-muted f-15 m-b-0">#{msg['expense_amount']}</p>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
												<div class="feature-icon bg-purple">
													<i class="icon-arrow-left16"></i>
												</div>
												<h5 class="f-w-400 m-b-0 m-t-5">
													<i class="fa fa-inr"></i>
													#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.totalSaleReturn)}
												</h5>
												<p class="text-muted f-15 m-b-0">#{msg['sales_exchange']}</p>
											</div>
											<ui:remove>
												<div
													class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
													<div class="feature-icon bg-danger">
														<i class="icon-hour-glass2"></i>
													</div>
													<h5 class="f-w-400 m-b-0 m-t-5">#{dashboardBean.showroomInfoDTO.totalPendingStock}</h5>
													<p class="text-muted f-15 m-b-0">#{msg['pending_stock']}</p>
												</div>
											</ui:remove>

											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
												<div class="feature-icon bg-brown" style="min-width: auto">
													<i class="icon-user-plus"></i>
												</div>
												<h5 class="f-w-400 m-b-0 m-t-5">#{dashboardBean.showroomInfoDTO.totalNewCustomer}</h5>
												<p class="text-muted f-15 m-b-0">#{msg['new_customers']}</p>
											</div>

										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="panel-header-title">
												<div class="panel-heading">
													<h6 class="panel-title">
														#{msg['top_5_fast_moving_pdt']} (#{msg['qty']})<span
															class="pull-right">#{dashboardBean.showroomInfoDTO.currentMonth}
															- #{dashboardBean.showroomInfoDTO.currentYear} </span>
													</h6>
												</div>

												<div class="panel-body p-0 m-b-15">
													<div class="table-responsive">
														<p:dataTable id="productquantbl" var="product"
															rowIndexVar="index" styleClass="report-table" rows="5"
															emptyMessage="#{msg['no_record_found']}"
															value="#{dashboardBean.showroomInfoDTO.sellingProductList}">
															<p:column headerText="#" styleClass="text-center width-3">
																<h:outputText value="#{index +1}" />
															</p:column>
															<p:column headerText="#{msg['pro_name']}">
																<h:outputText value="#{product.productName}" />
															</p:column>
															<p:column
																headerText="#{msg['unit_sold']}&nbsp;(&#xf156;)"
																styleClass="text-right fa-input">
																<h:outputText value="#{product.soldQuantity}" />
															</p:column>
														</p:dataTable>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="panel-header-title">
												<div class="panel-heading">
													<h6 class="panel-title">
														#{msg['top_5_fast_moving_pdt']} (#{msg['values']})<span
															class="pull-right">#{dashboardBean.showroomInfoDTO.currentMonth}
															- #{dashboardBean.showroomInfoDTO.currentYear} </span>
													</h6>
												</div>

												<div class="panel-body p-0 m-b-15">
													<div class="table-responsive">
														<p:dataTable id="productvaluestbl" var="product"
															rowIndexVar="index" styleClass="report-table " rows="5"
															emptyMessage="#{msg['no_record_found']}"
															value="#{dashboardBean.showroomInfoDTO.sellingProductList}">
															<p:column headerText="#" styleClass="text-center width-3">
																<h:outputText value="#{index +1}" />
															</p:column>
															<p:column headerText="#{msg['pro_name']}">
																<h:outputText value="#{product.productName}" />
															</p:column>
															<p:column
																headerText="#{msg['unit_sold']}&nbsp;(&#xf156;)"
																styleClass="text-right fa-input">
																<h:outputText value="#{product.productPrice}" />
															</p:column>
														</p:dataTable>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h6 class="panel-title">#{msg['monthly_sales_progress']}</h6>
												</div>

												<div class="panel-body">
													<div id="month_sales" style="width: 100%; height: 135px;"></div>
												</div>
											</div>
										</div>

										<ui:remove>
											<!-- <div class="col-md-4">
							<div class="panel panel-info" style="border: none">
								<div class="panel-heading quadrat" style="margin: 0">
									<h6 id="blinkeffect" class="m-0 text-center">Minimum Stock
										Alert</h6>
								</div>
								<div class="panel-body p-0">
									<table class="table-responsive report-table">
										<thead>
											<tr>
												<th>#</th>
												<th><p:outputLabel class="fa-input"
														value="#{msg['product_code']} / #{msg['name']}" /></th>
												<th><p:outputLabel class="fa-input"
														value="#{msg['qty']}" /></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td align="center">1</td>
												<td>001 / Cotton Saree</td>
												<td class="text-center">02</td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td>002 / Half Silk Saree</td>
												<td class="text-center">05</td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td>002 / Half Silk Saree</td>
												<td class="text-center">02</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<div class="panel panel-info" style="border: none">
								<div class="panel-heading quadrat" style="margin: 0">
									<h6 id="blinkeffect" class="m-0 text-center">Maximum Stock
										Alert</h6>
								</div>
								<div class="panel-body p-0">
									<table class="table-responsive report-table">
										<thead>
											<tr>
												<th>#</th>
												<th><p:outputLabel class="fa-input"
														value="#{msg['product_code']} / #{msg['name']}" /></th>
												<th><p:outputLabel class="fa-input"
														value="#{msg['qty']}" /></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td align="center">1</td>
												<td>001 / Cotton Saree</td>
												<td class="text-center">02</td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td>002 / Half Silk Saree</td>
												<td class="text-center">05</td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td>002 / Half Silk Saree</td>
												<td class="text-center">02</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div> -->
										</ui:remove>

										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="row">
												<div class="col-lg-12 m-b-10">
													<div class="update-nag">
														<div class="update-split update-success">
															<i class="icon-file-check"></i>
														</div>
														<div class="update-text">
															#{msg['open_bal']}<span
																class="text-success fa-input pull-right text14">&#xf156;&nbsp;#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.openingBalance)}
															</span>
														</div>
													</div>
												</div>

												<div class="col-lg-12 m-b-10">
													<div class="update-nag">
														<div class="update-split update-warning">
															<i class="icon-certificate"></i>
														</div>
														<div class="update-text">
															#{msg['tot_cash_receipt']} <span
																class="text-warning fa-input pull-right text14">&#xf156;&nbsp;#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.cashReceipt)}</span>
														</div>
													</div>
												</div>

												<div class="col-lg-12 m-b-10">
													<div class="update-nag">
														<div class="update-split update-primary">
															<i class="icon-cash2"></i>
														</div>
														<div class="update-text">
															#{msg['tot_cash_payment']} <span
																class="text-primary fa-input pull-right text14">&#xf156;&nbsp;#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.cashPayment)}</span>
														</div>
													</div>
												</div>


												<div class="col-lg-12 m-b-10">
													<div class="update-nag">
														<div class="update-split update-danger">
															<i class="icon-cross2"></i>
														</div>
														<div class="update-text">
															#{msg['close_bal']} <span
																class="text-danger fa-input pull-right text14">&#xf156;&nbsp;#{dashboardBean.formatDecimalNumber(dashboardBean.showroomInfoDTO.openingBalance+
																(dashboardBean.showroomInfoDTO.cashReceipt-dashboardBean.showroomInfoDTO.cashPayment))}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</p:outputPanel>
							</p:outputPanel>
						</div>
					</div>


					<ui:remove>
						<div class="panel panel-flat m-b-0">
							<div class="panel-body no-padding-bottom">
								<div class="row m-b-5">
									<div class="col-lg-12">
										<button type="button"
											class="btn bg-purple-400 btn-labeled btn-rounded"
											style="min-width: 148px">
											<b><i class="icon-user"></i></b> #{msg['admin']}
										</button>

									</div>
								</div>
								<div class="row">
									<div class="col-sm-6 cust-wid">
										<div class="panel panel-body bg-blue-400 has-bg-image"
											style="padding: 6px">
											<div class="media no-margin">
												<div class="media-body">
													<h3 class="no-margin text-semibold">150</h3>
													<span class="text-uppercase text-size-mini text-muted">#{msg['emp_on_leave_for_day']}</span>
												</div>

												<div class="media-right media-middle">
													<i class="icon-user icon-3x opacity-75"></i>
												</div>
											</div>
										</div>
									</div>


									<div class="col-sm-6 cust-wid">
										<div class="panel panel-body bg-purple-400 has-bg-image"
											style="padding: 6px">
											<div class="media no-margin">
												<div class="media-body">
													<h3 class="no-margin text-semibold">150</h3>
													<span class="text-uppercase text-size-mini text-muted">#{msg['tot_no_vacancies']}</span>
												</div>

												<div class="media-right media-middle">
													<i class="icon-furniture icon-3x opacity-75"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-6 cust-wid">
										<div class="panel panel-body bg-brown-400 has-bg-image"
											style="padding: 6px">
											<div class="media no-margin">
												<div class="media-body">
													<h3 class="no-margin text-semibold">150</h3>
													<span class="text-uppercase text-size-mini text-muted">#{msg['no_promotion_for_month']}</span>
												</div>

												<div class="media-right media-middle">
													<i class="icon-medal icon-3x opacity-75"></i>
												</div>
											</div>
										</div>
									</div>


									<div class="col-sm-6 cust-wid">
										<div class="panel panel-body bg-teal-400 has-bg-image"
											style="padding: 6px">
											<div class="media no-margin">
												<div class="media-body">
													<h3 class="no-margin text-semibold">03</h3>
													<span class="text-uppercase text-size-mini text-muted">#{msg['legal_cases_hearing_month']}</span>
												</div>

												<div class="media-right media-middle">
													<i class="icon-balance icon-3x opacity-75"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="col-sm-6 cust-wid">
										<div class="panel panel-body bg-info-400 has-bg-image"
											style="padding: 6px">
											<div class="media no-margin">
												<div class="media-body">
													<h3 class="no-margin text-semibold">03</h3>
													<span class="text-uppercase text-size-mini text-muted">#{msg['legal_cases_filed_for_month']}</span>
												</div>

												<div class="media-right media-middle">
													<i class="icon-balance icon-3x opacity-75"></i>
												</div>
											</div>
										</div>
									</div>
								</div>

								<ui:remove>
									<div class="row">
										<div class="col-lg-6">
											<div class="panel panel-flat m-b-10">
												<div id="curve_chart"></div>
											</div>
										</div>
									</div>
								</ui:remove>
							</div>
							<!-- Tabs -->
						</div>
					</ui:remove>
				</div>
			</p:outputPanel>
			<!-- <script type="text/javascript">
			$(function() {
				$("#click").click(function() {
					$('#admin').show();
					$('#marketing').hide();
					return false;
				});
				$("#click1").click(function() {
					$('#admin').hide();
					$('#marketing').show();
					return false;
				});
				$("#click2").click(function() {
					$('#admin').show();
					$('#marketing').show();
					return false;
				});
			});
		</script> -->

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/loader.js"></script>
			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			google.charts.setOnLoadCallback(drawVisualization);

			function drawVisualization() {
				// Some raw data (not necessarily accurate)
				var data = google.visualization.arrayToDataTable([
					${dashboardBean.yearval},
					${dashboardBean.janval},
					${dashboardBean.febval},
					${dashboardBean.marval},
					${dashboardBean.aprval},
					${dashboardBean.mayval},
					${dashboardBean.junval},
					${dashboardBean.julval},
					${dashboardBean.augval},
					${dashboardBean.sepval},
					${dashboardBean.octval},
					${dashboardBean.novval},
					${dashboardBean.decval},
					]);

				var options = {
					title : 'Sales Progress :- Year wise Comparison',

					hAxis : {
						title : 'Month',
						fontName : 'roboto'
					},
					vAxis : {
						title : 'Sales Value in lakhs',
						fontName : 'roboto'
					},
					seriesType : 'bars',
					fontName : 'roboto',
					height : '350',
					width : '550',
					chartArea : {
						left : '15%',
						right : '5%',
						width : '100%'
					},
					legend : {
						position : 'top',
						alignment : 'start',
						textStyle : {
							fontSize : 12,
							fontName : 'roboto'
						}

					}
				};

				var chart = new google.visualization.ComboChart(document
						.getElementById('chart_div'));
				chart.draw(data, options);
			}
		</script>


			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			google.charts.setOnLoadCallback(drawVisualization);

			function drawVisualization() {
				// Some raw data (not necessarily accurate)
				var data = google.visualization.arrayToDataTable([
						[ 'Month', 'Target', 'Sales' ],
						${dashboardBean.janProgressval},
						${dashboardBean.febProgressval},
						${dashboardBean.marProgressval},
						${dashboardBean.aprProgressval},
						${dashboardBean.mayProgressval},
						${dashboardBean.junProgressval},
						${dashboardBean.julProgressval},
						${dashboardBean.augProgressval},
						${dashboardBean.sepProgressval},
						${dashboardBean.octProgressval},
						${dashboardBean.novProgressval},
						${dashboardBean.decProgressval},
						]);

				var options = {
					title : 'Target / Sales Progress for the Current year',

					hAxis : {
						title : 'Month',
						fontName : 'roboto'
					},

					vAxis : {
						title : 'Sales Value in lakhs',
						fontName : 'roboto'
					},
					seriesType : 'bars',
					fontName : 'roboto',
					height : '350',
					width : '550',
					chartArea : {
						right : '5%',
						left : '15%',
						width : '100%'
					},
					legend : {
						position : 'top',
						alignment : 'center',
						textStyle : {
							fontSize : 12,
							fontName : 'roboto'
						}

					}
				};

				var chart = new google.visualization.ComboChart(document
						.getElementById('chart_div1'));
				chart.draw(data, options);
			}
		</script>



			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			
			var activities = [];
			  <c:forEach items="${dashboardBean.dailyActivities}" var="activity">
			  activities.push(['${activity.name}',${activity.price}])  	
	        </c:forEach>
			
	        	
			console.log("DATA::: ",activities)
			
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {

				var data =new  google.visualization.DataTable();
				data.addColumn('string',"name");
				data.addColumn('number','price');
	
				 data.addRows(activities);

				// Options
				var options = {
					title : 'My Daily Activities',
					fontName : 'Roboto',
					height : 220,
					width : 550,
					chartArea : {
						left : 120,
						width : '90%',
						height : '80%'
					}
				};

				var chart = new google.visualization.PieChart(document
						.getElementById('piechart'));

				chart.draw(data, options);
			}
		</script>

			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			google.charts.setOnLoadCallback(drawChart);

			function drawChart() {
				var data = google.visualization
						.arrayToDataTable([ [ 'Year', 'On-hearing', 'Field' ],
								[ '2', 160, 120 ], [ '4', 180, 100 ],
								[ '6', 150, 195 ], [ '8', 150, 200 ] ]);

				var options = {
					title : 'Legal Cases Status for the year',
					curveType : 'function',
					fontName : 'roboto',
					height : '350',
					width : '600',
					legend : {
						position : 'top',
						left : 10,
						width : '90%',
						height : '80%'
					}
				};

				var chart = new google.visualization.LineChart(document
						.getElementById('curve_chart'));

				chart.draw(data, options);
			}
		</script>


			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'bar' ]
			});
			google.charts.setOnLoadCallback(drawChart);
		
			function drawChart() {
				var data = google.visualization.arrayToDataTable(#{dashboardBean.showroomInfoDTO.salesBarGraph});
		
				var options = {
					chart : {
						title : ' ',
						subtitle : '',
					}
				};
		
				var chart = new google.charts.Bar(document
						.getElementById('month_sales'));
		
				chart.draw(data, google.charts.Bar.convertOptions(options));
			}
		</script>
		</h:form>
	</ui:define>
</ui:composition>