<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<f:metadata>
	<f:event type="preRenderView"
		listener="#{loginBean.submit(request.getRemoteUser())}" />
</f:metadata>

<h:head>
	<title>InfoTex | Portal</title>
	<meta charset="utf-8" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<!-- for cache problem  -->
	<meta http-equiv='cache-control' content='no-cache' />
	<meta http-equiv='expires' content='0' />
	<meta http-equiv='pragma' content='no-cache' />
	<!-- for cache problem  -->

	<link href="#{request.contextPath}/assets/images/favicon.png"
		rel="shortcut icon" />
	

</h:head>

<h:body>

Loading, Please wait ...

</h:body>
</html>
