<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="dashboardform">
			<ui:param name="dbDTO" value="#{dashboardBean.headerDTO}"></ui:param>
			<link
				href="#{request.contextPath}/assets/css/css-circular-prog-bar.css"
				rel="stylesheet" type="text/css" />

			<title>InfoTex | Society Dashboard</title>
			<p:outputPanel
				rendered="#{loginBean.userMaster.userType ne 'SUPPLIER'}">
				<!-- Page Header -->
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4>#{msg['society_dashboard']}</h4>
							<ul class="breadcrumb">
								<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li class="active">#{msg['society_dashboard']}</li>
							</ul>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</div>
						<ui:include src="/pages/pageHeadingElements.xhtml" />
					</div>
				</div>
				<!-- Page Header End -->


				<!-- Page content -->
				<div class="content page-scroll-hp no-padding-bottom">
					<ui:remove>
						<!-- <div class="panel panel-flat">
						<div class="panel-body no-padding-top">
							Progress counters
							<div class="row">
								<div class="col-lg-3 col-md-3">
									<h5 class="bord_bot">
										<i class="fa fa-th-large m-r-5 m-t-0"></i><span
											class="iform-title">Product Quality Details <span
											class="m-l-10">(2018-2019)</span>
										</span>
									</h5>
									<div class="row" style="border-right: 1px solid #ccc">
										Application status
										<div class="panel-body no-padding-top">
											<ul class="list-unstyled mb-0">
												<li class="m-b-20">
													<div class="d-flex align-items-center mb-1">
														Total Number of Product Supplied <span
															class="text-muted ml-auto" style="float: right;">578</span>
													</div>
													<div class="progress" style="height: 0.375rem;">
														<div class="progress-bar bg-info" style="width: 100%">
															<span class="sr-only">80% Complete</span>
														</div>
													</div>
												</li>

												<li class="m-b-20">
													<div class="d-flex align-items-center mb-1">
														Number of Product Accepted <span
															class="text-muted ml-auto" style="float: right;">578</span>
													</div>
													<div class="progress" style="height: 0.375rem;">
														<div class="progress-bar bg-success" style="width: 100%">
															<span class="sr-only">66% Complete</span>
														</div>
													</div>
												</li>

												<li class="m-b-20">
													<div class="d-flex align-items-center mb-1">
														Number of Product Rejected <span
															class="text-muted ml-auto" style="float: right;">0</span>
													</div>
													<div class="progress" style="height: 0.375rem;">
														<div class="progress-bar bg-danger" style="width: 0%">
															<span class="sr-only">33% Complete</span>
														</div>
													</div>
												</li>

											</ul>
										</div>
										/application status
										<ui:remove>
											<div class="col-lg-4 col-md-4 ph0">
												Invitation stats white
												<div class="panel-body p-0 text-center">
													<div class="progress-circle over50 p80">
														<span>100</span>
														<div class="left-half-clipper">
															<div class="first50-bar"></div>
															<div class="value-bar"></div>
														</div>
													</div>
													<h6 class="font-weight-semibold mb-0 mt-1 text13">Total
														Number of Product Supplied</h6>
												</div>
												/invitation stats white
											</div>
											<div class="col-lg-4 col-md-4 ph0">
												Invitation stats white
												<div class="panel-body p-0 text-center">
													<div class="progress-circle over50 p66">
														<span>95</span>
														<div class="left-half-clipper">
															<div class="first66-bar"></div>
															<div class="success-bar"></div>
														</div>
													</div>
													<h6 class="font-weight-semibold mb-0 mt-1 text13">Number
														of Product Accedpted</h6>
												</div>
												/invitation stats white
											</div>
											<div class="col-lg-4 col-md-4 ph0">
												Invitation stats white
												<div class="panel-body p-0 text-center">
													<div class="progress-circle p33">
														<span>5%</span>
														<div class="left-half-clipper">
															<div class="first50-bar"></div>
															<div class="danger-bar"></div>
														</div>
													</div>
													<h6 class="font-weight-semibold mb-0 mt-1 text13">Number
														of Product Rejected</h6>
												</div>
												/invitation stats white
											</div>
										</ui:remove>
									</div>
								</div>

								<div class="col-lg-9">
									<div class="panel-body no-padding-top no-padding-bottom">
										<h5 class="bord_bot">
											<i class="fa fa-th-large m-r-5 m-t-0"></i><span
												class="iform-title">Overall Status <span
												class="m-l-10">(2018-2019)</span></span>
										</h5>
										<div class="row text-center">
											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Order Placement</span>
												<p class="m-t-10">
													<i
														class="cust-wid-warning icon-cart5 icon-1x text-success-400 border-success-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>

											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Confirmation</span>
												<p class="m-t-10">
													<i
														class="cust-wid-success icon-checkmark4 icon-1x d-inline-block text-success"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>
											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Delivery</span>
												<p class="m-t-10">
													<i class="cust-wid-info icon-truck icon-1x d-inline-block"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>
											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Accepted Goods</span>
												<p class="m-t-10">
													<i
														class="cust-wid-primary icon-file-check icon-1x d-inline-block"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>
											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Invoicing</span>
												<p class="m-t-10">
													<i
														class="cust-wid-pink icon-file-text icon-1x d-inline-block text-warning"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>
											<div class="col-lg-2 col-md-2">
												<span class="text-muted text14">Payment</span>
												<p class="m-t-10">
													<i
														class="cust-wid-purple icon-credit-card icon-1x d-inline-block text-warning"></i>
												</p>
												<ul class="chart-widget-legend chart-legend-wid">
													<li data-slice="0"
														style="border-bottom: 2px solid rgb(41, 182, 246); opacity: 1; transition: all 0.15s ease-in-out 0s;">Qty:
														<span class="fw-b">578</span>
													</li>
													<li data-slice="1"
														style="border-bottom: 2px solid rgb(102, 187, 106); opacity: 1; transition: all 0.15s ease-in-out 0s;"><span><i
															class="fa fa-inr"></i></span> <span class="fw-b">5123453</span>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>

							</div>
							/progress counters
						</div>
						Tabs
					</div> -->
					</ui:remove>

					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="panel panel-flat m-b-10">
								<div class="panel-body no-padding-top">
									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['supply_status_details']}
											(2018-2019)</span>
									</h5>
									<div class="table-responsive">
										<table class="report-table">
											<thead>
												<tr>
													<th>#{msg['product_code']} / #{msg['name']}</th>
													<th>#{msg['supply_qty']}</th>
													<th>#{msg['supply_value']}</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><a href="#" class="font-weight-semibold">SKWS
															/ Kanchipuram Woven Silk Sarees </a></td>
													<td class="text-right">250</td>
													<td class="text-right">1500.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-6">
							<div class="panel panel-flat m-b-10">
								<div class="panel-body no-padding-top">
									<h5 class="bord_bot">
										<i class="fa fa-th-large m-r-5 m-t-0"></i><span
											class="iform-title">#{msg['inv_dtl']}</span>
									</h5>

									<div class="list-group-flush invoice-details-lst-group">
										<a href="#" class="list-group-item list-group-item-action">
											<i class="icon-file-text text-success mr-3"></i>
											#{msg['tot_no_of_invoice']} <span
											class="badge bg-success badge-pill ml-auto">29</span>
										</a> <a href="#" class="list-group-item list-group-item-action">
											<i class="fa fa-inr fa-lg text-primary m-r-15"></i>#{msg['tot_payable_amount']}
											<span class="badge bg-primary badge-pill ml-auto">0</span>
										</a> <a href="#" class="list-group-item list-group-item-action">
											<i class="fa fa-inr fa-lg text-warning m-r-15"></i>#{msg['tot_paid_amount']}
											<span class="badge bg-warning badge-pill ml-auto">5123453</span>
										</a> <a href="#" class="list-group-item list-group-item-action">
											<i class="fa fa-inr fa-lg text-info m-r-15"></i>#{msg['balance_amount_paid']}
											<span class="badge bg-info badge-pill ml-auto">0</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-flat m-b-10">
								<div class="panel-body no-padding-top">
									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['advice_no_wise_payment_details']}</span>
									</h5>
									<div class="table-responsive">
										<table class="report-table">
											<thead>
												<tr>
													<th class="width-3">#</th>
													<th class="width-10">#{msg['advice_no']}</th>
													<th class="width-8">#{msg['advice_date']}</th>
													<th class="width-12">#{msg['circle_code_name']}</th>
													<th class="width-12">#{msg['district_code']} /
														#{msg['name']}</th>
													<th class="width-12">#{msg['bnk_name']}</th>
													<th class="width-15">#{msg['branch_code']} /
														#{msg['name']}</th>
													<th class="fa-input width-10">#{msg['tot_payable_amount']}
														(&#xf156;)</th>
													<th class="fa-input width-10">#{msg['tot_adjusted_amount']}
														(&#xf156;)</th>
													<th class="fa-input width-15">#{msg['paid_amt']}
														(&#xf156;)</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">1</td>
													<td>0123456</td>
													<td class="text-center">10-Sep-2019</td>
													<td>CW01 / Coimbatore</td>
													<td>CW01 / Coimbatore</td>
													<td>Indian Overseas Bank</td>
													<td>158 / Nungabakkam Branch</td>
													<td class="text-right">1500.00</td>
													<td class="text-right">1500.00</td>
													<td class="text-right">1000.00</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/loader.js"></script>
			<script type="text/javascript">
			google.charts.load('current', {
				'packages' : [ 'corechart' ]
			});
			google.charts.setOnLoadCallback(drawVisualization);

			function drawVisualization() {
				// Some raw data (not necessarily accurate)
				var data = google.visualization.arrayToDataTable([
					${dashboardBean.yearval},
					${dashboardBean.janval},
					${dashboardBean.febval},
					${dashboardBean.marval},
					${dashboardBean.aprval},
					${dashboardBean.mayval},
					${dashboardBean.junval},
					${dashboardBean.julval},
					${dashboardBean.augval},
					${dashboardBean.sepval},
					${dashboardBean.octval},
					${dashboardBean.novval},
					${dashboardBean.decval},
					]);

				var options = {
					title : 'AVG. PROCUREMENT CYCLE (SUPPLIER CLASSIFICATION)',

					hAxis : {
						title : 'Month',
						fontName : 'roboto'
					},
					vAxis : {
						title : 'Sales Value in lakhs',
						fontName : 'roboto'
					},
					seriesType : 'bars',
					fontName : 'roboto',
					height : '200',
					width : '550',
					chartArea : {
						left : '15%',
						right : '5%',
						width : '100%'
					},
					legend : {
						position : 'top',
						alignment : 'start',
						textStyle : {
							fontSize : 12,
							fontName : 'roboto'
						}

					}
				};

				var chart = new google.visualization.ComboChart(document
						.getElementById('chart_div'));
				chart.draw(data, options);
			}
		</script>


		</h:form>
	</ui:define>
</ui:composition>
