<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{societyProductAppraisalBean}"></ui:param>
		<ui:param name="societyProductAppraisal"
			value="#{societyProductAppraisalBean.societyProductAppraisal}"></ui:param>
		<title>InfoTex | View Society Product Appraiser</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_society_product_appraiser']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['weavers']}</li>
						<li class="active">#{msg['view_society_product_appraiser']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['society_product_appraiser']}</h6>
				</div>
				<div class="panel-body pg-scroll-panel-1 p-t-10">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['society_code']} / #{msg['name']}" />
								<h:outputText
									value="#{societyProductAppraisal.society.code}/#{societyProductAppraisal.society.name}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['prod_category_code']} / #{msg['name']}" />
								<h:outputText
									value="#{bean.productCategory.productCatCode}/#{bean.productCategory.productCatName}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['prod_group_code']} / #{msg['name']}" />
								<h:outputText
									value="#{bean.productGroup.code}/#{bean.productGroup.name}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['prod_variey_code']} / #{msg['name']}" />
								<h:outputText
									value="#{societyProductAppraisal.productVariety.code}/#{societyProductAppraisal.productVariety.name}"
									class="" />
							</div>
						</div>
					</div>


					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['weaver_deta']}</span>
					</h5>
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weaver_name']}" />
								<h:outputText value="#{societyProductAppraisal.weaversName}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weaver_number_id']}" />
								<h:outputText value="#{societyProductAppraisal.weaversMemberId}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['appraiser_by']}" />
								<h:outputText value="#{societyProductAppraisal.appraisedBy}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['raw_material_issue_date']}" />
								<h:outputText
									value="#{societyProductAppraisal.rawMaterialIssuedDate}"
									class="">
									<f:convertDateTime pattern="dd-MM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
					</div>


					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['design_details']}</span>
					</h5>
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['design_name']}" />
								<h:outputText value="#{societyProductAppraisal.designName}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['design_code']}" />
								<h:outputText value="#{societyProductAppraisal.designNumber}"
									class="">
									<f:convertNumber pattern="#0"></f:convertNumber>
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['silk_weight']}" />
								<h:outputText value="#{societyProductAppraisal.silkWeight}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['zari_weight']} (gms)" />
								<h:outputText value="#{societyProductAppraisal.zariWeight}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['zari_wattage_weight']}" />
								<h:outputText
									value="#{societyProductAppraisal.silkWastageWeight}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['total_product_weight']}" />
								<h:outputText
									value="#{societyProductAppraisal.totalProductWeight}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['product_length']} (#{msg['meters']})" />
								<h:outputText value="#{societyProductAppraisal.productLength}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['product_width']} (#{msg['meters']})" />
								<h:outputText value="#{societyProductAppraisal.productWidth}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['body_color']}" />
								<h:outputText value="#{societyProductAppraisal.bodyColor}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['body_design']}" />
								<h:outputText value="#{societyProductAppraisal.bodyDesign}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['pallu_design']}" />
								<h:outputText value="#{societyProductAppraisal.palluDesign}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['zari_type']}" />
								<h:outputText value="#{societyProductAppraisal.zariType}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['border_color']}" />
								<h:outputText value="#{societyProductAppraisal.borderColor}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['border_size']}" />
								<h:outputText value="#{societyProductAppraisal.borderSize}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weavers_blouse_available']}" />
								<h:outputText value="#{societyProductAppraisal.borderColor}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['border_type']}" />
								<h:outputText value="#{societyProductAppraisal.borderSize}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['societyATnumber']}" />
								<h:outputText value="#{societyProductAppraisal.borderColor}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['appraiserquantity']}" />
								<h:outputText value="#{societyProductAppraisal.borderSize}"
									class="" />
							</div>
						</div>
					</div>


					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['warp_n_weft_details']}</span>
					</h5>
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['warp_count']}" />
								<h:outputText value="#{societyProductAppraisal.warpCount}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weft_count']}" />
								<h:outputText value="#{societyProductAppraisal.weftCount}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['warp_wattage_percentage']}" />
								<h:outputText
									value="#{societyProductAppraisal.warpWastagePercentage}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weft_wattage_percentage']}" />
								<h:outputText
									value="#{societyProductAppraisal.weftWastagePercentage}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['proparatory_charge']}" />
								<h:outputText
									value="#{societyProductAppraisal.preparatoryCharge}"
									class="fa-input" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['printing_charge']}" />
								<h:outputText value="#{societyProductAppraisal.printingCharge}"
									class="fa-input" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['other_charge']}" />
								<h:outputText value="#{societyProductAppraisal.otherCharge}"
									class="fa-input" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ends_per_inch']}" />
								<h:outputText value="#{societyProductAppraisal.endPerInch}"
									class="fa-input" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['pick_per_inch']}" />
								<h:outputText value="#{societyProductAppraisal.picksPerInch}"
									class="fa-input" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['product_cost']}" />
								<h:outputText value="#{societyProductAppraisal.productCost}"
									class="fa-input">
									<f:convertNumber minFractionDigits="2"></f:convertNumber>
								</h:outputText>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['warp_yarn_type']}" />
								<h:outputText
									value="#{societyProductAppraisal.warpYarnTypeMaster.code} / #{societyProductAppraisal.warpYarnTypeMaster.name}"
									class="fa-input" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['weft_yarn_type']}" />
								<h:outputText
									value="#{societyProductAppraisal.weftYarnTypeMaster.code} / #{societyProductAppraisal.weftYarnTypeMaster.name}"
									class="fa-input" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['at_num']}" />
								<h:outputText value="#{societyProductAppraisal.atNumber}"
									class="fa-input" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="form-group">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									action="#{bean.clear}" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" immediate="true"
									class="btn bg-info font-iconmoon m-r-0" title="#{msg['back']}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>