<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	
	<ui:define name="content">
	<h:form id="tenderCategory">
		<title>InfoTex | Create Institute Name</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create']} #{msg['institute_name']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Master</li>
					
						<li class="active">#{msg['create']} #{msg['institute_name']}</li>
					</ul>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll no-padding-bottom">
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['create']} #{msg['institute_name']}
							 <span class="pull-right text-13 ">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<div >
					<p:outputPanel id="createTenderPanel">
						<div class="panel-body no-padding-bottom">
							<div class="row label-form custom-form-1">
							


															<div class="col-lg-3 col-md-3 col-sm-3 ">
															<div class="form-group">
																<p:outputLabel value="#{msg['code_no']}" />
																<span class="mand-red">*</span>

																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="fa fa-hashtag"></i></span>
											
												<p:inputText styleClass="form-control" id="codenum"
											value="#{tenderCategoryBean.tenderCategory.code}" required="true"
													requiredMessage="#{msg['code_no']} #{msg['required']}"
													placeholder="#{msg['code_no']}">
													<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
												</p:inputText>
															</div>
															<h:message for="codenum"  styleClass="validation-error-label"></h:message>
															</div>
														</div>
					
					
					
					
					
     														<div class="col-lg-3 col-md-3 col-sm-3 ">
															<div class="form-group">
																<p:outputLabel value="#{msg['name']}" />
																<span class="mand-red">*</span>

																<div class="input-group">
																	<span class="input-group-addon"><i
																		class=" icon-file-text2"></i></span>
																	<p:inputText styleClass="form-control" id="codename"
											value="#{tenderCategoryBean.tenderCategory.name}" required="true"
													requiredMessage="#{msg['name']} #{msg['required']}"
													placeholder="#{msg['name']}">
													<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
												</p:inputText>
															</div>
															<h:message for="codename"  styleClass="validation-error-label"></h:message>
															</div>
														</div>
														
														
														
																<div class="col-lg-3 col-md-3 col-sm-3 ">
															<div class="form-group">
																<p:outputLabel value="#{msg['lname']} in Tamil" />
																<span class="mand-red">*</span>

																<div class="input-group">
																	<span class="input-group-addon"><i
																		class=" icon-file-text2"></i></span>
																	<p:inputText styleClass="form-control" id="localname"
											value="#{tenderCategoryBean.tenderCategory.localName}" required="true"
													requiredMessage="#{msg['lname']} #{msg['required']}"
													placeholder="#{msg['lname']}">
													<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
												</p:inputText>
															</div>
															<h:message for="localname"  styleClass="validation-error-label"></h:message>
															</div>
														</div>
														
														
														
														

														<div class="col-lg-3 col-md-3 col-sm-3 ">
															<div class="form-group">
																<p:outputLabel value="#{msg['status']}" />
																<span class="mand-red">*</span>

																<div class="input-group">
																	<span class="input-group-addon"><i
																		class=" icon-star-full2"></i></span>
																	<h:selectOneMenu class="form-control" id="status"
											value="#{tenderCategoryBean.tenderCategory.activeStatus}"
											tabindex="4">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Active" itemValue="false" />
											<f:selectItem itemLabel="InActive" itemValue="false" />
										</h:selectOneMenu>
																</div>
															</div>
														</div>
							</div>
							
							
							
							
							
						<div class="row">

							<div class="col-md-12 text-right m-t-10">
								<div class="form-group">
										<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}" action="#{tenderCategoryBean.cancel}"
										class="btn btn-sm bg-slate fa-input m-l-10" />
									<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}" action="#{tenderCategoryBean.submit}"  update="createTenderPanel"
										styleClass="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10" />
								</div>
							</div>
						</div>
						<!-- end row -->
						
						</div>
						</p:outputPanel>
					</div>
					
				</div>
			</div>
		</div>

		
</h:form>
	</ui:define>
</ui:composition>