<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{meetingReportBean}"></ui:param>
		<title>InfoTex | Meeting Report List</title>


		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['meeting_report_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['admin']}</li>
						<li>#{msg['meeting']}</li>
						<li class="active">#{msg['meeting_report_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"><h:outputText
								value="#{bean.totalRecords}" id="recordcount"></h:outputText></span> -
						#{msg['meeting_report']}(#{msg['list_s']})
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
								rendered="#{bean.addButtonFlag  }"
								class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}"
								id="addId" update="growls"
								action="#{bean.showMeetingListPageAction}"
								oncomplete="PF('progressDlg').hide();"
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="CREATE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<ui:remove>loginBean.userFeatures['USER_ADD']</ui:remove>

				 			<p:commandButton value="&#xe912; #{msg['edit']}" immediate="true"
								rendered="#{bean.editButtonFlag }"
								class="btn bg-primary font-iconmoon m-r-0"
								title="#{msg['edit']}" id="editId" update="growls"
								action="#{bean.showMeetingListPageAction}"
								oncomplete="PF('progressDlg').hide();" 
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="EDIT"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
 
							<p:commandButton value="&#xea18; #{msg['view']}" immediate="true"
								rendered="#{bean.viewButtonFlag}"
								class="btn bg-info heading-btn  font-iconmoon"
								title="#{msg['view']}" update="growls"
								action="#{bean.showMeetingListPageAction}"
								oncomplete="PF('progressDlg').hide();"
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916; #{msg['clear']}" rendered="true"
								title="#{msg['clear']}" action="#{bean.clear}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="productlisttable" var="data" class="table"
							widgetVar="producttablewdgt" tableStyleClass="" lazy="true"
							value="#{bean.lazymeetingList}"
							selection="#{bean.selectedeeting}" rowKey="#{data.id}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="10,15" rows="10" rowIndexVar="idx"
							emptyMessage="#{msg['no_records_found']}">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />

							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" styleClass="width-10"
								filterBy="#{data.referenceNumber}" filterMatchMode="contains"
								headerText="#{msg['ref_no']}" sortBy="#{data.referenceNumber}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="refrenceno" class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.referenceNumber}" />
							</p:column>

							<p:column filterable="true" styleClass="width-10"
								filterBy="#{data.typeOfMeeting}" filterMatchMode="contains"
								headerText="#{msg['type_meet']}" sortBy="#{data.typeOfMeeting}"
								sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('producttablewdgt').filter()" id="typeofmeeting">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemValue="INTERNAL" itemLabel="INTERNAL" />
										<f:selectItem itemValue="EXTERNAL" itemLabel="EXTERNAL" />
										<f:selectItem itemValue="INTERNAL_EXTERNAL"
											itemLabel="INTERNAL_EXTERNAL" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.typeOfMeeting}" />
							</p:column>

							<p:column filterable="true"
								styleClass="text-center form-group_calend width-12"
								filterBy="#{data.meetingDate}" filterMatchMode="contains"
								headerText="#{msg['meet_date']}" sortBy="#{data.meetingDate}"
								sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('producttablewdgt').filter()"
										id="meetingdate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
										navigator="true" styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('producttablewdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText
									value="#{bean.selectedMeetingDateformat(data.meetingDate)}" />
							</p:column>

							<p:column filterable="true" styleClass="text-center width-12"
								filterBy="#{data.meetingStartTime}" filterMatchMode="contains"
								headerText="#{msg['meet_start_time']}"
								sortBy="#{data.meetingStartTime}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="meetingstarttime" class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText
									value="#{bean.meetingStartTimeFormat(data.meetingStartTime)}" />
							</p:column>


							<p:column filterable="true" styleClass="text-center width-12"
								filterBy="#{data.meetingEndTime}" filterMatchMode="contains"
								headerText="#{msg['meet_end_time']}"
								sortBy="#{data.meetingEndTime}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="meetingendtime" class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText
									value="#{bean.meetingEndTimeFormat(data.meetingEndTime)}" />
							</p:column>

							<ui:remove>
								<p:column filterBy=" #{data.department}" class="width-10"
									headerText="#{msg['dept']}" filterMatchMode="contains"
									filterable="true" sortBy=" #{data.department}" sortable="true"
									styleClass="text-center">

									<f:facet name="filter">
										<h:selectOneMenu class="form-control select2"
											onchange="PF('producttablewdgt').filter()" id="department">
											<f:selectItem itemLabel="#{msg['select']}"
												itemValue="#{null}" noSelectionOption="true" />
											<f:selectItem itemValue="Technical" itemLabel="Technical" />
											<f:selectItem itemValue="Marketing" itemLabel="Marketing" />
											<ui:repeat var="department" value="#{bean.departmentList}">
												<f:selectItem itemValue="#{department.name}"
													itemLabel="#{department.name}" />
											</ui:repeat>
										</h:selectOneMenu>
									</f:facet>
									<h:outputText value="#{data.department}" />
								</p:column>
							</ui:remove>

							<p:column filterable="true" class="width-10"
								filterBy="#{data.numberOfPeople}" filterMatchMode="contains"
								headerText="#{msg['no_of_peo']}" sortBy="#{data.numberOfPeople}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="noofpeople" class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.numberOfPeople}" />
							</p:column>

							<p:column filterBy=" #{data.status}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy=" #{data.status}" sortable="true"
								styleClass="text-center width-12">

								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('producttablewdgt').filter()" id="statusDropdown"
										valu="#{bean.selectedstatus}">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemValue="REPORT_SUBMITTED"
											itemLabel="REPORT SUBMITTED" />
										<f:selectItem itemValue="REPORT_REJECTED" itemLabel="REPORT REJECTED" />
										<f:selectItem itemValue="FINAL_APPROVED"
											itemLabel="FINAL APPROVED" />
										<f:selectItem itemValue="REPORT_FINAL_APPROVED"
											itemLabel="REPORT FINAL APPROVED" />
										<f:selectItem itemValue="REPORT_APPROVED"
											itemLabel="REPORT APPROVED" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.status}"
									styleClass="label label-default width-custom"
									rendered="#{data.status eq 'INITIATED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'APPROVED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'REPORT_REJECTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-info width-custom"
									rendered="#{data.status eq 'REPORT_APPROVED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-warning width-custom"
									rendered="#{data.status eq 'REPORT_SUBMITTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'FINAL_APPROVED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'REPORT_FINAL_APPROVED'}" />
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>