<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Society Wise Production Plan</title>

		<!-- Page Header -->
		<div class="page-header page-header-default" style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4 class="page-title">#{msg['society_wise_production_plan']}
							- #{msg['govt_Scheme']}</h4>

					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">#{msg['govt_scheme_pdt_plan']}</a></li>
						<li class="active">#{msg['society_wise_production_plan']}
							- #{msg['govt_Scheme']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<!-- Process Steps -->
		<div class="content">
			<div class="row">
				<div class="steps-basic box-shadow-wizard">
					<h6>Create Government Scheme</h6>
					<fieldset></fieldset>

					<h6 class="">Approve Government Scheme</h6>

					<fieldset></fieldset>
					<h6 class="">Finalize Government Scheme</h6>

					<fieldset></fieldset>
				</div>
			</div>
		</div>
		<!-- Process Steps end -->
		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info panel-bordered">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['society_wise_production_plan']}
							- #{msg['govt_Scheme']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body" style="padding: 10px 20px 10px 20px">
							<div class="text-right">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['scheme_type']}" />
									<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-archive"></i></span>
										<h:selectOneMenu id="schemetype"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="FDS" itemLabel="FDS"></f:selectItem>
											<f:selectItem itemValue="NMP" itemLabel="NMP"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['production_plan_name']}" />
									<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-plus2"></i></span>
										<h:selectOneMenu id="planname"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="2015 - 2016 FDS Plan"
												itemLabel="2015 - 2016 FDS Plan"></f:selectItem>
											<f:selectItem itemValue="2016 - 2017 FDS Plan"
												itemLabel="2016 - 2017 FDS Plan"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="row">
										<div class="col-md-6 col-lg-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['from']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar"></i></span>
													<p:inputText disabled="true" placeholder="Jun-2017"
														styleClass="form-control"></p:inputText>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-lg-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['to']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar"></i></span>
													<p:inputText disabled="true" placeholder="Jul-2017"
														styleClass="form-control"></p:inputText>
												</div>
											</div>
										</div>
									</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
								<p:outputLabel value="#{msg['plan_recd_date']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-calendar"></i></span>
										<p:inputText disabled="true" placeholder="10-Jun-2017"
											styleClass="form-control"></p:inputText>
									</div>
								</div>
							</div>
							<!-- end col -->
						</div>
						<h4 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['soc_pdt_plan_details']}</span>
						</h4>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['region_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-location3"></i></span>
											<p:inputText disabled="true" placeholder="Chennai"
												styleClass="form-control"></p:inputText>
										</div>
									</div>
								</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pro_cat']}" />
									<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-grid6"></i></span>
											<h:selectOneMenu id="procate"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemValue="A" itemLabel="A"></f:selectItem>
												<f:selectItem itemValue="B" itemLabel="B"></f:selectItem>
												<f:selectItem itemValue="C" itemLabel="C"></f:selectItem>
												<f:selectItem itemValue="D" itemLabel="D"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
								<p:outputLabel value="#{msg['product_group']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-grid6"></i></span>
										<h:selectOneMenu id="prodgroup"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="1" itemLabel="1"></f:selectItem>
											<f:selectItem itemValue="2" itemLabel="2"></f:selectItem>
											<f:selectItem itemValue="3" itemLabel="3"></f:selectItem>
											<f:selectItem itemValue="4" itemLabel="4"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
								<p:outputLabel value="#{msg['product_var']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-grid6"></i></span>
										<h:selectOneMenu id="productvar"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Handloom Saree"
												itemLabel="Handloom Saree"></f:selectItem>
											<f:selectItem itemValue="Pedalloom Saree"
												itemLabel="Pedalloom Saree"></f:selectItem>
											<f:selectItem itemValue="Powerloom Saree"
												itemLabel="Powerloom Saree"></f:selectItem>
											<f:selectItem itemValue="Handloom Dhoty"
												itemLabel="Handloom Dhoty"></f:selectItem>
											<f:selectItem itemValue="Pedalloom Dhoty"
												itemLabel="Pendalloom Dhoty"></f:selectItem>
											<f:selectItem itemValue="Powerloom Dhoty"
												itemLabel="Powerloom Dhoty"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
								<div class="col-md-3">
									<div class="form-group retail">
										<p:outputLabel value="#{msg['circle']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-location4"></i></span>
											<div class="multi-select-full">
												<select class="multiselect form-control" multiple="multiple">
													<option value="01/Coimbatore">01/Coimbatore</option>
													<option value="02/Cuddalore">02/Cuddalore</option>
													<option value="03/Chennai">03/Chennai</option>
													<option value="04/Madurai">04/Madurai</option>
													<option value="05/Salem">05/Salem</option>
													<option value="06/Thanjavur">06/Thanjavur</option>
												</select>
											</div>
										</div>
									</div>
									<textarea rows="4" cols="20" class="form-control m-t-5"
										style="height: 58px;" placeholder="Circle Name"></textarea>
								</div>
							</div>
							
							<div class="col-lg-12  text-right ph0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									action="#{freeDistributionSystemBean.planPreview}"
									styleClass="btn btn-sm bg-slate waves-effect waves-light font-iconmoon"></p:commandButton>
								<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
									action="#{freeDistributionSystemBean.planPreview}"
									styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"></p:commandButton>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- collepse panel end -->
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">Total Retail Production Result : 3</div>
				</div>
				<div class="col-md-6 text-right">
					<!-- <div class="form-group">(Values in Lakh)</div> -->
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['society_wise_details']} -
										#{msg['qty']} / #{msg['meters']}
						</h5>
					</div>
					<div class="row">
						<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive ui-datatable">
								<table>
									<thead>
										<tr>
											<th class="ui-state-default" rowspan="2" align="center">S.No</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['circle']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['society_code']} / #{msg['name']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['product_var']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['value']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['action']}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center">1</td>
											<td>Chennai</td>
											<td>11206 - Murugan handloom society</td>
											<td>Handloom Saree</td>
											<td><input type="text" class="form-control"
												placeholder="" /></td>
											<td align="center">
												<button
													class="btn-xs btn-icon waves-effect waves-light btn-danger"
													title="Delete">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
										<tr>
											<td align="center">2</td>
											<td>Madurai</td>
											<td>11206 - Murugan handloom society</td>
											<td>Handloom Saree</td>
											<td><input type="text" class="form-control"
												placeholder="" /></td>
											<td align="center">
												<button
													class="btn-xs btn-icon waves-effect waves-light btn-danger"
													title="Delete">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
										<tr>
											<td align="center">3</td>
											<td>Thiruvannamalai</td>
											<td>11206 - Murugan handloom society</td>
											<td>Handloom Saree</td>
											<td><input type="text" class="form-control"
												placeholder="" /></td>
											<td align="center">
												<button
													class="btn-xs btn-icon waves-effect waves-light btn-danger"
													title="Delete">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
										<tr>
											<td align="center">4</td>
											<td>Chennai</td>
											<td>11206 - Murugan handloom society</td>
											<td>Handloom Saree</td>
											<td><input type="text" class="form-control"
												placeholder="" /></td>
											<td align="center">
												<button
													class="btn-xs btn-icon waves-effect waves-light btn-danger"
													title="Delete">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
										<tr>
											<td align="center">5</td>
											<td>Madurai</td>
											<td>11206 - Murugan handloom society</td>
											<td>Handloom Saree</td>
											<td align="center">100</td>
											<td align="center">
												<button
													class="btn-xs btn-icon waves-effect waves-light btn-danger"
													title="Delete">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td align="center" colspan="4"><strong>TOTAL</strong></td>
											<td align="right">100</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
							</div>
							<div
								class="col-lg-12 col-md-12 col-sm-12 text-right m-t-10 m-b-10">
								<input type="submit" value="&#xea18;&nbsp;Preview"
									title="Preview"
									class="btn bg-primary heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
					<!-- end row -->

				</div>

			</div>
		</div>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>