<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Society Wise Production Plan List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>#{msg['soc_pdt_plan_govt_scheme_list']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Government Scheme Production Plan</li>
						<li class="active">#{msg['soc_pdt_plan_govt_scheme_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						Total Production Plan List : 5 <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}" class="btn bg-success font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center width-5"><span
										class="ui-column-title">#</span></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['production_plan_name']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-plus2"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="2015 - 2016 Production Plan" />
											<f:selectItem itemLabel="2014 - 2015 Production Plan" />
											<f:selectItem itemLabel="2013 - 2014 Production Plan" />
										</h:selectOneMenu></div></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['period']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar2"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Diwali" />
											<f:selectItem itemLabel="Annual" />
											<f:selectItem itemLabel="Pongal" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></div></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['pro_cat']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-stack3"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="A" />
											<f:selectItem itemLabel="AJ" />
											<f:selectItem itemLabel="C" />
											<f:selectItem itemLabel="D" />
										</h:selectOneMenu></div></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['product_group']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-stack3"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="1" />
											<f:selectItem itemLabel="2" />
											<f:selectItem itemLabel="3" />
											<f:selectItem itemLabel="4" />
										</h:selectOneMenu></div></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['product_var']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-stack3"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Handloom Saree" />
											<f:selectItem itemLabel="Powerloom Dhoti" />
											<f:selectItem itemLabel="Kanchipuram Saree" />
										</h:selectOneMenu></div></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="#{msg['created_date']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="form-group form-group_calend m-t-10">
											<p:calendar pattern="dd-MM-yyyy" placeholder="DD-MM-YY"
												mask="true" required="true" requiredMessage="Required"
												styleClass="form-control calend-icon" />
										</div></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Status" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-text2"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Approved" />
											<f:selectItem itemLabel="Pending" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></div></th>
									<th class="ui-state-default text-center width-5"><p:outputLabel
											value="#{msg['select']}" /></th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td align="center">1</td>
									<td>2015 - 2016 Production Plan</td>
									<td>Diwali</td>
									<td>A</td>
									<td>1</td>
									<td>Handloom Saree</td>
									<td>21-Jun-2017</td>
									<td class="text-warning text-center"><span class="label label-warning width-custom">Pending</span></td>
									<td align="center"><input type="radio" name="positions"
										id="radio5" value="toast-top-right" /></td>
								</tr>
								<tr>
									<td align="center">2</td>
									<td>2016 - 2017 Production Plan</td>
									<td>Annual</td>
									<td>B</td>
									<td>1</td>
									<td>Handloom Saree</td>
									<td>29-Jun-2017</td>
									<td class="text-success text-center"><span class="label label-success width-custom">Approved</span></td>
									<td align="center"><input type="radio" name="positions"
										id="radio5" value="toast-top-right" /></td>
								</tr>
								<tr>
									<td align="center">3</td>
									<td>2016 - 2017 Production Plan</td>
									<td>Diwali</td>
									<td>A</td>
									<td>1</td>
									<td>Handloom Saree</td>
									<td>13-Jul-2017</td>
									<td class="text-success text-center"><span class="label label-success width-custom">Approved</span></td>
									<td align="center"><input type="radio" name="positions"
										id="radio5" value="toast-top-right" /></td>
								</tr>
								<tr>
									<td align="center">4</td>
									<td>2016 - 2017 Production Plan</td>
									<td>Pongal</td>
									<td>B</td>
									<td>1</td>
									<td>Handloom Saree</td>
									<td>26-Jul-2017</td>
									<td class="text-danger text-center"><span class="label label-danger width-custom">Rejected</span></td>
									<td align="center"><input type="radio" name="positions"
										id="radio5" value="toast-top-right" /></td>
								</tr>
								<tr>
									<td align="center">5</td>
									<td>2016 - 2017 Production Plan</td>
									<td>Annual</td>
									<td>A</td>
									<td>1</td>
									<td>Handloom Saree</td>
									<td>21-Aug-2017</td>
									<td class="text-danger text-center"><span class="label label-danger width-custom">Rejected</span></td>
									<td align="center"><input type="radio" name="positions"
										id="radio5" value="toast-top-right" /></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10" id="DataTables_Table_0_info ">Showing
							1 to 10 of 15 entries</div>
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label> <select class="">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
									</select>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="dataTables_info m-b-0 m-l-10"
						id="DataTables_Table_2_info" role="status" aria-live="polite">
						<button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>