<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Order Form - Preview</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-file-eye position-left"></i>#{msg['order_form']} -
							#{msg['pre_view']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">#{msg['order_form']} -
							#{msg['pre_view']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">
		
							<div class="panel panel-info">
								<div class="panel-heading">
									<h6 class="panel-title">#{msg['order_form']} -
							#{msg['pre_view']}</h6>
									<div class="heading-elements">
				                	</div>
								</div>

								<div class="panel-body">
									<div class="row">
							<div class="col-md-12">
								<!-- <div class="panel-heading">
                                        <h4>Invoice</h4>
                                    </div> -->
								<div class="clearfix">
									<div class="pull-left">
										<h4 class="text-primary">The Tamilnadu Handloom Weavers
											Cooperative Society Ltd.,</h4>
										<p class="text14">
											#350, Pantheon Road, Egmore - 600 008.<br /> <b>Tel:</b>
											(044) 1234 - 1234, Fax: (044) 1234 - 1235,<br /> <b>Email
												:</b> Cooptex@Cooptex.com<br /> <b>Website :</b>
											www.Cooptex.com
										</p>

									</div>
									<div class="pull-right">
										<div class="logo m-t-25">
											<img src="/portal/assets/images/logo-new.jpg" />
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="row m-t-20">
							<div class="col-lg-4">
								<div class="panel panel-color panel-add">
									<div class="panel-body">
										<h4 class="panel-title">#{msg['soc_details']}</h4>
										<p class="text14">
											S869 J.O.Kondalapatty Cotton and Pure Silk Handloom Weavers,
											90, Callikottai Main Road, Salem - 636010 <br /> <b>Tel:</b>
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="panel panel-color panel-add">
									<div class="panel-body">
										<h4 class="panel-title">#{msg['del_to']}</h4>
										<p class="text14">
											Cooptex Product Warehouse <br />Bazar Street<br /> Salem -
											636010 <br /> <b>Tel:</b>(044) 1234 - 1234, Fax: (044) 1234
											- 1235
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="panel panel-color panel-add">
									<div class="panel-body">
									<h4 class="panel-title">#{msg['order_form_details']}</h4>
										<p class="text14">
											<b>Purchase Order Number:</b>12345<br /> <b>Purchase
												Order Date:</b>12-May-2017<br /> <b>Purchase Order Valid
												Date:</b>12-Jun-2018<br />
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive ui-datatable">
								<table>
									<thead>
										<tr>
											<th class="ui-state-default width-5" rowspan="2" align="center">#</th>
											<th class="ui-state-default " rowspan="2" align="center">#{msg['pro_id']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['pro_name']}</th>
											<th class="ui-state-default" colspan="5" align="center">#{msg['tech_spec']}</th>
											<th class="ui-state-default width-5" rowspan="2" align="center">#{msg['no_unit']}</th>
											<th class="ui-state-default width-8" rowspan="2" align="center">#{msg['unit_measure']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['amt_unit']}</th>
											<th class="ui-state-default" rowspan="2" align="center">#{msg['amount']}</th>
										</tr>
										<tr>
											<th class="ui-state-default width-10">#{msg['length']}</th>
											<th class="ui-state-default width-10">#{msg['width']}</th>
											<th class="ui-state-default width-10">#{msg['warp_count']}</th>
											<th class="ui-state-default width-10">#{msg['weft_count']}</th>
											<th class="ui-state-default width-10">#{msg['reed']}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center">1</td>
											<td>SCOB</td>
											<td>Silk Saree Coimbatore With Blouse</td>
											<td class="text-right">5.5</td>
											<td class="text-right">117 cm</td>
											<td class="text-right">20</td>
											<td class="text-right">36</td>
											<td class="text-right">96*84</td>
											<td class="text-right">1</td>
											<td>Qty</td>
											<td class="text-right">10000</td>
											<td class="text-right">10000</td>
										</tr>
										<tr>
											<td align="center">2</td>
											<td>SCOB</td>
											<td>Silk Saree Coimbatore With Blouse</td>
											<td class="text-right">5.5</td>
											<td class="text-right">117 cm</td>
											<td class="text-right">20</td>
											<td class="text-right">36</td>
											<td class="text-right">96*84</td>
											<td class="text-right">1</td>
											<td>Qty</td>
											<td class="text-right">10000</td>
											<td class="text-right">10000</td>
										</tr>
										<tr>
											<td align="center">3</td>
											<td>SCOB</td>
											<td>Silk Saree Coimbatore With Blouse</td>
											<td class="text-right">5.5</td>
											<td class="text-right">117 cm</td>
											<td class="text-right">20</td>
											<td class="text-right">36</td>
											<td class="text-right">96*84</td>
											<td class="text-right">1</td>
											<td>Mtr</td>
											<td class="text-right">10000</td>
											<td class="text-right">10000</td>
										</tr>
										<tr>
											<td align="center">4</td>
											<td>SCOB</td>
											<td>Silk Saree Coimbatore With Blouse</td>
											<td class="text-right">5.5</td>
											<td class="text-right">117 cm</td>
											<td class="text-right">20</td>
											<td class="text-right">36</td>
											<td class="text-right">96*84</td>
											<td class="text-right">1</td>
											<td>Qty</td>
											<td class="text-right">10000</td>
											<td class="text-right">10000</td>
										</tr>
										<tr>
											<td align="center">5</td>
											<td>SCOB</td>
											<td>Silk Saree Coimbatore With Blouse</td>
											<td class="text-right">5.5</td>
											<td class="text-right">117 cm</td>
											<td class="text-right">20</td>
											<td class="text-right">36</td>
											<td class="text-right">96*84</td>
											<td class="text-right">1</td>
											<td>Mtr</td>
											<td class="text-right">10000</td>
											<td class="text-right">10000</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td align="center" colspan="3"><strong>TOTAL</strong></td>
											<td>27.5</td>
											<td>585</td>
											<td>100</td>
											<td>180</td>
											<td>50</td>
											<td>5</td>
											<td></td>
											<td>50000</td>
											<td>50000</td>
										</tr>
									</tfoot>
								</table>
							</div>
							
							<div class="col-lg-12 col-sm-6 col-xs-6 text-right m-t-10">
								<h5 class="text-right">
									<b>Sub-total&nbsp;:</b> 50000.00
								</h5>
								<h5 class="text-right">
									<b>Freight Charges&nbsp;:</b> 500.00
								</h5>

								<h3 class="text-right m-0">
									<b>Total Amount:</b> 50500.00
								</h3>
							</div>
						</div>
					</div>
					<div class="row  m-t-20">
						<div class="col-lg-12">
							<div class="table-responsive">
								<table class="table m-0 cust-table">
									<thead>
										<tr>
											<th rowspan="2" align="center">#{msg['term_cond']}</th>
											<th rowspan="2" align="center">#{msg['comment']}</th>
											<th rowspan="2" align="center">#{msg['sign']}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td width="5%">The Product Should Delivery Before the PO
												Date Mentioned In the Purchase Order.</td>
											<td align="center"></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row m-t-20">
						<div class="col-lg-6 col-xs-12 panel-heading">
							<span class="mand-red">*</span> <span class="text12">This
								Computer Generated Purchase Order Signature Is not mandatory</span>
						</div>
						<div class="col-lg-6 text-right">
							<p:commandButton value="&#xeab8;&nbsp;#{msg['print']}"
								styleClass="btn btn-sm btn-info waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								styleClass="btn btn-sm btn-primary waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light font-iconmoon">
							</p:commandButton>
						</div>
					</div>

				</div>
							</div>
		</div>
	</ui:define>
</ui:composition>
