<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | Society Wise Production Plan - Preview</title>
	
			<!-- Page Header -->
			<div class="page-header page-header-default"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4 class="page-title">#{msg['society_wise_production_plan']} - #{msg['pre_view']}</h4>
						
						<ul class="breadcrumb">
							<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['govt_scheme_pdt_plan']}</a></li>
							<li class="active">
								#{msg['society_wise_production_plan']} - #{msg['pre_view']}
							</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
				</div>
				<!-- Page Header End -->
				<!-- Process Steps -->
				<div class="content">
					<div class="row">
						<div class="steps-basic box-shadow-wizard">
							<h6>Create Government Scheme</h6>
							<fieldset></fieldset>
		
							<h6 class="">Approve Government Scheme</h6>
		
							<fieldset></fieldset>
							<h6 class="">Finalize Government Scheme</h6>
		
							<fieldset></fieldset>
						</div>
					</div>
				</div>
				<!-- Process Steps end -->
				<div class="content page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info panel-bordered">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['prodt_plan_delt']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<p:outputPanel id="addpanel">
								<div class="row label-form view-style">
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['pdt_Plan_type']}" />
											<h:outputText value="Government Scheme" class="" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['scheme_type']}" />
											<h:outputText value="FDS" class="" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class=""
												value="#{msg['production_plan_name']}" />
											<h:outputText value="2015 - 2016 FDS Plan" class="" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['circle']}" />
											<h:outputText value="Chennai" class="" />
										</div>
									</div>
									</div>
									<div class="row label-form view-style">
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['pdt_region_name']}" />
											<h:outputText value="Selam" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['pro_cat']}" />
											<h:outputText value="A" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['product_group']}" />
											<h:outputText value="1" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group">
											<p:outputLabel class=""
												value="#{msg['prod_variey_code']} - #{msg['name']} " />
											<h:outputText value="HSC - Handloom Saree" class="" />
										</div>
									</div>
								</div>
								
							</p:outputPanel>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-6">
					<!-- <div class="form-group">Total Retail Production Result : 3</div> -->
				</div>
				<div class="col-md-6 text-right">
					<div class="form-group">(Values are in Quantity / Meters)</div>
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['society_wise_details']} - #{msg['hand_saree']}
						</h5>
					</div>
					<div class="row">
						<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive ui-datatable">
								<div class="table-responsive ui-datatable">
									<table class="table m-0 cust-table">
										<thead>
											<tr>
												<th class="ui-state-default" rowspan="2" align="center">#</th>
												<th class="ui-state-default" rowspan="2" align="center">#{msg['circle']}</th>
												<th class="ui-state-default" rowspan="2" align="center">#{msg['society_code']}
													/ #{msg['name']}</th>
												<th class="ui-state-default" rowspan="2" align="center">#{msg['t_qty']}</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td align="center">1</td>
												<td>Chennai</td>
												<td>11206 - Murugan handloom society</td>
												<td class="text-right">4</td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td>Madurai</td>
												<td>11206 - Murugan handloom society</td>
												<td class="text-right">4</td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td>Thiruvannamalai</td>
												<td>11206 - Murugan handloom society</td>
												<td class="text-right">4</td>
											</tr>
											<tr>
												<td align="center">4</td>
												<td>Chennai</td>
												<td>11206 - Murugan handloom society</td>
												<td class="text-right">4</td>
											</tr>
											<tr>
												<td align="center">5</td>
												<td>Madurai</td>
												<td>11206 - Murugan handloom society</td>
												<td class="text-right">4</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td align="center" colspan="3"><strong>TOTAL</strong></td>
												<td>20</td>
											</tr>
										</tfoot>
									</table>
									<div
									class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
									<div class="dataTables_info m-r-10"
										id="DataTables_Table_0_info " role="status" aria-live="polite">Showing
										1 to 10 of 15 entries</div>
									<ul class="pagination pagination-separated">
										<li><a href="#">&lsaquo;&lsaquo;</a></li>
										<li><a href="#">&lsaquo;</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li class="disabled"><a href="#">3</a></li>
										<li class="disabled"><a href="#">4</a></li>
										<li class="disabled"><a href="#">5</a></li>
										<li><a href="#">&rsaquo;</a></li>
										<li><a href="#">&rsaquo;&rsaquo;</a></li>
										<li>
											<div class="dataTables_length" id="DataTables_Table_1_length">
												<label> <select class="">
														<option value="10">10</option>
														<option value="25">25</option>
														<option value="50">50</option>
														<option value="100">100</option>
												</select>
												</label>
											</div>
										</li>
									</ul>
								</div>
							</div>

							</div>
						</div>
					</div>
					<!-- end row -->
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['remarks']}" />
									<textarea id="textarea" class="form-control" maxlength="225"
										rows="5" placeholder="Comments...."></textarea>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_qty_pdt_plan']}" />
									<p:inputText disabled="true" placeholder="40"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_qty_society_pdt_plan']}" />
									<p:inputText disabled="true" placeholder="20"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
						</div>
						<div class="row">
						<div class="col-lg-12 text-right m-b-10">
							<p:commandButton value="&#xecf2;&nbsp;#{msg['approve']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light font-iconmoon"></p:commandButton>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</ui:define>
</ui:composition>