<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">	
<c:if test="#{dandPProcurementPlanBean.dnpPlanResponse.getDnpPlanStatus() eq 'INITIATED' or dandPProcurementPlanBean.dnpPlanResponse.getDnpPlanStatus() eq 'SUBMITTED' or 
							dandPProcurementPlanBean.dnpPlanResponse.getDnpPlanStatus() eq 'REJECTED'}">
<style type="text/css">
#steps-uid-0-t-0 {
	color: #bbb !important;
}

#steps-uid-0-t-0 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #fff !important;
}

#steps-uid-0-t-0 span.number:after {
	content: '\ed6f';
}

#steps-uid-0-t-1 span.number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-1 {
	color: #000 !important
}
</style>
</c:if>
<c:if test="#{dandPProcurementPlanBean.dnpPlanResponse.getDnpPlanStatus() eq 'APPROVED'}"> 
<style type="text/css">
	#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after {
    content: '\ed6f';
    color:#fff !important;
    font-family: icomoon;
    display: inline-block;
    font-size: 16px;
    line-height: 34px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
#steps-uid-0-t-1 .number:after {
	 margin-left:-7px;
}
#steps-uid-0-t-0 {
	color: #bbb !important;
}

#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color:#4caf50 !important;
}

#steps-uid-0-t-0 span.number:after {
	content: '\ed6f';
}
#steps-uid-0-t-1 span.number:after {
	content: '\ed6f';
}
#steps-uid-0-t-2 {
	color: #000 !important
}

#steps-uid-0-t-2 span.number {
	border-color: #ff5722 !important;
	color: #333333 !important;
}
</style>
</c:if>
 
 


</ui:composition>