<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{disciplinaryActionBean}"></ui:param>
		<title>InfoTex | Manager Review</title>

		<style type="text/css">
#steps-uid-0-t-0 {
	font-weight: normal
}

#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after {
	margin-left: 0px;
}

#steps-uid-0-t-4 .number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-4 {
	color: #333333 !important;
}

#steps-uid-0-t-5 .number {
	border-color: #bbb;
}

#steps-uid-0-t-0 {
	color: #bbb;
}

.hidden {
	display: none !important;
}
</style>





		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['discipilinary_action']} - #{msg['manager_reviw']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{msg['manager_reviw']}</li>
					</ul>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content p-content">
			<div class="box-shadow-wizard wizard rpwf2 clearfix">
				<div class="steps clearfix pro14">
					<ul>
						<li class="first current"><a id="steps-uid-0-t-0"><span
								class="current-info audible">current step: </span><span
								class="number">1</span> Complaint Raise</a></li>
						<li class="disabled "><a id="steps-uid-0-t-1"><span
								class="number">2</span>Manager <br /> Review</a></li>
						<li class="disabled "><a id="steps-uid-0-t-2"><span
								class="number">3</span> Preliminary Enquiry</a></li>
						<li class="disabled "><a id="steps-uid-0-t-4"><span
								class="number">4</span>Manager <br /> Review</a></li>
						<li class="disabled "><a id="steps-uid-0-t-5"><span
								class="number">5</span> Explanation From Employee</a></li>
						<li class="disabled "><a id="steps-uid-0-t-5"><span
								class="number">6</span> Assign Enquiry Officer</a></li>
						<li class="disabled  "><a id="steps-uid-0-t-6"><span
								class="number">7</span> Domestic Enquiry Report</a></li>
						<li class="disabled "><a id="steps-uid-0-t-7"><span
								class="number">8</span>Manager <br /> Review</a></li>
						<li class="disabled "><a id="steps-uid-0-t-8"><span
								class="number">9</span> Employee <br /> Views</a></li>
						<li class="disabled "><a id="steps-uid-0-t-7"><span
								class="number">10</span>Manager <br /> Review</a></li>
						<li class="disabled  "><a id="steps-uid-0-t-9"><span
								class="number">11</span> Show Cause Notice Issue</a></li>
						<li class="disabled "><a id="steps-uid-0-t-10"><span
								class="number">12</span> Explanation Against Notice</a></li>
						<li class="disabled "><a id="steps-uid-0-t-11 "><span
								class="number">13</span> Decision</a></li>
					</ul>
				</div>
			</div>
		</div>


		<h:form>
			<div class="content  no-padding-bottom">
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['manager_reviw']} <span class="pull-right text-13 ">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div class="panel-collapse page-dis-process-dbl-line">
							<div class="panel-body no-padding-bottom">
								<div class="panel">
									<div class="panel-heading colllapse">
										<h6 class="panel-title pa-hover">
											<a class="collapsed collstyle" data-toggle="collapse"
												data-parent="#accordion-control-right"
												href="#accordion-control-right-group3" aria-expanded="false">
												<i class="icon-list m-r-10"></i>#{msg['com_history']}
											</a>
										</h6>
									</div>
									<div id="accordion-control-right-group3"
										class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body p-t-10 p-b-5">
											<div class="row view-style">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['enty_typ']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.entity.entityTypeMaster.entityName}"
																class="" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['entity']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.entity.name}"
																class="" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['dept']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.departmentMaster.name}"
																class="" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['sec']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.sectionMaster.name}" />
														</span>
													</div>
												</div>
											</div>

											<div class="row view-style">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['emp_name']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.empMaster.firstName}" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['emp_id']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.complaintTypeMaster.name}" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['complaint_type']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.complaintTypeMaster.name}" />
														</span>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['complaint_raised_date']}" />
														<span class=""> <h:outputText
																value="#{bean.getDateFormat(bean.empComplaintRegisterData.complaintRaisedDate)}"
																class="">
															</h:outputText>
														</span>
													</div>
												</div>
											</div>

											<div class="row view-style">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['complaint_des']}" />
														<span class=""> <h:outputText
																value="#{bean.empComplaintRegisterData.complaintDescription}"
																class="">
															</h:outputText>
														</span>
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel value="#{msg['comp_raise_document']}" />
													<div class="input-group image-preview" style="width: 100%">
														<p:inputText class="form-control width-63" id="fileName"
															value="#{bean.empComplaintRegisterData.fileName}"
															disabled="true" />
														<p:commandButton id="getneratePdfButton" ajax="false"
															class="btn bg-primary font-iconmoon downloadbut"
															value="&#xead2;&nbsp;#{msg['download']}"
															title="#{msg['download']}"
															actionListener="#{bean.getDownloadFile(bean.empComplaintRegisterData.filePath)}"
															update="growls">
															<p:fileDownload value="#{bean.downloadFile}" />
														</p:commandButton>
													</div>
												</div>
											</div>



											<div class="row view-style">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['preliminary_action']}" />
														<span class=""> <h:outputText
																value="#{bean.priliminaryRemarks}" class="">
															</h:outputText>
														</span>
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel value="#{msg['preliminary_action_doc']}" />
													<div class="input-group image-preview" style="width: 100%">
														<p:inputText class="form-control width-63" id="fileNamee"
															value="#{bean.priliminaryFileName}" disabled="true" />
														<p:commandButton id="getneratePdfButtonn" ajax="false"
															class="btn bg-primary font-iconmoon downloadbut"
															value="&#xead2;&nbsp;#{msg['download']}"
															title="#{msg['download']}"
															actionListener="#{bean.getDownloadFile(bean.priliminaryFilePath)}"
															update="growls">
															<p:fileDownload value="#{bean.downloadFile}" />
														</p:commandButton>
													</div>
												</div>
											</div>

											<div class="row view-style">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['emp_explain']}" />
														<span class=""> <h:outputText
																value="#{bean.explanationRemarks}" class="">
															</h:outputText>
														</span>
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6 m-b-10">
													<p:outputLabel value="#{msg['emp_exp_document']}" />
													<div class="input-group image-preview" style="width: 100%">
														<p:inputText class="form-control width-63" id="fileNameee"
															value="#{bean.explanationFileName}" disabled="true" />
														<p:commandButton id="getneratePdfButtonnn" ajax="false"
															class="btn bg-primary font-iconmoon downloadbut"
															value="&#xead2;&nbsp;#{msg['download']}"
															title="#{msg['download']}"
															actionListener="#{bean.getDownloadFile(bean.explanationFilePath)}"
															update="growls">
															<p:fileDownload value="#{bean.downloadFile}" />
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<p:outputPanel
									rendered="#{bean.viewDisciplinaryActionComplaintDetailsResponseDTO.authorizedUserForNextOperation}">
									<p:outputPanel id="updateDropDown">
										<div class="row m-t-10">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group assign-data">
													<p:outputLabel
														value="#{msg['whether_decision_explanation_from_emp']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="selectedMenuDecsEnqId"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['whether_decision_explanation_from_emp_req']}"
															class="form-control" value="#{bean.selectedMenuDecsEnq}">
															<f:selectItem itemLabel="Select" />
															<f:selectItem itemLabel="Decision"
																itemValue="type_punish" />
															<f:selectItem itemLabel="Explanation From Employee"
																itemValue="type_assign" />
															<p:ajax event="change"
																listener="#{bean.onChangeManagerReviewCancel}"
																update="punishment fromtodate assignmentEnq forwardTo"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="selectedMenuDecsEnqId"
														class="validation-error-label" />
												</div>
											</div>
										</div>

										<p:outputPanel id="punishment">
											<p:outputPanel
												rendered="#{bean.selectedMenuDecsEnq eq 'type_punish'}">
												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['pun_type']}" />
															<span class="mand-red">*</span>
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-envelope"></i></span>
																<h:selectOneMenu class="form-control"
																	id="punishmentList"
																	value="#{bean.punishmentTypeMaster}"
																	required="#{not empty param[submit.clientId]} and bean.selectedMenuDecsEnq eq 'type_punish'"
																	requiredMessage="#{msg['type_punish_req']}"
																	converter="#{entityConverter}">
																	<f:selectItem itemLabel="Select" itemValue="#{null}"
																		noSelectionOption="true" />
																	<f:selectItems value="#{bean.punishmentTypeMasterList}"
																		var="punishmentTypeMaster"
																		itemLabel="#{punishmentTypeMaster.name}"
																		itemValue="#{punishmentTypeMaster}" />
																	<p:ajax event="change"
																		listener="#{bean.onChangeManagerReviewDeciscionCancel}"
																		update="fromtodate punishmentList forwardTo">
																	</p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="punishmentList"
																class="validation-error-label" />
														</div>
													</div>


													<p:outputPanel id="fromtodate">
														<p:outputPanel
															rendered="#{bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_FROM_TO_DATE'}">
															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group form-group_calend">
																	<p:outputLabel value="#{msg['from_date']}" />
																	<span class="mand-red">*</span>
																	<p:calendar placeholder="dd-MMM-yyyy"
																		id="punshfromdate"
																		required="#{not empty param[submit.clientId] and bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_FROM_TO_DATE'}"
																		requiredMessage="#{msg['from_date_required']}"
																		styleClass="form-control calend-icon"
																		pattern="dd-MMM-yyyy" navigator="true"
																		value="#{bean.selectedFromDate}">
																		<p:ajax update="punishToDate" event="dateSelect"
																			listener="#{bean.updateToDate}" />
																	</p:calendar>
																	<h:message for="punshfromdate"
																		class="validation-error-label" />
																</div>
															</div>


															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group form-group_calend">
																	<p:outputLabel value="#{msg['to_date']}" />
																	<span class="mand-red">*</span>
																	<p:calendar placeholder="dd-MMM-yyyy" id="punishToDate"
																		disabled="#{bean.selectedFromDate eq null}"
																		mindate="#{bean.selectedFromDate}"
																		required="#{not empty param[submit.clientId] and bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_FROM_TO_DATE'}"
																		requiredMessage="#{msg['to_date_required']}"
																		styleClass="form-control calend-icon"
																		pattern="dd-MMM-yyyy" navigator="true"
																		value="#{bean.selectedToDate}">
																		<p:ajax update="punshfromdate" event="dateSelect" />
																	</p:calendar>
																	<h:message for="punishToDate"
																		class="validation-error-label" />
																</div>
															</div>
														</p:outputPanel>


														<p:outputPanel
															rendered="#{bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_SPECIFIC_DATE'}">
															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group form-group_calend">
																	<p:outputLabel value="#{msg['eff_from_Date']}" />
																	<span class="mand-red">*</span>
																	<p:calendar placeholder="dd-MMM-yyyy"
																		id="effectiveDate"
																		required="#{not empty param[submit.clientId] and bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_SPECIFIC_DATE'}"
																		requiredMessage="#{msg['effective_from_date_req']}"
																		styleClass="form-control calend-icon"
																		pattern="dd-MMM-yyyy" navigator="true"
																		value="#{bean.selectedEffectiveDate}" />
																	<h:message for="effectiveDate"
																		class="validation-error-label" />
																</div>
															</div>
														</p:outputPanel>

														<p:outputPanel
															rendered="#{bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_NONE'}">
															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['fine_amount']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"><i
																			class="fa fa-inr fa-lg"></i> </span>
																		<p:inputText class="form-control" placeholder=""
																			required="#{not empty param[submit.clientId] and bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_NONE'}"
																			requiredMessage="#{msg['fine_amount_req']}"
																			value="#{bean.fineAmount}" id="fineAmountId">
																			<p:keyFilter for="fineAmountId" mask="num" />
																		</p:inputText>
																	</div>
																	<h:message for="fineAmountId"
																		class="validation-error-label" />
																</div>

																<ui:remove>
																	<div class="form-group">
																		<p:outputLabel value="#{msg['no_of_due']}" />
																		<span class="mand-red">*</span>
																		<div class="input-group">
																			<span class="input-group-addon"><i
																				class="fa fa-inr fa-lg"></i> </span>
																			<p:inputText class="form-control" placeholder=""
																				required="#{not empty param[submit.clientId] and bean.punishmentTypeMaster.punishmentGroup eq 'GROUP_NONE'}"
																				requiredMessage="Number of due is required"
																				value="#{bean.dueNumber}" id="dueId">
																				<p:keyFilter for="dueId" mask="num" />
																			</p:inputText>
																		</div>
																		<h:message for="dueId" class="validation-error-label" />
																	</div>
																</ui:remove>
															</div>
														</p:outputPanel>
													</p:outputPanel>
												</div>
											</p:outputPanel>
										</p:outputPanel>

										<p:outputPanel id="assignmentEnq">
											<p:outputPanel
												rendered="#{bean.selectedMenuDecsEnq eq 'type_assignn'}">
												<div class="row">
													<div id="type_assign" class="col-lg-3 col-md-3 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['enq_type']}" />
															<span class="mand-red">*</span>
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-envelope"></i></span>
																<h:selectOneMenu id="advselector1" class="form-control"
																	required="#{not empty param[submit.clientId] and bean.selectedMenuDecsEnq eq 'type_assign'}"
																	requiredMessage="#{msg['enquiry_type_req']}"
																	value="#{bean.selectedEnquiryType}">
																	<f:selectItem itemLabel="Select" itemValue="#{null}"
																		noSelectionOption="true" />
																	<f:selectItem itemLabel="Internal" itemValue="internal" />
																	<f:selectItem itemLabel="External" itemValue="external" />
																	<p:ajax event="change"
																		listener="#{bean.onChangeManagerReviewDeciscionCancel}"
																		update=" hoRo enqOff advselector1 horooo entityTypeMaster entityMaster
															department section employeeName enquiryOfficer forwardTo">
																	</p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="advselector1"
																class="validation-error-label" />
														</div>
													</div>

													<p:outputPanel id="hoRo">
														<p:outputPanel
															rendered="#{bean.selectedEnquiryType eq 'internal'}">
															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['ho_ro']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																			class="icon-envelope"></i>
																		</span>
																		<h:selectOneMenu styleClass="form-control" id="horooo"
																			value="#{bean.selectedHeadRegionOfc}"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			requiredMessage="#{msg['ho_ro_req']}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.headRegionOfficeList}"
																				var="horo" itemLabel="#{horo.name}"
																				itemValue="#{horo}" />
																			<p:ajax update="entityTypeMaster entityMaster"
																				event="change" listener="#{bean.headandRegional}"></p:ajax>
																		</h:selectOneMenu>
																	</div>
																	<h:message for="horooo" class="validation-error-label" />
																</div>
															</div>


															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['enty_typ']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"><i
																			class="icon-office"></i></span>
																		<h:selectOneMenu id="entityTypeMaster"
																			styleClass="form-control"
																			value="#{bean.selectedEntityTypeMaster}"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			disabled="#{bean.visibility}"
																			requiredMessage="#{msg['entity_type_required']}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.entityTypeMasterList}"
																				var="entityTypes"
																				itemLabel="#{entityTypes.entityName}"
																				itemValue="#{entityTypes}" />
																			<p:ajax update="entityMaster" event="change"
																				listener="#{bean.onEntityTypeSelection}"></p:ajax>
																		</h:selectOneMenu>
																	</div>
																	<h:message for="entityTypeMaster"
																		class="validation-error-label" />
																</div>
															</div>

															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['entity']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"><i
																			class="icon-office"></i></span>
																		<h:selectOneMenu id="entityMaster"
																			styleClass="form-control"
																			disabled="#{bean.visibility}"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			requiredMessage="#{msg['entity_required']}"
																			value="#{bean.selectedEntityMaster}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.entityMasterList}"
																				var="entities" itemLabel="#{entities.name}"
																				itemValue="#{entities}" />
																		</h:selectOneMenu>
																	</div>
																	<h:message for="entityMaster"
																		class="validation-error-label" />
																</div>
															</div>


															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['dept']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"><i
																			class="icon-office"></i></span>
																		<h:selectOneMenu id="department"
																			styleClass="form-control"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			value="#{bean.selectedDepartment}"
																			requiredMessage="#{msg['department_required']}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.departmentList}"
																				var="department" itemLabel="#{department.name}"
																				itemValue="#{department}" />
																			<p:ajax update="section" event="change"
																				listener="#{bean.onDepartmentSelection}"></p:ajax>
																		</h:selectOneMenu>
																	</div>
																	<h:message for="department"
																		class="validation-error-label" />
																</div>
															</div>

															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['sec']}" for="section" />
																	<p:outputLabel value="*"
																		class="text-danger mand-symbol" for="section"
																		rendered="#{empty param[submit.clientId]}" />
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																			class="icon-section"></i></span>
																		<h:selectOneMenu id="section"
																			styleClass="form-control"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			requiredMessage="#{msg['section_required'] }"
																			value="#{bean.selectedSectionMaster}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.sectionMasterList}"
																				var="section" itemLabel="#{section.name}"
																				itemValue="#{section}" />
																			<p:ajax update="employeeName" event="change"
																				listener="#{bean.onSectionSelectionDisciplinary}"></p:ajax>
																		</h:selectOneMenu>
																	</div>
																	<h:message for="section" class="validation-error-label" />
																</div>
															</div>

															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['emp_name']}"
																		for="employeeName" />
																	<p:outputLabel value="*"
																		class="text-danger mand-symbol" for="employeeName"
																		rendered="#{empty param[submit.clientId]}" />
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																			class="icon-user"></i></span>
																		<h:selectOneMenu id="employeeName"
																			styleClass="form-control"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'internal'}"
																			requiredMessage="#{msg['employee_name_required']}"
																			value="#{bean.selectedEmployeeMaster}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.employeeMasterList}"
																				var="employeeMaster"
																				itemLabel="#{employeeMaster.firstName} #{employeeMaster.lastName}"
																				itemValue="#{employeeMaster}" />
																			<p:ajax event="change" update="employeeCodeId"></p:ajax>
																		</h:selectOneMenu>
																	</div>
																	<h:message for="employeeName"
																		class="validation-error-label" />
																</div>
															</div>

															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['emp_id']}" />
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																			class=" icon-vcard"></i>
																		</span>
																		<p:inputText id="employeeCodeId" class="form-control"
																			value="#{bean.selectedEmployeeMaster.empCode}"
																			disabled="true" />
																	</div>
																</div>
															</div>
														</p:outputPanel>
													</p:outputPanel>

													<p:outputPanel id="enqOff">
														<p:outputPanel
															rendered="#{bean.selectedEnquiryType eq 'external'}">
															<div class="col-lg-3 col-md-3 col-sm-6">
																<div class="form-group">
																	<p:outputLabel value="#{msg['enq_off']}" />
																	<span class="mand-red">*</span>
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																			class="icon-envelope"></i>
																		</span>

																		<h:selectOneMenu id="enquiryOfficer"
																			styleClass="form-control"
																			required="#{not empty param[submit.clientId] and bean.selectedEnquiryType eq 'external'}"
																			requiredMessage="#{msg['enquiry_off_req']}"
																			value="#{bean.selectedEnquiryOfficerId}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.enquiryOfficerList}"
																				var="enquiryOfficer"
																				itemLabel="#{enquiryOfficer.officerName}"
																				itemValue="#{enquiryOfficer.id}" />
																		</h:selectOneMenu>

																	</div>
																	<h:message for="enquiryOfficer"
																		class="validation-error-label" />
																</div>
															</div>
														</p:outputPanel>
													</p:outputPanel>
												</div>
											</p:outputPanel>
										</p:outputPanel>

										<div class="row">
											<div class="col-lg-12 m-t-10">
												<div class="form-group ">
													<p:outputLabel value="#{msg['comment']}" />
													<p:inputTextarea value="#{bean.complainDetail}" rows="3"
														required="#{not empty param[submit.clientId]}"
														id="complaintDiscription"
														requiredMessage="#{msg['complaint_discription_required']}"
														class="form-control" placeholder="Some text">
													</p:inputTextarea>
													<h:message for="complaintDiscription"
														class="validation-error-label" />
												</div>
											</div>

											<p:outputPanel id="forwardTo">
												<p:outputPanel
													rendered="#{bean.selectedMenuDecsEnq eq 'type_punish' or bean.selectedEnquiryType eq 'external'}">
													<div class="label-form">
														<div class="col-lg-3 col-md-3 col-sm-3 label-form"
															id="forwardTo">
															<div class="form-group">
																<p:outputLabel class="" value="#{msg['frwd_to']}" />
																<p:outputLabel value="*" class="text-danger mand-symbol"/>
																<div class="input-group ui-outputlabel ui-widget">
																	<span class="input-group-addon"><i
																		class="icon-forward"></i></span>
																	<ui:remove>
																		<h:selectOneMenu styleClass="form-control"
																			required="#{not empty param[submit.clientId] and bean.selectedMenuDecsEnq eq 'type_punish' or bean.selectedEnquiryType eq 'external'}"
																			requiredMessage="#{msg['forward_to_required']}"
																			value="#{bean.forwardToUserId}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" />
																			<f:selectItems value="#{bean.userMasters}"
																				var="userMaster"
																				itemLabel="#{userMaster.empCode} / #{userMaster.empName}"
																				itemValue="#{userMaster.id}" />
																		</h:selectOneMenu>
																	</ui:remove>
																	<p:autoComplete id="forwardToUsers" minQueryLength="2"
																		styleClass="form-control"
																		converter="#{entityConverter}"
																		required="#{not empty param[submit.clientId] and bean.selectedMenuDecsEnq eq 'type_punish' or bean.selectedEnquiryType eq 'external'}"
																		requiredMessage="#{msg['forward_to_req']}"
																		value="#{bean.userMaster}" itemValue="#{userMaster}"
																		var="userMaster" itemLabel="#{userMaster.empName}"
																		completeMethod="#{bean.loadAutoCompleteUserMaster}"
																		effect="fade">
																		<p:ajax event="itemSelect"></p:ajax>
																	</p:autoComplete>

																</div>
																<h:message for="forwardToUsers"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</p:outputPanel>
											</p:outputPanel>
										</div>

									</p:outputPanel>
								</p:outputPanel>

								<div class="row">
									<div class="col-md-12 text-right">
										<div id="selectSubmit" class="form-group">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												update="updateDropDown" title="#{msg['cancel']}"
												action="#{bean.onCancelManagerReviewCancel}"
												class="btn btn-sm bg-slate font-iconmoon dis-inlineblock" />

											<p:outputPanel styleClass="dis-inlineblock"
												rendered="#{bean.viewDisciplinaryActionComplaintDetailsResponseDTO.authorizedUserForNextOperation}">
												<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
													binding="#{submit}" update="updateDropDown"
													title="#{msg['submit']}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													action="#{bean.onCreateManagerReviewSecStage('MANAGER_REVIEW')}"
													class="btn btn-sm btn-success font-iconmoon" />
											</p:outputPanel>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 m-t-10"></div>
								</div>
							</div>
							<!-- end row -->
						</div>
					</div>

				</div>
			</div>

		</h:form>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script>

		<script>
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<script>
			$(document).ready(function() {
				$('#purpose').on('change', function() {
					if (this.value == '1') {
						$("#business").show();
						$("#durdate").show();
						$("#extspc").hide();
						$("#spcs").addClass("ff");
					}
					if (this.value == '2') {
						$("#staff").show();
						$("#spcs").removeClass("ff");
						$("#business").hide();
						$("#durdate").hide();
						$("#extspc").show();
					} else {
						$("#staff").hide();
					}
				});

				$('#advselector').change(function() {
					$('.advsection').hide();
					$('#' + $(this).val()).show();
				});
			});
		</script>
	</ui:define>
</ui:composition>