<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{courtCaseRegisterBean}"></ui:param>
		<ui:param name="courtCase" value="#{bean.courtCaseRegisterRequestDTO}"></ui:param>
		<ui:param name="courtCaseHearings" value="#{bean.courtCaseHearings}"></ui:param>

		<title>InfoTex | Update Hearing Court Case</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['update_cout_case']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a
							href="#{request.contextPath}/pages/home.xhtml">#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{msg['update_cout_case']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['court_cases']}</h6>
				</div>
				<div class="pg-scroll-panel-1">
					<div class="panel-body ">
						<h:form id="catform">
							<p:outputPanel id="entity">
								<div class="row view-style label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ho_ro']}" />
											<h:outputText id="code" onblur="" value="#{courtCase.horo}">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['typ_of_case']}" />
											<h:outputText id="typeOfCase" value="#{courtCase.typeOfCase}">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['court']}" />
											<h:outputText id="court" value="#{courtCase.court}">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['case_no']}" />
											<h:outputText value="#{courtCase.caseNo}" id="caseNo">
											</h:outputText>
										</div>
									</div>
								</div>

								<div class="row view-style label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['com_reg']}" />
											<h:outputText value="#{bean.complaintRegistered}"
												id="complaintRegistered">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['com_ref_no']}" />
											<h:outputText value="#{courtCase.complaintReferenceNumber}"
												id="complaintReferenceNumber">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['complaint_raised_date']}" />
											<h:outputText value="#{courtCase.complaintRaisedDate}"
												id="complaintRaisedDate">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sub']}" />
											<h:outputText value="#{courtCase.subject}" id="subject">
											</h:outputText>
										</div>
									</div>
								</div>


								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['pet_name']}</span>
								</h5>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<div id="table-scrol" class="table-responsive">
											<p:dataTable id="petitionerInfo" widgetVar="producttablewdgt"
												styleClass="report-table" var="data"
												value="#{bean.petitionerNameList}" lazy="true"
												rowIndexVar="idx" emptyMessage="#{msg['no_records_found']}">

												<p:column headerText="#" class="width-5 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['name']}">
													<h:outputText value="#{data}" />
												</p:column>

											</p:dataTable>
										</div>
									</div>
								</div>



								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['res_name']}</span>
								</h5>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<div id="table-scrol-respondInfo" class="table-responsive">
											<p:dataTable id="respondentInfo" widgetVar="producttablewdgt"
												styleClass="report-table m-b-10" var="data"
												value="#{bean.respondentNameList}" lazy="true"
												rowIndexVar="idx" emptyMessage="#{msg['no_records_found']}">

												<p:column headerText="#" class="width-5 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['name']}">
													<h:outputText value="#{data}" />
												</p:column>

											</p:dataTable>
										</div>
									</div>
								</div>


								<div class="row view-style label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['cont_aff']}" />
											<h:outputText value="#{bean.counterAffidavit}"
												id="counterAffidavit">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['vakalath']}" />
											<h:outputText value="#{bean.vakalathFiled}"
												id="vakalathFiled">
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dat_of_fill_cont']}" />
											<h:outputText value="#{courtCase.dateOfFillingCounter}"
												id="dateOfFillingCounter">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['stag_of_case']}" />
											<h:outputText id="caseStage" value="#{courtCase.caseStage}">
											</h:outputText>
										</div>
									</div>
								</div>


								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['hearing_date']}</span>
								</h5>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<div id="table-scrol-test" class="table-responsive">
											<p:dataTable id="hearingInfo" widgetVar="producttablewdgt"
												styleClass="report-table m-b-10" var="data"
												value="#{bean.updateHearingsListViewPage}" lazy="true"
												rowIndexVar="idx">

												<p:column headerText="#" class="width-5 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['stage_of_hear']}">
													<h:outputText id="counterStage"
														value="#{data.counterStage}">
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['last_hearing_date']}"
													styleClass="text-center">
													<h:outputText id="lastHearingDate"
														value="#{data.lastHearingDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
															pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['next_hearing_date']}"
													styleClass="text-center">
													<h:outputText id="nextHearingDate"
														value="#{data.nextHearingDate}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
															pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</h:outputText>
												</p:column>

											</p:dataTable>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<div class="row custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['stage_of_hear']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText placeholder="" styleClass="form-control"
															id="counterStage"
															value="#{courtCaseHearings.counterStage}" />
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['last_hearing_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend m-b-0">
													<p:calendar id="lastHearingDate" pattern="dd-MMM-yyyy"
														value="#{courtCaseHearings.lastHearingDate}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['last_hear_date_req']}"
														navigator="true" yearRange="c-100:c+100" disabled="true"
														styleClass="form-control-1 calend-icon-1"
														mindate="#{bean.lastHearingDateVal}">
														<f:convertDateTime timeZone="#{loginBean.timeZone}"
															pattern="#{loginBean.userInfoDTO.dateFormat}" />
													</p:calendar>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['next_hearing_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend m-b-0">
													<p:calendar id="nextHearingDate" pattern="dd-MMM-yyyy"
														value="#{courtCaseHearings.nextHearingDate}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['next_hear_date_req']}"
														placeholder="dd-MMM-yyyy" mask="true" navigator="true"
														yearRange="c-100:c+100"
														styleClass="form-control-1 calend-icon-1"
														mindate="#{bean.newHearingDateVal}">
													</p:calendar>
													<h:message for="nextHearingDate"
														class="validation-error-label" />
												</div>
											</div>
										</div>
									</div>
								</div>

								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['up_doc']}</span>
								</h5>
								<div class="row ">
									<div class="col-md-12">
										<div class="table-responsive">
											<p:dataTable id="fileInfo" widgetVar="producttablewdgt"
												styleClass="report-table" var="data"
												value="#{bean.uploadedFilesListViewPage}" lazy="true"
												rowIndexVar="idx">

												<p:column headerText="#" class="width-5 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>
												<p:column headerText="#{msg['doc_name']}">
													<h:outputText value="#{data.fileName}" />
												</p:column>
												<p:column headerText="#{msg['action']}"
													class="width-10 text-center">
													<f:facet name="filter">
														<p:inputText class="form-control " />
													</f:facet>
													<p:commandButton value="&#xf019; &nbsp;#{msg['download']}"
														title="#{msg['download']}" ajax="false"
														actionListener="#{bean.downloadFile(data.filePath)}"
														styleClass="btn btn-sm bg-primary fa-input btn-upload m-l-0">
														<p:fileDownload value="#{bean.file}"></p:fileDownload>
													</p:commandButton>
												</p:column>
											</p:dataTable>
										</div>
									</div>
								</div>
								<div class="row m-t-10">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}" onclick="PF('progressDlg').show()"
											rendered="true"
											action="#{bean.clearCourtCaseRegisterSelections}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}" binding="#{submit}"
											update="growls entity "
											class="btn bg-success heading-btn  font-iconmoon"
											action="#{bean.submitHearing}"
											onclick="PF('progressDlg').show()"
											oncomplete="PF('progressDlg').hide();">
										</p:commandButton>
									</div>
								</div>
							</p:outputPanel>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>