<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | Compassionate Appointment Approval</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['comp_apt_appr']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['recruit_pro']}</li>
							<li class="active">#{msg['comp_apt_appr']}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-5"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['comp_app']}</h6>
						</div>
						<div class="page-scroll">
							<div class="panel-body p-t-10">
								<div class="view-style">
									<div class="row">
										<div class="">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['nm_des_emp']}" />
													<span class=""> <p:outputLabel
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.firstName eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.firstName)}"></p:outputLabel>
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['dob']}" />
													<span class=""> <p:outputLabel
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.dob eq null?'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.dob)}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</p:outputLabel>
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_apptmnt']}" />
													<span class=""> <p:outputLabel
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfAppointment eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfAppointment)}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</p:outputLabel>
													</span>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['designation']}" />
													<span class=""> <p:outputLabel disabled="true"
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.designation eq null? 'Not Avalibale' : (compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.designation.name)}" />

													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<span class=""> <p:outputLabel disabled="true"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.headAndRegionOffice eq null? 'Not Avaliable':(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.headAndRegionOffice.name)}" />
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['enty_typ']}" />
												<span class=""> <p:outputLabel disabled="true"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.entityType eq null? 'Not Avaliable':(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.entityType.entityName)}" />

												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity']}" />
												<span class="">Chennai</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['dod']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfDeath eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfDeath)}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:outputLabel>
												</span>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_sup']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.retirementDate eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.retirementDate)}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:outputLabel>
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['nm_leg_heir']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.legalHierName}" />
												</span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['reltnship']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.relationship.name}" />

												</span>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['dob']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.dateOfBirth}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:outputLabel>
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['gdr']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.gender.name}" />
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['high_quali']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.qualification.qualificationLevel}" />
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['spl']}" />
												<span class=""> <p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.specialization}" />
												</span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['post_eligi']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.designation.name}" /></span>
											</div>
										</div>
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['pre_loc']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.location.name}" /></span>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['marital_sts']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.maritalStatus.name}" /></span>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['address']}" />
												<h:outputText
													value="#{compassionateAppointmentBean.address}" class="" />
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['addtion_requir']}</span>
											</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_work_current']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.currentlyWorking eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_wil_work']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.willingToWorkAnyPost eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>



										<div class="col-lg-4 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_reloc_work']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.willingToRelocate eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['fin_sett_legal_heir']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.finalSettleMentMade eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>
										<div class="col-lg-4 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['birth_cert']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.birthCertificate eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>
										<div class="col-lg-4 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['any_obt_rec_out']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.outstandingDueFromEmp eq true?'Yes':'No'}"></p:outputLabel></span>
											</div>
										</div>
										<div class="col-lg-4 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['any_out_dec_emp']}" />
												<span class=""> <p:outputLabel styleClass="fa-input"
														value="&#xf156; #{compassionateAppointmentBean.compassionateAppointment.outstandingRecoveryAmount}" />
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="m-t-0">
												<i class="fa fa-th-large m-r-5 m-t-0"></i><span
													class="iform-title p-b-0">#{msg['uploaded_doc']}</span>
											</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div id="table-scroll"
												class="table-responsive cust-table m-b-10">
												<table id="table" style="table-layout: auto;">
													<thead>
														<tr>
															<th style="width: 3%;">#</th>
															<th class="fa-input width-5"><p:outputLabel
																	value="#{msg['document']}" /></th>
															<th class="fa-input width-5"><p:outputLabel
																	value="#{msg['file_name']}" /></th>
															<th class="fa-input width-5"><p:outputLabel
																	value="#{msg['action']}" /></th>
														</tr>
													</thead>
													<tbody>


														<tr>
															<td class="text-center">1</td>
															<td>#{msg['det_cert']}</td>
															<td>Deathcertificate.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="DC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.dethCerFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">2</td>
															<td>#{msg['leg_heir_cert']}</td>
															<td>LegalHeirCertificate.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="LHC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.legalHeirCerFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">3</td>
															<td>#{msg['no_obj_cert']}</td>
															<td>noobjcert.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="NOC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.noObjectionCerFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">4</td>
															<td>#{msg['t_n_c']}</td>
															<td>TransferCertificate.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="TC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.transferCerFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">5</td>
															<td>#{msg['req_frm_demp']}</td>
															<td>reqletter.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="RLEC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.requisitionLetterFromEmpFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">6</td>
															<td>#{msg['req_let_app']}</td>
															<td>reqletterfromapp.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="RLAC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.requisitionLetterFromAppliFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">7</td>
															<td>#{msg['app_work_current']}</td>
															<td>working.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="CWC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.currentlyWorkingFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">8</td>
															<td>#{msg['app_wil_work']}</td>
															<td>appwilwork.pdf</td>
															<td class="text-center"><p:commandButton
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="WPC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.willingToWorkAnyPostFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">9</td>
															<td>#{msg['app_reloc_work']}</td>
															<td>relocate.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="WRC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.willingToRelocateFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">10</td>
															<td>#{msg['fin_sett_legal_heir']}</td>
															<td>legalheir.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="FSC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.finalSettlementMadeFile}" />
																</p:commandButton></td>
														</tr>

														<tr>
															<td class="text-center">11</td>
															<td>#{msg['birth_cert']}</td>
															<td>birthcer.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="BC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.birthCerFile}" />
																</p:commandButton></td>
														</tr>
														<tr>
															<td class="text-center">12</td>
															<td>#{msg['any_obt_rec_out']}</td>
															<td>anyout.pdf</td>
															<td class="text-center"><p:commandButton
																	value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
																	title="#{msg['download']}" ajax="false"
																	styleClass="fa-input btn btn-sm bg-primary m-l-5"
																	action="#{compassionateAppointmentBean.createDownloadFile}">
																	<f:setPropertyActionListener value="ODC"
																		target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
																	<p:fileDownload
																		value="#{compassionateAppointmentBean.outstandingDueFromEmpFile}" />
																</p:commandButton></td>
														</tr>

													</tbody>
												</table>

											</div>
										</div>
									</div>



								</div>
								<div class="row">
									<div class="">
										<div class="col-lg-8 col-md-3 col-sm-4">
											<div class="form-group">
												<p:outputLabel value="#{msg['remarks']}" />
												<span class=""><p:outputLabel
														value="#{compassionateAppointmentBean.compassionateAppointment.remarks}" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 no-padding">
									<div class=" ">
										<p>
											#{msg['up_doc']}: <span style="color: #2196F3;">
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Working_currently_document"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.currentlyWorking}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="CWC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.currentlyWorkingFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Willing_to_work_any_Post_document"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.willingToWorkAnyPost}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="WPC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.willingToWorkAnyPostFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Willing_to_relocate_doument"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.willingToRelocate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="WRC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.willingToRelocateFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Final_settlement_document"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.finalSettleMentMade}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="FSC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.finalSettlementMadeFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Death_certificate" ajax="false"
														icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.deathCertificate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="DC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.dethCerFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Legal_heir_certificate"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.legalHeirCertificate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="LHC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.legalHeirCerFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" No_objection_document"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.noObjectionCertificate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="NOC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.noObjectionCerFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Birth_certificate" ajax="false"
														icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.birthCertificate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="BC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.birthCerFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Transfer_certificate" ajax="false"
														icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.transferCertificate}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="TC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.transferCerFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton
														value=" Requisition_letter_from_deceased_employee"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.requisitionLetterFromEmp}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="RLEC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.requisitionLetterFromEmpFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Requisition_letter_from_applicant"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.requisitionLetterFromApplicant}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="RLAC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.requisitionLetterFromAppliFile}" />
													</p:commandButton>
												</div>
												<div class="col-md-12 uploadDocs">
													<p:commandButton value=" Outstanding_due_document"
														ajax="false" icon="ui-icon-arrowthick-1-s"
														rendered="#{compassionateAppointmentBean.compassionateAppointment.outstandingDueFromEmp}"
														action="#{compassionateAppointmentBean.createDownloadFile}">
														<f:setPropertyActionListener value="ODC"
															target="#{compassionateAppointmentBean.docType}"></f:setPropertyActionListener>
														<p:fileDownload
															value="#{compassionateAppointmentBean.outstandingDueFromEmpFile}" />
													</p:commandButton>
												</div>

											</span>
										</p>
									</div>
								</div>
								<div class="col-lg-12 no-padding">
									<div class="form-group ">
										<p:outputLabel value="#{msg['comment']}" />
										<p:inputTextarea class="form-control"
											value="#{compassionateAppointmentBean.compassionateAppointment.comments}">
										</p:inputTextarea>
										<small>#{msg['textarea_msg']}</small>
									</div>
								</div>

								<div class="row">

									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_to']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu class="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems var="emp" itemValue="#{emp}"
														itemLabel="#{emp.username}"
														value="#{bean.forwardToUsersList}" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_for']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu class="form-control">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItem itemLabel="Approved" itemValue="APPROVED" />
													<f:selectItem itemLabel="Final Approval"
														itemValue="FINALAPPROVED" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<p:commandButton value="&#xea18; #{msg['view_note']}"
											title="#{msg['view_note']}"
											styleClass="btn bg-info btn-md font-iconmoon m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>

									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 text-right">
										<!-- Reject -->
										<p:commandButton value="&#xecf6; #{msg['reject']}"
											update="growls" title="#{msg['reject']}"
											action="#{compassionateAppointmentBean.addCompassionate}"
											class="btn bg-danger heading-btn font-iconmoon"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();">
											<f:setPropertyActionListener value="Rejected"
												target="#{compassionateAppointmentBean.compassionateAppointment.status}" />
										</p:commandButton>
										<!-- Approve -->
										<p:commandButton value="&#xecf5; #{msg['approve']}"
											update="growls"
											action="#{compassionateAppointmentBean.addCompassionate}"
											title="#{msg['approve']}"
											class="btn bg-success heading-btn font-iconmoon"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();">
											<f:setPropertyActionListener value="Approved"
												target="#{compassionateAppointmentBean.compassionateAppointment.status}" />
										</p:commandButton>
										<!-- Cancel -->
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											action="#{compassionateAppointmentBean.loadCompasionateAppointmentList}"
											title="#{msg['cancel']}" onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											class="btn btn-sm bg-slate font-iconmoon m-l-10">
										</p:commandButton>
									</div>

								</div>


							</div>
						</div>
					</div>
				</div>


				<!-- colleps panel end -->
			</div>

		</h:form>
		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<p:outputPanel id="viewPanel">
				<div class="panel-body modal-lg p-0">
					<div class="tabbable wysihtml5-tabc">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<!-- WYSIHTML5 basic -->

								<div class="form-group text-wysihtml5-toolbar">
									<p:inputTextarea cols="18" rows="18"
										class="wysihtml5 wysihtml5-min form-control"
										placeholder="Enter text ..." value="" disabled="true">
									</p:inputTextarea>
								</div>
								<div class='col-md-12'>
									<div class="carousel slide media-carousel" id="media">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>

													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name : Ramesh Kumar N</li>
																<li>Designation : Ramesh Kumar N</li>
																<li>Date : 12-Jul-2017</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />

							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>
