<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="address" value="#{addressMasterBean}"></ui:param>
		<title>InfoTex | Compassionate Appointment</title>
		<h:form id="compassionateform">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{compassionateAppointmentBean.action eq 'ADD' ?
							msg['cr_commp_appo'] : msg['edit_commp_appo']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['recruit_pro']}</li>
							<li class="active">#{compassionateAppointmentBean.action eq
								'ADD' ? msg['cr_commp_appo'] : msg['edit_commp_appo']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content  no-padding-bottom page-scroll-hp">

				<div class="page-scroll-without-outsight-panel x-hide">

					<div
						class=" panel panel-group panel-info panel-group-control panel-group-control-right"
						id="accordion-control-right">
						<div class="panel-heading bg-info">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['comp_app']} <span
									class="pull-right hidden-xs text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>

							</h6>
						</div>
						<p:outputPanel id="colapsepanel">
							<div
								class="#{staffEligibilityBean.generateButtonFlag ? 'panel-body collapse p-t-10':'panel-body p-t-10'}"
								id="accordion-control-right-group1">
								<p:outputPanel id="searchFilter">

									<div class="row custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group m-b-0">
												<p:outputLabel value="#{msg['dece_ampid']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText id="empCode" class="form-control"
														value="#{compassionateAppointmentBean.empCode}"
														required="#{not empty param[search.clientId]}"
														requiredMessage="#{msg['emp_id_req']}" />
												</div>
												<h:message for="empCode" class="validation-error-label" />
												<p:focus for="empCode" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="">
												<p:outputLabel value="&nbsp;" styleClass="dis-block" />
												<p:commandButton value="&#xe916; #{msg['clear']}"
													title="#{msg['clear']}"
													action="#{compassionateAppointmentBean.clearSearch}"
													update="colapsepanel empCode formpanel"
													styleClass="btn btn-sm bg-slate font-iconmoon m-l-0" />
												<p:commandButton value="&#xe98e;&nbsp;#{msg['search']}"
													action="#{compassionateAppointmentBean.searchEmpployee}"
													styleClass="btn btn-sm bg-info font-iconmoon"
													onclick="PF('progressDlg').show();"
													update="growls formpanel colapsepanel"
													oncomplete="PF('progressDlg').hide();"
													title="#{msg['search']}" binding="#{search}" />
											</div>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</p:outputPanel>
					</div>
					<div
						class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-0"
						id="accordion-control-right">
						<!-- <div class="panel-heading bg-info">
							<h6 class="panel-title">
							#{msg['com_appo_app']}
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['com_appo_app']}<span
									class="pull-right hidden-xs text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>
							</h6>
						</div> -->

						<div
							class="#{staffEligibilityBean.generateButtonFlag ? 'panel-body collapse p-t-10':'panel-body p-t-10'} "
							style="overflow-x: hidden" id="accordion-control-right-group1">
							<p:outputPanel id="formpanel">
								<div class="custom-form-1 ">
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['nm_des_emp']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText disabled="true" class="form-control"
														placeholder="Name"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.firstName eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.firstName)}" />
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dob']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText disabled="true" class="form-control"
														placeholder="dd-MMM-yyyy"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.dob eq null?'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.dob)}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_apptmnt']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText disabled="true" class="form-control"
														placeholder="dd-MMM-yyyy"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfAppointment eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.dateOfAppointment)}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['designation']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-user-tie"></i></span>
													<p:inputText disabled="true" class="form-control"
														placeholder="Designation"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.designation eq null? 'Not Avalibale' : (compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.designation.name)}" />
												</div>
											</div>
										</div>
									</div>
									<div class="row label-form">
										<div class="col-md-12 no-padding">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ho_ro']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<p:inputText disabled="true" class="form-control"
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.headAndRegionOffice eq null? 'Not Avaliable':(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.headAndRegionOffice.name)}" />
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<p:inputText disabled="true" class="form-control"
															placeholder="Entity Type"
															value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.entityType eq null? 'Not Avaliable':(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.entityType.entityName)}" />

													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<p:inputText value="" disabled="true" class="form-control"
															placeholder=" " />
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dod']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText disabled="true" class="form-control"
															placeholder="dd-MMM-yyyy"
															value="#{compassionateAppointmentBean.compassionateAppointment.dateOfDeath eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.dateOfDeath)}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</p:inputText>
													</div>
												</div>
											</div>

										</div>
									</div>
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_sup']}" />
												<span> <!-- <small
														style="font-size: 77%;">&nbsp;(If the employee had
															been alive)</small> -->

												</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText disabled="true" class="form-control"
														placeholder="dd-MMM-yyyy"
														value="#{compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.retirementDate eq null ? 'Not Avaliable' :(compassionateAppointmentBean.compassionateAppointment.employee.personalInfoEmployment.retirementDate)}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['nm_leg_heir']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText id="legalName"
														value="#{compassionateAppointmentBean.compassionateAppointment.legalHierName}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['name_is_req']}"
														class="form-control" placeholder=" ">
														<p:ajax update="@this"></p:ajax>
													</p:inputText>
												</div>
												<h:message for="legalName" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['reltnship']}" for="relation" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="relation" rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-users4"></i></span>
													<h:selectOneMenu id="relation"
														value="#{compassionateAppointmentBean.compassionateAppointment.relationship}"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														class="form-control"
														requiredMessage="#{msg['relation_req']}">
														<f:selectItem itemLabel="Select" itemValue=""
															noSelectionOption="true" />
														<f:selectItems
															value="#{compassionateAppointmentBean.relationList}"
															itemLabel="#{relation.name}" itemValue="#{relation}"
															var="relation" />
														<p:ajax event="change" update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="relation" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-4 col-sm-6">
											<div class="form-group form-group_calend">
												<p:outputLabel value="#{msg['dob']}" />
												<span class="mand-red">*</span>
												<p:calendar id="dob"
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													navigator="true" placeholder="dd-MMM-yyyy"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
													value="#{compassionateAppointmentBean.compassionateAppointment.dateOfBirth}"
													requiredMessage="#{msg['dob_req']}"
													axdate="#{compassionateAppointmentBean.today}"
													yearRange="c-100:c+100"
													styleClass="form-control-1 calend-icon-1" maxdate="now()">
													<p:ajax event="change" update="@this" />
												</p:calendar>
												<!-- <p:calendar id="dateOfBirth"  pattern="#{loginBean.userInfoDTO.dateFormat}" placeholder="DD-MMM-YYYY"
															mask="true" navigator="true" 
															maxdate="#{compassionateAppointmentBean.today}"
															value="#{compassionateAppointmentBean.compassionateAppointment.dateOfBirth}"
															yearRange="c-100:c+100"
															required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
															requiredMessage="DOB Required"
															styleClass="form-control-1 calend-icon-1">
															<p:ajax update="@this"></p:ajax>
														</p:calendar> -->
												<h:message for="dob" class="validation-error-label" />
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="row label-form">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['gdr']}" for="gender" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="gender" rendered="#{empty param[submit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-users"></i></span>
															<h:selectOneMenu id="gender"
																value="#{compassionateAppointmentBean.compassionateAppointment.gender}"
																converter="#{entityConverter}"
																required="#{not empty param[submit.clientId]}"
																class="form-control"
																requiredMessage="#{msg['gen_is_req']}">
																<f:selectItem itemLabel="Select" itemValue=""
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{compassionateAppointmentBean.genderList}"
																	itemLabel="#{gender.name}" itemValue="#{gender}"
																	var="gender" />
																<p:ajax event="change" update="@this"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="gender" class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['high_quali']}"
															for="qualification" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="qualification"
															rendered="#{empty param[submit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-graduation-cap"></i></span>
															<h:selectOneMenu id="qualification"
																value="#{compassionateAppointmentBean.compassionateAppointment.qualification}"
																converter="#{entityConverter}"
																required="#{not empty param[submit.clientId]}"
																class="form-control"
																requiredMessage="#{msg['qual_req']}">
																<f:selectItem itemLabel="Select" itemValue=""
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{compassionateAppointmentBean.qualificationList}"
																	itemLabel="#{qualification.qualificationLevel}"
																	itemValue="#{qualification}" var="qualification" />
																<p:ajax event="change" update="@this"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="qualification"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['spl']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-graduation-cap"></i></span>
															<p:inputText id="specialization"
																value="#{compassionateAppointmentBean.compassionateAppointment.specialization}"
																required="#{not empty param[submit.clientId]}"
																requiredMessage="#{msg['spec_req']}"
																class="form-control" placeholder=" ">
																<p:ajax update="@this"></p:ajax>
															</p:inputText>
														</div>
														<h:message for="specialization"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['post_eligi']}"
															for="designation" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="designation"
															rendered="#{empty param[submit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-user"></i></span>
															<h:selectOneMenu id="designation"
																value="#{compassionateAppointmentBean.compassionateAppointment.designation}"
																converter="#{entityConverter}"
																required="#{not empty param[submit.clientId]}"
																class="form-control"
																requiredMessage="#{msg['post_req']}">
																<f:selectItem itemLabel="Select" itemValue=""
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{compassionateAppointmentBean.designationList}"
																	itemLabel="#{post.name}" itemValue="#{post}" var="post" />
																<p:ajax event="change" update="@this"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="designation"
															class="validation-error-label" />
													</div>
												</div>

												<p:outputPanel
													rendered="#{not empty compassionateAppointmentBean.compassionateAppointment.location}">
													<div class="col-lg-6 col-md-6 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['pre_loc']}" for="location" />
															<p:outputLabel value="*" class="text-danger mand-symbol"
																for="location" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-location4"></i></span>
																<h:selectOneMenu id="location"
																	value="#{compassionateAppointmentBean.compassionateAppointment.location}"
																	converter="#{entityConverter}"
																	required="#{not empty param[submit.clientId]}"
																	class="form-control"
																	requiredMessage="#{msg['loc_req']}">
																	<f:selectItem itemLabel="Select" itemValue=""
																		noSelectionOption="true" />
																	<f:selectItems
																		value="#{compassionateAppointmentBean.locationList}"
																		itemLabel="#{location.name}" itemValue="#{location}"
																		var="location" />
																	<p:ajax event="change" update="@this"></p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="location" class="validation-error-label" />
														</div>
													</div>
												</p:outputPanel>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['marital_sts']}"
															for="maritalStatus" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="maritalStatus"
															rendered="#{empty param[submit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-user"></i></span>
															<h:selectOneMenu id="maritalStatus"
																value="#{compassionateAppointmentBean.compassionateAppointment.maritalStatus}"
																converter="#{entityConverter}"
																required="#{not empty param[submit.clientId]}"
																class="form-control"
																requiredMessage="#{msg['marsta_req']}">
																<f:selectItem itemLabel="Select" itemValue=""
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{compassionateAppointmentBean.maritalStatusList}"
																	itemLabel="#{marital.name}" itemValue="#{marital}"
																	var="marital" />
																<p:ajax event="change" update="@this"></p:ajax>
															</h:selectOneMenu>

														</div>
														<h:message for="maritalStatus"
															class="validation-error-label" />
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="row">
												<p:outputPanel id="addressid">
													<div class="col-lg-12 col-md-12 col-sm-12">
														<div class="row">
															<div class="col-lg-8 col-md-8 col-sm-8">
																<div class="form-group">
																	<p:outputLabel value="#{msg['address']}" />
																	<p:inputTextarea rows="4"
																		class="form-control cust-textarea-height cust-dis-textarea"
																		disabled="true" id="address" required="true"
																		value="#{compassionateAppointmentBean.address}" />
																</div>
															</div>

															<div class="col-lg-4 col-md-4 col-sm-4">
																<p:outputLabel value="&nbsp;&nbsp;"
																	styleClass="dis-block" />
																<p:commandButton id="btnAddressDialog"
																	value="&#xea0e; #{compassionateAppointmentBean.action eq 'ADD'?msg['add']:msg['update']}"
																	title="#{msg['add']}" immediate="true"
																	styleClass="btn bg-success btn-md font-iconmoon m-l-0"
																	action="#{addressMasterBean.openAddressDialog}"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()"
																	oncomplete="PF('addressDialog').show();"
																	update="addressDialogForm">
																</p:commandButton>
															</div>
														</div>
													</div>
												</p:outputPanel>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['addtion_requir']}</span>
											</h5>
										</div>
									</div>
									<div class="row label-form">
										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_work_current']}" />
												<span class="mand-red">*</span>
												<h:selectOneRadio id="currentWork"
													value="#{compassionateAppointmentBean.compassionateAppointment.currentlyWorking}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false" />
												<!-- 	<p:ajax update="compassionateform:curworking" event="click"></p:ajax> -->
												</h:selectOneRadio>
											</div>
										</div>
										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_wil_work']}" class="inline" />
												<p:outputLabel value="&nbsp;*" class="mand-red" />
												<h:selectOneRadio id="willingToWork"
													value="#{compassionateAppointmentBean.compassionateAppointment.willingToWorkAnyPost}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false" />
												</h:selectOneRadio>
											</div>
										</div>

										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['app_reloc_work']}" />
												<span class="mand-red">*</span>
												<h:selectOneRadio id="willingToRelocate"
													value="#{compassionateAppointmentBean.compassionateAppointment.willingToRelocate}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false" />
												</h:selectOneRadio>
											</div>
										</div>
									</div>
									<div class="row label-form">
										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['fin_sett_legal_heir']}"
													class="inline" />
												<span class="mand-red"> *</span>
												<h:selectOneRadio id="finSettLegalHeir"
													value="#{compassionateAppointmentBean.compassionateAppointment.finalSettleMentMade}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false" />
												</h:selectOneRadio>
											</div>
										</div>
										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['birth_cert']}" />
												<h:selectOneRadio id="birthCert"
													value="#{compassionateAppointmentBean.compassionateAppointment.birthCertificate}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false"
														checked="checked" />
												</h:selectOneRadio>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['any_obt_rec_out']}"
													style="display:inline;" />
												<span class="mand-red">*</span>
												<h:selectOneRadio id="anyOutDecEmp"
													value="#{compassionateAppointmentBean.compassionateAppointment.outstandingDueFromEmp}">
													<f:selectItem itemLabel="&nbsp; Yes &nbsp;&nbsp;"
														itemValue="true" />
													<f:selectItem itemLabel="&nbsp; No" itemValue="false" />
												</h:selectOneRadio>

											</div>
										</div>
									</div>
									<div class="row label-form">
										<div class="col-lg-4 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['any_out_dec_emp']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-inr"></i></span>
													<p:inputNumber id="any_obt_rec_out"
														value="#{compassionateAppointmentBean.compassionateAppointment.outstandingRecoveryAmount}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="" class="form-control"
														styleClass="text-right" disabled="true" placeholder=" " />
												</div>
												<h:message for="any_obt_rec_out"
													class="validation-error-label" />
											</div>
										</div>

									</div>
									<p class="m-b-0">
										<span class="text-12">Upload File format: PDF, JPG, PNG
											and file size should be lessthan 200KB</span>
									</p>
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<table id="table" class="report-table">
													<thead>
														<tr>
															<th class="text-center width-3">#</th>
															<th class="fa-input width-25"><p:outputLabel
																	value="#{msg['document']}" /></th>

															<th class="fa-input width-25"><p:outputLabel
																	value="#{msg['action']}" /></th>
														</tr>
													</thead>
													<tbody>

														<tr>
															<td class="text-center">1</td>
															<td>#{msg['det_cert']} <span class="mand-red">*</span></td>

															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="deathCerFile"
																		value="#{(compassionateAppointmentBean.dethFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.dethFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.dethFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls deathCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName"
																				value="DEATH_CERTIFICATE"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">2</td>
															<td>#{msg['qualification']} <span class="mand-red">*</span></td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="qualificationCerFile"
																		value="#{(compassionateAppointmentBean.qualificationFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.qualificationFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.qualificationFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls qualificationCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName"
																				value="QUALIFICATION_CERTIFICATE"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>

														<tr>
															<td class="text-center">3</td>
															<td>#{msg['leg_heir_cert']} <span class="mand-red">*</span></td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="legalHeirCerFile"
																		value="#{(compassionateAppointmentBean.legalHeirFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.legalHeirFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.legalHeirFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls legalHeirCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName" value="LEGAL_HEIR"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">4</td>
															<td>#{msg['no_obj_cert']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="noObjectionCerFile"
																		value="#{(compassionateAppointmentBean.noObjectionFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.noObjectionFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.noObjectionFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls noObjectionCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName" value="NO_OBJECTION"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">5</td>
															<td>#{msg['t_n_c']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="tcCerFile"
																		value="#{(compassionateAppointmentBean.transferFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.transferFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.transferFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls tcCerFile" mode="advanced" auto="true">
																			<f:attribute name="uploadName"
																				value="TRANSFER_CERTIFICATE"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">6</td>
															<td>#{msg['req_frm_demp']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="requistionCerFile"
																		value="#{(compassionateAppointmentBean.requisitionLetterFromFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.requisitionLetterFromFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.requisitionLetterFromFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls requistionCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName" value="REQUISTION_EMP"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">7</td>
															<td>#{msg['req_let_app']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="requistionLetterCerFile"
																		value="#{(compassionateAppointmentBean.requisitionLetterFromAppliFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.requisitionLetterFromAppliFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.requisitionLetterFromAppliFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls requistionLetterCerFile"
																			mode="advanced" auto="true">
																			<f:attribute name="uploadName"
																				value="REQUISITION_APPL"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<!-- <h:panelGroup id="curworking"
															rendered="#{compassionateAppointmentBean.compassionateAppointment.currentlyWorking == true}"> -->
															<tr>

																<td class="text-center">8</td>
																<td>#{msg['app_work_current']}</td>
																<td class="text-center">
																	<div class="req-doc-upload">
																		<h:outputText id="phyId1"
																			value="#{(compassionateAppointmentBean.currentlyWorkingFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.currentlyWorkingFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.currentlyWorkingFileName)}"
																			styleClass="" />
																	</div>
																	<div
																		class=" no-padding contact-upload upload-popup pull-left">
																		<div class="uploader ">
																			<p:fileUpload
																				label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																				title="#{msg['upload']}"
																				fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																				onstart="PF('progressDlg').show();"
																				update="growls phyId1"
																				oncomplete="PF('progressDlg').hide();"
																				mode="advanced" auto="true">
																				<f:attribute name="uploadName"
																					value="CURRENT_WORKING"></f:attribute>
																			</p:fileUpload>
																		</div>
																	</div>
																</td>
															</tr>
														<!-- </h:panelGroup>  -->
														<tr>
															<td class="text-center">9</td>
															<td>#{msg['app_wil_work']}</td>
															<td class="text-center">

																<div class="req-doc-upload">
																	<h:outputText id="workPtFile"
																		value="#{(compassionateAppointmentBean.willingToWorkAnyPostFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.willingToWorkAnyPostFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.willingToWorkAnyPostFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			update="growls workPtFile"
																			oncomplete="PF('progressDlg').hide();"
																			mode="advanced" auto="true">
																			<f:attribute name="uploadName" value="WORK_ANY_POST"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">10</td>
															<td>#{msg['app_reloc_work']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="relocateFile"
																		value="#{(compassionateAppointmentBean.willingToRelocateFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.willingToRelocateFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.willingToRelocateFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls relocateFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName" value="RELOCATE"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">11</td>
															<td>#{msg['fin_sett_legal_heir']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="finLegalHeirSettlementFile"
																		value="#{(compassionateAppointmentBean.finalSettlementMadeFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.finalSettlementMadeFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.finalSettlementMadeFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls finLegalHeirSettlementFile"
																			mode="advanced" auto="true">
																			<f:attribute name="uploadName"
																				value="FINAL_SETTLEMENT"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>

														<tr>
															<td class="text-center">12</td>
															<td>#{msg['birth_cert']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="birthCerFile"
																		value="#{(compassionateAppointmentBean.birthFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.birthFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.birthFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls birthCerFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName"
																				value="BIRTH_CERTIFICATE"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td class="text-center">13</td>
															<td>#{msg['any_obt_rec_out']}</td>
															<td class="text-center">
																<div class="req-doc-upload">
																	<h:outputText id="outstandingRecFile"
																		value="#{(compassionateAppointmentBean.outstandingDueFromEmpCerFileName).length() gt 25 ? 
														fn:substring({compassionateAppointmentBean.outstandingDueFromEmpCerFileName}, 1, 25).concat('...'):
														(compassionateAppointmentBean.outstandingDueFromEmpCerFileName)}"
																		styleClass="" />
																</div>
																<div
																	class=" no-padding contact-upload upload-popup pull-left">
																	<div class="uploader ">
																		<p:fileUpload
																			label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
																			title="#{msg['upload']}"
																			fileUploadListener="#{compassionateAppointmentBean.fileUploaderLisner}"
																			onstart="PF('progressDlg').show();"
																			oncomplete="PF('progressDlg').hide();"
																			update="growls outstandingRecFile" mode="advanced"
																			auto="true">
																			<f:attribute name="uploadName" value="OUT_DUE_CER"></f:attribute>
																		</p:fileUpload>
																	</div>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="row m-t-10">
										<div class="col-lg-12 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['remarks']}" />
												<p:inputTextarea rows="2" class="form-control"
													value="#{compassionateAppointmentBean.compassionateAppointment.remarks}" />
												<small>#{msg['textarea_msg']}</small>
											</div>
										</div>
									</div>
									<div class="row label-form">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_to']}"
													for="forwardfor" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardfor" rendered="#{empty param[submit.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
														
														<ui:remove>
													<h:selectOneMenu id="forwardfor" styleClass="form-control"
														converter="#{entityConverter}"
														value="#{compassionateAppointmentBean.compassionateAppointmentDTO.forwardTo}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['forward_to_required']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems
															value="#{compassionateAppointmentBean.userMasters}"
															var="userinfo"
															itemLabel="#{userinfo.empCode} / #{userinfo.empName}"
															itemValue="#{userinfo.id}" />
														<p:ajax event="change" update="@this"></p:ajax>
													</h:selectOneMenu>
													</ui:remove>
													<p:autoComplete id="forwardfor" minQueryLength="2"
											panelStyle="width:250px" styleClass="form-control"
											converter="#{entityConverter}"
										required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['forward_to_required']}"
											value="#{compassionateAppointmentBean.compassionateAppointmentDTO.forwardtouser}" itemValue="#{emp}"
											var="emp" itemLabel="#{emp.empName}"
											completeMethod="#{compassionateAppointmentBean.loadAutoCompleteUserMasterForAllocationList}"
											effect="fade">
											<p:ajax event="itemSelect" update="forwardfor"></p:ajax>
										</p:autoComplete>
												</div>
												<h:message for="forwardfor" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_for']}"
													for="forwardto" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardfor" rendered="#{empty param[submit.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="forwardto" styleClass="form-control"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['forward_for_is_required']}"
														value="#{compassionateAppointmentBean.compassionateAppointmentDTO.forwardFor}">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
														<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
														<p:ajax event="change" update="@this"></p:ajax>
													</h:selectOneMenu>

												</div>
												<h:message for="forwardto" class="validation-error-label" />
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<p:commandButton value="&#xf067; #{msg['create_note']}"
												title="#{msg['create_note']}"
												styleClass="btn bg-success btn-md fa-input m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6 text-right m-b-0">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn btn-sm bg-slate font-iconmoon"
												action="#{compassionateAppointmentBean.loadCompasionateAppointmentList}"
												immediate="true" onclick="PF('progressDlg').show();"
												tabindex="12" oncomplete="PF('progressDlg').hide();" />
											<p:commandButton
												value="#{compassionateAppointmentBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{compassionateAppointmentBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												title="#{compassionateAppointmentBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												styleClass="#{compassionateAppointmentBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
												binding="#{submit}" onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												action="#{compassionateAppointmentBean.addCompassionate}"
												update="growls formpanel addressid" />
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>


			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->

										<div class="panel-body p-0 m-b-10">
											<p:textEditor widgetVar="editor1"
												value="#{compassionateAppointmentBean.compassionateAppointmentDTO.note}"
												height="200" />
										</div>

										<div class='col-md-12'>
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<div class="col-lg-3 col-md-3 col-sm-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name :
																			#{compassionateAppointmentBean.loginEmployeeMaster.firstName}</li>
																		<li>Designation :
																			#{compassionateAppointmentBean.loginEmployeeMaster.personalInfoEmployment.designation.name}</li>
																		<li>Date :
																			#{compassionateAppointmentBean.currentCreatedDate}</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" update="customerPanel" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
		</h:form>

		<ui:include src="/pages/address/addressPopup.xhtml">
			<ui:param name="parameterBean"
				value="#{compassionateAppointmentBean}"></ui:param>
			<ui:param name="ctrlToUpdate" value="#{compassionateform.address}"></ui:param>
		</ui:include>
	</ui:define>
</ui:composition>