<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Stock Item - Printing &amp; Stationary</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Create Stock Item - Printing &amp; Stationary</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['oper_module']}</li>
						<li class="active">Create Stock Item - Printing &amp;
							Stationary</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							Stock Item
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Supplier Details</span>
									</h5>

								</div>
							</div>
							<div class="row custom-form-1 label-form">

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Supplier Type" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Private Supplier"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Government Supplier"
													itemLabel="Government Supplier"></f:selectItem>
												<f:selectItem itemValue="Private Supplier"
													itemLabel="Private Supplier"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Supplier Code / Name" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-target"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="VDR0012 / Pratap &amp; Sons"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="VDR0012 / Pratap &amp; Sons"
													itemLabel="VDR0012 / Pratap &amp; Sons"></f:selectItem>
												<f:selectItem itemValue="VDR0014 / RamaKrishna &amp; Sons"
													itemLabel="VDR0014 / RamaKrishna &amp; Sons"></f:selectItem>
												<f:selectItem itemValue="VDR0016 / Deepshikha Complex"
													itemLabel="VDR0016 / Deepshikha Complex"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>

								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" disabled="true"
												placeholder="22 AAAAA0000A 1ZS">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Inward Type" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Direct Inward"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Direct Inward"
													itemLabel="Direct Inward"></f:selectItem>
												<f:selectItem itemValue="PO Based Inward"
													itemLabel="PO Based Inward"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>

								</div>

							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Purchase Order Details</span>
									</h5>

								</div>
							</div>
							<div class="row custom-form-1 label-form">

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Purchase Order Number" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="PO001"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="PO001"
													itemLabel="PO001"></f:selectItem>
												<f:selectItem itemValue="PO002"
													itemLabel="PO002"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<p:outputLabel value="Purchase Date" />
									<div class="form-group form-group_calend">
										<p:calendar id="leasefrom" value="26-01-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">

									<p:outputLabel value="Purchase Order Validity Date" />
									<div class="form-group form-group_calend">
										<p:calendar id="leasefrom" value="29-01-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>
							</div>
							<div class="row ">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Add Item Receive Details</span>
									</h5>
								</div>
							</div>
							<div class="row custom-form-1 label-form">
								
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Item Code / Name" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<h:selectOneMenu styleClass="form-control">
														<f:selectItem itemLabel="PR002 / Pen"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="PR002 / Pen"
															itemLabel="PR002 / Pen"></f:selectItem>
														<f:selectItem itemValue="PR003 / Ruler"
															itemLabel="PR003 / Ruler"></f:selectItem>
															<f:selectItem itemValue="PR005 / Dot Matrix Printer Paper"
															itemLabel="PR005 / Dot Matrix Printer Paper"></f:selectItem>
															<f:selectItem itemValue="PR004 / Notepad"
															itemLabel="PR004 / Notepad"></f:selectItem>
															<f:selectItem itemValue="PR006 / Pencil"
															itemLabel="PR006 / Pencil"></f:selectItem>
															<f:selectItem itemValue="PR007 / Scissors"
															itemLabel="PR007 / Scissors"></f:selectItem>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="HSN Code" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" placeholder="HS1574">
													</p:inputText>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="UOM" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-design"></i></span>
													<p:inputText styleClass="form-control" placeholder="pcs"
														disabled="true">
													</p:inputText>
												</div>
											</div>

										</div>
									
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Quantity" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control text-right"
														placeholder="10">
													</p:inputText>
												</div>
											</div>
										</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Unit Rate" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="fa fa-inr"></i></span>
													<p:inputText styleClass="form-control text-right"
														placeholder="10.00">
													</p:inputText>
												</div>
											</div>

										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Discount" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-percent"></i></span>
													<p:inputText styleClass="form-control text-right"
														placeholder="10">
													</p:inputText>
												</div>
											</div>

										</div>
									<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Tax" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<p:inputText styleClass="form-control text-right"
												placeholder="2">
											</p:inputText>
										</div>
									</div>
								</div>

								
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Description" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-info-circle"></i></span>
											<p:inputText styleClass="form-control" id="note"
												placeholder="Pen in red color">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group pull-right">
										<div class="input-group">
											<button title="#{msg['clear']}"
												class="btn bg-slate btn-sm font-iconmoon">&#xe916;&nbsp;#{msg['clear']}
											</button>
											
											<button type="button"
												class="btn btn-sm bg-success font-iconmoon m-l-10"
												data-toggle="modal" data-target="#modal_theme_info">
												&#xea0e;&nbsp;#{msg['add']}</button>

										</div>
									</div>
								</div>
							</div>


							
						</div>
						<div class="panel-body p-0">

							<div class="row">
								<div class="col-sm-12">
									<div id="table-scroll"
										class="cust-tab2 table-scroll table-responsive m-b-10">
										<div id="faux-table" class="faux-table" aria="hidden"></div>
										<div class="table-wrap">
											<table id="main-table" class="main-table cust-table">
												<thead>
													<tr>
														<th style="width: 3%;">#</th>
														<th class="fa-input width-5" style="width: 5% !important;"><p:outputLabel
																value="Item Code / Name" /></th>
														<th class="fa-input width-5"><p:outputLabel
																value="Description" /></th>
														<th class="fa-input width-10"><p:outputLabel
																class="fa-input" value="HSN Code" /></th>
														<th class="fa-input width-8"><p:outputLabel
																class="fa-input" value="UOM" /></th>
														<th class="fa-input width-8"><p:outputLabel
																class="fa-input" value="Quantity" /></th>
														<th class="fa-input width-8"><p:outputLabel
																class="fa-input" value="Unit Rate (&#xf156;)" /></th>
														<th class="fa-input width-10"><p:outputLabel
																class="fa-input" value="Total Rate (&#xf156;)" /></th>
														<th class="fa-input width-8"><p:outputLabel
																class="fa-input" value="Discount (&#xf295;)" /></th>
														<th class="fa-input width-10"><p:outputLabel
																class="fa-input" value="Discount Value (&#xf156;)" /></th>
														<th class="fa-input width-5"><p:outputLabel
																class="fa-input" value="Tax (&#xf295;)" /></th>
														<th class="fa-input width-10"><p:outputLabel
																class="fa-input" value="Tax Value (&#xf156;)" /></th>
														<th class="fa-input width-20"><p:outputLabel
																class="fa-input" value="Net Price (&#xf156;)" /></th>
														<th class="fa-input width-5"><p:outputLabel
																value="#{msg['action']}" /></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td align="center">1</td>
														<td>PR001 / A4 Paper</td>
														<td title="A4 paper for double side print">A4 paper
															for double..</td>
														<td class="text-center">HS1574</td>
														<td class="text-center">bundle</td>
														<td class="text-center">10</td>

														<td align="right">1000.00</td>
														<td align="right">10000.00</td>
														<td align="right">10</td>
														<td align="right">100.00</td>
														<td align="right">18</td>
														<td align="right">180.00</td>
														<td align="right">9080.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">2</td>
														<td>PR002 / Pen</td>
														<td>Color should be in red.</td>
														<td class="text-center">HS1523</td>
														<td class="text-center">pcs</td>
														<td class="text-center">20</td>

														<td align="right">10.00</td>
														<td align="right">200.00</td>
														<td align="right">2</td>
														<td align="right">8.00</td>
														<td align="right">2</td>
														<td align="right">2.00</td>
														<td align="right">200.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">3</td>
														<td>PR003 / Ruler</td>
														<td>Small size</td>
														<td class="text-center">HS1224</td>
														<td class="text-center">pcs</td>
														<td class="text-center">5</td>
														<td align="right">10.00</td>
														<td align="right">50.00</td>
														<td align="right"></td>
														<td align="right"></td>
														<td align="right">1</td>
														<td align="right">5.00</td>
														<td align="right">55.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">4</td>
														<td title="PR005 / Dot Matrix Printer Paper">PR005 /
															Dot Matrix Printer..</td>
														<td></td>
														<td class="text-center">HS1533</td>
														<td class="text-center">bundle</td>
														<td class="text-center">10</td>

														<td align="right">1000.00</td>
														<td align="right">10000.00</td>
														<td align="right">10</td>
														<td align="right">100.00</td>
														<td align="right">15</td>
														<td align="right">180.00</td>
														<td align="right">9080.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">5</td>
														<td>PR004 / Notepad</td>
														<td></td>
														<td class="text-center">HS1542</td>
														<td class="text-center">pcs</td>
														<td class="text-center">5</td>
														<td align="right">10.00</td>
														<td align="right">50.00</td>
														<td align="right"></td>
														<td align="right"></td>
														<td align="right">1</td>
														<td align="right">5.00</td>
														<td align="right">55.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">6</td>
														<td>PR006 / Pencil</td>
														<td>HB Pencil</td>
														<td class="text-center">HS1544</td>
														<td class="text-center">pcs</td>
														<td class="text-center">20</td>

														<td align="right">10.00</td>
														<td align="right">200.00</td>
														<td align="right">2</td>
														<td align="right">8.00</td>
														<td align="right">2</td>
														<td align="right">2.00</td>
														<td align="right">200.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>
													<tr>
														<td align="center">7</td>
														<td>PR006 / Scissors</td>
														<td>Large size needed</td>
														<td class="text-center">HS1584</td>
														<td class="text-center">pcs</td>
														<td class="text-center">5</td>
														<td align="right">10.00</td>
														<td align="right">50.00</td>
														<td align="right"></td>
														<td align="right"></td>
														<td align="right">1</td>
														<td align="right">5.00</td>
														<td align="right">55.00</td>
														<td class="text-center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /> <input type="button"
															value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs"
															data-toggle="modal" data-target="#viewInvoice"
															title="#{msg['edit']}" /></td>
													</tr>

												</tbody>
												<tfoot>
													<tr>

														<td class="text-right" colspan="6"><strong>Total</strong></td>
														<td class="text-right"><b>2050.00</b></td>
														<td></td>
														<td></td>
														<td class="text-right">216.00</td>
														<td></td>
														<td></td>
														<td class="text-right">19000.00</td>
														<td></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body p-t-5  p-b-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Invoice Details</span>
									</h5>
								</div>
							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Invoice Number" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												placeholder="IN001">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<p:outputLabel value="Invoice Date" />
									<div class="form-group form-group_calend">
										<p:calendar id="leasefrom" value="26-01-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 ">
									<div class="form-group">
										<p:outputLabel value="DC Number" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												placeholder="2018 / GST / 01">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 ">
									<p:outputLabel value="Payment Due Date" />
									<div class="form-group form-group_calend">
										<p:calendar id="leasefrom" value="26-05-2018"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" required="true" requiredMessage="Required"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
									</div>
								</div>

							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Interest Applicable for Delay Payment" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-percent"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Yes" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Rate of Interest" />
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right"
												placeholder="150.00">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
												<label class="control-label">Attached Documents</label>
												<span class="mand-sign-input">*</span>
											
										<div class="input-group image-preview">
						<input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled"/>
						<!-- don't give a name === doesn't send on POST/GET --> 
						<span class="input-group-btn"> 
						<!-- image-preview-clear button -->
						
						<!-- image-preview-input -->
						<div class="btn btn-info image-preview-input" style="padding: 4px 5px; background: #188ae2 !important; color: #fff;"> <span class="icon-folder-open"></span> <span class="image-preview-input-title">Choose</span>
							<input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
							<!-- rename it --> 
						</div>
						
						</span> </div>
									</div>
								
								
							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Transport Details</span>
									</h5>
								</div>
							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Transport Service Type" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-car"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Private Customer"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Government Customer"
													itemLabel="Government Customer"></f:selectItem>
												<f:selectItem itemValue="Private Customer"
													itemLabel="Private Customer"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Transport Service Name" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-car"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Private Customer"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Government Customer"
													itemLabel="Government Customer"></f:selectItem>
												<f:selectItem itemValue="Private Customer"
													itemLabel="Private Customer"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 ">
									<div class="form-group">
										<p:outputLabel value="Way Bill Available" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-certificate"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Yes" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 ">
									<div class="form-group">
										<p:outputLabel value="Way Bill Number" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" disabled="true"
												placeholder="22 AAAAA0000A 1ZS">
											</p:inputText>
										</div>
									</div>
								</div>

							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Transport Charge Available" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Yes" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Transport Charge Type" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-menu6"></i></span>
											<h:selectOneMenu styleClass="form-control">
												<f:selectItem itemLabel="Private Customer"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Government Customer"
													itemLabel="Government Customer"></f:selectItem>
												<f:selectItem itemValue="Private Customer"
													itemLabel="Private Customer"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12 ">
									<div class="form-group">
										<p:outputLabel value="Transport Charge Amount" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right"
												disabled="true" placeholder="2500.00">
											</p:inputText>
										</div>
									</div>
								</div>
							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group">
										<p:outputLabel value="&nbsp;&nbsp;" />
										<p:commandButton update="growls"
											onclick="window.location.href='#{request.contextPath}/pages/operation/listQuotation.xhtml'"
											value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon m-r-0">
										</p:commandButton>
										<p:commandButton update="growls"
											onclick="window.location.href='#{request.contextPath}/pages/operation/previewQuotation.xhtml'"
											value="&#xea0e;&nbsp;#{msg['pre_view']}"
											title="#{msg['Preview']}"
											class="btn bg-info heading-btn  font-iconmoon">
										</p:commandButton>

									</div>
								</div>


							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /Customer Info Popup -->
		<div id="modal_cust_info" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Customer Details</h6>
					</div>

					<div class="modal-body view-style">
						<div class="row">
							<div class="col-lg-12">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>Credit Details</span>
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['crd_alw']}" />
									<h:outputText value="Yes" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['cre_max_int_mon']}" />
									<h:outputText value="12" class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['cre_amt_max_lmt']}" />
									<h:outputText value="12000.00" class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['inst_del_pay']}" />
									<h:outputText value="10 Days" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['inst_per']}" />
									<h:outputText value="10%" class="" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>Bank Details</span>
								</h5>

							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bnk_name']}" />
									<h:outputText value="State Bank of India" class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Branch Code / Name" />
									<h:outputText
										value="001683 / State Bank of India - West Mambalam" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ifsc_cod']}" />
									<h:outputText value="SBIN001683" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['act_no']}" />
									<h:outputText value="20047487097" class="" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-lg-12">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>Contact Details</span>
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_name']}" />
											<h:outputText value="Raja S" class="" />
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['local_contact']}" />
											<h:outputText value="ராஜா எஸ்" class="" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_num']}" />
											<h:outputText value="044-26415681" class="" />
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="Mobile Number" />
											<h:outputText value="9884645681" class="" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group ">
									<p:outputLabel value="Customer Address" />
									<div class="">

										<span class="">Thillaiyadi Valliammai Co-optex,</span> <span
											class="">No.25, 1st Cross Street, Nethaji Nagar,</span> <span
											class="">Mambalam, Chennai, TamilNadu - 600 033, India</span>

										<span class="">Landmark: Near Railway Station</span>

									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['email']}" />
									<h:outputText value="raja2012@gmail.com" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['fx_num']}" />
									<h:outputText value="02124634-044" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['note']}" />
									<h:outputText value="Text here" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="text-right">
									<p:commandButton value="&#xeddf; #{msg['back']}"
										onclick="window.location.href='#{request.contextPath}/pages/masters/createQuotation.xhtml'"
										styleClass="btn btn-sm bg-info font-iconmoon m-t-20" />
								</div>
							</div>
						</div>
						<div class="row"></div>



					</div>
				</div>
			</div>
		</div>
		<!-- /Address Popup -->
		<div id="modal_theme_info1" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add Address</h6>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr1"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr2"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="addr3"
											placeholder="Address 1">
										</p:inputText>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_one']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr1"
											placeholder="Local Address 1">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_two']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr2"
											placeholder="Local Address 2">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['loc_addr_three']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="localaddr3"
											placeholder="Local Address 3">
										</p:inputText>
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="state" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dist']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="district" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['city']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="city" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['area']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="area" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Tamilnadu" itemLabel="Tamilnadu"></f:selectItem>
											<f:selectItem itemValue="Kerala" itemLabel="Kerala"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['taluk']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-list"></i></span>
										<h:selectOneMenu id="taluk" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Chennai" itemLabel="Chennai"></f:selectItem>
											<f:selectItem itemValue="Vayanad" itemLabel="Vayanad"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pcode']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="postalcode"
											placeholder="Postal code">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['lmark']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-location4"></i></span>
										<p:inputText styleClass="form-control" id="landmark"
											placeholder="Land Mark">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<p:commandButton update="growls"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									class="btn bg-success font-iconmoon m-r-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Address Popup -->
		<!-- /Contact Popup -->
		<div id="modal_theme_contact" class="modal fade">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Add Contact Details</h6>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['contact_name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<p:inputText styleClass="form-control" placeholder="Raja S">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['local_contact']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<p:inputText styleClass="form-control" placeholder="ராஜா எஸ்">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['contact_num']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="fa fa-phone"></i></span>
										<p:inputText styleClass="form-control"
											placeholder="044-26415681">
										</p:inputText>
									</div>

								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Mobile Number" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-mobile"></i></span>
										<p:inputText styleClass="form-control"
											placeholder="9884645681">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['email']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="fa fa-envelope"></i></span>
										<p:inputText styleClass="form-control"
											placeholder="raja2012@gmail.com">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['fx_num']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="fa fa-fax"></i></span>
										<p:inputText styleClass="form-control"
											placeholder="02124634-044">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['note']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="fa fa-info-circle"></i></span>
										<p:inputText styleClass="form-control"
											placeholder="Comment...">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<p:commandButton update="growls"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									class="btn bg-success font-iconmoon m-r-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
	</ui:define>
</ui:composition>
