<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="productDesignForm">
			<title>InfoTex | Create Target</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_target']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['prod_dev_and_design']}</li>
							<li class="active">#{msg['create_target']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<div class="heading-elements"></div>
				</div>
			</div>
			<!-- Page Header End -->
			<ui:param name="productDesign" value="#{productDesignTargetBean}"></ui:param>

			<div class="content page-scroll-jsp no-padding-bottom">
				<p:outputPanel id="productDesignPanel">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-10"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right" class="block"
										href="#accordion-control-right-group1">#{msg['target']} <span
										class="pull-right text-13">(<span class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
									</span>
									</a>
								</h6>
							</div>

							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<div class="panel-body p-t-10">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['tar_fix_name']}" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-target2"></i></span>
													<p:inputText type="text" class="form-control"
														id="inp_tar_fix_name"
														value="#{productDesign.productDesignTarget.name}"
														required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['tar_fix_name_req']}">
														<p:ajax event="blur"></p:ajax>
													</p:inputText>
												</div>
												<h:message for="inp_tar_fix_name"
													class="validation-error-label" id="msg_inp_tar_fix_name"></h:message>
												<p:focus for="inp_tar_fix_name" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['from_month_year']}"
													for="inp_fromMonthYear" />
												<p:outputLabel value="*" class="mand-red"
													for="inp_fromMonthYear" rendered="" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu styleClass="form-control"
														value="#{productDesign.selectedFromMonthYear}"
														converter="#{entityConverter}" id="inp_fromMonthYear"
														required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['from_month_year_req']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{productDesign.fromMonthYearList}"
															var="list"
															itemLabel="#{list.fromMonth} / #{list.fromYear}"
															itemValue="#{list}"></f:selectItems>
														<p:ajax update="input_toMonthYear" event="change"
															listener="#{productDesign.loadToMontAndYears}"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="inp_fromMonthYear"
													class="validation-error-label" id="msg_inp_fromMonthYear"></h:message>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['to_month_year']}"
													for="input_toMonthYear" />
												<p:outputLabel value="*" class="mand-red"
													for="input_toMonthYear" rendered="" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu styleClass="form-control"
														value="#{productDesign.selectedToMonthYear}"
														converter="#{entityConverter}" id="input_toMonthYear"
														required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['to_month_year_req']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{productDesign.toMonthYearList}"
															var="item" itemLabel="#{item.toMonth} / #{item.toYear}"
															itemValue="#{item}"></f:selectItems>
														<p:ajax update="entityWiseProductDetails" event="change"
															listener="#{productDesign.loadEntityTypeMaster}"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="input_toMonthYear"
													class="validation-error-label" id="msg_inp_toMonthYear"></h:message>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-info m-b-0">
						<div class="panel-body p-t-10">
							<p:outputPanel id="entityWiseProductDetails">
								<h5 class="bord_bot m-t-0">
									<i class="fa fa-th-large m-r-5 m-t-0"></i><span
										class="iform-title">#{msg['ent_wis_prod_details']}</span>
								</h5>
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['entity_master_code']} / #{msg['name']}"
												for="inp_entity_master_code" />
											<p:outputLabel value="*" class="mand-red"
												for="inp_entity_master_code" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{productDesign.entityTypeMaster}"
													converter="#{entityConverter}" id="inp_entity_master_code"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['entity_type_code_name_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{productDesign.entityTypeMasterList}" var="list"
														itemLabel="#{list.entityCode} / #{list.entityName}"
														itemValue="#{list}"></f:selectItems>
													<p:ajax update="productDesignPanel" event="change"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														listener="#{productDesign.loadEntityMasterList}"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="inp_entity_master_code"
												class="validation-error-label"
												id="msg_inp_entity_master_code"></h:message>
										</div>
									</div>

									<p:outputPanel
										rendered="#{productDesign.entityTypeMaster.entityCode eq 'SHOW_ROOM'}"
										id="horo">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu class="form-control" id="horoSelect"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['ho_ro']} #{msg['is_required']}"
														value="#{productDesign.headOrRegionOffice}">
														<f:selectItem itemLabel="Select" itemValue="" />
														<f:selectItems value="#{productDesign.hoentityList}"
															var="entity" itemLabel="#{entity.name}"
															itemValue="#{entity}" />
														<p:ajax event="change"
															onstart="PF('statusDialog').show();"
															onsuccess="PF('statusDialog').hide();"
															listener="#{productDesign.loadAllEntityByRegionList}"
															update="productDesignPanel" />
													</h:selectOneMenu>
													<p:focus for="horoSelect" />
												</div>
												<h:message for="horoSelect" class="validation-error-label" />
											</div>
										</div>
									</p:outputPanel>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}"
												for="inp_enty_code" />
											<p:outputLabel value="*" class="mand-red" for="inp_enty_code"
												rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:autoComplete id="inp_enty_code" minQueryLength="1"
													styleClass="form-control" converter="#{entityConverter}"
													onstart="PF('statusDialog').show();"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['entity_code_name_req']}"
													oncomplete="PF('statusDialog').hide();"
													panelStyle="max-height: 150px; width: 50px;"
													value="#{productDesign.entityMaster}" itemValue="#{ent}"
													var="ent" itemLabel="#{ent.lname}"
													completeMethod="#{productDesign.entityAutoComplete}"
													effect="fade">
													<p:ajax event="itemSelect"
														listener="#{productDesign.loadProductCategoryGroup}"
														update="inp_enty_code inp_prod_group_code inp_prod_variey_code inp_product_category_code_or_name inp_prod_cat_grp_cod_name"></p:ajax>
												</p:autoComplete>
											</div>
											<h:message for="inp_enty_code" class="validation-error-label"
												id="msg_inp_enty_code"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['prod_cat_grp_cod_name']}"
												for="inp_prod_cat_grp_cod_name" />
											<p:outputLabel value="*" class="mand-red"
												for="inp_prod_cat_grp_cod_name" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{productDesign.productCategoryGroup}"
													converter="#{entityConverter}"
													id="inp_prod_cat_grp_cod_name"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['product_category_group_code_name_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{productDesign.productCategoryGroupList}"
														var="list"
														itemLabel="#{list.groupCode} / #{list.groupName}"
														itemValue="#{list}"></f:selectItems>
													<p:ajax
														update="inp_prod_group_code inp_prod_variey_code inp_product_category_code_or_name"
														event="change"
														listener="#{productDesign.productCategoryListLoad}"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="inp_prod_cat_grp_cod_name"
												class="validation-error-label"
												id="msg_inp_prod_cat_grp_cod_name"></h:message>
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['product_category_code_or_name']}"
												for="inp_product_category_code_or_name" />
											<p:outputLabel value="*" class="mand-red"
												for="inp_product_category_code_or_name" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{productDesign.productCategory}"
													converter="#{entityConverter}"
													id="inp_product_category_code_or_name"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['prod_cate_code_name_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems value="#{productDesign.productCategoryList}"
														var="list"
														itemLabel="#{list.productCatCode} / #{list.productCatName}"
														itemValue="#{list}"></f:selectItems>
													<p:ajax update="inp_prod_group_code inp_prod_variey_code"
														event="change"
														listener="#{productDesign.getAllProductGroupMasterList}"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="inp_product_category_code_or_name"
												class="validation-error-label"
												id="msg_inp_product_category_code_or_name"></h:message>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['prod_group_code']} / #{msg['name']}"
												for="inp_prod_group_code" />
											<p:outputLabel value="*" class="mand-red"
												for="inp_prod_group_code" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-grid6"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{productDesign.productGroupMaster}"
													converter="#{entityConverter}" id="inp_prod_group_code"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['prod_group_code_name_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{productDesign.productGroupMasterList}" var="list"
														itemLabel="#{list.code} / #{list.name}"
														itemValue="#{list}"></f:selectItems>
													<p:ajax update="inp_prod_variey_code" event="change"
														listener="#{productDesign.listenerProductVarietyMasterList}"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="inp_prod_group_code"
												class="validation-error-label" id="msg_inp_prod_group_code"></h:message>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['prod_variey_code_name']}" />
											<p:outputLabel value="*" class="mand-red" />

											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{productDesign.productVarietyMaster}"
													converter="#{entityConverter}" id="inp_prod_variey_code"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['prod_variety_code_name_req']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{productDesign.productVarietyMasterList}"
														var="list"
														itemLabel="#{list.id} - #{list.code} / #{list.name}"
														itemValue="#{list}"></f:selectItems>
													<p:ajax event="change" update="msg_inp_prod_variey_code" />
												</h:selectOneMenu>
												<ui:remove>
													<p:inputText id="inp_prod_variey_code"
														styleClass="form-control" placeholder=" "
														value="#{productDesign.productVarietyCodeName}">
													</p:inputText>
												</ui:remove>
											</div>
											<h:message for="inp_prod_variey_code"
												class="validation-error-label" id="msg_inp_prod_variey_code"></h:message>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['unit']}" />
											<p:outputLabel value="*" class="mand-red" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu id="uom"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['uom']} #{msg['required']}"
													converter="#{entityConverter}"
													value="#{productDesign.uomMaster}"
													styleClass="form-control">
													<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{uom}"
														value="#{productDesign.uomMasterList}"
														itemLabel="#{uom.name}" var="uom"></f:selectItems>
													<p:ajax event="change"></p:ajax>
												</h:selectOneMenu>

											</div>
											<h:message for="uom" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['target_design']}" />
											<p:outputLabel value="*" class="mand-red" />

											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText id="inp_tar_design_qnty"
													styleClass="form-control"
													required="#{not empty param[addBut.clientId] || not empty param[submit.clientId]}"
													requiredMessage="#{msg['tar_design_qnty']}"
													value="#{productDesign.targetQuantity}">
													<p:keyFilter regEx="/[0-9]/i" />
												</p:inputText>
											</div>
											<h:message for="inp_tar_design_qnty"
												class="validation-error-label" id="msg_inp_tar_design_qnty"></h:message>
										</div>
									</div>

									<div class="col-lg-12 col-md-12 col-sm-6 text-right">
										<div class="form-group">
											<p:commandButton
												update="productDesignPanel productDesignTargetDTO groupDesignTarget inp_tar_fix_name inp_fromMonthYear input_toMonthYear inp_entity_master_code inp_enty_code
										inp_prod_cat_grp_cod_name inp_product_category_code_or_name inp_prod_group_code inp_prod_variey_code inp_tar_design_qnty growls"
												value="&#xe916;&nbsp;#{msg['clear']}"
												title="#{msg['clear']}"
												action="#{productDesign.clearProductDesign}"
												class="btn bg-slate font-iconmoon m-l-0">
											</p:commandButton>
											<p:commandButton update="growls productDesignPanel"
												value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
												binding="#{addBut}" class="btn bg-success font-iconmoon"
												action="#{productDesign.addProductDesign}">
											</p:commandButton>
										</div>
									</div>
								</div>

							</p:outputPanel>

							<div class="row">
								<div class="col-sm-12">
									<div class="table-responsive">
										<p:outputPanel id="productDesignTargetPanel"
											styleClass="#{productDesign.productDesignTargetDTOList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
											<p:dataTable
												value="#{productDesign.productDesignTargetDTOList}"
												var="item" id="productDesignTargetDTO" rowIndexVar="index"
												scrollable="true" styleClass="custom-input-width"
												scrollHeight="#{productDesign.productDesignTargetDTOList.size() eq 0 ? '30' : 
									  				 productDesign.productDesignTargetDTOList.size() eq 1 ? '34':
									  				 productDesign.productDesignTargetDTOList.size() eq 2 ? '67':
													 productDesign.productDesignTargetDTOList.size() eq 3 ? '100':
													 productDesign.productDesignTargetDTOList.size() eq 4 ? '133':
													 productDesign.productDesignTargetDTOList.size() gt 4 and productDesign.productDesignTargetDTOList.size() lt 6 ? '166' :'190'}"
												widgetVar="productDesignTargetDTOWdgr">

												<p:column headerText="#"
													styleClass="text-center sno-ovrflw-5">
													<h:outputText value="#{index +1}" />
												</p:column>

												<p:column headerText="#{msg['enty_code']} / #{msg['name']}"
													styleClass="width-15">
													<h:outputText
														value="#{item.entityMaster.code} / #{item.entityMaster.name}" />
												</p:column>

												<p:column
													headerText="#{msg['product_category_code_or_name']}"
													styleClass="width-20">
													<h:outputText
														value="#{item.productCategory.productCatCode} / #{item.productCategory.productCatName}" />
												</p:column>

												<p:column
													headerText="#{msg['prod_group_code']} / #{msg['name']}"
													styleClass="width-20">
													<h:outputText
														value="#{item.productGroupMaster.code} / #{item.productGroupMaster.name}"
														styleClass="fa-input" />
												</p:column>

												<p:column
													headerText="#{msg['prod_variey_code']} / #{msg['name']}"
													styleClass="text-left width-20">
													<h:outputText
														value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}"
														styleClass="fa-input" />
												</p:column>

												<p:column headerText="#{msg['tar_design_qnty']}"
													styleClass="text-right width-15">
													<h:outputText value="#{item.targetQuantity}"
														styleClass="fa-input" />
												</p:column>

												<p:column headerText="#{msg['action']}"
													styleClass="fa-input width-5 text-center">
													<p:commandButton value="&#xe99e;"
														update=":productDesignForm:productDesignTargetDTO productDesignForm:productDesignTargetPanel"
														class="btn bg-danger font-iconmoon btn-xs"
														title="#{msg['delete']}">
														<p:collector value="#{item}"
															removeFrom="#{productDesign.productDesignTargetDTOList}"
															unique="true" />
													</p:commandButton>
												</p:column>
												<p:columnGroup type="footer">
													<p:row>
														<p:column colspan="5" styleClass="text-right width-80"
															footerText="#{msg['tot']}" />
														<p:column footerText="#{productDesign.sumTargetQuantity}"
															styleClass="text-right width-15" />
														<p:column footerText="" styleClass="text-right width-5" />
													</p:row>
												</p:columnGroup>
											</p:dataTable>
										</p:outputPanel>
									</div>
								</div>
							</div>

							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['ent_wis_prod_design_qnty_details']}</span>
							</h5>
							<div class="row">
								<div class="col-sm-12">
									<div class=" table-responsive">
										<p:outputPanel id="groupDesignTarget"
											styleClass="#{productDesign.productDesignTargetDTOGroupList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
											<p:dataTable
												value="#{productDesign.productDesignTargetDTOGroupList}"
												var="item" id="productDesignTargetDTOGroup"
												scrollable="true" rowIndexVar="index"
												styleClass="custom-input-width"
												scrollHeight="#{productDesign.productDesignTargetDTOGroupList.size() eq 0 ? '30' : 
									  				 productDesign.productDesignTargetDTOGroupList.size() eq 1 ? '31':
									  				 productDesign.productDesignTargetDTOGroupList.size() eq 2 ? '60':
													 productDesign.productDesignTargetDTOGroupList.size() eq 3 ? '90':
													 productDesign.productDesignTargetDTOGroupList.size() eq 4 ? '119':
													 productDesign.productDesignTargetDTOGroupList.size() gt 4 and productDesign.productDesignTargetDTOGroupList.size() lt 6 ? '149' :'159'}"
												widgetVar="productDesignTargetDTOGroupWdgr">

												<p:column headerText="#"
													styleClass="text-center sno-ovrflw-5">
													<h:outputText value="#{index +1}" styleClass="fa-input" />
												</p:column>

												<p:column headerText="#{msg['enty_code']} / #{msg['name']}"
													styleClass="text-left width-32">
													<h:outputText
														value="#{item.entityMaster.code} / #{item.entityMaster.name}"
														styleClass="fa-input" />
												</p:column>

												<p:column
													headerText="#{msg['product_category_code_or_name']}"
													styleClass="text-left width-33">
													<h:outputText
														value="#{item.productCategory.productCatCode} / #{item.productCategory.productCatName}"
														styleClass="fa-input" />
												</p:column>


												<p:column headerText="#{msg['tar_design_qnty']}"
													styleClass="text-right width-32">
													<h:outputText value="#{item.targetQuantity}"
														styleClass="fa-input" />
												</p:column>

												<p:columnGroup type="footer">
													<p:row>
														<p:column colspan="3" styleClass="text-right width-68"
															footerText="#{msg['tot']}" />
														<p:column footerText="#{productDesign.sumTargetQuantity}"
															styleClass="text-right width-32" />

													</p:row>
												</p:columnGroup>

											</p:dataTable>
										</p:outputPanel>
									</div>
								</div>
							</div>
							<div class="row m-t-15">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="row label-form">
										<p:outputLabel value="#{msg['frwd_to']}" for="fwdto2" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="fwdto2" rendered="#{empty param[submit.clientId]}" />

										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="fwdto2" styleClass="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{productDesign.forwardTo}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user"
														value="#{productDesign.forwardToUsersList}"
														itemValue="#{user}"
														itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
													<p:ajax event="change" update="fwdtoreqmsg2" />
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="fwdto2" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{productDesign.forwardTo}" itemValue="#{employee}"
												var="employee" itemLabel="#{employee.empName}"
												completeMethod="#{productDesign.loadAutoCompleteAllusermaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="fwdto2"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="fwdto2" class="validation-error-label"
											id="fwdtoreqmsg2" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" for="fwdfor2" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="fwdto2" rendered="#{empty param[submit.clientId]}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="fwdfor2" styleClass="form-control"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_for_req']}"
												value="#{productDesign.finalApproval}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" itemValue="#{null}"></f:selectItem>
												<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
												<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
												<p:ajax event="change" update="fwdforreqmsg2" />
											</h:selectOneMenu>
										</div>
										<h:message for="fwdfor2" class="validation-error-label"
											id="fwdforreqmsg2" />
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xf067; #{msg['create_note']}"
										title="#{msg['create_note']}"
										styleClass="btn bg-success btn-md fa-input m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>

									<ui:remove>
										<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
											style="min-width:32px;"
											styleClass="btn bg-primary btn-md font-iconmoon"
											onclick="PF('commentdialog').show();"></p:commandButton>
									</ui:remove>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="window.location.href='listProductDevelopmentAndDesign.xhtml'"
										class="btn bg-slate font-iconmoon m-r-0"
										title="#{msg['cancel']}">
									</p:commandButton>

									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										binding="#{submit}" title="#{msg['submit']}"
										onstart="PF('statusDialog').show();"
										oncomplete="PF('statusDialog').hide();"
										update=":productDesignForm:productDesignPanel growls"
										action="#{productDesign.saveProductTargetDesign}"
										class="btn bg-success heading-btn  font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</div>
			<!-- Add Note Dialogue -->
			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="form-group">
										<p:textEditor widgetVar="editor1"
											value="#{productDesign.productDesignTargetNote.note}"
											height="200" />
									</div>
									<div class="col-md-12 prime-media-carousel">
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3 col-sm-3 col-xs-12">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name: <h:outputText
																			value="#{productDesign.employeeMaster.firstName} #{productDesign.employeeMaster.lastName}" />
																	</li>
																	<li>Designation : <h:outputText
																			value="#{productDesign.employeeMaster.personalInfoEmployment.currentDesignation.name}" />
																	</li>
																	<li>Date : <h:outputText
																			value="#{productDesign.currentDate}">
																			<f:convertDateTime timeZone="#{loginBean.timeZone}"
																				pattern="#{loginBean.userInfoDTO.dateFormat}" />
																		</h:outputText></li>
																</ul>
															</div>
														</div>
													</div>
												</div>


											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon"
									title="#{msg['cancel']}" onclick="PF('notedialog').hide();" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									actionListener="#{productDesign.noteAction}" update="growls"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
			<!-- /.add note dialogue -->
			<!-- Comment -->
			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="p-0">
				<p:outputPanel id="customerPanelSecond">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="window.location.href='listInvestment.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
		</h:form>
		<!-- /.Comment -->
	</ui:define>
</ui:composition>