<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
	<h:form id="formView">
	<ui:param name="productDesign" value="#{productDesignTargetBean}"></ui:param>
		<title>InfoTex | View Product Development and Design</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view']} #{msg['prod_dev_and_design']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper_module']}</li>
						<li class="active">#{msg['view']} #{msg['prod_dev_and_design']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['view']}
								#{msg['prod_dev_and_design']}
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0 p-t-10">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tar_fix_name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productDesignTarget.name} " class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['from_month_year']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productDesignTarget.fromMonth} - 
										#{productDesign.productDesignTargetDTO.productDesignTarget.fromYear}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['to_month_year']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productDesignTarget.toMonth} - 
										#{productDesign.productDesignTargetDTO.productDesignTarget.toYear}" class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-body p-t-10 p-b-5">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h5 class="bord_bot m-t-0 ">
								<i class="fa fa-th-large m-r-5 m-t-0"></i><span
									class="iform-title p-b-0">#{msg['ent_wis_prod_details']}</span>
							</h5>
						</div>
					</div>
					<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity_master_code']} / #{msg['name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.entityTypeMaster.entityCode} 
											#{productDesign.productDesignTargetDTO.entityTypeMaster.entityName}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.entityMaster.code} / 
										#{productDesign.productDesignTargetDTO.entityMaster.name}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['prod_cat_grp_cod_name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productCategoryGroup.groupCode} / 
											#{productDesign.productDesignTargetDTO.productCategoryGroup.groupName}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['product_category_code_or_name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productCategory.productCatCode} / 
										#{productDesign.productDesignTargetDTO.productCategory.productCatName}" class="" />
									</div>
								</div>
						</div>
						<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['prod_group_code']} / #{msg['name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productGroupMaster.code} / 
										#{productDesign.productDesignTargetDTO.productGroupMaster.name}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['prod_variey_code']} / #{msg['name']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.productVarietyMaster.code} / 
											#{productDesign.productDesignTargetDTO.productVarietyMaster.name}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tar_design_qnty']}" />
										<h:outputText value="#{productDesign.productDesignTargetDTO.targetQuantity}" class="" />
									</div>
								</div>
								
						</div>
				</div>
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-sm-12">
							<div class=" table-responsive">
								<div  class="cust-tab2 table-scroll">
									<div id="faux-table" class="faux-table" aria="hidden"></div>
									<div class="table-wrap table-wrap-siw4">
										<p:dataTable value="#{productDesign.productDesignTargetDTOList}" var="item" id="productDesignTargetDTO"
									        	 rowIndexVar="index"  
									        	 styleClass="main-table cust-table"
									        	 widgetVar="productDesignTargetDTOWdgr">
									        	 
											<p:column headerText="#"  style="width: 3%;" >
								                <h:outputText value="#{index +1}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['enty_code']} / #{msg['name']}" styleClass="text-center width-8">
								                <h:outputText value="#{item.entityMaster.code} / #{item.entityMaster.name}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['product_category_code_or_name']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.productCategory.productCatCode} / #{item.productCategory.productCatName}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['prod_group_code']} / #{msg['name']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.productGroupMaster.code} / #{item.productGroupMaster.name}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['prod_variey_code']} / #{msg['name']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['tar_design_qnty']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.targetQuantity}" styleClass="fa-input"/>
								            </p:column>
								             
							            	 <p:columnGroup type="footer">
									            <p:row>
									                <p:column colspan="5" styleClass="text-right" footerText="#{msg['tot']}"  />
									                <p:column footerText="#{productDesign.sumTargetQuantity}" styleClass="text-right"/>
									            </p:row>
									        </p:columnGroup>
								            
										</p:dataTable>
										<!-- 
										<table id="main-table" class="main-table cust-table">
											<thead>
												<tr>
													<th scope="col" width="3%">#</th>
													<th class="ui-state-default text-center width-8"><p:outputLabel
															value="#{msg['enty_code']} / #{msg['name']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['product_category_code_or_name']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input" value="#{msg['prod_group_code']} / #{msg['name']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['tar_design_qnty']}" /></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">1</td>
													<td>EN001 / Head Office</td>
													<td>PC001 / Printing &amp; Stationary</td>
													<td>PG001 / Cotton Sarees</td>
													<td>PV001 / Sarees Dindigul 80s 6YDS</td>
													<td class="text-right">20</td>
												</tr>
												<tr>
													<td class="text-center">2</td>
													<td>EN002 / Regional Office</td>
													<td>PC002 / Yarn Category</td>
													<td>PG002 / Cotton Dhoties</td>
													<td>PV001 / Sarees Dindigul 80s Blouse</td>
													<td class="text-right">10</td>
												</tr>
												<tr>
													<td class="text-center">3</td>
													<td>EN001 / Head Office</td>
													<td>PC002 / Printing &amp; Stationary</td>
													<td>PG001 / Cotton Sarees</td>
													<td>PV003 / Chettinadu Sarees</td>
													<td class="text-right">5</td>
												</tr>
												<tr>
													<td class="text-center">4</td>
													<td>EN001 / Head Office</td>
													<td>PC001 / Non Stable Product</td>
													<td>PG002 / Cotton Dhoties</td>
													<td>PV001 / Kora Cotton</td>
													<td class="text-right">10</td>
												</tr>
												<tr>
													<td class="text-center">5</td>
													<td>EN002 / Regional Office</td>
													<td>PC002 / Yarn Category</td>
													<td>PG002 / Cotton Dhoties</td>
													<td>PV001 / Sarees 80s Blouse</td>
													<td class="text-right">10</td>
												</tr>
												<tr>
													<td class="text-center">6</td>
													<td>EN001 / Head Office</td>
													<td>PC001 / Printing &amp; Stationary</td>
													<td>PG001 / Cotton Dhoties</td>
													<td>PV001 / Dindigul 80s 6YDS</td>
													<td class="text-right">20</td>
												</tr>
												
												</tbody>
											<tfoot>
												<tr>
													<td class="text-right" colspan="5"><strong>#{msg['tot']}</strong></td>
													
													<td class="text-right"><b>55</b></td>
												</tr>
											</tfoot>
										</table>
										 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
			
				
				<div class="panel-body p-b-5">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h5 class="m-t-0 m-b-0">
								<i class="fa fa-th-large m-r-5 m-t-0"></i><span
									class="iform-title p-b-0">#{msg['ent_wis_prod_design_qnty_details']}</span>
							</h5>
						</div>
					</div>
				</div>
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-sm-12">
							<div class=" table-responsive">
								<div  class="cust-tab2 table-scroll">
									<div id="faux-table1" class="faux-table" aria="hidden"></div>
									<div class="table-wrap table-wrap-siw4">
										<p:dataTable value="#{productDesign.productDesignTargetDTOGroupList}" var="item" id="productDesignTargetDTOGroup"
									        	 rowIndexVar="index"  
									        	 styleClass="main-table cust-table"
									        	 widgetVar="productDesignTargetDTOGroupWdgr">
									        	 
											<p:column headerText="#"  style="width: 3%;" >
								                <h:outputText value="#{index +1}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['enty_code']} / #{msg['name']}" styleClass="text-center width-8">
								                <h:outputText value="#{item.entityMaster.code} / #{item.entityMaster.name}" styleClass="fa-input"/>
								            </p:column>
								            
								            <p:column headerText="#{msg['product_category_code_or_name']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.productCategory.productCatCode} / #{item.productCategory.productCatName}" styleClass="fa-input"/>
								            </p:column>
								            
								           
								            <p:column headerText="#{msg['tar_design_qnty']}"  styleClass="text-center width-10">
								                <h:outputText value="#{item.targetQuantity}" styleClass="fa-input"/>
								            </p:column>
								            
							            	 <p:columnGroup type="footer">
									            <p:row>
									                <p:column colspan="3" styleClass="text-right" footerText="#{msg['tot']}"  />
									                <p:column footerText="#{productDesign.sumTargetQuantity}" styleClass="text-right"/>
									                
									            </p:row>
									        </p:columnGroup>
								            
										</p:dataTable>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['forward_to']} " />
								<h:selectOneMenu id="fwdto2" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{productDesign.forwardTo}" >
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true"></f:selectItem>
										<f:selectItems var="user" value="#{productDesign.forwardToUsersList}"
											itemValue="#{user}"
											itemLabel="#{user.username}"></f:selectItems>
											<p:ajax event="change" />
									</h:selectOneMenu>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['forward_for']} " />
								 <h:selectOneMenu id="fwdfor2" styleClass="form-control"
										value="#{productDesign.finalApproval}"
										>
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true" itemValue="#{null}"></f:selectItem>
										<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
										<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
										<p:ajax event="change"  />
									</h:selectOneMenu>
							</div>
						</div>

					</div>
					<div class="row view-style">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p:commandButton value="&#xea18; #{msg['view_note']}"
								title="#{msg['view_note']}"
								styleClass="btn bg-info btn-md font-iconmoon m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>
							<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn bg-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
						
						<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								class="btn bg-info font-iconmoon m-r-0 pull-right"
								title="#{msg['back']}"
								action="#{productDesign.showListPage}">
							</p:commandButton>
							
							 <p:commandButton value="&#xed6e;&nbsp;Submit"
                              title="#{msg['Submit']}" update="growls"
                              action="#{productDesign.updateDesignTarget}"
                              class="btn bg-success heading-btn  font-iconmoon">
                           </p:commandButton>
						</div>
					</div>
				</div>

			</div>

		</div>

		<p:dialog header="Create Note" widgetVar="notedialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
				<p:outputPanel id="customerPanel">
					<div class="panel-body modal-lg p-0">
						<div class="tabbable wysihtml5-tabc">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="panel panel-flat">
											<div class="form-group text-wysihtml5-toolbar">
												 <p:inputTextarea rows="10" cols="50" minQueryLength="4" 
					                                 value="#{productDesign.productDesignTargetNote.note}">
					                                 	<p:ajax event="blur"></p:ajax> 
					                                 </p:inputTextarea>
											</div>
									</div>
									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li> Name: <h:outputText value="#{productDesign.productDesignTargetDTO.userName}"/> </li>
					                                                   <li>Designation : <h:outputText value="#{productDesign.productDesignTargetDTO.designationName}"/> </li>
					                                                   <li>Date : <h:outputText value="#{productDesign.productDesignTargetDTO.productDesignTargetNote.createdDate}">  
					                                                   		<f:convertDateTime timeZone="#{loginBean.timeZone}" pattern="dd-MM-yyyy" />
					                                                   </h:outputText></li>
																</ul>
															</div>
														</div>
														 
													 
														 
													</div>
												</div>
												<div class="item">
													 
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" onclick="PF('notedialog').hide();"/>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
		</p:dialog>
		<!-- /.add note dialogue -->
		<!-- Comment -->
		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
				<p:outputPanel id="customerPanel_Second">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="window.location.href='listInvestment.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
		</p:dialog>
		</h:form>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script>
		<script>
         (function() {
         	var fauxTable = document.getElementById("faux-table");
         	var mainTable = document.getElementById("main-table");
         	var clonedElement = mainTable.cloneNode(true);
         	var clonedElement2 = mainTable.cloneNode(true);
         	clonedElement.id = "";
         	clonedElement2.id = "";
         	fauxTable.appendChild(clonedElement);
         	fauxTable.appendChild(clonedElement2);
         })();
      </script>
		<script>
         (function() {
         	var fauxTable = document.getElementById("faux-table1");
         	var mainTable = document.getElementById("main-table1");
         	var clonedElement = mainTable.cloneNode(true);
         	var clonedElement2 = mainTable.cloneNode(true);
         	clonedElement.id = "";
         	clonedElement2.id = "";
         	fauxTable.appendChild(clonedElement);
         	fauxTable.appendChild(clonedElement2);
         })();
      </script>
		<script>
         (function() {
         	var fauxTable = document.getElementById("faux-table2");
         	var mainTable = document.getElementById("main-table2");
         	var clonedElement = mainTable.cloneNode(true);
         	var clonedElement2 = mainTable.cloneNode(true);
         	clonedElement.id = "";
         	clonedElement2.id = "";
         	fauxTable.appendChild(clonedElement);
         	fauxTable.appendChild(clonedElement2);
         })();
      </script>
		<script>
         (function() {
         	var fauxTable = document.getElementById("faux-table3");
         	var mainTable = document.getElementById("main-table3");
         	var clonedElement = mainTable.cloneNode(true);
         	var clonedElement2 = mainTable.cloneNode(true);
         	clonedElement.id = "";
         	clonedElement2.id = "";
         	fauxTable.appendChild(clonedElement);
         	fauxTable.appendChild(clonedElement2);
         })();
      </script>
	</ui:define>
</ui:composition>