<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:p="http://primefaces.org/ui"
   template="/pages/template/layout.xhtml">
   <ui:define name="content">
      <title>Infotex | List Testing Lab - Stock Inward  </title>
      <!-- Page Header -->
      <h:form id="designTargetForm">
          <style>
		 #steps-uid-0-t-0 .number:after {
		   content: "1";
		   color: #ff5722;
		  }
		</style>
		
     <div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['list_test_lab']} -
						#{msg['stk_inrd']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['testing_lab']}</li>
						<li class="active">#{msg['list_test_lab']} - #{msg['stk_inrd']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<div class="heading-elements">
					 
				</div>
			</div>
		</div>
	
      <!-- End Page Header -->
      <div class="content">
         <div class="row">
            <div class="col-lg-5">
               <h6 class="panel-title">
                  <b>
                  	
                  </b> - #{msg['list_test_lab']}(s)<a class="heading-elements-toggle"><i
                     class="icon-more"></i></a>
               </h6>
            </div>
            <div class="col-lg-7 text-right">
               <div class="form-group m-b-10">
               <p:outputPanel id="actionButton">
						 
						<p:commandButton value="&#xe916; search"
							action="#{productDesignTargetBean.loadLazyIntItemConsumptionList}"
							class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
						</p:commandButton>
						</p:outputPanel>
               </div>
            </div>
         </div>
         <div class="panel panel-info ">
            <div class="panel-body p-0">
               <div class="table-responsive">
               
               	<p:dataTable value="#{productDesignTargetBean.productDesignTargetLazyList}" var="item" id="productDesignTargetListLazy"
				        	 rowIndexVar="index"   lazy="true"
				        	 styleClass="main-table cust-table"
				        	 widgetVar="productDesignTargetListLazyWdgr">
				        	 
						<p:column headerText="#"  style="width: 3%;" >
			                <h:outputText value="#{index +1}" styleClass="fa-input"/>
			            </p:column>
			            
		            </p:dataTable>
					
					<p:remoteCommand name="updateFilterSelection"
								update=":#{p:component('totalRecord')}" autoRun="true" />
					</div>
					
					<div class="table-responsive">
					 
               </div>
               
            </div>
         </div>
      </div>
       <p:dialog header="Confirm Delete" draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="deleteConfirm" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false" id="deleteConfirmID">
				<div class="modal-body">
				<p:outputPanel id="deleteDialogPanel">
					<h:outputText value="Delete Stock Transfer :" /> <br/>
				</p:outputPanel>
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;No"
							styleClass="btn bg-slate heading-btn font-iconmoon"
							oncomplete="PF('deleteConfirm').hide()" />
						<p:commandButton ajax="false" 
							styleClass="btn bg-success heading-btn font-iconmoon"  value="&#xed6e;&nbsp;Yes"
							onclick="PF('statusDialog').show();"
							action="#{testingLabStockInwardBean.deleteStockTransfer}"
							oncomplete="PF('deleteConfirm').hide()" >
						</p:commandButton>
				</div>
			</p:dialog>
      </h:form>
   </ui:define>
</ui:composition>