<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{purchaseOrderBillBean}"></ui:param>
		<title>InfoTex | Bill List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['bill_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['quotation_order_invoice']}</li>
						<li>#{msg['purchase']}</li>
						<li class="active">list #{msg['bill_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<b><h:panelGroup id="planSize">
								<h:outputText value="#{bean.totalRecords}" />
							</h:panelGroup></b> - #{msg['bill']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton update="growls" id="addButton"
							disabled="#{bean.addButtonFlag}" action="#{bean.createBill}"
							value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-success font-iconmoon m-r-0">
							<f:setPropertyActionListener value="CREATE"
								target="#{bean.action}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton update="growls" id="viewButton"
							action="#{bean.viewBill}" disabled="#{bean.viewButtonFlag}"
							value="&#xea18;&nbsp;#{msg['view']}" title="#{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
							<f:setPropertyActionListener value="VIEW" target="#{bean.action}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton update="growls" action="#{bean.clear}"
							value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
							class="btn bg-slate font-iconmoon"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div class="panel-body p-0">
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table">
									<div class="ui-datatable-scrollable-header-box">
										<p:dataTable id="table" var="data" class="table"
											widgetVar="table" tableStyleClass="" lazy="true"
											value="#{bean.purchaseInvoiceBillList}"
											selection="#{bean.purchaseInvoice}" rowKey="#{data.id}"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											paginator="true" paginatorPosition="bottom"
											rowsPerPageTemplate="10,15" rows="10" rowIndexVar="idx"
											emptyMessage="#{msg['no_record_found']}">

											<p:ajax event="filter" oncomplete="updateFilterSelection()" />

											<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
												update=":#{p:component('addButton')} :#{p:component('viewButton')}" />

											<p:column headerText="#" styleClass="width-3 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['invoice_num']}"
												styleClass="width-12 text-center" filterMatchMode="contains"
												filterable="true" filterBy="#{data.invoiceNumber}"
												sortBy="#{data.invoiceNumber}" sortable="true">
												<h:outputText
													value="#{data.invoiceNumberPrefix}-#{data.invoiceNumber}" />
											</p:column>

											<p:column filterable="true"
												filterBy="#{data.supplierMaster.code}"
												filterMatchMode="contains" styleClass="width-12"
												headerText="#{msg['sup_code']} / #{msg['name']}"
												sortBy="#{data.supplierMaster.code}" sortable="true">
												<f:facet name="filter">
													<p:inputText id="supplierCodeNameId" class="form-control"
														onkeyup="PF('table').filter()" />
												</f:facet>
												<h:outputText
													value="#{data.supplierMaster.code} / #{data.supplierMaster.name }" />
											</p:column>
											<p:column headerText="#{msg['amount']} ( &#xf156; )"
												styleClass="width-10 text-right fa-input"
												filterMatchMode="contains" filterable="true"
												filterBy="#{data.grantTotal}" sortBy="#{data.grantTotal}"
												sortable="true">
												<h:outputText value="#{data.grandTotal}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['created_date']}"
												filterBy="#{data.createdDate}"
												styleClass="text-center width-10 form-group_calend"
												filterMatchMode="equals" sortBy="#{data.createdDate}"
												sortable="true">
												<f:facet name="filter">
													<p:calendar onchange="PF('table').filter()"
														navigator="true" id="issuedDate" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" mask="true"
														styleClass="form-control calend-icon text-center">
														<p:ajax event="dateSelect"
															oncomplete="PF('table').filter()" />
													</p:calendar>
												</f:facet>
												<h:outputText value="#{data.createdDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</p:column>

											<p:column filterBy=" #{data.status}"
												headerText="#{msg['status']}" filterMatchMode="contains"
												filterable="true" sortBy=" #{data.status}" sortable="true"
												styleClass="text-center width-10">
												<f:facet name="filter">
													<h:selectOneMenu onchange="PF('table').filter()"
														id="statusDropdown" class="form-control select2">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItems value="#{bean.statusValuesList}"
															var="status" itemLabel="#{status}" itemValue="#{status}" />
													</h:selectOneMenu>
												</f:facet>

												<h:outputText value="#{data.status}"
													styleClass="label label-warning width-custom"
													rendered="#{data.status eq 'SUBMITTED'}" />

												<h:outputText value="#{data.status}"
													styleClass="label label-success width-custom"
													rendered="#{data.status eq 'APPROVED'}" />
											</p:column>

											<p:column headerText="#{msg['select']}"
												selectionMode="single" styleClass="width-4 text-center">
											</p:column>

										</p:dataTable>
										<p:remoteCommand name="updateFilterSelection"
											update=":#{p:component('planSize')}" autoRun="true" />

										<div class="pagi">
											<div
												class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0"
												id="DataTables_Table_2_paginate" role="status"
												aria-live="polite"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>