<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Roster Report</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['create_roster_report']} -
							#{msg['add']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['roster_report']}</a></li>
							<li class="active">#{msg['add']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="selpost"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Asst.Salesman / Asst.Saleswoman"
											itemValue="true" />
										<f:selectItem itemLabel="Junior Assistant" itemValue="false" />
										<f:selectItem itemLabel="Procurement Supervisor"
											itemValue="false" />
									</h:selectOneMenu>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['no_vacan_distri']}" />
									<input type="text" class="form-control" disabled="" value="54" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['Prev_roaster_point']}" />
									<input type="text" class="form-control" disabled="" value="25" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['from_roaster_point']}" />
									<input type="text" class="form-control" disabled="" value="26" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['to_roaster_point']}" />
									<input type="text" class="form-control" disabled="" value="80" />
								</div>
							</div>
							<!-- end col -->


							<div class="clearfix"></div>
							<div class="col-md-12 text-right">
								<h:commandButton value="&#xf00c;&nbsp;#{msg['generate']}"
									styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0 m-t-10">
							<div class="portlet mb0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['search_roster_report']}</h3>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['designation']}" />
													<h:selectOneMenu id="selpost1"
														value="#{discountMasterBean.discountMasterDTO.activeStatus}"
														styleClass="form-control">
														<f:selectItem itemLabel="Select" itemValue="true" />
														<f:selectItem itemLabel="Asst.Salesman / Asst.Saleswoman"
															itemValue="true" />
														<f:selectItem itemLabel="Junior Assistant"
															itemValue="false" />
														<f:selectItem itemLabel="Procurement Supervisor"
															itemValue="false" />
													</h:selectOneMenu>
													<!-- input-group -->
												</div>
											</div>
											<!-- end col -->
											<div class="col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['cod']}" />
													<h:selectOneMenu id="selpost1"
														value="#{discountMasterBean.discountMasterDTO.activeStatus}"
														styleClass="form-control">
														<f:selectItem itemLabel="Select" itemValue="true" />
														<f:selectItem itemLabel="OC" itemValue="true" />
														<f:selectItem itemLabel="BC" itemValue="false" />
														<f:selectItem itemLabel="BCM" itemValue="false" />
														<f:selectItem itemLabel="MBC" itemValue="false" />
														<f:selectItem itemLabel="SC" itemValue="false" />
														<f:selectItem itemLabel="SCA" itemValue="false" />
														<f:selectItem itemLabel="ST" itemValue="false" />
													</h:selectOneMenu>
													<!-- input-group -->
												</div>
											</div>
											<!-- end col -->
											<div class="col-md-12 text-right">
												<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
													styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
												<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
													styleClass="btn btn-sm btn-info waves-effect waves-light fa-input">
												</p:commandButton>
											</div>
											<!-- end col -->
										</div>
										<!-- end row -->

									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['roster_report']} -
										#{msg['asst_sales']}</h3>
									<div class="portlet-widgets">
										<h:commandButton value="&#xf002;&nbsp;#{msg['search']}"
											styleClass="btn btn-xs btn-info waves-effect waves-light fa-input">
										</h:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="portlet-body p0">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table m-0 cust-table">
													<thead>
														<tr>
															<th align="center">#{msg['sl']}</th>
															<th align="center">#{msg['caste']}</th>
															<th align="center">#{msg['cod']}</th>
															<th align="center">#{msg['general']}</th>
															<th align="center">#{msg['women']}</th>
															<th align="center">#{msg['priority']}</th>
															<th align="center">#{msg['non_priority']}</th>
															<th align="center">#{msg['no_vacan_distri']}</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td align="center">1</td>
															<td>#{msg['gen_turn']}</td>
															<td>OC</td>
															<td>02</td>
															<td>01</td>
															<td>01</td>
															<td>01</td>
															<td>05</td>
														</tr>
														<tr>
															<td align="center">2</td>
															<td>#{msg['back_class']}</td>
															<td>BC</td>
															<td>04</td>
															<td>01</td>
															<td>02</td>
															<td>01</td>
															<td>08</td>
														</tr>
														<tr>
															<td align="center">3</td>
															<td>#{msg['bcm']}</td>
															<td>BCM</td>
															<td>01</td>
															<td>01</td>
															<td>01</td>
															<td>00</td>
															<td>03</td>
														</tr>
														<tr>
															<td align="center">4</td>
															<td>#{msg['mbc']}</td>
															<td>MBC</td>
															<td>04</td>
															<td>01</td>
															<td>01</td>
															<td>02</td>
															<td>08</td>
														</tr>
														<tr>
															<td align="center">5</td>
															<td>#{msg['sc']}</td>
															<td>SC</td>
															<td>05</td>
															<td>01</td>
															<td>02</td>
															<td>02</td>
															<td>10</td>
														</tr>
														<tr>
															<td align="center">6</td>
															<td>#{msg['sca']}</td>
															<td>SCA</td>
															<td>03</td>
															<td>02</td>
															<td>02</td>
															<td>01</td>
															<td>08</td>
														</tr>
														<tr>
															<td align="center">7</td>
															<td>#{msg['st']}</td>
															<td>ST</td>
															<td>07</td>
															<td>03</td>
															<td>01</td>
															<td>01</td>
															<td>12</td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<td align="center" colspan="3"><strong>TOTAL</strong></td>
															<td><b>26</b></td>
															<td><b>11</b></td>
															<td><b>10</b></td>
															<td><b>08</b></td>
															<td><b>54</b></td>
														</tr>
													</tfoot>
												</table>
											</div>
										</div>
										<!-- end col -->

										<div class="clearfix"></div>
									</div>
									<!-- end row -->
									<!-- <div class="col-md-6 m-t-10 ph0">
										<button
											class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
											title="Download PDF">
											<i class="fa fa-download"></i> PDF
										</button>
										<button
											class="btn-xs btn-icon waves-effect waves-light btn-success"
											title="Download Excel">
											<i class="fa fa-download"></i> Excel
										</button>
									</div> -->
									<!-- end col -->
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
						<div class="col-md-12 ph0 m-t-10">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['remarks']}" />
										<textarea id="textarea" class="form-control" maxlength="225"
											rows="2" placeholder="Comments...."></textarea>
									</div>
								</div>
								<!-- end col -->
								<div class="col-md-6 text-right m-t-20 ph0">
									<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
										class="btn btn-sm btn-cancel waves-effect waves-light fa-input  m-r-10" />
									<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
										class="btn btn-sm btn-success waves-effect waves-light fa-input" />
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
