<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Yarn Traders</title>
		<div class="page-header page-header-default">
         <div class="page-header-content">
            <div class="page-title">
               <h4>#{msg['create']} #{msg['yarn_traders']}</h4>
               <ul class="breadcrumb">
                  <li><a href="#"><i
                     class="icon-home2 position-left"></i>#{msg['home']}</a></li>
                  <li>#{msg['oper']}</li>
                  <li>#{msg['cluster_management']}</li>
                  <li class="active">#{msg['create']} #{msg['yarn_traders']}</li>
               </ul>
               <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>
            <ui:include src="/pages/pageHeadingElements.xhtml" />
         </div>
      </div>
		
		<div class="content ">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								 #{msg['create']} and #{msg['yarn_traders']}  <span
									class="pull-right text-13 ">(<span class="text-danger">*</span>
									#{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div>
							
								<div class="panel-body no-padding-bottom">
									
									
									
									<div class="row label-form">	
									
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
										 
											<p:outputLabel value="#{msg['source_of_yarn']} " />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="fa fa-forumbee"></i></span> <select class="form-control">
													<option value="Select">Select</option>
													<option>Yarn Traders</option>
													<option>Co-operative</option>
													<option>NHDC</option>
													<option>Mill</option>	
												</select>
											</div>
										</div>
									</div>
									

									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['major_buyers']} " />
												<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="fa fa-shopping-bag"></i></span> <select class="form-control">
													<option value="Select">Select</option>
													<option>Mater Weaversy</option>
													<option>Cooperatives </option>
													<option>Retailers</option>
													<option>Others</option>
													 
												</select>
											</div>
										</div>
									</div>	


									
 

									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['place_of_yarn_dye']} " />
												<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-color-sampler"></i></span> <select class="form-control">
													<option value="Select">Select</option>
													<option>Own Dye House</option>
													<option>Other Dyers </option>
													 
												</select>
											</div>
										</div>
									</div>
									
						 			
									
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['turn_over_per_year']} " />
											<span class="mand-red">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-tree6"></i></span> <select class="form-control">
													<option value="Select">Select</option>
													<option>Up to 10 Lakhs</option>
													<option>10-25 Lakhs</option>
													<option>25-50 Lakhs</option>
													<option>Above 50 Lakhs</option>
												 </select>
											</div>
										</div>
									</div>
									
									
									
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
										 
											<p:outputLabel value="#{msg['problem_faced_by_you']} " />
											<span class="mand-red">*</span>	 
											<p:inputTextarea rows="3" class="form-control" placeholder=" " />
										</div>
									</div>
									
 									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											 
											<p:outputLabel value="#{msg['suggestion']} " />
											<span class="mand-red">*</span>
										<p:inputTextarea rows="3"
													class="form-control" placeholder=" " />
											 
										</div>
									</div>


									
								</div>
								
								
								

						
							
								
								
									
									
									




									<div class="row">

										<div class="col-md-12 text-right ">
											<div class="form-group">
												<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
													
													class="btn btn-sm bg-slate fa-input m-l-10" />
												<p:commandButton update="growls"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									class="btn bg-success font-iconmoon m-r-0" />
											</div>
										</div>
									</div></div>
									<!-- end row -->

								</div>
							
						</div>

					</div>
	
	</ui:define>
</ui:composition>