<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Dyers</title>
		<!-- Page Header -->
		<div class="page-header page-header-default" style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
               <h4>#{msg['view']} #{msg['dyers']}</h4>
               <ul class="breadcrumb">
                  <li><a href="#"><i
                     class="icon-home2 position-left"></i>#{msg['home']}</a></li>
                  <li>#{msg['oper']}</li>
                  <li>#{msg['cluster_management']}</li>
                  <li class="active">#{msg['view']} #{msg['dyers']}</li>
               </ul>
               <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>

				
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel view-style">
			<div class="panel-heading bg-info">
						<h6 class="panel-title">#{msg['view']} #{msg['dyers']}</h6>
					</div>
				<div class="panel-body">
					<h:form id="catform">
						<div class="row view-style">
							<div class="col-sm-12">
								<p:outputPanel >
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['source_of_yarn']}" />
												<h:outputText 
													value="Societies" id="region">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['type_of_yarn_used']}" />
												<h:outputText
													value="Sarees" id="prod_produced_marketed"
													>
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['source_of_dyes_and_chemical']} " />
												<h:outputText
													value="NHDC" id="source_of_yarn"
													>
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['type_of_dyes_used']}" />
												<h:outputText 
													value="Direct" id="osver">
												</h:outputText>
											</div>
										</div>
										
										
										
										
										
										
									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['how_waste_water_discharged']}" />
												<h:outputText  id="ram"
													value="Drainage">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['no_of_people_employed']}" />
												<h:outputText id="appver"
													value="3 to 5"
													>
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['avg_wage_earning_per_month']}" />
												<h:outputText id="appregdate"
													value="5000 - 10000"
													>
													
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['capacity_per_day']}" />
												<h:outputText id="looms"
													value="20"
													>
												</h:outputText>
											</div>
										</div></div>
										
										<div class="row view-style">
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['problem_faced_by_you']}" />
												<h:outputText id="utilizedanygovtinitiative"
													value=" some text"
													>
												</h:outputText>
											</div>
										</div>
										
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['suggestion']}" />
												<h:outputText id="suggestion"
													value="some text"
													>
												</h:outputText>
											</div>
										</div>
										
										</div>
										<div class="row view-style">
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}" 
											action="#{tenderCategoryBean.backPage}"
											update="catform" immediate="true"
											class="btn bg-info btn-xs font-iconmoon">
										</p:commandButton>
										

                            

                            
                            
                            
                            <p:dialog modal="true" draggable="true" id="dlgCommentrej"
                                      showEffect="fade" hideEffect="fade"
                                      styleClass="p-0 overlay-pop modal-dialog text-left" widgetVar="dlgComments2"
                                      width="40%" focus="comments2">

                                <f:facet name="header">
                                    <h:outputText id="someDialogHeader1"
                                                  value="Reject Comment" />
                                </f:facet>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <p:outputLabel value="Remarks" />
                                        <div class="form-group">
                                            <p:inputTextarea autoResize="false" rows="4" cols="50"
                                                             maxlength="235" styleClass="form-control"
                                                             value="#{bean.rejtremark}" id="comments2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer ph0">
                                    <p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
                                                     title="#{msg['cancel']}"
                                                     class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
                                    </p:commandButton>
                                    <p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
                                                     update="growls" title="#{msg['submit']}"
                                                     class="btn bg-success heading-btn  font-iconmoon"

                                                     onclick="PF('dlgComments2').hide();" ajax="false" action="#{bean.submitRejectedStatus}">
                                    </p:commandButton>
                                </div>
                            </p:dialog>



                            <p:dialog modal="true" draggable="true" id="dlgCommentapr"
                                      showEffect="fade" hideEffect="fade"
                                      styleClass="p-0 overlay-pop modal-dialog text-left" widgetVar="dlgComments"
                                      width="40%" focus="comments">

                                <f:facet name="header">
                                    <h:outputText id="someDialogHeader"
                                                  value="Approve Comment" />
                                </f:facet>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <p:outputLabel value="Remarks" />
                                        <div class="form-group">
                                            <p:inputTextarea autoResize="false" rows="4" cols="50"
                                                             maxlength="235" styleClass="form-control"
                                                             value="#{bean.apprremarks}" id="comments" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer ph0">
                                    <p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
                                                     title="#{msg['cancel']}"
                                                     class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
                                    </p:commandButton>
                                    <p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
                                                     update="growls" title="#{msg['submit']}"
                                                     class="btn bg-success heading-btn  font-iconmoon"

                                                     onclick="PF('dlgComments').hide();" ajax="false" action="#{bean.submitApprovedStatus}">
                                    </p:commandButton>
                                </div>
                            </p:dialog>
									</div>
									</div>
									
									
								</p:outputPanel>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
		
		
		
		
	</ui:define>
</ui:composition>