<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Approve Leave Request</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Approve Leave Request</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml">
								<i class="icon-home2 position-left"></i>#{msg['home']}
						</a></li>
						<li>Leave Management</li>
						<li class="active">Approve Leave Request</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info view-style">
				<div class="panel-heading">
					<h6 class="panel-title">Approve Leave Request</h6>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="H.O / Region" />
								<h:outputText value="#{leaveRequestBean.leaveRequest.headOrRegionOffice.name}" class="" />
							</div>
						</div>
						<p:outputPanel id="entityPanel" rendered="#{leaveRequestBean.showEntityPanel}">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="Entity Type" />
								<h:outputText value="#{leaveRequestBean.leaveRequest.entityTypeMaster.entityName}" class="" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="Entity" />
								<h:outputText value="#{leaveRequestBean.leaveRequest.entityMaster.name}" class="" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText value="#{leaveRequestBean.leaveRequest.department.name}" class="" />
								</div>
							</div>
						</p:outputPanel>
						<p:outputPanel rendered="#{!leaveRequestBean.showEntityPanel}">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText value="#{leaveRequestBean.leaveRequest.department.name}" class="" />
								</div>
							</div>
						</p:outputPanel>
						<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<h:outputText value="#{leaveRequestBean.leaveRequest.employeeMaster.firstName}" class="" />
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="Leave Type" />
								<h:outputText value="#{leaveRequestBean.leaveRequest.leaveType.name}" class="" />
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="Leave Eligibility" />
								<h:outputText value="#{leaveRequestBean.leaveRequest.leaveEligibility}" class="" />
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="form-group">
								<p:outputLabel value="Date of Application" />
								<h:outputText value="10 Feb 2017" class="" />
							</div>
						</div>
						
					</div>
					
					<div class="row">
								
								<div class="col-lg-4 col-sm-4 col-md-4">
									<div class="form-group">
										<p:outputLabel value="No. of days Requested" />
										<h:outputText value="#{leaveRequestBean.leaveRequest.noOfDaysRequested}" class="" />																			
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-4 col-md-4">
									<div class="form-group">
										<p:outputLabel value="From Date" />
										<h:outputText value="#{leaveRequestBean.leaveRequest.leaveFromDate}" class="">
										<f:convertDateTime pattern="dd-MM-yyyy" timeZone="#{loginBean.timeZone}"></f:convertDateTime>
										</h:outputText>												
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-4 col-md-4">
									<div class="form-group">
										<p:outputLabel value="To Date" />
										<h:outputText value="#{leaveRequestBean.leaveRequest.leaveToDate}" class="">
										<f:convertDateTime pattern="dd-MM-yyyy" timeZone="#{loginBean.timeZone}"></f:convertDateTime>
										</h:outputText>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-lg-8 col-sm-8 col-md-8">
									<div class="form-group">
										<p:outputLabel value="Reason" />
										
										<p class="">#{leaveRequestBean.leaveRequest.reason}</p>
									</div>
								</div>
								
								<div class="col-lg-4 col-sm-4 col-md-4">
									<div class="form-group">
										<p:outputLabel value="Supporting Documents" />
										<p class="m-b-0">
										<p:commandButton value="&#xf019;#{leaveRequestBean.leaveDocumentFileName}"
								id="htDwnldId" ajax="false" icon="ui-icon-arrowthick-1-s"
								actionListener="#{leaveRequestBean.getDownloadFile(leaveRequestBean.downloadDoc)}"
								>
								<p:fileDownload value="#{leaveRequestBean.file}" />
							</p:commandButton>
										</p>	
																							
									</div>
								</div>
								
								</div>
								<div class="row">
								<div class="col-lg-8 col-sm-8 col-md-8">
									<div class="form-group">
										<p:outputLabel value="Reason for approval/reject" />
										
										<p:inputTextarea value="#{leaveRequestBean.leaveRequest.reasonForApproval}"></p:inputTextarea>
									</div>
								</div>
								</div>

					<div class="text-right m-b-10">
						<p:commandButton value="&#xf060; #{msg['back']}"
							title="#{msg['back']}"
							onclick="PF('progressDlg').show();" 
							oncomplete="PF('progressDlg').hide();"
							action="#{leaveRequestBean.showPage('LIST')}"
							styleClass="btn btn-sm btn-info fa-input">
						</p:commandButton>
						
						<p:commandButton value="&#xf164; #{msg['approve']}"
							title="#{msg['approve']}"
							update="idConfirm growls"
							onclick="PF('progressDlg').show();" 
							action="#{leaveRequestBean.confirmStatus}"
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-success heading-btn fa-input">
							<f:setPropertyActionListener value="approved" target="#{leaveRequestBean.pageName}"/>
						</p:commandButton>
						
						<p:commandButton value="&#xf165; #{msg['reject']}"
							title="#{msg['reject']}"
							update="idConfirm growls"
							action="#{leaveRequestBean.confirmStatus}"
							onclick="PF('progressDlg').show();" 
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-danger heading-btn fa-input">
							<f:setPropertyActionListener value="reject" target="#{leaveRequestBean.pageName}"/>
						</p:commandButton>
					</div>
				</div>
			</div>
		</div>
		<p:dialog header="Confirm #{leaveRequestBean.pageName eq 'approved' ? 'approve' : 'reject'}" draggable="false" modal="true" id="idConfirm"
								styleClass="p-0 overlay-pop modal-dialog" closable="true"
								width="30%" widgetVar="confirmStatus" showEffect="fade"
								hideEffect="fade" closeOnEscape="true" resizable="false">
							<div class="modal-body">
								<h:outputText value="Are you sure you want to #{leaveRequestBean.pageName eq 'approved' ? 'approve' : 'reject'} record ?" />
							</div>
							<div class="modal-footer m-t-10">
								<p:commandButton value="&#xed6a;&nbsp;No"
									styleClass="btn bg-slate heading-btn font-iconmoon"
									oncomplete="PF('confirmStatus').hide()" />
								<p:commandButton ajax="false"
									styleClass="btn bg-success heading-btn font-iconmoon"
									value="&#xed6e;&nbsp;Yes"
									action="#{leaveRequestBean.approveorRejectLeaveRequest}"
									oncomplete="PF('confirmStatus').hide()">
								</p:commandButton>
							</div>
						</p:dialog>
	</ui:define>
</ui:composition>