<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{departmentBean}" />
		<ui:param name="department" value="#{departmentBean.department}" />
		<title>InfoTex | #{leaveRequestBean.pageName eq 'create' ? 'Create' : 'Edit'} Leave Request</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{leaveRequestBean.pageName eq 'create' ? 'Create' : 'Edit'} Leave Request</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Leave Management</li>
						<li class="active">#{leaveRequestBean.pageName eq 'create' ? 'Create' : 'Edit'} Leave Request</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{leaveRequestBean.pageName eq 'create' ? 'Create' : 'Edit'} Leave Request</h6>
					</div>
					<div class="panel-body">
						<p:outputPanel id="leaveRequestPanel">
							<div class="row">
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Type of Leave" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-compose"></i></span>
											<h:selectOneMenu class="form-control"
												id="leaveTypeId"
												required="#{not empty param[submitId.clientId] }"
												requiredMessage="Leave type required."
												value="#{leaveRequestBean.leaveRequest.leaveType}"
												converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" />
											<f:selectItems itemLabel="#{leaveType.name}" itemValue="#{leaveType}" value="#{commonDataService.leaveTypeMasterList}" var="leaveType"/>
										</h:selectOneMenu>
										</div>
										<h:message for="leaveTypeId" class="validation-error-label" />
									</div>
								</div>
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Leave Eligibility" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-clipboard3"></i></span>
											<p:inputText value="#{leaveRequestBean.leaveRequest.leaveEligibility}" class="form-control" disabled="true" />
										</div>										
									</div>
								</div>
								
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Leave Consumed" />	
										<p:inputText value="2" class="form-control" disabled="true"></p:inputText>
									</div>
									
								</div>
								
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Leave Balance" />	
										<p:inputText value="10" class="form-control" disabled="true"></p:inputText>
									</div>
									
								</div>
								
								</div>
								
								<div class="row">
																
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="From Date" />
										<span class="text-danger">*</span>
										<p:calendar id="fromId"
										placeholder="dd-mm-yyyy" 
										required="#{not empty param[submitId.clientId]}"
										requiredMessage="From date required."
										styleClass="form-control calend-icon"
										value="#{leaveRequestBean.leaveRequest.leaveFromDate}"
										pattern="dd-MM-yyyy" navigator="true" />
									</div>
									<h:message for="fromId" class="validation-error-label" />	
								</div>
								
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="To Date" />
										<span class="text-danger">*</span>
										<p:calendar id="toId"
										required="#{not empty param[submitId.clientId] }"
										requiredMessage="To date required."
										value="#{leaveRequestBean.leaveRequest.leaveToDate}"
										placeholder="dd-mm-yyyy" 
										styleClass="form-control calend-icon"
										pattern="dd-MM-yyyy" navigator="true" />
									</div>
									<h:message for="toId" class="validation-error-label" />	
								</div>
								
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Total No. of days" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-calendar22"></i></span>
											<p:inputText id="daysId"
											required="#{not empty param[submitId.clientId] }"
											requiredMessage="Number of days required."
											value="#{leaveRequestBean.leaveRequest.noOfDaysRequested}" 
											class="form-control" />
										</div>				
										<h:message for="daysId" class="validation-error-label" />						
									</div>
								</div>
								<div class="col-lg-3 col-sm-3 col-md-3">
									<div class="form-group">
										<p:outputLabel value="Leave Category" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-compose"></i></span>
											<h:selectOneMenu class="form-control">
												<f:selectItem itemLabel="Select" />
												<f:selectItem itemLabel="Leave" />
												<f:selectItem itemLabel="Surrender Leave" />
												<f:selectItem itemLabel="Select" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>

							</div>
								
								<div class="row">
								<div class="col-lg-6 col-sm-6 col-md-6">
									<div class="form-group">
										<p:outputLabel value="Reason" />
										<span class="text-danger">*</span>
										<p:inputTextarea id="reasonId" 
										required="#{not empty param[submitId.clientId] }"
										requiredMessage="Reason required."
										value="#{leaveRequestBean.leaveRequest.reason}"
										class="form-control"/>
									</div>
									<h:message for="reasonId" class="validation-error-label" />	
								</div>
								
								<div class="col-lg-6 col-sm-6 col-md-6">
									<div class="form-group">
										<p:outputLabel value="Supporting Documents" />
										<div class="well well-sm clearfix" style="padding: 8px 10px;">
											<p:commandButton onclick="PF('pridocupload').show()"
												value="&#xf093;&nbsp; Upload"
												styleClass="btn btn-sm bg-primary fa-input m-l-0"/>
											<p class="m-b-0">
											<span class="text-12">Upload Documents:</span> 
											<span class="text-12 text-primary">
												<p:outputLabel value="" />
											</span>
										</p>	
										</div>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12">
									<div class="text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											onclick="PF('progressDlg').show();" 
											oncomplete="PF('progressDlg').hide();"
											action="#{leaveRequestBean.showPage}"
											immediate="true"
											styleClass="btn btn-sm bg-slate font-iconmoon m-l-10">
											<f:setPropertyActionListener value="cancel" target="#{leaveRequestBean.pageName}"/>
										</p:commandButton>

										<p:commandButton binding="#{submitId}" 
											value="#{leaveRequestBean.pageName eq 'create' ?  '&#xf00c;' : '&#xf021;'} #{leaveRequestBean.pageName eq 'create' ?  msg['submit'] : msg['update']}"
											onclick="PF('progressDlg').show();" 
											oncomplete="PF('progressDlg').hide();"
											update="leaveRequestPanel growls"
											action="#{leaveRequestBean.saveUpdateLeaveRequest}"
											styleClass="btn btn-sm bg-success font-iconmoon fa-input m-l-10" />
									</div>
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>
		<p:dialog width="40%" modal="true" header="Document Upload"
			styleClass="p-0 overlay-pop modal-dialog " closable="true"
			widgetVar="pridocupload" showEffect="fade" hideEffect="fade"
			closeOnEscape="true">
			<div class="modal-body border0 ">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-4">
							<label class="control-label  m-t-10">Upload Document</label> <span
								class="mand-sign-input">*</span>
						</div>
						<div class="col-lg-8">
							<div class=" no-padding contact-upload upload-popup"
								style="float: left">
								<div class="uploader ">
									<p:fileUpload label="Choose"
										onstart="PF('progressDlg').show();" style="margin-top:0;" />
								</div>
							</div>
							<div class="uploadercustom1 col-lg-8">
								<h:outputText id="sigName" />
							</div>
							<div class="clearfix"></div>
							<div>
								<small class="uploadfinename">File format: Excel and
									filesize should be lessthan 50MB</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>