<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Leave Travel Concession</title>
		<style type="text/css">
.view-style .form-group button span {
	color: #fff
}
</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_leave_travel_concession']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['employee_self_service']}</li>
						<li class="active">#{msg['view_leave_travel_concession']}</li>
					</ul>

				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['leave_travel_concession']}</h6>
				</div>

				<div class="panel-body">
					<div class="row view-style">
						
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['blk_yrs']}" />
										<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.blockYearFrom}- #{employeeLtcBean.employeeLeaveTravelConcession.blockYearTo}"
									class=""/>
										
									</div>
								</div>
						
						
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ltc_fm_date']}" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.blockFromDate}"
									class="">
									<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />

								</h:outputText>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ltc_to_date']}" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.blockToDate}"
									class="">
									<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
						
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['num_of_days']}" />
										<h:outputText
											value="#{employeeLtcBean.employeeLeaveTravelConcession.holidayNoOfDays}"
											class="" />
									</div>
								</div>
						
						
						
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['eligible_distance']} (Km)" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.eligibleDistance}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['travelled_distance']} (Km)" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.travelledDistance}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['applied_for']}" class="block" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.availedFor}"
									class="inlineblock" />
								<p:outputPanel id="member" class="inlineblock">

									<p:commandButton id="viewMember" value="&#xea18; View Members"
										rendered="#{employeeLtcBean.employeeLeaveTravelConcession.availedFor eq 'Family'}"
										update="viewMember familyMemberList"
										action="#{employeeLtcBean.loadFamilyMembersView}"
										styleClass="btn btn-sm btn-info font-iconmoon"
										style="padding:0px; font-size: 12px; vertical-align: top;" />
								</p:outputPanel>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['mode_of_travel']}" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.travelMode}"
									class="" />
							</div>
						</div>
					</div>


					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['type_of_leave']}" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.leaveTypeMaster.name}"
									class="" />
							</div>
						</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['leave_from_date']}" />
										<h:outputText
											value="#{bean.employeeLeaveTravelConcession.holidayFromDate}"
											class="">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['leave_to_date']}" />
										<h:outputText
											value="#{bean.employeeLeaveTravelConcession.holidayToDate}"
											class="">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['num_of_days']}" />
										<h:outputText
											value="#{bean.employeeLeaveTravelConcession.holidayNoOfDays}"
											class="" />
									</div>
								</div>
							</div>	
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['cost_of_ticket']} (₹)" />
								<h:outputText
									value="#{employeeLtcBean.employeeLeaveTravelConcession.advanceAmount}"
									class="" />
							</div>
						</div>
						<p:outputPanel
							rendered="#{employeeLtcBean.employeeLeaveTravelConcession.documentPath  ne Empty}">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['supp_docs']}" />
									<a href="" class="text_underline">#{employeeLtcBean.employeeLeaveTravelConcession.documentPath}</a>
								</div>
							</div>
						</p:outputPanel>
					</div>

					<p:outputPanel rendered="#{not empty employeeLtcBean.holidayList}">
						<h6>Availed Holiday Permissions Dates</h6>
						<div class="table-responsive">
							<p:dataTable id="holidaysTableOfLTc" var="data"
								styleClass="report-table" rowKey="#{data.id}" lazy="false"
								value="#{employeeLtcBean.holidayList}" rowIndexVar="idx"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								emptyMessage="#{msg['no_records_found']}">

								<p:column headerText="#{msg['s_no']}"
									styleClass="text-center width-3">
									<h:outputText value="#{idx+1}" />
								</p:column>

								<p:column filterable="true" styleClass="width-10 text-center"
									headerText="#{msg['date']}">
									<h:outputText value="#{data.holidayDate}">
										<f:convertDateTime timeZone="#{loginBean.timeZone}"
											pattern="dd-MMM-yyyy" />
									</h:outputText>
								</p:column>
							</p:dataTable>
						</div>
					</p:outputPanel>
					
					
					<div class="row">
						<div class="col-lg-12 text-right">
							<p:commandButton value="&#xeddf; #{msg['back']}"
								action="#{employeeLtcBean.showPage}"
								styleClass="btn btn-sm bg-info font-iconmoon">
								<f:setPropertyActionListener value="cancel"
									target="#{employeeLtcBean.action}" />
							</p:commandButton>
						</div>
					</div>

				</div>
			</div>
		</div>


		<p:dialog width="80%" modal="true" header="#{msg['member_list']}"
			styleClass="p-0 overlay-pop modal-dialog " closable="true"
			widgetVar="viewMember" showEffect="fade" hideEffect="fade"
			closeOnEscape="true">
			<div class="modal-body border0 ">
				<p:dataTable id="familyMemberList" var="data" class="table"
					widgetVar="familyMemberListTable" rowKey="#{data.id}"
					paginatorAlwaysVisible="false"
					value="#{employeeLtcBean.employeeFamilyList}"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					paginator="true" paginatorPosition="bottom"
					rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
					emptyMessage="#{msg['no_records_found']}">

					<p:ajax event="page" onstart="PF('progressDlg').show()"
						onsuccess="PF('progressDlg').hide()" />

					<p:column headerText="#{msg['s_no']}"
						styleClass="text-center width-3">
						<h:outputText value="#{idx+1}" />
					</p:column>

					<p:column styleClass="width-8" headerText="#{msg['name']}">
						<h:outputText value="#{data.dependentName}" />
					</p:column>

					<p:column headerText="#{msg['dob']}"
						styleClass="width-8 text-center form-group_calend">
						<h:outputText value="#{data.dateOfBirth}">
							<f:convertDateTime pattern="dd-MM-yyyy"
								timeZone="#{loginBean.timeZone}" />
						</h:outputText>
					</p:column>
					<p:column styleClass="width-8" headerText="#{msg['age']}">
						<h:outputText value="#{data.age}" />
					</p:column>
					<p:column styleClass="width-8" headerText="#{msg['reltnship']}">
						<h:outputText value="#{data.relationshipMaster.name}" />
					</p:column>
					<p:column rendered="false" headerText="#{msg['action']}"
						styleClass="width-8 text-center" selectionMode="multiple">
					</p:column>
				</p:dataTable>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>