<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Additional Plan</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['create_add_plan']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['create_add_plan']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_pl_name']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->


							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel
									value="#{msg['production_plan']} - #{msg['from']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="productionplanfrom" pattern="dd-MM-yyyy"
										mask="true" required="true" requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['production_plan']} - #{msg['to']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="productionplanto" pattern="dd-MM-yyyy"
										mask="true" required="true" requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['region_code']} / #{msg['name']}" />
									<div class="form-group">
										<h:selectOneMenu id="regioncode"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="01/Chennai" itemValue="true" />
											<f:selectItem itemLabel="02/Selam" itemValue="false" />
											<f:selectItem itemLabel="03/Coimbatore" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->


							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sroom_code']} / #{msg['name']}" />
									<div class="form-group">
										<h:selectOneMenu id="showroomcode"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="1001/Chennai Showroom 1"
												itemValue="true" />
											<f:selectItem itemLabel="1002/Chennai Showroom 2"
												itemValue="false" />
											<f:selectItem itemLabel="1003/Chennai Showroom 3"
												itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pro_cat']}" />
									<div class="form-group">
										<h:selectOneMenu id="prodcate"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="A" itemLabel="A"></f:selectItem>
											<f:selectItem itemValue="B" itemLabel="B"></f:selectItem>
											<f:selectItem itemValue="C" itemLabel="C"></f:selectItem>
											<f:selectItem itemValue="D" itemLabel="D"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_group']}" />
									<div class="form-group">
										<h:selectOneMenu id="prodgroup"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="1" itemLabel="1"></f:selectItem>
											<f:selectItem itemValue="2" itemLabel="2"></f:selectItem>
											<f:selectItem itemValue="3" itemLabel="3"></f:selectItem>
											<f:selectItem itemValue="4" itemLabel="4"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_var']}" />
									<div class="form-group">
										<h:selectOneMenu id="productvar"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Handloom Saree"
												itemLabel="Handloom Saree"></f:selectItem>
											<f:selectItem itemValue="Pedalloom Saree"
												itemLabel="Pedalloom Saree"></f:selectItem>
											<f:selectItem itemValue="Powerloom Saree"
												itemLabel="Powerloom Saree"></f:selectItem>
											<f:selectItem itemValue="Handloom Dhoty"
												itemLabel="Handloom Dhoty"></f:selectItem>
											<f:selectItem itemValue="Pedalloom Dhoty"
												itemLabel="Pendalloom Dhoty"></f:selectItem>
											<f:selectItem itemValue="Powerloom Dhoty"
												itemLabel="Powerloom Dhoty"></f:selectItem>
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['procure_qty']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['due_date']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="duedate" pattern="dd-MM-yyyy"
										mask="true" required="true" requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							
							
							<div class="col-md-12 text-right">
								<div class="form-group">
									<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
									<h:commandButton value="&#xf067;&nbsp;#{msg['add']}"
										styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
								</div>
							</div>
						</div>
						<!-- end row -->
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['pdt_plan_list']}</h3>
									<div class="pull-right m-t-2">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											title="Add"
											styleClass="btn btn-xs waves-effect waves-light btn-success fa-input  m-r-10"></p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											title="Edit"
											styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											title="View"
											styleClass="btn btn-xs waves-effect waves-light btn-info fa-input"></p:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th>#{msg['sl']}</th>
																<th>#{msg['pro_pln_num']}</th>
																<th>#{msg['prod_pl_name']}</th>
																<th>#{msg['plan_dt']} - #{msg['from']}</th>
																<th>#{msg['plan_dt']} - #{msg['to']}</th>
																<th>#{msg['due_date']}</th>
																<th>#{msg['status']}</th>
																<th>#{msg['select']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12 ph0">
													<!-- <div class="col-md-6 m-t-20">
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
															title="Download PDF">
															<i class="fa fa-download"></i> PDF
														</button>
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-success"
															title="Download Excel">
															<i class="fa fa-download"></i> Excel
														</button>
													</div> -->
													<div class="col-md-12 text-right ph0">
														<ul class="pagination pagination-split m-t-10 m-b-0">
															<li><a href="#"><i class="fa fa-angle-left"></i>
																	Previous</a></li>
															<li class="disabled"><a href="#"><i
																	class="fa fa-angle-left"></i></a></li>
															<li><a href="#">1</a></li>
															<li class="active"><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
															<li><a href="#">Next <i
																	class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- end col -->
											<div class="clearfix"></div>
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
