<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Retail Sales Production Plan Request List</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['retail_sales_pdt_list']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['retail_sales_pdt_list']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pro_pln_num']}" />
									<div class="form-group">
										<h:selectOneMenu id="planno"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="AJ123" itemValue="true" />
											<f:selectItem itemLabel="AJ124" itemValue="false" />
											<f:selectItem itemLabel="AJ125" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_pl_name']}" />
									<div class="form-group">
										<h:selectOneMenu id="planname"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Annual Plan" itemValue="true" />
											<f:selectItem itemLabel="Annual Plan" itemValue="false" />
											<f:selectItem itemLabel="Annual Plan" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<div class="form-group">
										<h:selectOneMenu id="status"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="New" itemValue="true" />
											<f:selectItem itemLabel="Pending" itemValue="false" />
											<f:selectItem itemLabel="Finalized" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-12 text-right">
								<div class="form-group">
									<h:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
									<h:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></h:commandButton>
								</div>
							</div>
						</div>
						<!-- end row -->
						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['pdt_plan_list']}</h3>
									<div class="pull-right m-t-2">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											title="Add"
											styleClass="btn btn-xs waves-effect waves-light btn-success fa-input  m-r-10"></p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											title="Edit"
											styleClass="btn btn-xs waves-effect waves-light btn-primary fa-input m-r-10"></p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											title="View"
											styleClass="btn btn-xs waves-effect waves-light btn-info fa-input"></p:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th>#{msg['sl']}</th>
																<th>#{msg['pro_pln_num']}</th>
																<th>#{msg['prod_pl_name']}</th>
																<th>#{msg['plan_dt']} - #{msg['from']}</th>
																<th>#{msg['plan_dt']} - #{msg['to']}</th>
																<th>#{msg['status']}</th>
																<th>#{msg['select']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Jan-2018</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>AJ0755</td>
																<td>Annual Plan</td>
																<td>20-Sep-2017</td>
																<td>25-Sep-2017</td>
																<td>New</td>
																<td align="center"><input type="radio"
																	name="positions" id="radio5" value="toast-top-right" /></td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12 ph0">
													<!-- <div class="col-md-6 m-t-20">
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
															title="Download PDF">
															<i class="fa fa-download"></i> PDF
														</button>
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-success"
															title="Download Excel">
															<i class="fa fa-download"></i> Excel
														</button>
													</div> -->
													<div class="col-md-12 text-right ph0">
														<ul class="pagination pagination-split m-t-10 m-b-0">
															<li><a href="#"><i class="fa fa-angle-left"></i>
																	Previous</a></li>
															<li class="disabled"><a href="#"><i
																	class="fa fa-angle-left"></i></a></li>
															<li><a href="#">1</a></li>
															<li class="active"><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
															<li><a href="#">Next <i
																	class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- end col -->
											<div class="clearfix"></div>
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
