<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Production Plan Modification - Showroom</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['pdt_plan_modi']} -
							#{msg['showrm']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['pdt_plan_modi']} -
								#{msg['showrm']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_pl_name']}" />
									<div class="form-group">
										<h:selectOneMenu id="planname"
											value="#{retailProductionPlanBean.productionPlanMaster.status}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Annual Plan" itemValue="true" />
											<f:selectItem itemLabel="Annual Plan" itemValue="false" />
											<f:selectItem itemLabel="Annual Plan" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
						</div>

						<div class="row view-style">
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
							</h4>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['pro_pln_num']}" />
									<h:outputText value="AJ123" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['region_code']} / #{msg['name']}" />
									<h:outputText value="01/Chennai" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['sroom_code']} / #{msg['name']}" />
									<h:outputText value="1001/Cooptex Showroom" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['prod_category_code']} / #{msg['name']}" />
									<h:outputText value="A/Silk" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['pdt_plan_dt']} - #{msg['from']}" />
									<h:outputText value="20-Sep-2017" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['pdt_plan_dt']} - #{msg['to']}" />
									<h:outputText value="28-Sep-2017" class="" />
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['due_date']}" />
									<h:outputText value="28-Sep-2017" class="" />
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
						<div class="row">
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_vari_pdt_list']}</span>
							</h4>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['prod_category_code']} / #{msg['name']}" />
									<div class="form-group">
										<h:selectOneMenu id="productcate"
											value="#{retailProductionPlanBean.productionPlanMaster.status}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="A/Pure Silk" itemValue="true" />
											<f:selectItem itemLabel="AJ/Silk with Zari" itemValue="false" />
											<f:selectItem itemLabel="c/Cotton" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['prod_group_code']} / #{msg['name']}" />
									<div class="form-group">
										<h:selectOneMenu id="productcode"
											value="#{retailProductionPlanBean.productionPlanMaster.status}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="01/Silk Sarees" itemValue="true" />
											<f:selectItem itemLabel="02/Silk Dhoti" itemValue="false" />
											<f:selectItem itemLabel="03/Cotton Sarees" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->


							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['prod_variey_code']} / #{msg['name']}" />
									<div class="form-group">
										<h:selectOneMenu id="productvariety"
											value="#{retailProductionPlanBean.productionPlanMaster.status}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="SOCV/Salem Cotton Saree"
												itemValue="true" />
											<f:selectItem itemLabel="BED4/Erode Bedcheet"
												itemValue="false" />
											<f:selectItem itemLabel="PIL5/Pillow Cover" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3 m-t-25">
								<div class="form-group">
									<h:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
										styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
									<h:commandButton value="&#xf002;&nbsp;#{msg['search']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></h:commandButton>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
										<div class="row">
											<div class="col-md-12">
												<div class="table-responsive">
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th>#{msg['sl']}</th>
																<th>#{msg['prod_variey_code']} / #{msg['name']}</th>
																<th>#{msg['der_qty']}</th>
																<th>#{msg['derive_value']}</th>
																<th>#{msg['increase_qty']}</th>
																<th>#{msg['increase_val']}</th>
																<th>#{msg['increase_per']}</th>
																<th>#{msg['tot_qty']}</th>
																<th>#{msg['tot_val']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td>EBAD/BEDSHEET 72 X100 WITH 2PC</td>
																<td>50</td>
																<td>50</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td>50</td>
																<td>50</td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td>EBP1/BEDSPREAD WITH PILLOW COVER</td>
																<td>50</td>
																<td>50</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td>50</td>
																<td>50</td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td>EBP2/BEDSPREAD WITH PILLOW COVER</td>
																<td>50</td>
																<td>50</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td>50</td>
																<td>50</td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td>EBP3/BEDSPREAD WITH PILLOW COVER</td>
																<td>50</td>
																<td>50</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td>50</td>
																<td>50</td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td>EBPB/BEDSHEET 60 X 90 WITH 2PC</td>
																<td>50</td>
																<td>50</td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td><input type="text" class="form-control"
																	placeholder="" /></td>
																<td>50</td>
																<td>50</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col-md-12 ph0">
													<!-- <div class="col-md-6 m-t-20">
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-primary m-r-10"
															title="Download PDF">
															<i class="fa fa-download"></i> PDF
														</button>
														<button
															class="btn-xs btn-icon waves-effect waves-light btn-success"
															title="Download Excel">
															<i class="fa fa-download"></i> Excel
														</button>
													</div> -->
													<div class="col-md-12 text-right ph0">
														<ul class="pagination pagination-split m-t-10 m-b-0">
															<li><a href="#"><i class="fa fa-angle-left"></i>
																	Previous</a></li>
															<li class="disabled"><a href="#"><i
																	class="fa fa-angle-left"></i></a></li>
															<li><a href="#">1</a></li>
															<li class="active"><a href="#">2</a></li>
															<li><a href="#">3</a></li>
															<li><a href="#">4</a></li>
															<li><a href="#">5</a></li>
															<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
															<li><a href="#">Next <i
																	class="fa fa-angle-right"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- end col -->
											<div class="clearfix"></div>
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="row">
							<div class="col-md-12 text-right m-t-10">
								<p:commandButton value="&#xf164;&nbsp;#{msg['approve']}"
									styleClass="btn btn-sm btn-success waves-effect waves-light m-r-10 fa-input"></p:commandButton>
								<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
								action="#{retailProductionPlanBean.getShowroomPlanList}" 
									styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
								<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
									styleClass="btn btn-sm btn-success waves-effect waves-light m-r-10 fa-input"></p:commandButton>
								<p:commandButton
									value="&#xf0c7;&nbsp;#{msg['save']} &amp; #{msg['continue']}"
									styleClass="btn btn-sm btn-primary waves-effect waves-light fa-input"></p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
