<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	<!--focus="itemBundleNumber"  -->
	<p:dialog modal="true" draggable="false" id="dlgItemsDetail"
		closable="true" styleClass="p-0 overlay-pop modal-dialog top-100"
		widgetVar="dlgItemsDetail" width="80%"
		header="#{msg['product_inward_dlt']}">

		<div class="row view-style">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="form-group m-b-10">
					<p:outputLabel value="#{msg['product_code']} / #{msg['name']}" />
					<h:outputText
						value="#{stockOutwardPWHBean.stockTransferItemsDisplay.productVarietyMaster.code} / #{stockOutwardPWHBean.stockTransferItemsDisplay.productVarietyMaster.name}"
						class="" />
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="form-group m-b-10">
					<p:outputLabel value="#{msg['u_o_m']}" />
					<h:outputText
						value="#{stockOutwardPWHBean.stockTransferItemsDisplay.uomMaster.code}"
						class="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<h5 class="m-b-0">
					<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['item_details']}</span>
				</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<div class="table-responsive m-b-5">
					<p:outputPanel
						styleClass="#{stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
						<p:dataTable id="stockItemsBundles" var="bundle"
							styleClass="custom-input-width" rowKey="#{bundle}"
							value="#{stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList}"
							rowIndexVar="idx" scrollable="true"
							scrollHeight="
											#{stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() eq 0 ? '30' : 
								  			stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() eq 1 ? '35':
								  			stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() eq 2 ? '70':
											stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() eq 3 ? '105':
											stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() eq 4 ? '139':
											stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() gt 4 and stockOutwardPWHBean.stockTransferItemsDisplay.stockTransferItemsBundlesList.size() lt 6 ? '174' :'174'}">

							<p:column headerText="#" styleClass="text-center sno-ovrflw-5">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column headerText="#{msg['bun_num']}"
								styleClass="text-center width-20">
								<h:outputText value="#{bundle.bundleNumber}" />
							</p:column>
							<p:column headerText="#{msg['qr_cd']}"
								styleClass="text-center width-20">
								<h:outputText value="#{bundle.qrCode}" />
							</p:column>
							<p:column headerText="#{msg['at_no']}"
								styleClass="text-center width-20">
								<h:outputText value="#{bundle.atNumber}" />
							</p:column>
							<p:column headerText="#{msg['qunatity']}"
								styleClass="text-right width-10">
								<h:outputText value="#{bundle.quantity}"
									rendered="#{stockOutwardPWHBean.stockTransferItemsDisplay.uomMaster.code!='METR'}">
								</h:outputText>
								<p:inputNumber minValue="1" value="#{bundle.quantity}"
									rendered="#{stockOutwardPWHBean.stockTransferItemsDisplay.uomMaster.code=='METR'}">
									<p:ajax event="change"
										update="growls stockItemsTable stockItemsBundles receivedItemNetTotal totalQty "
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										listener="#{stockOutwardPWHBean.meterQtyEdit(bundle)}"></p:ajax>
								</p:inputNumber>
							</p:column>
							<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
								styleClass="fa-input text-right width-15">
								<h:outputText value="#{bundle.itemNetTotal}" class="">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['action']}"
								styleClass="text-center width-10"
								rendered="#{stockOutwardPWHBean.displayRemoveButtonItemDetails}">
								<p:commandButton value="&#xe99e;"
									update="stockItemsBundles, receivedItemNetTotal, stockItemsTable"
									action="#{stockOutwardPWHBean.removeReceiveProduct(bundle)}"
									class="btn bg-danger font-iconmoon"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()">
									<p:confirm header="Clear Quantity"
										message="Are you sure want to clear all quantity ?"
										icon="ui-icon-alert" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</p:outputPanel>
				</div>


				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="form-group">
							<p:outputLabel value="#{msg['already_dispatched_unit']}" />
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-stack3"></i></span>
								<p:inputText id="totalQty"
									value="#{stockOutwardPWHBean.stockTransferItemsDisplay.dispatchedQty}"
									disabled="true" styleClass="form-control">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['received_unit']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<p:inputText id="receivedNumberOfItems"
											value="#{stockOutwardPWHBean.stockTransferItemsDisplay.receivedQty}"
											disabled="true" styleClass="form-control">
											<f:convertNumber pattern="#0" />
										</p:inputText>
									</div>
								</div>
							</div> -->
					<div class="col-lg-4 col-md-4 col-sm-6">
						<p:outputLabel value="#{msg['rec_val']}" />
						<div class="input-group">
							<span class="input-group-addon"><i class="icon-stack3"></i></span>
							<p:inputText id="receivedItemNetTotal"
								value="#{stockOutwardPWHBean.stockTransferItemsDisplay.itemNetTotal}"
								disabled="true" styleClass="form-control">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</div>
					</div>
				</div>



			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 text-right m-b-0">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					onstart="PF('statusDialog').show();"
					onsuccess="PF('statusDialog').hide();" immediate="true"
					oncomplete="PF('dlgItemsDetail').hide();"
					class="btn bg-slate font-iconmoon m-r-0" title="#{msg['cancel']}">
				</p:commandButton>
			</div>
		</div>
	</p:dialog>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		styleClass="p-0">
		<p:outputPanel styleClass="text-center">
			<p:commandButton value="&#xed6e;&nbsp;#{msg['yes']}" type="button"
				styleClass="ui-confirmdialog-yes btn bg-success font-iconmoon" />
			<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}" type="button"
				styleClass="ui-confirmdialog-no btn bg-danger font-iconmoon" />
		</p:outputPanel>
	</p:confirmDialog>


</ui:composition>