<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="countryMaster">
			<title>InfoTex | View App Config</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>View #{msg['app_config']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['settings']}</li>
							<li class="active">View #{msg['app_config']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content page-scroll">
				<!-- collapse panel -->

				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1"> #{msg['app_config']}
							</a>
						</h6>
					</div>

					<div class="panel-body m-b-0">
						<div class="row label-form view-style">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['app_config_key']}" />
									<div class="input-group">
										<span class=""><h:outputText
												value="#{appConfigBean.appConfig.appKey}" /></span>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['app_config_value']}" />
									<div class="input-group">
										<span class=""><h:outputText
												value="#{appConfigBean.appConfig.appValue}" /></span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									styleClass="btn bg-info font-iconmoon m-l-0"
									title="#{msg['back']}" action="#{appConfigBean.cancel}"
									tabindex="8" />

							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>