<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Sales Quotation List</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['sales_quo_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li><a href="#">#{msg['oper']}</a></li>
						<li><a href="#">#{msg['quotation_order_invoice']}</a></li>
						<li class="active">#{msg['sales_quo_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<h:panelGroup id="planSize">
							<strong><h:outputText
									value="#{salesQuotationBean.planSize}" /></strong> - #{msg['sales_quo']}(#{msg['list_s']})
							</h:panelGroup>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupannel">
							<p:commandButton value="&#xea0e; #{msg['create_sale_quo']}"
								immediate="true" id="addButton"
								action="#{salesQuotationBean.getAddPage}"
								onclick="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-success font-iconmoon m-r-0"
								title="#{msg['create_sale_quo']}"
								rendered="#{salesQuotationBean.addButtonFlag and loginBean.userFeatures['USER_ADD']}">
								<f:setPropertyActionListener value="ADD"
									target="#{salesQuotationBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"
								rendered="#{salesQuotationBean.editFlag eq 'true'}"
								update="growls" action="#{salesQuotationBean.editQuotation}"
								onclick="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['edit']}"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="EDIT"
									target="#{salesQuotationBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}"
								rendered="#{salesQuotationBean.viewFlag eq 'true'}"
								action="#{salesQuotationBean.viewQuotation}" update="growls"
								onclick="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['view']}"
								class="btn bg-info font-iconmoon">
								<f:setPropertyActionListener value="VIEW"
									target="#{salesQuotationBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}"
								rendered="#{salesQuotationBean.deleteFlag eq 'true'}"
								action="#{salesQuotationBean.processDelete}" update="growls"
								onclick="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								action="#{salesQuotationBean.clear}" update="menupannel"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								onclick="location.reload();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>


			<div class="panel panel-info m-b-0">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" widgetVar="table" var="data" class="table"
							selection="#{salesQuotationBean.quotationResponse}"
							rowKey="#{data.id}"
							value="#{salesQuotationBean.quotationResponseLazyList}"
							lazy="true" emptyMessage="#{msg['no_record_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rows="10" paginator="true" paginatorPosition="bottom"
							tableStyleClass="" rowsPerPageTemplate="5,10,15"
							rowIndexVar="idx">

							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:ajax event="rowSelectRadio"
								listener="#{salesQuotationBean.onRowSelect}"
								update=":#{p:component('addButton')}, menupannel" />

							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column styleClass="width-15"
								headerText="#{msg['quotation_no']}" filterMatchMode="contains"
								filterable="true"
								filterBy=" #{data.quotationNumberPrefixOrNumber}"
								sortBy=" #{data.quotationNumberPrefixOrNumber}" sortable="true">
								<h:outputText
									value="#{data.quotationNumberPrefix} - #{data.quotationNumber}" />
							</p:column>

							<p:column headerText="#{msg['cust_id']} / #{msg['type']}"
								filterMatchMode="contains" filterable="true"
								filterBy=" #{data.customerTypeName}"
								sortBy=" #{data.customerTypeName}" sortable="true">
								<h:outputText
									value="#{(data.customerTypeName).concat('data.customerCode').length() gt 19 ? fn:substring({data.customerCode.concat('/').concat(data.customerTypeName)}, 1,19).concat('...'):(data.customerCode.concat('/').concat(data.customerTypeName))}"
									id="idPlanCodeName" />
								<p:tooltip for="idPlanCodeName"
									value="#{data.customerCode} / #{data.customerTypeName}" />
							</p:column>

							<p:column headerText="#{msg['customer_name']}"
								filterMatchMode="contains" filterable="true"
								filterBy=" #{data.customerName}" sortBy=" #{data.customerName}"
								sortable="true">
								<h:outputText value="#{data.customerName}" />
							</p:column>

							<p:column headerText="#{msg['quot_value']} ( &#xf156; )"
								styleClass="text-right fa-input" filterMatchMode="contains"
								filterable="true" filterBy=" #{data.netTotal}"
								sortBy=" #{data.netTotal}" sortable="true">

								<h:outputText value="#{data.netTotal}" id="idProdutCodeName">
									<f:convertNumber pattern="#0.00"></f:convertNumber>
								</h:outputText>

							</p:column>

							<p:column headerText="#{msg['quotation_valid_Dt']}"
								style="width:15%" styleClass="text-center form-group_calend"
								sortBy="#{data.validDate}" sortable="true"
								filterBy="#{data.validDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="voucherDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" update="table,@form"
											oncomplete="PF('table').filter()" />
										<p:ajax event="change" execute="@this"
											oncomplete="PF('table').filter()" update="table,@form" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.validDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column filterBy=" #{data.status}" headerText="Status"
								filterMatchMode="contains" filterable="true"
								sortBy=" #{data.status}" sortable="true"
								styleClass="text-center width-15">
								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('table').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems value="#{salesQuotationBean.statusValues}"
											var="status" itemLabel="#{status}" itemValue="#{status}" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{data.status}"
									styleClass="label label-default width-custom"
									rendered="#{data.status eq 'INITIATED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-warning width-custom"
									rendered="#{data.status eq 'SUBMITTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'APPROVED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'REJECTED'}" />

								<h:outputText value="#{data.status}"
									styleClass="label label-success width-custom"
									rendered="#{data.status eq 'FINAL_APPROVED'}" />

							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-5">
							</p:column>
						</p:dataTable>

						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('planSize')}" autoRun="true" />
						<ui:remove>
							<!-- <div class="dataTables_info m-b-0 m-l-10"
							id="DataTables_Table_2_info" role="status" aria-live="polite">
							<button type="button" title="Download PDF"
								class="btn btn-primary btn-xs">
								<i class="icon-file-pdf position-left"></i>PDF
							</button>
							<button type="button" title="Download Excel"
								class="btn btn-success btn-xs">
								<i class="icon-file-excel position-left"></i>Excel
							</button>
						</div> -->
						</ui:remove>
					</div>
				</div>
			</div>
		</div>



		<p:dialog header="#{msg['confirm_delete']}" widgetVar="dlg1"
			modal="true" position="center" resizable="false" closable="true"
			width="30%" styleClass="p-0 overlay-pop modal-dialog">
			<h:form>
				<div class="modal-body">
					<h:outputText value="#{msg['delete_record']}" />
				</div>
				<div class="modal-footer m-t-10">
					<h:commandButton styleClass="btn bg-slate cust-btn-h font-iconmoon"
						title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
						onclick="PF('dlg1').hide();">
					</h:commandButton>
					<h:commandButton
						styleClass="btn bg-success cust-btn-h font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{salesQuotationBean.delete}" onclick="PF('dlg1').hide();">
					</h:commandButton>
				</div>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>