<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PETITION_TYPE_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{petitionTypeBean}"></ui:param>

		<h:form>
			<title>InfoTex | #{bean.action eq 'Create' ?
				msg['crt_pet_typ'] : msg['edt_pet_typ']}</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action eq 'Create' ? msg['crt_pet_typ'] :
							msg['edt_pet_typ']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['personnel_master']}</li>
							<li class="active">#{bean.action eq 'Create' ?
								msg['crt_pet_typ'] : msg['edt_pet_typ']}</li>
						</ul>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content page-scroll no-padding-bottom">
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['pet_type']} <span class="pull-right text-13 ">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div>
							<p:outputPanel id="createPetitionPanel">
								<div class="panel-body no-padding-bottom">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['code']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control" id="codenum"
														value="#{bean.petitionType.code}" required="true"
														requiredMessage="#{msg['code_is_req']}">
														<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="codenum" styleClass="validation-error-label"></h:message>
												<p:focus for="codenum"></p:focus>
												<p:tooltip for="codenum" value="#{msg['code_valid_msg']}" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['name']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class=" icon-file-text2"></i></span>
													<p:inputText styleClass="form-control" id="codename"
														value="#{bean.petitionType.name}" required="true"
														requiredMessage="#{msg['name_is_req']}">
														<p:keyFilter regEx="/[a-z0-9\s]/i" preventPaste="false"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="codename"
													styleClass="validation-error-label"></h:message>
												<p:tooltip for="codename" value="#{msg['name_valid_msg']}" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['lname']} (#{msg['in_tamil']})" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-file-text2"></i></span>
													<p:inputText styleClass="form-control" id="lname"
														value="#{bean.petitionType.locName}" required="true"
														requiredMessage="#{msg['local_name_req']}">
														<p:keyFilter regEx="/[a-z0-9\s]/i" preventPaste="false"></p:keyFilter>
													</p:inputText>
												</div>
												<h:message for="lname" styleClass="validation-error-label"></h:message>
												<p:tooltip for="lname"
													value="#{msg['local_name_tamil_tool']}" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['sla_time_limit']} (#{msg['in_days']})" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText styleClass="form-control" id="timeLimit"
														value="#{bean.petitionType.slaTimeLimit}">
														<p:keyFilter regEx="/[0-9]/"></p:keyFilter>
													</p:inputText>
												</div>
											</div>
										</div>
									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-file-check"></i></span>
													<h:selectOneMenu class="form-control" id="status"
														value="#{bean.petitionType.activeStatus}">
														<f:selectItem itemLabel="Active" itemValue="true" />
														<f:selectItem itemLabel="InActive" itemValue="false" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													title="#{msg['cancel']}"
													action="#{petitionTypeBean.showpetitionTypeListPage}"
													immediate="true"
													class="btn btn-sm bg-slate font-iconmoon m-l-0"
													update="growls" />

												<p:commandButton
													value="#{bean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
													title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
													styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
													action="#{bean.saveOrUpdate}" update="growls @form"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();" binding="#{submit}" />
											</div>
										</div>
									</div>
									<!-- end row -->
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>