<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PETITION_TYPE_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{petitionTypeBean}"></ui:param>


		<title>InfoTex | Petition Type List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['petition_type_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li>#{msg['petition_type_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{bean.totalRecords}" id="recordcount"></h:outputText></span> -
						#{msg['pet_type']}(#{msg['list_s']}) <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								action="#{bean.showPetitionListPageAction}"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['PETITION_TYPE_ADD']}"
								class="btn bg-success font-iconmoon" update="growls">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}"
								action="#{bean.showPetitionListPageAction}"
								rendered="#{bean.editButtonFlag and loginBean.userFeatures['PETITION_TYPE_EDIT']}"
								title="#{msg['edit']}" update="growls" id="editId"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['view']}"
								action="#{bean.showPetitionListPageAction}"
								class="btn bg-info heading-btn  font-iconmoon"
								rendered="#{bean.viewButtonFlag and loginBean.userFeatures['PETITION_TYPE_VIEW']}"
								update="growls">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.showPetitionListPageAction}"
								rendered="#{bean.deleteButtonFlag and loginBean.userFeatures['PETITION_TYPE_DELETE']}"
								title="#{msg['delete']}" update="growls"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{bean.showpetitionTypeListPage}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>



			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive no-filter"></div>
					<p:dataTable id="petetionTypeList"
						widgetVar="petitionTypeListTable" class="table" var="data"
						rowKey="#{data.id}" selection="#{bean.selectedPetitionType}"
						value="#{bean.lazyPetitionTypeList}" lazy="true"
						paginatorAlwaysVisible="true" paginator="true"
						rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
						paginatorPosition="bottom" emptyMessage="#{msg['no_records_found']}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:ajax event="filter" oncomplete="updateFilterSelection()" />
						<p:ajax event="page" onstart="PF('progressDlg').show()"
							onsuccess="PF('progressDlg').hide()" />
						<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
							update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('menupanel')}" />

						<p:column headerText="#{msg['s_no']}"
							styleClass="text-center width-3">
							<h:outputText value="#{idx+1}" />
						</p:column>
						
						<p:column filterable="true" filterBy="#{data.code}"
							filterMatchMode="contains" styleClass="width-8"
							headerText="#{msg['code']}" sortBy="#{data.code}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="code" class="form-control"
									onkeyup="PF('petitionTypeListTable').filter()" />
							</f:facet>
							<h:outputText value="#{data.code}" />
						</p:column>
						<p:column filterable="true" filterBy="#{data.name}"
							filterMatchMode="contains" styleClass="width-8"
							headerText="#{msg['name']}" sortBy="#{data.name}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="name" class="form-control"
									onkeyup="PF('petitionTypeListTable').filter()" />
							</f:facet>
							<h:outputText title="#{data.name}" value="#{data.name}" />
						</p:column>
						<p:column filterable="true" filterBy="#{data.locName}"
							filterMatchMode="contains" styleClass="width-8"
							headerText="#{msg['lname']}" sortBy="#{data.locName}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="lName" class="form-control"
									onkeyup="PF('petitionTypeListTable').filter()" />
							</f:facet>
							<h:outputText title="#{data.locName}" value="#{data.locName}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.locName}"
							filterMatchMode="contains" styleClass="width-8"
							headerText="#{msg['sla_time_limit']} (#{msg['in_days']})"
							sortBy="" sortable="true">
							<f:facet name="filter">
								<p:inputText id="slatimelimit" class="form-control"
									onkeyup="PF('petitionTypeListTable').filter()" />
							</f:facet>
							<h:outputText title="#{data.slaTimeLimit}" value="#{data.slaTimeLimit}" />
						</p:column>

						<p:column headerText="#{msg['created_date']}"
							styleClass="text-center form-group_calend width-8"
							sortBy="#{data.createdDate}" sortable="true"
							filterBy="#{data.createdDate}" filterMatchMode="exact">
							<f:facet name="filter">
								<p:calendar onchange="PF('petitionTypeListTable').filter()"
									id="createdDae" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
									mask="true" yearRange="c-10:c+10" navigator="true"
									styleClass="form-control calend-icon">
									<p:ajax event="dateSelect"
										oncomplete="PF('petitionTypeListTable').filter()" />

								</p:calendar>
							</f:facet>
							<h:outputText value="#{data.createdDate}">
								<f:convertDateTime pattern="dd-MMM-yyyy"
									timeZone="#{loginBean.timeZone}" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{msg['status']}"
							filterBy="#{data.activeStatus}" sortBy=" #{data.activeStatus}"
							sortable="true" styleClass="text-center width-5">
							<f:facet name="filter">
								<h:selectOneMenu class="form-control select2"
									onchange="PF('petitionTypeListTable').filter()">
									<f:selectItem itemLabel="#{msg['select']}" />
									<f:selectItem itemValue="#{true}" itemLabel="Active" />
									<f:selectItem itemValue="#{false}" itemLabel="InActive" />
								</h:selectOneMenu>
							</f:facet>
							<h:outputText
								styleClass="#{ (data.activeStatus eq true) ? 'label label-success sts_shortl' : 'label label-default sts_shortl' }"
								value="#{data.activeStatus eq true?'ACTIVE':'INACTIVE'}">
							</h:outputText>
						</p:column>

						<p:column headerText="#{msg['select']}"
							styleClass="text-center width-4" selectionMode="single">
						</p:column>
					</p:dataTable>
					<p:remoteCommand name="updateFilterSelection"
						update=":#{p:component('recordcount')}" autoRun="true" />
				</div>
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog text-left" closable="true"
			width="30%" widgetVar="confirmPetitionTypeDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmPetitionTypeDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
					action="#{bean.deleteConfirm}"
					oncomplete="PF('confirmPetitionTypeDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>