<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{petitionTypeBean}"></ui:param>
		<title>InfoTex | #{msg['view_pet_typ']}</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_pet_typ']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['view_pet_typ']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['pet_type']}</h6>
				</div>
				<div class="panel-body">
					<h:form id="catform">
						<p:outputPanel id="entity">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['code']}" />
										<h:outputText id="code" onblur=""
											value="#{petitionTypeBean.petitionType.code}">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']}" />
										<h:outputText value="#{petitionTypeBean.petitionType.name}"
											id="cname">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']} (#{msg['in_tamil']})" />
										<h:outputText value="#{petitionTypeBean.petitionType.locName}"
											id="lname">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['sla_time_limit']} (#{msg['in_days']})" />
										<h:outputText value="#{petitionTypeBean.petitionType.slaTimeLimit eq null ? 0:petitionTypeBean.petitionType.slaTimeLimit }" id="days">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText
											value="#{petitionTypeBean.petitionType.activeStatus eq 'true'?'Active':'Inactive'}"
											id="status">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText
											value="#{petitionTypeBean.petitionType.createdDate}"
											id="createDate">
											<f:convertDateTime timeZone="GMT+05:30"
												pattern="dd-MMM-YYYY hh:mm:ss" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText
											value="#{petitionTypeBean.petitionType.createdBy.username}"
											id="createBy">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<h:outputText
											value="#{petitionTypeBean.petitionType.modifiedDate}"
											id="modDate">
											<f:convertDateTime timeZone="GMT+05:30"
												pattern="dd-MMM-YYYY hh:mm:ss" />
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<h:outputText
											value="#{petitionTypeBean.petitionType.modifiedBy.username}"
											id="modBy">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										action="#{bean.showpetitionTypeListPage}"
										class="btn bg-info font-iconmoon m-r-0" title="#{msg['back']}">
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>