<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<title>Infotex | #{msg['create_stock_outward']} -
			<h:outputText value="#{msg['ins_cntr']}" rendered="#{stockOutwardYarnBean.stockTransferType=='INSPECTION_OUTWARD'}"/>
			<h:outputText value="#{msg['issr']}" rendered="#{stockOutwardYarnBean.stockTransferType=='ISSR_OUTWARD'}"/>
			<h:outputText value="#{msg['export_warehouse']}" rendered="#{stockOutwardYarnBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}"/>
			<h:outputText value="#{msg['prnt_whouse']}" rendered="#{stockOutwardYarnBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}"/>
		</title>

		<!-- Page Header -->

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_stock_outward']} - <h:outputText value="#{msg['yarn']}" />
					</h4>

					<ul class="breadcrumb">
						<li><a href="#"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>
							<h:outputText value="#{msg['yarn']}" />
						</li>
						<li class="active">#{msg['create_stock_outward']} -
							<h:outputText value="#{msg['yarn']}" />
						</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


				<div class="heading-elements"></div>
			</div>
		</div>
		<!-- Page Header End -->
		

		<div class="content page-scroll no-padding-bottom">
		<div class="">
				<div class="panel-group panel-group-control panel-group-control-right m-b-10" id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['create_stock_outward']}
									- 	<h:outputText value="#{msg['ins_cntr']}" rendered="#{stockOutwardYarnBean.stockTransferType=='INSPECTION_OUTWARD'}"/>
										<h:outputText value="#{msg['issr']}" rendered="#{stockOutwardYarnBean.stockTransferType=='ISSR_OUTWARD'}"/>
										<h:outputText value="#{msg['export_warehouse']}" rendered="#{stockOutwardYarnBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}"/>
										<h:outputText value="#{msg['prnt_whouse']}" rendered="#{stockOutwardYarnBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}"/>
									 <span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>
							</h6>
						</div>


						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body" style="padding: 10px 15px 10px 15px">
								<div class="row label-form ">

									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class=""
												value="#{msg['entity_master_code']} / #{msg['name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>

												<h:selectOneMenu id="ddlEntityTypeMaster"
													value="#{stockOutwardYarnBean.entityTypeCode}"
													class="form-control select2" converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockOutwardYarnBean.entityTypeMasterList}"
														var="entityTypeMaster"
														itemLabel="#{entityTypeMaster.entityCode} / #{entityTypeMaster.entityName}"
														itemValue="#{entityTypeMaster.entityCode}" />
													<p:ajax event="change" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														listener="#{stockOutwardYarnBean.onChangeEntityTypeMaster}"
														update="ddlShowroom"/>
												</h:selectOneMenu>
											</div>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<label class="control-label">#{msg['stock_out_to']}</label>
											<div class="input-group">

												<span class="input-group-addon"><i
													class="icon-office"></i></span>

												<h:selectOneMenu id="ddlShowroom"
													value="#{stockOutwardYarnBean.stockTransfer.toEntityMaster}"
													class="form-control select2" converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems value="#{stockOutwardYarnBean.showroomList}"
														var="showroom"
														itemLabel="#{showroom.code} / #{showroom.name}"
														itemValue="#{showroom}" />
													<p:ajax event="change" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														listener="#{stockOutwardYarnBean.onChangeShowroom}"
														update="growls productCategory, productGroupMaster, productVarietyMaster, btnProductAdd, avaliableQty, currentDispatchQty, bundleNumber" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- collepse panel end -->

				<div class="panel panel-info ">
					<div class="panel-body" style="padding: 0px 15px 0px 15px">
				 
						<div class="row">
						
						
						<h5 class=" m-b-0 m-t-5 col-md-12">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['add_products']}</span>
					</h5>
						
				 			<div class="col-lg-3">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['prod_category_code']} / #{msg['name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<h:selectOneMenu id="productCategory"
											disabled="#{stockOutwardYarnBean.disableBtnProductAdd}"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{stockOutwardYarnBean.currentStockStatusRequest.productCategory}"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['prod_category_code']} / #{msg['name']} #{msg['required']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="category"
												itemLabel="#{category.productCatCode}/#{category.productCatName}"
												itemValue="#{category}"
												value="#{stockOutwardYarnBean.productCategoryList}" />
											<p:ajax event="change"
												listener="#{stockOutwardYarnBean.processProductGroups}"
												update="productCategory, productCategoryMsg, productGroupMaster productVarietyMaster
												avaliableQty, currentDispatchQty, bundleNumber"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productCategory" id="productCategoryMsg" class="validation-error-label" />
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
										<p:outputLabel class=""
											value="#{msg['product_group_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<h:selectOneMenu id="productGroupMaster" 
												disabled="#{stockOutwardYarnBean.disableBtnProductAdd}"
												styleClass="form-control"
												converter="#{entityConverter}"
												value="#{stockOutwardYarnBean.currentStockStatusRequest.productGroupMaster}"
												required="#{not empty param[addProductBtn.clientId]}"
												requiredMessage="#{msg['product_group_code']} / #{msg['name']} #{msg['required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems var="group"
													itemLabel="#{group.code}/#{group.name}"
													itemValue="#{group}"
													value="#{stockOutwardYarnBean.productGroupList}" />
												<p:ajax event="change"
													listener="#{stockOutwardYarnBean.processProductGroup}"
													update="productVarietyMaster, productGroupMasterMsg, productGroupMaster, avaliableQty, currentDispatchQty, bundleNumber "
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" />
											</h:selectOneMenu>
										</div>
										<h:message for="productGroupMaster" id="productGroupMasterMsg" class="validation-error-label" />
									</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['prod_variey_code']} / #{msg['name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<h:selectOneMenu id="productVarietyMaster"
											disabled="#{stockOutwardYarnBean.disableBtnProductAdd}"
											converter="#{entityConverter}"
											value="#{stockOutwardYarnBean.currentStockStatusRequest.productVarietyMaster}"
											styleClass="form-control"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['prod_variey_code']} / #{msg['name']} #{msg['required']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="productvariety"
												itemLabel="#{productvariety.code}/#{productvariety.name}"
												itemValue="#{productvariety}"
												value="#{stockOutwardYarnBean.productList}" />
											<p:ajax event="change"
													listener="#{stockOutwardYarnBean.processProductVariety}"
													update="growls, productVarietyMaster productVarietyMasterMsg, avaliableQty, currentDispatchQty, bundleNumber btnProductAdd"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
										<h:message for="productVarietyMaster" id="productVarietyMasterMsg" class="validation-error-label" />
								</div>
							</div>
							
							
							<div class="col-lg-3">
								<p:outputLabel value="Available Quantity" style="display:block" />
								<p:inputText disabled="true" id="avaliableQty" styleClass="form-control text-right" value="#{stockOutwardYarnBean.stockTransferItems.receivedQty}">
									<f:convertNumber pattern="#0" />
								</p:inputText>
							</div>
							
						</div>
						<div class="row">
							
							<div class="col-lg-3">
								<p:outputLabel value="#{msg['cur_disp']}" style="display:block" />
								<p:inputText disabled="#{stockOutwardYarnBean.disableAddProduct}" 
									id="currentDispatchQty" 
									styleClass="form-control text-right" 
									value="#{stockOutwardYarnBean.stockTransferItems.dispatchedQty}"
									required="#{not empty param[addProductBtn.clientId]}"
									requiredMessage="#{msg['cur_disp']}  #{msg['required']}">
										<p:ajax event="keyup" update="growls currentDispatchQtyMsg currentDispatchQty" 
										listener="#{stockOutwardYarnBean.validateCurrentDispatchQty}"/>
										<f:convertNumber pattern="#0" />
								</p:inputText>
								<h:message for="currentDispatchQty" id="currentDispatchQtyMsg" class="validation-error-label" />
							</div>
							<div class="col-lg-3">
								<p:outputLabel value="#{msg['bundle_num']}" style="display:block" />
								<p:inputText id="bundleNumber" styleClass="form-control text-right" 
											value="#{stockOutwardYarnBean.stockTransferItems.bundleNumber}"
											disabled="#{stockOutwardYarnBean.disableAddProduct}"
											requiredMessage="#{msg['bun_num']}  #{msg['required']}">
											<p:ajax event="keyup" update="bundleNumber, bundleNumberMsg" />
								</p:inputText>
								<h:message for="bundleNumber" id="bundleNumberMsg" class="validation-error-label" />
							</div>
							<div class="col-lg-3">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<h:commandButton 
									id="btnProductAdd" 
									validateClient="true"
									ajax="true"
									disabled="#{stockOutwardYarnBean.disableAddProduct}"
									value="&#xea0e;&nbsp;#{msg['add']}" 
									title="#{msg['add']}"
									binding="#{addProductBtn}"
									class="btn bg-success heading-btn cust-btn-h font-iconmoon"
									action="#{stockOutwardYarnBean.addProduct}"
									update="growls, stockItemsTable, avaliableQty, 
									currentDispatchQty, bundleNumber, productVarietyMaster, 
									receivedTotalBundles, receivedBundleNumbers">
								</h:commandButton>
							</div>
						</div>

						<div class="row">
						<h5 class=" m-b-0 m-t-10 col-md-12">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>
					
					<div class="row">
						<div id="table-scroll" class="cust-tab2 table-scroll table-responsive" style="width: 99.4%;">
							<p:dataTable id="stockItemsTable" var="item" class="table" rowKey="#{item}"
										value="#{stockOutwardYarnBean.stockTransfer.stockTransferItemsList}" rowIndexVar="idx">

										<p:column headerText="#" style="text-align: center; width:3%;">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
										</p:column>
										<p:column headerText="#{msg['uom']}">
											<h:outputText value="#{item.uomMaster.code}" />
										</p:column>
										
										<p:column headerText="#{msg['bundle_num']}" styleClass="fa-input text-center">
											<h:outputText value="#{item.bundleNumber}" class=""/>
										</p:column>
										
										
										<p:column headerText="#{msg['dispatched_qty']}" styleClass="text-center" width="12%">
											<h:outputText value="#{item.dispatchedQty}">
												<f:convertNumber pattern="#0" />
											</h:outputText>
										</p:column>
										
										<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)" styleClass="fa-input text-right">
											<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}" class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										
										<p:column headerText="#{msg['action']}" styleClass="text-center" width="6%">
											<p:commandButton value="&#xe99e;" update="growls stockItemsTable, receivedTotalBundles, receivedBundleNumbers"
												title="#{msg['delete']}" class="btn bg-danger heading-btn  font-iconmoon m-r-10"
												action="#{stockOutwardYarnBean.removeProduct(item)}"
												/>
										</p:column>
									</p:dataTable>
						</div>



						<div class="panel-body" style="padding:0px 20px;">
							<div class="row label-form">
									<h5 class="bord_bot m-t-15  m-l-10">
										<i class="fa fa-th-large"></i> <span class="iform-title">#{msg['bundle_details']}</span>
									</h5>
									<div class=" label-form">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_no_bund']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:inputText id="receivedTotalBundles" maxlength="30"
														class="form-control text-right"
														value="#{stockOutwardYarnBean.stockTransfer.totalBundles}"
														disabled="true" />
												</div>
											</div>
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12">
											
											<div class="form-group">
												<p:outputLabel value="#{msg['bundle_number']}" />
												
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
												<p:inputText id="receivedBundleNumbers" disabled="true"
													styleClass="form-control"
													value="#{stockOutwardYarnBean.stockTransfer.bundleNumbers}" />
											</div>
										</div>	
										</div>
										
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_bund_wt']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-balance"></i></span>
													<p:inputText maxlength="30" class="form-control text-right"
														value="#{stockOutwardYarnBean.stockTransfer.bundleWeight}" />
												</div>
											</div>
										</div>
										
									</div>
								 
							</div>






							<!-- Transport Details -->

							<h5 class="bord_bot">
								<i class="fa fa-th-large m-r-5 m-t-0"></i><span
									class="iform-title">#{msg['trans_details']}</span>
							</h5>
							<div class="row label-form">
							
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_ser_type']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-car"></i></span>
												<h:selectOneMenu id="transportType"
													value="#{stockOutwardYarnBean.selectedTransportTypeMaster}"
													class="form-control select2" converter="#{entityConverter}">

													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockOutwardYarnBean.transportTypeMasterList}"
														var="transportType"
														itemLabel="#{transportType.code} / #{transportType.name}"
														itemValue="#{transportType}" />
													<p:ajax event="change"
														listener="#{stockOutwardYarnBean.onChangeTransportTypeMaster}"
														update="transport" />
												</h:selectOneMenu>
											</div>
										</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['trans_ser_name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-car"></i></span>
												<h:selectOneMenu id="transport"
													value="#{stockOutwardYarnBean.stockTransfer.transportMaster}"
													class="form-control select2" converter="#{entityConverter}">

													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockOutwardYarnBean.transportMasterList}"
														var="transport"
														itemLabel="#{transport.code} / #{transport.name}"
														itemValue="#{transport}" />
													<p:ajax event="change"
														listener="#{stockOutwardYarnBean.onChangeTransport}"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['waybill_available']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<h:selectOneMenu id="waybillAvailable"
													value="#{stockOutwardYarnBean.stockTransfer.waybillAvailable}"
													class="form-control select2" converter="#{entityConverter}">

													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems value="#{stockOutwardYarnBean.yesOrNoList}"
														var="yesOrNo" itemLabel="#{yesOrNo.text}"
														itemValue="#{yesOrNo.value}" />

													<p:ajax event="change" update="waybillNo" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>



									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['waybill_no']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-certificate"></i></span>
												<p:inputText id="waybillNo" maxlength="10"
													disabled="#{stockOutwardYarnBean.stockTransfer.waybillAvailable==null || !stockOutwardYarnBean.stockTransfer.waybillAvailable}"
													class="form-control"
													value="#{stockOutwardYarnBean.stockTransfer.waybillNumber}" />
											</div>
										</div>
									</div>
								</div>
							
							<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['transport_charge_available']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<h:selectOneMenu id="transportChargeAvailable"
													value="#{stockOutwardYarnBean.stockTransfer.transportChargeAvailable}"
													class="form-control select2" converter="#{entityConverter}">

													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems value="#{stockOutwardYarnBean.yesOrNoList}"
														var="yesOrNo" itemLabel="#{yesOrNo.text}"
														itemValue="#{yesOrNo.value}" />

													<p:ajax event="change"
														update="transportChargeType transportChargeAmount" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['trans_charge_type']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-menu6"></i></span>
												<h:selectOneMenu id="transportChargeType"
													value="#{stockOutwardYarnBean.stockTransfer.transportChargeType}"
													class="form-control select2"
													disabled="#{stockOutwardYarnBean.stockTransfer.transportChargeAvailable==null || !stockOutwardYarnBean.stockTransfer.transportChargeAvailable}">

													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems value="#{stockOutwardYarnBean.payToPayList}"
														var="val" itemLabel="#{val}" itemValue="#{val}" />

												</h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['trans_charge_amt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-rupee"></i></span>
												<p:inputText id="transportChargeAmount" maxlength="10"
													class="form-control"
													value="#{stockOutwardYarnBean.stockTransfer.transportChargeAmount}"
													disabled="#{stockOutwardYarnBean.stockTransfer.transportChargeAvailable==null || !stockOutwardYarnBean.stockTransfer.transportChargeAvailable}" />
											</div>
										</div>
									</div>
								</div>
							<div class="text-right m-t-0 m-b-0 p-b-0">
								<div class="form-group">

									<h:commandButton update="growls" immediate="true"
										onclick="PF('statusDialog').show()"
										action="#{stockOutwardYarnBean.gotoPage('LIST')}"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn cust-btn-h  font-iconmoon m-r-10 button-ui">
									</h:commandButton>

									<h:commandButton update="growls" validateClient="false"
										onclick="PF('statusDialog').show()"
										action="#{stockOutwardYarnBean.submit('save')}"
										value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
										class="btn bg-primary heading-btn cust-btn-h font-iconmoon button-ui">
									</h:commandButton>
									&nbsp;

									<h:commandButton update="growls" title="#{msg['submit']}"
										validateClient="false" onclick="PF('statusDialog').show()"
										action="#{stockOutwardYarnBean.submit('submit')}"
										value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn cust-btn-h font-iconmoon button-ui">
									</h:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</ui:define>
</ui:composition>	