<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{stockOutwardICBean.redirectSVInProgressPage}" />
		</f:metadata>
		<title>Infotex | #{msg['create_stock_outward']} - <h:outputText
				value="#{msg['ins_cntr']}"
				rendered="#{stockOutwardICBean.stockTransferType=='INSPECTION_OUTWARD'}" />
			<h:outputText value="#{msg['issr']}"
				rendered="#{stockOutwardICBean.stockTransferType=='ISSR_OUTWARD'}" />
			<h:outputText value="#{msg['export_warehouse']}"
				rendered="#{stockOutwardICBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}" />
			<h:outputText value="#{msg['prnt_whouse']}"
				rendered="#{stockOutwardICBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}" />
		</title>

		<!-- Page Header -->

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['create_stock_outward']} -
						<h:outputText value="#{msg['ins_cntr']}"
							rendered="#{stockOutwardICBean.stockTransferType=='INSPECTION_OUTWARD'}" />
						<h:outputText value="#{msg['issr']}"
							rendered="#{stockOutwardICBean.stockTransferType=='ISSR_OUTWARD'}" />
						<h:outputText value="#{msg['export_warehouse']}"
							rendered="#{stockOutwardICBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}" />
						<h:outputText value="#{msg['prnt_whouse']}"
							rendered="#{stockOutwardICBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}" />
					</h4>

					<ul class="breadcrumb">
						<li><a href="#"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li><h:outputText value="#{msg['ins_cntr']}"
								rendered="#{stockOutwardICBean.stockTransferType=='INSPECTION_OUTWARD'}" />
							<h:outputText value="#{msg['issr']}"
								rendered="#{stockOutwardICBean.stockTransferType=='ISSR_OUTWARD'}" />
							<h:outputText value="#{msg['export_warehouse']}"
								rendered="#{stockOutwardICBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}" />
							<h:outputText value="#{msg['prnt_whouse']}"
								rendered="#{stockOutwardICBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}" />

						</li>
						<li class="active">#{msg['create_stock_outward']} - <h:outputText
								value="#{msg['ins_cntr']}"
								rendered="#{stockOutwardICBean.stockTransferType=='INSPECTION_OUTWARD'}" />
							<h:outputText value="#{msg['issr']}"
								rendered="#{stockOutwardICBean.stockTransferType=='ISSR_OUTWARD'}" />
							<h:outputText value="#{msg['export_warehouse']}"
								rendered="#{stockOutwardICBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}" />
							<h:outputText value="#{msg['prnt_whouse']}"
								rendered="#{stockOutwardICBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}" />
						</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


				<div class="heading-elements"></div>
			</div>
		</div>
		<!-- Page Header End -->


		<div class="content page-scroll-hp no-padding-bottom">
			<div class="">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['create_stock_outward']}
									- <h:outputText value="#{msg['ins_cntr']}"
										rendered="#{stockOutwardICBean.stockTransferType=='INSPECTION_OUTWARD'}" />
									<h:outputText value="#{msg['issr']}"
										rendered="#{stockOutwardICBean.stockTransferType=='ISSR_OUTWARD'}" />
									<h:outputText value="#{msg['export_warehouse']}"
										rendered="#{stockOutwardICBean.stockTransferType=='EXPORT_WAREHOUSE_OUTWARD'}" />
									<h:outputText value="#{msg['prnt_whouse']}"
										rendered="#{stockOutwardICBean.stockTransferType=='PRINTING_WAREHOUSE_OUTWARD'}" />
									<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>
							</h6>
						</div>


						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<p:outputPanel id="supplierPanel">
									<div class="row custom-form-1 label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity_master']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="outwardFrom"
														value="#{stockOutwardICBean.outwardFrom}"
														styleClass="form-control">
														<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="Internel" itemLabel="Internel"></f:selectItem>
														<f:selectItem itemValue="Externel" itemLabel="Externel"></f:selectItem>
														<p:ajax event="change"
															update="supplierPanel suppliertype gst circlemasters "
															listener="#{stockOutwardICBean.outwardFromChange}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
													</h:selectOneMenu>
												</div>
												<p:focus for="outwardFrom" />
											</div>
										</div>

										<h:panelGroup
											rendered="#{stockOutwardICBean.outwardFrom eq 'Internel'}">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel class=""
														value="#{msg['entity_master_code']} / #{msg['name']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="ddlEntityTypeMaster"
															value="#{stockOutwardICBean.entityTypeCode}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{stockOutwardICBean.entityTypeMasterList}"
																var="entityTypeMaster"
																itemLabel="#{entityTypeMaster.entityCode} / #{entityTypeMaster.entityName}"
																itemValue="#{entityTypeMaster.entityCode}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{stockOutwardICBean.onChangeEntityTypeMaster}"
																update="ddlShowroom" />
														</h:selectOneMenu>
													</div>
													<p:focus for="ddlEntityTypeMaster" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<label class="control-label">#{msg['stock_out_to']}</label>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="ddlShowroom"
															value="#{stockOutwardICBean.stockTransfer.toEntityMaster}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems value="#{stockOutwardICBean.showroomList}"
																var="showroom"
																itemLabel="#{showroom.code} / #{showroom.name}"
																itemValue="#{showroom}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{stockOutwardICBean.onChangeShowroom}"
																update="growls productCategory, productGroupMaster, productVarietyMaster, btnProductAdd, avaliableQty, currentDispatchQty, bundleNumber,avaliableQtyMeter,currentDispatchQtyMeter" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
										</h:panelGroup>
									</div>

									<h:panelGroup
										rendered="#{stockOutwardICBean.outwardFrom eq 'Externel'}">
										<div class="row label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['supplier_type']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu styleClass="form-control"
															id="suppliertype"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['supplier_type']} #{msg['is_required']}"
															value="#{stockOutwardICBean.selectedSupplierTypeMaster}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select Supplier Type"
																noSelectionOption="true" itemValue=""></f:selectItem>
															<f:selectItems
																value="#{stockOutwardICBean.supplierTypeMasterList}"
																var="list" itemValue="#{list}" itemLabel="#{list.code}">
															</f:selectItems>
															<p:ajax onstart="PF('statusDialog').show();"
																listener="#{stockOutwardICBean.loadSupplierCodeName}"
																event="change" update="supplierPanel,SupplierMasterData"
																oncomplete="PF('statusDialog').hide();">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="suppliertype"
														class="validation-error-label" />
												</div>
											</div>
											<p:outputPanel id="circlemasters"
												rendered="#{stockOutwardICBean.circleflag}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['circle']}" />
														<span class="text-danger">*</span>
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu styleClass="form-control" id="circle"
																required="#{not empty param[submit.clientId]}"
																requiredMessage="#{msg['circle_req']}"
																value="#{stockOutwardICBean.selectedCircleMaster}"
																converter="#{entityConverter}">
																<f:selectItem itemLabel="Select Circle"
																	noSelectionOption="true" itemValue=""></f:selectItem>
																<f:selectItems
																	value="#{stockOutwardICBean.circleMasterList}"
																	var="list" itemValue="#{list}"
																	itemLabel="#{list.code} / #{list.name}">
																</f:selectItems>
																<p:ajax onstart="PF('statusDialog').show();"
																	listener="#{stockOutwardICBean.selectCircle}"
																	event="change"
																	update="gst SupplierMasterData SupplierMasterData @this"
																	oncomplete="PF('statusDialog').hide();">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="circle" class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sup_code']} / #{msg['name']}" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="fa fa-bank"></i></span>
														<p:outputPanel id="SupplierMasterData">
															<p:autoComplete id="supl" minQueryLength="1"
																styleClass="form-control" converter="#{entityConverter}"
																onstart="PF('statusDialog').show();"
																required="#{not empty param[submit.clientId]}"
																requiredMessage="#{msg['supplier_type_code_req']}"
																oncomplete="PF('statusDialog').hide();"
																panelStyle="max-height: 150px; width: 50px;"
																value="#{stockOutwardICBean.selectedSupplierMaster}"
																itemValue="#{sup}" var="sup"
																itemLabel="#{not empty sup.code?sup.code.concat(' / ').concat(sup.name):sup.name}"
																completeMethod="#{stockOutwardICBean.supplierAutocomplete}"
																effect="fade">
																<p:ajax event="itemSelect"
																	listener="#{stockOutwardICBean.selectAutoSearch}"
																	update="growls supl, gst,transportType,waybillAvailable,transportChargeAvailable, productCategory, productGroupMaster, productVarietyMaster, btnProductAdd, avaliableQty, currentDispatchQty, bundleNumber,avaliableQtyMeter,currentDispatchQtyMeter "></p:ajax>
															</p:autoComplete>
														</p:outputPanel>
													</div>
													<h:message for="supl" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['gst_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:outputPanel id="gstPanelUpdate">
															<p:inputText styleClass="form-control" disabled="true"
																id="gst" value="#{stockOutwardICBean.gstNumber}" />
														</p:outputPanel>
													</div>
												</div>
											</div>
										</div>
									</h:panelGroup>
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>
				<!-- collepse panel end -->

				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['add_products']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['prod_category_code']} / #{msg['name']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="productCategory"
											disabled="#{stockOutwardICBean.disableBtnProductAdd}"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{stockOutwardICBean.currentStockStatusRequest.productCategory}"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['prod_cate_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="category"
												itemLabel="#{category.productCatCode}/#{category.productCatName}"
												itemValue="#{category}"
												value="#{stockOutwardICBean.productCategoryList}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.processProductGroups}"
												update="productCategory, productCategoryMsg, productGroupMaster productVarietyMaster
												avaliableQty, currentDispatchQty, bundleNumber,avaliableQtyMeter,currentDispatchQtyMeter"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productCategory" id="productCategoryMsg"
										class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['product_group_code']} / #{msg['name']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-grid6"></i></span>
										<h:selectOneMenu id="productGroupMaster"
											disabled="#{stockOutwardICBean.disableBtnProductAdd}"
											styleClass="form-control" converter="#{entityConverter}"
											value="#{stockOutwardICBean.currentStockStatusRequest.productGroupMaster}"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['prod_group_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="group"
												itemLabel="#{group.code}/#{group.name}" itemValue="#{group}"
												value="#{stockOutwardICBean.productGroupList}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.processProductGroup}"
												update="productVarietyMaster, productGroupMasterMsg, productGroupMaster, avaliableQty, currentDispatchQty, bundleNumber,avaliableQtyMeter,currentDispatchQtyMeter "
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productGroupMaster" id="productGroupMasterMsg"
										class="validation-error-label" />
								</div>
							</div>

							<ui:remove>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<!--  product variety master -->
									<div class="form-group">
										<p:outputLabel value="#{msg['prod_variey_code_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<p:autoComplete id="productVarietyMaster" minQueryLength="1"
												required="#{not empty param[addProductBtn.clientId]}"
												requiredMessage="#{msg['prod_variety_code_name_req']}"
												disabled="#{stockOutwardICBean.disableBtnProductAdd}"
												value="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster}"
												itemValue="#{varity}" var="varity"
												panelStyle="max-height: 180px; width: 100px;"
												itemLabel="#{varity.code.concat(' / ').concat(varity.name)}"
												completeMethod="#{stockOutwardICBean.productVarietyAutoComplete}"
												styleClass="form-control" converter="#{entityConverter}"
												effect="fade">
												<p:ajax event="itemSelect"
													listener="#{stockOutwardICBean.loadUnitRate}"
													update="growls, productVarietyMaster, productVarietyMasterMsg, avaliableQty, currentDispatchQty,bundleNumber, btnProductAdd, unitprice,avaliableQtyMeter,currentDispatchQtyMeter"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()">
												</p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="productVarietyMaster"
											id="productVarietyMasterMsg" class="validation-error-label" />
									</div>
								</div>
							</ui:remove>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class=""
										value="#{msg['prod_variey_code']} / #{msg['name']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-tree6"></i></span>
										<h:selectOneMenu id="productVarietyMaster"
											disabled="#{stockOutwardICBean.disableBtnProductAdd}"
											converter="#{entityConverter}"
											value="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster}"
											styleClass="form-control"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['prod_variety_code_name_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="productvariety"
												itemLabel="#{productvariety.code}/#{productvariety.name}"
												itemValue="#{productvariety}"
												value="#{stockOutwardICBean.productList}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.loadUnitRate}"
												update="growls productVarietyMaster productVarietyMasterMsg avaliableQty avaliableQtyMeter currentDispatchQty currentDispatchQtyMeter
												bundleNumber btnProductAdd unitprice  "
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="productVarietyMaster"
										id="productVarietyMasterMsg" class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['unit_rate']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="fa fa-lg fa-inr"></i></span>
										<h:selectOneMenu id="unitprice" converter="#{entityConverter}"
											styleClass="form-control"
											value="#{stockOutwardICBean.unitRate}"
											required="#{not empty param[addProductBtn.clientId]}"
											requiredMessage="#{msg['unit_rate_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems var="items" itemLabel="#{items}"
												itemValue="#{items}"
												value="#{stockOutwardICBean.unitRateList}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.processProductVariety}"
												update="growls productVarietyMaster unitprice  avaliableQty avaliableQtyMeter currentDispatchQty  currentDispatchQtyMeter  bundleNumber btnProductAdd 
												dispatchQtyPanel avaliableQtyPanel"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" />
										</h:selectOneMenu>
									</div>
									<h:message for="unitprice" class="validation-error-label" />
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['avl_qty']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-stackoverflow"></i></span>
										<p:outputPanel id="avaliableQtyPanel">
											<p:inputText disabled="true" id="avaliableQtyMeter"
												styleClass="form-control text-right"
												value="#{stockOutwardICBean.stockTransferItems.receivedQty}"
												rendered="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster.uomMaster.code eq 'METR'}">
												<f:convertNumber pattern="#0.00" />
											</p:inputText>
											<p:inputText disabled="true" id="avaliableQty"
												styleClass="form-control text-right"
												value="#{stockOutwardICBean.stockTransferItems.receivedQty}"
												rendered="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster.uomMaster.code ne 'METR'}">
												<f:convertNumber pattern="#0" />
											</p:inputText>
										</p:outputPanel>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['cur_disp']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-stackoverflow"></i></span>
										<p:outputPanel id="dispatchQtyPanel">
											<p:inputText
												disabled="#{stockOutwardICBean.disableAddProduct}"
												id="currentDispatchQty" styleClass="form-control text-right"
												value="#{stockOutwardICBean.stockTransferItems.dispatchedQty}"
												required="#{not empty param[addProductBtn.clientId]}"
												requiredMessage="#{msg['current_dispatch_qty_req']}"
												rendered="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster.uomMaster.code ne 'METR'}">
												<p:ajax event="keyup"
													update="growls currentDispatchQtyMsg currentDispatchQty"
													listener="#{stockOutwardICBean.validateCurrentDispatchQty}" />
												<f:convertNumber pattern="#0" />
											</p:inputText>
											<p:inputText
												disabled="#{stockOutwardICBean.disableAddProduct}"
												id="currentDispatchQtyMeter"
												styleClass="form-control text-right"
												value="#{stockOutwardICBean.stockTransferItems.dispatchedQty}"
												required="#{not empty param[addProductBtn.clientId]}"
												requiredMessage="#{msg['current_dispatch_qty_req']}"
												rendered="#{stockOutwardICBean.currentStockStatusRequest.productVarietyMaster.uomMaster.code eq 'METR'}">
												<p:ajax event="change"
													update="growls currentDispatchQtyMsgMeter currentDispatchQtyMeter"
													listener="#{stockOutwardICBean.validateCurrentDispatchQty}" />
												<f:convertNumber pattern="#0.00" />
											</p:inputText>
										</p:outputPanel>
									</div>
									<h:message for="currentDispatchQtyMeter"
										id="currentDispatchQtyMsgMeter" class="validation-error-label" />
									<h:message for="currentDispatchQty" id="currentDispatchQtyMsg"
										class="validation-error-label" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bundle_num']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="bundleNumber"
											styleClass="form-control text-right"
											value="#{stockOutwardICBean.stockTransferItems.bundleNumber}"
											disabled="#{stockOutwardICBean.disableAddProduct}"
											requiredMessage="#{msg['bundle_no_req']}">
											<p:ajax event="keyup" update="bundleNumber, bundleNumberMsg" />
										</p:inputText>
										<h:message for="bundleNumber" id="bundleNumberMsg"
											class="validation-error-label" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
								<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
								<h:commandButton id="btnProductAdd" validateClient="true"
									ajax="true" disabled="#{stockOutwardICBean.disableAddProduct}"
									value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
									binding="#{addProductBtn}"
									class="btn bg-success heading-btn cust-btn-h font-iconmoon"
									action="#{stockOutwardICBean.addProduct}"
									update="growls, stockItemsTable, avaliableQty, 
									currentDispatchQty, bundleNumber, productVarietyMaster, 
									receivedTotalBundles, receivedBundleNumbers,unitprice,avaliableQtyMeter,currentDispatchQtyMeter">
								</h:commandButton>
							</div>
						</div>

						<h5 class="m-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:dataTable id="stockItemsTable" var="item" rowKey="#{item}"
										styleClass="report-table"
										value="#{stockOutwardICBean.stockTransfer.stockTransferItemsList}"
										rowIndexVar="idx">

										<p:column headerText="#" styleClass="text-center width-5">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column styleClass="width-20"
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
										</p:column>

										<p:column headerText="#{msg['uom']}" styleClass="width-6">
											<h:outputText value="#{item.uomMaster.code}" />
										</p:column>

										<p:column headerText="#{msg['bundle_num']}"
											styleClass="width-10 text-center">
											<h:outputText value="#{item.bundleNumber}" class="" />
										</p:column>

										<p:column headerText="#{msg['dispatched_qty']}"
											styleClass="text-center width-15">
											<h:outputText value="#{item.dispatchedQty}"
												rendered="#{item.uomMaster.code eq 'METR'}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
											<h:outputText value="#{item.dispatchedQty}"
												rendered="#{item.uomMaster.code ne 'METR'}">
												<f:convertNumber pattern="#0" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
											styleClass="fa-input text-right width-15">
											<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
												class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="text-center width-6">
											<p:commandButton value="&#xe99e;"
												update="growls stockItemsTable, receivedTotalBundles, receivedBundleNumbers"
												title="#{msg['delete']}"
												class="btn bg-danger heading-btn  font-iconmoon m-l-0"
												action="#{stockOutwardICBean.removeProduct(item)}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>



						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bundle_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_no_bund']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<p:inputText id="receivedTotalBundles" maxlength="30"
											class="form-control text-right"
											value="#{stockOutwardICBean.stockTransfer.totalBundles}"
											disabled="true" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bundle_number']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<p:inputText id="receivedBundleNumbers" disabled="true"
											styleClass="form-control"
											value="#{stockOutwardICBean.stockTransfer.bundleNumbers}" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_bund_wt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-balance"></i></span>
										<p:inputText maxlength="30" class="form-control text-right"
											value="#{stockOutwardICBean.stockTransfer.bundleWeight}" />
									</div>
								</div>
							</div>
						</div>

						<!-- Transport Details -->
						<h5 class="bord_bot m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-car"></i></span>
										<h:selectOneMenu id="transportType"
											value="#{stockOutwardICBean.selectedTransportTypeMaster}"
											class="form-control select2" converter="#{entityConverter}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockOutwardICBean.transportTypeMasterList}"
												var="transportType"
												itemLabel="#{transportType.code} / #{transportType.name}"
												itemValue="#{transportType}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.onChangeTransportTypeMaster}"
												update="transport" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-car"></i></span>
										<h:selectOneMenu id="transport"
											value="#{stockOutwardICBean.stockTransfer.transportMaster}"
											class="form-control select2" converter="#{entityConverter}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockOutwardICBean.transportMasterList}"
												var="transport"
												itemLabel="#{transport.code} / #{transport.name}"
												itemValue="#{transport}" />
											<p:ajax event="change"
												listener="#{stockOutwardICBean.onChangeTransport}"></p:ajax>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="waybillAvailable"
											value="#{stockOutwardICBean.stockTransfer.waybillAvailable}"
											class="form-control select2" converter="#{entityConverter}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardICBean.yesOrNoList}"
												var="yesOrNo" itemLabel="#{yesOrNo.text}"
												itemValue="#{yesOrNo.value}" />
											<p:ajax event="change" update="waybillNo" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-certificate"></i></span>
										<p:inputText id="waybillNo" maxlength="10"
											disabled="#{stockOutwardICBean.stockTransfer.waybillAvailable==null || !stockOutwardICBean.stockTransfer.waybillAvailable}"
											class="form-control"
											value="#{stockOutwardICBean.stockTransfer.waybillNumber}" />
									</div>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="transportChargeAvailable"
											value="#{stockOutwardICBean.stockTransfer.transportChargeAvailable}"
											class="form-control select2" converter="#{entityConverter}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardICBean.yesOrNoList}"
												var="yesOrNo" itemLabel="#{yesOrNo.text}"
												itemValue="#{yesOrNo.value}" />
											<p:ajax event="change"
												update="transportChargeType transportChargeAmount" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-menu6"></i></span>
										<h:selectOneMenu id="transportChargeType"
											value="#{stockOutwardICBean.stockTransfer.transportChargeType}"
											class="form-control select2"
											disabled="#{stockOutwardICBean.stockTransfer.transportChargeAvailable==null || !stockOutwardICBean.stockTransfer.transportChargeAvailable}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardICBean.payToPayList}"
												var="val" itemLabel="#{val}" itemValue="#{val}" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_amt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-inr fa-lg"></i></span>
										<p:inputText id="transportChargeAmount" maxlength="10"
											class="form-control"
											value="#{stockOutwardICBean.stockTransfer.transportChargeAmount}"
											disabled="#{stockOutwardICBean.stockTransfer.transportChargeAvailable==null || !stockOutwardICBean.stockTransfer.transportChargeAvailable}" />
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 text-right">
								<h:commandButton update="growls" immediate="true"
									onclick="PF('statusDialog').show()"
									action="#{stockOutwardICBean.gotoPage('LIST')}"
									value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
									class="btn bg-slate heading-btn cust-btn-h  font-iconmoon button-ui">
								</h:commandButton>
								<h:commandButton update="growls" validateClient="false"
									onclick="PF('statusDialog').show()"
									action="#{stockOutwardICBean.submit('save')}"
									value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
									class="btn bg-primary heading-btn cust-btn-h font-iconmoon button-ui m-l-8">
								</h:commandButton>
								<h:commandButton update="growls" title="#{msg['submit']}"
									validateClient="false" onclick="PF('statusDialog').show()"
									action="#{stockOutwardICBean.submit('submit')}"
									value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn cust-btn-h font-iconmoon button-ui m-l-8">
								</h:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>