<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Printing &amp; Stationary - Stock Item
			Outward List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['print_n_stationary']} -
						#{msg['stock_item_outward_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['print_n_stationary']}</li>
						<li class="active">#{msg['print_n_stationary']} -
							#{msg['stock_item_outward_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						<strong><p:outputLabel id="totalSize"
								value="#{stockOutwardBeanPNS.totalRecords}"
								styleClass="textb play_class" /></strong> -
						#{msg['stock_item_outward']}(s)<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						
						<h:panelGroup id="menupanel">
							<p:commandButton update="growls"
								action="#{stockOutwardBeanPNS.showItemOutward}" id="addId"
								value="&#xea0e;&nbsp; #{msg['add']}" title="Add"
								onclick="PF('progressDlg').show();"
								rendered="#{stockOutwardBeanPNS.addFlag}"
								class="btn bg-success font-iconmoon"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{stockOutwardBeanPNS.pageAction}" />
							</p:commandButton>

							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								title="Edit" onclick="PF('progressDlg').show();"
								class="btn bg-primary font-iconmoon"
								rendered="#{stockOutwardBeanPNS.editFlag}"
								oncomplete="PF('progressDlg').hide();" update="growls"
								action="#{stockOutwardBeanPNS.viewStockTransfer}">
								<f:setPropertyActionListener value="EDIT"
									target="#{stockOutwardBeanPNS.pageAction}" />
							</p:commandButton>

							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								rendered="#{stockOutwardBeanPNS.viewFlag}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{stockOutwardBeanPNS.viewStockTransfer}" update="growls"
								class="btn bg-info font-iconmoon ">
								<f:setPropertyActionListener value="VIEW"
									target="#{stockOutwardBeanPNS.pageAction}" />

							</p:commandButton>
							
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{stockOutwardBeanPNS.checkGST}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>

						</h:panelGroup>
					</div>
				</div>
			</div>

			<div class="panel panel-info m-b-0">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="tableWdgr" rowKey="#{data.id}"
							selection="#{stockOutwardBeanPNS.stockItemOutwardPNSDTO}"
							value="#{stockOutwardBeanPNS.lazyStockItemOutwardPNSDTOList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="No records found">
							
							<p:ajax event="rowSelectRadio"
								listener="#{stockOutwardBeanPNS.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />
							<!-- SI No.  -->
							<p:column headerText="#" style="text-align: center;">
								<h:outputText value="#{idx+1}-#{data.id}" />
							</p:column>
 
							<p:column id="entId" filterable="true"
								filterBy="#{data.entityCodeName}" filterMatchMode="contains"
								headerText="#{msg['enty_typ']}" sortBy="#{data.entityCodeName}"
								sortable="true" styleClass="text-center ">
								<h:outputText value="#{data.entityCodeName}" />
							</p:column>
							
							<p:column id="secId" filterable="true"
								filterBy="#{data.sectionCodeName}" filterMatchMode="contains"
								headerText="#{msg['sec']}" styleClass="text-center "
								sortBy="#{data.sectionCodeName}" sortable="true">
								<h:outputText value="#{data.sectionCodeName}" />
							</p:column>
							
							<p:column headerText="Created Date" filterBy="#{data.createdDate}"
									sortBy="#{data.createdDate}" styleClass="text-center ">
								<f:facet name="filter">
									<p:calendar id="inp_amountPaid" pattern="dd-MM-yyyy" placeholder="DD-MM-YYYY"
										mask="true"  onchange="PF('tableWdgr').filter()"
										styleClass="form-control calend-icon" yearRange="c-10:c+10" navigator="true">
										<p:ajax event="dateSelect" 
											oncomplete="PF('tableWdgr').filter()" />
											<p:ajax event="change" execute="@this"
											oncomplete="PF('tableWdgr').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}" >
									<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msg['status']}" class="width-1 text-center" styleClass="text-center width-10"
								filterBy="#{data.status}" sortBy="#{data.status}">
								<f:facet name="filter">
								<h:selectOneMenu id="fwdto2" styleClass="form-control"
											onchange="PF('tableWdgr').filter()" >
										<f:selectItem itemLabel="#{msg['select']}"
											itemValue="#{null}"></f:selectItem>
										<f:selectItems var="user" value="#{stockOutwardBeanPNS.statusList}"
											itemValue="#{user}"
											itemLabel="#{user}"></f:selectItems>
									</h:selectOneMenu>
							</f:facet>
								<h:outputText styleClass="ui-column-title label label-success width-custom" value="#{data.status}" rendered="#{data.status == 'SUBMITTED'}"></h:outputText>
								<h:outputText styleClass="ui-column-title label label-primary width-custom" value="#{data.status}" rendered="#{data.status eq 'INITIATED'}"></h:outputText>
							</p:column>
							
							<p:column headerText="#{msg['select']}" styleClass="text-center"
								selectionMode="single">
							</p:column>
							
						</p:dataTable>
						
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>