<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Yarn - View Stock Item
			Outward</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['yarn']} -
						#{msg['view_stock_item_outward']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['yarn']}</li>
						<li class="active">#{msg['print_n_stationary']} -
							#{msg['view_stock_item_outward']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['view_stock_item_outward']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-5">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['req_id']}" />
										<h:outputText
											value="#{stockOutwardBeanPNS.intendRequest.requirementCode} / #{stockOutwardBeanPNS.intendRequest.requirementName}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ent_typ']}" />
										<h:outputText
											value="#{stockOutwardBeanPNS.entityTypeMaster.entityCode} / #{stockOutwardBeanPNS.entityTypeMaster.entityName}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity_code']} / #{msg['name']}" />
										<h:outputText
											value="#{stockOutwardBeanPNS.entity.code} / #{stockOutwardBeanPNS.entity.name}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['section_code']} / #{msg['name']}" />
										<h:outputText
											value="#{stockOutwardBeanPNS.sectionMaster.code} / #{stockOutwardBeanPNS.sectionMaster.name}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['item_details']}
						</h5>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class=" table-responsive">
								<p:dataTable id="stockItemTable" rowIndexVar="idx" var="item"
									value="#{stockOutwardBeanPNS.itemDistributionList}">
									<p:column headerText="#{msg['sl']}" style="width: 5%">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column headerText="#{msg['item_code']} / #{msg['name']}"
										style="width: 10%" class="text-center">
										<h:outputText value="#{item.code} / #{item.proName}" />
									</p:column>
									<p:column headerText="#{msg['u_o_m']}" style="width: 8%"
										class="text-center">
										<h:outputText value="#{item.unit}" />
									</p:column>
									<p:column headerText="#{msg['reuqirement_qty']}"
										style="width: 6%;" class="text-center">
										<h:outputText value="#{item.quantityRequired}" />
									</p:column>
									<p:column headerText="#{msg['already_dispatched']}"
										style="width: 10%;" class="text-center">
										<h:outputText value="#{item.alreadyDispatch}" />
									</p:column>
									<p:column headerText="#{msg['rem_qty_to_be_dispatched']}"
										style="width: 11%;" class="text-center">
										<h:outputText value="#{item.remainintQuantity}" />
									</p:column>
									<p:column headerText="#{msg['crnt_dis_qty']}"
										style="width: 11%;" class="text-center">

										<h:outputText value="#{item.currentDispatched}" />
									</p:column>
									<p:column headerText="#{msg['bal_qty_to_be_dispatched']}"
										style="width: 11%;" class="text-center">
										<h:outputText value="#{item.balanceQnt}" />
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>
				</div>
				
			
			
			<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
							</h5>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.trans_ser_type}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.trans_ser_name}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.waybillAvailable}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.waybill_no}" class="" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.transport_charge_available}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.trans_charge_type}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<h:outputText value="#{stockOutwardBeanPNS.selectedStockItemOutwardPNSDTO.trans_charge_amt}" class="" />
							</div>
						</div>
					 
					</div>

				</div>
				<div class="panel-body">
					<div class="row label-form">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								action="#{stockOutwardBeanPNS.backFun}" immediate="true"
								class="btn bg-info font-iconmoon m-r-0" title="#{msg['back']}">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
				
		</div>
	</ui:define>
</ui:composition>