<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Society Payment</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['soc_pay']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['finance']}</a></li>
							<li class="active">#{msg['soc_pay']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<!-- <div class="panel-heading">
                  <h3 class="panel-title text-grey">Add Society</h3>
                </div> -->
					<div class="panel-body">
										<div class="row">
											<div class="col-md-3">
											<div class="form-group">
													<p:outputLabel value="#{msg['region_name']}" />
													<h:selectOneMenu id="selname1"
														value="" styleClass="form-control">
														<f:selectItem itemLabel="Select" itemValue="true" />
														<f:selectItem
															itemLabel="1"
															itemValue="true" />
														<f:selectItem itemLabel="2"
															itemValue="false" />
														<f:selectItem itemLabel="3"
															itemValue="false" />
															<f:selectItem itemLabel="4"
															itemValue="false" />
													</h:selectOneMenu>
													<!-- input-group -->
												</div>
											</div>
											<div class="col-md-3">
											<div class="form-group">
													<p:outputLabel value="#{msg['scode_n_nm']}" />
													<h:selectOneMenu id="selname2"
														value="" styleClass="form-control">
														<f:selectItem itemLabel="Select" itemValue="true" />
														<f:selectItem
															itemLabel="1"
															itemValue="true" />
														<f:selectItem itemLabel="2"
															itemValue="false" />
														<f:selectItem itemLabel="3"
															itemValue="false" />
															<f:selectItem itemLabel="4"
															itemValue="false" />
													</h:selectOneMenu>
													<!-- input-group -->
												</div>
											</div>
											<div class="col-md-3">
											<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['period_frm']}</label>
											<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="dd-mm-yyyy"
												id="datepicker-autoclose" /> <span
												class="input-group-addon bg-primary b-0 text-white"><i
												class="ti-calendar"></i></span>
											</div>
											</div>
											</div>
											<div class="col-md-3">
											<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['period_to']}</label>
											<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="dd-mm-yyyy"
												id="datepicker-autoclose" /> <span
												class="input-group-addon bg-primary b-0 text-white"><i
												class="ti-calendar"></i></span>
											</div>
											</div>
											</div>
											</div>
											<div class="row">
											<div class="col-md-3">
											<div class="form-group">
													<p:outputLabel value="#{msg['status']}" />
													<h:selectOneMenu id="selname3"
														value="" styleClass="form-control">
														<f:selectItem itemLabel="Select" itemValue="true" />
														<f:selectItem
															itemLabel="1"
															itemValue="true" />
														<f:selectItem itemLabel="2"
															itemValue="false" />
														<f:selectItem itemLabel="3"
															itemValue="false" />
															<f:selectItem itemLabel="4"
															itemValue="false" />
													</h:selectOneMenu>
													<!-- input-group -->
												</div>
											</div>
											</div>
											<div class="row m-b-15">
											<div class="col-md-12 text-right">
												<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
													styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
												<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
													styleClass="btn btn-sm btn-info waves-effect waves-light m-r-10 fa-input">
												</p:commandButton>
												
											</div>
								
										</div>
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['soc_adj_dtl']}</h3>
									<div class="portlet-widgets">
										<h:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											styleClass="btn btn-xs btn-success waves-effect waves-light fa-input">
										</h:commandButton>
										<h:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											styleClass="btn btn-xs btn-primary waves-effect waves-light m-l-10 fa-input">
										</h:commandButton>
										<h:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											styleClass="btn btn-xs btn-info waves-effect waves-light m-l-10 fa-input">
										</h:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								
								<div class="portlet-body p0">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table cust-table table-bordered">
													<thead>
														<tr>
															<th align="center">#{msg['sl']}</th>
															<th align="center">#{msg['society_code']}</th>
															<th align="center">#{msg['society_name']}</th>
															<th align="center">#{msg['ttl_pay_amt']}</th>
															<th align="center">#{msg['soc_adj_amt']}</th>
															<th align="center">#{msg['ttl_amt_t_pay']}</th>
															<th align="center">#{msg['status']}</th>
															<th align="center">#{msg['action']}</th>
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td align="center">1</td>
															<td align="center">DF4578</td>
															<td align="center">Durgabai Society</td>
															<td align="right">11000</td>
															<td align="right">4000</td>
															<td align="right">4000</td>
															<td align="center">Active</td>
															<td align="center">
															<div class="checkbox checkbox-circle checkbox-single">
                                        					<input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                        					<label></label>
                                    						</div>
															</td>
														</tr>
														<tr>
															<td align="center">2</td>
															<td align="center">DF6542</td>
															<td align="center">Murugan Society</td>
															<td align="right">11000</td>
															<td align="right">4000</td>
															<td align="right">4000</td>
															<td align="center">In-active</td>
															<td align="center">
															<div class="checkbox checkbox-circle checkbox-single">
                                        					<input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                        					<label></label>
                                    						</div>
															</td>
														</tr>
														<tr>
															<td align="center">3</td>
															<td align="center">DF7845</td>
															<td align="center">Ramcharan Society</td>
															<td align="right">50000</td>
															<td align="right">15000</td>
															<td align="right">4000</td>
															<td align="center">Active</td>
															<td align="center">
															<div class="checkbox checkbox-circle checkbox-single">
                                        					<input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                        					<label></label>
                                    						</div>
															</td>
														</tr>
													</tbody>
													<tfoot>
											
													</tfoot>
												</table>
											</div>
											<div class="col-md-12 ph0">
                        						<div class="col-md-6 m-t-10 ph0">
										
									</div>
                        						<div class="col-md-6 text-right ph0">
                          						<ul class="pagination pagination-split m">
                            						<li> <a href="#"><i class="fa fa-angle-left"></i> Previous</a> </li>
                            						<li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                            						<li> <a href="#">1</a> </li>
                            						<li class="active"> <a href="#">2</a> </li>
                            						<li> <a href="#">3</a> </li>
                            						<li> <a href="#">4</a> </li>
                            						<li> <a href="#">5</a> </li>
                            						<li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                            						<li> <a href="#">Next <i class="fa fa-angle-right"></i></a> </li>
                          						</ul>
                        						</div>
                     						 </div>
										</div>
										<!-- end col -->

										<div class="clearfix"></div>
									</div>
									<!-- end row -->
									
									<!-- end col -->
								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
