<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | Finance | Purchase Booking</title>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h4 class="page-title">#{msg['purchase']} #{msg['booking']}</h4>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb hidden-xs mt text12 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">#{msg['finance']}</a></li>
						<li class="active">#{msg['purchase']} #{msg['booking']}</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- search -->
		<div class="card-box panel-top-bor">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
				<label class="control-label">#{msg['region_name']}</label>
				<select class="form-control">
				<option>Select</option>
				<option>1</option>
				<option>2</option>
				
				</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
				<label class="control-label">#{msg['society_code']} &amp; #{msg['name']}</label>
				<select class="form-control">
				<option>Select</option>
				<option>1</option>
				<option>2</option>
				</select>
				</div>
			</div>
			<div class="col-md-3">
				
	               
					<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['period_frm']}</label>
						<div class="form-group">
						<div class="input-group">
			            <input type="text" class="form-control" placeholder="dd-mm-yyyy"  id="datepicker-autoclose" />
					    <span class="input-group-addon bg-primary b-0 text-white" ><i class="ti-calendar"></i></span>
		                </div>
						</div>
				</div>
			<div class="col-md-3">
					<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['period_to']}</label>
						<div class="form-group">
						<div class="input-group">
			            <input type="text" class="form-control" placeholder="dd-mm-yyyy"  id="datepicker-autoclose" />
					    <span class="input-group-addon bg-primary b-0 text-white" ><i class="ti-calendar"></i></span>
		                </div>
						</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
				<label class="control-label">#{msg['status']}</label>
				<select class="form-control">
				<option>All</option>
				<option>Created</option>
				<option>Acknowledged</option>
				<option>Verified</option>
				</select>
			</div>
				</div>
			</div>
		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="text-right m-t-10">
						<p:commandButton value="&#xf12d;&nbsp;Clear"
							class="btn btn-sm fa-input btn-cancel waves-effect w-md waves-light m-l-10" />
						<p:commandButton value="&#xf002;&nbsp;Search"
							class="btn btn-sm fa-input btn-info waves-effect w-md waves-light m-l-10" />	
						
					</div>
				</div>
			</div>
			
		<div class="row m-t-20">
		<div class="col-lg-12">
          <div class="portlet m-b-0">
            <div class="panel-grey">
              <h3 class="portlet-title m-t-5">#{msg['society']} #{msg['wise']} #{msg['invoice']} #{msg['details']}</h3>
              <div class="portlet-widgets">
          
				<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
							class="btn btn-xs fa-input btn-success waves-effect waves-light m-r-5" />
				<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
							class="btn btn-xs fa-input btn-primary waves-effect waves-light m-r-5" />
				<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
							class="btn btn-xs fa-input btn-info waves-effect waves-light" /> 
				
															
              </div>
              <div class="clearfix"></div>
            </div>
            <div id="bg-primary1" class="panel-collapse collapse in">
              <div class="portlet-body p0">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table m-0 cust-table">
                        <thead>
                          <tr>
                            <th align="center">#{msg['sl']}</th>
                            <th align="center">#{msg['society_code']}</th>
                            <th align="center">#{msg['society_name']}</th>
                            <th align="center">#{msg['invoice']} #{msg['number']}</th>
                            <th align="center">#{msg['invoice']} #{msg['date']}</th>
                            <th align="center">#{msg['invoice']} #{msg['amount']}</th>
                            <th align="center">#{msg['status']}</th>
                            <th align="center" style="width:50px">
                            	<label>Select</label>
                           		<div class="checkbox checkbox-circle checkbox-single">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                    <label></label>
                               </div>
                          </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td align="center">1</td>
                            <td align="center">SE3214</td>
                            <td>Muguran Society</td>
                            <td align="center">IN012</td>
                            <td align="center">27-Jul-2017</td>
                            <td align="center">100</td>
                            <td align="center">Created</td>
                            <td align="center">
                            	<div class="checkbox checkbox-circle checkbox-single">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                    <label></label>
                               </div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">2</td>
                            <td align="center">SE3211</td>
                            <td>Muthuswamy Society</td>
                            <td align="center">IN013</td>
                            <td align="center">27-Jul-2017</td>
                            <td align="center">152</td>
                            <td align="center">Created</td>
                            <td align="center">
                            	<div class="checkbox checkbox-circle checkbox-single">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                    <label></label>
                               </div>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">3</td>
                            <td align="center">SE3265</td>
                            <td>Laxminarayanam Society</td>
                            <td align="center">IN019</td>
                            <td align="center">27-Jul-2017</td>
                            <td align="center">940</td>
                            <td align="center">Created</td>
                            <td align="center">
                            	<div class="checkbox checkbox-circle checkbox-single">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One"/>
                                    <label></label>
                               </div>
                            </td>
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-12 ph0">
                      <div class="col-md-6 m-t-20">
                      </div>
                      <div class="col-md-6 text-right ph0">
                        <ul class="pagination pagination-split m">
                          <li><a href="#"><i class="fa fa-angle-left"></i> Previous</a></li>
                          <li class="disabled"><a href="#"><i
																			class="fa fa-angle-left"></i></a></li>
                          <li><a href="#">1</a></li>
                          <li class="active"><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          <li><a href="#">Next <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- end col -->
                  <div class="clearfix"></div>
                </div>
                <!-- end row --> 
              </div>
            </div>
            <div class="row">
            	<div class="col-md-12 text-right">
            		<p:commandButton value="&#xf0a9;&nbsp;#{msg['process']}"
							class="btn btn-sm fa-input btn-info waves-effect w-md waves-light m-l-10" />
            	</div>
            </div>
          </div>
        </div>
		</div>	
		</div>	
	</ui:define>
</ui:composition>