<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('TRANSFER_LIST')}" /> 
		</f:metadata>
		<title>InfoTex | Transfer Request / Deputation List</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['tra_req_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['tra_req_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title m-t-5">
						<span class="textb"><p:outputLabel id="totalSize"
								value="#{employeeTransferDetailsBean.totalRecords}"
								styleClass="textb play_class" /> </span> -
						#{msg['transferrequest']}(s)
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton id="joiningId"
								value="&#xed6e;&nbsp;#{msg['joining_details']}"
								rendered="#{employeeTransferDetailsBean.selectedEmployeeTransfer.status eq 'RELIEVING_FINAL_APPROVED' and loginBean.userFeatures['TRANSFER_JOINING']}"
								title="#{msg['joining_details']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn resbutmt5 bg-success  font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('JOINING')}" />

							<p:commandButton id="releaveId"
								rendered="#{employeeTransferDetailsBean.deputationFlag}"
								value="&#xed6e;&nbsp;#{msg['relieve']}"
								title="#{msg['joining_details']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn resbutmt5 bg-success  font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('RELIVE')}" />

							<p:commandButton id="rejoiningId"
								value="&#xed6e;&nbsp;#{msg['joined_on']}"
								rendered="#{employeeTransferDetailsBean.joinedonflag and loginBean.userFeatures['TRANSFER_REJOINING']}"
								title="#{msg['rejoin_details']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn resbutmt5 bg-success  font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('REJOINING')}" />

							<p:commandButton id="addId" value="&#xea0e; #{msg['add']}"
								rendered="#{employeeTransferDetailsBean.add and loginBean.userFeatures['TRANSFER_ADD']}"
								title="#{msg['add']}" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-success font-iconmoon "
								action="#{employeeTransferDetailsBean.showPage('ADD')}" />

							<p:commandButton id="checkavailabilityId"
								value="&#xed6e;&nbsp;#{msg['check_availability']}"
								rendered="#{(employeeTransferDetailsBean.selectedEmployeeTransfer.status eq 'REQUEST_FINAL_APPROVED' and employeeTransferDetailsBean.selectedEmployeeTransfer.category eq 'Transfer') 
								and loginBean.userFeatures['TRANSFER_CHECK_AVAILABILITY']}"
								title="&#xed6e;&nbsp;#{msg['check_availability']}"
								update="growls" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn resbutmt5 bg-success  font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('APPROVE')}" />

							<p:commandButton id="editId" value="&#xe912; #{msg['edit']}"
								rendered="#{employeeTransferDetailsBean.edit and loginBean.userFeatures['TRANSFER_EDIT']}"
								update="growls" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['edit']}"
								class="btn bg-primary font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('EDIT')}" />
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								title="#{msg['view']}" update="growls"
								onclick="PF('progressDlg').show();"
								rendered="#{loginBean.userFeatures['TRANSFER_VIEW']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeTransferDetailsBean.showPage('VIEW')}"
								class="btn bg-info font-iconmoon" />
							<p:commandButton id="deleteId" value="&#xe99e; #{msg['delete']}"
								rendered="false" update="growls"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['delete']}"
								class="btn bg-danger font-iconmoon"
								action="#{employeeTransferDetailsBean.showPage('DEL')}" />
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}" id="clearId"
								update="growls" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeTransferDetailsBean.showPage('LIST')}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon" />
						</h:panelGroup>
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmUserDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmUserDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{employeeTransferDetailsBean.deleteRecord}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>

			<div class="panel">
				<div class="panel-body p-0 pg-scroll-panel-1">
					<div class="table-responsive">
						<p:dataTable id="transferTableId" widgetVar="transferTable"
							rowIndexVar="idx" lazy="true" rowKey="#{transfer.id}"
							selection="#{employeeTransferDetailsBean.selectedEmployeeTransfer}"
							var="transfer"
							value="#{employeeTransferDetailsBean.lazyEmployeeTransferModel}"
							paginator="true" paginatorPosition="bottom" rows="10"
							rowsPerPageTemplate="5,10,15"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

							<p:ajax event="rowSelectRadio"
								listener="#{employeeTransferDetailsBean.onRowSelect}"
								update="#{p:component('joiningId')},#{p:component('releaveId')},#{p:component('rejoiningId')},
								#{p:component('menupanel')},#{p:component('addId')},#{p:component('checkavailabilityId')},
								#{p:component('editId')},#{p:component('viewId')},#{p:component('deleteId')},
								#{p:component('clearId')}" />
							
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column headerText="#{msg['cat']}" class="width-10"
								filterable="true" sortable="true" filterMatchMode="contains"
								filterBy="#{transfer.category}" sortBy="#{transfer.category}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control"
										onchange="PF('transferTable').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}" />
										<f:selectItem itemLabel="Transfer" itemValue="Transfer" />
										<f:selectItem itemLabel="Deputation" itemValue="Deputation" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{transfer.category}" />
							</p:column>

							<p:column headerText="#{msg['trans_type']}" class="width-12"
								filterable="true" sortable="true" filterMatchMode="contains"
								filterBy="#{transfer.transferType}"
								sortBy="#{transfer.transferType}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('transferTable').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="Other region" itemValue="InterRegion" />
										<f:selectItem itemLabel="Within region"
											itemValue="IntraRegion" />
										<f:selectItem itemLabel="Section" itemValue="Section" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									value="#{transfer.transferType eq 'IntraRegion' ? 'Within region':'Other region'}" />
							</p:column>
							<p:column headerText="#{msg['ref_num']}" filterable="true"
								sortable="true" filterMatchMode="contains"
								filterBy="#{transfer.transferReferenceNo}"
								sortBy="#{transfer.transferReferenceNo}">
								<h:outputText value="#{transfer.transferReferenceNo}" />
							</p:column>

							<p:column headerText="#{msg['emp_id']}" filterable="true"
								sortable="true" filterMatchMode="contains"
								filterBy="#{transfer.employeeCode}"
								sortBy="#{transfer.employeeCode}">
								<h:outputText value="#{transfer.employeeCode}" />
							</p:column>

							<p:column headerText="#{msg['emp_name']}" filterable="true"
								sortable="true" filterMatchMode="contains"
								filterBy="#{transfer.employeeName}"
								sortBy="#{transfer.employeeName}">
								<h:outputText value="#{transfer.employeeName}" />
							</p:column>
							<p:column headerText="#{msg['transfer_from']}" class="width-10"
								filterable="true" sortable="true" filterMatchMode="exact"
								filterBy="#{transfer.transferFrom}"
								sortBy="#{transfer.transferFrom}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('transferTable').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems
											value="#{employeeTransferDetailsBean.headRegionalOfficeList}"
											var="transferFrom" itemLabel="#{transferFrom.name}"
											itemValue="#{transferFrom.name}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{transfer.transferFrom}" />
							</p:column>
							<p:column headerText="#{msg['transfer_to']}" class="width-10"
								filterable="true" sortable="true" filterMatchMode="exact"
								filterBy="#{transfer.transferTo}"
								sortBy="#{transfer.transferTo}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('transferTable').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems
											value="#{employeeTransferDetailsBean.headRegionalOfficeList}"
											var="transferTo" itemLabel="#{transferTo.name}"
											itemValue="#{transferTo.name}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{transfer.transferTo}" />
							</p:column>

							<p:column headerText="#{msg['created_date']}"
								class="text-center width-12" filterable="true" sortable="true"
								filterMatchMode="exact" filterBy="#{transfer.createdDate}"
								sortBy="#{transfer.createdDate}">
								<f:facet name="filter">
									<p:calendar id="meetdate3" pattern="dd-MMM-yyyy" tabindex="4"
										yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
										navigator="true" placeholder="dd-MMM-yyyy"
										onchange="PF('transferTable').filter()"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('transferTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{transfer.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['status']}"
								class="text-center width-12" filterable="true" sortable="true"
								filterMatchMode="contains" filterBy="#{transfer.status}"
								sortBy="#{transfer.status}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('transferTable').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="REQUEST_SUBMITTED"
											itemValue="REQUEST_SUBMITTED" />
										<f:selectItem itemLabel="REQUEST_APPROVED"
											itemValue="REQUEST_APPROVED" />
										<f:selectItem itemLabel="REQUEST_REJECTED"
											itemValue="REQUEST_REJECTED" />
										<f:selectItem itemLabel="REQUEST_FINAL_APPROVED"
											itemValue="REQUEST_FINAL_APPROVED" />

										<f:selectItem itemLabel="AVAILABILITY_SUBMITTED"
											itemValue="AVAILABILITY_SUBMITTED" />
										<f:selectItem itemLabel="AVAILABILITY_APPROVED"
											itemValue="AVAILABILITY_APPROVED" />
										<f:selectItem itemLabel="AVAILABILITY_REJECTED"
											itemValue="AVAILABILITY_REJECTED" />
										<f:selectItem itemLabel="AVAILABILITY_FINAL_APPROVED"
											itemValue="AVAILABILITY_FINAL_APPROVED" />

										<f:selectItem itemLabel="RELIEVING_SUBMITTED"
											itemValue="RELIEVING_SUBMITTED" />
										<f:selectItem itemLabel="RELIEVING_APPROVED"
											itemValue="RELIEVING_APPROVED" />
										<f:selectItem itemLabel="RELIEVING_REJECTED"
											itemValue="RELIEVING_REJECTED" />
										<f:selectItem itemLabel="RELIEVING_FINAL_APPROVED"
											itemValue="RELIEVING_FINAL_APPROVED" />

										<f:selectItem itemLabel="JOINING_SUBMITTED"
											itemValue="JOINING_SUBMITTED" />
										<f:selectItem itemLabel="JOINING_APPROVED"
											itemValue="JOINING_APPROVED" />
										<f:selectItem itemLabel="JOINING_REJECTED"
											itemValue="JOINING_REJECTED" />
										<f:selectItem itemLabel="JOINING_FINAL_APPROVED"
											itemValue="JOINING_FINAL_APPROVED" />
										<f:selectItem itemLabel="JOINEDON_FINAL_APPROVED"
											itemValue="JOINED_ON_FINAL_APPROVED" />

									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{transfer.status}"
									styleClass="label label-warning width-custom"
									rendered="#{transfer.status eq 'REQUEST_SUBMITTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-primary width-custom"
									rendered="#{transfer.status eq 'REQUEST_APPROVED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-danger width-custom"
									rendered="#{transfer.status eq 'REQUEST_REJECTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-success width-custom"
									rendered="#{transfer.status eq 'REQUEST_FINAL_APPROVED'}" />

								<h:outputText value="#{transfer.status}"
									styleClass="label label-warning width-custom"
									rendered="#{transfer.status eq 'AVAILABILITY_SUBMITTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-primary width-custom"
									rendered="#{transfer.status eq 'AVAILABILITY_APPROVED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-danger width-custom"
									rendered="#{transfer.status eq 'AVAILABILITY_REJECTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-success width-custom"
									rendered="#{transfer.status eq 'AVAILABILITY_FINAL_APPROVED'}" />

								<h:outputText value="#{transfer.status}"
									styleClass="label label-warning width-custom"
									rendered="#{transfer.status eq 'RELIEVING_SUBMITTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-primary width-custom"
									rendered="#{transfer.status eq 'RELIEVING_APPROVED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-danger width-custom"
									rendered="#{transfer.status eq 'RELIEVING_REJECTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-success width-custom"
									rendered="#{transfer.status eq 'RELIEVING_FINAL_APPROVED'}" />

								<h:outputText value="#{transfer.status}"
									styleClass="label label-warning width-custom"
									rendered="#{transfer.status eq 'JOINING_SUBMITTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-primary width-custom"
									rendered="#{transfer.status eq 'JOINING_APPROVED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-danger width-custom"
									rendered="#{transfer.status eq 'JOINING_REJECTED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-success width-custom"
									rendered="#{transfer.status eq 'JOINING_FINAL_APPROVED'}" />
								<h:outputText value="#{transfer.status}"
									styleClass="label label-success width-custom"
									rendered="#{transfer.status eq 'JOINED_ON_FINAL_APPROVED'}" />
							</p:column>
							<p:column headerText="#{msg['select']}"
								styleClass="text-center 4" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>

		</div>

	</ui:define>
</ui:composition>