<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Transfer Request</title>
		<h:form id="form1">
			<div class="page-header page-header-default"> 
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['joined_on']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['human_resource']}</li>
							<li class="active">#{msg['joined_on']}</li>
						</ul>
					</div>
				</div>
			</div>

			<p:outputPanel id="pannel">
				<div class="content">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-15">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">#{msg['transferrequest']}</h6>
							</div>
							<div class="page-scroll">
								<div class="panel-body p-t-10">
									<h6 class="bord_bot m-t-0">
										<span class="iform-title p-0 "><i
											class="fa fa-th-large m-r-5"></i> #{msg['emp_details']}</span>
									</h6>

									<div class="row view-style m-t-10">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['emp_id']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeMaster.empCode}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['emp_name']}" />
												<div class="input-group">
													<h:outputText
														value="#{employeeTransferDetailsBean.employeeMaster.firstName}"
														class="" />
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{employeeTransferDetailsBean.employeeMaster.personalInfoEmployment.department.name}" /></span>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['trans_type']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferType}"
													class="" />
											</div>
										</div>
									</div>

									<h6 class="bord_bot m-t-0">
										<span class="iform-title p-0 "><i
											class="fa fa-th-large m-r-5"></i> #{msg['transfer_from']}</span>
									</h6>

									<div class="row view-style m-t-10">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<!-- <h:outputText value="#{employeeTransferDetailsBean.employeeTransfer.employeeMaster.personalInfoEmployment.headAndRegionOffice.name}" class="" /> -->
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferFrom.name eq 'HEAD OFFICE' ? 'HEAD OFFICE':
										employeeTransferDetailsBean.employeeTransfer.transferFrom.name}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity_master']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferFrom.name eq 'HEAD OFFICE' ? 'HEAD OFFICE':
										employeeTransferDetailsBean.employeeTransfer.entityFrom.entityName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferFrom.name eq 'HEAD OFFICE' ? 'HEAD OFFICE':
											employeeTransferDetailsBean.employeeTransfer.transferFrom.name}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['sec']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.sectionFrom.name}"
													class="" />
											</div>
										</div>
									</div>


									<h6 class="bord_bot m-t-0">
										<span class="iform-title p-0 "><i
											class="fa fa-th-large m-r-5"></i> #{msg['transfer_to']}</span>
									</h6>
									<div class="row view-style m-t-10">
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['transfer_type']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferType eq 'InterRegion'? 'Other region':'Within region'}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.headRegOffice.name}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity_master']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.entityTo.entityName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-sm-3 col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['entity']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferTo.name}"
													class="" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="view-style">
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['sec']}" />
													<h:outputText
														value="#{employeeTransferDetailsBean.employeeTransfer.sectionTo.name}"
														class="" />
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['relive_date']}" />
													<h:outputText
														value="#{employeeTransferDetailsBean.employeeTransfer.relievedOn}"
														class="">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="GMT+05:30" />
													</h:outputText>
												</div>
											</div>
										</div>


									</div>

									<div class="row view-style">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['reason']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.reason}"
													class="" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 view-style">
											<div class="form-group">
												<p:outputLabel value="#{msg['transfer_availability']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.transferAvailability?'Yes':'No'}"
													class="" />
											</div>
										</div>
										<p:outputPanel
											rendered="#{employeeTransferDetailsBean.employeeTransfer.transferAvailability}">
											<div class="col-lg-3 col-md-3 col-sm-6 view-style">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['transfer_availability']} #{msg['from_date']}" />
													<h:outputText
														value="#{employeeTransferDetailsBean.employeeTransfer.availabilityFromDate}"
														class="">
														<f:convertDateTime pattern="dd-MMM-yyyy" />
													</h:outputText>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 view-style">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['no_of_availability_position']}" />
													<h:outputText
														value="#{employeeTransferDetailsBean.employeeTransfer.availabilityPosition}"
														class="" />
												</div>
											</div>
										</p:outputPanel>
										<div class="col-lg-3 col-md-3 col-sm-6 view-style">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_joining']}" />
												<h:outputText
													value="#{employeeTransferDetailsBean.employeeTransfer.joiningDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row">
										<div
											class="col-lg-3 col-md-3 col-sm-6 label-form custom-form-1">
											<p:outputLabel value="#{msg['joined_on']}" />
											<div class="form-group form-group_calend">

												<p:calendar id="joinId" placeholder="dd-MMM-yyyy"
													requiredMessage="#{msg['join_date_req']}"
													mindate="#{employeeTransferDetailsBean.employeeTransfer.joiningDate}"
													required="#{not empty param[submit.clientId] || not empty param[approveBind.clientId]}"
													value="#{employeeTransferDetailsBean.joinedOn}"
													styleClass="form-control-1 calend-icon-1"
													pattern="dd-MMM-yyyy" navigator="true">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</p:calendar>
											</div>
										</div>
										<div
											class="col-lg-9 col-md-9 col-sm-6 label-form custom-form-1 btn-file-upload">
											<p:outputLabel value="&nbsp;" styleClass="dis-block" />
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-7">
												<p:inputText class="form-control" id="docName"
													value="#{employeeTransferDetailsBean.reJoinFileName}"
													disabled="true" />
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div
													class=" no-padding contact-upload upload-popup pull-left">


													<p:fileUpload
														fileUploadListener="#{employeeTransferDetailsBean.rejoinFileUpload}"
														onstart="PF('progressDlg').show();" id="recLetter"
														oncomplete="PF('progressDlg').hide();"
														label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
														styleClass="btn-upload" mode="advanced" auto="true"
														sizeLimit="10000000" update="docName growls"
														multiple="true">
													</p:fileUpload>

												</div>
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-12"></div>



										<div class="col-md-6 col-lg-6 col-sm-12 text-right">
											<p:commandButton value="&#xeddf; #{msg['back']}"
												title="#{msg['back']}" onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();"
												action="#{employeeTransferDetailsBean.showPage('LIST')}"
												styleClass="btn btn-sm bg-info font-iconmoon m-l-10">
											</p:commandButton>
											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												action="#{employeeTransferDetailsBean.saveRejoin}"
												class="btn bg-success heading-btn  font-iconmoon"
												onclick="PF('notedialog').hide();" />


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>