<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Bank Payment List </title>
		 
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['bnk_pmt']} - #{msg['list']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['finance']}</li>
						<li>#{msg['cash_sec']}</li>
						<li class="active">#{msg['bnk_pmt']} - #{msg['list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
		
		
		
		
		<div class="row m-t-0 panel" style="margin:0 2px 10px 2px;"> 
		 
		 <center>
		 
 	<div style="width:70%">
		 
  
	<div class="m-t-0">
		
		<div style="padding: 8px 0; text-align:center;">
		
								<div class="text-nowrap" >
								
								
									
										<div class="row">
										
											<div class="col-md-4 ">
											
											
											<div class="media no-margin">
								  

								<div class="media-body text-left">
							
								
			<b><big>(45)</big></b>
			
			
		<span class="text-size-mini"> Number of Vouchers</span>
		
		<div class="progress progress-slim" style="width: 50%;">
                   						
                   						 <div class="progress-bar bg-info-gadient" role="progressbar" style="width:100%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										
                  										</div>	
		
		 <div class="col-sm-10 col-xs-12"> <h3 class="no-margin text-semibold font-size-pro text-info"><i class="fa fa-inr icon-2x text-info" aria-hidden="true" ></i> 50,0000</h3> </div>
									
								</div>
								
							</div>
											
											</div>
				
											<div class="col-md-4">
											
											<div class="media no-margin">
								  

								<div class="media-body text-left">
							
								
			<b><big>(30)</big></b>
		<span class="text-size-mini">Number of Vouchers Paid</span>
		
		<div class="progress progress-slim" style="width: 58%;">
                   						
                   						 <div class="progress-bar bg-success-gadient" role="progressbar" style="width:100%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										
                  										</div>	
		
		
		 <div class="col-sm-10 col-xs-12"> <h3 class="no-margin text-semibold font-size-pro text-success"><i class="fa fa-inr icon-2x" aria-hidden="true" ></i> 30,0000</h3> </div>
									
								</div>
								
							</div>
												
											</div>
					
											<div class="col-md-4">
											
											
											<div class="media no-margin">
								  

								<div class="media-body text-left">
							
								
			<b><big>(15)</big></b>
		<span class="text-size-mini">Number of Vouchers yet to be Paid</span>
		
		<div class="progress progress-slim" style="width: 72%;">
                   						
                   						 <div class="progress-bar bg-danger-gadient" role="progressbar" style="width:100%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										
                  										</div>	
		
		 <div class="col-sm-10 col-xs-12"> <h3 class="no-margin text-semibold font-size-pro  text-warning"><i class="fa fa-inr icon-2x" aria-hidden="true" ></i> 20,0000</h3> </div>
									
								</div>
								
							</div>
											
								 									
											</div>
											
									 			 
										</div>
										
										
									 
									 
								</div>	
				 
		
		</div>
		
	</div>
	
 </div>
 
 </center>
 
 <!--  <div class="col-md-1" style="border-left: 1px solid #d1cece;"> </div>
		 
<div class="col-md-6"></div>
	
	
 	<div class="col-md-6 " style="border-left: 1px solid #d1cece; min-height:66px;">
		
			<div class="m-t-10 ">
					<div class="col-sm-6 col-md-3">
						<div class=""> panel-body-accent
							<div class="media no-margin">
								  

								<div class="media-body text-right">
		<div class="col-sm-2 col-xs-12"> 
		 </div>  
		 <div class="col-sm-10 col-xs-12"> <h3 class="no-margin text-semibold font-size-pro text-info"><i class="fa fa-inr icon-2x text-info" aria-hidden="true" ></i> 652,549</h3> </div>
									<span class="text-size-mini">Cash Opening Balance</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class=" "> 
							<div class="media no-margin border-left-panel">
							 	  

								<div class="media-body text-right">
								<div class="col-sm-2 col-xs-12"> 
								
								 </div>  
								<div class="col-sm-10 col-xs-12">	<h3 class="no-margin text-semibold font-size-pro text-success"><i class="fa fa-inr icon-1x text-success" aria-hidden="true" ></i>  245,382</h3> </div> <i class="icon-enter6 icon-1x text-success-400 "></i>
									<span class=" text-size-mini">Cash Received</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 border-left-panel">
						<div class="">
							<div class="media no-margin">
							
								<div class="media-body text-right">
								<div class="col-sm-2 col-xs-12">
								
								 
								</div>  
								<div class="col-sm-10 col-xs-12"> 	<h3 class="no-margin text-semibold font-size-pro"> <i class="fa fa-inr icon-1x" aria-hidden="true" ></i> 54,390</h3> </div>
									<span class="text-size-mini ">Cash Payment</span>
								</div>

								
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 border-left-panel">
						<div class="">
							<div class="media no-margin">
								
								<div class="media-body text-right">
								<div class="col-sm-2 col-xs-12"> 
								 
								
								</div>  <div class="col-sm-10 col-xs-12"><h3 class="no-margin text-semibold font-size-pro text-warning"> <i class="fa fa-inr icon-1x text-warning" aria-hidden="true" ></i> 389,438</h3> </div>
									<span class="text-size-mini">Available Cash Balance</span>
								</div>
							</div>
						</div>
					</div>
				</div>	
 
  </div> -->
		 
</div>
		
		
		
		
		
		
	<!-- 	
	<div class="row m-t-0" style="margin:0 2px 0 2px;"> 
		 
 	<div class="col-md-5 panel">
		 
  
	<div class="m-t-0">
		
		<div style="padding: 8px 0;">
		
								<div class="text-nowrap" >
									
										<div class="row">
										
											<div class="col-md-4 ">
											 
								<div class="progress progress-slim">
                   						
                   						 <div class="progress-bar bg-info-gadient" role="progressbar" style="width:75%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										
                  										</div>
                  										
                  										<div class="media-left">
													<h5 class="text-semibold no-margin" style="font-size:15px;">45 - 10,0000</h5>
												 
													<span class="text-size-mini"> Number of Vouchers</span>
													
												</div>
											</div>
				
											<div class="col-md-4">
											 
												 <div class="progress progress-slim">
                   						 <div class="progress-bar bg-success-gadient" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										</div>
                  										
                  										<div class="media-left">
													<h5 class="text-semibold no-margin" style="font-size:15px;">30 - 70,00 000  </h5>
													<span class="text-size-mini"> Number of Vouchers Paid</span>
													
												</div>
											</div>
					
											<div class="col-md-4">
											 
												 <div class="progress progress-slim">
                   						 <div class="progress-bar bg-danger-gadient" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  										</div>
                  										
                  										<div class="media-left">
													<h5 class="text-semibold no-margin" style="font-size:15px;">15 - 30,00 000 </h5>
												<span class="text-size-mini"> Number of Vouchers yet to be Paid</span>
													
												</div>
											</div>
											
									 			 
										</div>
									 
								</div>	
				 
		
		</div>
		
	</div>
	
 </div>
 
 
 
 <div class="col-md-1" style="border-left:1px solid #d1cece; min-height:66px; margin-right:0px;  padding-right:0px;"> </div>
		 
	 
 	<div class="col-md-6 panel" style="border-left: 1px solid #d1cece; min-height:66px;">
		
			<div class="m-t-10 ">
					<div class="col-sm-6 col-md-3">
						<div class=""> panel-body-accent
							<div class="media no-margin">
								  

								<div class="media-body text-right">
		<div class="col-sm-4 col-xs-12"> 
		 </div>  
		 <div class="col-sm-8 col-xs-12"> <h3 class="no-margin text-semibold font-size-pro text-info"><i class="fa fa-inr icon-2x text-info" aria-hidden="true" ></i> 652,549</h3> </div>
									<span class="text-size-mini">Cash Opening Balance</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class=" "> 
							<div class="media no-margin border-left-panel">
							 	  

								<div class="media-body text-right">
								<div class="col-sm-4 col-xs-12"> 
								
								 </div>  
								<div class="col-sm-8 col-xs-12">	<h3 class="no-margin text-semibold font-size-pro text-success"><i class="fa fa-inr icon-1x text-success" aria-hidden="true" ></i>  245,382</h3> </div> <i class="icon-enter6 icon-1x text-success-400 "></i>
									<span class=" text-size-mini">Cash Received</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 border-left-panel">
						<div class="">
							<div class="media no-margin">
							
								<div class="media-body text-right">
								<div class="col-sm-4 col-xs-12">
								
								 
								</div>  
								<div class="col-sm-8 col-xs-12"> 	<h3 class="no-margin text-semibold font-size-pro"> <i class="fa fa-inr icon-1x" aria-hidden="true" ></i> 54,390</h3> </div>
									<span class="text-size-mini ">Cash Payment</span>
								</div>

								
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3 border-left-panel">
						<div class="">
							<div class="media no-margin">
								
								<div class="media-body text-right">
								<div class="col-sm-4 col-xs-12"> 
								 
								
								</div>  <div class="col-sm-8 col-xs-12"><h3 class="no-margin text-semibold font-size-pro text-warning"> <i class="fa fa-inr icon-1x text-warning" aria-hidden="true" ></i> 389,438</h3> </div>
									<span class="text-size-mini">Available Cash Balance</span>
								</div>
							</div>
						</div>
					</div>
				</div>	
 
  </div>
		 
</div>
		 
	    -->
	  
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						<strong>7</strong> - #{msg['bnk_pmt']} - #{msg['list']} (s)<a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>    
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">  
					
					 	<p:commandButton value="&#xe9f3; #{msg['list']}" onclick="location.href='bankPaymentList.xhtml';"
							class="btn bg-primary font-iconmoon" title="List">
						</p:commandButton>  
					
					
						<p:commandButton value="&#xf0d6; #{msg['make_payment']}" immediate="true" onclick="window.location.href='createBankPayment.xhtml'"
						   action="#" class="btn bg-success fa-input font-iconmoon m-r-0" title="#{msg['make_payment']}">
						</p:commandButton>
						
						<p:commandButton value="&#xea18; #{msg['view']}"
							class="btn bg-info heading-btn font-iconmoon" title="#{msg['view']}">
						</p:commandButton>
						<!-- <p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
						</p:commandButton> -->
						<p:commandButton value="&#xe916; #{msg['clear']}"
							class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
						</p:commandButton>

					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center width-3"><span
										class="ui-column-title">#</span></th>
									<th class="ui-state-default text-center width-15">
									<p:outputLabel value="#{msg['voucher_no']}" />
									<span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<input type="text" class="form-control" />
									</th>
									<th class="ui-state-default text-center width-20">
									<p:outputLabel value="#{msg['transac_name']}" />
									<span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										
									 <input type="text" class="form-control" />
	
									</th>
									
									<th class="ui-state-default text-center width-15">
									<p:outputLabel value="#{msg['tran_typ']}" />
									<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										
											<input type="text"
												class="form-control" />
										
									</th>
									
									<th class="ui-state-default text-center width-15">
									<p:outputLabel value="#{msg['voucher_dt']}" />
									
										<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<p:calendar pattern="dd-MM-yyyy" placeholder="dd-mm-yyyy" mask="true" styleClass="form-control calend-icon" navigator="true" />
									</th>
									
									
									<th class="ui-state-default text-center width-15">
									<p:outputLabel class="fa-input" value="#{msg['ttl_amt']}&nbsp;(&#xf156; )" />
										 
										<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											
											<input type="text" class="form-control" />
									</th>
									
									
									<th class="ui-state-default text-center width-15">
									<p:outputLabel value="#{msg['amount']} #{msg['paid_dt']}" />
									<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<p:calendar pattern="dd-MM-yyyy" placeholder="dd-mm-yyyy" mask="true" styleClass="form-control calend-icon" navigator="true" />
											
									</th>




									<th class="ui-state-default text-center width-10">
									<p:outputLabel value="#{msg['status']}" />
									<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
											<select class="form-control">
												<option>Select</option>
												
												<option>Voucher Created</option>
												<option>Voucher Approved</option>
												<option>Voucher Paid </option>
											</select>
											
									</th>
									<th class="ui-state-default text-center width-4">
									<p:outputLabel value="#{msg['select']}" />
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td class="text-center">121-2017-36</td>
									<td>171081 / Payment Voucher Creation </td>
									<td class="text-left">Payment</td>
									<td class="text-center">5-Jan-2018</td>
									<td class="text-right">10526.00</td>
									
									<td class="text-center">10-Apr-2017</td>
									<td class="text-primary text-center"><span
										class="label label-warning width-custom">Voucher Created</span></td>
									<td class="text-center"><input type="checkbox" /></td>
								</tr>
								<tr>
									<td class="text-center">2</td>
									<td class="text-center">121-2017-37</td>
									<td>171089 / Payment Voucher Creation </td>
									<td class="text-left">Receipt </td>
									<td class="text-center">2-Jan-2018</td>
									<td class="text-right">10526.00</td>
									
									<td class="text-center">20-Mar-2017</td>
									<td class="text-success text-center">
									<span class="label label-success width-custom">Voucher Paid</span></td>
									<td class="text-center"><input type="checkbox" /></td>
								</tr>
								<tr>
									<td class="text-center">3</td>
									<td class="text-center">121-2017-38</td>
									<td>171090 / Payment Voucher Creation </td>
									<td class="text-left">Payment</td>
									<td class="text-center">15-Dec-2017</td>
									<td class="text-right">10526.00</td>
									<td class="text-center">27-Aug-2017</td>
									<td class="text-primary text-center">
									<span class="label label-info width-custom">Voucher Approved</span></td>
									<td class="text-center"><input type="checkbox" /></td>
								</tr>
								<tr>
									<td class="text-center">4</td>
									<td class="text-center">121-2017-36</td>
									<td>171077 / Payment Voucher Creation </td>
									<td class="text-left">Receipt </td>	
									<td class="text-center">5-Jan-2018</td>
									<td class="text-right">10526.00</td>
									
									<td class="text-center">10-Apr-2017</td>
									<td class="text-primary text-center"><span
										class="label label-info width-custom">Voucher Approved</span></td>
									<td class="text-center"><input type="checkbox" /></td> 
								</tr>
								<tr>
									<td class="text-center">5</td>
									<td class="text-center">121-2017-37</td>
									<td>171078 / Payment Voucher Creation </td>
										<td class="text-left">Payment</td>
									<td class="text-center">2-Jan-2018</td>
									<td class="text-right">10526.00</td>
								
									<td class="text-center">20-Mar-2017</td>
									<td class="text-success text-center"><span
										class="label label-success width-custom">Voucher Paid</span></td>
									<td class="text-center"><input type="checkbox" /></td> 
								</tr>
								<tr>
									<td class="text-center">6</td>
									<td class="text-center">121-2017-38</td>
									<td>171090 / Payment Voucher Creation</td>
									<td class="text-left">Receipt </td>
									<td class="text-center">15-Dec-2017</td>
									<td class="text-right">10526.00</td>
								    
								
									<td class="text-center">27-Aug-2017</td>
									<td class="text-primary text-center"><span
										class="label label-info width-custom">Voucher Approved</span></td>
									<td class="text-center"><input type="checkbox" /></td> 
								</tr>
								<tr>
									<td class="text-center">7</td>
									<td class="text-center">121-2017-36</td>
									<td>171077 / Payment Voucher Creation </td>
									<td class="text-left">Payment</td>
									<td class="text-center">5-Jan-2018</td>
									<td class="text-right">10526.00</td>
									
									<td class="text-center">10-Apr-2017</td>
									<td class="text-primary text-center"><span
										class="label label-warning width-custom">Voucher Created</span></td>
									<td class="text-center"><input type="checkbox" /></td> 
								</tr>
								<!-- <tr>
									<td class="text-center">8</td>
									<td class="text-center">121-2017-37</td>
									<td>171078/JPY Thiyagi Theethagiriyar..</td>
									<td class="text-center">2-Jan-2018</td>
									<td class="text-right">10526.00</td>
									<td class="text-center">20-Mar-2017</td>
									<td class="text-success text-center"><span
										class="label label-success width-custom">Completed</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
								<tr>
									<td class="text-center">9</td>
									<td class="text-center">121-2017-38</td>
									<td>171090/JPY Thiyagi Theethagiriyar..</td>
									<td class="text-center">15-Dec-2017</td>
									<td class="text-right">10526.00</td>
									<td class="text-center">27-Aug-2017</td>
									<td class="text-primary text-center"><span
										class="label label-warning width-custom">In Progress</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
								<tr>
									<td class="text-center">10</td>
									<td class="text-center">121-2017-36</td>
									<td>171077/JPY Thiyagi Theethagiriyar..</td>
									<td class="text-center">5-Jan-2018</td>
									<td class="text-right">10526.00</td>
									<td class="text-center">10-Apr-2017</td>
									<td class="text-primary text-center"><span
										class="label label-warning width-custom">In Progress</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr> -->
						 
					 			
							</tbody>
						</table>
					</div>
					<div
						class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<!-- <div class="dataTables_info m-r-10" id="DataTables_Table_0_info ">Showing
							1 to 10 of 15 entries</div> -->
						<div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info "><strong>(1 of 1)</strong></div>	
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;&lsaquo;</a></li>
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class="disabled"><a href="#">3</a></li>
							<li class="disabled"><a href="#">4</a></li>
							<li class="disabled"><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li><a href="#">&rsaquo;&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label> <select class="">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
									</select>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="dataTables_info m-b-0 m-l-10" id="DataTables_Table_2_info" role="status" aria-live="polite">
						<button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button>
					</div>
				</div>
			</div>
			
		 		
		
		
			

		</div>
	
	
	
	</ui:define>
</ui:composition>