<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Create Payroll Setting</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['create_pay_setting']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['pay_process']}</li>
							<li class="active">#{msg['create_pay_setting']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['enty_typ']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="entytype"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Head Office" itemValue="true" />
										<f:selectItem itemLabel="Regional Office" itemValue="false" />
										<f:selectItem itemLabel="D &amp; P Offcie" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['otype']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="officetype"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Head Office" itemValue="true" />
										<f:selectItem itemLabel="Chennai Region" itemValue="false" />
										<f:selectItem itemLabel="Madurai Region" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sub_otype']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="suboffice"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Product Warehouse" itemValue="true" />
										<f:selectItem itemLabel="Distribution" itemValue="false" />
										<f:selectItem itemLabel="ISSR" itemValue="false" />
										<f:selectItem itemLabel="Showroom" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['showrm']}" />
									<h:selectOneMenu id="showroom"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Showroom1" itemValue="true" />
										<f:selectItem itemLabel="Showroom2" itemValue="false" />
										<f:selectItem itemLabel="Showroom3" itemValue="false" />
										<f:selectItem itemLabel="Showroom4" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_type']}" />
									<div class="form-group">
										<h:selectOneMenu id="offentity"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Foregion Service" itemValue="true" />
											<f:selectItem itemLabel="Probation" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['cadre']}" />
									<div class="form-group">
										<h:selectOneMenu id="cadre"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Cadre1" itemValue="true" />
											<f:selectItem itemLabel="Cadre2" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<div class="form-group">
										<h:selectOneMenu id="designation"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Junior Assistance" itemValue="true" />
											<f:selectItem itemLabel="Senior Manager" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<p:inputText disabled="" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
						</div>
						<div class="row">
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['map_payroll']}</span>
							</h4>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pay_head_type']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="payheadtype"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Allowance" itemValue="true" />
											<f:selectItem itemLabel="Special Allowance" itemValue="false" />
											<f:selectItem itemLabel="Deductions" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pay_head']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="payhead"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Hill Allowance" itemValue="true" />
											<f:selectItem itemLabel="Special Allowance" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ac_ledger']}" />
									<p:inputText disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['value_type']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="payhead"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Amount" itemValue="true" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['value_on']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="payhead"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Payscale" itemValue="true" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sel_payscale']}" />
									<span class="mand-red">*</span>
									<div class="form-group">
										<h:selectOneMenu id="payhead"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="6384-10178" itemValue="true" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['enter_amt']}" />
									<p:inputText disabled="true" styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['enter_per']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled=" " dir="rtl" placeholder="16932.00"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-12 text-right">
								<div class="form-group">
									<h:commandButton value="&#xf06e;&nbsp;#{msg['view_dtl']}"
										styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></h:commandButton>
								</div>
							</div>
						</div>
						<!-- end row -->
						<div class="col-md-12 text-right ph0">
							<h:commandButton value="&#xf021;&nbsp;#{msg['reset']}"
								styleClass="btn btn-sm btn-info waves-effect waves-light m-r-10 fa-input"></h:commandButton>
							<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></h:commandButton>
							<h:commandButton value="&#xf0c7;&nbsp;#{msg['save']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
