<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{employeeInsuranceBean}"></ui:param>
		<ui:param name="insuranceDetails" value="#{bean.empInsuranceDetails}"></ui:param>
		<ui:param name="insuranceMaster"
			value="#{insuranceDetails.insuranceMaster}"></ui:param>
		<ui:param name="familyMembers"
			value="#{employeeInsuranceBean.insuranceDtoList}"></ui:param>
		<title>InfoTex | View Insurance</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_insurance']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['vi_insurance']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading ">
					<h6 class="panel-title">#{msg['curr_satat']}</h6>
				</div>
				<div class="panel-body pg-scroll-panel-1">
					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ho_ro']}" />
								<h:outputText value="#{bean.selectedHoRo.name}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['enty_typ']}" />
								<h:outputText
									value="#{bean.selectedEntityTypeMaster.entityName}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['entity']}" />
								<h:outputText value="#{bean.selectedEntityMaster.name}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['dept']}" />
								<h:outputText value="#{bean.selectedDepartement.name}" class="" />
							</div>
						</div>
					</div>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['emp_name_code']}" />
								<h:outputText
									value="#{bean.selectedEmployee.empCode} / #{bean.selectedEmployee.firstName}"
									class="" />
							</div>
						</div>
						<p:outputPanel rendered="#{!bean.otherInsuranceFlag}">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ins_type']}" />
									<h:outputText value="#{bean.selectedInsuranceMaster.name}"
										class="" />
								</div>
							</div>
						</p:outputPanel>
						<p:outputPanel rendered="#{bean.otherInsuranceFlag}">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_ins_type']}" />
									<h:outputText
										value="#{bean.selectedEmpPersonalInsurance.companyName}"
										class="" />
								</div>
							</div>
						</p:outputPanel>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['start_month']} - #{msg['year']}" />
								<h:outputText
									value="#{insuranceDetails.startMonth} - #{insuranceDetails.startYear}"
									class="">
									<f:convertDateTime
										pattern="#{loginBean.userInfoDTO.dateFormat}"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['maturity_month']} - #{msg['year']}" />
								<h:outputText
									value="#{insuranceDetails.maturityMonth} - #{insuranceDetails.maturityYear}"
									class="">
									<f:convertDateTime
										pattern="#{loginBean.userInfoDTO.dateFormat}"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</div>
						</div>
					</div>

					<p:outputPanel rendered="#{bean.otherInsuranceFlag}">
						<h5 class="bord_bot">
							<i class="fa fa-th-large m-r-5 m-t-0"></i><span
								class="iform-title">#{msg['other_insu_det']}</span>
						</h5>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['policy_num']}" />
									<h:outputText
										value="#{bean.selectedEmpPersonalInsurance.policyNumber}"
										class="">
										<f:convertNumber groupingUsed="true" minFractionDigits="2" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['insu_pre']}" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{bean.selectedEmpPersonalInsurance.premiumAmount}"
											class="fa-input dis-inlineblock">
											<f:convertNumber groupingUsed="true" minFractionDigits="2" />
										</h:outputText></span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group m-0">
									<p:outputLabel value="#{msg['payment_cycle']}" />
									<h:outputText
										value="#{bean.selectedEmpPersonalInsurance.recoveryPeriod}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group m-0">
									<p:outputLabel value="#{msg['insu_pre_amt']}" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{insuranceDetails.insurancePremiumAmount}"
											class="fa-input dis-inlineblock">
											<f:convertNumber groupingUsed="true" minFractionDigits="2" />
										</h:outputText></span>
								</div>
							</div>
							<!-- <div class="col-lg-3 col-md-3 col-sm-4">
							<div class="form-group m-0">
								<p:outputLabel value="#{msg['sanc_amt']} (₹)" />
								<h:outputText value="#{insuranceDetails.sanctionedAmount}"
									class="">
									<f:convertNumber groupingUsed="true" minFractionDigits="2" />
									</h:outputText>
							</div>
						</div> -->
						</div>
					</p:outputPanel>

					<div class="row view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['insured_amt']}" />
								<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
									<h:outputText value="#{insuranceDetails.insuranceAmount}"
										class="fa-input dis-inlineblock">
										<f:convertNumber groupingUsed="true" minFractionDigits="2" />
									</h:outputText></span>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group m-0">
									<p:outputLabel value="#{msg['insu_pre_amt']}" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{insuranceDetails.insurancePremiumAmount}"
											class="fa-input dis-inlineblock">
											<f:convertNumber groupingUsed="true" minFractionDigits="2" />
										</h:outputText></span>
								</div>
							</div>
						<ui:remove>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_member']}" />
								<h:outputText value="#{insuranceDetails.totalMembers}" class="" />
							</div>
						</div>
						</ui:remove>
					</div>


					<p:outputPanel rendered="#{bean.familyFlag}">
						<p:dataTable id="familyMemberList" var="data"
							styleClass="report-table m-b-15"
							widgetVar="familyMemberListTable" rowKey="#{data.id}"
							paginatorAlwaysVisible="false" value="#{bean.employeeFamilyList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							emptyMessage="#{msg['no_record_found']}">
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column headerText="#{msg['name']}">
								<h:outputText value="#{data.dependentName}" />
							</p:column>

							<p:column headerText="#{msg['dob']}"
								styleClass="text-center form-group_calend">
								<h:outputText value="#{data.dateOfBirth}">
									<f:convertDateTime
										pattern="#{loginBean.userInfoDTO.dateFormat}"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['age']}">
								<h:outputText value="#{data.age}" />
							</p:column>

							<p:column headerText="#{msg['reltnship']}">
								<h:outputText value="#{data.relationshipMaster.name}" />
							</p:column>

						</p:dataTable>
					</p:outputPanel>

					<div class="row view-style">
						<p:outputPanel rendered="#{bean.familyFlag}">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['tot_member']} (#{msg['including_emp']})" />
									<h:outputText value="#{insuranceDetails.totalMembers}" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['tot_pre_amount']} (#{msg['including_emp']})" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText value="#{insuranceDetails.totalPremium}"
											class="fa-input dis-inlineblock">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText></span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="Recovery Amount" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{insuranceDetails.recoveryAmount!=null ?insuranceDetails.recoveryAmount:0}"
											class="fa-input dis-inlineblock">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText></span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="Payable Amount" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{insuranceDetails.payableAmount !=null ?insuranceDetails.payableAmount:0}"
											class="fa-input dis-inlineblock">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText></span>
								</div>
							</div>
							<!-- <div class="col-lg-3 col-md-3 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['recovery_payable_amt']}" />
									<h:outputText value="#{bean.selectedPaymentCycle}"
										class="" />
								</div>
							</div> -->
						</p:outputPanel>
					</div>



					<div class="row label-form">
						<p:outputPanel rendered="#{bean.insuranceMasterDTO.forwardFor eq 'false'}">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_to']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<p:autoComplete id="forwardto" minQueryLength="2"
											styleClass="form-control" converter="#{entityConverter}"
											required="true"
											requiredMessage="#{msg['forward_to_required']}"
											value="#{bean.forwardTo}" itemValue="#{emp}" var="emp"
											itemLabel="#{emp.empName}"
											completeMethod="#{bean.loadAutoCompleteUserMaster}"
											effect="fade">
											<p:ajax event="itemSelect" update="forwardto"></p:ajax>
										</p:autoComplete>
										<ui:remove>
											<h:selectOneMenu id="forwardto" styleClass="form-control"
												required="true" disabled="#{bean.buttonFlag}"
												requiredMessage="#{msg['frwd_to']} #{msg['required']}"
												placeholder="#{msg['frwd_to']}"
												value="#{bean.insuranceMasterDTO.forwardTo}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItems value="#{bean.forwardToList}"
													var="userMaster"
													itemLabel="#{userMaster.empCode}/#{userMaster.empName}"
													itemValue="#{userMaster.id}"></f:selectItems>
											</h:selectOneMenu>
										</ui:remove>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['frwd_for']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardfor" styleClass="form-control"
											required="true" disabled="#{bean.previousApproval}"
											requiredMessage="#{msg['frwd_for']} #{msg['required']}"
											value="#{bean.insuranceMasterDTO.forwardFor}">
											<f:selectItem itemLabel="Select" noSelectionOption="true" />
											<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
											<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

						</p:outputPanel>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<p:commandButton value="&#xea18;&nbsp;#{msg['view_note']}"
								title="#{msg['view_note']}"
								styleClass="btn bg-info btn-md font-iconmoon m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>
							<!-- <p:commandButton value="&#xeb0d;" title="#{msg['comment']}"
								style="min-width:32px;"
								styleClass="btn bg-primary btn-md font-iconmoon"
								onclick="PF('notedialog').show();"></p:commandButton> -->
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 text-right">
							<h:panelGroup rendered="#{bean.approvalFlag}">
								<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
									onclick="PF('dlgComments2').show();"
									disabled="#{bean.buttonFlag}" title="#{msg['reject']}"
									rendered="#{loginBean.userFeatures['INSURENCE_REJECT']}"
									class="btn btn-sm bg-danger font-iconmoon">
								</p:commandButton>
								<p:commandButton
									value="&#xecf5;&nbsp;#{bean.insuranceMasterDTO.forwardFor eq 'false' ?  msg['approve'] :  msg['final_approve'] }"
									onclick="PF('dlgComments1').show();"
									title="#{bean.insuranceMasterDTO.forwardFor eq 'false' ?  msg['approve'] :  msg['final_approve'] }"
									disabled="#{bean.buttonFlag}"
									rendered="#{loginBean.userFeatures['INSURENCE_APPROVE']}"
									class="btn btn-sm bg-success font-iconmoon">
								</p:commandButton>
							</h:panelGroup>
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								title="#{msg['back']}" id="addId" update="growls"
								action="#{bean.showInsuranceListPage}" immediate="true"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-info font-iconmoon m-r-0 pull-right">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>


		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<h:form>
				<p:outputPanel id="approvePanel">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.insuranceMasterDTO.remarks}" id="comments1"
										rendered="true">
										<p:ajax update="comments1"></p:ajax>
									</p:inputTextarea>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer ph0 m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							update="approvePanel growls" title="#{msg['submit']}"
							oncomplete="PF('dlgComments1').hide();" process="@this"
							class="btn bg-success heading-btn  font-iconmoon"
							action="#{bean.approveInsurance}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<h:form>
				<p:outputPanel id="rejectPanel">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.insuranceMasterDTO.remarks}" id="comments2">
										<p:ajax update="comments2"></p:ajax>
									</p:inputTextarea>
								</div>
								<h:message for="comments2" class="validation-error-label" />
							</div>
						</div>
					</div>
					<div class="modal-footer ph0 m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							action="#{bean.rejectInsurance}" update="rejectPanel growls"
							oncomplete="PF('dlgComments2').hide();" process="@this">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>



		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0 top-100" width="80%">
			<h:form>
				<div class="panel-body p-0">
					<div class="tabbable view-note-editor">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="form-group">
									<p:textEditor id="note" cols="18" height="150" rendered="true"
										requiredMessage="#{msg['note_req']}" disabled="true"
										readonly="true" placeholder="Enter text ..."
										value="#{bean.insuranceMasterDTO.note}">
									</p:textEditor>
								</div>
								<div class="carousel slide prime-media-carousel" id="media">
									<div class="item  active">
										<div class="row">
											<div class="col-lg-12 ph0">
												<p:carousel value="#{bean.insuranceMasterDTO.viewList}"
													var="data" itemStyle="text-align:left" responsive="true">
													<div class="col-md-12 ph0">
														<div class="p-10 border-top-warning panel m-b-0">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h:panelGroup rendered="#{data.status=='INPROGRESS'}">
																		<h6 class="m-t-0 text-center">
																			<b>#{msg['created_by']}</b></h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			<b>#{msg['approved_by']}</b></h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.status=='FINAL_APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			<b>#{msg['final_approved_by']}</b></h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='REJECTED'}">
																		<h6 class="m-t-0 text-center">
																			<b>#{msg['rejected_by']}</b></h6>
																	</h:panelGroup>
																</li>
																<li>Name : #{data.empCode} / #{data.empName}</li>
																<li>Designation : #{data.empDesignation}</li>
																<li>Date : <h:outputText
																		value="#{data.createdDate}">
																		<f:convertDateTime pattern="dd-MM-yyyy"></f:convertDateTime>
																	</h:outputText></li>
															</ul>
														</div>
													</div>
												</p:carousel>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-10">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onsuccess="PF('notedialog').hide()" title="#{msg['cancel']}"
										class="btn bg-slate font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>