<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Asset Details</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Create Asset Details</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Personnel</li>
						<li>HR</li>
						<li>Admin</li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">Create Asset Details</li>
					</ul>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll no-padding-bottom">
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">Create Asset Details
							</a> <span class="pull-right text-13 m-r-25">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body no-padding-bottom">
							<div class="row label-form custom-form-1">
								<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['sus_ho_ro']}" />
								<span class="text-danger ">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Head Office" />
										<f:selectItem itemLabel="Salem" />
										<f:selectItem itemLabel="Madurai" />
										<f:selectItem itemLabel="Kanchipuram" />
										<f:selectItem itemLabel="Vellore" />
										<f:selectItem itemLabel="Chennai" />
										<f:selectItem itemLabel="Cuddalore" />
										<f:selectItem itemLabel="Thanjavur" />
										<f:selectItem itemLabel="Tirunelveli" />
										<f:selectItem itemLabel="Coimbatore" />
										<f:selectItem itemLabel="Bangalore" />
										<f:selectItem itemLabel="Mumbai" />
										<f:selectItem itemLabel="Vijayawada" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</div>

							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="Entity Type" />
								<span class="text-danger ">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['entity']}" />
								<span class="text-danger ">*</span>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<h:selectOneMenu styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Head Office" itemValue="true" />
										<f:selectItem itemLabel="Regional Office" itemValue="false" />
										<f:selectItem itemLabel="D &amp; P Offcie" itemValue="false" />
										<f:selectItem itemLabel="Showroom" itemValue="false" />
										<f:selectItem itemLabel="Select" itemValue="true" />
									</h:selectOneMenu>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['type_asset']}" />
								<span class="text-danger">*</span>
								<div class="form-group">
									<div class="form-control">
										<input type="radio" name="radio" value="movable"
											checked="checked" />
										<p:outputLabel value="Movable Asset" class="m-l-5" />
										<input type="radio" name="radio" value="immovable"
											class="m-l-10" />
										<p:outputLabel value="Immovable Asset" class="m-l-5" />
									</div>
								</div>
							</div>
						</div>
							</div>
							<div class="movable box" style="display: block;">
						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['movable']}</span>

						</h5>
						<div class="row custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_cate']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stack-check"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Furniture" itemValue="true" />
											<f:selectItem itemLabel="Land" itemValue="false" />
											<f:selectItem itemLabel="Building" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-cube"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Select"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sub_asset_cate']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stack-check"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Furniture" itemValue="true" />
											<f:selectItem itemLabel="Land" itemValue="false" />
											<f:selectItem itemLabel="Building" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_code']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="assetcode4" styleClass="form-control"
											disabled="true" />
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_desc']}" />
									<p:inputText id="assetdesc1" disabled="true"
										styleClass="form-control" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['qty']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-grid"></i></span>
										<p:inputText id="quantity" disabled=""
											styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['pdt_serial_no']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class=" icon-hash"></i></span>
										<p:inputText id="serialnumber" disabled=""
											styleClass="form-control" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['brand_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class=" icon-price-tag2"></i></span>
										<p:inputText id="brandname" disabled=""
											styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_order_no']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class=" icon-hash"></i></span>
										<p:inputText id="purchaseorder" disabled=""
											styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3 ">
								<div class="form-group form-group_calend">
									<p:outputLabel value="#{msg['pur_date']}" />
									<span class="text-danger ">*</span>
									<p:calendar pattern="DD-MM-YYYY" placeholder="dd-mm-yyyy"
										navigator="true" styleClass="form-control-1 calend-icon-1" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['sup']} #{msg['name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<p:inputText id="supplier" styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="#{msg['sup_date']}" />
								<div class="form-group">
									<p:calendar pattern="DD-MM-YYYY"
										styleClass="form-control-1 calend-icon-1"
										placeholder="dd-mm-yyyy" navigator="true" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['manufac']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<p:inputText id="manufacturer" styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['cost_asset']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText id="costofasset"
											styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['gst_amt']}"
										styleClass="fa-input" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText id="gstamount"
											styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_cost_asset']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText id="totalcost21" disabled="true"
											styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_useful_life']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-calendar"></i></span>
										<h:selectOneMenu id="usefullife"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="5 Years" itemValue="true" />
											<f:selectItem itemLabel="10 Years" itemValue="false" />
											<f:selectItem itemLabel="15 Years" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<!-- <div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dep_rate']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-percent"></i></span>
										<h:selectOneMenu id="depreciationrate"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="5%" itemValue="true" />
											<f:selectItem itemLabel="10%" itemValue="false" />
											<f:selectItem itemLabel="20%" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dep_value']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText id="depvalue" disabled="true"
											styleClass="form-control" />
									</div>
								</div>
							</div> -->

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['ins_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="LIC" itemValue="true" />
											<f:selectItem itemLabel="Aviva" itemValue="false" />
											<f:selectItem itemLabel="HDFC" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							
							
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="Insurance Amount" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText id="totalcost"  
											styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="#{msg['ins_start_date']}" />
								<div class="form-group">

									<p:calendar placeholder="DD-MM-YYYY" naigator="true"
										styleClass="form-control-1 calend-icon-1" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="#{msg['ins_end_date']}" />
								<div class="form-group">

									<p:calendar pattern="DD-MM-YYYY" placeholder="dd-mm-yyyy"
										styleClass="form-control-1 calend-icon-1" naigator="true" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="Warranty Start Date" />
								<div class="form-group">
									<p:calendar pattern="DD-MM-YYYY" placeholder="dd-mm-yyyy"
										styleClass="form-control-1 calend-icon-1" naigator="true" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="Warranty End Date" />
								<div class="form-group form-group_calend">
									<p:calendar pattern="DD-MM-YYYY" placeholder="dd-mm-yyyy"
										styleClass="form-control-1 calend-icon-1" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="#{msg['guran_date']}" />
								<div class="form-group form-group_calend">
										<p:calendar id="guarantee1" pattern="DD-MM-YYYY"
											placeholder="dd-mm-yyyy"
											styleClass="form-control-1 calend-icon-1" naigator="true" />
								</div>
							</div>

						</div>

						<div class="row custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<p:outputLabel value="AMC Name" />
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon"> <i
											class="icon-calendar"></i></span>
										<p:inputText class="form-control" value=""></p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group form-group_calend">
									<p:outputLabel value="AMC Start Date" />
										<p:calendar id="guarantee" pattern="DD-MM-YYYY"
											placeholder="dd-mm-yyyy"
											styleClass="form-control-1 calend-icon-1" naigator="true" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group form-group_calend">
									<p:outputLabel value="AMC End Date" />
										<p:calendar pattern="DD-MM-YYYY" naigator="true"
											placeholder="dd-mm-yyyy"
											styleClass="form-control-1 calend-icon-1" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stats-bars3"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Active" itemValue="true" />
											<f:selectItem itemLabel="In-Active" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['remark']}" />
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>

						
					</div>
							<div class="immovable box">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['immovable']}</span>
								</h5>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_cate']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-stack-check"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Land" itemValue="false" />
											<f:selectItem itemLabel="Building" itemValue="false" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-cube"></i></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Select"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>



							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_code']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="assetcode" styleClass="form-control"
											disabled="true" />
									</div>
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_desc']}" />
									<p:inputText id="assetdesc" disabled="true"
										styleClass="form-control" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['area_sqft']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-rulers"></i></span>
										<p:inputText styleClass="form-control" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['city']} / #{msg['town']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-city"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Chennai" itemValue="true" />
											<f:selectItem itemLabel="Madurai" itemValue="true" />
											<f:selectItem itemLabel="Trichy" itemValue="true" />
											<f:selectItem itemLabel="Selam" itemValue="true" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['sur_no']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText disabled="" styleClass="form-control" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['encumb_details']}"
										styleClass="fa-input" />
									<p:inputText disabled="" styleClass="form-control"></p:inputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_value']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-inr"></i></span>
										<p:inputText disabled="" styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_yr']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-calendar-check-o"></i></span>
										<p:inputText disabled="" styleClass="form-control" />
									</div>
								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Tax Amount (₹​)" />
									<div class="input-group">
										<span class="input-group-addon"> <i class="icon-cash3"></i></span>
										<p:inputText value="" styleClass="form-control text-right" />
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['land']} / #{msg['build_type']}" />
									<span class="text-danger ">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-home7"></i></span>
										<h:selectOneMenu styleClass="form-control">
											<f:selectItem itemLabel="Rent" />
											<f:selectItem itemLabel="Lease" />
											<f:selectItem itemLabel="Own" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Amount (₹​)" />
									<div class="input-group">
										<span class="input-group-addon"> <i class="icon-cash3"></i></span>
										<p:inputText value="" styleClass="form-control text-right" />
									</div>
								</div>
							</div>
							<div id="rentamount" class="col-lg-3 col-md-3 col-sm-12 ">
								<div class="form-group">
									<p:outputLabel value="Advance Amount (₹​)" />
									<div class="input-group">
										<span class="input-group-addon"> <i class="icon-cash3"></i></span>
										<p:inputText value="" styleClass="form-control text-right" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['pres_market_value']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-cash3"></i></span>
										<p:inputText styleClass="form-control"></p:inputText>
									</div>

								</div>
							</div>


							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Dispute if any Civil / Legal"
										styleClass="" />
									<div class="radio-box">
										<p:outputLabel class="radio-inline">
											<input id="yes" type="radio" value="1" class="styled" />
											Yes
										</p:outputLabel>
										<p:outputLabel class="radio-inline">
											<input id="no" type="radio" value="2" class="styled" />
											No
										</p:outputLabel>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['upload_encumb_doc']}" />
									<div class="">
										<input type="file" class="file-styled-primary" />
									</div>
								</div>
							</div>

						</div>

						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['remark']}" />
									<textarea class="form-control"></textarea>
								</div>
							</div>

						</div>
						
					</div>
							
							
							
							<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Forward to" />
									<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="inwardno" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Gurunathan M / Senior Manager"
												itemLabel="Gurunathan M / Senior Manager"></f:selectItem>
											<f:selectItem
												itemValue="Maha Gaurav V / Sales Representative"
												itemLabel="Maha Gaurav V / Sales Representative"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Forward for" />
									<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardfor" styleClass="form-control">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="Approval" itemLabel="Approval"></f:selectItem>
											<f:selectItem itemValue="Final Approval"
												itemLabel="Final Approval"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 m-t-10">
								<p:commandButton value="&#xf067; Create Note"
									title="#{msg['add']}"
									styleClass="btn btn-success btn-md fa-input m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

								<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
									style="min-width:32px;"
									styleClass="btn btn-primary btn-md font-iconmoon"
									onclick="PF('commentdialog').show();"></p:commandButton>
							</div>
							<div class="col-md-6 text-right m-t-10">
								<div class="form-group">
										<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
										class="btn btn-sm bg-slate fa-input m-l-10" />
									<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}"
										class="btn btn-sm btn-success waves-effect waves-light fa-input m-l-10" />
								</div>
							</div>
						</div>
						<!-- end row -->
						</div>
					</div>

					
						



						


						

					
				</div>
			</div>
		</div>



		<p:dialog header="Number of Arear Month" widgetVar="areardialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="true" styleClass="p-0" width="30%">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat m-b-0">
						<div class="row">
							<div class="col-lg-4">
								<h4>August</h4>
							</div>
							<div class="col-lg-4">
								<h4>September</h4>
							</div>
							<div class="col-lg-4">
								<h4>October</h4>
							</div>
						</div>
					</div>



				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog header="Create Note" widgetVar="notedialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			draggable="true" styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body modal-lg p-0">
						<div class="tabbable wysihtml5-tabc">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="panel panel-flat">
										<form action="#">
											<div class="form-group text-wysihtml5-toolbar m-b-0">
												<textarea cols="18" rows="18"
													class="wysihtml5 wysihtml5-min form-control"
													placeholder="Enter text ...">
												    </textarea>
											</div>
										</form>
									</div>


									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script>

		<script>
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<script>
			$(document).ready(function() {
				$('#purpose').on('change', function() {
					if (this.value == '1') {
						$("#business").show();
						$("#durdate").show();
						$("#extspc").hide();
						$("#spcs").addClass("ff");
					}
					if (this.value == '2') {
						$("#staff").show();
						$("#spcs").removeClass("ff");
						$("#business").hide();
						$("#durdate").hide();
						$("#extspc").show();
					} else {
						$("#staff").hide();
					}
				});
			});
		</script>

<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>

		<script>
			$('#showhide').on('change', function() {
				if (this.value == '1') {
					$("#rentamount").show();
				}

				else {
					$("#rentamount").hide();
				}
			});
		</script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				$('input[type="radio"]').click(function() {

					var inputValue = $(this).attr("value");

					var targetBox = $("." + inputValue);

					$(".box").not(targetBox).hide();

					$(targetBox).show();

				});

			});
		</script>
	</ui:define>
</ui:composition>