<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Edit Asset Request</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">Edit Asset Request</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['admin']}</a></li>
							<li class="active">Edit Asset Request</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity_master']}" />
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Region" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['region']}" />
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Salem" />
										<f:selectItem itemLabel="Coimbatore" />
										<f:selectItem itemLabel="Chennai" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_cate']}" />
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="Land &amp; Buildings" />
										<f:selectItem itemLabel="Furniture &amp; Fittings" />
										<f:selectItem itemLabel="Plant &amp; Machinery" />
										<f:selectItem itemLabel="Hardware &amp; Software" />
										<f:selectItem itemLabel="Vehicles" />
										<f:selectItem itemLabel="Library Books" />
									</h:selectOneMenu>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<label class="control-label">#{msg['asset_code']}</label> 
									<p:inputText value="0125A67" class="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_name']}" />
									<p:inputText value="History of World" class="form-control" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['qty']}" />
									<p:inputText value="3" class="form-control text-right" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="Rate per Piece &nbsp;(&#xf156;)" class="fa-input" />
									<p:inputText value="255" class="form-control text-right" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['est_val']}&nbsp;(&#xf156;)" class="fa-input" />
									<p:inputText value="765" class="form-control text-right" />
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['asset_desc']}"
										class="control-label" />
									<p:inputTextarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
									Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
									when an unknown printer took a galley of type and scrambled it to make a type specimen book." class="form-control"></p:inputTextarea>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['reason']}" class="control-label" />
									<p:inputTextarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
									when an unknown printer took a galley of type and scrambled it to make a type specimen book." class="form-control"></p:inputTextarea>
								</div>
							</div>
							
						</div>
												
						<div class="text-right">
							<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
							<p:commandButton value="&#xf00c;&nbsp;#{msg['update']}"
								styleClass="btn btn-sm btn-success waves-effect waves-light fa-input">
							</p:commandButton>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
