<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Asset Transfer</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['li_asset_dis']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">#{msg['li_asset_dis']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<p:outputLabel id="totalSize"
							value="#{hallTicketBean.totalRecords}"
							styleClass="textb play_class" />
						- #{msg['asset_disposal']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton rendered="#{assetDisposalBean.isAddButton}"
								update="growls"
								action="#{assetDisposalBean.callAssetDisposalPage}" id="addId"
								value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
								onclick="PF('progressDlg').show();"
								class="btn bg-success font-iconmoon"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{assetDisposalBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								title="#{msg['edit']}"
								rendered="#{assetDisposalBean.isEditButton}"
								onclick="PF('progressDlg').show();"
								class="btn bg-primary font-iconmoon"
								oncomplete="PF('progressDlg').hide();" update="growls"
								action="#{assetDisposalBean.callAssetDisposalPage}">
								<f:setPropertyActionListener value="EDIT"
									target="#{assetDisposalBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								title="#{msg['view']}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{assetDisposalBean.callAssetDisposalPage}"
								update="growls" class="btn bg-info font-iconmoon ">
								<f:setPropertyActionListener value="VIEW"
									target="#{assetDisposalBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								id="idDelete" title="#{msg['delete']}"
								rendered="#{assetDisposalBean.isDeleteButton}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{assetDisposalBean.callAssetDisposalPage}"
								update="growls" class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{assetDisposalBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{assetDisposalBean.cancelAssetDisposal}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmUserDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmUserDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{assetDisposalBean.deleteAssetDisposal}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>

			<div class="table-lay-a">
				<div class="table-responsive">
					<div class="ui-datatable ui-widget ui-datatable-scrollable table">
						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="table" tableStyleClass=""
							rowKey="#{data.disposalAssetId}"
							selection="#{assetDisposalBean.selectedDisposalAssetListDTO}"
							value="#{assetDisposalBean.disposalAssetListDTOLazyList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{assetDisposalBean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('idDelete')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />
							<!-- SI No.  -->
							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!--Application Number.  -->
							<p:column id="hrNuber" filterable="true"
								filterBy="#{data.entityName}" filterMatchMode="contains"
								headerText="#{msg['ho_ro']}" sortBy="#{data.entityName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="headRedOffice" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="headRedOffice"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.entityName}" />
							</p:column>

							<p:column id="categoryNameId" filterable="true"
								filterBy="#{data.categoryName}" filterMatchMode="contains"
								headerText="#{msg['Asset_Category']}"
								sortBy="#{data.categoryName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="assetCategoryId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.categoryName}" />
							</p:column>

							<p:column id="subCategoryName" filterable="true"
								filterBy="#{data.subCategoryName}" filterMatchMode="contains"
								headerText="#{msg['sub_asset_cate']}"
								sortBy="#{data.subCategoryName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="subCategoryNameId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.subCategoryName}" />
							</p:column>
							<p:column id="cdate" filterable="true"
								styleClass="text-center form-group_calend"
								filterBy="#{data.createdDate}" filterMatchMode="contains"
								headerText="#{msg['created_date']}" sortBy="#{data.createdDate}"
								sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="registrationDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" yearRange="c-100:c+100"
										maxdate="java.util.Date" mask="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime timeZone="#{loginBean.timeZone}"
										pattern="#{loginBean.userInfoDTO.dateFormat}" />
								</h:outputText>
							</p:column>
							<p:column id="status" filterable="true" filterBy="#{data.status}"
								filterMatchMode="contains" headerText="#{msg['status']}"
								class="text-center" sortBy="#{data.status}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('table').filter()"
										styleClass="form-control">
										<f:selectItem itemLabel="Submitted" itemValue="SUBMITTED" />
										<f:selectItem itemLabel="Approved" itemValue="APPROVED" />
										<f:selectItem itemLabel="Reject" itemValue="REJECT" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="ui-column-title label label-warning width-custom"
									value="#{data.status}" rendered="#{data.status eq 'SUBMITTED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-success width-custom"
									value="#{data.status}"
									rendered="#{data.status eq 'FINAL-APPROVED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-success width-custom"
									value="#{data.status}" rendered="#{data.status eq 'APPROVED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-danger width-custom"
									value="#{data.status}" rendered="#{data.status eq 'REJECTED'}"></h:outputText>
								<h:outputText
									styleClass="ui-column-title label label-info width-custom"
									value="#{data.status}" rendered="#{data.status eq 'PAID'}"></h:outputText>

							</p:column>

							<!-- Select Radio Button -->
							<p:column headerText="#{msg['select']}" styleClass="text-center"
								selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>