<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('ASSET_REGISTER_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{assetRegisterBean}"></ui:param>
		<title>InfoTex | Asset Register List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['asset_reg_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['asset_master']}</li>
						<li class="active">#{msg['asset_reg_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:outputText value="#{bean.totalRecords}"
								id="totalCount" /></strong> - #{msg['asset_regis']}(#{msg['list_s']})
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								onstart="PF('statusDialog').show();"
								action="#{bean.showAssetRegisterListPageAction}"
								onsuccess="PF('statusDialog').hide();"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['ASSET_REGISTER_ADD']}"
								title="#{msg['add']}" id="addId"
								class="btn bg-success font-iconmoon" update="growls"
								onclick="PF('progressDlg').show();">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}"
								action="#{bean.showAssetRegisterListPageAction}"
								onsuccess="PF('statusDialog').hide();"
								rendered="#{bean.editButtonFlag and loginBean.userFeatures['ASSET_REGISTER_EDIT']}"
								title="#{msg['edit']}" onstart="PF('statusDialog').show();"
								id="editId" class="btn bg-primary font-iconmoon" update="growls">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								action="#{bean.showAssetRegisterListPageAction}"
								onsuccess="PF('statusDialog').hide();" title="#{msg['view']}"
								onstart="PF('statusDialog').show();"
								class="btn bg-info heading-btn  font-iconmoon"
								rendered="#{bean.viewButtonFlag and loginBean.userFeatures['ASSET_REGISTER_VIEW']}"
								update="growls">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.showAssetRegisterListPageAction}"
								onstart="PF('statusDialog').show();"
								rendered="#{bean.deleteButtonFlag and loginBean.userFeatures['ASSET_REGISTER_DELETE']}"
								title="#{msg['delete']}" onsuccess="PF('statusDialog').hide();"
								class="btn bg-danger font-iconmoon" update="growls">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onsuccess="PF('statusDialog').hide();"
								action="#{bean.showAssetRegisterListPage}"
								onstart="PF('statusDialog').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable value="#{bean.lazyAssetRegisterList}" var="list"
							rowKey="#{list.id}" paginator="true" id="outgoingtapallist"
							widgetVar="listOutgoingtapal" lazy="true"
							selection="#{bean.selectedAssetRegister}"
							rowsPerPageTemplate="10,15,20" rows="10" rowIndexVar="index"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							class="table">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('menupanel')}" />

							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{index+1}"></h:outputText>
							</p:column>

							<p:column headerText="#{msg['ref_num']}" styleClass="text-center"
								filterable="true" filterBy="#{list.referenceNumber}"
								sortable="true" sortBy="#{list.referenceNumber}"
								filterMatchMode="contains">
								<h:outputText value="#{list.referenceNumber}"></h:outputText>
							</p:column>

							<p:column headerText="#{msg['HO_RO']}" filterable="true"
								filterBy="#{list.entityMasterRegionName}" sortable="true"
								sortBy="#{list.entityMasterRegionName}"
								filterMatchMode="contains">
								<h:panelGroup
									rendered="#{list.entityMaster.entityTypeMaster.entityName=='Head Office' || list.entityMaster.entityTypeMaster.entityName=='Regional Office'}">
									<h:outputText
										value="#{list.entityMaster.entityTypeMaster.entityName}"></h:outputText>
								</h:panelGroup>
								<h:panelGroup
									rendered="#{list.entityMaster.name != 'Head Office'}">
									<h:outputText value="#{list.entityMasterRegionName}"></h:outputText>
								</h:panelGroup>
							</p:column>

							<p:column headerText="#{msg['Entity_Type']}" filterable="true"
								filterBy="#{list.entityMaster.entityTypeMaster.entityName}"
								sortable="true"
								sortBy="#{list.entityMaster.entityTypeMaster.entityName}"
								filterMatchMode="contains">
								<h:panelGroup>
									<h:outputText
										value="#{list.entityMaster.entityTypeMaster.entityName}"></h:outputText>
								</h:panelGroup>
							</p:column>
							<p:column headerText="#{msg['Entity']}" filterable="true"
								filterBy="#{list.entityMaster.name}" sortable="true"
								sortBy="#{list.entityMaster.name}" filterMatchMode="contains">
								<h:panelGroup>
									<h:outputText value="#{list.entityMaster.name}"></h:outputText>
								</h:panelGroup>
							</p:column>

							<!-- <p:column sortBy="#{list.assetCategoryMasterList.name}" sortable="true"
								filterMatchMode="exact" filterable="true"
								filterBy="#{list.assetCategoryMasterList.name}"
								styleClass="text-center width-12"
								headerText="#{msg['Asset_Category']}">
								
								
								<f:facet name="filter">
									<h:selectOneMenu class="form-control" id="leavetypeFiter"
										onchange="PF('listOutgoingtapal').filter()">
										<f:selectItem itemLabel="Select" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems value="#{bean.assetCategoryMasterList}"
											var="obj" itemValue="#{obj.name}" itemLabel="#{obj.name}" />
									</h:selectOneMenu>

								</f:facet>
								<h:outputText value="#{list.assetCategory.name}" />
							</p:column> -->

							<p:column headerText="#{msg['Asset_Name']}" filterable="true"
								filterBy="#{list.assetName}" sortable="true"
								sortBy="#{list.assetName}" filterMatchMode="contains">
								<h:outputText value="#{list.assetName}"></h:outputText>
							</p:column>
							
							<p:column headerText="#{msg['Asset_Created_Date']}"
								styleClass="text-center form-group_calend" filterable="true"
								filterBy="#{list.createdDate}" sortable="true"
								sortBy="#{list.createdDate}" filterMatchMode="contains">
								<f:facet name="filter">
									<p:calendar id="fromdate" class="form-control calend-icon"
										navigator="true" placeholder="dd-MMM-yyyy"
										pattern="dd-MMM-yyyy">
										<p:ajax event="dateSelect"
											oncomplete="PF('listOutgoingtapal').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{list.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}"></f:convertDateTime>
								</h:outputText>
							</p:column>


							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalCount')}" autoRun="true" />



						<!-- <table class="cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center width-5"><span
										class="ui-column-title ">S.No</span></th>
									<th class="ui-state-default text-center "><p:outputLabel
											value="#{msg['ref_num']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText value="" class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="H.O / R.O" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText value="" class="form-control" />
									</th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Entity Type" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText value="" class="form-control" />
									</th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Entity" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText value="" class="form-control" />
									</th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Asset Category" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Land &amp; Buildings" />
											<f:selectItem itemLabel="Furniture &amp; Fittings" />
											<f:selectItem itemLabel="Plant &amp; Machinery" />
											<f:selectItem itemLabel="Hardware &amp; Software" />
											<f:selectItem itemLabel="Vehicles" />
											<f:selectItem itemLabel="Library Books" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></th>
									<th class="ui-state-default text-center">
									<p:outputLabel value="Asset Name" /> 
									<span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<p:inputText value="" class="form-control" />
									</th>
									<th class="ui-state-default text-center">
									<p:outputLabel value="Created Date" /> 
									<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:calendar pattern="dd-MM-yyyy" 
										yearRange="c-100:c+100" maxdate="java.util.Date" mask="true"
										navigator="true" placeholder="dd-mm-yyyy"
										onchange="PF('transferTable').filter()"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('transferTable').filter()" />
									</p:calendar>
									</th>
									<th class="ui-state-default text-center width-5">
									<p:outputLabel value="#{msg['select']}" /></th>
								</tr>
							</thead>

							<tbody>

								<tr>
									<td class="text-center">1</td>
									<td class="text-center">0176543</td>
									<td>Salem</td>
									<td>Showroom</td>
									<td>Nellikani</td>
									<td>Furniture &amp; Fittings</td>
									<td>Secretary Clerical Table</td>
									<td class="text-center">10-Mar-2018</td>
									<td class="text-center"><input type="radio" /></td>
								</tr>
								
								<tr>
									<td class="text-center">2</td>
									<td class="text-center">0176566</td>
									<td>Salem</td>
									<td>Showroom</td>
									<td>Idappadi</td>
									<td>Vehicles</td>
									<td>Load Truck</td>
									<td class="text-center">11-Dec-2017</td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

							</tbody>
						</table> -->
					</div>
				</div>
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmAssetRegisterDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmAssetRegisterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteConfirm}"
					oncomplete="PF('confirmAssetRegisterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>