<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Asset Transfer</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-table2 position-left"></i>Asset Transfer
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">Asset Transfer</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						Total Asset Transfer List : 10 <a class="heading-elements-toggle"><i
							class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xe912; #{msg['edit']}"
						onclick="location.href='/pages/assetManagement/createAssetTransfer.xhtml'"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
						onclick="location.href='/pages/assetManagement/viewAsset.xhtml'"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon m-r-10">
						</p:commandButton>
						<p:commandButton value="&#xea0e; #{msg['add']}"
							class="btn bg-success font-iconmoon m-r-0">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="table-lay-a">
				<div class="table-responsive">
					<div class="ui-datatable ui-widget ui-datatable-scrollable table">
						<table class="cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center width-5"><span
										class="ui-column-title ">#{msg['sno']}</span></th>
									<th class="ui-state-default text-center width-15"><p:outputLabel
											value="#{msg['ref_num']}" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText value="" class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Entity Type" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Head Office" />
											<f:selectItem itemLabel="Regional office" />
											<f:selectItem itemLabel="Showroom" />
											<f:selectItem itemLabel="ISSR" />
											<f:selectItem itemLabel="D &amp; P" />
											<f:selectItem itemLabel="Production warehouse" />
											<f:selectItem itemLabel="Distribution warehouse" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Asset Code" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Asset Category" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Land &amp; Buildings" />
											<f:selectItem itemLabel="Furniture &amp; Fittings" />
											<f:selectItem itemLabel="Plant &amp; Machinery" />
											<f:selectItem itemLabel="Hardware &amp; Software" />
											<f:selectItem itemLabel="Vehicles" />
											<f:selectItem itemLabel="Library Books" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="Asset Name" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control" /></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="Cost of Asset" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control" /></th>

									<th class="ui-state-default text-center"><p:outputLabel
											value="Status" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="Approved" />
											<f:selectItem itemLabel="Pending" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></th>
									<th class="ui-state-default text-center width-5"><p:outputLabel
											value="#{msg['select']}" /></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-danger">Rejected</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">2</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Chair</td>
									<td>6,000</td>
									<td class="text-success"><span class="label label-info">Pending</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">3</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Fan</td>
									<td>3,000</td>
									<td class="text-success"><span class="label label-danger">Rejected</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">4</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">5</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>


								<tr>
									<td class="text-center">6</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">7</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">8</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">9</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-success">Approved</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

								<tr>
									<td class="text-center">10</td>
									<td>0176543</td>
									<td>Showroom</td>
									<td>135A67</td>
									<td>Furniture &amp; Fittings</td>
									<td>Office Table</td>
									<td>15,000</td>
									<td class="text-success"><span class="label label-info">Pending</span></td>
									<td class="text-center"><input type="radio" /></td>
								</tr>

							</tbody>
						</table>

						<div
							class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0">
							<div class="dataTables_info m-r-10" id="DataTables_Table_0_info "
								role="status" aria-live="polite">Showing 1 to 10 of 15
								entries</div>
							<ul class="pagination pagination-separated">
								<li><a href="#">&lsaquo;&lsaquo;</a></li>
								<li><a href="#">&lsaquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="disabled"><a href="#">3</a></li>
								<li class="disabled"><a href="#">4</a></li>
								<li class="disabled"><a href="#">5</a></li>
								<li><a href="#">&rsaquo;</a></li>
								<li><a href="#">&rsaquo;&rsaquo;</a></li>
								<li>
									<div class="dataTables_length" id="DataTables_Table_1_length">
										<label> <select class="">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select>
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


		</div>
	</ui:define>
</ui:composition>