<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{assetRequestBean}" />
		<title>InfoTex | View Asset Request</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_asset_request']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">#{msg['view_asset_request']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>




		<div class="content">
			<div class="panel ">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['asset_request']}</h6>
				</div>
				<div class="panel-body">
					<p:outputPanel>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<h:outputText value="#{bean.viewassetdetails.employeeName}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['desgn']}" />
									<h:outputText value="#{bean.viewassetdetails.designation}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText value="#{bean.viewassetdetails.department}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['sec']}" />
									<h:outputText value="#{bean.viewassetdetails.section}" class="" />
								</div>
							</div>
						</div>


						<h5 class="bord_bot m-t-0 m-t-10">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>
								Asset Requested </span>
						</h5>

						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive">
									<p:dataTable id="emplyinfo" widgetVar="producttablewdgt"
										class="table" var="data" rowKey="#{data.empMasterId}"
										value="#{bean.viewassetdetails.assetlist}" rowIndexVar="idx"
										emptyMessage="No records found">



										<p:column headerText="#" class="width-5 text-center">
											<h:outputText value="#{idx+1}" />

										</p:column>
										<p:column headerText="Asset">


											<h:outputText value="#{data.asset}" />
										</p:column>
										<p:column headerText="Asset Category">



											<h:outputText value="#{data.assetCategory}">

											</h:outputText>
										</p:column>

										<p:column headerText="Asset Sub Category">

											<h:outputText value="#{data.assetSubCategory}" />

										</p:column>


										<p:column headerText="Quantity">

											<h:outputText value="#{data.quantity}" />
										</p:column>
										<p:column headerText="Reason">

											<h:outputText value="#{data.reason}" />
										</p:column>



									</p:dataTable>
								</div>
							</div>
						</div>
				
				<p:outputPanel  rendered="#{bean.baseAllocationflag}" >
						
							<ui:remove>	 rendered="#{bean.baseAllocationflag}"</ui:remove>	
							<h5 class="bord_bot m-t-0 m-t-10">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>
									Asset Allocated </span>
							</h5>

							<div class="row">
								<div class="col-sm-12">
									<div class="table-responsive">

										<p:dataTable id="assetallocation" widgetVar="producttablewdgt"
											class="table" var="data" rowKey="#{data.id}"
											value="#{bean.assetRequestListDTOList}" rowIndexVar="idx"
											emptyMessage="No records found">
											<p:column headerText="#" class="width-4 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column class="width-13" headerText="Asset">
												<h:outputText value="#{data.asset}" />
											</p:column>
											<p:column class="width-13" headerText="Asset Category">
												<h:outputText value="#{data.assetCategory}">
												</h:outputText>
											</p:column>
											<p:column class="width-13" headerText="Asset Sub Category">
												<h:outputText value="#{data.assetSubCategory}" />
											</p:column>
											<p:column class="width-8 text-right" headerText="Request Qty">
												<h:outputText value="#{data.quantity}" />
											</p:column>
											<p:column class="width-8 text-right"
												headerText="Available Qty">
												<h:outputText value="#{data.available_quantity}" />
											</p:column>
											<p:column class="width-8 text-right"
												headerText="Allocate Qty">
												<h:outputText value="#{data.approve_quantity}" />
											</p:column>
											<p:column class="width-13" headerText="Reason">
												<h:outputText value="#{data.reason}" />
											</p:column>
											<p:column headerText="Remarks">
												<h:outputText value="#{data.remarks}" />
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>
						
						</p:outputPanel>
						
				
							<p:outputPanel rendered="#{bean.hideflag=='true'}">
						<div class="row m-t-10">
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="row label-form">
									<p:outputLabel class="" value="#{msg['frwd_to']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<ui:remove>
									
										<h:selectOneMenu id="fwdto" styleClass="form-control"
											converter="#{entityConverter}"
											value="#{bean.selectedasset.assetrequestnote.forwardTo.id}"
											disabled="#{bean.finalApproveFlag}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems var="user" value="#{bean.userMasters}"
												itemValue="#{user.id}"
												itemLabel="#{user.empName} / #{user.empCode}"></f:selectItems>
											<p:ajax event="change" update="fwdto" />
										</h:selectOneMenu>
				 						</ui:remove>
										   <p:autoComplete id="fwdto" minQueryLength="2" panelStyle="width:250px"
														styleClass="form-control" converter="#{entityConverter}"
													   disabled="#{bean.finalApproveFlag}"
														
										            	requiredMessage="#{msg['forward_to_required']}"
														value="#{bean.selectedasset.assetrequestnote.forwardTo}"
													    itemValue="#{emp}" var="emp"
														itemLabel="#{emp.empName}"
														completeMethod="#{bean.loadAutoCompleteUserMasterForAllocationList}"
														effect="fade">
														<p:ajax event="itemSelect" update="fwdto"></p:ajax>
													</p:autoComplete>
														
									</div>
								</div>
							</div>
   
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="Forward for" />
									<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu styleClass="form-control"
											rendered="#{bean.forwdforflag}"
											disabled="#{bean.finalApproveFlag}" id="forwardfor"
											value="#{bean.selectedasset.assetrequestnote.finalApproval}">
											<f:selectItem itemLabel="Select" itemValue=""></f:selectItem>
											<f:selectItem itemLabel="Approval" itemValue="false"></f:selectItem>
											<f:selectItem itemLabel="Final Approval" itemValue="true"></f:selectItem>
											<p:ajax update="@this" event="change"></p:ajax>
										</h:selectOneMenu>

										<h:selectOneMenu styleClass="form-control"
											disabled="#{bean.finalApproveFlag}" id="forwardfor2"
											rendered="#{!bean.forwdforflag}"
											value="#{bean.selectedasset.assetrequestnote.finalApproval}">
											<f:selectItem itemLabel="Select" itemValue=""></f:selectItem>
											<f:selectItem itemLabel="Approval" itemValue="false"></f:selectItem>
											<f:selectItem itemLabel="Final Approval" itemValue="true"></f:selectItem>
											<p:ajax update="@this" event="change"></p:ajax>
										</h:selectOneMenu>
									</div>
									<h:message for="forwardfor" class="validation-error-label"></h:message>
								</div>
							</div>
						</div>
						</p:outputPanel>
						<div class="row label-form">
							<div class="col-lg-6 m-t-10">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn btn-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

								<!-- 	<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<h:panelGroup rendered="#{bean.approvalFlag}">
									<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
										onclick="PF('dlgComments2').show();"
										disabled="#{bean.buttonFlag}"
										class="btn btn-sm bg-danger font-iconmoon">
									</p:commandButton>
									<p:commandButton
										value="&#xecf5;&nbsp;#{bean.selectedasset.assetrequestnote.finalApproval? msg['final_approve']:msg['approve']}"
										onclick="PF('dlgComments1').show();"
										disabled="#{bean.buttonFlag}"
										class="btn btn-sm bg-success font-iconmoon">
									</p:commandButton>
								</h:panelGroup>
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									action="#{bean.showAssetList}"
									class="btn bg-info font-iconmoon m-r-0 pull-right"
									title="#{msg['back']}">
								</p:commandButton>
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
		</div>

		<p:dialog modal="true" draggable="false" header="Approve Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<p:outputPanel id="approvePanel">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Remarks" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.selectedasset.assetrequestlog.remarks}"
									id="comments1" rendered="true">
									<p:ajax update="comments1"></p:ajax>
								</p:inputTextarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
								class="btn bg-slate heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								update=" approvePanel growls " title="#{msg['submit']}"
								binding="#{approve}" oncomplete="PF('dlgComments1').hide();"
								process="@this"
								class="btn bg-success heading-btn  font-iconmoon"
								action="#{bean.submitApprovedStatus}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
							</p:commandButton>
						</div>
					</div>
				</div>

			</p:outputPanel>
		</p:dialog>


		<p:dialog modal="true" draggable="false" header="Reject Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<p:outputPanel id="rejectPanel">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Remarks" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.selectedasset.assetrequestlog.remarks}"
									id="comments2">
									<p:ajax update="comments2"></p:ajax>
								</p:inputTextarea>
							</div>
							<h:message for="comments2" class="validation-error-label" />
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
								class="btn bg-slate heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{bean.submitRejectedStatus}"
								update=" rejectPanel growls"
								oncomplete="PF('dlgComments2').hide();" process="@this">
							</p:commandButton>
						</div>
					</div>
				</div>

			</p:outputPanel>
		</p:dialog>

		<p:dialog header="View Note" widgetVar="notedialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false" width="80%"
			styleClass="p-0">
			<p:outputPanel id="customerPanel">
				<div class="panel-body p-0">
					<div class="tabbable wysihtml5-tabc">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1" readonly="true"
										value="#{bean.selectedasset.assetrequestnote.note}"
										height="200" />
									
										<div class="row">
													<div class="col-md-12 view-note_list">
														<p:carousel styleClass="m-b-15" 
															value="#{bean.employeeMasterData}"
															var="data">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																
																	<li >
												 						<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->

																
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'REQUEST_INITIATED'}">
																		
																			<h6 class="m-t-0 text-center">#{msg['request_initiated_by']}</h6>


																		</h:panelGroup> 
						 												
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['approved_by']}</h6>
																		</h:panelGroup>
																		
																		 <h:panelGroup
																			rendered="#{data.createdByName eq 'FINAL-APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['final_approved_by']}</h6>
																		</h:panelGroup> <h:panelGroup
																			rendered="#{data.createdByName eq 'REJECTED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['rejected_by']}</h6>
																		</h:panelGroup>
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'ALLOCATION_INITIATED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['allocation_initiated_by']}</h6>
																		</h:panelGroup>
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'ALLOCATION_APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['allocation_approved_by']}</h6>
																		</h:panelGroup>
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'ALLOCATION_FINAL_APPROVED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['allocation_final_approved_by']}</h6>
																		</h:panelGroup>
																		<h:panelGroup
																			rendered="#{data.createdByName eq 'ALLOCATION_REJECTED'}">
																			<h6 class="m-t-0 text-center">
																				#{msg['allocation_rejected_by']}</h6>
																		</h:panelGroup>
																		
																	</li>
																	
											                    <h:panelGroup >
																	<li >Name : #{data.firstName} #{data.lastName}</li>


										 							<li>Designation : #{data.designation.name}</li>
																	<li>Date : <h:outputText
																			value="#{data.createdDate}">
																			<f:convertDateTime timeZone="#{loginBean.timeZone}" ></f:convertDateTime>
																		</h:outputText></li>
																		</h:panelGroup>
				
																</ul>
															</div>
														</p:carousel>
													</div>
												</div>
										
										
										
										
										
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<p:outputPanel id="customrPanel">
				<div class="panel panel-flat">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul class="nav nav-tabs nav-tabs-bottom">
								<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
										class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
								<li><a href="#solid-tab2" data-toggle="tab"><i
										class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="solid-tab1">
									<table class="table table-striped cust-table">
										<tbody>
											<tr class="success">
												<td><strong>Approved Comments</strong></td>
												<td><span class="pull-left m-b-10">Given By</span> <span
													class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
														User</span> <br /> <span class="pull-left">Given Date</span> <span
													class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
												</span></td>
												<td>100% Cotton printed Bed spread, printed with fast
													Rapid Indigo colours and with over...</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="tab-pane" id="solid-tab2">
									<table class="table table-striped cust-table">
										<tbody>
											<tr class="success">
												<td><strong>Rejection Comment</strong></td>
												<td><span class="pull-left m-b-10">Given By</span> <span
													class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
														User</span> <br /> <span class="pull-left">Given Date</span> <span
													class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
												</span></td>
												<td>100% Cotton printed Bed spread, printed with fast
													Rapid Indigo colours and with over...</td>
											</tr>

											<tr>
												<td><strong>Reply Comment</strong></td>
												<td><span class="pull-left m-b-10">Given By</span> <span
													class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
														User</span> <br /> <span class="pull-left">Given Date</span> <span
													class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
												</span></td>
												<td><textarea name="enter-message" class="form-control"
														rows="3" cols="1" placeholder="What's on your mind?"></textarea></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-right">
						<div class="form-group m-b-0">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								title="#{msg['cancel']}"
								onclick="location.href='createAmountTransferCashToBank.xhtml';"
								class="btn bg-slate heading-btn  font-iconmoon" />
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon" />
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>


	</ui:define>
</ui:composition>