<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{assetDepreciationBean}" />
		<title>InfoTex | Asset Disposal</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_asset_disposal']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li class="active">#{msg['vi_asset_disposal']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="panelid">
			<div class="content page-scroll no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['asset_disposal']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="view-style">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{assetDisposalBean.headRegionOffice.name}" /></span>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['asset_cate']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{assetDisposalBean.assetCategoryMaster.name}" /></span>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['sub_asset_cate']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{assetDisposalBean.subAssetCategoryMaster.name}" /></span>
												</div>
											</div>
										</div>
									</div>

									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['li_asset_dis']}</span>
									</h5>
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<p:dataTable id="disposalListTable" rowIndexVar="idx"
													var="disposal" class="report-table"
													value="#{assetDisposalBean.disposalAssetDetailsDTOList}">

													<p:column headerText="#" styleClass="text-center width-3">
														<h:outputText value="#{idx+1}" />
													</p:column>

													<p:column headerText="#{msg['Asset_Name']}"
														styleClass="width-12">
														<h:outputText value="#{disposal.assetName}" />
													</p:column>

													<p:column headerText="#{msg['qunatity']}"
														styleClass="width-6 text-center">
														<h:outputText value="#{disposal.quantity}" />
													</p:column>

													<p:column headerText="#{msg['pur_date']}"
														styleClass="width-6 text-center">
														<h:outputText value="#{disposal.purchasedDate}">
															<f:convertDateTime timeZone="#{loginBean.timeZone}"
																pattern="#{loginBean.userInfoDTO.dateFormat}" />
														</h:outputText>
													</p:column>

													<p:column headerText="#{msg['pured_amt']}&nbsp;(&#xf156;)"
														styleClass="width-10 text-right fa-input">
														<h:outputText value="#{disposal.purchaseValue}">
															<f:convertNumber minFractionDigits="2" pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</p:column>

													<p:column headerText="#{msg['age']}"
														styleClass="width-6 text-center">
														<h:outputText value="#{disposal.assetAge}" />
													</p:column>

													<p:column headerText="#{msg['current_unit_value']}"
														styleClass="width-8 text-right fa-input">
														<h:outputText value="#{disposal.currentValue}" />
													</p:column>

													<p:column headerText="#{msg['disp_qty']}"
														styleClass="width-10 text-right fa-input">
														<h:outputText value="#{disposal.disposalQty}" />
													</p:column>

													<p:column headerText="#{msg['reason']}"
														styleClass="width-12">
														<h:outputText value="#{disposal.reason}" />
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</div>
								</div>

								<div class="row  label-form">
									<p:outputPanel
										rendered="#{assetDisposalBean.forwardFor eq 'false' and assetDisposalBean.viewFlag eq 'true'}">
										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_to']}"
													for="forwardto" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardto" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>

													<ui:remove>
														<h:selectOneMenu id="forwardto" styleClass="form-control"
															converter="#{entityConverter}"
															value="#{assetDisposalBean.forwardToUser}"
															required="#{not empty param[preview.clientId]}"
															requiredMessage="#{msg['forward_to_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems var="user"
																value="#{assetDisposalBean.forwardToUsersList}"
																itemValue="#{user}" itemLabel="#{user.username}"></f:selectItems>
															<p:ajax event="change" />
														</h:selectOneMenu>
													</ui:remove>

													<p:autoComplete id="forwardto" minQueryLength="2"
														disabled="#{assetDisposalBean.finalApproveFlag}"
														styleClass="form-control" converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['stcon_forwardto_req']}"
														value="#{assetDisposalBean.forwardToUser}"
														itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
														completeMethod="#{assetDisposalBean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="forwardto"></p:ajax>
													</p:autoComplete>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_for']}"
													for="forwardfor" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardfor" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="forwardfor" styleClass="form-control"
														disabled="#{assetDisposalBean.finalApproveFlag}"
														value="#{assetDisposalBean.forwardFor}"
														required="#{not empty param[preview.clientId]}"
														requiredMessage="#{msg['forward_for_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
														<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
														<p:ajax event="change" />
													</h:selectOneMenu>
												</div>
												<h:message for="forwardfor" class="validation-error-label" />
											</div>
										</div>
									</p:outputPanel>
								</div>




								<div class="row m-t-5">
									<div class="col-lg-3 col-md-5 col-sm-5">
										<p:commandButton value="&#xea18; #{msg['view_note']}"
											title="#{msg['view_note']}"
											styleClass="btn btn-sm bg-info font-iconmoon m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
										<p:commandButton value="&#xeb0d;" style="min-width:32px;"
											styleClass="btn btn-primary btn-md font-iconmoon"
											onclick="PF('commentdialog').show();"></p:commandButton>
									</div>
									<div class="col-lg-9 col-md-7 col-sm-7 text-right">
										<p:outputPanel
											rendered="#{assetDisposalBean.viewFlag eq 'true'}"
											style="float:right">
											<h:panelGroup
												rendered="#{assetDisposalBean.stage ne 'FINAL-APPROVED'}">
												<p:commandButton update="growls" immediate="true"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													value="&#xecf6;&nbsp;#{msg['reject']}"
													title="#{msg['reject']}"
													class="btn bg-danger font-iconmoon"
													onclick="PF('dlgComments2').show();" type="button">
												</p:commandButton>
											</h:panelGroup>
											<h:panelGroup
												rendered="#{assetDisposalBean.forwardFor eq 'false'}">
												<p:commandButton onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													value="&#xecf5;&nbsp;#{msg['approve']}"
													title="#{msg['approve']}"
													class="btn bg-success font-iconmoon"
													onclick="PF('dlgComments').show();" type="button">
												</p:commandButton>
											</h:panelGroup>
											<h:panelGroup
												rendered="#{assetDisposalBean.forwardFor eq 'true'}">
												<p:commandButton onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													value="&#xecf5;&nbsp;#{msg['final_approve']}"
													title="#{msg['approve']}"
													class="btn bg-success font-iconmoon"
													onclick="PF('dlgComments3').show();" type="button">
												</p:commandButton>
											</h:panelGroup>
										</p:outputPanel>

										<p:commandButton value="&#xeddf; #{msg['back']}"
											title="#{msg['back']}"
											action="#{assetDisposalBean.cancelAssetDisposal}"
											class="btn btn-sm bg-info font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<p:dialog modal="true" draggable="true" id="dlgCommentrej"
					showEffect="fade" hideEffect="fade"
					styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
					width="40%" focus="comments2">

					<f:facet name="header">
						<h:outputText id="someDialogHeader1"
							value="#{msg['reject_comment']}" />
					</f:facet>

					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									maxlength="235" styleClass="form-control"
									value="#{assetDisposalBean.disposalRemarks}" id="comments2" />
							</div>
						</div>
					</div>
					<div class="modal-footer ph0">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
							class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							update="growls" title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon"
							action="#{assetDisposalBean.submitApprovedRejectedStatus('REJECT')}">
						</p:commandButton>
					</div>
				</p:dialog>


				<p:dialog modal="true" draggable="true" id="dlgCommentfinalapr"
					showEffect="fade" hideEffect="fade"
					styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
					width="40%" focus="comments2">

					<f:facet name="header">
						<h:outputText id="finalapprovehead"
							value="#{msg['approve_comment']}" />
					</f:facet>

					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									maxlength="235" styleClass="form-control"
									value="#{assetDisposalBean.disposalRemarks}" id="comments3" />
							</div>
						</div>
					</div>
					<div class="modal-footer ph0">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments3').hide();"
							class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							update="growls" title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon"
							onclick="PF('dlgComments2').hide();" ajax="false"
							action="#{assetDisposalBean.submitApprovedRejectedStatus('FINAL_APPROVED')}">
						</p:commandButton>
					</div>
				</p:dialog>

				<p:dialog modal="true" draggable="true" id="dlgCommentapr"
					showEffect="fade" hideEffect="fade"
					styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments"
					width="40%" focus="comments">

					<f:facet name="header">
						<h:outputText id="someDialogHeader"
							value="#{msg['approve_comment']}" />
					</f:facet>

					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									maxlength="235" styleClass="form-control"
									value="#{assetDisposalBean.disposalRemarks}" id="comments" />
							</div>
						</div>
					</div>
					<div class="modal-footer ph0">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" onclick="PF('dlgComments').hide();"
							class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							title="#{msg['submit']}" ajax="false"
							class="btn bg-success heading-btn  font-iconmoon"
							action="#{assetDisposalBean.submitApprovedRejectedStatus('APPROVED')}">
						</p:commandButton>
					</div>
				</p:dialog>

				<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
					modal="true" showEffect="fade" hideEffect="fade" resizable="false"
					width="80%" styleClass="p-0 top-100">
					<h:form>
						<p:outputPanel id="customerPanel">
							<div class="panel-body p-0 m-b-10 view-note-editor">
								<p:textEditor widgetVar="editor1" rendered="true"
									requiredMessage=" #{msg['note']} #{msg['required']}"
									readonly="true" placeholder="Enter text ..."
									value="#{assetDisposalBean.note}" height="200" />
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
											class="btn bg-slate heading-btn  font-iconmoon" />

									</div>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</p:dialog>
				<!-- colleps panel end -->

				<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
					width="80%" modal="true" showEffect="fade" hideEffect="fade"
					resizable="false" styleClass="p-0 top-100">
					<h:form>
						<p:outputPanel id="customerPanel">
							<div class="panel-body p-0">
								<div class="tabbable m-b-15">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#solid-tab1"
											data-toggle="tab"><i class="icon-thumbs-up3"></i>
												#{msg['approve']}</a></li>
										<li><a href="#solid-tab2" data-toggle="tab"><i
												class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="solid-tab1">
											<table class="table table-striped cust-table">
												<tbody>
													<ui:repeat var="approveData"
														value="#{assetDisposalBean.commentAndLogList[0]}">
														<tr>
															<td class="width-15"><strong>#{msg['approve_comment']}</strong></td>
															<td><span class="pull-left">Given By</span> <span
																class="label label-flat border-success text-success-600 pull-right">#{not
																	empty approveData.get("employeeName") ?
																	approveData.get("employeeName") : ''} </span> <br /> <span
																class="pull-left m-t-15">Given Date</span> <span
																class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																		value="#{approveData.createdDate}">
																		<f:convertDateTime
																			pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																	</h:outputText> </span></td>
															<td class="width-40"><h:inputTextarea
																	disabled="true" name="enter-message"
																	value="#{approveData.remarks}" class="form-control"
																	rows="3" cols="1"></h:inputTextarea></td>
														</tr>
													</ui:repeat>
												</tbody>
											</table>
										</div>

										<div class="tab-pane" id="solid-tab2">
											<table class="table table-striped cust-table">
												<tbody>

													<ui:repeat var="rejectData"
														value="#{assetDisposalBean.commentAndLogList[1]}">
														<tr>
															<td class="width-15"><strong>#{msg['reject_comments']}</strong></td>
															<td><span class="pull-left">Given By</span> <span
																class="label label-flat border-success text-success-600 pull-right">#{not
																	empty rejectData.get("employeeName") ?
																	rejectData.get("employeeName"): ''}</span> <br /> <span
																class="pull-left m-t-15">Given Date</span> <span
																class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																		value="#{rejectData.createdDate}">
																		<f:convertDateTime
																			pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																	</h:outputText> </span></td>
															<td class="width-40"><h:inputTextarea
																	disabled="true" name="enter-message"
																	value="#{rejectData.remarks}" class="form-control"
																	rows="3" cols="1"></h:inputTextarea></td>
														</tr>
													</ui:repeat>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</p:dialog>

			</div>
		</p:outputPanel>
	</ui:define>
</ui:composition>