<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Estimation of Modernization</title>
		<ui:param name="bean" value="#{modernizationEstimationBean}"></ui:param>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_estimation_modernization']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['asset_manage']}</li>
						<li>#{msg['modern']}</li>
						<li class="active">#{msg['view_estimation_modernization']}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="panel">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['est_modern']}</h6>
				</div>
				<div class="panel-body pg-scroll-panel-1">
					<h:form id="catform">
						<p:outputPanel>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ho_ro']}" />
										<h:outputText
											value="#{bean.selectedModRequest.headRegionOffice}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity_master']}" />
										<h:outputText value="#{bean.selectedModRequest.entityType}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['entity']}" />
										<h:outputText value="#{bean.selectedModRequest.entity}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['name_of_building']}" />
										<h:outputText
											value="#{bean.selectedModRequest.nameOfBuinding}" class="" />
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['description']}" />
										<h:outputText value="#{bean.modernizationRequest.description}"
											class="" />
									</div>
								</div>
							</div>

							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['est_modern']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="table-responsive">
										<p:dataTable id="table" var="data" lazy="false"
											rowKey="#{data.id}" value="#{bean.modEstimationList}"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											paginator="true" paginatorPosition="bottom"
											rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
											styleCalss="report-table"
											emptyMessage="#{msg['no_records_found']}">

											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<!--Application Number.  -->
											<p:column id="item_desc" filterable="true"
												styleClass="fa-input width-25"
												headerText="#{msg['item_desc']}">
												<h:outputText value="#{data.itemDescription}" />
											</p:column>

											<p:column id="qty" filterable="true"
												styleClass="fa-input width-10" headerText="#{msg['qty']}">
												<h:outputText value="#{data.quantity}" />
											</p:column>

											<p:column id="unit" filterable="true"
												styleClass="fa-input width-10" headerText="#{msg['unit']}">
												<h:outputText value="#{data.uomMaster.name}" />
											</p:column>

											<p:column id="rate" filterable="true"
												styleClass="fa-input text-right width-10"
												headerText="#{msg['rate']}&nbsp;(&#xf156;)">
												<h:outputText value="#{data.rate}" />
											</p:column>

											<p:column id="gst" filterable="true"
												styleClass="fa-input width-10"
												headerText="#{msg['gst']} (%)">
												<h:outputText value="#{data.gst_percent}" />
											</p:column>

											<p:column id="gstamount" filterable="true"
												styleClass="fa-input width-10 text-right"
												headerText="#{msg['gst_amt']}&nbsp;(&#xf156;)">
												<h:outputText value="#{data.gst_amount}" />
											</p:column>

											<p:column id="amount" filterable="true"
												styleClass="fa-input width-10 text-right"
												headerText="#{msg['amount']}&nbsp;(&#xf156;)">
												<h:outputText value="#{data.amount}">
													<f:convertNumber pattern="#0.0">
													</f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column id="tolamt" filterable="true"
												styleClass="fa-input width-15 text-right"
												headerText="#{msg['ttl_amt']}&nbsp;(&#xf156;)">
												<h:outputText
													value="#{(data.amount/100*data.gst_percent)+data.amount}">
													<f:convertNumber pattern="#0.0">
													</f:convertNumber>
												</h:outputText>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<h:panelGroup rendered="#{bean.hideflag=='true'}">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_to']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="fwdto" styleClass="form-control"
														converter="#{entityConverter}"
														value="#{bean.selectedModRequest.modernizationEstimationNote.forwardTo.id}"
														disabled="#{bean.finalApproveFlag}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems var="user"
															value="#{bean.forwardToUsersList}" itemValue="#{user.id}"
															itemLabel="#{user.username}/#{user.empName}"></f:selectItems>
														<p:ajax event="change" update="fwdto" />
													</h:selectOneMenu>
												</ui:remove>


												<p:autoComplete id="frwdto" minQueryLength="2"
													panelStyle="width:250px" styleClass="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{bean.selectedModRequest.modernizationEstimationNote.forwardTo}"
													disabled="#{bean.finalApproveFlag}" itemValue="#{emp}"
													var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{bean.loadAutoCompleteUserMasterForAllocationList}"
													effect="fade">
													<p:ajax event="itemSelect" update="frwdto"></p:ajax>
												</p:autoComplete>


											</div>
										</div>
									</div>
								</h:panelGroup>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu styleClass="form-control"
												disabled="#{bean.finalApproveFlag}"
												value="#{bean.selectedModRequest.modernizationEstimationNote.finalApproval}">
												<f:selectItem itemLabel="Select" itemValue=""></f:selectItem>
												<f:selectItem itemLabel="Approve" itemValue="false"></f:selectItem>
												<f:selectItem itemLabel="Final Approval" itemValue="true"></f:selectItem>
												<p:ajax update="@this" event="change"></p:ajax>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xea18; #{msg['view_note']}"
										title="#{msg['view_note']}"
										styleClass="btn bg-info btn-md font-iconmoon m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 text-right">


									<h:panelGroup
										rendered="#{modernizationEstimationBean.submitButtonFlag=='true'}">
										<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
											onclick="PF('dlgComments2').show();"
											class="btn btn-sm bg-danger font-iconmoon">
										</p:commandButton>
										<p:commandButton
											value="&#xecf5;&nbsp; #{modernizationEstimationBean.finalapprovalFlag eq false ?msg['approve']: msg['final_approve']}"
											onclick="PF('dlgComments1').show();"
											class="btn btn-sm bg-success font-iconmoon">
										</p:commandButton>
									</h:panelGroup>

									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										action="#{bean.showList}" class="btn bg-info font-iconmoon"
										title="#{msg['back']}">
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 view-note-editor">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<div class="panel-body p-0 m-b-10">
										<p:textEditor widgetVar="editor1" readonly="true"
											value="#{bean.modernizationEstimationNote.note}" height="200" />
									</div>


									<ui:remove>

										<div class='col-md-12'>
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<p:repeat value="#{bean.modernizationEstimationNote}"
																var="estnote">
																<div class="col-md-3 col-md-3 col-sm-4">
																	<div
																		class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																		<ul class="list list-icons m-b-0">
																			<li><i
																				class="icon-checkmark-circle text-success position-left"></i>
																				<h6 class="m-t-0 text-center dis-inlineblock">Created
																					By</h6></li>

																			<li><h:outputText
																					value="Name : #{estnote.forwardTo.empName}" /></li>
																			<li><h:outputText
																					value="Designation : #{estnote.forwardTo.designation}" />
																			</li>
																			<li>Date: <h:outputText
																					value="#{estnote.createdDate}">
																					<f:convertDateTime pattern="dd-MMM-yyyy" />
																				</h:outputText></li>
																		</ul>
																	</div>
																</div>
															</p:repeat>
														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</ui:remove>



									<div class="row">
										<div class="col-md-12 view-note_list">
											<p:carousel styleClass="m-b-15"
												value="#{bean.employeeMasterData}" var="data">
												<div
													class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
													<ul class="list list-icons m-b-0">
														<li>
															<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->

															<h:panelGroup
																rendered="#{data.createdByName eq 'SUBMITTED'}">
																<h6 class="m-t-0 text-center">#{msg['created_by']}</h6>


															</h:panelGroup> <h:panelGroup
																rendered="#{data.createdByName eq 'APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.createdByName eq 'FINAL-APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['final_approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.createdByName eq 'REJECTED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['rejected_by']}</h6>
															</h:panelGroup>
														</li>
														<li>Name : #{data.firstName} #{data.lastName}</li>


														<li>Designation : #{data.designation.name}</li>
														<li>Date : <h:outputText value="#{data.createdDate}">
																<f:convertDateTime timeZone="#{loginBean.timeZone}"></f:convertDateTime>
															</h:outputText></li>

													</ul>
												</div>
											</p:carousel>
										</div>
									</div>



								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['close']}"
										onclick="PF('notedialog').hide();" title="#{msg['close']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comment']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<h:form>
				<p:outputPanel id="approvePanel">
					<div class="panel-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.selectedModRequest.modernizationEstimationLog.remarks}"
										id="comments1" rendered="true">
										<p:ajax update="comments1"></p:ajax>
									</p:inputTextarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									update=" approvePanel growls " title="#{msg['submit']}"
									binding="#{approve}" oncomplete="PF('dlgComments1').hide();"
									process="@this"
									class="btn bg-success heading-btn  font-iconmoon"
									action="#{bean.approveModEstimation}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()">
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comment']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<h:form>
				<p:outputPanel id="rejectPanel">
					<div class="panel-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										styleClass="form-control" maxlength="235"
										value="#{bean.selectedModRequest.modernizationEstimationLog.remarks}"
										id="comments2">
										<p:ajax update="comments2"></p:ajax>
									</p:inputTextarea>
								</div>
								<h:message for="comments2" class="validation-error-label" />
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									action="#{bean.rejectModEstimation}"
									update=" rejectPanel growls"
									oncomplete="PF('dlgComments2').hide();" process="@this">
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>