<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{loginBean.checkPrivilege('POLICY_NOTES')}"
				onPostBack="true" />
		</f:metadata>
		<ui:param name="bean" value="#{policyNotesBean}"></ui:param>  
		<title>InfoTex | Policy Note</title>
		<!-- <title>#{msg['infotex']} | #{bean.pageAction eq 'ADD' ? msg['cret_plo_note'] : msg['edit_plo_note']}</title> -->
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.pageAction eq 'ADD' ? msg['cret_plo_note'] :
						msg['edit_plo_note']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{bean.pageAction eq 'ADD' ?
							msg['cret_plo_note'] : msg['edit_plo_note']}</li>
					</ul>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['plcy_note']} <span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<p:outputPanel id="createPanel">
						<div class="page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['govt_ref_run']}" />
										
											<span class="mand-red">*</span>
										
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												
												<h:selectOneMenu id="refId" styleClass="form-control"
													value="#{bean.policyNoteIntimation.govReferenceNo}"
													requiredMessage="#{msg['govt_ref_no_req']}"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
													disabled="#{bean.pageAction eq 'EDIT'}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="refno"
														value="#{bean.incomingTapalList}"
														itemValue="#{refno.referenceNumber}"
														itemLabel="#{refno.referenceNumber}"></f:selectItems>
												</h:selectOneMenu>
												
												<ui:remove>
												<p:inputText   id="refId" styleClass="form-control"
													value="#{bean.policyNoteIntimation.govReferenceNo}"
													requiredMessage="#{msg['govt_ref_no_req']}"
												
													disabled="#{bean.pageAction eq 'EDIT'}"></p:inputText>
													
													</ui:remove>
											</div>
											<p:focus for="refId" />
											<h:message for="refId" class="validation-error-label"></h:message>
										</div>
									</div>

				 					<div class="col-lg-3 col-md-3 col-sm-6 ">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['govt_ref_date']}" />
											<span class="mand-red">*</span>
											<p:calendar
												value="#{bean.policyNoteIntimation.govReferenceDate}"
												id="govtrefdate" placeholder="dd-MMM-yyyy"
												styleClass="form-control-1 calend-icon-1"
												pattern="dd-MMM-yyyy" navigator="true"
												mindate="#{bean.dateSelect}"
												requiredMessage="#{msg['govt_ref_date_req']}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}">
												<p:ajax id="govtrefdate" event="dateSelect"></p:ajax>
											</p:calendar>
											<h:message for="govtrefdate" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['period']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-calendar"></i></span>
												<h:selectOneMenu id="periodId" styleClass="form-control"
													value="#{bean.policyNoteIntimation.period}"
													requiredMessage="#{msg['period_req']}"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="dep" value="#{bean.conYearList}"
														itemValue="#{dep}" itemLabel="#{dep}"></f:selectItems>
												</h:selectOneMenu>
											</div>
											<h:message for="periodId" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['due_date']}" />
											<span class="mand-red">*</span>
											<p:calendar value="#{bean.policyNoteIntimation.dueDate}"
												id="duedate" placeholder="dd-MMM-yyyy"
												styleClass="form-control-1 calend-icon-1"
												pattern="dd-MMM-yyyy" navigator="true"
												mindate="#{bean.dateSelect}"
												requiredMessage="#{msg['due_date_req']}"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}">
												<p:ajax id="duedate" event="dateSelect"></p:ajax>
											</p:calendar>
											<h:message for="duedate" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
											
												
												<h:selectOneMenu id="departmentId" styleClass="form-control"
													converter="#{entityConverter}" value="#{bean.department}"
													requiredMessage="#{msg['department_required']}"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="dep" value="#{bean.departmentList}"
														itemValue="#{dep}" itemLabel="#{dep.name}"></f:selectItems>
													<p:ajax update="secId" event="change"
														listener="#{bean.loadSectionByDepartmentId}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
												</h:selectOneMenu>
												
										
												<ui:remove>
												<p:selectCheckboxMenu id="departmentId" appendTo="@this"
											widgetVar="departmentselect1" class=""
											panelStyle="height: 150px; overflow-y: auto;"
											value="#{bean.selectDepartmentList}"
											onstart="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											converter="#{entityConverter}"
											label="(#{bean.departmentList.size() == 0 || bean.departmentList.size()==null ?'0':bean.departmentList.size()}) Department Selected"
											tabindex="4" filter="true" filterMatchMode="startsWith">
											<f:selectItems var="dep"
												 value="#{bean.departmentList}"
												itemLabel="#{dep.name}" itemValue="#{dep}"></f:selectItems>
											<p:ajax event="change" listener="#{bean.onSelectdepartment}"  oncomplete="PF('departmentselect1').show()"
												update="departmentId secId"></p:ajax>
											<p:ajax event="toggleSelect" oncomplete="PF('departmentselect1').show()"
												listener="#{bean.onSelectdepartment}"
												update="departmentId secId"></p:ajax>
										</p:selectCheckboxMenu>
											</ui:remove>
											
											
											</div>
											<h:message for="departmentId" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sec']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-tree6"></i></span>
												
													
												<h:selectOneMenu id="secId" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{bean.policyNoteIntimation.sectionMaster}"
													requiredMessage="#{msg['section_required']}"
													required="#{not empty param[submit.clientId] || not empty param[update.clientId]}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="sec" value="#{bean.sectionMasterList}"
														itemValue="#{sec}" itemLabel="#{sec.name}"></f:selectItems>
												</h:selectOneMenu>
												
											
										<ui:remove>
												<p:selectCheckboxMenu id="secId" appendTo="@this"
											widgetVar="sectionSelect" value="#{bean.policyNoteIntimation.sectionMaster}"
											onstart="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											converter="#{entityConverter}"
											label="(#{bean.sectionMasterList.size() == 0 || bean.sectionMasterList.size()==null ?'0':bean.sectionMasterList.size()}) Section Selected"
											tabindex="4" filter="true" filterMatchMode="startsWith">
											
												
												<f:selectItems var="sec" value="#{bean.sectionMasterList}"
														itemValue="#{sec}" itemLabel="#{sec.name}"></f:selectItems>
											<p:ajax event="change" listener="#{bean.onSelectdepartment}"  oncomplete="PF('sectionSelect').show()"
												update="departmentId secId"></p:ajax>
											<p:ajax event="toggleSelect" oncomplete="PF('sectionSelect').show()"
												listener="#{bean.onSelectdepartment}"
												update="departmentId secId"></p:ajax>

										</p:selectCheckboxMenu>
												</ui:remove>
											
											
											</div>
											<h:message for="secId" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<p:outputLabel value="#{msg['policy_descrip']}" />
										<span class="mand-red">*</span>
										<div class="form-group m-b-0">
											<p:editor id="notes"
												value="#{bean.policyNoteIntimation.policyDescription}"
												requiredMessage="#{msg['policy_desc_req']}" height="200"
												required="#{not empty param[submit.clientId] || not empty param[update.clientId]}"
												validatorMessage="#{msg['policynotes_des_min_max']}">
												<f:validateLength minimum="3" maximum="1000"></f:validateLength>
											</p:editor>
											<h:message for="notes" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>

								<div class="row m-t-10">
									<div class="col-md-4 col-md-4 col-sm-6">
										<p:outputLabel value="#{msg['up_document']}" />
										<span class="mand-red">*</span>
										<div class="input-group btn-file-upload" style="width: 100%">
											<p:inputText class="form-control text-right" id="docName"
												value="#{bean.fileName}" style="width:62%" disabled="true" />
											<div
												class="no-padding contact-upload upload-popup file-upload-support pull-left">
												<div class="btn-file-upload m-l-8">
													<p:fileUpload fileUploadListener="#{bean.fileUpload}"
														styleClass="btn-upload"
														label="&#xf093;&nbsp;#{msg['upload']}"
														onstart="PF('progressDlg').show();" sizeLimit="10000000"
														oncomplete="PF('progressDlg').hide();" mode="advanced"
														auto="true" update="docName growls" multiple="true">
													</p:fileUpload>
												</div>
											</div>
										</div>
										<small class="uploadfinename">#{msg['file_format_lessthan_100MB_format']}</small>
									</div>
									<!-- <div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Forward to" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="fwdto" styleClass="form-control"
												converter="#{entityConverter}"
												value="#{bean.userMaster}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItems var="user"
													value="#{bean.forwardToUsersList}"
													itemValue="#{user}" itemLabel="#{user.username}"></f:selectItems>
												<p:ajax event="change" update="fwdtoreqmsg" />
											</h:selectOneMenu>
											
										</div>
										<h:message for="fwdto" class="validation-error-label"
											id="fwdtoreqmsg" />
									</div>
								</div> -->

									<!-- <div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="Forward for" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="forwardfor" styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Approval" itemLabel="Approval"></f:selectItem>
												<f:selectItem itemValue="Final Approval"
													itemLabel="Final Approval"></f:selectItem>
											</h:selectOneMenu>
										</div>
									</div>
								</div> -->
								</div>

								<div class="row">
									<div class="col-lg-6">
										<!-- <p:commandButton value="&#xf067; Create Note"
										title="#{msg['add']}"
										styleClass="btn btn-success btn-md fa-input m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>

									<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
										style="min-width:32px;"
										styleClass="btn btn-primary btn-md font-iconmoon"
										onclick="PF('commentdialog').show();"></p:commandButton> -->
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											class="btn btn-sm bg-slate font-iconmoon m-l-0"
											immediate="true" title="#{msg['cancel']}"
											action="#{bean.loadPolicyNotes}" />

										<p:commandButton value="&#xed6e; #{msg['submit']}"
											action="#{bean.savePolicyNotes}"
											rendered="#{bean.pageAction eq 'ADD'}"
											title="#{msg['submit']}" update="growls createPanel"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											styleClass="btn btn-sm bg-success font-iconmoon"
											binding="#{submit}" />

										<p:commandButton value="&#xeda7; #{msg['update']}"
											action="#{bean.savePolicyNotes}"
											rendered="#{bean.pageAction eq 'EDIT'}"
											title="#{msg['update']}" update="growls createPanel"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											styleClass="btn btn-sm bg-primary font-iconmoon"
											binding="#{update}" />
									</div>
								</div>
								<!-- end row -->
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['no_arear_month']}" widgetVar="areardialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="true" styleClass="p-0" width="30%">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat m-b-0">
						<div class="row">
							<div class="col-lg-4">
								<h4>August</h4>
							</div>
							<div class="col-lg-4">
								<h4>September</h4>
							</div>
							<div class="col-lg-4">
								<h4>October</h4>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			draggable="true" styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="panel panel-flat">
										<form action="#">
											<div class="form-group m-b-0">
												<textarea cols="18" rows="10" class="form-control"
													placeholder="Enter text ...">
												    </textarea>
											</div>
										</form>
									</div>


									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>

														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3 col-sm-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>