<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	
	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{loginBean.checkPrivilege('POLICY_NOTES')}"
				onPostBack="true" />
		</f:metadata>
		<ui:param name="bean" value="#{policyNotesBean}"></ui:param> 
		<ui:param name="dto" value="#{bean.policyNoteDTO}"></ui:param>
		<title>InfoTex | Policy Notes Process</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['policy_note_proces']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{msg['policy_note_proces']}</li>
					</ul>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['policy_note_proces']} <span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<p:outputPanel id="createPanel">
						<div class="page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="">
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['govt_ref_run']}" />
												<h:outputText
													value="#{bean.policyNoteIntimation.govReferenceNo}"
													class="" />

											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['govt_ref_date']}" />
												<h:outputText
													value="#{bean.policyNoteIntimation.govReferenceDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="GMT+05:30"></f:convertDateTime>
												</h:outputText>

											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['period']}" />
												<h:outputText value="#{bean.policyNoteIntimation.period}"
													class="" />

											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['due_date']}" />
												<h:outputText value="#{bean.policyNoteIntimation.dueDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="GMT+05:30"></f:convertDateTime>
												</h:outputText>

											</div>
										</div>
									</div>

									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept']}" />
												<h:outputText value="#{bean.department.name}" class="" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['policy_descrip']}" />
												<p:editor id="notes" disabled="true" height="200"
													value="#{bean.policyNoteIntimation.policyDescription}">
												</p:editor>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['comment']}" />
											<span class="mand-red">*</span>
											<p:inputTextarea rows="3" class="form-control" id="comments"
												maxlength="250" value="#{bean.policyNote.policyDescription}">
												<p:ajax update="comments"></p:ajax>
											</p:inputTextarea>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4 col-md-4 col-sm-6">
										<div class="form-group">
											<label class="control-label">#{msg['policy_note_proces']}
												#{msg['up_document']}</label> <span class="mand-red">*</span>
											<div class="input-group btn-file-upload" style="width: 100%">
												<p:inputText class="form-control text-right" id="docName"
													value="#{bean.processfileName}" style="width:62%"
													disabled="true" />
												<div
													class="no-padding contact-upload upload-popup file-upload-support pull-left">
													<div class="btn-file-upload m-l-8">
														<p:fileUpload
															fileUploadListener="#{bean.processFileUpload}"
															styleClass="btn-upload"
															label="&#xf093;&nbsp;#{msg['upload']}"
															onstart="PF('progressDlg').show();" sizeLimit="10000000"
															oncomplete="PF('progressDlg').hide();" mode="advanced"
															auto="true" update="docName growls" multiple="true"
															allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpe?g|png)$/">
														</p:fileUpload>
													</div>
												</div>
											</div>
										</div>
									</div>
									<h:panelGroup rendered="#{not empty bean.fileName}">
										<div class="col-lg-4 col-md-4 col-sm-6">
											<label class="control-label">#{msg['policy_note_upload_doc']}</label>
											<div class="input-group btn-file-upload" style="width: 100%">
												<p:inputText class="form-control" value="#{bean.fileName}"
													style="width:58%" disabled="true" />
												<div>
													<p:commandButton
														value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
														actionListener="#{bean.downloadfile}" ajax="false"
														title="#{msg['download']}"
														class="btn btn-sm bg-primary fa-input btn-upload">
														<p:fileDownload value="#{bean.file}"></p:fileDownload>
													</p:commandButton>
												</div>
											</div>
										</div>
									</h:panelGroup>
								</div>

								<div class="row label-form m-t-10">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['forward_to']}" />
											<span class="mand-red">*</span>
											<div class="input-group ">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<p:autoComplete id="fwdto" minQueryLength="2"
													styleClass="form-control" converter="#{entityConverter}"
													value="#{bean.userMaster}" itemValue="#{emp}" var="emp"
													itemLabel="#{emp.empName}"
													completeMethod="#{bean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="fwdto"></p:ajax>
												</p:autoComplete>
												<ui:remove>
												<h:selectOneMenu id="fwdto" styleClass="form-control"
													converter="#{entityConverter}" value="#{bean.userMaster}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user"
														value="#{bean.forwardToUsersList}" itemValue="#{user}"
														itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
													<p:ajax event="change" update="fwdto" />
												</h:selectOneMenu>
												</ui:remove>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['forward_for']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="forwardfor" styleClass="form-control"
													value="#{bean.policyNoteNote.finalApproval}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
													<p:ajax event="change" update="forwardfor"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											styleClass="btn bg-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											onstart="PF('statusDialog').show()" title="#{msg['cancel']}"
											onsuccess="PF('statusDialog').hide()"
											class="btn btn-sm bg-slate font-iconmoon" process="@this"
											action="#{bean.loadPolicyNotes}" update="growls" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											action="#{bean.savePolicyNoteProcess}" update="growls"
											process="@this" onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn btn-sm bg-success font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<p:outputPanel>
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1"
										value="#{bean.policyNoteNote.note}" height="200"
										placeholder="Enter text ..." />
								</div>
							</div>
							
								<div class='col-md-12'>
									<div class="carousel slide media-carousel" id="media">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name :
																	#{bean.employeeMaster.firstName}</li>
																<li>Designation :
																	#{bean.employeeMaster.personalInfoEmployment.designation.name}</li>
																<li>Date :
																	#{bean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>


		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>#{msg['appcommts']}</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>#{msg['rejection_comments']}</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


	</ui:define>
</ui:composition>