<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">

		<style>
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}
</style>

		<title>Infotex | Government Scheme - View Production Plan</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['govt_scheme_view_pro_plan']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['pdt_planning']}</li>
						<li>#{msg['govt_Scheme']}</li>
						<li class="active">#{msg['govt_scheme_view_pro_plan']}</li>

					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

			</div>
		</div>
		<!-- Page Header End -->
		<!-- Process Steps -->
		<ui:remove>
			<div class="content p-content padding-bottom-2">
				<div class="steps-basic box-shadow-wizard">
					<h6>Create Government Scheme</h6>
					<fieldset></fieldset>
					<h6 class="">Approve Government Scheme</h6>
					<fieldset></fieldset>
					<h6 class="">Finalize Government Scheme</h6>
					<fieldset></fieldset>
				</div>
			</div>
		</ui:remove>
		<!-- Process Steps end -->

		<h:form id="formid">
			<div class="content page-scroll-hp no-padding-bottom">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['govt_scheme_pdt_plan']}</a>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10 no-padding-bottom">
								<p:outputPanel id="addpanel">
									<div class="row label-form view-style">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['plan_typ_code_name']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.schemeType.code} / #{freeDistributionSystemBean.govtSchemePlan.schemeType.name}"
													class="" />
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['sch_name']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.planName}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row label-form view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['ref_num']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.refNumber}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['scheme_period']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.schemePeriodCode}"
													class="" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['plan_from']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.periodFrom}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['plan_to']}" />
												<h:outputText
													value="#{freeDistributionSystemBean.govtSchemePlan.periodTo}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</div>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>



				<div class="panel panel-info m-b-10">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['circle_pdt_details']}
								- #{msg['cur_yr_pdt']}</span>
						</h5>

						<div class="row">
							<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
								<div class="table-responsive">
									<table class="report-table">
										<thead>
											<tr>
												<th class="ui-state-default width-3" rowspan="2"
													align="center">#</th>
												<th class="ui-state-default width-15" rowspan="2"
													align="center">#{msg['circle_code_name']}</th>
												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:set var="groupName" value="" />
													<c:forEach items="${groupMap.value}" var="item">
														<c:set var="groupName"
															value="${item.productGroupMaster.name}" />
													</c:forEach>

													<th class="ui-state-default width-15"
														style="width: 15% !important"
														colspan="${groupMap.value.size()}" align="center">${groupName}</th>
													<th class="ui-state-default fa-input" rowspan="2"
														align="center">#{msg['total']} (&#xf156;)</th>
												</c:forEach>
												<th class="ui-state-default fa-input" rowspan="2"
													align="center">#{msg['grand_tot']} (&#xf156;)</th>
											</tr>
											<tr>
												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:forEach var="itemSet" items="${groupMap.value}">
														<th class="text-center ui-state-default">${itemSet.getProductVarietyMaster().getName()}</th>
													</c:forEach>
												</c:forEach>
											</tr>

										</thead>
										<c:set target="${myItemMap}" property="key" value="value" />
										<c:set var="keyId" value="" />
										<c:forEach var="map" varStatus="status"
											items="${freeDistributionSystemBean.circleWiseMap}">
											<c:set var="circleId"
												value="${fn:substring(map.key, 0, fn:indexOf(map.key, '_'))}" />
											<c:set var="circleName"
												value="${fn:substring(map.key, fn:indexOf(map.key, '_')+1,fn:length(map.key))}" />
											<tbody>

												<tr>
													<td align="center">#{status.index+1}</td>
													<td>${circleId} / ${circleName}</td>
													<!-- Loop -->

													<c:set var="itemLineGrandTotal" value="0" />
													<c:forEach var="groupMap"
														items="${freeDistributionSystemBean.groupWiseMap}">
														<c:set var="groupId" value="${groupMap.key}" />
														<c:set var="itemLineTotal" value="0" />
														<c:forEach var="itemSet" items="${groupMap.value}">
															<c:set var="itemId"
																value="${itemSet.getProductVarietyMaster().getId()}" />
															<c:set var="keyId"
																value="${circleId}_${groupId}_${itemId}" />
															<c:set var="currYearItemQty"
																value="${freeDistributionSystemBean.keyWiseMap[keyId]}" />
															<c:set var="itemLineTotal"
																value="${itemLineTotal+currYearItemQty}" />
															<c:set var="itemLineGrandTotal"
																value="${itemLineGrandTotal+currYearItemQty}" />
															<ui:remove>
																<td class="text-center">${keyId} /
																	${freeDistributionSystemBean.keyWiseMap[keyId]} /
																	${itemSet.getProductVarietyMaster().getName()}</td>
															</ui:remove>
															<td class="text-center"><h:outputText
																	value="#{currYearItemQty}">
																	<f:convertNumber type="number" minFractionDigits="2"
																		pattern="#0.00" />
																</h:outputText></td>
														</c:forEach>
														<td class="text-right"><h:outputText
																value="#{itemLineTotal}">
																<f:convertNumber type="number" minFractionDigits="2"
																	pattern="#0.00" />
															</h:outputText></td>
													</c:forEach>

													<td class="text-right"><h:outputText
															value="#{itemLineGrandTotal}">
															<f:convertNumber type="number" minFractionDigits="2"
																pattern="#0.00" />
														</h:outputText></td>
												</tr>
											</tbody>
										</c:forEach>
										<!-- -->
										<tfoot>
											<tr>
												<td align="right" colspan="2"><strong>TOTAL</strong></td>
												<c:set var="footerItemLineGrandTotal" value="0" />
												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:set var="groupId" value="${groupMap.key}" />
													<c:set var="footerItemLineTotal" value="0" />
													<c:forEach var="itemSet" items="${groupMap.value}">
														<c:set var="itemId"
															value="${itemSet.getProductVarietyMaster().getId()}" />
														<c:set var="totalKeyId" value="${groupId}_${itemId}" />
														<c:set var="currYearItemTotlQty"
															value="${freeDistributionSystemBean.itemWiseTotalMap[totalKeyId]}" />
														<c:set var="footerItemLineTotal"
															value="${footerItemLineTotal+currYearItemTotlQty}" />
														<c:set var="footerItemLineGrandTotal"
															value="${footerItemLineGrandTotal+currYearItemTotlQty}" />
														<td class="text-center"><h:outputText
																value="#{currYearItemTotlQty}">
																<f:convertNumber type="number" minFractionDigits="2"
																	pattern="#0.00" />
															</h:outputText></td>

													</c:forEach>
													<td class="text-right"><h:outputText
															value="#{footerItemLineTotal}">
															<f:convertNumber type="number" minFractionDigits="2"
																pattern="#0.00" />
														</h:outputText></td>
												</c:forEach>
												<td class="text-right"><h:outputText
														value="#{footerItemLineGrandTotal}">
														<f:convertNumber type="number" minFractionDigits="2"
															pattern="#0.00" />
													</h:outputText></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<!-- end row -->
					</div>
				</div>

				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['circle_pdt_details']}
								- #{msg['opening_stock_quantity']}</span>
						</h5>
						<div class="row">
							<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
								<div class="table-responsive">
									<table class="report-table m-b-10">
										<thead>
											<tr>
												<th class="ui-state-default width-3" rowspan="2"
													align="center">#</th>
												<th class="ui-state-default" rowspan="2" align="center">#{msg['circle_code_name']}</th>

												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:set var="groupName" value="" />
													<c:forEach items="${groupMap.value}" var="item">
														<c:set var="groupName"
															value="${item.productGroupMaster.name}" />
													</c:forEach>
													<th class="ui-state-default"
														colspan="${groupMap.value.size()}" align="center">${groupName}</th>
													<th class="ui-state-default fa-input" rowspan="2"
														align="center">#{msg['total']} (&#xf156;)</th>
												</c:forEach>
												<th class="ui-state-default fa-input" rowspan="2"
													align="center">#{msg['grand_tot']} (&#xf156;)</th>
											</tr>

											<tr>
												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:forEach var="itemSet" items="${groupMap.value}">
														<th class="text-center ui-state-default">${itemSet.getProductVarietyMaster().getName()}</th>
													</c:forEach>
												</c:forEach>
											</tr>
										</thead>

										<c:set target="${myItemMap}" property="key" value="value" />
										<c:set var="keyId" value="" />
										<c:forEach var="map" varStatus="status"
											items="${freeDistributionSystemBean.circleWiseMap}">
											<c:set var="circleId"
												value="${fn:substring(map.key, 0, fn:indexOf(map.key, '_'))}" />
											<c:set var="circleName"
												value="${fn:substring(map.key, fn:indexOf(map.key, '_')+1,fn:length(map.key))}" />
											<tbody>

												<tr>
													<td align="center">#{status.index+1}</td>
													<td>${circleId} / ${circleName}</td>
													<!-- Loop -->

													<c:set var="itemLineGrandTotal" value="0" />
													<c:forEach var="groupMap"
														items="${freeDistributionSystemBean.groupWiseMap}">
														<c:set var="groupId" value="${groupMap.key}" />
														<c:set var="itemLineTotal" value="0" />
														<c:forEach var="itemSet" items="${groupMap.value}">
															<c:set var="itemId"
																value="${itemSet.getProductVarietyMaster().getId()}" />
															<c:set var="keyId"
																value="${circleId}_${groupId}_${itemId}" />
															<c:set var="openingStockItemQty"
																value="${freeDistributionSystemBean.osKeyWiseMap[keyId]}" />
															<c:set var="itemLineTotal"
																value="${itemLineTotal+openingStockItemQty}" />
															<c:set var="itemLineGrandTotal"
																value="${itemLineGrandTotal+openingStockItemQty}" />
															<ui:remove>
																<td class="text-center">${keyId} /
																	${freeDistributionSystemBean.osKeyWiseMap[keyId]} /
																	${itemSet.getProductVarietyMaster().getName()}</td>
															</ui:remove>
															<td class="text-center"><h:outputText
																	value="#{openingStockItemQty}">
																	<f:convertNumber type="number" minFractionDigits="2"
																		pattern="#0.00" />
																</h:outputText></td>
														</c:forEach>
														<td class="text-right"><h:outputText
																value="#{itemLineTotal}">
																<f:convertNumber type="number" minFractionDigits="2"
																	pattern="#0.00" />
															</h:outputText></td>
													</c:forEach>
													<td class="text-right"><h:outputText
															value="#{itemLineGrandTotal}">
															<f:convertNumber type="number" minFractionDigits="2"
																pattern="#0.00" />
														</h:outputText></td>
												</tr>
											</tbody>
										</c:forEach>
										<tfoot>
											<tr>
												<td align="right" colspan="2"><strong>#{msg['total']}</strong></td>
												<c:set var="footerOSItemLineGrandTotal" value="0" />
												<c:forEach var="groupMap"
													items="${freeDistributionSystemBean.groupWiseMap}">
													<c:set var="groupId" value="${groupMap.key}" />
													<c:set var="footerItemLineTotal" value="0" />
													<c:forEach var="itemSet" items="${groupMap.value}">
														<c:set var="itemId"
															value="${itemSet.getProductVarietyMaster().getId()}" />
														<c:set var="totalKeyId" value="${groupId}_${itemId}" />
														<c:set var="osItemTotlQty"
															value="${freeDistributionSystemBean.osItemWiseTotalMap[totalKeyId]}" />
														<c:set var="footerItemLineTotal"
															value="${footerItemLineTotal+osItemTotlQty}" />
														<c:set var="footerOSItemLineGrandTotal"
															value="${footerOSItemLineGrandTotal+osItemTotlQty}" />
														<td class="text-center"><h:outputText
																value="#{osItemTotlQty}">
																<f:convertNumber type="number" minFractionDigits="2"
																	pattern="#0.00" />
															</h:outputText></td>

													</c:forEach>
													<td class="text-right"><h:outputText
															value="#{footerItemLineTotal}">
															<f:convertNumber type="number" minFractionDigits="2"
																pattern="#0.00" />
														</h:outputText></td>
												</c:forEach>
												<td class="text-right"><h:outputText
														value="#{footerOSItemLineGrandTotal}">
														<f:convertNumber type="number" minFractionDigits="2"
															pattern="#0.00" />
													</h:outputText></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>


						<div class="">

							<p:outputPanel id="fwdtofwdforpanel"
								rendered="#{freeDistributionSystemBean.viewenableFlag eq 'false'}">
								<div class="row label-form">
									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_to']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="fwdto" styleClass="form-control"
														converter="#{entityConverter}"
														disabled="#{freeDistributionSystemBean.enableFlag eq 'false'}"
														value="#{freeDistributionSystemBean.planNote.forwardTo}"
														required="#{not empty param[approve.clientId]}"
														requiredMessage="#{msg['forward_to_required']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems var="user"
															value="#{freeDistributionSystemBean.forwardToUsersList}"
															itemValue="#{user}"
															itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
														<p:ajax update="fwdto formid:fwdtofwdforpanel"></p:ajax>
													</h:selectOneMenu>
												</ui:remove>

												<p:autoComplete id="fwdto" minQueryLength="2"
													panelStyle="width:250px" styleClass="form-control"
													disabled="#{freeDistributionSystemBean.enableFlag eq 'false'}"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{freeDistributionSystemBean.planNote.forwardTo}"
													itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{freeDistributionSystemBean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="fwdto"></p:ajax>
												</p:autoComplete>
											</div>
										</div>
										<h:message for="fwdto" class="validation-error-label"
											id="fwdtoreqmsg" />
									</div>

									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_for']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="fwdfor" styleClass="form-control"
													value="#{freeDistributionSystemBean.planNote.isFinalApproval}"
													disabled="#{freeDistributionSystemBean.enableFlag eq 'false'}"
													required="#{not empty param[approve.clientId]}"
													requiredMessage="#{msg['forward_for_is_required']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
												</h:selectOneMenu>
											</div>
										</div>
										<h:message for="fwdfor" class="validation-error-label"
											id="fwdforreqmsg" />
									</div>
								</div>
							</p:outputPanel>

							<div class="row">
								<div class="col-lg-6 ">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xea18;&nbsp;#{msg['view_note']}"
											title="#{msg['view_note']}"
											styleClass="btn bg-info btn-sm font-iconmoon m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>

										<ui:remove>
											<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
												style="min-width:32px;"
												rendered="#{freeDistributionSystemBean.commentShow}"
												styleClass="btn btn-primary btn-md font-iconmoon"
												onclick="PF('commentdialog').show();"
												action="#{freeDistributionSystemBean.showapproveCommentsByDefault}"></p:commandButton>
										</ui:remove>
									</div>
								</div>
								<div class="col-md-6 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6e;&nbsp;#{msg['reject']}"
											rendered="#{loginBean.userFeatures['GOVT_SCHEME_PRODUCTION_PLAN_REJECT'] and freeDistributionSystemBean.enableFlag and freeDistributionSystemBean.govtSchemePlanResponseDTO.planStatus ne 'FINAL_APPROVED' and (freeDistributionSystemBean.viewStatus eq 'SUBMITTED' or freeDistributionSystemBean.viewStatus eq 'APPROVED')}"
											styleClass="btn btn-sm bg-danger waves-effect waves-light font-iconmoon"
											action="#{freeDistributionSystemBean.changeCurrentStatus('REJECTED')}"
											onclick="PF('dlgComments2').show();">
										</p:commandButton>

										<p:commandButton value="&#xecf2;&nbsp;#{msg['final_approve']}"
											rendered="#{freeDistributionSystemBean.enableFlag and freeDistributionSystemBean.lastNote.isFinalApproval eq 'true' and freeDistributionSystemBean.govtSchemePlanResponseDTO.planStatus ne 'FINAL_APPROVED' and (freeDistributionSystemBean.viewStatus eq 'SUBMITTED' or freeDistributionSystemBean.viewStatus eq 'APPROVED')}"
											styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
											action="#{freeDistributionSystemBean.changeCurrentStatus('FINAL_APPROVED')}"
											onclick="PF('dlgComments3').show();">
										</p:commandButton>

										<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
											rendered="#{loginBean.userFeatures['GOVT_SCHEME_PRODUCTION_PLAN_APPROVE'] and freeDistributionSystemBean.enableFlag and freeDistributionSystemBean.lastNote.isFinalApproval eq 'false'  and (freeDistributionSystemBean.viewStatus eq 'SUBMITTED' or freeDistributionSystemBean.viewStatus eq 'APPROVED')}"
											styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
											actionListener="#{freeDistributionSystemBean.changeCurrentStatus('APPROVED')}"
											onclick="PF('dlgComments1').show();" update="growls">
										</p:commandButton>

										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											class="btn bg-info heading-btn font-iconmoon"
											rendered="#{freeDistributionSystemBean.action eq 'VIEW'}"
											action="#{freeDistributionSystemBean.cancel}">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>



		<!-- View Note -->
		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			closable="true" styleClass="p-0 top-100" width="80%">
			<h:form>
				<div class="panel-body p-0         ">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>

						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="form-group">
									<p:editor widgetVar="editor3" readonly="true" disabled="true"
										value="#{freeDistributionSystemBean.planNote.note}"
										height="150" style="margin-bottom:10px">
									</p:editor>
								</div>
								<div class="carousel slide prime-media-carousel" id="media">
									<div class="item  active">
										<div class="row">
											<div class="col-lg-12 ph0">
												<p:carousel
													value="#{freeDistributionSystemBean.viewNoteEmployeeDetails}"
													var="data" itemStyle="text-align:center" responsive="false">
													<div class="col-md-12 ph0">
														<div class="p-10 border-top-warning panel m-b-0">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h:panelGroup
																		rendered="#{data.planStatus=='SUBMITTED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['created_by']}</h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.planStatus=='APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.planStatus=='FINAL_APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['final_approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.planStatus=='REJECTED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['rejected_by']}</h6>
																	</h:panelGroup>
																</li>
																<li>Name : #{data.employeeName}</li>
																<li>Designation : #{data.employeeDesignation}</li>
																<li>Date : <h:outputText
																		value="#{data.planCreatedDate}">
																		<f:convertDateTime pattern="dd-MM-yyyy"
																			timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																	</h:outputText></li>
															</ul>
														</div>
													</div>
												</p:carousel>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('notedialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />

							</div>
						</div>
					</div>
				</div>
			</h:form>
		</p:dialog>

		<!-- View Note -->

		<!-- Comment -->


		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			style="left: 478px !important;top: 254px !imporatant;"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li id="rejActive"><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<p:outputPanel
													rendered="#{freeDistributionSystemBean.showApprovedTable}">
													<c:forEach var="approveMap"
														items="${freeDistributionSystemBean.approvedCommentMap}">
														<c:set var="approvedID" value="${approveMap.key}" />
														<c:forEach var="itemSet" items="${approveMap.value}">
															<c:set var="comments" value="${itemSet.approvedComments}" />
															<c:set var="userName" value="${itemSet.empName}" />
															<c:set var="crdate" value="${itemSet.createdDate}" />
															<tr class="success">
																<td><strong>Approved Comments</strong></td>
																<td><span class="pull-left m-b-10">Given By</span>
																	<span
																	class="label label-flat border-success text-success-600 pull-right m-l-10 m-b-10">${userName}</span>
																	<br /> <span class="pull-left">Given Date</span> <span
																	class="label label-flat border-warning text-warning-600 pull-right m-l-10">
																		<p:outputLabel value="#{crdate}">
																			<f:convertDateTime
																				pattern="#{loginBean.userInfoDTO.dateFormat}" />
																		</p:outputLabel>
																</span></td>
																<td>${comments}</td>
															</tr>
														</c:forEach>
													</c:forEach>
												</p:outputPanel>
												<p:outputPanel
													rendered="#{!freeDistributionSystemBean.showApprovedTable}">
													<tr class="">
														<td width=""><strong>No Comments</strong></td>
													</tr>
												</p:outputPanel>
											</tbody>
										</table>
									</div>
									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<p:outputPanel id="replyComments">
													<p:outputPanel
														rendered="#{freeDistributionSystemBean.showRejectTable}">
														<c:forEach var="rejectMap"
															items="${freeDistributionSystemBean.rejectedCommentMap}">
															<c:set var="rejectID" value="${rejectMap.key}" />
															<c:forEach var="rejSet" items="${rejectMap.value}">
																<c:set var="commen" value="${rejSet.rejectedComments}" />
																<c:set var="reply" value="${rejSet.replyComments}" />
																<c:set var="replyShow" value="${rejSet.replyShow}" />
																<c:set var="rejectShow" value="${rejSet.rejectShow}" />
																<c:set var="userName" value="${rejSet.empName}" />
																<c:set var="crdate" value="${rejSet.createdDate}" />
																<p:outputPanel rendered="${rejectShow}">
																	<tr class="success">
																		<td><strong>Rejection Comment</strong></td>
																		<td><span class="pull-left m-b-10">Given
																				By</span> <span
																			class="label label-flat border-success text-success-600 pull-right m-l-10 m-b-10">${userName}</span>
																			<div class="row">
																				<div class="col-lg-12">
																					<span class="pull-left">Given Date</span> <span
																						class="label label-flat border-warning text-warning-600 pull-right m-l-10">
																						<p:outputLabel value="#{crdate}">
																							<f:convertDateTime
																								pattern="#{loginBean.userInfoDTO.dateFormat}" />
																						</p:outputLabel>
																					</span>
																				</div>
																			</div></td>
																		<td>${commen}</td>
																	</tr>
																</p:outputPanel>
																<p:outputPanel rendered="${replyShow}">
																	<tr class="success">
																		<td><strong>Replay Comment</strong></td>
																		<td><span class="pull-left m-b-10">Given
																				By</span> <span
																			class="label label-flat border-success text-success-600 pull-right m-l-10 m-b-10">${userName}</span>
																			<div class="row">
																				<div class="col-lg-12">
																					<span class="pull-left">Given Date</span> <span
																						class="label label-flat border-warning text-warning-600 m-l-10 pull-right">
																						<p:outputLabel value="#{crdate}">
																							<f:convertDateTime
																								pattern="#{loginBean.userInfoDTO.dateFormat}" />
																						</p:outputLabel>
																					</span>
																				</div>
																			</div></td>
																		<td style="width: 250px;">${reply}</td>
																	</tr>
																</p:outputPanel>
															</c:forEach>
														</c:forEach>
														<p:outputPanel
															rendered="#{freeDistributionSystemBean.showReplyBox}">
															<tr>
																<td><strong>#{freeDistributionSystemBean.commentName}</strong></td>
																<td><span class="pull-left m-b-10">Given By</span>
																	<span
																	class="label label-flat border-success text-success-600 pull-right m-b-10">You</span>
																	<div class="row">
																		<div class="col-lg-12">
																			<span class="pull-left">Given Date</span> <span
																				class="label label-flat border-warning text-warning-600 pull-right">
																				<p:outputLabel
																					value="#{freeDistributionSystemBean.currentDate}">
																					<f:convertDateTime
																						pattern="#{loginBean.userInfoDTO.dateFormat}" />
																				</p:outputLabel>
																			</span>
																		</div>
																	</div></td>
																<td><p:inputTextarea id="userReplyComment"
																		value="#{freeDistributionSystemBean.userReplyComment.userReplyComments}">
																		<p:ajax update="userReplyComment"></p:ajax>
																	</p:inputTextarea></td>
															</tr>
														</p:outputPanel>
													</p:outputPanel>
												</p:outputPanel>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="PF('commentdialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton
									rendered="#{freeDistributionSystemBean.showReplyBox}"
									id="rejectSubmit" binding="#{comentSubmit}"
									action="#{freeDistributionSystemBean.saveReplyCommentsByGovSchemeplanId}"
									update="replyComments growls"
									value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog modal="true" draggable="false" header="Approve Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<h:form id="approveform">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Remarks" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{freeDistributionSystemBean.approveComments}"
									id="comments1" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments1').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{freeDistributionSystemBean.statusUpdate}"
						onclick="PF('dlgComments1').hide();">
					</p:commandButton>
				</div>
			</h:form>
		</p:dialog>


		<p:dialog modal="true" draggable="false" header="Reject Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<h:form id="rejectform">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Remarks" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{freeDistributionSystemBean.rejectComments}"
									id="comments2">
								</p:inputTextarea>

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments2').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide()"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{freeDistributionSystemBean.statusUpdate}"
						onclick="PF('dlgComments2').hide();">
					</p:commandButton>
				</div>
			</h:form>
		</p:dialog>

		<p:dialog modal="true" draggable="false"
			header="Final Approve Comments"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
			width="40%">
			<h:form id="finalapproveform">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Remarks" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{freeDistributionSystemBean.finalApproveComments}"
									id="comments3" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments3').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{freeDistributionSystemBean.statusUpdate}"
						onclick="PF('dlgComments3').hide();">
					</p:commandButton>
				</div>
			</h:form>
		</p:dialog>

		<!-- Comment -->

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table1");
				var mainTable = document.getElementById("main-table1");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table2");
				var mainTable = document.getElementById("main-table2");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<!-- <script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script> -->
	</ui:define>
</ui:composition>