<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{fuelFillingRegisterBean}"></ui:param>
		<ui:param name="fuelFillingRegister"
			value="#{bean.fuelFillingRegister}"></ui:param>

		<title>InfoTex | Add Receipt Fuel Filling Details</title> 
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['cr_rece']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['admin']}</li>
						<li>#{msg['vcl_mng']}</li>
						<li>#{msg['fuel_filling_detail']}</li>
						<li class="active">#{msg['cr_rece']}</li>
					</ul>
				</div>
			</div>
		</div>



		<div class="content no-padding-bottom">

			<p:outputPanel id="receiptfuelPanel">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['receipt']}</h6>
						</div>
						<div class="page-scroll-without-process">
							<div class="panel-body">
								<div class="view-style">
									<div class="row ">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['veh_reg_no']}" />
												<h:outputText
													value="#{fuelFillingRegister.vehicleRegister.registrationNo}"
													class="" />
												<!-- 	<h:outputText value="TN-01-AN-4657 / Suresh / 12-Mar-2018 / 1309309" /> -->

											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['quantity_filled']}" />
												<h:outputText value="#{fuelFillingRegister.fuelQty} "
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['kilometer_travlled']}" />
												<h:outputText
													value="#{fuelFillingRegister.fillingKillometer} " class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['last_filled_date']}" />
												<h:outputText class=""
													value="#{fuelFillingRegister.fillingDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>

									<div class="row custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['last_closing_kilometer']}" />
												<h:outputText
													value="#{fuelFillingRegister.fillingKillometer} " class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['fill_date']}" />
												<h:outputText class=""
													value="#{fuelFillingRegister.fillingDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['cur_met_read']}" />
												<h:outputText
													value="#{fuelFillingRegister.fillingKillometer} " class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['desg']}" />
												<h:outputText value="#{fuelFillingRegister.destination}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['fuel_type']}" />
												<h:outputText value="#{fuelFillingRegister.fuelType.name} "
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['coupon_book_number']}" />
												<h:outputText
													value="#{fuelFillingRegister.fuelCoupon.couponBookNumber}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['coup_sta_to_end_no']}" />
												<h:outputText class=""
													value="#{fuelFillingRegister.fuelCoupon.couponStartNumber} - #{fuelFillingRegister.fuelCoupon.couponEndNumber}" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['coupon_number']}" />
												<h:outputText value="#{fuelFillingRegister.couponNumber}"
													class="" />
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['fuel_to_be_filled']} #{msg['in_lit']}" />
												<h:outputText value="#{fuelFillingRegister.fuelQty}"
													class="" />
											</div>
										</div>

									</div>
								</div>
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['rece_deta']}</span>
								</h5>

								<p:outputPanel id="fuelFillingId">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['receipt_dat']}" />
											<span class="mand-red">*</span>
											<div class="form-group form-group_calend m-b-0">
												<p:calendar id="workFrom1" autocomplete="off"
													readonlyInput="true"
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													navigator="true" placeholder="dd-MMM-yyyy"
													required="#{not empty param[fuelReciept.clientId]}"
													requiredMessage="#{msg['receipt_dat_req']}"
													styleClass="form-control-1 calend-icon-1"
													value="#{bean.fuelFillingReciept.recieptDate}">
													<p:ajax event="dateSelect" update="workFrom1"></p:ajax>
												</p:calendar>
												<h:message for="workFrom1" class="validation-error-label"></h:message>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['receipt_num']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText id="recieptNo"
														value="#{bean.fuelFillingReciept.recieptNumber}"
														class="form-control"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['receipt_num_req']}">
														<p:ajax event="keyup" update="recieptNo"></p:ajax>
													</p:inputText>
												</div>
												<h:message for="recieptNo" class="validation-error-label"></h:message>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['fuel_type']}" for="fueltypeId" />
												<p:outputLabel value="*" class="mand-symbol"
													for="fueltypeId"
													rendered="#{empty param[fuelReciept.clientId]}" />

												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-droplet"></i></span>
													<h:selectOneMenu styleClass="form-control" id="fueltypeId"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['fuel_type_req']}"
														class="form-control" converter="#{entityConverter}"
														label="Select" tabindex="3" panelStyle="width:270px"
														value="#{bean.fuelFillingReciept.fuelType}">
														<f:selectItem itemLabel="Select Fuel Type"
															itemDisabled="true" itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{bean.fuelFillTypeList}"
															var="fuel2" itemLabel="#{fuel2.name}"
															itemValue="#{fuel2}" />
														<p:ajax event="change" update="fueltypeId"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="fueltypeId" class="validation-error-label" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['amount']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-inr"></i></span>
													<p:inputText id="amount" autocomplete="off"
														value="#{bean.fuelFillingReciept.amount}"
														class="form-control text-right"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['receipt_amount_req']}">
														<p:keyFilter regEx="/[0-9.]/" />
														<p:ajax event="change" update="amount"></p:ajax>
														<f:convertNumber pattern="#0.00">
														</f:convertNumber>
														<p:keyFilter regEx="/[0-9]/i" />
													</p:inputText>
												</div>
												<h:message for="amount" class="validation-error-label" />
											</div>
										</div>
										
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['rate_per_liter']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-inr"></i></span>
													<p:inputText id="rateperliter" autocomplete="off"
														value="#{bean.fuelFillingReciept.rateperliter}"
														class="form-control text-right"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['receipt_amount_req']}">
														<p:keyFilter regEx="/[0-9.]/" />
														<p:ajax event="change" update="rateperliter"></p:ajax>
														<f:convertNumber pattern="#0.00">
														</f:convertNumber>
														<p:keyFilter regEx="/[0-9]/i" />
													</p:inputText>
												</div>
												<h:message for="amount" class="validation-error-label" />
											</div>
										</div>
									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['fuel_fill_lit']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-droplet"></i></span>
													<p:inputText id="fuelFilled" autocomplete="off"
														value="#{bean.fuelFillingReciept.fuelFilled}"
														class="form-control text-right"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['fuel_fill_lit_req']}">
														<p:ajax event="keyup" update="fuelFilled"></p:ajax>
														<p:keyFilter regEx="/[0-9]/i" />
													</p:inputText>
												</div>
												<h:message for="fuelFilled" class="validation-error-label" />
											</div>
										</div>

										<p:outputPanel id="submit-upload">
											<div class="col-lg-5 col-md-5 col-sm-6 col-xs-7">
												<div class="form-group">
													<label class="control-label">#{msg['up_doc']}</label>
													<div class="input-group image-preview btn-file-upload"
														style="width: 100%">
														<p:inputText class="form-control" value="#{bean.fileName}"
															id="uploadFileName" style="width:78%" disabled="true" />
														<div class=" no-padding contact-upload upload-popup"
															style="float: right">
															<div>
																<p:fileUpload update="uploadFileName" auto="true"
																	id="complaintDocumentUpload"
																	label="&#xf093;&nbsp; #{msg['upload']}"
																	onstart="PF('progressDlg').show();"
																	oncomplete="PF('progressDlg').hide();"
																	dragDropSupport="true" styleClass="btn-upload m-l-5"
																	fileUploadListener="#{bean.fuelRecieptFileUpload}">
																	<f:attribute value="#{data}" name="object"></f:attribute>
																</p:fileUpload>



															</div>
														</div>
													</div>
													<div>
														<small class="uploadfinename">#{msg['fl_fmt_less_twomb']}</small>
													</div>
												</div>
											</div>
										</p:outputPanel>
									</div>
								</p:outputPanel>

								<div class="row label-form">
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_to']}"
													for="forwardToUsers" />
												<p:outputLabel value="*" class="mand-symbol"
													for="forwardToUsers"
													rendered="#{empty param[fuelReciept.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<ui:remove>
														<h:selectOneMenu id="forwardToUsers"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{bean.fuelFillingRecieptDTO.forwardTo}"
															required="#{not empty param[fuelReciept.clientId]}"
															requiredMessage="#{msg['forward_to_required']}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems var="userMaster"
																value="#{fuelFillingRegisterBean.forwardToUsersList}"
																itemLabel="#{userMaster.empCode} / #{userMaster.empName}"
																itemValue="#{userMaster}" />
															<p:ajax event="change" update="forwardToUsers"></p:ajax>
														</h:selectOneMenu>
													</ui:remove>
													<p:autoComplete id="forwardToUsers" minQueryLength="2"
														panelStyle="width:250px" styleClass="form-control"
														converter="#{entityConverter}"
														required="#{not empty param[fuelReciept.clientId]}"
														requiredMessage="#{msg['forward_to_req']}"
														value="#{bean.userMaster}" itemValue="#{emp}" var="emp"
														itemLabel="#{emp.empName}"
														completeMethod="#{fuelFillingRegisterBean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="forwardToUsers"></p:ajax>
													</p:autoComplete>
												</div>
												<h:message for="forwardToUsers"
													class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['frwd_for']}" for="forwardfor" />
												<p:outputLabel value="*" class="mand-symbol"
													for="forwardfor"
													rendered="#{empty param[fuelReciept.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="forwardfor" styleClass="form-control"
														required="#{not empty param[fuelReciept.clientId]}"
														value="#{bean.fuelFillingRecieptDTO.forwardFor}"
														requiredMessage="#{msg['forward_for_is_required']}">
														<f:selectItem itemLabel="#{msg['select']}" />
														<f:selectItem itemValue="#{false}" itemLabel="Approval" />
														<f:selectItem itemValue="#{true}"
															itemLabel="Final Approval" />
														<p:ajax event="change" update="forwardfor"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="forwardfor" class="validation-error-label"></h:message>
											</div>
										</div>
									</div>
								</div>

								<div class="row label-form m-t-10">
									<p:outputPanel id="create-note">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<p:commandButton value="&#xf067; #{msg['create_note']}"
												title="#{msg['create_note']}"
												styleClass="btn btn-success btn-md fa-input m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>

											<!--style="min-width:32px;"-->
											<!--styleClass="btn bg-primary btn-md font-iconmoon"-->
											<!--onclick="PF('commentdialog').show();"></p:commandButton>-->
										</div>

									</p:outputPanel>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="pull-right">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn btn-sm bg-slate font-iconmoon m-l-0"
												action="#{bean.fuelFillingRegisterPage}"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" immediate="true" />

											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												title="#{msg['submit']}" onstart="PF('statusDialog').show()"
												oncomplete="PF('statusDialog').hide();"
												binding="#{fuelReciept}" update="receiptfuelPanel,growls"
												class="btn btn-sm bg-success font-iconmoon"
												action="#{bean.fuelRecieptsubmit}" />
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</p:outputPanel>
		</div>


		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0 top-100" width="80%">
			<p:outputPanel id="customerPanel">
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="form-group">
									<p:textEditor id="note" height="200"
										value="#{bean.fuelFillingRecieptDTO.note}">
									</p:textEditor>
								</div>
								<div class='col-md-12'>
									<div class="carousel slide media-carousel">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row m-t-10">
													<div class="col-md-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>#{msg['name']} :
																	#{bean.createdEmployeeMaster.firstName}</li>
																<li>#{msg['designation']} :
																	#{bean.createdEmployeeMaster.personalInfoEmployment.currentDesignation.name}</li>
																<li>#{msg['date']} : #{bean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>

												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('notedialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}" update="customerPanel note"
									onclick="PF('notedialog').hide();"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
</ui:composition>