<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{fuelFillingRegisterBean}"></ui:param>

		<title>InfoTex | Cancellation Fuel Filling Details</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['cancellation_fuel_fill']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{msg['cancellation_fuel_fill']}</li>
					</ul>
				</div>
			</div>
		</div>

		<p:outputPanel id="fuelcancelPanel">
			<div class="content m-b-0">
				<div class="">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">
									#{msg['cancellation_fuel_fill_detail']} </a>
							</h6>
						</div>

						<div class="page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="view-style">
									<div class="row ">
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.vehicleRegister.purchaseOrder.entityMaster.name}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['vehicle_num']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.vehicleRegister.registrationNo}"
													class="" />

											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['vehicle_name']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.vehicleRegister.vehicleModel.name}"
													class="" />

											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['variant']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.vehicleRegister.fuelType}"
													class="" />
											</div>
										</div>

									</div>

									<div class="row custom-form-1">
										<div class="col-lg-3 col-md-6 col-sm-6 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['driver_name']}" />

											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['driver_id']}" />

											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['last_filled_date']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.fillingDate}"
													class="">
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
														pattern="#{loginBean.userInfoDTO.dateFormat}" />
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['quantity_filled']}" />
												<h:outputText value="#{fuelFillingRegisterBean.fuelQty}"
													class="" />
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['kilometer_travlled']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fillingKillometer}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['coupon_number']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.couponNumber}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['last_closing_kilometer']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.fillingKillometer}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6 ">
											<div class="form-group">
												<p:outputLabel value="#{msg['fuel_to_be_filled']}" />
												<h:outputText
													value="#{fuelFillingRegisterBean.fuelFillingRegister.fuelQty}"
													class="" />
											</div>
										</div>
									</div>
								</div>


								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['cancellation_fuel_fill_detail']}</span>
								</h5>
								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<p:outputLabel value="#{msg['cancellation_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="canceldate"
												value="#{fuelFillingRegisterBean.fuelFillingRegister.cancellationDate}"
												mindate="new Date()"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												navigator="true" placeholder="dd-MMM-yyyy"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['cancellation_date_is_req']}"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax update="canceldate" event="dateSelect" />
											</p:calendar>
											<h:message for="canceldate" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="row">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
											<span class="mand-red">*</span>
											<h:inputTextarea id="reason3" rows="3" class="form-control"
												maxlength="250"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['reason_is_required']}"
												value="#{fuelFillingRegisterBean.fuelFillingRegister.reason}">
											</h:inputTextarea>
											<h:message for="reason3" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_to']}" for="forwardToUsers" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="forwardToUsers"
												rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="forwardToUsers"
														styleClass="form-control" converter="#{entityConverter}"
														value="#{bean.fuelFillingRegisterSaveDTO.forwardTo}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['forward_to_required']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems var="userMaster"
															value="#{fuelFillingRegisterBean.forwardToUsersList}"
															itemLabel="#{userMaster.empCode} / #{userMaster.empName}"
															itemValue="#{userMaster}" />
														<p:ajax event="change" update="forwardToUsers"></p:ajax>
													</h:selectOneMenu>
												</ui:remove>

												<p:autoComplete id="forwardToUsers" minQueryLength="2"
													panelStyle="width:250px" styleClass="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{bean.fuelFillingRegisterSaveDTO.forwardTo}"
													itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{bean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="forwardToUsers"></p:ajax>
												</p:autoComplete>
											</div>
											<h:message for="forwardToUsers"
												class="validation-error-label" />
										</div>
									</div>
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_for']}" for="forwardfor" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="forwardfor" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="forwardfor" styleClass="form-control"
													required="#{not empty param[submit.clientId]}"
													value="#{bean.fuelFillingRegisterSaveDTO.forwardFor}"
													requiredMessage="#{msg['forward_for_is_required']}">

													<f:selectItem itemLabel="#{msg['select']}" />
													<f:selectItem itemValue="#{false}" itemLabel="Approval" />
													<f:selectItem itemValue="#{true}"
														itemLabel="Final Approval" />
													<p:ajax event="change" update="forwardfor"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="forwardfor" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row label-form">
									<p:outputPanel id="create-note">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<p:commandButton value="&#xf067; #{msg['create_note']}"
												title="#{msg['create_note']}"
												styleClass="btn bg-success btn-md fa-input m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>
										</div>
									</p:outputPanel>

									<div class="col-lg-6 col-md-6 col-sm-6 text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn btn-sm bg-slate font-iconmoon m-l-0"
											action="#{fuelFillingRegisterBean.fuelFillingRegisterPage}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()" immediate="true" />

										<p:commandButton value="&#xed6e; #{msg['submit']}"
											onstart="PF('statusDialog').show()"
											oncomplete="PF('statusDialog').hide();" binding="#{submit}"
											update="fuelcancelPanel growls"
											class="btn btn-sm bg-success font-iconmoon"
											action="#{bean.fuelFillingCancellation}" />
									</div>
								</div>

								<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
									modal="true" showEffect="fade" hideEffect="fade"
									resizable="false" styleClass="p-0 top-100" width="80%">
									<p:outputPanel id="customerPanel">
										<div class="panel-body p-0">
											<div class="tabbable">
												<ul
													class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
													<li class="active"><a href="#large-tab1"
														data-toggle="tab">Note - 1</a></li>
													<li class="pull-right"><a href="#large-tab2"
														data-toggle="tab"> <i class="icon-plus3"></i></a></li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active" id="large-tab1">
														<div class="form-group">
															<p:textEditor id="note" height="200"
																value="#{bean.fuelFillingRegisterSaveDTO.note}">
															</p:textEditor>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 text-right">
													<div class="form-group m-b-0">
														<p:commandButton value="&#xed6a;&nbsp;#{msg['back']}"
															title="#{msg['cancel']}"
															onclick="PF('notedialog').hide();"
															class="btn bg-slate heading-btn  font-iconmoon" />
														<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
															title="#{msg['submit']}" update="customerPanel note"
															onclick="PF('notedialog').hide();"
															class="btn bg-success heading-btn  font-iconmoon" />
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</p:dialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>
	</ui:define>
</ui:composition>