<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<style type="text/css">
.purchase-popup {
	height: 530px;
	overflow: auto;
}
</style>
		<title>InfoTex | Create Contract / Export Production Plan</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{contractProductionPlanBean.action eq 'ADD' ?
						msg['create_production_plan'] : msg['edit_prod_plan']}</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['pdt_plan']}</li>
						<li>#{msg['cont_export']}</li>
						<li class="active">#{contractProductionPlanBean.action eq
							'ADD' ? msg['create_production_plan'] : msg['edit_prod_plan']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<h:form name="contractForm">
			<div class="content page-scroll-hp no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['contract_sales']}
									/ #{msg['export']} </a> <span class="pull-right text-13 m-r-25">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body no-padding-top">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['plan_details']}</span>
								</h5>
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['plan_type']}"
												for="contractPlanType" />
											<p:outputLabel value="*" for="contractPlanType"
												class="mand-red"
												rendered="#{empty param[saveBtn.clientId] and empty param[submitBtn.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="contractPlanType"
													disabled="#{contractProductionPlanBean.contractExportPlan.id!=null}"
													class="form-control select2"
													value="${contractProductionPlanBean.contractExportPlan.planType}"
													required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
													requiredMessage="#{msg['plan_type_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{contractProductionPlanBean.planTypeList}"
														var="val" itemLabel="#{val}" itemValue="#{val}" />

													<p:ajax event="change" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														update="contractPlanTypeMsg" />
												</h:selectOneMenu>
											</div>
											<h:message for="contractPlanType"
												class="validation-error-label" id="contractPlanTypeMsg" />
											<p:focus for="contractPlanType"></p:focus>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_name']}" for="planName" />
											<p:outputLabel value="*" for="planName" class="mand-red"
												rendered="#{empty param[saveBtn.clientId] and empty param[submitBtn.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="icon-percent"></i>
												</span>
												<h:inputText class="form-control fa-input" id="planName"
													value="${contractProductionPlanBean.contractExportPlan.planName}"
													maxlength="100"
													required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
													requiredMessage="#{msg['plan_name_req']}">
													<p:ajax event="keyup" update="planNameMsg" />
												</h:inputText>
											</div>
											<h:message for="planName" class="validation-error-label"
												id="planNameMsg" />
											<p:tooltip for="planName"
												value="#{msg['pl_en']} #{msg['plan_name']}" />
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['plan_from']} " />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="planFrom"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												navigator="true" mindate="java.util.Date"
												styleClass="form-control-1 calend-icon-1"
												value="#{contractProductionPlanBean.contractExportPlan.fromDate}"
												required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
												requiredMessage="#{msg['plan_from_is_req']}">
												<p:ajax event="dateSelect"
													listener="#{contractProductionPlanBean.fromDateChange}"
													update="planFromMsg planFrom planTo" />
											</p:calendar>
											<h:message for="planFrom" class="validation-error-label"
												id="planFromMsg" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['plan_to']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend m-b-0">
											<p:calendar id="planTo"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												navigator="true" styleClass="form-control-1 calend-icon-1"
												value="#{contractProductionPlanBean.contractExportPlan.toDate}"
												mindate="#{contractProductionPlanBean.contractExportPlan.fromDate}"
												required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
												requiredMessage="#{msg['plan_to_is_req']}">
												<p:ajax event="dateSelect"
													listener="#{contractProductionPlanBean.planDateChangeWithDueDate}"
													update="planTo dueDate planToMsg" />
											</p:calendar>
											<h:message for="planTo" class="validation-error-label"
												id="planToMsg" />
										</div>
									</div>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['due_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend m-b-0">
											<p:calendar id="dueDate"
												mindate="#{contractProductionPlanBean.contractExportPlan.fromDate}"
												maxdate="#{contractProductionPlanBean.contractExportPlan.toDate}"
												placeholder="#{loginBean.userInfoDTO.dateFormat}"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												navigator="true" styleClass="form-control-1 calend-icon-1"
												value="#{contractProductionPlanBean.contractExportPlan.dueDate}"
												required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
												requiredMessage="#{msg['due_date_req']}">
												<p:ajax event="dateSelect" update="dueDateMsg dueDate" />
											</p:calendar>
											<h:message for="dueDate" class="validation-error-label"
												id="dueDateMsg" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group m-b-0">
											<p:outputLabel value="#{msg['plan_based_on']}"
												for="contractPlanBase" />
											<p:outputLabel value="*" for="contractPlanBase"
												class="mand-red"
												rendered="#{empty param[saveBtn.clientId] and empty param[submitBtn.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i class=" icon-list"></i></span>
												<h:selectOneMenu id="contractPlanBase"
													required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
													requiredMessage="#{msg['plan_bassed_on_req']}"
													class="form-control select2"
													value="${contractProductionPlanBean.contractExportPlan.planBase}"
													disabled="#{contractProductionPlanBean.contractExportPlan.id!=null or contractProductionPlanBean.contractExportPlan.contractExportPlanDetails.size() > 0}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{contractProductionPlanBean.planBasedOnList}"
														var="val" itemLabel="#{val.name().replaceAll('_', ' ')}"
														itemValue="#{val}" />
													<f:ajax render="planBasePanel"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														listener="#{contractProductionPlanBean.onChangePlanBase}"
														update="contractPlanBaseMsg contractPlanBase" />

												</h:selectOneMenu>
											</div>
											<h:message for="contractPlanBase"
												class="validation-error-label" id="contractPlanBaseMsg" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->


				<div class="panel panel-white m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
						</h5>
						<h:panelGroup layout="block" id="planBasePanel">
							<h:panelGroup
								rendered="#{contractProductionPlanBean.contractExportPlan.planBase=='Sales_Order'}">
								<p:outputPanel id="panelA">
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['cust_type']}"
													for="customerTypeMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="customerTypeMaster"
													rendered="#{empty param[searchBtn.clientId]}"></p:outputLabel>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="customerTypeMaster"
														styleClass="form-control" converter="#{entityConverter}"
														value="#{contractProductionPlanBean.contractExportPlanRequest.customerTypeMaster}"
														required="#{not empty param[searchBtn.clientId]}"
														requiredMessage="#{msg['cust_type_is_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems var="customerTypeMaster"
															itemLabel="#{customerTypeMaster.name}"
															itemValue="#{customerTypeMaster}"
															value="#{contractProductionPlanBean.customerTypeMasterList}" />
														<p:ajax event="change"
															update="growls, customerMaster, salesOrder, gstNumber, customerTypeMasterMsg"
															listener="#{contractProductionPlanBean.onSelectCustomerTypeMaster}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="customerTypeMaster"
													class="validation-error-label" id="customerTypeMasterMsg" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['customer_name']}"
													for="customerMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="customerMaster"
													rendered="#{empty param[searchBtn.clientId]}"></p:outputLabel>
												<div class="row">
													<div class="col-lg-10 col-md-10 col-sm-10">
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class=" icon-user"></i></span>
															<h:selectOneMenu id="customerMaster"
																styleClass="form-control" converter="#{entityConverter}"
																value="#{contractProductionPlanBean.contractExportPlanRequest.customerMaster}"
																required="#{not empty param[searchBtn.clientId]}"
																requiredMessage="#{msg['cust_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems var="customerMaster"
																	itemLabel="#{customerMaster.name}"
																	itemValue="#{customerMaster}"
																	value="#{contractProductionPlanBean.customerMasterList}" />
																<p:ajax event="change"
																	update="growls, salesOrder, gstNumber customerMasterMsg, viewCustomerDetailsBtn"
																	listener="#{contractProductionPlanBean.onSelectCustomerMaster}"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()" />
															</h:selectOneMenu>
														</div>
														<h:message for="customerMaster"
															class="validation-error-label" id="customerMasterMsg" />
													</div>

													<div class="col-lg-2 col-md-2 col-sm-2 p-l-0">
														<p:commandButton value="&#xea18;"
															id="viewCustomerDetailsBtn"
															update=":#{p:component('customerdialog')}"
															disabled="#{contractProductionPlanBean.contractExportPlanRequest.customerMaster==null}"
															title="#{msg['view_cust_details']}"
															styleClass="btn btn-info font-iconmoon m-l-0 min-wid-auto"
															type="button" onclick="PF('customerdialog').show();">
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['sales_order_number']}"
													for="salesOrder" />
												<p:outputLabel value="*" class="mand-red" for="salesOrder"
													rendered="#{empty param[searchBtn.clientId]}"></p:outputLabel>
												<div class="row">
													<div class="col-lg-10 col-md-10 col-sm-10">
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<h:selectOneMenu id="salesOrder"
																styleClass="form-control" converter="#{entityConverter}"
																value="#{contractProductionPlanBean.contractExportPlanRequest.salesOrder}"
																required="#{not empty param[searchBtn.clientId]}"
																requiredMessage="#{msg['sales_order_no_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems var="salesOrder"
																	itemLabel="#{salesOrder.soNumberPrefix} - #{salesOrder.soNumber}"
																	itemValue="#{salesOrder}"
																	value="#{contractProductionPlanBean.salesOrderList}" />
																<p:ajax event="change"
																	update="gstNumber, salesOrderMsg, viewPurchaseOrderDetails"
																	listener="#{contractProductionPlanBean.onSelectSalesOrder}"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()" />
															</h:selectOneMenu>
														</div>
														<h:message for="salesOrder" class="validation-error-label"
															id="salesOrderMsg" />
													</div>

													<div class="col-lg-2 col-md-2 col-sm-2 p-l-0">
														<p:commandButton value="&#xea18;"
															disabled="#{contractProductionPlanBean.contractExportPlanRequest.salesOrder==null}"
															id="viewPurchaseOrderDetails"
															title="#{msg['view_sales_order']}"
															update=":#{p:component('dilogpanel')}"
															styleClass="btn btn-info font-iconmoon m-l-0 min-wid-auto"
															action="#{contractProductionPlanBean.viewSalesOrder(true)}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															oncomplete="PF('orderdialog').show();">
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="row">
												<div class="col-lg-10 col-md-10 col-sm-10">
													<div class="form-group">
														<p:outputLabel value="#{msg['gst_no']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<p:inputText id="gstNumber" class="form-control"
																disabled="true"
																value="#{contractProductionPlanBean.contractExportPlanRequest.customerMaster.gstNumber}" />
														</div>
													</div>
												</div>


												<div class="col-lg-2 col-md-2 col-sm-2 p-l-0">
													<div class="form-group">
														<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
														<p:commandButton id="btnSearchProduct"
															binding="#{searchBtn}" value="&#xe98e;"
															title="#{msg['search']}" validateClient="true"
															update="panelA growls itemsTable customerTypeMaster, customerMaster, salesOrder, gstNumber, contractPlanBase, contractPlanType"
															class="btn btn-icon bg-info font-iconmoon m-l-0 min-wid-auto"
															action="#{contractProductionPlanBean.searchSalesOrderItems}">
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>
									</div>
								</p:outputPanel>
							</h:panelGroup>
							<h:panelGroup
								rendered="#{contractProductionPlanBean.contractExportPlan.planBase=='Without_Sales_Order'}">
								<p:outputPanel id="panelB">
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class=""
													value="#{msg['prod_category_code']} / #{msg['name']}"
													for="productCategory" />
												<p:outputLabel value="*" class="mand-red"
													for="productCategory"
													rendered="#{empty param[addBtn.clientId]}"></p:outputLabel>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<h:selectOneMenu id="productCategory"
														styleClass="form-control" converter="#{entityConverter}"
														value="#{contractProductionPlanBean.contractExportPlanRequest.productCategory}"
														required="#{not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['prod_cate_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems var="category"
															itemLabel="#{category.productCatCode}/#{category.productCatName}"
															itemValue="#{category}"
															value="#{contractProductionPlanBean.productCategoryList}" />
														<p:ajax event="change"
															update="productCategory, productCategoryMsg, productGroupMaster productVarietyMaster quantity"
															listener="#{contractProductionPlanBean.processProductGroups}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="productCategory" id="productCategoryMsg"
													class="validation-error-label" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class=""
													value="#{msg['prod_group_code']} / #{msg['name']}"
													for="productGroupMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="productGroupMaster"
													rendered="#{empty param[addBtn.clientId]}"></p:outputLabel>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-grid6"></i></span>
													<h:selectOneMenu id="productGroupMaster"
														styleClass="form-control" converter="#{entityConverter}"
														value="#{contractProductionPlanBean.contractExportPlanRequest.productGroupMaster}"
														required="#{not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['prod_group_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems var="group"
															itemLabel="#{group.code}/#{group.name}"
															itemValue="#{group}"
															value="#{contractProductionPlanBean.productGroupList}" />
														<p:ajax event="change"
															listener="#{contractProductionPlanBean.processProductGroup}"
															update="productVarietyMaster, productGroupMasterMsg, productGroupMaster, quantity "
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="productGroupMaster"
													id="productGroupMasterMsg" class="validation-error-label" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class=""
													value="#{msg['prod_variey_code']} / #{msg['name']}"
													for="productVarietyMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="productVarietyMaster"
													rendered="#{empty param[addBtn.clientId]}"></p:outputLabel>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="productVarietyMaster"
														converter="#{entityConverter}"
														value="#{contractProductionPlanBean.contractExportPlanRequest.productVarietyMaster}"
														styleClass="form-control"
														required="#{not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['prod_variety_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems var="productvariety"
															itemLabel="#{productvariety.code}/#{productvariety.name}"
															itemValue="#{productvariety}"
															value="#{contractProductionPlanBean.productList}" />
														<p:ajax event="change"
															listener="#{contractProductionPlanBean.processProductVariety}"
															update="productVarietyMaster productVarietyMasterMsg, quantity"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="productVarietyMaster"
													id="productVarietyMasterMsg" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="row">
												<div class="col-lg-10 col-md-10 col-sm-10">
													<div class="form-group">
														<p:outputLabel value="#{msg['qty']}" for="quantity" />
														<p:outputLabel value="*" class="mand-red" for="quantity"
															rendered="#{empty param[addBtn.clientId]}"></p:outputLabel>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-stackoverflow"></i></span>
															<h:inputText class="form-control text-right"
																id="quantity"
																value="#{contractProductionPlanBean.contractExportPlanRequest.quantity}"
																required="#{not empty param[addBtn.clientId]}"
																requiredMessage="#{msg['qty_req']}">
																<p:ajax event="keyup" update="quantityMsg" />
															</h:inputText>
														</div>
														<h:message for="quantity" id="quantityMsg"
															class="validation-error-label" />
													</div>
												</div>


												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-l-0">
													<div class="form-group">
														<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
														<p:commandButton id="btnAddProduct" value="&#xea0e;"
															binding="#{addBtn}" validationClient="true"
															title="#{msg['add']}"
															action="#{contractProductionPlanBean.addProduct}"
															update="panelB itemsTable, productCategory, productCategoryMsg, productGroupMaster productVarietyMaster quantity, growls, contractPlanBase, contractPlanType"
															class="btn bg-success font-iconmoon m-l-0 min-wid-auto">
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>

									</div>
								</p:outputPanel>
							</h:panelGroup>
						</h:panelGroup>
					</div>

					<div class="panel-body no-padding-top">
						<div class="row">
							<div class="col-sm-12">
								<div id="table-scroll"
									class="cust-tab2 table-scroll table-responsive">
									<p:dataTable id="itemsTable" var="item"
										styleClass="report-table"
										value="#{contractProductionPlanBean.contractExportPlan.contractExportPlanDetails}"
										rowKey="#{item}" rowIndexVar="idx">
										<p:column headerText="#" styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column
											headerText="#{msg['prod_category_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productCategory.productCatCode} / #{item.productCategory.productCatName}" />
										</p:column>
										<p:column
											headerText="#{msg['prod_group_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productGroupMaster.code} / #{item.productGroupMaster.name}" />
										</p:column>
										<p:column
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
										</p:column>

										<p:column headerText="#{msg['uom']}">
											<h:outputText
												value="#{item.productVarietyMaster.uomMaster.code}" />
										</p:column>

										<p:column headerText="#{msg['qty']}"
											styleClass="text-center width-10">
											<h:outputText value="#{item.quantity}">
												<f:convertNumber pattern="#0" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="text-center width-5">
											<p:commandButton value="&#xe99e;" update="growls itemsTable"
												title="#{msg['delete']}"
												class="btn bg-danger font-iconmoon m-l-0">
												<p:ajax event="click"
													listener="#{contractProductionPlanBean.removeProduct(item)}"
													update="itemsTable, @form:contractPlanBase, @form:contractPlanType" />
											</p:commandButton>
										</p:column>
									</p:dataTable>

								</div>
							</div>
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['frwd_to']}" for="forwardToUser" />
									<p:outputLabel value="*" for="forwardToUser" class="mand-red"
										rendered="#{empty param[saveBtn.clientId] and empty param[submitBtn.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<ui:remove>
											<h:selectOneMenu id="forwardToUser"
												value="#{contractProductionPlanBean.contractExportPlanNote.forwardTo}"
												styleClass="form-control" converter="#{entityConverter}"
												required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
												requiredMessage="#{msg['forward_to_required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems var="user"
													value="#{contractProductionPlanBean.forwardToUsersList}"
													itemValue="#{user}"
													itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
												<p:ajax event="change" onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													update="forwardToUserMsg" />
											</h:selectOneMenu>
										</ui:remove>

										<p:autoComplete id="forwardToUser" minQueryLength="2"
											panelStyle="width:250px" styleClass="form-control"
											converter="#{entityConverter}"
											required="#{not empty param[submit.clientId]}"
											requiredMessage="#{msg['forward_to_req']}"
											value="#{contractProductionPlanBean.contractExportPlanNote.forwardTo}"
											itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
											completeMethod="#{contractProductionPlanBean.loadAutoCompleteUserMaster}"
											effect="fade">
											<p:ajax event="itemSelect" update="forwardToUser"></p:ajax>
										</p:autoComplete>
									</div>
									<h:message for="forwardToUser" class="validation-error-label"
										id="forwardToUserMsg" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['frwd_for']}" for="forwardFor" />
									<p:outputLabel value="*" for="forwardFor" class="mand-red"
										rendered="#{empty param[saveBtn.clientId] and empty param[submitBtn.clientId]}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardFor" styleClass="form-control"
											value="#{contractProductionPlanBean.contractExportPlanNote.finalApproval}"
											required="#{not empty param[saveBtn.clientId] or not empty param[submitBtn.clientId]}"
											requiredMessage="#{msg['forward_for_req']}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
											<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
											<p:ajax event="change" onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()" update="forwardForMsg" />
										</h:selectOneMenu>
									</div>
									<h:message for="forwardFor" class="validation-error-label"
										id="forwardForMsg" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:commandButton
									value="#{contractProductionPlanBean.action eq 'ADD' ?  '&#xf067;' :  '&#xf044;' }  #{contractProductionPlanBean.action eq 'ADD' ?  msg['create_note'] :  msg['edit_note'] }"
									title="#{contractProductionPlanBean.action eq 'ADD' ?  msg['create_note'] :  msg['edit_note'] }"
									styleClass="#{contractProductionPlanBean.action eq 'ADD' ?  'btn bg-success fa-input m-l-0' : 'btn bg-primary fa-input m-l-0' }"
									onclick="PF('notedialog').show();"></p:commandButton>
								<ui:remove>
									<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
										style="min-width:32px;"
										styleClass="btn btn-primary btn-md font-iconmoon"
										onclick="PF('commentdialog').show();"></p:commandButton>
								</ui:remove>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 text-right">
								<h:commandButton id="btnMainFormCancel"
									value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
									immediate="true"
									action="#{contractProductionPlanBean.gotoPage('LIST')}"
									class="btn bg-slate heading-btn  font-iconmoon cust-btn-h"
									update="growls" onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSave" binding="#{saveBtn}"
									value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
									action="#{contractProductionPlanBean.create(false)}"
									validateClient="true" update="growls"
									class="btn bg-primary heading-btn  font-iconmoon cust-btn-h m-l-8"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSubmit" binding="#{submitBtn}"
									value="#{contractProductionPlanBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{contractProductionPlanBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									title="#{contractProductionPlanBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
									styleClass="#{contractProductionPlanBean.action eq 'ADD' ?  'btn bg-success font-iconmoon m-l-8 cust-btn-h' : 'btn bg-primary font-iconmoon m-l-8 cust-btn-h' }"
									action="#{contractProductionPlanBean.create(true)}"
									validateClient="true" update="growls"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
							</div>
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
		</h:form>
		<ui:include src="./contractProductionPlanCustomerPopup.xhtml" />
		<ui:include src="./contractProductionPlanSalesOrderPopup.xhtml" />
		<ui:include src="./contractProductionPlanNotePopup.xhtml" />
		<ui:include src="./contractProductionPlanCommentPopup.xhtml" />
	</ui:define>
</ui:composition>
