<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Product Warehouse - Delivery Chellan</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['pro_whouse']} - #{msg['del_chellan']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>#{msg['pro_whouse']}</li>
							<li class="active">#{msg['pro_whouse']} - #{msg['del_chellan']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<!-- <div class="panel-grey">
									<h3 class="portlet-title">#{msg['pdt_details']}</h3>
									<div class="clearfix"></div>
								</div> -->
								<div id="bg-primary1" class="panel-collapse collapse in">
									<div class="portlet-body p0">
									<div class="row">
										<div class="col-sm-2 col-md-2 col-lg-2">
										<img class="img-responsive" height="70" align="right" width="70" src="/portal/assets/images/buterfly-logo.png" />
										</div>
											<div class="col-sm-8 col-md-8 col-lg-8">
												<h3 class="text-center"><b>#{msg['the_head1']}</b></h3>
												<h4 class="text-center"><b>Product Warehouse - Inspection Center</b></h4>
											</div>
										</div>
										<hr></hr>
										<div class="row">
											<div class="col-lg-6">
												<div class="table-responsive">
													<table class="table m-0 non-border">
														<tr>
															<td>#{msg['chellan_no']}</td>
															<td>:</td>
															<td>004</td>
														</tr>
														
														<tr>
															<td>#{msg['society_code']}</td>
															<td>:</td>
															<td>151996</td>
														</tr>
														<tr>
															<td>#{msg['society_name']}</td>
															<td>:</td>
															<td>Palladam Poweloom WCS. Ltd.,</td>
														</tr>
														

													</table>
													</div>
													</div>
													<div class="col-lg-6">
												<div class="table-responsive">
													<table class="table m-0 non-border">
														
														<tr>
															<td>#{msg['chellan_dt']}</td>
															<td>:</td>
															<td>12-Jun-2017</td>
														</tr>
														
														<tr>
															<td>#{msg['society_name']}</td>
															<td>:</td>
															<td>Palladam Poweloom WCS. Ltd.,</td>
														</tr>
														<tr>
															<td>#{msg['good_hand_over']}</td>
															<td>:</td>
															<td>Inspection Center, Erode</td>
														</tr>

													</table>
													</div>
													</div>
													<div class="row">
													<div class="col-md-12">
													<h4 class="bord_bot">
														<span class="iform-title"><i
															class="fa fa-th-large m-r-5"></i>#{msg['pdt_details']}</span>
													</h4>
													<table class="table m-0 cust-table">
														<thead>
															<tr>
																<th align="center">#{msg['sl']}</th>
																<th align="center">#{msg['order_form_no']}</th>
																<th align="center">#{msg['product_code']}</th>
																<th align="center">#{msg['pro_name']}</th>
																<th align="center">#{msg['cur_disp']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td align="center">1</td>
																<td align="center">12345</td>
																<td align="center">PD002</td>
																<td>Handloom Saree</td>
																<td align="center">50</td>
															</tr>
															<tr>
																<td align="center">2</td>
																<td align="center">12345</td>
																<td align="center">PD003</td>
																<td>Pedaloom Saree</td>
																<td align="center">100</td>
															</tr>
															<tr>
																<td align="center">3</td>
																<td align="center">12345</td>
																<td align="center">PD004</td>
																<td>Poweloom Saree</td>
																<td align="center">80</td>
															</tr>
															<tr>
																<td align="center">4</td>
																<td align="center">12345</td>
																<td align="center">PD005</td>
																<td>Handloom Saree</td>
																<td align="center">90</td>
															</tr>
															<tr>
																<td align="center">5</td>
																<td align="center">12345</td>
																<td align="center">PD006</td>
																<td>Pedaloom Saree</td>
																<td align="center">90</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td align="center" colspan="4"><strong>TOTAL</strong></td>
																<td align="center">510</td>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<!-- end col -->
											<div class="clearfix"></div>
										</div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
						<div class="clearfix"></div>
						<h4 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bund_details']}</span>
						</h4>

						<div class="row">
							<div class="col-lg-6">
								<div class="table-responsive">
									<table class="table m-0 non-border">
										<tr>
											<td>#{msg['tot_no_bund']}</td>
											<td>:</td>
											<td>12</td>
										</tr>
										<tr>
											<td>#{msg['tot_bund_wt']}</td>
											<td>:</td>
											<td>1000</td>
										</tr>
										
									</table>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="table-responsive">
									<table class="table m-0 non-border">
										
										<tr>
											<td>#{msg['bund_from_no']}</td>
											<td>:</td>
											<td>210</td>
										</tr>
										<tr>
											<td>#{msg['bund_to_no']}</td>
											<td>:</td>
											<td>212</td>
										</tr>
									</table>
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
						<div class="row m-t-10">
							<div class="col-lg-9 col-md-9 col-sm-12">
								<div class="form-group">
									<b><p:outputLabel value="#{msg['hand_over']}" /></b>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<b><p:outputLabel value="#{msg['rece_by']}" /></b><br />
									<p:outputLabel value="#{msg['sign']}" />&nbsp;&nbsp;:<br />
									<p:outputLabel value="#{msg['name']}" />&nbsp;&nbsp;:
									<br />
									<p:outputLabel value="#{msg['date']}" />&nbsp;&nbsp;:
								</div>
							</div>
							<!-- end col -->
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['place']}" />
									&nbsp;&nbsp;:<br />
									<p:outputLabel value="#{msg['date']}" />
									&nbsp;&nbsp;:
								</div>
							</div>
							<!-- end col -->

						</div>
						<div class="col-lg-12 text-right">
							<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
								styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
							<p:commandButton value="&#xf02f;&nbsp;#{msg['print']}"
								styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></p:commandButton>

						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
