<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | View Ticket</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">View Ticket</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li>Grievance</li>
							<li class="active">View Ticket</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Entity Type" />
											<h:outputText value="Region" class="" />
									</div> 
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Entity Name" />
											<h:outputText value="Salem" class="" />
									</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Name" />
											<h:outputText value="J.Balasundram" class="" />
									</div> 
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Mobile No." />
											<h:outputText value="9176985632" class="" />
									</div> 
							</div>			
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Plan Name" />
											<h:outputText value="Discount Plan" class="" />
									</div>
							
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Category type" />
											<h:outputText value="Beneficiary Updation" class="" />
									</div> 
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Sub Category type" />
											<h:outputText value="Name" class="" />
									</div>
									
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Priority" />
											<h:outputText value="medium" class="" />
									</div> 
							</div>		
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Problems Reported" />
											<h:outputText value="Name" class="" />
									</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Channel" />
											<h:outputText value="Call" class="" />
									</div> 
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Assign Entity type" />
											<h:outputText value="Region" class="" />
									</div> 
								</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="Assigned Entity" />
											<h:outputText value="Chennai" class="" />
									</div> 
							</div>
							</div>
							<div class="row view-style">
							<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['remarks']}" />
											<h:outputText value="This is remarks field" class="" />
									</div> 
							</div>
							
						</div>
						<hr></hr>
						<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
												<p:outputLabel value="Issue Details" class="control-label" />
												<p:inputTextarea class="form-control"/>
										</div>
								</div>
						</div>
						<div class="col-lg-12 text-right ph0">
						<p:commandButton value="&#xf075;&nbsp;Add Comment"
								styleClass="btn btn-sm btn-success waves-effect waves-light m-r-10 fa-input"></p:commandButton>
							<p:commandButton value="&#xf060;&nbsp;#{msg['back']}"
								styleClass="btn btn-sm btn-info waves-effect waves-light fa-input"></p:commandButton>
							
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
