<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{loanMasterBean}" />
		<ui:param name="loanDetail" value="#{loanMasterBean.loan}" />
		<title>InfoTex | Create Loan</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{loanMasterBean.action eq 'ADD' ? msg['create_loan'] :
						msg['edit_loan']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{loanMasterBean.action eq 'ADD' ?
							msg['create_loan'] : msg['edit_loan']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['loan']}
							<p:outputLabel styleClass="pull-right">
								(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
							</p:outputLabel>
						</h6>
					</div>
					<div class="panel-body">
						<p:outputPanel id="addForm">
							<div class="row custom-form-1">
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['code']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<p:inputText value="#{loanDetail.code}" class="form-control"
												maxlength="75" minimum="3" id="loancode"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['code_is_req']}">
											</p:inputText>
										</div>
										<p:focus for="loancode" />
										<h:message for="loancode" class="validation-error-label"></h:message>
										<p:tooltip for="loancode" value="please enter loan code" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<p:inputText value="#{loanDetail.name}" class="form-control"
												maxlength="75" minimum="3" id="loanName"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['loan_name_requr']}">
											</p:inputText>
										</div>
										<p:focus for="loanName" />
										<h:message for="loanName" class="validation-error-label"></h:message>
										<p:tooltip for="loanName"
											value="#{msg['pls_enter_loan_name']}" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['local_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<p:inputText value="#{loanDetail.LName}" class="form-control"
												maxlength="75" minimum="3" id="localloanName"
												requiredMessage="#{msg['loan_local_name_requr']}">
											</p:inputText>
										</div>
										<h:message for="localloanName" class="validation-error-label"></h:message>
										<p:tooltip for="localloanName"
											value="#{msg['pls_enter_local_name']}" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['loan_amt']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputNumber value="#{loanDetail.loanAmount}"
												class="text-right" maxlength="75" minimum="3"
												id="loanAmount"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['loan_amt_requr']}"
												validatorMessage="#{msg['loan_amount_validation']}">
												<f:validateDoubleRange minimum="1000" for="loanAmount"></f:validateDoubleRange>
												<p:keyFilter regEx="/[\d\-]/" />
												<p:ajax event="change" update="loanAmount"></p:ajax>
											</p:inputNumber>
										</div>
										<p:tooltip for="loanAmount"
											value="#{msg['loan_amount_validation']}" />
										<h:message for="loanAmount" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>

							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['loan_min_amt']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputNumber value="#{loanDetail.minLoanAmount}"
												class="text-right" maxlength="75" minimum="3"
												id="minloanAmount"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['loan_min_amount_req']}"
												validatorMessage="#{msg['loan_amount_validation']}">
												<p:keyFilter regEx="/[\d\-]/" />
												<p:ajax event="change" update="minloanAmount"></p:ajax>
											</p:inputNumber>
										</div>
										<p:tooltip for="minloanAmount"
											value="#{msg['loan_min_amount_validation']}" />
										<h:message for="minloanAmount" class="validation-error-label"></h:message>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group form-group_calend">
										<p:outputLabel value="#{msg['loan_start_date']}" />
										<span class="text-danger"></span>
										<p:calendar id="loanStart"
											requiredMessage="#{msg['loan_start_dt_requr']}"
											value="#{loanDetail.loanStartDate}" mindate="java.util.Date"
											pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
											navigator="true" class="form-control-1 calend-icon-1">
											<p:ajax event="dateSelect"
												listener="#{bean.loanStartDateChange}"
												update="loanStart loanEnd"></p:ajax>
										</p:calendar>
										<p:tooltip for="loanStart"
											value="#{msg['pls_seletct_start_dt']}" />
										<h:message for="loanStart" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group form-group_calend">
										<p:outputLabel value="#{msg['loan_end_date']}" />
										<span class="text-danger"></span>
										<p:calendar id="loanEnd"
											requiredMessage="#{msg['loan_end_dt_requr']}"
											value="#{loanDetail.loanEndDate}"
											mindate="#{loanDetail.loanStartDate}" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" navigator="true"
											class="form-control-1 calend-icon-1">
											<p:ajax event="dateSelect" update="loanEnd"></p:ajax>
										</p:calendar>
										<p:tooltip for="loanEnd" value="#{msg['pls_seletct_end_dt']}" />
										<h:message for="loanEnd" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['loan_installment_amount']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputText value="#{loanDetail.installmentAmount}"
												class="form-control text-right" maxlength="75" minimum="3"
												id="loanInstall"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['loan_instal_amt_requr']}">
												<p:keyFilter regEx="/[\d\-]/" />
												<f:validateDoubleRange minimum="1"
													maximum="#{loanDetail.loanAmount}" for="loanInstall"></f:validateDoubleRange>
											</p:inputText>
										</div>
										<h:message for="loanInstall" class="validation-error-label"></h:message>
										<p:tooltip for="loanInstall"
											value="#{msg['loan_instal_amt_lessthan_loan_amt']}" />
									</div>
								</div>
							</div>


							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['interest_rate']} %" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<p:inputText value="#{loanDetail.loanPercentage}"
												class="form-control text-right" maxlength="5" minimum="1"
												id="roi"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['loan_rate_int_requr']}">
												<p:keyFilter regEx="/[\d\.]/" />
											</p:inputText>
										</div>
										<h:message for="roi" class="validation-error-label"></h:message>
										<p:tooltip for="roi" value="#{msg['rate_of_interest']}" />
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['loan_pre']}" />
										<span class="text-danger"></span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-inr fa-lg"></i></span>
											<p:inputText value="#{loanDetail.loanPremium}"
												class="form-control text-right" maxlength="75" minimum="3"
												id="loanPremium"
												requiredMessage="#{msg['loan_prem_requr']}"
												validatorMessage="#{msg['loan_premium_amount_validation']}">
												<p:keyFilter regEx="/[\d\-]/" />
												<f:validateDoubleRange minimum="1"
													maximum="#{loanDetail.loanAmount}" for="loanPremium"></f:validateDoubleRange>
											</p:inputText>
											<p:tooltip for="loanPremium"
												value="#{msg['pls_enter_loan_prem_loan_amt']}" />
										</div>
										<h:message for="loanPremium" class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['no_instal']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText value="#{loanDetail.loanInstallment}"
												id="installmentmonth" styleClass="form-control text-right"
												maxlength="3"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['no_of_ins_is_req']}">
												<p:keyFilter regEx="/[\d\-]/"></p:keyFilter>
											</p:inputText>
										</div>
										<h:message for="installmentmonth"
											class="validation-error-label"></h:message>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['acc_head_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group autocomplete-input">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:autoComplete id="acMinLength" minQueryLength="2"
												styleClass="form-control" panelStyle="max-height: 150px;"
												value="#{bean.glAccountName}" placeholder="Enter 2 letter"
												required="#{not empty param[update.clientId] || not empty param[submit.clientId]}"
												requiredMessage="#{msg['acc_head_name_required']}"
												completeMethod="#{bean.glaccountAutoComplete}" effect="fade" />
										</div>
										<h:message for="acMinLength" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>
							
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-sm-6 col-md-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-file-check"></i></span>
											<h:selectOneMenu value="#{loanDetail.status}"
												class="form-control">
												<f:selectItem itemValue="true" itemLabel="Active" />
												<f:selectItem itemValue="false" itemLabel="InActive" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
							</div>
						</p:outputPanel>

						<div class="row">
							<div class="col-lg-12 col-sm-12 col-md-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									title="#{msg['cancel']}" action="#{bean.showListLoanPage}"
									immediate="true" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									styleClass="btn btn-sm bg-slate font-iconmoon m-l-0" />

								<p:commandButton value="&#xed6e; #{msg['submit']}"
									title="#{msg['submit']}" action="#{bean.submit}"
									rendered="#{bean.action eq 'ADD'}" update="growls addForm"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									styleClass="btn btn-sm bg-success font-iconmoon"
									binding="#{submit}" />

								<p:commandButton value="&#xeda7; #{msg['update']}"
									title="#{msg['update']}" action="#{bean.submit}"
									rendered="#{bean.action eq 'EDIT'}" update="addForm growls"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									styleClass="btn btn-sm bg-primary font-iconmoon"
									binding="#{update}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
