<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Society Wise Production Plan</title>
		<h:form id="socProdPlan">
			<div class="row">
				<div class="col-lg-12">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="page-title">#{msg['society_wise_production_plan']}</h4>
						</div>
						<div class="pull-right">
							<ol class="breadcrumb mt text12 ph0 hidden-xs">
								<li><i class="fa fa-home mr-sm"></i><a href="#"> <p:outputLabel
											value="#{msg['home']}"></p:outputLabel>
								</a></li>
								<li><a href="#"> <p:outputLabel
											value="#{msg['production_plan']}"></p:outputLabel>
								</a></li>
								<li class="active"><p:outputLabel
										value="#{msg['society_wise_pdt_plan']}"></p:outputLabel></li>
							</ol>
						</div>
					</div>
					<div class="panel panel-color panel-top-bor">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
									<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
								</div>
								<p:outputPanel id="confirmpanel">
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_no']}" />
											<span class="mand-red">*</span>
											<p:autoComplete styleClass="form-control-autocomp"
												minQueryLength="3" id="plannumbermasterauto"
												value="#{societyProductionPlanBean.planNumberMaster}"
												required="#{not empty param[confirmPlanCreation.clientId]}"
												requiredMessage="Plan Number Required"
												onkeypress="return checkAlphaNumeric(event)"
												completeMethod="#{societyProductionPlanBean.completeMasterPlanNumber}">
												<p:ajax event="itemSelect"
													listener="#{societyProductionPlanBean.getMasterPlanName(societyProductionPlanBean.planNumberMaster)}"
													update="confirmpanel"></p:ajax>
												<p:tooltip for="plannumbermasterauto"></p:tooltip>
											</p:autoComplete>
											<p:message for="plannumbermasterauto"></p:message>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-1 text-center m-t-30">#{msg['or']}</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_name']}" />
											<span class="mand-red">*</span>
											<p:autoComplete styleClass="form-control-autocomp"
												minQueryLength="3" id="plannamemasterauto"
												value="#{societyProductionPlanBean.planNameMaster}"
												onkeypress="return checkAlphaNumeric(event)"
												required="#{not empty param[confirmPlanCreation.clientId]}"
												requiredMessage="Plan name required"
												completeMethod="#{societyProductionPlanBean.completeMasterPlanName}">
												<p:ajax event="itemSelect"
													listener="#{societyProductionPlanBean.getMasterPlanNumber(societyProductionPlanBean.planNameMaster)}"
													update="confirmpanel"></p:ajax>
												<p:tooltip for="plannamemasterauto"></p:tooltip>
											</p:autoComplete>
											<p:message for="plannamemasterauto"></p:message>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-2 text-center m-t-25">
										<p:commandButton value="&#xf00c;"
											binding="#{confirmPlanCreation}" id="confirmPlanCreation"
											styleClass="btn btn-sm btn-success waves-effect waves-light fa-input m-r-10"
											actionListener="#{societyProductionPlanBean.confirmPlanCreation}"
											update="confirmpanel overallsocietyplanpanel">
										</p:commandButton>
										<p:commandButton value="&#xf00d;"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input"
											actionListener="#{societyProductionPlanBean.clearPlanCreation}"
											update="confirmpanel overallsocietyplanpanel"></p:commandButton>
									</div>
								</p:outputPanel>

								<p:outputPanel id="overallsocietyplanpanel">
									<p:outputPanel id="societyplanpanel"
										rendered="#{societyProductionPlanBean.confirmPlanCreationPanel}">
										<div class="clearfix"></div>
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_name']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.planName}"
													disabled="true">
												</p:inputText>
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['pdt_Plan_type']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.planType}"
													disabled="true">
												</p:inputText>
											</div>
										</div>
										<!-- end col -->

										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['scheme_type']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.planType}"
													disabled="true">
												</p:inputText>
											</div>
										</div>
										<!-- end col -->

										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_period_from']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 1?'January':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 2?'February':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 3?'March':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 4?'April':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 5?'May':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 6?'June':'-'
													or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 7?'July':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 8?'August':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 9?'September':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 10?'October':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 11?'November':'-' or societyProductionPlanBean.productionPlanMasterDTO.fromMonth eq 12?'December':'-'}-#{societyProductionPlanBean.productionPlanMasterDTO.fromYear}"
													disabled="true">
												</p:inputText>
											</div>
										</div>
										<!-- end col -->

										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_period_to']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 1?'January':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 2?'February':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 3?'March':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 4?'April':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 5?'May':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 6?'June':'-'
													         or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 7?'July':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 8?'August':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 9?'September':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 10?'October':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 11?'November':'-' or societyProductionPlanBean.productionPlanMasterDTO.toMonth eq 12?'December':'-'}-#{societyProductionPlanBean.productionPlanMasterDTO.toYear}"
													disabled="true">
												</p:inputText>
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_recd_date']}" />
												<p:inputText styleClass="form-control"
													value="#{societyProductionPlanBean.productionPlanMasterDTO.createdDate}"
													disabled="true">
													<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
												</p:inputText>
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['society_wise_plan']}" />
												<span class="mand-red">*</span>
												<p:inputText styleClass="form-control" id="societyplanname"
													value="#{societyProductionPlanBean.societyPlanName}"
													required="#{not empty param[societyAdd.clientId]}"
													requiredMessage="#{msg['required']}"
													title="#{msg['society_wise_plan']}"
													disabled="#{societyProductionPlanBean.action ne 'ADD'}">
													<p:tooltip for="societyplanname"></p:tooltip>
												</p:inputText>
												<p:message for="societyplanname"></p:message>
												<p:watermark value="#{msg['society_wise_plan']}"
													for="societyplanname"></p:watermark>
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['region_name']}" />
												<span class="mand-red">*</span>
												<h:selectOneMenu styleClass="form-control" id="regionName"
													required="#{not empty param[societyAdd.clientId]}"
													requiredMessage="#{msg['region_name_req']}"
													converter="#{entityConverter}"
													value="#{societyProductionPlanBean.societyProductionPlanDTO.regionDTO}"
													disabled="#{societyProductionPlanBean.action ne 'ADD'}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="item" itemLabel="#{item.name}"
														itemValue="#{item}"
														value="#{societyProductionPlanBean.regionDTOList}"></f:selectItems>
												</h:selectOneMenu>
												<p:message for="regionName" styleClass="" />
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['dht_circle']}" />
												<span class="mand-red">*</span>
												<h:selectOneMenu styleClass="form-control" id="circleName"
													required="#{not empty param[societyAdd.clientId]}"
													requiredMessage="Circle required"
													converter="#{entityConverter}"
													value="#{societyProductionPlanBean.societyProductionPlanDTO.circleMasterDTO}"
													disabled="#{societyProductionPlanBean.action ne 'ADD'}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="item" itemLabel="#{item.name}"
														itemValue="#{item}"
														value="#{societyProductionPlanBean.circleMasterDTOList}"></f:selectItems>
												</h:selectOneMenu>
												<p:message for="circleName" styleClass="" />
											</div>
										</div>
										<div class="col-md-3">
											<p:outputLabel value="#{msg['from']}" />
											<span class="mand-red">*</span>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<h:selectOneMenu styleClass="form-control" id="fromMonth"
															required="#{not empty param[societyAdd.clientId]}"
															requiredMessage="Month required"
															value="#{societyProductionPlanBean.fromMonth}"
															disabled="#{societyProductionPlanBean.action ne 'ADD'}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItem itemValue="01" itemLabel="January"></f:selectItem>
															<f:selectItem itemValue="02" itemLabel="February"></f:selectItem>
															<f:selectItem itemValue="03" itemLabel="March"></f:selectItem>
															<f:selectItem itemValue="04" itemLabel="April"></f:selectItem>
															<f:selectItem itemValue="05" itemLabel="May"></f:selectItem>
															<f:selectItem itemValue="06" itemLabel="June"></f:selectItem>
															<f:selectItem itemValue="07" itemLabel="July"></f:selectItem>
															<f:selectItem itemValue="08" itemLabel="August"></f:selectItem>
															<f:selectItem itemValue="09" itemLabel="September"></f:selectItem>
															<f:selectItem itemValue="10" itemLabel="October"></f:selectItem>
															<f:selectItem itemValue="11" itemLabel="November"></f:selectItem>
															<f:selectItem itemValue="12" itemLabel="December"></f:selectItem>
														</h:selectOneMenu>
														<p:message for="fromMonth" styleClass="" />
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<h:selectOneMenu styleClass="form-control" id="fromYear"
															required="#{not empty param[societyAdd.clientId]}"
															requiredMessage="Year required"
															value="#{societyProductionPlanBean.fromYear}"
															disabled="#{societyProductionPlanBean.action ne 'ADD'}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems itemLabel="#{it}" itemValue="#{it}"
																value="#{societyProductionPlanBean.yearList}" var="it"></f:selectItems>
														</h:selectOneMenu>
														<p:message for="fromYear" styleClass="" />
													</div>
												</div>
											</div>
										</div>
										<!-- end col -->
										<div class="col-md-3">
											<p:outputLabel value="#{msg['to']}" />
											<span class="mand-red">*</span>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<h:selectOneMenu styleClass="form-control" id="toMonth"
															required="#{not empty param[societyAdd.clientId]}"
															requiredMessage="Month required"
															value="#{societyProductionPlanBean.toMonth}"
															disabled="#{societyProductionPlanBean.action ne 'ADD'}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItem itemValue="01" itemLabel="January"></f:selectItem>
															<f:selectItem itemValue="02" itemLabel="February"></f:selectItem>
															<f:selectItem itemValue="03" itemLabel="March"></f:selectItem>
															<f:selectItem itemValue="04" itemLabel="April"></f:selectItem>
															<f:selectItem itemValue="05" itemLabel="May"></f:selectItem>
															<f:selectItem itemValue="06" itemLabel="June"></f:selectItem>
															<f:selectItem itemValue="07" itemLabel="July"></f:selectItem>
															<f:selectItem itemValue="08" itemLabel="August"></f:selectItem>
															<f:selectItem itemValue="09" itemLabel="September"></f:selectItem>
															<f:selectItem itemValue="10" itemLabel="October"></f:selectItem>
															<f:selectItem itemValue="11" itemLabel="November"></f:selectItem>
															<f:selectItem itemValue="12" itemLabel="December"></f:selectItem>
														</h:selectOneMenu>
														<p:message for="toMonth" styleClass=""></p:message>
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<h:selectOneMenu styleClass="form-control" id="toYear"
															required="#{not empty param[societyAdd.clientId]}"
															requiredMessage="Year required"
															value="#{societyProductionPlanBean.toYear}"
															disabled="#{societyProductionPlanBean.action ne 'ADD'}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItems itemValue="#{it}" itemLabel="#{it}"
																value="#{societyProductionPlanBean.yearList}" var="it" />
														</h:selectOneMenu>
														<p:message for="toYear"></p:message>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['product_cate']}" />
												<span class="mand-red">*</span>
												<h:selectOneMenu styleClass="form-control" id="prodCategory"
													required="#{not empty param[societyAdd.clientId]}"
													converter="#{entityConverter}"
													requiredMessage="#{msg['product_cate']} #{msg['req']}"
													value="#{societyProductionPlanBean.societyProductionPlanDTO.productCategoryDTO}"
													disabled="#{societyProductionPlanBean.action ne 'ADD'}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="item"
														itemLabel="#{item.productCatCode}" itemValue="#{item}"
														value="#{societyProductionPlanBean.productCategoryDTOList}"></f:selectItems>
												</h:selectOneMenu>
												<p:message for="prodCategory"></p:message>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['product_code']}" />
												<span class="mand-red">*</span>
												<h:selectOneMenu styleClass="form-control" id="prodCode"
													converter="#{entityConverter}"
													required="#{not empty param[societyAdd.clientId]}"
													requiredMessage="#{msg['product_code']} #{msg['req']}"
													value="#{societyProductionPlanBean.societyProductionPlanDTO.productMasterDTO}"
													disabled="#{societyProductionPlanBean.action ne 'ADD'}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="item" itemLabel="#{item.code}"
														itemValue="#{item}"
														value="#{societyProductionPlanBean.productMasterDTOList}"></f:selectItems>
												</h:selectOneMenu>
												<p:message for="prodCode" styleClass=""></p:message>
											</div>
										</div>
										<div class="col-md-12 col-xs-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xf067;&nbsp;#{msg['add_society']}"
													binding="#{societyAdd}" id="societyAdd"
													styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"
													actionListener="#{societyProductionPlanBean.addSociety}"
													update="form growls">
												</p:commandButton>
											</div>
										</div>
										<div class="clearfix"></div>
										<p:outputPanel id="addsocietyPanel"
											rendered="#{((societyProductionPlanBean.yearDiff == 0 or societyProductionPlanBean.yearDiff == 1) and (societyProductionPlanBean.overallMonthCount le 12 
					             and societyProductionPlanBean.addSocietyPanel))}"
											styleClass="panel-padding">
											<div class="col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['society_code']}" />
													<span class="mand-red">*</span>
													<p:autoComplete minQueryLength="3" id="societyCodeauto"
														scrollHeight="250" styleClass="form-control-autocomp"
														value="#{societyProductionPlanBean.societyCode}"
														required="#{not empty param[societyAddConfirm.clientId]}"
														requiredMessage="Society code required"
														completeMethod="#{societyProductionPlanBean.completeSocietyCode}">
														<p:ajax event="itemSelect"
															listener="#{societyProductionPlanBean.getSocietyName(societyProductionPlanBean.societyCode)}"
															update="form"></p:ajax>
													</p:autoComplete>
													<p:message for="societyCodeauto"></p:message>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['society_name']}"
														id="societyname" />
													<span class="mand-red">*</span>
													<h:outputText class="form-control"
														value="#{societyProductionPlanBean.societyname}">
													</h:outputText>
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="col-md-12">
												<div class="row">
													<ui:repeat id="monthYearList"
														value="#{societyProductionPlanBean.monthYearDTOList}"
														var="var">
														<div class="col-md-3">
															<div class="form-group">
																<label>#{var.monthYear}</label>
																<h:inputText styleClass="form-control"
																	value="#{var.value}"
																	required="#{not empty param[societyAddConfirm.clientId]}"
																	requiredMessage="Value cannot be empty"></h:inputText>
															</div>
														</div>
													</ui:repeat>
													<p:message for="monthYearList"></p:message>
												</div>
											</div>

											<!-- <div class="col-md-12">
													<table>
														<tbody>
															<tr>
																<ui:repeat id="monthYearList"
																	value="#{societyProductionPlanBean.monthYearDTOList}"
																	var="var">
																	<td class="ph-sm">
																	<div class="col-md-3">
																	<label>#{var.monthYear}</label>
																		<h:inputText styleClass="form-control"
																			value="#{var.value}"
																			required="#{not empty param[societyAddConfirm.clientId]}"
																			requiredMessage="Value cannot be empty"></h:inputText></div></td>
																			
																	<div class="clearfix"></div>
																</ui:repeat>
																<p:message for="monthYearList"></p:message>
															</tr>
														</tbody>
													</table>
												</div> -->
											<div class="clearfix"></div>
											<div class="col-md-12 text-right">
												<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
													styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"
													actionListener="#{societyProductionPlanBean.formCancel}"
													update="form"></p:commandButton>
												<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
													styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"
													binding="#{societyAddConfirm}" id="societyAddConfirm"
													action="#{societyProductionPlanBean.confirmAddSociety}"
													update="form">
												</p:commandButton>
											</div>
										</p:outputPanel>
									</p:outputPanel>
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
