<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<h:form id="custform">
	<title>InfoTex | Customer Registration</title>
		<!-- Page Header -->
		<div class="page-header page-header-default" style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>#{msg['view']} #{msg['customer']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li><a href="components_page_header.html">#{msg['admin']}</a></li>
						<li class="active">#{msg['view']} #{msg['customer']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
				<div class="content">
			    	<div class="search-panel">
						<div class="panel panel-flat">
						<div class="panel-body" style="display:block">
									<div class="row view-style">
									<div class="col-sm-3">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['byr_type']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.businessTypeMasterDTO.name}" class="" />
									</div>
									</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['org_type']}" />
										<h:outputText value="#{customerMasterBean.customerMasterDTO.customerTypeMasterDTO.name}"  class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['prnt_org']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.customerMasterParentDTO.name != null?customerMasterBean.customerMasterDTO.customerMasterParentDTO.name :'----------' }" class="" />
									</div>
					                
              						</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['org_name']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.name}" class="" />
										</div>
									</div>		
									
									</div>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['gst_no']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.gstNumber}" class="" />
									</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['reg_dat']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.regDate}" class="" >
												<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-YYYY" />
											</h:outputText>
									</div>
              						</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['crd_alw']}" />
												<h:outputText value="#{customerMasterBean.customerMasterDTO.creditAllowed eq true ? msg['active'] : msg['inactive']}" class="" />
											</div>
										</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['ret_alw']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.returnAllowed eq true ? msg['active'] : msg['inactive']}" class="" />
										</div>
									</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['status']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.activeStatus eq true ? msg['active'] : msg['inactive']}" class="" />
										</div>
									</div>	
									</div>
									<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['crd_det']}</span></h4>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['cre_max_int_mon']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.maxInstallmentMonth!=null?customerMasterBean.customerMasterDTO.maxInstallmentMonth:'----------'}"  class="" />
										</div> 
									</div>						
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="fa-input" value="#{msg['cre_amt_max_lmt']}(&#xf156;)" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.creditLimit!=null?customerMasterBean.customerMasterDTO.creditLimit:'----------'}" class="" />
										</div> 
									</div>	
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['inst_del_pay']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.delayPaymentInterest eq true ? msg['active'] : msg['inactive']}" class="" />
										</div>
									</div>		
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="form-group">
											<p:outputLabel class="" value="#{msg['inst_per']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.interestPercentage!=null?customerMasterBean.customerMasterDTO.interestPercentage:'----------'}" class="" />
									</div> 
									</div>	
									</div>
									<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bnk_det']}</span></h4>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['bnk_name']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.bankMasterDTO.bankName!=null?customerMasterBean.customerMasterDTO.bankMasterDTO.bankName:'----------'}" class="" />
										</div> 
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['brn_name']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.bankMasterDTO.branchName!=null?customerMasterBean.customerMasterDTO.bankMasterDTO.branchName:'----------'}" class="" />
										</div> 
									</div>							
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['act_no']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.accountNumber!=null?customerMasterBean.customerMasterDTO.accountNumber:'----------'}" class="" />
										</div>
									</div>		
									</div>
									<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['prmy_add']}</span></h4>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['con_per_name']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.primaryContactName}" class="" />
										</div> 
									</div>						
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['mob_no']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.primaryContactNumber}" class="" />
										</div>
									
									</div>	
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['land_phone_num']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.primaryLandphoneNumber}" class="" />
										</div> 
      								</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['email']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.primaryEmailId}" class="" />
										</div>
									</div>
									</div>
									<div class="row view-style">	
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['fx_num']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.faxNumber!=null?customerMasterBean.customerMasterDTO.faxNumber:'----------'}" class="" />
										</div>
									</div>	
									</div>
									<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['sec_add']}</span></h4>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['con_per_name']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.secondaryContactName!=null?customerMasterBean.customerMasterDTO.secondaryContactName:'----------'}" class="" />
										</div>
									</div>						
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['mob_no']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.secondaryContactNumber!=null?customerMasterBean.customerMasterDTO.secondaryContactNumber:'----------'}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['land_phone_num']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.secondaryLandphoneNumber!=null?customerMasterBean.customerMasterDTO.secondaryLandphoneNumber:'----------'}" class="" />
										</div> 
      								</div>	
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['email']}" />
											<h:outputText value="#{customerMasterBean.customerMasterDTO.secondaryEmailId}" class="" />
										</div>
									</div>		
									</div>
								<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bill_add_del']}</span></h4>
									<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['add_dtl']}" />
											<p>
												#{customerMasterBean.customerMasterDTO.addressDTO.addressLine1 ne null ? customerMasterBean.customerMasterDTO.addressDTO.addressLine1 : ''}#{customerMasterBean.customerMasterDTO.addressDTO.addressLine1.length() gt '0' ? ', ' : ''}#{customerMasterBean.customerMasterDTO.addressDTO.addressLine2 ne null ? customerMasterBean.customerMasterDTO.addressDTO.addressLine2 : ''}#{customerMasterBean.customerMasterDTO.addressDTO.addressLine2.length() gt '0' ? ', ' : ''} #{customerMasterBean.customerMasterDTO.addressDTO.addressLine3 ne null ? customerMasterBean.customerMasterDTO.addressDTO.addressLine3 : ''}#{customerMasterBean.customerMasterDTO.addressDTO.addressLine3.length() gt '0' ? ', ' : ''} #{customerMasterBean.customerMasterDTO.addressDTO.districtMasterDTO.name}#{customerMasterBean.customerMasterDTO.addressDTO.districtMasterDTO.name.length() gt '0' ? ', ' :''} #{customerMasterBean.customerMasterDTO.addressDTO.stateMasterDTO.name}#{customerMasterBean.customerMasterDTO.addressDTO.stateMasterDTO.name.length() gt '0'?', ':''}#{customerMasterBean.customerMasterDTO.addressDTO.countryMasterDTO.name}#{customerMasterBean.customerMasterDTO.addressDTO.countryMasterDTO.name.length() gt '0' ?', ':''} #{customerMasterBean.customerMasterDTO.addressDTO.postalCode}#{customerMasterBean.customerMasterDTO.addressDTO.landmark.length() gt '0'  ? ', ' : ''}#{customerMasterBean.customerMasterDTO.addressDTO.landmark}
											</p>
										</div>
									</div>
									<div class="col-sm-2">
									</div>					
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="pull-right">
												<p:commandButton id="back"
													class="btn bg-info btn-xs font-iconmoon"
													value="&#xeddf;&nbsp;#{msg['back']}" action="#{customerMasterBean.cancelForm}">
												</p:commandButton>
											</div>
										</div>
									</div>
                                    </div>
						</div>
					</div>
				</div>		
					
				</h:form>		
	</ui:define>
</ui:composition>