<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
	<ui:param name="bean" value="#{advanceTypeMasterBean}"></ui:param>
		<title>InfoTex | View Exam Center</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_exam_center']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li class="active">#{msg['vi_exam_center']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['exam_center']} 
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body no-padding-bottom">
							<div class="row view-style">
							
							<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sup']}" />
										<h:outputText id="sup" onblur=""
													value="#{advanceTypeMasterBean.advanceTypeMaster.code}">
												</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['region']}" />
										<h:outputText id="code" onblur=""
													value="#{advanceTypeMasterBean.advanceTypeMaster.code}">
												</h:outputText>
									</div>
								</div>


								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['exam_center']} #{msg['name']}" />
										<h:outputText value="#{advanceTypeMasterBean.advanceTypeMaster.name}"
													id="cname">
												</h:outputText>
									</div>
								</div>


								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['incharge_name']}" />
										<h:outputText
													value="#{advanceTypeMasterBean.advanceTypeMaster.locName}" id="lname">
												</h:outputText>
									</div>
								</div></div>
<div class="row view-style">
								<div class="col-lg-3 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['no_ava_seat']}" />
										<h:outputText
													value="#{advanceTypeMasterBean.advanceTypeMaster.advanceEligiblilityAmount}" id="adv_eligible_amount">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
								</div>

							</div>

</div>
<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>
									#{msg['add_dtl']}</span>
							</h5>
							
							
							
							<div class="row view-style">
								
<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group ">
												<p:outputLabel value="#{msg['address']} " class="no-border" />
												<p:inputTextarea  rows="6" disabled="true"
													
													 class="form-control"
													placeholder="Some text">
												</p:inputTextarea>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['pri_con_num']}" />
												<h:outputText
												
													value="1332456789" id="statusss">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sec_con_num']}" />
												<h:outputText
												
													value="1332456789" id="statussss">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['email_address']}" />
												<h:outputText
												
													value="ex@gmail.com" id="statuss">
												</h:outputText>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="11-May-2018"
													id="createDate">
													
												</h:outputText>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText
													value="Admin"
													id="createBy">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_date']}" />
												<h:outputText
													value="11-May-2018"
													id="modDate">
													
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_by']}" />
												<h:outputText
													value="Admin"
													id="modBy">
												</h:outputText>
											</div>
										</div>

								
								<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<h:outputText
												
													value="#{advanceTypeMasterBean.advanceTypeMaster.activeStatus eq 'true'?'Active':'Inactive'}" id="status">
												</h:outputText>
											</div>
										</div>
									

										
										</div>
										<div class="row view-style">
										

										
										</div>
										<div class="row view-style">
										
										<div class="col-lg-12 col-md-12 col-sm-12 m-b-10 text-right">
											<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
												action="#{advanceTypeMasterBean.showAdvanceTypeMasterListPage}"
												class="btn bg-info font-iconmoon m-r-0"
												title="#{msg['back']}">


											</p:commandButton>
										</div>
								</div>
							
						
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
		</div>

</div>
	</ui:define>
</ui:composition>