<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Educational Qualification</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_eductnl_qualifctn']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['view_eductnl_qualifctn']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['eductnl_qualifctn']}</h6>
					</div>
					<div class="panel-body p-t-10">
						<div class="row view-style label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group  view-style">
									<p:outputLabel value="#{msg['eductnl_qualifctn_name']}" />
									<h:outputText
										value="#{educationQualificationBean.qualification.qualificationLevel}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['eductnl_qualifctn_name']} (#{msg['in_tamil']})" />
									<h:outputText
										value="#{educationQualificationBean.qualification.qualificationLocalLevel}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['spl']}" />
									<h:outputText
										value="#{educationQualificationBean.qualification.specialization}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<h:outputText
										value="#{educationQualificationBean.qualification.status eq 'true'?'Active':'Inactive'}"
										class="" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									immediate="true" class="btn btn-sm bg-info font-iconmoon"
									title="#{msg['back']}"
									action="#{educationQualificationBean.showListQualificationPage}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>