<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="usermanagementform">
			<title>InfoTex | User</title>
			<style type="text/css">
.ui-selectcheckboxmenu-panel {
	width: 350px !important;
}

ul.ui-selectcheckboxmenu-multiple-container li.ui-selectcheckboxmenu-token
	{
	margin: 0 2px !important;
	background: #455A64 !important;
	border: 0px;
	text-shadow: none;
	font-weight: normal;
}

.ui-selectcheckboxmenu-multiple {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
</style>


			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{userManagementBean.action eq 'ADD' ? msg['create_user']
							: msg['edit_user']}</h4>
						<ul class="breadcrumb">
							<ui:remove>
								<!-- <li><i class="icon-home2 position-left"></i>
							<p:commandLink action="#{userManagementBean.showList}"
									immediate="true" value="#{msg['home']}">
								</p:commandLink></li>
							<li><p:commandLink action="#{userManagementBean.showList}"
									immediate="true" value="User Management">
								</p:commandLink></li> -->
							</ui:remove>

							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['user_management']}</li>
							<li class="active">#{userManagementBean.action eq 'ADD' ?
								msg['create_user'] : msg['edit_user']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['user']}<span class="pull-right text-13">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>

					<div class="pg-scroll-panel-1">
						<div class="panel-body p-t-10">
							<p:outputPanel id="usermanagementpannel">
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group ">
											<p:outputLabel value="#{msg['user_name']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:inputText class="form-control fa-input" id="username"
													value="#{userManagementBean.userMaster.username}"
													placeholder=" " tabindex="1" required="true"
													disabled="#{userManagementBean.action eq 'EDIT'? 'true':'false'}"
													requiredMessage="#{msg['user_name_req']}"
													onchange="this.value = this.value.trim()"
													validatorMessage="#{msg['user_name_valid_msg']}">
													<p:keyFilter regEx="/[a-z0-9_\.\-@]/i"></p:keyFilter>
													<f:validateLength
														minimum="#{userManagementBean.action eq 'EDIT'?4:5}"
														maximum="50" />
												</p:inputText>
											</div>
											<h:message for="username" class="validation-error-label" />
											<p:focus for="username" />
											<p:tooltip for="username"
												value="#{msg['user_name_valid_msg']}" />
										</div>
									</div>
									<p:outputPanel rendered="#{userManagementBean.action eq 'ADD'}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['password']}" />
												<span class="text-danger">*</span>
												<div class="input-group m-b-5">
													<span class="input-group-addon"><i class="icon-lock"></i></span>
													<p:password class="form-control fa-input" id="password"
														maxlength="15" onkeyup="validatePassword(this.value);"
														value="#{userManagementBean.userMaster.password}"
														autocomplete="off" placeholder=" " tabindex="2"
														validator="#{userManagementBean.validatePassword}"
														required="true" requiredMessage="#{msg['password_req']}">
													</p:password>
												</div>
												<div class="progress">
													<div id="progressdiv"></div>
												</div>
												<span id="strengthmsg"></span>
												<h:message for="password" class="validation-error-label" />
												<p:tooltip for="password"
													value="#{msg['password_valid_msg']}" />
											</div>
										</div>
									</p:outputPanel>
									<p:outputPanel rendered="#{userManagementBean.action eq 'ADD'}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['confirm_password']}" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-lock"></i></span>
													<p:password class="form-control fa-input"
														id="confirmpassword" maxlength="10"
														value="#{userManagementBean.confirmPassword}"
														autocomplete="off" placeholder=" " tabindex="3"
														required="true"
														requiredMessage="#{msg['confirm_password_req']}"
														validatorMessage="#{msg['password_valid_msg']}">
														<f:validateLength minimum="5" maximum="15" />
													</p:password>
												</div>
												<h:message for="confirmpassword"
													class="validation-error-label" />
												<p:tooltip for="confirmpassword"
													value="#{msg['password_valid_msg']}" />
											</div>
										</div>
									</p:outputPanel>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-file-check"></i></span>
												<h:selectOneMenu class="form-control"
													value="#{userManagementBean.userMaster.status}"
													tabindex="4">
													<f:selectItem itemLabel="Select" itemDisabled="true" />
													<f:selectItem itemLabel="Active" itemValue="true" />
													<f:selectItem itemLabel="InActive" itemValue="false" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['group']}" />
											<div class="multi-select-full">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:selectCheckboxMenu id="Group" panelStyle="width:270px"
														value="#{userManagementBean.userMaster.groupList}"
														widgetVar="regionSelect" converter="#{entityConverter}"
														label="(#{userManagementBean.userMaster.groupList.size() == 0 || userManagementBean.userMaster.groupList.size()==null ?'0':userManagementBean.userMaster.groupList.size()}) Groups Selected"
														tabindex="5" filter="true" filterMatchMode="startsWith">
														<f:selectItems value="#{userManagementBean.groupList}"
															var="group" itemLabel="#{group.name}"
															itemValue="#{group}" />
														<p:ajax update="Group,GroupText" event="change"
															oncomplete="PF('regionSelect').show()"
															listener="#{userManagementBean.changeGroup}"></p:ajax>
														<p:ajax event="toggleSelect" update="Group,GroupText"
															listener="#{userManagementBean.changeGroup}"></p:ajax>
													</p:selectCheckboxMenu>
												</div>
											</div>

											<h:inputTextarea rows="4" cols="20" id="GroupText"
												class="form-control m-t-10" disabled="true"
												value="#{userManagementBean.groupNames}"
												style="height: 58px;"></h:inputTextarea>
										</div>

									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['region']}" />
											<div class="multi-select-full">
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-city"></i></span>
													<p:selectCheckboxMenu id="Region"
														value="#{userManagementBean.userMaster.region}"
														converter="#{entityConverter}"
														label="(#{userManagementBean.userMaster.region.size() == 0 || userManagementBean.userMaster.region.size()==null ?'0':userManagementBean.userMaster.region.size()}) Region Selected"
														filter="true" filterMatchMode="startsWith"
														panelStyle="width:270px">
														<f:selectItems value="#{userManagementBean.regionList}"
															var="region" itemLabel="#{region.name}"
															itemValue="#{region}" />

														<p:ajax update="Region,RegionText" event="change"
															listener="#{userManagementBean.changeRegions}"></p:ajax>
														<p:ajax event="toggleSelect" update="Region,RegionText"
															listener="#{userManagementBean.changeRegions}"></p:ajax>
													</p:selectCheckboxMenu>
												</div>
											</div>
											<h:inputTextarea rows="4" cols="20"
												class="form-control m-t-10" disabled="true"
												value="#{userManagementBean.regionNames}" id="RegionText"
												style="height: 58px;"></h:inputTextarea>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['role']}" />
											<div class="multi-select-full">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-user-check"></i></span>
													<p:selectCheckboxMenu id="Role"
														value="#{userManagementBean.userMaster.roleMaster}"
														widgetVar="roleSelect" converter="#{entityConverter}"
														label="(#{userManagementBean.userMaster.roleMaster.size() == 0 || userManagementBean.userMaster.roleMaster.size()==null ?'0':userManagementBean.userMaster.roleMaster.size()}) Role Selected"
														filter="true" filterMatchMode="startsWith"
														panelStyle="width:270px">
														<f:selectItems value="#{userManagementBean.roleList}"
															var="role" itemLabel="#{role.roleName}"
															itemValue="#{role}" />
														<p:ajax update="Role,roleText" event="change"
															oncomplete="PF('roleSelect').show()"
															listener="#{userManagementBean.changeRoles}"></p:ajax>
														<p:ajax event="toggleSelect" update="Role,roleText"
															oncomplete="PF('roleSelect').show()"
															listener="#{userManagementBean.changeRoles}"></p:ajax>

													</p:selectCheckboxMenu>
												</div>
											</div>
											<h:inputTextarea rows="4" cols="20"
												class="form-control m-t-10" disabled="true"
												value="#{userManagementBean.roleMasterNames}" id="roleText"
												style="height: 58px;">
											</h:inputTextarea>
										</div>

									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['user_type']}" for="userTypeId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="userTypeId" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="userTypeId" required="true"
													requiredMessage="#{msg['user_type_req']}"
													styleClass="form-control"
													value="#{userManagementBean.userType}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems itemValue="#{obj}" itemLabel="#{obj}"
														var="obj" value="#{userManagementBean.userTypeList}"></f:selectItems>
												</h:selectOneMenu>
											</div>
											<h:message for="userTypeId" class="validation-error-label" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											title="#{msg['cancel']}"
											styleClass="btn btn-sm bg-slate font-iconmoon"
											action="#{userManagementBean.cancelUser}" tabindex="8"
											immediate="true" onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();" />

										<p:commandButton
											value="#{userManagementBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{userManagementBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											title="#{userManagementBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{userManagementBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											action="#{userManagementBean.submit}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											update="growls usermanagementpannel" tabindex="9" />
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>



			<p:dialog header="#{msg['update_successfully']}" draggable="false"
				modal="true" styleClass="p-0 overlay-pop modal-dialog"
				closable="false" width="30%" widgetVar="forceLogoutDialog"
				showEffect="fade" hideEffect="fade" resizable="false">

				<div class="modal-body">
					<h:outputText value="#{msg['user_details_updated_success']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton ajax="false" title="#{msg['click_here_login']}"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['click_here_login']}"
						action="#{userManagementBean.forceLogin}">
					</p:commandButton>
				</div>
			</p:dialog>

			<script>
	function hasLowerCase(password) {
	    return (/[a-z]/.test(password));
	}
	function hasUpperCase(password) {
	    return (/[A-Z]/.test(password));
	}
	function hasSpecialChar(password) {
		  return (/[\@\#\$\%\^\&amp;\*\(\)\_\+\!]/.test(password));
	}
	
	function validatePassword(password) {
	    // Do not show anything when the length of password is zero.
	    var pwdlength = password.length;
	    var ctr = 0;
	    if (pwdlength === 0) {
	    	ctr = 0;
	    }
	    if (pwdlength &gt; 0 &amp;&amp; pwdlength &lt; 4) {
	    	ctr = 1;
	    }
	    if (pwdlength &gt; 4 &amp;&amp; pwdlength &lt; 6) {
	    	ctr = 2;
	    }
	    if (pwdlength === 6 || pwdlength &gt; 6 &amp;&amp; pwdlength &lt; 12) {
	    	if(hasLowerCase(password) &amp;&amp; hasUpperCase(password) &amp;&amp;hasSpecialChar(password)){
	    		ctr = 3;
	    	}else{
	    		ctr = 2;
	    	}
	    }
	    if (pwdlength === 12 || pwdlength &gt; 12 &amp;&amp; pwdlength &lt; 16) {
	    	if(hasLowerCase(password) &amp;&amp; hasUpperCase(password) &amp;&amp;hasSpecialChar(password)){
	    		ctr = 4;
	    	}else{
	    		ctr = 3;
	    	}
	    }
	   
	    var text = "";
	    var strength = "";
	    var color = "";
	    switch (ctr) {
	        case 0:
	        	strength = "";
	        	text = "";
	        	color = "";
	        case 1:
	        	strength = "password-progress-red";
	        	text = "Weak";
	        	color = "red";
	            break;
	        case 2:
	        	strength = "password-progress-orange";
	        	text = "Medium";
	        	color = "orange";
	            break;
	        case 3:
	        	strength = "password-progress-green";
	        	text = "Strong";
	        	color = "green";
	            break;
	        case 4:
	        	strength = "password-progress-verystrong";
	        	text = "Strongest";
	        	color = "green";
	            break;
	    }
	    document.getElementById("progressdiv").className = strength;
	    document.getElementById("strengthmsg").innerHTML = text;
	    document.getElementById("strengthmsg").style.color = color;
	}
</script>


			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		</h:form>
	</ui:define>
</ui:composition>