<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View User</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_user']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['user_management']}</li>
						<li class="active">#{msg['view_user']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>


		<div class="content">
			<div class="panel">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['user']}</h6>
				</div>
				<div class="pg-scroll-panel-1">
					<div class="panel-body p-t-10">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['user_name']}" />
									<h:outputText
										value="#{userManagementBean.selectedUserMasterDTO.username}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['group']}" />
									<h:outputText value="#{userManagementBean.groupNames}" class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['role']}" />
									<h:outputText value="#{userManagementBean.roleMasterNames}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<h:outputText
										value="#{userManagementBean.selectedUserMasterDTO.status eq true?'Active':'InActive'}"
										class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['regional_profile']}" />
									<h:outputText value="#{userManagementBean.regionNames}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['user_type']}" />
									<h:outputText value="#{userManagementBean.userType}" class="" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 text-right">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									title="#{msg['back']}"
									styleClass="btn btn-sm bg-info font-iconmoon"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" immediate="true"
									action="#{userManagementBean.cancelUser}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>