<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Temporary Engagement</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['recruit_pro']} - #{msg['vi_temp_eng']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li class="active">#{msg['vi_temp_eng']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['temp_eng']}</h6>
				</div>
				<div class="panel-body page-scroll-without-process">
					<div class="view-style">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['state']}" />
									<h:outputText
										value="#{temporaryEngagementBean.temporaryEngagement.state.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['entity']}" />
									<h:outputText id="entity"
										value="#{temporaryEngagementBean.temporaryEngagement.entity.length() gt 25?fn:substring({temporaryEngagementBean.temporaryEngagement.entity},1,25).concat('...'):temporaryEngagementBean.temporaryEngagement.entity}"
										class="" />
									<p:tooltip for="entity"
										value="#{temporaryEngagementBean.temporaryEngagement.entity}" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<h:outputText
										value="#{temporaryEngagementBean.temporaryEngagement.department.name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['designation']}" />
									<h:outputText id="designation"
										value="#{temporaryEngagementBean.temporaryEngagement.designations.length() gt 25?fn:substring({temporaryEngagementBean.temporaryEngagement.designations},1,25).concat('...'):temporaryEngagementBean.temporaryEngagement.designations}"
										class="" />
									<p:tooltip for="designation"
										value="#{temporaryEngagementBean.temporaryEngagement.designations}" />
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sal_per_from']}" />
									<h:outputText
										value="#{temporaryEngagementBean.temporaryEngagement.salesPeriodFrom}"
										class="">
										<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sal_per_to']}" />
									<h:outputText
										value="#{temporaryEngagementBean.temporaryEngagement.salesPeriodTo}"
										class="">
										<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</div>
							</div>
						</div>

						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['temp_eng']}</span>
						</h5>

						<p:dataTable id="detailsList" widgetVar="detailsListWidget"
							rowIndexVar="idx" var="tempEngagement"
							styleClass="report-table m-b-10"
							value="#{temporaryEngagementBean.temporaryEngagement.temporaryEngagementDetails}">
							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="2" headerText="#" />
									<p:column rowspan="2" headerText="#{msg['entity']}" />
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										colspan="2"
										headerText="#{msg['annual_sales']} (#{msg['in_lakhs']})" />
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										colspan="2" headerText="#{msg['se_aspersales']}" />
									<p:column rowspan="2"
										headerText="#{msg['sanction_stfstrength']}" />
									<p:column rowspan="2" headerText="#{msg['tot_stelg']}" />
									<p:column rowspan="2" headerText="#{msg['tot_stonrole']}" />
									<p:column rowspan="2" headerText="#{msg['excess_count']}" />
									<p:column rowspan="2" headerText="#{msg['short_count']}" />
									<p:column rowspan="2" headerText="#{msg['appl_court']}"
										class="width-8" />
									<p:column rowspan="2" headerText="#{msg['action']}" />
								</p:row>
								<p:row>
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										headerText="#{msg['silK_saress']}" />
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										headerText="#{msg['other_silk_saress']}" />
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										headerText="#{msg['silK_saress']} @ Rs.75.90 #{msg['lakhs']} / #{msg['staff']}" />
									<p:column
										rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}"
										headerText="#{msg['other_silk_saress']} @ Rs.32.52 #{msg['lakhs']} / #{msg['staff']}" />
								</p:row>
							</p:columnGroup>
							<p:column class="text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column>
								<h:outputText value="#{tempEngagement.region.name}" />
							</p:column>
							<p:column class="text-right"
								rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
								<h:outputText
									value="#{temporaryEngagementBean.currencyFormat(tempEngagement.silkSareeAnnualSales)}">
								</h:outputText>
							</p:column>
							<p:column class="text-right"
								rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
								<h:outputText
									value="#{temporaryEngagementBean.currencyFormat(tempEngagement.otherSnnualSales)}">
								</h:outputText>
							</p:column>
							<p:column class="text-right"
								rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
								<h:outputText
									value="#{temporaryEngagementBean.currencyFormat(tempEngagement.silkSareeStaffEligible)}">
								</h:outputText>
							</p:column>
							<p:column class="text-right"
								rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
								<h:outputText
									value="#{temporaryEngagementBean.currencyFormat(tempEngagement.otherStaffEligible)}">
								</h:outputText>
							</p:column>
							<p:column class="text-right">
								<h:outputText value="#{tempEngagement.sanctionedStaffCount}">
								</h:outputText>
							</p:column>
							<p:column class="text-right">
								<h:outputText value="#{tempEngagement.totalStaffEligible}">
								</h:outputText>
							</p:column>
							<p:column class="text-right">
								<h:outputText value="#{tempEngagement.totalStaffOnRole}">
								</h:outputText>
							</p:column>
							<p:column class="text-right">
								<h:outputText value="#{tempEngagement.excessCount}">
								</h:outputText>
							</p:column>
							<p:column class="text-right">
								<h:outputText value="#{tempEngagement.shortageCount}">
								</h:outputText>
							</p:column>
							<p:column class="text-right width-10">
								<h:outputText value="#{tempEngagement.approveCount}">
								</h:outputText>
							</p:column>
							<p:column class="text-center">
								<p:commandButton value="&#xea18;" title="#{msg['view']}"
									rendered="#{tempEngagement.approveCount ne '0'}"
									class="btn btn-sm bg-info font-iconmoon"
									action="#{temporaryEngagementBean.viewShowroomDetails(tempEngagement)}"
									update="showroompopup"></p:commandButton>
							</p:column>
						</p:dataTable>


						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['req_year']}" />
									<h:outputText
										value="#{temporaryEngagementBean.temporaryEngagement.selectionYear}"
										class="" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 text-right">
								<p:commandButton value="&#xeddf; #{msg['back']}"
									title="#{msg['back']}"
									action="#{temporaryEngagementBean.cancel}"
									onclick="PF('progressDlg').show();" update="growls"
									immediate="true" oncomplete="PF('progressDlg').hide();"
									class="btn btn-sm bg-info font-iconmoon" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<p:dialog modal="true" id="showroompopup"
				header="#{msg['temp_eng']} - #{temporaryEngagementBean.selectedTemporaryEngagementDetail.region.name}"
				styleClass="p-0 overlay-pop modal-dialog" height="400" width="90%"
				closable="true" widgetVar="showroomdetail" showEffect="fade"
				hideEffect="fade" closeOnEscape="true">
				<h:form>
					<div class="modal-body p-10 border0">
						<p:outputPanel
							styleClass="#{temporaryEngagementBean.selectedTemporaryEngagementDetail.temporaryEngagementShowroomDetails.size() gt 5 ? 'overflow-table m-b-10':'col-lg-12 ph0 m-b-10'}">
							<p:dataTable id="showroomList" scrollable="true"
								scrollHeight="300"
								value="#{temporaryEngagementBean.selectedTemporaryEngagementDetail.temporaryEngagementShowroomDetails}"
								tableStyleClass="showroom-tbl" var="temporaryEngagementChild"
								rowIndexVar="idx">
								<p:columnGroup type="header">
									<p:row>
										<p:column rowspan="2" headerText="#" />
										<p:column rowspan="2" headerText="#{msg['entity']}" />
										<p:column rowspan="2" headerText="#{msg['area_sqft']}" />
										<p:column colspan="2"
											headerText="#{msg['annual_sales']} (#{msg['in_lakhs']})"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
										<p:column colspan="2" headerText="#{msg['no_of_staff_eli']}"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
										<p:column rowspan="2"
											headerText="#{msg['sanction_stfstrength']}" />
										<p:column rowspan="2" headerText="#{msg['tot_stelg']}" />
										<p:column rowspan="2" headerText="#{msg['tot_stonrole']}" />
										<p:column rowspan="2" headerText="#{msg['excess_count']}" />
										<p:column rowspan="2" headerText="#{msg['short_count']}" />
									</p:row>
									<p:row>
										<p:column headerText="#{msg['silK_saress']}"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
										<p:column headerText="#{msg['other_silk_saress']}"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
										<p:column
											headerText="#{msg['silK_saress']} @ Rs.75.90 #{msg['lakhs']} / #{msg['staff']}"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
										<p:column
											headerText="#{msg['other_silk_saress']} @ Rs.32.52 #{msg['lakhs']} / #{msg['staff']}"
											rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}" />
									</p:row>
								</p:columnGroup>
								<p:column styleClass="text-center">
									<h:outputText value="#{idx+1}" />
								</p:column>

								<p:column>
									<h:outputText value="#{temporaryEngagementChild.region.name}" />
								</p:column>
								<p:column class="text-right">
									<h:outputText value="#{temporaryEngagementChild.areaSize}">
										<f:convertNumber pattern="0" />
									</h:outputText>
								</p:column>
								<p:column class="text-right"
									rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
									<h:outputText
										value="#{temporaryEngagementBean.currencyFormat(temporaryEngagementChild.silkSareeAnnualSales)}">
									</h:outputText>
								</p:column>
								<p:column class="text-right"
									rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
									<h:outputText
										value="#{temporaryEngagementBean.currencyFormat(temporaryEngagementChild.otherSnnualSales)}">
									</h:outputText>
								</p:column>
								<p:column class="text-right"
									rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
									<h:outputText
										value="#{temporaryEngagementBean.currencyFormat(temporaryEngagementChild.silkSareeStaffEligible)}">
									</h:outputText>
								</p:column>
								<p:column class="text-right"
									rendered="#{temporaryEngagementBean.temporaryEngagement.department.name eq 'Marketing'}">
									<h:outputText
										value="#{temporaryEngagementBean.currencyFormat(temporaryEngagementChild.otherStaffEligible)}">
									</h:outputText>
								</p:column>
								<p:column class="text-right">
									<h:outputText
										value="#{temporaryEngagementChild.sanctionedStaffCount}">
									</h:outputText>
								</p:column>
								<p:column class="text-right">
									<h:outputText
										value="#{temporaryEngagementChild.totalStaffEligible}">
									</h:outputText>
								</p:column>
								<p:column class="text-right">
									<h:outputText
										value="#{temporaryEngagementChild.totalStaffOnRole}">
									</h:outputText>
								</p:column>
								<p:column class="text-right">
									<h:outputText value="#{temporaryEngagementChild.excessCount}">
									</h:outputText>
								</p:column>
								<p:column class="text-right">
									<h:outputText value="#{temporaryEngagementChild.shortageCount}">
									</h:outputText>
								</p:column>
							</p:dataTable>
						</p:outputPanel>
						
						<div class="row">
							<div class="col-lg-12 text-right">
								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									title="#{msg['cancel']}"
									styleClass="btn btn-sm bg-slate font-iconmoon"
									oncomplete="PF('showroomdetail').hide()" />
							</div>
						</div>
					</div>
				</h:form>
			</p:dialog>
		</div>
	</ui:define>
</ui:composition>