<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="tapalDeliveryTypeMaster">
			<title>InfoTex | Vehicle Arrival</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['createvehiclearrival']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li>#{msg['personnel']}</li>
								<li>#{msg['admin']}</li>
							<li>#{msg['vcl_mng']}</li>
							<li class="active">#{msg['createvehiclearrival']}</li>
						</ul>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content">
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['vehicle_arrival']}  <span class="pull-right text-13 ">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div 
							class="page-scroll-without-process">
							<div class="panel-body p-t-10">
							<p:outputPanel id="colapsepanel">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['vech_dri_details']}</span>
										</h5>
									</div>
								</div>
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['ho_ro']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.entityMaster.name}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['vehicle_num']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash "></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.vehicleRegister.registrationNo}"
													class="form-control " disabled="true" />

											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['vehicle_make']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-truck "></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.vehicleRegister.vehicleMake.name}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['variant']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-droplet "></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.vehicleRegister.fuelType}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['driver_id']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-vcard "></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.driver.empCode}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['driver_name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.driver.firstName}"
													class="form-control " disabled="true" />

											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i> #{msg['depart_details']}</span>
										</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['depart_date']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-calendar22"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.departureDate}"
													class="form-control " disabled="true">
													<!-- <f:convertDateTime pattern="dd/MMM/yyyy hh:mm a" /> -->
													<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy"></f:convertDateTime>
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['depart_time']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-alarm"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.departureTime}"
													class="form-control " disabled="true">
													<!-- <f:convertDateTime pattern="hh:mm a" /> -->
													<f:convertDateTime timeZone="#{loginBean.timeZone}"
														pattern="hh:mm a" />
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['start_kilometer']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-road"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.startKilometre}"
													class="form-control " disabled="true">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
													</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['desg']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-road"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.destination}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['purpose']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-target"></i></span>
												<p:inputText value="#{vehicleManagementBean.vehicledeparture.purpose}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i> #{msg['off_travel_det']}</span>
										</h5>
									</div>
								</div>
								
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.empMaster.firstName}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_no']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class=" icon-vcard"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.empMaster.empCode}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.empMaster.personalInfoEmployment.currentDepartment.name}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['designation']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-user"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.empMaster.personalInfoEmployment.currentDesignation.name}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['num_of_emp_travelled']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class=" icon-hash"></i></span>
												<p:inputText
													value="#{vehicleManagementBean.vehicledeparture.totalEmployeesTavelled}"
													class="form-control " disabled="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i> #{msg['arrival_details']}</span>
										</h5>
									</div>
								</div>

								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['arrival_date']}" />
											<span class="mand-red">*</span>
											<div class="form-group form-group_calend m-b-0">
												<p:calendar id="workFrom1" pattern="dd-MMM-yyyy"
													required="#{not empty param[generate.clientId]}"
													requiredMessage="#{msg['arr_date_req']}" navigator="true"
													styleClass="form-control-1 calend-icon-1"  mindate="#{vehicleManagementBean.vehicledeparture.departureDate}"
													value="#{vehicleManagementBean.vehicleArrival.arrivalDate}">
													<p:ajax event="change" update="@this"></p:ajax>
												</p:calendar>
											</div>
											<h:message for="workFrom1" class="validation-error-label" />
						 					<p:focus for="workFrom1"/>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['arrival_time']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-alarm"></i></span>
<!-- 
												<pe:timePicker
													required="#{not empty param[generate.clientId]}"
													requiredMessage="Arrival Time  is required" id="arvltime"
													value="#{vehicleManagementBean.vehicleArrival.arrivalTime}"
													mode="spinner" widgetVar="startTimeWidget"
													readonlyInput="true" showOn="button"
													label="Spinner time picker with button" /> -->
													
													<pe:timePicker readonlyInput="true"
														value="#{vehicleManagementBean.vehicleArrival.arrivalTime}"
												widgetVar="startTimeWidget" class="form-control"
												label="Spinner time picker">
												<p:keyFilter mask="num" />
											</pe:timePicker>
											</div>
											<h:message for="arvltime" class="validation-error-label" />
										</div>
									</div>
									<!-- <div class="col-lg-3 col-md-6 col-sm-6 time-pick">
									<div class="form-group">
										<p:outputLabel value="Arrival Time" />
										<span class="mand-red">*</span>
										<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon icon-alarm"></i></span>
														<pe:timePicker readonlyInput="true"
															value="#{examCentreBean.examCentre.examStartTime}" 
															onHourShow="tpStartOnHourShowCallback"
												            onMinuteShow="tpStartOnMinuteShowCallback"
															widgetVar="startTimeWidget"  
                   											label="Spinner time picker">
                   										<p:keyFilter mask="num"/>
                   										</pe:timePicker>
													</div>
									</div>
								</div>
								 -->


									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['end_km']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-road"></i></span>
												<p:inputText
													required="#{not empty param[generate.clientId]}"
													requiredMessage="#{msg['end_km_req']}" id="endkilo"
													maxlength="15"
													value="#{vehicleManagementBean.vehicleArrival.endKilometer}"
													class="form-control ">
													<p:ajax event="blur" update="totkilometer endkilo"
														listener="#{vehicleManagementBean.gettotalkilometers}" />
														<p:keyFilter mask="num" />
														<f:convertNumber pattern="#0.00"></f:convertNumber>
												</p:inputText>
											</div>
											<h:message for="endkilo" class="validation-error-label" />

										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_km']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-road"></i></span>
												<p:inputText value="#{vehicleManagementBean.totalkilometer}" class="form-control" disabled="true"
													maxlength="15"
													id="totkilometer">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
													</p:inputText>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" for="reason"/>
		<p:outputLabel value="*" class="text-danger mand-symbol"
                 for="reason"
                 rendered="#{empty param[generate.clientId]}" />
											<h:inputTextarea rows="3" class="form-control"
												required="#{not empty param[generate.clientId]}"
												requiredMessage="#{msg['reason_req']} " id="reason"
												disabled="#{rosterReservationBean.action eq 'VIEW'}"
												value="#{vehicleManagementBean.vehicleArrival.note}"
												maxlength="250"></h:inputTextarea>
												<small>#{msg['textarea_msg']}</small><h:message for="reason" class="validation-error-label" />
										</div>
										
									</div>
								</div>
								<!-- 							<div class="row"> -->
								<!-- 							<div class="col-lg-3 col-md-3 col-sm-12"> -->
								<!-- 								<div class="form-group"> -->
								<!-- 									<p:outputLabel value="Forward to" /> -->
								<!-- 									<span class="mand-red">*</span> -->
								<!-- 									<div class="input-group"> -->
								<!-- 										<span class="input-group-addon"><i class="icon-forward"></i></span> -->
								<!-- 										<h:selectOneMenu id="inwardno" styleClass="form-control"> -->
								<!-- 											<f:selectItem itemLabel="#{msg['select']}" -->
								<!-- 												noSelectionOption="true"></f:selectItem> -->
								<!-- 											<f:selectItem itemValue="Gurunathan M / Senior Manager" -->
								<!-- 												itemLabel="Gurunathan M / Senior Manager"></f:selectItem> -->
								<!-- 											<f:selectItem -->
								<!-- 												itemValue="Maha Gaurav V / Sales Representative" -->
								<!-- 												itemLabel="Maha Gaurav V / Sales Representative"></f:selectItem> -->
								<!-- 										</h:selectOneMenu> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 							</div> -->

								<!-- 							<div class="col-lg-3 col-md-3 col-sm-12"> -->
								<!-- 								<div class="form-group"> -->
								<!-- 									<p:outputLabel value="Forward for" /> -->
								<!-- 									<span class="mand-red">*</span> -->
								<!-- 									<div class="input-group"> -->
								<!-- 										<span class="input-group-addon"><i class="icon-forward"></i></span> -->
								<!-- 										<h:selectOneMenu id="forwardfor" styleClass="form-control"> -->
								<!-- 											<f:selectItem itemLabel="#{msg['select']}" -->
								<!-- 												noSelectionOption="true"></f:selectItem> -->
								<!-- 											<f:selectItem itemValue="Approval" itemLabel="Approval"></f:selectItem> -->
								<!-- 											<f:selectItem itemValue="Final Approval" -->
								<!-- 												itemLabel="Final Approval"></f:selectItem> -->
								<!-- 										</h:selectOneMenu> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 							</div> -->
								<!-- 						</div> -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<p:commandButton value="&#xed6a; #{msg['cancel']}" title="#{msg['cancel']}"
												class="btn btn-sm bg-slate font-iconmoon m-l-10" action="#{vehicleManagementBean.cancel}" />
											<p:commandButton value="&#xed6e; #{msg['submit']}" title="#{msg['submit']}"
											binding="#{generate}"  update="colapsepanel"
												action="#{vehicleManagementBean.submitArrival}"
												class="btn btn-sm bg-success font-iconmoon m-l-10" />
									</div>
								</div>
								<!-- end row --></p:outputPanel>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>