<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Stock Outward - Printing Warehouse</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-file-plus position-left"></i>#{msg['stock_out']} - #{msg['prnt_whouse']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['prnt_whouse']}</li>
						<li class="active">#{msg['stock_out']} - #{msg['prnt_whouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['stock_out']} - #{msg['prnt_whouse']}</h6>
					<div class="heading-elements"></div>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
							<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
						</div>
					</div>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<label class="control-label">#{msg['stock_out_to']} - #{msg['enty_typ']}</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<select class="form-control">
										<option>Inspection Center - Regional Office</option>
										<option>Inspection Center - D &amp; P Office</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<label class="control-label">#{msg['stock_out_to']} - #{msg['enty_name']}</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<select class="form-control">
										<option>Inspection Center - Coimbatore</option>
										<option>Inspection Center - Selam</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 text-left"
							style="margin-top: 27px">
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								styleClass="btn btn-sm bg-slate waves-effect waves-light font-iconmoon"></p:commandButton>
							<p:commandButton value="&#xe98e;&nbsp;#{msg['search']}"
								styleClass="btn btn-sm bg-info waves-effect waves-light font-iconmoon">
							</p:commandButton>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel m-b-0">
						<div class="panel-body">
							<h5 class="bord_bot">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['stock_to']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['enty_code']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<p:inputText disabled="true" placeholder="11183"
														styleClass="form-control"></p:inputText>
												</div>
											</div>
										</div>
								<!-- end col -->
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['enty_name']}" />
										<div class="input-group">
									<span class="input-group-addon"><i class="icon-tree6"></i></span>
										<p:inputText disabled="true"
											placeholder="Salem ISSR"
											styleClass="form-control"></p:inputText>
											</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
							<p:outputLabel value="#{msg['stok_out_dat']}" />
							<div class="form-group form-group_calend">
								<p:calendar  id="planperiodto" navigator="true"
									mindate="#{freeDistributionSystemBean.minDate}"
									value="#{freeDistributionSystemBean.govtSchemePlan.periodTo}"
									pattern="dd-MMM-yyyy" autocomplete="off"
									required="#{not empty param[add.clientId]}"
									requiredMessage="#{msg['plan_period_to']} #{msg['required']}"
									styleClass="form-control calend-icon caled-top"
									disabled="true"></p:calendar>
								<p:watermark for="planperiodto" value="DD-MM-YYYY" />
								<p:message for="planperiodto" />
							</div>
						</div>
							</div>
						</div>
						<div class="panel-body p-0">
						<h5 class="m-b-0 m-l-10">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['pdt_details']}</span>
							</h5>
								
							<div class="panel-heading no-border"></div>
							<div class="table-responsive cust-table">
								<table class="table m-0 ">
									<thead>
										<tr>
											<th rowspan="2" class="text-center">#</th>
											<th rowspan="2" class="text-center">#{msg['product_code']}</th>
											<th rowspan="2" class="text-center">#{msg['pro_name']}</th>
											<th rowspan="2" class="text-center">#{msg['avl_qty']}</th>
											<th rowspan="2" class="text-center">#{msg['alread_disp']}</th>
											<th rowspan="2" class="text-center">#{msg['cur_disp']}</th>
											<th rowspan="2" class="text-center width-15">#{msg['value']}</th>
											<th rowspan="2" class="text-center">#{msg['action']}</th>
										</tr>
									</thead>
									<tbody>
															<tr>
																<td align="center">1</td>
																
																<td align="center">PD002</td>
																<td>Handloom Saree</td>
																<td class="text-right">120</td>
																<td class="text-right">50</td>
																<td><input type="text" class="form-control text-right"
																	placeholder="" /></td>
																	<td class="text-right">12</td>
																<td align="center">
																	<button
																		class="btn-xs btn-icon waves-effect waves-light btn-danger"
																		title="Delete">
																		<i class="fa fa-trash"></i>
																	</button>
																</td>
															</tr>
															<tr>
																<td align="center">2</td>
																
																<td align="center">PD003</td>
																<td>Pedaloom Saree</td>
																<td class="text-right">100</td>
																<td class="text-right">30</td>
																<td><input type="text" class="form-control text-right"
																	placeholder="" /></td>
																	<td class="text-right">12</td>
																<td align="center">
																	<button
																		class="btn-xs btn-icon waves-effect waves-light btn-danger"
																		title="Delete">
																		<i class="fa fa-trash"></i>
																	</button>
																</td>
															</tr>
															<tr>
																<td align="center">3</td>
																
																<td align="center">PD004</td>
																<td>Poweloom Saree</td>
																<td class="text-right">80</td>
																<td class="text-right">40</td>
																<td><input type="text" class="form-control text-right"
																	placeholder="" /></td>
																	<td class="text-right">12</td>
																<td align="center">
																	<button
																		class="btn-xs btn-icon waves-effect waves-light btn-danger"
																		title="Delete">
																		<i class="fa fa-trash"></i>
																	</button>
																</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td align="center" colspan="3"><strong>TOTAL</strong></td>
																<td class="text-right">510</td>
																<td class="text-right">200</td>
																<td class="text-right">60</td>
																<td class="text-right">12</td>
																<td></td>
															</tr>
														</tfoot>
								</table>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="dataTables_info m-l-5" id="DataTables_Table_2_info"
										role="status" aria-live="polite">
										<button type="button" title="Download PDF"
											class="btn btn-primary btn-xs">
											<i class="icon-file-pdf position-left"></i>PDF
										</button>
										<button type="button" title="Download Excel"
											class="btn btn-success btn-xs">
											<i class="icon-file-excel position-left"></i>Excel
										</button>
									</div>
								</div>
								<div class="col-md-6 m-t-10 text-right">
									<ul class="pagination m-r-5 m-b-0">
										<li><a href="#">&larr; Previous</a></li>
										<li><a href="#">&lsaquo;</a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li class="disabled"><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a href="#">&rsaquo;</a></li>
										<li><a href="#">Next &rarr;</a></li>
									</ul>
								</div>
							</div>
								</div>
							<div class="panel-body">
								<h4 class="bord_bot">
									<i class="fa fa-th-large m-r-5 m-t-10"></i><span
										class="iform-title">#{msg['bund_details']}</span>
								</h4>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel for="lname240" value="#{msg['tot_no_bund']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText id="lname240" maxlength="30"
													class="form-control" value="40" />
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<!-- <div class="form-group">
											<p:outputLabel class="" value="Plan Name" />
											<h:outputText value="Discount Plan" class="" />
										</div> -->
										<div class="form-group">
											<p:outputLabel for="lname34" value="#{msg['tot_bund_wt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText id="lname34" maxlength="30"
													class="form-control" value="40" />
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<!-- <div class="form-group">
											<p:outputLabel class="" value="Plan Name" />
											<h:outputText value="Discount Plan" class="" />
										</div> -->
										<div class="form-group">
											<p:outputLabel for="lname35" value="#{msg['bun_num_frm']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText id="lname35" maxlength="30"
													class="form-control" value="40" />
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<!-- <div class="form-group">
											<p:outputLabel class="" value="Plan Name" />
											<h:outputText value="Discount Plan" class="" />
										</div> -->
										<div class="form-group">
											<p:outputLabel for="lname36" value="#{msg['bun_num_to']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText id="lname36" maxlength="30"
													class="form-control" value="40" />
											</div>
										</div>
									</div>
								</div>
								<h4 class="bord_bot">
									<i class="fa fa-th-large m-r-5 m-t-10"></i><span
										class="iform-title">#{msg['trans_details']}</span>
								</h4>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel for="lname24" value="#{msg['trans_ser_name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-car"></i></span>
												<p:inputText id="lname24" maxlength="30"
													class="form-control" />
											</div>
										</div>
										</div>
									
										<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel for="lname241" value="#{msg['waybill_no']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-certificate"></i></span>
												<p:inputText id="lname241" maxlength="30"
													class="form-control" />
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<label class="control-label">#{msg['trans_ser_type']}</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-car"></i></span>
												<select class="form-control">
													<option>Select</option>
													<option>In Person</option>
													<option>Lorry</option>
													<option>Bus</option>
												</select>
											</div>
										</div>
										</div>

									
										<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<label class="control-label">#{msg['trans_charge_type']}</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-menu6"></i></span>
												<select class="form-control">
													<option>Select</option>
													<option>Cash</option>
													<option>Card</option>
													<option>Net Banking</option>
												</select>
											</div>
										</div>
									</div>
									
								</div>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel for="lname242"
												value="#{msg['trans_charge_amt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-coins"></i></span>
												<p:inputText id="lname242" maxlength="30" 
													class="form-control" />
											</div>
										</div>
									</div>
								</div>
								<div class="row m-b-20">
									<div class="col-md-12 text-right">
										<p:commandButton
											value="&#xea01;&nbsp;#{msg['gen_dc']}"
											styleClass="btn btn-sm btn-info waves-effect waves-light font-iconmoon">
										</p:commandButton>
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light font-iconmoon"></p:commandButton>
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											styleClass="btn btn-sm btn-success waves-effect waves-light font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
					
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>
