<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View POS Terminal</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_pos_terminal']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper_module']}</li>
						<li class="active">#{msg['view_pos_terminal']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['pos_ter']}</h6>
				</div>
				<div class="panel-body page-scroll-without-process p-t-10">
					<h:form id="catform">
						<p:outputPanel>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['region']}" />
										<h:outputText value="Chennai" id="region">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sroom_add_success']}" />
										<h:outputText value="Adyar Showroom" id="Showroom">
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['code']} " />
										<h:outputText value="CO12345" id="code">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['os_ver']}" />
										<h:outputText value="Windows 10" id="osver">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ram_size']}" />
										<h:outputText id="ram" value="8 GB">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['app_ver']}" />
										<h:outputText id="appver" value="6.5 Version">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['app_reg_date']}" />
										<h:outputText id="appregdate" value="15-Aug-2015">

										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['app_status']}" />
										<h:outputText id="appstatus" value="Approval">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['approved_by']}" />
										<h:outputText id="approvedby" value="Admin">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['approved_date']}" />
										<h:outputText id="approveddate" value=" 25-Aug-2015">
										</h:outputText>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton update="growls" immediate="true"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf6;&nbsp;#{msg['reject']}"
										title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
										onclick="PF('dlgComments2').show();" type="button">
									</p:commandButton>
									<p:commandButton onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['approve']}"
										title="#{msg['approve']}" class="btn bg-success font-iconmoon"
										onclick="PF('dlgComments').show();" type="button">
									</p:commandButton>

									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										title="#{msg['back']}" action="#{tenderCategoryBean.backPage}"
										update="catform" immediate="true"
										class="btn bg-info btn-xs font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</div>
			</div>
			<p:dialog modal="true" draggable="true" id="dlgCommentrej"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog text-left"
				widgetVar="dlgComments2" width="40%" focus="comments2">

				<f:facet name="header">
					<h:outputText id="someDialogHeader1"
						value="#{msg['reject_comments']}" />
				</f:facet>

				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{bean.rejtremark}" id="comments2" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}"
						class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						update="growls" title="#{msg['submit']}"
						class="btn bg-success heading-btn  font-iconmoon"
						onclick="PF('dlgComments2').hide();" ajax="false"
						action="#{bean.submitRejectedStatus}">
					</p:commandButton>
				</div>
			</p:dialog>


			<p:dialog modal="true" draggable="true" id="dlgCommentapr"
				showEffect="fade" hideEffect="fade"
				styleClass="p-0 overlay-pop modal-dialog text-left"
				widgetVar="dlgComments" width="40%" focus="comments">

				<f:facet name="header">
					<h:outputText id="someDialogHeader"
						value="#{msg['approve_comments']}" />
				</f:facet>

				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								maxlength="235" styleClass="form-control"
								value="#{bean.apprremarks}" id="comments" />
						</div>
					</div>
				</div>
				<div class="modal-footer ph0">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}"
						class="btn bg-slate heading-btn  font-iconmoon" ajax="false">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						update="growls" title="#{msg['submit']}"
						class="btn bg-success heading-btn  font-iconmoon"
						onclick="PF('dlgComments').hide();" ajax="false"
						action="#{bean.submitApprovedStatus}">
					</p:commandButton>
				</div>
			</p:dialog>
		</div>
	</ui:define>
</ui:composition>