<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
<h:form>
	<title>InfoTex | Appointment Order Generation</title>

	<style type="text/css">
		#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number{
			background-color: #4caf50 !important;
			border-color: #4caf50 !important;
			color: #4caf50 !important;
		}
		#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number, #steps-uid-0-t-3 .number{
			color: #fff;
		}
		#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after {
			content: '\ed6f';
			color: #fff !important;
			font-family: icomoon;
			display: inline-block;
			margin-left: -9px;
			font-size: 16px;
			line-height: 34px;
		}
		#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
		#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after {margin-left: -6px; color:#bbb;}
		#steps-uid-0-t-0 .number {font-size: 14px;}
		#steps-uid-0-t-2 .number {border-color: #ff5722;}
		#steps-uid-0-t-2 .number:after {content: "25"; color: #ff5722;margin-left: -9px;}
		#steps-uid-0-t-3 .number:after {content: "26";margin-left: -9px;}
		#steps-uid-0-t-0 {color: #bbb;}
		#steps-uid-0-t-2 {color: #333 !important;}
	</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['recruit_pro']} - #{msg['app_or_gen']} <span
							class="label stageLabel label-primary label-rounded">19
							/26</span>
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['recruit_pro']}</li>
						<li>#{msg['per_recui']}</li>
						<li class="active">#{msg['app_or_gen']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content p-content">
			<ui:include src="/pages/personnelHR/recruitmentProcessWorkFlow3.xhtml" />
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading panelHeading-fix">
					<h6 class="panel-title">#{msg['app_or_gen']}</h6>
				</div>
				<div 
					class="page-scroll-with-process-insight-panel">
					<div class="panel-body" >
						<div class="view-style">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['adver_num']}" />
										<span class="">#{appointmentOrderBean.notificationNumber}</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['req_post']}" />
										<span class="">#{appointmentOrderBean.recruitmentForPost}</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['req_year']}" />
										<span class="">#{appointmentOrderBean.recruitmentYear}</span>
									</div>
								</div>
							</div>
						</div>

						<div class="table-responsive">
							<p:dataTable id="appointmentOrderTable" widgetVar="appointmentTable" 
							value="#{appointmentOrderBean.appointmentOrderList}" var="data" 
							 rowIndexVar="idx" emptyMessage="No records found">
							
							<p:column headerText="#{msg['s_no']}"
								style="text-align: center; width: 5%;">
								<h:outputText value="#{idx+1}" />
							</p:column>
							
							<p:column headerText="#{msg['app_no']}"
							style="text-align: center; width: 12%;">
								<h:outputText value="#{data.applicationNumber}" />
							</p:column>
							
							<p:column headerText="#{msg['reg_no']}"
							style="text-align: center; width: 12%;">
								<h:outputText value= "#{data.registrationNumber}"/>
							</p:column>
							
							<p:column headerText="#{msg['candidate_name']}"
							style="width: 12%;">
								<h:outputText value= "#{data.candidateName}"/>
							</p:column>
							
							
							<p:column headerText="#{msg['dob']}"
							style="text-align: center; width: 12%;">
								<h:outputText value= "#{data.dateOfBirth}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msg['community']}"
							style="text-align: center; width: 10%;">
								<h:outputText value= "#{data.community}"/>
							</p:column>
							
							</p:dataTable>

							</div>
							
							<div class="form-group m-t-10">
							<p:outputLabel value="#{msg['remark']}" />
							<p:inputTextarea value="#{appointmentOrderBean.remarks}" class="form-control"></p:inputTextarea>
						</div>
						
						<div class="">
							<div class="text-right ">
								<p:commandButton value="&#xed6a; #{msg['cancel']}" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" title="#{msg['cancel']}"
									class="btn btn-sm bg-slate font-iconmoon m-l-10" action="#{appointmentOrderBean.orderGenerationCancel}" />
								<p:commandButton value="&#xed6e; #{msg['submit']}" onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" update="growls" title="#{msg['submit']}"
									class="btn btn-sm bg-success font-iconmoon m-l-10" action="#{appointmentOrderBean.saveAppointmentOrder}"/>
							</div>
						</div>
							
						</div>

					</div>
				</div>
			</div>

		
</h:form>
	</ui:define>

</ui:composition>