<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('COMMUNAL_ROSTER_REGISTER_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{tapalForBean}"></ui:param>
		<title>InfoTex | Communal Roster Register List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['comm_roster_reg_master_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li>#{msg['comm_roster_reg_master_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText
								value="#{communalRosterResisterBean.totalRecords}"
								id="totalSize"></h:outputText></strong> -
						#{msg['comm_roster_reg_master']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton update="growls"
								action="#{communalRosterResisterBean.showCommunalRoasterData}"
								id="addId"
								rendered="#{communalRosterResisterBean.addButtonFlag and loginBean.userFeatures['COMMUNAL_ROSTER_REGISTER_ADD']}"
								value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
								class="btn bg-success font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="CREATE"
									target="#{communalRosterResisterBean.action}" />
							</p:commandButton>
							
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								action="#{communalRosterResisterBean.showCommunalRoasterData}"
								title="#{msg['edit']}" update="growls"
								rendered="#{loginBean.userFeatures['COMMUNAL_ROSTER_REGISTER_EDIT']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="EDIT"
									target="#{communalRosterResisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								title="#{msg['view']}"
								rendered="#{loginBean.userFeatures['COMMUNAL_ROSTER_REGISTER_VIEW']}"
								action="#{communalRosterResisterBean.showCommunalRoasterData}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-info heading-btn  font-iconmoon" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{communalRosterResisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								action="#{communalRosterResisterBean.showCommunalRoasterData}"
								title="#{msg['delete']}" update="growls"
								onclick="PF('progressDlg').show();"
								rendered="#{loginBean.userFeatures['COMMUNAL_ROSTER_REGISTER_DELETE']}"
								oncomplete="PF('progressDlg').hide();"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{communalRosterResisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								action="#{communalRosterResisterBean.clearPage}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="table" tableStyleClass="" rowKey="#{data.id}"
							selection="#{communalRosterResisterBean.selectedCommunalRoster}"
							value="#{communalRosterResisterBean.lazyCommunalRosterModel}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{communalRosterResisterBean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />
							<!-- SI No.  -->
							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!--Application Number.  -->
							<p:column id="sup" filterable="true"
								filterBy="#{data.rosterPoint}" filterMatchMode="contains"
								headerText="#{msg['roster_point']}" sortBy="#{data.rosterPoint}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="rosterPointId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="rosterPointId"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.rosterPoint}" />
							</p:column>

							<p:column id="device" filterable="true"
								filterBy="#{data.rosterName}" filterMatchMode="contains"
								headerText="#{msg['roster_name']}" sortBy="#{data.rosterName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="rosterNameId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.rosterName}" />
							</p:column>
							
							<p:column id="entity" filterable="true"
								filterBy="#{data.communityCode}" filterMatchMode="contains"
								headerText="#{msg['community_code']}"
								sortBy="#{data.communityCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="comCodeId" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">

									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.communityCode}" />
							</p:column>
							
							<p:column sortBy="#{data.genderType}" sortable="true"
								filterable="true" filterBy="#{data.genderType}"
								headerText="#{msg['general']} / #{msg['women']}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="General" itemValue="General" />
										<f:selectItem itemLabel="Women" itemValue="Women" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.gender.name}" />
							</p:column>

							<p:column sortBy="#{data.priority}" sortable="true"
								filterable="true" filterBy="#{data.priority}"
								headerText="#{msg['priority']} / #{msg['non_priority']}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Priority" itemValue="PY" />
										<f:selectItem itemLabel="Non-Priority" itemValue="NP" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.priority}" />
							</p:column>

							<p:column sortBy="#{data.status}" sortable="true"
								filterable="true" filterBy="#{data.status}"
								styleClass="text-center" headerText="#{msg['status']}">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Active" itemValue="true" />
										<f:selectItem itemLabel="In-Active" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="#{(data.status eq 'true') ? 'label label-success sts_shortl' :  (data.status eq 'false') ? 'label label-default sts_shortl' : 'label label-warning sts_shortl' }"
									value="#{data.status eq 'true' ? 'Active' : 'In-Active'}">
								</h:outputText>
							</p:column>

							<!-- Select Radio Button -->
							<p:column headerText="#{msg['select']}" styleClass="text-center"
								selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>


		<!-- Confirm Delete Start -->
		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="confirmCommunalRoasterDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmCommunalRoasterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{communalRosterResisterBean.deleteConfirm}"
					oncomplete="PF('confirmCommunalRoasterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Confirm Delete End -->
	</ui:define>
</ui:composition>