<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<h:form id="itemPNS">
		<title>InfoTex | Printing &amp; Stationary - Create Stock Item
			Inward</title>
			
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['print_n_stationary']} -
						#{msg['crt_stock_item_inward']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['print_n_stationary']}</li>
						<li class="active">#{msg['print_n_stationary']} -
							#{msg['crt_stock_item_inward']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['print_n_stationary']} - #{msg['crt_stock_item_inward']}
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['sup_detail']}</span>
									</h5>

								</div>
							</div>
							<div class="row custom-form-1 label-form">

								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['supplier_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											 
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedSupplierTypeMaster}"
												converter="#{entityConverter}">
												<f:selectItem itemLabel="Select Supplier Type" 
													noSelectionOption="true" itemValue="#{null}"></f:selectItem>
												<f:selectItems value="#{stockInwardYarnBean.supplierTypeMasterList}" var="list" 
													itemValue="#{list}" itemLabel="#{list.code}">
												</f:selectItems>
												<p:ajax onstart="PF('statusDialog').show();"
												  listener="#{stockInwardYarnBean.loadSupplierCodeName}" event="change"
												  update="SupplierMasterData"
												  oncomplete="PF('statusDialog').hide();">
												</p:ajax>
											</h:selectOneMenu>
										 
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['sup_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-bank"></i></span>
											<p:outputPanel id="SupplierMasterData">
												<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedSupplierMaster}"
														filter="true" filterMatchMode="contains"
														 converter="#{entityConverter}" >
														<f:selectItem itemLabel="Select Supplier"  
															noSelectionOption="true" itemValue="#{null}" ></f:selectItem>
														<f:selectItems value="#{stockInwardYarnBean.supplierMasterList}" var="list" 
															itemValue="#{list}" itemLabel="#{list.code} - #{list.name}">
														</f:selectItems>
															<p:ajax event="change" update="gstPanelUpdate" listener="#{stockInwardYarnBean.gstNumberUpdate}">
															</p:ajax>
													</h:selectOneMenu>
											</p:outputPanel>
										</div>
									</div>

								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:outputPanel id="gstPanelUpdate">
											<p:inputText styleClass="form-control" disabled="true" value="#{stockInwardYarnBean.gstNumber}" />
											</p:outputPanel>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
									
										<p:outputLabel value="#{msg['inward_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.inwardType}">
												
												<f:selectItem itemLabel="Select Inward Type" noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Direct Inward" itemLabel="Direct Inward"></f:selectItem>
												<f:selectItem itemValue="PO Based Inward" itemLabel="PO Based Inward"></f:selectItem>
												
												<p:ajax event="change" listener="#{stockInwardYarnBean.renderedInwardTypeSelection}"
													update="purchaseOrderDetails" onstart="PF('statusDialog').show();"
													oncomplete="PF('statusDialog').hide();"
													></p:ajax>
											</h:selectOneMenu>
										</div>
									</div>

								</div>

							</div>
							<p:outputPanel id="purchaseOrderDetails" >
								<p:outputPanel id="purchaseOrderDetails_Second" rendered="#{stockInwardYarnBean.renderedInward}">
									<div class="row">
										<div class="col-lg-12">
											<h5 class="bord_bot m-t-0">
												<span class="iform-title"><i
													class="fa fa-th-large m-r-5"></i>#{msg['pur_order']}</span>
											</h5>
		
										</div>
									</div>
							<div class="row custom-form-1 label-form">

								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['purchase_order_number']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											
											<h:selectOneMenu id="purOrder" styleClass="form-control" value="#{stockInwardYarnBean.selectedPurchaseOrder}"
												filter="true" filterMatchMode="contains" style="width:200px;"
												 converter="#{entityConverter}">
												<f:selectItem itemLabel="Select Purchase Order" 
													noSelectionOption="true" itemValue="#{null}" ></f:selectItem>
												<f:selectItems value="#{stockInwardYarnBean.purchaseOrderList}" var="list" 
													itemValue="#{list}" itemLabel="#{list.poNumberPrefix}">
												</f:selectItems>
												<p:ajax event="change" update="purchaseOrderPanel,:itemPNS:itemTablePanel" listener="#{stockInwardYarnBean.purchaseOrderUpdate}">
												</p:ajax>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<p:outputPanel id="purchaseOrderPanel">
								<div class="col-lg-3 col-md-3 col-sm-4">

									<div class="form-group form-group_calend">
										<p:outputLabel value="#{msg['pur_date']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar22"></i></span>
											<p:inputText styleClass="form-control" disabled="true"
												value="#{stockInwardYarnBean.purchaseDate}">
											</p:inputText>
										</div>
									</div>

								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">

									<div class="form-group form-group_calend">
										<p:outputLabel value="#{msg['pur_odr_val_date']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-calendar22"></i></span>
											<p:inputText styleClass="form-control" disabled="true"
												value="#{stockInwardYarnBean.purhaseOrderValidityDate}">
											</p:inputText>
										</div>
									</div>

								</div>
							</p:outputPanel>
							
							</div>
							</p:outputPanel>
							
							<p:outputPanel id="addItemReceivedDetails_Second" rendered="#{stockInwardYarnBean.addItemReceiveDetails}">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['add_item_receive_details']}</span>
									</h5>

								</div>
							</div>

							<div class="row custom-form-1 label-form">

								<!-- Sub four table start   prodCategGroup -->
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['PNS_product_category_Group']}"/>
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedProductCategoryGroup}"
													filter="true" filterMatchMode="contains" 
													  id="prodCategGroup1" converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Category Group"  
														itemValue="#{null}" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.productCategoryGroupList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.groupName}">
													</f:selectItems>
														<p:ajax event="change" update="produCategory2" 
															listener="#{stockInwardYarnBean.productCategoryListLoad}"
															>
														</p:ajax>
												</h:selectOneMenu>
										</div>
									</div>
								</div>
								<!--  product category -->
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['PNS_product_category']}"/>
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedProductCategory}"
													filter="true" filterMatchMode="contains" 
													  id="produCategory2" converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Category"  
														itemValue="#{null}" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.productCategoryList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.productCatName}">
													</f:selectItems>
														<p:ajax event="change" update="productGroupMaster3" 
															listener="#{stockInwardYarnBean.getAllProductGroupMasterList}">
														</p:ajax>
												</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
									<!--  product group master ->  -->
										<p:outputLabel value="#{msg['PNS_product_group_master']}"/>
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedProductGroupMaster}"
													filter="true" filterMatchMode="contains" 
													  id="productGroupMaster3" converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Group Master"  
														itemValue="#{null}" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.productGroupMasterList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.name}">
													</f:selectItems>
														<p:ajax event="change" update="prodVarietyMaster4" 
															listener="#{stockInwardYarnBean.productVarietyMasterList}">
														</p:ajax>
												</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
								<!--  product variety master -->
									<div class="form-group">
										<p:outputLabel value="#{msg['PNS_product_variety_master']}"/>
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedProductVarietyMaster}"
													filter="true" filterMatchMode="contains" 
													id="prodVarietyMaster4" converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Code / Name"  
														itemValue="#{null}" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.productVarietyMasterList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.id}-#{list.code} - #{list.name}">
													</f:selectItems>
														<p:ajax event="change" update="hsnCodeUomUpdate,:itemPNS:itemTablePanel,hsnCodeUomUpdate" 
															listener="#{stockInwardYarnBean.productVarietyUpdate}">
														</p:ajax>
												</h:selectOneMenu>
										</div>
									</div>
								</div>
								
								<!--  sub Four table end -->
								 
								
								<p:outputPanel id="hsnCodeUomUpdate">
								
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['hsn_code']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"  value="#{stockInwardYarnBean.hsnCode}"
													disabled="true">
											
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['uom']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-design"></i></span>
											<p:inputText styleClass="form-control" value="#{stockInwardYarnBean.uom}"
												disabled="true">
											</p:inputText>
										</div>
									</div>

								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['qty']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control text-right"  
												 requiredMessage="#{msg['PNS_order_Quantity']}" id="inp_orderQty"
												 value="#{stockInwardYarnBean.stockTransferItems.orderedQty}">
												 <p:keyFilter regEx="/[0-9]/i" />
											</p:inputText>
											<h:message for="inp_orderQty"></h:message>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['unit_rate']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right"
												 value="#{stockInwardYarnBean.stockTransferItems.unitRate}" 
												 requiredMessage="#{msg['PNS_unit_Rate']}" id="inp_unitRate" validatorMessage="#{msg['PNS_unit_Rate_Error']}"
												 converterMessage="#{msg['PNS_unit_Rate_Error']}"> 
												 <f:validateDoubleRange minimum="0.1" ></f:validateDoubleRange>
											</p:inputText>
											<h:message for="inp_unitRate"></h:message>
										</div>
									</div>

								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['dis_master']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<p:inputText styleClass="form-control text-right"
												 value="#{stockInwardYarnBean.stockTransferItems.discountPercent}"
												  requiredMessage="#{msg['PNS_discount']}" id="inp_discount"
												 converterMessage="#{msg['PNS_discount_Error']}" validatorMessage="#{msg['PNS_discount_Error']}">
												 <f:validateDoubleRange minimum="0.0" ></f:validateDoubleRange>
											</p:inputText>
											<h:message for="inp_discount"></h:message>
										</div>
									</div>

								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['tax']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<p:inputText styleClass="form-control text-right"
												 value="#{stockInwardYarnBean.stockTransferItems.taxPercent}"
												  requiredMessage="#{msg['PNS_tax']}" id="inp_Tax"
												 converterMessage="#{msg['PNS_tax_Error']}" validatorMessage="#{msg['PNS_tax_Error']}">
												 <f:validateDoubleRange minimum="0.0" ></f:validateDoubleRange>
											</p:inputText>
											<h:message for="inp_Tax"></h:message>
										</div>
									</div>
								</div>


								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['description']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="fa fa-info-circle"></i></span>
											<p:inputText styleClass="form-control" id="note"
												placeholder="Pen in red color" value="#{stockInwardYarnBean.description}">
											</p:inputText>
										</div>
									</div>
								</div>
								
								</p:outputPanel>
							</div>
							<div class="row">

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group pull-right">
										<div class="input-group">
											<p:commandButton title="#{msg['clear']}"
												value="&#xe916; #{msg['clear']}" update="growls,:itemPNS:itemTablePanel,hsnCodeUomUpdate"
												class="btn bg-slate btn-sm cust-btn-h font-iconmoon" actionListener="#{stockInwardYarnBean.clearItemTable}">
											</p:commandButton>

											<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}" 
												class="btn btn-sm bg-success cust-btn-h font-iconmoon m-l-10"
												data-toggle="modal" data-target="#modal_theme_info"
												actionListener="#{stockInwardYarnBean.itemCollectiorAddNewInward}" 
												update="growls,:itemPNS:itemTablePanel,hsnCodeUomUpdate" 
												>
											</p:commandButton>

										</div>
									</div>
								</div>
							</div>
							</p:outputPanel>
							</p:outputPanel>
						</div>
						<div class="panel-body p-0">
							<div class="row">
								<div class="col-sm-12">
									<div class="cust-tab2 table-responsive m-b-10">
										<div class="table-wrap">
										<p:outputPanel id="itemTablePanel">
									        <p:dataTable value="#{stockInwardYarnBean.collectorSupplierItemList}" var="item" id="itemListTable"
									        	rowIndexVar="index" rendered="#{stockInwardYarnBean.inwardType eq 'PO Based Inward'}"
									        	 styleClass="main-table cust-table">
									 			<p:column headerText="#"  style="width: 3%;" >
									                <h:outputText value="#{index +1 }" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['item_code']} / #{msg['name']}" 
									            		styleClass="fa-input width-15" >
									                <h:outputText value="#{item.productVarietyMaster.code}/ #{item.productVarietyMaster.name}" styleClass="fa-input"/>
									            </p:column>
									 
									            <p:column headerText="#{msg['description']}"
									            		styleClass="fa-input width-15">
									                <h:outputText value="#{item.itemNote}" styleClass="fa-input"/>
									            </p:column>
									            <p:column headerText="#{msg['hsn_code']}"
									            	styleClass="fa-input width-8">
									                <h:outputText value="#{item.productVarietyMaster.hsnCode}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['uom']}"
									            	styleClass="fa-input width-6">
									                <h:outputText value="#{item.uomMaster.id}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['qty']}"
									            	styleClass="fa-input width-6">
									                <h:outputText value="#{item.itemQty}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['unit_rate']} (&#xf156;)"
									            	styleClass="fa-input width-8">
									                <h:outputText value="#{item.unitRate}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['total_rate']} (&#xf156;)"
									            	styleClass="fa-input width-10">
									                <h:outputText value="#{item.itemTotal}" styleClass="fa-input">
									                	<f:convertNumber type="currency"></f:convertNumber>
									                </h:outputText>
									            </p:column>
									            
									            <p:column headerText="#{msg['dis_master']} (&#xf295;)"
									            	styleClass="fa-input width-8">
									                <h:outputText value="#{item.discountPercent}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['dis_value']} (&#xf156;)"
									            	styleClass="fa-input width-10">
									                <h:outputText value="#{item.discountValue}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['tax']} (&#xf295;)"
									            	styleClass="fa-input width-5">
									                <h:outputText value="#{item.taxPercent}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['tax_value']} (&#xf156;)"
									            	styleClass="fa-input width-10">
									                <h:outputText value="#{item.taxValue}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['nt_price']} (&#xf156;)"
									            	styleClass="fa-input width-20">
									                <h:outputText value="#{item.itemTotal}" styleClass="fa-input">
									                	<f:convertNumber type="currency"></f:convertNumber>
									                </h:outputText>
									            </p:column>
									          
											 	<p:columnGroup type="footer">
										            <p:row>
										                <p:column colspan="6" style="text-align:right" footerText="#{msg['tot']}" />
										                <p:column footerText="#{stockInwardYarnBean.unitRateTotal}" />
										                <p:column footerText="#{stockInwardYarnBean.totalRateTotal}" />
										                <p:column footerText="#{stockInwardYarnBean.discountValueTotal}" colspan="2"/>
										                <p:column footerText="#{stockInwardYarnBean.taxValueTotal}" colspan="2"/>
										                <p:column style="text-align:left" footerText="#{stockInwardYarnBean.netPriceTotal}" />
										            </p:row>
										        </p:columnGroup>
									        </p:dataTable>
									        
									        <!-- ItemInward  -->
									        <p:dataTable value="#{stockInwardYarnBean.stockTransferItemsInwardUpdateList}" var="item" id="itemListTableIntenInward"
									        	 rowIndexVar="index" rendered="#{stockInwardYarnBean.inwardType eq 'Direct Inward'}" 
									        	 styleClass="main-table cust-table" editable="true" widgetVar="itemListTableIntenInwardWdgr">
									 
											  <p:ajax event="rowEdit" listener="#{stockInwardYarnBean.onRowEdit}" update="growls,itemListTableIntenInward" 
											  />
		 								      <p:ajax event="rowEditCancel" listener="#{stockInwardYarnBean.onRowCancel}" update="growls,itemListTableIntenInward" />
 
									 			<p:column headerText="#"  style="width: 3%;" >
									                <h:outputText value="#{index +1 }" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['item_code']} / #{msg['name']}" 
									            		styleClass="fa-input " >
									                <h:outputText value="#{item.productVarietyMaster.code}/ #{item.productVarietyMaster.name}" styleClass="fa-input"/>
									            </p:column>
									 
									            
									            <p:column headerText="#{msg['hsn_code']}"
									            	styleClass="fa-input text-right">
									                <h:outputText value="#{item.productVarietyMaster.hsnCode}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['uom']}"
									            	styleClass="fa-input width-6 text-right">
									                <h:outputText value="#{item.uomMaster.id}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['qty']}" styleClass="fa-input width-6 text-right">
									                <p:cellEditor>
									               		<f:facet name="output"><h:outputText value="#{item.orderedQty}"  styleClass="fa-input"/></f:facet>
										               	<f:facet name="input"><p:inputText styleClass="fa-input" id="orderedQtyInput" value="#{item.orderedQty}" style="width:100%"/></f:facet>
										           	</p:cellEditor>
									            </p:column>
									            
									            <p:column headerText="#{msg['unit_rate']} (&#xf156;)"
									            	styleClass="fa-input text-right">
									                <p:cellEditor>
									               		<f:facet name="output"><h:outputText value="#{item.unitRate}"  styleClass="fa-input"/></f:facet>
										               	<f:facet name="input"><p:inputText styleClass="fa-input" id="unitRateInput" value="#{item.unitRate}" style="width:100%"/></f:facet>
										           	</p:cellEditor>
									            </p:column>
									            
									            <p:column headerText="#{msg['total_rate']} (&#xf156;)"
									            	styleClass="fa-input text-right">
									                		<h:outputText value="#{item.itemTotal}"  styleClass="fa-input">
									               				<f:convertNumber type="currency"></f:convertNumber>
									               			</h:outputText>
									            </p:column>
									            
									            <p:column headerText="#{msg['dis_master']} (&#xf295;)"
									            	styleClass="fa-input text-right">
									                <p:cellEditor>
									               		<f:facet name="output"><h:outputText value="#{item.discountPercent}"  styleClass="fa-input"/></f:facet>
										               	<f:facet name="input"><p:inputText styleClass="fa-input" id="discountPercentInput" value="#{item.discountPercent}" style="width:100%"/></f:facet>
										           	</p:cellEditor>
									            </p:column>
									            
									            <p:column headerText="#{msg['dis_value']} (&#xf156;)"
									            	styleClass="fa-input width-2 text-right">
									                <h:outputText value="#{item.discountValue}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['tax']} (&#xf295;)"
									            	styleClass="fa-input width-5 text-right">
									                <p:cellEditor>
									               		<f:facet name="output"><h:outputText value="#{item.taxPercent}"  styleClass="fa-input"/></f:facet>
										               	<f:facet name="input"><p:inputText styleClass="fa-input" id="taxPercentInput" value="#{item.taxPercent}" style="width:100%"/></f:facet>
										           	</p:cellEditor>
									            </p:column>
									            
									            <p:column headerText="#{msg['tax_value']} (&#xf156;)"
									            	styleClass="fa-input text-right">
									                <h:outputText value="#{item.taxValue}" styleClass="fa-input"/>
									            </p:column>
									            
									            <p:column headerText="#{msg['nt_price']} (&#xf156;)"
									            	styleClass="fa-input text-right">
								            			<h:outputText value="#{item.itemNetTotal}"  styleClass="fa-input">
							               					<f:convertNumber type="currency"></f:convertNumber>
							               				</h:outputText>
									            </p:column>
									           
									            
									            <p:column headerText="#{msg['action']}"
										             	styleClass="fa-input width-8 text-center">
										             	<p:rowEditor value="&#xe912;" class="cust-edit-btn text-center" style="display: inline-block; "/>
											            <p:commandButton value="&#xe99e;" update=":itemPNS:itemListTableIntenInward" 
											            	class="btn bg-danger font-iconmoon btn-xs pull-left" title="#{msg['delete']}" >
										                    <p:collector value="#{item}" removeFrom="#{stockInwardYarnBean.stockTransferItemsInwardUpdateList}" unique="true"/>
										                </p:commandButton> 
										            </p:column>
									 
											 	<p:columnGroup type="footer">
										            <p:row>
										                <p:column colspan="5" style="text-align:right" footerText="#{msg['tot']}" />
										                <p:column footerText="#{stockInwardYarnBean.unitRateTotalEdit}" />
										                <p:column footerText="#{stockInwardYarnBean.totalRateTotalEdit}" />
										                <p:column footerText="#{stockInwardYarnBean.discountValueTotalEdit}" colspan="2"/>
										                <p:column footerText="#{stockInwardYarnBean.taxValueTotalEdit}" colspan="2"/>
										                <p:column style="text-align:left" footerText="#{stockInwardYarnBean.netPriceTotalEdit}" />
								                		<p:column  style="text-align:left" footerText="" />
										            </p:row>
										        </p:columnGroup>
									        </p:dataTable>
									    </p:outputPanel>
									   
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body p-b-0 p-t-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['inv_dtl']}</span>
									</h5>

								</div>
							</div>
							<p:outputPanel id="invoiceDetailsPanel">
							<div class="row custom-form-1 label-form ">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['invoice_number']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" value="#{stockInwardYarnBean.purchaseInvoice.invoiceNumber}"
											 id="input_InvoiceNumber">
											 <p:keyFilter regEx="/[0-9]/i" />
											</p:inputText>
											<h:message for="input_InvoiceNumber" class="validation-error-label" id="msg_invoiceNumber"
											style="margin-top:28px;"/> 
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<p:outputLabel value="#{msg['invoice_date']}" />
									<div class="form-group form-group_calend">
										<p:calendar id="invoice_Date" value="#{stockInwardYarnBean.purchaseInvoice.invoiceDate}"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true"
											styleClass="form-control-1 calend-icon-1" >
											<p:ajax event="dateSelect" />
										</p:calendar>
										<h:message for="invoice_Date" class="validation-error-label" id="msg_invoice_Date"
											/>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['dc_number']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"
												placeholder="2018 / GST / 01" value="#{stockInwardYarnBean.purchaseInvoice.dcNumber}"
												 id="in_dcNumber">
											</p:inputText>
											<h:message for="in_dcNumber" class="validation-error-label" id="msg_in_dcNumber"
											/>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<p:outputLabel value="#{msg['payment_due_date']}" />
									<div class="form-group form-group_calend">
										<p:calendar id="duedate" value="#{stockInwardYarnBean.purchaseInvoice.paymentDuedate}"
											mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
											navigator="true" 
											styleClass="form-control-1 calend-icon-1" >
											<p:ajax event="dateSelect" />
										</p:calendar>
										<h:message for="duedate" class="validation-error-label" id="msg_duedate"
											style="margin-top:28px;"/>
									</div>
								</div>

							</div>
							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['int_applicable_delay_payment']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.interestApplicablePayment}"
												id="int_app_payment">
												<f:selectItem itemLabel="Select" itemValue="Select"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
											</h:selectOneMenu>
											<h:message for="int_app_payment" class="validation-error-label" id="msg_int_app_payment"
											style="margin-top:28px;"/>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['rate_of_interest']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-percent"></i></span>
											<p:inputText styleClass="form-control text-right"
												 value="#{stockInwardYarnBean.purchaseInvoice.rateOfInterest}">
												 <f:validateDoubleRange minimum="0.0" ></f:validateDoubleRange>
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['up_doc']}" style="display: block;"/>
										<div class="input-group width-100 pull-left">
											<div class=" no-padding contact-upload upload-popup pull-left">
												<div class="btn-file-upload">
											<p:fileUpload styleClass="file-select" label="&#xf093;"
												fileUploadListener="#{stockInwardYarnBean.handleFileUpload}"
												mode="advanced" auto="true" update="growls">
											</p:fileUpload>
											</div>
											</div>
										
										</div>
									
									</div>
								</div>
								 
								<div class="col-lg-3 col-md-3 col-sm-8">
									<div class="form-group text-right">
										<p:outputLabel value="&nbsp;" style="display: block;" />
										<p:commandButton title="#{msg['clear']}"
											 value="&#xe916; #{msg['clear']}" 
											 update="growls,:itemPNS:invoiceDetailsPanel,:itemPNS:invoiceDetailsTablePanel"
											 class="btn bg-slate btn-sm cust-btn-h font-iconmoon m-l-0"
											 actionListener="#{stockInwardYarnBean.clearInvoiceTable}">
										</p:commandButton>

										<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}" 
											class="btn btn-sm bg-success cust-btn-h font-iconmoon m-l-10"
											data-toggle="modal" data-target="#modal_theme_info" 
											actionListener="#{stockInwardYarnBean.itemInvoiceAddNew}" 
											update="growls,:itemPNS:invoiceDetailsPanel,:itemPNS:invoiceDetailsTablePanel">
										</p:commandButton>
									</div>
								</div>
 
							</div>
							</p:outputPanel>
						</div>
						<div class="panel-body p-0">
							<div class="row">
								<div class="col-sm-12">
									<div class="cust-tab2 table-responsive m-b-10">
											<p:outputPanel id="invoiceDetailsTablePanel">
											<!-- Invoice created -->
										        <p:dataTable value="#{stockInwardYarnBean.purchaseInvoiceList}" var="item" id="invoiceListTable"
										        	rowIndexVar="index" editable="true"
									        	 	styleClass="main-table cust-table" >
										        	<p:column headerText="#"  style="width: 3%;" >
										                <h:outputText value="#{index +1 }" styleClass="fa-input"/>
										            </p:column>
										            
										            <p:column headerText="#{msg['invoice_num']}" 
										            		styleClass="fa-input width-15" >
										                <p:cellEditor>
										               		<f:facet name="output"><h:outputText value="#{item.invoiceNumber}"  styleClass="fa-input"/></f:facet>
											               	<f:facet name="input"><p:inputText styleClass="fa-input" id="input_invoiceNumber" value="#{item.invoiceNumber}" style="width:100%"/></f:facet>
											           	</p:cellEditor>
										            </p:column>
										 
										            <p:column headerText="#{msg['invoice_date']}"
										            		styleClass="fa-input width-15">
										               
										                <p:cellEditor>
										               		<f:facet name="output">
										               			<h:outputText value="#{item.invoiceDate}"  styleClass="fa-input">
										               				<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MM-yyyy" />
									               				</h:outputText>
										               		</f:facet>
											               	<f:facet name="input">
											               		<p:calendar id="input_invoiceDate" value="#{item.invoiceDate}"
																	mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
																	navigator="true" requiredMessage="Required"
																	styleClass="form-control-1 calend-icon-1" >
																	<p:ajax event="dateSelect" />
																</p:calendar>
										               		</f:facet>
											           	</p:cellEditor>
										            </p:column>
										            
										            
										            <p:column headerText="#{msg['dc_number']}"
										            	styleClass="fa-input width-8">
										                 <p:cellEditor>
										               		<f:facet name="output"><h:outputText value="#{item.dcNumber}"  styleClass="fa-input"/></f:facet>
											               	<f:facet name="input"><p:inputText styleClass="fa-input" id="input_dcNumber" value="#{item.dcNumber}" style="width:100%"/></f:facet>
											           	</p:cellEditor>
										            </p:column>
										            
										            <p:column headerText="#{msg['payment_due_date']}"
										            	styleClass="fa-input width-6">
										                 
										                <p:cellEditor>
										               		<f:facet name="output">
										               			<h:outputText value="#{item.paymentDuedate}"  styleClass="fa-input">
										               				<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MM-yyyy" />
									               				</h:outputText>
										               		</f:facet>
											               	<f:facet name="input">
											               		<p:calendar id="input_paymentDueDate" value="#{item.paymentDuedate}"
																	mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
																	navigator="true" requiredMessage="Required"
																	styleClass="form-control-1 calend-icon-1" >
																	<p:ajax event="dateSelect" />
																</p:calendar>
										               		</f:facet>
											           	</p:cellEditor>
										            </p:column>
										            
										            <p:column headerText="#{msg['intr_aple']}"
										            	styleClass="fa-input width-6">
										                <h:outputText value="#{item.interestApplicable}" styleClass="fa-input"/>
										            </p:column>
										            
										            <p:column headerText="#{msg['rate_of_interest']} (&#xf295;)"
										            	styleClass="fa-input width-8">
										                 <p:cellEditor>
										               		<f:facet name="output"><h:outputText value="#{item.rateOfInterest}"  styleClass="fa-input"/></f:facet>
											               	<f:facet name="input"><p:inputText styleClass="fa-input" id="input_rateOfInterest" value="#{item.rateOfInterest}" style="width:100%"/></f:facet>
											           	</p:cellEditor>
										            </p:column>
										            
										            <p:column headerText="#{msg['attached_docs']} "
										            	styleClass="fa-input width-10">
									            	 		<p:commandButton value="Download" ajax="false" 
											            		class="btn bg-success heading-btn  font-iconmoon"
											            		actionListener="#{stockInwardYarnBean.selectInvoiceRows(item)}"	
											            		>
											            			<p:fileDownload value="#{stockInwardYarnBean.selectedeStockItemInwardPNSBean.downloadFile}" />
														    </p:commandButton>
										            </p:column>
										           	
										            <p:column headerText="#{msg['action']}"
										             	styleClass="fa-input width-6">
										             	
										             	<p:rowEditor value="&#xe912;" class="cust-edit-btn text-center" style="display: inline;"/>
										            
											            <p:commandButton value="&#xe99e;" update=":itemPNS:invoiceDetailsTablePanel" 
											            	class="btn bg-danger font-iconmoon btn-xs pull-left" title="#{msg['delete']}" >
										                    <p:collector value="#{item}" removeFrom="#{stockInwardYarnBean.purchaseInvoiceList}" unique="true"/>
										                </p:commandButton> 
										            </p:column>
										  
									        	 </p:dataTable>
											</p:outputPanel>
											 										
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body p-t-0">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
									</h5>

								</div>
							</div>

							<div class="row custom-form-1 label-form">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_ser_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-car"></i></span>
												<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedTransportTypeMaster}"
														filter="true" filterMatchMode="contains"
													 	converter="#{entityConverter}">
													<f:selectItem itemLabel="Select Service Type" 
														noSelectionOption="true" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.transportTypeMasterList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.name}">
													</f:selectItems>
														<p:ajax event="change" update="transportServiceNamePanel" listener="#{stockInwardYarnBean.transportTypeMasterListener}">
														</p:ajax>
												</h:selectOneMenu>
											<!-- <h:selectOneMenu >
												<f:selectItem itemLabel="Road Service"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue="Road Service"
													itemLabel="Road Service"></f:selectItem>
												<f:selectItem itemValue="Air Service"
													itemLabel="Air Service"></f:selectItem>
												<f:selectItem itemValue="Inperson" itemLabel="Inperson"></f:selectItem>
											</h:selectOneMenu>
											 -->
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
									<p:outputPanel id="transportServiceNamePanel">
										<p:outputLabel value="#{msg['trans_ser_name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-car"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.selectedTransportMaster}"
														filter="true" filterMatchMode="contains" 
														converter="#{entityConverter}"
													 	>
													<f:selectItem itemLabel="Select Service Name" 
														noSelectionOption="true" ></f:selectItem>
													<f:selectItems value="#{stockInwardYarnBean.transportServiceMasterList}" var="list" 
														itemValue="#{list}" itemLabel="#{list.name}">
													</f:selectItems>
													<p:ajax event="change" update="transportServiceNamePanel" >
														</p:ajax>
												</h:selectOneMenu>
											<!-- <h:selectOneMenu styleClass="form-control" >
												<f:selectItem itemLabel=" TVS Parcel Service"
													noSelectionOption="true"></f:selectItem>
												<f:selectItem itemValue=" TVS Parcel Service"
													itemLabel=" TVS Parcel Service"></f:selectItem>
											</h:selectOneMenu>
											 -->
										</div>
										</p:outputPanel>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['waybill_available']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-certificate"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.wayBillAvailable}">
												<f:selectItem itemLabel="Select Waybill Type" 
													itemValue="Select Waybill Type"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
												<p:ajax event="change" update="waybillNumberPanel" listener="#{stockInwardYarnBean.renderedWaybillNumber}">
														</p:ajax>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<p:outputPanel id="waybillNumberPanel">
									<p:outputPanel id="waybillNumberPanelLevel2" rendered="#{stockInwardYarnBean.waybillRendered}">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
									
										
										<p:outputLabel value="#{msg['waybill_no']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control"  value="#{stockInwardYarnBean.wayBillNumber}"
												id="inp_wayBillNumber">
												
											</p:inputText>
										</div>
											
										
									</div>
								</div>
								</p:outputPanel>
								</p:outputPanel>
								
								
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['transport_charge_available']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.transportChargeAvailble}">
												<f:selectItem itemLabel="Select Type" itemValue="Select Type"></f:selectItem>
												<f:selectItem itemValue="Yes" itemLabel="Yes"></f:selectItem>
												<f:selectItem itemValue="No" itemLabel="No"></f:selectItem>
												<p:ajax event="change" update="transportChargeTypePanel" listener="#{stockInwardYarnBean.renderedTransportChargeRendered}">
														</p:ajax>
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<p:outputPanel id="transportChargeTypePanel">
										<p:outputPanel id="transportChargeTypePanelLevel2" rendered="#{stockInwardYarnBean.transportChargeRendered}">
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_charge_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-menu6"></i></span>
											<h:selectOneMenu styleClass="form-control" value="#{stockInwardYarnBean.transportChargeType}">
												<f:selectItem itemLabel="Select Type" noSelectionOption="true" itemValue="Select Type"></f:selectItem>
												<f:selectItem itemValue="Cash" itemLabel="Cash"></f:selectItem>
												<f:selectItem itemValue="Cheque" itemLabel="Cheque"></f:selectItem>
												
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_charge_amt']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="fa fa-inr"></i></span>
											<p:inputText styleClass="form-control text-right" value="#{stockInwardYarnBean.stockTransfer.transportChargeAmount}"
												 >
												 <f:validateDoubleRange minimum="0.0" ></f:validateDoubleRange>
											</p:inputText>
										</div>
									</div>
								</div>
									</p:outputPanel>
										</p:outputPanel>
								
							</div>
							
								
								<div class="text-right">
									
										<p:outputLabel value="&nbsp;&nbsp;" class="hidden-xs hidden-sm" style="display: block;" />
										<p:commandButton update="growls"
											value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon m-r-0"
											action="#{stockInwardYarnBean.backStockItemInward}">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											action="#{stockInwardYarnBean.submitData}"
											onclick="PF('statusDialog').show();"
											oncomplete="PF('statusDialog').hide();">
										</p:commandButton>

									
								</div>
							

						</div>
					</div>
				</div>
			</div>
		</div>
		</h:form>
		<h:form id="form_dialog">
			<p:dialog widgetVar="statusMediaView" modal="false" draggable="true"
					closable="true" resizable="false" showHeader="false" width="500" height="400">
					<p:outputPanel id="mediaViewPanel">
					<p:overlayPanel>
			        	<h3>PDF</h3><object type="application/pdf" data="/resources/bin/main/invoiceFiles/in001.pdf?pfdrid_c=true" width="100%" height="300px">
		            		Your browser can't display pdf, <a href="/bin/main/invoiceFiles/in001.pdf">click</a> to download pdf instead.
		        			</object>
        			</p:overlayPanel>
			        <p:commandButton value="Close" onclick="PF('statusMediaView').hide();"></p:commandButton>
		        </p:outputPanel>
        </p:dialog>
		 
		</h:form>

	</ui:define>
</ui:composition>
