<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Printing Warehouse - Provisional Acknowledgement</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-file-eye position-left"></i>#{msg['prnt_whouse']} - #{msg['pro_ack']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['prnt_whouse']}</li>
						<li class="active">#{msg['prnt_whouse']} - #{msg['pro_ack']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">

			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">#{msg['prnt_whouse']} - #{msg['pro_ack']}</h6>
					<div class="heading-elements"></div>
				</div>

				<div class="panel-body">
					<div class="row">
										<div class="col-sm-2 col-md-2 col-lg-2">
							<div class="pull-right">
								<div class="logo m-t-25">
									<img src="/portal/assets/images/logo-new.jpg" />
								</div>
							</div>

						</div>
											<div class="col-sm-8 col-md-8 col-lg-8">
												<h3 class="text-center"><b>#{msg['the_head1']}</b></h3>
												<h4 class="text-center"><b>#{msg['prnt_whouse']} - #{msg['eroad']}</b></h4>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="table-responsive">
													<h4 class="text-center"><b><U>#{msg['pro_ack_cap']}</U></b></h4>
													<table class="table m-0 non-border table-bordered">
														<tr>
															<td style="width:400px;">#{msg['ack_num']}</td>
															<td style="width:10px;">:</td>
															<td>4CB3 2011</td>
														</tr>
														<tr>
															<td style="width:400px;">#{msg['ack_dt']}</td>
															<td style="width:10px;">:</td>
															<td>15.07.2011</td>
														</tr>
														<tr>
															<td>#{msg['ins_cntr_nm']}</td>
															<td>:</td>
															<td>INSPECTION CENTER ERODE</td>
														</tr>
														<tr>
															<td>#{msg['ins_cntr_code']}</td>
															<td>:</td>
															<td>151996</td>
														</tr>
														</table>
														<!-- split table -->
														<table class="table m-0 cust-table table-bordered m-t-20 m-b-20">
														<thead>
															<tr>
																
																<th align="center">#{msg['order_form_no']}</th>
																<th align="center">#{msg['ord_frm_dt']}</th>
																<th align="center">#{msg['val_dt']}</th>
																<th align="center">#{msg['var_code']}</th>
																<th align="center">#{msg['var_nm']}</th>
																<th align="center">#{msg['qty_sup_mts']}</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																
																<td align="center">845214</td>
																<td align="center">16-Aug-2017</td>
																<td align="center">25-Dec-2017</td>
																
																<td align="center">WASF</td>
																<td align="center">PL CASEMENT</td>
																<td align="center">8500.00</td>
															</tr>
														</tbody>
														<tfoot>
															<!-- <tr>
																<td align="center" colspan="4"><strong>TOTAL</strong></td>
																<td align="center">510</td>
															</tr> -->
														</tfoot>
													</table>
														<table class="table m-0 non-border table-bordered">
														<tr>
															<td style="width:400px;">#{msg['invoice_num']}</td>
															<td style="width:10px;">:</td>
															<td>555</td>
														</tr>
														<tr>
															<td>#{msg['invoice_date']}</td>
															<td>:</td>
															<td>26-Aug-2011</td>
														</tr>
														<tr>
															<td>#{msg['tot_no_bund']}</td>
															<td>:</td>
															<td>50</td>
														</tr>
														<tr>
															<td>#{msg['t_qty']}</td>
															<td>:</td>
															<td>5000</td>
														</tr>
														<tr>
															<td>#{msg['unq_no']}</td>
															<td>:</td>
															<td>56</td>
														</tr>
													</table>
													<p style="font-size:14px;" class="m-t-10 m-b-10">Provisionally acknowledged the above mention quantity for inspection</p>
												</div>
											</div>
										</div>
										<div class="row m-t-20">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['place']}" />
									&nbsp;&nbsp;: Coimbatore<br />
									<p:outputLabel value="#{msg['date']}" />
									&nbsp;&nbsp;:
								</div>
							</div>
							<!-- end col -->

						</div>
					
					
					<div class="col-lg-12 text-right">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							styleClass="btn btn-sm btn-cancel waves-effect waves-light font-iconmoon"></p:commandButton>
						<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
							styleClass="btn btn-sm btn-info waves-effect waves-light font-iconmoon"></p:commandButton>

					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
