<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Credit Sales Request</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_credit_sales_req']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_credit_sales_req']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content page-scroll">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['view_credit_sales_req']}</h6>
				</div>
				<div class="panel-body p-t-10">
					<h:form id="catform">
						<div class="row view-style">
							<div class="col-sm-12">
								<p:outputPanel id="entity">
									<div class="row view-style">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['credit_sales_req_code']}" />
												<h:outputText id="code" onblur=""
													value="#{creditSalesRequestBean.creditSalesRequest.code}">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['credit_sales_req_name']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.name}"
													id="cname">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sales_from_date']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.fromDate}"
													class="">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['sales_to_date']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.toDate}"
													class="">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</div>
										</div>


									</div>
									<div class="row view-style">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<h:outputText id="status"
													value="#{creditSalesRequestBean.creditSalesRequest.activeStatus eq 'true'?'Active':'Inactive'}">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.createdDate}"
													id="createDate">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-YYYY hh:mm:ss" />
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.createdBy.username}"
													id="createBy">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_date']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.modifiedDate}"
													id="modDate">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-YYYY hh:mm:ss" />
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['modified_by']}" />
												<h:outputText
													value="#{creditSalesRequestBean.creditSalesRequest.modifiedBy.username}"
													id="modBy">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
											<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
												title="#{msg['back']}"
												action="#{creditSalesRequestBean.backPage}" update="catform"
												immediate="true" class="btn bg-info btn-xs font-iconmoon">
											</p:commandButton>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>



