<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{departmentBean}" />
		<ui:param name="department" value="#{departmentBean.department}" />
		<title>InfoTex | View Loan &amp; Advance Approval</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_loan_adv_approval']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li class="active">#{msg['view_loan_adv_approval']}</li>
					</ul>
				</div>
			</div>
		</div>
		<h:form id="approveLoanForm">
			<p:outputPanel id="approveLoanPanel">
				<div class="content">
					<div class="panel panel-info">
						<div class="panel-heading panelHeading-fix">
							<h6 class="panel-title">#{msg['loan_advance_app']}</h6>
						</div>

						<div class="topFix">
							<div class="panel-body pg-scroll-panel-1">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['emp_details']}</span>
								</h5>

								<div class="row view-style m-t-10">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_id']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.employeeCode}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_name']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.employeeName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['designation']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.designation}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['father_name']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.fathersName}"
												class="" />
										</div>
									</div>
								</div>

								<ui:remove>
									<div class="row view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['su_id']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.suretyId}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['su_name']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.suretyName}"
													class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['designation']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.surtyDesignation}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['permnt_address']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.suretyPermanetAddress}"
													class="" />
											</div>
										</div>
									</div>
								</ui:remove>

								<div class="row view-style">
									<ui:remove>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['sus_ho_ro']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.headOrRegionName}"
													class="" />
											</div>
										</div>
									</ui:remove>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['entity_master']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.entityTypeName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['entity']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.entityName}"
												class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.departmentName}"
												class="" />
										</div>
									</div>
								</div>
								<h:panelGroup rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Loan' || employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Advance'}">
								<p:outputPanel
									rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.isLoanOrAdvance}">
									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['surety_details']}</span>
									</h5>
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<p:dataTable id="suretydetails" styleClass="report-table"
													var="data" rowIndexVar="idx"
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.empLoanAdvanceSuretyDetailsList}"
													emptyMessage="#{msg['no_records_found']}">
													<p:column headerText="#" class="width-5 text-center">
														<h:outputText value="#{idx+1}" />
													</p:column>
													<p:column
														headerText="#{msg['emp_pf_num']} / #{msg['name']}">
														<h:outputText
															value="#{data.employeeMaster.personalInfoEmployment.pfNumber} / #{data.employeeMaster.firstName}" />
													</p:column>
													<p:column headerText="#{msg['desgn']}">
														<h:outputText
															value="#{data.employeeMaster.personalInfoEmployment.currentDesignation.name}" />
													</p:column>
													<p:column headerText="#{msg['dept']}">
														<h:outputText
															value="#{data.employeeMaster.personalInfoEmployment.currentDepartment.name}" />
													</p:column>
													<p:column headerText="#{msg['sec']}">
														<h:outputText
															value="#{data.employeeMaster.personalInfoEmployment.currentSection.name}" />
													</p:column>
													<p:column headerText="#{msg['status']}">
														<h:outputText
															value="#{data.stage}" />
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</div>
								</p:outputPanel>
								</h:panelGroup>


								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['loan_advance_details']}</span>
								</h5>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Recovery' ? msg['recovery_type'] : msg['loan_advance_type']}" />
											<h:outputText
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanName ne null ? 
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanName : 
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.advType}"
												class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['elg_amt']}" />
											<span class="dis-inlineblock"><i
												class="fa fa-inr m-r-5"></i> <h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanEligibility ne null ?
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanEligibility :
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.advEligibility}"
													class="fa-input dis-inlineblock">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['max_amt']}" />
											<span class="dis-inlineblock"><i
												class="fa fa-inr m-r-5"></i> <h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanEligibility ne null ?
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanEligibility :
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.maxAdvAmount}"
													class="fa-input dis-inlineblock">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['min_amt']}" />
											<span class="dis-inlineblock"><i
												class="fa fa-inr m-r-5"></i> <h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.minLoanAmount ne null ?
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.minLoanAmount :
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.minAdvAmount}"
													class="fa-input dis-inlineblock">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></span>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Recovery' ? msg['recovery_amt'] : msg['amt_requr']}" />
											<span class="dis-inlineblock"><i
												class="fa fa-inr m-r-5"></i> <h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanAmountRequired ne null ?
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanAmountRequired :
												employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.advAmountRequired}"
													class="fa-input dis-inlineblock">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></span>
										</div>
									</div>
									<p:outputPanel
										rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.rateOfInterest ne null}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['rate_of_interest']} (₹)" />
												<span class="dis-inlineblock"><i
													class="fa fa-inr m-r-5"></i> <h:outputText
														value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.rateOfInterest}"
														class="fa-input dis-inlineblock">
														<f:convertNumber pattern="#0.00" />
													</h:outputText></span>
											</div>
										</div>
									</p:outputPanel>
									<p:outputPanel
										rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.noOfInstallments ne null}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['nostall']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.noOfInstallments}"
													class="">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</div>
										</div>
										<p:outputPanel rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.sanctionAmount ne null}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['sanc_amt']}" />
												<h:outputText
													value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.sanctionAmount}"
													class="">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</div>
										</div>
									</p:outputPanel>
                                    </p:outputPanel>
									<div class="col-lg-6 col-sm-6 col-md-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
											<p class="">#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.reason}</p>
										</div>
									</div>


								</div>
								<h:panelGroup rendered="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Loan' || employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Advance'}">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<h5 class="m-b-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['uploaded_doc']}</span>
										</h5>
										<div id="table-scroll" class="table-responsive m-b-10">
											<p:dataTable id="tenderFilelisttable" var="filelist"
												styleClass="report-table" rowKey="#{filelist.id}"
												value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.employeeLoanAndAdvanceFiles}"
												widgetVar="tenderFiletablewdgt" rowIndexVar="idx">

												<p:column headerText="#{msg['s_no']}"
													class="width-3 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['doc_name']}"
													styleClass="width-75">
													<f:facet name="filter">
														<p:inputText class="form-control " />
													</f:facet>
													<h:outputText value="#{filelist.fileName}" />
												</p:column>

												<p:column headerText="#{msg['action']}"
													styleClass="width-22 text-center">
													<p:commandButton value="&#xead2;&nbsp;#{msg['download']}"
														title="#{msg['download']}"
														actionListener="#{employeeLoanAndAdvanceBean.downloadfile(filelist)}"
														ajax="false"
														class="btn btn-sm bg-primary font-iconmoon m-l-0">
														<p:fileDownload value="#{employeeLoanAndAdvanceBean.file}"></p:fileDownload>
													</p:commandButton>
												</p:column>
											</p:dataTable>
										</div>
									</div>
								</div>
								</h:panelGroup>

								<!-- <div class="col-lg-12 col-sm-12 col-md-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['up_doc']}" />
											<p:commandButton
												value="&#xf019; #{employeeLoanAndAdvanceBean.loanDocName}"
												id="htDwnldId" ajax="false" class="fa-input"
												actionListener="#{employeeLoanAndAdvanceBean.getDownloadFile(employeeLoanAndAdvanceBean.downloadDoc)}">
												<p:fileDownload value="#{employeeLoanAndAdvanceBean.file}" />
											</p:commandButton>
										</div>
									</div> -->
								<h:panelGroup
									rendered="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.loanType eq 'Loan' ? employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'SURETY_ACCEPTED' :
									employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status ne 'SURETY_ACCEPTED'}">
									<h:panelGroup
										rendered="#{employeeLoanAndAdvanceBean.panelFlag and employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.forwardTo.id eq loginBean.employee.userId}">
										<div class="row custom-form-1 m-t-20">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<!-- <p:outputLabel value="#{msg['sanc_amt']}" /> -->
													<p:outputLabel value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanType eq 'Recovery' ? msg['recovery_amt'] : msg['sanc_amt']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-inr fa-lg"></i></span>
														<p:inputNumber id="sanctionamount" validatorMessage="#{msg['invalid']} #{msg['amount']}"
															disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
															value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.sanctionAmount}"
															required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
															requiredMessage="#{msg['first_installment_amt_req']}">
															<f:validateDoubleRange minimum="1" for="sanctionamount"></f:validateDoubleRange>
														</p:inputNumber>
													</div>
													<h:message for="sanctionamount"
														class="validation-error-label"></h:message>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group form-group_calend">
													<p:outputLabel value="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.loanType eq 'Loan' ? msg['loan_start_date']: msg['advance_start_date']
													|| employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.loanType eq 'Recovery' ? msg['recovery_start_date'] :msg['loan_start_date'] 
													|| employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.loanType eq 'Advance' ? msg['advance_start_date'] :msg['loan_start_date']}" />
													<span class="text-danger">*</span>
													<p:calendar placeholder="dd-MMM-yyyy" id="loanfromdate"
														navigator="true" pattern="dd-MMM-yyyy"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
														value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanStartDate}"
														styleClass="form-control-1 calend-icon-1"
														yearRange="c-2:c+2"
														required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
														requiredMessage="#{msg['loan_start_date_req']}">
                                                    <p:ajax update="wefdate" event="dateSelect"></p:ajax>
													</p:calendar>
													<h:message for="loanfromdate"
														class="validation-error-label"></h:message>
												</div>
											</div>
											<ui:remove>
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group form-group_calend">
														<p:outputLabel value="#{msg['loan_end_date']}" />
														<span class="text-danger">*</span>
														<p:calendar placeholder="dd-MMM-yyyy" id="loanenddate"
															navigator="true"
															disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
															value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanEndDate}"
															styleClass="form-control-1 calend-icon-1"
															mindate="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanStartDate}"
															required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
															requiredMessage="#{msg['loan_end_date_req']}">
															<p:ajax update="wefdate" event="dateSelect"></p:ajax>
														</p:calendar>
														<h:message for="loanenddate"
															class="validation-error-label"></h:message>
													</div>
												</div>
											</ui:remove>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group form-group_calend">
													<p:outputLabel value="#{msg['wef']}" />
													<span class="text-danger">*</span>
													<p:calendar placeholder="dd-MMM-yyyy" id="wefdate"
														navigator="true" pattern="dd-MMM-yyyy"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED'
												|| employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
														value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.wefDate}"
														styleClass="form-control-1 calend-icon-1"
														mindate="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.loanStartDate}"
														required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
														requiredMessage="#{msg['date_wef_req']}">
													</p:calendar>
												</div>
												<h:message for="wefdate" class="validation-error-label"></h:message>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-sm-12 col-md-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['comment']}" />
													<span class="text-danger">*</span>
													<p:inputTextarea id="comments"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
														value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.comment}"
														class="form-control"
														required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
														requiredMessage="#{msg['comment_req']}"></p:inputTextarea>
												</div>
												<h:message for="comments" class="validation-error-label"></h:message>
											</div>
										</div>
									</h:panelGroup>
								</h:panelGroup>
								<div class="">
									<h:panelGroup
										rendered="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.loanType eq 'Loan' ? employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'SURETY_ACCEPTED' :
										employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status ne 'SURETY_ACCEPTED'}">
										<div class="row m-t-10 label-form">
											<h:panelGroup
												rendered="#{employeeLoanAndAdvanceBean.renderedForwardforAndTo == true}">
												<div class="col-lg-3 col-md-3 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['forward_to']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-forward"></i></span>
															<p:autoComplete id="forwardto" minQueryLength="2"
													        styleClass="form-control" converter="#{entityConverter}"
													        required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
													        requiredMessage="#{msg['forward_to_req']}"
													        disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
													        value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.forwardTo}" itemValue="#{emp}" var="emp"
													        itemLabel="#{emp.empName}"
													        completeMethod="#{employeeLoanAndAdvanceBean.loadAutoCompleteUserMaster}"
													        effect="fade">
													        <p:ajax event="itemSelect" update="forwardto"></p:ajax>
												             </p:autoComplete>
															<ui:remove>
															<h:selectOneMenu id="forwardto" styleClass="form-control"
																disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
														employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'
														|| employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'APPROVED' }"
																converter="#{entityConverter}"
																value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.forwardTo}"
																required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
																requiredMessage="#{msg['forward_to_req']}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{employeeLoanAndAdvanceBean.userMasters}"
																	var="userinfo"
																	itemLabel="#{userinfo.empCode} / #{userinfo.empName}"
																	itemValue="#{userinfo}" />
																<p:ajax update="@this">
																</p:ajax>
															</h:selectOneMenu>
															</ui:remove>
														</div>
														<h:message for="forwardto" class="validation-error-label"></h:message>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['forward_for']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-forward"></i></span>
															<h:selectOneMenu id="forwardfor"
																styleClass="form-control"
																disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED'
														|| employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED'}"
																value="#{employeeLoanAndAdvanceBean.approveEmployeeLoanAndAdvanceDto.forwardFor}"
																required="#{not empty param[approve.clientId]} || #{not empty param[finalapprove.clientId]}"
																requiredMessage="#{msg['forward_for_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	itemValue="#{null}" noSelectionOption="true" />
																<f:selectItem itemValue="#{false}" itemLabel="Approved" />
																<f:selectItem itemValue="#{true}"
																	itemLabel="Final Approved" />
																<p:ajax update="@this"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="forwardfor" class="validation-error-label"></h:message>
													</div>
												</div>
											</h:panelGroup>
										</div>
									</h:panelGroup>
									<div class="row">
										<div class="col-lg-12 col-sm-12 col-md-12 text-right">
											<div class="form-group">
												<h:panelGroup
													rendered="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.forwardTo.id eq loginBean.employee.userId and !employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.forwardFor
													and employeeLoanAndAdvanceBean.isLoanAdvancedFlag}">
													<p:commandButton value="&#xecf6; #{msg['reject']}"
														title="#{msg['reject']}"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
												       employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED' 
												       || employeeLoanAndAdvanceBean.diseabledReject}"
														update="approveLoanForm:approveLoanPanel growls"
														action="#{employeeLoanAndAdvanceBean.showDialogBox('REJECTED')}"
														rendered="#{loginBean.userFeatures['LOANS_AND_ADVANCE_REJECT']}"
														class="btn btn-sm bg-danger font-iconmoon" />

													<p:commandButton value="&#xecf5; #{msg['approve']}"
														title="#{msg['approve']}"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														rendered="#{loginBean.userFeatures['LOANS_AND_ADVANCE_APPROVE']}"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED' || 
												            employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED'
												            || employeeLoanAndAdvanceBean.diseabledApprove}"
														binding="#{approve}"
														action="#{employeeLoanAndAdvanceBean.showDialogBox('APPROVE')}"
														update="approveLoanForm:approveLoanPanel growls"
														class="btn bg-success heading-btn font-iconmoon" />
												</h:panelGroup>
												
												<h:panelGroup
													rendered="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.forwardTo.id eq loginBean.employee.userId and employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.forwardFor
													and employeeLoanAndAdvanceBean.isLoanAdvancedFlag}">
													<p:commandButton value="&#xecf6; #{msg['reject']}"
														title="#{msg['reject']}"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED' || 
												       employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED' 
												       || employeeLoanAndAdvanceBean.diseabledReject}"
														update="approveLoanForm:approveLoanPanel growls"
														action="#{employeeLoanAndAdvanceBean.showDialogBox('REJECTED')}"
														rendered="#{loginBean.userFeatures['LOANS_AND_ADVANCE_REJECT']}"
														class="btn btn-sm bg-danger font-iconmoon" />

													<p:commandButton value="&#xecf5; #{msg['final_approve']}"
														title="#{msg['final_approve']}"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();"
														rendered="#{loginBean.userFeatures['LOANS_AND_ADVANCE_APPROVE']}"
														disabled="#{employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'LOAN DISBURSED' || 
												            employeeLoanAndAdvanceBean.selectedEmployeeLoanAndAdvance.status eq 'FINAL APPROVED'
												            || employeeLoanAndAdvanceBean.diseabledApprove}"
														binding="#{finalapprove}"
														action="#{employeeLoanAndAdvanceBean.showDialogBox('FINALAPPROVE')}"
														update="approveLoanForm:approveLoanPanel growls"
														class="btn bg-success heading-btn font-iconmoon" />
												</h:panelGroup>

												<p:commandButton value="&#xeddf; #{msg['back']}"
													title="#{msg['back']}" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="approveLoanForm:approveLoanPanel growls"
													action="#{employeeLoanAndAdvanceBean.showPage('LIST')}"
													styleClass="btn btn-sm bg-info font-iconmoon" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>

		<p:dialog id="commentsRemark" modal="true" draggable="false"
			header="#{msg['reject']} #{msg['remarks']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%" >
			<p:outputPanel id="commentPanel">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235" id="comments2"
								value="#{employeeLoanAndAdvanceBean.rejectedRemark}"
								required="#{not empty param[rej.clientId]}"
									requiredMessage="#{msg['remarks']} #{msg['is_required']}">
								<p:ajax update="comments2"></p:ajax>
							</p:inputTextarea>
						</div>
						<h:message for="comments2" class="validation-error-label"/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-right">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" oncomplete="PF('dlgComments2').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							onstart="PF('statusDialog').show();"
							action="#{employeeLoanAndAdvanceBean.approveOrReject('REJECTED')}"
							onsuccess="PF('statusDialog').hide();" title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon" update="commentPanel" binding="#{rej}">
						</p:commandButton>
					</div>
				</div>
			</div>
		</p:outputPanel>
		</p:dialog>

		<p:dialog id="approveRemark" modal="true" draggable="false"
			header="#{msg['approve']} #{msg['remarks']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
			width="40%">
			<p:outputPanel id="comentPanel">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235" id="comments1"
								value="#{employeeLoanAndAdvanceBean.remark}"
								required="#{not empty param[app.clientId]}"
									requiredMessage="#{msg['remarks']} #{msg['is_required']}">
								<p:ajax update="comments1"></p:ajax>
							</p:inputTextarea>
						</div>
						<h:message for="comments1" class="validation-error-label"/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-right">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}" oncomplete="PF('dlgComments3').hide();"
							class="btn bg-slate heading-btn  font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							onstart="PF('statusDialog').show();"
							action="#{employeeLoanAndAdvanceBean.approveOrReject('APPROVE')}"
							onsuccess="PF('statusDialog').hide();" title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon" update="comentPanel" binding="#{app}" >
						</p:commandButton>
					</div>
				</div>
			</div>
		</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>