<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView"
				listener="#{stockInwardPRWHBean.redirectSVInProgressPage}" />
		</f:metadata>
		<style>
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}
</style>

		<title>InfoTex | Create Stock Inward - Printing Warehouse</title>

		<!-- Page Header -->

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_stock_inward']} - #{msg['prnt_whouse']}</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['prnt_whouse']}</li>
						<li class="active">#{msg['create_stock_inward']} -
							#{msg['prnt_whouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


				<div class="heading-elements"></div>
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll-hp no-padding-bottom">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['create_stock_inward']}
								- #{msg['prnt_whouse']} <span class="pull-right text-13">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
							</a>
						</h6>
					</div>

					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
							<div class="row label-form">
								<h:panelGroup
									rendered="#{stockInwardPRWHBean.stockTransfer.id==null}">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['stock_inward']} #{msg['from']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-exit2"></i></span>
												<h:selectOneMenu id="ddlStockTransferFrom"
													class="form-control select2"
													value="#{stockInwardPRWHBean.stockTransferFrom}"
													disabled="#{stockInwardPRWHBean.stockTransfer.id != null}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockInwardPRWHBean.stockTransferFromList}"
														var="val" itemLabel="#{val}" itemValue="#{val}" />
													<f:ajax render="panelMovementType"
														listener="#{stockInwardPRWHBean.onChangeStockTransferFrom}" />
												</h:selectOneMenu>
											</div>
											<p:focus for="ddlStockTransferFrom" />
										</div>
									</div>
								</h:panelGroup>

								<h:panelGroup layout="block" id="panelMovementType">
									<h:panelGroup
										rendered="#{stockInwardPRWHBean.stockTransferFrom == 'Entity'}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['entity']} - #{msg['code_name']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="fromEntityMaster"
														rendered="#{stockInwardPRWHBean.stockTransfer.id == null}"
														value="#{stockInwardPRWHBean.stockTransfer.fromEntityMaster}"
														class="form-control select2"
														converter="#{entityConverter}" required="true"
														requiredMessage="#{msg['stock_from_entity']} / #{msg['name']} #{msg['required']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockInwardPRWHBean.fromEntityList}"
															var="fromEntity"
															itemLabel="#{fromEntity.code} / #{fromEntity.name}"
															itemValue="#{fromEntity}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{stockInwardPRWHBean.onChangeFromEntityMaster}"
															update="stockTransfer fromEntityMaster fromEntityMasterMsg" />
													</h:selectOneMenu>

													<h:inputText
														rendered="#{stockInwardPRWHBean.stockTransfer.id != null}"
														value="#{stockInwardPRWHBean.stockTransfer.fromEntityMaster.code}/#{stockInwardPRWHBean.stockTransfer.fromEntityMaster.name}"
														class="form-control" disabled="true" />
												</div>
												<h:message for="fromEntityMaster" id="fromEntityMasterMsg"
													class="validation-error-label" />
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{stockInwardPRWHBean.stockTransferFrom == 'Supplier'}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['society']} - #{msg['code_name']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="supplierMaster"
														rendered="#{stockInwardPRWHBean.stockTransfer.id == null}"
														disabled="#{stockInwardPRWHBean.stockTransfer.id!=null}"
														value="#{stockInwardPRWHBean.stockTransfer.supplierMaster}"
														class="form-control select2"
														converter="#{entityConverter}" required="true"
														requiredMessage="#{msg['society_code']} / #{msg['name']} #{msg['required']}"
														validatorMessage="#{errorMap.msg(9904)}"
														a:autofocus="true">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockInwardPRWHBean.supplierMasterList}"
															var="supplierMaster"
															itemLabel="#{supplierMaster.code} / #{supplierMaster.name}"
															itemValue="#{supplierMaster}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{stockInwardPRWHBean.onSelectSupplierMaster}"
															update="stockTransfer supplierMaster supplierMasterMsg" />
													</h:selectOneMenu>

													<h:inputText
														rendered="#{stockInwardPRWHBean.stockTransfer.id != null}"
														value="#{stockInwardPRWHBean.stockTransfer.supplierMaster.code}/#{stockInwardPRWHBean.stockTransfer.supplierMaster.name}"
														class="form-control" disabled="true" />
												</div>
												<h:message for="supplierMaster" id="supplierMasterMsg"
													class="validation-error-label" />
											</div>
										</div>
									</h:panelGroup>
								</h:panelGroup>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['stock_out_no']} / #{msg['date']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<h:selectOneMenu id="stockTransfer"
												rendered="#{stockInwardPRWHBean.stockTransfer.id == null}"
												disabled="#{stockInwardPRWHBean.stockTransfer.id!=null}"
												value="#{stockInwardPRWHBean.stockTransfer.stockTransfer}"
												class="form-control select2" converter="#{entityConverter}"
												required="true"
												requiredMessage="#{msg['stock_movement_number']} #{msg['required']}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems
													value="#{stockInwardPRWHBean.stockTransferList}"
													var="stockTransfer"
													itemLabel="#{stockTransfer.createdByName}"
													itemValue="#{stockTransfer}"></f:selectItems>
												<p:ajax event="change" onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													listener="#{stockInwardPRWHBean.onSelectStockTransfer}"
													update="btnSearch stockTransferMsg" />

											</h:selectOneMenu>
											<h:inputText
												rendered="#{stockInwardPRWHBean.stockTransfer.id != null}"
												value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.createdByName}"
												class="form-control" disabled="true" />
										</div>
										<h:message for="stockTransfer" id="stockTransferMsg"
											class="validation-error-label" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										immediate="true" class="btn bg-slate font-iconmoon m-r-0"
										title="#{msg['cancel']}"
										action="#{stockInwardPRWHBean.gotoPage('LIST')}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										rendered="#{stockInwardPRWHBean.stockTransfer.id==null}">
									</p:commandButton>
									<p:commandButton id="btnSearch"
										update="growls, stockItemsTable
										transportTypeMaster, transportMaster, waybillAvailable, waybillNumber, transportChargeAvailable, transportChargeType, transportChargeAmount, 
										btnMainFormSave, btnMainFormSubmit, 
										totalBundlesTransfered, bundleWeightTransfered, bundleNumbersTransfered, totalBundlesReceived, bundleWeightReceived, bundleNumbersReceived"
										disabled="#{stockInwardPRWHBean.disableBtnSearch}"
										value="&#xe98e;&nbsp;#{msg['search']}"
										title="#{msg['search']}" binding="#{searchBtn}"
										class="btn bg-info heading-btn font-iconmoon"
										action="#{stockInwardPRWHBean.searchStock}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										rendered="#{stockInwardPRWHBean.stockTransfer.id==null}">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- collepse panel end -->

			<div class="panel panel-info m-b-0">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>
					<div class="table-responsive">
						<p:dataTable id="stockItemsTable" var="item" rowKey="#{item}"
							styleClass="report-table"
							value="#{stockInwardPRWHBean.stockTransfer.stockTransferItemsList}"
							rowIndexVar="idx">

							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column styleClass="width-25"
								headerText="#{msg['prod_variey_code']} / #{msg['name']}">
								<h:outputText
									value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
							</p:column>

							<p:column headerText="#{msg['uom']}"
								styleClass="text-center width-10">
								<h:outputText value="#{item.uomMaster.code}" />
							</p:column>

							<p:column headerText="#{msg['bun_nums']}"
								styleClass="text-center width-10">
								<h:outputText value="#{item.bundleNumber}">
									<f:convertNumber pattern="#0" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['already_dispatched_unit']}"
								styleClass="text-center width-10">
								<h:outputText value="#{item.dispatchedQty}">
									<f:convertNumber pattern="#0" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['received_unit']}"
								styleClass="text-center width-10">
								<div class="33">
									<h:inputText class="form-control fa-input text-right"
										value="#{item.receivedQty}"
										styleClass="text-right tableInputBox">
										<f:convertNumber pattern="#0" />
									</h:inputText>
								</div>
							</p:column>

							<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
								styleClass="fa-input text-right width-10">
								<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
									class="">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
						</p:dataTable>
					</div>


					<!-- Transport Details -->
					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bundle_dispatched']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<p:inputText maxlength="30" id="totalBundlesTransfered"
												class="form-control"
												value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.totalBundles}"
												disabled="true" />
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-balance"></i></span>
											<p:inputText maxlength="30" id="bundleWeightTransfered"
												class="form-control"
												value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.bundleWeight}"
												disabled="true" />
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<p:inputText id="bundleNumbersTransfered" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.bundleNumbers}" />
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bundle_received']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<p:inputText id="totalBundlesReceived" maxlength="30"
												class="form-control text-right"
												value="#{stockInwardPRWHBean.stockTransfer.totalBundles}"
												disabled="true" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-balance"></i></span>
											<p:inputText id="bundleWeightReceived" maxlength="30"
												class="form-control text-right"
												value="#{stockInwardPRWHBean.stockTransfer.bundleWeight}" />
										</div>
									</div>
								</div>

								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<p:inputText id="bundleNumbersReceived" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPRWHBean.stockTransfer.bundleNumbers}" />
									</div>
								</div>
							</div>
						</div>
					</div>


					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
					</h5>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-wrench3"></i></span>
									<p:inputText id="transportTypeMaster" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.transportMaster == null || stockInwardPRWHBean.stockTransfer.transportMaster.transportTypeMaster == null?'': stockInwardPRWHBean.stockTransfer.transportMaster.transportTypeMaster.name}" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-steering-wheel"></i></span>
									<p:inputText id="transportMaster" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.transportMaster == null?'': stockInwardPRWHBean.stockTransfer.transportMaster.name}" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-file-text-o"></i></span>
									<p:inputText id="waybillAvailable" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.waybillAvailable?'Yes':'No'}" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText id="waybillNumber" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.waybillNumber}" />
								</div>
							</div>
						</div>
					</div>

					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cogs"></i></span>
									<p:inputText id="transportChargeAvailable" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.transportChargeAvailable?'Yes':'No'}" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-menu6"></i></span>
									<p:inputText id="transportChargeType" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.transportChargeType}" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
									<p:inputText id="transportChargeAmount" disabled="true"
										styleClass="form-control"
										value="#{stockInwardPRWHBean.stockTransfer.transportChargeAmount}" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<h:commandButton id="btnMainFormCancel"
								value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
								immediate="true" action="#{stockInwardPRWHBean.getListPage}"
								class="btn bg-slate heading-btn  font-iconmoon cust-btn-h"
								update="growls" onclick="PF('statusDialog').show()">
							</h:commandButton>
							<h:commandButton id="btnMainFormSave"
								value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
								action="#{stockInwardPRWHBean.create(false)}"
								validateClient="true" update="growls"
								class="btn bg-primary heading-btn  font-iconmoon cust-btn-h m-l-8"
								onclick="PF('statusDialog').show()">
							</h:commandButton>
							<h:commandButton id="btnMainFormSubmit"
								value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
								action="#{stockInwardPRWHBean.create(true)}"
								validateClient="true" update="growls"
								class="btn bg-success heading-btn  font-iconmoon cust-btn-h m-l-8"
								onclick="PF('statusDialog').show()">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>