<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{stockInwardPRWHBean.onPageLoad}"
				onPostBack="true"></f:viewAction>
		</f:metadata>

		<title>InfoTex | Stock Inward List - Printing Warehouse</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['stk_inrd_lst']} - #{msg['prnt_whouse']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['prnt_whouse']}</li>
						<li class="active">#{msg['stk_inrd_lst']} -
							#{msg['prnt_whouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:panelGroup id="stockSize">
								<h:outputText value="#{stockInwardPRWHBean.stockSize}" />
							</h:panelGroup>
						</strong> - #{msg['stk_inrd']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton update="growls"
							value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
							onstart="PF('statusDialog').show()"
							rendered="#{loginBean.userFeatures['PRINTING_WAREHOUSE_STOCK_INWARD_ADD']}"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-success font-iconmoon" id="addButton"
							disabled="#{stockInwardPRWHBean.disableAddButton}"
							action="#{stockInwardPRWHBean.gotoPage('ADD')}">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe912;&nbsp;#{msg['edit']}" title="#{msg['edit']}"
							action="#{stockInwardPRWHBean.gotoPage('EDIT')}"
							onstart="PF('statusDialog').show()"
							rendered="#{loginBean.userFeatures['PRINTING_WAREHOUSE_STOCK_INWARD_EDIT']}"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xea18;&nbsp;#{msg['view']}" title="#{msg['view']}"
							action="#{stockInwardPRWHBean.gotoPage('VIEW')}"
							onstart="PF('statusDialog').show()"
							rendered="#{loginBean.userFeatures['PRINTING_WAREHOUSE_STOCK_INWARD_VIEW']}"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe99e;&nbsp;#{msg['delete']}" title="#{msg['delete']}"
							onstart="PF('statusDialog').show()"
							rendered="#{loginBean.userFeatures['PRINTING_WAREHOUSE_STOCK_INWARD_DELETE']}"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-danger font-iconmoon"
							action="#{stockInwardPRWHBean.processDelete}">
						</p:commandButton>

						<p:commandButton update="growls"
							value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()"
							class="btn bg-slate font-iconmoon"
							action="#{stockInwardPRWHBean.getListPage}">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<div class="ui-datatable ui-widget ui-datatable-scrollable table">
							<div class="ui-datatable-scrollable-header-box cust-table">
								<p:dataTable id="table" widgetVar="table" var="data"
									class="table"
									selection="#{stockInwardPRWHBean.stockTransferResponse}"
									rowKey="#{data.id}"
									value="#{stockInwardPRWHBean.stockTransferResponseLazyList}"
									lazy="true" emptyMessage="#{msg['no_records_found']}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rows="10" paginator="true" paginatorPosition="bottom"
									tableStyleClass="" rowsPerPageTemplate="5,10,15"
									rowIndexVar="idx">

									<p:ajax event="filter" oncomplete="updateFilterSelection()" />

									<p:ajax event="rowSelectRadio"
										listener="#{stockInwardPRWHBean.onRowSelect}"
										update=":#{p:component('addButton')}" />

									<p:column headerText="#" styleClass="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column headerText="#{msg['st_in_num']}"
										styleClass="text-center" filterMatchMode="contains"
										filterable="true" filterBy=" #{data.referenceNumber}"
										sortBy=" #{data.referenceNumber}" sortable="true">
										<h:outputText value="#{data.referenceNumber}" />
									</p:column>

									<p:column headerText="#{msg['sender_code']} / #{msg['name']}"
										filterMatchMode="contains" filterable="true"
										filterBy=" #{data.societyCodeOrName}"
										sortBy=" #{data.societyCodeOrName}" sortable="true">
										<h:outputText
											value="#{data.societyCode} / #{data.societyName}" />
									</p:column>


									<p:column headerText="#{msg['receiver_code']} / #{msg['name']}"
										filterMatchMode="contains" filterable="true"
										filterBy=" #{data.wareHouseCodeOrName}"
										sortBy=" #{data.wareHouseCodeOrName}" sortable="true">
										<h:outputText
											value="#{data.wareHouseCode} / #{data.wareHouseName}" />
									</p:column>

									<p:column headerText="#{msg['stock_receiver_date']}"
										styleClass="text-center form-group_calend width-15"
										sortBy="#{data.dateReceived}" sortable="true"
										filterBy="#{data.dateReceived}" filterMatchMode="exact">
										<f:facet name="filter">
											<p:calendar onchange="PF('table').filter()" navigator="true"
												id="dateReceived" pattern="dd-MMM-yyyy"
												placeholder="dd-MMM-yyyy"
												styleClass="form-control calend-icon">
												<p:ajax event="dateSelect" update="table,@form"
													oncomplete="PF('table').filter()" />
												<p:ajax event="change" execute="@this"
													oncomplete="PF('table').filter()" update="table,@form" />
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.dateReceived}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</p:column>

									<p:column filterBy=" #{data.status}"
										headerText="#{msg['status']}" filterMatchMode="contains"
										filterable="true" sortBy=" #{data.status}" sortable="true"
										styleClass="text-center width-15">

										<f:facet name="filter">
											<h:selectOneMenu onchange="PF('table').filter()"
												id="statusDropdown" class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems value="#{stockInwardDWHBean.statusValues}"
													var="status" itemLabel="#{status}" itemValue="#{status}" />
											</h:selectOneMenu>
										</f:facet>

										<h:outputText value="#{data.status.name().replace('_', ' ')}"
											styleClass="label label-default width-custom"
											rendered="#{data.status eq 'INITIATED'}" />

										<h:outputText value="#{data.status.name().replace('_', ' ')}"
											styleClass="label label-warning width-custom"
											rendered="#{data.status eq 'SUBMITTED'}" />

										<h:outputText value="#{data.status.name().replace('_', ' ')}"
											styleClass="label label-default width-custom"
											rendered="#{data.status eq 'ACKNOWLEDGE'}" />

										<h:outputText value="#{data.status.name().replace('_', ' ')}"
											styleClass="label label-default width-custom"
											rendered="#{data.status eq 'COMPLETED'}" />
									</p:column>
									
									<p:column headerText="#{msg['select']}" selectionMode="single"
										styleClass="text-center width-4">
									</p:column>
								</p:dataTable>

								<p:remoteCommand name="updateFilterSelection"
									update=":#{p:component('stockSize')}" autoRun="true" />

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<p:dialog header="#{msg['confirmation']}" widgetVar="dlg1"
				modal="true" position="center" resizable="false" closable="false"
				width="30%" styleClass="cus-model-popup card_dialogbox p-0">
				<h:form>
					<div class="modal-body p-0">
						<div class="bot-space text-center">
							<h5 class="line-height18">#{msg['confirm_delete']}</h5>
						</div>
					</div>
					<div class="modal-footer text-center">
						<h:commandButton
							styleClass="btn btn-sm btn-danger ui-confirmdialog-no font-iconmoon "
							value="&#xed6a;&nbsp;#{msg['no']}" onclick="PF('dlg1').hide();">
						</h:commandButton>
						<h:commandButton
							styleClass="btn btn-sm btn-success ui-confirmdialog-yes font-iconmoon m-l-5"
							value="&#xed6e;&nbsp;#{msg['yes']}"
							action="#{stockInwardPRWHBean.delete}"
							onclick="PF('dlg1').hide();">
						</h:commandButton>
					</div>
				</h:form>
			</p:dialog>
			
		</div>
	</ui:define>
</ui:composition>