<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<style type="text/css">
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style>

		<title>InfoTex | View Stock Inward - Printing Warehouse</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_stock_inward']} - #{msg['prnt_whouse']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['prnt_whouse']}</li>
						<li class="active">#{msg['view_stock_inward']} -
							#{msg['prnt_whouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>


		<!-- Page Header End -->
		<div class="content page-scroll-hp no-padding-bottom">
			<div class="panel-group m-b-10">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['view_stock_inward']} -
							#{msg['prnt_whouse']}</h6>
					</div>

					<div id="accordion-control-right-group1">
						<div class="panel-body">
							<div class="row label-form view-style">
								<h:panelGroup
									rendered="#{stockInwardPRWHBean.stockTransfer.fromEntityMaster !=  null}">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['entity']} - #{msg['code_name']}" />
											<h:outputText
												value="#{stockInwardPRWHBean.stockTransfer.fromEntityMaster.code} / #{stockInwardPRWHBean.stockTransfer.fromEntityMaster.name}"
												class="" />
										</div>
									</div>
								</h:panelGroup>

								<h:panelGroup
									rendered="#{stockInwardPRWHBean.stockTransfer.fromEntityMaster ==  null}">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['society']} - #{msg['code_name']}" />
											<h:outputText
												value="#{stockInwardPRWHBean.stockTransfer.supplierMaster.code} / #{stockInwardPRWHBean.stockTransfer.supplierMaster.name}"
												class="" />
										</div>
									</div>
								</h:panelGroup>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_movement_number']} From" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.referenceNumber}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_movement_number']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.referenceNumber}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- collepse panel end -->

			<div class="panel panel-info">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prmy_add']}</span>
					</h5>
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<p:dataTable id="stockItemsTable" var="item" rowKey="#{item}"
									styleClass="report-table"
									value="#{stockInwardPRWHBean.stockTransfer.stockTransferItemsList}"
									rowIndexVar="idx">

									<p:column headerText="#" styleClass="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column styleClass="width-25"
										headerText="#{msg['prod_variey_code']} / #{msg['name']}">
										<h:outputText
											value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
									</p:column>

									<p:column headerText="#{msg['uom']}"
										styleClass="text-center width-10">
										<h:outputText value="#{item.uomMaster.code}" />
									</p:column>

									<p:column headerText="#{msg['bun_nums']}"
										styleClass="text-center width-12">
										<h:outputText value="#{item.bundleNumber}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['already_dispatched_unit']}"
										styleClass="text-center width-12">
										<h:outputText value="#{item.dispatchedQty}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['received_unit']}"
										styleClass="text-center width-12">
										<h:outputText value="#{item.receivedQty}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
										styleClass="fa-input text-right width-12">
										<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
											class="">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>

					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bundle_dispatched']}</span>
							</h5>
							<div class="row label-form view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.totalBundles}"
											class="" />

									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.bundleWeight}"
											class="" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.stockTransfer.bundleNumbers}"
											class="" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bundle_received']}</span>
							</h5>
							<div class="row label-form view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.totalBundles}"
											class="" />
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.bundleWeight}"
											class="" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<h:outputText
											value="#{stockInwardPRWHBean.stockTransfer.bundleNumbers}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>




					<h5 class="bord_bot">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
					</h5>

					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.transportMaster == null || stockInwardPRWHBean.stockTransfer.transportMaster.transportTypeMaster == null?'': stockInwardPRWHBean.stockTransfer.transportMaster.transportTypeMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.transportMaster == null?'': stockInwardPRWHBean.stockTransfer.transportMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.waybillAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.waybillNumber}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.transportChargeAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.transportChargeType}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['trans_charge_amt']} &nbsp;(&#xf156;)"
									styleClass="fa-input" />
								<h:outputText
									value="#{stockInwardPRWHBean.stockTransfer.transportChargeAmount}"
									class="" />
							</div>
						</div>
					</div>


					<div class="row ">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<h:commandButton id="btnMainFormCancel"
								value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
								immediate="true"
								action="#{stockInwardPRWHBean.gotoPage('LIST')}"
								class="btn bg-info heading-btn cust-btn-h font-iconmoon"
								update="growls" onclick="PF('statusDialog').show()">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>