<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Investment Interest Collection</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['investment']} -
						#{msg['create_interest_collection']}</h4>
					<ul class="breadcrumb">
						<li><a href="#"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['finance']}</li>
						<li class="active">#{msg['investment']} -
							#{msg['create_interest_collection']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<div class="heading-elements"></div>
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content page-scroll no-padding-bottom">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['invest_interest_collection']}
							</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-5">
							<div class="row label-form custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['investment_categories']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-piggy-bank"></i></span> <select class="form-control">
												<option>Select</option>
												<option>Bank Investment</option>
												<option>Other Investment</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['investment']} #{msg['type']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>Share Investment</option>
												<option>FD Investment</option>
												<option>Employee Security Deposite</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['bnk_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-library2"></i></span> <select class="form-control">
												<option>Select</option>
												<option>Axis</option>
												<option>HDFC</option>
												<option>City Union Bank</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['bank_branch_code']} / #{msg['name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-library2"></i></span> <select class="form-control">
												<option>Select</option>
												<option>BR0021 / Adyar</option>
												<option>BR0022 / Saidapet</option>
												<option>BR0023 / Egmore</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row label-form custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['other']} #{msg['st_train_institution_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-menu6"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>Institution One</option>
												<option>Institution Two</option>
												<option>Institution Three</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['investment']} #{msg['number']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>2530014</option>
												<option>2530015</option>
												<option>2530016</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
									<div class="form-group">
										<p:commandButton update="growls"
											value="&#xe916;&nbsp;#{msg['clear']}"
											onclick="window.location.href='#'" title="#{msg['clear']}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xe98e;&nbsp;#{msg['search']}"
											title="#{msg['search']}"
											class="btn bg-info heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- collepse panel end -->
			<div class="panel panel-white ">
				<div class="panel-body p-t-0 p-b-10">
					<h5 class="bord_bot">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['investment']} #{msg['details']}</span>
					</h5>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['invest_date']}"
									style="display:block" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="20-01-2018" disabled="true" />
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['share_certificate_num']}- #{msg['from']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="20-01-2018" disabled="true" />
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['share_certificate_num']} - #{msg['to']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="20-01-2018" disabled="true" />
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['other_certificate_num']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="451236007" disabled="true" />
								</div>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['certificate_date']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calendar22"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="20-01-2018" disabled="true" />
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['total_investment_amt']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-rupee fa-lg"></i></span>
									<p:inputText maxlength="30"
										styleClass="form-control text-right" placeholder="68250.00"
										disabled="true" />
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['interest_collection_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-tree6"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="cash" disabled="true" />
								</div>
							</div>
						</div>


						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['rate_interest_percentage']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-percent"></i></span>
									<p:inputText maxlength="30" styleClass="form-control"
										placeholder="12" disabled="true" />
								</div>
							</div>
						</div>
					</div>
					<h5 class="bord_bot">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['interest_dlt']}</span>
					</h5>
					<div class="row custom-form-1 label-form">
					
					<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_interest_collected']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-rupee fa-lg"></i></span>
									<p:inputText maxlength="30" styleClass="form-control text-right"
										placeholder="68250.00" disabled="true" />
								</div>
							</div>
						</div>
						
						
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['interest_collection']}"
									style="display:block" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-rupee fa-lg"></i></span>
									<p:inputText maxlength="30"
										styleClass="form-control text-right" placeholder="68250.00" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['interest_collected']} / #{msg['deposite_date']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="refdate5" value="20-01-2018"
										mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
										navigator="true" required="true" requiredMessage="Required"
										styleClass="form-control-1 calend-icon-1">
										<p:ajax update="" event="dateSelect" />
									</p:calendar>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['mode_pay']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-calculator2"></i></span> <select class="form-control">
										<option>Select</option>
										<option>Cash</option>
										<option>Card</option>
										<option>Online Banking</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row custom-form-1 label-form">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ref_doc_num']}"
									style="display:block" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-hash"></i></span>
									<p:inputText maxlength="30"
										styleClass="form-control text-right" placeholder="54635001" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['ref_doc_date']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="refdate6" value="20-01-2018"
										mindate="new Date()" pattern="dd-MM-yyyy" mask="true"
										navigator="true" required="true" requiredMessage="Required"
										styleClass="form-control-1 calend-icon-1">
										<p:ajax update="" event="dateSelect" />
									</p:calendar>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['ref_doc_bank']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-library2"></i></span>
									<select class="form-control">
										<option>Select</option>
										<option>Axis</option>
										<option>HDFC</option>
										<option>City Union Bank</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['ref_doc_amt']}"
									style="display:block" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-rupee fa-lg"></i></span>
									<p:inputText maxlength="30"
										styleClass="form-control text-right" placeholder="68250.00" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body p-t-5  p-b-0">
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['frwd_to']}" />
								<div class="input-group ui-outputlabel ui-widget">
									<span class="input-group-addon"><i class="icon-forward"></i></span>
									<select class="form-control">
										<option>Select</option>
										<option>Maga Ganapathy T / Sales Representative</option>
										<option>Rajesh Kumar P / Senior Manager</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel class="" value="#{msg['frwd_for']}" />
								<div class="input-group ui-outputlabel ui-widget">
									<span class="input-group-addon"><i class="icon-forward"></i></span>
									<select class="form-control">
										<option>Select</option>
										<option>Approved</option>
										<option>Final Approval</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row m-b-15">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p:commandButton value="&#xf067; #{msg['create_note']}"
								title="#{msg['add']}"
								styleClass="btn btn-success btn-md fa-input m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>
							<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
                        style="min-width:32px;"
                        styleClass="btn btn-primary btn-md font-iconmoon"
                        onclick="PF('commentdialog').show();"></p:commandButton> -->
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								onclick="window.location.href='listInvestmentInterestCollection.xhtml'"
								immediate="true" class="btn bg-slate font-iconmoon m-r-0"
								title="#{msg['cancel']}">
							</p:commandButton>
							<!-- <p:commandButton value="&#xea0e;&nbsp;#{msg['save']}"
                        title="#{msg['save']}"
                        class="btn bg-primary heading-btn  font-iconmoon">
                        </p:commandButton> -->
							<p:commandButton value="&#xed6e;&nbsp;Submit" title="Submit"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Add Note Dialogue -->
		<p:dialog header="Create Note" widgetVar="notedialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body modal-lg p-0">
						<div class="tabbable wysihtml5-tabc">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<!-- WYSIHTML5 basic -->
									<div class="panel panel-flat">
										<form action="#">
											<div class="form-group text-wysihtml5-toolbar">
												<textarea cols="18" rows="10"
													class="wysihtml5 wysihtml5-min form-control"
													placeholder="Enter text ...">
                                    </textarea>
											</div>
										</form>
									</div>
									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name : Ramesh Kumar N</li>
																	<li>Designation : Ramesh Kumar N</li>
																	<li>Date : 12-Jul-2017</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.add note dialogue -->
		<!-- Comment -->
		<p:dialog header="Comment" widgetVar="commentdialog" modal="true"
			showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="window.location.href='listInvestment.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.Comment -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table1");
				var mainTable = document.getElementById("main-table1");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
	</ui:define>
</ui:composition>