<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Preview Staff Month Conveyance Amount</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Preview Staff Month Conveyance Amount</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['accounts']}</li>
						<li>#{msg['payment_voucher']}</li>
						<li class="active">Preview Staff Month Conveyance Amount</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

	<div class="content p-0" id="printContentDialog" style="font-family: Verdana, Geneva, sans-serif;">

		<div class="content page-scroll">
			<div class="panel panel-white bor-gray">
				<div class="panel-heading panel-invoice">
					<h4 class="panel-title text-center text-primary">Tamilnadu Weavers' Society</h4>
					<p class="text14 text-center m-b-0">#{voucherBean.productwareHouseAddressDetails} <br /> 
					<b>Tel:</b> 9176065698 | 
					<b>Email :</b> www.cooptex.com | 
					<b>Website :</b> <a	href="https://cooptex.gov.in/" target="blank">https://cooptex.gov.in/</a>
					</p>
					 
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-lg-9 content-group">
							<ul class="list-condensed list-unstyled">
								<li><span class="text-semibold"><b>Entity Name</b></span> <span class="text-semibold">:</span>
								 <span>Regional Office</span></li>
								<li><span class="text-semibold"><b>Transaction Name</b></span> <span
									class="text-semibold">:</span> <span>Society Payment</span></li>
								<!-- <li><span class="text-semibold"><b>Mode of Payment</b></span> <span
									class="text-semibold">:</span> <span>#{voucherBean.paymentModeDet.paymentMode}</span></li> -->
							</ul>
						</div>

						<div class="col-md-6 col-lg-3 content-group">
							<ul
								class="list-condensed list-unstyled invoice-payment-details m-b-0">
								<li><b>Voucher Number :</b><span>56648445</span></li>
								<li><b>Voucher Date   :</b><span>12.05.2017</span></li>
								<li><b>Voucher Type   :</b><span>Payment</span></li>
							</ul>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-striped invoice-table">
							<thead>
								<tr>
									<th width="5%">#</th>
									<th>Transaction Particulars</th>
									<th class="fa-input">Transaction Amount&nbsp;(&#xf156;)</th>
								</tr>
							</thead>
							<tbody>
							 <tr>
									<td class="text-center">1</td>
									<td>Kanjipuram Saree</td>
									<td class="text-right">1200.00</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td align="center" colspan="2"><strong>Total
											Amount</strong></td>
									<td class="text-right"><h:outputText value="1200.00" class="">
														<f:convertNumber pattern="#0.00" />
											</h:outputText>
									</td>
							
								</tr>
							</tfoot>
						</table>
					</div>
							<strong>Amount In Words : </strong>#{voucherBean.amountInWords}
					
				</div>

				
				<div class="panel-body no-padding-top">
					<div class="sign-panel">
						<div class="row">
							<div class="col-lg-3 col-sm-4">
								<div class="form-group">
									<h6 class="modal-title">&nbsp;</h6>
								</div>
								<div class="form-group m-b-0 m-t-5">
									<h:outputText value="#{voucherBean.empDet.firstName}"  class="" />
									<h6 class="modal-title">Prepared By : </h6>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="form-group m-b-0 m-t-5">
									<h6 class="modal-title">&nbsp;</h6>
								</div>
								<div class="form-group m-b-0 m-t-5">
									
									<h6 class="modal-title">Checked / Approved by : </h6>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4 text-right">
								<div class="form-group">
									<h6 class="modal-title">&nbsp;</h6>
								</div>
								<div class="form-group m-b-0 m-t-5">
									<h6 class="modal-title">Cashier/Bank Section</h6>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4 text-right">
								<div class="form-group">
									<h6 class="modal-title">&nbsp;</h6>
								</div>
								<div class="form-group m-b-0 m-t-5">
									<h6 class="modal-title">Received By</h6>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-3 col-sm-4">
								<div class="form-group">
									<h6 class="modal-title"></h6>
								</div>
								<div class="form-group m-b-0">
									<h6 class="modal-title">Date : #{voucherBean.voucherCreatedDate}</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 ph0 text-right m-t-10" id="dontprint" >
						<div class="form-group m-b-0">
							<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}" 
								title="#{msg['print']}"
								class="btn bg-primary heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								onclick="window.location.href='#{request.contextPath}/pages/finance/governmentScheme/listAdvanceAmountCollection.xhtml'"
								title="#{msg['cancel']}"  
								class="btn bg-slate heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								
								title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>
							
							 
							
							<p:commandButton update="growls"
								value="&#xecf5;&nbsp;#{msg['approve']}"
								title="#{msg['approve']}"
								class="btn bg-success font-iconmoon" type="button">
								
							</p:commandButton>
							
							<p:commandButton update="growls"
								value="&#xecf6;&nbsp;#{msg['reject']}"
								title="#{msg['reject']}"
								class="btn bg-danger font-iconmoon m-r-5" type="button">
							</p:commandButton>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
		
		<p:dialog modal="true" draggable="false"
			header="Approve Comments"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="dlgComments1" width="40%" focus="comments1">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="Remarks" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{voucherBean.approveComments}"
								id="comments1" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<h:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}"
					class="btn bg-slate heading-btn  font-iconmoon">
				</h:commandButton>
				<h:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{voucherBean.statusUpdate}"
					onclick="PF('dlgComments1').hide();">
				</h:commandButton>
			</div>
		</p:dialog>
		
		<p:dialog modal="true" draggable="false"
			header="Reject Comments"
			styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="dlgComments2" width="40%" focus="comments2">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="Remarks" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{voucherBean.rejectComments}"
								id="comments2" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<h:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}"
					class="btn bg-slate heading-btn  font-iconmoon">
				</h:commandButton>
				<h:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{voucherBean.statusUpdate}"
					onclick="PF('dlgComments2').hide();">
				</h:commandButton>
			</div>
		</p:dialog>
		
		
		<script>
			function printDiv(divName) {
				var printContents = document.getElementById(divName).innerHTML;
				var originalContents = document.body.innerHTML;

				document.body.innerHTML = printContents;
				document.getElementById("dontprint").style.display = "none";
				window.print();

				document.body.innerHTML = originalContents;
			}
		</script>
		
	</ui:define>
</ui:composition>