<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PRODUCT_DESIGN_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{productDesignMasterBean}"></ui:param>
		<title>InfoTex | Product Design List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['prod_design_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['prod_design_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll-hp no-padding-bottom">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> - #{msg['prod_design']}(s)<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
						<!-- <span class="textb">5</span> - Total Caste -->
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								rendered="#{loginBean.userFeatures['PRODUCT_DESIGN_ADD']}"
								disabled="#{bean.disableAddButton}"
								action="#{bean.goToProductDesignCreatePage}"
								class="btn bg-success font-iconmoon" update="growls">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}"
								action="#{bean.editProductDesignMaster}" title="#{msg['edit']}"
								onstart="PF('statusDialog').show()"
								rendered="#{loginBean.userFeatures['PRODUCT_DESIGN_EDIT']}"
								onsuccess="PF('statusDialog').hide()" update="growls"
								id="editId" class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}"
								action="#{bean.gotoProductDesignMasterViewPage}"
								onstart="PF('statusDialog').show()"
								rendered="#{loginBean.userFeatures['PRODUCT_DESIGN_VIEW']}"
								onsuccess="PF('statusDialog').hide()" title="#{msg['view']}"
								update="growls" id="viewId" class="btn bg-info font-iconmoon">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.deleteProductDesign}"
								rendered="#{loginBean.userFeatures['PRODUCT_DESIGN_DELETE']}"
								onstart="PF('statusDialog').show()" update="growls"
								onsuccess="PF('statusDialog').hide()" title="#{msg['delete']}"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
								action="#{bean.goToListPageOfProductDesignMaster}">
								<f:setPropertyActionListener value="CLEAR"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

						</p:outputPanel>

					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="productdesignList"
							widgetVar="productdesignListTable" class="table" var="data"
							rowKey="#{data.id}"
							selection="#{bean.selectedProductDesignMaster}"
							value="#{bean.lazyproductDesignList}" lazy="true"
							paginatorAlwaysVisible="false" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />

							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('editId')},#{p:component('menupanel')}" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column
								headerText="#{msg['prod_variey_code']} / #{msg['name']}"
								styleClass="width-25" filterMatchMode="contains"
								filterable="true" filterBy="#{data.productVarietyMaster.code}"
								sortBy="#{data.productVarietyMaster.code}" sortable="true">
								<h:outputText
									value="#{data.productVarietyMaster.code} / #{data.productVarietyMaster.name} " />
							</p:column>

							<p:column headerText="#{msg['dsgn_code']}"
								styleClass="text-center width-8" filterMatchMode="contains"
								filterable="true" filterBy="#{data.designCode}"
								sortBy="#{data.designCode}" sortable="true">
								<h:outputText value="#{data.designCode}">
									<f:convertNumber pattern="#0"></f:convertNumber>
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['design_name']}"
								styleClass="width-15" filterMatchMode="contains"
								filterable="true" filterBy="#{data.designName}"
								sortBy="#{data.designName}" sortable="true">
								<h:outputText value="#{data.designName}" />
							</p:column>

							<p:column headerText="#{msg['created_date']}"
								filterBy="#{data.createdDate}"
								styleClass="text-center form-group_calend width-10"
								filterMatchMode="equals" sortBy="#{data.createdDate}"
								sortable="true">

								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="planFrom" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" styleClass="form-control calend-icon text-center">
										<p:ajax event="dateSelect"
											oncomplete="PF('productdesignListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column filterBy=" #{data.activeStatus}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy="#{data.activeStatus}" sortable="true"
								styleClass="text-center width-10">
								<f:facet name="filter">
									<h:selectOneMenu
										onchange="PF('productdesignListTable').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
										<f:selectItem itemLabel="#{msg['inactive']}" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{msg['active']}"
									styleClass="label label-success sts_shortl"
									rendered="#{data.activeStatus eq true}" />
								<h:outputText value="#{msg['inactive']}"
									styleClass="label label-default sts_shortl"
									rendered="#{data.activeStatus eq false}" />
							</p:column>



							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-4" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog text-left" closable="true"
			width="30%" widgetVar="confirmProductDesignDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmProductDesignDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteProductDesignConfirm}"
					oncomplete="PF('confirmProductDesignDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>