<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{testReportBean}"></ui:param>
		<ui:param name="testReport" value="#{testReportBean.testReport}"></ui:param>

		<style type="text/css">
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style>

		<title>Infotex | Testing Lab - Create Test Report</title>
		<h:form id="testReportid">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['testing_lab']} - #{testReportBean.action eq
							'Create' ? msg['create'] : msg['edit']} #{msg['test_report']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['testing_lab']}</li>
							<li class="active">#{msg['testing_lab']} -
								#{testReportBean.action eq 'Create' ? msg['create'] :
								msg['edit']} #{msg['test_report']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>


			<!-- Page Header End -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['crt_test_rep']} - #{msg['testing_lab']} <span
									class="pull-right text-13">(<span class="text-danger">*</span>
									#{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div class="page-scroll">
							<div class="panel-body">
								<div class="row label-form">
									<p:outputPanel id="search-panel">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['st_in_num']} / #{msg['date']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="stock_inward"
														styleClass="form-control"
														required="#{not empty param [search.clientId] || not empty param [submit.clientId]}"
														requiredMessage="#{msg['stock_inward_no_date_req']}"
														value="#{bean.stockInward}" converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}"
															itemLabel="#{obj.referenceNumber}/#{obj.message}"
															var="obj" value="#{bean.stockInwardList}"></f:selectItems>
														<p:ajax event="change"
															listener="#{bean.updateProductSampleList}"
															update="sample_number"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="stock_inward" class="validation-error-label" />
												<p:focus for="stock_inward" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['product_sample_number']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu id="sample_number"
														styleClass="form-control"
														required="#{not empty param [search.clientId] || not empty param [submit.clientId]}"
														requiredMessage="#{msg['product_Sample_no_req']}"
														value="#{bean.productSampleNumber}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems itemValue="#{obj}"
															itemLabel="#{obj.productSampleNumber}" var="obj"
															value="#{bean.productSampleList}"></f:selectItems>
													</h:selectOneMenu>
												</div>
												<h:message for="sample_number"
													class="validation-error-label" />
											</div>
										</div>


										<div class="col-lg-6 col-md-6 col-sm-12">
											<p:outputLabel value="&nbsp;&nbsp;"
												styleClass="dis-block-tab" />
											<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
												update="search-panel productDetails" title="#{msg['clear']}"
												action="#{bean.clearSearchFields}"
												styleClass="btn btn-sm bg-slate font-iconmoon m-l-0"></p:commandButton>

											<p:commandButton value="&#xe98e;&nbsp;#{msg['search']}"
												title="#{msg['search']}" binding="#{search}"
												update="search-panel productDetails"
												action="#{bean.searchProductDetails}"
												styleClass="btn btn-sm bg-info font-iconmoon"></p:commandButton>
										</div>
									</p:outputPanel>
								</div>
								<div></div>
								<!-- end row -->



								<h5 class="bord_bot m-t-0">
									<i class="fa fa-th-large m-r-5 m-t-0"></i><span
										class="iform-title">#{msg['prod_details']}</span>
								</h5>
								<p:outputPanel id="productDetails">
									<div class="row label-form view-style">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['date_receipt_of_sample']}" />
												<h:outputText
													value="#{testReport.stockTransferItems.createdDate}"
													id="createdDate" class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"></f:convertDateTime>
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['prod_variey_code']}" />
												<h:outputText id="productCode"
													value="#{testReport.productVarietyMaster.code}" class="" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['prod_variety_name']}" />
												<h:outputText id="productName"
													value="#{bean.productSampleNumber.productVarietyMaster.name}"
													class="" />
											</div>
										</div>
									</div>
								</p:outputPanel>


								<h5 class="bord_bot m-t-5">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['test_details']}</span>
								</h5>
								<p:outputPanel id="test-details">
									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<h6 class="m-t-0 m-b-5 text-primary">#{msg['count']}</h6>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['warp_count']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-hash"></i></span>
																	<p:inputText id="warpCount" placeholder="pieces"
																		styleClass="form-control"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.warpCount}">
																	</p:inputText>
																</div>
																<h:message for="warpCount"
																	class="validation-error-label" />
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	required="#{not empty param[submit.clientId]}"
																	title="#{testReport.wrapCountResult}"
																	requiredMessage="required" id="warpResult"
																	styleClass="#{testReport.wrapCountResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.wrapCountResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	value="#{testReport.wrapCountResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="warpResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="warpResult"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>


												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<p:outputLabel value="#{msg['weft_count']}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-hash"></i></span>
																<p:inputText id="weftcount" placeholder="pieces"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required" styleClass="form-control"
																	value="#{testReport.weftCount}">
																	<!-- 																<p:keyFilter regEx="/[0-9_/\.]/i" preventPaste="false"></p:keyFilter> -->
																</p:inputText>
															</div>
															<h:message for="weftcount" class="validation-error-label" />
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required" id="weftResult"
																	styleClass="#{testReport.weftCountResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.weftCountResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	value="#{testReport.weftCountResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="weftResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="weftResult"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12"
											style="border: 0px solid #ccc;">
											<h6 class="m-t-0 m-b-5 text-primary">#{msg['threads_per_inch']}</h6>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['end_inch']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-design"></i></span>
																	<p:inputText id="perInch" placeholder="pieces"
																		styleClass="form-control"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.endsPerInch}">
																	</p:inputText>
																</div>
																<h:message for="perInch" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu id="perInchResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	styleClass="#{testReport.endsPerInchResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.endsPerInchResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	value="#{testReport.endsPerInchResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="perInchResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="perInchResult"
																	class="validation-error-label" />
															</div>

														</div>
													</div>
												</div>



												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['pick_inch']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-design"></i></span>
																	<p:inputText id="picksPerInch" placeholder="pieces"
																		styleClass="form-control"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.picksPerInch}">
																	</p:inputText>
																</div>
																<h:message for="picksPerInch"
																	class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.picksPerInchResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.picksPerInchResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="picksPerInchResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.picksPerInchResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="picksPerInchResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="picksPerInchResult"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>



										<div class=" col-lg-6 col-md-6 col-sm-12"
											style="border: 0px solid #ccc;">
											<h6 class="m-t-0 m-b-5 text-primary">#{msg['shrinkage']}
												(%)</h6>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['warp_shrinkage']} (%)" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-percent"></i></span>
																	<p:inputText id="shrinkage" placeholder="pieces"
																		styleClass="form-control"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.warpShrinkPercentage}">
																	</p:inputText>
																</div>
																<h:message for="shrinkage"
																	class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.warpShrinkResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.warpShrinkResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="shrinkageResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.warpShrinkResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="shrinkageResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="shrinkageResult"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['weft_shrinkage']} (%)" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-percent"></i></span>
																	<p:inputText id="weftShrinkage" placeholder="pieces"
																		styleClass="form-control"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.weftShrinkPercent}">
																	</p:inputText>
																</div>
																<h:message for="weftShrinkage"
																	class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.weftShrinkResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.weftShrinkResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="weftShrinkageResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.weftShrinkResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="weftShrinkageResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="weftShrinkageResult"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="col-lg-6 col-md-6 col-sm-12"
											style="border: 0px solid #000;">
											<h6 class="m-t-0 m-b-5 text-primary">#{msg['washing']}</h6>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['change_color']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-color-sampler"></i></span>
																	<h:selectOneMenu class="form-control select2"
																		id="color"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.changeColor}">
																		<f:selectItem itemLabel="#{msg['select']}" />
																		<f:selectItem itemLabel="1" itemValue="1"></f:selectItem>
																		<f:selectItem itemLabel="2" itemValue="2"></f:selectItem>
																		<f:selectItem itemLabel="3" itemValue="3"></f:selectItem>
																		<f:selectItem itemLabel="4" itemValue="4"></f:selectItem>
																		<f:selectItem itemLabel="5" itemValue="5"></f:selectItem>
																	</h:selectOneMenu>
																</div>
																<h:message for="color" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.chageColorResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.chageColorResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="colorResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.chageColorResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="colorResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="colorResult"
																	class="validation-error-label" />
															</div>

														</div>
													</div>
												</div>



												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['staining_on_cotton']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-paint-format"></i></span>
																	<h:selectOneMenu class="form-control select2"
																		id="staining"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required"
																		value="#{testReport.statiningCotton}">
																		<f:selectItem itemLabel="#{msg['select']}" />
																		<f:selectItem itemLabel="1" itemValue="1"></f:selectItem>
																		<f:selectItem itemLabel="2" itemValue="2"></f:selectItem>
																		<f:selectItem itemLabel="3" itemValue="3"></f:selectItem>
																		<f:selectItem itemLabel="4" itemValue="4"></f:selectItem>
																		<f:selectItem itemLabel="5" itemValue="5"></f:selectItem>
																	</h:selectOneMenu>
																</div>
																<h:message for="staining" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.stainingCottonResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.stainingCottonResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="stainingResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.stainingCottonResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="stainingResult"></p:ajax>
																</h:selectOneMenu>
																<h:message for="stainingResult"
																	class="validation-error-label" />
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-12"
											style="border: 0px solid #000;">
											<h6 class="m-t-0 m-b-5 text-primary">#{msg['rubbing']}</h6>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group m-b-0">
																<p:outputLabel value="#{msg['dry']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-sun3"></i></span>
																	<h:selectOneMenu class="form-control select2" id="dry"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required" value="#{testReport.dry}">
																		<f:selectItem itemLabel="#{msg['select']}" />
																		<f:selectItem itemLabel="1" itemValue="1"></f:selectItem>
																		<f:selectItem itemLabel="2" itemValue="2"></f:selectItem>
																		<f:selectItem itemLabel="3" itemValue="3"></f:selectItem>
																		<f:selectItem itemLabel="4" itemValue="4"></f:selectItem>
																		<f:selectItem itemLabel="5" itemValue="5"></f:selectItem>
																	</h:selectOneMenu>
																</div>
																<h:message for="dry" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group m-b-0">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.dryResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.dryResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="dryResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.dryResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="dryResult"></p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="dryResult" class="validation-error-label" />
														</div>
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 p-r-0">
															<div class="form-group">
																<p:outputLabel value="#{msg['wet']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-droplet"></i></span>
																	<h:selectOneMenu class="form-control select2" id="wet"
																		required="#{not empty param[submit.clientId]}"
																		requiredMessage="required" value="#{testReport.wet}">
																		<f:selectItem itemLabel="#{msg['select']}" />
																		<f:selectItem itemLabel="1" itemValue="1"></f:selectItem>
																		<f:selectItem itemLabel="2" itemValue="2"></f:selectItem>
																		<f:selectItem itemLabel="3" itemValue="3"></f:selectItem>
																		<f:selectItem itemLabel="4" itemValue="4"></f:selectItem>
																		<f:selectItem itemLabel="5" itemValue="5"></f:selectItem>
																	</h:selectOneMenu>
																</div>
																<h:message for="wet" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" styleClass="dis-block" />
																<h:selectOneMenu
																	styleClass="#{testReport.wetResult eq 'Satisfied'?'form-control select2 bg-addon-success':(testReport.wetResult eq 'Not Satisfied'?'form-control select2 bg-addon-danger':'form-control select2')}"
																	id="wetResult"
																	required="#{not empty param[submit.clientId]}"
																	requiredMessage="required"
																	value="#{testReport.wetResult}">
																	<f:selectItem itemLabel="#{msg['select']}" />
																	<f:selectItem itemLabel="Satisfied"
																		itemValue="Satisfied"></f:selectItem>
																	<f:selectItem itemLabel="Not Satisfied"
																		itemValue="Not Satisfied"></f:selectItem>
																	<p:ajax event="change" update="wetResult"></p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="wetResult" class="validation-error-label" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<h6 class="m-0">
												Note : <span class="text-danger text14">1 - Very Bad,
													2 - Bad, 3 - Fair, 4 - Good, 5 - Excellent</span>
											</h6>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												action="#{bean.showTestingLabReportListPage}"
												immediate="true" title="#{msg['cancel']}"
												styleClass="btn btn-sm bg-slate font-iconmoon">
											</p:commandButton>

											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												title="#{msg['submit']}" action="#{bean.saveOrUpdate}"
												binding="#{submit}"
												styleClass="btn btn-sm bg-success font-iconmoon"
												update="growls test-details search-panel">
											</p:commandButton>
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>



			</div>



			<!-- Modal with invoice -->

			<!-- Quality Check modal -->
			<div id="qualitycheck" class="modal fade">
				<div class="modal-dialog modal-lg-cust">
					<div class="modal-content">
						<div class="modal-lg-cust">
							<div class="modal-content">
								<div class="modal-header bg-info">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h6 class="modal-title">#{msg['bund_details']}</h6>
								</div>

								<div class="modal-body ">
									<div class="row label-form view-style">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['prod_variey_code_name']}" />
												<h:outputText value="HA2B / Saree" class="" />
											</div>
										</div>


										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group m-b-0">
												<p:outputLabel value="#{msg['dis_qty']}" />
												<h:outputText value="500" class="" />
											</div>
										</div>


										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group m-b-0">
												<p:outputLabel value="#{msg['received_unit']}" />
												<h:outputText value="500" class="" />
											</div>
										</div>
									</div>

									<div class="row label-form view-style">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group m-b-0">
												<p:outputLabel value="#{msg['accpt_qty']}" />
												<h:outputText value="620" class="" />
											</div>
										</div>

										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group m-b-0">
												<p:outputLabel value="#{msg['rej_qty']}" />
												<h:outputText value="540" class="" />
											</div>
										</div>


										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="form-group m-b-0">
												<p:outputLabel class="fa-input"
													value="#{msg['value']} &nbsp; (&#xf156;)" />
												<h:outputText value="12500.00" class="" />
											</div>
										</div>
									</div>
									<hr></hr>



									<div class="row m-t-10">
										<div class="col-lg-12">
											<div class="panel-body p-0">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-lg-12">
														<div id="table-scroll"
															class="cust-tab2 table-scroll table-responsive">
															<div id="faux-table" class="faux-table" aria="hidden"></div>
															<div class="scrollTabHgt-300">
																<table id="main-table" class="main-table cust-table2">
																	<thead>
																		<tr>
																			<th rowspan="2" align="center" style="width: 3%">#</th>
																			<th rowspan="2" class="ui-state-default text-center">
																				#{msg['bun_nums']}</th>
																			<th rowspan="2" class="ui-state-default text-center"
																				style="width: 10%">#{msg['tot']}
																				#{msg['recd_unit']}</th>
																			<th rowspan="2" class="ui-state-default text-center"
																				style="width: 10%">#{msg['tot']}
																				#{msg['accpt_qty']}</th>
																			<th rowspan="2" class="ui-state-default text-center"
																				style="width: 10%">#{msg['tot']}
																				#{msg['rej_qty']}</th>


																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td align="center">1</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>



																		</tr>
																		<tr>
																			<td align="center">2</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>


																		</tr>
																		<tr>
																			<td align="center">3</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>




																		</tr>

																		<tr>
																			<td align="center">4</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>

																		</tr>
																		<tr>
																			<td align="center">5</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>

																		</tr>

																		<tr>
																			<td align="center">6</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>
																		</tr>


																		<tr>
																			<td align="center">7</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>

																		</tr>

																		<tr>
																			<td align="center">8</td>
																			<td>560, 648, 710, 820, 973</td>
																			<td align="center" style="">48</td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="12" /></td>
																			<td align="center" style=""><p:inputText
																					maxlength="30" class="form-control text-right"
																					value="36" /></td>

																		</tr>


																	</tbody>
																	<tfoot>
																		<tr>
																			<td align="right" colspan="2"><strong>
																					Total</strong></td>

																			<td align="center" style="">548</td>
																			<td align="right" style="">148</td>
																			<td align="right" style="">300</td>

																		</tr>
																	</tfoot>
																</table>
															</div>
														</div>

													</div>
												</div>



												<div class="row">
													<div class="col-md-12 col-lg-12 text-right">
														<p:commandButton
															onclick="location.href='createGovtSocietyWiseProductionPlan.xhtml';"
															value="&#xed6a;&nbsp;#{msg['cancel']}"
															title="#{msg['cancel']}"
															class="btn bg-slate heading-btn  font-iconmoon">
														</p:commandButton>
														<p:commandButton update="growls"
															value="&#xed6e;&nbsp;#{msg['submit']}"
															title="#{msg['submit']}"
															class="btn bg-success heading-btn  font-iconmoon">
														</p:commandButton>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /modal with invoice -->

			<!-- / Quality Check modal -->

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

			<script>
				/*
				 //  jquery equivalent
				 jQuery(document).ready(function() {
				 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
				 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
				 });
				 */
				(function() {
					var fauxTable = document.getElementById("faux-table");
					var mainTable = document.getElementById("main-table");
					var clonedElement = mainTable.cloneNode(true);
					var clonedElement2 = mainTable.cloneNode(true);
					clonedElement.id = "";
					clonedElement2.id = "";
					fauxTable.appendChild(clonedElement);
					fauxTable.appendChild(clonedElement2);
				})();
			</script>
			<script>
				/*
				 //  jquery equivalent
				 jQuery(document).ready(function() {
				 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
				 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
				 });
				 */
				(function() {
					var fauxTable = document.getElementById("faux-table1");
					var mainTable = document.getElementById("main-table1");
					var clonedElement = mainTable.cloneNode(true);
					var clonedElement2 = mainTable.cloneNode(true);
					clonedElement.id = "";
					clonedElement2.id = "";
					fauxTable.appendChild(clonedElement);
					fauxTable.appendChild(clonedElement2);
				})();
			</script>
		</h:form>
	</ui:define>
</ui:composition>
