<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<style type="text/css">
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style>
		<title>Infotex | Testing Lab - Create Stock Inward</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['testing_lab']} - #{msg['create_stock_inward']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['testing_lab']}</li>
						<li class="active">#{msg['testing_lab']} -
							#{msg['create_stock_inward']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<h:form id="formTestingLab">
			<p:outputPanel id="stockItemPanelId">
				<ui:param name="stockBean" value="#{testingLabStockInwardBean}"></ui:param>
				<!-- Page Header End -->
				<div class="content page-scroll-hp no-padding-bottom">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-10"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" class="block"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['crt_test_lab']}
										- #{msg['stk_inrd']} <span class="pull-right text-13">(<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
									</span>
									</a>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<div class="panel-body p-t-10">
									<!-- end row -->
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['stk_inrd_type']}" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu styleClass="form-control"
														required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
														requiredMessage="#{msg['stock_inward_type_req']}"
														id="stockinwardtype" value="#{stockBean.stockInwardType}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItem itemLabel="Stock Transfer"
															itemValue="Stock Transfer"></f:selectItem>
														<f:selectItem itemLabel="Manual Inward"
															itemValue="Manual Inward"></f:selectItem>
														<p:ajax listener="#{stockBean.listenerOutwardType}"
															event="change"
															update="stockOutwardNumber stockTransferRendered stockTransferDataTable transportPanel"
															onstart="PF('statusDialog').show();"
															oncomplete="PF('statusDialog').hide();">
														</p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="stockinwardtype"
													class="validation-error-label" />
												<p:focus for="stockinwardtype" />
											</div>
										</div>

										<p:outputPanel id="stockOutwardNumber">
											<p:outputPanel rendered="#{stockBean.stockInwardTypeFlag}">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel
															value="#{msg['stock_out_no']} / #{msg['date']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<h:selectOneMenu styleClass="form-control"
																id="stockOutId"
																required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																requiredMessage="#{msg['stock_outward_no_date_req']}"
																value="#{stockBean.selectedStockTransfer}"
																converter="#{entityConverter}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																<f:selectItems value="#{stockBean.stockTransferList}"
																	var="list" itemValue="#{list}"
																	itemLabel="#{list.referenceNumber} / #{stockBean.listenerCreatedDate(list.createdDate)}">
																</f:selectItems>
																<p:ajax update="stockTransferDataTable"
																	listener="#{stockBean.loadStockTransferItemsListInward}"
																	onstart="PF('statusDialog').show();"
																	oncomplete="PF('statusDialog').hide();"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="stockOutId" class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>

											<p:outputPanel rendered="#{!stockBean.stockInwardTypeFlag}">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['stock_transfer_type']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu styleClass="form-control"
																id="stockTypeId"
																required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																requiredMessage="#{msg['stock_transfer_type_req']}"
																value="#{stockBean.entityType}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																<f:selectItem itemLabel="Entity" itemValue="Entity"></f:selectItem>
																<f:selectItem itemLabel="Society" itemValue="Society"></f:selectItem>
																<p:ajax update="entityPanelTypeView"
																	listener="#{stockBean.listenerEntityMaster}"
																	onstart="PF('statusDialog').show();"
																	oncomplete="PF('statusDialog').hide();"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="stockTypeId"
															class="validation-error-label" />
													</div>
												</div>

												<p:outputPanel id="entityPanelTypeView">
													<p:outputPanel id="entityPanelView"
														rendered="#{stockBean.entityFlag}">
														<div class="col-lg-3 col-md-3 col-sm-6">
															<div class="form-group">
																<p:outputLabel
																	value="#{msg['entity_master_code']} / #{msg['name']}" />
																<span class="text-danger">*</span>
																<div class="input-group ui-outputlabel ui-widget">
																	<span class="input-group-addon"><i
																		class="icon-list"></i></span>
																	<h:selectOneMenu styleClass="form-control"
																		id="entityTypeMasterId"
																		required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																		requiredMessage="#{msg['entity_type_code_name_req']}"
																		value="#{stockBean.selectedEntityTypeMaster}"
																		converter="#{entityConverter}">
																		<f:selectItem itemLabel="Select"
																			noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																		<f:selectItems
																			value="#{stockBean.entityTypeMasterList}" var="list"
																			itemValue="#{list}"
																			itemLabel="#{list.entityCode} / #{list.entityName} ">
																		</f:selectItems>
																		<p:ajax onstart="PF('statusDialog').show();"
																			listener="#{stockBean.loadEntityMasterList}"
																			event="change" update="entityPanelView"
																			oncomplete="PF('statusDialog').hide();">
																		</p:ajax>
																	</h:selectOneMenu>
																</div>
																<h:message for="entityTypeMasterId"
																	class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-3 col-md-3 col-sm-6">
															<div class="form-group">
																<p:outputLabel
																	value="#{msg['enty_code']} / #{msg['name']}" />
																<span class="text-danger">*</span>
																<div class="input-group ui-outputlabel ui-widget">
																	<span class="input-group-addon"><i
																		class="icon-list"></i></span>
																	<h:selectOneMenu styleClass="form-control"
																		id="entityMasterId"
																		required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																		requiredMessage="#{msg['entity_code_name_req']}"
																		value="#{stockBean.selectedEntityMaster}"
																		converter="#{entityConverter}">
																		<f:selectItem itemLabel="Select"
																			noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																		<f:selectItems value="#{stockBean.entityMasterList}"
																			var="list" itemValue="#{list}"
																			itemLabel="#{list.code} / #{list.name}">
																		</f:selectItems>

																	</h:selectOneMenu>
																</div>
																<h:message for="entityMasterId"
																	class="validation-error-label" />
															</div>
														</div>
													</p:outputPanel>

													<p:outputPanel id="societyPanelView"
														rendered="#{stockBean.societyFlag}">
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['circle']}" />
																<div class="input-group ui-outputlabel ui-widget">
																	<span class="input-group-addon"><i
																		class="icon-list"></i></span>
																	<h:selectOneMenu styleClass="form-control" id="circle"
																		value="#{stockBean.selectedCircleMaster}"
																		converter="#{entityConverter}">
																		<f:selectItem itemLabel="Select Circle"
																			noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																		<f:selectItems value="#{stockBean.circleMasterList}"
																			var="list" itemValue="#{list}"
																			itemLabel="#{list.code} / #{list.name}">
																		</f:selectItems>
																		<p:ajax event="change" update="circle supl"
																			listener="#{stockBean.loadSupplierCodeNameByCircle}"
																			onstart="PF('statusDialog').show();"
																			onsuccess="PF('statusDialog').hide();">
																		</p:ajax>
																	</h:selectOneMenu>
																</div>
																<h:message for="circle" class="validation-error-label"></h:message>
															</div>
														</div>

														<div class="col-lg-3 col-md-3 col-sm-12">
															<div class="form-group">
																<p:outputLabel
																	value="#{msg['sup_code']} / #{msg['name']}" />
																<span class="text-danger">*</span>
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-hash"></i></span>
																	<ui:remove>
																		<h:selectOneMenu styleClass="form-control"
																			id="supplierId"
																			required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																			requiredMessage="#{msg['supplier_type_code_req']}"
																			value="#{stockBean.seletetedSupplierMaster}"
																			converter="#{entityConverter}">
																			<f:selectItem itemLabel="Select"
																				noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																			<f:selectItems
																				value="#{stockBean.supplierMasterList}" var="list"
																				itemValue="#{list}"
																				itemLabel="#{list.code} / #{list.name}">
																			</f:selectItems>
																		</h:selectOneMenu>
																	</ui:remove>
																	<p:autoComplete id="supl" minQueryLength="2"
																		styleClass="form-control"
																		converter="#{entityConverter}"
																		required="#{not empty param[saveBut.clientId] || not empty param[submitBut.clientId]}"
																		requiredMessage="#{msg['sup_code']} / #{msg['name']} #{msg['req']}"
																		panelStyle="max-height: 150px; width: 50px;"
																		value="#{stockBean.seletetedSupplierMaster}"
																		itemValue="#{sup}" var="sup"
																		itemLabel="#{not empty sup.code?sup.code.concat(' / ').concat(sup.name):sup.name}"
																		completeMethod="#{stockBean.supplierAutocomplete}"
																		effect="fade">
																		<p:ajax event="itemSelect" update="supl"></p:ajax>
																	</p:autoComplete>
																</div>
																<h:message for="supl" class="validation-error-label" />
															</div>
														</div>
													</p:outputPanel>
												</p:outputPanel>
											</p:outputPanel>
										</p:outputPanel>
										<div></div>
										<!-- end row -->
									</div>
								</div>
							</div>
						</div>
						<!-- collepse panel end -->
						<div class="panel panel-info m-b-0">
							<div class="panel-body no-padding-top">
								<p:outputPanel id="stockTransferRendered">
									<h:panelGroup rendered="#{!stockBean.stockInwardTypeFlag}">
										<h5 class="bord_bot">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['receive_product']}</span>
										</h5>

										<div class="row label-form">
											<p:outputPanel id="receiveProduct">
												<!-- Sub four table start   prodCategGroup -->
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel
															value="#{msg['product_category_group_code_or_name']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-stack3"></i></span>
															<h:selectOneMenu styleClass="form-control"
																value="#{stockBean.selectedProductCategoryGroup}"
																required="#{not empty param[addBut.clientId]}"
																requiredMessage="#{msg['product_category_group_code_name_req']}"
																filter="true" filterMatchMode="contains"
																id="prodCategGroup1" converter="#{entityConverter}">
																<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
																<f:selectItems
																	value="#{stockBean.productCategoryGroupList}"
																	var="list" itemValue="#{list}"
																	itemLabel="#{list.groupCode} / #{list.groupName}">
																</f:selectItems>
																<p:ajax event="change" update="produCategory2"
																	listener="#{stockBean.productCategoryListLoad}">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="prodCategGroup1"
															class="validation-error-label" />
													</div>
												</div>
												<!--  product category -->
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel
															value="#{msg['product_category_code_or_name']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-stack3"></i></span>
															<h:selectOneMenu styleClass="form-control"
																value="#{stockBean.selectedProductCategory}"
																required="#{not empty param[addBut.clientId]}"
																requiredMessage="#{msg['prod_cate_code_name_req']}"
																id="produCategory2" converter="#{entityConverter}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" itemValue="#{null}"></f:selectItem>
																<f:selectItems value="#{stockBean.productCategoryList}"
																	var="list" itemValue="#{list}"
																	itemLabel="#{list.productCatCode} / #{list.productCatName}">
																</f:selectItems>
																<p:ajax event="change" update="productGroupMaster3"
																	listener="#{stockBean.getAllProductGroupMasterList}">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="produCategory2"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<!--  product group master ->  -->
														<p:outputLabel value="#{msg['product_group_code_name']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-grid6"></i></span>
															<h:selectOneMenu styleClass="form-control"
																required="#{not empty param[addBut.clientId]}"
																requiredMessage="#{msg['prod_group_code_name_req']}"
																value="#{stockBean.selectedProductGroupMaster}"
																filter="true" filterMatchMode="contains"
																id="productGroupMaster3" converter="#{entityConverter}">
																<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
																<f:selectItems
																	value="#{stockBean.productGroupMasterList}" var="list"
																	itemValue="#{list}"
																	itemLabel="#{list.code} / #{list.name}">
																</f:selectItems>
																<p:ajax event="change" update="prodVarietyMaster4"
																	listener="#{stockBean.listenerProductVarietyMasterList}">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="productGroupMaster3"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<!--  product variety master -->
													<div class="form-group">
														<p:outputLabel
															value="#{msg['prod_variey_code']} / #{msg['name']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-tree6"></i></span>
															<h:selectOneMenu styleClass="form-control"
																value="#{stockBean.selectedProductVarietyMaster}"
																required="#{not empty param[addBut.clientId]}"
																requiredMessage="#{msg['prod_variety_code_name_req']}"
																filter="true" filterMatchMode="contains"
																id="prodVarietyMaster4" converter="#{entityConverter}">
																<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
																<f:selectItems
																	value="#{stockBean.productVarietyMasterList}"
																	var="list" itemValue="#{list}"
																	itemLabel="#{list.code} / #{list.name}">
																</f:selectItems>
																<p:ajax event="change"
																	update="uomtl qtytl1 qtytl stockTransferRendered"
																	listener="#{stockBean.productVarietyUpdate}">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="prodVarietyMaster4"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</div>

										<div class="row label-form">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['uom']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText id="uomtl" styleClass="form-control"
															required="#{not empty param[addBut.clientId]}"
															requiredMessage="#{msg['uom_is_req']}" disabled="true"
															value="#{stockBean.uomMaster.name}" />
													</div>
													<h:message for="uomtl" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pro_type']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu
															value="#{stockBean.stockTransferItems.productType}"
															id="proTypeId"
															required="#{not empty param[addBut.clientId]}"
															requiredMessage="#{msg['product_type_req']}"
															class="form-control">
															<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
															<f:selectItem itemLabel="Full Finished Products"
																itemValue="Full Finished Products"></f:selectItem>
															<f:selectItem itemLabel="Sample Products"
																itemValue="Sample Products"></f:selectItem>
															<f:selectItem itemLabel="Swatch" itemValue="Swatch"></f:selectItem>
															<p:ajax event="change"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="proTypeId" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['qty']} #{stockBean.uomMaster.name}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-inr fa-lg"></i></span>


														<p:inputText id="qtytl1" styleClass="form-control"
															maxlength="8"
															rendered="#{stockBean.uomMaster.name eq 'NOS'}"
															required="#{not empty param[addBut.clientId]}"
															requiredMessage="#{msg['qty_req']}"
															value="#{stockBean.stockTransferItems.orderedQty}">
															<p:keyFilter regEx="/[0-9]/i" />
														</p:inputText>

														<p:inputText type="text" class="text-right"
															rendered="#{stockBean.uomMaster.name ne 'NOS'}"
															id="qtytl" maxlength="8"
															required="#{not empty param[addBut.clientId]}"
															requiredMessage="#{msg['qty_req']}"
															value="#{stockBean.stockTransferItems.orderedQty}">
														</p:inputText>



													</div>
													<h:message for="qtytl qtytl1"
														class="validation-error-label" />
													<p:tooltip for="qtytl qtytl1"
														value="#{msg['Qty_min_max_len']}" />

												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12 text-right">
												<p:commandButton value="&#xe916; #{msg['clear']}"
													class="btn bg-slate font-iconmoon m-l-0"
													action="#{stockBean.clearVarietyDetails}"
													title="#{msg['clear']}"
													update="growls stockOutwardNumber stockTransferRendered stockTransferDataTable stockinwardtype stockOutId stockTypeId entityTypeMasterId entityMasterId supl prodCategGroup1 produCategory2 productGroupMaster3 prodVarietyMaster4 uomtl proTypeId qtytl qtytl1">
												</p:commandButton>
												<p:commandButton value="&#xea0e; #{msg['add']}"
													title="#{msg['add']}" binding="#{addBut}"
													actionListener="#{stockBean.itemCollectiorAddNewInward}"
													class="btn bg-success font-iconmoon"
													update="growls receiveProduct stockTransferRendered stockTransferDataTable"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()">
												</p:commandButton>
											</div>
										</div>
									</h:panelGroup>
								</p:outputPanel>


								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
								</h5>
								<div class="row">
									<div class="col-lg-12">
										<div class="table-responsive m-b-10">
											<p:outputPanel id="stockTransferDataTable">
												<!--  StockTransfer Type Category-->
												<p:dataTable value="#{stockBean.stockTransferItemsList}"
													var="item" id="stockTransferItemListTable"
													rowIndexVar="index"
													rendered="#{stockBean.stockInwardTypeFlag}"
													styleClass="report-table"
													emptyMessage="#{msg['no_records_found']}"
													widgetVar="stockTransferItemListTableWdgr">

													<p:column headerText="#" styleClass="width-3 text-center">
														<h:outputText value="#{index +1 }" />
													</p:column>

													<p:column
														headerText="#{msg['prod_variey_code']} / #{msg['name']}"
														styleClass="fa-input width-15">
														<h:outputText
															value="#{item.productVarietyMaster.code}/ #{item.productVarietyMaster.name}" />
													</p:column>

													<p:column headerText="#{msg['uom']}" styleClass="width-5">
														<h:outputText value="#{item.uomMaster.name}" />
													</p:column>

													<p:column headerText="#{msg['pro_type']}"
														styleClass="width-6">
														<h:outputText value="#{item.productType}" />
													</p:column>
													<ui:remove>
														<p:column headerText="#{msg['dis_qty']}"
															styleClass="width-6 text-right">
															<h:outputText value=" - " />
														</p:column>
													</ui:remove>

													<p:column headerText="#{msg['received_unit']}"
														styleClass="fa-input width-6 text-right">
														<h:outputText value="#{item.orderedQty}" />
													</p:column>

													<p:column headerText="#{msg['product_sample_number']}"
														styleClass="fa-input width-6 text-right">
														<h:outputText value="#{item.productSampleNumber}" />
													</p:column>
													<p:columnGroup type="footer">
														<p:row>
															<p:column styleClass="text-right" />
															<p:column colspan="3" footerText="#{msg['tot']}" />
															<ui:remove>
																<p:column footerText="00" />
															</ui:remove>
															<p:column
																footerText="#{stockBean.sumofReceivedUnit('receiveUnit')}" />
															<p:column style="text-align:left" footerText="" />
														</p:row>
													</p:columnGroup>
												</p:dataTable>

												<!--  Manual Inward Category-->
												<p:dataTable value="#{stockBean.stockTransferItemsList}"
													var="item" id="manualInwardItemListTable"
													rowIndexVar="index"
													emptyMessage="#{msg['no_records_found']}"
													rendered="#{!stockBean.stockInwardTypeFlag}"
													styleClass="report-table" editable="true"
													widgetVar="manualInwardItemListTableWdgr">

													<p:column headerText="#" styleClass="text-center width-3">
														<h:outputText value="#{index +1 }" styleClass="fa-input" />
													</p:column>

													<p:column
														headerText="#{msg['prod_variey_code']} / #{msg['name']}"
														styleClass="fa-input width-15">
														<h:outputText
															value="#{item.productVarietyMaster.code}/ #{item.productVarietyMaster.name}" />
													</p:column>

													<p:column headerText="#{msg['uom']}" styleClass="width-4">
														<h:outputText value="#{item.uomMaster.name}" />
													</p:column>

													<p:column headerText="#{msg['pro_type']}"
														styleClass="width-8 text-left">
														<h:outputText value="#{item.productType}" />
													</p:column>
													<ui:remove>
														<p:column headerText="#{msg['dis_qty']}"
															styleClass="width-6 text-right">
															<h:outputText value=" - " />
														</p:column>
													</ui:remove>
													<p:column headerText="#{msg['received_unit']}"
														styleClass="width-6 text-right">
														<h:outputText value="#{item.orderedQty}" />
													</p:column>

													<p:column headerText="#{msg['product_sample_number']}"
														styleClass="width-6 text-right">
														<h:outputText value="#{item.productSampleNumber}" />
													</p:column>
													<p:column headerText="#{msg['delete']}"
														styleClass="width-4 text-center">
														<p:commandButton value="&#xe99e;"
															update=":formTestingLab:stockTransferDataTable"
															class="btn bg-danger font-iconmoon btn-xs"
															title="#{msg['delete']}"
															process=":formTestingLab:stockTransferDataTable">
															<p:collector value="#{item}"
																removeFrom="#{stockBean.stockTransferItemsList}"
																unique="true" />
														</p:commandButton>
													</p:column>
													<p:columnGroup type="footer">
														<p:row>
															<p:column styleClass="text-right" />
															<p:column colspan="3" footerText="#{msg['tot']}" />
															<ui:remove>
																<p:column footerText="00" />
															</ui:remove>
															<p:column
																footerText="#{stockBean.sumofReceivedUnit('receiveUnit')}" />
															<p:column style="text-align:left" footerText="" />
															<p:column style="text-align:left" footerText=" " />
														</p:row>
													</p:columnGroup>
												</p:dataTable>
											</p:outputPanel>
										</div>
									</div>
								</div>


								<!-- Transport Details -->
								<p:outputPanel id="transportPanel">
									<div class="row">
										<div class="col-lg-12 text-right">
											<p:commandButton update="growls"
												value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn bg-slate font-iconmoon m-r-0"
												action="#{stockBean.gotoListPage}">
											</p:commandButton>
											<p:commandButton update="stockItemPanelId growls"
												value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
												binding="#{saveBut}" action="#{stockBean.saveStockTransfer}"
												class="btn bg-primary heading-btn  font-iconmoon">
												<f:setPropertyActionListener value="SAVE"
													target="#{stockBean.functionAction}"></f:setPropertyActionListener>
											</p:commandButton>
											<p:commandButton
												update="stockItemPanelId growls transportPanel"
												binding="#{submitBut}"
												value="&#xed6e;&nbsp;#{msg['submit']}"
												title="#{msg['submit']}" ajax="true"
												onstart="PF('statusDialog').show();"
												oncomplete="PF('statusDialog').hide();"
												class="btn bg-success heading-btn  font-iconmoon"
												action="#{stockBean.saveStockTransfer}">
												<f:setPropertyActionListener value="SUBMIT"
													target="#{stockBean.functionAction}"></f:setPropertyActionListener>
											</p:commandButton>
										</div>
									</div>
								</p:outputPanel>
							</div>
							<!-- end row -->
						</div>
					</div>
				</div>
				<!-- Modal with invoice -->

				<!-- Quality Check modal -->
				<div id="qualitycheck" class="modal fade">
					<div class="modal-dialog modal-lg-cust">
						<div class="modal-content">
							<div class="modal-lg-cust">
								<div class="modal-content">
									<div class="modal-header bg-info">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h6 class="modal-title">#{msg['bund_details']}</h6>
									</div>
									<div class="modal-body ">
										<div class="row label-form view-style">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['prod_variey_code_name']}" />
													<h:outputText value="HA2B / Saree" class="" />
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group m-b-0">
													<p:outputLabel value="#{msg['dis_qty']}" />
													<h:outputText value="500	" class="" />
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group m-b-0">
													<p:outputLabel value="#{msg['received_unit']}" />
													<h:outputText value="500	" class="" />
												</div>
											</div>
										</div>
										<div class="row label-form view-style">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group m-b-0">
													<p:outputLabel value="#{msg['accpt_qty']}" />
													<h:outputText value="620	" class="" />
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group m-b-0">
													<p:outputLabel value="#{msg['rej_qty']}" />
													<h:outputText value="540	" class="" />
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="form-group m-b-0">
													<p:outputLabel class="fa-input"
														value="#{msg['value']} &nbsp; (&#xf156;)" />
													<h:outputText value="12500.00	" class="" />
												</div>
											</div>
										</div>
										<hr></hr>
										<div class="row m-t-10">
											<div class="col-lg-12">
												<div class="panel-body p-0">
													<div class="row">
														<div class="col-md-12 col-sm-12 col-lg-12">
															<div id="table-scroll"
																class="cust-tab2 table-scroll table-responsive">
																<div id="faux-table" class="faux-table" aria="hidden"></div>
																<div class="scrollTabHgt-300">
																	<table id="main-table" class="main-table cust-table2">
																		<thead>
																			<tr>
																				<th rowspan="2" align="center" style="width: 3%">#</th>
																				<th rowspan="2" class="ui-state-default text-center">
																					#{msg['bun_nums']}</th>
																				<th rowspan="2" class="ui-state-default text-center"
																					style="width: 10%">#{msg['tot']}
																					#{msg['recd_unit']}</th>
																				<th rowspan="2" class="ui-state-default text-center"
																					style="width: 10%">#{msg['tot']}
																					#{msg['accpt_qty']}</th>
																				<th rowspan="2" class="ui-state-default text-center"
																					style="width: 10%">#{msg['tot']}
																					#{msg['rej_qty']}</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr>
																				<td align="center">1</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">2</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">3</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">4</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">5</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">6</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">7</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																			<tr>
																				<td align="center">8</td>
																				<td>560, 648, 710, 820, 973</td>
																				<td align="center" style="">48</td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="12" /></td>
																				<td align="center" style=""><p:inputText
																						maxlength="30" class="form-control text-right"
																						value="36" /></td>
																			</tr>
																		</tbody>
																		<tfoot>
																			<tr>
																				<td align="right" colspan="2"><strong>
																						Total</strong></td>
																				<td align="center" style="">548</td>
																				<td align="right" style="">148</td>
																				<td align="right" style="">300</td>
																			</tr>
																		</tfoot>
																	</table>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12 col-lg-12 text-right m-t-10 m-b-0">
															<p:commandButton onclick="#"
																value="&#xed6a;&nbsp;#{msg['cancel']}"
																title="#{msg['cancel']}"
																class="btn bg-slate heading-btn  font-iconmoon">
															</p:commandButton>

															<p:commandButton update="growls"
																value="&#xed6e;&nbsp;#{msg['submit']}"
																title="#{msg['submit']}"
																class="btn bg-success heading-btn  font-iconmoon">
															</p:commandButton>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
		<!-- /modal with invoice -->
		<!-- / Quality Check modal -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>