<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{testReportBean}"></ui:param>
		<style>
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}
</style>
		<title>Infotex | Testing_Lab - Test Report List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['testing_lab']} - #{msg['test_report_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['testing_lab']}</li>
						<li class="active">#{msg['testing_lab']} -
							#{msg['test_report_list']}</li>
					</ul>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText> </strong>-
						#{msg['test_report']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
								action="#{testReportBean.showTestReportListPageAction}"
								disabled="#{!bean.addButtonFlag}" title="#{msg['add']}"
								rendered="#{loginBean.userFeatures['TEST_REPORT_ADD']}"
								class="btn bg-success font-iconmoon m-r-0" id="addId">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}" id="editId"
								update="growls" title="#{msg['edit']}"
								rendered="#{loginBean.userFeatures['TEST_REPORT_EDIT']}"
								action="#{testReportBean.showTestReportListPageAction}"
								disabled="#{!bean.editButtonFlag}"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
								id="viewId" title="#{msg['view']}"
								action="#{testReportBean.showTestReportListPageAction}"
								disabled="#{!bean.viewButtonFlag}"
								rendered="#{loginBean.userFeatures['TEST_REPORT_VIEW']}"
								class="btn bg-info heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}"
								update="growls" title="#{msg['delete']}"
								action="#{testReportBean.showTestReportListPageAction}"
								disabled="#{!bean.deleteButtonFlag}"
								rendered="#{loginBean.userFeatures['TEST_REPORT_DELETE']}"
								class="btn bg-danger font-iconmoon" id="deleteId">
								<f:setPropertyActionListener value="Delete"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								class="btn bg-slate font-iconmoon" title="#{msg['clear']}"
								action="#{bean.showTestingLabReportListPage}">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="testLabList" widgetVar="testLabReportListTable"
							class="table" var="data" rowKey="#{data.id}"
							selection="#{bean.selectedTestReport}"
							value="#{bean.lazyTestReportList}" lazy="true"
							paginatorAlwaysVisible="false" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('menupanel')}" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" styleClass="width-10"
								filterBy="#{data.stockTransfer.referenceNumber}"
								filterMatchMode="contains" headerText="#{msg['st_in_num']}"
								sortBy="#{data.stockTransfer.referenceNumber}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="referenceNumber" class="form-control"
										onkeyup="PF('testLabReportListTable').filter()" />
								</f:facet>
								<h:outputText value="#{data.stockTransfer.referenceNumber}" />
							</p:column>

							<p:column headerText="#{msg['st_in_dt']}"
								styleClass="text-center form-group_calend width-8"
								sortBy="#{data.stockTransferItems.createdDate}" sortable="true"
								filterBy="#{data.stockTransferItems.createdDate}"
								filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('testLabReportListTable').filter()"
										id="inwardDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
										navigator="true" styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('testLabReportListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.stockTransferItems.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column filterable="true"
								filterBy="#{data.stockTransferItems.productSampleNumber}"
								filterMatchMode="contains" styleClass="width-8"
								headerText="#{msg['sample_number']}"
								sortBy="#{data.stockTransferItems.productSampleNumber}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="sampleNumber" class="form-control"
										onkeyup="PF('testLabReportListTable').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.stockTransferItems.productSampleNumber}" />
							</p:column>
							<p:column filterable="true"
								filterBy="#{data.productVarietyMaster.code}"
								filterMatchMode="contains" styleClass="width-15"
								headerText="#{msg['prod_variey_code_name']}"
								sortBy="#{data.productVarietyMaster.code}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="code" class="form-control"
										onkeyup="PF('testLabReportListTable').filter()" />
								</f:facet>
								<h:outputText
									value="#{(data.productVarietyMaster.code).concat(data.productVarietyMaster.name).length() gt 30 ? fn:substring({data.productVarietyMaster.code.concat('/').concat(data.productVarietyMaster.name)}, 1, 32).concat('...'):(data.productVarietyMaster.code.concat('/').concat(data.productVarietyMaster.name))}"
									title="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
							</p:column>

							<ui:remove>
								<p:column headerText="#{msg['created_date']}"
									styleClass="text-center form-group_calend"
									sortBy="#{data.createdDate}" sortable="true"
									filterBy="#{data.createdDate}" filterMatchMode="exact">
									<f:facet name="filter">
										<p:calendar onchange="PF('testLabReportListTable').filter()"
											id="createdDae" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
											navigator="true" styleClass="form-control calend-icon">
											<p:ajax event="dateSelect"
												oncomplete="PF('testLabReportListTable').filter()" />

										</p:calendar>
									</f:facet>
									<h:outputText value="#{data.createdDate}">
										<f:convertDateTime pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}" />
									</h:outputText>
								</p:column>
							</ui:remove>


							<p:column headerText="#{msg['status']}"
								filterBy="#{data.activeStatus}" sortBy=" #{data.activeStatus}"
								sortable="true" styleClass="text-center width-6">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('testLabReportListTable').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="#{true}" itemLabel="Active" />
										<f:selectItem itemValue="#{false}" itemLabel="InActive" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText
									styleClass="#{ (data.activeStatus eq true) ? 'label label-success sts_shortl' : 'label label-default sts_shortl' }"
									value="#{data.activeStatus eq true?'ACTIVE':'INACTIVE'}">
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-3" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>

					<ui:remove>
						<!-- <div class="dataTables_info m-b-0 m-l-10"
						id="DataTables_Table_2_info" role="status" aria-live="polite">
						<button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button>
					</div> -->
					</ui:remove>
				</div>
			</div>
		</div>

		<!-- Confirm Delete Start -->
		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmTestReportDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmTestReportDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
					action="#{bean.deleteConfirm}"
					oncomplete="PF('confirmTestReportDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		<!-- Confirm Delete End -->
	</ui:define>
</ui:composition>
