<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>Infotex | Testing Lab - Stock Inward List</title>
		<!-- Page Header -->
		<h:form>
			<f:metadata>
				<f:viewAction
					action="#{testingLabStockInwardBean.clearButtonRendered}" />
			</f:metadata>
			<style>
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}
</style>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['testing_lab']} - #{msg['stk_inrd_lst']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['testing_lab']}</li>
							<li class="active">#{msg['testing_lab']} -
								#{msg['stk_inrd_lst']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<div class="heading-elements"></div>
				</div>
			</div>

			<!-- End Page Header -->
			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title">
							<b> <h:outputText id="totalRecord"
									value="#{testingLabStockInwardBean.size}" />
							</b> - #{msg['testing_lab']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:outputPanel id="actionButtons">
								<p:commandButton value="&#xea0e; #{msg['add']}"
									class="btn bg-success font-iconmoon m-r-0"
									title="#{msg['add']}" update="growls"
									rendered="#{testingLabStockInwardBean.renderedCreate}"
									action="#{testingLabStockInwardBean.gotoAddPage}"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog).hide();">
								</p:commandButton>
								<p:commandButton value="&#xe912; #{msg['edit']}" update="growls"
									title="#{msg['edit']}" class="btn bg-primary font-iconmoon"									action="#{testingLabStockInwardBean.editSelectedStockTransfer}"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();">
								</p:commandButton>
								<ui:remove>
									rendered="#{testingLabStockInwardBean.renderedEdit}"
								</ui:remove>
								<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
									title="#{msg['view']}" class="btn bg-info font-iconmoon"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();"
									action="#{testingLabStockInwardBean.viewSelectedStockTransfer}"
									rendered="#{testingLabStockInwardBean.renderedView}">
								</p:commandButton>
								<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
									id="idDelete" title="#{msg['delete']}"
									rendered="#{testingLabStockInwardBean.renderedDelete}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{testingLabStockInwardBean.callDeleteTransfer}"
									update="growls" class="btn bg-danger font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xe916; #{msg['clear']}"
									title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
									action="#{testingLabStockInwardBean.clearButton}">
								</p:commandButton>
							</p:outputPanel>
						</div>
					</div>
				</div>


				<p:dialog header="#{msg['confirmation_delete_title']}"
					draggable="false" modal="true"
					styleClass="p-0 overlay-pop modal-dialog" closable="true"
					width="30%" widgetVar="confirmUserDelete" showEffect="fade"
					hideEffect="fade" closeOnEscape="true" resizable="false">
					<div class="modal-body">
						<h:outputText value="#{msg['confirmation_delete']}" />
					</div>
					<div class="modal-footer m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
							title="#{msg['no']}"
							styleClass="btn bg-slate heading-btn font-iconmoon"
							oncomplete="PF('confirmUserDelete').hide()" />
						<p:commandButton ajax="false"
							styleClass="btn bg-success heading-btn font-iconmoon"
							value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
							action="#{testingLabStockInwardBean.deleteStockTransfer}"
							oncomplete="PF('confirmUserDelete').hide()">
						</p:commandButton>
					</div>
				</p:dialog>

				<div class="panel panel-info ">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<p:dataTable
								value="#{testingLabStockInwardBean.stockTransferLazyList}"
								var="list" rowKey="#{list.id}" paginator="true"
								id="liststockTransferLazyList"
								widgetVar="liststockTransferLazyListWdgr" lazy="true"
								rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="index"
								paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								selection="#{testingLabStockInwardBean.selectedStockTransfer}"
								emptyMessage="#{msg['no_records_found']}">
								<p:ajax event="filter" oncomplete="updateFilterSelection()" />

								<p:ajax event="rowSelectRadio"
									listener="#{testingLabStockInwardBean.onRowSelect}"
									update=":#{p:component('actionButtons')}" />

								<p:column headerText="#" styleClass="text-center width-3">
									<f:facet name="header">
										<p:outputLabel value="#" />
									</f:facet>
									<h:outputText styleClass="ui-column-title" value="#{index+1}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['st_in_num']}"
									filterBy="#{list.referenceNumber}" filterMatchMode="contains"
									sortBy="#{list.referenceNumber}">
									<h:outputText styleClass="ui-column-title"
										value="#{list.referenceNumber}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['sender_code']} / #{msg['name']}"
									sortBy="#{list.fromEntityMaster.name}"
									filterBy="#{list.fromEntityMaster.name}"
									filterMatchMode="contains">
									<h:outputText styleClass="ui-column-title"
										value="#{list.fromEntityMaster.name}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['receiver_code']} / #{msg['name']}"
									sortBy="#{list.toEntityMaster.name}"
									filterBy="#{list.toEntityMaster.name}"
									filterMatchMode="contains">
									<h:outputText styleClass="ui-column-title"
										value="#{list.toEntityMaster.name}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['stock_receiver_date']}"
									styleClass="text-center form-group_calend"
									sortBy="#{list.dateReceived}" filterBy="#{list.dateReceived}"
									filterMatchMode="contains">
									<f:facet name="filter">
										<p:calendar id="receivedDate" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" mask="true"
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control calend-icon" yearRange="c-10:c+10"
											navigator="true">
											<p:ajax event="dateSelect"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
											<p:ajax event="change" execute="@this"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
										</p:calendar>
									</f:facet>
									<h:outputText styleClass="ui-column-title"
										value="#{list.dateReceived}">
										<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
									</h:outputText>
								</p:column>

								<p:column headerText="#{msg['status']}" sortBy="#{list.status}"
									filterBy="#{list.status}" filterMatchMode="exact"
									styleClass="text-center">
									<f:facet name="filter">
										<h:selectOneMenu
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control">
											<f:selectItem itemLabel="Select One" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockItemInwardBean.stockTransferEnumStatus}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText
										styleClass="ui-column-title label label-default width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'INITIATED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-warning width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'SUBMITTED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-danger width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'ACKNOWLEDGE'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-success width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'COMPLETED'}"></h:outputText>
								</p:column>
								
								<p:column headerText="#{msg['select']}" selectionMode="single"
									styleClass="text-center width-4">
								</p:column>
							</p:dataTable>

							<p:remoteCommand name="updateFilterSelection"
								update=":#{p:component('totalRecord')}" autoRun="true" />
						</div>
					</div>
				</div>
			</div>
			
			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="deleteConfirm" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false"
				id="deleteConfirmID">
				<div class="modal-body">
					<p:outputPanel id="deleteDialogPanel">
						<h:outputText value="#{msg['delete_record']}" />
					</p:outputPanel>
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('deleteConfirm').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
						onclick="PF('statusDialog').show();"
						action="#{testingLabStockInwardBean.deleteStockTransfer}"
						oncomplete="PF('deleteConfirm').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>