<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{stockUploadBean.redirectSVInProgressPageForReceiptUpload}" />
		</f:metadata>
		<title>InfoTex | #{msg['receipt_stock_upload']}</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['receipt_stock_upload']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['stock_management']}</li>
						<li class="active">#{msg['receipt_stock_upload']}</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="content">
			<div
				class="panel panel-info panel-group-control panel-group-control-right">
				<div class="panel-heading">
					<h6 class="panel-title">
						#{msg['receipt_stock_upload']} <span class="pull-right text-13">(<span
							class="text-danger">*</span> #{msg['marked_field_mandatory']})
						</span>
					</h6>
				</div>

				<p:outputPanel id="searchPanel">
					<div class="panel-body page-scroll-without-process">
						<div class="row custom-form-1 label-form">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:outputLabel value="#{msg['stock_date']}" />
								<span class="mand-sign-input">*</span>
								<div class="form-group form-group_calend">
									<p:calendar id="stockdate" placeholder="dd-MMM-yyyy"
										readonlyInput="true" mindate="new Date()"
										value="#{stockUploadBean.stockDate}" maxdate="new Date()"
										disabled="true" pattern="dd-MMM-yyyy" navigator="true"
										required="#{not empty param[verify.clientId]}"
										requiredMessage="#{msg['date_is_req']}"
										styleClass="form-control-1 calend-icon-1">
										<p:ajax update="" event="dateSelect" />
									</p:calendar>
									<h:message for="stockdate" class="validation-error-label"></h:message>
								</div>
							</div>


							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:outputLabel value="#{msg['receipt_stock_upload']}" />
								<span class="mand-sign-input">*</span>
								<div class="input-group image-preview" style="width: 100%">
									<p:inputText class="form-control" id="fileName"
										value="#{stockUploadBean.receiptFileName}" style="width:62%"
										disabled="true" />
									<div
										class=" no-padding contact-upload upload-popup file-upload-support pull-left">
										<div class="btn-file-upload m-l-8">
											<p:fileUpload label="&#xf093;&nbsp; #{msg['upload']}"
												fileUploadListener="#{stockUploadBean.uploadReceiptStockFile}"
												onstart="PF('progressDlg').show();" styleClass="btn-upload"
												oncomplete="PF('progressDlg').hide();" mode="advanced"
												update="growls fileName" auto="true">
											</p:fileUpload>
										</div>
									</div>
								</div>
								<small class="uploadfinename">File format : LED,S2W,W2W</small>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group">
									<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
										action="#{stockUploadBean.recieptStockClearData}"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();" update="searchPanel"
										class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
									</p:commandButton>
									<p:commandButton value="&#xed6e;&nbsp;#{msg['verify']}"
										update="valuesPanelid searchPanel growls errorPanelId"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();" binding="#{verify}"
										disabled="#{stockUploadBean.openingStockDataPOSDTOList.size() > 0}"
										action="#{stockUploadBean.uploadReceiptStockFileConfirm}"
										class="btn bg-success font-iconmoon" title="#{msg['verify']}">
									</p:commandButton>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:outputPanel id="errorPanelId">
										<c:forEach items="#{stockUploadBean.openingStockErrorList}"
											var="item">
											<h:outputText value="#{item}" escape="false"></h:outputText>
											<br></br>
										</c:forEach>
									</p:outputPanel>
									<p:outputPanel id="valuesPanelid"
										styleClass="#{stockUploadBean.openingStockDataPOSDTOList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable id="accountcategorylisttable"
											widgetVar="openingStockWidget" scrollable="true"
											scrollHeight="180" styleClass="custom-input-width m-b-10"
											var="data" rowKey="#{data.id}" rowIndexVar="idx"
											value="#{stockUploadBean.openingStockDataPOSDTOList}"
											emptyMessage="#{msg['no_records_found']}">
											<p:column headerText="#" class="sno-ovrflw-5 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column headerText="#{msg['category_code_name']}"
												styleClass="width-12">
												<h:outputText
													value="#{data.categoryCode} / #{data.categoryName}" />
											</p:column>
											<p:column headerText="#{msg['product_group_code_name']}"
												styleClass="width-15">
												<h:outputText value="#{data.groupCode} / #{data.groupName} " />
											</p:column>
											<p:column headerText="#{msg['pdt_code_name']}"
												styleClass="width-20">
												<h:outputText
													value="#{data.productCode} / #{data.productName}" />
											</p:column>
											<p:column headerText="#{msg['unit_rate']} (&#xf156;)"
												styleClass="width-6 fa-input text-right">
												<h:outputText value="#{data.unitRate}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['qunatity']}"
												styleClass="width-6 text-right">
												<h:outputText value="#{data.quantity}" />
											</p:column>
											<p:column headerText="#{msg['qr_cd']}" styleClass="width-14">
												<h:outputText value="#{data.qrCode}" />
											</p:column>
											<p:column headerText="#{msg['at_number']}"
												styleClass="width-8">
												<h:outputText value="#{data.atNumber}" />
											</p:column>
											<p:column headerText="#{msg['ref_num']}"
												styleClass="width-10">
												<h:outputText value="#{data.referanceNumber}" />
											</p:column>
											<p:column headerText="#{msg['open_stock_value']}"
												styleClass="width-8 text-right">
												<h:outputText value="#{data.openingStockvalue}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									onclick="window.location.href='#{request.contextPath}/pages/home.xhtml'"
									class="btn bg-slate font-iconmoon" title="#{msg['cancel']}">
								</p:commandButton>
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									disabled="#{stockUploadBean.openingStockDataPOSDTOList.size() == 0}"
									action="#{stockUploadBean.submitReceiptStockData}"
									update="searchPanel growls"
									class="btn bg-success font-iconmoon" title="#{msg['submit']}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</div>

			<p:dialog header="#{msg['confirm_upload_file']}" draggable="false"
				modal="true" styleClass="p-0 overlay-pop modal-dialog"
				closable="true" width="30%" widgetVar="confirmOpeningStockUpload"
				showEffect="fade" hideEffect="fade" closeOnEscape="true"
				resizable="false">

				<div class="modal-body">
					<h:outputText
						value="#{msg['ob_file_name_already_exist_u_want_override']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmOpeningStockUpload').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{stockUploadBean.uploadFileConfirm}"
						oncomplete="PF('confirmOpeningStockUpload').hide()">
						<f:setPropertyActionListener value="true"
							target="#{stockUploadBean.fileNameExists}" />
					</p:commandButton>
				</div>
			</p:dialog>

		</div>

	</ui:define>
</ui:composition>