<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Department</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_dept']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['view_dept']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['dept']}</h6>
					</div>

					<div class="panel-body p-t-10">
						<div class="row view-style">
							<!-- <div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Department Code" />
											<h:outputText value="1235689" class="" />
										</div>
									</div> -->
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept_name']}" />
									<h:outputText value="Technical" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept_name']} (#{msg['in_tamil']})" />
									<h:outputText value="தொழில்நுட்பம்" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['security_deposit']}" />
									<span><i class="fa fa-inr fa-lg"></i>
									<h:outputText value="" /></span>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<h:outputText value="Active" class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['created_date']}" />
									<h:outputText value="21-Jun-2018 04:19:32" class="">
										<f:convertDateTime timeZone="GMT+05:30"
											pattern="dd-MMM-YYYY hh:mm:ss" />
									</h:outputText>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['created_by']}" />
									<h:outputText value="hosuper1" class="">
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['modified_date']}" />
									<h:outputText value="21-Jun-2018 06:06:40" class="">
										<f:convertDateTime timeZone="GMT+05:30"
											pattern="dd-MMM-YYYY hh:mm:ss" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['modified_by']}" />
									<h:outputText value="hosuper1" class="">
									</h:outputText>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-sm-12 col-md-12 text-right">
								<p:commandButton class="btn btn-sm bg-info font-iconmoon"
									value="&#xeddf; #{msg['back']}" title="#{msg['back']}"
									onclick="window.location.href='#{request.contextPath}/pages/masters/department/listDepartment.xhtml'">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>