<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<style>
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight td {
	color: #555 !important;
}
</style>

		<h:form id="addAdditionalForm">
			<title>InfoTex | Create Additional Production Plan</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<h:outputText value="#{msg['create_add_pro_plan']}"
								rendered="#{!additionalProductionPlanBean.headerNameAddEdit}" />
							<h:outputText value="#{msg['create_edit_pro_plan']}"
								rendered="#{additionalProductionPlanBean.headerNameAddEdit}" />
						</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['production_plan']}</li>
							<li class="active"><h:outputText
									value="#{msg['create_add_pro_plan']}"
									rendered="#{!additionalProductionPlanBean.headerNameAddEdit}" />
								<h:outputText value="#{msg['create_edit_pro_plan']}"
									rendered="#{additionalProductionPlanBean.headerNameAddEdit}" />
							</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								<h:outputText value="#{msg['create_add_pro_plan']}"
									rendered="#{!additionalProductionPlanBean.headerNameAddEdit}" />
								<h:outputText value="#{msg['create_edit_pro_plan']}"
									rendered="#{additionalProductionPlanBean.headerNameAddEdit}" />
								<p:outputLabel styleClass="pull-right">
									<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>
								</p:outputLabel>
							</h6>
						</div>

						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="pg-scroll-panel-1">
								<div class="panel-body p-b-0">
									<p:outputPanel id="pannel">
										<div class="row custom-form-1 label-form">
											<div class="col-lg-6 col-md-6 col-sm-12">
												<p:outputLabel value="#{msg['plan_name']}" />
												<span class="mand-red">*</span>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-file-plus2"></i></span>
														<p:inputText class="form-control fa-input" id="planName"
															maxlength="100"
															required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId]}"
															requiredMessage="#{msg['plan_name_req']}"
															validatorMessage="#{errorMap.msg(8526)}"
															value="#{additionalProductionPlanBean.additionalProductionPlan.planName}"
															placeholder="">
															<p:ajax event="keyup" update="planNameMsg" />
															<f:validateLength minimum="3" maximum="100" />
														</p:inputText>
													</div>
													<h:message for="planName" id="planNameMsg"
														class="validation-error-label" />
													<p:tooltip for="planName" value="#{errorMap.msg(8526)}" />
													<p:focus for="planName"
														rendered="#{additionalProductionPlanBean.additionalProductionPlan.planName==null}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['plan']} - #{msg['from']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="planFrom"
														value="#{additionalProductionPlanBean.additionalProductionPlan.planFrom}"
														mindate="new Date()" pattern="dd-MMM-yyyy"
														placeholder="dd-MMM-yyyy" navigator="true"
														required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['plan_from_is_req']}"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax update="planFromMsg,growls,planTo"
															event="dateSelect"
															listener="#{additionalProductionPlanBean.onChangeDate}" />
													</p:calendar>
													<h:message for="planFrom" class="validation-error-label"
														id="planFromMsg" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['plan']} - #{msg['to']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="planTo"
														value="#{additionalProductionPlanBean.additionalProductionPlan.planTo}"
														pattern="dd-MMM-yyyy"
														mindate="#{additionalProductionPlanBean.additionalProductionPlan.planFrom}"
														placeholder="dd-MMM-yyyy" navigator="true"
														required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['plan_to_is_req']}"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax update="planToMsg,growls" event="dateSelect"
															listener="#{additionalProductionPlanBean.onChangeDate}" />
													</p:calendar>
													<h:message for="planTo" class="validation-error-label"
														id="planToMsg" />
												</div>
											</div>
										</div>

										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_for']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu styleClass="form-control "
															required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
															id="planFor" requiredMessage="#{msg['plan_for_req']}"
															value="#{additionalProductionPlanBean.additionalProductionPlan.planFor}">
															<f:selectItem itemLabel="Select" noSelectionOption="true"
																itemValue="#{null}"></f:selectItem>
															<f:selectItem itemValue="Showroom" itemLabel="Showroom"></f:selectItem>
															<f:selectItem itemValue="Exhibition"
																itemLabel="Exhibition"></f:selectItem>
															<f:selectItem itemValue="Others" itemLabel="Others"></f:selectItem>
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																listener="#{additionalProductionPlanBean.onChangeProperty}"
																update="planForMsg regPanel exPanel showroom otherPanel"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="planFor" class="validation-error-label"
														id="planForMsg" />
												</div>
											</div>

											<p:outputPanel id="regPanel">
												<p:outputPanel
													rendered="#{additionalProductionPlanBean.showRoomFlag}">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel class=""
																value="#{msg['regional_office']} #{msg['code_name']}" />
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-office"></i></span>
																<h:selectOneMenu id="region"
																	value="#{additionalProductionPlanBean.region}"
																	class="form-control select2"
																	converter="#{entityConverter}"
																	requiredMessage="#{msg['regional_off_code_name_req']}"
																	validatorMessage="#{errorMap.msg(9904)}">
																	<f:selectItem itemLabel="#{msg['select']}"
																		noSelectionOption="true" />
																	<f:selectItems
																		value="#{additionalProductionPlanBean.regionList}"
																		var="region"
																		itemLabel="#{region.code} / #{region.name}"
																		itemValue="#{region}" />
																	<p:ajax event="change"
																		onstart="PF('statusDialog').show()"
																		update="regionMsg showroom"
																		listener="#{additionalProductionPlanBean.onChangeRegion}"
																		onsuccess="PF('statusDialog').hide()" />
																</h:selectOneMenu>
															</div>
															<h:message for="region" class="validation-error-label"
																id="regionMsg" />
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel class=""
																value="#{msg['sroom_code']} / #{msg['name']}" />
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-office"></i></span>
																<h:selectOneMenu id="showroom"
																	value="#{additionalProductionPlanBean.additionalProductionPlan.entityMaster}"
																	class="form-control select2"
																	converter="#{entityConverter}"
																	requiredMessage="#{msg['show_code_name_req']}">
																	<f:selectItem itemLabel="#{msg['select']}"
																		noSelectionOption="true" />
																	<f:selectItems
																		value="#{additionalProductionPlanBean.showroomList}"
																		var="showroom"
																		itemLabel="#{showroom.code} / #{showroom.name}"
																		itemValue="#{showroom}" />
																	<p:ajax event="change"
																		onstart="PF('statusDialog').show()"
																		update="showroomMsg"
																		onsuccess="PF('statusDialog').hide()" />
																</h:selectOneMenu>
															</div>
															<h:message for="showroom" class="validation-error-label"
																id="showroomMsg" />
														</div>
													</div>
												</p:outputPanel>
											</p:outputPanel>

											<p:outputPanel id="exPanel">
												<p:outputPanel
													rendered="#{additionalProductionPlanBean.exFlag}">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel class=""
																value="#{msg['exhibition_code']} / #{msg['name']}" />
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-office"></i></span>
																<h:selectOneMenu id="exhibition"
																	value="#{additionalProductionPlanBean.additionalProductionPlan.exhibitionMaster}"
																	class="form-control select2"
																	converter="#{entityConverter}"
																	requiredMessage="#{msg['exhibition_code_name_req']}">
																	<f:selectItem itemLabel="#{msg['select']}"
																		noSelectionOption="true" />
																	<f:selectItems
																		value="#{additionalProductionPlanBean.exhibitionMasterList}"
																		var="exhib"
																		itemLabel="#{exhib.exhibitionCode} / #{exhib.exhibitionName}"
																		itemValue="#{exhib}" />
																	<p:ajax event="change"
																		onstart="PF('statusDialog').show()"
																		update="exhibitionMsg"
																		onsuccess="PF('statusDialog').hide()" />
																</h:selectOneMenu>
															</div>
															<h:message for="exhibition"
																class="validation-error-label" id="exhibitionMsg" />
														</div>
													</div>
												</p:outputPanel>
											</p:outputPanel>

											<p:outputPanel id="otherPanel">
												<p:outputPanel
													rendered="#{additionalProductionPlanBean.ortherFlag}">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['others']}" />
															<div class="input-group ui-outputlabel ui-widget">
																<span class="input-group-addon"><i
																	class="icon-office"></i></span>
																<p:inputText styleClass="form-control"
																	value="#{additionalProductionPlanBean.additionalProductionPlan.others}">
																	<p:ajax event="change"
																		onstart="PF('statusDialog').show()" update="othersMsg"
																		onsuccess="PF('statusDialog').hide()" />
																</p:inputText>
															</div>
															<h:message class="validation-error-label" id="othersMsg" />
															<p:tooltip value="#{msg['pl_en']} #{msg['others']}" />
														</div>
													</div>
												</p:outputPanel>
											</p:outputPanel>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['plan_due_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="planDueDate" mindate="new Date()"
														pattern="dd-MMM-yyyy"
														value="#{additionalProductionPlanBean.additionalProductionPlan.planDueDate}"
														navigator="true"
														required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['plan_due_date_req']}"
														placeholder="dd-MMM-yyyy"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax update="planDueDateMsg" event="dateSelect" />
													</p:calendar>
													<h:message for="planDueDate" class="validation-error-label"
														id="planDueDateMsg" />
												</div>
											</div>
										</div>

										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['plan_request_details']}</span>
										</h5>
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['request_from']}" />
													<span class="mand-red">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class=" icon-tree6"></i></span>
														<ui:remove>
															<h:selectOneMenu id="employee"
																required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
																value="#{additionalProductionPlanBean.additionalProductionPlan.requestFromEmployee}"
																class="form-control select2"
																converter="#{entityConverter}"
																requiredMessage="#{msg['request_from_req']}"
																validatorMessage="#{msg['request_from_invalid']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{additionalProductionPlanBean.employeeList}"
																	var="employee"
																	itemLabel="#{employee.empCode} / #{employee.firstName} #{employee.lastName}"
																	itemValue="#{employee}" />
																<p:ajax event="change"
																	onstart="PF('statusDialog').show()"
																	update="employeeMsg"
																	onsuccess="PF('statusDialog').hide()" />
															</h:selectOneMenu>
														</ui:remove>

														<p:autoComplete id="empidcode" minQueryLength="2"
															styleClass="form-control" converter="#{entityConverter}"
															requiredMessage="#{msg['staff_name_req']}"
															value="#{additionalProductionPlanBean.additionalProductionPlan.requestFromEmployee}"
															var="emp"
															itemLabel="#{emp.personalInfoEmployment.pfNumber.concat('/').concat(emp.firstName).concat(emp.lastName)}"
															itemValue="#{emp}"
															completeMethod="#{additionalProductionPlanBean.loadstaffByAutoComplete}"
															effect="fade">
															<p:ajax event="itemSelect" />
														</p:autoComplete>
													</div>
													<h:message for="employee" class="validation-error-label"
														id="employeeMsg" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['req_date']}" />
												<span class="mand-red">*</span>
												<div class="form-group form-group_calend">
													<p:calendar id="leasefrom1"
														value="#{additionalProductionPlanBean.additionalProductionPlan.requestedDate}"
														mindate="new Date()" pattern="dd-MMM-yyyy"
														navigator="true"
														required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] || not empty param[addBtn.clientId]}"
														requiredMessage="#{msg['request_date_req']}"
														placeholder="dd-MMM-yyyy"
														styleClass="form-control-1 calend-icon-1">
														<p:ajax update="leasefrom1Msg" event="dateSelect" />
													</p:calendar>
													<h:message for="leasefrom1" class="validation-error-label"
														id="leasefrom1Msg" />
												</div>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['reason']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText styleClass="form-control" id="reason"
															value="#{additionalProductionPlanBean.additionalProductionPlan.requestReason}">
														</p:inputText>
														<p:tooltip for="reason"
															value="#{msg['pl_en']} #{msg['reason']}" />
													</div>
												</div>
											</div>
										</div>

										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['prod_details']}</span>
										</h5>
										<div class="row custom-form-1 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_category_code']}/ #{msg['name']}"
														for="productCategory" />
													<p:outputLabel value="*" for="productCategory"
														class="mand-red"
														rendered="#{empty param[addBtn.clientId]}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-stack3"></i></span>
														<h:selectOneMenu id="productCategory"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{additionalProductionPlanBean.productCategory}"
															required="#{not empty param[addBtn.clientId]}"
															requiredMessage="#{msg['prod_cate_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems var="category"
																itemLabel="#{category.productCatCode}/#{category.productCatName}"
																itemValue="#{category}"
																value="#{additionalProductionPlanBean.productCategoryList}" />
															<p:ajax event="change"
																update="productCategory, productCategoryMsg,productGroupMaster productVarietyMaster quantity uom"
																listener="#{additionalProductionPlanBean.changeProductCategory}"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="productCategory" id="productCategoryMsg"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_group_code']}/ #{msg['name']}"
														for="productGroupMaster" />
													<p:outputLabel value="*" for="productGroupMaster"
														class="mand-red"
														rendered="#{empty param[addBtn.clientId]}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-grid6"></i></span>
														<h:selectOneMenu id="productGroupMaster"
															styleClass="form-control" converter="#{entityConverter}"
															value="#{additionalProductionPlanBean.productGroupMaster}"
															required="#{not empty param[addBtn.clientId]}"
															requiredMessage="#{msg['prod_group_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems var="group"
																itemLabel="#{group.code}/#{group.name}"
																itemValue="#{group}"
																value="#{additionalProductionPlanBean.productGroupList}" />
															<p:ajax event="change"
																listener="#{additionalProductionPlanBean.changeProductGroup}"
																update="productVarietyMaster, productGroupMasterMsg, productGroupMaster, quantity uom"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="productGroupMaster"
														id="productGroupMasterMsg" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_variey_code']}/ #{msg['name']}"
														for="productVarietyMaster" />
													<p:outputLabel value="*" for="productVarietyMaster"
														class="mand-red"
														rendered="#{empty param[addBtn.clientId]}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-tree6"></i></span>
														<h:selectOneMenu id="productVarietyMaster"
															converter="#{entityConverter}"
															value="#{additionalProductionPlanBean.productVarietyMaster}"
															styleClass="form-control"
															required="#{not empty param[addBtn.clientId]}"
															requiredMessage="#{msg['prod_variety_code_name_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems var="productvariety"
																itemLabel="#{productvariety.code}/#{productvariety.name}"
																itemValue="#{productvariety}"
																value="#{additionalProductionPlanBean.productList}" />
															<p:ajax event="change"
																listener="#{additionalProductionPlanBean.changesProductVariety}"
																update="productVarietyMaster productVarietyMasterMsg, quantity uom"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="productVarietyMaster"
														id="productVarietyMasterMsg"
														class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['uom']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-design"></i></span>
														<p:inputText styleClass="form-control" id="uom"
															disabled="true"
															value="#{additionalProductionPlanBean.uamCode}">
															<p:ajax event="change"></p:ajax>
														</p:inputText>
													</div>
													<p:tooltip for="uom" value="#{msg['pl_en']} #{msg['uom']}" />
												</div>
											</div>
										</div>

										<div class="row label-form">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputPanel id="quantity">
													<div class="form-group">
														<p:outputLabel value="#{msg['qunatity']}" />
														<span class="mand-red">*</span>
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-stackoverflow"></i></span>
															<p:inputNumber autocomplete="off" maxlength="10"
																minValue="0" decimalPlaces="0"
																rendered="#{additionalProductionPlanBean.uamCode ne 'METR'}"
																value="#{additionalProductionPlanBean.additionalProductionPlanDetails.itemQunatity}">
																<p:ajax event="change"
																	listener="#{additionalProductionPlanBean.setQuantity}"></p:ajax>
															</p:inputNumber>
															<p:inputNumber autocomplete="off" maxlength="10"
																decimalPlaces="2" minValue="0"
																rendered="#{additionalProductionPlanBean.uamCode eq 'METR'}"
																value="#{additionalProductionPlanBean.additionalProductionPlanDetails.itemQunatity}">
																<p:ajax event="change"
																	listener="#{additionalProductionPlanBean.setQuantity}"></p:ajax>
															</p:inputNumber>
															<p:tooltip for="quantity"
																value="#{msg['pl_en']} #{msg['qunatity']}" />
														</div>
													</div>
												</p:outputPanel>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
													<div class="input-group">
														<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
															title="#{msg['clear']}"
															oncomplete="PF('confirmAddlnPlanClear').show()"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															class="btn bg-slate font-iconmoon m-l-0">
														</p:commandButton>

														<p:commandButton id="btnAddProduct"
															value="&#xea0e; #{msg['add']}" title="#{msg['add']}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" binding="#{addBtn}"
															action="#{additionalProductionPlanBean.addProduct}"
															update="productTable growls pannel"
															class="btn bg-success font-iconmoon">
														</p:commandButton>

													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</div>

								<div class="panel-body">
									<div class="row">
										<div class="col-sm-12">
											<div class="table-responsive">
												<p:outputPanel id="tablePanel">
													<p:dataTable var="product" editable="true"
														styleClass="report-table"
														value="#{additionalProductionPlanBean.additionalProductionPlan.additionalProductionPlanDetailList}"
														id="productTable" rowIndexVar="idx">
														<p:ajax event="rowEdit"
															listener="#{additionalProductionPlanBean.onRowEdit}"
															process="quantityrow totalItemId"
															update="productTable:quantityrow totalItemId" />
														<p:column headerText="#" styleClass="text-center width-4">
															<h:outputText value="#{idx+1}." />
														</p:column>

														<p:column headerText="#{msg['prod_variey_code_name']}"
															styleClass="text-center">
															<h:outputText
																value="#{product.productVarietyMaster.code}/#{product.productVarietyMaster.name}" />
														</p:column>

														<p:column headerText="#{msg['uom']}"
															styleClass="text-center">
															<h:outputText
																value="#{product.productVarietyMaster.uomMaster.code}" />
														</p:column>

														<p:column headerText="#{msg['qunatity']}"
															styleClass="text-right">
															<p:cellEditor>
																<f:facet name="output">
																	<h:outputText value="#{product.itemQunatity}"
																		rendered="#{product.productVarietyMaster.uomMaster.code eq 'METR'}">
																		<f:convertNumber pattern="#0.00"></f:convertNumber>
																	</h:outputText>
																	<h:outputText value="#{product.itemQunatity}"
																		rendered="#{product.productVarietyMaster.uomMaster.code ne 'METR'}">
																		<f:convertNumber pattern="#0"></f:convertNumber>
																	</h:outputText>
																</f:facet>
																<f:facet name="input">
																	<p:outputPanel id="itemqty">
																		<p:inputNumber autocomplete="off" maxlength="15"
																			validatorMessage="Item Quantity is invalid"
																			decimalPlaces="2" minValue="0"
																			rendered="#{product.productVarietyMaster.uomMaster.code eq 'METR'}"
																			value="#{product.itemQunatity}">
																		</p:inputNumber>
																		<p:inputNumber autocomplete="off" maxlength="15"
																			validatorMessage="Item Quantity is invalid"
																			decimalPlaces="0" minValue="0"
																			rendered="#{product.productVarietyMaster.uomMaster.code ne 'METR'}"
																			value="#{product.itemQunatity}">
																		</p:inputNumber>
																	</p:outputPanel>
																</f:facet>
															</p:cellEditor>
															<h:message for="itemqty" id="itemqtyMsg"
																class="validation-error-label" />
														</p:column>

														<p:column headerText="#{msg['action']}"
															styleClass="width-15 text-center">
															<p:commandButton value="&#xe99e;"
																onstart="PF('statusDialog').show();"
																onsuccess="PF('statusDialog').hide();"
																action="#{additionalProductionPlanBean.confirmRemoveProduct(product)}"
																class="btn bg-danger font-iconmoon btn-xs m-l-0" />
														</p:column>

														<p:columnGroup type="footer"
															rendered="#{additionalProductionPlanBean.additionalProductionPlan.additionalProductionPlanDetailList.size() != 0}"
															id="totalItemQunatityId">
															<p:row id="quantityrow">
																<p:column colspan="3" styleClass="text-right"
																	footerText="#{msg['tot']}" />
																<p:column>
																	<f:facet name="footer">
																		<h:outputText id="totalItemId"
																			styleClass="text-center"
																			value="#{additionalProductionPlanBean.totalItemQunatity}">
																			<f:convertNumber pattern="#0.00" />
																		</h:outputText>
																	</f:facet>
																</p:column>
																<p:column></p:column>
															</p:row>
														</p:columnGroup>
													</p:dataTable>
												</p:outputPanel>
											</div>
										</div>
									</div>
									<div class="row label-form m-t-15">
										<p:outputPanel id="forwardpannel">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['forward_to']}" for="fwdto" />
													<p:outputLabel value="*" for="fwdto" class="mand-red"
														rendered="#{empty param[proSave.clientId] and empty param[proSubmit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon" id="forwardTo"><i
															class="icon-forward" aria-hidden="true"></i></span>
														<ui:remove>
															<h:selectOneMenu id="fwdto" styleClass="form-control"
																converter="#{entityConverter}"
																required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId]}"
																value="#{additionalProductionPlanBean.additionalProductionPlanNote.forwardTo}"
																requiredMessage="Forward to #{msg['required']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems var="user"
																	value="#{additionalProductionPlanBean.forwardToUsersList}"
																	itemValue="#{user}"
																	itemLabel="#{user.empCode}/#{user.empName}"></f:selectItems>
																<p:ajax event="change" update="fwdtoreqmsg" />
															</h:selectOneMenu>
														</ui:remove>

														<p:autoComplete id="fwdto" minQueryLength="2"
															styleClass="form-control" converter="#{entityConverter}"
															required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId] 
														and empty additionalProductionPlanBean.additionalProductionPlanNote.forwardTo.id}"
															requiredMessage="#{msg['forward_to_req']}"
															value="#{additionalProductionPlanBean.additionalProductionPlanNote.forwardTo}"
															itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
															completeMethod="#{additionalProductionPlanBean.loadAutoCompleteUserMaster}"
															effect="fade">
															<p:ajax event="itemSelect" update="fwdto"></p:ajax>
														</p:autoComplete>

													</div>
													<h:message for="fwdto" class="validation-error-label"
														id="fwdtoreqmsg" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['forward_for']}" for="fwdfor" />
													<p:outputLabel value="*" for="fwdfor" class="mand-red"
														rendered="#{empty param[proSave.clientId] and empty param[proSubmit.clientId]}" />
													<div class="input-group">
														<span class="input-group-addon" id="finalApproval"><i
															class="icon-forward" aria-hidden="true"></i></span>
														<h:selectOneMenu id="fwdfor" styleClass="form-control"
															required="#{not empty param[proSave.clientId] || not empty param[proSubmit.clientId]}"
															value="#{additionalProductionPlanBean.additionalProductionPlanNote.finalApproval}"
															requiredMessage="Forward For #{msg['required']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true"></f:selectItem>
															<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
															<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
															<p:ajax event="change" update="fwdforreqmsg" />
														</h:selectOneMenu>
													</div>
													<h:message for="fwdfor" class="validation-error-label"
														id="fwdforreqmsg" />
												</div>
											</div>
										</p:outputPanel>
									</div>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<p:commandButton value="&#xf067; #{msg['create_note']}"
												title="#{msg['create_note']}"
												styleClass="btn bg-success btn-md fa-input m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 text-right">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												immediate="true" update="growls"
												action="#{additionalProductionPlanBean.getAdditionalPlanListPage}"
												class="btn bg-slate font-iconmoon m-l-0"
												onclick="PF('statusDialog').show()" title="#{msg['cancel']}">
											</p:commandButton>
											<p:commandButton value="&#xead4;&nbsp;#{msg['save']}"
												update="growls pannel forwardpannel" binding="#{proSave}"
												title="#{msg['save']}"
												class="btn bg-primary heading-btn  font-iconmoon"
												action="#{additionalProductionPlanBean.saveAdditionalProductionPlan('INITIATED')}"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()">
											</p:commandButton>
											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												update="growls pannel forwardpannel" binding="#{proSubmit}"
												title="#{msg['submit']}" onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()"
												class="btn bg-success heading-btn font-iconmoon"
												action="#{additionalProductionPlanBean.saveAdditionalProductionPlan('SUBMITTED')}">
											</p:commandButton>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- /Customer Info Popup -->
			<div id="modal_cust_info" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-info">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h6 class="modal-title">#{msg['cust_mstr_det']}</h6>
						</div>

						<div class="modal-body view-style">
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['crd_det']}</span>
									</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['crd_alw']}" />
										<h:outputText value="Yes" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['cre_max_int_mon']}" />
										<h:outputText value="12" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['cre_amt_max_lmt']}" />
										<h:outputText value="12000.00" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['inst_del_pay']}" />
										<h:outputText value="10 Days" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['inst_per']}" />
										<h:outputText value="10%" class="" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['bnk_det']}</span>
									</h5>

								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bnk_name']}" />
										<h:outputText value="State Bank of India" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['branch_code']} / #{msg['name']}" />
										<h:outputText
											value="001683 / State Bank of India - West Mambalam" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['ifsc_cod']}" />
										<h:outputText value="SBIN001683" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['act_no']}" />
										<h:outputText value="20047487097" class="" />
									</div>
								</div>


							</div>
							<div class="row">
								<div class="col-lg-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['contact_details']}</span>
									</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['contact_name']}" />
												<h:outputText value="Raja S" class="" />
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['local_contact']}" />
												<h:outputText value="ராஜா எஸ்" class="" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['contact_num']}" />
												<h:outputText value="044-26415681" class="" />
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['mob_no']}" />
												<h:outputText value="9884645681" class="" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group ">
										<p:outputLabel value="#{msg['cust_add']}" />
										<div class="">

											<span class="">Thillaiyadi Valliammai Co-optex,</span> <span
												class="">No.25, 1st Cross Street, Nethaji Nagar,</span> <span
												class="">Mambalam, Chennai, TamilNadu - 600 033,
												India</span> <span class="">Landmark: Near Railway Station</span>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['email']}" />
										<h:outputText value="raja2012@gmail.com" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['fx_num']}" />
										<h:outputText value="02124634-044" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['note']}" />
										<h:outputText value="Text here" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="text-right">
										<p:commandButton value="&#xeddf; #{msg['back']}"
											title="#{msg['back']}"
											onclick="window.location.href='#{request.contextPath}/pages/operation/productionplan/listAdditionalProductionPlan.xhtml'"
											styleClass="btn btn-sm bg-info font-iconmoon m-t-20" />
									</div>
								</div>
							</div>
							<div class="row"></div>

						</div>
					</div>
				</div>
			</div>
		</h:form>

		<p:dialog header="#{msg['confirmation']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="confirmAddlnPlanDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />

			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmAddlnPlanDelete').hide()" />
				<p:commandButton
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{additionalProductionPlanBean.removeProduct}"
					oncomplete="PF('confirmAddlnPlanDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

		<p:dialog header="#{msg['confirmation']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="confirmAddlnPlanClear"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['are_u_sure_want_to_clear_data']}" />

			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmAddlnPlanClear').hide()" />
				<p:commandButton update="addAdditionalForm"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{additionalProductionPlanBean.clearItems}"
					oncomplete="PF('confirmAddlnPlanClear').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form id="noteform">
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<!-- WYSIHTML5 basic -->
								<div class="form-group">
									<p:textEditor widgetVar="editor1" id="noteId"
										value="#{additionalProductionPlanBean.note}" height="200" />
								</div>
								<ui:remove>
									<!-- <p:textEditor widgetVar="editor2" id="noteId"
									value="#{additionalProductionPlanBean.note}" height="150"
									style="margin-bottom:10px" placeholder="Enter your content">
									<f:facet name="toolbar">
										<span class="ql-formats">
											<button class="ql-bold"></button>
											<button class="ql-italic"></button>
											<button class="ql-underline"></button>
											<button class="ql-strike"></button>
										</span>
										<span class="ql-formats"> <select class="ql-font"></select>
											<select class="ql-size"></select>
										</span>
									</f:facet>
								</p:textEditor> -->
								</ui:remove>


								<div class="col-md-12">
									<div class="carousel slide media-carousel" id="media">
										<div class="carousel-inner">
											<div class="item  active">
												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-3">
														<div
															class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h6 class="m-t-0 text-center">Created By</h6>
																</li>
																<li>Name :
																	#{additionalProductionPlanBean.employeeMaster.firstName}</li>
																<li>Designation :
																	#{additionalProductionPlanBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
																<li>Date :
																	#{additionalProductionPlanBean.currentCreatedDate}</li>
															</ul>
														</div>
													</div>

												</div>
											</div>
										</div>
										<a data-slide="prev" href="#media"
											class="left carousel-control">‹</a> <a data-slide="next"
											href="#media" class="right carousel-control">›</a>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<div class="form-group m-b-0">
											<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
												onclick="PF('notedialog').hide()"
												class="btn bg-slate heading-btn  font-iconmoon" />
											<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
												update="noteform noteId" onsuccess="PF('notedialog').hide()"
												class="btn bg-success heading-btn  font-iconmoon"
												action="#{additionalProductionPlanBean.submitNote}">
											</p:commandButton>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</h:form>
		</p:dialog>
		<!-- Comment -->

		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel1">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}"
									onclick="window.location.href='listInitiateRequirementRequest.xhtml'"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- /.Comment -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>
