<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<h:form>
			<p:outputPanel id="editPanel">
				<title>InfoTex | Edit Manual Attendance</title>
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4>#{msg['attend']} - #{msg['ed_manual_att']}</h4>
							<ul class="breadcrumb">
								<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li>#{msg['personnel']}</li>
								<li>#{msg['human_resource']}</li>
								<li>#{msg['attend']}</li>
								<li class="active">#{msg['ed_manual_att']}</li>
							</ul>
						</div>
					</div>
				</div>



				<div class="content m-b-0">
					<div class="page-scroll-without-outsight-panel">
						<div
							class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-0"
							id="accordion-control-right">
							<div class="panel-heading bg-info">
								<h6 class="panel-title">
									#{msg['man_att']}<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>

							</div>
							<div class="panel-body view-style">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ho_ro']}" />
											<span class="">#{manualAttendanceBean.manualAttendance.headOrRegionOffice.name}</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ent_typ']}" />
											<span class="">#{manualAttendanceBean.manualAttendance.headOrRegionOffice.name
												eq 'HEAD OFFICE'?'Head
												Office':manualAttendanceBean.manualAttendance.entityTypeMaster.entityName}</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['entity']}" />
											<span class="">#{manualAttendanceBean.manualAttendance.headOrRegionOffice.name
												eq 'HEAD OFFICE'?'HEAD
												OFFICE':manualAttendanceBean.manualAttendance.entityMaster.name}</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<span class="">#{manualAttendanceBean.manualAttendance.department.name}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel m-t-15 m-b-0">
							<div class="panel-body p-t-10">
								<div class="row">
									<div class="col-lg-6">
										<h5 class="m-b-0 m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i> <h:outputText
													id="headerName" value="#{msg['manual_att_sta']}"></h:outputText></span>
										</h5>
									</div>
									<ui:remove>
									<div class="col-lg-6 text-right">
										<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
											onclick="PF('manualwidvar').clearFilters()"
											update="manualdettbl" title="#{msg['clear']}"
											class="btn bg-slate font-iconmoon m-b-10">
										</p:commandButton>

									</div>
									</ui:remove>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="table-responsive">
											<p:dataTable id="manualdettbl"
												value="#{manualAttendanceBean.manualAttendance.manualAttendanceDetails}"
												widgetVar="manualwidvar" rowKey="#{manualAtten.id}"
												var="manualAtten" rowIndexVar="idx"
												styleClass="report-table"
												selection="#{manualAttendanceBean.finalAttendanceDetails}"
												rowStyleClass="#{manualAtten.status == 'Approved' or manualAtten.status == 'Rejected' ? 'ui-helper-hidden' : ''}"
												emptyMessage="#{msg['no_records_found']}"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												rows="10" paginator="true" paginatorPosition="bottom"
												tableStyleClass="" rowsPerPageTemplate="5,10,15">

												<p:column headerText="#{msg['pf_no']}"
													styleClass="width-8 text-center">
													<h:outputText value="#{manualAtten.pfNumber}"></h:outputText>
												</p:column>

												<p:column headerText="#{msg['emp_name']}"
													styleClass="width-14">
													<h:outputText value="#{manualAtten.employeeName}"></h:outputText>
												</p:column>

												<p:column headerText="#{msg['date']}"
													styleClass="width-8 text-center">
													<h:outputText value="#{manualAtten.attendanceDate}">
														<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['itime']}"
													styleClass="timeinput width-10 text-center">
													<pe:timePicker value="#{manualAtten.inTime}">
														<p:ajax event="change" 
															listener="#{manualAttendanceBean.updateMinhourMaxhour}"
															update="manualdettbl" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
														<f:attribute name="manAtte" value="#{manualAtten}" />
														
													</pe:timePicker>
												</p:column>

												<p:column headerText="#{msg['otime']}"
													styleClass="timeinput width-10 text-center">
													
													<pe:timePicker value="#{manualAtten.outTime}"
														minHour="#{manualAtten.minHour}"
														minMinute="#{manualAtten.minMinute}">
														<p:ajax event="close"
															listener="#{manualAttendanceBean.updateWorkDuration}"
															update="manualdettbl" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"></p:ajax>
															<p:ajax oncomplete="updateTime();"></p:ajax>
														<f:attribute name="manAtte" value="#{manualAtten}" />
													</pe:timePicker>
												</p:column>

												<p:column headerText="#{msg['work_dura']}"
													styleClass="width-8 text-center">
													<h:outputText value="#{manualAtten.workDuration}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="HH:mm " />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['over_time']}"
													styleClass="width-6 text-center">
													<h:outputText value="#{manualAtten.overTime}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="HH:mm " />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['tot_dura']}"
													styleClass="width-8 text-center">
													<h:outputText value="#{manualAtten.totalDuration}">
														<f:convertDateTime timeZone="GMT+05:30" pattern="HH:mm " />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['at_type']}"
													styleClass="width-8">
													<h:outputText value="#{manualAtten.attendanceType.name}"></h:outputText>
												</p:column>

												<p:column headerText="#{msg['shift_type']}"
													styleClass="width-8">
													<h:outputText value="#{manualAtten.shiftType}"></h:outputText>
												</p:column>

												<ui:remove>
													<p:column headerText="#{msg['status']}"
														styleClass="width-8">
														<h:outputText value="#{manualAtten.status}"></h:outputText>
													</p:column>
												</ui:remove>

												<p:column headerText="#{msg['select']}"
													selectionMode="multiple" styleClass="text-center width-5" />
											</p:dataTable>
											<p:remoteCommand actionListener="#{manualAttendanceBean.updateWorkDuration()}" name="updateTime" />
										</div>
									</div>
								</div>

								<!-- Forward Section -->
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['frwd_to']}" />
										<span class="text-danger">*</span>
										<div class="form-group">
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="frwdto" styleClass="form-control"
														converter="#{entityConverter}"
														value="#{manualAttendanceBean.manualAttendance.forwardToId}"
														required="#{not empty param[update.clientId]}"
														requiredMessage="#{msg['frwd_to']} #{msg['required']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems
															value="#{manualAttendanceBean.forwardToUsersList}"
															var="frwd" itemLabel="#{frwd.empCode} / #{frwd.empName}"
															itemValue="#{frwd.id}" />
														<p:ajax event="change" update="@this"></p:ajax>
													</h:selectOneMenu>
												</ui:remove>
												<p:autoComplete id="frwdto" minQueryLength="2"
													styleClass="form-control" converter="#{entityConverter}"
													required="#{not empty param[update.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{manualAttendanceBean.userMaster}"
													itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{manualAttendanceBean.loadAutoCompleteUserMaster}">
													<p:ajax event="itemSelect" update="frwdto"></p:ajax>
												</p:autoComplete>
											</div>
											<h:message for="frwdto" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['frwd_for']}" />
											<span class="text-danger">*</span>
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="frwdfor" styleClass="form-control"
													value="#{manualAttendanceBean.manualAttendance.finalApprove}"
													required="#{not empty param[update.clientId]}"
													requiredMessage="#{msg['frwd_for']} #{msg['required']}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItem itemLabel="Approval" itemValue="false" />
													<f:selectItem itemLabel="Final Approval" itemValue="true" />
													<p:ajax update="@this"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="frwdfor" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:commandButton value="&#xf044; #{msg['edit_note']}"
											title="#{msg['edit_note']}"
											styleClass="btn bg-primary btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
									</div>
									<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
										<div class="text-right ">
											<p:commandButton value="&#xed6a; #{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn btn-sm bg-slate font-iconmoon m-l-0"
												action="#{manualAttendanceBean.cancel}" immediate="true"
												onclick="PF('progressDlg').show();" tabindex="12"
												oncomplete="PF('progressDlg').hide();" />
											<p:commandButton value="&#xeda7;&nbsp;#{msg['update']}"
												title="#{msg['update']}" onclick="PF('progressDlg').show();"
												action="#{manualAttendanceBean.updateManualAttendance}"
												update="growls editPanel" binding="#{update}"
												oncomplete="PF('progressDlg').hide();" tabindex="13"
												class="btn btn-sm bg-primary font-iconmoon" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</p:outputPanel>
		</h:form>

		<!-- View note Popup -->
		<p:dialog header="#{msg['edit_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0 top-100">

			<p:outputPanel id="customerPanel">
				<div class="panel-body p-0">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
							<li class="pull-right"><a href="#large-tab2"
								data-toggle="tab"> <i class="icon-plus3"></i></a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1" height="200"
										value="#{manualAttendanceBean.manualAttendance.note}" />
								</div>
							</div>
						</div>
						<div class='col-md-12'>
							<div class="carousel slide media-carousel" id="media">
								<div class="carousel-inner">
									<div class="item  active">
										<div class="row">
											<div class="col-md-3">
												<div
													class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
													<ul class="list list-icons m-b-0">
														<li>
															<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
															<h6 class="m-t-0 text-center">Created By</h6>
														</li>
														<li>Name :
															#{manualAttendanceBean.employeeMaster.firstName}</li>
														<li>Designation :
															#{manualAttendanceBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
														<li>Date : #{manualAttendanceBean.currentCreatedDate}</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>

								<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
								<a data-slide="next" href="#media"
									class="right carousel-control">›</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									class="btn bg-slate heading-btn  font-iconmoon"
									onclick="PF('notedialog').hide();" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onclick="PF('notedialog').hide();" />
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:dialog>

	</ui:define>
</ui:composition>