<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('VIEW_BIOMETRIC_ATTENDANCE')}" />
		</f:metadata>
		<ui:param name="bean" value="#{biometricAttendanceBean}"></ui:param>
		<ui:param name="searchObject"
			value="#{biometricAttendanceBean.biometricAttendanceDto}"></ui:param>

		<title>InfoTex | View Biometric Attendance</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_biometric_attendance']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['attend']}</li>
						<li class="active">#{msg['view_biometric_attendance']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content  page-scroll-hp no-padding-bottom">
			<div class=" ">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['bio_att']}
							<p:outputLabel styleClass="pull-right">
								<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>
							</p:outputLabel>

						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<p:outputPanel id="search-panel">
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['ho_ro']}" for="horo" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="horo" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="horo" styleClass="form-control"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['ho_ro_req']} "
													value="#{searchObject.regionHeadOffice}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}"></f:selectItem>
													<f:selectItems itemValue="#{obj}"
														itemLabel="#{obj.name.toUpperCase()}" var="obj"
														value="#{bean.headRegionOfficeList}"></f:selectItems>
													<p:ajax event="change" listener="#{bean.updateEntityList}"
														update="type entity employee"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="horo" class="validation-error-label"></h:message>
											<p:focus for="horo" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['enty_typ']}" for="type" />

											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu id="type" styleClass="form-control"
													disabled="#{bean.visibility eq true}"
													value="#{searchObject.entityType}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{entityType}"
														itemLabel="#{entityType.entityName.toUpperCase()}"
														var="entityType" value="#{bean.entityTypeList}"></f:selectItems>
													<p:ajax event="change" listener="#{bean.updateEntityList}"
														update="entity"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="type" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['enty_cod_nam']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu id="entity" styleClass="form-control"
													disabled="#{bean.visibility eq true}"
													value="#{searchObject.entityId}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{entity.id}"
														itemLabel="#{entity.code} / #{entity.name}" var="entity"
														value="#{bean.entityList}"></f:selectItems>
													<p:ajax update="entity"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['desgn']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-user-tie"></i></span>
												<h:selectOneMenu id="designation" styleClass="form-control"
													converter="#{entityConverter}"
													value="#{searchObject.designationId}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{designation.id}"
														itemLabel="#{designation.name}" var="designation"
														value="#{bean.designationList}"></f:selectItems>
													<p:ajax event="change"
														listener="#{bean.updateEmployeeList}" update="employee"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									<ui:remove>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="dept" styleClass="form-control"
														value="#{searchObject.departmentId}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems itemValue="#{dept.id}"
															itemLabel="#{dept.name}" var="dept"
															value="#{bean.departmentList}"></f:selectItems>
														<p:ajax event="change"
															listener="#{bean.updateDesginationList}"
															update="designation"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</ui:remove>
								</div>

								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['employee']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<h:selectOneMenu id="employee" styleClass="form-control"
													value="#{searchObject.empId}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{emp.id}"
														itemLabel="#{emp.empNameWithPfNumber}" var="emp"
														value="#{bean.employeeList}"></f:selectItems>
												</h:selectOneMenu>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['start_date']}" />
											<span class="mand-red">*</span>
											<div class="form-group form-group_calend m-b-0">
												<p:calendar id="startDate" pattern="dd-MMM-yyyy"
													navigator="true"
													required="#{not empty param[submit.clientId]}"
													autocomplete="off" readonlyInput="true"
													placeholder="dd-MMM-yyyy"
													requiredMessage="#{msg['start_date_is_req']}"
													value="#{searchObject.startDate}"
													maxdate="#{bean.currentDate}"
													styleClass="form-control-1 calend-icon-1">
													<p:ajax listener="#{bean.updateEndDate}" event="dateSelect"
														update="endDate"></p:ajax>
												</p:calendar>
											</div>
											<h:message for="startDate" class="validation-error-label" />

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['end_date']}" />
											<span class="mand-red">*</span>
											<div class="form-group form-group_calend m-b-0">
												<p:calendar id="endDate" pattern="dd-MMM-yyyy"
													readonlyInput="true" navigator="true"
													placeholder="dd-MMM-yyyy"
													mindate="#{searchObject.startDate}" autocomplete="off"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['end_date_is_req']}"
													value="#{searchObject.endDate}"
													maxdate="#{bean.currentDate}"
													disabled="#{searchObject.startDate eq null}"
													styleClass="form-control-1 calend-icon-1">
												</p:calendar>
											</div>
											<h:message for="endDate" class="validation-error-label" />
										</div>
									</div>
								</div>
							</p:outputPanel>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton update="growls search-panel attendanceList"
										action="#{bean.clear}" immediate="true"
										value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										class="btn bg-slate font-iconmoon m-r-0">
									</p:commandButton>
									<p:commandButton update="growls search-panel attendanceList"
										onclick="PF('progressDlg').show();" id="search"
										binding="#{submit}" oncomplete="PF('progressDlg').hide();"
										value="&#xe98e;&nbsp;#{msg['search']}"
										title="#{msg['search']}" action="#{bean.search}"
										class="btn bg-info heading-btn  font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['biometric_attendance_details']}</span>
						</h5>
						<div class="row" id="internal2">
							<div class="col-sm-12">
								<div class=" table-responsive">
									<p:dataTable id="attendanceList" var="data"
										styleClass="report-table" widgetVar="attendanceListTable"
										rowKey="#{data.id}" paginatorAlwaysVisible="false"
										value="#{bean.biometricAttendanceList}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										paginator="true" paginatorPosition="bottom"
										rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
										emptyMessage="#{msg['no_records_found']}">

										<p:column headerText="#{msg['s_no']}"
											class="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['enty_typ']}">
											<h:outputText value="#{data.entityType}" />
										</p:column>

										<p:column headerText="#{msg['entity']}">
											<h:outputText value="#{data.entityName}" />
										</p:column>
										<p:column headerText="#{msg['emp_name']}">
											<h:outputText value="#{data.employeeName}" />
										</p:column>
										<p:column headerText="#{msg['desgn']}">
											<h:outputText value="#{data.designation}" />
										</p:column>
										<p:column headerText="#{msg['punch_time']}"
											styleClass="text-center form-group_calend">
											<h:outputText value="#{data.checktime}">
												<f:convertDateTime pattern="dd-MMM-yyyy hh:mm a"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['date']}" rendered="false"
											styleClass="text-center form-group_calend">
											<h:outputText value="#{data.createdDate}">
												<f:convertDateTime pattern="dd-MM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>
									</p:dataTable>



									<ui:remove>
										<div id="table-scroll" class="cust-tab2 table-scroll">
											<div id="faux-table" class="faux-table" aria="hidden"></div>
											<div class="table-wrap table-wrap-fst-pop">
												<table id="main-table" class="main-table cust-table">
													<thead>
														<tr>
															<th scope="col" width="3%">#</th>
															<th class="ui-state-default text-center width-8"><p:outputLabel
																	value="#{msg['enty_typ']}" /></th>
															<th class="ui-state-default text-center width-8"><p:outputLabel
																	value="#{msg['entity']}" /></th>
															<th class="ui-state-default text-center width-8"><p:outputLabel
																	value="#{msg['emp_name']}" /></th>
															<th class="ui-state-default text-center width-8"><p:outputLabel
																	value="#{msg['desgn']}" /></th>
															<th class="ui-state-default text-center width-8"><p:outputLabel
																	value="#{msg['date']}" /></th>
															<th class="ui-state-default text-center width-15"><p:outputLabel
																	value="#{msg['punch_time']}" /></th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="text-center">1</td>
															<td>Chennai</td>
															<td>Vananvil Showroom</td>
															<td>Ramesh / P832</td>
															<td>Manager</td>
															<td class="text-center">12-mar-2018</td>
															<td class="text-center">09:30</td>
														</tr>
														<tr>
															<td class="text-center">2</td>
															<td>Regional Office</td>
															<td>Showroom</td>
															<td>Vimal / P483</td>
															<td>Admin</td>
															<td class="text-center">12-mar-2018</td>
															<td class="text-center">10:22</td>

														</tr>
														<tr>
															<td class="text-center">3</td>
															<td>Chennai</td>
															<td>Vananvil Showroom</td>
															<td>Ramesh / P548</td>
															<td>Manager</td>
															<td class="text-center">12-mar-2018</td>
															<td class="text-center">17:23</td>
														</tr>
													</tbody>
												</table>

												<ui:remove>
													<div class="dataTables_info m-b-0 m-l-10"
														id="DataTables_Table_2_info" role="status"
														aria-live="polite">
														<button type="button" title="Download PDF"
															class="btn btn-primary btn-xs">
															<i class="icon-file-pdf position-left"></i>PDF
														</button>
														<button type="button" title="Download Excel"
															class="btn btn-success btn-xs">
															<i class="icon-file-excel position-left"></i>Excel
														</button>
													</div>
												</ui:remove>

											</div>
										</div>
									</ui:remove>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 m-b-10">
								<div class="text-right ">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon"
										immediate="true"
										onclick="window.location.href='#{request.contextPath}/pages/home.xhtml'"  />

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>