<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Help Desk Issue Reason</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_helpdeskIssueReason_master']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="fa fa-home m-r-5"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{msg['view_helpdeskIssueReason_master']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll">
			<!-- collapse panel -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion-control-right"
							href="#accordion-control-right-group1">#{msg['helpDeskIssueReason']}</a>
					</h6>
				</div>
				<div class="panel-body p-t-10">
					<h:form id="helpdeskissersnform">
						<div class="view-style">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group  view-style">
										<p:outputLabel value="#{msg['code']}" />
										<h:outputText
											value="#{helpDeskIssueReasonBean.helpDeskIssueReasonDTO.code}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']}" />
										<h:outputText
											value="#{helpDeskIssueReasonBean.helpDeskIssueReasonDTO.name}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['local_name_in_tamil']}" />
										<h:outputText
											value="#{helpDeskIssueReasonBean.helpDeskIssueReasonDTO.lhelpDeshIssueName}"
											class="" />
									</div>
								</div>
								
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText 
											value="#{helpDeskIssueReasonBean.helpDeskIssueReasonDTO.createdDate}" class="" >
											<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
											</h:outputText>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										action="#{helpDeskIssueReasonBean.backHelpDeskIssueReason}"
										immediate="true" class="btn bg-info font-iconmoon"
										title="#{msg['back']}" update="helpdeskissersnform">
									</p:commandButton>
								</div>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>