<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{departmentBean}" />
		<ui:param name="department" value="#{departmentBean.department}" />
		<title>InfoTex | Approval Transfer Request</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Approval Transfer Request</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>My Profile</li>
						<li class="active">Approval Transfer Request</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">Approval Transfer Request</h6>
					</div>
					<div class="panel panel-flat m-10">
						<div class="panel-heading colllapse  ">
							<h5 class="panel-title font14" id="scrollspy">Transfer From</h5>

						</div>
						<div class="panel-body">
							<p:outputPanel id="transferFromPanel">
								<div class="row view-style m-t-10">
									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="#{msg['sus_ho_ro']}" />

											<div class="input-group">

												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.headAndRegionOffice.name}" /></span>

											</div>

										</div>
									</div>
									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="Entity Type" />
											<div class="input-group">

												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.entityType.entityName}" /></span>
											</div>

										</div>
									</div>

									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="Entity" />
											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.workLocation.name}" /></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-4 col-sm-4 col-md-4 ">
										<div class="form-group">
											<p:outputLabel value="Section" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.sectionMaster.name}" /></span>
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>

					<div class="panel panel-flat m-10">
						<div class="panel-heading colllapse  ">
							<h5 class="panel-title font14" id="scrollspy">Transfer To</h5>

						</div>
						<div class="panel-body">
							<p:outputPanel id="transferFromPanel">
								<div class="row view-style m-t-10">
									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="#{msg['sus_ho_ro']}" />

											<div class="input-group">

												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.headAndRegionOffice.name}" /></span>

											</div>

										</div>
									</div>
									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="Entity Type" />

											<div class="input-group">

												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.entityType.entityName}" /></span>

											</div>

										</div>
									</div>

									<div class="col-lg-4 col-sm-4 col-md-4">
										<div class="form-group">
											<p:outputLabel value="Entity" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.workLocation.name}" /></span>

											</div>

										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-4 col-sm-4 col-md-4 ">
										<div class="form-group">
											<p:outputLabel value="Section" />

											<div class="input-group">
												<span class=""><h:outputText
														value="#{employeeProfileBean.employeePersonalInfo.sectionMaster.name}" /></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-12 col-md-4 col-sm-6 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-4 col-sm-6 ">
										<div class="form-group">
											<p:outputLabel value="#{msg['comment']}" />
											<p:inputTextarea rows="3" class="form-control"
												counter="display" maxlength="2000"
												placeholder="Moving to marketing department from admin"
												value="#{employeeProfileBean.employeeTransferDetail.reason}"
												counterTemplate="{0} characters remaining."
												autoResize="false" />
											<h:outputText id="display" />

										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="col-md-12  m-b-10">
								<div class="text-right">
									<!-- Cancel -->
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										styleClass="btn btn-sm bg-slate font-iconmoon m-l-10" />
									<p:commandButton value="&#xecf6; #{msg['reject']}"
										class="btn btn-sm bg-danger font-iconmoon m-l-10" />
									<p:commandButton value="&#xf164; #{msg['approve']}"
										class="btn bg-success heading-btn fa-input m-r-10" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>