<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<h:form id="transferForm">
	<p:outputPanel id="transferPanel">
	<ui:param name="bean" value="#{employeeTransferDetailsBean}" />
	
		<title>InfoTex | #{employeeTransferDetailsBean.resource eq 'ADD' ? 'Create' : 'Edit'} Transfer Request</title>
		<style type="text/css">
			.box {display:none;}
		</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{employeeTransferDetailsBean.resource eq 'ADD' ? 'Create' : 'Edit'} Transfer Request</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>My Profile</li>
						<li class="active">#{employeeTransferDetailsBean.resource eq 'ADD' ? 'Create' : 'Edit'} Transfer Request</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading panelHeading-fix">
						<h6 class="panel-title">#{employeeTransferDetailsBean.resource eq 'ADD' ? 'Create' : 'Edit'} Transfer Request</h6>
					</div>
					
					<div class="topFix">
					<div class="panel-body panelBody-fix-noStg">
							<h6 class="bord_bot m-t-0">
							<span class="iform-title p-0 "><i class="fa fa-th-large m-r-5"></i>
								Select Employee</span>
							</h6>
							
							<div class="form-group">
							
							<h:panelGrid>
								<p:selectOneRadio  value="#{bean.byType}" >
								<f:selectItem itemLabel="By Employee Id" itemValue="byEmployeeId" />
								<f:selectItem itemLabel="By Entity" itemValue="byentity"  />
								<p:ajax event="change" listener="#{bean.onChangeEmployee}" />
								</p:selectOneRadio> 
							</h:panelGrid>
							
							</div>

            <p:outputPanel id="byIdPanel" rendered="#{bean.byType eq 'byEmployeeId'}">
						<div class="empid box" style="display:block;">
						
						<div class="row">
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="Employee Id" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="codeId" maxlength="6"
											required="#{not empty param[searchcode.clientId]}" requiredMessage="Employee code required."
											value="#{bean.employeeMaster.empCode}" class="form-control" />
									</div>
								</div>
								<h:message for="codeId" class="validation-error-label" />
							</div>
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="&nbsp;" class="block"  />
								<!-- Clear -->
								<p:commandButton value="&#xe916; #{msg['clear']}" 
									onclick="PF('progressDlg').show();" update="transferPanel"
							        oncomplete="PF('progressDlg').hide();"
									action="#{bean.clearField}"
									class="btn btn-sm bg-slate font-iconmoon " style="padding:2px;" />
								<!-- Search -->
								<p:commandButton value="&#xe98e; #{msg['search']}" binding="#{searchcode}"
									onclick="PF('progressDlg').show();" update="transferPanel growls"
							        oncomplete="PF('progressDlg').hide();"
									action="#{bean.searchEmployeeCode}"
									class="btn btn-sm bg-info font-iconmoon m-l-10" style="padding:2px;" />
									
								</div>
							</div>
						</div>	
							<div class="row">
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Employee Name" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-user"></i></span>
												<p:inputText value="#{bean.employeeMaster.firstName}" class="form-control" disabled="true" />
											</div>

										</div>
									</div>
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['sus_ho_ro']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<p:inputText value="#{bean.employeeMaster.personalInfoEmployment.headAndRegionOffice.name}" class="form-control" disabled="true" />
											</div>

										</div>
									</div>
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Entity Type" for="entityTypeMaster" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<p:inputText value="#{bean.employeeMaster.personalInfoEmployment.entityType.entityName}" class="form-control" disabled="true" />												
											</div>

										</div>
									</div>

									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Entity"  />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<p:inputText value="#{bean.employeeMaster.personalInfoEmployment.workLocation.name}" class="form-control" disabled="true" />
											</div>

										</div>
									</div>
									
									
								</div>
								
								<div class="row">
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Department" />
											<p:outputLabel value="*" class="text-danger mand-symbol" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<p:inputText value="#{bean.employeeMaster.personalInfoEmployment.department.name}" class="form-control" disabled="true" />
											</div>

										</div>
									</div>
									
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Section" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<p:inputText disabled="true" value="#{bean.employeeMaster.personalInfoEmployment.sectionMaster.name}" />
											</div>

										</div>
									</div>
								</div>
						</div>
						</p:outputPanel>
							
			<p:outputPanel id="byEntityPanel" rendered="#{bean.byType ne 'byEmployeeId'}">
						
						 <div class="row">
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="H.O / Region" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="regionId" class="form-control"
											required="#{not empty param[entTransfer.clientId]}"
											requiredMessage="required."
											value="#{bean.headOrRegionFrom}"
											converter="#{entityConverter}" >
											<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}" />
											<f:selectItems itemLabel="#{entity.name}" itemValue="#{entity}" value="#{bean.headOrRegionalOfficeFrom}" var="entity" />
											<p:ajax event="change"  update="transferPanel entityPanel" listener="#{bean.onHeadOfficeChangeFrom}" />
										</h:selectOneMenu>
									</div>
									<h:message for="regionId" class="validation-error-label" />
								</div>
							</div>

							<p:outputPanel id="entityPanel" rendered="#{!bean.showEntityPanel}" >
								<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="Entity Type" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="typeId" class="form-control"
											converter="#{entityConverter}"
											value="#{bean.employeeTransfer.entityFrom}"
											>
											<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
											<f:selectItems itemLabel="#{entityType.entityName}" itemValue="#{entityType}" value="#{bean.entityTypeFromList}" var="entityType" />
										<p:ajax event="change" listener="#{bean.onHeadOfficeChangeFrom}" update="transferPanel entityId"/>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="Entity" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="entityId" class="form-control"
											converter="#{entityConverter}" 
											value="#{bean.employeeTransfer.transferFrom}" >
											<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}" />
							               <f:selectItems itemLabel="#{entity.name}" itemValue="#{entity}" value="#{bean.entityMasterList}" var="entity" />
											<p:ajax event="change" listener="#{bean.onEntityChange}" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							</p:outputPanel>
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['dept']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<h:selectOneMenu id="deptId1" class="form-control"
											required="#{not empty param[entTransfer.clientId]}"
											requiredMessage="required."
											converter="#{entityConverter}"
											value="#{bean.department}"
											>
											<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}" />
											<f:selectItems itemLabel="#{dpt.name}"  itemValue="#{dpt}"  value="#{bean.departmentList}" var="dpt"/>
											<p:ajax event="change" listener="#{bean.onchangeDepartment}" update="transferPanel empId"/>
										</h:selectOneMenu>
									</div>
									<h:message for="deptId1" class="validation-error-label" />
								</div>
							</div>
							
							<div class="col-lg-3 col-sm-3 col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['emp_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-user"></i></span>
										<h:selectOneMenu id="empId" class="form-control"
									      required="#{not empty param[entTransfer.clientId]}"
											requiredMessage="required."
											converter="#{entityConverter}"
											value="#{bean.employeeMaster}">
											<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"/>
											<f:selectItems itemLabel="#{emp.firstName} #{emp.lastName}" value="#{bean.employeeList}" var="emp"/>
											<f:ajax render="empId"/>
										</h:selectOneMenu>
									</div>
									<h:message for="empId" class="validation-error-label" />
								</div>
							</div>
						</div> 
			</p:outputPanel>
							

							<h6 class="bord_bot">
								<span class="iform-title p-0 "><i class="fa fa-th-large m-r-5"></i>Transfer To</span>
							</h6>
							
								<div class="row">
								
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Transfer Type" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control" value="#{bean.employeeTransfer.transferType}">
												<f:selectItem itemLabel="Select" itemValue="#{null}"/>
												<f:selectItem itemLabel="Inter Region" itemValue="InterRegion" />
												<f:selectItem itemLabel="Intra Region" itemValue="IntraRegion" />
												<p:ajax event="change" update="headOffice entityTypeMaster byEmpentity tranferToPanel"  listener="#{bean.onchangeTranferType}"/>
											</h:selectOneMenu>
											</div>
											
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['sus_ho_ro']}"  />
											<p:outputLabel value="*" class="text-danger mand-symbol" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<h:selectOneMenu id="headOffice" 
												                     disabled="#{bean.disableHooRo}"
				               						                  value="#{bean.employeeTransfer.headRegOffice}" 
				               						                  class="form-control" 
				               						                  required="#{not empty param[addTransfer.clientId] || not empty param[entTransfer.clientId]}"
				               						                  requiredMessage="Head or regional office required."
													 	              converter="#{entityConverter}"  >
											                          <f:selectItem itemLabel="Select" itemValue="#{null}"/>
											                          <f:selectItems value="#{bean.headOrRegionalOfficeTo}" var="typ" 
											                          itemLabel="#{typ.name}" itemValue="#{typ}" />
											                          <p:ajax  event="change" listener="#{bean.onchangeRegionAndEntityType()}"
											                           update="transferPanel tranferToPanel" />
											             </h:selectOneMenu>
											</div>
											<h:message for="headOffice" class="validation-error-label" />
										</div>
									</div>
								<p:outputPanel id="tranferToPanel" rendered="#{bean.employeeTransfer.headRegOffice.code ne '847367'}">
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Entity Type" for="entityTypeMaster" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<h:selectOneMenu id="entityTypeMaster"  
											                    	  disabled="#{bean.disableHooRo}"
				               						                  value="#{bean.employeeTransfer.entityTo}" 
				               						                  class="form-control" 
													 	              converter="#{entityConverter}" >
											                          <f:selectItem itemLabel="Select" itemValue="#{null}"/>
											                          <f:selectItems value="#{bean.entityTypeTo}" var="typ" 
											                          itemLabel="#{typ.entityName}" itemValue="#{typ}" />
											                          <p:ajax  event="change"
											                           listener="#{bean.onchangeRegionAndEntityType()}"
											                           update="byEmpentity "></p:ajax>
											             </h:selectOneMenu>

											</div>
											<h:message for="entityTypeMaster"
												class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Entity"  />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
													<h:selectOneMenu id="byEmpentity" 
													   disabled="#{bean.disableHooRo}"
														value="#{bean.employeeTransfer.transferTo}"
														class="form-control" converter="#{entityConverter}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{bean.entityMasterTo}" var="ent"
															itemLabel="#{ent.name}" itemValue="#{ent}" />

													</h:selectOneMenu>
												</div>
										</div>
									</div>
									<div class="row">
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="Section" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-building-o"></i></span>
												<h:selectOneMenu class="form-control" id="sectionId" 
														converter="#{entityConverter}"
														value="#{employeeTransferDetailsBean.employeeTransfer.sectionTo}">
													<f:selectItem itemLabel="Select" />
													<f:selectItems value="#{employeeTransferDetailsBean.sectionMastersTo}" 
														var="sec" itemLabel="#{sec.name}" itemValue="#{sec}"/>
												</h:selectOneMenu>
												
											</div>

										</div>
									</div>

								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
											<p:outputLabel value="*" class="text-danger mand-symbol" />
											<p:inputTextarea class="form-control" id="reasonId" 
											required="#{not empty param[addTransfer.clientId] || not empty param[entTransfer.clientId]}"
											requiredMessage="Reason required."
											value="#{bean.employeeTransfer.reason}" />
										</div>
										<h:message for="reasonId" class="validation-error-label" />
									</div>
								</div>
							</p:outputPanel>
									
								</div>
										
					<div class="row m-b-10">
						
							<div class="col-md-6">
								<p>
									Uploaded documents: 
									<span style="color: #2196F3;"> <p:outputLabel
											 id="uploadId" value="#{bean.transferDocumentFileName}" />
									</span>
								</p>
							</div>
							<div class="col-md-6 text-right ">
								<p:commandButton value="&#xf093; Upload"
									title="Upload"
									onclick="PF('pridocupload').show();"
									class="fa-input btn btn-sm bg-primary font-iconmoon ">
								</p:commandButton>

								<p:commandButton value="&#xed6a; #{msg['cancel']}"
									title="#{msg['cancel']}" immediate="true"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" 
									action="#{employeeTransferDetailsBean.showPage('LIST')}"
									styleClass="btn btn-sm bg-slate font-iconmoon m-l-10">
								</p:commandButton>

								<p:commandButton  binding="#{entTransfer}" rendered="#{bean.byType ne 'byEmployeeId'}"
								    title="#{bean.resource eq 'ADD' ? msg['submit'] : msg['update']}"
								   	action="#{bean.createTransferRequest}"
								   	value="#{bean.resource eq 'ADD' ? '&#xf00c;&nbsp;'.concat(msg['submit']) : '&#xf021;&nbsp;'.concat(msg['update'])}"
									onclick="PF('progressDlg').show();" 
									oncomplete="PF('progressDlg').hide();"
									update="transferForm:transferPanel growls"
									styleClass="btn btn-sm bg-success font-iconmoon fa-input m-l-10" />
								
								<p:commandButton  binding="#{addTransfer}" 
									title="#{bean.resource eq 'ADD' ? msg['submit'] : msg['update']}"
								   rendered="#{bean.byType eq 'byEmployeeId'}"
								   action="#{bean.createTransferRequest}"
									value="#{bean.resource eq 'ADD' ? '&#xf00c;&nbsp;'.concat(msg['submit']) : '&#xf021;&nbsp;'.concat(msg['update'])}"
									onclick="PF('progressDlg').show();" 
									oncomplete="PF('progressDlg').hide();"
									update="transferPanel growls"
									styleClass="btn btn-sm bg-success font-iconmoon fa-input m-l-10" />

							</div>

						</div>
					</div>
					
					</div>
					
					</div>

				</div>
			</div>
		</p:outputPanel>
		<p:dialog width="40%" modal="true" header="Document Upload"
			styleClass="p-0 overlay-pop modal-dialog " closable="true"
			widgetVar="pridocupload" showEffect="fade" hideEffect="fade"
			closeOnEscape="true">
			<div class="modal-body border0 ">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-3">
							<label class="control-label">Supporting Document &nbsp; </label>
						</div>
						<div class="col-lg-8">
							<div class=" no-padding contact-upload upload-popup"
								style="float: left">
								<div class="uploader ">
									<p:fileUpload
											value="#{bean.employeeTransfer.documentPath}"
											fileUploadListener="#{bean.uploadDocument}"
											onstart="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();PF('pridocupload').hide();"
											mode="advanced" auto="true" sizeLimit="1000000"
											update="uploadId sigName growls"
											allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/">
										</p:fileUpload>
								</div>
							</div>
							<div class="uploadercustom1 col-lg-8">
								<h:outputText id="sigName" value="#{bean.transferDocumentFileName}" />
							</div>
							<div class="clearfix"></div>
							<div>
								<small class="uploadfinename">File format: png, jpeg,
									pdf, doc and filesize should be lessthan 250kb</small>
							</div>
						</div>

					</div>
				</div>
			</div>
		</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>