<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{employeeResignationBean}" />
		<ui:param name="resignationDetail"
			value="#{employeeResignationBean.resignation}" />

		<h:form id="addForm">
			<title>InfoTex | Create Resignation Request</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_resignation_req']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['employee_self_service']}</li>
							<li class="active">#{msg['create_resignation_req']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content m-b-0">
				<div class="pro_steps2line">
					<div
						class="panel panel-group panel-info panel-group-control panel-group-control-right m-b-0"
						id="accordion-control-right">
						<div class="panel-heading bg-info">
							<h6 class="panel-title">
								<div>
									#{msg['reg_req']} <span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</div>
							</h6>
						</div>
						<p:outputPanel id="colapsepanel">
							<div class="panel-body panelBody-fix-noStg xhidden">
								<p:outputPanel id="searchFilter">
									<div class="row custom-form-1 label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['emp_name']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText
														value="#{resignationDetail.employee.firstName}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>

										<!-- 	= #{resignationDetail} = -->
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<p:inputText value="#{resignationDetail.department.name}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['desgn']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-user-tie"></i></span>
													<p:inputText value="#{resignationDetail.designation.name}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['HO_RO']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<p:inputText
														value="#{empty resignationDetail.headAndRegionOffice.name ? resignationDetail.workLocation.name : resignationDetail.headAndRegionOffice.name}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>
									</div>


									<div class="row custom-form-1 label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dob']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText value="#{resignationDetail.employee.dob}"
														class="form-control" disabled="true">
														<f:convertDateTime
															pattern="#{loginBean.userInfoDTO.dateFormat}"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dt_of_retire']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText
														value="#{resignationDetail.employee.personalInfoEmployment.retirementDate}"
														class="form-control" disabled="true">
														<f:convertDateTime
															pattern="#{loginBean.userInfoDTO.dateFormat}"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['Entity_Type']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<p:inputText
														value="#{resignationDetail.entityType.entityName}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['Entity']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<p:inputText value="#{resignationDetail.workLocation.name}"
														class="form-control" disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['retirement_type']}" />
												<span class="mand-red">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="type" value="#{bean.resignationType}"
														styleClass="form-control">
														<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
														<f:selectItem itemValue="RESIGNATION"
															itemLabel="Resignation"></f:selectItem>
														<f:selectItem itemValue="VRS"
															itemLabel="Voluntary Retirement"></f:selectItem>
														<p:ajax event="change" update=" type growls"
															listener="#{employeeResignationBean.changeRetirementType}"></p:ajax>
													</h:selectOneMenu>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['dt_joining']}" />
											<span class="mand-red">*</span>
											<div class="form-group form-group_calend">
												<p:calendar
													value="#{resignationDetail.employee.personalInfoEmployment.dateOfJoining}"
													pattern="dd-MMM-yyyy" navigator="true" required="true"
													placeholder="dd-MMM-yyyy" disabled="true"
													requiredMessage="#{msg['date_join_req']}"
													styleClass="form-control-1 calend-icon-1">
												</p:calendar>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['content']}" />
												<span class="mand-red">*</span>
												<p:textEditor widgetVar="editor1"
													value="#{resignationDetail.resigntionComments}"
													height="150" />
											</div>
										</div>
									</div>

									<div class="row m-b-10">
										<div class="col-md-4 col-sm-6">
											<label class="control-label">#{msg['up_doc']}</label>
											<div class="input-group image-preview file-upload-support"
												style="width: 100%">
												<p:inputText class="form-control uploadwidth"
													id="uploadFileName" disabled="true"
													value="#{bean.documentFileName}" />
												<div
													class="no-padding contact-upload upload-popup pull-left">
													<div>
														<p:fileUpload update="uploadFileName growls" auto="true"
															id="complaintDocumentUpload"
															label="&#xf093;&nbsp;#{msg['upload']}"
															onstart="PF('progressDlg').show();"
															oncomplete="PF('progressDlg').hide();"
															dragDropSupport="true" styleClass="btn-upload "
															fileUploadListener="#{bean.uploadDocument}">
															<f:attribute value="#{data}" name="object"></f:attribute>
														</p:fileUpload>
													</div>
												</div>
											</div>

											<div>
												<small class="uploadfinename">#{msg['fl_fmt_less_twomb']}</small>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-lg-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
													action="#{bean.showResignationListPage}" immediate="true"
													onclick="PF('progressDlg').show();" title="#{msg['back']}"
													oncomplete="window.location.href='#{request.contextPath}/pages/home.xhtml'"
													styleClass="btn btn-sm bg-info font-iconmoon" />

												<p:commandButton value="&#xed6e; #{msg['submit']}"
													action="#{bean.submit}" update="growls addForm"
													onclick="PF('progressDlg').show();"
													title="#{msg['submit']}"
													oncomplete="PF('progressDlg').hide();"
													styleClass="btn btn-sm bg-success font-iconmoon"
													binding="#{submit}" />

												<p:commandButton value="&#xeda7; #{msg['update']}"
													action="#{bean.submit}" rendered="#{bean.action eq 'EDIT'}"
													update="growls" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													title="#{msg['update']}"
													styleClass="btn btn-sm bg-primary font-iconmoon"
													binding="#{update}" />
											</div>
										</div>
									</div>

									<p:dialog modal="true" id="singId"
										header="#{msg['doc_upload']}" width="40%" closable="true"
										styleClass="p-0 overlay-pop modal-dialog"
										widgetVar="pridocupload" hideEffect="fade"
										closeOnEscape="true">
										<div class="modal-body p-10 border0">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-3">
														<label class="control-label">#{msg['document']}
															&nbsp; </label>
													</div>
													<div class="col-lg-9">
														<div class=" no-padding contact-upload upload-popup"
															style="float: left">
															<div class="uploader">
																<p:fileUpload onstart="PF('progressDlg').show();"
																	mode="advanced" auto="true" sizeLimit="1000000">
																</p:fileUpload>
															</div>
														</div>
														<div class="uploadercustom1 col-lg-8"
															style="height: 34px;">
															<h:outputText />
														</div>
														<div class="clearfix"></div>
														<div>
															<small class="uploadfinename">#{msg['file_format_lessthan_250kb']}</small>
														</div>
													</div>
												</div>
											</div>
										</div>
									</p:dialog>
								</p:outputPanel>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>

		</h:form>

	</ui:define>
</ui:composition>