<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Loan Advance</title>
		<style type="text/css">
.box {
	display: none;
}
</style>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{employeeProfileBean.action eq 'add' ? msg['cr_loan_ad']
						: msg['ed_loan_ad']}</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['employee_self_service']}</li>
						<li class="active">#{employeeProfileBean.action eq 'add' ?
							msg['cr_loan_ad'] : msg['ed_loan_ad']}</li>
					</ul>
				</div>
			</div>
		</div>
		<h:form id="loanForm">
			<p:outputPanel id="loanPanel">
				<ui:param name="bean" value="#{employeeLoanAndAdvanceBean}" />
				<div class="content">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-15">
						<div class="panel panel-info">
							<div class="panel-heading panelHeading-fix">
								<h6 class="panel-title">
									#{msg['loan_ad_req']}<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>
							<div class="topFix pg-scroll-panel-1">
								<div class="panel-body p-t-10">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['sel_fin_requ']}</span>
									</h5>
									<p:outputPanel id="loanadvTypePanel">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['type']}" />
												<p:outputLabel value="*" class="text-danger mand-symbol" />
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-list"></i></span>
														<h:selectOneMenu id="loanTypeId"
															value="#{employeeLoanAndAdvanceBean.loanType}"
															required="#{not empty param[loanSubmit.clientId] || not empty param[advSubmit.clientId]}"
															requiredMessage="#{msg['type_req']}" class="form-control">
															<f:selectItem itemLabel="Select" itemValue="#{null}" />
															<f:selectItem itemLabel="Loan" itemValue="Loan" />
															<f:selectItem itemLabel="Advance" itemValue="Advance" />
															<p:ajax event="change"
																listener="#{employeeLoanAndAdvanceBean.onchangeLoan}"
																update="loanadvTypePanel loanTypePanel advanceTypePanel buttonpanel advSubmit loanSubmit" />
														</h:selectOneMenu>
													</div>
													<h:message for="loanTypeId" class="validation-error-label" />
													<p:focus for="loanTypeId" />
												</div>
											</div>
										</div>

										<p:outputPanel id="loanTypePanel"
											rendered="#{employeeLoanAndAdvanceBean.loanType eq 'Loan'}">
											<div class="advsection" style="display: block">
												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['loan_type']}"
																for="loanTypId" />
															<p:outputLabel value="*" class="text-danger mand-symbol"
																for="loanTypId"
																rendered="#{empty param[loanSubmit.clientId]}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-cash3"></i></span>
																<h:selectOneMenu class="form-control" id="loanTypId"
																	required="#{not empty param[loanSubmit.clientId]}"
																	requiredMessage="#{msg['loantype_req']}"
																	converter="#{entityConverter}"
																	value="#{employeeLoanAndAdvanceBean.loanMaster}">
																	<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
																	<f:selectItems
																		value="#{employeeLoanAndAdvanceBean.loanMasterList}"
																		var="loan" itemLabel="#{loan.code} / #{loan.name}"
																		itemValue="#{loan}" />
																	<p:ajax event="change"
																		listener="#{employeeLoanAndAdvanceBean.checkEmpLoanEligibility}"
																		update="growls loanEligiAmount,minLoanAmount,rateint noOfInstallments" />
																</h:selectOneMenu>
															</div>
															<h:message for="loanTypId" class="validation-error-label" />
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['loan_elg_amt']}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="fa fa-inr fa-lg"></i></span>
																<p:inputText id="loanEligiAmount" disabled="true"
																	class="form-control"
																	value="#{employeeLoanAndAdvanceBean.loanMaster.loanEligiblilityAmount}">
																	<f:convertNumber pattern="#0.00" />
																</p:inputText>
															</div>
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['min_loan_amt']}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="fa fa-inr fa-lg"></i></span>
																<p:inputText class="form-control" id="minLoanAmount"
																	disabled="true"
																	value="#{employeeLoanAndAdvanceBean.loanMaster.minLoanAmount}">
																	<f:convertNumber pattern="#0.00" />
																</p:inputText>
															</div>
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['loan_amt']}" />
															<span class="text-danger">*</span>
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="fa fa-inr fa-lg"></i></span>
																<p:inputText id="loanAmount" styleClass="text-right"
																	required="#{not empty param[loanSubmit.clientId]}"
																	requiredMessage="#{msg['loan_amt_requr']}"
																	value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.loanAmountRequired}">
																	<p:keyFilter regEx="/[\d\.]/"></p:keyFilter>
																	<p:ajax event="change"
																		listener="#{employeeLoanAndAdvanceBean.checkLoanAmt}"
																		update="growls loanAmount"></p:ajax>
																</p:inputText>
															</div>
															<h:message for="loanAmount"
																class="validation-error-label" />
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['rate_of_interest']}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-percent"></i></span>
																<p:inputText id="rateint" disabled="true"
																	class="form-control"
																	required="#{not empty param[loanSubmit.clientId]}"
																	requiredMessage="#{msg['rate_of_interest_req']}"
																	value="#{employeeLoanAndAdvanceBean.loanMaster.loanPercentage}">
																	<f:convertNumber pattern="#0.00" />
																</p:inputText>
															</div>
															<h:message for="rateint" class="validation-error-label" />
														</div>
													</div>

													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['nostall']}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-hash"></i></span>
																<p:inputText id="noOfInstallments" class="form-control"
																	disabled="true"
																	value="#{employeeLoanAndAdvanceBean.loanMaster.loanInstallment}" />
															</div>
														</div>
													</div>

													<div class="col-lg-6 col-md-6 col-sm-6">
														<div class="form-group">
															<p:outputLabel value="#{msg['reason']}" />
															<span class="text-danger">*</span>
															<p:inputText id="loanTypremarks" class="form-control"
																required="#{not empty param[loanSubmit.clientId]}"
																requiredMessage="#{msg['reason_is_required']}"
																value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.remarks}" />
															<h:message for="loanTypremarks"
																class="validation-error-label" />
														</div>
													</div>
												</div>

												<ui:remove>
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['su_id']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-hash"></i></span>
																	<p:inputText
																		value="#{employeeLoanAndAdvanceBean.suretyDetails.empCode}"
																		class="form-control" id="suretyCode">
																		<f:ajax render="suretyCode" />
																	</p:inputText>
																</div>
															</div>
														</div>

														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['su_name']}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-user"></i></span>
																	<p:inputText
																		value="#{employeeLoanAndAdvanceBean.suretyDetails.firstName}"
																		id="suretyName" class="form-control" disabled="true">
																		<f:ajax render="suretyName " />
																	</p:inputText>
																</div>
															</div>
														</div>

														<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
															<div class="form-group">
																<p:outputLabel value="&nbsp;" class="block" />
																<p:commandButton value="&#xe916; #{msg['clear']}"
																	title="#{msg['clear']}"
																	class="btn btn-sm bg-slate font-iconmoon "
																	action="#{employeeLoanAndAdvanceBean.clearSurety}"
																	style="padding:2px;"
																	update="growls suretyName suretyCode" />
																<p:commandButton value="&#xe98e; #{msg['search']}"
																	title="#{msg['search']}"
																	class="btn btn-sm bg-info font-iconmoon m-l-10"
																	onstart="PF('progressDlg').show();"
																	oncomplete="PF('progressDlg').hide();"
																	action="#{employeeLoanAndAdvanceBean.searchSuretyDetails}"
																	style="padding:2px;"
																	update=" growls suretyCode suretyName" />

															</div>
														</div>
													</div>
												</ui:remove>

												<p:outputPanel id="suretyPanel">
													<h5 class="bord_bot m-t-0">
														<span class="iform-title"><i
															class="fa fa-th-large m-r-5"></i>#{msg['add_suerity_detail']}</span>
													</h5>
													<div class="row label-form">
														<div class="col-lg-3 col-md-6 col-sm-6">
															<div class="form-group">
																<p:outputLabel
																	value="#{msg['emp_pf_num']} / #{msg['name']}" />
																<span class="text-danger">*</span>
																<div class="input-group autocomplete-input">
																	<span class="input-group-addon"><i
																		class="icon-hash"></i></span>
																	<p:autoComplete id="acMinLength" minQueryLength="1"
																		styleClass="form-control"
																		panelStyle="max-height: 150px;"
																		value="#{employeeLoanAndAdvanceBean.pfNumber}"
																		placeholder=" "
																		required="#{not empty param[add.clientId]}"
																		requiredMessage="#{msg['emp_pf_num']} / #{msg['name']} #{msg['is_required']}"
																		completeMethod="#{employeeLoanAndAdvanceBean.suretyEmployeeAutoComplete}"
																		effect="fade" />
																</div>
																<h:message for="acMinLength"
																	class="validation-error-label"></h:message>
															</div>
														</div>

														<div class="col-lg-3 col-md-6 col-sm-6">
															<p:outputLabel value="" />
															<div class="form-group">
																<p:commandButton value="&#xe916; #{msg['clear']}"
																	title="#{msg['clear']}"
																	class="btn btn-sm bg-slate font-iconmoon m-l-0"
																	action="#{employeeLoanAndAdvanceBean.clearSurety}"
																	update="growls" />
																<p:commandButton value="&#xea0e; #{msg['add']}"
																	binding="#{add}" title="#{msg['add']}"
																	update="growls suretyPanel"
																	action="#{employeeLoanAndAdvanceBean.addSuretyDetails}"
																	class="btn bg-success font-iconmoon">
																</p:commandButton>
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-sm-12">
															<div class=" table-responsive m-b-10">
																<p:dataTable id="suretydetails"
																	styleClass="report-table" var="data"
																	rowKey="#{data.id}" rowIndexVar="idx"
																	value="#{employeeLoanAndAdvanceBean.selectedSuretyEmployeeList}"
																	emptyMessage="#{msg['no_records_found']}">

																	<p:column headerText="#" class="width-5 text-center">
																		<h:outputText value="#{idx+1}" />
																	</p:column>

																	<p:column
																		headerText="#{msg['emp_pf_num']} / #{msg['name']}">
																		<h:outputText
																			value="#{data.personalInfoEmployment.pfNumber} / #{data.firstName}" />
																	</p:column>

																	<p:column headerText="#{msg['desgn']}">
																		<h:outputText
																			value="#{data.personalInfoEmployment.designation.name}" />
																	</p:column>

																	<p:column headerText="#{msg['dept']}">
																		<h:outputText
																			value="#{data.personalInfoEmployment.department.name}" />
																	</p:column>

																	<p:column headerText="#{msg['sec']}">
																		<h:outputText
																			value="#{data.personalInfoEmployment.sectionMaster.name}" />
																	</p:column>

																	<p:column headerText="#{msg['action']}"
																		class="text-center">
																		<p:commandButton value="&#xe99e;"
																			update="loanForm:suretyPanel"
																			class="btn bg-danger font-iconmoon btn-xs"
																			title="#{msg['delete']}">
																			<p:collector value="#{data}"
																				removeFrom="#{employeeLoanAndAdvanceBean.selectedSuretyEmployeeList}"
																				unique="true" />
																		</p:commandButton>
																	</p:column>
																</p:dataTable>
															</div>
														</div>
													</div>
												</p:outputPanel>
											</div>

										</p:outputPanel>

										<p:outputPanel id="advanceTypePanel"
											rendered="#{employeeLoanAndAdvanceBean.loanType eq 'Advance'}">
											<div class="row">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['adv_type']}"
															for="advacneLoan" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="advacneLoan"
															rendered="#{empty param[advSubmit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu class="form-control" id="advacneLoan"
																required="#{not empty param[advSubmit.clientId]}"
																requiredMessage="#{msg['ad_type_req']}"
																converter="#{entityConverter}"
																value="#{employeeLoanAndAdvanceBean.advanceType}">
																<f:selectItem itemLabel="Select" itemValue="#{null}"></f:selectItem>
																<f:selectItems
																	value="#{employeeLoanAndAdvanceBean.advanceTypeMasterList}"
																	var="adv" itemLabel="#{adv.code} / #{adv.name}"
																	itemValue="#{adv}" />
																<p:ajax event="change"
																	update="growls advElgAmount,minAdvAmount,maxAdvAmount" />
															</h:selectOneMenu>
														</div>
														<h:message for="advacneLoan"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['adv_eligible_amount']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-inr fa-lg"></i></span>

															<p:inputText class="form-control" id="advElgAmount"
																disabled="true"
																value="#{employeeLoanAndAdvanceBean.advanceType.advanceEligiblilityAmount}"></p:inputText>
														</div>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['minad_amt']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-inr fa-lg"></i></span>

															<p:inputText class="form-control" id="minAdvAmount"
																disabled="true"
																value="#{employeeLoanAndAdvanceBean.advanceType.minAdvanceAmount}"></p:inputText>
														</div>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['maxad_amt']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-inr fa-lg"></i></span>

															<p:inputText class="form-control" id="maxAdvAmount"
																disabled="true"
																value="#{employeeLoanAndAdvanceBean.advanceType.maxAdvanceAmount}"></p:inputText>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['advan_amt_req']}" />
														<span class="text-danger">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-inr fa-lg"></i></span>
															<p:inputText id="advAmountReqId" styleClass="text-right"
																required="#{not empty param[advSubmit.clientId]}"
																requiredMessage="#{msg['ad_amt_req']}"
																value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.advanceAmountRequired}">
																<p:keyFilter regEx="/[\d\-\.]/"></p:keyFilter>
																<p:ajax event="change"
																	listener="#{employeeLoanAndAdvanceBean.checkLoanAmt}"
																	update="growls advAmountReqId"></p:ajax>
															</p:inputText>
														</div>
														<h:message for="advAmountReqId"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-9 col-md-9 col-sm-6">
													<div class="form-group">
														<p:outputLabel value="#{msg['reason']}" />
														<span class="text-danger">*</span>
														<p:inputText class="form-control" id="remarks"
															required="#{not empty param[advSubmit.clientId]}"
															requiredMessage="#{msg['reason_req']}"
															value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.remarks}" />

														<h:message for="remarks" class="validation-error-label" />
													</div>
												</div>
											</div>
										</p:outputPanel>
									</p:outputPanel>

									<div class="row label-form">
										<div class="col-lg-3">
											<p:outputLabel value="#{msg['up_doc']}" />
											<span class="mand-sign-input">*</span>
											<div class="form-group">
												<div class="input-group image-preview btn-file-upload"
													style="width: 100%">
													<p:inputText class="form-control text-right"
														id="loanDocName"
														value="#{employeeLoanAndAdvanceBean.loanDocName}"
														style="width:62%" disabled="true" />
													<div
														class="no-padding contact-upload upload-popup file-upload-support pull-left">
														<div class="btn-file-upload m-l-8">
															<p:fileUpload label="&#xf093;&nbsp; #{msg['upload']}"
																fileUploadListener="#{employeeLoanAndAdvanceBean.uploadDocument}"
																onstart="PF('progressDlg').show();"
																styleClass="btn-upload"
																oncomplete="PF('progressDlg').hide();" mode="advanced"
																update="growls loanDocName empFilelisttable" auto="true">
															</p:fileUpload>
														</div>
													</div>
												</div>
												<small class="uploadfinename">#{msg['file_format_lessthan_2MB_format']}</small>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<p:dataTable id="empFilelisttable" var="filelist"
													styleClass="report-table"
													value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceFilesList}"
													widgetVar="empFiletablewdgt" rowIndexVar="idx">

													<p:column headerText="#" styleClass="width-3 text-center">
														<h:outputText value="#{idx+1}" />
													</p:column>

													<p:column headerText="#{msg['doc_name']}"
														styleClass="width-87">
														<f:facet name="filter">
															<p:inputText class="form-control" />
														</f:facet>
														<h:outputText value="#{filelist.fileName}" />
													</p:column>

													<p:column headerText="#{msg['action']}"
														styleClass="width-10 text-center">
														<f:facet name="filter">
															<p:inputText class="form-control" />
														</f:facet>
														<p:commandButton value="&#xe99e;"
															class="btn bg-danger font-iconmoon m-l-5"
															onclick="PF('progressDlg').show();"
															action="#{employeeLoanAndAdvanceBean.showFileConfirmationDialog(filelist)}"
															oncomplete="PF('progressDlg').hide();"
															update="loanForm:empFilelisttable"
															title="#{msg['delete']}">
														</p:commandButton>
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</div>

									<div class="row label-form m-t-10">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['forward_to']}" for="forwardto" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="forwardto"
													rendered="#{empty param[loanSubmit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<p:autoComplete id="forwardto" minQueryLength="2"
														styleClass="form-control" converter="#{entityConverter}"
														required="#{not empty param[loanSubmit.clientId] || not empty param[advSubmit.clientId] }"
														requiredMessage="#{msg['forward_to_req']}"
														value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.forwardTo}"
														itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
														completeMethod="#{employeeLoanAndAdvanceBean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="forwardto"></p:ajax>
													</p:autoComplete>
													<ui:remove>
														<h:selectOneMenu id="forwardto" styleClass="form-control"
															converter="#{entityConverter}"
															value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.forwardTo}"
															required="#{not empty param[loanSubmit.clientId] || not empty param[advSubmit.clientId] }"
															requiredMessage="#{msg['forward_for_req']}">
															<f:selectItem itemLabel="Select" noSelectionOption="true" />
															<f:selectItems
																value="#{employeeLoanAndAdvanceBean.userMasters}"
																var="userinfo"
																itemLabel="#{userinfo.empCode} / #{userinfo.empName}"
																itemValue="#{userinfo}" />
															<p:ajax update="@this">
															</p:ajax>
														</h:selectOneMenu>
													</ui:remove>
												</div>
												<h:message for="forwardto" class="validation-error-label"></h:message>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['forward_for']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="forwardfor" styleClass="form-control"
														value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.forwardFor}"
														required="#{not empty param[loanSubmit.clientId]}"
														requiredMessage="Please select Forward For">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItem itemValue="#{false}" itemLabel="Approved" />
														<f:selectItem itemValue="#{true}"
															itemLabel="Final Approved" />
														<p:ajax update="@this"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="forwardfor" class="validation-error-label"></h:message>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<p:commandButton value="&#xf067; #{msg['create_note']}"
												title="#{msg['create_note']}"
												styleClass="btn bg-success btn-md fa-input m-l-0"
												onclick="PF('notedialog').show();"></p:commandButton>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-6 text-right ">
											<p:outputPanel id="buttonpanel">
												<p:commandButton value="&#xed6a; #{msg['cancel']}"
													title="#{msg['cancel']}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													update="loanForm:loanPanel  growls"
													action="#{employeeLoanAndAdvanceBean.showPage('LIST')}"
													styleClass="btn btn-sm bg-slate font-iconmoon" />

												<p:commandButton id="advSubmit"
													value="#{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  '&#xed6e;' :  '&#xeda7;' }  #{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  msg['submit'] :  msg['update'] }"
													title="#{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  msg['submit'] :  msg['update'] }"
													rendered="#{employeeLoanAndAdvanceBean.loanType eq 'Advance' and employeeLoanAndAdvanceBean.loanAdvflag eq 'true'}"
													binding="#{advSubmit}" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													styleClass="btn btn-sm bg-success font-iconmoon"
													update="loanForm:loanPanel  growls"
													action="#{employeeLoanAndAdvanceBean.saveOrUpdate}" />
												<p:commandButton id="loanSubmit"
													value="#{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  '&#xed6e;' :  '&#xeda7;' }  #{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  msg['submit']:  msg['update'] }"
													title="#{employeeLoanAndAdvanceBean.action eq 'CREATE' ?  msg['submit'] :  msg['update'] }"
													rendered="#{employeeLoanAndAdvanceBean.loanAdvflag eq 'false'}"
													binding="#{loanSubmit}" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													styleClass="btn btn-sm bg-success font-iconmoon"
													update="loanForm:loanPanel growls"
													action="#{employeeLoanAndAdvanceBean.saveOrUpdate}" />
											</p:outputPanel>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>

			<!-- Create Note -->
			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form id="noteform">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<p:textEditor widgetVar="editor2"
										value="#{employeeLoanAndAdvanceBean.employeeLoanAndAdvanceDetails.note}"
										height="200" style="margin-bottom:10px"
										placeholder="Enter your content">
									</p:textEditor>
									<div class='col-md-12'>
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item  active">
													<div class="row">
														<div class="col-md-3">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name :
																		#{employeeLoanAndAdvanceBean.employeeMaster.firstName}</li>
																	<li>Designation :
																		#{employeeLoanAndAdvanceBean.employeeMaster.personalInfoEmployment.currentDesignation.name}</li>
																	<li>Date :
																		#{employeeLoanAndAdvanceBean.currentCreatedDate}</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-10">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											onsuccess="PF('notedialog').hide()" title="#{msg['cancel']}"
											class="btn bg-slate font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success font-iconmoon"
											onsuccess="PF('notedialog').hide()" title="#{msg['submit']}"
											action="#{freeDistributionSystemBean.submitNote}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</h:form>
			</p:dialog>
			<!-- Create Note -->

			<p:dialog width="40%" modal="true" header="Document Upload"
				styleClass="p-0 overlay-pop modal-dialog " closable="true"
				widgetVar="pridocupload" showEffect="fade" hideEffect="fade"
				closeOnEscape="true">
				<div class="modal-body border0 ">
					<div class="form-group">
						<div class="row">
							<div class="col-lg-3">
								<label class="control-label">Supporting Document &nbsp;
								</label>
							</div>
							<div class="col-lg-8">
								<div class=" no-padding contact-upload upload-popup"
									style="float: left">
									<div class="uploader ">
										<p:fileUpload
											value="#{bean.employeeLoanAndAdvanceDetails.documentPath}"
											fileUploadListener="#{bean.uploadDocument}"
											onstart="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();PF('pridocupload').hide();"
											mode="advanced" auto="true" sizeLimit="1000000"
											update="sigName growls"
											allowTypes="/(\.|\/)(doc|docx|jpeg|png|pdf)$/">
										</p:fileUpload>
									</div>
								</div>
								<div class="uploadercustom1 col-lg-8">
									<h:outputText id="sigName" value="#{bean.loanDocName}" />
								</div>
								<div class="clearfix"></div>
								<div>
									<small class="uploadfinename">File format: png, jpeg,
										pdf, doc and filesize should be lessthan 250kb</small>
								</div>
							</div>

						</div>
					</div>
				</div>
			</p:dialog>


			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">

				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmDelete').hide()">
					</p:commandButton>
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						update="growls"
						action="#{employeeLoanAndAdvanceBean.deleteFile(employeeLoanAndAdvanceBean.loanAndAdvanceFile)}"
						onstart="PF('confirmDelete').show()"
						oncomplete="PF('confirmDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>