<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Promotion</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Create Promotion</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>My Profile</li>
						<li class="active">Create Promotion</li>
					</ul>
				</div>
			</div>
		</div>
<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">Create Promotion</h6>
				</div>
				<div class="panel-body">

					<div class="row ">
						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['sus_ho_ro']}" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<div class="multi-select-full">
										<select class="multiselect" multiple="multiple">
											<option>Select All</option>
											<option>Head Office</option>
											<option>Salem</option>
											<option>Madurai</option>
											<option>Kanchipuram</option>
											<option>Vellore</option>
											<option>Chennai</option>
											<option>Cuddalore</option>
											<option>Thanjavur</option>
											<option>Tirunelveli</option>
											<option>Coimbatore</option>
											<option>Bangalore</option>
											<option>Mumbai</option>
											<option>Vijayawada</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="Department" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-building-o"></i></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
										<f:selectItem itemLabel="Admin" itemValue="" />
										<f:selectItem itemLabel="Marketing" />
										<f:selectItem itemLabel="Technical" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</div>

							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="Designation" />
								<p:outputLabel value="*" class="text-danger mand-symbol" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-building-o"></i></span>
									<h:selectOneMenu class="form-control">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Asst.Salesman / Asst.Saleswoman" />
										<f:selectItem itemLabel="Junior Assistant" />
										<f:selectItem itemLabel="Procurement Supervisor" />

									</h:selectOneMenu>
								</div>

							</div>
						</div>

						<div class="col-lg-3 col-sm-3 col-md-3">

							<div class="row">
								<div class="col-lg-6 col-sm-6 col-md-6">
									<div class="form-group">
										<p:outputLabel value="Year" />
										<p:outputLabel value="*" class="text-danger mand-symbol" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control">
												<f:selectItem itemLabel="#{msg['select']}" />
												<f:selectItem itemLabel="2016" />
												<f:selectItem itemLabel="2017" />
												<f:selectItem itemLabel="2018" />
												<f:selectItem itemLabel="2019" />
												<f:selectItem itemLabel="2020" />
												<f:selectItem itemLabel="2021" />
												<f:selectItem itemLabel="2022" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-sm-6 col-md-6">
									<div class="form-group">
										<p:outputLabel value="Month" />
										<p:outputLabel value="*" class="text-danger mand-symbol" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-building-o"></i></span>
											<h:selectOneMenu class="form-control">
												<f:selectItem itemLabel="#{msg['select']}" />
												<f:selectItem itemLabel="January" />
												<f:selectItem itemLabel="February" />
												<f:selectItem itemLabel="March" />
												<f:selectItem itemLabel="April" />
												<f:selectItem itemLabel="May" />
												<f:selectItem itemLabel="June" />
												<f:selectItem itemLabel="July" />
											</h:selectOneMenu>
										</div>

									</div>
								</div>

							</div>

						</div>

					</div>


					<div class="text-right">

						<p:commandButton value="&#xe916;&nbsp; #{msg['clear']}"
							styleClass="btn btn-sm bg-slate font-iconmoon" />

						<p:commandButton tabindex="8"
							value="&#xf021;&nbsp; #{msg['generate']}"
							styleClass="  btn btn-sm bg-primary fa-input " />
					</div>

					<h6 class="bord_bot clearfix">
						<span class="iform-title p-0 "><i
							class="fa fa-th-large m-r-5"></i> Promotion Details</span>


					</h6>
					
					<div class="table-responsive">
						<table class="table cust-table">
							<thead>
								<tr>
									<th class="ui-state-default text-center"><span
										class="ui-column-title ">#</span></th>
									<th class="ui-state-default text-center"><span
										class="ui-column-title ">Head / Regional Office</span> 
									<span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
											<f:selectItem itemLabel="Head Office" itemValue="" />
											<f:selectItem itemLabel="Salem" />
											<f:selectItem itemLabel="Madurai" />
											<f:selectItem itemLabel="Kanchipuram" />
											<f:selectItem itemLabel="Vellore" />
											<f:selectItem itemLabel="Chennai" />
											<f:selectItem itemLabel="Cuddalore" />
											<f:selectItem itemLabel="Thanjavur" />
											<f:selectItem itemLabel="Tirunelveli" />
											<f:selectItem itemLabel="Coimbatore" />
											<f:selectItem itemLabel="Bangalore" />
											<f:selectItem itemLabel="Mumbai" />
											<f:selectItem itemLabel="Vijayawada" />
											<f:selectItem itemLabel="Select" />
										</h:selectOneMenu></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Employee Id" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Employee Name" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Seniority No" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control text-right" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="No. of years holding the post" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										<p:inputText class="form-control text-right" /></th>
									<th class="ui-state-default text-center"><p:outputLabel
											value="Pending Charges" /> <span
										class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
										
										<h:selectOneMenu class="form-control">
											<f:selectItem itemLabel="#{msg['select']}" />
											<f:selectItem itemLabel="Yes" />
											<f:selectItem itemLabel="No" />
										</h:selectOneMenu>
										</th>

									<th class="ui-state-default text-center">
										<p:outputLabel value="#{msg['action']}" />
									</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td>Salem</td>
									<td>P00001</td>
									<td>Somesh</td>
									<td class="text-right">123456</td>
									<td class="text-right">3</td>
									<td class="text-center"><label class="label label-success sts_shortl">Yes</label></td>
									<td class="text-center"><p:commandButton value="&#xea18;" title="#{msg['view']}" class="btn btn-xs bg-info font-iconmoon" /></td>
								</tr>
								
								<tr>
									<td class="text-center">2</td>
									<td>Coimbatore</td>
									<td>P00002</td>
									<td>Karthi</td>
									<td class="text-right">123457</td>
									<td class="text-right">2</td>
									<td class="text-center"><label class="label label-warning sts_shortl">No</label></td>
									<td class="text-center"><p:commandButton value="&#xea18;" title="#{msg['view']}" class="btn btn-xs bg-info font-iconmoon" /></td>
								</tr>
								<tr>
									<td class="text-center">3</td>
									<td>Vellore</td>
									<td>P00003</td>
									<td>Ezhumalai</td>
									<td class="text-right">123458</td>
									<td class="text-right">2</td>
									<td class="text-center"><label class="label label-success sts_shortl">Yes</label></td>
									<td class="text-center"><p:commandButton value="&#xea18;" title="#{msg['view']}" class="btn btn-xs bg-info font-iconmoon" /></td>
								</tr>
								
								<tr>
									<td class="text-center">4</td>
									<td>Coimbatore</td>
									<td>P00004</td>
									<td>Moorthy</td>
									<td class="text-right">123459</td>
									<td class="text-right">2</td>
									<td class="text-center"><label class="label label-warning sts_shortl">No</label></td>
									<td class="text-center"><p:commandButton value="&#xea18;"
									onclick="PF('viewPromotion').show();" title="#{msg['view']}" class="btn btn-xs bg-info font-iconmoon" /></td>
								</tr>
							</tbody>

						</table>
						<div
							class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
							<div class="dataTables_info m-r-10 m-b-10"
								id="DataTables_Table_0_info " role="status" aria-live="polite">Showing
								1 to 5 of 5 entries</div>
							<ul class="pagination pagination-separated">
								<li><a href="#">&lsaquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li class="disabled"><a href="#">2</a></li>
								<li class="disabled"><a href="#">3</a></li>
								<li class="disabled"><a href="#">4</a></li>
								<li class="disabled"><a href="#">5</a></li>
								<li><a href="#">&rsaquo;</a></li>
								<li>
									<div class="dataTables_length" id="DataTables_Table_1_length">
										<label><select name="DataTables_Table_1_length"
											aria-controls="DataTables_Table_1"
											class="select2-hidden-accessible" tabindex="-1"
											aria-hidden="true"><option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option></select><span
											class="select2 select2-container select2-container--default"
											dir="ltr" style="width: auto;"><span class="selection"><span
													class="select2-selection select2-selection--single"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="0"
													aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
														class="select2-selection__rendered"
														id="select2-DataTables_Table_1_length-hy-container"
														title="10">10</span><span class="select2-selection__arrow"
														role="presentation"><b role="presentation"></b></span></span></span><span
												class="dropdown-wrapper" aria-hidden="true"></span></span></label>
									</div>
								</li>
							</ul>
						</div>

					</div>


					<div class="text-right">
						<p:commandButton value="&#xed6a; #{msg['cancel']}"
							styleClass="btn btn-sm bg-slate font-iconmoon m-l-10"
							onclick="PF('progressDlg').show();">
						</p:commandButton>

						<p:commandButton value="&#xf00c;&nbsp; #{msg['submit']}"
							class="btn btn-sm bg-success fa-input m-l-10" />
					</div>

				</div>
			</div>
		</div>
		
		<p:dialog header="View Promotion" draggable="true" modal="true" styleClass="p-0 overlay-pop modal-dialog" 
		closable="true" width="90%" widgetVar="viewPromotion" showEffect="fade" 
		hideEffect="fade" closeOnEscape="true" resizable="true">
			<div class="modal-body p-0 view-style">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Employee Id"></p:outputLabel>
							<h:outputText value="P00001" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Employee Name"></p:outputLabel>
							<h:outputText value="ArulRaj" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Head / Regional Office"></p:outputLabel>
							<h:outputText value="Salem" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="#{msg['dept']}"></p:outputLabel>
							<h:outputText value="Marketing" class="" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Designation"></p:outputLabel>
							<h:outputText value="Assistant Salesman" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Year"></p:outputLabel>
							<h:outputText value="2016" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Month"></p:outputLabel>
							<h:outputText value="January" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Work Start date in this Region"></p:outputLabel>
							<h:outputText value="10-Feb-2008" class="" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Date of holding the Post"></p:outputLabel>
							<h:outputText value="18-Mar-2010" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Date of Birth"></p:outputLabel>
							<h:outputText value="10-June-1982" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Date of Appointment"></p:outputLabel>
							<h:outputText value="25-July-2010" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Date of Retirement"></p:outputLabel>
							<h:outputText value="01-July-2050" class="" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Pending Charges"></p:outputLabel>
							<h:outputText value="Yes" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Punishment"></p:outputLabel>
							<h:outputText value="Yes" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Increment Last drawn"></p:outputLabel>
							<h:outputText value="10-June-2012" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Next Increment due on"></p:outputLabel>
							<h:outputText value="10-June-2013" class="" />
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Punishment Period"></p:outputLabel>
							<h:outputText value="Yes" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Leave on Loss of Pay"></p:outputLabel>
							<h:outputText value="Yes" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
							<p:outputLabel value="Present Basic Pay as on date (₹​)"></p:outputLabel>
							<h:outputText value="8000" class="" />
						</div>
					</div>
					
				</div>

			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton ajax="false"
					styleClass="btn bg-slate heading-btn fa-input"
					value="&#xf00d;&nbsp;Close"
					action="#{rosterReservationBean.confirmDeleteRoster}"
					oncomplete="PF('confirmRosterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
	</ui:define>
</ui:composition>