<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<ui:param name="bean" value="#{employeeAdditionalChargeBean}"></ui:param>
		<title>InfoTex | Additional Charge List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['additonal_charge_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['employee_self_service']}</li>
						<li class="active">#{msg['additonal_charge_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> -
						#{msg['add_charge']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
							action="#{bean.viewEmpselfAdditionalCharge}"
							disabled="#{bean.viewButtonFlag}"
							class="btn bg-info heading-btn font-iconmoon"
							title="#{msg['view']}" onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
							<f:setPropertyActionListener value="VIEW" target="#{bean.action}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton value="&#xe916; #{msg['clear']}"
							action="#{bean.showEmpSelfChargeListPage}" immediate="true"
							class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
						</p:commandButton>

					</div>
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="empAddition" widgetVar="producttablewdgt"
							class="table" var="data" rowKey="#{data.id}"
							selection="#{bean.selectedemployeeAdditionalChargeRequestDto}"
							value="#{bean.lazyemployeeAdditionalChargeList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="10,15,20" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update="#{p:component('viewId')}" />

							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" styleClass="width-18"
								filterBy="#{data.referenceNo}" filterMatchMode="contains"
								headerText="#{msg['ref_num']} " sortBy="#{data.referenceNo}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.referenceNo}" />
							</p:column>

							<p:column filterable="true" styleClass="width-15"
								filterBy="#{data.designation}" filterMatchMode="contains"
								headerText="#{msg['current_designation']}"
								sortBy="#{data.designation}" sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.designation}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.addtioncharge}"
								filterMatchMode="contains" headerText="#{msg['add_charge']}"
								sortBy="#{data.addtioncharge}" sortable="true">
								<f:facet name="filter">
									<p:inputText class="form-control"
										onkeyup="PF('producttablewdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.addtioncharge}" />
							</p:column>
							<p:column filterable="true" filterBy="#{data.createdDate}"
								filterMatchMode="contains" headerText="#{msg['created_date']}"
								sortBy="#{data.createdDate}" sortable="true"
								styleClass="text-center form-group_calend width-12">
								<f:facet name="filter">
									<p:calendar onchange="PF('petitionregistertablewdgt').filter()"
										id="cDate" pattern="#{loginBean.userInfoDTO.dateFormat}"
										placeholder="#{loginBean.userInfoDTO.dateFormat}" mask="true"
										yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('producttablewdgt').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}" class="">
									<f:convertDateTime
										pattern="#{loginBean.userInfoDTO.dateFormat}"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column filterable="true" styleClass="text-center"
								filterBy="#{data.status}" filterMatchMode="contains"
								headerText="Status" sortBy="#{data.status}" sortable="true">
								<f:facet name="filter">

									<h:selectOneMenu class="form-control select2"
										onchange="PF('producttablewdgt').filter()">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
										<f:selectItem itemValue="EMPLOYEE_ACCEPT_PENDING"
											itemLabel="#{msg['employee_accept_pending']}" />
										<f:selectItem itemValue="EMPLOYEE_ACCEPTED"
											itemLabel="#{msg['employee_accepted']}" />
										<f:selectItem itemValue="EMPLOYEE_DECLINED"
											itemLabel="#{msg['employee_declined']}" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{data.status}"
									styleClass="label label-info width-custom"
									rendered="#{data.status eq 'EMPLOYEE_ACCEPT_PENDING'}"></h:outputText>
								<h:outputText value="#{data.status}"
									styleClass="label label-primary width-custom"
									rendered="#{data.status eq 'EMPLOYEE_ACCEPTED'}"></h:outputText>
								<h:outputText value="#{data.status}"
									styleClass="label label-danger width-custom"
									rendered="#{data.status eq 'EMPLOYEE_DECLINED'}"></h:outputText>
							</p:column>
							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-4" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection" process="@this"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>

			<ui:remove>
				<div class="table-responsive">
					<table class="table m-0 cust-table">
						<thead>
							<tr>
								<th class="ui-state-default text-center width-3"><span
									class="ui-column-title">#</span></th>
								<th class="ui-state-default text-center width-10"><p:outputLabel
										value="#{msg['ref_num']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<input type="text" class="form-control" /></th>
								<th class="ui-state-default text-center width-20"><p:outputLabel
										value="#{msg['current_designation']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<input type="text" class="form-control" /></th>
								<th class="ui-state-default text-center width-20"><p:outputLabel
										value="#{msg['add_charge']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<input type="text" class="form-control" /></th>

								<th class="ui-state-default text-center width-15"><p:outputLabel
										value="#{msg['created_date']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<p:calendar pattern="dd-MMM-yyyy" placeholder="dd-mmm-yyyy"
										mask="true" styleClass="form-control calend-icon"
										navigator="true" /></th>

								<th class="ui-state-default text-center width-15"><p:outputLabel
										value="#{msg['status']}" /> <span
									class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
									<select class="form-control">
										<option>Select</option>
										<option>Active</option>
										<option>In Active</option>
								</select></th>

								<th class="ui-state-default text-center width-4"><p:outputLabel
										value="#{msg['select']}" /></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td>1234465</td>
								<td>Manager</td>
								<td>Sr. Manager</td>
								<td class="text-center">12-Jul-2018</td>
								<td class="text-center"><span
									class="label label-success sts_shortl">Active</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>1234789</td>
								<td>Jr. Assistant</td>
								<td>Sr. Assistant</td>
								<td class="text-center">20-Aug-2018</td>
								<td class="text-center"><span
									class="label label-danger sts_shortl">In Active</span></td>
								<td class="text-center"><input type="radio" /></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div
					class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
					<div class="dataTables_info m-r-10 m-b-0"
						id="DataTables_Table_0_info ">Showing 1 to 10 of 15 entries</div>
					<ul class="pagination pagination-separated">
						<li><a href="#">&lsaquo;&lsaquo;</a></li>
						<li><a href="#">&lsaquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="disabled"><a href="#">3</a></li>
						<li class="disabled"><a href="#">4</a></li>
						<li class="disabled"><a href="#">5</a></li>
						<li><a href="#">&rsaquo;</a></li>
						<li><a href="#">&rsaquo;&rsaquo;</a></li>
						<li>
							<div class="dataTables_length" id="DataTables_Table_1_length">
								<label> <select class="">
										<option value="10">10</option>
										<option value="25">25</option>
										<option value="50">50</option>
										<option value="100">100</option>
								</select>
								</label>
							</div>
						</li>
					</ul>
				</div>
				<!-- <div class="dataTables_info m-b-0 m-l-10"
						id="DataTables_Table_2_info" role="status" aria-live="polite">
						<button type="button" title="Download PDF"
							class="btn btn-primary btn-xs">
							<i class="icon-file-pdf position-left"></i>PDF
						</button>
						<button type="button" title="Download Excel"
							class="btn btn-success btn-xs">
							<i class="icon-file-excel position-left"></i>Excel
						</button>
					</div> -->
			</ui:remove>
		</div>
	</ui:define>
</ui:composition>