<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Interchange Request List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['inter_req_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['employee_self_service']}</li>
						<li class="active">#{msg['inter_req_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title m-t-5">
						<strong><h:outputText id="totalSize"
								value="#{employeeProfileBean.interTotalRecord}"></h:outputText></strong>
						- #{msg['inter_req']}(#{msg['list_s']})
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton rendered="#{employeeProfileBean.isAddButton}"
								update="growls"
								action="#{employeeProfileBean.loadEmployeeInterchange}"
								id="addId" value="&#xea0e;&nbsp;#{msg['add']}"
								title="#{msg['add']}" onclick="PF('progressDlg').show();"
								class="btn bg-success font-iconmoon"
								oncomplete="PF('progressDlg').hide();">
								<f:setPropertyActionListener value="ADD"
									target="#{employeeProfileBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								title="#{msg['edit']}"
								rendered="#{employeeProfileBean.isEditButton}"
								onclick="PF('progressDlg').show();"
								class="btn bg-primary font-iconmoon"
								oncomplete="PF('progressDlg').hide();" update="growls"
								action="#{employeeProfileBean.loadEmployeeInterchange}">
								<f:setPropertyActionListener value="EDIT"
									target="#{employeeProfileBean.pageAction}" />
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeProfileBean.loadEmployeeInterchange}"
								title="#{msg['view']}" class="btn bg-info font-iconmoon">
								<f:setPropertyActionListener value="view"
									target="#{employeeProfileBean.pageAction}" />
							</p:commandButton>

							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								id="idDelete" rendered="#{employeeProfileBean.isDeleteButton}"
								title="#{msg['delete']}" onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeProfileBean.loadEmployeeInterchange}"
								update="growls" class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{employeeProfileBean.pageAction}" />
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{employeeProfileBean.interchangeClear}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</h:panelGroup>
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmUserDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmUserDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{employeeProfileBean.deleteInterchange}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
			
			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="table" tableStyleClass="" rowKey="#{data.id}"
							selection="#{employeeProfileBean.selectedEmployeeInterchangeDetails}"
							value="#{employeeProfileBean.lazyInterchangeModel}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{employeeProfileBean.onRowInterSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />
							<!-- SI No.  -->
							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!--Application Number.  -->
							<p:column id="refNuber" filterable="true"
								filterBy="#{data.interchangeReferenceNo}"
								filterMatchMode="contains" headerText="#{msg['ref_num']}"
								sortBy="#{data.interchangeReferenceNo}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="interchangeReferenceNo" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="interchangeReferenceNo"></p:focus>
									</p:inputText>
								</f:facet>

								<h:outputText value="#{data.interchangeReferenceNo}" />
							</p:column>

							<!-- Date of Application -->
							<p:column headerText="#{msg['created_date']}"
								styleClass="text-center form-group_calend"
								sortBy="#{data.createdDate}" sortable="true"
								filterBy="#{data.createdDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('table').filter()" navigator="true"
										id="createdDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" yearRange="c-100:c+100"
										maxdate="java.util.Date" mask="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('table').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column id="curDepart" filterable="true"
								filterBy="#{data.currentDepartment.name}"
								filterMatchMode="contains" headerText="#{msg['curr_dept']}"
								sortBy="#{data.currentDepartment.name}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu id="currDepart"
										onchange="PF('table').filter()" class="form-control"
										converter="#{entityConverter}">
										<f:selectItem itemLabel="Select" itemValue="#{null}" />
										<f:selectItems value="#{employeeProfileBean.departmentList}"
											var="ent" itemLabel="#{ent.name}" itemValue="#{ent.name}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.currentDepartment.name}" />
							</p:column>

							<p:column id="interchangeDepart" filterable="true"
								filterBy="#{data.interDepartment.name}"
								filterMatchMode="contains" headerText="#{msg['inter_dept']}"
								sortBy="#{data.interDepartment.name}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu id="interDepart"
										onchange="PF('table').filter()" class="form-control"
										converter="#{entityConverter}">
										<f:selectItem itemLabel="Select" itemValue="#{null}" />
										<f:selectItems value="#{employeeProfileBean.departmentList}"
											var="ent" itemLabel="#{ent.name}" itemValue="#{ent.name}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.interDepartment.name}" />
							</p:column>


							<p:column headerText="#{msg['status']}" filterBy="#{data.status}"
								sortBy="#{data.status}" sortable="true" styleClass="text-center">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Approved" itemValue="APPROVED" />
										<f:selectItem itemLabel="Rejected" itemValue="REJECTED" />
										<f:selectItem itemLabel="InProgress" itemValue="INPROGRESS" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="#{(data.status eq 'Approved') ? 'label label-success sts_shortl' :  (data.status eq 'Rejected') ? 'label label-danger sts_shortl' : 'label label-default sts_shortl' }"
									value="#{data.status}">
								</h:outputText>
							</p:column>

							<!-- Select Radio Button -->
							<p:column headerText="#{msg['select']}" styleClass="text-center"
								selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />

					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>