<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
   <ui:define name="content">
      <ui:param name="bean" value="#{employeeVoluntaryRetirementBean}"></ui:param>
      <title>InfoTex | Voluntary Provident Fund Amount</title>
      <!-- Page Header -->
      <div class="page-header page-header-default page-header-wizard" style="margin-top: 50px;">
         <div class="page-header-content">
            <div class="page-title">
               <h4>#{msg['volun_pf_contrib_list']}</h4>
               <ul class="breadcrumb">
                  <li><a href="#{request.contextPath}/pages/home.xhtml"><i
                     class="icon-home2 position-left"></i>#{msg['home']}</a></li>
                  <li>#{msg['personnel']}</li>
                  <li>#{msg['employee_self_service']}</li>
                  <li class="active">#{msg['volun_pf_contrib_list']}</li>
               </ul>
               <a class="heading-elements-toggle"><i class="icon-more"></i></a>
            </div>
            <ui:include src="/pages/pageHeadingElements.xhtml" />
         </div>
      </div>
      <!-- End Page Header -->
      <div class="content">
         <div class="row">
            <div class="col-lg-4">
               <h6 class="panel-title m-t-5">
                  <strong>
                     <h:outputText value="5"></h:outputText>
                  </strong>
                  - #{msg['volun_pf_contrib']}(s)<a class="heading-elements-toggle"><i
                     class="icon-more"></i></a>
               </h6>
            </div>
            <div class="col-lg-8 text-right">
               <div class="form-group  m-b-10">
                  <p:outputPanel id="menupanel">
                     <p:commandButton id="addId" value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}" onclick="window.location.href='#{request.contextPath}/pages/personnelHR/employeeProfile/createVoluntaryProvidentFundContribution.xhtml'" class="btn bg-success font-iconmoon ">
                     </p:commandButton>
                     <p:commandButton value="&#xe912;&nbsp;#{msg['edit']}" id="editId" title="#{msg['edit']}" class="btn bg-primary font-iconmoon">
                     </p:commandButton>
                     <p:commandButton value="&#xea18;&nbsp;#{msg['view']}" id="viewId" title="#{msg['view']}" class="btn bg-info heading-btn  font-iconmoon " onclick="window.location.href='#{request.contextPath}/pages/personnelHR/employeeProfile/viewVoluntaryProvidentFundContribution.xhtml'">
                     </p:commandButton>
                     <p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}" id="deleteId" title="#{msg['delete']}" class="btn bg-danger heading-btn  font-iconmoon ">
                     </p:commandButton>
                     <p:commandButton value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
                     </p:commandButton>
                  </p:outputPanel>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="panel">
                  <div class="panel-body p-0">
                     <div class="table-responsive">
                        <table class="table cust-table">
                           <thead>
                              <tr>
                                 <th class="ui-state-default text-center  width-3"><span class="ui-column-title ">#</span></th>
                                 <th class="text-center width-15">
                                    <p:outputLabel value="#{msg['year']}" />
                                    <span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                                    <input type="text" class="form-control" />
                                 </th>
                                 <th class="ui-state-default width-15">
                                    <p:outputLabel value="#{msg['month']}" />
                                    <span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                                    <input type="text" class="form-control" />
                                 </th>
                                 <th class="text-right  width-15">
                                    <p:outputLabel styleClass="fa-input" value="#{msg['amount']} (&#xf156;)" />
                                    <span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                                    <input type="text" class="form-control" />
                                 </th>
                                 <th class="ui-state-default text-center  width-4">
                                    <p:outputLabel value="#{msg['select']}" />
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="text-center">1</td>
                                 <td class="text-center">2018</td>
                                 <td>July</td>
                                 <td class="text-right">2000.00</td>
                                 <td class="text-center">
                                    <input type="radio" />
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">2</td>
                                 <td class="text-center">2018</td>
                                 <td>June</td>
                                 <td class="text-right">4000.00</td>
                                 <td class="text-center">
                                    <input type="radio" />
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">3</td>
                                 <td class="text-center">2018</td>
                                 <td>May</td>
                                 <td class="text-right">2500.00</td>
                                 <td class="text-center">
                                    <input type="radio" />
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">4</td>
                                 <td class="text-center">2018</td>
                                 <td>April</td>
                                 <td class="text-right">1000.00</td>
                                 <td class="text-center">
                                    <input type="radio" />
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-center">5</td>
                                 <td class="text-center">2018</td>
                                 <td>March</td>
                                 <td class="text-right">3000.00</td>
                                 <td class="text-center">
                                    <input type="radio" />
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
                        <div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info  ">
                           <strong>(1 of 1)</strong>
                        </div>
                        <ul class="pagination pagination-separated">
                           <li><a href="#">&lsaquo;&lsaquo;</a></li>
                           <li><a href="#">&lsaquo;</a></li>
                           <li class="active"><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li class="disabled"><a href="#">3</a></li>
                           <li class="disabled"><a href="#">4</a></li>
                           <li class="disabled"><a href="#">5</a></li>
                           <li><a href="#">&rsaquo;</a></li>
                           <li><a href="#">&rsaquo;&rsaquo;</a></li>
                           <li>
                              <div class="dataTables_length" id="DataTables_Table_1_length">
                                 <label>
                                    <select class="">
                                       <option value="10">10</option>
                                       <option value="25">25</option>
                                       <option value="50">50</option>
                                       <option value="100">100</option>
                                    </select>
                                 </label>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end col -->
         </div>
      </div>
      <p:dialog header="Confirm Delete" draggable="false" modal="true" styleClass="p-0 overlay-pop modal-dialog text-left" closable="true" width="30%" widgetVar="confirmStateDelete" showEffect="fade" hideEffect="fade" closeOnEscape="true" resizable="false">
         <div class="modal-body">
            <h:outputText value="#{msg['delete_record']}" />
         </div>
         <div class="modal-footer m-t-10">
            <p:commandButton value="&#xed6a;&nbsp;#{msg['no']}" title="#{msg['no']}" styleClass="btn bg-slate heading-btn font-iconmoon" />
            <p:commandButton title="#{msg['yes']}" styleClass="btn bg-success heading-btn font-iconmoon" value="&#xed6e;&nbsp;#{msg['yes']}">
            </p:commandButton>
         </div>
      </p:dialog>
   </ui:define>
</ui:composition>