<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Resignation Request</title>
		<!-- Page Header -->
		<div class="page-header page-header-default page-header-wizard"
			style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Resignation Request</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>My Profile</li>
							
							<li class="active">Resignation Request List</li></ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
					<strong>
					<h:outputText value="#{employeeResignationBean.totalRecords}" id="recordcount"></h:outputText></strong>- Total Resignation List<a
						class="heading-elements-toggle"><i class="icon-more"></i></a>
<!-- 						<span class="textb">6</span> - Total Department List -->
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
					<h:panelGroup id="menupanel">
						<p:commandButton value="&#xe912; #{msg['add']}" id="addId"
							action="#{employeeResignationBean.resignationListAction}"
							title="#{msg['add']}" update="growls"
							class="btn bg-success font-iconmoon m-r-5">
							<f:setPropertyActionListener value="ADD"
								target="#{employeeResignationBean.action}"></f:setPropertyActionListener>
						</p:commandButton>	
						<p:commandButton value="&#xe912; #{msg['edit']}"
							action="#{employeeResignationBean.resignationListAction}"
							title="#{msg['edit']}" id="editId" update="growls"
							class="btn bg-primary font-iconmoon">
							<f:setPropertyActionListener value="EDIT"
								target="#{employeeResignationBean.action}"></f:setPropertyActionListener>
						</p:commandButton>	
					
						<p:commandButton value="&#xe99e; #{msg['delete']}"  id="deleteId" update="growls"
							action="#{employeeResignationBean.resignationListAction}" 
							title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
							<f:setPropertyActionListener value="DELETE"
								target="#{employeeResignationBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['view']}"  id="viewId" update="growls"
							action="#{employeeResignationBean.resignationListAction}" 
							title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
							<f:setPropertyActionListener value="VIEW"
								target="#{employeeResignationBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}" id="clearId"
							action="#{employeeResignationBean.showResignationListPage}"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</h:panelGroup>	
					</div> 
				</div>
			</div>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>

				<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="resignationList" var="data" class="table"
							widgetVar="resignationListTable" rowKey="#{data.id}" lazy="true"
							selection="#{employeeResignationBean.selectedResignation}" paginatorAlwaysVisible="false"
							value="#{employeeResignationBean.employeeResignationLazyList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							emptyMessage="No records found">
							<p:column headerText="#{msg['s_no']}"
								style="text-align: center; width: 3%;">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!-- <p:column filterable="true"
								filterBy="#{data.name}"
								filterMatchMode="contains" style="width:8%;"
								headerText="Reference Number"
								sortBy="#{data.referenceNo}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="name" class="form-control"
										onkeyup="PF('resignationListTable').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.name}" />
							</p:column> -->
							<p:column filterable="true"
								filterBy="#{data.employee.empCode}"
								filterMatchMode="contains" style="width:8%;"
								headerText="Employee Number"
								sortBy="#{data.employee.empCode}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="empCode" class="form-control"
										onkeyup="PF('resignationListTable').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.employee.empCode}" />
							</p:column>
							<p:column filterable="true"
								filterBy="#{data.employee.firstName}"
								styleClass="text-center form-group_calend"
								filterMatchMode="exact" style="width:8%;"
								headerText="Employee Name"
								sortBy="#{data.employee.firstName}"
								sortable="true">
								 <f:facet name="filter">
									<p:inputText id="empName" class="form-control"
										onkeyup="PF('resignationListTable').filter()" />
								</f:facet> 
								<h:outputText
									value="#{data.employee.firstName}" />
								
							</p:column>
							<p:column filterable="true"
							styleClass="text-center form-group_calend"
								filterBy="#{data.employee.dob}"
								filterMatchMode="contains" style="width:8%;"
								headerText="Date of Birth"
								sortBy="#{data.employee.dob}"
								sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('resignationListTable').filter()"
										id="empDob" pattern="dd-MM-yyyy" placeholder="DD-MM-YYYY"
										mask="true" yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('resignationListTable').filter()" />

									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.employee.dob}">
									<f:convertDateTime pattern="dd-MM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							
							<p:column filterable="true"
							styleClass="text-center form-group_calend"
								filterBy="#{data.employee.personalInfoEmployment.retirementDate}"
								filterMatchMode="contains" style="width:8%;"
								headerText="Date of Retirement"
								sortBy="#{data.employee.personalInfoEmployment.retirementDate}"
								sortable="true">
								<f:facet name="filter">
									<p:calendar onchange="PF('resignationListTable').filter()"
										id="empRetire" pattern="dd-MM-yyyy" placeholder="DD-MM-YYYY"
										mask="true" yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('resignationListTable').filter()" />

									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.employee.personalInfoEmployment.retirementDate}">
									<f:convertDateTime pattern="dd-MM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							<p:column headerText="Created Date" style="width:8%"
								styleClass="text-center form-group_calend"
								sortBy="#{data.createdDate}" sortable="true"
								filterBy="#{data.createdDate}"
								filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('resignationListTable').filter()"
										id="createdDae" pattern="dd-MM-yyyy" placeholder="DD-MM-YYYY"
										mask="true" yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect" oncomplete="PF('resignationListTable').filter()" />

									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>
							 <p:column headerText="#{msg['status']}" filterBy="#{data.resignationStatus}"
								sortBy=" #{data.resignationStatus}" sortable="true"
								styleClass="text-center" style="width:5%">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('resignationListTable').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Approved" itemValue="APPROVED"></f:selectItem>
										<f:selectItem itemLabel="InProgress" itemValue="INPROGRESS"></f:selectItem>
										<f:selectItem itemLabel="Rejected" itemValue="REJECTED"></f:selectItem>
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="#{data.resignationStatus eq 'APPROVED' ? 'label label-success sts_shortl' : (data.resignationStatus eq 'INPROGRESS' ? 'label label-default sts_shortl':'label label-danger sts_shortl')}"
									value="#{data.resignationStatus}">
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{msg['select']}"	styleClass="text-center" selectionMode="single"
										style="width:3%">
							</p:column>
						</p:dataTable>
					</div>
			</div>
			</div>
		</div>
		
		<p:dialog header="Confirm Delete" draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmResignationDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">

				<div class="modal-body">

					<h:outputText value="Are you sure you want to delete this Record ?" />

				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;No"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmResignationDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;Yes"
						action="#{employeeResignationBean.deleteConfirm}"
						oncomplete="PF('confirmResignationDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
	</ui:define>
</ui:composition>