<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<h:form id="assetreport">
			<title>InfoTex | View Additional Charge</title>
			<ui:param name="bean" value="#{employeeAdditionalChargeBean}"></ui:param>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['view_additonal_charge']}</h4> 
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['employee_self_service']}</li>
							<li class="active">#{msg['view_additonal_charge']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content">
				<div class="panel">
					<div class="panel-heading bg-info">
						<h6 class="panel-title">#{msg['additonal_charge']}</h6>
					</div>
					<div class="panel-body page-scroll-without-process">
						<h:form id="catform">
							<div class="row view-style">
								<div class="col-sm-12">
									<p:outputPanel id="entity">
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['ho_ro']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalChargeRequestDto.hoRoRegion.name}" /></span>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['enty_typ']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalChargeRequestDto.selectdEntityMaster.entityTypeMaster.entityName}" /></span>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['entity']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalChargeRequestDto.selectdEntityMaster.name}" /></span>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dept']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalChargeRequestDto.employeeMaster.personalInfoEmployment.currentDepartment.name}" /></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['emp_name_code']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalChargeRequestDto.employeeMaster.empCode} / #{bean.employeeAdditionalChargeRequestDto.employeeMaster.firstName}" /></span>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['date']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalCharge.referenceDate}">
																<f:convertDateTime
																	pattern="#{loginBean.userInfoDTO.dateFormat}"
																	timeZone="#{loginBean.timeZone}"></f:convertDateTime>
															</h:outputText></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row view-style">
											<div class="col-lg-12">
												<h5 class="bord_bot m-t-0">
													<i class="fa fa-th-large m-r-5 m-t-0"></i><span
														class="iform-title">#{msg['assign_additonal_charge']}</span>
												</h5>
											</div>
										</div>
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['desgn']}" />

													<h:outputText class=""
														value="#{bean.employeeAdditionalCharge.currentDesignation.name}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['additonal_charge']}" />
													<div class="input-group">
														<h:outputText class=""
															value="#{bean.employeeAdditionalCharge.designation.name}" />
													</div>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['from_date']}" />
													<h:outputText class=""
														value="#{bean.employeeAdditionalCharge.dateOfAditionaalCharge}">
														<f:convertDateTime
															pattern="#{loginBean.userInfoDTO.dateFormat}"
															timeZone="#{loginBean.timeZone}"></f:convertDateTime>
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['dt_relieving']}" />
													<h:outputText class=""
														value="#{bean.employeeAdditionalCharge.relievingDate eq null ? '-' : bean.employeeAdditionalCharge.relievingDate}">
														<f:convertDateTime
															pattern="#{loginBean.userInfoDTO.dateFormat}"
															timeZone="#{loginBean.timeZone}"></f:convertDateTime>
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['tot_no_of_days']}" />
													<h:outputText class=""
														value="#{bean.totalDays eq null ? '-' : bean.totalDays}"
														id="datevalue">
														<f:convertNumber pattern="#0"></f:convertNumber>
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['no_of_days_present']}" />
													<h:outputText class="" id="present"
														value="#{bean.employeeAdditionalChargeRequestDto.presentDays eq null ? '-' : bean.employeeAdditionalChargeRequestDto.presentDays}">
														<f:convertNumber pattern="#0"></f:convertNumber>
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['no_of_days_absent']}" />
													<h:outputText
														value="#{bean.employeeAdditionalChargeRequestDto.absentDays eq null ? '-' : bean.employeeAdditionalChargeRequestDto.absentDays}"
														id="absent" class="">
														<f:convertNumber pattern="#0"></f:convertNumber>
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['reason']}" />
													<div class="input-group">
														<span class=""><h:outputText
																value="#{bean.employeeAdditionalCharge.remarks}" /></span>
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</div>
							</div>

							<div class="col-lg-6 col-md-5 col-sm-5">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn bg-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>

								<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
									styleClass="btn btn-primary btn-md font-iconmoon min-wid-auto"
									onclick="PF('commentdialog').show();"></p:commandButton>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-7 col-sm-7 text-right">
									<h:panelGroup id="buttonpanel">
										<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
											disabled="#{bean.buttonFlag}" title="#{msg['reject']}"
											onclick="PF('dlgComments2').show();"
											class="btn btn-sm bg-danger font-iconmoon">
										</p:commandButton>
										<p:commandButton binding="#{approve}"
											disabled="#{bean.buttonFlag}"
											value="&#xecf5;&nbsp;#{msg['approve']}"
											onclick="PF('dlgComments1').show();"
											title="#{msg['approve']}"
											class="btn btn-sm bg-success font-iconmoon">
										</p:commandButton>
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											action="#{bean.showEmpSelfChargeListPage}"
											class="btn bg-info font-iconmoon m-r-0 "
											title="#{msg['back']}">
										</p:commandButton>
									</h:panelGroup>
								</div>
							</div>

						</h:form>
					</div>
				</div>
			</div>


<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0 view-note-editor">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<div class="panel-body p-0 m-b-10">
											<p:textEditor widgetVar="editor1" readonly="true"
												value="#{bean.viewResponseDTO.employeeAdditionalChargeNote.note}"
												height="200" />
										</div>

										<div class='col-md-12'>
											<p:carousel value="#{bean.viewLogResponseList}" var="data">
												<div
													class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
													<ul class="list list-icons m-b-0">
														<li>
															<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
															<h:panelGroup
																rendered="#{data.planStatus=='CHARGE_SUBMITTED'}">
																<h6 class="m-t-0 text-center">#{msg['charge_created_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='CHARGE_APPROVED'}">
																<h6 class="m-t-0 text-center">#{msg['charge_approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='CHARGE_FINAL_APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['charge_final_approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='EMPLOYEE_ACCEPT_PENDING'}">
																<h6 class="m-t-0 text-center">
																	#{msg['employee_accept_pending_createdby']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='EMPLOYEE_DECLINED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['employee_declined_createdby']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='EMPLOYEE_ACCEPTED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['employee_accepted_createdby']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='RELIEVE_SUBMITTED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['relieve_created_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='RELIEVE_APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['relieve_approved_by']}</h6>
															</h:panelGroup> <h:panelGroup
																rendered="#{data.planStatus=='RELIEVE_FINAL_APPROVED'}">
																<h6 class="m-t-0 text-center">
																	#{msg['relieve_final_approved_by']}</h6>
															</h:panelGroup>
														</li>
														<li>Name : #{data.employeeName}</li>
														<li>Designation : #{data.employeeDesignation}</li>
														<li>Date : <h:outputText
																value="#{data.planCreatedDate}">
																<f:convertDateTime pattern="dd-MM-yyyy"
																	timeZone="#{loginBean.timeZone}"></f:convertDateTime>
															</h:outputText></li>
													</ul>
												</div>
											</p:carousel>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['close']}"
											onclick="PF('notedialog').hide();"
											class="btn bg-slate heading-btn  font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>



			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				width="80%" modal="true" showEffect="fade" hideEffect="fade"
				resizable="false" styleClass="p-0 top-100">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable m-b-15">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<ui:repeat var="approveData"
													value="#{bean.viewResponseDTO.approveCommentsDTOList}">
													<tr>
														<td class="width-15"><strong>#{msg['approve_comment']}</strong></td>
														<td><span class="pull-left">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right">#{approveData.displayName
																eq
																null?approveData.employeeName:approveData.displayName} </span>
															<br /> <span class="pull-left m-t-15">Given Date</span>
															<span
															class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																	value="#{approveData.createdDate}">
																	<f:convertDateTime
																		pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																</h:outputText> </span></td>
														<td class="width-40"><h:inputTextarea disabled="true"
																name="enter-message" value="#{approveData.remarks}"
																class="form-control" rows="3" cols="1"></h:inputTextarea></td>
													</tr>
												</ui:repeat>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>

												<ui:repeat var="rejectData"
													value="#{bean.viewResponseDTO.rejectCommentsDTOList}">
													<tr>
														<td class="width-15"><strong>#{msg['reject_comments']}</strong></td>
														<td><span class="pull-left">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right">#{rejectData.displayName
																eq null?rejectData.employeeName:rejectData.displayName}</span>
															<br /> <span class="pull-left m-t-15">Given Date</span>
															<span
															class="label label-flat border-warning text-warning-600 pull-right m-t-15"><h:outputText
																	value="#{rejectData.createdDate}">
																	<f:convertDateTime
																		pattern="#{loginBean.userInfoDTO.dateFormat}"></f:convertDateTime>
																</h:outputText> </span></td>
														<td class="width-40"><h:inputTextarea disabled="true"
																name="enter-message" value="#{rejectData.remarks}"
																class="form-control" rows="3" cols="1"></h:inputTextarea></td>
													</tr>
												</ui:repeat>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- Comment End -->

			<p:dialog modal="true" draggable="false"
				header="#{msg['approve_comments']}"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
				width="40%">
				<h:form>
					<p:outputPanel id="approvePanel">
						<div class="panel-body p-0">
							<div class="row">
								<div class="col-lg-12">
									<p:outputLabel value="#{msg['remarks']}" />
									<div class="form-group">
										<p:inputTextarea autoResize="false" rows="4" cols="50"
											styleClass="form-control" maxlength="235"
											value="#{bean.selectedemployeeAdditionalChargeRequestDto.employeeAdditionalChargeLog.remarks}"
											id="comments1" rendered="true">
											<p:ajax update="comments1"></p:ajax>
										</p:inputTextarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
										class="btn bg-slate heading-btn  font-iconmoon">
									</p:commandButton>
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										oncomplete="PF('dlgComments1').hide();" process="@this"
										class="btn bg-success heading-btn  font-iconmoon"
										action="#{bean.acceptEmployeeAdditionalCharge}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()">
									</p:commandButton>
								</div>
							</div>
						</div>

					</p:outputPanel>
				</h:form>
			</p:dialog>


			<p:dialog modal="true" draggable="false"
				header="#{msg['reject_comments']}"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
				width="40%">
				<h:form>
					<p:outputPanel id="rejectPanel">
						<div class="panel-body p-0">
							<div class="row">
								<div class="col-lg-12">
									<p:outputLabel value="#{msg['remarks']}" />
									<div class="form-group">
										<p:inputTextarea autoResize="false" rows="4" cols="50"
											styleClass="form-control" maxlength="235"
											value="#{bean.selectedemployeeAdditionalChargeRequestDto.employeeAdditionalChargeLog.remarks}"
											id="comments2">
											<p:ajax update="comments2"></p:ajax>
										</p:inputTextarea>
									</div>
									<h:message for="comments2" class="validation-error-label" />
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
										class="btn bg-slate heading-btn  font-iconmoon">
									</p:commandButton>
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										action="#{bean.declineEmployeeAdditionalCharge}"
										oncomplete="PF('dlgComments2').hide();" process="@this">
									</p:commandButton>
								</div>
							</div>
						</div>

					</p:outputPanel>
				</h:form>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>