<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{employeePfSelfContributionBean}"></ui:param>
		<title>InfoTex | View Voluntary Provident Fund Amount</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_vol_pf_req']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['employee_self_service']}</li>
						<li class="active">#{msg['view_vol_pf_req']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-5"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading ">
						<h6 class="panel-title">#{msg['vol_pf_req']}</h6>
					</div>
					<div class="panel-body page-scroll-without-process p-t-10">
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group m-b-0">
									<p:outputLabel value="#{msg['emp_name']}" />
									<h:outputText
										value="#{bean.empPfSelfContribution.employeeName}"
										styleClass="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group m-b-0">
									<p:outputLabel value="#{msg['req_amount']}" />
									<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
										<h:outputText
											value="#{bean.empPfSelfContribution.contributedAmount}"
											class="fa-input dis-inlineblock">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText></span>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['eff_Date']}" />
									<h:outputText styleClass=""
										value="#{bean.empPfSelfContribution.fromDate}">
										<f:convertDateTime pattern="dd-MMM-yyyy"
											timeZone="#{loginBean.timeZone}"></f:convertDateTime>
									</h:outputText>
								</div>
							</div>
						</div>

						<!-- Forward Section -->
						<div class="row label-form m-t-10">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<p:outputLabel value="#{msg['frwd_to']}" />
								<span class="text-danger">*</span>
								<div class="form-group">
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="fwdto" styleClass="form-control"
											disabled="true" converter="#{entityConverter}"
											value="#{bean.empSelfContributionDTO.userMaster}">
											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true"></f:selectItem>
											<f:selectItems var="user" value="#{bean.forwardToUsersList}"
												itemValue="#{user}"
												itemLabel="#{user.empCode} / #{user.empName}"></f:selectItems>
											<p:ajax event="change" update="fwdto" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['frwd_for']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-forward"></i></span>
										<h:selectOneMenu id="forwardfor" styleClass="form-control"
											disabled="true"
											value="#{bean.empSelfContributionDTO.finalApproval}">
											<f:selectItem itemLabel="#{msg['select']}"
												itemValue="#{null}" noSelectionOption="true"></f:selectItem>
											<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
											<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>

						<div class="row view-style">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<p:commandButton value="&#xea18; #{msg['view_note']}"
									title="#{msg['view_note']}"
									styleClass="btn bg-info btn-md font-iconmoon m-l-0"
									onclick="PF('notedialog').show();"></p:commandButton>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
								<h:panelGroup
									rendered="#{bean.selectedEmpPfSelfContribution.stage ne 'FINAL_APPROVED'}">
									<p:commandButton value="&#xed6e;&nbsp;#{msg['reject']}"
										update="growls" title="#{msg['reject']}"
										rendered="#{bean.enableFlag and bean.empPfSelfContribution.stage ne 'FINAL_APPROVED'}"
										styleClass="btn btn-sm bg-danger waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments2').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('REJECTED')}"></p:ajax>
									</p:commandButton>
									<p:commandButton value="&#xecf2;&nbsp;#{msg['final_approve']}"
										update="growls" title="#{msg['final_approve']}"
										rendered="#{bean.enableFlag and bean.contributionLastNote.finalApproval eq 'true'
												and bean.empPfSelfContribution.stage ne 'FINAL_APPROVED'}"
										styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments3').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('FINAL_APPROVED')}"></p:ajax>
									</p:commandButton>

									<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
										action="#{bean.statusUpdate}" update="growls"
										title="#{msg['approve']}"
										rendered="#{bean.enableFlag and bean.contributionLastNote.finalApproval eq 'false'}"
										styleClass="btn btn-sm bg-success waves-effect waves-light font-iconmoon"
										onclick="PF('dlgComments1').show();" type="button">
										<p:ajax event="click"
											listener="#{bean.statusUpdate('APPROVED')}"></p:ajax>
									</p:commandButton>
								</h:panelGroup>

								<p:commandButton value="&#xeddf; #{msg['back']}"
									title="#{msg['back']}"
									action="#{bean.showEmployeeRequestListPage}"
									onstart="PF('statusDialog').show();"
									onsuccess="PF('statusDialog').hide();"
									styleClass="btn btn-sm bg-info font-iconmoon ">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			closable="true" styleClass="create-note-panel">
			<h:form>
				<div class="panel-body p-0 view-note-editor">
					<div class="tabbable">
						<ul
							class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
							<li class="active"><a href="#large-tab1" data-toggle="tab">Note
									- 1</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="large-tab1">
								<div class="form-group">
									<p:textEditor widgetVar="editor3"
										value="#{bean.empSelfContributionDTO.note}" height="150"
										style="margin-bottom:10px" placeholder="Enter your content">
									</p:textEditor>
								</div>
								<div class="carousel slide prime-media-carousel" id="media">
									<div class="item  active">
										<div class="row">
											<div class="col-lg-12 ph0">
												<p:carousel value="#{bean.viewNoteEmployeeDetails}"
													var="data" itemStyle="text-align:center" responsive="true">
													<div class="col-md-12 ph0">
														<div class="p-10 border-top-warning panel m-b-0">
															<ul class="list list-icons m-b-0">
																<li>
																	<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																	<h:panelGroup rendered="#{data.status=='SUBMITTED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['created_by']}</h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup
																		rendered="#{data.status=='FINAL_APPROVED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['final_approved_by']}</h6>
																	</h:panelGroup> <h:panelGroup rendered="#{data.status=='REJECTED'}">
																		<h6 class="m-t-0 text-center">
																			#{msg['rejected_by']}</h6>
																	</h:panelGroup>
																</li>
																<li>Name : #{data.employeeName}</li>
																<li>Designation : #{data.employeeDesignation}</li>
																<li>Date : <h:outputText
																		value="#{data.createdDate}">
																		<f:convertDateTime pattern="dd-MM-yyyy"
																			timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																	</h:outputText></li>
															</ul>
														</div>
													</div>
												</p:carousel>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="PF('notedialog').hide();"
									class="btn bg-slate heading-btn  font-iconmoon" />

							</div>
						</div>
					</div>
				</div>
			</h:form>
		</p:dialog>
		
		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%">
			<p:outputPanel id="approvepanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.empSelfContributionDTO.approveComments}"
									id="comments1" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments1').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpRequestContribution}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%">
			<p:outputPanel id="rejectpanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.empSelfContributionDTO.rejectComments}"
									id="comments2">
								</p:inputTextarea>

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments2').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide()" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpRequestContribution}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog modal="true" draggable="false"
			header="#{msg['final_approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments3"
			width="40%">
			<p:outputPanel id="finalapprovepanelid">
				<div class="modal-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="#{msg['remarks']}" />
							<div class="form-group">
								<p:inputTextarea autoResize="false" rows="4" cols="50"
									styleClass="form-control" maxlength="235"
									value="#{bean.empSelfContributionDTO.finalApproveComments}"
									id="comments3" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer ph0 m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
						title="#{msg['cancel']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();"
						onclick="PF('dlgComments3').hide();"
						class="btn bg-slate heading-btn  font-iconmoon">
					</p:commandButton>
					<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
						title="#{msg['submit']}" onstart="PF('statusDialog').show();"
						onsuccess="PF('statusDialog').hide();" update="growls"
						class="btn bg-success heading-btn  font-iconmoon"
						action="#{bean.approveRejectEmpRequestContribution}">
					</p:commandButton>
				</div>
			</p:outputPanel>
		</p:dialog>

		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}"
									onclick="location.href='createAmountTransferCashToBank.xhtml';"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>