<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | Training Request</title>

			<style type="text/css">
#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number,
	#steps-uid-0-t-4 span.number, #steps-uid-0-t-5 span.number,
	#steps-uid-0-t-6 span.number, #steps-uid-0-t-7 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 .number, #steps-uid-0-t-1 .number, #steps-uid-0-t-2 .number,
	#steps-uid-0-t-3 .number, #steps-uid-0-t-4 .number, #steps-uid-0-t-5 .number,
	#steps-uid-0-t-6 .number, #steps-uid-0-t-7 .number, #steps-uid-0-t-8 .number
	{
	color: #fff;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
}

#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after,
	#steps-uid-0-t-4 .number:after, #steps-uid-0-t-5 .number:after,
	#steps-uid-0-t-6 .number:after, #steps-uid-0-t-7 .number:after,
	#steps-uid-0-t-8 .number:after {
	margin-left: -9px;
}

#steps-uid-0-t-0 .number {
	font-size: 14px;
}

#steps-uid-0-t-8 .number:after {
	content: "22";
	color: #bbb;
}

#steps-uid-0-t-0 {
	color: #bbb;
}

#steps-uid-0-t-7 {
	color: #333333 !important;
}
</style>

			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['vi_reg_req']}</h4>
						<ul class="breadcrumb">
							<li><a href=""><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['employee_self_service']}</li>
							<li class="active">#{msg['vi_reg_req']}</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 			<div class="content p-content"> -->
			<!-- 				<ui:include src="recruitmentProcessWorkFlow.xhtml" /> -->
			<!-- 			</div> -->

			<div class="content">
				<div
					class="  pro_steps2line panel-group panel-group-control panel-group-control-right m-b-5"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading ">
							<h6 class="panel-title">#{msg['reg_req']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in ">
							<div class="panel-body pg-scroll-panel-1 p-t-10">
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_id']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.empCode}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['emp_name']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.firstName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.department.name}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['desgn']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.designation.name}"
												class="" />
										</div>
									</div>
								</div>


								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['HO_RO']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.headAndRegionOffice.name}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dob']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.dob}"
												styleClass="view-style">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_of_retire']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.personalInfoEmployment.retirementDate}"
												styleClass="view-style">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['Entity_Type']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.entityType.entityName}"
												class="" />
										</div>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['Entity']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.workLocation.name}"
												class="" />
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_joining']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.personalInfoEmployment.dateOfJoining}"
												class="">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['dt_of_resignation']}" />
											<h:outputText
												value="#{employeeResignationBean.resignation.employee.personalInfoEmployment.dateOfResignation}"
												class="">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<h:outputText
												value="#{employeeResignationBean.empResignationStatus.status}"
												class="">
											</h:outputText>
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['content']}" />
											<p:textEditor widgetVar="editor1" readonly="true"
												value="#{employeeResignationBean.resignation.resigntionComments}"
												height="200" />
										</div>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group input-border-radius">
											<p:outputLabel value="#{msg['download_doc']}" />
											<p:inputText
												value="#{employeeResignationBean.documentFileName}"
												disabled="true" styleClass=" form-control" />
										</div>
									</div>

									<div class="col-lg-3 col-sm-3 col-md-3">
										<div class="form-group">
											<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
											<p:commandButton
												value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
												title="#{msg['download']}"
												actionListener="#{employeeResignationBean.downloadfile}"
												ajax="false" class="btn btn-sm bg-primary fa-input m-l-0">
												<p:fileDownload value="#{employeeResignationBean.file}"></p:fileDownload>
											</p:commandButton>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											immediate="true" class="btn bg-info font-iconmoon"
											title="#{msg['back']}"
											oncomplete="window.location.href='#{request.contextPath}/pages/home.xhtml'">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
