<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Tender Negotiation List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['ten_nego_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['tender']}</li>
						<li class="active">#{msg['ten_nego_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><p:outputLabel id="totalSize"
								value="#{tenderNegotiationBean.tenderListSize}"
								styleClass="textb play_class text-15" /></strong> -
						#{msg['ten_nego']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>

				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								action="#{tenderNegotiationBean.viewTender}"
								title="#{msg['view']}" class="btn bg-info font-iconmoon"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" update="growls">
							</p:commandButton>
							<p:commandButton value="&#xe853;&nbsp;#{msg['nego_ten']}"
								immediate="true" id="addId"
								action="#{tenderNegotiationBean.goToPage}"
								rendered="#{tenderNegotiationBean.applyButton}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['nego_ten']}"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="ADD"
									target="#{tenderNegotiationBean.pageAction}" />
							</p:commandButton>
						</h:panelGroup>
						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							action="#{tenderNegotiationBean.loadTenderListPage}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();" immediate="true"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel panel-info m-b-0">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="table" var="data" class="" lazy="true"
							widgetVar="table" rowKey="#{data.id}"
							selection="#{tenderNegotiationBean.selectedTender}"
							value="#{tenderNegotiationBean.lazyTenderList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							styleCalss="" emptyMessage="#{msg['no_record_found']}">
							<p:ajax event="rowSelectRadio"
								listener="#{tenderNegotiationBean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('menupanel')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />
							<!-- SI No.  -->
							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<!--Application Number.  -->
							<p:column id="tenRefNum" filterable="true" styleClass="width-10"
								filterBy="#{data.tenderRefNumber}" filterMatchMode="contains"
								headerText="#{msg['tender_ref_num']}"
								sortBy="#{data.tenderRefNumber}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="refNum" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.tenderRefNumber}" />
							</p:column>
							<p:column id="tenName" filterable="true" styleClass="width-15"
								filterBy="#{data.tenderName}" filterMatchMode="contains"
								headerText="#{msg['tender_name']}" sortBy="#{data.tenderName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="tName" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="tName"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.tenderName}" />
							</p:column>
							<p:column id="tenType" filterable="true" styleClass="width-12"
								filterBy="#{data.supplierName}" filterMatchMode="contains"
								headerText="#{msg['sup_name']}" sortBy="#{data.supplierName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="tName1" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="tName1"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.supplierName}" />
							</p:column>
							<p:column id="tenCat" filterable="true"
								styleClass="width-10 text-right fa-input"
								filterBy="#{data.supplierName}" filterMatchMode="contains"
								headerText="#{msg['quo_amt']} ( &#xf156; )"
								sortBy="#{data.supplierName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="tName2" class="form-control "
										onkeyup="PF('table').filter()" tabindex="1">
										<p:focus for="tName2"></p:focus>
									</p:inputText>
								</f:facet>
								<h:outputText value="#{data.quoteAmount}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['status']}" filterBy="#{data.status}"
								sortBy="#{data.status}" sortable="true"
								styleClass="text-center width-8">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('table').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemLabel="Tender Evaluated"
											itemValue="Tender Evaluated" />
										<f:selectItem itemLabel="Tender Negotiated"
											itemValue="Tender Negotiated" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText
									styleClass="#{(data.status eq 'Tender Negotiated') ? 'label label-success width-custom' :  (data.status eq 'Tender Evaluated') ?  'label label-warning width-custom': '' }"
									value="#{data.status}">
								</h:outputText>
							</p:column>

							<!-- Select Radio Button -->
							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-4" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
		
		<p:dialog header="#{msg['confirm_delete']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="confirmTenderDelete"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['delete_record']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmTenderDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{tenderNegotiationBean.deleteTenderConfirm}"
					oncomplete="PF('confirmTenderDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>
