<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Tender Negotiation</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['ten_nego']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['tender']}</li>
						<li class="active">#{msg['ten_nego']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['ten_nego']} </a> <span
								class="pull-right text-13 m-r-25">(<span
								class="text-danger">*</span> #{msg['mand_fields']})
							</span>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10 p-b-5">
							<div class="row label-form custom-form-1">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_ref_num']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText
												value="#{tenderNegotiationBean.tender.tenderReferenceNo}"
												class="form-control" var="data"
												itemLabel="#{data.tenderReferenceNo}" itemValue="#{data.id}"
												disabled="true" />
											<!-- <h:selectOneMenu class="form-control">
												<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
												

											</h:selectOneMenu> -->
											<ui:remove>
												<h:selectOneMenu class="form-control" id="refno"
													value="#{tenderNegotiationBean.tenderNegotiationDTO.id}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['tender_ref_num']} #{msg['required']}">
													<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
													<f:selectItems value="#{tenderNegotiationBean.tenderList}"
														var="data" itemLabel="#{data.tenderReferenceNo}"
														itemValue="#{data.id}"></f:selectItems>
													<p:ajax update="tenderName"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														listener="#{tenderNegotiationBean.loadTenderName}"></p:ajax>
												</h:selectOneMenu>
											</ui:remove>
										</div>

									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class=" icon-file-text2"></i></span>
											<p:inputText
												value="#{tenderNegotiationBean.tender.tenderName}"
												class="form-control " disabled="true" />
											<ui:remove>
												<p:inputText id="tenderName"
													value="#{tenderNegotiationBean.tenderNegotiationDTO.tenderName}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['tender_name']}"
													class="form-control " disabled="true">
													<p:ajax update="tenderName"></p:ajax>
												</p:inputText>
											</ui:remove>
										</div>
										<h:message for="tenderName" class="validation-error-label"></h:message>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group m-b-0">
										<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
										<p:commandButton update="growls table"
											action="#{tenderNegotiationBean.clear}"
											value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										<!-- <p:commandButton update="growls"
											value="&#xe98e;&nbsp;#{msg['search']}"
											title="#{msg['mis_generate']}"
											class="btn bg-success heading-btn font-iconmoon  ">
										</p:commandButton> -->
										<p:commandButton update="table"
											onstart="PF('statusDialog').show();"
											action="#{tenderNegotiationBean.search}"
											value="&#xe98e;&nbsp;#{msg['search']}" binding="#{submit}"
											title="#{msg['search']}"
											onsuccess="PF('statusDialog').hide();"
											class="btn bg-info font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
			<div class="panel panel-white">
				<div class="panel-body p-t-10">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h5 class="panel-title m-t-0 m-b-5">
								<i class="fa fa-th-large m-r-5"></i>#{msg['ten_nego']}
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive m-b-10">
								<p:dataTable rowIndexVar="rowIndex" widgetVar="mainTable"
									id="table"
									value="#{tenderNegotiationBean.tenderEvaluationList}"
									var="data">
									<p:column headerText="#{msg['s_no']}"
										styleClass="text-center width-3">
										<h:outputText value="#{rowIndex+1}" />
									</p:column>
									<p:column headerText="#{msg['item_code_name']}"
										styleClass="width-12">
										<h:outputText value="#{data.itemCodeOrName}" />
									</p:column>
									<p:column headerText="#{msg['quty']}"
										styleClass="text-right width-8">
										<h:outputText value="#{data.quantity}" />
									</p:column>
									<p:column headerText="#{msg['sup_name']}" styleClass="width-15">
										<h:outputText value="#{data.supplierName}" />
									</p:column>
									<p:column headerText="#{msg['quo_amt']} ( &#xf156; )"
										styleClass="text-right width-15 fa-input">
										<h:outputText value="#{data.quotedAmount}" />
									</p:column>
									<p:column headerText="#{msg['neg_amt']} ( &#xf156; )"
										styleClass="text-right width-15 fa-input">
										<h:outputText value="#{data.negotiatedAmount}"
											rendered="#{data.negotiatedAmount>0}" />
										<p:inputText value="#{data.negotiatedAmount}"
											rendered="#{data.negotiatedAmount==0 || data.negotiatedAmount ==null}">
											<p:ajax update="table"></p:ajax>
										</p:inputText>
									</p:column>

								</p:dataTable>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								immediate="true" class="btn bg-slate font-iconmoon m-r-0"
								title="#{msg['cancel']}"
								action="#{tenderNegotiationBean.cancel}">
							</p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{tenderNegotiationBean.createTenderNegotiation}"
								immediate="true" update="growls"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>