<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Tender Apply</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_tender']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['tender']}</li>
						<li class="active">#{msg['view_tender']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->


		<div class="content">

			<!-- collapse panel -->

			<div
				class="panel-group panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1"> #{msg['tender']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0 p-t-10 page-scroll-without-process">

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_ref_num']}" />
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.tenderReferenceNo}"
												class="" />
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_type']}" />
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.tenderType.name}"
												class="" />
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_category']} " />
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.tenderCategory.name}"
												class="" />
										</span>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tender_name']}" />
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.tenderName}" />
										</span>
									</div>
								</div>
							</div>
							<h:panelGroup
								rendered="#{tenderAwardingBean.renderTenderCreate == false}">
								<div class="panel panel-info">
									<div class="panel-body p-t-10">
										
										<p:outputPanel id="child-table">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-xs-12">
													<h5 class="m-t-0 m-b-5">
														<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['view_ten_award']}</span>
													</h5>
													<div class="table-responsive">
														<p:dataTable rowIndexVar="rowIndex" widgetVar="mainTable"
															id="table1" value="#{tenderAwardingBean.list}" var="data">
															<p:column headerText="#" styleClass="width-3 text-center">
																<h:outputText value="#{rowIndex+1}" />
															</p:column>
															<p:column headerText="#{msg['item_name']}"
																styleClass="width-18">
																<h:outputText value="#{data.itemName}" />
															</p:column>

															<p:column headerText="#{msg['sup_name']}"
																styleClass="width-15">
																<h:outputText value="#{data.supplierName}" />
															</p:column>

															<p:column headerText="#{msg['fin_amt']} ( &#xf156; )"
																styleClass="width-10 text-right fa-input">
																<h:outputText value="#{data.finalizedAmount}" />

															</p:column>

														</p:dataTable>

													</div>
												</div>
											</div>
										</p:outputPanel>

									</div>

								</div>
							</h:panelGroup>
							<h:panelGroup rendered="#{tenderAwardingBean.renderTenderCreate}">
								<div class="row view-style">
									<div class="col-lg-12 col-md-12 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tender_des']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.tenderDescription}"
													class="" />
											</span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['con_form']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.contractForm.name}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['number_of_cover']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.noOfCovers}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['source_of_funding']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.sourceOfFunding}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['num_bid_opener']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.noOfBidOpeners}" />
											</span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['rebit_sub_allow']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.rebidSubmissionAllowed eq 'true' ? 'Yes' : 'No'}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_wth_allow']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.bidsWithdrawalAllowed eq 'true' ? 'Yes' : 'No'}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['off_Sub_allow']} " />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.offlineSubmissionAllowed eq 'true' ? 'Yes' : 'No'}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['Tech_eva_req']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.technicalEvaluationRequired eq 'true' ? 'Yes' : 'No'}" />
											</span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['mul_all']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.multicurrencyAllowed eq 'true' ? 'Yes' : 'No'}" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['payment_mode']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.paymentMode.paymentMode}"
													class="" />
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['earn_dep']} " />
											<span class=""> <h:outputText
													value="&#xf156;&nbsp;#{tenderAwardingBean.selectedTenderr.earnestDeposit}"
													class="fa-input">
												</h:outputText>
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cost_ten_from']} " />
											<span class=""> <h:outputText
													value="&#xf156;&nbsp;#{tenderAwardingBean.selectedTenderr.costOfTender}"
													class="fa-input" />
											</span>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['last_date_sub']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.lastDateOfSubmission}">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>
								</div>
								<!-- cri_date_start -->
								<div class="row">
									<div class="col-lg-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['cri_date']}</span>
										</h5>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['Pub_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.publishDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_open_date']} " />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.pidOpeningDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>



									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_close_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.bidClosingDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['doc_down_start_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.docDownloadSalesStartDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>
								</div>
								<div class="row view-style">

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['doc_down_end_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.docDownloadSalesEndDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>

									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cla_start_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.clarificationStartDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cla_end_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.clarificationEndDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_sub_end_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.bidSubmissionStartDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_sub_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.bidSubmissionEndDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['bid_pre_date']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.preBidMeetingDate}"
													class="fa-input">
													<f:convertDateTime pattern="dd-MMM-yyyy" />
												</h:outputText>
											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['fee_pay_to']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.feeInfavourOf}"
													class="fa-input" />

											</span>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tender_fee_exemp_all']}" />
											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.tenderFeeExemptionAllowed eq 'true' ? 'Yes' : 'No'}"
													class="fa-input" />

											</span>
										</div>

									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="row">
											<div class="col-lg-9 col-md-9 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['bid_open_add']}" />
													<span class=""> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.addressLineOne ne null ? tenderAwardingBean.bidopeningAddress.addressLineOne  : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.addressLineTwo ne null ? tenderAwardingBean.bidopeningAddress.addressLineTwo : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.areaMaster.name ne null ? tenderAwardingBean.bidopeningAddress.areaMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.cityMaster.name ne null ? tenderAwardingBean.bidopeningAddress.cityMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.talukMaster.name ne null ? tenderAwardingBean.bidopeningAddress.talukMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.districtMaster.name ne null ? tenderAwardingBean.bidopeningAddress.districtMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.stateMaster.name ne null ? tenderAwardingBean.bidopeningAddress.stateMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidopeningAddress.countryMaster.name ne null ? tenderAwardingBean.bidopeningAddress.countryMaster.name : ''}"
															class="fa-input" />

													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="row">
											<div class="col-lg-9 col-md-9 col-sm-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['bid_pre_add']}" />
													<span class=""> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.addressLineOne ne null ? tenderAwardingBean.bidMeetingAddress.addressLineOne : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.addressLineTwo ne null ? tenderAwardingBean.bidMeetingAddress.addressLineTwo : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.areaMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.areaMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.cityMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.cityMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.talukMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.talukMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.districtMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.districtMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.stateMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.stateMaster.name : ''}"
															class="fa-input" /> <h:outputText
															value="#{tenderAwardingBean.bidMeetingAddress.countryMaster.name ne null ? tenderAwardingBean.bidMeetingAddress.countryMaster.name : ''}"
															class="fa-input" />

													</span>
												</div>
											</div>


										</div>
									</div>
								</div>
								<!-- cri_date end -->
								<!-- emd_fee start-->
								<div class="row">
									<div class="col-lg-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['emd_fee']}</span>
										</h5>
									</div>
								</div>
								<div class="row view-style">

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emd_fee']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{tenderAwardingBean.selectedTenderr.emdFeeType}"
														class="fa-input" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emd_ex_all']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{tenderAwardingBean.selectedTenderr.emdExemptionAllowed eq 'true' ? 'Yes' : 'No'}"
														class="fa-input" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emd_per']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{tenderAwardingBean.selectedTenderr.emdPercentage}"
														class="fa-input" />
												</span>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emd_to']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{tenderAwardingBean.selectedTenderr.emdInfavourOf}"
														class="fa-input" />
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['emd_at']}" />

											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.emdPayableAt}"
													class="fa-input" />
											</span>

										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['earn_dep']}" />

											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.earnestDeposit}"
													class="fa-input">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</span>

										</div>
									</div>
								</div>
								<!-- emd_fee end-->
								<!-- ten_cov_info start-->
								<div class="row">
									<div class="col-lg-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['ten_cov_info']}</span>
										</h5>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cov_no']}" />

											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.totalCovers}"
													class="fa-input" />
											</span>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['cov_tye']}" />

											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.coverType}"
													class="fa-input" />
											</span>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['document_type']}" />

											<span class=""> <h:outputText
													value="#{tenderAwardingBean.selectedTenderr.documentType}"
													class="fa-input" />
											</span>

										</div>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['description']}" />
											<div class="input-group">
												<span class=""> <h:outputText
														value="#{tenderAwardingBean.selectedTenderr.description}"
														class="fa-input" />
												</span>
											</div>
										</div>
									</div>
								</div>
							</h:panelGroup>
							<!-- ten_cov_info end-->
						</div>
					</div>
				</div>
			</div>

			<h:panelGroup rendered="#{tenderAwardingBean.renderTenderCreate}">
				<!-- colleps panel end -->
				<div class="panel panel-info">
					<div class="panel-body p-t-0">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<h5 class="m-b-5">
									<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['tender_details']}
									</span>
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div id="table-scroll" class="table-responsive">
									<p:dataTable id="tenderItemlisttable" var="itemlist"
										class="table"
										value="#{tenderAwardingBean.selectedTenderr.tenderItemDetailsList}"
										widgetVar="tenderItemtablewdgt" rowIndexVar="idx">
										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['item_code_name']}"
											styleClass="width-15">
											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText
												value="#{itemlist.productVarietyMaster.code} / #{itemlist.productVarietyMaster.name}" />
										</p:column>

										<p:column headerText="#{msg['quty']}"
											styleClass="text-right width-10">
											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText value="#{itemlist.itemQuantity}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['specifications']}"
											styleClass="width-15">

											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText value="#{itemlist.itemSpecification}" />
										</p:column>
										<p:column headerText="#{msg['description']}"
											styleClass="width-15">

											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText value="#{itemlist.itemDescription}" />
										</p:column>

										<p:column headerText="#{msg['item_amount']}&nbsp;( &#xf156; )"
											styleClass="fa-input text-right width-10">
											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText value="#{itemlist.itemAmount}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:columnGroup type="footer">
											<p:row>
												<p:column colspan="5" style="text-align:right"
													footerText="#{msg['tot']}" />
												<p:column
													footerText="#{tenderAwardingBean.selectedTenderr.totalAmount}" />
											</p:row>
										</p:columnGroup>
									</p:dataTable>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h5 class="bord_bot ">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['form_con_Supp_pur']}</span>
								</h5>
							</div>
						</div>
						<div class="row view-style">

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_inv_name']}" />

									<span class=""> <h:outputText
											value="#{tenderAwardingBean.selectedTenderr.invitingAuthorityName}"
											class="fa-input" />
									</span>

								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['contact_num']}" />

									<span class=""> <h:outputText
											value="#{tenderAwardingBean.selectedTenderr.authorityLandLineNumber}"
											class="fa-input" />
									</span>

								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['mob_no']}" />

									<span class=""> <h:outputText
											value="#{tenderAwardingBean.selectedTenderr.authorityMobileNumber}"
											class="fa-input" />
									</span>

								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_inv_add_lone']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.invitingAuthorityAddressline1}"
												class="fa-input" />
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row view-style">

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_inv_add_ltwo']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.invitingAuthorityAddressline2}"
												class="fa-input" />
										</span>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['ten_inv_add_lthree']}" />
									<div class="input-group">
										<span class=""> <h:outputText
												value="#{tenderAwardingBean.selectedTenderr.invitingAuthorityAddressline3}"
												class="fa-input" />
										</span>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<h5 class="m-b-5 m-t-0">
									<span class=""><i class="fa fa-th-large m-r-5"></i>#{msg['uploaded_doc']}
									</span>
								</h5>
								<div id="table-scroll" class="table-responsive m-b-10">
									<p:dataTable id="tenderFilelisttable" var="filelist"
										class="table"
										value="#{tenderAwardingBean.selectedTenderr.tenderFileDetailsList}"
										widgetVar="tenderFiletablewdgt" rowIndexVar="idx">
										<p:column headerText="#{msg['s_no']}"
											class="width-3 text-center">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column headerText="#{msg['doc_name']}"
											styleClass="width-75">
											<f:facet name="filter">
												<p:inputText class="form-control " />
											</f:facet>
											<h:outputText value="#{filelist.fileName}" />
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="width-22 text-center">
											<p:commandButton
												value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
												title="#{msg['download']}"
												action="#{tenderAwardingBean.downloadfile(filelist)}"
												ajax="false"
												class="fa-input btn btn-sm bg-primary font-iconmoon m-l-5">
												<p:fileDownload value="#{tenderAwardingBean.files}"></p:fileDownload>
											</p:commandButton>
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>

					</div>
				</div>
			</h:panelGroup>
			<div class="row label-form">
				<div class="col-lg-12 col-md-12 col-sm-6 text-right">
					<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
						onstart="PF('processDlg').show()" title="#{msg['back']}"
						action="#{tenderAwardingBean.loadTenderListPage}"
						class="btn btn-sm bg-info font-iconmoon">
					</p:commandButton>
				</div>
			</div>
		</div>
		<p:dialog modal="true" id="singId" header="#{msg['doc_upload']}"
			width="40%" closable="true" styleClass="p-0 overlay-pop modal-dialog"
			widgetVar="pridocupload" hideEffect="fade" closeOnEscape="true">
			<div class="modal-body p-10 border0">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-2">
							<label class="control-label">#{msg['document']}</label>
						</div>
						<div class="col-lg-8">
							<div class=" no-padding contact-upload upload-popup"
								style="float: left">
								<div class="uploader">
									<p:fileUpload onstart="PF('progressDlg').show();"
										mode="advanced" auto="true" sizeLimit="1000000">
									</p:fileUpload>
								</div>
							</div>
							<div class="uploadercustom1 col-lg-8" style="height: 34px;">
								<h:outputText />
							</div>
							<div class="clearfix"></div>
							<div>
								<small class="uploadfinename">#{msg['file_format_lessthan_250kb']}</small>
							</div>
						</div>
						<div class="col-lg-2 no-padding">
							<button class="btn btn-info btn-sm">
								<i class="fa fa-plus font-12" style="font-size: 12px"></i>
							</button>
							<button class="btn btn-danger btn-sm">
								<i class="fa fa-trash font-12" style="font-size: 12px"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>