<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="printingForm">
			<ui:param name="psDisposal"
				value="#{printingandStationaryDisposalBean}"></ui:param>
			<title>InfoTex | Create Printing &amp; Stationary Disposal</title>

			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['crt_printing_stationary_disposal']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['print_n_stationary']}</li>
							<li class="active">#{msg['crt_printing_stationary_disposal']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content page-scroll-hp no-padding-bottom">
				<!-- collapse panel -->
				<p:outputPanel id="printingStationaryDisposal">
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['printing_stationary_disposal']}</a>
									<span class="pull-right text-13 m-r-25">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<div class="panel-body p-t-10">
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" for="horoSelect" />
												<p:outputLabel value="*" class="mand-red" for="horoSelect"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu class="form-control" id="horoSelect"
														converter="#{entityConverter}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['ho_ro_req']}"
														value="#{psDisposal.headOrRegionOffice}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems value="#{psDisposal.hoentityList}"
															var="entity" itemLabel="#{entity.code} / #{entity.name}"
															itemValue="#{entity}" />
														<f:ajax listener="#{psDisposal.loadAllEntityByRegionList}"
															render="inp_entityMaster entyvalid depId growls" />
													</h:selectOneMenu>
													<p:focus for="horoSelect" />
												</div>
												<h:message for="horoSelect" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['entity_master_code']} / #{msg['name']}"
													for="entyvalid" />
												<p:outputLabel value="*" class="mand-red" for="entyvalid"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu class="form-control" id="entyvalid"
														converter="#{entityConverter}"
														disabled="#{psDisposal.isHeadOffice}"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['entity_type_code_name_req']}"
														value="#{psDisposal.entityTypeMaster}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems value="#{psDisposal.entityTypeList}"
															var="entity"
															itemLabel="#{entity.entityCode} / #{entity.entityName}"
															itemValue="#{entity}" />
														<f:ajax listener="#{psDisposal.loadAllEntityByRegionList}"
															render="inp_entityMaster" />
													</h:selectOneMenu>
												</div>
												<h:message for="entyvalid" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}"
													for="inp_entityMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="inp_entityMaster"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu styleClass="form-control"
														value="#{psDisposal.selectedEntityMaster}"
														converter="#{entityConverter}" id="inp_entityMaster"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['entity_code_name_req']}"
														disabled="#{psDisposal.isHeadOffice}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{psDisposal.entityMasterList}"
															var="list" itemLabel="#{list.code} / #{list.name}"
															itemValue="#{list}"></f:selectItems>
														<p:ajax listener="#{psDisposal.loadDepartment}"
															event="change" update="msg_inp_entityMaster depId growls">
														</p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="inp_entityMaster"
													class="validation-error-label" id="msg_inp_entityMaster"></h:message>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept_code']} / #{msg['name']}"
													for="depId" />
												<p:outputLabel value="*" class="mand-red" for="depId"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu styleClass="form-control"
														disabled="#{!psDisposal.isHeadOffice}"
														value="#{psDisposal.department}"
														converter="#{entityConverter}" id="depId"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['dept_code_name_req']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{psDisposal.departmentList}"
															var="list" itemLabel="#{list.code} / #{list.name}"
															itemValue="#{list}"></f:selectItems>
														<p:ajax event="change"
															listener="#{psDisposal.loadSectionByDepartment}"
															update="inp_sectionMaster" />
													</h:selectOneMenu>
												</div>
												<h:message for="depId" class="validation-error-label"></h:message>
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['section_code']} / #{msg['name']}"
													for="inp_sectionMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="inp_sectionMaster"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-pie-chart2"></i></span>
													<h:selectOneMenu styleClass="form-control"
														value="#{psDisposal.selectedSectionMaster}"
														converter="#{entityConverter}" id="inp_sectionMaster"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['section_code_name_req']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{psDisposal.sectionMasterList}"
															var="list" itemLabel="#{list.code} / #{list.name}"
															itemValue="#{list}"></f:selectItems>
														<p:ajax listener="#{psDisposal.loadIntendRequest}"
															event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															update=" printingStationaryDisposal inp_intendRequest paymentDetails paymentDetailsDataTable msg_inp_sectionMaster">
														</p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="inp_sectionMaster"
													class="validation-error-label" id="msg_inp_sectionMaster"></h:message>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['request_code']} / #{msg['name']}"
													for="inp_intendRequest" />
												<p:outputLabel value="*" class="mand-red"
													for="inp_intendRequest"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu styleClass="form-control"
														value="#{psDisposal.selectedIntendRequest}"
														converter="#{entityConverter}" id="inp_intendRequest"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['req_code_name_req']}">
														<f:selectItem itemLabel="Select" noSelectionOption="true"
															itemValue="#{null}"></f:selectItem>
														<f:selectItems value="#{psDisposal.intendRequestList}"
															var="list"
															itemLabel="#{list.requirementCode} / #{list.requirementName}"
															itemValue="#{list}"></f:selectItems>

														<p:ajax listener="#{psDisposal.loadIntendConsolidation}"
															event="change"
															update="paymentDetails msg_inp_intendRequest">
														</p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="inp_intendRequest"
													class="validation-error-label" id="msg_inp_intendRequest"></h:message>
											</div>
										</div>
										<!-- 
								<div class="col-lg-3 col-md-3 col-sm-3">
									<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
									<div class="form-group">
										<p:commandButton update="growls"
											value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xe98e;&nbsp;#{msg['search']}"
											title="#{msg['search']}"
											class="btn bg-info heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>
								
								-->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- colleps panel end -->

					<div class="panel panel-white m-b-0">
						<div class="panel-body p-t-0  p-b-10">
							<p:outputPanel id="paymentDetails">
								<h5 class="bord_bot">
									<i class="fa fa-th-large m-r-5 m-t-0"></i><span
										class="iform-title">#{msg['payment_details']}</span>
								</h5>
								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['item_code']} / #{msg['name']}"
												for="inp_intendConsolidation" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="inp_intendConsolidation" rendered="" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-price-tag2"></i></span>
												<h:selectOneMenu styleClass="form-control"
													value="#{psDisposal.selectedIntendConsolidation}"
													converter="#{entityConverter}" id="inp_intendConsolidation"
													required="true"
													requiredMessage="#{msg['item_code_name_req']}">
													<f:selectItem itemLabel="Select Item Code / Name"
														noSelectionOption="true" itemValue="#{null}"></f:selectItem>
													<f:selectItems
														value="#{psDisposal.intendConsolidationList}" var="list"
														itemLabel="#{list.intendRequest.requirementCode} / #{list.intendRequest.requirementName}"
														itemValue="#{list}"></f:selectItems>

													<p:ajax listener="#{psDisposal.paymentDetailsUpdate}"
														event="change"
														update="paymentDetails paymentDetailsDataTable msg_inp_intendConsolidation">
													</p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="inp_intendConsolidation"
												class="validation-error-label"
												id="msg_inp_intendConsolidation"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['u_o_m']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-rulers"></i></span>
												<p:inputText maxlength="30"
													value="#{psDisposal.itemConsumptionDTO.uomID}"
													disabled="true" styleClass="form-control text-right" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['request_qty']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<p:inputText maxlength="30"
													value="#{psDisposal.itemConsumptionDTO.requestQuantity}"
													disabled="true" styleClass="form-control text-right" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['recd_unit']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-reply"></i></span>
												<p:inputText maxlength="30"
													value="#{psDisposal.itemConsumptionDTO.receivedQuantity}"
													disabled="true" styleClass="form-control text-right" />
											</div>
										</div>
									</div>
								</div>

								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['already_used_qty']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stackoverflow"></i></span>
												<p:inputText maxlength="30" id="inp_already_dispos_qty"
													required="true"
													requiredMessage="#{msg['ps_already_dis_qnt']}"
													disabled="true" styleClass="form-control text-right"
													value="#{psDisposal.itemConsumptionDTO.alreadyDisposalQuantity}" />
											</div>
											<h:message for="inp_already_dispos_qty"
												class="validation-error-label"
												id="msg_inp_already_dispos_qty"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['current_disposal_qty']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" id="inp_current_dis_qty"
													styleClass="form-control text-right"
													value="#{psDisposal.itemConsumptionDTO.currentDisposalQuantity}">
													<p:ajax event="keyup"></p:ajax>
													<p:keyFilter regEx="/[0-9]/i" />
												</p:inputText>
											</div>
											<h:message for="inp_current_dis_qty"
												class="validation-error-label" id="msg_inp_current_dis_qty"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['balance_qty_to_be_available']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" id="inp_balance_qty_avail"
													required="true"
													requiredMessage="#{msg['ps_current_dis_qnt']}"
													disabled="true" styleClass="form-control text-right"
													value="#{psDisposal.itemConsumptionDTO.balanceQuantityAvailable}" />
											</div>
											<h:message for="inp_balance_qty_avail"
												class="validation-error-label"
												id="msg_inp_balance_qty_avail"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-3">
										<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
										<p:commandButton update="printingStationaryDisposal growls"
											actionListener="#{psDisposal.clearTableAction}"
											value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
											class="btn bg-slate font-iconmoon m-l-0">
										</p:commandButton>

										<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
											title="#{msg['add']}"
											actionListener="#{psDisposal.itemConsumptionCollectorAdd}"
											class="btn bg-success heading-btn  font-iconmoon"
											update="paymentDetailsDataTable paymentDetails growls">
										</p:commandButton>
									</div>
								</div>
							</p:outputPanel>
						</div>
						<div class="panel-body no-padding-top">
							<div class="row">
								<div class="col-sm-12">
									<div class="table-responsive">
										<p:outputPanel id="paymentDetailsDataTable">
											<p:dataTable
												value="#{psDisposal.itemConsumptionCollectorList}"
												var="item" id="paymentDetailsCollectordt"
												rowIndexVar="index" styleClass="report-table m-b-10"
												widgetVar="paymentDetailsCollectordtWdgr">

												<p:ajax event="rowEdit" listener="#{psDisposal.onRowEdit}"
													update="paymentDetailsCollectordt" />
												<p:ajax event="rowEditCancel"
													listener="#{psDisposal.onRowCancel}"
													update="paymentDetailsCollectordt" />


												<p:column headerText="#" styleClass="text-center width-3">
													<h:outputText value="#{index +1 }" />
												</p:column>
												<!-- 
								            <p:column headerText="Rwo"  style="width: 3%;" >
								                <h:outputText value="#{item.rowID}" styleClass="fa-input"/>
								            </p:column>
								            <p:column headerText="Counter"  style="width: 3%;" >
								                <h:outputText value="#{item.rowCounter}" styleClass="fa-input"/>
								            </p:column>
								             -->
												<p:column
													headerText="#{msg['item_type_code']} / #{msg['name']}">
													<h:outputText value="#{item.itemTypeCodeName}" />
												</p:column>

												<p:column headerText="#{msg['u_o_m']}">
													<h:outputText value="#{item.uomID}" />
												</p:column>

												<p:column headerText="#{msg['request_qty']}">
													<h:outputText value="#{item.requestQuantity}" />
												</p:column>

												<p:column headerText="#{msg['recd_unit']}">
													<h:outputText value="#{item.receivedQuantity}" />
												</p:column>

												<p:column headerText="#{msg['already_used_qty']}">
													<h:outputText value="#{item.alreadyDisposalQuantity}" />
												</p:column>

												<p:column headerText="#{msg['current_disposal_qty']}">
													<h:outputText value="#{item.currentDisposalQuantity}" />
												</p:column>

												<p:column headerText="#{msg['balance_qty_to_be_available']}">
													<h:outputText value="#{item.balanceQuantityAvailable}" />
												</p:column>

												<p:column headerText="#{msg['action']}"
													styleClass="width-8 text-center">
													<p:commandButton value="&#xe99e;"
														rendered="#{psDisposal.rowEditRendered}"
														update=":printingForm:paymentDetailsCollectordt :printingForm:paymentDetails"
														class="btn bg-danger font-iconmoon btn-xs pull-left m-l-0"
														title="#{msg['delete']}"
														actionListener="#{psDisposal.deleteColumnReceived(item)}">
														<p:collector value="#{item}"
															removeFrom="#{psDisposal.itemConsumptionCollectorList}"
															unique="true" />
													</p:commandButton>
												</p:column>

												<p:columnGroup type="footer">
													<p:row>
														<p:column colspan="5" styleClass="text-right"
															footerText="#{msg['tot']}" />
														<p:column
															footerText="#{psDisposal.sumAlreadyDisposedQuantity}" />
														<p:column footerText="" colspan="5" />
													</p:row>
												</p:columnGroup>
											</p:dataTable>
										</p:outputPanel>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="window.location.href='listPrintingandStationaryDisposal.xhtml'"
										action="#{itemDisposal.clearButtonAction}"
										class="btn bg-slate font-iconmoon m-r-0"
										title="#{msg['cancel']}">
									</p:commandButton>

									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}" binding="#{submit}"
										update="printingStationaryDisposal growls"
										class="btn bg-success heading-btn  font-iconmoon"
										onclick="PF('statusDialog').show();"
										oncomplete="PF('statusDialog').hide();"
										action="#{psDisposal.submitItemConsumption}">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</div>
		</h:form>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>