<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Stock Item Inward List</title>
		<!-- Page Header -->
		<h:form>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['stock_item_inward_list']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['stock_management']}</li>
							<li class="active">#{msg['stock_item_inward_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title">
							<b> <h:outputText id="totalRecord"
									value="#{stockItemInwardBean.size}" />
							</b> - #{msg['stock_item_inward']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:outputPanel id="actionButtons">

								<p:commandButton value="&#xed6e;&nbsp;#{msg['generate_par']}"
									title="#{msg['generate_par']}" id="generate"
									onclick="PF('confirm').show()"
									rendered="#{stockItemInwardBean.parNumberGenerateBtnRenderedFlag}"
									disabled="#{stockItemInwardBean.parNumberGenerateBtnDisabledFlag}"
									class="btn bg-primary font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xea0e; #{msg['add']}"
									class="btn bg-success font-iconmoon m-r-0"
									title="#{msg['add']}"
									rendered="#{stockItemInwardBean.renderedCreate}"
									action="#{stockItemInwardBean.createNewStockItemInward}"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog).hide();">
								</p:commandButton>
								<p:commandButton value="&#xe912; #{msg['edit']}"
									title="#{msg['edit']}" class="btn bg-primary font-iconmoon"
									rendered="#{stockItemInwardBean.renderedEdit}"
									action="#{stockItemInwardBean.itemReceiveRetrieveDetailsEdit}"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();">
								</p:commandButton>
								<p:commandButton value="&#xea18; #{msg['view']}"
									title="#{msg['view']}" class="btn bg-info font-iconmoon"
									onclick="PF('statusDialog').show();"
									oncomplete="PF('statusDialog').hide();" update="growls"
									action="#{stockItemInwardBean.itemReceiveRetrieveDetails}"
									rendered="#{stockItemInwardBean.renderedView}">
								</p:commandButton>
								<p:commandButton value="&#xe99e; #{msg['delete']}"
									class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
									rendered="#{stockItemInwardBean.renderedDelete}"
									onclick="PF('deleteConfirm').show();">
								</p:commandButton>
								<p:commandButton value="&#xe916; #{msg['clear']}"
									title="#{msg['clear']}" class="btn bg-slate font-iconmoon"
									action="#{stockItemInwardBean.clearButton}">
								</p:commandButton>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<div class="panel panel-info m-b-0">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<p:dataTable value="#{stockItemInwardBean.stockTransferLazyList}"
								var="list" rowKey="#{list.id}" paginator="true"
								id="liststockTransferLazyList"
								widgetVar="liststockTransferLazyListWdgr" lazy="true"
								rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="index"
								paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								selection="#{stockItemInwardBean.selectedStockItemInwardPNSDTO}"
								emptyMessage="#{msg['no_record_found']}">
								<p:ajax event="filter" oncomplete="updateFilterSelection()" />

								<p:ajax event="rowSelectRadio"
									listener="#{stockItemInwardBean.onRowSelect}"
									update=":#{p:component('actionButtons')}" />

								<p:column headerText="#" styleClass="text-center width-3">
									<f:facet name="header">
										<p:outputLabel value="#" />
									</f:facet>
									<h:outputText styleClass="ui-column-title" value="#{index+1}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['ref_hash']}"
									styleClass="width-12 text-center"
									sortBy="#{list.referenceNumber}"
									filterBy="#{list.referenceNumber}" filterMatchMode="#{list.id}">
									<h:outputText styleClass="ui-column-title"
										value="#{list.referenceNumber}"></h:outputText>
								</p:column>

								<p:column headerText="#" sortBy="#{list.supplierType}"
									styleClass="width-12 text-center"
									filterBy="#{list.supplierType}" filterMatchMode="exact">
									<f:facet name="header">
										<p:outputLabel value="#{msg['sup_type']}" />
									</f:facet>
									<f:facet name="filter">
										<h:selectOneMenu
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control">
											<f:selectItem itemLabel="Select One" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockItemInwardBean.supplierTypeMasterList}"
												var="data" itemLabel="#{data.code}" itemValue="#{data.code}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText styleClass="ui-column-title"
										rendered="#{list.supplierType ne null}"
										value="#{(list.supplierType).length() gt 8 ? fn:substring({list.supplierType}, 1, 7).concat('...'):(list.supplierType)}"
										title="#{list.supplierType}"></h:outputText>
									<h:outputText styleClass="ui-column-title"
										rendered="#{list.supplierType == null}" value="-"></h:outputText>
								</p:column>

								<p:column headerText="#" sortBy="#{list.supplierCodeName}"
									styleClass="width-20" filterBy="#{list.supplierCodeName}"
									filterMatchMode="contains">
									<f:facet name="header">
										<p:outputLabel
											value="#{msg['entity']} or #{msg['sup']} #{msg['code']} / #{msg['name']}" />
									</f:facet>
									<h:outputText styleClass="ui-column-title"
										rendered="#{list.supplierCodeName ne null}"
										value="#{(list.supplierCodeName).length() gt 18 ? fn:substring({list.supplierCodeName}, 1, 17).concat('...'):(list.supplierCodeName)}"
										title="#{list.supplierCodeName}"></h:outputText>
									<h:outputText styleClass="ui-column-title"
										rendered="#{list.supplierCodeName == null}"
										value="#{list.entityCodeName}" title="#{list.entityCodeName}"></h:outputText>
								</p:column>

								<p:column headerText="#" sortBy="#{list.transferType}"
									styleClass="width-10" filterBy="#{list.transferType}">
									<f:facet name="header">
										<p:outputLabel value="#{msg['inward_type']}" />
									</f:facet>
									<f:facet name="filter">
										<h:selectOneMenu
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control">
											<f:selectItem itemLabel="Select One" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItem itemLabel="STOCK_ITEM_INWARD"
												itemValue="STOCK_ITEM_INWARD" />
											<f:selectItem itemLabel="STOCK_ITEM_PO_BASED"
												itemValue="STOCK_ITEM_PO_BASED" />
											<f:selectItem itemLabel="WAREHOUSE_INWARD"
												itemValue="WAREHOUSE_INWARD" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText styleClass="ui-column-title"
										value="#{(list.transferType).length() gt 12 ? fn:substring({list.transferType}, 1, 11).concat('...'):(list.transferType)}"
										title="#{list.transferType}"></h:outputText>
								</p:column>

								<p:column headerText="#" sortBy="#{list.invoiceNum}"
									styleClass="width-8" filterBy="#{list.invoiceNum}"
									filterMatchMode="contains">
									<f:facet name="header">
										<p:outputLabel value="#{msg['invoice']} #" />
									</f:facet>
									<h:outputText styleClass="ui-column-title"
										value="#{list.invoiceNum}"></h:outputText>
								</p:column>
								<p:column headerText="#{msg['invoice_date']}"
									sortBy="#{list.invoiceDate}" sortable="true"
									filterBy="#{list.invoiceDate}"
									styleClass="width-13 text-center form-group_calend"
									filterMatchMode="exact">
									<f:facet name="filter">
										<p:calendar id="invoiceDateId" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" mask="true"
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control calend-icon" yearRange="c-10:c+10"
											navigator="true">
											<p:ajax event="dateSelect"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
											<p:ajax event="change" execute="@this"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
										</p:calendar>
									</f:facet>
									<p:outputLabel value="#{list.invoiceDate}">
										<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
									</p:outputLabel>
								</p:column>

								<p:column headerText="#{msg['created_date']}"
									sortBy="#{list.purchaseDate}" sortable="true"
									filterBy="#{list.purchaseDate}"
									styleClass="width-13 text-center form-group_calend"
									filterMatchMode="exact">
									<f:facet name="filter">
										<p:calendar id="fromDate" pattern="dd-MMM-yyyy"
											placeholder="dd-MMM-yyyy" mask="true"
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control calend-icon" yearRange="c-10:c+10"
											navigator="true">
											<p:ajax event="dateSelect"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
											<p:ajax event="change" execute="@this"
												oncomplete="PF('liststockTransferLazyListWdgr').filter()" />
										</p:calendar>
									</f:facet>
									<p:outputLabel value="#{list.purchaseDate}">
										<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
									</p:outputLabel>
								</p:column>

								<p:column headerText="#" sortBy="#{list.status}"
									filterBy="#{list.status}" styleClass="text-center width-6">
									<f:facet name="header">
										<p:outputLabel value="#{msg['status']}" />
									</f:facet>
									<f:facet name="filter">
										<h:selectOneMenu
											onchange="PF('liststockTransferLazyListWdgr').filter()"
											styleClass="form-control">
											<f:selectItem itemLabel="Select One" itemValue="#{null}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockItemInwardBean.stockTransferEnumStatus}" />
										</h:selectOneMenu>
									</f:facet>
									<h:outputText
										styleClass="ui-column-title label label-primary width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'INITIATED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-warning width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'SUBMITTED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-info width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'ACKNOWLEDGE'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-success width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'COMPLETED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-danger width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'CANCELLED'}"></h:outputText>
									<h:outputText
										styleClass="ui-column-title label label-success width-custom"
										value="#{list.status}"
										rendered="#{list.status eq 'PAR_GENERATED'}"></h:outputText>
								</p:column>

								<p:column headerText="#{msg['select']}" selectionMode="single"
									styleClass="width-3 text-center">
								</p:column>

							</p:dataTable>

							<p:remoteCommand name="updateFilterSelection"
								update=":#{p:component('totalRecord')}" autoRun="true" />
							<!-- 
                  <table class="table m-0 cust-table">
                     <thead>
                        <tr>
                           <th class="ui-state-default text-center" style="width: 3%"><span>#</span></th>
                           <th class="ui-state-default text-center width-12">
                              <p:outputLabel
                                 value="#{msg['supplier_type']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <p:inputText styleClass="form-control"></p:inputText>
                           </th>
                           <th class="ui-state-default text-center width-20">
                              <p:outputLabel
                                 value="#{msg['sup_code']} / #{msg['name']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <p:inputText styleClass="form-control"></p:inputText>
                           </th>
                           <th class="ui-state-default text-center width-10">
                              <p:outputLabel
                                 value="#{msg['inward_type']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <p:inputText styleClass="form-control"></p:inputText>
                           </th>
                           <th class="ui-state-default text-center width-18">
                              <p:outputLabel
                                 value="#{msg['purchase_order_number']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <p:inputText styleClass="form-control"></p:inputText>
                           </th>
                           <th class="ui-state-default text-center width-12">
                              <p:outputLabel
                                 value="#{msg['pur_date']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <p:calendar pattern="dd-MM-yyyy" placeholder="dd-mm-yyyy" mask="true" styleClass="form-control calend-icon" navigator="true" />
                           </th>
                           
                           <th class="ui-state-default text-center width-5">
                              <p:outputLabel
                                 value="#{msg['status']}" />
                              <span
                                 class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                              <select class="form-control">
                                 <option>Select</option>
                                 <option>Approved</option>
                                 <option>Rejected</option>
                                 <option>Submitted</option>
                              </select>
                           </th>
                           <th class="ui-state-default text-center width-4">
                              <p:outputLabel
                                 value="#{msg['select']}" />
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-center">1</td>
                           <td class="text-left">Private Supplier</td>
                           <td>VDR0012 / Pratap &amp; Sons</td>
                           <td>Direct Inward</td>
                           <td class="text-center">PO005</td>
                           <td class="text-center">26-Jan-2018</td>
                           
                           <td class="text-success text-center"><span
										class="label label-success width-custom">Active</span></td>
                           <td class="text-center"><input type="radio" /></td>
                        </tr>
                         <tr>
                           <td class="text-center">2</td>
                           <td class="text-left">Government Supplier</td>
                           <td>VDR0016 / Deepshikha Complex</td>
                           <td>PO Based Inward</td>
                           <td class="text-center">PO004</td>
                           <td class="text-center">23-Jan-2018</td>
                          
                         <td class="text-success text-center"><span
										class="label label-danger width-custom">In Active</span></td>
                           <td class="text-center"><input type="radio" /></td>
                        </tr>
                         <tr>
                           <td class="text-center">3</td>
                           <td class="text-left">Private Supplier</td>
                           <td>VDR0014 / RamaKrishna &amp; Sons</td>
                           <td>PO Based Inward</td>
                           <td class="text-center">PO003</td>
                           <td class="text-center">22-Jan-2018</td>
                           <td class="text-success text-center"><span
										class="label label-success width-custom">Active</span></td>
                           <td class="text-center"><input type="radio" /></td>
                        </tr>
                         <tr>
                           <td class="text-center">4</td>
                           <td>Government Supplier</td>
                           <td>VDR0012 / Pratap &amp; Sons</td>
                           <td>Direct Inward</td>
                           <td class="text-center">PO002</td>
                           <td class="text-center">21-Jan-2018</td>
                          
                           <td class="text-success text-center"><span
										class="label label-danger width-custom">In Active</span></td>
                           <td class="text-center"><input type="radio" /></td>
                        </tr>
                         <tr>
                           <td class="text-center">5</td>
                           <td>Private Supplier</td>
                           <td>VDR0012 / Pratap &amp; Sons</td>
                           <td>Direct Inward</td>
                           <td class="text-center">PO001</td>
                           <td class="text-center">20-Jan-2018</td>
                           
                           <td class="text-success text-center"><span
										class="label label-success width-custom">Active</span></td>
                           <td class="text-center"><input type="radio" /></td>
                        </tr>
                        
                     </tbody>
                  </table>
                   -->
						</div>
						<!-- 
               <div
                  class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">-->
						<!-- <div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info ">Showing
                     1 to 10 of 15 entries</div> -->
						<!-- 
                  <div class="dataTables_info m-r-10 m-b-0"
                     id="DataTables_Table_0_info ">
                     <strong>(1 of 1)</strong>
                  </div>
                  <ul class="pagination pagination-separated">
                     <li><a href="#">&lsaquo;&lsaquo;</a></li>
                     <li><a href="#">&lsaquo;</a></li>
                     <li class="active"><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li class="disabled"><a href="#">3</a></li>
                     <li class="disabled"><a href="#">4</a></li>
                     <li class="disabled"><a href="#">5</a></li>
                     <li><a href="#">&rsaquo;</a></li>
                     <li><a href="#">&rsaquo;&rsaquo;</a></li>
                     <li>
                        <div class="dataTables_length" id="DataTables_Table_1_length">
                           <select class="">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                           </select>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="dataTables_info m-b-0 m-l-10"
                  id="DataTables_Table_2_info" role="status" aria-live="polite">
                  <button type="button" title="Download PDF"
                     class="btn btn-primary btn-xs">
                  <i class="icon-file-pdf position-left"></i>PDF
                  </button>
                  <button type="button" title="Download Excel"
                     class="btn btn-success btn-xs">
                  <i class="icon-file-excel position-left"></i>Excel
                  </button>
               </div>
               -->
					</div>
				</div>
			</div>


			<!-- Confirm Delete Start -->
			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="deleteConfirm" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false"
				id="deleteConfirmID">
				<div class="modal-body">
					<p:outputPanel id="deleteDialogPanel">
						<h:outputText value="#{msg['delete_record']}" />
						<br />
					</p:outputPanel>
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('deleteConfirm').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
						onclick="PF('statusDialog').show();"
						action="#{stockItemInwardBean.delete}"
						oncomplete="PF('deleteConfirm').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
			<!-- Confirm Delete End -->

			<!-- Confirm Delete Start -->
			<p:dialog header="#{msg['confirmation']}" widgetVar="confirm"
				modal="true" position="center" resizable="false" closable="true"
				width="40%" styleClass="p-0 overlay-pop modal-dialog">
				<div class="modal-body">
					<h:outputText value="#{msg['par_confirm']}" />
				</div>
				<div class="modal-footer text-right m-t-10">
					<p:commandButton styleClass="btn bg-slate cust-btn-h font-iconmoon"
						title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
						onclick="PF('confirm').hide();">
					</p:commandButton>
					<p:commandButton
						styleClass="btn bg-success cust-btn-h font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{stockItemInwardBean.generatePAR}"
						oncomplete="PF('confirm').hide();"
						onstart="PF('statusDialog').show()"
						onsuccess="PF('statusDialog').hide()"
						update="growls liststockTransferLazyList">
					</p:commandButton>
				</div>
			</p:dialog>
			<!-- Confirm Delete end -->
		</h:form>


	</ui:define>
</ui:composition>