<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<ui:param name="bean" value="#{intendConsolidatebean}"></ui:param>
		<title>InfoTex | Consolidate Requirement List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['console_requirement_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['print_n_stationary']}</li>
						<li class="active">#{msg['console_requirement_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText>
						</strong> - #{msg['console_requirement']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId" update="growls"
								rendered="#{!bean.addButtonFlag}"
								action="#{bean.consolidateListPageAction}"
								onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()"
								class="btn bg-success font-iconmoon m-r-0">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
								disabled="#{bean.viewButtonFlag}" id="viewId"
								action="#{bean.consolidateListPageAction}"
								onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()"
								class="btn bg-info heading-btn  font-iconmoon"
								title="#{msg['view']}">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<ui:remove>
								<!-- <p:commandButton value="&#xe99e; #{msg['delete']}"
								class="btn bg-danger font-iconmoon" title="#{msg['delete']}">
							</p:commandButton> -->
							</ui:remove>
							<p:commandButton value="&#xe916; #{msg['clear']}"
								action="#{bean.consolidateListPage}"
								onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()"
								class="btn bg-slate font-iconmoon" title="#{msg['clear']}">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-info m-b-0">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="consolidationList"
							widgetVar="consolidateListTable" class="table" var="data"
							rowKey="#{data.id}"
							selection="#{bean.selectedintendConsolidationlog}"
							value="#{bean.lazyIntendConsolidationlogList}" lazy="true"
							paginatorAlwaysVisible="true" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('viewId')},#{p:component('menupanel')}" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true"
								filterBy="#{data.intendRequest.requirementName}"
								filterMatchMode="contains" styleClass="width-20"
								headerText="#{msg['requirement_code']} / #{msg['name']}"
								sortBy="#{data.intendRequest.requirementName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="name" class="form-control"
										onkeyup="PF('consolidateListTable').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.intendRequest.requirementCode} / #{data.intendRequest.requirementName}" />
							</p:column>

							<p:column headerText="#{msg['from_date']}"
								styleClass="text-center form-group_calend width-10"
								sortBy="#{data.intendRequest.fromDate}" sortable="true"
								filterBy="#{data.intendRequest.fromDate}"
								filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('consolidateListTable').filter()"
										id="fromdate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('consolidateListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.intendRequest.fromDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['to_date']}"
								styleClass="text-center form-group_calend width-10 "
								sortBy="#{data.intendRequest.toDate}" sortable="true"
								filterBy="#{data.intendRequest.toDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('consolidateListTable').filter()"
										id="todate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('consolidateListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.intendRequest.toDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['due_date']}"
								styleClass="text-center form-group_calend width-10 "
								sortBy="#{data.intendRequest.dueDate}" sortable="true"
								filterBy="#{data.intendRequest.dueDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('consolidateListTable').filter()"
										id="duedate" pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
										mask="true" yearRange="c-10:c+10" navigator="true"
										styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('consolidateListTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.intendRequest.dueDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['status']}" filterBy="#{data.stage}"
								filterable="true" sortBy=" #{data.stage}" sortable="true"
								styleClass="text-center width-10" filterMatchMode="exact">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="SUBMITTED" itemLabel="SUBMITTED" />
										<f:selectItem itemValue="APPROVED" itemLabel="APPROVED" />
										<f:selectItem itemValue="FINAL_APPROVED"
											itemLabel="FINAL_APPROVED" />
										<f:selectItem itemValue="REJECTED" itemLabel="REJECTED" />
										<p:ajax event="change"
											oncomplete="PF('consolidateListTable').filter()" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.stage}"
									styleClass="label label-warning width-custom"
									rendered="#{data.stage eq 'SUBMITTED'}"></h:outputText>
								<h:outputText value="#{data.stage}"
									styleClass="label label-primary width-custom"
									rendered="#{data.stage eq 'APPROVED'}"></h:outputText>
								<h:outputText value="#{data.stage}"
									styleClass="label label-success width-custom"
									rendered="#{data.stage eq 'FINAL_APPROVED'}"></h:outputText>
								<h:outputText value="#{data.stage}"
									styleClass="label label-danger width-custom"
									rendered="#{data.stage eq 'REJECTED'}"></h:outputText>
							</p:column>
							<p:column headerText="#{msg['select']}"
								styleClass="text-center text-center width-4"
								selectionMode="single">
							</p:column>
						</p:dataTable>
						
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>