<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{intendDetailsBean}"></ui:param>
		<title>InfoTex | View Requirement</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'EDIT' ? msg['edit_requiremnt'] :
						msg['view_requiremnt']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['print_n_stationary']}</li>
						<li class="active">#{bean.action eq 'EDIT' ?
							msg['edit_requiremnt'] : msg['view_requiremnt']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{bean.action eq
								'EDIT' ? msg['edit_requiremnt'] : msg['view_requiremnt']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10 no-padding-bottom">
							<div class="row view-style">
								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['requirement_code']}  / #{msg['name']}" />
										<h:outputText
											value="#{bean.intendRequestobj.requirementCode} / #{bean.intendRequestobj.requirementName}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['category_group_code_name']}" />
										<h:outputText
											value="#{bean.productCategory.productCatCode}/#{bean.productCategory.productCatName}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->

			<div class="panel panel-white ">
				<div class="panel-body">
					<div class="row view-style">
						<div class="col-lg-3 col-sm-6 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['section_code']} / #{msg['name']}" />
								<h:outputText
									value="#{bean.sectionMaster.code} / #{bean.sectionMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-sm-6 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['require_from']}" />
								<h:outputText value="#{bean.intendRequestobj.fromDate}" class="">
									<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+05:30"></f:convertDateTime>
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['require_to']}" />
								<h:outputText value="#{bean.intendRequestobj.toDate}" class="">
									<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+05:30"></f:convertDateTime>
								</h:outputText>
							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-md-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['due_date']}" />
								<h:outputText value="#{bean.intendRequestobj.dueDate}" class="">
									<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+05:30"></f:convertDateTime>
								</h:outputText>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['item_wise_requirement_dlt']}</span>
							</h5>
							<div class="table-responsive">
								<p:dataTable var="requirement" id="requirementTable"
									widgetVar="table" lazy="true"
									value="#{intendDetailsBean.intendDetailsList}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									paginator="true" paginatorPosition="bottom"
									styleClass="report-table" rowsPerPageTemplate="10,15,20"
									rows="10" rowIndexVar="idx"
									emptyMessage="#{msg['no_record_found']}">

									<p:column headerText="#" styleClass="text-center width-3">
										<h:outputText value="#{idx+1}"></h:outputText>
										<h:inputHidden value="#{requirement.id}"></h:inputHidden>
									</p:column>
									<p:column headerText="#{msg['item_code']} / #{msg['name']}">
										<h:outputText
											value="#{requirement.productVarietyMaster.code} / #{requirement.productVarietyMaster.name}"></h:outputText>
									</p:column>#{msg['total']}
								<p:column headerText="#{msg['uom']}">
										<h:outputText value="#{requirement.uom}"></h:outputText>
										<f:facet name="footer">
											<h:outputText value="#{msg['total']}"></h:outputText>
										</f:facet>
									</p:column>
									<p:column headerText="#{msg['quantity_req']}">
										<h:outputText value="#{requirement.requiredQuantity}"
											rendered="#{bean.action=='VIEW'}"></h:outputText>
										<p:inputNumber value="#{requirement.requiredQuantity}"
											rendered="#{bean.action=='EDIT'}">
											<p:ajax event="change" update="requirementTable, growls"
												listener="#{intendDetailsBean.quantityChange(requirement)}"></p:ajax>
										</p:inputNumber>
										<f:facet name="footer">
											<h:outputText
												value="#{intendDetailsBean.totalRequiredQuantity}"></h:outputText>
										</f:facet>
									</p:column>
									<p:column headerText="#{msg['stock_in_hand']}">
										<h:outputText value="#{requirement.stockInHand}"></h:outputText>
									</p:column>
									<p:column headerText="#{msg['balance_quantity_req']}"
										styleClass="text-right">
										<h:outputText value="#{requirement.balanceQuantity}"></h:outputText>
										<f:facet name="footer">
											<h:outputText
												value="#{intendDetailsBean.totalBalanceQuantity}"></h:outputText>
										</f:facet>
									</p:column>
									<p:column headerText="#{msg['pur_price']} (&#xf156;)"
										styleClass="text-right fa-input">
										<h:outputText value="#{requirement.purchasePrice}"></h:outputText>
										<f:facet name="footer">
											<h:outputText value="#{intendDetailsBean.totalPrice}"></h:outputText>
										</f:facet>
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
								action="#{bean.loadRequirementpage}" immediate="true"
								class="btn bg-info font-iconmoon m-r-0" title="#{msg['back']}">
							</p:commandButton>
							<p:commandButton value="&#xeda7;&nbsp;#{msg['update']}"
								action="#{bean.requirementUpdate}"
								rendered="#{bean.action=='EDIT'}" immediate="true"
								update="growls,requirementTable"
								class="btn bg-primary heading-btn  font-iconmoon"
								title="#{msg['update']}" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>