<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Stock Item Inward</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_stock_item_inward']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['stock_management']}</li>
						<li class="active">#{msg['view_stock_item_inward']}</li>
					</ul>
				</div>
			</div>
		</div>
		<h:form id="itemPNS">
			<div class="content">
				<div class="panel">
					<div class="panel-heading bg-info">
						<h6 class="panel-title">#{msg['stock_item_inward']}</h6>
					</div>
					<div class="panel-body p-t-10 page-scroll-without-process">
						<h5 class="bord_bot m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['sup_detail']}</span>
						</h5>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['supp_type_code']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.supplierType}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['sup_code']} / #{msg['name']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.supplierCodeName}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['gst_no']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.gstNumber}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['inward_type']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType}"
										class="" />
								</div>
							</div>
							
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['Order_Type']}" />
										<h:outputText value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.orderType}"
											class="">
										</h:outputText>
									</div>
								</div>
						</div>


						<!-- <h5 class="bord_bot m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pur_order']}</span>
						</h5>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_date']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.purchaseDate}"
										class="">
										<f:convertDateTime pattern="dd-MMM-yyyy" timeZone="GMT+05:30" />
									</h:outputText>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_odr_val_date']}" />
									<h:outputText value="01-01-2018" class="">

									</h:outputText>
								</div>
							</div>
						</div> -->



						<h5 class="m-t-0 m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['item_receive_details']}</span>
						</h5>
						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive m-b-5">
									<p:outputPanel
										styleClass="#{stockItemInwardBean.selectedStockTransferItemsList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable
											value="#{stockItemInwardBean.selectedStockTransferItemsList}"
											var="list" rowKey="#{list.id}" paginator="false"
											id="liststockTransferLazyList" scrollable="true"
											widgetVar="liststockTransferLazyListWdgr" lazy="true"
											rowsPerPageTemplate="5,10,15" rowIndexVar="index"
											paginatorPosition="bottom"
											emptyMessage="#{msg['no_record_found']}"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
											styleClass="report-table custom-input-width"
											scrollHeight="#{stockItemInwardBean.selectedStockTransferItemsList.size() eq 0 ? '30' : 
							  			stockItemInwardBean.selectedStockTransferItemsList.size() eq 1 ? '30': 
							  			stockItemInwardBean.selectedStockTransferItemsList.size() eq 2 ? '60':
										stockItemInwardBean.selectedStockTransferItemsList.size() eq 3 ? '90':
										stockItemInwardBean.selectedStockTransferItemsList.size() eq 4 ? '119':
										stockItemInwardBean.selectedStockTransferItemsList.size() gt 4 and stockItemInwardBean.selectedStockTransferItemsList.size() lt 6 ? '148' :'170'}">
											<p:column headerText="#" class="text-center sno-ovrflw-4">
												<h:outputText styleClass="ui-column-title"
													value="#{index+1}"></h:outputText>
											</p:column>

											<p:column headerText="#{msg['item_code']} / #{msg['name']}"
												styleClass="width-8">
												<h:outputText styleClass="ui-column-title"
													value="#{list.productVarietyMaster.code} / #{(list.productVarietyMaster.name).length() gt 6 ? fn:substring({list.productVarietyMaster.name}, 1, 3).concat('...'):(list.productVarietyMaster.name)}"
													title="#{list.productVarietyMaster.code} / #{list.productVarietyMaster.name}"></h:outputText>
											</p:column>

											<p:column headerText="#{msg['description']}"
												styleClass="width-8">
												<h:outputText styleClass="ui-column-title"
													value="#{(list.description).length() gt 7 ? fn:substring({list.description}, 1, 6).concat('...'):(list.description)}"
													title="#{list.description}"></h:outputText>
											</p:column>

											<p:column headerText="#{msg['hsn_code']}"
												styleClass="width-7">
												<h:outputText styleClass="ui-column-title"
													value="#{list.productVarietyMaster.hsnCode}"></h:outputText>
											</p:column>

											<p:column headerText="#{msg['uom']}" styleClass="width-6">
												<h:outputText styleClass="ui-column-title"
													value="#{list.uomMaster.name}"></h:outputText>
											</p:column>

											<p:column headerText="#{msg['qty']}"
												styleClass="width-7 text-right">
												<h:outputText styleClass="ui-column-title"
													value="#{list.orderedQty}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column
												headerText="#{msg['unit_rate']}&lt;br/&gt;(&#xf156;)"
												styleClass="fa-input width-8 text-right">
												<h:outputText styleClass="ui-column-title"
													value="#{list.unitRate}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column
												headerText="#{msg['total_rate']}&lt;br/&gt;(&#xf156;)"
												styleClass="fa-input width-10 text-right">
												<h:outputText styleClass="ui-column-title"
													value="#{list.itemTotal}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<ui:remove>
												<p:column
													headerText="#{msg['dis_master']}&lt;br/&gt;(&#xf295;)"
													styleClass="fa-input width-6 text-right">
													<h:outputText styleClass="ui-column-title"
														value="#{list.discountPercent}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>

												<p:column
													headerText="#{msg['dis_value']}&lt;br/&gt;(&#xf156;)"
													styleClass="fa-input width-9 text-right">
													<h:outputText styleClass="ui-column-title"
														value="#{list.discountValue}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
											</ui:remove>
											<p:column headerText="#{msg['tax']}&lt;br/&gt;(&#xf295;)"
												styleClass="fa-input width-6 text-right"
												rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}">
												<h:outputText styleClass="ui-column-title"
													value="#{list.taxPercent}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column
												rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}"
												headerText="#{msg['tax_value']}&lt;br/&gt;(&#xf156;)"
												styleClass="fa-input width-9 text-right">
												<h:outputText styleClass="ui-column-title"
													value="#{list.taxValue}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column
												headerText="#{msg['nt_price']}&lt;br/&gt;(&#xf156;)"
												styleClass="fa-input width-12 text-right">

												<h:outputText styleClass="ui-column-title"
													value="#{list.itemTotal}"
													rendered="#{(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>

												<h:outputText styleClass="ui-column-title"
													value="#{list.itemNetTotal}"
													rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:columnGroup type="footer">
												<p:row>
													<p:column styleClass="sno-ovrflw-4" footerText="" />
													<p:column styleClass="width-8" footerText="" />
													<p:column styleClass="width-8" footerText="" />
													<p:column styleClass="width-7" footerText="" />
													<p:column styleClass="width-6" footerText="#{msg['tot']}" />
													<p:column styleClass="width-7 text-right"
														footerText="#{stockItemInwardBean.quantityTotalView}" />
													<p:column class="width-8"
														footerText="#{stockItemInwardBean.unitRateTotalView}" />
													<p:column class="width-10"
														footerText="#{stockItemInwardBean.totalRateTotalView}" />
													<ui:remove>
														<p:column class="width-6" footerText="" />
														<p:column class="width-9"
															footerText="#{stockItemInwardBean.discountValueTotalView}" />
													</ui:remove>
													<p:column class="width-6" footerText=""
														rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}" />
													<p:column class="width-9"
														rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
												and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}"
														footerText="#{stockItemInwardBean.taxValueTotalView}"
														colspan="2" />
													<p:column class="width-12"
														rendered="#{(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
													and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}"
														footerText="#{stockItemInwardBean.totalRateTotalView}" />
													<p:column class="width-12"
														rendered="#{!(stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD' 
													and stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true')}"
														footerText="#{stockItemInwardBean.netPriceTotalView}" />
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>

							<div class="col-lg-12">
								<h:panelGroup
									rendered="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.transferType eq 'WAREHOUSE_INWARD'  and 
									stockItemInwardBean.selectedStockItemInwardPNSDTO.taxExempted eq 'true'}">
									<strong>Note</strong> : #{msg['gst_not_applicable_msg']}
								</h:panelGroup>
							</div>
						</div>
						<p:outputPanel
							rendered="#{stockItemInwardBean.selectedPurchaseInvoiceList.size()>0}">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['inv_dtl']}</span>
									</h5>
								</div>
							</div>
						</p:outputPanel>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="table-responsive">
									<p:outputPanel id="viewInvoiceTable"
										rendered="#{stockItemInwardBean.selectedPurchaseInvoiceList.size()>0}"
										styleClass="#{stockItemInwardBean.selectedPurchaseInvoiceList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable
											value="#{stockItemInwardBean.selectedPurchaseInvoiceList}"
											var="item" styleClass="custom-input-width"
											rowIndexVar="index" scrollable="true"
											scrollHeight="#{stockItemInwardBean.selectedPurchaseInvoiceList.size() eq 0 ? '30' : 
									  				 stockItemInwardBean.selectedPurchaseInvoiceList.size() eq 1 ? '35':
									  				 stockItemInwardBean.selectedPurchaseInvoiceList.size() eq 2 ? '70':
													 stockItemInwardBean.selectedPurchaseInvoiceList.size() eq 3 ? '105':
													 stockItemInwardBean.selectedPurchaseInvoiceList.size() eq 4 ? '140':
													 stockItemInwardBean.selectedPurchaseInvoiceList.size() gt 4 and  stockItemInwardBean.selectedPurchaseInvoiceList.size() lt 6 ? '175' :'195'}">
											<p:column headerText="#"
												styleClass="text-center sno-ovrflw-4">
												<h:outputText value="#{index +1}" />
											</p:column>
											<p:column headerText="#{msg['invoice_num']}"
												styleClass="text-center width-15">
												<h:outputText value="#{item.invoiceNumber}"
													styleClass="fa-input" />
											</p:column>

											<p:column headerText="#{msg['invoice_date']}"
												styleClass="text-center width-8">
												<h:outputText value="#{item.invoiceDate}">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['dc_number']}"
												styleClass="text-center width-13">
												<h:outputText value="#{item.dcNumber}" styleClass="fa-input" />
											</p:column>

											<p:column headerText="#{msg['payment_due_date']}"
												styleClass="text-center width-12">
												<h:outputText value="#{item.paymentDuedate}"
													styleClass="fa-input">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MMM-yyyy" />
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['intr_aple']}"
												styleClass="width-10">
												<h:outputText
													value="#{item.interestApplicable eq 'true'?'Yes':'No'}"
													styleClass="" />
											</p:column>

											<p:column headerText="#{msg['rate_of_interest']} (&#xf295;)"
												styleClass="fa-input text-right width-25">
												<h:outputText value="#{item.rateOfInterest}"
													styleClass="fa-input" />
											</p:column>
											<p:column headerText="#{msg['attached_docs']}"
												styleClass="width-13 text-center">
												<p:commandButton
													value="&#xf019;&nbsp;&nbsp;#{msg['download']}" ajax="false"
													class="btn bg-primary fa-input" title="#{msg['download']}"
													update="growls"
													actionListener="#{stockItemInwardBean.selectInvoiceRows(item)}">
													<p:fileDownload
														value="#{stockItemInwardBean.selectedeStockItemInwardPNSBean.downloadFile}" />
												</p:commandButton>
											</p:column>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
								</h5>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.trans_ser_type}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.trans_ser_name}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.waybillAvailable eq 'true'?'Yes':'No'}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.waybill_no}"
										class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['weight']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.weight}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.transport_charge_available eq 'true'?'Yes':'No'}"
										class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['receipt_num']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.receiptNumber}"
										class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<h:outputText
										value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.trans_charge_type}"
										class="" />
								</div>
							</div>
						</div>
						<div class="row view-style">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_amt']}" />
									<span><i class="fa fa-inr"></i>&nbsp;<h:outputText
											value="#{stockItemInwardBean.selectedStockItemInwardPNSDTO.trans_charge_amt}">
											<f:convertNumber pattern="0.00" />
										</h:outputText> </span>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 text-right">
								<p:outputLabel value="&nbsp;&nbsp;" />
								<div class="text-right">
									<p:commandButton value="&#xeddf; #{msg['back']}"
										title="#{msg['back']}"
										styleClass="btn btn-sm bg-info font-iconmoon m-b-15"
										action="#{stockItemInwardBean.backStockItemInward}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Customer Info Popup -->
			<p:dialog widgetVar="statusMediaView" modal="false" draggable="true"
				closable="true" resizable="false" showHeader="false">
				<p:outputPanel id="mediaViewPanel">
					<h3>PDF</h3>
					<p:media player="pdf" type="application/pdf"
						data="/home/user1/invoice/uploaded/corejava.pdf?pfdrid_c=true"
						width="100%" height="300px">
            Your browser can't display pdf, <a
							href="/home/user1/invoice/uploaded/corejava.pdf">click</a> to download pdf instead.
        </p:media>
					<p:commandButton value="Close"
						onclick="PF('statusMediaView').hide();"></p:commandButton>
				</p:outputPanel>
			</p:dialog>
		</h:form>

	</ui:define>
</ui:composition>