<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('MEDIA_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{mediaMasterBean}"></ui:param>
		<title>InfoTex | Media List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['media_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['media_list']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> - #{msg['media']}(#{msg['list_s']})
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								disabled="#{bean.addButtonFlag}" title="#{msg['add']}"
								id="addId" update="growls"
								rendered="#{loginBean.userFeatures['MEDIA_ADD']}"
								action="#{bean.mediaMasterListPageAction}"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}" id="editId"
								rendered="#{loginBean.userFeatures['MEDIA_EDIT']}"
								disabled="#{bean.editButtonFlag}" title="#{msg['edit']}"
								class="btn bg-primary font-iconmoon" update="growls"
								action="#{bean.mediaMasterListPageAction}">

								<f:setPropertyActionListener value="Edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewID"
								rendered="#{loginBean.userFeatures['MEDIA_VIEW']}"
								title="#{msg['view']}" disabled="#{bean.viewButtonFlag}"
								action="#{bean.mediaMasterListPageAction}" immediate="true"
								class="btn bg-info font-iconmoon">

								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								rendered="#{loginBean.userFeatures['MEDIA_DELETE']}"
								action="#{bean.mediaMasterListPageAction}"
								disabled="#{bean.deleteButtonFlag}" title="#{msg['delete']}"
								class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{bean.showMediaMasterListPage}" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="mediaMasterList" widgetVar="mediaMasterListTable"
							class="table" var="media" rowKey="#{media.id}"
							selection="#{bean.selectedMediaMaster}"
							value="#{bean.lazyMediaMasterList}" lazy="true"
							paginatorAlwaysVisible="false" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							paginatorPosition="bottom" emptyMessage="#{msg['no_records_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('addId')},#{p:component('deleteId')},#{p:component('viewID')},#{p:component('editId')},#{p:component('menupanel')}" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>
							
							<p:column filterable="true" filterBy="#{media.mediaType.name}"
								styleClass="width-10" filterMatchMode="contains"
								headerText="#{msg['media_type']}"
								sortBy="#{media.mediaType.name}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="code" class="form-control"
										onkeyup="PF('mediaMasterListTable').filter()" />
								</f:facet>
								<h:outputText value="#{media.mediaType.name}" />
							</p:column>
							
							<p:column filterable="true" filterBy="#{media.name}"
								filterMatchMode="contains" styleClass="width-10"
								headerText="#{msg['media_cod_name']}" sortBy="#{media.name}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="name" class="form-control"
										onkeyup="PF('mediaMasterListTable').filter()" />
								</f:facet>
								<h:outputText title="#{media.name}"
									value="#{media.code} / #{media.name} " />
							</p:column>
							
							<p:column filterable="true" filterBy="#{media.contactName}"
								filterMatchMode="contains" styleClass="width-10"
								headerText="#{msg['cname']}" sortBy="#{media.contactName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="contactname" class="form-control"
										onkeyup="PF('mediaMasterListTable').filter()" />
								</f:facet>
								<h:outputText title="#{media.contactName}"
									value="#{media.contactName}" />
							</p:column>

							<p:column filterable="true" filterBy="#{media.contactNumber}"
								filterMatchMode="contains" styleClass="width-10"
								headerText="#{msg['contact_number']}"
								sortBy="#{media.contactNumber}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="contactNumber" class="form-control"
										onkeyup="PF('mediaMasterListTable').filter()" />
								</f:facet>
								<h:outputText title="#{media.contactNumber}"
									value="#{media.contactNumber}" />
							</p:column>

							<p:column filterable="true" filterBy="#{media.emailId}"
								filterMatchMode="contains" styleClass="width-10"
								headerText="#{msg['email']}" sortBy="#{media.emailId}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="emailId" class="form-control"
										onkeyup="PF('mediaMasterListTable').filter()" />
								</f:facet>
								<h:outputText title="#{media.emailId}" value="#{media.emailId}" />
							</p:column>

							<p:column filterBy=" #{media.activeStatus}"
								headerText="#{msg['status']}" filterMatchMode="contains"
								filterable="true" sortBy="#{media.activeStatus}" sortable="true"
								styleClass="text-center width-5">
								<f:facet name="filter">
									<h:selectOneMenu onchange="PF('mediaMasterListTable').filter()"
										id="statusDropdown" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItem itemLabel="#{msg['active']}" itemValue="true" />
										<f:selectItem itemLabel="#{msg['inactive']}" itemValue="false" />
									</h:selectOneMenu>
								</f:facet>

								<h:outputText value="#{msg['active']}"
									styleClass="label label-success sts_shortl"
									rendered="#{media.activeStatus eq true}" />

								<h:outputText value="#{msg['inactive']}"
									styleClass="label label-default sts_shortl"
									rendered="#{media.activeStatus eq false}" />
							</p:column>
							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-4" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
			
			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmMediaMasterDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmMediaMasterDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{bean.deleteConfirm}"
						oncomplete="PF('confirmMediaMasterDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>
		</div>
	</ui:define>
</ui:composition>