<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{mediaMasterBean}"></ui:param>
		<ui:param name="media" value="#{mediaMasterBean.selectedMediaMaster}"></ui:param>
		<title>InfoTex | View Media</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_media']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['oper_master']}</li>
						<li class="active">#{msg['view_media']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content page-scroll-hp no-padding-bottom">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['view_media']}</h6>
				</div>
				<div class="panel-body view-style p-t-10">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-6 col-col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['media_type']}" />
										<h:outputText value="#{media.mediaType.name}" class="" />
									</div>
								</div>
								<div class="col-lg-6 col-col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['code']}" />
										<h:outputText value="#{media.code}" class="" />
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-6 col-col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['media_name']}" />
										<h:outputText
											value="#{media.name != null and media.name != '' ? media.name : '-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['media_name']} (#{msg['in_tamil']})" />
										<h:outputText
											value="#{media.locName != null and media.locName != '' ? media.locName : '-'}"
											class="" />
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="form-group ">
									<p:outputLabel value="#{msg['warhs_address']}" />
									<h:outputText value="#{bean.address}" class="" />
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['gst_in_number']}" />
								<h:outputText value="#{media.gstNumber}" class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['status']}" />
								<h:outputText value="#{media.activeStatus?'Active':'In Active'}"
									class="" />
							</div>
						</div>

					</div>


					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['con_det']}</span>
							</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['contact_name']}" />
								<h:outputText
									value="#{media.contactName != null and media.contactName != '' ? media.contactName : '-'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel
									value="#{msg['contact_name']} (#{msg['in_tamil']})" />
								<h:outputText
									value="#{media.contactLName != null and media.contactLName != '' ? media.contactLName : '-'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['contact_num']}" />
								<h:outputText
									value="#{media.contactNumber != null and media.contactNumber != '' ? media.contactNumber : '-'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['mob_no']}" />
								<h:outputText
									value="#{media.mobileNumber != null and media.mobileNumber != '' ? media.mobileNumber : '-'}"
									class="" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['email']}" />
								<h:outputText
									value="#{media.emailId != null and media.emailId !='' ? media.emailId : '-'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['fx_num']}" />
								<h:outputText
									value="#{media.faxNumber != null and media.faxNumber != '' ? media.faxNumber : '-'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['note']}" />
								<h:outputText class=""
									value="#{media.note != null and media.note != '' ? media.note : '-'}" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 text-right">
							<p:commandButton value="&#xeddf; #{msg['back']}"
								title="#{msg['back']}"
								action="#{bean.showMediaMasterListPage()}"
								styleClass="btn btn-sm bg-info font-iconmoon" />
						</div>
					</div>

				</div>
			</div>
		</div>


	</ui:define>
</ui:composition>