<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Tax Config</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_tax_config']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li>#{msg['pay_roll_config']}</li>
						<li class="active">#{msg['view_tax_config']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['tax_config']}</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<h:outputText id="city" onblur=""
											value="#{professionalTaxConfigBean.stateMaster.name}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['financial_year']}" />
										<h:outputText id="country" onblur=""
											value="#{professionalTaxConfigBean.financialYear.startYear} - #{professionalTaxConfigBean.financialYear.endYear}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tax_start_value']}" />
										<h:outputText id="grossSaleryFrom" onblur=""
											value="#{professionalTaxConfigBean.grossSalaryFrom}">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tax_end_value']}" />
										<h:outputText id="grossSalaryTo" onblur=""
											value="#{professionalTaxConfigBean.grossSalaryTo}">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText>
									</div>
								</div>

							</div>

							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_tax']} (per month)" />
										<h:outputText id="name" onblur=""
											value="#{professionalTaxConfigBean.totalTax}">
											<f:convertNumber minFractionDigits="2"></f:convertNumber>
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText id="createddate" onblur=""
											value="#{professionalTaxConfigBean.professionalTaxConfig.createdDate}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText id="createdby" onblur=""
											value="#{professionalTaxConfigBean.professionalTaxConfig.createdBy.username}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<h:outputText id="modifieddate" onblur=""
											value="#{professionalTaxConfigBean.professionalTaxConfig.modifiedDate}">
											<f:convertDateTime pattern="dd-MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
							</div>
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<h:outputText id="modifiedby" onblur=""
											value="#{professionalTaxConfigBean.professionalTaxConfig.modifiedBy.username}" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText id="status" onblur=""
											value="#{professionalTaxConfigBean.status}" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton update="growls"
										value="&#xeddf;&nbsp;#{msg['back']}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{professionalTaxConfigBean.cancelTax}"
										title="#{msg['back']}" class="btn bg-info font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
