<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Stock Inward - Product Warehouse</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_stock_inward']} - #{msg['product_warehouse']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['distribution_warehouse']}</li>
						<li class="active">#{msg['view_stock_inward']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->
			<div class="panel-group m-b-10">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['view_stock_inward']}</h6>
					</div>
					<div id="accordion-control-right-group1">
						<div class="panel-body p-t-10">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_code']} / #{msg['name']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.fromEntityMaster.code} / #{stockInwardDWHBean.stockTransfer.fromEntityMaster.name}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_movement_no_from']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.stockTransfer.referenceNumber}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.status}" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_movement_number']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.referenceNumber}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="panel panel-info ">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<p:outputPanel
									styleClass="#{stockInwardDWHBean.stockTransferItemsDisplayList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
									<p:dataTable id="stockItemsTable" var="item"
										styleClass="custom-input-width" rowKey="#{item}"
										value="#{stockInwardDWHBean.stockTransferItemsDisplayList}"
										rowIndexVar="idx" scrollable="true"
										scrollHeight="#{stockInwardDWHBean.stockTransferItemsDisplayList.size() eq 0 ? '30' : 
								  				 stockInwardDWHBean.stockTransferItemsDisplayList.size() eq 1 ? '36':
								  				 stockInwardDWHBean.stockTransferItemsDisplayList.size() eq 2 ? '71':
												 stockInwardDWHBean.stockTransferItemsDisplayList.size() eq 3 ? '105':
												 stockInwardDWHBean.stockTransferItemsDisplayList.size() eq 4 ? '140':
												 stockInwardDWHBean.stockTransferItemsDisplayList.size() gt 4 and stockInwardDWHBean.stockTransferItemsDisplayList.size() lt 6 ? '174' :'185'}">

										<p:column headerText="#" styleClass="text-center sno-ovrflw-5">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column styleClass="width-30"
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{(item.productVarietyMaster.name).length() gt 28 ? fn:substring({item.productVarietyMaster.name}, 1, 25).concat('...'):(item.productVarietyMaster.name)}"
												title="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
											<f:facet name="footer">
												<h:outputText value="#{msg['tot']}"></h:outputText>
											</f:facet>
										</p:column>
										<p:column headerText="#{msg['uom']}" styleClass="width-10">
											<h:outputText value="#{item.uomMaster.code}" />
										</p:column>
										<p:column headerText="#{msg['already_dispatched_unit']}"
											styleClass="text-right width-15">
											<h:outputText value="#{item.dispatchedQty}"
												rendered="#{item.uomMaster.code ne 'METR'}">
											</h:outputText>
											<h:outputText value="#{item.dispatchedQty}"
												rendered="#{item.uomMaster.code eq 'METR'}">
												<f:convertNumber pattern="#0.00"></f:convertNumber>
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardDWHBean.stockTransferItemsDisplayList.stream().map(data->data.dispatchedQty).sum()}"></h:outputText>
											</f:facet>
										</p:column>
										<p:column headerText="#{msg['received_unit']}"
											styleClass="text-right width-15">
											<h:outputText value="#{item.receivedQty}"
												rendered="#{item.uomMaster.code ne 'METR'}">
											</h:outputText>
											<h:outputText value="#{item.receivedQty}"
												rendered="#{item.uomMaster.code eq 'METR'}">
												<f:convertNumber pattern="#0.00"></f:convertNumber>
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardDWHBean.stockTransferItemsDisplayList.stream().map(data->data.receivedQty).sum()}"></h:outputText>
											</f:facet>
										</p:column>
										<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
											styleClass="fa-input text-right width-15">
											<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
												class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardDWHBean.stockTransferItemsDisplayList.stream().map(data->data.itemNetTotal).sum()}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</f:facet>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="text-center width-10">
											<p:commandButton update="dlgItemsDetail" value="&#xea18;"
												action="#{stockInwardDWHBean.viewItemDetails(item)}"
												class="btn bg-info font-iconmoon tab-btn"
												title="#{msg['view']}"
												oncomplete="PF('dlgItemsDetail').show();" />
										</p:column>
									</p:dataTable>
								</p:outputPanel>
							</div>
						</div>
					</div>

					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bundle_dispatched']}</span>
							</h5>
							<div class="row label-form view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.stockTransfer.totalBundles}"
											class="" />
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.stockTransfer.bundleWeight}"
											class="" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.stockTransfer.bundleNumbers}"
											class="" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot m-t-15">
								<i class="fa fa-th-large m-r-5"></i> <span class="iform-title">#{msg['bundle_received']}</span>
							</h5>
							<div class="row label-form view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.totalBundles}"
											class="" />
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.bundleWeight}"
											class="" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<h:outputText
											value="#{stockInwardDWHBean.stockTransfer.bundleNumbers}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Transport Details -->

					<h5 class="bord_bot m-t-0">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['trans_details']}</span>
					</h5>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.transportMaster == null || stockInwardDWHBean.stockTransfer.transportMaster.transportTypeMaster == null?'': stockInwardDWHBean.stockTransfer.transportMaster.transportTypeMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.transportMaster == null?'': stockInwardDWHBean.stockTransfer.transportMaster.name}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.waybillAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.waybillNumber}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.transportChargeAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.transportChargeType}"
									class="" />
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<h:outputText
									value="#{stockInwardDWHBean.stockTransfer.transportChargeAmount}"
									class="" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<h:commandButton id="btnMainFormCancel"
								value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
								immediate="true" action="#{stockInwardDWHBean.getListPage}"
								class="btn bg-info heading-btn  font-iconmoon cust-btn-h"
								update="growls" onclick="PF('statusDialog').show()">
							</h:commandButton>
						</div>
					</div>

				</div>
			</div>
		</div>

		<ui:include src="../popup/stockTransferItemsDetailsPopup.xhtml" />

	</ui:define>
</ui:composition>