<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('ADVANCE_TYPE_ADD')}" />
		</f:metadata>
		<ui:param name="bean" value="#{advanceTypeMasterBean}"></ui:param>
		<title>InfoTex | Create Advance Type</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'Create' ? msg['create_adv_type'] :
						msg['edit_adv_type']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{bean.action eq 'Create' ?
							msg['create_adv_type'] : msg['edit_adv_type']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['adv_type']} <span class="pull-right text-13 ">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					
					<p:outputPanel id="createAdvanceMasterPanel">
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['cod']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" id="codenum"
													value="#{bean.advanceTypeMaster.code}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['code_is_req']}" placeholder=" ">
													<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="false"></p:keyFilter>
												</p:inputText>
											</div>
											<h:message for="codenum" styleClass="validation-error-label"></h:message>
											<p:focus for="codenum"></p:focus>
											<p:tooltip for="codenum" value="#{msg['code_valid_msg']}"></p:tooltip>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['name']}" />
											<span class="mand-red">*</span>

											<div class="input-group">
												<span class="input-group-addon"><i
													class=" icon-file-text2"></i></span>
												<p:inputText styleClass="form-control" id="codename"
													value="#{bean.advanceTypeMaster.name}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['name_is_req']}" placeholder=" ">
													<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="true"></p:keyFilter>
													<p:ajax update="codename"></p:ajax>
												</p:inputText>
											</div>
											<h:message for="codename" styleClass="validation-error-label"></h:message>
											<p:tooltip for="codename" value="#{msg['name_valid_msg']}"></p:tooltip>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['name']} (#{msg['in_tamil']})" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-file-text2"></i></span>
												<p:inputText styleClass="form-control" id="lname"
													value="#{bean.advanceTypeMaster.locName}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['name_is_req']}" placeholder=" ">
													<p:keyFilter regEx="/[a-z0-9_]/i" preventPaste="false"></p:keyFilter>
												</p:inputText>
											</div>
											<h:message for="lname" styleClass="validation-error-label"></h:message>
											<p:tooltip for="lname" value="#{msg['name_valid_msg']}"></p:tooltip>
										</div>
									</div>


									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['adv_eligible_amount']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-inr fa-lg"></i></span>
												<p:inputNumber styleClass="text-right"
													id="adv_eligible_amount"
													value="#{bean.advanceTypeMaster.advanceEligiblilityAmount}"
													required="#{not empty param[submit.clientId]}"
													validatorMessage="Invalid advance eligibility amount"
													requiredMessage="#{msg['adv_eligible_amount_req']}"
													placeholder=" ">
													<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
													<f:validateDoubleRange minimum="1"
														for="adv_eligible_amount"></f:validateDoubleRange>
												</p:inputNumber>
											</div>
											<h:message for="adv_eligible_amount"
												styleClass="validation-error-label"></h:message>
											<p:tooltip for="adv_eligible_amount"
												value="#{msg['amt_valid_msg']}"></p:tooltip>
										</div>
									</div>
								</div>



								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['min_amt']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-inr fa-lg"></i></span>
												<p:inputNumber styleClass="text-right" id="min_amt"
													value="#{bean.advanceTypeMaster.minAdvanceAmount}"
													required="#{not empty param[submit.clientId]}"
													validatorMessage="Invalid minimum amount"
													requiredMessage="#{msg['min_amount_req']}" placeholder=" ">
													<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
													<f:convertNumber pattern="#0.00" />
													<f:validateDoubleRange minimum="1" for="min_amt"></f:validateDoubleRange>
												</p:inputNumber>
											</div>
											<h:message for="min_amt" styleClass="validation-error-label"></h:message>
											<p:tooltip for="min_amt" value="#{msg['amt_valid_msg']}"></p:tooltip>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['max_amt']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-inr fa-lg"></i></span>
												<p:inputNumber styleClass="text-right" id="max_amt"
													value="#{bean.advanceTypeMaster.maxAdvanceAmount}"
													required="#{not empty param[submit.clientId]}"
													validatorMessage="Invalid maximum amount"
													requiredMessage="#{msg['max_amount_req']}" placeholder=" ">
													<p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter>
													<f:convertNumber pattern="#0.00" />
													<f:validateDoubleRange minimum="1" for="max_amt"></f:validateDoubleRange>
												</p:inputNumber>
											</div>
											<h:message for="max_amt" styleClass="validation-error-label"></h:message>
											<p:tooltip for="max_amt" value="#{msg['amt_valid_msg']}"></p:tooltip>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 col-md-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['interest_rate']} %" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-percent"></i></span>
												<p:inputText
													value="#{bean.advanceTypeMaster.advanceInterestRate}"
													class="form-control text-right" id="roi">
													<p:keyFilter regEx="/[\d\.]/" />
												</p:inputText>
											</div>
											<h:message for="roi" class="validation-error-label"></h:message>
											<p:tooltip for="roi" value="#{msg['rate_of_interest']}" />
										</div>
									</div>
									<div class="col-lg-3 col-sm-6 col-md-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['no_instal']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText
													value="#{bean.advanceTypeMaster.advanceInstallment}"
													id="installmentmonth" styleClass="form-control text-right"
													maxlength="3" validatorMessage="Invalid installment"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['no_instal']} #{msg['is_required']}">
													<p:keyFilter regEx="/[\d\.]/"></p:keyFilter>
													<f:validateDoubleRange minimum="1" for="installmentmonth"></f:validateDoubleRange>
												</p:inputText>
											</div>
											<h:message for="installmentmonth"
												class="validation-error-label"></h:message>
										</div>
									</div>
								</div>
								<div class="row label-form">
									<div class="col-lg-3 col-sm-6 col-md-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['acc_head_name']}" />
											<span class="text-danger">*</span>
											<div class="input-group autocomplete-input">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:autoComplete id="acMinLength" minQueryLength="2"
													styleClass="form-control" panelStyle="max-height: 150px;"
													value="#{bean.glAccountName}" placeholder="Enter 2 letter"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['acc_head_name_required']}"
													completeMethod="#{advanceTypeMasterBean.glaccountAutoComplete}"
													effect="fade" />
											</div>
											<h:message for="acMinLength" class="validation-error-label"></h:message>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-file-check"></i></span>
												<h:selectOneMenu class="form-control" id="status"
													value="#{bean.advanceTypeMaster.activeStatus}">
													<f:selectItem itemLabel="Active" itemValue="true" />
													<f:selectItem itemLabel="InActive" itemValue="false" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>
							
							<div class="row">
								<div class="col-md-12 text-right m-t-10">
									<p:commandButton value="&#xed6a; #{msg['cancel']}"
										action="#{advanceTypeMasterBean.showAdvanceTypeMasterListPage}"
										immediate="true" title="#{msg['cancel']}"
										class="btn btn-sm bg-slate font-iconmoon"
										update="createAdvanceMasterPanel growls" />
									<p:commandButton
										value="#{bean.addButtonFlag eq 'true' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.addButtonFlag eq 'true' ?  msg['submit'] :  msg['update'] }"
										title="#{bean.addButtonFlag eq 'true' ?  msg['submit'] :  msg['update'] }"
										class="#{bean.addButtonFlag eq 'true' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										action="#{bean.saveOrUpdate}" binding="#{submit}"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										update="createAdvanceMasterPanel growls" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>