<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{fileNumberBean}"></ui:param>
		<ui:param name="filenum" value="#{fileNumberBean.fileNumber}"></ui:param>
		<title>InfoTex | File Numbering</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'Create' ? msg['create_file_Num'] :
						msg['ed_file_Num']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['admin']}</li>
						<li>#{msg['tapal']}</li>
						<li class="active">#{bean.action eq 'Create' ?
							msg['create_file_Num'] : msg['ed_file_Num']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['file_numbering']} <span class="pull-right text-13 ">(<span
								class="text-danger">*</span> #{msg['marked_field_mandatory']})
							</span>
						</h6>
					</div>
					<p:outputPanel id="addPanel">
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['file_name']}" for="fileNameId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="fileNameId" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-file-text"></i></span>
												<ui:remove>
												<h:selectOneMenu id="fileNameId" class="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['file_name_req']} "
													value="#{filenum.fileName}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems var="fileName" itemValue="#{fileName}"
														itemLabel="#{fileName.name}" value="#{bean.fileNameList}" />
													<p:ajax update="fileNameId addPanel" event="change" />
												</h:selectOneMenu>												
												</ui:remove>
												
												
													
												<p:inputText  id="fileNameId" 
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['file_name_req']} "
													value="#{fileNumberBean.fileName}" class="form-control "   >																									
												<p:ajax update="fileNameId addPanel" event="change" />	 											
											   </p:inputText>
												
												
											</div>
											<h:message for="fileNameId" class="validation-error-label" />
											<ui:remove>
											<p:focus for="fileNameId" />
											</ui:remove>
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" for="deptId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="deptId" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<h:selectOneMenu id="deptId" class="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['dept_req']}"
													value="#{filenum.departmentMaster}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems var="dept" itemValue="#{dept}"
														itemLabel="#{dept.name}" value="#{bean.departmentList}" />
													<p:ajax update="deptId secId" event="change"
														listener="#{bean.loadSection}" />
												</h:selectOneMenu>
											</div>
											<h:message for="deptId" class="validation-error-label" />
										</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sec']}" for="secId" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="secId" rendered="#{empty param[submit.clientId]}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<h:selectOneMenu id="secId" class="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['sec_req']} "
													value="#{filenum.sectionMaster}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems var="sec" itemValue="#{sec}"
														itemLabel="#{sec.name}" value="#{bean.sectionMasterList}" />
													<p:ajax update="secId" event="change" />
												</h:selectOneMenu>
											</div>
											<h:message for="secId" class="validation-error-label" />
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['remarks']}" />
											<p:inputTextarea row="3" class="form-control"
												id="fileNumRemarks" value="#{filenum.remarks}"
												maxlength="250"></p:inputTextarea>
										</div>
										<p:tooltip for="fileNumRemarks"
											value="#{msg['remarks_valid_msg']}" />
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											title="#{msg['cancel']}"
											action="#{bean.showFileNumberListPage}"
											class="btn btn-sm bg-slate font-iconmoon m-l-0"
											immediate="true" />
										<p:commandButton
											value="#{bean.action eq 'Create' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
											title="#{bean.action eq 'Create' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{bean.action eq 'Create' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
											binding="#{submit}" action="#{bean.saveOrUpdate}"
											update="addPanel"  />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<!-- colleps panel end -->
		</div>
	</ui:define>
</ui:composition>