<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create POD Outgoing Tapal</title>
		<ui:param name="bean" value="#{outgoingTapalBean}"></ui:param>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_pod_outg_tpl']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['admin']}</li>
						<li>#{msg['tapal']}</li>
						<li class="active">#{msg['create_pod_outg_tpl']}</li>
					</ul>
				</div>
			</div>
		</div>
		<p:outputPanel id="podpanel">
			<div class="content">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['pod_outg_tpl']}
							<p:outputLabel styleClass="pull-right text-13">
									(<span class="mand-red">*</span>
								<span>#{msg['mand_fields']}</span>)
								</p:outputLabel>
						</h6>
					</div>
					<div class="page-scroll-without-process">
						<div class="panel-body  p-t-10">
							<div class="row view-style">

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['send_date']}" />
										<h:outputText value="#{bean.sendingDate}" class="">
											<span class=""> <f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</span>
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['delivery_type']}" />
										<h:outputText value="#{bean.tapalDeliveryType.name}" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ref_num']}" />
										<h:outputText value="#{bean.outgoingTapal.referenceNumber}"
											class=""></h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tapal_ref_num']}" />
										<h:outputText
											value="#{bean.outgoingTapal.tapalReferenceNumber}" class=""></h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['no_of_letters']}" />
										<h:outputText value="#{bean.outgoingTapal.noOfCovers}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ref_date']}" />
										<h:outputText value="#{bean.outgoingTapal.referenceDate}"
											class="">
											<span class=""> <f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</span>
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['dept']}" />
										<h:outputText value="#{bean.department.name}" class=""></h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sec']}" />
										<h:outputText value="#{bean.sectionMaster.code}" class=""></h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sub']}" />
										<h:outputText value="#{bean.outgoingTapal.subject}" class="" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['receiver_details']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tapal_for']}" />
										<h:outputText value="#{bean.tapalFor.name}" class="" />
									</div>
								</div>

								<h:panelGroup rendered="#{bean.entityFlag}">
									<ui:remove>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<p:repeat value="#{bean.hoRoName}" var="horo">
													<h:outputText value="#{horo}" class="" />
												</p:repeat>
											</div>
										</div>
									</ui:remove>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['enty_typ']}"
												rendered="#{bean.entityMaster.name!='Head Office Entity'}" />
											<c:forEach items="#{bean.entityTypeName}" var="entType"
												varStatus="metadata">
												<h:outputText value="#{entType}" class="" />
											</c:forEach>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value=" #{msg['entity']}"
												rendered="#{bean.entityMaster.name!='Head Office Entity'}" />
											<c:forEach items="#{bean.entityName}" var="entity"
												varStatus="metadata">
												<h:outputText value="#{entity}" class="" />
											</c:forEach>

										</div>
									</div>
								</h:panelGroup>
							</div>
							<!-- <div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value=" #{msg['dept']}" />
						<h:outputText value="Entity" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['sec']}" />
						<h:outputText value="A4" class="" />
						</div>
					</div> -->

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']}" />
										<h:outputText
											value="#{bean.outgoingTapal.name != NULL?bean.outgoingTapal.name:'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_add_line1']}" />
										<h:outputText
											value="#{bean.outgoingTapal.addressLine1 != NULL?bean.outgoingTapal.addressLine1:'-'}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_add_line2']}" />
										<h:outputText
											value="#{bean.outgoingTapal.addressLine2 != NULL?bean.outgoingTapal.addressLine2:'-'}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<h:outputText
											value="#{bean.stateMaster.name != NULL?bean.stateMaster.name:'-'}"
											class="" />
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['district']}" />
										<h:outputText
											value="#{bean.districtMaster.name != NULL?bean.districtMaster.name :'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['pincode']}" />
										<h:outputText
											value="#{bean.outgoingTapal.pincode!= NULL?bean.outgoingTapal.pincode:'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['payment_details']}" />
										<h:inputHidden value="#{bean.outgoingTapal.paymentDetails}"
											class="" />
										<h:outputText value="Yes" class=""
											rendered="#{bean.outgoingTapal.paymentDetails=='true'}"></h:outputText>
										<h:outputText value="No" class=""
											rendered="#{bean.outgoingTapal.paymentDetails=='false'}"></h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['incoming_tapal_ref_num']}" />
										<h:outputText value="#{bean.incomingTapal.referenceNumber}"
											class="" />
									</div>
								</div>
							</div>
							<div class="row view-style">
								<h:panelGroup
									rendered="#{bean.outgoingTapal.paymentDetails=='true'}">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['payment_content_detail']}" />
											<h:outputText
												value="#{bean.outgoingTapal.paymentContentDetails}" class="" />
										</div>
									</div>
								</h:panelGroup>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['proof_of_delivery_details']}</span>
									</h5>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['service_name']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="icon-office"></i>
											</span>
											<h:selectOneMenu id="supplierid" class="form-control"
												value="#{bean.supplierMaster}"
												converter="#{entityConverter}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItems value="#{bean.supplierList}" var="supplier"
													itemLabel="#{supplier.name}" itemValue="#{supplier}"></f:selectItems>
												<p:ajax update="supplierid"></p:ajax>
											</h:selectOneMenu>
										</div>
										<p:focus for="supplierid" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['pod_no']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"> <i class="icon-hash"></i>
											</span>
											<p:inputText id="podno" class="form-control" maxlength="50"
												value="#{bean.tapalPodRegister.podNo}">
												<p:ajax update="podno"></p:ajax>
											</p:inputText>
										</div>
										<p:tooltip for="podno" value="#{msg['pod_no_valid_msg']}" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group form-group_calend">
										<p:outputLabel value="#{msg['pod_date']}" />
										<span class="mand-red">*</span>
										<p:calendar navigator="true"
											value="#{bean.tapalPodRegister.podDate}" id="poddate"
											styleClass="form-control calend-icon"
											pattern="#{loginBean.userInfoDTO.dateFormat}"
											placeholder="dd-MMM-yyyy">
											<p:ajax update="poddate" event="dateSelect"></p:ajax>
										</p:calendar>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['pod_amt']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="fa fa-inr fa-lg"></i>
											</span>
											<p:inputText id="podamount" class="form-control text-right"
												maxlength="4" value="#{bean.tapalPodRegister.podAmount}">
												<p:keyFilter regEx="/[0-9]/i" />
												<p:ajax update="podamount"></p:ajax>

											</p:inputText>
										</div>
										<p:tooltip for="podamount" value="#{msg['pod_amt_valid_msg']}" />
									</div>
								</div>

							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<!-- <p:commandButton value="&#xf067; #{msg['create_note']}"
								title="#{msg['add']}"
								styleClass="btn btn-success btn-md fa-input m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>

							<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										action="#{bean.showListPage}"
										class="btn btn-sm bg-slate font-iconmoon m-l-0"
										title="#{msg['cancel']}" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										action="#{bean.savePOD}" update="podpanel growls"
										process="@this" class="btn btn-sm bg-success font-iconmoon"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()" title="#{msg['submit']}" />
								</div>
							</div>

							<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
								modal="true" showEffect="fade" hideEffect="fade"
								resizable="false" styleClass="create-note-panel">
								<h:form>
									<p:outputPanel id="customerPanel">
										<div class="panel-body p-0">
											<div class="tabbable">
												<ul
													class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
													<li class="active"><a href="#large-tab1"
														data-toggle="tab">Note - 1</a></li>
													<li class="pull-right"><a href="#large-tab2"
														data-toggle="tab"> <i class="icon-plus3"></i></a></li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active" id="large-tab1">
														<!-- WYSIHTML5 basic -->
														<div class="panel panel-flat">
															<form action="#">
																<div class="form-group text-wysihtml5-toolbar">
																	<textarea cols="18" rows="10"
																		class="wysihtml5 wysihtml5-min form-control"
																		placeholder="Enter text ...">
												    </textarea>
																</div>
															</form>
														</div>
														<div class='col-md-12'>
															<div class="carousel slide media-carousel" id="media">
																<div class="carousel-inner">
																	<div class="item  active">
																		<div class="row">
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="item">
																		<div class="row">
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="item">
																		<div class="row">
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>

																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																			<div class="col-md-3">
																				<div
																					class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																					<ul class="list list-icons m-b-0">
																						<li>
																							<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																							<h6 class="m-t-0 text-center">Created By</h6>
																						</li>
																						<li>Name : Ramesh Kumar N</li>
																						<li>Designation : Ramesh Kumar N</li>
																						<li>Date : 12-Jul-2017</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<a data-slide="prev" href="#media"
																	class="left carousel-control">‹</a> <a
																	data-slide="next" href="#media"
																	class="right carousel-control">›</a>
															</div>
														</div>
													</div>


												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12 text-right">
													<div class="form-group m-b-0">
														<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
															title="#{msg['cancel']}"
															onclick="location.href='createAmountTransferCashToBank.xhtml';"
															class="btn bg-slate heading-btn  font-iconmoon" />
														<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
															title="#{msg['submit']}"
															class="btn bg-success heading-btn  font-iconmoon" />
													</div>
												</div>
											</div>
										</div>
									</p:outputPanel>
								</h:form>
							</p:dialog>

							<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
								modal="true" showEffect="fade" hideEffect="fade"
								resizable="false" styleClass="p-0">
								<h:form>
									<p:outputPanel id="customerPanel">
										<div class="panel panel-flat">
											<div class="panel-body p-0">
												<div class="tabbable">
													<ul class="nav nav-tabs nav-tabs-bottom">
														<li class="active"><a href="#solid-tab1"
															data-toggle="tab"><i class="icon-thumbs-up3"></i>
																#{msg['approve']}</a></li>
														<li><a href="#solid-tab2" data-toggle="tab"><i
																class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
													</ul>

													<div class="tab-content">
														<div class="tab-pane active" id="solid-tab1">
															<table class="table table-striped cust-table">
																<tbody>
																	<tr class="success">
																		<td><strong>Approved Comments</strong></td>
																		<td><span class="pull-left m-b-10">Given
																				By</span> <span
																			class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																				User</span> <br /> <span class="pull-left">Given
																				Date</span> <span
																			class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
																		</span></td>
																		<td>100% Cotton printed Bed spread, printed with
																			fast Rapid Indigo colours and with over...</td>
																	</tr>
																</tbody>
															</table>
														</div>

														<div class="tab-pane" id="solid-tab2">
															<table class="table table-striped cust-table">
																<tbody>
																	<tr class="success">
																		<td><strong>Rejection Comment</strong></td>
																		<td><span class="pull-left m-b-10">Given
																				By</span> <span
																			class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																				User</span> <br /> <span class="pull-left">Given
																				Date</span> <span
																			class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
																		</span></td>
																		<td>100% Cotton printed Bed spread, printed with
																			fast Rapid Indigo colours and with over...</td>
																	</tr>

																	<tr>
																		<td><strong>Reply Comment</strong></td>
																		<td><span class="pull-left m-b-10">Given
																				By</span> <span
																			class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																				User</span> <br /> <span class="pull-left">Given
																				Date</span> <span
																			class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
																		</span></td>
																		<td><textarea name="enter-message"
																				class="form-control" rows="3" cols="1"
																				placeholder="What's on your mind?"></textarea></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 text-right">
												<div class="form-group m-b-0">
													<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
														title="#{msg['cancel']}"
														onclick="location.href='createAmountTransferCashToBank.xhtml';"
														class="btn bg-slate heading-btn  font-iconmoon" />
													<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
														title="#{msg['submit']}"
														class="btn bg-success heading-btn  font-iconmoon" />
												</div>
											</div>
										</div>
									</p:outputPanel>
								</h:form>
							</p:dialog>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>
	</ui:define>
</ui:composition>