<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Outgoing Tapal</title>
		<ui:param name="bean" value="#{outgoingTapalBean}"></ui:param>
		<p:outputPanel rendered="#{bean.action=='VIEW'}">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['vi_out_thapa']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['admin']}</li>
							<li>#{msg['tapal']}</li>
							<li class="active">#{msg['vi_out_thapa']}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['outgoing_tapal']}</h6>
					</div>
					<div class="page-scroll-without-process">
						<div class="panel-body p-t-10">
							<div class="row view-style">

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['send_date']}" />
										<h:outputText value="#{bean.sendingDate}" class="">
											<span class=""> <f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</span>
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['delivery_type']}" />
										<h:outputText value="#{bean.tapalDeliveryType.name}" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ref_num']}" />
										<h:outputText value="#{bean.outgoingTapal.referenceNumber}"
											class=""></h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tapal_ref_num']}" />
										<h:outputText
											value="#{bean.outgoingTapal.tapalReferenceNumber}" class=""></h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['no_of_letters']}" />
										<h:outputText value="#{bean.outgoingTapal.noOfCovers}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['ref_date']}" />
										<h:outputText value="#{bean.outgoingTapal.referenceDate}"
											class="">
											<span class=""> <f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</span>
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['dept']}" />
										<h:outputText value="#{bean.department.name}" class=""></h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sec']}" />
										<h:outputText value="#{bean.sectionMaster.code}" class=""></h:outputText>
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['sub']}" />
										<h:outputText value="#{bean.outgoingTapal.subject}" class="" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['receiver_details']}</span>
									</h5>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tapal_for']}" />
										<h:outputText value="#{bean.tapalFor.name}" class="" />
									</div>
								</div>

								<h:panelGroup rendered="#{bean.entityFlag}">
									<ui:remove>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ho_ro']}" />
												<p:repeat value="#{bean.hoRoName}" var="horo">
													<h:outputText value="#{horo}" class="" />
												</p:repeat>
											</div>
										</div>
									</ui:remove>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['enty_typ']}"
												rendered="#{bean.entityMaster.name!='Head Office Entity'}" />
											<c:forEach items="#{bean.entityTypeName}" var="entType"
												varStatus="metadata">
												<h:outputText value="#{entType}" class="" />
											</c:forEach>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value=" #{msg['entity']}"
												rendered="#{bean.entityMaster.name!='Head Office Entity'}" />
											<c:forEach items="#{bean.entityName}" var="entity"
												varStatus="metadata">
												<h:outputText value="#{entity}" class="" />
											</c:forEach>

										</div>
									</div>
								</h:panelGroup>
							</div>
							<!-- <div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value=" #{msg['dept']}" />
						<h:outputText value="Entity" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['sec']}" />
						<h:outputText value="A4" class="" />
						</div>
					</div> -->

							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['name']}" />
										<h:outputText
											value="#{bean.outgoingTapal.name != NULL?bean.outgoingTapal.name:'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_add_line1']}" />
										<h:outputText
											value="#{bean.outgoingTapal.addressLine1 != NULL?bean.outgoingTapal.addressLine1:'-'}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_add_line2']}" />
										<h:outputText
											value="#{bean.outgoingTapal.addressLine2 != NULL?bean.outgoingTapal.addressLine2:'-'}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<h:outputText
											value="#{bean.stateMaster.name != NULL?bean.stateMaster.name:'-'}"
											class="" />
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['district']}" />
										<h:outputText
											value="#{bean.districtMaster.name != NULL?bean.districtMaster.name :'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['pincode']}" />
										<h:outputText
											value="#{bean.outgoingTapal.pincode!= NULL?bean.outgoingTapal.pincode:'-'}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['payment_details']}" />
										<h:inputHidden value="#{bean.outgoingTapal.paymentDetails}"
											class="" />
										<h:outputText value="Yes" class=""
											rendered="#{bean.outgoingTapal.paymentDetails=='true'}"></h:outputText>
										<h:outputText value="No" class=""
											rendered="#{bean.outgoingTapal.paymentDetails=='false'}"></h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['incoming_tapal_ref_num']}" />
										<h:outputText value="#{bean.incomingTapal.referenceNumber}"
											class="" />
									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h:panelGroup
										rendered="#{bean.outgoingTapal.paymentDetails=='true'}">
										<div class="form-group">
											<p:outputLabel value="#{msg['payment_content_detail']}" />
											<h:outputText
												value="#{bean.outgoingTapal.paymentContentDetails}" class="" />
										</div>
									</h:panelGroup>
								</div>
							</div>



							<!-- <h6 class="bord_bot">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['cheq_dtl']}</span>
					</h6>
					
					<div class="row view-style">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['cheque_name']}" />
						<h:outputText value="Travel Check" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['bnk_name']}" />
						<h:outputText value="HDFC" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['cheq_dt']}" />
						<h:outputText value="01-Jan-2018" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['cheq_no']}" />
						<h:outputText value="123456789" class="" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="form-group">
						<p:outputLabel value="#{msg['cheq_amt']}" />
						<h:outputText value="10,000.00" class="" />
						</div>
					</div>
					

					</div> -->

							<h:panelGroup rendered="#{bean.podFlag}">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['proof_of_delivery_details']}</span>
										</h5>
									</div>
								</div>

								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['service_name']}" />
											<h:outputText value="#{bean.supplierMaster.name}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['pod_no']}" />
											<h:outputText value="#{bean.tapalPodRegister.podNo}" class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['pod_date']}" />
											<h:outputText value="#{bean.tapalPodRegister.podDate}"
												class="">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['pod_amt']}" />
											<span class=""><i class="fa fa-inr"></i>&nbsp; <h:outputText
													value="#{bean.tapalPodRegister.podAmount}">
													<f:convertNumber pattern="0.00" />
												</h:outputText> </span>
										</div>
									</div>
								</div>
							</h:panelGroup>
							<h:panelGroup rendered="#{bean.returnedFlag}">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['returned_details']}</span>
										</h5>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['returned_date']}" />
											<h:outputText value="#{bean.outgoingTapal.returnedDate}"
												class="">
												<f:convertDateTime
													pattern="#{loginBean.userInfoDTO.dateFormat}"
													timeZone="#{loginBean.timeZone}"></f:convertDateTime>
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
											<h:outputText value="#{bean.outgoingTapal.returnedReason}"
												class="" />
										</div>
									</div>
								</div>
							</h:panelGroup>


							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['uploaded_doc']}</span>
									</h5>
								</div>
							</div>

							<div class="row custom-form-1 label-form">
								<div class="col-lg-6 col-md-6 col-sm-4">
									<div class="form-group btn-file-upload">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-8">
												<p:inputText class="form-control" id="docName1"
													value="#{empty bean.fileName ? 'No File Found' : bean.fileName}"
													disabled="true" />
											</div>
											<h:panelGroup rendered="#{not empty bean.fileName}">
												<div class="col-lg-6 col-md-6 col-sm-4">
													<p:column headerText="#{msg['action']}"
														styleClass="width-15 text-center">
														<p:commandButton
															value="&#xf019;&nbsp;&nbsp;#{msg['download']}"
															title="#{msg['download']}"
															actionListener="#{bean.downloadfile}" ajax="false"
															class="fa-input btn btn-sm bg-primary font-iconmoon m-l-5">
															<p:fileDownload value="#{bean.file}"></p:fileDownload>
														</p:commandButton>
													</p:column>
												</div>
											</h:panelGroup>
										</div>

									</div>
								</div>
								<!-- end col -->
							</div>

							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="text-right">
										<p:commandButton value="&#xeddf; #{msg['back']}"
											title="#{msg['back']}"
											class="btn btn-sm bg-info font-iconmoon"
											action="#{bean.showListPage}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>

		<p:outputPanel rendered="#{bean.action=='EDIT'}">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['ed_out_thapa']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['admin']}</li>
							<li>#{msg['tapal']}</li>
							<li class="active">#{msg['ed_out_thapa']}</li>
						</ul>
					</div>
				</div>
			</div>
			<p:outputPanel id="outgoingPanel">
				<div class="content">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['outgoing_tapal']}
								<p:outputLabel styleClass="pull-right text-13">
									(<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>)
								</p:outputLabel>

							</h6>
						</div>
						<div class="page-scroll-without-process">
							<div class="panel-body  p-t-10">
								<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['delivery_type']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"> <i class="icon-list"></i>
												</span>
												<h:selectOneMenu class="form-control"
													value="#{bean.tapalDeliveryType}" id="delivertype"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems var="type" itemValue="#{type}"
														itemLabel="#{type.name}"
														value="#{bean.tapalDeliveryTypeList}" />
													<p:ajax update="delivertype"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="delivertype" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['no_of_letters']}" />
											<div class="input-group">
												<span class="input-group-addon"> <i class="icon-hash"></i></span>
												<p:inputText class="form-control" id="noOfLetters"
													value="#{bean.outgoingTapal.noOfCovers}">
													<p:ajax></p:ajax>
												</p:inputText>
											</div>
											<p:tooltip for="noOfLetters"
												value="#{msg['no_of_letters_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['sub']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="icon-paragraph-justify3"></i>
												</span>
												<p:inputText id="subject" class="form-control"
													value="#{bean.outgoingTapal.subject}">
													<p:ajax></p:ajax>
												</p:inputText>
											</div>
											<h:message for="subject" class="validation-error-label"></h:message>
											<p:tooltip for="subject" value="#{msg['sub_valid_msg']}"></p:tooltip>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<div class="input-group">
												<span class="input-group-addon"> <i class="icon-hash"></i></span>
												<p:inputText class="form-control" id="refNo" disabled="true"
													value="#{bean.outgoingTapal.referenceNumber}">
													<p:ajax update="refNo"></p:ajax>
												</p:inputText>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group form-group_calend">
											<p:outputLabel value="#{msg['ref_date']}" />
											<p:calendar placeholder="dd-MMM-yyyy"
												styleClass="form-control calend-icon"
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												navigator="true" value="#{bean.outgoingTapal.referenceDate}"
												id="refdate">
												<p:ajax event="dateSelect"></p:ajax>
											</p:calendar>
											<h:message for="receivedate" class="validation-error-label"></h:message>
										</div>
									</div>

									<ui:remove>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ref_num']}" />
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="icon-hash"></i></span>
													<h:selectOneMenu class="form-control"
														value="#{bean.department}" converter="#{entityConverter}"
														id="department" onstart="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems var="dep" value="#{bean.departmentList}"
															itemLabel="#{dep.name}" itemValue="#{dep}"></f:selectItems>
														<p:ajax event="change" listener="#{bean.departmentChange}"
															update="createPanel sectionId"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="department" class="validation-error-label"></h:message>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['ref_num']}" />
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="icon-hash"></i></span>
													<h:selectOneMenu class="form-control"
														value="#{bean.sectionMaster}"
														converter="#{entityConverter}" id="sectionId">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems var="section" value="#{bean.sectionList}"
															itemLabel="#{section.code}" itemValue="#{section}"></f:selectItems>
														<p:ajax event="change" listener="#{bean.sectionChange}"
															update="createPanel"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="sectionId" class="validation-error-label"></h:message>
											</div>
										</div>
									</ui:remove>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['dept']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-office"></i></span>
												<h:selectOneMenu class="form-control"
													value="#{bean.department}" converter="#{entityConverter}"
													id="department" onstart="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems var="dep" value="#{bean.departmentList}"
														itemLabel="#{dep.name}" itemValue="#{dep}"></f:selectItems>
													<p:ajax event="change" listener="#{bean.departmentChange}"
														update="createPanel sectionId"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="department" class="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sec']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"> <i
													class="icon-tree6"></i></span>
												<h:selectOneMenu class="form-control"
													value="#{bean.sectionMaster}"
													converter="#{entityConverter}" id="sectionId">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems var="section" value="#{bean.sectionList}"
														itemLabel="#{section.code}" itemValue="#{section}"></f:selectItems>
													<p:ajax event="change" listener="#{bean.sectionChange}"
														update="createPanel"></p:ajax>
												</h:selectOneMenu>
											</div>
											<h:message for="sectionId" class="validation-error-label"></h:message>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['receiver_details']}</span>
										</h5>
									</div>
								</div>

								<div class="row label-form">
									<p:outputPanel id="createPanel">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['tapal_for']}" />
												<span class="mand-red">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-envelope"></i></span>
													<h:selectOneMenu id="tapalforid" class="form-control"
														value="#{bean.tapalFor}" converter="#{entityConverter}"
														onstart="PF('progressDlg').show();"
														oncomplete="PF('progressDlg').hide();">
														<f:selectItem itemLabel="Select" noSelectionOption="true" />
														<f:selectItems value="#{bean.tapalForList}" var="tapalfor"
															itemLabel="#{tapalfor.name}" itemValue="#{tapalfor}"></f:selectItems>
														<p:ajax event="change" listener="#{bean.tapalForChange}"
															update="createPanel entityType entityEnabelDisable1 entityEnabelDisable2"></p:ajax>
													</h:selectOneMenu>
												</div>
												<h:message for="tapalforid" class="validation-error-label"></h:message>
											</div>
										</div>


										<h:panelGroup rendered="#{bean.tapalFor.name=='Entity'}">
											<ui:remove>
												<div class="col-lg-3 col-md-3 col-sm-6 multiresize">
													<div class="form-group cust-multi-select">
														<p:outputLabel value="#{msg['ho_ro']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<div class="multi-select-full multi-select-dropdown">
																<p:selectCheckboxMenu id="headoffice" appendTo="@this"
																	widgetVar="entityselect1" styleClass="form-control"
																	panelStyle="overflow:auto; width:100%; z-index:9999"
																	value="#{bean.selectedHoRoList}"
																	required="#{not empty param[generate.clientId]}"
																	requiredMessage="#{msg['ho_ro_req']}"
																	onstart="PF('progressDlg').show();"
																	oncomplete="PF('progressDlg').hide();"
																	converter="#{entityConverter}"
																	label="(#{bean.selectedHoRoList.size() == 0 || bean.selectedHoRoList.size()==null ?'0':bean.selectedHoRoList.size()}) HO/Ro Selected"
																	tabindex="4" filter="true" filterMatchMode="startsWith">
																	<f:selectItems value="#{bean.entityMasterList}"
																		var="enti" itemLabel="#{enti.name}"
																		itemValue="#{enti}" />
																	<p:ajax event="change"
																		listener="#{bean.headOfficeChange}"
																		update="createPanel"></p:ajax>
																	<p:ajax event="toggleSelect" update="createPanel"
																		listener="#{bean.headOfficeChange}"></p:ajax>
																</p:selectCheckboxMenu>
															</div>
														</div>
														<h:message for="headoffice" class="validation-error-label"></h:message>
													</div>
												</div>
											</ui:remove>


											<h:panelGroup rendered="#{bean.tapalFor.name=='Entity'}">
												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group cust-multi-select">
														<p:outputLabel value="#{msg['enty_typ']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<div class="multi-select-full multi-select-dropdown">
																<p:selectCheckboxMenu id="entityType" appendTo="@this"
																	widgetVar="entityTypeselect1" styleClass="form-control"
																	panelStyle="overflow:auto; width:100%;"
																	value="#{bean.selectedEntityTypeList}"
																	required="#{not empty param[generate.clientId]}"
																	onstart="PF('progressDlg').show();"
																	oncomplete="PF('progressDlg').hide();"
																	requiredMessage="#{msg['entity_type_req']}"
																	converter="#{entityConverter}"
																	label="(#{bean.selectedEntityTypeList.size() == 0 || bean.selectedEntityTypeList.size()==null ?'0':bean.selectedEntityTypeList.size()}) Entity type Selected"
																	tabindex="4" filter="true" filterMatchMode="startsWith">
																	<f:selectItems value="#{bean.entityTypeList}"
																		var="enType" itemLabel="#{enType.entityName}"
																		itemValue="#{enType}" />
																	<p:ajax event="change"
																		onstart="PF('progressDlg').show();"
																		onsuccess="PF('progressDlg').hide();"
																		oncomplete="PF('entityTypeselect1').show()"
																		listener="#{bean.entityTypeChange}"
																		update="entityType createPanel"></p:ajax>
																	<p:ajax event="toggleSelect" update="createPanel"
																		onstart="PF('progressDlg').show();"
																		onsuccess="PF('progressDlg').hide();"
																		oncomplete="PF('entityTypeselect1').show()"
																		listener="#{bean.entityTypeChange}"></p:ajax>
																</p:selectCheckboxMenu>
															</div>
														</div>
														<h:message for="entityType" class="validation-error-label"></h:message>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<div class="form-group cust-multi-select">
														<p:outputLabel value="#{msg['entity']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-stack"></i></span>
															<div class="multi-select-full multi-select-dropdown">
																<p:selectCheckboxMenu id="entityid" appendTo="@this"
																	widgetVar="entityMasterselect1"
																	styleClass="form-control" panelStyle="width:100%;"
																	value="#{bean.selectedEntityMasterList}"
																	required="#{not empty param[generate.clientId]}"
																	onstart="PF('progressDlg').show();"
																	oncomplete="PF('progressDlg').hide();"
																	requiredMessage="#{msg['ent_req']}"
																	converter="#{entityConverter}"
																	label="(#{bean.selectedEntityMasterList.size() == 0 || bean.selectedEntityMasterList.size()==null ?'0':bean.selectedEntityMasterList.size()}) Entity Selected"
																	tabindex="4" filter="true" filterMatchMode="startsWith">
																	<f:selectItems value="#{bean.entityList}" var="enti"
																		itemLabel="#{enti.name}" itemValue="#{enti}" />
																	<p:ajax event="change"
																		onstart="PF('progressDlg').show();"
																		onsuccess="PF('progressDlg').hide();"
																		oncomplete="PF('entityMasterselect1').show()"
																		update="createPanel"></p:ajax>
																	<p:ajax event="toggleSelect"
																		onstart="PF('progressDlg').show();"
																		onsuccess="PF('progressDlg').hide();"
																		oncomplete="PF('entityMasterselect1').show()"
																		update="createPanel"></p:ajax>
																</p:selectCheckboxMenu>
															</div>
														</div>
														<h:message for="entityid" class="validation-error-label"></h:message>
													</div>

												</div>
											</h:panelGroup>
											<!-- <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['dept']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<h:selectOneMenu class="form-control" value="#{bean.department}" converter="#{entityConverter}" id="department">
										<f:selectItem itemLabel="Select" noSelectionOption="true"/>
										<f:selectItems  var="dep" value="#{bean.departmentList}" 
										itemLabel="#{dep.name}" itemValue="#{dep}"></f:selectItems>
										<p:ajax event="change"  update="sectionId"></p:ajax>
									</h:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="Section" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-office"></i></span>
									<h:selectOneMenu class="form-control" value="#{bean.sectionMaster}" converter="#{entityConverter}" id="sectionId">
										<f:selectItem itemLabel="Select" noSelectionOption="true"/>
										<f:selectItems var="section" value="#{bean.sectionList}"
										itemLabel="#{section.code}" itemValue="#{section}"></f:selectItems>
									</h:selectOneMenu>
								</div>
							</div>
						</div> -->

										</h:panelGroup>
									</p:outputPanel>
								</div>

								<p:outputPanel id="entityEnabelDisable1">
									<h:panelGroup rendered="#{bean.tapalFor.name!='Entity'}">
										<div class="row label-form">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['name']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-user"></i>
														</span>
														<p:inputText class="form-control"
															value="#{bean.outgoingTapal.name}" id="name">
															<p:ajax></p:ajax>
														</p:inputText>
													</div>
													<h:message for="name" class="validation-error-label"></h:message>
													<p:tooltip for="name" value="#{msg['rec_name_valid_msg']}"></p:tooltip>
												</div>

											</div>

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['society_add_line1']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-location4"></i>
														</span>
														<p:inputText class="form-control"
															value="#{bean.outgoingTapal.addressLine1}" id="adress">
															<p:ajax></p:ajax>
														</p:inputText>
													</div>
													<h:message for="adress" class="validation-error-label"></h:message>
													<p:tooltip for="adress" value="#{msg['address_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['society_add_line2']}" />
													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-location4"></i>
														</span>
														<p:inputText class="form-control" id="address2"
															value="#{bean.outgoingTapal.addressLine2}">
															<p:ajax></p:ajax>
														</p:inputText>
													</div>
													<p:tooltip for="address2"
														value="#{msg['address_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['state']}" />

													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-location4"></i>
														</span>
														<h:selectOneMenu class="form-control" id="stateid"
															value="#{bean.stateMaster}"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
															<f:selectItems var="state" itemLabel="#{state.name}"
																itemValue="#{state}" value="#{bean.stateList}"></f:selectItems>
															<p:ajax event="change" update="stateid,districtid"
																listener="#{bean.stateChange}"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="stateid" class="validation-error-label"></h:message>
												</div>

											</div>
										</div>
									</h:panelGroup>
								</p:outputPanel>

								<div class="row label-form">
									<p:outputPanel id="entityEnabelDisable2">
										<h:panelGroup rendered="#{bean.tapalFor.name!='Entity'}">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['district']}" />

													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-location4"></i>
														</span>
														<h:selectOneMenu class="form-control"
															value="#{bean.districtMaster}" id="districtid"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
															<f:selectItems var="disc" itemLabel="#{disc.name}"
																itemValue="#{disc}" value="#{bean.districtList}"></f:selectItems>
															<p:ajax update="districtid"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="districtid" class="validation-error-label"></h:message>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['pincode']}" />

													<div class="input-group">
														<span class="input-group-addon"> <i
															class="icon-location4"></i>
														</span>
														<p:inputText id="pincode" class="form-control"
															maxlength="6" value="#{bean.outgoingTapal.pincode}">
															<p:ajax></p:ajax>
														</p:inputText>
													</div>
													<h:message for="pincode" class="validation-error-label"></h:message>
													<p:tooltip for="pincode"
														value="#{msg['postal_code_valid_msg']}" />
												</div>
											</div>
										</h:panelGroup>
									</p:outputPanel>

									<!-- 						<div class="col-lg-3 col-md-6 col-sm-6"> -->
									<!-- 							<div class="form-group"> -->
									<!-- 								<p:outputLabel value="type" /> -->
									<!-- 								<span class="mand-red">*</span> -->
									<!-- 								<div class="input-group"> -->
									<!-- 									<span class="input-group-addoonstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"n"><i class="icon-envelope"></i></span> -->
									<!-- 									<h:selectOneMenu id="advselector" class="form-control"> -->
									<!-- 										<f:selectItem itemLabel="Yes" itemValue="Yes" /> -->
									<!-- 										<f:selectItem itemLabel="No" itemValue="No" /> -->

									<!-- 										<f:selectItem itemLabel="Select" /> -->
									<!-- 									</h:selectOneMenu> -->
									<!-- 								</div> -->
									<!-- 							</div> -->
									<!-- 						</div> -->



									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['payment_details']}" />
											<div class="form-group">
												<p:selectOneRadio id="payment"
													value="#{bean.outgoingTapal.paymentDetails}">
													<f:selectItem itemLabel="#{msg['yes']}" itemValue="true" />
													<f:selectItem itemLabel="#{msg['no']}" itemValue="false" />
													<p:ajax event="change" update="outgoingPanel"></p:ajax>
												</p:selectOneRadio>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['incoming_tapal_ref_num']}" />
											<!-- <span class="mand-red">*</span> -->
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu id="referenceno" class="form-control"
													value="#{bean.incomingTapal}"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="Select" itemValue=""
														noSelectionOption="true" />
													<f:selectItems value="#{bean.referenceNumberList}"
														var="referNo" itemLabel="#{referNo.referenceNumber}"
														itemValue="#{referNo}"></f:selectItems>
													<p:ajax update="referenceno"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>

								<p:outputPanel id="panel"
									rendered="#{bean.outgoingTapal.paymentDetails}">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['payment_content_detail']}" />
												<p:inputTextarea id="contentdetails" class="form-control"
													rows="3"
													value="#{bean.outgoingTapal.paymentContentDetails}"
													placeholder="Some text" maxlength="150">
													<p:ajax></p:ajax>
												</p:inputTextarea>
											</div>
											<p:tooltip for="contentdetails"
												value="#{msg['pay_con_det_vaid_msg']}"></p:tooltip>
										</div>
									</div>
								</p:outputPanel>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['attachments']}</span>
										</h5>
									</div>
								</div>

								<div class="row custom-form-1 label-form">
									<div class="col-lg-6 col-md-6 col-sm-4">
										<div class="form-group btn-file-upload">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-8">
													<p:inputText class="form-control" id="docName"
														value="#{bean.fileName}" disabled="true" />
												</div>
												<div class="col-lg-6 col-md-6 col-sm-4">
													<div
														class=" no-padding contact-upload upload-popup pull-left file-upload-support">
														<p:fileUpload fileUploadListener="#{bean.fileUpload}"
															onstart="PF('progressDlg').show();" id="recLetter"
															oncomplete="PF('progressDlg').hide();"
															label="&#xf093;&nbsp;&nbsp;#{msg['upload']}"
															styleClass="btn-upload" mode="advanced" auto="true"
															sizeLimit="10000000" update="docName growls"
															multiple="true"
															allowTypes="/(\.|\/)(doc|docx|xls|xlsx|pdf|jpe?g|png)$/">
														</p:fileUpload>
													</div>
												</div>
											</div>
											<div>
												<small class="uploadfinename">#{msg['file_format_lessthan_5MB']}</small>
											</div>
										</div>
									</div>
									<!-- end col -->
								</div>

								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<!-- <p:commandButton value="&#xf067; #{msg['create_note']}"
								title="#{msg['add']}"
			 					styleClass="btn btn-success btn-md fa-input m-l-0"
								onclick="PF('notedialog').show();"></p:commandButton>

							<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											action="#{bean.showListPage}" immediate="true"
											title="#{msg['cancel']}"
											class="btn btn-sm bg-slate font-iconmoon m-l-0" />
										<p:commandButton value="&#xeda7;&nbsp;#{msg['update']}"
											action="#{bean.saveOutgoingTapal}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											update="outgoingPanel growls" title="#{msg['update']}"
											class="btn btn-sm bg-primary font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</p:outputPanel>
		</p:outputPanel>
	</ui:define>
</ui:composition>