<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{fileNumberBean}"></ui:param>
		<ui:param name="filenum" value="#{fileNumberBean.fileNumber}"></ui:param>
		<h:form>
			<title>InfoTex | View File Numbering</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['vi_file_num']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['admin']}</li>
							<li>#{msg['tapal']}</li>
							<li class="active">#{msg['vi_file_num']}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<!-- collapse panel -->
				<div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['file_numbering']}</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in page-scroll-without-process">
							<div class="panel-body p-t-10">
								<div class="view-style">
									<div class="row ">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['dept']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{filenum.departmentMaster.name}" /></span>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['sec']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{filenum.sectionMaster.name}" /></span>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['file_num']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{filenum.fileNumber}" /></span>
												</div>
											</div>
										</div>
										
										<div class="col-lg-3 col-md-3 col-sm-6 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['file_name']}" />
												<div class="input-group">
												<ui:remove>
												
													</ui:remove>
																<span class=""><h:outputText
													
															value="#{filenum.file}" /></span> 
												</div>
											</div>
										</div>
									</div>
									
									<div class="row custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['date']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{filenum.createdDate}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText></span>
												</div>
											</div>
										</div>
										
										<div class="col-lg-9 col-md-9 col-sm-12 time-pick">
											<div class="form-group">
												<p:outputLabel value="#{msg['remarks']}" />
												<div class="input-group">
													<span class=""><h:outputText
															value="#{filenum.remarks}" /></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xeddf; #{msg['back']}"
											title="#{msg['back']}"
											action="#{bean.showFileNumberListPage}" immediate="true"
											class="btn btn-sm bg-info font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->
			</div>
		</h:form>
	</ui:define>
</ui:composition>