<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:include src="retailProcurementOrderWorkFlowCSS.xhtml" />
		<title>InfoTex | Retail Sales - Procurement Order</title>

		<style type="text/css">
#steps-uid-0-t-0 span.number {
	font-size: 14px;
}
</style>
		<!-- Page Header -->
		<h:form>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['retail_sales']} - #{msg['procurement_order']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['prcurmnt']}</li>
							<li>#{msg['retail_procure']}</li>
							<li class="active">#{msg['retail_sales']} -
								#{msg['procurement_order']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content p-content">
				<ui:include src="retailProcurementOrderWorkFlow.xhtml" />
			</div>

			<div class="content page-scroll-with1row no-padding-bottom">
				<p:outputPanel id="panelid">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-10"
						id="accordion-control-right">
						<div class="panel panel-info ">
							<div class="panel-heading">
								<!-- <h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right" class="collapsed"
								href="#accordion-control-right-group1">Procurement Order -
								HO</a>
						</h6> -->
								<h6 class="panel-title">
									<a data-toggle="collapse" class="block"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['procurement_order']}
										- #{msg['ho']} <span class="pull-right text-13">(<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
									</span>
									</a>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse #{retailProcurementOrderBean.dataToggle}">
								<div class="panel-body p-t-10">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
									</h5>
									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
												<span class="text-danger">*</span>
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:selectOneMenu id="productionPlan"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan}"
														class="form-control select2"
														converter="#{entityConverter}"
														required="#{not empty param[save.clientId] || not empty param[submit.clientId]}"
														requiredMessage="#{msg['plan_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{retailProcurementOrderBean.retailProductionPlanList}"
															var="productionPlan"
															itemLabel="#{productionPlan.planCode} / #{productionPlan.planName}"
															itemValue="#{productionPlan}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{retailProcurementOrderBean.onChangeProductionPlan}"
															update="planMsg growls fromMonth toMonth dandpOffice planFrom planTo createdDate approvedDate approvedBy createdBy regions productVarietyCodes dandpOffice productCategory fromMonth toMonth validDate notlater totalQuantity totalValue table" />
													</h:selectOneMenu>
												</div>
												<h:message for="productionPlan"
													class="validation-error-label" id="planMsg" />
												<p:focus for="productionPlan"></p:focus>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_from']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText type="text" class="form-control fa-input"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planFrom}"
														disabled="true" id="planFrom">
														<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_to']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText type="text" class="form-control fa-input"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planTo}"
														disabled="true" id="planTo">
														<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>
									</div>

									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['region_code']} / #{msg['name']}" />
												<h:inputTextarea id="regions" rows="4" cols="20"
													class="form-control cust-dis-textarea" disabled="true"
													value="#{retailProcurementOrderBean.regionValues}">
												</h:inputTextarea>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_variey_code']} / #{msg['name']}" />
												<h:inputTextarea id="productVarietyCodes" rows="4" cols="20"
													class="form-control cust-dis-textarea" disabled="true"
													value="#{retailProcurementOrderBean.productCategoryValues}">
												</h:inputTextarea>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_date']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText type="text" class="form-control"
														id="createdDate"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.createdDate}"
														disabled="true">
														<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_date']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<p:inputText type="text" class="form-control"
														id="approvedDate"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.approvedDate}"
														disabled="true">
														<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['created_by']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText disabled="true" id="createdBy"
														styleClass="form-control"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.createdByName}"></p:inputText>
												</div>
											</div>
											<div class="form-group">
												<p:outputLabel value="#{msg['approved_by']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<p:inputText disabled="true" id="approvedBy"
														styleClass="form-control"
														value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.approvedByEmployeeName}"></p:inputText>
												</div>
											</div>
										</div>
									</div>


									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['d_n_p_office_procurement_ord_dtl']}</span>
									</h5>
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['d_n_p_office_code']} / #{msg['name']}"
													for="dandpOffice" />
												<p:outputLabel value="*" for="dandpOffice" class="mand-red"
													rendered="" />
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="dandpOffice"
															value="#{retailProcurementOrderBean.retailProcurementOrder.producingRegion}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['dandp_office_code_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{retailProcurementOrderBean.dandpOfficeList}"
																var="dandpOffice"
																itemLabel="#{dandpOffice.code} / #{dandpOffice.name}"
																itemValue="#{dandpOffice}" />
															<p:ajax event="change"
																update="productCategory,dnpMsg, totalQuantity, totalValue, table"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{retailProcurementOrderBean.onChangeDnpOffice}" />
														</h:selectOneMenu>
													</div>
													<h:message for="dandpOffice" class="validation-error-label"
														id="dnpMsg" />
												</div>
												<!-- input-group -->
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_category_code']} / #{msg['name']}"
													for="productCategory" />
												<p:outputLabel value="*" for="productCategory"
													class="mand-red" rendered="" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<h:selectOneMenu id="productCategory"
														value="#{retailProcurementOrderBean.retailProcurementOrder.productCategory}"
														class="form-control select2"
														converter="#{entityConverter}"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['prod_cate_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{retailProcurementOrderBean.dandpProductCategoryList}"
															var="product"
															itemLabel="#{product.productCatCode} / #{product.productCatName}"
															itemValue="#{product}" />

														<p:ajax event="change"
															update="totalQuantity totalValue prodMsg table"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{retailProcurementOrderBean.onChangeProductCategory}" />
													</h:selectOneMenu>
												</div>
												<h:message for="productCategory"
													class="validation-error-label" id="prodMsg" />
											</div>
										</div>
										<!-- end col -->
										<div class="col-lg-3 col-md-3 col-sm-6">
											<p:outputLabel value="#{msg['procurement_from']}"
												for="fromMonth" />
											<p:outputLabel value="*" for="fromMonth" class="mand-red"
												rendered="" />
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu styleClass="form-control" id="fromMonth"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['procurement_from']} #{msg['is_required']}"
														value="#{retailProcurementOrderBean.retailProcurementOrderRequest.procurementFrom}"
														disabled="true">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{retailProcurementOrderBean.procurementFromList}"
															var="month" itemLabel="#{month}" itemValue="#{month}" />
														<p:ajax update="fromdateMsg" event="change" />
													</h:selectOneMenu>
												</div>
												<h:message for="fromMonth" class="validation-error-label"
													id="fromdateMsg" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6">
											<p:outputLabel value="#{msg['procurement_to']}" for="toMonth" />
											<p:outputLabel value="*" for="toMonth" class="mand-red"
												rendered="" />
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu styleClass="form-control" id="toMonth"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['procurement_to_req']}"
														value="#{retailProcurementOrderBean.retailProcurementOrderRequest.procurementTo}"
														disabled="">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{retailProcurementOrderBean.procurementToList}"
															var="month" itemLabel="#{month}" itemValue="#{month}" />

														<p:ajax update="toMonthMsg" event="change" />
													</h:selectOneMenu>
												</div>
												<h:message for="toMonth" class="validation-error-label"
													id="toMonthMsg" />
											</div>
										</div>
									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<p:outputLabel value="#{msg['val_dt']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<p:calendar id="validDate"
													value="#{retailProcurementOrderBean.retailProcurementOrder.validDate}"
													mindate="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planFrom}"
													pattern="dd-MMM-yyyy" navigator="true"
													required="#{not empty param[generate.clientId]}"
													placeholder="dd-MMM-yyyy"
													requiredMessage="#{msg['val_date_is_req']}"
													maxdate="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planTo}"
													styleClass="form-control-1 calend-icon-1">
													<p:ajax update="validDateMsg,growls" event="dateSelect"
														listener="#{retailProcurementOrderBean.onChangeDate}" />
												</p:calendar>

												<h:message for="validDate" class="validation-error-label"
													id="validDateMsg" />
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-3 col-md-3 col-sm-6">
											<p:outputLabel value="#{msg['not_later_than']}"
												for="notlater" />
											<p:outputLabel value="*" for="notlater" class="mand-red"
												rendered="" />
											<div class="form-group form-group_calend">
												<p:calendar id="notlater"
													value="#{retailProcurementOrderBean.retailProcurementOrder.notLaterThan}"
													mindate="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planFrom}"
													pattern="dd-MMM-yyyy" navigator="true"
													required="#{not empty param[generate.clientId]}"
													placeholder="dd-MMM-yyyy"
													requiredMessage="#{msg['not_late_than_req']}"
													maxdate="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planTo}"
													styleClass="form-control-1 calend-icon-1">
													<p:ajax update="notlaterMsg,growls" event="dateSelect"
														listener="#{retailProcurementOrderBean.onChangeDate}" />
												</p:calendar>

												<h:message for="notlater" class="validation-error-label"
													id="notlaterMsg" />
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_pdt_plan_qty_mts']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-design"></i></span>
													<p:inputText type="text" class="form-control"
														id="totalQuantity"
														value="#{retailProcurementOrderBean.totalQuantity}"
														disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['tot_pdt_plan_value']} (#{msg['tenta']})" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="fa fa-inr fa-lg"></i></span>
													<p:inputText type="text" class="form-control text-right"
														id="totalValue"
														value="#{retailProcurementOrderBean.totalValue}"
														disabled="true">
													</p:inputText>
												</div>
											</div>
										</div>
										<!-- end col -->
									</div>

									<div class="row">
										<div class="col-md-12 text-right">
											<h:commandButton immediate="true"
												action="#{retailProcurementOrderBean.clear}"
												title="#{msg['cancel']}"
												value="&#xed6a;&nbsp;#{msg['cancel']}" ajax="false"
												class="btn bg-slate cust-btn-h font-iconmoon" update="table">
											</h:commandButton>
											<p:commandButton id="generate" update="panelid growls"
												action="#{retailProcurementOrderBean.generateProcurementOrder}"
												binding="#{generate}"
												value="&#xeda7;&nbsp;#{msg['generate']}"
												title="#{msg['generate']}"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()"
												class="btn bg-primary cust-btn-h heading-btn font-iconmoon">
											</p:commandButton>
										</div>
									</div>
									<!-- end row -->
								</div>
							</div>
						</div>
					</div>
					<!--  search panel -->

					<div class="panel m-b-0">
						<div class="panel-body no-padding-top">
							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['indenting_region_wise']}
									- #{msg['pdt_var_details']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<div
											class="ui-datatable ui-widget ui-datatable-scrollable table">
											<div class="ui-datatable-scrollable-header-box">
												<p:dataTable id="table" var="data" rowKey="#{data}"
													styleClass="report-table"
													value="#{retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails}"
													emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx">
													<p:columnGroup type="header">
														<p:row>
															<p:column headerText="#{msg['s_no']}" rowspan="3" />
															<p:column
																headerText="#{msg['prod_variey_code']} / #{msg['name']}"
																rowspan="2" />
															<p:column headerText="#{msg['uom']}" rowspan="2" />
															<p:column headerText="#{msg['indenting_region']}"
																rowspan="2" />

															<p:column colspan="2" headerText="#{msg['so_far']}"
																styleClass="width-10" />
															<p:column colspan="2" headerText="#{msg['current']}"
																styleClass="width-10" />
															<p:column colspan="2" headerText="#{msg['progress']}"
																styleClass="width-10" />
															<p:column colspan="2" headerText="#{msg['balance']}"
																styleClass="width-10" />
															<p:column colspan="2" headerText="#{msg['total']}"
																styleClass="width-10" />
															<p:column headerText="#{msg['val']} ( &#xf156; )"
																rowspan="2" styleClass="fa-input" />
														</p:row>

														<p:row>
															<p:column colspan="1" headerText="#{msg['qty']}" />
															<p:column colspan="1"
																headerText="#{msg['value']} (&#xf156;)"
																styleClass="fa-input" />
															<p:column colspan="1" headerText="#{msg['qty']}" />
															<p:column colspan="1"
																headerText="#{msg['value']} (&#xf156;)"
																styleClass="fa-input" />
															<p:column colspan="1" headerText="#{msg['qty']}" />
															<p:column colspan="1"
																headerText="#{msg['value']} (&#xf156;)"
																styleClass="fa-input" />
															<p:column colspan="1" headerText="#{msg['qty']}" />
															<p:column colspan="1"
																headerText="#{msg['value']} (&#xf156;)"
																styleClass="fa-input" />
															<p:column colspan="1" headerText="#{msg['qty']}" />
															<p:column colspan="1"
																headerText="#{msg['value']} (&#xf156;)"
																styleClass="fa-input" />
														</p:row>
													</p:columnGroup>


													<p:column headerText="#" styleClass="text-center width-3">
														<h:outputText value="#{idx+1}" />
													</p:column>
													<p:column
														headerText="#{msg['prod_variey_code']}/ #{msg['name']}"
														styleClass="text-left width-15">
														<h:outputText
															value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
													</p:column>
													<p:column headerText="#{msg['uom']} &lt;br/&gt; "
														styleClass="text-center">
														<h:outputText value="#{data.uomMaster.code}" />
													</p:column>
													<p:column
														headerText="#{msg['indenting_region']} &lt;br/&gt; "
														styleClass="text-left">
														<h:outputText
															value="#{data.intendingRegion.code}/#{data.intendingRegion.name}" />
													</p:column>
													<p:column headerText="Qty/value" styleClass="text-right">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0" />
														</h:outputText>
													</p:column>
													<p:column headerText="Qty/value ( &#xf156; ) "
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column headerText="Current Qty/Value"
														styleClass="text-right">
														<h:outputText value="#{data.itemQuantity}">
															<f:convertNumber pattern="#0" />
														</h:outputText>
													</p:column>
													<p:column headerText="Current Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Progress Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Progress Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Balance Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Balance Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedValue}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Total Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Total Qty/Value ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column headerText="Values ( &#xf156; )"
														styleClass="text-right fa-input">
														<h:outputText value="#{data.itemIssuedQuantity}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>


													<p:columnGroup type="footer"
														rendered="#{retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails !=null and retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails.size() != 0}">
														<p:row>
															<p:column colspan="4" footerText="#{msg['tot']}" />
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedQty}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfUnit}">
																		<f:convertNumber pattern="#0" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfValues}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
														</p:row>
													</p:columnGroup>

												</p:dataTable>
											</div>
										</div>
									</div>
									<h:panelGroup>
										<div class="row m-t-5 label-form">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel class="" value="#{msg['frwd_to']}" />
													<p:outputLabel value="*" class="text-danger mand-symbol" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-forward"></i></span>
														<ui:remove>
															<h:selectOneMenu id="fwdto" styleClass="form-control"
																requiredMessage="#{msg['forward_to_required']}"
																converter="#{entityConverter}"
																required="#{not empty param[save.clientId] || not empty param[submit.clientId]}"
																value="#{retailProcurementOrderBean.retailProcurementOrder.forwardTo}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems var="user"
																	value="#{retailProcurementOrderBean.forwardToUsersList}"
																	itemValue="#{user}"
																	itemLabel="#{user.empPfNumber} / #{user.empName}"></f:selectItems>
																<p:ajax update="fwdto"></p:ajax>
															</h:selectOneMenu>
														</ui:remove>

														<p:autoComplete id="fwdto" minQueryLength="2"
															panelStyle="width:250px" styleClass="form-control"
															converter="#{entityConverter}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['forward_to_req']}"
															value="#{retailProcurementOrderBean.retailProcurementOrder.forwardTo}"
															itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
															completeMethod="#{retailProcurementOrderBean.loadAutoCompleteUserMaster}"
															effect="fade">
															<p:ajax event="itemSelect" update="fwdto"></p:ajax>
														</p:autoComplete>
													</div>
													<h:message for="fwdto" class="validation-error-label" />
												</div>
											</div>

											<div class="col-lg-3 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel class="" value="#{msg['frwd_for']}" />
													<p:outputLabel value="*" class="text-danger mand-symbol" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-forward"></i></span>
														<h:selectOneMenu id="forwardfor" styleClass="form-control"
															required="#{not empty param[save.clientId] || not empty param[submit.clientId]}"
															requiredMessage="#{msg['forward_for_is_required']}"
															value="#{retailProcurementOrderBean.retailProcurementOrder.forwardFor}">
															<f:selectItem itemValue="false" itemLabel="Approval"></f:selectItem>
															<f:selectItem itemValue="true" itemLabel="Final Approval"></f:selectItem>
															<p:ajax update="forwardfor"></p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="forwardfor" class="validation-error-label" />
												</div>
											</div>
										</div>
									</h:panelGroup>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 ">
											<h:panelGroup id="create-note">
												<p:commandButton value="&#xf067; #{msg['create_note']}"
													title="#{msg['create_note']}"
													styleClass="btn bg-success btn-md fa-input m-l-0"
													onclick="PF('notedialog').show();">
												</p:commandButton>
												<h:message for="requiredNote" class="validation-error-label" />
											</h:panelGroup>
										</div>


										<div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 text-right">
											<h:commandButton update="growls" immediate="true"
												onclick="PF('statusDialog').show()"
												action="#{retailProcurementOrderBean.getProcurementOrderList}"
												value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn bg-slate heading-btn cust-btn-h font-iconmoon">
											</h:commandButton>
											<p:commandButton update="panelid growls"
												onsuccess="PF('statusDialog').hide()"
												onstart="PF('statusDialog').show()" binding="#{save}"
												action="#{retailProcurementOrderBean.createRetailProcurementOrder('INITIATED')}"
												value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
												class="btn bg-primary cust-btn-h heading-btn  font-iconmoon m-l-8">
											</p:commandButton>
											<ui:remove>
												<p:commandButton update="growls"
													onclick="PF('statusDialog').show()" validateClient="true"
													oncomplete="PF('statusDialog').hide()" binding="#{submit}"
													action="#{retailProcurementOrderBean.createRetailProcurementOrder('SUBMITTED')}"
													value="#{retailProcurementOrderBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{retailProcurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
													title="#{retailProcurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
													class="btn bg-success cust-btn-h heading-btn font-iconmoon">
												</p:commandButton>
											</ui:remove>
											<p:commandButton update="panelid growls"
												onstart="PF('statusDialog').show()" binding="#{submit}"
												onsuccess="PF('statusDialog').hide()"
												action="#{retailProcurementOrderBean.createRetailProcurementOrder('SUBMITTED')}"
												value="#{retailProcurementOrderBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{retailProcurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												title="#{retailProcurementOrderBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												styleClass="#{retailProcurementOrderBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }">
											</p:commandButton>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</p:outputPanel>

				<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
					modal="true" showEffect="fade" hideEffect="fade" resizable="false"
					styleClass="create-note-panel">
					<h:form>
						<p:outputPanel id="customerPanel">
							<div class="panel-body p-0">
								<div class="tabbable">
									<ul
										class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
										<li class="active"><a href="#large-tab1"
											data-toggle="tab">Note - 1</a></li>
										<li class="pull-right"><a href="#large-tab2"
											data-toggle="tab"> <i class="icon-plus3" /></a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="large-tab1">
											<!-- WYSIHTML5 basic -->
											<div class="panel-body p-0 m-b-10">
												<p:textEditor id="requiredNote"
													value="#{retailProcurementOrderBean.retailProcurementOrder.note}"
													required="#{not empty param[submit.clientId]}" height="200"
													requiredMessage="#{msg['create_note_is_required']}"
													placeholder="Enter text ..." />

											</div>
											<div class="col-md-12">
												<div class="carousel slide media-carousel" id="media">
													<div class="carousel-inner">
														<div class="item  active">
															<div class="row">
																<div class="col-md-3 col-lg-3 col-sm-4">
																	<div
																		class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																		<ul class="list list-icons m-b-0">
																			<li>
																				<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																				<h6 class="m-t-0 text-center">Created By</h6>
																			</li>
																			<li>Name :
																				#{retailProcurementOrderBean.employeeMaster.firstName}</li>
																			<li>Designation :
																				#{retailProcurementOrderBean.employeeMaster.personalInfoEmployment.designation.name}</li>
																			<li>Date :
																				#{retailProcurementOrderBean.currentCreatedDate}</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<a data-slide="prev" href="#media"
														class="left carousel-control">‹</a> <a data-slide="next"
														href="#media" class="right carousel-control">›</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon"
											onclick="PF('notedialog').hide();" />
									</div>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</p:dialog>

			</div>
		</h:form>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>

	</ui:define>
</ui:composition>
