<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:include src="retailProcurementOrderWorkFlowCSS.xhtml" />
		<title>InfoTex | View Procurement Order</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['retail_sales']} - #{msg['view_procurement_order']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['prcurmnt']}</li>
						<li>#{msg['retail_procure']}</li>
						<li class="active">#{msg['retail_sales']} -
							#{msg['view_procurement_order']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<p:outputPanel id="viewPanel">
			<div class="content p-content">
				<ui:include src="retailProcurementOrderWorkFlow.xhtml" />
			</div>
			<div class="content page-scroll-with1row no-padding-bottom">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['procurement_order']}
									- #{msg['ho']}</a>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body no-padding-bottom p-t-10">
								<div class="row view-style">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
										</h5>
									</div>
								</div>
								<div class="row view-style">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planCode} / #{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planName}"
												class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_from']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planFrom}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['plan_to']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.planTo}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['region_code']} / #{msg['name']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.regionValues}" class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['prod_variey_code']} / #{msg['name']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.productCategoryValues}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_date']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.createdDate}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
										<div class="form-group">
											<p:outputLabel value="#{msg['approved_date']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.approvedDate}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_by']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.createdByName}"
												class="" />
										</div>
										<div class="form-group">
											<p:outputLabel value="#{msg['approved_by']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.retailProductionPlan.approvedByEmployeeName}"
												class="" />
										</div>
									</div>
								</div>


								<div class="row view-style">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['d_n_p_office']} -
												#{msg['procurement_order_details']}</span>
										</h5>
									</div>
								</div>
								<div class="row label-form view-style">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['d_n_p_office_code']} / #{msg['name']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.producingRegion.code}/#{retailProcurementOrderBean.retailProcurementOrder.producingRegion.name}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['prod_category_code']} / #{msg['name']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.productCategory.productCatCode}/#{retailProcurementOrderBean.retailProcurementOrder.productCategory.productCatName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['procurement_from']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrderRequest.procurementFrom}"
												class="" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['procurement_to']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrderRequest.procurementTo}"
												class="" />
										</div>
									</div>

									<div class="clearfix"></div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['val_dt']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.validDate}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['not_later_than']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.notLaterThan}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_pdt_plan_qty_mts']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.createdByName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['tot_pdt_plan_value']} (#{msg['tenta']})" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.createdDate}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_by']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.createdByName}"
												class="" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['created_date']}" />
											<h:outputText
												value="#{retailProcurementOrderBean.retailProcurementOrder.createdDate}"
												class="">
												<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>


				<div class="panel m-b-0">
					<div class="panel-body p-t-0">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['indenting_region_wise']}
								- #{msg['pdt_var_details']}</span>
						</h5>

						<div class="row view-style">
							<div class="col-lg-12">
								<div class="table-responsive">
									<p:outputPanel
										styleClass="#{retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
										<p:dataTable id="table" var="data"
											styleClass="custom-input-width m-b-10" rowKey="#{data}"
											scrollable="true" scrollHeight="200"
											value="#{retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails}"
											emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx">

											<p:column headerText="#"
												styleClass="sno-ovrflw-5 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column
												headerText="#{msg['prod_variey_code']}/ #{msg['name']}"
												styleClass="width-25">
												<h:outputText
													value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}" />
											</p:column>
											<p:column headerText="#{msg['uom']}"
												styleClass="text-center width-5">
												<h:outputText value="#{data.uomMaster.code}" />
											</p:column>
											<p:column headerText="#{msg['indenting_region']}"
												styleClass="text-left width-15">
												<h:outputText
													value="#{data.intendingRegion.code}/#{data.intendingRegion.name}" />
											</p:column>
											<p:column
												headerText="#{msg['issued_quantity']} / #{msg['meters']}"
												styleClass="text-right width-15">
												<h:outputText value="#{data.itemIssuedQuantity}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['issued_value']} (&#xf156;) "
												styleClass="text-right fa-input width-10">
												<h:outputText value="#{data.itemIssuedValue}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['qty']} / #{msg['meters']}"
												styleClass="text-right width-10">
												<h:outputText value="#{data.itemQuantity}">
													<f:convertNumber pattern="#0" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['val']} (&#xf156;)"
												styleClass="text-right fa-input width-12">
												<h:outputText value="#{data.itemValue}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
											<p:columnGroup type="footer"
												rendered="#{retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails !=null and retailProcurementOrderBean.retailProcurementOrder.retailProcurementOrderDetails.size() != 0}">
												<p:row>
													<p:column styleClass="text-right sno-ovrflw-5" />
													<p:column styleClass="text-right width-25" />
													<p:column styleClass="text-right width-5" />

													<p:column footerText="#{msg['tot']}"
														styleClass="text-right width-15" />

													<p:column styleClass="text-right width-15">
														<f:facet name="footer">
															<h:outputText
																value="#{retailProcurementOrderBean.sumOfIssuedQty}">
																<f:convertNumber pattern="#0" />
															</h:outputText>
														</f:facet>
													</p:column>

													<p:column styleClass="text-right width-10">
														<f:facet name="footer">
															<h:outputText
																value="#{retailProcurementOrderBean.sumOfIssuedValue}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
													<p:column styleClass="text-right width-10">
														<f:facet name="footer">
															<h:outputText
																value="#{retailProcurementOrderBean.sumOfUnit}">
																<f:convertNumber pattern="#0" />
															</h:outputText>
														</f:facet>
													</p:column>
													<p:column styleClass="text-right width-12">
														<f:facet name="footer">
															<h:outputText
																value="#{retailProcurementOrderBean.sumOfValues}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</p:outputPanel>
								</div>
							</div>
						</div>
						<h:panelGroup
							rendered="#{retailProcurementOrderBean.approveRejectBtnFlag == true 
						 and retailProcurementOrderBean.forwardToForFlag ==true}">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_to']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<ui:remove>
												<h:selectOneMenu id="forwardTo" styleClass="form-control"
													value="#{retailProcurementOrderBean.retailProcurementOrder.forwardTo}"
													converter="#{entityConverter}"
													required="#{not empty param[approve.clientId]}"
													requiredMessage="#{msg['forward_to_required']}"
													disabled="#{retailProcurementOrderBean.finalApproveFlag}">
													<f:selectItem itemLabel="Select" noSelectionOption="true" />
													<f:selectItems var="user"
														value="#{retailProcurementOrderBean.forwardToUsersList}"
														itemValue="#{user}"
														itemLabel="#{user.empPfNumber} / #{user.empName}"></f:selectItems>
													<p:ajax update="forwardTo"></p:ajax>
												</h:selectOneMenu>
											</ui:remove>

											<p:autoComplete id="forwardTo" minQueryLength="2"
												panelStyle="width:250px" styleClass="form-control"
												converter="#{entityConverter}"
												required="#{not empty param[submit.clientId]}"
												requiredMessage="#{msg['forward_to_req']}"
												value="#{retailProcurementOrderBean.retailProcurementOrder.forwardTo}"
												itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
												completeMethod="#{retailProcurementOrderBean.loadAutoCompleteUserMaster}"
												effect="fade">
												<p:ajax event="itemSelect" update="forwardTo"></p:ajax>
											</p:autoComplete>
										</div>
										<h:message for="forwardTo" class="validation-error-label"></h:message>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['frwd_for']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="icon-forward"></i>
											</span>
											<h:selectOneMenu id="forwardfor" styleClass="form-control"
												value="#{retailProcurementOrderBean.retailProcurementOrder.forwardFor}"
												required="#{not empty param[approve.clientId]}"
												requiredMessage="#{msg['forward_for_is_required']}"
												disabled="#{retailProcurementOrderBean.finalApproveFlag}">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItem itemValue="#{false}" itemLabel="Approval" />
												<f:selectItem itemValue="#{true}" itemLabel="Final Approval" />
												<p:ajax update="forwardfor" class="validation-error-label"></p:ajax>
											</h:selectOneMenu>
										</div>
										<h:message for="forwardFor" class="validation-error-label"></h:message>
									</div>
								</div>
							</div>
						</h:panelGroup>

						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<h:panelGroup id="create-note">
									<p:commandButton value="&#xea18;&nbsp;#{msg['view_note']}"
										title="#{msg['view_note']}"
										styleClass="btn bg-info btn-sm font-iconmoon m-l-0"
										onclick="PF('notedialog').show();">
									</p:commandButton>
								</h:panelGroup>
							</div>


							<div class="col-lg-9 col-md-9 col-sm-6 text-right">
								<h:panelGroup
									rendered="#{retailProcurementOrderBean.approveRejectBtnFlag == true
								and retailProcurementOrderBean.forwardToForFlag ==true}">
									<p:commandButton
										rendered="#{retailProcurementOrderBean.retailProcurementOrder.currentLog.status =='SUBMITTED' || retailProcurementOrderBean.retailProcurementOrder.currentLog.status =='APPROVED'}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf6;&nbsp;#{msg['reject']}"
										title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
										oncomplete="PF('dlgComments1').show();" type="button">
										<p:ajax event="click" update="viewPanel"
											listener="#{retailProcurementOrderBean.changeCurrentStatus('REJECTED')}"></p:ajax>
									</p:commandButton>

									<p:commandButton
										rendered="#{retailProcurementOrderBean.retailProcurementOrder.currentLog.status =='SUBMITTED'
									|| retailProcurementOrderBean.retailProcurementOrder.currentLog.status =='APPROVED'
									and !retailProcurementOrderBean.finalApproveFlag}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										disabled="#{retailProcurementOrderBean.buttonFlag}"
										value="&#xecf5;&nbsp;#{msg['approve']}"
										title="#{msg['approve']}" binding="#{approved}"
										class="btn bg-success font-iconmoon m-r-5"
										oncomplete="PF('dlgComments1').show();">
										<p:ajax event="click" update="viewPanel"
											listener="#{retailProcurementOrderBean.changeCurrentStatus('APPROVED')}"></p:ajax>
									</p:commandButton>

									<p:commandButton
										rendered="#{retailProcurementOrderBean.retailProcurementOrder.currentLog.status =='APPROVED'
									 and retailProcurementOrderBean.finalApproveFlag}"
										onstart="PF('statusDialog').show()"
										disabled="#{retailProcurementOrderBean.buttonFlag}"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['finalize']}"
										title="#{msg['finalize']}"
										class="btn bg-primary font-iconmoon m-r-5"
										oncomplete="PF('dlgComments1').show();">
										<p:ajax event="click" update="viewPanel"
											listener="#{retailProcurementOrderBean.changeCurrentStatus('FINALIZED')}"></p:ajax>
									</p:commandButton>
								</h:panelGroup>

								<p:commandButton update="growls" immediate="true"
									action="#{retailProcurementOrderBean.getProcurementOrderList}"
									value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
									class="btn bg-info heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>


			<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="create-note-panel">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0 view-note-editor">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="form-group m-b-0">
											<p:textEditor
												value="#{retailProcurementOrderBean.retailProcurementOrder.note}"
												widgetVar="editor1" height="150" readonly="true">
											</p:textEditor>
										</div>
										<div class="row">
											<div class="col-md-12 m-b-10">
												<p:carousel
													value="#{retailProcurementOrderBean.viewLogResponseList}"
													var="data">
													<div
														class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8">
														<ul class="list list-icons m-b-0">
															<li>
																<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																<h:panelGroup
																	rendered="#{data.procurementStatus=='SUBMITTED'}">
																	<h6 class="m-t-0 text-center">#{msg['created_by']}</h6>
																</h:panelGroup> <h:panelGroup
																	rendered="#{data.procurementStatus=='APPROVED'}">
																	<h6 class="m-t-0 text-center">
																		#{msg['approved_by']}</h6>
																</h:panelGroup> <h:panelGroup
																	rendered="#{data.procurementStatus=='FINAL_APPROVED'}">
																	<h6 class="m-t-0 text-center">
																		#{msg['final_approved_by']}</h6>
																</h:panelGroup>
															</li>
															<li>Name : #{data.empName}</li>
															<li>Designation : #{data.empDesg}</li>
															<li>Date : <h:outputText
																	value="#{data.empCreatedDate}">
																	<f:convertDateTime pattern="dd-MM-yyyy"
																		timeZone="#{loginBean.timeZone}"></f:convertDateTime>
																</h:outputText></li>
														</ul>
													</div>
												</p:carousel>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 text-right">
												<div class="form-group m-b-0">
													<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
														title="#{msg['cancel']}"
														onclick="PF('notedialog').hide();"
														class="btn bg-slate heading-btn  font-iconmoon" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>

			<p:dialog modal="true" draggable="false" id="dlgComment"
				styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
				width="40%" focus="comments"
				header="#{retailProcurementOrderBean.dialogHeader}">
				<p:outputPanel id="approvePanel">
					<div class="modal-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<p:outputLabel value="#{msg['remarks']}" />
								<div class="form-group">
									<p:inputTextarea autoResize="false" rows="4" cols="50"
										maxlength="235" styleClass="form-control"
										value="#{retailProcurementOrderBean.comments}" id="comments">
										<p:ajax update="comments"></p:ajax>
									</p:inputTextarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer ph0 m-t-10">
						<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
							title="#{msg['cancel']}"
							class="btn bg-slate heading-btn  font-iconmoon"
							onclick="PF('dlgComments1').hide();">
						</p:commandButton>
						<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
							update="approvePanel growls" process="@this"
							title="#{msg['submit']}"
							class="btn bg-success heading-btn  font-iconmoon"
							action="#{retailProcurementOrderBean.statusUpdate}"
							oncomplete="PF('dlgComments1').hide();"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()">
						</p:commandButton>
					</div>
				</p:outputPanel>
			</p:dialog>
		</p:outputPanel>
	</ui:define>
</ui:composition>
