<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Arrangement of Meeting - Admin Request</title>
		<h:form id="discountDetailsform">
			<p:outputPanel id="discountpanel">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-md-6">
								<h4 class="page-title">#{msg['arr_meeting_admin_req']}</h4>
							</div>
							<div class="col-md-6 text-right hidden-xs">
								<ol class="breadcrumb mt text12 ph0">
									<li><i class="fa fa-home mr-sm"></i><a href="#"><p:outputLabel
												value="#{msg['home']}"></p:outputLabel></a></li>
									<li class="active">#{msg['arr_meeting_admin_req']}</li>
								</ol>
							</div>
						</div>
						<div class="panel panel-color panel-top-bor">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
										<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<h:inputText value="012345" id="dSeacrhCode"
												styleClass="form-control" disabled="true"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['sec']}" />
											<span class="mand-red">*</span>
											<h:selectOneMenu id="section"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Marketing" itemValue="true" />
												<f:selectItem itemLabel="Admin" itemValue="false" />
												<f:selectItem itemLabel="Technical" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['type_meet']}" />
											<span class="mand-red">*</span>
											<h:selectOneMenu id="typemeet"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Review Meeting" itemValue="true" />
												<f:selectItem itemLabel="Internal Meeting" itemValue="false" />
												<f:selectItem itemLabel="Board Meeting" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<p:outputLabel value="#{msg['req_date']}" />
										<div class="form-group form-group_calend">
											<p:calendar id="reqdate" placeholder="29-Aug-2017"
												pattern="dd-MM-yyyy" mask="true" required="true"
												disabled="true" requiredMessage="Required"
												styleClass="form-control calend-icon caled-top"></p:calendar>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['meet_agenda']}" />
											<span class="mand-red">*</span>
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="meetagenda" styleClass="form-control"></h:inputText>
										</div>
									</div>

									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="meetdate"
												value="#{discountDetailsBean.discountDetailsDto.periodTo}"
												pattern="dd-MM-yyyy" mask="true" required="true"
												requiredMessage="Required"
												styleClass="form-control calend-icon" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_start_time']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="HH:MM"
													id="datepicker-autoclose" /> <span
													class="input-group-addon bg-primary b-0 text-white"><i
													class="glyphicon glyphicon-time"></i></span>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_end_time']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="HH:MM"
													id="datepicker-autoclose" /> <span
													class="input-group-addon bg-primary b-0 text-white"><i
													class="glyphicon glyphicon-time"></i></span>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['venue']}" />
											<span class="mand-red">*</span>
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="venue" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['no_of_people']}" />
											<span class="mand-red">*</span>
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="noofpeople" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<!-- <div class="col-md-3">
										<p:outputLabel value="#{msg['req_to']}" />
										<span class="mand-red">*</span>
										<h:inputText
											value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
											id="reqto" styleClass="form-control"></h:inputText>
									</div> -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<span class="mand-red">*</span>
											<h:selectOneMenu id="status"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Active" itemValue="true" />
												<f:selectItem itemLabel="In Active" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->

									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['add_requir']}" />
											<span class="mand-red">*</span>
											<h:selectOneMenu id="additional"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Mike" itemValue="true" />
												<f:selectItem itemLabel="Projector" itemValue="false" />
												<f:selectItem itemLabel="Food" itemValue="false" />
												<f:selectItem itemLabel="Water" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['other']}" />
											<h:inputText
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="other" styleClass="form-control"></h:inputText>
										</div>
									</div>

									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['sup_doc']}" />
											<div class="file-upload">
												<div class="file-select">
													<div class="file-select-name" id="supdoc">No file
														chosen...</div>
													<div class="file-select-button" id="fileName">
														<i class="fa fa-upload" aria-hidden="true"></i>
													</div>
													<input type="file" name="chooseFile" id="chooseFile" />
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-xs-12 text-right">
										<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
										<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
											action="#{discountDetailsBean.submit}"
											styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"
											update="discountpanel">
										</p:commandButton>
									</div>
								</div>
								<!-- end row -->
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</p:outputPanel>
			<script>
				$('#chooseFile')
						.bind(
								'change',
								function() {
									var filename = $("#chooseFile").val();
									if (/^\s*$/.test(filename)) {
										$(".file-upload").removeClass('active');
										$("#noFile").text("No file chosen...");
									} else {
										$(".file-upload").addClass('active');
										$("#noFile").text(
												filename.replace(
														"C:\\fakepath\\", ""));
									}
								});
			</script>
		</h:form>
	</ui:define>
</ui:composition>
