<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Policy Notes - Department</title>
					<div class="row">
						<div class="col-sm-12">
						 <div class="clearfix">
                <div class="pull-left">
                  <h4 class="page-title">#{msg['cret_plo_note']} - #{msg['dept']}</h4>
                </div>
                <div class="pull-right">
                  <ol class="breadcrumb mt text12 ph0">
                    <li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
                    <li><a href="#">#{msg['admin']}</a></li>
                    <li class="active">#{msg['cret_plo_note']} - #{msg['dept']}</li>
                  </ol>
                </div>
              </div>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
						
							<div class="panel panel-default panel-top-bor">
                                   
                                    <div class="panel-body">
									<div class="row">
									<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<div class="form-group">
										<p:outputLabel for="lname5" value="#{msg['gov_ref_num']}" />
										<p:inputText id="lname5" value="GOV457812" maxlength="30" disabled="true" class="form-control" />						
									</div>
									</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<div class="form-group">
										<p:outputLabel for="lname6" value="#{msg['prd']}" />
										<p:inputText id="lname6" value="Jan - Jun" maxlength="30" disabled="true" class="form-control" />						
									</div>
									</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<div class="form-group">
										<p:outputLabel for="lname6" value="Due Date" />
										<p:inputText id="lname46" maxlength="30" value="27-Dec-2017" disabled="true" class="form-control" />						
									</div>
									</div>
									</div>
									
									<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label">#{msg['dept']}</label>
                                                <select class="form-control" disabled="">
                                                	<option>PRO</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
									</div>
									</div>					
									</div>
								   <div class="row">
								   <div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
										<p:outputLabel value="#{msg['remarks']}" class="control-label" />
										<p:inputTextarea id="addTextId2" class="form-control"
												rows="1" cols="12"
												value="" />		
										</div>
										</div>
								    <div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label">#{msg['status']}</label>
                                                <select class="form-control">
                                                	<option>Open</option>
                                                    <option>Close</option>
                                                    
                                                </select>
									</div> 
										</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<p:outputLabel value="#{msg['up_doc']}" />
											<div class="file-upload">
												<div class="file-select">
													<div class="file-select-name" id="noFile">No file
													chosen...</div>
													<div class="file-select-button" id="fileName">
													<i class="fa fa-upload" aria-hidden="true"></i>
													</div>
													<input type="file" name="chooseFile" id="chooseFile" />
												</div>
											</div>
									</div>
								   </div>
								   <div class="row">
								   
								   </div>	
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<div class="form-group">
											<button type="button" class="btn btn-cancel waves-effect waves-light fa-input m-r-10">&#xf00d;&nbsp;#{msg['cancel']}</button>
											
											<button type="button" class="btn btn-success waves-effect waves-light fa-input">&#xf00c;&nbsp;#{msg['submit']}</button>
										</div>
										</div>
									
									</div>
                                    </div>
                                </div>
						
						</div>	
						</div>
	</ui:define>
</ui:composition>