<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Creation of Petition Process</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['create_peti_process']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['admin']}</a></li>
							<li class="active">#{msg['create_peti_process']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ref_num']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="123"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['type_peti']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="typepeti" value=""
										styleClass="form-control">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true"></f:selectItem>
										<f:selectItem itemValue="Amma call center Petition"
											itemLabel="Amma call center petition"></f:selectItem>
										<f:selectItem itemValue="CM Cell Petition"
											itemLabel="CM cell Petition"></f:selectItem>
										<f:selectItem itemValue="RTI Petition"
											itemLabel="RTI Petition"></f:selectItem>
										<f:selectItem itemValue="Ministor Petition"
											itemLabel="Ministor Petition"></f:selectItem>
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['peti_no']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="012345"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['petiner']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="petitioner" value=""
										styleClass="form-control">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true"></f:selectItem>
										<f:selectItem itemValue="Organization"
											itemLabel="Organization"></f:selectItem>
										<f:selectItem itemValue="Individual" itemLabel="Individual"></f:selectItem>
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['petiner_name']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="Naresh Kumar"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['petiner_cont']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="+91 9884645681"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['petiner_email']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="naresh@gmail.com"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['dt_of_peti']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="dateofpetition"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['dt_of_recpt_Peti']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="datereceipt"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sub']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['des_peti']}" />
									<span class="mand-red">*</span>
									<textarea id="reason" class="form-control" maxlength="225"
										rows="2" placeholder="Comments...."></textarea>
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['content_peti']}" />
									<span class="mand-red">*</span>
									<textarea id="reason" class="form-control" maxlength="225"
										rows="4" placeholder="Comments...."></textarea>
								</div>
							</div>
							<!-- end col  -->
							<div class="clearfix"></div>
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['to_details']}</span>
							</h4>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['region']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu id="trans"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="Chennai" itemValue="true" />
										<f:selectItem itemLabel="Selam" itemValue="false" />
										<f:selectItem itemLabel="Trichy" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sec']}" />
									<h:selectOneMenu id="section"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="section 1" itemValue="true" />
										<f:selectItem itemLabel="section 2" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->


							<div class="col-lg-3 col-md-3 col-sm-12">
								<p:outputLabel value="#{msg['due_date']}" />
								<div class="form-group form-group_calend">
									<p:calendar id="requdate"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['sup_doc']}" />
									<div class="file-upload">
										<div class="file-select">
											<div class="file-select-name" id="noFile">No file
												chosen...</div>
											<div class="file-select-button" id="fileName">
												<i class="fa fa-upload" aria-hidden="true"></i>
											</div>
											<input type="file" name="chooseFile" id="chooseFile" />
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['remark']}" />
									<span class="mand-red">*</span>
									<textarea id="reason" class="form-control" maxlength="225"
										rows="2" placeholder="Comments...."></textarea>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-12 col-xs-12 text-right">
								<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
									styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"></h:commandButton>
								<h:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
									styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
							</div>
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<script>
			$('#chooseFile').bind('change', function() {
				var filename = $("#chooseFile").val();
				if (/^\s*$/.test(filename)) {
					$(".file-upload").removeClass('active');
					$("#noFile").text("No file chosen...");
				} else {
					$(".file-upload").addClass('active');
					$("#noFile").text(filename.replace("C:\\fakepath\\", ""));
				}
			});
		</script>
	</ui:define>
</ui:composition>
