<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Edit - Job Advertisement</title>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h4 class="page-title">#{msg['edit_job_ad']}</h4>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb mt text12 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">#{msg['admin']}</a></li>
						<li class="active">#{msg['edit_job_ad']}</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="panel panel-color panel-top-bor">
			<div class="panel-body">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="form-group">
						<p:outputLabel value="Notification Number" />
						<p:inputText class="form-control" disabled="true" value="12653478" />
					</div>
				</div>	
				
				<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="#{msg['name_of_post']}" />
							<span class="mand-sign-input">*</span>
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Junior Assistant" itemValue="" />
								<f:selectItem itemLabel="Asst.Salesman / Asst.Saleswoman" itemValue="" />
								<f:selectItem itemLabel="Procurement Supervisor" itemValue="" />
							</h:selectOneMenu>
						</div>
					</div>			
				<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="#{msg['region']}" />
							<span class="mand-sign-input">*</span>
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" itemValue="" />
								<f:selectItem itemLabel="Mumbai" />
								<f:selectItem itemLabel="Bangalore" />
								<f:selectItem itemLabel="Vijayawada" />
								<f:selectItem itemLabel="Madurai" />
								<f:selectItem itemLabel="Tuticorin" />
								<f:selectItem itemLabel="Thanjavur" />
								<f:selectItem itemLabel="Chennai" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="Total No. of Vacancies" />
							<p:inputText value="118" class="form-control" disabled="true" />
						</div>
					</div>
				
			</div>
			
			<div class="portlet">
					<div class="panel-grey">
						<h3 class="portlet-title">Reservation Details</h3>
						<div class="clearfix"></div>
					</div>
					<table class="table table-bordered stfElgStatmntTable m-b-20">
						<thead>
							<tr>
								<th class="text-center">S.No</th>
								<th>Caste</th>
								<th>Code</th>
								<th>General</th>
								<th>Woman</th>
								<th>Priority</th>
								<th>Non-Priority</th>
								<th>Total No. of Vacancies</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td>General Turn</td>
								<td>OC</td>
								<td class="text-right">20</td>
								<td class="text-right">04</td>
								<td class="text-right">02</td>
								<td class="text-right">0</td>
								<td class="text-right">24</td>
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>Most Backward Classes and Denotified Communities</td>
								<td>MBC</td>
								<td class="text-right">15</td>
								<td class="text-right">03</td>
								<td class="text-right">0</td>
								<td class="text-right">2</td>
								<td class="text-right">18</td>
							</tr>
							<tr>
								<td class="text-center">3</td>
								<td>Backward Classes (other than Muslims)</td>
								<td>BC</td>
								<td class="text-right">13</td>
								<td class="text-right">07</td>
								<td class="text-right">01</td>
								<td class="text-right">0</td>
								<td class="text-right">20</td>
							</tr>
							<tr>
								<td class="text-center">4</td>
								<td>Backward Classes Muslims</td>
								<td>BCM</td>
								<td class="text-right">12</td>
								<td class="text-right">04</td>
								<td class="text-right">02</td>
								<td class="text-right">0</td>
								<td class="text-right">16</td>
							</tr>
							<tr>
								<td class="text-center">5</td>
								<td>Scheduled Caste</td>
								<td>SC</td>
								<td class="text-right">18</td>
								<td class="text-right">05</td>
								<td class="text-right">03</td>
								<td class="text-right">0</td>
								<td class="text-right">23</td>
							</tr>
							<tr>
								<td class="text-center">6</td>
								<td>Scheduled Caste Arunthathiyars</td>
								<td>SCA</td>
								<td class="text-right">08</td>
								<td class="text-right">02</td>
								<td class="text-right">0</td>
								<td class="text-right">01</td>
								<td class="text-right">10</td>
							</tr>
							<tr>
								<td class="text-center">7</td>
								<td>Scheduled Tribes</td>
								<td>ST</td>
								<td class="text-right">06</td>
								<td class="text-right">01</td>
								<td class="text-right">02</td>
								<td class="text-right">0</td>
								<td class="text-right">07</td>
							</tr>
							<tr class="sesTotal">
								<td colspan="3" class="text-right">Total</td>
								<td class="text-right">92</td>
								<td class="text-right">26</td>
								<td class="text-right">10</td>
								<td class="text-right">03</td>
								<td class="text-right">118</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="#{msg['eductnl_qualifctn']}" />
							<span class="mand-sign-input">*</span>
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Select" itemValue="" />
								<f:selectItem itemLabel="12th (10+2) or Equivalent" itemValue="" />
							</h:selectOneMenu>

						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="#{msg['expierience']}" />
							<p:inputText class="form-control" value="Nil" />
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="#{msg['salary_scale']}" />
							<span class="mand-sign-input">*</span>
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="4140-10000" itemValue="" />
								<f:selectItem itemLabel="2500-35000" itemValue="" />
							</h:selectOneMenu>
						</div>
					</div>
				</div>

			<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<h4 class="bord_bot">
							<span class="iform-title"> <i
								class="fa fa-th-large m-r-10"></i>#{msg['age_for']} SC / ST / SCA
							</span>
						</h4>
						
						
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Minimum" />
								<span class="mand-sign-input">*</span>
								<div class="form-group">
											<h:selectOneMenu class="form-control">
												
												<f:selectItem itemLabel="18" itemValue="" />
												<f:selectItem itemLabel="19" itemValue="" />
												<f:selectItem itemLabel="20" itemValue="" />
												<f:selectItem itemLabel="21" itemValue="" />
												<f:selectItem itemLabel="22" itemValue="" />
												<f:selectItem itemLabel="23" itemValue="" />
												<f:selectItem itemLabel="24" itemValue="" />
												<f:selectItem itemLabel="25" itemValue="" />
												<f:selectItem itemLabel="26" itemValue="" />
												<f:selectItem itemLabel="27" itemValue="" />
												<f:selectItem itemLabel="28" itemValue="" />
												<f:selectItem itemLabel="29" itemValue="" />
												<f:selectItem itemLabel="30" itemValue="" />
												<f:selectItem itemLabel="31" itemValue="" />
												<f:selectItem itemLabel="32" itemValue="" />
												<f:selectItem itemLabel="33" itemValue="" />
											</h:selectOneMenu>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Maximum" />
								<span class="mand-sign-input">*</span>
								<div class="form-group">
									<h:selectOneMenu class="form-control">
									<f:selectItem itemLabel="33" itemValue="" />
										
										<f:selectItem itemLabel="18" itemValue="" />
										<f:selectItem itemLabel="19" itemValue="" />
										<f:selectItem itemLabel="20" itemValue="" />
										<f:selectItem itemLabel="21" itemValue="" />
										<f:selectItem itemLabel="22" itemValue="" />
										<f:selectItem itemLabel="23" itemValue="" />
										<f:selectItem itemLabel="24" itemValue="" />
										<f:selectItem itemLabel="25" itemValue="" />
										<f:selectItem itemLabel="26" itemValue="" />
										<f:selectItem itemLabel="27" itemValue="" />
										<f:selectItem itemLabel="28" itemValue="" />
										<f:selectItem itemLabel="29" itemValue="" />
										<f:selectItem itemLabel="30" itemValue="" />
										<f:selectItem itemLabel="31" itemValue="" />
										<f:selectItem itemLabel="32" itemValue="" />
										
										
									</h:selectOneMenu>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<h4 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-10"></i>#{msg['age_for']}
								MBC / BC / BCM</span>
						</h4>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Minimum" />
								<span class="mand-sign-input">*</span>
								<div class="form-group">
											<h:selectOneMenu class="form-control">
											
												<f:selectItem itemLabel="18" itemValue="" />
												<f:selectItem itemLabel="19" itemValue="" />
												<f:selectItem itemLabel="20" itemValue="" />
												<f:selectItem itemLabel="21" itemValue="" />
												<f:selectItem itemLabel="22" itemValue="" />
												<f:selectItem itemLabel="23" itemValue="" />
												<f:selectItem itemLabel="24" itemValue="" />
												<f:selectItem itemLabel="25" itemValue="" />
												<f:selectItem itemLabel="26" itemValue="" />
												<f:selectItem itemLabel="27" itemValue="" />
												<f:selectItem itemLabel="28" itemValue="" />
												<f:selectItem itemLabel="29" itemValue="" />
												<f:selectItem itemLabel="30" itemValue="" />
												<f:selectItem itemLabel="31" itemValue="" />
												<f:selectItem itemLabel="32" itemValue="" />
												<f:selectItem itemLabel="33" itemValue="" />
											</h:selectOneMenu>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Maximum" />
								<span class="mand-sign-input">*</span>
								<div class="form-group">
									<h:selectOneMenu class="form-control">
									<f:selectItem itemLabel="28" itemValue="" />
										<f:selectItem itemLabel="18" itemValue="" />
										<f:selectItem itemLabel="19" itemValue="" />
										<f:selectItem itemLabel="20" itemValue="" />
										<f:selectItem itemLabel="21" itemValue="" />
										<f:selectItem itemLabel="22" itemValue="" />
										<f:selectItem itemLabel="23" itemValue="" />
										<f:selectItem itemLabel="24" itemValue="" />
										<f:selectItem itemLabel="25" itemValue="" />
										<f:selectItem itemLabel="26" itemValue="" />
										<f:selectItem itemLabel="27" itemValue="" />
										
										<f:selectItem itemLabel="29" itemValue="" />
										<f:selectItem itemLabel="30" itemValue="" />
										<f:selectItem itemLabel="31" itemValue="" />
										<f:selectItem itemLabel="32" itemValue="" />
										<f:selectItem itemLabel="33" itemValue="" />
									</h:selectOneMenu>
								</div>
							</div>
						</div>
					</div>
				</div>			
			
			<h4 class="bord_bot">
				<span class="iform-title">
				<i class="fa fa-th-large m-r-10"></i>Examination Fees</span>
			</h4>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="form-group">
						<p:outputLabel value="#{msg['examination_fees_for']} SC/ST/SCA" /> (<i class="fa fa-inr"></i>)
						<span class="mand-sign-input">*</span>
						<p:inputText value="250.00" class="form-control"  />
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="form-group">
						<p:outputLabel
							value="#{msg['examination_fees_for']} OC/MBC/BC/BCM" /> (<i class="fa fa-inr"></i>)
							<span class="mand-sign-input">*</span>
						<p:inputText value="500.00" class="form-control width-80"  />
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5">
					<div class="form-group">
						<p:outputLabel value="#{msg['payment_mode']}" />
						<div class="clearfix"></div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox" value="option1"  checked="true"/> <label>#{msg['debit_card']}</label>
							</div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox" value="option1" /> <label>#{msg['credit_card']}</label>
							</div>
							<div class="clearfix"></div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox" value="option1" /> <label>#{msg['net_banking']}</label>
							</div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox" value="option1" /> <label>#{msg['demand_draft']}</label>
							</div>

					</div>
				</div>
			</div>

			<h4 class="bord_bot">
				<span class="iform-title"><i class="fa fa-th-large m-r-10"></i>
				Application Details</span>
			</h4>

			<h5>Online Application</h5>

			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<p:outputLabel value="Start Date to fill Application" />
					<div class="form-group">
						<div class="input-group">
							<p:inputText value="10-02-2017" class="form-control" />
							<span class="input-group-addon bg-primary b-0 text-white">
								<i class="ti-calendar"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<p:outputLabel value="Last Date to fill Application" />
					<div class="form-group">
						<div class="input-group">
							<p:inputText value="30-03-2017" class="form-control" />
							<span class="input-group-addon bg-primary b-0 text-white">
								<i class="ti-calendar"></i>
							</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4">
					<p:outputLabel value="Last Date to Edit/Modify" />
					<div class="form-group">
						<div class="input-group">
							<p:inputText value="28-03-2017" class="form-control" />
							<span class="input-group-addon bg-primary b-0 text-white">
								<i class="ti-calendar"></i>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8">
						<h5 class="m-t-0">Offline Application</h5>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Start Date to send Application" />
								<div class="form-group">
									<div class="input-group">
										<p:inputText value="15-03-2017" class="form-control" />
										<span class="input-group-addon bg-primary b-0 text-white">
											<i class="ti-calendar"></i>
										</span>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<p:outputLabel value="Last Date to send Application" />
								<div class="form-group">
									<div class="input-group">
										<p:inputText value="15-04-2017" class="form-control" />
										<span class="input-group-addon bg-primary b-0 text-white">
											<i class="ti-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<h5 class="m-t-0">Hall Ticket Download</h5>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p:outputLabel value="Tentative date" />
								<div class="form-group">
									<div class="input-group">
										<p:inputText value="18-05-2017" class="form-control" />
										<span class="input-group-addon bg-primary b-0 text-white">
											<i class="ti-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<h5 class="m-t-0">Written Examination</h5>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p:outputLabel value="Tentative date" />
								<div class="form-group">
									<div class="input-group">
										<p:inputText value="20-06-2017" class="form-control" />
										<span class="input-group-addon bg-primary b-0 text-white">
											<i class="ti-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>


			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<p:outputLabel value="#{msg['note']}" />
						<p:inputTextarea  class="form-control" value="The candidate should send the Offline Application to the following address: General Manager, Co-optex head office, 350, Pantheon Road, Chennai 600 008"></p:inputTextarea>
					</div>
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<p:outputLabel value="#{msg['comment']}" />
						<p:inputTextarea value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." class="form-control" ></p:inputTextarea>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-md-6 col-sm-12">
					<div class="text-right">
						<p:commandButton value="&#xf00d;&nbsp; #{msg['cancel']}"
							class="btn btn-sm btn-default waves-effect w-md waves-light fa-input" />
						<p:commandButton value="&#xf00c;&nbsp; Update"
							class="btn btn-sm btn-success waves-effect w-md waves-light m-l-10 fa-input" />
					</div>
				</div>
			</div>
			</div>
		</div>
	</ui:define>
</ui:composition>