<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Employee Service Register List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default" style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['employee_service_regd']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li><a href="#">#{msg['admin']}</a></li>
						<li class="active">#{msg['emp_serreglist']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						Total Employee Service Register : 5 <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton update="growls"
							action="#{employeeServiceRegisterBean.showEmployeeForm}"
							value="&#xe912;&nbsp;#{msg['edit']}" title="Edit"
							class="btn bg-primary font-iconmoon">
							<f:setPropertyActionListener value="EDIT"
								target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton update="growls"
							action="#{employeeServiceRegisterBean.showEmployeeForm}"
							value="&#xea18;&nbsp;#{msg['view']}" title="View"
							class="btn bg-info heading-btn  font-iconmoon">
							<f:setPropertyActionListener value="VIEW"
								target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								update="growls"
								action="#{employeeServiceRegisterBean.showEmployeeForm}"
								class="btn bg-danger heading-btn  font-iconmoon m-r-10">
								<f:setPropertyActionListener value="DELETE"
									target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
								<p:confirm header="#{msg['confirmation']}"
									message=" #{msg['confirm_delete']}?" />
							</p:commandButton>
						<p:commandButton update="growls"
							action="#{employeeServiceRegisterBean.showEmployeeForm}"
							value="&#xea0e;&nbsp;#{msg['add']}" title="Add"
							class="btn bg-success font-iconmoon m-r-0">
							<f:setPropertyActionListener value="ADD"
								target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table">
									<div class="ui-datatable-scrollable-header-box cust-table">
										<table>
											<thead>
												<tr>
													<th class="ui-state-default"
														style="text-align: center; width: 6%;"><span
														class="ui-column-title">#{msg['serial_no']}</span></th>
														<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center width-10">
														<p:outputLabel value="#{msg['emp_id']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<input type="text" class="form-control" />
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center width-20">
														<p:outputLabel value="#{msg['emp_name']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<input type="text" class="form-control" />
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['designation']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu class="form-control">
														<f:selectItem itemLabel="Select" itemValue="" />
														<f:selectItem itemLabel="Junior Assistant" itemValue="" />
														<f:selectItem itemLabel="Procurement Supervisor" itemValue="" />
														<f:selectItem itemLabel="Asst.Salesman" />
														
														</h:selectOneMenu>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['region']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu class="form-control">
														<f:selectItem itemLabel="Mumbai" />
														<f:selectItem itemLabel="Bangalore" />
														<f:selectItem itemLabel="Vijayawada" />
														<f:selectItem itemLabel="Chennai" />
														<f:selectItem itemLabel="Madurai" />
														<f:selectItem itemLabel="Tuticorin" />
														<f:selectItem itemLabel="Thanjavur" />
														<f:selectItem itemLabel="Select" />
														</h:selectOneMenu>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['dept']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu class="form-control">
														<f:selectItem itemLabel="Marketing" />
														<f:selectItem itemLabel="Technical" />
														<f:selectItem itemLabel="Admin" />
														<f:selectItem itemLabel="Select" />
														</h:selectOneMenu>
													</th>
													
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center"
														style="width: 10%;"><p:outputLabel
															value="#{msg['status']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu id="status"
															value="#{discountMasterBean.discountMasterDTO.activeStatus}"
															styleClass="form-control">
															<f:selectItem itemLabel="Select" itemValue="true" />
															<f:selectItem itemLabel="New" itemValue="true" />
															<f:selectItem itemLabel="Pending" itemValue="false" />
															<f:selectItem itemLabel="Approved" itemValue="false" />
														</h:selectOneMenu></th>
													<th class="ui-state-default ui-sortable-column ui-filter-column text-center" style="width: 6%"><p:outputLabel
															value="#{msg['select']}" /></th>

												</tr>
											</thead>
											<tbody>
												<tr>
												<td class="text-center">1</td>
												<td>012478</td>
												<td>Prakash</td>
												<td>Asst.Salesman</td>
												<td>Chennai</td>
												<td>Marketing</td>
												<td><span class="label label-primary">New</span></td>
													<td class="text-center"><input type="radio"
														name="unstyled-radio-left" checked="checked" /></td>
												</tr>
												<tr>
													<td class="text-center">2</td>
													<td>012357</td>
													<td>Sundhar</td>
													<td>Junior Assistant</td>
													<td>Madurai</td>
													<td>Admin</td>
													<td><span class="label label-warning">Pending</span></td>
													<td class="text-center"><input type="radio"
														name="unstyled-radio-left" checked="checked" /></td>
												</tr>
												<tr>
													<td class="text-center">3</td>
													<td>012368</td>
													<td>Shanmugavel</td>
													<td>Supervisor</td>
													<td>Thanjavur</td>
													<td>Technical</td>
													<td><span class="label label-danger">Reject</span></td>
													<td class="text-center"><input type="radio"
														name="unstyled-radio-left" checked="checked" /></td>
												</tr>
												<tr>
													<td align="center">4</td>
													<td>012647</td>
													<td>Ram Gopal</td>
													<td>Salesman</td>
													<td>Trichy</td>
													<td>Admin</td>
													<td><span class="label label-success">Approved</span></td>
													<td class="text-center"><input type="radio"
														name="unstyled-radio-left" checked="checked" /></td>
												</tr>
												<tr>
													<td align="center">5</td>
													<td>012980</td>
													<td>Vignesh Kumar</td>
													<td>Marketing Executive</td>
													<td>Cuddalore</td>
													<td>Marketing</td>
													<td><span class="label label-warning">Pending</span></td>
													<td class="text-center"><input type="radio"
														name="unstyled-radio-left" checked="checked" /></td>
												</tr>
												
											</tbody>
										</table>
									<!-- Pagination Start -->
					
					
					<div
							class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
							<div class="dataTables_info m-r-10" id="DataTables_Table_0_info "
							role="status" aria-live="polite">Showing 1 to 5 of 15
							entries</div>
							<ul class="pagination pagination-separated">
								<li><a href="#">&lsaquo;&lsaquo;</a></li>
								<li><a href="#">&lsaquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&rsaquo;</a></li>
								<li><a href="#">&rsaquo;&rsaquo;</a></li>
								<li>
									<div class="dataTables_length" id="DataTables_Table_1_length">
							<label><select
								name="DataTables_Table_1_length"
								aria-controls="DataTables_Table_1"
								class="select2-hidden-accessible" tabindex="-1"
								aria-hidden="true"><option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option></select><span
								class="select2 select2-container select2-container--default"
								dir="ltr" style="width: auto;"><span class="selection"><span
										class="select2-selection select2-selection--single"
										role="combobox" aria-haspopup="true" aria-expanded="false"
										tabindex="0"
										aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
											class="select2-selection__rendered"
											id="select2-DataTables_Table_1_length-hy-container"
											title="10">10</span><span class="select2-selection__arrow"
											role="presentation"><b role="presentation"></b></span></span></span><span
									class="dropdown-wrapper" aria-hidden="true"></span></span></label>
						</div>
								</li>
							</ul>
						</div>
					<!-- Pagination End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>
