<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Admin Approval Process List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default" style="margin-top: 50px;">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>#{msg['admin_app_process']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li><a href="#">#{msg['admin']}</a></li>
						<li class="active">#{msg['admi_app_process_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						Total Admin Approval Process : 5 <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						
						<p:commandButton update="growls"
							action="#{employeeServiceRegisterBean.showEmployeeForm}"
							value="&#xea18;&nbsp;#{msg['view']}" title="View"
							class="btn bg-info heading-btn  font-iconmoon">
							<f:setPropertyActionListener value="VIEW"
								target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div>
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table">
									<div class="ui-datatable-scrollable-header-box cust-table">
										<table>
											<thead>
												<tr>
													<th class="ui-state-default"
														style="text-align: center; width: 6%;"><span
														class="ui-column-title">#{msg['sl']}</span></th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center width-12">
														<p:outputLabel value="#{msg['type_meet']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu class="form-control">
															<f:selectItem itemLabel="Review Meeting" />
															<f:selectItem itemLabel="Internal Meeting" />
															<f:selectItem itemLabel="Board Meeting" />
															<f:selectItem itemLabel="Select" />
														</h:selectOneMenu>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['meet_date']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="meetdate" pattern="dd-MM-yyyy" placeholder="DD-MMM-YYYY"
																mask="true" required="true" requiredMessage="Required"
																styleClass="form-control calend-icon" />
														</div>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['meet_start_time']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="meetdate1" pattern="dd-MM-yyyy" placeholder="00:00 AM"
																mask="true" required="true" requiredMessage="Required"
																styleClass="form-control icon-alarm" />
														</div>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['meet_end_time']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="meetdate2" pattern="dd-MM-yyyy" placeholder="00:00 PM"
																mask="true" required="true" requiredMessage="Required"
																styleClass="form-control icon-alarm" />
														</div>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center width-12">
														<p:outputLabel value="#{msg['sec']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu class="form-control">
															<f:selectItem itemLabel="Marketing" />
															<f:selectItem itemLabel="Technical" />
															<f:selectItem itemLabel="Admin" />
															<f:selectItem itemLabel="Select" />
														</h:selectOneMenu>
													</th>
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center">
														<p:outputLabel value="#{msg['no_of_people']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<input type="text" class="form-control" />
													</th>

													
													<th
														class="ui-state-default ui-sortable-column ui-filter-column text-center"
														style="width: 10%;"><p:outputLabel
															value="#{msg['status']}" /><span
														class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
														<h:selectOneMenu id="status"
															value="#{discountMasterBean.discountMasterDTO.activeStatus}"
															styleClass="form-control">
															<f:selectItem itemLabel="Select" itemValue="true" />
															<f:selectItem itemLabel="New" itemValue="true" />
															<f:selectItem itemLabel="Pending" itemValue="false" />
															<f:selectItem itemLabel="Approved" itemValue="false" />
														</h:selectOneMenu></th>
													<th class="ui-state-default ui-sortable-column ui-filter-column text-center" style="width: 6%"><p:outputLabel
															value="#{msg['select']}" /></th>

												</tr>
											</thead>
											<tbody>
												<tr>
																		<td align="center">1</td>
																		<td>Review Meeting</td>
																		<td>12-Jun-2017</td>
																		<td>10.30 AM</td>
																		<td>01.00 PM</td>
																		<td>Marketing</td>
																		<td>25</td>
																		<td><span class="label label-warning">Pending</span></td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td>Internal Meeting</td>
																		<td>12-Jun-2017</td>
																		<td>01.00 PM</td>
																		<td>03.00 PM</td>
																		<td>Technical</td>
																		<td>50</td>
																		<td><span class="label label-success">Approved</span></td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">3</td>
																		<td>Board Meeting</td>
																		<td>12-Jun-2017</td>
																		<td>03.00 PM</td>
																		<td>06.00 PM</td>
																		<td>Admin</td>
																		<td>40</td>
																		<td><span class="label label-success">Approved</span></td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td>Review Meeting</td>
																		<td>12-Jun-2017</td>
																		<td>04.00 PM</td>
																		<td>06.00 PM</td>
																		<td>Technical</td>
																		<td>32</td>
																		<td><span class="label label-success">Approved</span></td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td>Board Meeting</td>
																		<td>12-Jun-2017</td>
																		<td>04.00 PM</td>
																		<td>06.00 PM</td>
																		<td>Technical</td>
																		<td>32</td>
																		<td><span class="label label-danger">Reject</span></td>
																		<td align="center"><input type="radio"
																				name="positions" id="radio5" value="toast-top-right" /></td>
																	</tr>
											</tbody>
										</table>
										
										<div
											class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10"
											id="DataTables_Table_2_paginate">
											<div class="dataTables_info m-r-10" id="DataTables_Table_0_info "
							role="status" aria-live="polite">Showing 1 to 5 of 15
							entries</div>
											<ul class="pagination pagination-separated">
												<li><a href="#">&lsaquo;&lsaquo;</a></li>
												<li><a href="#">&lsaquo;</a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
												<li><a href="#">&rsaquo;</a></li>
												<li><a href="#">&rsaquo;&rsaquo;</a></li>
											</ul>
												<div class="dataTables_length" id="DataTables_Table_1_length">
							<label><select
								name="DataTables_Table_1_length"
								aria-controls="DataTables_Table_1"
								class="select2-hidden-accessible" tabindex="-1"
								aria-hidden="true"><option value="10">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option></select><span
								class="select2 select2-container select2-container--default"
								dir="ltr" style="width: auto;"><span class="selection"><span
										class="select2-selection select2-selection--single"
										role="combobox" aria-haspopup="true" aria-expanded="false"
										tabindex="0"
										aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
											class="select2-selection__rendered"
											id="select2-DataTables_Table_1_length-hy-container"
											title="10">10</span><span class="select2-selection__arrow"
											role="presentation"><b role="presentation"></b></span></span></span><span
									class="dropdown-wrapper" aria-hidden="true"></span></span></label>
						</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>
