<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Recruitment Request</title>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<h4 class="page-title">Recruitment Request</h4>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="text-right">
					<ol class="breadcrumb mt text12 ph0">
						<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
						<li><a href="#">#{msg['admin']}</a></li>
						<li class="active">Recruitment Request</li>
					</ol>
				</div>
			</div>
		</div>
		
		<div class="panel panel-color panel-top-bor">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="Request Name" />
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Manpower Statement" />
								<f:selectItem itemLabel="Staff Eligibility Statement" />
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group form-group_calend">
							<p:outputLabel value="Requested Date" />
							<p:calendar value="" pattern="dd-MM-yyyy" navigator="true" maxdate="today"
								styleClass="form-control calend-icon"></p:calendar>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="form-group">
							<p:outputLabel value="Status" />
							<h:selectOneMenu class="form-control">
								<f:selectItem itemLabel="Pending" />
								<f:selectItem itemLabel="Completed" />
								<f:selectItem itemLabel="Select" />
							</h:selectOneMenu>
						</div>
					</div>
										
				</div>
				
				<div class="text-right m-b-25">
					<p:commandButton value="&#xf12d;&nbsp; #{msg['clear']}" 
					class="btn btn-sm btn-cancel waves-effect waves-light fa-input" />
					<p:commandButton value="&#xf002;&nbsp; #{msg['search']}" ajax="false" 
					class="btn btn-sm btn-info waves-effect waves-light m-l-10 fa-input">
					</p:commandButton>
				</div>
				
				<div class="portlet">
					<div class="panel-grey">
					<h3 class="portlet-title">Recruitment Request List</h3>
					<div class="pull-right">
					<p:commandButton value="&#xf067;&nbsp; #{msg['add']}" class="btn btn-xs btn-success waves-effect waves-light fa-input">
					</p:commandButton>
					<p:commandButton value="&#xf044;&nbsp; #{msg['edit']}" class="btn btn-xs btn-primary waves-effect waves-light m-l-10 fa-input">
					</p:commandButton>
					<p:commandButton value="&#xf06e;&nbsp; #{msg['view']}" class="btn btn-xs btn-info waves-effect waves-light m-l-10 fa-input">
					</p:commandButton>
					
					</div>
					<div class="clearfix"></div>
				</div>
					<table class="table table-bordered ">
						<thead>
							<tr>
								<th class="text-center">S.No</th>
								<th>Request Name</th>
								<th>Request Date</th>
								<th>Due Date</th>
								<th>#{msg['status']}</th>
								<th>#{msg['action']}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td>Staff Eligibility Statement</td>
								<td>08-03-2017</td>
								<td>25-05-2017</td>
								<td class="text-warning">Pending</td>
								<td class="text-center width-12">
									<input type="radio" class="" />
								</td>
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>Staff Eligibility Statement</td>
								<td>09-04-2017</td>
								<td>12-06-2017</td>
								<td class="text-success">Completed</td>
								<td class="text-center width-12">
									<input type="radio" class="" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</ui:define>
	</ui:composition>