<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Arrangement of Meeting - Request Process</title>
		<h:form id="discountDetailsform">
			<p:outputPanel id="discountpanel">
				<div class="row">
					<div class="col-lg-12">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="page-title">#{msg['arr_meet_Req_process']}</h4>
							</div>
							<div class="pull-right hidden-xs">
								<ol class="breadcrumb m-t-10 text12 ph0">
									<li><i class="fa fa-home mr-sm"></i><a href="#"><p:outputLabel
												value="#{msg['home']}"></p:outputLabel></a></li>
									<li class="active">#{msg['arr_meet_Req_process']}</li>
								</ol>
							</div>
						</div>
						<div class="panel panel-color panel-top-bor">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
										<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['ref_num']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="refnumber" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['sec']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="section" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<p:outputLabel value="#{msg['req_date']}" />
										<div class="form-group form-group_calend">
											<p:calendar id="reqdate" disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.periodFrom}"
												pattern="dd-MM-yyyy" mask="true" required="true"
												requiredMessage="Required"
												styleClass="form-control calend-icon caled-top"></p:calendar>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['meet_agenda']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="meetagenda" placeholder="" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="clearfix"></div>

									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="meetdate"
												value="#{discountDetailsBean.discountDetailsDto.periodTo}"
												pattern="dd-MM-yyyy" mask="true" required="true"
												requiredMessage="Required"
												styleClass="form-control calend-icon" />
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_start_time']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="HH:MM"
													id="datepicker-autoclose" /> <span
													class="input-group-addon bg-primary b-0 text-white"><i
													class="glyphicon glyphicon-time"></i></span>
											</div>
										</div>
									</div>

									<div class="col-md-3">
										<p:outputLabel value="#{msg['meet_end_time']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="HH:MM"
													id="datepicker-autoclose" /> <span
													class="input-group-addon bg-primary b-0 text-white"><i
													class="glyphicon glyphicon-time"></i></span>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['venue']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="venue" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['no_of_people']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="noofpeople" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['status']}" />
											<span class="mand-red">*</span>
											<h:selectOneMenu id="status"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="Select" itemValue="true" />
												<f:selectItem itemLabel="Active" itemValue="true" />
												<f:selectItem itemLabel="In Active" itemValue="false" />
											</h:selectOneMenu>
										</div>
									</div>
									<!-- end col -->
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['add_requir']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="addrequire" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['other']}" />
											<h:inputText disabled="true"
												value="#{discountDetailsBean.discountDetailsDto.discountMasterDTO.code}"
												id="other" styleClass="form-control"></h:inputText>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['reason']}" />
											<span class="mand-red">*</span>
											<textarea id="reason" class="form-control" maxlength="225"
												rows="2" placeholder="Comments...."></textarea>
										</div>
									</div>
									<!-- end col -->
									<div class="col-lg-12 col-xs-12 text-right">
										<p:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
											styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
										<p:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
											action="#{discountDetailsBean.submit}"
											styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"
											update="discountpanel">
										</p:commandButton>
									</div>
								</div>
								<!-- end row -->
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>
