<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/layout.xhtml">
	<ui:define name="content">
	<div class="row">
						<div class="col-sm-12">
						 <div class="clearfix">
                <div class="pull-left">
                  <h4 class="page-title">Staff Eligibility Statement - Admin HO - View</h4>
                </div>
                <div class="pull-right">
                  <ol class="breadcrumb mt text12 ph0">
                    <li><i class="fa fa-home mr-sm"></i><a href="#">Home</a></li>
                    <li><a href="#">Admin</a></li>
                    <li class="active">Staff Eligibility Statement - Admin Ho - View</li>
                  </ol>
                </div>
              </div>
              <div class="panel panel-color panel-default"> 
                <!-- <div class="panel-heading">
                  <h3 class="panel-title text-grey">Add Society</h3>
                </div> -->
                <div class="panel-body">
                <h4 class="clr_thm_blu w-500">Generate Staff Eligibility</h4>
                  <div class="row">
						<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">Region</label>
                                          
                                                <select class="form-control" disabled="">
                                                    <option>Coimbatore</option>
                                                    <option>Selam</option>
                                                    <option>Madurai</option>
                                                
                                                </select>
									</div>
									</div>
									<div class="col-sm-4">
									<div class="form-group">
										<div class="row">
												<div class="col-sm-6">
													<label class="control-label ">Date Range - From</label>
				                         			<div class="input-group">
													<input type="text" disabled="" class="form-control" id="datepicker-multiple-date" />
													<span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
													</div><!-- input-group -->
												</div>
											<div class="col-sm-6">
												<label class="control-label ">Date Range - To</label>
				                         			<div class="input-group">
													<input type="text" disabled="" class="form-control" id="datepicker-multiple-date" />
													<span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
													</div><!-- input-group -->
											</div>
										</div>
			                                			
			                                		
			                                		</div>
									
									</div>
									
								
									<div class="col-sm-4">
									
									
										<div class="form-group">
										<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
                       								 <label>Sales Value</label>
                        							 <input type="text" class="form-control" disabled="" value=" " />
                      								</div>
												</div>
											<div class="col-sm-6">
												<div class="form-group">
                       								 <label>No. of Eligible Staff</label>
                        							 <input type="text"  class="form-control" disabled="" value=" " />
                      								</div>
											</div>
										</div>
			                                			
			                                		
			                                		</div>
									</div>
								</div>
								
								<h4 class="clr_thm_blu w-500">No. of Staff on Role</h4>
								<div class="row">
						
						<div class="col-sm-4">
									<div class="form-group">
										
			                                <label class="control-label ">As on Date</label>
				                         			<div class="input-group">
													<input type="text" disabled="" class="form-control" id="datepicker-multiple-date" />
													<span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
													</div><!-- input-group -->			
			                                		
			                                		</div>
									</div>
									<div class="col-sm-4">
									<div class="form-group">
										<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
                       								 <label>&nbsp;</label>
                        							 <input type="text" disabled="" value=" " class="form-control"  />
                      								</div>
												</div>
											<div class="col-sm-6">
												
											</div>
										</div>
			                                			
			                                		
			                                		</div>
									
									</div>
									
								
									<div class="col-sm-4">
									
									
									
									</div>
								</div>
								<h4 class="clr_thm_blu w-500">No. of Staff to be Retired</h4>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label ">Date Range - From</label>
				                         			<div class="input-group">
													<input type="text" disabled="" class="form-control" id="datepicker-multiple-date" />
													<span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
													</div><!-- input-group -->
									</div>
									<div class="col-sm-3">
										<label class="control-label ">Date Range - To</label>
				                         			<div class="input-group">
													<input type="text" disabled="" class="form-control" id="datepicker-multiple-date" />
													<span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
													</div><!-- input-group -->
									</div>
									<div class="col-sm-3">
										<div class="form-group">
                       								 <label>&nbsp;</label>
                        							 <input type="text" disabled="" value=" " class="form-control"  />
                      								</div>
									</div>
									<div class="col-sm-3">
											
											
									
																							
									</div>
								</div>	
								
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label ">Excess or Shortage</label>
				                         			<input type="text" disabled="" value=" " class="form-control"  />
									</div>
									<div class="col-sm-3">
										<div class="form-group">
										<label class="control-label">File Type</label>
                                          
                                                <select class="form-control" disabled="">
                                                    <option>PDF(*.pdf)</option>
                                                    <option>EXCEL(*.xls)</option>
                                                
                                                
                                                </select>
									</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
                       								 <label>Remarks</label>
                        							 <input type="text" disabled=""  value="" class="form-control"  />
                      								</div>
									</div>
									
								</div>	
								
								<div class="row">
									<div class="col-sm-12 text-right">
										<p:commandButton value="Back" class="btn btn-sm btn-inverse waves-effect w-md waves-light m-r-10" />
								
											
									</div>
								
								</div>	
								
                  <!-- end row --> 
                </div>
              </div>
						</div>
					</div>	
	</ui:define>
	</ui:composition>