<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Student Training</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['stu_training']}</h4>
					</div>
					<div class="pull-right hidden-xs">
						<ol class="breadcrumb m-t-10 text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['admin']}</a></li>
							<li class="active">#{msg['stu_training']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-xs-12 ph0 text-right m-b-10">
								<span class="mand-red">*</span> <span class="text12">#{msg['marked_field_mandatory']}</span>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_type']}" />
									<div class="form-group">
										<h:selectOneMenu id="taxtype"
											value="#{discountMasterBean.discountMasterDTO.activeStatus}"
											styleClass="form-control">
											<f:selectItem itemLabel="Select" itemValue="true" />
											<f:selectItem itemLabel="Government" itemValue="true" />
											<f:selectItem itemLabel="Private" itemValue="false" />
										</h:selectOneMenu>
									</div>
									<!-- input-group -->
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_name']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="JPR Engineering College"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['no_of_days']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder="20"
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<p:outputLabel value="#{msg['stud_train_start']}" />
								<span class="mand-red">*</span>
								<div class="form-group form-group_calend">
									<p:calendar id="studenttrain"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<p:outputLabel value="#{msg['stud_train_end']}" />
								<span class="mand-red">*</span>
								<div class="form-group form-group_calend">
									<p:calendar id="studenttrainend"
										value="#{discountDetailsBean.discountDetailsDto.periodTo}"
										pattern="dd-MM-yyyy" mask="true" required="true"
										requiredMessage="Required"
										styleClass="form-control calend-icon" />
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['pur_train']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="clearfix"></div>
							<h4 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['insti_details']}</span>
							</h4>
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_addr1']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_addr2']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_addr3']}" />
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->

							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['insti_rep_name']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['con_num']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['email']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['no_student']}" />
									<span class="mand-red">*</span>
									<p:inputText disabled="" placeholder=""
										styleClass="form-control"></p:inputText>
								</div>
							</div>
							<!-- end col -->
							<div class="col-md-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<h:selectOneMenu id="trans"
										value="#{discountMasterBean.discountMasterDTO.activeStatus}"
										styleClass="form-control">
										<f:selectItem itemLabel="Select" itemValue="true" />
										<f:selectItem itemLabel="New" itemValue="true" />
										<f:selectItem itemLabel="Forwarded" itemValue="false" />
										<f:selectItem itemLabel="Approved" itemValue="false" />
										<f:selectItem itemLabel="Rejected" itemValue="false" />
										<f:selectItem itemLabel="Invited" itemValue="false" />
										<f:selectItem itemLabel="Conducted" itemValue="false" />
									</h:selectOneMenu>
								</div>
							</div>
							<!-- end col -->

							<div class="col-lg-12 col-xs-12 text-right">
								<h:commandButton value="&#xf00d;&nbsp;#{msg['cancel']}"
									styleClass="btn btn-sm btn-cancel waves-effect waves-light fa-input m-r-10"></h:commandButton>
								<h:commandButton value="&#xf00c;&nbsp;#{msg['submit']}"
									styleClass="btn btn-sm btn-success waves-effect waves-light fa-input"></h:commandButton>
							</div>
						</div>
						<!-- end row -->
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
	</ui:define>
</ui:composition>
