<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | #{msg['vcl_mng_sys']} #{msg['list']}</title>	
					<div class="row">
						<div class="col-sm-12">
						 <div class="clearfix">
                <div class="pull-left">
                  <h4 class="page-title">#{msg['vcl_mng_sys']} #{msg['list']}</h4>
                </div>
                <div class="pull-right">
                  <ol class="breadcrumb mt text12 ph0">
                    <li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
                    <li><a href="#">#{msg['master']}</a></li>
                    <li class="active">#{msg['vcl_mng_sys']} #{msg['list']}</li>
                  </ol>
                </div>
              </div>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
						
							<div class="panel panel-color panel-top-bor">
                                   
                                    <div class="panel-body">
                                 
									<div class="row">
										<div class="col-md-4">
										<div class="form-group">
										<label class="control-label">#{msg['vehicle']} #{msg['no']}</label>
                                            <select class="form-control">
                                                <option>Select</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
										</div>
										</div>	
										<div class="col-md-4">
										<div class="form-group">
											<p:outputLabel for="addlineone2" value="#{msg['officer']} #{msg['nm']}" />
											<p:inputText id="addlineone2" maxlength="150" class="form-control" />						
										</div>
										</div>						
										<div class="col-md-4">
										<div class="form-group">
											<p:outputLabel for="addlineone3" value="#{msg['driver']} #{msg['nm']}" />
											<p:inputText id="addlineone3" maxlength="150" class="form-control" />						
										</div>
										
										</div>
										
										</div>
										
										<div class="row">
										<div class="col-md-4">
											<div class="row">
											 	<div class="col-md-6">
											 	<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['to_date']}</label>
									                	<div class="form-group">
										                  	<div class="input-group">
										                    <input type="text" class="form-control" disabled="" placeholder="dd-mm-yyyy" id="datepicker-autoclose"/>
										                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
										                </div>
									                	</div>
											 	</div>
											 	<div class="col-md-6">
											 	<label id="form:j_idt42" class="ui-outputlabel ui-widget">#{msg['from_date']}</label>
									                	<div class="form-group">
										                  	<div class="input-group">
										                    <input type="text" class="form-control" disabled="" placeholder="dd-mm-yyyy" id="datepicker-autoclose"/>
										                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
										                </div>
									                	</div>
											 	</div>
											</div>
								 		</div>
										<div class="col-md-4">
										<div class="form-group">
										<label class="control-label">#{msg['status']}</label>
                                            <select class="form-control">
                                                <option>Select</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
										</div>
										</div>						
										<div class="col-md-4">
										
										</div>
										</div>
								<div class="row">
									<div class="col-md-3">
									</div>
									<div class="col-md-3">
									</div>
									<div class="col-md-3">
									</div>
									<div class="col-md-3 text-right">
										<button type="button" class="btn btn-cancel waves-effect waves-light fa-input m-r-10">&#xf12d;&nbsp;#{msg['clear']}</button>
										<button type="button" class="btn btn-info waves-effect waves-light fa-input">&#xf002;&nbsp;#{msg['search']}</button>
									</div>
								</div>	
								
					 			
					 			<div class="col-lg-12 ph0 m-t-20">
          			<div class="portlet m-b-0">
            		<div class="panel-grey">
              		<h3 class="portlet-title m-t-5">#{msg['vehicle']} #{msg['dep']}/#{msg['arrival']} #{msg['dlt']}</h3>
              			<div class="portlet-widgets">
										<h:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											styleClass="btn btn-xs btn-success waves-effect waves-light fa-input">
										</h:commandButton>
										<h:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											styleClass="btn btn-xs btn-primary waves-effect waves-light m-l-10 fa-input">
										</h:commandButton>
										<h:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											styleClass="btn btn-xs btn-info waves-effect waves-light m-l-10 fa-input">
										</h:commandButton>
									</div>
              			<div class="clearfix"></div>
            		</div>
            		<div id="bg-primary1" class="panel-collapse collapse in">
              		<div class="portlet-body p0">				
								<div class="row">
                    <div class="col-md-12">
                    
                      <div class="table-responsive ">
						
						<table class="table table-bordered">
				<thead>
					<tr>
						<th>#{msg['sl']}</th>
						<th>#{msg['vehicle']} #{msg['no']}</th>
						<th>#{msg['dep']}</th>
						<th>#{msg['purpose']}</th>
						<th>#{msg['arrival']}</th>
						<th>#{msg['status']}</th>
						<th>#{msg['action']}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">1</td>
						<td>TN4587W3</td>
						<td>10:00 AM &amp; 10-Apr-2017</td>
						<td>Meeting</td>
						<td>08:00 PM &amp; 10-Apr-2017</td>
						<td>Vehicle Arrived</td>
						<td align="center">
								<div class="radio m-b-0 m-l-5">
										<input type="radio" name="radio" id="radio1"
										value="option1" /> <label for="radio1"> </label>
								</div>
						</td>
						<!-- <td align="center">
							<button class="btn btn-xs btn-danger fa-input m-r-5"><span class="icon-stack">
							<i class="fa fa-automobile icon-stack-1x"></i>
							<i class="fa fa-map-marker icon-stack-2x"></i>
							</span>
							</button>
							<button class="btn btn-sm btn-success fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-sm btn-warning fa-input m-r-5">&#xf06e;</button>
							<button class="btn btn-sm btn-info fa-input m-r-5">&#xf046;</button>
						</td> -->
					</tr>
					<tr>
						<td align="center">2</td>
						<td>TN9657W3</td>
						<td>10:30 AM &amp; 4-Apr-2017</td>
						<td>Meeting</td>
						<td>05:00 PM &amp; 4-Apr-2017</td>
						<td>Vehicle Arrived</td>
						<td align="center">
								<div class="radio m-b-0 m-l-5">
										<input type="radio" name="radio" id="radio1"
										value="option1" /> <label for="radio1"> </label>
								</div>
						</td>
						<!-- <td align="center">
							<button class="btn btn-xs btn-danger fa-input m-r-5"><span class="icon-stack">
							<i class="fa fa-automobile icon-stack-1x"></i>
							<i class="fa fa-map-marker icon-stack-2x"></i>
							</span>
							</button>
							<button class="btn btn-sm btn-success fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-sm btn-warning fa-input m-r-5">&#xf06e;</button>
							<button class="btn btn-sm btn-info fa-input m-r-5">&#xf046;</button>
						</td> -->
					</tr>
					<tr>
						<td align="center">3</td>
						<td>TN9657E8</td>
						<td>10:30 AM &amp; 2-Apr-2017</td>
						<td>Meeting</td>
						<td>05:00 PM &amp; 2-Apr-2017</td>
						<td>Vehicle Arrived</td>
						<td align="center">
								<div class="radio m-b-0 m-l-5">
										<input type="radio" name="radio" id="radio1"
										value="option1" /> <label for="radio1"> </label>
								</div>
						</td>
						<!-- <td align="center">
							<button class="btn btn-xs btn-danger fa-input m-r-5"><span class="icon-stack">
							<i class="fa fa-automobile icon-stack-1x"></i>
							<i class="fa fa-map-marker icon-stack-2x"></i>
							</span>
							</button>
							<button class="btn btn-sm btn-success fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-sm btn-warning fa-input m-r-5">&#xf06e;</button>
							<button class="btn btn-sm btn-info fa-input m-r-5">&#xf046;</button>
						</td> -->
					</tr>
					
					
				</tbody>
			</table>		

					  </div>
					<div class="row">
					<div class="col-md-12 ph0">
                        <div class="col-md-6 m-t-15">
                        <!-- <p:commandLink class="btn btn-xs btn-primary waves-effect waves-light fa-input">
										<i class="fa fa-download"></i> PDF
						</p:commandLink>
						<p:commandLink class="btn btn-xs btn-success waves-effect waves-light fa-input m-l-10">
										<i class="fa fa-download"></i> Excel
						</p:commandLink> -->
                        </div>
                        <div class="col-md-6 text-right ph0">
                          <ul class="pagination pagination-split m">
                            <li> <a href="#"><i class="fa fa-angle-left"></i> Previous</a> </li>
                            <li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                            <li> <a href="#">1</a> </li>
                            <li class="active"> <a href="#">2</a> </li>
                            <li> <a href="#">3</a> </li>
                            <li> <a href="#">4</a> </li>
                            <li> <a href="#">5</a> </li>
                            <li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                            <li> <a href="#">Next <i class="fa fa-angle-right"></i></a> </li>
                          </ul>
                        </div>
                      </div>
					</div>	  
                     
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>	
                        </div>
                        </div>
						
						</div>	
						</div>
				
	</ui:define>
</ui:composition>