<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/pages/template/layout.xhtml">
	<ui:define name="content">
	<title>InfoTex | Vehicle Management System - Fuel Filling List</title>	
					<div class="row">
						<div class="col-sm-12">
						 <div class="clearfix">
                <div class="pull-left">
                  <h4 class="page-title">Vehicle Management System - Fuel Filling List</h4>
                </div>
                <div class="pull-right">
                  <ol class="breadcrumb mt text12 ph0">
                    <li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
                    <li><a href="#">#{msg['master']}</a></li>
                    <li class="active">Vehicle Management System - Fuel Filling List</li>
                  </ol>
                </div>
              </div>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
						
							<div class="panel panel-default">
                                   
                                    <div class="panel-body">
                                 	<div class="row">
										<div class="col-md-12">
											<div class="pull-right">
												<button class="btn btn-success waves-effect waves-light fa-input m-t-10 m-b-15">&#xf067;&nbsp;Add Coupan</button>
											</div>
										</div>                                 	
                                 	</div>
									<div class="row">
										<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="addlineone1" value="Vehicle No." />
											<p:inputText id="addlineone1" maxlength="150" class="form-control" />						
										</div>
										</div>	
										<div class="col-md-3">
										<div class="form-group">
											<p:outputLabel for="addlineone11" value="Driver name" />
											<p:inputText id="addlineone11" maxlength="150" class="form-control" />						
										</div>
										</div>						
										<div class="col-md-3">
										<label id="form:j_idt42" class="ui-outputlabel ui-widget">From Date</label>
									        <div class="form-group">
										         <div class="input-group">
										              <input type="text" class="form-control" placeholder="dd-mm-yyyy" id="datepicker-autoclose"/>
										              <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
										         </div>
									        </div>
										</div>
										<div class="col-md-3">
										<label id="form:j_idt42" class="ui-outputlabel ui-widget">To Date</label>
									        <div class="form-group">
										         <div class="input-group">
										              <input type="text" class="form-control" placeholder="dd-mm-yyyy" id="datepicker-autoclose"/>
										              <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
										         </div>
									        </div>
										</div>
										</div>
									<div class="row">
									<div class="col-md-3">
									</div>
									<div class="col-md-3">
									</div>
									<div class="col-md-3">
									</div>
									<div class="col-md-3 text-right">
										<button type="button" class="btn btn-cancel waves-effect waves-light fa-input m-r-10">&#xf12d;&nbsp;#{msg['clear']}</button>
										<button type="button" class="btn btn-info waves-effect waves-light fa-input">&#xf002;&nbsp;#{msg['search']}</button>
									</div>
								</div>	
								<hr></hr>
					 			<div class="clearfix"></div>
					 			<div class="col-lg-12 ph0">
          			<div class="portlet m-b-0">
            		<div class="panel-grey">
              		<h3 class="portlet-title m-t-5">Fuel Listing Details</h3>
              			<!-- <div class="portlet-widgets">
              				<button type="button" class="btn btn-info waves-effect waves-light fa-input m-r-15">&#xf067;&nbsp;#{msg['add']}</button>
              				<button type="button" class="btn btn-info waves-effect waves-light fa-input m-r-15">&#xf044;&nbsp;#{msg['edit']}</button>
							<button type="button" class="btn btn-info waves-effect waves-light fa-input m-r-15">&#xf06e;&nbsp;#{msg['view']}</button>
              			</div> -->
              			<div class="clearfix"></div>
            		</div>
            		<div id="bg-primary1" class="panel-collapse collapse in">
              		<div class="portlet-body p0">				
								<div class="row">
                    <div class="col-md-12">
                    
                      <div class="table-responsive ">
						
						<table class="table table-bordered">
				<thead>
					<tr>
						<th>#{msg['sl']}</th>
						<th>Coupan No.</th>
						<th>Date</th>
						<th>Vehicle</th>
						<th>Driver Name</th>
						<th>Variant</th>
						<th>#{msg['action']}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align="center">1</td>
						<td align="center">4738</td>
						<td align="center">26-Apr-2017</td>
						<td align="center">TN 64 A 5487</td>
						<td>Ganesh</td>
						<td>Petrol</td>
						<td align="center">
							<button class="btn btn-xs btn-primary fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-xs btn-info fa-input">&#xf06e;</button>
						</td>
					</tr>
					<tr>
						<td align="center">2</td>
						<td align="center">4738</td>
						<td align="center">22-Apr-2017</td>
						<td align="center">TN 64 A 9654</td>
						<td>Sumith</td>
						<td>Petrol</td>
						<td align="center">
							<button class="btn btn-xs btn-primary fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-xs btn-info fa-input">&#xf06e;</button>
						</td>
					</tr>
					<tr>
						<td align="center">3</td>
						<td align="center">4738</td>
						<td align="center">15-Apr-2017</td>
						<td align="center">TN 64 A 6547</td>
						<td>Arvind</td>
						<td>Petrol</td>
						<td align="center">
							<button class="btn btn-xs btn-primary fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-xs btn-info fa-input">&#xf06e;</button>
						</td>
					</tr>
					<tr>
						<td align="center">4</td>
						<td align="center">9864</td>
						<td align="center">15-Apr-2017</td>
						<td align="center">TN 99 A 3612</td>
						<td>Arvind</td>
						<td>Petrol</td>
						<td align="center">
							<button class="btn btn-xs btn-primary fa-input m-r-5">&#xf044;</button>
							<button class="btn btn-xs btn-info fa-input">&#xf06e;</button>
						</td>
					</tr>
				</tbody>
			</table>		

					  </div>
					<div class="row">
					<div class="col-md-12 ph0">
                        <div class="col-md-6 m-t-15">
                        <p:commandLink class="btn btn-xs btn-primary waves-effect waves-light fa-input">
										<i class="fa fa-download"></i> PDF
						</p:commandLink>
						<p:commandLink class="btn btn-xs btn-success waves-effect waves-light fa-input m-l-10">
										<i class="fa fa-download"></i> Excel
						</p:commandLink>
                        </div>
                        <div class="col-md-6 text-right ph0">
                          <ul class="pagination pagination-split m">
                            <li> <a href="#"><i class="fa fa-angle-left"></i> Previous</a> </li>
                            <li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                            <li> <a href="#">1</a> </li>
                            <li class="active"> <a href="#">2</a> </li>
                            <li> <a href="#">3</a> </li>
                            <li> <a href="#">4</a> </li>
                            <li> <a href="#">5</a> </li>
                            <li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                            <li> <a href="#">Next <i class="fa fa-angle-right"></i></a> </li>
                          </ul>
                        </div>
                      </div>
					</div>	  
                     
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>	
                        </div>
                        </div>
						
						</div>	
						</div>
				
	</ui:define>
</ui:composition>