<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

	<p:dialog modal="true" draggable="true" id="dlgBundles"
		styleClass="p-0 overlay-pop create-note-panel" widgetVar="dlgBundles"
		header="#{msg['bund_details']}">
		<div class="row label-form view-style">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['prod_variey_code']} / #{msg['name']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.productVarietyMaster.code} / #{stockOutwardBean.stockTransferItems.productVarietyMaster.name}"
						class="" />
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['purchase_order_number']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.purchaseOrder.poNumberPrefix}-#{stockOutwardBean.stockTransferItems.purchaseOrder.poNumber}"
						class="" />
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['uom']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.uomMaster.code}"
						class="" />
				</div>
			</div>
		</div>

		<div class="row label-form view-style">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['ordered_unit']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.orderedQty}" class="">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['already_dispatched_unit']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.dispatchedQty}"
						class="">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['current_dispatched_unit']}" />
					<h:outputText
						value="#{stockOutwardBean.stockTransferItems.currentDispatchedQty}"
						class="">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="form-group">
					<p:outputLabel value="#{msg['value']}" styleClass="fa-input" />
					<span class="dis-inlineblock"><i class="fa fa-inr m-r-5"></i>
						<h:outputText
							value="#{stockOutwardBean.stockTransferItems.itemNetTotal}"
							class="fa-input dis-inlineblock">
							<f:convertNumber pattern="#0.00" />
						</h:outputText></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive m-b-10">
					<p:dataTable id="bundlesTable" var="bundlesItem"
						rowKey="#{bundlesItem}" styleClass="report-table"
						value="#{stockOutwardBean.stockTransferItemsBundleListTemp}"
						emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx">
						<p:column headerText="#" styleClass="text-center width-4">
							<h:outputText value="#{idx+1}" />
						</p:column>
						<p:column headerText="#{msg['bundle_number']}"
							styleClass="text-right width-15">
							<h:outputText value="#{bundlesItem.bundleNumber}" />
						</p:column>
						<p:column headerText="#{msg['qty']}"
							styleClass="text-right width-15">
							<h:outputText value="#{bundlesItem.quantity}" />
						</p:column>
					</p:dataTable>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-right">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" class="btn bg-slate font-iconmoon"
					ajax="false">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{stockOutwardBean.submitBundles(stockOutwardBean.stockTransferItems)}"
					oncomplete="PF('dlgBundles').hide();" ajax="true" immediate="true">
				</p:commandButton>
			</div>
		</div>
	</p:dialog>
</ui:composition>
