<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Retail Sales -
			#{msg['create_stock_movement']}</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['retail_sales']} - #{msg['create_stock_movement']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['retail_procure']}</li>
						<li class="active">#{msg['retail_sales']} -
							#{msg['create_stock_movement']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info panel-bordered">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['create_stock_movement']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-10">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['d_n_p_office_code']} / #{msg['name']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<h:selectOneMenu id="dnpOffice"
												value="#{stockOutwardBean.stockTransfer.fromEntityMaster}"
												required="true"
												requiredMessage="#{msg['d_n_p_office_code']} / #{msg['name']} #{msg['required']}"
												validatorMessage="#{errorMap.msg(9904)}"
												class="form-control select2" converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{stockOutwardBean.dnpOfficeSet}"
													var="dnpOffice"
													itemLabel="#{dnpOffice.code} / #{dnpOffice.name}"
													itemValue="#{dnpOffice}" />
												<p:ajax event="change" onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													listener="#{stockOutwardBean.afterDNPSelect}"
													update="itemsTable dnpOfficeMsg warehouse purchaseOrders stockToName stockToGST stockToAddress stockFromName stockFromGST stockFromAddress" />
											</h:selectOneMenu>
										</div>
										<h:message for="dnpOffice" id="dnpOfficeMsg"
											class="validation-error-label" />
										<p:tooltip for="dnpOffice" value="#{errorMap.msg(9904)}" />
										<p:focus for="dnpOffice"
											rendered="#{stockOutwardBean.stockTransfer.fromEntityMaster==null}" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['shipping_to']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<h:selectOneMenu id="warehouse"
												value="#{stockOutwardBean.stockTransfer.toEntityMaster}"
												class="form-control select2" required="true"
												requiredMessage="#{msg['shipping_to']} #{msg['required']}"
												validatorMessage="#{errorMap.msg(9905)}"
												converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{stockOutwardBean.wareHouseSet}"
													var="warehouse"
													itemLabel="#{warehouse.code} / #{warehouse.name}"
													itemValue="#{warehouse}" />
												<p:ajax event="change" onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													listener="#{stockOutwardBean.afterShippingToSelect}"
													update="itemsTable warehouseMsg purchaseOrders stockToName stockToGST stockToAddress stockFromName stockFromGST stockFromAddress" />
											</h:selectOneMenu>
										</div>
										<h:message for="warehouse" id="warehouseMsg"
											class="validation-error-label" />
										<p:tooltip for="warehouse" value="#{errorMap.msg(9905)}" />
										<p:focus for="warehouse"
											rendered="#{stockOutwardBean.stockTransfer.toEntityMaster==null}" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group retail">
										<p:outputLabel value="#{msg['purchase_order_number']}" />
										<span class="mand-red">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-cart5"></i></span>
											<p:selectCheckboxMenu id="purchaseOrders" appendTo="@this"
												class="form-control"
												required="#{stockOutwardBean.stockTransfer.purchaseOrderList.size()==0}"
												requiredMessage="#{msg['purchase_order_number']} #{msg['required']}"
												validatorMessage="#{errorMap.msg(9906)}"
												value="#{stockOutwardBean.stockTransfer.purchaseOrderList}"
												label="(#{stockOutwardBean.stockTransfer.purchaseOrderList.size()}) Purchase Order(s) selected"
												converter="#{entityConverter}" filter="true"
												filterMatchMode="startsWith">

												<f:selectItems var="po" itemValue="#{po}"
													itemLabel="#{po.poNumberPrefix}#{po.poNumber}"
													value="#{stockOutwardBean.purchaseOrderList}" />

												<p:ajax event="change"
													update="purchaseOrders purchaseOrdersMsg itemsTable"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													listener="#{stockOutwardBean.afterPurchaseOrderSelect}" />
												<p:ajax event="toggleSelect"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													update="purchaseOrders purchaseOrdersMsg itemsTable"
													listener="#{stockOutwardBean.afterPurchaseOrderSelect}" />
											</p:selectCheckboxMenu>
										</div>
										<h:message for="purchaseOrders" id="purchaseOrdersMsg"
											class="validation-error-label" />
										<p:tooltip for="purchaseOrders" value="#{errorMap.msg(9906)}" />
										<p:focus for="purchaseOrders"
											rendered="#{stockOutwardBean.stockTransfer.purchaseOrderList.size()==0}" />
									</div>
								</div>
								<div class="col-sm-3 col-md-3 text-right">
								<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
								<p:commandButton update="growls"
											onclick="PF('statusDialog').show()"
											action="#{stockOutwardBean.getStockOutwardPage}"
											immediate="true" value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon m-r-5">
										</p:commandButton>
										<p:commandButton validateClient="true" update="itemsTable"
											immediate="true" onclick="PF('statusDialog').show()"
											action="#{stockOutwardBean.generateData}"
											value="&#xed6e;&nbsp;#{msg['generate']}"
											title="#{msg['generate']}"
											class="btn bg-success heading-btn  font-iconmoon m-r-0">
										</p:commandButton>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel m-b-0">
						<div class="panel-body">
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['stock_from_details']}</span>
									</h5>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['society_code']} / #{msg['name']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<p:inputText id="stockFromName" styleClass="form-control"
														disabled="true" value="#{stockOutwardBean.stockFromName}" />
												</div>
											</div>
											<div class="form-group">
												<p:outputLabel value="#{msg['gst_no']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText id="stockFromGST" styleClass="form-control"
														disabled="true" value="#{stockOutwardBean.stockFromGST}" />
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['soc_add']}" />
												<h:inputTextarea rows="10" cols="20"
													class="form-control m-t-5" id="stockFromAddress"
													disabled="true"
													value="#{languageBean.localeCode eq 'ta_IN' ? stockOutwardBean.stockFromAddress[1]:stockOutwardBean.stockFromAddress[0]}"
													style="height: 95px;"></h:inputTextarea>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['stock_to_details']}</span>
									</h5>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['product_warehouse_code']} / #{msg['name']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:inputText id="stockToName" styleClass="form-control"
														disabled="true" value="#{stockOutwardBean.stockToName}" />
												</div>
											</div>
											<div class="form-group">
												<p:outputLabel value="#{msg['gst_no']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText id="stockToGST" styleClass="form-control"
														disabled="true" value="#{stockOutwardBean.stockToGST}" />
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['product_warehouse_address']}" />
												<h:inputTextarea rows="10" cols="20"
													class="form-control m-t-5" id="stockToAddress"
													disabled="true"
													value="#{languageBean.localeCode eq 'ta_IN' ? stockOutwardBean.stockToAddress[1]:stockOutwardBean.stockToAddress[0]}"
													style="height: 95px;"></h:inputTextarea>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="panel-body p-0">
							<div class="panel-heading">
								<h5 class="panel-title" style="display: inline-block;">
									<i class="icon-grid6 position-left"></i>#{msg['pdt_wise_details']}
								</h5>
								<div style="display: inline-block; float: right" class="m-b-5">

									<input type="button"
										value="&#xea6d;&nbsp;#{msg['add_products']}"
										data-toggle="modal" data-target="#bundleDetails"
										title="#{msg['bund_details']}"
										class="btn bg-primary heading-btn  font-iconmoon" />
								</div>
							</div>
							<div class="table-responsive cust-table">
								<p:dataTable id="itemsTable" var="item" class="table"
									rowKey="#{item}"
									value="#{stockOutwardBean.stockTransfer.stockTransferItemsList}"
									emptyMessage="No records found" rowIndexVar="idx">
									<p:column headerText="#" style="text-align: center; width: 6%;">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}">
										<h:outputText
											value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
									</p:column>
									<p:column class="text-center" headerText="#{msg['purchase_order_number']}">
										<h:outputText
											value="#{item.purchaseOrder.poNumberPrefix}-#{item.purchaseOrder.poNumber}" />
									</p:column>
									<p:column class="text-center" headerText="#{msg['uom']}">
										<h:outputText value="#{item.uomMaster.code}" />
									</p:column>
									<p:column class="text-center" headerText="#{msg['ordered_unit']}">
										<h:outputText value="#{item.orderedQty}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>
									<p:column class="text-center" headerText="#{msg['already_dispatched_unit']}">
										<h:outputText value="#{item.dispatchedQty}">
											<f:convertNumber pattern="#0" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['current_dispatched_unit']}">
										<p:inputText styleClass="form-control text-center"
											value="#{item.currentDispatchedQty}" maxlength="10">
											<p:ajax event="keyup"
												listener="#{stockOutwardBean.calculateTotalValues}"
												update="totalCurrentDispatchedQty totalItemNetTotal itemNetTotal growls" />
											<f:convertNumber pattern="#0" />
										</p:inputText>
									</p:column>
									<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
										styleClass="fa-input text-right">
										<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
											class="text-right">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['bund_details']}"
										styleClass="text-center">


										<input type="button" value="&#xea18;"
											class="btn bg-info font-iconmoon btn-xs" data-toggle="modal"
											data-target="#qualitycheck" />

									</p:column>
									<p:columnGroup type="footer"
										rendered="#{stockOutwardBean.stockTransfer.stockTransferItemsList !=null and stockOutwardBean.stockTransfer.stockTransferItemsList.size() != 0}">
										<p:row>
											<p:column colspan="4" footerText="Total" />
											<p:column>
												<f:facet name="footer">
													<h:outputText value="#{stockOutwardBean.totalOrderedQty}"
														class="">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column>
												<f:facet name="footer">
													<h:outputText
														value="#{stockOutwardBean.totalDispatchedQty}" class="">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column>
												<f:facet name="footer">
													<h:outputText id="totalCurrentDispatchedQty"
														value="#{stockOutwardBean.totalCurrentDispatchedQty}"
														class="">
														<f:convertNumber pattern="#0" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column>
												<f:facet name="footer">
													<h:outputText id="totalItemNetTotal"
														value="#{stockOutwardBean.totalItemNetTotal}" class="">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column>
												<f:facet name="footer">

												</f:facet>
											</p:column>
										</p:row>
									</p:columnGroup>
								</p:dataTable>
							</div>
						</div>
						<div class="panel-body">
							<h5 class="bord_bot m-t-0">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bund_details']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-price-tags"></i></span>
											<p:inputText styleClass="form-control" disabled="true"
												id="totalBundles"
												value="#{stockOutwardBean.stockTransfer.totalBundles}" />
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<p:inputText id="bundleNumbers" disabled="true"
											styleClass="form-control"
											value="#{stockOutwardBean.stockTransfer.bundleNumbers}" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-balance"></i></span>
											<p:inputText id="bundleWeight" maxlength="10"
												class="form-control"
												value="#{stockOutwardBean.stockTransfer.bundleWeight}" />
										</div>
									</div>
								</div>
							</div>
							<p:remoteCommand name="updateBundleDetails"
								update="totalBundles bundleNumbers" />

							<h5 class="bord_bot">
								<i class="fa fa-th-large m-r-5 m-t-0"></i><span
									class="iform-title">#{msg['trans_details']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_ser_type']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-car"></i></span>
											<h:selectOneMenu id="transportType"
												value="#{stockOutwardBean.selectedTransportTypeMaster}"
												class="form-control select2" converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems
													value="#{stockOutwardBean.transportTypeMasterList}"
													var="transportType"
													itemLabel="#{transportType.code} / #{transportType.name}"
													itemValue="#{transportType}" />
												<p:ajax event="change"
													listener="#{stockOutwardBean.loadTransportByTranportType}"
													update="transport" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_ser_name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-car"></i></span>
											<h:selectOneMenu id="transport"
												value="#{stockOutwardBean.stockTransfer.transportMaster}"
												class="form-control select2" converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems
													value="#{stockOutwardBean.transportMasterList}"
													var="transport"
													itemLabel="#{transport.code} / #{transport.name}"
													itemValue="#{transport}" />

											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['waybill_available']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<h:selectOneMenu id="waybillAvailable"
												value="#{stockOutwardBean.stockTransfer.waybillAvailable}"
												class="form-control select2" converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{stockOutwardBean.yesOrNoList}"
													var="yesOrNo" itemLabel="#{yesOrNo.text}"
													itemValue="#{yesOrNo.value}" />

												<p:ajax event="change" update="waybillNo" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['waybill_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-certificate"></i></span>
											<p:inputText id="waybillNo" maxlength="10"
												disabled="#{stockOutwardBean.stockTransfer.waybillAvailable==null || !stockOutwardBean.stockTransfer.waybillAvailable}"
												class="form-control"
												value="#{stockOutwardBean.stockTransfer.waybillNumber}" />
										</div>
									</div>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['transport_charge_available']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<h:selectOneMenu id="transportChargeAvailable"
												value="#{stockOutwardBean.stockTransfer.transportChargeAvailable}"
												class="form-control select2" converter="#{entityConverter}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{stockOutwardBean.yesOrNoList}"
													var="yesOrNo" itemLabel="#{yesOrNo.text}"
													itemValue="#{yesOrNo.value}" />

												<p:ajax event="change"
													update="transportChargeType transportChargeAmount" />
											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_charge_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-menu6"></i></span>
											<h:selectOneMenu id="transportChargeType"
												value="#{stockOutwardBean.stockTransfer.transportChargeType}"
												class="form-control select2"
												disabled="#{stockOutwardBean.stockTransfer.transportChargeAvailable==null || !stockOutwardBean.stockTransfer.transportChargeAvailable}">

												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true" />
												<f:selectItems value="#{stockOutwardBean.payToPayList}"
													var="val" itemLabel="#{val}" itemValue="#{val}" />

											</h:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['trans_charge_amt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
											<p:inputText id="transportChargeAmount" maxlength="10"
												class="form-control"
												value="#{stockOutwardBean.stockTransfer.transportChargeAmount}"
												disabled="#{stockOutwardBean.stockTransfer.transportChargeAvailable==null || !stockOutwardBean.stockTransfer.transportChargeAvailable}" />
										</div>
									</div>
								</div>
							</div>
							<div class="row m-t-20">
								<div class="col-lg-12 text-right">
									<div class="form-group">

										<h:commandButton update="growls"
											onclick="PF('statusDialog').show()"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											action="#{stockOutwardBean.getStockOutwardPage}"
											immediate="true" value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="Cancel"
											class="btn bg-slate heading-btn  font-iconmoon m-r-5">
										</h:commandButton>

										<h:commandButton update="growls"
											rendered="#{stockOutwardBean.stockTransfer.id==null}"
											onclick="PF('statusDialog').show()"
											action="#{stockOutwardBean.submit('save')}"
											value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-primary heading-btn  font-iconmoon m-r-0">
										</h:commandButton>
										&nbsp;

										<h:commandButton update="growls"
											rendered="#{stockOutwardBean.stockTransfer.id!=null}"
											onclick="PF('statusDialog').show()"
											action="#{stockOutwardBean.submit('save')}"
											value="&#xea0e;&nbsp;#{msg['update']}" title="#{msg['save']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-primary heading-btn  font-iconmoon m-r-0">
										</h:commandButton>
										&nbsp;

										<h:commandButton update="growls" title="#{msg['submit']}"
											onclick="PF('statusDialog').show()"
											action="#{stockOutwardBean.submit('submit')}"
											value="&#xed6e;&nbsp;#{msg['submit']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()" immediate="true"
											class="btn bg-success heading-btn font-iconmoon m-r-0">
										</h:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>

		<!-- Quality Check modal -->
		<div id="qualitycheck" class="modal fade">
			<div class="modal-dialog modal-lg-cust2">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['at_num_wise_product_inward_dlt']}</h6>
					</div>
					<div class="modal-body">
						<div class="row label-form view-style">
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_variey_code_name']}" />
									<h:outputText value="MSS5 / ANGAVASTIRAM SALEM WOVEN SILK" class="" />
								</div>
							</div>
							<!-- <div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['purchase_order_number']}" />
									<h:outputText value="PCS" class="" />
								</div>
							</div> -->
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['u_o_m']}" />
									<h:outputText value="PCS" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['ordered_unit']}" />
									<h:outputText value="200" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['already_dispatched_qty']}" />
									<h:outputText value="0" class="" />
								</div>
							</div>
						</div>
						<div class="row label-form view-style">
							
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['current_dispatched_unit']}" />
									<h:outputText value="12" class="" />
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="fa-input"
										value="#{msg['value']}&nbsp;( &#xf156; )" />
									<h:outputText value="7200" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_no_bund']}" />
									<h:outputText value="250" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bun_nums']}" />
									<h:outputText value="20, 21, 22" class="" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="panel m-b-0">
								<div class="row">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<div class=" table-responsive">
													<div id="table-scroll" class="cust-tab2 table-scroll">
														<div id="faux-table2" class="faux-table" aria="hidden"></div>
														<div class="table-wrap-fst-pop">
															<table id="main-table2" class="main-table cust-table">
																<thead>
																	<tr>
																		<th class="text-center"><p:outputLabel value="#" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['purchase_order_number']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['at_no']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['unit']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['value']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['bun_num']}" /></th> <!-- purchase_order_number -->
																		
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073456</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>

																		<td align="center">3</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">6</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073478</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">7</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">8</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">9</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">10</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073468</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>
																	<tr>
																		<td align="center">11</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073470</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																	</tr>	
																	<tr>
																		<td align="center">12</td>
																		<td align="center">981213-SQY17DEC-34-66</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073474</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td class="text-center">21</td>
																		
																	</tr>

																</tbody>
																<tfoot>
																	<tr>
																		<td align="right" colspan="3"><strong>TOTAL</strong></td>
																		<td class="text-right">12</td>
																		<td class="text-right">7200</td>
																		<td class="text-right"></td>
																	</tr>
																</tfoot>

															</table>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /modal with invoice -->

		<!-- bundle details pop-up start -->

		<div id="bundleDetails" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['add_bun_num_pro_variety']}</h6>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="panel-body  p-b-0 p-t-0">
								<div class="row">
									<div class="row label-form">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['enter_bund_num']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-bag"></i></span>
												<p:inputText value="12" styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['prod_variey_code']} / #{msg['name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span> <select name="select"
													class="form-control">
													<option value="opt1">Select</option>
													<option value="opt2">SPO6/SAREES
														PARAMAKUDI-BANARAS 6YRD</option>
													<option value="opt3">SOMB/SAREES ORGANIC COT
														NATURAL DYE</option>
													<option value="opt4">BLD2/BEDSHEET &amp; TABLE
														CLOTH B.SHT KALLIDAIKURICHI DSN50X90</option>
												</select>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['purchase_order_number']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<select name="select" class="form-control">
													<option value="opt1">Select</option>
													<option value="opt2">981213-SQY17DEC-34-66</option>
													<option value="opt3">981213-SQY17DEC-34-67</option>
													<option value="opt4">981213-SQY17DEC-34-68</option>
												</select>
											</div>
										</div>
									</div>
									<h5 class="bord_bot m-t-10">
										<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['qty_dtl']}</span>
									</h5>
									<div class="row label-form">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['ord_qty']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-price-tags"></i></span>
												<p:inputText value="100"
													styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['already_dispatched_qty']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText value="80"
													styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['current_dispatched_unit']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText value="80"
													styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										
									</div>
									<div class="row label-form m-t-10 m-b-10">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['already_bundle_quantity']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText value="100"
													styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['current_bundle_Quantity']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText value="100"
													styleClass="form-control text-right"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="row label-form">
												<div class="col-lg-8 col-md-8 col-sm-12">
													<p:outputLabel value="#{msg['bar_code_qr_ref_num']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="fa fa-barcode"></i></span>
														<p:inputText value="800"
															styleClass="form-control text-right"></p:inputText>
													</div>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-12 m-b-10 text-right"
													style="margin-top: 27px;">
													<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
														title="#{msg['add']}"
														class="btn bg-success heading-btn  font-iconmoon">
													</p:commandButton>

												</div>

											</div>
										</div>
									</div>	
								</div>
							</div>
							<div class="panel m-b-0">
								<div class="row">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<h5 class="popup-table-title">
													<i class="fa fa-th-large m-r-5"></i><span
														class="iform-title">#{msg['at_num_wise_bun_details']}</span>
												</h5>
												<div class=" table-responsive">
													<div id="table-scroll" class="cust-tab2 table-scroll">
														<div id="faux-table4" class="faux-table" aria="hidden"></div>
														<div class="table-wrap-fst-pop">
															<table id="main-table4" class="main-table cust-table">
																<thead>
																	<tr>
																		<th class="text-center"><p:outputLabel value="#" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['uom']}" /></th>

																		<th class="text-center"><p:outputLabel
																				value="#{msg['at_no']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['purchase_order_number']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['bundle_number']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['unit']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['value']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['action']}" /></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073456</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>

																		<td align="center">3</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073459</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">6</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073461</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">7</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">8</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">9</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">10</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073465</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">11</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073467</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073467</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>

																</tbody>
															<tfoot>
																	<tr>
																		<td align="right" colspan="6"><strong>TOTAL</strong></td>
																		<td class="text-right">12</td>
																		<td class="text-right">7200</td>
																		<td class="text-right"></td>

																	</tr>
																</tfoot>

															</table>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-lg-12 text-right m-b-10 m-t-10">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" onclick="#"
											class="btn bg-slate font-iconmoon m-r-0"
											title="#{msg['cancel']}">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
											class="btn bg-primary heading-btn  font-iconmoon">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xed6e;&nbsp;#{msg['submit']}" title="Preview"
											class="btn bg-success heading-btn  font-iconmoon m-r-5">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<!-- bundle details pop-up end -->

		<ui:include src="bundle_details_edit.xhtml" />


		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table2");
				var mainTable = document.getElementById("main-table2");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table3");
				var mainTable = document.getElementById("main-table3");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table4");
				var mainTable = document.getElementById("main-table4");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		
	</ui:define>
</ui:composition>
