<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{ecommRateMasterBean}"></ui:param>
		<title>InfoTex | #{bean.action eq 'ADD' ?
			msg['create_ecommerce_rate_master'] :
			msg['edit_ecommerce_rate_master']}</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{bean.action eq 'ADD' ?
						msg['create_ecommerce_rate_master'] :
						msg['edit_ecommerce_rate_master']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['ecommerce']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{bean.action eq 'ADD' ?
							msg['create_ecommerce_rate_master'] :
							msg['edit_ecommerce_rate_master']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content page-scroll-hp no-padding-bottom">
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['ecommerce_rate_master']} <span class="pull-right text-13 ">(<span
								class="text-danger">*</span> #{msg['mand_fields']})
							</span>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{bean.action
									eq 'ADD' ? msg['create_ecommerce_rate_master'] :
									msg['edit_ecommerce_rate_master']}</span>
							</h5>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['category_code']} / #{msg['name']}" />
										<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="categoryCodeId" update="@this"
											value="#{bean.ecommRateMaster.categoryCode}"
											styleClass="form-control"
											disabled="#{bean.disablemodifyTime}"
											converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" noSelectionOption="true" />
											<f:selectItems value="#{bean.productCategoryList}" var="catg"
												itemLabel="#{catg.productCatCode} / #{catg.productCatName}"
												itemValue="#{catg.productCatCode}" />
											<p:ajax listener="#{bean.getCategoryMasterList}"
												></p:ajax>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['price_range_from']}" />
										<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											 id="priceFromId"
											value="#{bean.ecommRateMaster.priceRangeFrom}" maxlength="8"
											style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['price_range_to']}" />
										<span class="mand-red">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											 id="priceToId"
											value="#{bean.ecommRateMaster.priceRangeTo}" maxlength="8"
											style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['courier_charge']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											 id="courierChargeId"
											value="#{bean.ecommRateMaster.courierCharge}" maxlength="8"
											style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['courier_tax_percent']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											id="courierChargeTaxId"
											value="#{bean.ecommRateMaster.courierTaxPercent}"
											maxlength="8" style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['photo_charge']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											 id="photoChargeId"
											value="#{bean.ecommRateMaster.photoCharge}" maxlength="8"
											style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['photo_tax_percent']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											id="photoTaxPercentId" value="#{bean.ecommRateMaster.photoTaxPercent}" 
											maxlength="8"
											style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bank_charge_percentage']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											id="bankChargePercentageId"
											value="#{bean.ecommRateMaster.bankChargePercentage}"
											maxlength="8" style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bank_charge_tax_percent']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											id="bankChargeTaxPercentId"
											value="#{bean.ecommRateMaster.bankChargeTaxPercent}"
											maxlength="8" style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['extra_charges']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText class="form-control"
											id="otherChargesId"
											value="#{bean.ecommRateMaster.otherCharges}"
											maxlength="8" style="text-align:right">
											<p:keyFilter regEx="/[0-9.]/i"></p:keyFilter>
											<f:convertNumber pattern="#0.00" />
										</p:inputText>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row label-form">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right" id="btnalign">
							<div class="form-group">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									action="#{bean.showEcomRateMasterPageAction}"
									onstart="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();" immediate="true"
									class="btn bg-slate font-iconmoon m-l-0"
									title="#{msg['cancel']}">
								</p:commandButton>

								<p:commandButton value="&#xed6e; #{msg['submit']}"
									title="#{msg['submit']}" binding="#{ecommconfig}"
									update="growls saveConfirmId" style="margin-right: 35px;"
									styleClass="btn btn-sm bg-success font-iconmoon"
									action="#{bean.checkMandatoryValidation}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<p:dialog header="#{msg['confirm_save']}" draggable="false" id="saveConfirmId"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="50%" widgetVar="clearConfirmDialog"
			showEffect="fade" hideEffect="fade" closeOnEscape="true"
			resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['save_info']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['save_no']}"
					title="#{msg['save_no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('clearConfirmDialog').hide()" />
				<p:commandButton ajax="false" immediate="true"
					update="growls"
					styleClass="btn bg-success heading-btn font-iconmoon"
					title="#{msg['save_yes']}" value="&#xed6e;&nbsp;#{msg['save_yes']}"
					action="#{bean.saveOrUpdate}"
					oncomplete="PF('clearConfirmDialog').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>
