<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{ecommStockAcknowledgementBean.redirectSVInProgressPage}" />
		</f:metadata>
		<title>InfoTex | Create Stock Acknowledgement</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_stock_acknlowledgement']}</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>Ecommerce Warehouse</li>
						<li class="active">#{msg['create_stock_acknlowledgement']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="searchPanel">
			<div class="content pg-scroll-panel-2 no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['stock_movement_details']}
								</a> <span class="pull-right text-13 m-r-20">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>

							</h6>
						</div>

						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<div class="row label-form ">
									<p:outputPanel id='stockInwardfromdropdown'
										rendered="#{ecommStockAcknowledgementBean.pageaction eq 'ADD'}">

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['from_entity']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-exit2"></i></span>
													<h:selectOneMenu id="frmEntity"
														required="#{not empty param[submitBtn.clientId] or not empty param[searchBtn.clientId] or not empty param[saveBtn.clientId]}"
														requiredMessage="#{msg['from_entity_req']}"
														class="form-control select2"
														converter="#{entityConverter}"
														value="#{ecommStockAcknowledgementBean.selectedFromEntity}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{ecommStockAcknowledgementBean.fromEntityList}"
															var="val" itemLabel="#{val.code} / #{val.name}"
															itemValue="#{val}" />
														<p:ajax event="change" update="searchPanel"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{ecommStockAcknowledgementBean.onChangeFromEntity}"></p:ajax>
													</h:selectOneMenu>
												</div>
												<p:focus for="frmEntity" />
												<h:message for="frmEntity" id="ff"
													class="validation-error-label" />
												<p:focus for="frmEntity" />
											</div>
										</div>


										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['stok_in_from']}" />
												<span class="text-danger">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-exit2"></i></span>
													<h:selectOneMenu id="ddlStockTransferFrom"
														required="#{not empty param[submitBtn.clientId] or not empty param[searchBtn.clientId] or not empty param[saveBtn.clientId]}"
														requiredMessage="#{msg['stok_in_from_req']}"
														class="form-control select2"
														converter="#{entityConverter}"
														value="#{ecommStockAcknowledgementBean.selectedStockTransfer}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{ecommStockAcknowledgementBean.stockMovementNumberList}"
															var="val" itemLabel="#{val.referenceNumber}"
															itemValue="#{val}" />
													</h:selectOneMenu>
												</div>
												<p:focus for="ddlStockTransferFrom" />
												<h:message for="ddlStockTransferFrom"
													id="ddlStockTransferFromMsg" class="validation-error-label" />
											</div>
										</div>
									</p:outputPanel>
									
									<p:outputPanel id='stockInwardfromoutputvalue'
										rendered="#{ecommStockAcknowledgementBean.pageaction eq 'EDIT'}">
										<div class="label-form view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['stok_in_from']}" />
													<h:outputText
														value="#{ecommStockAcknowledgementBean.stockTransfer.supplierMaster.code}
													#{ecommStockAcknowledgementBean.stockTransfer.supplierMaster.name!=null?'/':''}
													#{ecommStockAcknowledgementBean.stockTransfer.supplierMaster.name}"
														class="" />
												</div>
											</div>
										</div>
									</p:outputPanel>
									
									<ui:remove>
										<p:outputPanel id='stockmovementnumberdropdown'
											rendered="#{ecommStockAcknowledgementBean.pageaction eq 'ADD'}">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['stock_movement_number']} / #{msg['date']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<h:selectOneMenu id="stockTransfer"
															value="#{ecommStockAcknowledgementBean.selectedStockMovementObj}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[submitBtn.clientId] or not empty param[searchBtn.clientId] or not empty param[saveBtn.clientId]}"
															requiredMessage="#{msg['stock_movement_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{ecommStockAcknowledgementBean.stockTransferMovementList}"
																var="stockTransfer"
																itemLabel="#{stockTransfer.referenceNumber} / #{ecommStockAcknowledgementBean.dateFormateChanged(stockTransfer.dateTransferred)}"
																itemValue="#{stockTransfer}"></f:selectItems>
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																update="searchPanel stockTransferMsg" />
														</h:selectOneMenu>
													</div>
													<h:message for="stockTransfer" id="stockTransferMsg"
														class="validation-error-label" />
													<p:tooltip for="stockTransfer" value="" />
												</div>
											</div>
										</p:outputPanel>
									</ui:remove>

									<p:outputPanel id='stockmovementnumberdropdown'
										rendered="#{ecommStockAcknowledgementBean.pageaction eq 'ADD'}">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['stock_movement_number']} / #{msg['date']}" />

												<h:inputText id="stockTransfer"  styleClass="form-control" disabled="true"
													value="#{ecommStockAcknowledgementBean.selectedStockTransfer.referenceNumber} / #{ecommStockAcknowledgementBean.dateFormateChanged(ecommStockAcknowledgementBean.selectedStockTransfer.dateTransferred)} ">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
														</h:inputText>

												<h:message for="stockTransfer" id="stockTransferMsg"
													class="validation-error-label" />
												<p:tooltip for="stockTransfer" value="" />
											</div>
										</div>
									</p:outputPanel>

									<p:outputPanel id='stockInwardreferencevalue'
										rendered="#{ecommStockAcknowledgementBean.pageaction eq 'EDIT'}">
										<div class="label-form view-style">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['stock_movement_number']} / #{msg['date']}" />

													<h:outputText
														value="#{ecommStockAcknowledgementBean.stockTransfer.referenceNumber}
													#{ecommStockAcknowledgementBean.stockTransfer.dateReceived!=null?'/':''}
													#{ecommStockAcknowledgementBean.dateFormateChanged(ecommStockAcknowledgementBean.stockTransfer.dateReceived)}"
														class="" />
												</div>

											</div>
										</div>
									</p:outputPanel>
								</div>
								<p:outputPanel
									rendered="#{ecommStockAcknowledgementBean.selectedStockMovementObj!=null and ecommStockAcknowledgementBean.selectedStockMovementObj.invoiceNumber!=null}">
									<div class="row label-form view-style">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['purchase_order_number']}" />
												<h:outputText
													value="#{ecommStockAcknowledgementBean.selectedStockMovementObj.purchaseInvoiceNumber}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['invoice_num']}" />
												<h:outputText
													value="#{ecommStockAcknowledgementBean.selectedStockMovementObj.invoiceNumber}"
													class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['invoice_date']}" />
												<h:outputText
													value="#{ecommStockAcknowledgementBean.selectedStockMovementObj.invoiceDate}"
													class="">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>
								</p:outputPanel>
								
								<div class="row">
									<div class="col-lg-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" class="btn bg-slate font-iconmoon"
											title="#{msg['cancel']}"
											rendered="#{ecommStockAcknowledgementBean.pageaction eq 'ADD'}"
											action="#{ecommStockAcknowledgementBean.stockAcknowledgementBeanListPage}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()">
										</p:commandButton>
										<p:commandButton id="btnSearch" update="growls searchPanel"
											disabled="#{ecommStockAcknowledgementBean.disableBtnSearch}"
											value="&#xe98e;&nbsp;#{msg['search']}"
											title="#{msg['search']}" binding="#{searchBtn}"
											rendered="#{ecommStockAcknowledgementBean.pageaction eq 'ADD'}"
											class="btn bg-info heading-btn  font-iconmoon"
											action="#{ecommStockAcknowledgementBean.searchSocietyStockMovement}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->


				<div class="panel panel-info m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
						</h5>
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="table-responsive">
									<p:outputPanel id="itemTablePanel">
										<p:dataTable
											value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList}"
											var="item" id="itemListTable" rowIndexVar="index"
											styleClass="report-table custom-input-width"
											emptyMessage="#{msg['no_record_found']}">
											<p:column headerText="#"
												styleClass="text-center sno-ovrflw-4">
												<h:outputText value="#{index +1 }" />
											</p:column>
											<p:column
												headerText="#{msg['prod_variey_code']} / #{msg['name']}"
												styleClass="width-8">
												<h:outputText
													value="#{item.productVarietyMaster.code} / #{(item.productVarietyMaster.name).length() gt 8 ? fn:substring({item.productVarietyMaster.name}, 1, 3).concat('...'):(item.productVarietyMaster.name)}"
													title="#{item.productVarietyMaster.code}/ #{item.productVarietyMaster.name}" />
											</p:column>
											<p:column headerText="#{msg['uom']}"
												styleClass="width-7 text-center">
												<h:outputText value="#{item.uomMaster.name}" />
											</p:column>

											<ui:remove>
												<p:column headerText="#{msg['hsn_code']}"
													styleClass="width-6">
													<h:outputText value="#{item.productVarietyMaster.hsnCode}" />
												</p:column>
											</ui:remove>
											<p:column headerText="#{msg['unit_rate']} (&#xf156;)"
												styleClass="fa-input width-9 text-right">
												<h:outputText value="#{item.unitRate}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['already_dispatched_unit']}"
												styleClass="width-6 text-right">
												<h:outputText value="#{item.dispatchedQty}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['recd_unit']}"
												styleClass="width-6 text-right">
												<p:inputText value="#{item.receivedQty}" id="receivedQty">
													<p:ajax event="blur" process="@this" partialSubmit="true"
														update="receivedQty itemTablePanel growls"
														listener="#{ecommStockAcknowledgementBean.validateCurrentReceivedQty(item)}"></p:ajax>
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</p:inputText>
											</p:column>

											<p:column headerText="#{msg['total_rate']} (&#xf156;)"
												styleClass="fa-input width-9 text-right">
												<h:outputText value="#{item.unitRate * item.receivedQty}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
												</h:outputText>
											</p:column>

											<p:columnGroup type="footer">
												<p:row>
												<p:column styleClass="text-right width-6"
														footerText="" />
														<p:column styleClass="text-right width-6"
														footerText="" />
															
													<p:column styleClass="text-right width-6"
														footerText="#{msg['tot']}" />
														
															<p:column styleClass="text-right width-6">
														<f:facet name="footer">
															<h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->(t.unitRate)).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText>
														</f:facet>
													</p:column>
													
													<p:column styleClass="text-right width-6">
														<f:facet name="footer">
															<h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->(t.dispatchedQty)).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText>
														</f:facet>
													</p:column>
													
												<p:column styleClass="text-right width-6">
														<f:facet name="footer">
															<h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->(t.receivedQty)).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText>
														</f:facet>
													</p:column>
														
														
													<p:column styleClass="text-right width-6">
														<f:facet name="footer">
															<h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->(t.unitRate * t.receivedQty)).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText>
														</f:facet>
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
										<table class="report-table">
											<tfoot>
												<tr class="material-table fa-input">
													<td align="right" colspan="10"><strong>#{msg['mat_val']}(#{msg['without_tax']})(&#xf156;):</strong></td>
													<td align="right"><b><h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->(t.purchasePrice * t.receivedQty)).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></b></td>
												</tr>
												<tr class="material-table fa-input">
													<td align="right" colspan="10"><strong>#{msg['cgst']}(&#xf156;)</strong></td>
													<td align="right"><b><h:outputText
																value="#{ecommStockAcknowledgementBean.getCgstValue()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText> </b></td>
												</tr>
												<tr class="material-table fa-input">
													<td align="right" colspan="10"><strong>#{msg['sgst']}(&#xf156;)</strong></td>
													<td align="right"><b><h:outputText
																value="#{ecommStockAcknowledgementBean.getSgstValue()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></b></td>
												</tr>
												<tr class="material-table fa-input">
													<td align="right" colspan="10"><strong>#{msg['net_total']}(&#xf156;)</strong></td>
													<td align="right"><b><h:outputText
																value="#{ecommStockAcknowledgementBean.stockTransfer.stockTransferItemsList.stream().map(t->t.itemNetTotal).sum()}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></b></td>
												</tr>
											</tfoot>
										</table>
									</p:outputPanel>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['bundle_dispatched']}</span>
								</h5>
								<div class="row label-form">
									<ui:remove>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_no_bund']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:inputText maxlength="30" id="totalBundlesTransfered"
														class="form-control"
														value="#{ecommStockAcknowledgementBean.transferredBundleNumbers}"
														disabled="true" />
												</div>
											</div>
										</div>
									</ui:remove>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_bund_wt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" id="bundleWeightTransfered"
													class="form-control"
													value="#{ecommStockAcknowledgementBean.stockTransfer.bundleWeight}"
													disabled="true" />
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bundle_number']}" />
											<p:inputText id="bundleNumbersTransfered" disabled="true"
												styleClass="form-control"
												value="#{ecommStockAcknowledgementBean.stockTransfer.bundleNumbers}" />
										</div>
									</div>
								</div>
							</div>


							<div class="col-lg-6 col-md-6 col-sm-6">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['bundle_received']}</span>
								</h5>
								<div class="row label-form">
									<ui:remove>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['tot_no_bund']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:inputText id="receivedTotalBundles" maxlength="30"
														class="form-control text-right"
														value="#{ecommStockAcknowledgementBean.stockTransfer.totalBundles}"
														disabled="true" />
												</div>
											</div>
										</div>
									</ui:remove>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_bund_wt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" class="form-control text-right"
													value="#{ecommStockAcknowledgementBean.stockTransfer.bundleWeight}" />
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bundle_number']}" />
											<p:inputText id="receivedBundleNumbers" disabled="true"
												styleClass="form-control"
												value="#{ecommStockAcknowledgementBean.stockTransfer.bundleNumbers}" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Transport Details -->

						<h5 class="bord_bot m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-wrench3"></i></span>
										<p:inputText id="transportTypeMaster" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.transportMaster == null || ecommStockAcknowledgementBean.stockTransfer.transportMaster.transportTypeMaster == null?'': ecommStockAcknowledgementBean.stockTransfer.transportMaster.transportTypeMaster.name}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-steering-wheel"></i></span>
										<p:inputText id="transportMaster" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.transportMaster == null?'': ecommStockAcknowledgementBean.stockTransfer.transportMaster.name}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-file-text-o"></i></span>
										<p:inputText id="waybillAvailable" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.waybillAvailable?'Yes':'No'}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="waybillNumber" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.waybillNumber}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-cogs"></i></span>
										<p:inputText id="transportChargeAvailable" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.transportChargeAvailable?'Yes':'No'}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-menu6"></i></span>
										<p:inputText id="transportChargeType" disabled="true"
											styleClass="form-control"
											value="#{ecommStockAcknowledgementBean.stockTransfer.transportChargeType}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_amt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
										<p:inputText id="transportChargeAmount" disabled="true"
											styleClass="form-control text-right"
											value="#{ecommStockAcknowledgementBean.stockTransfer.transportChargeAmount}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row text-right m-t-10">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h:commandButton id="btnMainFormCancel"
									value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
									immediate="true"
									action="#{ecommStockAcknowledgementBean.stockAcknowledgementBeanListPage}"
									class="btn bg-slate font-iconmoon cust-btn-h" update="growls"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSave"
									value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
									action="#{ecommStockAcknowledgementBean.saveStockTransfer}"
									validateClient="true" update="growls" binding="#{saveBtn}"
									class="btn bg-primary font-iconmoon cust-btn-h m-l-8"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSubmit"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									action="#{ecommStockAcknowledgementBean.submitStockTransfer}"
									validateClient="true" update="growls" binding="#{submitBtn}"
									class="btn bg-success font-iconmoon cust-btn-h m-l-8"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>



		<p:dialog header="#{msg['confirmation']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%" widgetVar="dlg1" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText
					value="Are you sure?(please verify the received quantity before submit)" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('dlg1').hide()" />
				<p:commandButton ajax="false" immediate="true"
					styleClass="btn bg-success heading-btn font-iconmoon"
					title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
					action="#{ecommStockAcknowledgementBean.createstockackinward}"
					onclick="PF('statusDialog').show()" oncomplete="PF('dlg1').hide()"> 
				</p:commandButton>
			</div>
		</p:dialog>

		<ui:include src="ecomStockTransferItemsDetailsPopup.xhtml" />

	</ui:define>
</ui:composition>