<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{ecommSalesReturnBean}"></ui:param>
		<title>InfoTex | Create E-Commerce Sales Return</title>
		<!-- Page Header -->
		<h:form id="frm">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_ecomm_sales_return']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['ecommerce']}</li>
							<li>#{msg['admin']}</li>
							<li class="active">#{msg['create_ecomm_sales_return']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content ">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['ecomm_sales_return']} <span
									class="pull-right text-13 hidden-xs">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<p:outputPanel id="ecommSalesForm">
								<div
									class="panel-body p-t-10 no-padding-bottom pg-scroll-panel-1">
									<div class="row label-form  custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="row ">
												<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['qr_cd']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-qrcode"></i></span>
															<p:inputText id="qrcode"
																value="#{bean.ecommSalesReturnDTO.qRCode}"
																class="form-control">
																<p:ajax update="qrcode"></p:ajax>
															</p:inputText>
														</div>
													</div>
												</div>

												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-l-0">
													<p:outputLabel value="&nbsp;" styleClass="dis-block" />
													<p:commandButton value="&#xe98e;" immediate="true"
														action="#{bean.searchQrCode}" title="#{msg['search']}"
														update="ecommSalesForm growls" process="@this"
														class="btn bg-info font-iconmoon m-l-0 min-wid-auto"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()">
													</p:commandButton>
												</div>
											</div>
										</div>


										<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
											<div class="row view-style">
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['customer_name']}" />
														<h:outputText
															value="#{bean.ecommSalesReturnDTO.customerName}" class="" />
													</div>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['cust_mob_no']}" />
														<h:outputText
															value="#{bean.ecommSalesReturnDTO.customerNumber}"
															class="" />
													</div>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['cust_add']}" />
														<h:outputText
															value="#{bean.ecommSalesReturnDTO.customerAddress}"
															class="" />
													</div>
												</div>
											</div>
										</div>
									</div>

									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['bill_details']}</span>
									</h5>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['bill_no']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<h:inputText id="billno" class="form-control"
														value="#{bean.ecommSalesReturnDTO.billNo}" disabled="true"></h:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['bill_dt']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="billdate"
													value="#{bean.ecommSalesReturnDTO.billDateStr}"
													mindate="new Date()" disabled="true" pattern="dd-MMM-yyyy"
													navigator="true" required="true"
													requiredMessage="#{msg['order_dt_req']}"
													placeholder="dd-MMM-yyyy"
													styleClass="form-control-1 calend-icon-1">
												</p:calendar>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['bill_value']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="fa fa-inr fa-lg"></i></span>
													<h:inputText id="billvalue" class="form-control"
														value="#{bean.ecommSalesReturnDTO.totalUnitRate}"
														disabled="true"></h:inputText>
												</div>
											</div>
										</div>
									</div>


									<h5 class="m-b-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['ecomm_sales_return_details']}</span>
									</h5>
									<div class="table-responsive">

										<p:dataTable id="ecommSalesReturn"
											widgetVar="ecommSalesReturnWdgt" class="table" var="data"
											rowKey="#{data.salesReturnItemsId}" editable="true"
											editMode="cell"
											value="#{bean.ecommSalesReturnDTO.ecommSalesReturnDTOList}"
											paginatorAlwaysVisible="false" paginator="true"
											rowsPerPageTemplate="5,50,150,250" rows="5" rowIndexVar="idx"
											paginatorPosition="bottom"
											emptyMessage="#{msg['no_record_found']}"
											paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
											<p:column headerText="#" class="width-3 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['qr_cd']}">
												<h:outputText value="#{data.qRCode}" />
											</p:column>

											<p:column headerText="#{msg['product_code']}">
												<h:outputText value="#{data.productCode}" />
											</p:column>

											<p:column headerText="#{msg['unit_rate']} (&#xf156;)">
												<h:outputText value="#{data.unitRate}" />
											</p:column>

											<p:column styleClass="text-right fa-input"
												headerText="#{msg['ord_qty']}">
												<h:outputText value="#{data.orderedQnty}" />
											</p:column>

											<p:column headerText="#{msg['requested_return_qty']}">
												<h:outputText value="#{data.reqReturnQnty}" />
											</p:column>

											<p:column headerText="#{msg['approved_return_qty']}">
												<p:cellEditor>
													<f:facet name="output">
														<h:outputText value="#{data.approvedReturnQnty}"
															styleClass="fa-input">
															<f:convertNumber pattern="0.00" />
														</h:outputText>
													</f:facet>
													<f:facet name="input">
														<p:inputText styleClass="fa-input" id="input_qpp_qnty"
															value="#{data.approvedReturnQnty}">
															<p:keyFilter mask="num"></p:keyFilter>
															<f:convertNumber pattern="0.00" />
															<p:ajax event="change" update="growls frm:ecommSalesForm"
																listener="#{bean.updateApprovedQnty(data)}"></p:ajax>
														</p:inputText>
													</f:facet>
												</p:cellEditor>
											</p:column>

											<p:column headerText="Total Return Value">
												<h:outputText value="#{data.totalReturnValue}" />
											</p:column>

										</p:dataTable>
										<ui:remove>
											<table class="report-table m-b-10">
												<thead>
													<tr>
														<th class="text-center width-3">#</th>
														<th class="width-10"><p:outputLabel
																value="#{msg['qr_cd']}" /></th>
														<th class="width-10"><p:outputLabel
																value="#{msg['product_code']}" /></th>
														<th class="width-10"><p:outputLabel
																styleClass="fa-input"
																value="#{msg['unit_rate']} (&#xf156;)" /></th>
														<th class="width-10"><p:outputLabel
																value="#{msg['ord_qty']}" /></th>
														<th class="width-15"><p:outputLabel
																value="#{msg['requested_return_qty']}" /></th>
														<th class="width-15"><p:outputLabel
																value="#{msg['approved_return_qty']}" /></th>
														<th class="width-6"><p:outputLabel
																value="#{msg['action']}" /></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="text-center">1</td>
														<td>NORSAFSVDGHDWVC12456</td>
														<td>PDT001</td>
														<td class="text-right">1000.00</td>
														<td class="text-right">10</td>
														<td><p:inputText class="form-control text-right" /></td>
														<td><p:inputText class="form-control text-right" /></td>
														<td class="text-center"><p:commandButton
																value="&#xe99e;" immediate="true" action=" "
																title="#{msg['delete']}"
																class="btn bg-danger font-iconmoon m-l-0 min-wid-auto">
															</p:commandButton></td>
													</tr>
													<tr>
														<td class="text-center">2</td>
														<td>NORSAFSVDGHDWVC12456</td>
														<td>PDT001</td>
														<td class="text-right">1000.00</td>
														<td class="text-right">10</td>
														<td><p:inputText class="form-control text-right" /></td>
														<td><p:inputText class="form-control text-right" /></td>
														<td class="text-center"><p:commandButton
																value="&#xe99e;" immediate="true" action=" "
																title="#{msg['delete']}"
																class="btn bg-danger font-iconmoon m-l-0 min-wid-auto">
															</p:commandButton></td>
													</tr>
													<tr>
														<td class="text-center">3</td>
														<td>NORSAFSVDGHDWVC12456</td>
														<td>PDT001</td>
														<td class="text-right">1000.00</td>
														<td class="text-right">10</td>
														<td><p:inputText class="form-control text-right" /></td>
														<td><p:inputText class="form-control text-right" /></td>
														<td class="text-center"><p:commandButton
																value="&#xe99e;" immediate="true" action=" "
																title="#{msg['delete']}"
																class="btn bg-danger font-iconmoon m-l-0 min-wid-auto">
															</p:commandButton></td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="3" class="text-right"><b>Total</b></td>
														<td class="text-right"><b>3000.00</b></td>
														<td class="text-right"><b> </b></td>
														<td class="text-right"><b> </b></td>
														<td class="text-right"><b> </b></td>
														<td class="text-right"><b> </b></td>
													</tr>
												</tfoot>
											</table>
										</ui:remove>

									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['total_return_value']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="fa fa-inr fa-lg"></i></span>
													<h:inputText id="totreturnvalue" class="form-control"
														value="#{bean.ecommSalesReturnDTO.totalReturnValue}"
														disabled="true"></h:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
											<p:outputLabel value="#{msg['comment']}" />
											<div class="form-group" id="descrption">
												<p:inputTextarea cols="18" rows="3"
													value="#{bean.ecommSalesReturnDTO.comment}"
													class="form-control" placeholder="Enter text ...">
												</p:inputTextarea>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 text-right">
											<div class="form-group">
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													title="#{msg['cancel']}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{ecommSalesReturnBean.showEcommSalesReturnListPage}"
													class="btn bg-slate heading-btn  font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xecf6; #{msg['reject']}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{ecommSalesReturnBean.saveOrUpdate}"
													title="#{msg['reject']}" type="button"
													class="btn bg-danger heading-btn  font-iconmoon">
													<f:setPropertyActionListener value="rejected"
														target="#{bean.ecommSalesReturnDTO.action}"></f:setPropertyActionListener>
												</p:commandButton>
												<p:commandButton value="&#xed6e; #{msg['submit']}" id="submit"
													class="btn bg-info heading-btn  font-iconmoon"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													title="#{msg['submit']}" action="#{bean.saveOrUpdate}">
												</p:commandButton>


											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>