<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{ecommProductConfigBean}"></ui:param>
		<title>InfoTex | E-Commerce Product Configuration List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['e_commerce_product_config_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['ecommerce']}</li>
						<li>#{msg['admin']}</li>
						<li class="active">#{msg['e_commerce_product_config_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title m-t-5">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> -
						#{msg['ecom_product_confi']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<p:outputPanel id="menupanel">
						<div class="form-group m-b-10">

							<p:commandButton value="&#xead2;&nbsp;#{msg['download']}"
								id="getneratePdfButton" title="#{msg['download']}"
								disabled="#{bean.disableQRCodeButton == false}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								actionListener="#{bean.downloadQrCodePdf}" ajax="false"
								class="btn bg-primary heading-btn font-iconmoon">
								<p:fileDownload value="#{bean.downloadFile}" />
							</p:commandButton>

							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId"
								action="#{bean.showEcommProductConfigPageAction}"
								disabled="#{bean.addButtonFlag}"
								class="btn bg-success font-iconmoon"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()">
								<f:setPropertyActionListener value="create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton id="editId" value="&#xe912; #{msg['edit']}"
								action="#{bean.showEcommProductConfigPageAction}"
								title="#{msg['edit']}" disabled="#{bean.editButtonFlag}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-primary font-iconmoon" rendered="false">
								<f:setPropertyActionListener value="edit"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton id="viewId" value="&#xea18; #{msg['view']}"
								disabled="#{bean.viewButtonFlag}" title="#{msg['view']}"
								action="#{bean.showEcommProductConfigPageAction}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-info font-iconmoon">
								<f:setPropertyActionListener value="View"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe99e; #{msg['delete']}"
								disabled="#{bean.deleteButtonFlag}"
								onstart="PF('statusDialog').show()"
								action="#{bean.showEcommProductConfigPageAction}"
								onsuccess="PF('statusDialog').hide()" title="#{msg['delete']}"
								class="btn bg-danger font-iconmoon" rendered="false">
								<f:setPropertyActionListener value="Delete"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{bean.showEcommProductConfigListPage}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</p:outputPanel>
				</div>
			</div>
			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="ecommProductConfig"
							widgetVar="ecommProductConfigWdgt" class="table" var="data"
							rowKey="#{data.id}"
							selection="#{bean.selectedEcommProductConfigList}"
							value="#{bean.lazyEcommProductConfigList}" lazy="true"
							paginatorAlwaysVisible="false" paginator="true"
							rowsPerPageTemplate="5,10,15" rows="5" rowIndexVar="idx"
							paginatorPosition="bottom"
							emptyMessage="#{msg['no_record_found']}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							 >
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('progressDlg').show()"
								onsuccess="PF('progressDlg').hide()" />

							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
								update=":#{p:component('menupanel')},#{p:component('addId')},#{p:component('getneratePdfButton')}" />

							<p:column headerText="#" class="width-3 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>

							<p:column filterable="true" class="width-18"
								filterBy="#{data.productCategoryCode}"
								filterMatchMode="contains"
								headerText="#{msg['product_category_code_or_name']}"
								sortBy="#{data.productCategoryCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="productCategoryCode" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.productCategoryCode} - #{data.productCategoryName}" />
							</p:column>

							<p:column filterable="true" class="width-18" filterBy="#{data.productVarietyCode}"
								filterMatchMode="contains"
								headerText="#{msg['prod_variey_code_name']}"
								sortBy="#{data.productVarietyCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="productVarietyCode" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText
									value="#{data.productVarietyCode} - #{data.productVarietyName}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.atNumber}"
								filterMatchMode="contains" headerText="#{msg['at_no']}"
								sortBy="#{data.atNumber}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="atNumber" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.atNumber}" />
							</p:column>
							
							<p:column filterable="true" filterBy="#{data.eshoppingQRCode}"
								filterMatchMode="contains" headerText="#{msg['eshopping_qr_code']}"
								sortBy="#{data.eshoppingQRCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="eshoppinqr" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.eshoppingQRCode}" />
							</p:column>
							
								<p:column filterable="true" filterBy="#{data.ecommerceingQRCode}"
								filterMatchMode="contains" headerText="#{msg['ecommerce_qr_code']}"
								sortBy="#{data.ecommerceingQRCode}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="ecommerceqr" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.ecommerceingQRCode}" />
							</p:column>

							<p:column filterable="true" filterBy="#{data.price}"
								styleClass="text-right fa-input" filterMatchMode="contains"
								headerText="#{msg['price']}&nbsp;(&#xf156;)"
								sortBy="#{data.price}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="price" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.price}" >
								<f:convertNumber pattern="#0.00" />
								</h:outputText>
							</p:column>

							<p:column filterable="true" filterBy="#{data.availableQty}"
								filterMatchMode="contains" headerText="#{msg['ava_qty']}"
								sortBy="#{data.availableQty}" sortable="true" rendered="false">
								<f:facet name="filter">
									<p:inputText id="availableQty" class="form-control"
										onkeyup="PF('ecommProductConfigWdgt').filter()" />
								</f:facet>
								<h:outputText value="#{data.availableQty}" />
							</p:column>

							<p:column headerText="#{msg['select']}" selectionMode="single"
								styleClass="text-center width-5" />
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmEcommProductConfigDelete"
				showEffect="fade" hideEffect="fade" closeOnEscape="true"
				resizable="false">

				<div class="modal-body">
					<h:outputText value="#{msg['delete_record']}" />
				</div>

				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmEcommProductConfigDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{bean.deleteConfirm}"
						oncomplete="PF('confirmEcommProductConfigDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>

		</div>
	</ui:define>
</ui:composition>