<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{contractSalesInvoiceBean}"></ui:param>
		<h:form id="form">
			<title>InfoTex | Sales Invoice</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{bean.action} #{msg['sales_invoice']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['quotation_order_invoice']}</li>
							<li>#{msg['sales']}</li>
							<li class="active">#{bean.action} #{msg['sales_invoice']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content page-scroll-hp no-padding-bottom">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['sales_invoice']}
								<p:outputLabel styleClass="pull-right">
									<span class="mand-red">*</span>
									<span>#{msg['mand_fields']}</span>
								</p:outputLabel>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<div class="row custom-form-1 label-form">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['org_type']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-list"></i></span>
												<h:selectOneMenu class="form-control"
													value="#{bean.customerType}" converter="#{entityConverter}"
													id="customerType" rendered="#{bean.action eq 'Create'}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="Customer Type is required">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true"></f:selectItem>
													<f:selectItems
														itemLabel="#{customerType.name.toUpperCase()}"
														itemValue="#{customerType}" var="customerType"
														value="#{bean.customerTypeList}"></f:selectItems>
													<p:ajax update="customer salesorder"
														onstart="PF('statusDialog').show();"
														onsuccess="PF('statusDialog').hide();" />
												</h:selectOneMenu>
												<p:inputText disabled="true"
													rendered="#{bean.action eq 'Edit'}"
													value="#{bean.customerType.name}" styleClass="form-control"></p:inputText>
												<p:focus for="customerType" />
											</div>
											<h:message for="customerType" class="validation-error-label"
												id="customerTypeMasterMsg" />
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['customer_name']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:autoComplete id="customer" minQueryLength="4"
													styleClass="form-control" panelStyle="height: 250px;"
													converter="#{entityConverter}"
													rendered="#{bean.action eq 'Create'}"
													value="#{bean.customer}" var="cus" itemLabel="#{cus.name}"
													itemValue="#{cus}"
													completeMethod="#{bean.loadCustomerByName}" effect="fade">
													<p:ajax event="itemSelect" update="salesorder"
														listener="#{bean.updateSalesOrder}"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()" />

												</p:autoComplete>
												<p:inputText disabled="true"
													rendered="#{bean.action eq 'Edit'}"
													value="#{bean.customer.name}" styleClass="form-control"></p:inputText>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sales_order_number']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu class="form-control"
													value="#{bean.salesOrder}" converter="#{entityConverter}"
													id="salesorder" rendered="#{bean.action eq 'Create'}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['sales_order_no_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true"></f:selectItem>
													<f:selectItems
														itemLabel="#{salesorder.soNumberPrefix} - #{salesorder.soNumber}"
														itemValue="#{salesorder}" var="salesorder"
														value="#{bean.salesOrderList}"></f:selectItems>
													<f:ajax render="salesorder"></f:ajax>
												</h:selectOneMenu>
												<p:inputText disabled="true"
													rendered="#{bean.action eq 'Edit'}"
													value="#{bean.salesOrder.soNumberPrefix}"
													styleClass="form-control"></p:inputText>
											</div>

										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['sales_invoice_date']}" />
											<span class="text-danger">*</span>
											<div class="form-group form-group_calend">
												<p:calendar id="dueDate1" readonlyInput="true"
													value="#{bean.invoiceDate}"
													mindate="#{bean.salesInvoiceStartDate}"
													placeholder="dd-MMM-yyyy" maxdate="new Date()"
													pattern="dd-MMM-yyyy" navigator="true" rendered="true"
													requiredMessage="#{msg['sales_invoice_date_req']}"
													styleClass="form-control-1 calend-icon-1">
												</p:calendar>
											</div>

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton update="growls salesinvoiceitems"
											action="#{bean.salesInvoiceAction}" process="@this"
											value="&#xe916;&nbsp;#{msg['clear']}" title="#{msg['clear']}"
											rendered="#{bean.action eq 'Create'}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-slate heading-btn font-iconmoon m-l-0">
										</p:commandButton>
										<p:commandButton
											update="growls salesinvoiceitems gstsummary amountInWords summarytable split-up gstamounttable sumtotaltaxamount discountpanel"
											value="&#xe98e;&nbsp;#{msg['search']}"
											action="#{bean.searchSalesInvoiceItems}"
											title="#{msg['search']}" process="@this"
											rendered="#{bean.action eq 'Create'}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-info heading-btn font-iconmoon">
										</p:commandButton>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-body no-padding-top">
							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
							</h5>
							<div class="row">
								<div class="col-sm-12">
									<div
										class="scroll-table table-responsive #{bean.salesInvoiceItemsList.size() eq 0 ? 'noRecScroll': ''}">
										<p:dataTable id="salesinvoiceitems" var="data"
											widgetVar="saleinvoiceitemsTable" rowKey="#{data.id}"
											value="#{bean.salesInvoiceItemsList}" rowIndexVar="idx"
											emptyMessage="#{msg['no_records_found']}" scrollable="true"
											scrollHeight="#{bean.salesInvoiceItemsList.size() eq 0 ? '30' : 
								  				 bean.salesInvoiceItemsList.size() eq 1 ? '60':
								  				 bean.salesInvoiceItemsList.size() eq 2 ? '90':
												 bean.salesInvoiceItemsList.size() eq 3 ? '130':
												 bean.salesInvoiceItemsList.size() gt 3 and  bean.salesInvoiceItemsList.size() lt 8 ? 250 :'330'}">
											<p:column headerText="#" class="text-center wid-35">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column
												headerText="#{msg['prod_variey_code']} / #{msg['name']}"
												styleClass="fa-input wid-200">
												<h:outputText
													title="#{data.salesInvoiceItem.productVarietyMaster.code} / #{data.salesInvoiceItem.productVarietyMaster.name}"
													value="#{(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name)).length() gt 20?(fn:substring(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name),0, 19).concat('...')):(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name))}" />
											</p:column>
											<p:column headerText="#{msg['uom']}"
												styleClass="fa-input wid-100">
												<h:outputText
													value="#{data.salesInvoiceItem.uomMaster.name}" />
											</p:column>
											<p:column headerText="#{msg['hsn_code']}"
												styleClass="text-center fa-input wid-100">
												<h:outputText
													value="#{data.salesInvoiceItem.productVarietyMaster.hsnCode}" />
											</p:column>
											<p:column headerText="#{msg['ordered_unit']}"
												styleClass="text-right fa-input wid-100">
												<h:outputText value="#{data.itemQuantity}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['already_ordered_unit']}"
												styleClass="text-right fa-input wid-150">
												<h:outputText value="#{data.alreadyOrderUnit}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['billing_unit']}"
												styleClass="text-center fa-input wid-150">
												<p:inputText value="#{data.salesInvoiceItem.itemQty}">
													<p:ajax listener="#{bean.updateTable(data,idx)}" event="change"
														update="form:amountInWords salesinvoiceitems growls form:split-up form:gstsummary 
														form:summarytable form:gstamounttable form:discountpanel" process="@this" 
														oncomplete="PF('saleinvoiceitemsTable').clearFilters()"
														onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"></p:ajax>
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
													
													<p:ajax event="click" listener="#{bean.valueQty(data, idx)}"></p:ajax>
												</p:inputText>
											</p:column>
											<p:column headerText="#{msg['unit_price']} (&#xf156;)"
												styleClass="text-right fa-input wid-100">
												<h:outputText value="#{data.salesInvoiceItem.unitRate}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['item_value']} (&#xf156;)"
												styleClass="text-right fa-input wid-100">
												<h:outputText value="#{data.salesInvoiceItem.itemAmount}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['dis_master']} (&#xf295;)"
												styleClass="text-right fa-input wid-100">
												<h:outputText
													value="#{data.salesInvoiceItem.discountPercent}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['dis_value']} (&#xf156;)"
												styleClass="text-right fa-input wid-125">
												<h:outputText value="#{data.salesInvoiceItem.discountValue}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['tax']} (&#xf295;)"
												styleClass="text-right fa-input wid-75"
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
												<h:outputText value="#{data.salesInvoiceItem.taxPercent}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['tax_amt']} (&#xf156;)"
												styleClass="text-right fa-input wid-125"
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
												<h:outputText value="#{data.salesInvoiceItem.taxAmount}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:column headerText="#{msg['ttl_amt']} (&#xf156;)"
												styleClass="text-right fa-input wid-150">
												<h:outputText
													value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? data.salesInvoiceItem.itemTotal : (data.salesInvoiceItem.itemTotal - data.salesInvoiceItem.taxAmount)}">
													<f:convertNumber pattern="#0.00">
													</f:convertNumber>
												</h:outputText>
											</p:column>
											<p:columnGroup type="footer"
												rendered="#{bean.salesInvoiceItemsList.size() > 0}">
												<p:row>
													<p:column styleClass="wid-35"></p:column>
													<p:column styleClass="wid-200"></p:column>
													<p:column styleClass="wid-50"></p:column>
													<p:column styleClass="wid-100" footerText="#{msg['tot']}"></p:column>
													<p:column styleClass="wid-100">
														<f:facet name="footer">
															<h:outputText value="#{bean.orderUnitTotal}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
													<p:column></p:column>
													<p:column>
														<f:facet name="footer">
															<h:outputText value="#{bean.billingUnitTotal}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
													<p:column colspan="12" footerText="#{msg['mat_val']}"
														rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}" />
													<p:column colspan="10" footerText="#{msg['mat_val']}"
														rendered="#{bean.countryName ne bean.customerAddCountryName}" />
													<p:column styleClass="wid-150">
														<f:facet name="footer">
															<h:outputText value="#{bean.materialAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
												</p:row>
											</p:columnGroup>
										</p:dataTable>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m-t-10">
									<p:outputPanel id="summarytable">
										<p:outputPanel
											rendered="#{bean.gstPercentageWiseDTOList.size() gt 0 and (empty bean.customerAddCountryName or 
                                         bean.customerAddCountryName eq bean.countryName) and bean.sumTotalTaxAmount gt 0}">
													<h5 class="m-0">
													<span class="iform-title"><i
														class="fa fa-th-large m-r-5"></i>#{msg['gst_summary']}</span>
													</h5>
													<div class="table-responsive cust-table">
														<p:dataTable value="#{bean.gstPercentageWiseDTOList}"
															var="summary" id="gstsummary">
															<p:column headerText="#{msg['hsn_code']}">
																<h:outputText value="#{summary.hsnCode}">
																</h:outputText>
															</p:column>
															<p:column headerText="#{msg['unit']}"
																styleClass="text-center fa-input">
																<h:outputText value="#{summary.unit}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
															</p:column>
															<ui:remove>
																<p:column styleClass="text-right fa-input"
																	headerText="#{msg['cgst']} (&#xf295;)">
																	<h:outputText value="#{summary.cgstPercent}">
																		<f:convertNumber pattern="#0.00"></f:convertNumber>
																	</h:outputText>
																</p:column>
																<p:column styleClass="text-right fa-input"
																	headerText="#{msg['sgst']} (&#xf295;)">
																	<h:outputText value="#{summary.sgstPercent}">
																		<f:convertNumber pattern="#0.00"></f:convertNumber>
																	</h:outputText>
																</p:column>
															</ui:remove>
															<p:column headerText="#{msg['tax']} (%)"
																styleClass="text-center">
																<h:outputText value="#{summary.taxPercentage}" />
															</p:column>
															<p:column styleClass="text-right fa-input"
																headerText="#{msg['cgst']}&nbsp;(&#xf156;)">
																<h:outputText value="#{summary.cgstAmount}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
															</p:column>
															<p:column styleClass="text-right fa-input"
																headerText="#{msg['sgst']}&nbsp;(&#xf156;)">
																<h:outputText value="#{summary.sgstAmount}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
															</p:column>
															<p:column styleClass="text-right fa-input"
																headerText="#{msg['ttl_tx_amt']}&nbsp;(&#xf156;)">
																<h:outputText value="#{summary.totalTax}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
															</p:column>
															<p:columnGroup type="footer"
																rendered="#{bean.gstDetailsList.size() > 0}">
																<p:row>
																	<p:column colspan="3" footerText="#{msg['tot']}" />
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText value="#{bean.sgst}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText value="#{bean.cgst}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText value="#{bean.sumTotalTaxAmount}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																</p:row>
															</p:columnGroup>
														</p:dataTable>
													</div>
										</p:outputPanel>
									</p:outputPanel>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-3"></div>
								<div class="col-md-3 col-sm-3">
									<div class="table-responsive cust-table">
									<ui:remove>
										<p:outputPanel id="split-up">
											<table class="table nobor-table">
												<tbody>
													<h:panelGroup
														rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
														<tr style="display: #{bean.cgst gt 0?'':'none'}">
															<td class="text-right fa-input">#{msg['cgst']}
																#{bean.cgstPercent} %</td>
															<td class="text-right"><strong> <h:outputText
																		id="cgst" value="#{bean.cgst}">
																		<f:convertNumber pattern="#0.00"></f:convertNumber>
																	</h:outputText></strong></td>
														</tr>
														<tr style="display: #{bean.sgst gt 0?'':'none'}">
															<td class="text-right fa-input">#{msg['sgst']}
																#{bean.sgstPercent} %</td>
															<td class="text-right"><strong><h:outputText
																		id="sgst" value="#{bean.sgst}">
																		<f:convertNumber pattern="#0.00"></f:convertNumber>
																	</h:outputText></strong></td>
														</tr>
													</h:panelGroup>
													<tr style="display: #{bean.discount gt 0?'':'none'}">
														<td class="text-right fa-input">#{msg['dis_master']}
															( &#xf156; )</td>
														<td class="text-right"><strong><h:outputText
																	id="discount" value="#{bean.discount}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText></strong></td>
													</tr>
													<tr style="display: #{bean.roundOff gt 0?'':'none'}">
														<td class="text-right fa-input">#{msg['round_off']} (
															&#xf156; )</td>
														<td class="text-right"><strong> <h:outputText
																	id="roundoff" value="#{bean.roundOff}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
														</strong></td>
													</tr>
												</tbody>
												<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
													<tr>
														<td class="text-right fa-input"><strong>
																#{msg['net_total']} ( &#xf156; )</strong></td>
														<td class="text-right"><strong><h:outputText
																	id="nettotal"
																	value="#{(empty bean.customerAddCountryName or bean.countryName eq bean.customerAddCountryName) ? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText></strong></td>
													</tr>
												</tfoot>
											</table>
										</p:outputPanel>
										</ui:remove>
									<p:outputPanel id="discountpanel">
										<table class="table m-0">
											<tbody>
												<tr>
													<td class="text-right fa-input width-60"
														style="border-bottom: none !important;">&nbsp;&nbsp;#{msg['dis_master']}
														( &#xf156; )</td>
													<td style="border-bottom: none !important;"
														class="text-right fa-input width-40"><h:outputText
															id="discount" value="#{bean.discount}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText></td>
												</tr>
											</tbody>
										</table>
									</p:outputPanel>
										<p:dataTable id="gstamounttable" widgetVar="gstamounttable"
											var="data" class="table" rowKey="#{data.id}"
											value="#{bean.gstWiseList}"
											emptyMessage="#{msg['no_records_found']}"
											tableStyleClass="table no-head-table"
											rowIndexVar="idx">

											<p:column class="text-right fa-input width-60"
												rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
												<h:outputText value="#{data.taxCode}" />&nbsp;
													<h:outputText value="#{data.taxPercentage}" />%
												</p:column>

											<p:column class="text-right fa-input width-40"
												rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
												<h:outputText value="#{data.taxAmount}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</p:column>
										</p:dataTable>
										<p:outputPanel id="split-up">
											<table class="table nobor-table">
												<tbody>
													<tr style="display: #{bean.roundOff gt 0?'':'none'}">
														<td class="text-right fa-input">#{msg['round_off']} (
															&#xf156; )</td>
														<td class="text-right"><strong> <h:outputText
																	id="roundoff" value="#{bean.roundOff}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText>
														</strong></td>
													</tr>
												</tbody>
												<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
													<tr>
														<td class="text-right fa-input"><strong>
																#{msg['net_total']} ( &#xf156; )</strong></td>
														<td class="text-right"><strong><h:outputText
																	id="nettotal"
																	value="#{(empty bean.customerAddCountryName or bean.countryName eq bean.customerAddCountryName) 
																		? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
																	<f:convertNumber pattern="#0.00"></f:convertNumber>
																</h:outputText></strong></td>
													</tr>
												</tfoot>
											</table>
										</p:outputPanel>
									</div>
								</div>
								<!-- end col -->
							</div>
							<div class="row">
								<div class="col-lg-12">
								<h:panelGroup id="sumtotaltaxamount">
									<p:outputPanel rendered="#{bean.sumTotalTaxAmount eq 0.00}">
										<h6 class="m-0">#{msg['Show_note_free_sample']}</h6>
									</p:outputPanel>
									</h:panelGroup>
								</div>
							</div>
						</div>

						<div class="panel-body p-t-0">
							<div class="row">
								<div class="col-lg-9 col-md-9 col-sm-9">
									<p:outputPanel id="amountInWords">
										<!-- #{bean.materialAmount} -->
										<p:outputPanel
											rendered="#{bean.totalAmountInWords != null and  bean.totalAmountInWords ne ''}"
											styleClass="p-t-10">
											<h6 class="fw-500 label-inline">#{msg['amt_in_words']} :
											</h6>
											<h:outputText value="#{bean.totalAmountInWords}" />
										</p:outputPanel>
									</p:outputPanel>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 text-right">
									<div class="form-group m-b-0">
										<p:commandButton update="growls"
											action="#{bean.showSalesInvioceListPage}"
											value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}" onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-slate font-iconmoon">
										</p:commandButton>
										<p:commandButton update="growls"
											action="#{bean.gotoPreviewPage}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											value="&#xea18;&nbsp;#{msg['pre_view']}"
											title="#{msg['pre_view']}" class="btn bg-info font-iconmoon">
										</p:commandButton>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		</h:form>
	</ui:define>
	
	
</ui:composition>