<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<p:outputPanel id="disPanel">
			<title>InfoTex | Create District / Taluk Wise - Distribution</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_dist_taluk_wise']} - #{msg['distribution']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['warehouse_management']}</li>
							<li>#{msg['issr']}</li>
							<li class="active">#{msg['create_dist_taluk_wise']} -
								#{msg['distribution']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content page-scroll-hp no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" class="block"
									data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['district_taluk_wise_distribution']}
									<span class="pull-right text-13">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
								</a>
							</h6>
						</div>

						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<p:outputPanel id="searchPanel">
								<div class="panel-body p-t-10">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['issr_code']}" />
												<div class="input-group">
													<span class="input-group-addon"><i class="icon-hash"></i></span>
													<p:inputText styleClass="form-control"
														value="#{distributionBean.loginEmp.personalInfoEmployment.workLocation.code} / #{distributionBean.loginEmp.personalInfoEmployment.workLocation.name}"
														disabled="true" placeholder=" ">
													</p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['scheme_type']} #{msg['code_name']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class=" icon-list"></i></span>
													<h:selectOneMenu class="form-control" id="schType"
														value="#{distributionBean.govtSchemeType}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{distributionBean.govtSchemeTypeList}" var="it"
															required="true" requiredMessage="Dependent name required"
															itemLabel="#{it.code} / #{it.name}" itemValue="#{it}" />
														<p:ajax listener="#{distributionBean.loadProductionPlan}"
															update="proPlan growls"
															onstart="PF('statusDialog').show();"
															onsuccess="PF('statusDialog').hide();" />
													</h:selectOneMenu>

												</div>
												<h:message for="schType" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['production_plan']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class=" icon-tree6"></i></span>
													<h:selectOneMenu class="form-control" id="proPlan"
														value="#{distributionBean.govtSchemePlan}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{distributionBean.govtSchemePlanList}" var="it"
															itemLabel="#{it.planName}" itemValue="#{it}" />
														<p:ajax listener="#{distributionBean.loadProPlanDistrict}"
															update="dis growls" onstart="PF('statusDialog').show();"
															onsuccess="PF('statusDialog').hide();" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['name_of_the_district']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-location4"></i></span>
													<h:selectOneMenu class="form-control" id="dis"
														value="#{distributionBean.districtMaster}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems
															value="#{distributionBean.districtMasterList}" var="it"
															itemLabel="#{it.name}" itemValue="#{it}" />
														<p:ajax listener="#{distributionBean.loadProPlanTaluk}"
															update="taluk growls"
															onstart="PF('statusDialog').show();"
															onsuccess="PF('statusDialog').hide();" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['name_of_the_taluk']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-location4"></i></span>
													<h:selectOneMenu class="form-control" id="taluk"
														value="#{distributionBean.talukMaster}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="Select" itemValue="#{null}" />
														<f:selectItems value="#{distributionBean.talukMasterList}"
															var="it" itemLabel="#{it.name}" itemValue="#{it}" />
														<p:ajax listener="#{distributionBean.loadProPlanTaluk}"
															update="growls" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-3">
											<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
											<div class="form-group">
												<p:commandButton value="&#xe916; #{msg['clear']}"
													process="@this" update="disPanel growls"
													title="#{msg['clear']}"
													actionListener="#{distributionBean.clearForm}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													class="btn bg-slate font-iconmoon m-r-0">
												</p:commandButton>

												<p:commandButton id="disSubmit" binding="#{disSubmit}"
													class="btn bg-success heading-btn  font-iconmoon"
													update="disPanel searchPanel groupId growls"
													value="&#xea0e;  #{msg['add']}" title="#{msg['add']}"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{distributionBean.loadDisDetails}">
													<f:setPropertyActionListener value="ADD"
														target="#{distributionBean.action}" />
												</p:commandButton>
												<p:commandButton
													rendered="#{distributionBean.visiableFamButton eq 'EDITBUTTON'}"
													id="disUpdate" title="#{msg['update']}"
													class="btn bg-primary heading-btn  font-iconmoon"
													update="disPanel searchPanel groupId growls"
													value="&#xeda7;&nbsp;#{msg['update']}"
													binding="#{disUpdate}" onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();"
													action="#{distributionBean.loadDisDetails}">
													<f:setPropertyActionListener value="EDIT"
														target="#{distributionBean.action}" />
												</p:commandButton>
											</div>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->


				<div class="panel panel-white m-b-0">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
						</h5>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<p:dataTable id="disTable" rowIndexVar="idx" var="dis"
										styleClass="repor-table"
										value="#{distributionBean.govtDtwItemList}">
										<p:column headerText="#" styleClass="text-center width-4">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['group_code']} / #{msg['name']}"
											styleClass="width-12">
											<h:outputText value="#{dis.groupCode} / #{dis.groupName}" />
										</p:column>

										<p:column headerText="#{msg['ttl_qty_to_be_supplied']}"
											styleClass="width-12">
											<h:outputText value="#{dis.productQunatity}" />
										</p:column>

										<p:column headerText="#{msg['ttl_qty_already_supplied']}"
											styleClass="width-12">
											<h:outputText value="-" />
										</p:column>

										<p:column headerText="#{msg['bal_qty_to_be_supplied']}"
											styleClass="width-12">
											<h:outputText value="-" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>

						<h5 class="bord_bot">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pro_variety']}
								- #{msg['distribution_details']}</span>
						</h5>
						<div class="row label-form custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['group_code']} / #{msg['name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-grid6"></i></span>
										<h:selectOneMenu class="form-control" id="groupId"
											value="#{distributionBean.groupId}">
											<f:selectItem itemLabel="Select" />
											<f:selectItems value="#{distributionBean.govtDtwItemList}"
												var="it" itemLabel="#{it.groupCode} / #{it.groupName}"
												itemValue="#{it.groupId}" />
											<p:ajax listener="#{distributionBean.loadProductByGroup}"
												update="proId growls" onstart="PF('statusDialog').show();"
												onsuccess="PF('statusDialog').hide();" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_code']} / #{msg['name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<h:selectOneMenu class="form-control" id="proId"
											value="#{distributionBean.productVarMaster}"
											converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" itemValue="#{null}" />
											<f:selectItems value="#{distributionBean.productList}"
												var="it" itemLabel="#{it.code} / #{it.name}"
												itemValue="#{it}" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['uni_bundle_num']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class=" icon-bag"></i></span>
										<p:inputText styleClass="form-control" id="bundleId"
											value="#{distributionBean.bundle}" placeholder="">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['quantity_sup']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<p:inputText styleClass="form-control" id="qty"
											value="#{distributionBean.quantity}">
										</p:inputText>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group">
									<p:commandButton value="&#xe916; #{msg['clear']}"
										title="#{msg['clear']}" process="@this"
										update="disPanel growls"
										actionListener="#{distributionBean.clearPVDistribution}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										class="btn bg-slate font-iconmoon m-r-0">
									</p:commandButton>

									<p:commandButton id="disadd" title="#{msg['add']}"
										class="btn bg-success heading-btn  font-iconmoon"
										update="disPanel searchPanel disTableRep groupId growls"
										value="&#xea0e;  #{msg['add']}"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{distributionBean.loadDisVarity}">
										<f:setPropertyActionListener value="ADD"
											target="#{distributionBean.action}" />
									</p:commandButton>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div id="table-scroll" class="table-responsive">
									<p:dataTable id="disTableRep" rowIndexVar="idx" var="dis"
										class="report-table m-b-10" editable="true"
										value="#{distributionBean.proVerDistributionList}">

										<p:column headerText="#" styleClass="text-center width-4">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['product_code']} / #{msg['name']}"
											styleClass="width-12">
											<h:outputText value="#{dis.code}/#{dis.gName}" />
										</p:column>

										<p:column headerText="#{msg['uni_bundle_num']}"
											styleClass="width-12">
											<h:outputText value="#{dis.bundle}" />
										</p:column>

										<p:column headerText="#{msg['quantity_sup']}"
											styleClass="width-12">
											<p:cellEditor>
												<f:facet name="output">
													<h:outputText value="#{dis.quantity}" styleClass="fa-input" />
												</f:facet>
												<f:facet name="input">
													<p:inputText styleClass="fa-input" id="inputqnty"
														value="#{dis.quantity}" style="width:100%">
													</p:inputText>
												</f:facet>
											</p:cellEditor>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="width-12 text-center">
											<ui:remove>
												<p:rowEditor process="@this"
													onclick="PF('progressDlg').show();"
													oncomplete="PF('progressDlg').hide();" ajax="true"
													update="disTableRep bundleId proId qty"
													actionListener="#{distributionBean.editDisTalukFromList(dis)}">
												</p:rowEditor>
											</ui:remove>

											<p:rowEditor value="&#xe912;"
												class="cust-edit-btn text-center" style="display: inline;" />
											<p:commandLink
												class="btn bg-danger font-iconmoon btn-xs pull-left cust-link-btn"
												process="@this" onclick="PF('progressDlg').show();"
												oncomplete="PF('progressDlg').hide();" ajax="true"
												update="disTableRep" title="#{msg['delete']}"
												actionListener="#{distributionBean.removeDisTalukFromList(dis)}">
												<i class="fa fa-trash-o"></i>
											</p:commandLink>
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<p:commandButton update="growls"
									value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
									onclick="window.location.href='#{request.contextPath}/pages/ISSR/listDistrictTalukWiseDistribution.xhtml'"
									class="btn bg-slate font-iconmoon">
								</p:commandButton>
								<p:commandButton id="familySubmit" binding="#{familySubmit}"
									class="btn bg-info font-iconmoon"
									value="&#xea08;&nbsp;#{msg['acknow']}" title="#{msg['acknow']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{distributionBean.loadAcknowledgement}">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>

	</ui:define>
</ui:composition>