<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{contractSalesInvoiceBean}"></ui:param>
		<ui:param name="invoiceFrom"
			value="#{contractSalesInvoiceBean.empMaster.personalInfoEmployment.workLocation}"></ui:param>
		<ui:param name="invoiceTo"
			value="#{contractSalesInvoiceBean.salesOrder.customerMaster}"></ui:param>
		<style>
#gstamounttableDialog .ui-datatable tbody tr td {
	font-size: 12px;
}
</style>
		<title>InfoTex | Preview Sales Invoice</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['preview_sales_invoice']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['quotation_order_invoice']}</li>
						<li>#{msg['sales']}</li>
						<li>#{msg['preview_sales_invoice']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll-hp no-padding-bottom"
			id="printContent">
			<div class="row equal">
				<div class="col-md-4 col-sm-4">
					<div class="panel panel-info stock-box m-b-0">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['sales_invoice']} -
								#{msg['from']}</h6>
						</div>
						<div class="panel-body p-8">
							<h6 class="text-primary m-t-0">#{invoiceFrom.code} /
								#{invoiceFrom.name}</h6>
							<h:outputText
								value="#{invoiceFrom.addressMaster.addressLineOne} #{invoiceFrom.addressMaster.addressLineTwo} #{invoiceFrom.addressMaster.addressLineThree}"
								class="" escape="false" />
							<br /> <b>Tel:</b> #{invoiceFrom.contactNumber}<br /> <b>
								Fax:</b> #{invoiceFrom.faxNumber}<br /> <b>Email :</b>
							#{invoiceFrom.emailId}<br /> <b>Website :</b> <a
								href="http://www.cooptex.gov.in" target="blank">www.cooptex.gov.in</a><br />
							<b>GST NO:</b> #{invoiceFrom.gstNumber}
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="panel panel-info stock-box m-b-0">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['sales_invoice']} -
								#{msg['to']}</h6>
						</div>
						<div class="panel-body p-8">
							<h6 class="text-primary m-t-0">#{invoiceTo.name}</h6>
							<h:outputText
								value="#{invoiceTo.billingAddressMaster.addressLineOne} #{invoiceTo.billingAddressMaster.addressLineTwo}#{invoiceTo.billingAddressMaster.addressLineThree}"
								class="" escape="false" />
							<br /> <b>Tel:</b> #{invoiceTo.primaryContactNumber} <br /> <b>Fax:</b>
							#{invoiceTo.faxNumber}<br /> <b>Email :</b>
							#{invoiceTo.primaryEmail}<br /> <b>Website :</b> <a
								href="http://www.cooptex.gov.in" target="blank">#{invoiceTo.webUrl}</a><br />
							<b>GST NO :</b> #{invoiceTo.gstNumber}

						</div>
					</div>
				</div>


				<div class="col-md-4 col-sm-4">
					<div class="panel panel-info stock-box m-b-0">
						<div class="panel-heading">
							<h6 class="panel-title">#{msg['sales_invoice_details']}</h6>
						</div>
						<div class="table-responsive">
							<table class="nobor-table">
								<tbody>
									<tr>
										<td>#{msg['sales_invoice_num']}</td>
										<td>:</td>
										<td><strong>#{bean.invoiceNumberPrefix}-#{bean.invoiceNumber}</strong></td>
									</tr>
									<tr>
										<td>#{msg['sales_order_number']}</td>
										<td>:</td>
										<td><strong>#{bean.salesOrder.soNumberPrefix}</strong></td>
									</tr>
									<tr>
										<td>#{msg['sales_order_date']}</td>
										<td>:</td>
										<td><strong><h:outputText
													value="#{bean.salesOrder.orderDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText></strong></td>
									</tr>
									<tr>
										<td>#{msg['sales_invoice_date']}</td>
										<td>:</td>
										<!-- <td><strong><h:outputText
													value="#{bean.salesOrder.orderDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText></strong></td> -->
										<td><strong><h:outputText
													value="#{bean.invoiceDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText></strong></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info m-t-15 m-b-0">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>
					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<p:dataTable id="salesinvoiceitems" var="data"
									class="report-table" widgetVar="saleinvoiceitemsTable"
									rowKey="#{data.id}" value="#{bean.salesInvoiceItemsList}"
									rowIndexVar="idx" emptyMessage="#{msg['no_records_found']}">
									<p:column headerText="#" class="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}"
										class="fa-input width-14">
										<ui:remove>
											<h:outputText
												title="#{data.salesInvoiceItem.productVarietyMaster.code} / #{data.salesInvoiceItem.productVarietyMaster.name}"
												value="#{(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name)).length() gt 20?(fn:substring(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name),0, 19).concat('...')):(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name))}" />
										</ui:remove>

										<h:outputText
											title="#{data.salesInvoiceItem.productVarietyMaster.code} / #{data.salesInvoiceItem.productVarietyMaster.name}"
											value="#{data.salesInvoiceItem.productVarietyMaster.code} / #{data.salesInvoiceItem.productVarietyMaster.name}" />
									</p:column>
									<p:column headerText="#{msg['uom']}" class="fa-input width-6">
										<h:outputText value="#{data.salesInvoiceItem.uomMaster.name}" />
									</p:column>
									<p:column headerText="#{msg['hsn_code']}"
										styleClass="text-center fa-input width-6">
										<h:outputText
											value="#{data.salesInvoiceItem.productVarietyMaster.hsnCode}" />
									</p:column>
									<p:column headerText="#{msg['ordered_unit']}" rendered="false"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.itemQuantity}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['billing_unit']}"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.itemQty}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['unit_price']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.unitRate}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['item_value']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.itemAmount}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['dis_master']} (&#xf295;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.discountPercent}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['dis_value']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.discountValue}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['tax']} (&#xf295;)"
										styleClass="text-right fa-input width-8"
										rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
										<h:outputText value="#{data.salesInvoiceItem.taxPercent}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['tax_amt']} (&#xf156;)"
										styleClass="text-right fa-input width-8"
										rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
										<h:outputText value="#{data.salesInvoiceItem.taxAmount}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['ttl_amt']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText
											value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? data.salesInvoiceItem.itemTotal : (data.salesInvoiceItem.itemTotal - data.salesInvoiceItem.taxAmount)}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:columnGroup type="footer"
										rendered="#{bean.salesInvoiceItemsList.size() > 0}">
										<p:row>
											<p:column styleClass="wid-35"></p:column>
											<p:column styleClass="wid-200"></p:column>
											<p:column styleClass="wid-50"></p:column>

											<p:column styleClass="wid-100" footerText="#{msg['tot']}"></p:column>
											<p:column>
												<f:facet name="footer">
													<h:outputText value="#{bean.billingUnitTotal}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column colspan="6" footerText="#{msg['mat_val']}"
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}" />
											<p:column colspan="6" footerText="#{msg['mat_val']}"
												rendered="#{bean.countryName ne bean.customerAddCountryName}" />
											<p:column>
												<f:facet name="footer">
													<h:outputText value="#{bean.materialAmount}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
										</p:row>
									</p:columnGroup>
								</p:dataTable>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6 m-t-10">
							<h:panelGroup
								rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName and bean.sumTotalTaxAmount gt 0}">
										<h5 class="m-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['gst_summary']}</span>
										</h5>
										<div class="table-responsive cust-table m-b-15">
											<p:dataTable value="#{bean.gstPercentageWiseDTOList}"
												var="summary" id="gstsummary">
												<p:column headerText="#{msg['hsn_code']}">
													<h:outputText value="#{summary.hsnCode}">
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['unit']}"
													styleClass="text-center fa-input">
													<h:outputText value="#{summary.unit}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<ui:remove>
													<p:column styleClass="text-right fa-input"
														headerText="#{msg['cgst']} (&#xf295;)">
														<h:outputText value="#{summary.cgstPercent}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</p:column>
													<p:column styleClass="text-right fa-input"
														headerText="#{msg['sgst']} (&#xf295;)">
														<h:outputText value="#{summary.sgstPercent}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</p:column>
												</ui:remove>
												<p:column headerText="#{msg['tax']} (%)"
													styleClass="text-center">
													<h:outputText value="#{summary.taxPercentage}" />
												</p:column>
												<p:column styleClass="text-right fa-input"
													headerText="#{msg['cgst']}&nbsp;(&#xf156;)">
													<h:outputText value="#{summary.cgstAmount}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>

												<p:column styleClass="text-right fa-input"
													headerText="#{msg['sgst']} &nbsp;(&#xf156;)">
													<h:outputText value="#{summary.sgstAmount}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<p:column styleClass="text-right fa-input"
													headerText="#{msg['ttl_tx_amt']} &nbsp;(&#xf156;)">
													<h:outputText value="#{summary.totalTax}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<p:columnGroup type="footer"
													rendered="#{bean.gstPercentageWiseDTOList.size() > 0}">
													<p:row>
														<p:column colspan="3" footerText="#{msg['tot']}" />
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.sgst}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.cgst}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.sumTotalTaxAmount}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
													</p:row>
												</p:columnGroup>
											</p:dataTable>
										</div>
							</h:panelGroup>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-12 "></div>
						<div class="col-md-3 col-sm-3">
							<div class="table-responsive cust-table">
								<ui:remove>
									<table class="table nobor-table">
										<tbody>
											<h:panelGroup
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
												<tr style="display: #{bean.cgst gt 0?'':'none'}">
													<td class="text-right fa-input">#{msg['cgst']}
														#{bean.cgstPercent} %</td>
													<td class="text-right"><strong> <h:outputText
																id="cgst" value="#{bean.cgst}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></strong></td>
												</tr>
												<tr style="display: #{bean.sgst gt 0?'':'none'}">
													<td class="text-right fa-input">#{msg['sgst']}
														#{bean.sgstPercent} %</td>
													<td class="text-right"><strong><h:outputText
																id="sgst" value="#{bean.sgst}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></strong></td>
												</tr>
											</h:panelGroup>
											<tr style="display: #{bean.discount gt 0?'':'none'}">
												<td class="text-right fa-input">#{msg['dis_master']} (
													&#xf156; )</td>
												<td class="text-right"><strong><h:outputText
															id="discount" value="#{bean.discount}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText></strong></td>
											</tr>
											<tr style="display: #{bean.roundOff gt 0?'':'none'}">
												<td class="text-right fa-input">#{msg['round_off']} (
													&#xf156; )</td>
												<td class="text-right"><strong> <h:outputText
															id="roundoff" value="#{bean.roundOff}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
												</strong></td>
											</tr>
										</tbody>
										<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
											<tr>
												<td class="text-right fa-input"><strong>
														#{msg['net_total']} ( &#xf156; )</strong></td>
												<td class="text-right"><strong><h:outputText
															id="nettotal"
															value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText></strong></td>
											</tr>
										</tfoot>
									</table>
								</ui:remove>
								<table class="table m-0">
									<tbody>
										<tr>
											<td class="text-right fa-input width-60"
												style="border-bottom: none !important;">&nbsp;&nbsp;#{msg['dis_master']}
												( &#xf156; )</td>
											<td style="border-bottom: none !important;"
												class="text-right fa-input width-40"><h:outputText
													id="discount" value="#{bean.discount}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></td>
										</tr>
									</tbody>
								</table>
								<p:dataTable id="gstamounttablee" widgetVar="gstamounttablee"
									var="data" class="table" rowKey="#{data.id}"
									value="#{bean.gstWiseList}"
									emptyMessage="#{msg['no_records_found']}"
									tableStyleClass="table no-head-table" rowIndexVar="idx">

									<p:column class="text-right fa-input width-60"
										rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
										<h:outputText value="#{data.taxCode}" />&nbsp;
													<h:outputText value="#{data.taxPercentage}" />%
												</p:column>

									<p:column class="text-right fa-input width-40"
										rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
										<h:outputText value="#{data.taxAmount}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</p:dataTable>
								<table class="table nobor-table">
									<tbody>
										<tr style="display: #{bean.roundOff gt 0?'':'none'}">
											<td class="text-right fa-input">#{msg['round_off']} (
												&#xf156; )</td>
											<td class="text-right"><strong> <h:outputText
														id="roundoff" value="#{bean.roundOff}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
											</strong></td>
										</tr>
									</tbody>
									<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
										<tr>
											<td class="text-right fa-input"><strong>
													#{msg['net_total']} ( &#xf156; )</strong></td>
											<td class="text-right"><strong><h:outputText
														id="nettotal"
														value="#{(empty bean.customerAddCountryName or bean.countryName eq bean.customerAddCountryName) 
																		? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText></strong></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<!-- end col -->
					</div>
					<div class="row">
						<p:outputPanel rendered="#{bean.sumTotalTaxAmount eq 0.00}">
							<div class="col-lg-12">
								<h6 class="m-t-0">#{msg['Show_note_free_sample']}</h6>
							</div>
						</p:outputPanel>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="term-table m-b-10">
									<tr>
										<th class="col-md-2 text-left">#{msg['amt_in_words']}</th>
										<td>#{bean.totalAmountInWords}</td>
									</tr>
									<tr>
										<th>#{msg['cert_terms']}</th>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<th>#{msg['sign']}</th>
										<td>&nbsp;</td>
									</tr>
								</table>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<span class="text-danger">*</span> <span class="text12">This
								is Computer Generated, No Manual Signature Required</span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-right">
							<div class="form-group m-b-0" id="dontprint">
								<!-- <p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
                                             title="#{msg['print']}" onclick="printDiv('printContent')"
                                             class="btn bg-primary heading-btn  font-iconmoon">
                                             </p:commandButton> -->
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" immediate="true"
									action="#{bean.gotoCreatePage}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
									title="#{msg['print']}"
									onclick="PF('productRegionDialog').show();"
									class="btn bg-primary heading-btn  font-iconmoon">
								</p:commandButton>

								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									update="growls" title="#{msg['submit']}"
									action="#{bean.saveOrUpdate}"
									rendered="#{bean.action eq 'Create'}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									class="btn bg-success heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}"
									update="growls" title="#{msg['approve']}" rendered="false"
									action="#{purchaseInvoiceBean.approvePurchaseInvoice}"
									class="btn bg-success heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--Print popup window-->
		<p:dialog header="#{msg['invoice']}" closable="true"
			id="productRegionDialog" widgetVar="productRegionDialog" height="580"
			position="center" width="90%" resizable="false" modal="true"
			showEffect="fade" hideEffect="fade" draggable="false"
			styleClass="card_dialogbox p-0">
			<div class="modal-body p-0">
				<div class="content p-0" id="printContentDialog">
				<div class="row">
						<h4 class="text-center"><img
						src="#{request.contextPath}/assets/images/iconic-logo.png" alt="img" width="60px;"/> Tamil Nadu Handloom Weavers'
							Co-operative Society Ltd.</h4>
					</div>
					<div class="row equal">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="panel panel-info stock-box m-b-0">
								<div class="panel-heading">
									<h6 class="panel-title">#{msg['sales_invoice']} -
										#{msg['from']}</h6>
								</div>
								<div class="panel-body p-8">
									<div class="pull-left">
										<h5 class="text-primary m-0">#{invoiceFrom.code} /
											#{invoiceFrom.name}</h5>
										<h:outputText
											value="#{invoiceFrom.addressMaster.addressLineOne} #{invoiceFrom.addressMaster.addressLineTwo} #{invoiceFrom.addressMaster.addressLineThree}"
											class="" escape="false" />
										<br /> <b>Tel:</b> #{invoiceFrom.contactNumber} <br /> <b>Fax:</b>
										#{invoiceFrom.faxNumber}<br /> <b>Email :</b>
										#{invoiceFrom.emailId}<br /> <b>Website :</b> <a
											href="http://www.cooptex.gov.in" target="blank">www.cooptex.gov.in</a><br />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="panel panel-info stock-box m-b-0">
								<div class="panel-heading">
									<h6 class="panel-title">#{msg['sales_invoice']} -
										#{msg['to']}</h6>
								</div>
								<div class="panel-body p-8">
									<div class="pull-left">
										<h5 class="text-primary"
											style="font-size: 15px; line-height: 15px;">
											#{invoiceTo.name}</h5>
										<h:outputText
											value="#{invoiceTo.billingAddressMaster.addressLineOne} #{invoiceTo.billingAddressMaster.addressLineTwo}#{invoiceTo.billingAddressMaster.addressLineThree}"
											class="" escape="false" />
										<br /> <b>Tel:</b> #{invoiceTo.primaryContactNumber} <br />
										<b>Fax:</b> #{invoiceTo.faxNumber}<br /> <b>Email :</b>
										#{invoiceTo.primaryEmail}<br /> <b>Website :</b> <a
											href="http://www.cooptex.gov.in" target="blank">#{invoiceTo.webUrl}</a><br />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="panel panel-info stock-box m-b-0">
								<div class="panel-heading">
									<h6 class="panel-title">#{msg['sales_invoice_details']}</h6>
								</div>

								<div class="table-responsive">
									<table class="nobor-table">
										<tbody>
											<tr>
												<td>#{msg['sales_invoice_num']}</td>
												<td>:</td>
												<td><strong>#{bean.invoiceNumberPrefix}-#{bean.invoiceNumber}</strong></td>
											</tr>
											<tr>
												<td>#{msg['sales_order_number']}</td>
												<td>:</td>
												<td><strong>#{bean.salesOrder.soNumberPrefix}</strong></td>
											</tr>
											<tr>
												<td>#{msg['sales_order_date']}</td>
												<td>:</td>
												<td><strong><h:outputText
															value="#{bean.salesOrder.orderDate}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText></strong></td>
											</tr>
											<tr>
												<td>#{msg['sales_invoice_date']}</td>
												<td>:</td>
												<td><strong><h:outputText
															value="#{bean.invoiceDate}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText></strong></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>


					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>

					<div class="row">
						<div class="col-sm-12">
							<div class="cust-table">
								<p:dataTable id="tableDialog" widgetVar="table" var="data"
									class="report-table" rowKey="#{data.id}"
									value="#{bean.salesInvoiceItemsList}"
									emptyMessage="#{msg['no_records_found']}"
									tableStyleClass="table table-hover" rowIndexVar="idx">
									<p:column headerText="#" styleClass="text-center width-4">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}"
										class="fa-input width-8">
										<h:outputText
											title="#{data.salesInvoiceItem.productVarietyMaster.code} / #{data.salesInvoiceItem.productVarietyMaster.name}"
											value="#{(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name)).length() gt 20?(fn:substring(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name),0, 19).concat('...')):(data.salesInvoiceItem.productVarietyMaster.code.concat('/').concat(data.salesInvoiceItem.productVarietyMaster.name))}" />
									</p:column>
									<p:column headerText="#{msg['uom']}" class="fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.uomMaster.name}" />
									</p:column>
									<p:column headerText="#{msg['hsn_code']}"
										styleClass="text-center fa-input width-8">
										<h:outputText
											value="#{data.salesInvoiceItem.productVarietyMaster.hsnCode}" />
									</p:column>
									<p:column headerText="#{msg['ordered_unit']}"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.itemQuantity}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['billing_unit']}"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.itemQty}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['unit_price']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.unitRate}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['item_value']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.itemAmount}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['dis_master']} (&#xf295;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.discountPercent}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['dis_value']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText value="#{data.salesInvoiceItem.discountValue}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['tax']} (&#xf295;)"
										styleClass="text-right fa-input width-8"
										rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
										<h:outputText value="#{data.salesInvoiceItem.taxPercent}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['tax_amt']} (&#xf156;)"
										styleClass="text-right fa-input width-8"
										rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
										<h:outputText value="#{data.salesInvoiceItem.taxAmount}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['ttl_amt']} (&#xf156;)"
										styleClass="text-right fa-input width-8">
										<h:outputText
											value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? data.salesInvoiceItem.itemTotal : (data.salesInvoiceItem.itemTotal - data.salesInvoiceItem.taxAmount)}">
											<f:convertNumber pattern="#0.00">
											</f:convertNumber>
										</h:outputText>
									</p:column>
									<p:columnGroup type="footer"
										rendered="#{bean.salesInvoiceItemsList.size() > 0}">
										<p:row>
											<p:column styleClass="wid-35"></p:column>
											<p:column styleClass="wid-200"></p:column>
											<p:column styleClass="wid-50"></p:column>
											<p:column styleClass="wid-100" footerText="#{msg['tot']}"></p:column>
											<p:column styleClass="wid-100">
												<f:facet name="footer">
													<h:outputText value="#{bean.orderUnitTotal}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column>
												<f:facet name="footer">
													<h:outputText value="#{bean.billingUnitTotal}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
											<p:column colspan="6" footerText="#{msg['mat_val']}"
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}" />
											<p:column colspan="6" footerText="#{msg['mat_val']}"
												rendered="#{bean.countryName ne bean.customerAddCountryName}" />
											<p:column>
												<f:facet name="footer">
													<h:outputText value="#{bean.materialAmount}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</f:facet>
											</p:column>
										</p:row>
									</p:columnGroup>
								</p:dataTable>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-9 col-md-9 col-md-9 col-sm-9 col-xs-9">
							<h:panelGroup
								rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName and bean.sumTotalTaxAmount gt 0}">
								<div class="panel no-border1">
									<div class="panel-body p-0">
										
									<h5 class="m-b-0">
										<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['gst_summary']}</span>
									</h5>
										<div class="table-responsive cust-table">
											<p:dataTable value="#{bean.gstPercentageWiseDTOList}"
												var="summary" id="gstSummaryTableDialog" rowIndexVar="idx">
												<p:column headerText="#{msg['hsn_code']}">
													<h:outputText value="#{summary.hsnCode}">
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['unit']}"
													styleClass="text-center fa-input">
													<h:outputText value="#{summary.unit}">
													<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<ui:remove>
													<p:column styleClass="text-right fa-input"
														headerText="#{msg['cgst']} (&#xf295;)">
														<h:outputText value="#{summary.cgstPercent}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</p:column>
													<p:column styleClass="text-right fa-input"
														headerText="#{msg['sgst']} (&#xf295;)">
														<h:outputText value="#{summary.sgstPercent}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
													</p:column>
												</ui:remove>
												<p:column headerText="#{msg['tax']} (%)"
													styleClass="text-center">
													<h:outputText value="#{summary.taxPercentage}" />
												</p:column>
												<p:column styleClass="text-right fa-input"
													headerText="#{msg['cgst']}&nbsp;(&#xf156;)">
													<h:outputText value="#{summary.cgstAmount}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>

												<p:column styleClass="text-right fa-input"
													headerText="#{msg['sgst']} &nbsp;(&#xf156;)">
													<h:outputText value="#{summary.sgstAmount}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<p:column styleClass="text-right fa-input"
													headerText="#{msg['ttl_tx_amt']} &nbsp;(&#xf156;)">
													<h:outputText value="#{summary.totalTax}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
												</p:column>
												<p:columnGroup type="footer"
													rendered="#{bean.gstPercentageWiseDTOList.size() > 0}">
													<p:row>
														<p:column colspan="3" footerText="#{msg['tot']}" />
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.sgst}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.cgst}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
														<p:column>
															<f:facet name="footer">
																<h:outputText value="#{bean.sumTotalTaxAmount}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
														</p:column>
													</p:row>
												</p:columnGroup>
											</p:dataTable>
										</div>
									</div>
								</div>
							</h:panelGroup>
						</div>

						<ui:remove>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
								<div class=" no-headerbg">
									<p:dataTable id="gstamounttableDialog"
										widgetVar="gstamounttable" var="data"
										class="table m-b-10 no-border" rowKey="#{data.id}"
										value="#{purchaseInvoiceBean.gstWiseList}"
										emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx">
										<p:column style="width:10%;font-size:12px;text-align:right;">
											<h:outputText value="#{data.taxCode}" />
                                                &nbsp;
                                                <h:outputText
												value="#{data.taxPercentage}" />
                                                %
                                             </p:column>
										<p:column style="width:5%;font-size:12px;text-align:right">
											<h:outputText value="#{data.taxAmount}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:columnGroup type="footer">
											<p:row>
												<p:column colspan="1" footerText="#{msg['tot']}" />
												<p:column>
													<f:facet name="footer">
														<h:outputText
															value="#{purchaseInvoiceBean.totalTaxMaterialAmount}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</f:facet>
												</p:column>
											</p:row>
										</p:columnGroup>
									</p:dataTable>
								</div>
							</div>
						</ui:remove>

						<div class="col-md-3 col-sm-3">
							<div class="table-responsive cust-table">
								<ui:remove>
									<table class="table nobor-table">
										<tbody>
											<h:panelGroup
												rendered="#{empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName}">
												<tr style="display: #{bean.cgst gt 0?'':'none'}">
													<td class="text-right fa-input">#{msg['cgst']} (
														&#xf156; )</td>
													<td class="text-right"><strong> <h:outputText
																id="cgst1" value="#{bean.cgst}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></strong></td>
												</tr>
												<tr style="display: #{bean.sgst gt 0?'':'none'}">
													<td class="text-right fa-input">#{msg['sgst']} (
														&#xf156; )</td>
													<td class="text-right"><strong><h:outputText
																id="sgst1" value="#{bean.sgst}">
																<f:convertNumber pattern="#0.00"></f:convertNumber>
															</h:outputText></strong></td>
												</tr>
											</h:panelGroup>
											<tr style="display: #{bean.discount gt 0?'':'none'}">
												<td class="text-right fa-input">#{msg['dis_master']} (
													&#xf156; )</td>
												<td class="text-right"><strong><h:outputText
															id="discount1" value="#{bean.discount}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText></strong></td>
											</tr>
											<tr style="display: #{bean.roundOff gt 0?'':'none'}">
												<td class="text-right fa-input">#{msg['round_off']} (
													&#xf156; )</td>
												<td class="text-right"><strong> <h:outputText
															id="roundoff1" value="#{bean.roundOff}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText>
												</strong></td>
											</tr>
										</tbody>
										<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
											<tr>
												<td class="text-right fa-input"><strong>
														#{msg['net_total']} ( &#xf156; )</strong></td>
												<td class="text-right"><strong><h:outputText
															id="nettotal1"
															value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
															<f:convertNumber pattern="#0.00"></f:convertNumber>
														</h:outputText></strong></td>
											</tr>
										</tfoot>
									</table>
								</ui:remove>
								<table class="table m-0">
									<tbody>
										<tr>
											<td class="text-right fa-input width-60"
												style="border-bottom: none !important;">&nbsp;&nbsp;#{msg['dis_master']}
												( &#xf156; )</td>
											<td style="border-bottom: none !important;"
												class="text-right fa-input width-40"><h:outputText
													id="discount1" value="#{bean.discount}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></td>
										</tr>
									</tbody>

								</table>
								<p:dataTable id="gstamounttable1" widgetVar="gstamounttable1"
									var="data" class="table" rowKey="#{data.id}"
									value="#{bean.gstWiseList}"
									emptyMessage="#{msg['no_records_found']}"
									tableStyleClass="table no-head-table" rowIndexVar="idx">

									<p:column class="text-right fa-input width-60"
										rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
										<h:outputText value="#{data.taxCode}" />&nbsp;
													<h:outputText value="#{data.taxPercentage}" />%
												</p:column>

									<p:column class="text-right fa-input width-40"
										rendered="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName)}">
										<h:outputText value="#{data.taxAmount}">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
									</p:column>
								</p:dataTable>
								<table class="table nobor-table">
									<tbody>
										<tr style="display: #{bean.roundOff gt 0?'':'none'}">
											<td class="text-right fa-input">#{msg['round_off']} (
												&#xf156; )</td>
											<td class="text-right"><strong> <h:outputText
														id="roundoff1" value="#{bean.roundOff}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText>
											</strong></td>
										</tr>
									</tbody>
									<tfoot style="display: #{bean.netTotal gt 0?'':'none'}">
										<tr>
											<td class="text-right fa-input"><strong>
													#{msg['net_total']} ( &#xf156; )</strong></td>
											<td class="text-right"><strong><h:outputText
														id="nettotal1"
														value="#{(empty bean.customerAddCountryName or bean.customerAddCountryName eq bean.countryName) ? bean.netTotal : (bean.netTotal - bean.cgst - bean.sgst)}">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText></strong></td>
										</tr>
									</tfoot>
								</table>


							</div>
						</div>
					</div>
					<div class="row">
						<p:outputPanel rendered="#{bean.sumTotalTaxAmount eq 0.00}">
							<div class="col-lg-12">
								<h6 class="m-t-0">#{msg['Show_note_free_sample']}</h6>
							</div>
						</p:outputPanel>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="term-table">
									<tr>
										<td class="col-md-2 text-left"
											style="background-color: #999; color: #fff;">#{msg['amt_in_words']}</td>
										<td>#{bean.totalAmountInWords}</td>
									</tr>
									<tr>
										<td style="background: #999; color: #fff;">
											#{msg['cert_terms']}</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td style="background: #999; color: #fff;">
											#{msg['sign']}</td>
										<td>&nbsp;</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<span class="text-danger">*</span> <span class="text12">This
								is Computer Generated, No Manual Signature Required</span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-right">
							<div class="form-group m-b-0" id="dontprint">
								<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
									title="#{msg['print']}"
									onclick="printDiv('printContentDialog')"
									class="btn bg-primary heading-btn  font-iconmoon">
								</p:commandButton>
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" immediate="true"
									action="#{bean.gotoPreviewPage}"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:dialog>

		<script>
			function printDiv(divName) {
				var printContents = document.getElementById(divName).innerHTML;
				var originalContents = document.body.innerHTML;
				document.body.innerHTML = printContents;
				document.getElementById("dontprint").style.display = "none";
				window.print();
				document.body.innerHTML = originalContents;
			}
		</script>
	</ui:define>
	
	
</ui:composition>
