<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View District / Taluk Wise - Distribution</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_dist_taluk_wise']} - #{msg['distribution']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['issr']}</li>
						<li class="active">#{msg['view_district_taluk_wise_distribution']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->
			<div
				class="panel-group m-b-10 panel-group-control panel-group-control-right"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['view_district_taluk_wise_distribution']}</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-5 p-t-5">
							<div class="row view-style label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['issr_code']}" />
										<h:outputText
											value="#{distributionBean.loginEmp.empCode} / #{distributionBean.loginEmp.firstName}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['scheme_type']} #{msg['code_name']}" />
										<h:outputText
											value="#{distributionBean.govtSchemeType.code} / #{distributionBean.govtSchemeType.name}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['production_plan']} #{msg['code_name']}" />
										<h:outputText
											value="#{distributionBean.govtSchemePlan.refNumber} / #{distributionBean.govtSchemePlan.planName}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['name_of_the_district']}" />
										<h:outputText value="#{distributionBean.districtMaster.name}"
											class="" />
									</div>
								</div>
							</div>

							<div class="row view-style label-form">
								<div class="col-lg-3 col-sm-6 col-md-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['name_of_the_taluk']}" />
										<h:outputText value="#{distributionBean.talukMaster.name}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->

			<div class="panel panel-white m-b-0">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
					</h5>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="table-responsive">
								<p:dataTable id="disTable" rowIndexVar="idx" var="dis"
									styleClass="report-table"
									value="#{distributionBean.govtDtwItemList}">

									<p:column headerText="#" styleClass="text-center width-4">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column headerText="#{msg['group_code']} / #{msg['name']}"
										styleClass="width-10">
										<h:outputText value="#{dis.groupCode} / #{dis.groupName}" />
									</p:column>

									<p:column headerText="#{msg['ttl_qty_to_be_supplied']}"
										styleClass="width-10">
										<h:outputText value="#{dis.productQunatity}" />
									</p:column>

									<p:column headerText="#{msg['ttl_qty_already_supplied']}"
										styleClass="width-10">
										<h:outputText value="-" />
									</p:column>

									<p:column headerText="#{msg['bal_qty_to_be_supplied']}"
										styleClass="width-10">
										<h:outputText value="-" />
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>

					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pro_variety']}
							- #{msg['distribution_details']}</span>
					</h5>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<div class="table-responsive">
								<!-- <div class=""> -->
								<p:dataTable id="disTableRep" rowIndexVar="idx" var="dis"
									styleClass="report-table m-b-10"
									value="#{distributionBean.proVerDistributionList}">

									<p:column headerText="#" styleClass="text-center width-3">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column headerText="#{msg['product_code']} / #{msg['name']}"
										styleClass="width-10">
										<h:outputText value="#{dis.code}/#{dis.gName}" />
									</p:column>

									<p:column headerText="#{msg['uni_bundle_num']}"
										styleClass="width-10">
										<h:outputText value="#{dis.bundle}" />
									</p:column>

									<p:column headerText="#{msg['quantity_sup']}"
										styleClass="width-10">
										<h:outputText value="#{dis.quantity}" />
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton update="growls"
									value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
									action="#{distributionBean.callListPage}"
									class="btn bg-info cust-btn-h heading-btn  font-iconmoon">
								</p:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>