<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Marital Status</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>Create Marital Status</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>Master</li>
						<li class="active">Create Marital Status</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-15">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">Create Marital Status</h6>
					</div>

					<div class="panel-body">
						<div class="row">
						<div class="col-lg-3 col-sm-6 col-md-6">
								<div class="form-group">
									<p:outputLabel value="Marital Status" />
									<span class="mand-red">*</span>
									<p:inputText value="" class="form-control" />
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-md-6">
								<div class="form-group">
									<p:outputLabel value="Marital Status (in Tamil)" />
									<span class="mand-red">*</span>
									<p:inputText value="" class="form-control" />
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-md-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['status']}" />
									<span class="mand-red">*</span>
									<h:selectOneMenu class="form-control">

										<f:selectItem itemLabel="InActive" />
										<f:selectItem itemLabel="Active" />
										<f:selectItem itemLabel="Select" />
									</h:selectOneMenu>
								</div>
							</div>
						</div>
						

						<div class="text-right">
							<p:commandButton value="&#xf00d; #{msg['cancel']}"
								styleClass="btn btn-sm bg-slate fa-input font-iconmoon m-l-10" />
							<p:commandButton value="&#xed6e; #{msg['submit']}"
								styleClass="btn btn-sm bg-success font-iconmoon m-l-10" />
						</div>

					</div>

				</div>

			</div>

		</div>

	</ui:define>

</ui:composition>

