<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{giftCouponGenerationBean}"></ui:param>
		<title>InfoTex | Gift Coupon Generation</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['crt_gift_voucher_generation']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li class="active">#{msg['crt_gift_voucher_generation']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">
						#{msg['gift_voucher_generation']} <span class="pull-right text-13">(<span
							class="text-danger">*</span> #{msg['mand_fields']})
						</span>
					</h6>
				</div>
				<p:outputPanel id="createPanel">
					<div class="panel-body p-t-10 page-scroll-without-process"
						id="coptexemployee">
						<div class="row custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['exist_coupn']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon fa-input"><i
											class="icon-ticket"></i></span>
										<h:selectOneMenu class="form-control select2"
											id="existingCouponId" required="true"
											requiredMessage="Please Select Existing Coupon"
											value="#{bean.existingCoupon}">
											<f:selectItem itemLabel="#{msg['select']}" />
											<f:selectItem itemValue="yes" itemLabel="Yes" />
											<f:selectItem itemValue="no" itemLabel="No" />
											<p:ajax event="change"
												listener="#{bean.loadGiftCouponRegister}"
												update="couponDetailsId giftCouperRigerserId paymentModeShow growls" />
										</h:selectOneMenu>
									</div>
									<h:message for="existingCouponId"
										styleClass="validation-error-label"></h:message>
									<p:focus for="existingCouponId" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['coupan_category']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon fa-input"><i
											class="icon-ticket"></i></span>
										<h:selectOneMenu class="form-control" id="couponcateggory"
											value="#{bean.giftCouponCategory}" required="true"
											requiredMessage="#{msg['coupan_category_is_req']}"
											converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.giftCouponCategoryList}"
												var="category" itemLabel="#{category.name}"
												itemValue="#{category}"></f:selectItems>
										</h:selectOneMenu>
									</div>
									<h:message for="couponcateggory"
										styleClass="validation-error-label"></h:message>
									<p:focus for="couponcateggory" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['coupan_type']}" />
									<span class="text-danger">*</span>
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-list"></i></span>
										<h:selectOneMenu class="form-control" id="coupontype"
											required="true"
											requiredMessage="#{msg['coupan_type_is_req']}"
											value="#{bean.giftCouponType}" converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.giftCouponTypeList}" var="type"
												itemLabel="#{type.name}" itemValue="#{type}"></f:selectItems>
										</h:selectOneMenu>
									</div>
									<h:message for="coupontype" styleClass="validation-error-label"></h:message>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['occasion_type']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i
											class="icon-calendar22"></i></span>
										<h:selectOneMenu class="form-control" id="occasiontype"
											value="#{bean.occasionType}" converter="#{entityConverter}">
											<f:selectItem itemLabel="Select" itemValue=""
												noSelectionOption="true"></f:selectItem>
											<f:selectItems value="#{bean.occasionTypeList}"
												var="occasion" itemLabel="#{occasion.name}"
												itemValue="#{occasion}"></f:selectItems>
										</h:selectOneMenu>
									</div>
								</div>
							</div>
						</div>

						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel
										value="#{msg['organization_code']} / #{msg['name']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-office"></i></span>
										<ui:remove>
											<h:selectOneMenu class="form-control" id="organization"
												value="#{bean.organizationMaster}"
												converter="#{entityConverter}">
												<f:selectItem itemLabel="Select" itemValue=""
													noSelectionOption="true"></f:selectItem>
												<f:selectItems value="#{bean.organizationMasterList}"
													var="org" itemLabel="#{org.orgCode} / #{org.orgName}"
													itemValue="#{org}"></f:selectItems>
											</h:selectOneMenu>
										</ui:remove>

										<p:autoComplete styleClass="form-control" minQueryLength="4"
											requiredMessage="#{msg['organization_code']} / #{msg['name']} is required"
											required="#{not empty param[submit.clientId]}"
											id="organizationcode" onstart="PF('statusDialog').show();"
											oncomplete="PF('statusDialog').hide();"
											value="#{bean.organizationMaster}"
											completeMethod="#{bean.organizationCodeOrNameAutoComplete}"
											var="org" effect="fade"
											itemLabel="#{org.orgCode.concat('/').concat(org.orgName)}"
											itemValue="#{org}" converter="#{entityConverter}">
											<p:ajax update="growls"></p:ajax>
										</p:autoComplete>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['coupan_name']}" />
									<span class="text-danger">*</span>
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-price-tag2"></i></span>
										<p:inputText styleClass="form-control" id="couponName"
											required="true"
											requiredMessage="#{msg['coupan_name_is_req']}"
											value="#{bean.giftCoupon.couponName}">
										</p:inputText>
									</div>
									<h:message for="couponName" styleClass="validation-error-label"></h:message>
									<p:tooltip for="couponName" value="#{msg['name_valid_msg']}" />
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['coupan_description']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-file-text2"></i></span>
										<p:inputText styleClass="form-control" id="coupndesc"
											value="#{bean.giftCoupon.couponDescription}">
										</p:inputText>
									</div>
									<p:tooltip for="coupndesc" value="#{msg['des_vaid_msg']}" />
								</div>
							</div>

						</div>

						<div class="row custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['gift_to']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-gift fa-lg"></i></span>
										<p:inputText styleClass="form-control"
											value="#{bean.giftCoupon.giftTo}">
										</p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['gifted_by']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-gift fa-lg"></i></span>
										<p:inputText styleClass="form-control"
											value="#{bean.giftCoupon.giftedBy}">
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['offer_start_date']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend">
										<p:calendar id="dueDate6" value="#{bean.giftCoupon.startDate}"
											placeholder="dd-MMM-yyyy" required="true"
											requiredMessage="#{msg['offer_start_date_is_req']}"
											mindate="new Date()" pattern="dd-MMM-yyyy" navigator="true"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
										<h:message for="dueDate6" styleClass="validation-error-label"></h:message>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['offer_end_date']}" />
									<span class="text-danger">*</span>
									<div class="form-group form-group_calend">
										<p:calendar id="dueDate7" value="#{bean.giftCoupon.endDate}"
											placeholder="dd-MMM-yyyy" required="true"
											requiredMessage="#{msg['offer_end_date_is_req']}"
											mindate="new Date()" pattern="dd-MMM-yyyy" navigator="true"
											styleClass="form-control-1 calend-icon-1">
											<p:ajax update="" event="dateSelect" />
										</p:calendar>
										<h:message for="dueDate7" styleClass="validation-error-label"></h:message>
									</div>
								</div>
							</div>
						</div>

						<h5 class="bord_bot m-t-0">
							<i class="fa fa-th-large m-r-5 "></i> <span class="iform-title">#{msg['coupon_dtl']}</span>
						</h5>
						<p:outputPanel id="couponDetailsId">
							<p:outputPanel rendered="#{bean.existingCoupon eq 'no'}">
								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['num_of_coupons']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<p:inputText styleClass="form-control" required="true"
													id="numofcoupons"
													requiredMessage="#{msg['num_of_coupons_is_req']}"
													value="#{bean.noOfCoupons}">
													<p:keyFilter regEx="/[0-9]/i" />
													<p:ajax event="change" listener="#{bean.couponNoChange}"
														update="serialnofrom,serialnoto"
														onstart="PF('statusDialog').show()"
														oncomplete="PF('statusDialog').hide()"></p:ajax>
												</p:inputText>
											</div>
											<h:message for="numofcoupons"
												styleClass="validation-error-label"></h:message>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['coupan_serial_num_frm']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-podium"></i></span>
												<p:inputText styleClass="form-control" id="serialnofrom"
													required="true"
													requiredMessage="#{msg['coupan_serial_num']} - #{msg['from']} #{msg['required']}"
													disabled="true" readonly="true"
													value="#{bean.serialNoFrom}">
												</p:inputText>
											</div>
										</div>
										<h:message for="serialnofrom"
											styleClass="validation-error-label"></h:message>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['coupan_serial_num_to']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-podium"></i></span>
												<p:inputText styleClass="form-control" id="serialnoto"
													required="true"
													requiredMessage="#{msg['coupan_serial_num']} - #{msg['to']} #{msg['required']}"
													disabled="true" readonly="true"
													value="#{bean.giftCoupon.endSerialNumber}">
												</p:inputText>
											</div>
										</div>
										<h:message for="serialnoto"
											styleClass="validation-error-label"></h:message>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['amount_limit_applicable']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stairs-up"></i></span>
												<h:selectOneMenu
													value="#{bean.giftCoupon.minAmountApplicable}"
													required="true"
													requiredMessage="#{msg['amount_limit_applicable_is_req']}"
													styleClass="fgm-control" id="amountlimit">
													<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
													<f:selectItem itemLabel="Yes" itemValue="#{true}"></f:selectItem>
													<f:selectItem itemLabel="No" itemValue="#{false}"></f:selectItem>
												</h:selectOneMenu>
											</div>
											<h:message for="amountlimit"
												styleClass="validation-error-label"></h:message>
										</div>
									</div>
								</div>



								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="row label-form">
										<p:outputLabel value="#{msg['show_code_name']}" />
										<span class="text-danger">*</span>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"
												aria-hidden="true"></i></span>
											<p:autoComplete value="#{bean.giftCoupon.entityMaster}"
												panelStyle="width:250px" styleClass="form-control"
												id="showroomcodename" converter="#{entityConverter}"
												minQueryLength="1"
												required="#{not empty param[add.clientId]}"
												requiredMessage="#{msg['showroom_code_name_req']}"
												completeMethod="#{bean.loadShowroomList}" var="data"
												itemValue="#{data}"
												itemLabel="#{data.code.toString().concat('/').concat(data.name)}">
											</p:autoComplete>
										</div>
										<h:message for="showroomcodename"
											styleClass="validation-error-label"></h:message>
									</div>
								</div>



								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">

										<div class="form-group">
											<p:outputLabel value="#{msg['amount']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-rupee fa-lg"></i></span>
												<ui:remove>
													<p:inputText styleClass="form-control text-right"
														required=" " id="coupnamt"
														value="#{bean.giftCoupon.couponValue}">
														<p:keyFilter regEx="/[0-9]/i" />
														<f:convertNumber pattern="0.00" />
													</p:inputText>
												</ui:remove>
												<p:inputText styleClass="form-control text-right"
													required=" " id="coupnamt"
													value="#{bean.totalGiftCouponAmount}">
													<p:keyFilter regEx="/[0-9]/i" />
													<f:convertNumber pattern="0.00" />
												</p:inputText>
											</div>
											<p:tooltip for="coupnamt" value="#{msg['amt_valid_msg']}" />
										</div>

									</div>

								</div>
							</p:outputPanel>
						</p:outputPanel>
						<p:outputPanel id="giftCouperRigerserId">
							<p:outputPanel rendered="#{bean.existingCoupon eq 'yes'}">
								<div class="row custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['gift_coupon_register']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon fa-input"><i
													class="icon-ticket"></i></span>
												<p:selectCheckboxMenu id="giftCouponRegisterId"
													panelStyle="width:270px"
													value="#{bean.selectedGiftCouponList}"
													widgetVar="regionSelect" converter="#{entityConverter}"
													label="(#{bean.selectedGiftCouponList.size() == 0 || bean.selectedGiftCouponList.size()==null ?'0':bean.selectedGiftCouponList.size()}) Selected"
													tabindex="5" filter="true" filterMatchMode="startsWith"
													required="true"
													requiredMessage="Gift Coupon Register is Required">
													<f:selectItems value="#{bean.giftCouponRegisterList}"
														var="coupon" itemLabel="#{coupon.couponNumber}"
														itemValue="#{coupon}" />
													<p:ajax update="giftCouponRegisterId coupnamt"
														event="change" oncomplete="PF('regionSelect').show()"
														listener="#{bean.loadSelectCoupon}"></p:ajax>
													<p:ajax event="toggleSelect"
														update="giftCouponRegisterId coupnamt"
														listener="#{bean.loadSelectCoupon}"></p:ajax>
												</p:selectCheckboxMenu>
											</div>
											<h:message for="giftCouponRegisterId"
												styleClass="validation-error-label"></h:message>
										</div>
									</div>
								</div>
							</p:outputPanel>
						</p:outputPanel>

						<div class="row custom-form-1">
							<div class="col-lg-3 col-md-3 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['minimum_amt_to_be_purchase']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-rupee fa-lg"></i></span>
										<p:inputText styleClass="form-control text-right" required=" "
											id="minamtpur" value="#{bean.giftCoupon.minAmount}">
											<p:keyFilter regEx="/[0-9]/i" />
											<f:convertNumber pattern="0.00" />
										</p:inputText>
									</div>
									<p:tooltip for="minamtpur" value="#{msg['amt_valid_msg']}" />
								</div>
								<p:outputPanel id="paymentModeShow">
									<p:outputPanel rendered="#{bean.existingCoupon eq 'yes'}">
										<div class="form-group">
											<p:outputLabel value="#{msg['payment_mode']}" />
											<span class="text-danger">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="fa fa-rupee fa-lg"></i></span>
												<h:selectOneMenu class="form-control" id="paymentModeId"
													value="#{bean.paymentMode}" required="true"
													requiredMessage="Payment mode required"
													converter="#{entityConverter}">
													<f:selectItem itemLabel="Select" noSelectionOption="true"></f:selectItem>
													<f:selectItems value="#{bean.paymentModeList}"
														var="payment" itemLabel="#{payment.paymentMode}"
														itemValue="#{payment}"></f:selectItems>
												</h:selectOneMenu>
											</div>
											<h:message for="paymentModeId"
												styleClass="validation-error-label"></h:message>
										</div>
									</p:outputPanel>
								</p:outputPanel>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-12">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8">
										<div class="form-group">
											<p:outputLabel value="#{msg['recipient_email_address']}" />
											<p:inputTextarea rows="4"
												value="#{bean.giftCoupon.recipientEmailAddress}"
												class="form-control cust-textarea-height cust-dis-textarea"
												disabled="true" id="textarea" />
										</div>
									</div>

									<div class="col-lg-4 col-md-4 col-sm-4">
										<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
										<p:commandButton oncomplete="PF('emaildialog').show()"
											action="#{bean.showEmailDialog}"
											class="btn bg-success font-iconmoon m-l-0"
											title="#{msg['add_recipient']}"
											value="&#xea0e;&nbsp;#{msg['add_recipient']}">
										</p:commandButton>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['msg']}" />
									<p:inputTextarea id="message"
										class="form-control cust-dis-textarea" rows="2"
										value="#{bean.giftCoupon.message}" maxlength="225"></p:inputTextarea>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-lg-12 xol-sm-12 text-right">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									immediate="true" class="btn bg-slate font-iconmoon m-r-0"
									action="#{bean.showListPage}" title="#{msg['cancel']}">
								</p:commandButton>

								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}" action="#{bean.saveGiftCoupon}"
									onstart="PF('statusDialog').show()"
									onsuccess="PF('statusDialog').hide()"
									class="btn bg-success heading-btn  font-iconmoon"
									update="createPanel growls">
								</p:commandButton>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</div>
		</div>

		<p:dialog header="#{msg['add_recipient']}" widgetVar="emaildialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0" width="50%" position="center">

			<h:form>
				<p:outputPanel id="emailPanel">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['recipient_email_address']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-envelop3"></i></span>
									<p:inputText styleClass="form-control" value="#{bean.emailId}"
										id="email">
										<p:ajax event="change" update="email"></p:ajax>
									</p:inputText>
								</div>
								<h:message for="email" class="validation-error-label" />
								<p:tooltip for="email" value="#{msg['email_valid_msg']}" />
							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-12">
							<p:outputLabel value="&nbsp;" styleClass="dis-block" />
							<p:commandButton value="&#xea0e; #{msg['add']}"
								update="email emailTaple" action="#{bean.addEmailIds}"
								class="btn bg-success font-iconmoon m-l-0" title="#{msg['add']}">
							</p:commandButton>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive">
								<p:dataTable value="#{bean.emailIdList}" id="emailTaple"
									styleClass="report-table" var="email" rowIndexVar="index"
									rows="5" paginator="true" paginatorAlwaysVisible="false"
									paginatorPosition="bottom">

									<p:column headerText="#" styleClass="text-center">
										<h:outputText value="#{index+1}"></h:outputText>
									</p:column>
									<p:column headerText="#{msg['email_address']}"
										styleClass="text-center">
										<h:outputText value="#{email}"></h:outputText>
									</p:column>
									<p:column headerText="#{msg['action']}"
										styleClass="text-center">
										<p:commandButton value="&#xe99e;"
											class="btn bg-danger font-iconmoon btn-xs"
											title="#{msg['delete']}"
											action="#{bean.deleteEmailIds(index)}" update="emailTaple"></p:commandButton>
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>
					<div class="row m-t-10">
						<div class="col-sm-12 text-right">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								update="emailPanel" class="btn bg-slate font-iconmoon m-r-0"
								oncomplete="PF('emaildialog').hide()" title="#{msg['cancel']}"
								action="#{bean.showEmailDialog}">
							</p:commandButton>

							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}" action="#{bean.submitEmailDialog}"
								class="btn bg-success heading-btn  font-iconmoon"
								oncomplete="PF('emaildialog').hide()"
								update="createPanel growls">
							</p:commandButton>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

		<script>
			$(document).ready(function() {
				$('#selectmode').on('change', function() {
					if (this.value == '0') {
						$("#spercentage").show();
						$("#samount").hide();

					} else if (this.value == '1') {
						$("#spercentage").hide();
						$("#samount").show();

					}

				});
			});
		</script>
	</ui:define>
</ui:composition>