<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{giftCouponGenerationBean}"></ui:param>
		<title>InfoTex | Gift Coupon Generation List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['gift_cupn_gen_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li class="active">#{msg['gift_cupn_gen_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title m-t-5">
						<strong><h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText></strong> -
						#{msg['gift_voucher_generation']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="buttonpanel">
							<p:commandButton value="&#xea0e; #{msg['add']}" id="addId"
								action="#{bean.createGiftCoupon}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
							</p:commandButton>
							<p:commandButton value="&#xe912; #{msg['edit']}"
								class="btn bg-primary font-iconmoon" title="#{msg['edit']}">
							</p:commandButton>
							<p:commandButton value="&#xea18; #{msg['view']}" id="viewId"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['view']}"
								action="#{bean.viewGiftCoupon}"
								class="btn bg-info heading-btn  font-iconmoon" update="growls">
								<f:setPropertyActionListener value="VIEW"
									target="#{bean.pageAction}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
								action="#{bean.deleteGiftCoupon}" title="#{msg['delete']}"
								update="growls" class="btn bg-danger font-iconmoon">
								<f:setPropertyActionListener value="DELETE"
									target="#{bean.pageAction}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								immediate="true" action="#{bean.clear}"
								onclick="PF('progressDlg').show();"
								oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">
								<p:dataTable widgetVar="giftcoupontablewdgt" class="table"
									id="giftcouponId" rowKey="#{data.id}"
									value="#{bean.lazyGiftCouponList}"
									selection="#{bean.selectedGiftCoupon}" var="data"
									rowIndexVar="idx" lazy="true"
									emptyMessage="#{msg['no_record_found']}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									rows="10" paginator="true" paginatorPosition="bottom"
									tableStyleClass="" rowsPerPageTemplate="5,10,15">

									<p:ajax event="filter" oncomplete="updateFilterSelection()" />
									<p:ajax event="page" onstart="PF('progressDlg').show()"
										onsuccess="PF('progressDlg').hide()" />

									<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
										update=":#{p:component('addId')},#{p:component('buttonpanel')}" />

									<p:column headerText="#{msg['s_no']}"
										class="width-3 text-center">
										<h:outputText value="#{idx+1}" />
									</p:column>

									<p:column styleClass="width-15" filterable="true"
										sortable="true" filterMatchMode="contains"
										sortBy="#{data.giftCouponType}"
										filterBy="#{data.giftCouponType}"
										headerText="#{msg['coupan_type']}">
										<h:outputText value="#{data.giftCouponType.name}" />
									</p:column>

									<p:column styleClass="width-15" filterable="true"
										sortable="true" filterMatchMode="contains"
										sortBy="#{data.couponName}" filterBy="#{data.couponName}"
										headerText="#{msg['coupan_name']}">
										<h:outputText value="#{data.couponName}" />
									</p:column>

									<p:column styleClass="width-15" filterable="true"
										sortable="true" filterMatchMode="contains"
										sortBy="#{data.giftTo}" filterBy="#{data.giftTo}"
										headerText="#{msg['gift_to']}">
										<h:outputText value="#{data.giftTo}" />
									</p:column>

									<p:column headerText="#{msg['created_date']}"
										filterMatchMode="contains"
										styleClass="text-center width-10 form-group_calend"
										filterable="true" sortable="true"
										filterBy="#{data.createdDate}" sortBy="#{data.createdDate}">
										<f:facet name="filter">
											<p:calendar id="popup" class="form-control calend-icon"
												navigator="true" placeholder="dd-MMM-yyyy"
												pattern="dd-MMM-yyyy">
											</p:calendar>
										</f:facet>
										<h:outputText value="#{data.createdDate}">
											<f:convertDateTime timeZone="GMT+05:30" pattern="dd-MMM-yyyy" />
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['status']}"
										filterBy="#{data.activeStatus}" sortBy=" #{data.activeStatus}"
										sortable="true" styleClass="text-center width-8">
										<f:facet name="filter">
											<h:selectOneMenu class="form-control select2"
												onchange="PF('giftcoupontablewdgt').filter()">
												<f:selectItem itemLabel="#{msg['select']}" />
												<f:selectItem itemValue="#{true}" itemLabel="Active" />
												<f:selectItem itemValue="#{false}" itemLabel="InActive" />
											</h:selectOneMenu>
										</f:facet>

										<h:outputText
											styleClass="#{ (data.activeStatus eq true) ? 'label label-success sts_shortl' : 'label label-default sts_shortl' }"
											value="#{data.activeStatus eq true?'ACTIVE':'INACTIVE'}">
										</h:outputText>
									</p:column>

									<p:column headerText="#{msg['select']}" selectionMode="single"
										styleClass="width-4 text-center" />
								</p:dataTable>
								<p:remoteCommand name="updateFilterSelection"
									update=":#{p:component('recordcount')}" autoRun="true" />
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmGiftCouponDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmGiftCouponDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteGiftCouponConfrom}"
					oncomplete="PF('confirmGiftCouponDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>