<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | Retail Sales - Draft Production Plan List</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<i class="icon-arrow-left52 position-left"></i> #{msg['sales_invoice_list']}
						</h4>
						<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['retail_pdt_plan']}</li>
						<li class="active">#{msg['retail_sales']} -
							#{msg['sales_invoice_list']}</li>
					</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content">
				<div class="row">
					<div class="col-lg-6">
						<h6 class="panel-title">
							<h:panelGroup id="planSize">
								<h:outputText value="#{salesInvoiceBean.planSize}" />
							</h:panelGroup>
							- #{msg['sales_invoice_list']} <a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>

					<div class="col-lg-6 col-xs-12 col-sm-12 text-right">
						<div class="form-group m-b-10">
							<p:commandButton update="growls" immediate="true"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{salesInvoiceBean.getHeadOfficePlanForm}"
								value="&#xea0e;&nbsp;#{msg['add']}" title="Add"
								class="btn bg-success font-iconmoon m-r-5">
								<f:setPropertyActionListener value="ADD"
									target="#{salesInvoiceBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton update="growls" immediate="true"
								action="#{salesInvoiceBean.editPlan}"
								value="&#xe912;&nbsp;#{msg['edit']}" title="Edit"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>
							<p:commandButton update="growls" immediate="true"
								action="#{salesInvoiceBean.viewPlan}"
								value="&#xea18;&nbsp;#{msg['view']}" title="View"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>
							
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								title="Delete" update="growls"
								action="#{salesInvoiceBean.processDelete}"
								class="btn bg-danger font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
								             title="#{msg['clear']}" 
								             onclick="location.reload();"
								             class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
				
				<p:dialog header="#{msg['confirmation']}" widgetVar="dlg1"
						modal="true" position="center" resizable="false" closable="false"
						width="30%" styleClass="cus-model-popup card_dialogbox p-0">
						<h:form>
							<div class="modal-body p-0">
								<div class="bot-space text-center">
									<h5 class="line-height18">#{msg['confirm_delete']}</h5>
								</div>
							</div>
							<div class="modal-footer text-center">
								<h:commandButton
									styleClass="btn btn-sm btn-danger ui-confirmdialog-no "
									value="#{msg['no']}" onclick="PF('dlg1').hide();">
								</h:commandButton>
								<h:commandButton
									styleClass="btn btn-sm btn-success ui-confirmdialog-yes m-l-5"
									value="#{msg['yes']}"
									action="#{salesInvoiceBean.delete}"
									onclick="PF('dlg1').hide();">
								</h:commandButton>
							</div>
						</h:form>
					</p:dialog>
				
				<div class="row">
					<div class="col-lg-12">
						<div class="panel">
							<div class="panel-body p-0">
								<div class="table-responsive">
									<div
										class="ui-datatable ui-widget ui-datatable-scrollable table">
										<div class="ui-datatable-scrollable-header-box cust-table">
											<p:dataTable id="table" widgetVar="table" var="data" 
												class="table"
												selection="#{salesInvoiceBean.salesInvoiceDTO}"
												rowKey="#{data.id}"
												value="#{salesInvoiceBean.lazySalesInvoiceDTOList}"
												lazy="true" emptyMessage="No records found"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												rows="10" paginator="true" paginatorPosition="bottom"
												tableStyleClass="" rowsPerPageTemplate="5,10,15"
												rowIndexVar="idx">

												<p:column headerText="#"
													style="text-align: center; width: 4%;">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['invoice_number']}"
													filterMatchMode="contains" filterable="true"
													filterBy=" #{data.invoiceNumber}" sortBy=" #{data.invoiceNumber}"
													sortable="true">
													<h:outputText value="#{data.invoiceNumber}"/>
												</p:column>
												
												<p:column filterable="true"
													filterBy="#{data.saleType}"
													headerText="#{msg['sale_type']}"
													sortBy="#{data.saleType}" sortable="true">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('table').filter()"
															id="saleTypeDropDown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{salesInvoiceBean.salesTypeList}"
																var="saleType" itemLabel="#{saleType.name}"
																itemValue="#{saleType.id}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText value="#{data.saleType}" />
												</p:column>
												
												<p:column headerText="#{msg['customer_name']}"
													filterMatchMode="contains" filterable="true"
													filterBy=" #{data.customerName}" sortBy=" #{data.customerName}"
													sortable="true">
													<h:outputText value="#{data.customerName}"/>
												</p:column>
												
												<p:column filterable="true"
													filterBy="#{data.customerType}"
													headerText="#{msg['customer_type']}"
													sortBy="#{data.customerType}" sortable="true">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('table').filter()"
															id="customerTypeDropDown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{salesInvoiceBean.customerTypeList}"
																var="customerType" itemLabel="#{customerType.name}"
																itemValue="#{customerType.id}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText value="#{data.customerType}" />
												</p:column>

												<p:column headerText="#{msg['invoice_date']}" style="width:15%"
													styleClass="text-center form-group_calend"
													sortBy="#{data.invoiceDate}" sortable="true"
													filterBy="#{data.invoiceDate}" filterMatchMode="exact">
													<f:facet name="filter">
														<p:calendar onchange="PF('table').filter()"  navigator="true"
															id="productionplanfrom" pattern="dd-MMM-yyyy"
															placeholder="DD-MM-YYYY" mask="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
															<p:ajax event="change" execute="@this"
																oncomplete="PF('table').filter()" update="table,@form" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.invoiceDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['net_total']}"
													filterMatchMode="contains" filterable="true"
													filterBy=" #{data.netTotal}" sortBy=" #{data.netTotal}"
													sortable="true">
													<h:outputText value="#{data.netTotal}"/>
												</p:column>
												<p:column headerText="#{msg['select']}"
													selectionMode="single" style="width:5%;text-align:center" />
											</p:dataTable>

											<p:remoteCommand name="updateFilterSelection"
												update=":#{p:component('planSize')}" autoRun="true" />

											<!-- <div class="dataTables_info m-b-0 m-l-5"
												id="DataTables_Table_2_info" role="status"
												aria-live="polite">
												<button type="button" title="Download PDF"
													class="btn btn-primary btn-xs">
													<i class="icon-file-pdf position-left"></i>PDF
												</button>
												<button type="button" title="Download Excel"
													class="btn btn-success btn-xs">
													<i class="icon-file-excel position-left"></i>Excel
												</button>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>