<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Audit Log List</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['audit_log_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['data_management']}</li>
						<li class="active">#{msg['audit_log_list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="panel">
			<div class="content pg-scroll-panel-3 no-padding-bottom">
				<!-- collapse panel -->

				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['audit_log']}
								</a> <span class="pull-right text-13 m-r-25">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row label-form custom-form-1">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['data_name']}" />
											<span class="mand-red">*</span>
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-database-check"></i></span>
												<p:inputText class="form-control"
													placeholder="Auto Complete" />
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['from_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="fromdate" placeholder="dd-MMM-yyyy"
												mindate="new Date()" pattern="dd-MMM-yyyy" mask="true"
												navigator="true" required="true" requiredMessage="Required"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax update="" event="dateSelect" />
											</p:calendar>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<p:outputLabel value="#{msg['to_date']}" />
										<span class="mand-red">*</span>
										<div class="form-group form-group_calend">
											<p:calendar id="todate" placeholder="dd-MMM-yyyy"
												mindate="new Date()" pattern="dd-MMM-yyyy" mask="true"
												navigator="true" required="true" requiredMessage="Required"
												styleClass="form-control-1 calend-icon-1">
												<p:ajax update="" event="dateSelect" />
											</p:calendar>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
										<p:commandButton value="&#xeda7;&nbsp;#{msg['refresh']}"
											title="#{msg['refresh']}"
											class="btn bg-primary font-iconmoon">
										</p:commandButton>
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											title="#{msg['submit']}"
											class="btn bg-success heading-btn font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->


				<div class="panel panel-white no-margin-bottom">
					<div class="panel-body no-padding-top">
						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['audit_log_details']}</span>
							<div class="pull-right">
								<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
									title="#{msg['view']}" style="font-size:13px;"
									onclick="location.href='auditLogDetails.xhtml';"
									class="btn bg-info heading-btn font-iconmoon btn-sm m-b-5 m-l-0">
								</p:commandButton>
							</div>
						</h5>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="table-responsive">
									<table class="report-table">
										<thead>
											<tr>
												<th class="width-3">#</th>
												<th class="width-15"><p:outputLabel
														value="#{msg['code']}" /></th>
												<th class="width-15"><p:outputLabel
														value="#{msg['name']}" /></th>
												<th class="width-10"><p:outputLabel
														value="#{msg['created_by']}" /></th>
												<th class="width-10"><p:outputLabel
														value="#{msg['modified_by']}" /></th>
												<th class="width-10"><p:outputLabel
														value="#{msg['created_date']}" /></th>
												<th class="width-10"><p:outputLabel
														value="#{msg['modified_date']}" /></th>
												<th class="width-5"><p:outputLabel
														value="#{msg['select']}" /></th>
											</tr>

										</thead>
										<tbody>
											<tr>
												<td align="center">1</td>
												<td align="center">00012346</td>
												<td>Kamaraj L</td>
												<td>Admin</td>
												<td>Admin</td>
												<td align="center">21-Jun-2018</td>
												<td align="center">10-Sep-2018</td>
												<td class="text-center"><input type="radio" /></td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td align="center">00012346</td>
												<td>Kamaraj L</td>
												<td>Admin</td>
												<td>Admin</td>
												<td align="center">21-Jun-2018</td>
												<td align="center">10-Sep-2018</td>
												<td class="text-center"><input type="radio" /></td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td align="center">00012346</td>
												<td>Kamaraj L</td>
												<td>Admin</td>
												<td>Admin</td>
												<td align="center">21-Jun-2018</td>
												<td align="center">10-Sep-2018</td>
												<td class="text-center"><input type="radio" /></td>
											</tr>
											<tr>
												<td align="center">4</td>
												<td align="center">00012346</td>
												<td>Kamaraj L</td>
												<td>Admin</td>
												<td>Admin</td>
												<td align="center">21-Jun-2018</td>
												<td align="center">10-Sep-2018</td>
												<td class="text-center"><input type="radio" /></td>
											</tr>
											<tr>
												<td align="center">5</td>
												<td align="center">00012346</td>
												<td>Kamaraj L</td>
												<td>Admin</td>
												<td>Admin</td>
												<td align="center">21-Jun-2018</td>
												<td align="center">10-Sep-2018</td>
												<td class="text-center"><input type="radio" /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div
							class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-0">
							<div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info ">Showing
								1 to 5 of 10 entries</div>
							<ul class="pagination pagination-separated">
								<li><a href="#">&lsaquo;&lsaquo;</a></li>
								<li><a href="#">&lsaquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="disabled"><a href="#">3</a></li>
								<li class="disabled"><a href="#">4</a></li>
								<li class="disabled"><a href="#">5</a></li>
								<li><a href="#">&rsaquo;</a></li>
								<li><a href="#">&rsaquo;&rsaquo;</a></li>
								<li>
									<div class="dataTables_length" id="DataTables_Table_1_length">
										<label> <select class="">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
										</select>
										</label>
									</div>
								</li>
							</ul>
						</div>
						<ui:remove>
							<!-- <div class="row">
							<div class="col-md-12 text-right m-t-10">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}"
									onclick="location.href='listStockOutwardPWH.xhtml';"
									class="btn bg-slate heading-btn  font-iconmoon">
								</p:commandButton>

								<p:commandButton value="&#xef36;&nbsp;#{msg['pdf']}"
									ajax="false" title="#{msg['print']}"
									actionListener="#{stockOutwardPWHBean.downloadPdf}"
									class="btn bg-primary heading-btn font-iconmoon">
									<p:fileDownload value="#{stockOutwardPWHBean.pdfFile}" />
								</p:commandButton>
							</div>
						</div> -->
							<!-- end row -->
						</ui:remove>
					</div>
				</div>
			</div>
		</p:outputPanel>
	</ui:define>
</ui:composition>