<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="salesPurForm">
			<script>
			function keyRestrictedNumbers(evt) /*only numbers*/
			 {
		         var charCode = (evt.which) ? evt.which : event.keyCode
		         if (charCode &gt; 31 &amp;&amp; (charCode &lt; 48 || charCode &gt; 57))
		            return false;

		         return true;
		      }	
			
			function keyRestrictedAlpha(evt) /*Alphabets*/
			 {
		         var charCode = (evt.which) ? evt.which : event.keyCode
		         if(charCode &gt; 32 &amp;&amp; (charCode &lt; 65 || charCode &gt; 90) &amp;&amp; (charCode &lt; 97 || charCode &gt; 122))
		            return false;
		         return true;
		      }	
		</script>

			<title>InfoTex | Create Purchase Order</title>

			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_pur_order']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['prcurmnt']}</li>
							<li>#{msg['otr_procurement']}</li>
							<li class="active">#{msg['create_pur_order']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<h:form id="empPuchaseorderForm">
				<div class="content page-scroll-hp no-padding-bottom">
					<!-- collapse panel -->
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse" class="block"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['create_pur_order']}
										<span class="pull-right text-13"> (<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
									</span>
									</a>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<div class="panel-body p-b-10 p-t-5">
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['plan_type']}" />
												<span class="mand-red">*</span>
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="prodPlanType"
														disabled="#{govtPurchaseOrderBean.editFlag eq true}"
														value="#{govtPurchaseOrderBean.govtProductionPlan}"
														class="form-control select2"
														converter="#{entityConverter}"
														required="#{not empty param[previewBut.clientId]}"
														requiredMessage="#{msg['plan_type_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" />
														<f:selectItem itemLabel="Govt Scheme"
															noSelectionOption="true" itemValue="Govt_Scheme" />
														<f:selectItem itemLabel="Contract"
															noSelectionOption="true" itemValue="Contract" />
														<f:selectItem itemLabel="Export" noSelectionOption="true"
															itemValue="Export" />
														<f:selectItem itemLabel="Additional Production Plan"
															noSelectionOption="true"
															itemValue="Additional_Production_Plan" />
														<p:ajax event="change"
															listener="#{govtPurchaseOrderBean.loadGovtProductionPlanApprovedPlanList}"
															update="govPanel conPanel addPanel prodPlan growls supplierlst shipping"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="prodPlanType" class="validation-error-label" />
												<p:focus for="prodPlanType" />
											</div>
										</div>


										<p:outputPanel id="govPanel">
											<p:outputPanel
												rendered="#{govtPurchaseOrderBean.planTypeName eq 'gov'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel class=""
															value="#{msg['plan_code']} / #{msg['name']}" />
														<span class="mand-red">*</span>
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<h:selectOneMenu id="prodPlan"
																disabled="#{govtPurchaseOrderBean.editFlag eq true}"
																value="#{govtPurchaseOrderBean.purchaseOrder.govtSchemePlan}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['plan_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.govtProductionPlanList}"
																	var="productionplan"
																	itemLabel="#{productionplan.planName}"
																	itemValue="#{productionplan}" />
																<p:ajax event="change" process="@this"
																	listener="#{govtPurchaseOrderBean.getSuppliers}"
																	update="supplierlst"
																	onstart="PF('statusDialog').show()"
																	onsuccess="PF('statusDialog').hide()">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="prodPlan" class="validation-error-label" />
													</div>
												</div>
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['society_code_name']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-tree6"></i></span>
															<h:selectOneMenu id="supplierlst"
																disabled="#{govtPurchaseOrderBean.editFlag eq true}"
																value="#{govtPurchaseOrderBean.purchaseOrder.supplierMaster}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['society_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.supplierMasterList}"
																	var="productionplan"
																	itemLabel="#{productionplan.code} / #{productionplan.name}"
																	itemValue="#{productionplan}" />
																<p:ajax update="growls">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="supplierlst"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</p:outputPanel>

										<p:outputPanel id="conPanel">
											<p:outputPanel
												rendered="#{govtPurchaseOrderBean.planTypeName eq 'contract' or govtPurchaseOrderBean.planTypeName eq 'export'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel class=""
															value="#{msg['plan_code']} / #{msg['name']}" />
														<span class="mand-red">*</span>
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<h:selectOneMenu id="prodPlanId"
																value="#{govtPurchaseOrderBean.contractExportPlan}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['plan_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.contractExportPlanList}"
																	var="productionplan"
																	itemLabel="#{productionplan.planName}"
																	itemValue="#{productionplan}" />
																<p:ajax
																	listener="#{govtPurchaseOrderBean.getConSuppliers}"
																	update="growls supplierlstcon ">
																</p:ajax>
															</h:selectOneMenu>

														</div>
														<h:message for="prodPlanId" class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['society_code_name']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-tree6"></i></span>
															<h:selectOneMenu id="supplierlstcon"
																disabled="#{govtPurchaseOrderBean.editFlag eq true}"
																value="#{govtPurchaseOrderBean.purchaseOrder.supplierMaster}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['society_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.supplierMasterList}"
																	var="productionplan"
																	itemLabel="#{productionplan.code} / #{productionplan.name}"
																	itemValue="#{productionplan}" />
																<p:ajax update="growls">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="supplierlstcon"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</p:outputPanel>
										<p:outputPanel id="addPanel">
											<p:outputPanel
												rendered="#{govtPurchaseOrderBean.planTypeName eq 'additional'}">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel class=""
															value="#{msg['plan_code']} / #{msg['name']}" />
														<span class="mand-red">*</span>
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-hash"></i></span>
															<h:selectOneMenu id="addPlanId"
																value="#{govtPurchaseOrderBean.additionalProductionPlan}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['plan_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.additionalProductionPlanList}"
																	var="productionplan"
																	itemLabel="#{productionplan.planName}"
																	itemValue="#{productionplan}" />
																<p:ajax
																	listener="#{govtPurchaseOrderBean.getAddSuppliers}"
																	update="growls supplierlstadd">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="addPlanId" class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['society_code_name']}" />
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-tree6"></i></span>
															<h:selectOneMenu id="supplierlstadd"
																disabled="#{govtPurchaseOrderBean.editFlag eq true}"
																value="#{govtPurchaseOrderBean.purchaseOrder.supplierMaster}"
																class="form-control select2"
																converter="#{entityConverter}"
																required="#{not empty param[previewBut.clientId]}"
																requiredMessage="#{msg['society_code_name_req']}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true" />
																<f:selectItems
																	value="#{govtPurchaseOrderBean.supplierMasterList}"
																	var="productionplan"
																	itemLabel="#{productionplan.code} / #{productionplan.name}"
																	itemValue="#{productionplan}" />
																<p:ajax update="growls">
																</p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="supplierlstadd"
															class="validation-error-label" />
													</div>
												</div>
											</p:outputPanel>
										</p:outputPanel>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
											<p:commandButton onclick="#"
												value="&#xe916;&nbsp;#{msg['clear']}"
												title="#{msg['clear']}"
												action="#{govtPurchaseOrderBean.clearPurchaseOrder}"
												class="btn bg-slate heading-btn  font-iconmoon">
											</p:commandButton>

											<p:commandButton
												action="#{govtPurchaseOrderBean.getProductVaritiesList}"
												disabled="#{govtPurchaseOrderBean.editFlag eq true}"
												value="&#xe98e;&nbsp;#{msg['search']}"
												title="#{msg['search']}"
												class="btn bg-info heading-btn  font-iconmoon"
												update="itemsList taxPanal growls"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()">
											</p:commandButton>
										</div>
									</div>

									<hr class="m-t-10 m-b-10"></hr>

									<p:outputPanel id="addresspanel">
										<div class="row custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['sip_add']}" />
													<span class="mand-red">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<h:selectOneMenu id="shipping"
															value="#{govtPurchaseOrderBean.purchaseOrder.deliveryEntityMaster}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[previewbutton.clientId]}"
															requiredMessage="#{msg['ship_add_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{govtPurchaseOrderBean.shippingEntityList}"
																var="reg" itemLabel="#{reg.code} / #{reg.name}"
																itemValue="#{reg}" />
															<p:ajax update="growls">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="shipping" class="validation-error-label" />
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['bil_add']}" />
													<span class="mand-red">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<h:selectOneMenu id="billing"
															value="#{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster}"
															class="form-control select2"
															converter="#{entityConverter}"
															required="#{not empty param[previewbutton.clientId]}"
															requiredMessage="#{msg['bill_add_req']}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{govtPurchaseOrderBean.billingEntityList}"
																var="reg" itemLabel="#{reg.code} / #{reg.name}"
																itemValue="#{reg}" />
															<p:ajax update="growls">
															</p:ajax>
														</h:selectOneMenu>
													</div>
													<h:message for="billing" class="validation-error-label" />
												</div>
											</div>


											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['pur_odr_val_date']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="valDate"
														value="#{govtPurchaseOrderBean.purchaseOrder.validDate}"
														required="#{not empty param[previewBut.clientId]}"
														placeholder="dd-MMM-yyyy"
														requiredMessage="Purchase Order Validity Date is Required"
														pattern="dd-MMM-yyyy" navigator="true"
														mindate="new Date()"
														styleClass="form-control-1 calend-icon-1">
													</p:calendar>

												</div>
												<h:message for="valDate" class="validation-error-label" />
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<p:outputLabel value="#{msg['exp_dt_delivery']}" />
												<div class="form-group form-group_calend">
													<p:calendar id="nlDate" placeholder="dd-MMM-yyyy"
														value="#{govtPurchaseOrderBean.purchaseOrder.expectedDeliveryDate}"
														required="#{not empty param[previewBut.clientId]}"
														requiredMessage="Expected Date of Delivery is Required"
														pattern="dd-MMM-yyyy" navigator="true"
														mindate="new Date()"
														styleClass="form-control-1 calend-icon-1">
													</p:calendar>
												</div>
												<h:message for="nlDate" class="validation-error-label" />
											</div>
										</div>
									</p:outputPanel>
								</div>
							</div>
						</div>
					</div>
					<!-- colleps panel end -->

					<div class="panel panel-info m-b-0">
						<div class="panel-body no-padding-top">
							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
							</h5>
							<div class="row">
								<div class="col-sm-12">
									<div class="table-responsive">
										<div class="">
											<p:dataTable var="item"
												value="#{govtPurchaseOrderBean.productSelectionVaritiesDTOList}"
												id="itemsList" class="report-table m-b-10" rowIndexVar="idx"
												emptyMessage="#{msg['no_records_found']}">

												<p:column headerText="#" styleClass="text-center width-3">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column
													headerText="#{msg['prod_variey_code']} / #{msg['name']}"
													class="width-20">
													<h:outputText
														value="#{item.productVarietyCode}/#{item.productVarietyName}" />
												</p:column>
												<p:column headerText="#{msg['u_o_m']}"
													class="width-5 text-center">
													<h:outputText value="#{item.uom}" />
												</p:column>
												<p:column headerText="#{msg['hsn_code']}"
													class="width-10 text-center">
													<h:outputText value="#{item.hsnCode}" />
												</p:column>
												<p:column headerText="#{msg['palnned_unit']}"
													class="width-10 text-right">
													<h:outputText value="#{item.planedUnits}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>
												<p:column headerText="#{msg['alread_issu_units']}"
													class="width-10 text-right">
													<h:outputText value="#{item.alreadyIssuedUnits}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['current_unit']}"
													rendered="#{govtPurchaseOrderBean.editFlag eq false}"
													class="fa-input width-10 text-right">
													<p:inputText value="#{item.unit}">
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{govtPurchaseOrderBean.calculateTotalMaterialValueValidate(item)}"
															update="itemsList salesPurForm:empPuchaseorderForm:gstSummaryTable salesPurForm:empPuchaseorderForm:gstamounttable growls"></p:ajax>
													</p:inputText>
												</p:column>

												<p:column headerText="#{msg['current_unit']}"
													rendered="#{govtPurchaseOrderBean.editFlag eq true}"
													class="fa-input width-10 text-right">
													<p:inputText value="#{item.unit}"
														onkeypress="return keyRestrictedNumbers(event)"
														maxlength="10">
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{govtPurchaseOrderBean.calculateTotalMaterialValueForEdit}"
															update="itemsList salesPurForm:empPuchaseorderForm:gstSummaryTable salesPurForm:empPuchaseorderForm:gstamounttable"></p:ajax>
													</p:inputText>
												</p:column>

												<p:column headerText="#{msg['bal_unit']}"
													class="width-10 text-right">
													<h:outputText value="#{item.balanceUnit}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['unit_rate']}&nbsp;(&#xf156;)"
													class="fa-input width-8 text-right">
													<h:outputText value="#{item.unitPrice}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['tax']}(%)"
													class="fa-input width-8 text-right">
													<h:outputText value="#{item.taxPercent}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['tax_amt']}&nbsp;(&#xf156;)"
													class="fa-input width-8 text-right">
													<h:outputText value="#{item.taxAmount}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['ttl_amt']}&nbsp;(&#xf156;)"
													styleClass="text-right width-15 fa-input">
													<h:outputText
														value="#{govtPurchaseOrderBean.validateFlag eq 'false' ? ((item.unit)*(item.unitPrice))+(item.taxAmount):((item.tempUnit)*(item.unitPrice))+(item.taxAmount)}">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>

												<p:columnGroup type="footer">
													<p:row>
														<p:column colspan="11" styleClass="text-center"
															footerText="#{msg['tot']}:">
														</p:column>
														<p:column styleClass="text-right">
															<f:facet name="footer">
																<h:outputText
																	value="#{govtPurchaseOrderBean.totalAmount}"
																	styleClass="text-center">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</f:facet>
															<!-- <f:facet name="footer" >
        						<h:outputText 
        						value="&#xf156; #{bean.budgetConsolidationDTO.consolidationFixedList.stream().map(data->data.totalBudgetAmount).sum()}">
        						</h:outputText> 						  	 
        						</f:facet> -->
														</p:column>
													</p:row>
												</p:columnGroup>
											</p:dataTable>
										</div>
									</div>

									<div class="row">
										<p:outputPanel id="taxPanal">
											<div class="col-lg-6">
												<h5 class="m-b-0">
													<span class="iform-title"><i
														class="fa fa-th-large m-r-5"></i>#{msg['gst_summary']}</span>
												</h5>
												<div class="table-responsive cust-table">
													<p:dataTable var="product"
														value="#{govtPurchaseOrderBean.gstPercentageWiseDTOList}"
														id="gstSummaryTable" rowIndexVar="idx">

														<p:column headerText="#{msg['hsn_code']}"
															styleClass="text-center">
															<h:outputText value="#{product.hsnCode}" />
														</p:column>

														<p:column headerText="#{msg['unit']}"
															styleClass="text-center">
															<h:outputText value="#{product.unit}" />
														</p:column>

														<p:column headerText="#{msg['tax']} (%)"
															styleClass="text-right">
															<h:outputText value="#{product.taxPercentage}" />
														</p:column>
														<p:column headerText="#{msg['cgst']} (&#xf156;)"
															class="text-right fa-input">
															<h:outputText value="#{product.cgstAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>
														<p:column headerText="#{msg['sgst']} (&#xf156;)"
															class="text-right fa-input">
															<h:outputText value="#{product.sgstAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>
														<p:column headerText="#{msg['ttl_tx_amt']} (&#xf156;)"
															class="text-right fa-input">
															<h:outputText value="#{product.totalTax}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>
														<p:columnGroup type="footer">
															<p:row>
																<p:column colspan="3" styleClass="text-right"
																	footerText="#{msg['tot']}" />
																<p:column styleClass="text-right">
																	<f:facet name="footer">
																		<h:outputText
																			value="#{govtPurchaseOrderBean.cgstTaxValue}">
																			<f:convertNumber pattern="#0.00" />
																		</h:outputText>
																	</f:facet>
																</p:column>
																<p:column styleClass="text-right">
																	<f:facet name="footer">
																		<h:outputText
																			value="#{govtPurchaseOrderBean.sgstTaxValue}">
																			<f:convertNumber pattern="#0.00" />
																		</h:outputText>
																	</f:facet>
																</p:column>
																<p:column styleClass="text-right">
																	<f:facet name="footer">
																		<h:outputText
																			value="#{govtPurchaseOrderBean.totalCgstSgstTaxValue}">
																			<f:convertNumber minFractionDigits="2" />
																		</h:outputText>
																	</f:facet>
																</p:column>
															</p:row>
														</p:columnGroup>
													</p:dataTable>
												</div>
											</div>
											<!-- end col -->

											<div class="col-lg-3 col-md-3 col-sm-12 ">
												<div class="form-group m-t-20">
													<p:outputLabel value="#{msg['term_cond']}" />
													<h:inputTextarea class="form-control"
														value="#{govtPurchaseOrderBean.purchaseOrder.termsConditions}"
														requiredMessage="Value cannot be empty" id="textarea"
														rows="5"></h:inputTextarea>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12 ">
												<div class="table-responsive no-headerbg">
													<p:dataTable id="gstamounttable" widgetVar="gstamounttable"
														var="data" class="table m-b-10" rowKey="#{data.id}"
														value="#{govtPurchaseOrderBean.gstWiseList}"
														emptyMessage="#{msg['no_records_found']}"
														rowIndexVar="idx">

														<p:column styleClass="text-right width-5">
															<h:outputText value="#{data.taxCode}" />&nbsp;
																	<h:outputText value="#{data.taxPercentage}" />%
																</p:column>

														<p:column styleClass="text-right width-5">
															<h:outputText value="#{data.taxAmount}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</p:column>

														<p:columnGroup type="footer">
															<p:row>
																<p:column colspan="1" footerText="#{msg['total']}" />
																<p:column>
																	<f:facet name="footer">
																		<h:outputText
																			value="#{govtPurchaseOrderBean.totalTaxMaterialAmount}">
																			<f:convertNumber minFractionDigits="2" />
																		</h:outputText>
																	</f:facet>
																</p:column>
															</p:row>
														</p:columnGroup>
													</p:dataTable>
												</div>
											</div>
										</p:outputPanel>
									</div>
								</div>
							</div>
						</div>

						<div class="panel-body p-t-0  p-b-0">
							<ui:remove>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_to']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<ui:remove>
													<h:selectOneMenu id="fwdto" styleClass="form-control"
														value="#{govtPurchaseOrderBean.planNote.userMaster}"
														required="#{not empty param[preview.clientId]}"
														requiredMessage="#{msg['forward_to_req']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true"></f:selectItem>
														<f:selectItems
															value="#{govtPurchaseOrderBean.userMasters}"
															var="userinfo"
															itemLabel="#{userinfo.empCode}/#{userinfo.empName}"
															itemValue="#{userinfo}" />
														<!-- <f:selectItems var="user"
													value="#{govtPurchaseOrderBean.forwardToUsersList}"
													itemValue="#{user}" itemLabel="#{user.username}"></f:selectItems>
												<p:ajax event="change" /> -->
													</h:selectOneMenu>
												</ui:remove>

												<p:autoComplete id="fwdto" minQueryLength="2"
													panelStyle="width:250px" styleClass="form-control"
													converter="#{entityConverter}"
													required="#{not empty param[submit.clientId]}"
													requiredMessage="#{msg['forward_to_req']}"
													value="#{govtPurchaseOrderBean.planNote.userMaster}"
													itemValue="#{emp}" var="emp" itemLabel="#{emp.empName}"
													completeMethod="#{govtPurchaseOrderBean.loadAutoCompleteUserMaster}"
													effect="fade">
													<p:ajax event="itemSelect" update="fwdto"></p:ajax>
												</p:autoComplete>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_for']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="fwdfor" styleClass="form-control"
													value="#{govtPurchaseOrderBean.planNote.finalApproval}"
													required="#{not empty param[preview.clientId]}"
													requiredMessage="#{msg['forward_for_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItem itemValue="false" itemLabel="Approve"></f:selectItem>
													<f:selectItem itemValue="true" itemLabel="Final Approve"></f:selectItem>
													<p:ajax event="change" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</div>
							</ui:remove>

							<div class="row m-b-15">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xf067; #{msg['create_note']}"
										title="#{msg['create_note']}"
										styleClass="btn bg-success btn-md fa-input m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>

									<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
								style="min-width:32px;"
								styleClass="btn btn-primary btn-md font-iconmoon"
								onclick="PF('commentdialog').show();"></p:commandButton> -->
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										immediate="true" class="btn bg-slate font-iconmoon m-r-0"
										onclick="window.location.href='listSalesPurchaseOrder.xhtml'"
										title="#{msg['cancel']}">
									</p:commandButton>
									<p:commandButton value="&#xea18;&nbsp;#{msg['pre_view']}"
										id="previewBut" title="#{msg['pre_view']}"
										onclick="PF('progressDlg').show();" binding="#{previewbutton}"
										oncomplete="PF('progressDlg').hide();"
										action="#{govtPurchaseOrderBean.previewPurchaseOrder}"
										update="growls addresspanel"
										class="btn bg-info heading-btn  font-iconmoon m-r-5">
									</p:commandButton>
								</div>
							</div>
						</div>

						<ui:remove>
							<div class="panel-body p-t-0  p-b-0">

								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_to']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span> <select class="form-control">
													<option>Select</option>
													<option>Maha Gaurav V / Sales Representative</option>
													<option>Gurunathan M / Senior Manager</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_for']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span> <select class="form-control">
													<option>Select</option>
													<option>Approved</option>
													<option>Final Approval</option>
												</select>
											</div>
										</div>
									</div>

								</div>
								<div class="row m-b-15">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['add']}"
											styleClass="btn btn-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>

										<p:commandButton value="&#xeb0d;" title="#{msg['add']}"
											style="min-width:32px;"
											styleClass="btn btn-primary btn-md font-iconmoon"
											onclick="PF('commentdialog').show();"></p:commandButton>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 text-right">

										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" class="btn bg-slate font-iconmoon "
											onclick="window.location.href='listSalesPurchaseOrder.xhtml'"
											title="#{msg['cancel']}">
										</p:commandButton>

										<p:commandButton value="&#xea18;&nbsp;#{msg['pre_view']}"
											title="#{msg['pre_view']}"
											onclick="window.location.href='previewSalesPurchaseOrder.xhtml'"
											class="btn bg-info heading-btn font-iconmoon m-r-0"
											action="#{districtMasterBean.addNewDistrict}">
										</p:commandButton>
									</div>
								</div>

							</div>
						</ui:remove>
					</div>
				</div>
			</h:form>

			<!-- Add Note Dialogue -->
			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				closable="false" modal="true" showEffect="fade" hideEffect="fade"
				resizable="false" styleClass="create-note-panel">
				<p:outputPanel id="customerPanel111">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
										- 1</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="large-tab1">
									<div class="form-group">
										<p:textEditor widgetVar="editor1" placeholder="Enter text ..."
											value="#{govtPurchaseOrderBean.planNote.note}" height="200" />
									</div>
									<ui:remove>
										<!-- <form action="#">
												<div class="form-group text-wysihtml5-toolbar">
													<p:inputTextarea cols="18" rows="8"
														class="wysihtml5 wysihtml5-min form-control"
														placeholder="Enter text ..."
														value="#{govtPurchaseOrderBean.planNote.note}">
														<p:ajax listener="#{govtPurchaseOrderBean.test}"
															event="keyup" />
													</p:inputTextarea>
												</div>
											</form> -->
									</ui:remove>

									<div class="col-md-12">
										<div class="carousel slide media-carousel" id="media">
											<div class="carousel-inner">
												<div class="item active">
													<div class="row">
														<div class="col-lg-3 col-md-3 col-sm-4">
															<div
																class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																<ul class="list list-icons m-b-0">
																	<li>
																		<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																		<h6 class="m-t-0 text-center">Created By</h6>
																	</li>
																	<li>Name :
																		#{govtPurchaseOrderBean.employeeMaster.firstName}</li>
																	<li>Designation :
																		#{govtPurchaseOrderBean.employeeMaster.personalInfoEmployment.designation.name}</li>
																	<li>Date :
																		#{govtPurchaseOrderBean.currentCreatedDate}</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<a data-slide="prev" href="#media"
												class="left carousel-control">‹</a> <a data-slide="next"
												href="#media" class="right carousel-control">›</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onsuccess="PF('notedialog').hide()"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										onsuccess="PF('notedialog').hide()"
										action="#{govtPurchaseOrderBean.submitNote}" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
			<!-- /.add note dialogue -->

			<!-- Comment -->
			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="p-0">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel panel-flat">
							<div class="panel-body p-0">
								<div class="tabbable">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#solid-tab1"
											data-toggle="tab"><i class="icon-thumbs-up3"></i>
												#{msg['approve']}</a></li>
										<li><a href="#solid-tab2" data-toggle="tab"><i
												class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="solid-tab1">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Approved Comments</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="tab-pane" id="solid-tab2">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Rejection Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>

													<tr>
														<td><strong>Reply Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td><textarea name="enter-message"
																class="form-control" rows="3" cols="1"
																placeholder="What's on your mind?"></textarea></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onclick="window.location.href='listInitiateRequirementRequest.xhtml'"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- /.Comment -->
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		</h:form>
	</ui:define>
</ui:composition>