<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Preview Purchase Order</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['preview_pur_order']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['preview_pur_order']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />

			</div>
		</div>
		<div class="content page-scroll" id="printContent">
			<div class="panel panel-white">
				<div class="panel-body no-padding-bottom">
					<div class="row">
						<div class="col-lg-6 content-group">
							<div class="row m-t-20">
								<div class="col-lg-2">
									<img src="#{request.contextPath}/assets/images/logo-new.jpg"
										class="content-group" alt="" />
								</div>
								<div class="col-lg-10">
									<div class="pull-left">
										<h4 class="text-primary">Head Office Entity</h4>
										<p class="text14">
										#{languageBean.localeCode eq 'ta_IN' ? govtPurchaseOrderBean.headOfficeAddress[1]:govtPurchaseOrderBean.headOfficeAddress[0]}<br /> <b>Tel:</b>
											#{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.contactNumber} Fax: #{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.faxNumber}<br /> <b>Email
												:</b> #{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.emailId}<br /> <b>Website :</b> <a
												href="http://#{govtPurchaseOrderBean.purchaseOrder.entityMaster.webUrl}" target="blank">#{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.webUrl}</a>
										</p>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-6 content-group">
							<div class="invoice-details">
								<h5 class="text-uppercase text-bold m-t-0">Purchase Order
									Details</h5>

								<div class="table-responsive">
									<table class="table nobor-table">
										<tbody>
											<tr>
												<td>Purchase Order Number</td>
												<td>:</td>
												<td><strong>#{govtPurchaseOrderBean.purchaseOrder.poNumberPrefix}-#{govtPurchaseOrderBean.purchaseOrder.poNumber}</strong></td>
											</tr>

											<tr>
												<td>Created Date</td>
												<td>:</td>
												<td><strong><h:outputText value="#{govtPurchaseOrderBean.purchaseOrder.createdDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText></strong></td>
											</tr>
											<tr>
												<td>Created By</td>
												<td>:</td>
												<td><strong>#{govtPurchaseOrderBean.purchaseOrder.employeeName}</strong></td>
											</tr>
											<tr>
												<td>Validity Date</td>
												<td>:</td>
												<td>
												
												<strong><h:outputText value="#{govtPurchaseOrderBean.purchaseOrder.validDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText></strong></td>
											</tr>
											<tr>
												<td>Expected Date of Delivery</td>
												<td>:</td>
												<td><strong><h:outputText value="#{govtPurchaseOrderBean.purchaseOrder.expectedDeliveryDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText></strong></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>








			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary v-h-155">
						<div class="panel-heading">
							<h6 class="panel-title">Purchase Order Raised From</h6>
						</div>
						<div class="panel-body">
							<p class="content-group-sm">#{govtPurchaseOrderBean.purchaseOrder.entityMaster.name}</p>
							<p class="content-group-sm">#{languageBean.localeCode eq 'ta_IN' ? govtPurchaseOrderBean.dnpAddress[1]:govtPurchaseOrderBean.dnpAddress[0]}</p>
							<p class="content-group-sm m-b-0">#{govtPurchaseOrderBean.purchaseOrder.entityMaster.contactNumber}</p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-primary m-b-0 v-h-155">
						<div class="panel-heading">
							<h6 class="panel-title">Purchase Order Raised To</h6>
						</div>

						<div class="panel-body">
							<p class="content-group-sm">#{govtPurchaseOrderBean.purchaseOrder.supplierMaster.name}</p>
							<p class="content-group-sm">#{languageBean.localeCode eq 'ta_IN' ? govtPurchaseOrderBean.societyAddress[1]:govtPurchaseOrderBean.societyAddress[0]}</p>
							<p class="content-group-sm m-b-0">#{govtPurchaseOrderBean.purchaseOrder.supplierMaster.primaryContactNumber}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-info m-b-0 v-h-155">
						<div class="panel-heading">
							<h6 class="panel-title">Delivery Address</h6>
						</div>
						<div class="panel-body">
						<p class="content-group-sm">#{govtPurchaseOrderBean.purchaseOrder.deliveryEntityMaster.name}</p>
							<p class="content-group-sm">#{languageBean.localeCode eq 'ta_IN' ? govtPurchaseOrderBean.warehouseAddress[1]:govtPurchaseOrderBean.warehouseAddress[0]}</p>
							<p class="content-group-sm m-b-0">#{govtPurchaseOrderBean.purchaseOrder.deliveryEntityMaster.contactNumber}</p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-info m-b-0 v-h-155">
						<div class="panel-heading">
							<h6 class="panel-title">Billing Address</h6>
						</div>
						<div class="panel-body">
							<p class="content-group-sm">#{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.name}</p>
							<p class="content-group-sm">#{languageBean.localeCode eq 'ta_IN' ? govtPurchaseOrderBean.headOfficeAddress[1]:govtPurchaseOrderBean.headOfficeAddress[0]}</p>
							<p class="content-group-sm m-b-0">#{govtPurchaseOrderBean.purchaseOrder.billingEntityMaster.contactNumber}</p>
						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-info m-t-20">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel m-b-0">
								<div class="panel-body p-0">
									<div class="panel-heading">
										<h5 class="panel-title">
											<i class="icon-grid6 position-left"></i> Product Details
										</h5>

									</div>
									<div class="table-responsive cust-table">
									
										<p:dataTable id="table" widgetVar="table" var="data"
												class="table" 
												rowKey="#{not empty data.atNumber ? data.atNumber : data.hashCode()}"
												value="#{govtPurchaseOrderBean.purchaseOrder.purchaseOrderItemsList}"
												emptyMessage="No records found"
												tableStyleClass="table table-hover" 
												rowIndexVar="idx">
												
												<p:columnGroup type="header">
												<p:row>
													<p:column rowspan="3" headerText="S.No" />
													<p:column rowspan="3"
														headerText="#{msg['prod_variey_code']} /
														#{msg['name']}" />
														
													<p:column rowspan="3" headerText="#{msg['hsn_code']}" />

													<p:column rowspan="3" headerText="#{msg['uom']}" />
													<p:column colspan="5" headerText="#{msg['tech_spec']}" />

													<p:column rowspan="3" headerText="#{msg['unit']} " />
													<p:column rowspan="3" headerText="#{msg['unit_price']}&nbsp;(&#xf156;)" styleClass="text-right fa-input"/>
													<p:column rowspan="3"
														headerText="#{msg['gst_amount']}&nbsp;(&#xf156;)" styleClass="text-right fa-input"/>
													<p:column rowspan="3"
														headerText="#{msg['ttl_amt']}&nbsp;(&#xf156;)" styleClass="text-right fa-input"/>
												</p:row>
												<p:row>
													<p:column headerText="#{msg['length']}" />
													<p:column headerText="#{msg['width']}" />
													<p:column headerText="#{msg['warp_count']}" />
													<p:column headerText="#{msg['weft_count']}" />
													<p:column headerText="#{msg['reed']}" />
												</p:row>
											</p:columnGroup>

												<p:column>
												<h:outputText value="#{idx+1}" />
											   </p:column>

												<p:column>
													<h:outputText value="#{data.productVarietyMaster.code}/#{data.productVarietyMaster.name}"
														 />
												</p:column>
												
												
												<p:column>
													<h:outputText value="#{data.productVarietyMaster.hsnCode}"
														/>
												</p:column>

												<p:column>
													<h:outputText value="#{data.uomMaster.code}"
														 />
												</p:column>
												
												<p:column>
												<h:outputText value="#{data.productVarietyMaster.lengthActual}" />
											</p:column>
											<p:column>
												<h:outputText value="#{data.productVarietyMaster.widthActual}" />
											</p:column>
											<p:column>
												<h:outputText value="#{data.productVarietyMaster.warpYarnCountActual}" />
											</p:column>
											<p:column>
												<h:outputText value="#{data.productVarietyMaster.weftYarnCountActual}" />
											</p:column>
											<p:column>
												<h:outputText
													value="#{data.productVarietyMaster.picksPerInchTolerance} / #{data.productVarietyMaster.picksPerInchActual}" />
											</p:column>
												
												<p:column>
													<h:outputText value="#{data.itemQty}"
														 ><f:convertNumber pattern="#0" /></h:outputText>
												</p:column>
												
												<p:column>
													<h:outputText value="#{data.unitRate}"
														 ><f:convertNumber pattern="#0.00" /></h:outputText>
												</p:column>
												
												<p:column>
													<h:outputText value="#{data.taxValue}"
														 ><f:convertNumber pattern="#0.00" />
														 </h:outputText>
												</p:column>
												
												<p:column>
													<h:outputText value="#{data.itemTotal}"
														 ><f:convertNumber pattern="#0.00" />
														 </h:outputText>
												</p:column>
											<p:columnGroup type="footer" rendered="#{govtPurchaseOrderBean.purchaseOrder.purchaseOrderItemsList.size() != 0}">
											<p:row>
												<p:column colspan="12"
													footerText="Material
															Value (Without Tax)" />
													<p:column>
															<f:facet name="footer">
																<h:outputText
																	value="#{govtPurchaseOrderBean.materialValue}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
																</f:facet>
														</p:column>
											</p:row>
										</p:columnGroup>
										</p:dataTable>
										
									</div>
									<div class="row m-t-20">
										<div class="col-lg-6 ">
											<div class="panel">
												<div class="panel-body p-0">
													<div class="panel-heading">
														<h5 class="panel-title">
															<i class="icon-grid6 position-left"></i> GST Summary
														</h5>

													</div>
													<div class="table-responsive cust-table">
														<p:dataTable id="gsttable" widgetVar="gsttable" var="data"
															class="table" rowKey="#{data.id}"
															value="#{govtPurchaseOrderBean.gstPercentageWiseDTOList}"
															emptyMessage="No records found"
															tableStyleClass="table table-hover" rowIndexVar="idx">

															<p:column headerText="#"
																style="text-align: center; width: 4%;">
																<h:outputText value="#{idx+1}" />
															</p:column>

															<p:column headerText="HSN Code" style="width:10%">
																<h:outputText value="#{data.hsnCode}" />
															</p:column>

															<p:column headerText="Unit" style="width:10%">
																<h:outputText value="#{data.unit}" />
															</p:column>

															<p:column headerText="#{msg['tax']} (%)"
																style="width:10%">
																<h:outputText value="#{data.taxPercentage}">
																	<f:convertNumber pattern="#0.0" />
																</h:outputText>
															</p:column>

															<p:column headerText="CGST&nbsp;(&#xf156;)" styleClass="text-right fa-input"
																style="width:10%">
																<h:outputText value="#{data.cgstAmount}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</p:column>

															<p:column headerText="SGST&nbsp;(&#xf156;)" styleClass="text-right fa-input"
																style="width:10%">
																<h:outputText value="#{data.sgstAmount}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</p:column>

															<p:column headerText="Total Tax&nbsp;(&#xf156;)" styleClass="text-right fa-input"
																style="width:10%">
																<h:outputText value="#{data.totalTax}">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</p:column>

															<p:columnGroup type="footer" rendered="#{govtPurchaseOrderBean.gstPercentageWiseDTOList.size() != 0}">
																<p:row>
																	<p:column colspan="4" footerText="Total" />
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText
																				value="#{govtPurchaseOrderBean.totalCgstAmount}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText
																				value="#{govtPurchaseOrderBean.totalSgstAmount}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																	<p:column>
																		<f:facet name="footer">
																			<h:outputText
																				value="#{govtPurchaseOrderBean.totalTaxAmount}">
																				<f:convertNumber pattern="#0.00" />
																			</h:outputText>
																		</f:facet>
																	</p:column>
																</p:row>
															</p:columnGroup>
														</p:dataTable>
													</div>
												</div>
											</div>
										</div>
										<!-- end col -->
										<div class="col-lg-3 col-md-3 col-sm-12 "></div>

										<div class="col-lg-3 col-md-3 col-sm-12 ">
											<div class="table-responsive">
												<p:dataTable id="gstamounttable" widgetVar="gstamounttable"
													var="data" class="table" rowKey="#{data.id}"
													value="#{govtPurchaseOrderBean.gstWiseList}"
													emptyMessage="No records found"
													tableStyleClass="table nobor-table m-b-10"
													rowIndexVar="idx">

													<p:column style="width:5%;text-align:right">
														<h:outputText value="#{data.taxCode}" />&nbsp;
													<h:outputText value="#{data.taxPercentage}" />%
												</p:column>

													<p:column style="width:5%;text-align:right" >
														<h:outputText value="#{data.taxAmount}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:columnGroup type="footer" rendered="#{govtPurchaseOrderBean.gstWiseList.size() != 0}">
														<p:row>
															<p:column colspan="1" footerText="Total" />
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																			value="#{govtPurchaseOrderBean.totalTaxAmount+govtPurchaseOrderBean.materialValue}">
																			<f:convertNumber pattern="#0.00" />
																		</h:outputText>
																</f:facet>
															</p:column>
														</p:row>
													</p:columnGroup>
												</p:dataTable>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 panel-body">
											<div class="table-responsive">
												<table class="term-table">
													<tr>
														<th class="col-md-2 text-left">Rupees in Words</th>
														<td>#{govtPurchaseOrderBean.amountInWords}</td>
													</tr>
													<tr>
														<th>#{msg['term_cond']}</th>
														<td>#{govtPurchaseOrderBean.purchaseOrder.termsConditions}</td>
													</tr>
													<tr>
														<th>Signature of Society</th>
														<td>&nbsp;</td>
													</tr>
												</table>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-6">
											<span class="text-danger m-l-10">*</span> <span
												class="text12">This is Computer Generated, No Manual
												Signature Required</span>
										</div>
										<div class="col-md-6 text-right" >
											<div class="form-group" id="dontprint">
												<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
													onclick="printDiv('printContent')"
													title="#{msg['print']}"
													class="btn bg-primary heading-btn  font-iconmoon">
												</p:commandButton>
												<h:panelGroup rendered="#{govtPurchaseOrderBean.action ne 'VIEW'}"> 
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													title="#{msg['cancel']}"
													onclick="location.href='createSalesPurchaseOrder.xhtml';"
													class="btn bg-slate heading-btn  font-iconmoon m-r-5">
												</p:commandButton></h:panelGroup>
												<h:panelGroup rendered="#{govtPurchaseOrderBean.action eq 'VIEW'}"> 
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													title="#{msg['cancel']}"
													onclick="location.href='viewSalesPurchaseOrder.xhtml';"
													class="btn bg-slate heading-btn  font-iconmoon m-r-5">
												</p:commandButton></h:panelGroup>
												<p:commandButton value="&#xecf5;&nbsp;#{msg['approve']}" 
												action="#{govtPurchaseOrderBean.savePurchaseOrder('APPROVED')}"
													immediate="true" class="btn bg-success font-iconmoon m-r-0"
													title="#{msg['approve']}" rendered="#{govtPurchaseOrderBean.action eq 'VIEW' and loginBean.userFeatures['PURCHASE_ORDER_APPROVE']}">
												</p:commandButton>
												<p:commandButton value="&#xecf6;&nbsp;#{msg['reject']}"
												action="#{govtPurchaseOrderBean.savePurchaseOrder('REJETED')}"
													immediate="true" class="btn bg-danger font-iconmoon m-r-0"
													title="#{msg['reject']}" rendered="#{govtPurchaseOrderBean.action eq 'VIEW' and loginBean.userFeatures['PURCHASE_ORDER_REJECT']}">
												</p:commandButton>
												
												<p:commandButton value="&#xead4;&nbsp;#{msg['save']}" 
													rendered="#{govtPurchaseOrderBean.action eq 'EDIT'}"
													action="#{govtPurchaseOrderBean.savePurchaseOrder('INITIATED')}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" 
													title="#{msg['save']}"
													class="btn bg-primary heading-btn  font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}" 
													rendered="#{govtPurchaseOrderBean.action eq 'EDIT'}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" 
													action="#{govtPurchaseOrderBean.savePurchaseOrder('SUBMITTED')}"
													title="#{msg['submit']}"
													class="btn bg-success heading-btn  font-iconmoon m-r-10">
												</p:commandButton>
												
												<p:commandButton value="&#xead4;&nbsp;#{msg['save']}" rendered="#{govtPurchaseOrderBean.action eq 'CREATE'}"
													action="#{govtPurchaseOrderBean.savePurchaseOrder('INITIATED')}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" 
													title="#{msg['save']}"
													class="btn bg-primary heading-btn  font-iconmoon">
												</p:commandButton>
												<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}" rendered="#{govtPurchaseOrderBean.action eq 'CREATE'}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" 
													action="#{govtPurchaseOrderBean.savePurchaseOrder('SUBMITTED')}"
													title="#{msg['submit']}"
													class="btn bg-success heading-btn  font-iconmoon m-r-10">
												</p:commandButton>
												
												
												
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
		</div>
		<script>
		
		function printDiv(divName) {
		     var printContents = document.getElementById(divName).innerHTML;
		     var originalContents = document.body.innerHTML;

		     document.body.innerHTML = printContents;
		     document.getElementById("dontprint").style.display="none";
		     window.print();

		     document.body.innerHTML = originalContents;
		}
		</script>
		<style>
		div[id="gstamounttable"] thead {
			display: none;
		}
		
		div[id="gstamounttable"] tfoot {
			background: none;
			border-top: 1px solid #ccc;
		}
     </style>
	</ui:define>
</ui:composition>