<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{empAddnlEarningDeductionBean}"></ui:param>
		<h:form id="empAddnlEarningDeductionfromid">
			<title>InfoTex | Employee Additional Earnings / Deduction</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{empAddnlEarningDeductionBean.action eq 'Add' ?
							msg['cr_emp_addearn'] : msg['ed_emp_addearn']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['personnel']}</li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['pay_roll']}</li>
							<li class="active">#{empAddnlEarningDeductionBean.action eq
								'Add' ? msg['cr_emp_addearn'] : msg['ed_emp_addearn']}</li>
						</ul>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content ">
				<div class="page-scroll-without-outsight-panel x-hide">
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['emp_add_ear_ded']}
									</a> <span class="pull-right text-13 m-r-25 hidden-xs">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>
								</h6>
							</div>
							<div>
								<p:outputPanel id="createTenderPanel">
									<div id="accordion-control-right-group1"
										class="panel-collapse collapse in">
										<div class="panel-body p-t-10 no-padding-bottom">
											<div class="row label-form custom-form-1">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['type']}" for="glAccountid" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="glAccountid"
															rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-list"></i></span>
															<h:selectOneMenu converter="#{entityConverter}"
																id="glAccountid"
																disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																value="#{bean.selectedGlAccount}" widgetVar="glSelect"
																requiredMessage="#{msg['ttype_req']}"
																styleClass="form-control">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{bean.glAccountList}"
																	var="glAccount"
																	itemLabel="#{glAccount.code} / #{glAccount.name}"
																	itemValue="#{glAccount}"></f:selectItems>
															</h:selectOneMenu>
														</div>
														<h:message for="glAccountid"
															class="validation-error-label" />
														<p:focus for="glAccountid" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['payaspect']}"
															for="payaspectid" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="payaspectid"
															rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="fa fa-lg fa-inr"></i></span>
															<h:selectOneMenu styleClass="form-control"
																disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																id="payaspectid"
																requiredMessage="#{msg['payaspet_req']}"
																value="#{bean.selectedPayAspect}">
																<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
																<f:selectItems value="#{bean.payAspect}" var="status"
																	itemLabel="#{status}" itemValue="#{status}"></f:selectItems>
															</h:selectOneMenu>
														</div>
														<h:message for="payaspectid"
															class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['ho_ro']}"
															for="entityMasterid" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="entityMasterid"
															rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<h:selectOneMenu converter="#{entityConverter}"
																disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																id="entityMasterid"
																required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																value="#{bean.selectedHeadRegionOfc}"
																requiredMessage="#{msg['ho_ro_req']}"
																styleClass="form-control">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{bean.headRegionOfficeList}"
																	var="horoentityMaster"
																	itemLabel="#{horoentityMaster.name}"
																	itemValue="#{horoentityMaster}"></f:selectItems>
																<p:ajax event="change"
																	update="entityTypeMaster entityid entityTypePanelId entityPanelId inputpanelentityid"
																	onstart="PF('statusDialog').show();"
																	onsuccess="PF('statusDialog').hide();"
																	listener="#{bean.headandregional}"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="entityMasterid"
															class="validation-error-label" />
													</div>
												</div>

												<p:outputPanel id="entityTypePanelId">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['enty_typ']}"
																for="entityTypeMaster" />
															<p:outputLabel value="*" class="text-danger mand-symbol"
																for="entityTypeMaster"
																rendered="#{bean.selectedHeadRegionOfc.entityTypeMaster.entityCode ne 'HEAD_OFFICE'}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-list"></i></span>
																<h:selectOneMenu id="entityTypeMaster"
																	value="#{bean.selectedEntityTypeMaster}"
																	required="#{not empty param[generate.clientId] || not empty param[submit.clientId] and bean.selectedHeadRegionOfc.entityTypeMaster.entityCode ne 'HEAD_OFFICE'}"
																	requiredMessage="#{msg['entity_type_req']}"
																	disabled="#{bean.selectedHeadRegionOfc.entityTypeMaster.entityCode eq 'HEAD_OFFICE' or bean.inputDisabledFlag}"
																	styleClass="form-control"
																	converter="#{entityConverter}">
																	<f:selectItem itemLabel="Select"
																		noSelectionOption="true" />
																	<f:selectItems value="#{bean.entityTypeList}"
																		var="entityType" itemLabel="#{entityType.entityName}"
																		itemValue="#{entityType}"></f:selectItems>
																	<p:ajax event="change"
																		update="entityid inputpanelentityid"
																		onstart="PF('statusDialog').show();"
																		onsuccess="PF('statusDialog').hide();"
																		listener="#{bean.onSelectEntityType}"></p:ajax>
																</h:selectOneMenu>
															</div>
															<h:message for="entityTypeMaster"
																class="validation-error-label"></h:message>
														</div>
													</div>
												</p:outputPanel>
											</div>
											<div class="row label-form custom-form-1">
												<p:outputPanel id="entityPanelId">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['entity']}" for="entityid" />
															<p:outputLabel value="*" class="text-danger mand-symbol"
																for="entityid"
																rendered="#{bean.selectedHeadRegionOfc.entityTypeMaster.entityCode ne 'HEAD_OFFICE'}" />
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-office"></i></span>
																<h:selectOneMenu class="form-control"
																	requiredMessage="#{msg['ent_req']}"
																	converter="#{entityConverter}"
																	disabled="#{bean.selectedHeadRegionOfc.entityTypeMaster.entityCode eq 'HEAD_OFFICE' or bean.inputDisabledFlag}"
																	value="#{bean.selectedEntity}" id="entityid">
																	<f:selectItem itemLabel="Select"
																		noSelectionOption="true" />
																	<f:selectItems value="#{bean.entitylist}" var="entity"
																		itemLabel="#{entity.name}" itemValue="#{entity}"></f:selectItems>
																	<p:ajax event="change"
																		update="entityid inputpanelentityid"
																		onstart="PF('statusDialog').show();"
																		onsuccess="PF('statusDialog').hide();"
																		listener="#{bean.loadEmployeeBySectionId}"></p:ajax>
																</h:selectOneMenu>

															</div>
															<h:message for="entityid" class="validation-error-label"></h:message>
														</div>
													</div>
												</p:outputPanel>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['dept']}" for="deptid" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="deptid"
															rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<h:selectOneMenu converter="#{entityConverter}"
																id="deptid"
																disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																value="#{bean.selectedDepartment}"
																requiredMessage="#{msg['dept_req']}"
																styleClass="form-control">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{bean.departmentList}" var="dept"
																	itemLabel="#{dept.name}" itemValue="#{dept}"></f:selectItems>
																<p:ajax event="change" update="secid inputpanelentityid"
																	onstart="PF('statusDialog').show();"
																	onsuccess="PF('statusDialog').hide();"
																	listener="#{bean.loadSectionByDepartmentId}"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="deptid" class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['sec']}" for="secid" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="secid"
															rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<h:selectOneMenu converter="#{entityConverter}"
																id="secid"
																disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																value="#{bean.selectedSection}"
																requiredMessage="#{msg['sec_req']}"
																styleClass="form-control">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{bean.sectionMasterList}"
																	var="sec" itemLabel="#{sec.name}" itemValue="#{sec}"></f:selectItems>

																<p:ajax event="change"
																	update="employeelist inputpanelentityid"
																	onstart="PF('statusDialog').show();"
																	onsuccess="PF('statusDialog').hide();"
																	listener="#{bean.loadEmployeeBySectionId}"></p:ajax>
															</h:selectOneMenu>
														</div>
														<h:message for="secid" class="validation-error-label" />
													</div>
												</div>

												<p:outputPanel id="inputpanelentityid">
													<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
														<div class="form-group">
															<p:outputLabel value="#{msg['employee']}" />
															<span class="mand-red">*</span>
															<div class="multi-select-full">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-user"></i></span>
																	<p:selectCheckboxMenu id="employeelist"
																		disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																		panelStyle="width:270px"
																		value="#{bean.selectedEmployeeMasterList}"
																		widgetVar="employeeSelect"
																		converter="#{entityConverter}"
																		required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																		requiredMessage="#{msg['emplo_req']}"
																		label="(#{bean.selectedEmployeeMasterList.size() == 0 || bean.selectedEmployeeMasterList.size()==null ?'0':bean.selectedEmployeeMasterList.size()}) employees Selected"
																		tabindex="5" filter="true"
																		filterMatchMode="startsWith">
																		<f:selectItems value="#{bean.employeeMasterList}"
																			var="employee"
																			itemLabel="#{employee.personalInfoEmployment.pfNumber} / #{employee.firstName} #{employee.lastName}"
																			itemValue="#{employee}" />
																		<p:ajax update="inputpanelentityid" event="change"
																			oncomplete="PF('employeeSelect').show()"></p:ajax>
																		<p:ajax event="toggleSelect"
																			oncomplete="PF('employeeSelect').show()"></p:ajax>
																	</p:selectCheckboxMenu>
																</div>
																<h:message for="employeelist"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</p:outputPanel>
											</div>

											<div class="row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
													<div class="row">
														<div class="col-lg-6 col-sm-6 col-md-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['year']}" for="yearId" />
																<p:outputLabel value="*" class="text-danger mand-symbol"
																	for="yearId"
																	rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-calendar22"></i></span>
																	<h:selectOneMenu id="yearId"
																		disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																		required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																		value="#{bean.yearValue}"
																		requiredMessage="#{msg['year_req']}"
																		styleClass="form-control">
																		<f:selectItem itemLabel="Select" itemValue="#{null}" />
																		<f:selectItems value="#{bean.yearListData}" var="year"
																			itemLabel="#{year}" itemValue="#{year}"></f:selectItems>
																	</h:selectOneMenu>
																</div>
																<h:message for="yearId" class="validation-error-label" />
															</div>
														</div>

														<div class="col-lg-6 col-sm-6 col-md-12">
															<div class="form-group">
																<p:outputLabel value="#{msg['month']}" for="monthId" />
																<p:outputLabel value="*" class="text-danger mand-symbol"
																	for="monthId"
																	rendered="#{empty param[generate.clientId] || not empty param[submit.clientId]}}" />
																<div class="input-group">

																	<span class="input-group-addon"><i
																		class="icon-calendar22"></i></span>
																	<h:selectOneMenu id="monthId" styleClass="form-control"
																		disabled="#{bean.action eq 'Edit' or bean.inputDisabledFlag}"
																		required="#{not empty param[generate.clientId] || not empty param[submit.clientId]}"
																		value="#{bean.selectedMonth}"
																		requiredMessage="#{msg['month_req']} "
																		converter="#{entityConverter}">
																		<f:selectItem itemLabel="#{msg['select']}"
																			noSelectionOption="true"></f:selectItem>
																		<f:selectItems itemValue="#{month.monthId}"
																			itemLabel="#{month.monthName}" var="month"
																			value="#{bean.monthsList}"></f:selectItems>

																	</h:selectOneMenu>
																</div>
																<h:message for="monthId" class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>

												<div class="col-lg-3 col-md-3 col-sm-6">
													<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
													<div class="form-group">
														<p:commandButton onstart="PF('statusDialog').show();"
															onsuccess="PF('statusDialog').hide();"
															value="&#xe916;&nbsp;#{msg['clear']}"
															oncomplete="PF('confirmEmpAddnlEarningDeductionClear').show()"
															title="#{msg['clear']}"
															class="btn bg-slate heading-btn font-iconmoon m-l-0">
														</p:commandButton>
														<p:commandButton value="&#xeda7;&nbsp;#{msg['generate']}"
															action="#{bean.addEmployeeDateList}"
															binding="#{generate}" onstart="PF('progressDlg').show();"
															update="empAddnlEarningDeductionTableId empAddnlEarningDeductionoutputpanlid empAddnlEarningDeductionfromid growls"
															oncomplete="PF('progressDlg').hide();"
															title="#{msg['generate']}"
															class="btn bg-primary heading-btn font-iconmoon">
														</p:commandButton>
													</div>
												</div>
											</div>
											<!-- end row -->
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</div>

					<div class="panel m-b-0">
						<div class="panel-body">
							<div class="row">
								<p:outputPanel id="externalPanel">
									<div class="col-sm-12">
										<div class="table-responsive m-b-10">
											<p:outputPanel id="empAddnlEarningDeductionoutputpanlid"
												styleClass="#{bean.empAddnlEarningDeductionList.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
												<!--  Manual Inward Category-->
												<p:dataTable value="#{bean.empAddnlEarningDeductionList}"
													var="item" id="empAddnlEarningDeductionTableId"
													scrollable="true" rowIndexVar="index" scrollHeight="180"
													styleClass="custom-input-width m-b-10"
													widgetVar="empAddnlEarningDeductionTableWdgr">

													<p:column headerText="#"
														styleClass="text-center sno-ovrflw-5">
														<h:outputText value="#{index +1 }" />
													</p:column>

													<p:column headerText="#{msg['ho_ro']}"
														class="text-left width-15">
														<h:outputText value="#{item.headRegionOfc.name}"
															styleClass="fa-input" />
													</p:column>

													<p:column headerText="#{msg['dept']}"
														class="text-left width-15">
														<h:outputText
															value="#{item.employeeMaster.personalInfoEmployment.currentDepartment.name}"
															styleClass="fa-input" />
													</p:column>

													<p:column headerText="#{msg['sec']}"
														class="text-left width-10">
														<h:outputText
															value="#{item.employeeMaster.personalInfoEmployment.currentSection.name}"
															styleClass="fa-input" />
													</p:column>

													<p:column headerText="#{msg['employee']}"
														class="text-left width-15">
														<h:outputText value="#{item.employeeMaster.personalInfoEmployment.pfNumber.concat(' / ').concat(item.employeeMaster.firstName).concat(' ').concat(item.employeeMaster.lastName)}"
															styleClass="fa-input " />
													</p:column>

													<p:column headerText="#{msg['amount']}&nbsp;(&#xf156;)"
														class="fa-input width-10">
														<p:inputNumber id="amount" value="#{item.amount}" class=""
															minValue="0">
														</p:inputNumber>
													</p:column>
													<p:column headerText="#{msg['description']}"
														class="text-left width-20">
														<p:inputText class="form-control" id="desc"
															value="#{item.note}"></p:inputText>
													</p:column>
												</p:dataTable>
											</p:outputPanel>
										</div>
									</div>
								</p:outputPanel>
							</div>
							<div class="row label-form">
								<h:panelGroup
									rendered="#{loginBean.userFeatures['SKIP_APPROVAL_FOR_EARNINGS_DEDUCTIONS']}">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['skip_approval']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="skipapproval" styleClass="form-control"
													value="#{bean.skipApprovalFlag}">
													<f:selectItem itemValue="true" itemLabel="Yes"></f:selectItem>
													<f:selectItem itemValue="false" itemLabel="No"></f:selectItem>
													<p:ajax event="change" update="notebtnid forwardPanel" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
								</h:panelGroup>
								<p:outputPanel id="forwardPanel">
									<h:panelGroup rendered="#{bean.skipApprovalFlag eq 'false'}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_to']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<p:autoComplete id="forwardto" minQueryLength="2"
														styleClass="form-control" converter="#{entityConverter}"
														required="#{bean.skipApprovalFlag eq 'true' and not empty param[inspection.clientId]}"
														requiredMessage="#{msg['ins_off_name']} #{msg['required']}"
														value="#{bean.forwardTo}" itemValue="#{emp}" var="emp"
														itemLabel="#{emp.empName}"
														completeMethod="#{bean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="forwardto"></p:ajax>
													</p:autoComplete>

												</div>
												<h:message for="fwdto" class="validation-error-label"></h:message>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['frwd_for']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-forward"></i></span>
													<h:selectOneMenu id="fwdfor" styleClass="form-control"
														disabled="#{bean.action == 'Edit'}"
														value="#{bean.finalApproval}">
														<f:selectItem itemValue="False" itemLabel="Approval"></f:selectItem>
														<f:selectItem itemValue="True" itemLabel="Final Approval"></f:selectItem>
														<p:ajax event="change" update="fwdfor" />
													</h:selectOneMenu>
												</div>
											</div>
										</div>
									</h:panelGroup>
								</p:outputPanel>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:outputPanel id="notebtnid">
										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											rendered="#{bean.skipApprovalFlag eq 'false'}"
											styleClass="btn bg-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>
									</p:outputPanel>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" action="#{bean.clear}"
										class="btn bg-slate font-iconmoon">
									</p:commandButton>

									<p:commandButton
										value="#{bean.action eq 'Add' ?  '&#xed6e;' :  '&#xeda7;' }  #{bean.action eq 'Add' ?  msg['submit'] :  msg['update'] }"
										title="#{bean.action eq 'Add' ?  msg['submit'] :  msg['update'] }"
										class="#{bean.action eq 'Add' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
										binding="#{submit}"
										update="empAddnlEarningDeductionTableId empAddnlEarningDeductionoutputpanlid empAddnlEarningDeductionfromid forwardPanel growls"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										action="#{bean.saveEmpAddnlEarningDeduction}">
									</p:commandButton>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>

		<p:dialog header="#{msg['confirmation']}" draggable="false"
			modal="true" styleClass="p-0 overlay-pop modal-dialog"
			closable="true" width="30%"
			widgetVar="confirmEmpAddnlEarningDeductionClear" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['are_u_sure_want_to_clear_data']}" />

			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmEmpAddnlEarningDeductionClear').hide()" />
				<p:commandButton
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.clearEmpAddnlEarningDeduction}"
					oncomplete="PF('confirmEmpAddnlEarningDeductionClear').hide()">
				</p:commandButton>
			</div>
		</p:dialog>


		<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0 top-100">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 m-b-10">
						<p:textEditor widgetVar="editor1" rendered="true"
							requiredMessage=" #{msg['note']} #{msg['required']}"
							disabled="#{bean.action == 'Edit'}" placeholder="Enter text ..."
							value="#{bean.createNote}" height="200" />
					</div>
					<div class='col-md-12'>
						<div class="carousel slide media-carousel" id="media">
							<div class="carousel-inner">
								<div class="item  active">
									<div class="row">
										<div class="col-md-3">
											<div
												class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
												<ul class="list list-icons m-b-0">
													<li>
														<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
														<h6 class="m-t-0 text-center">Created By</h6>
													</li>
													<li>Name :
														#{empAddnlEarningDeductionBean.employeeMaster.firstName}</li>
													<li>Designation :
														#{empAddnlEarningDeductionBean.employeeMaster.personalInfoEmployment.designation.name}</li>
													<li>Date :
														#{empAddnlEarningDeductionBean.currentCreatedDate}</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
							<a data-slide="next" href="#media" class="right carousel-control">›</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onsuccess="PF('notedialog').hide()" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>




		<!-- /.add note dialogue -->
		<!-- Comment -->
		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="location.href='#';"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>