<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Employee Payment Details</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_emp_payment_details']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li class="active">#{msg['create_emp_payment_details']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h6 class="panel-title">
						#{msg['emp_payment_details']} <span class="pull-right text-13">(<span
							class="text-danger">*</span> #{msg['marked_field_mandatory']})
						</span>
					</h6>
				</div>

				<div class="topFix">
					<div class="panel-body page-scroll-without-process">
						<p:outputPanel id="empPayDetailsPanel">

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['cadres']}" for="cadreId" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="cadreId" rendered="#{empty param[generate.clientId]}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<h:selectOneMenu id="cadreId"
												value="#{employeePaymentDetailsBean.cadreMaster}"
												converter="#{entityConverter}"
												required="#{not empty param[generate.clientId]}"
												class="form-control" requiredMessage="#{msg['cadre_req']}">
												<f:selectItem itemLabel="Select" itemValue=""
													noSelectionOption="true" />
												<f:selectItems
													value="#{employeePaymentDetailsBean.caderMasterList}"
													itemLabel="#{cadre.name.toUpperCase()}"
													itemValue="#{cadre}" var="cadre" />
												<p:ajax onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"
													listener="#{employeePaymentDetailsBean.loadEmployees}"
													update="empId designation empPayDetailsPanel" />
											</h:selectOneMenu>
										</div>
										<h:message for="cadreId" class="validation-error-label" />
										<p:focus for="cadreId" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sus_ho_ro']}" for="relation" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="relation" rendered="#{empty param[generate.clientId]}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-office"></i></span>

											<h:selectOneMenu id="relation"
												value="#{employeePaymentDetailsBean.hadOrRegionOffice}"
												converter="#{entityConverter}"
												required="#{not empty param[generate.clientId]}"
												class="form-control" requiredMessage="#{msg['ho_ro_req']}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItems
													value="#{employeePaymentDetailsBean.hadOrRegionOfficeList}"
													itemLabel="#{entity.name}" itemValue="#{entity}"
													var="entity" />
												<p:ajax onstart="PF('statusDialog').show();"
													onsuccess="PF('statusDialog').hide();"
													listener="#{employeePaymentDetailsBean.loadEmployees}"
													event="change"
													update="empId designation empPayDetailsPanel" />
											</h:selectOneMenu>
										</div>
										<h:message for="relation" class="validation-error-label" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['employee_code_name']}"
											for="empId" />
										<p:outputLabel value="*" class="text-danger mand-symbol"
											for="empId" rendered="#{empty param[generate.clientId]}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<h:selectOneMenu id="empId"
												value="#{employeePaymentDetailsBean.employee}"
												converter="#{entityConverter}"
												required="#{not empty param[generate.clientId]}"
												class="form-control"
												requiredMessage="#{msg['emp_cod_name_req']}">
												<f:selectItem itemLabel="Select" noSelectionOption="true" />
												<f:selectItems
													value="#{employeePaymentDetailsBean.employeeList}"
													itemLabel="#{emp.empCode} / #{emp.empNameWithPfNumber.toUpperCase()}"
													itemValue="#{emp}" var="emp" />
												<p:ajax event="change" update="empPayDetailsPanel" />
											</h:selectOneMenu>
										</div>
										<h:message for="empId" class="validation-error-label" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['designation']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-user-tie"></i></span>
											<p:inputText id="designation"
												value="#{employeePaymentDetailsBean.employee.personalInfoEmployment.currentDesignation.name}"
												class="form-control" disabled="true" />
										</div>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<ui:remove>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['basic_pay']}" for="basicpay" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="basicpay" rendered="#{empty param[generate.clientId]}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-inr"></i></span>
												<p:inputNumber id="basicpay"
													value="#{employeePaymentDetailsBean.basicPay}"
													required="#{not empty param[generate.clientId]}"
													requiredMessage="#{msg['bas_pay_req']}"
													class="form-control">
												</p:inputNumber>
											</div>
											<h:message for="basicpay" class="validation-error-label" />
										</div>
									</div>
								</ui:remove>
							</div>


							<div class="row">
								<div class="col-lg-12 col-sm-12 col-md-12">
									<div class="form-group text-right">
										<p:commandButton value="&#xed6a; #{msg['clear']}"
											title="#{msg['clear']}"
											update="empPayDetailsPanel relation cadreId empId"
											action="#{employeePaymentDetailsBean.clearGeneration}"
											onclick="PF('progressDlg').show();"
											oncomplete="PF('progressDlg').hide();"
											styleClass="btn btn-sm bg-slate font-iconmoon" />
										<p:commandButton value="&#xeda7;&nbsp;#{msg['generate']}"
											title="#{msg['generate']}" binding="#{generate}"
											update="empPayDetailsPanel"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											action="#{employeePaymentDetailsBean.generateEmployeePayDetails}"
											styleClass="btn btn-sm bg-primary font-iconmoon" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<p:dataTable id="payDetailsTable"
											styleClass="report-table m-b-10"
											value="#{employeePaymentDetailsBean.employeePayDetailsList}"
											emptyMessage="#{msg['no_records_found']}" rowIndexVar="idx"
											var="empPay">
											<p:column headerText="#" styleClass="text-center width-3">
												<h:outputText value="#{idx+1}" />
											</p:column>
											<p:column headerText="#{msg['head']}">
												<h:outputText value="#{empPay.head.name}" />
											</p:column>
											<p:column headerText="#{msg['amt']}&nbsp;(&#xf156;)"
												styleClass="fa-input text-right">
												<p:inputNumber value="#{empPay.amount}">
												</p:inputNumber>
											</p:column>
											<p:column headerText="#{msg['payaspect']}">
												<h:outputText value="#{empPay.payAspect}" />
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-12 text-right">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn btn-sm bg-slate font-iconmoon"
										onclick="PF('progressDlg').show();"
										oncomplete="PF('progressDlg').hide();"
										action="#{employeePaymentDetailsBean.loadEmployeePaymentDetails}" />

									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}" update="growls"
										class="btn btn-sm bg-success font-iconmoon"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										action="#{employeePaymentDetailsBean.saveEmployeePaymentDetails}" />
								</div>
							</div>
						</p:outputPanel>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>