<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('PAY_ROLL_VERIFICATION_LIST')}" />
		</f:metadata>
		<title>InfoTex | Employee Payroll Verification List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['payroll_verification_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li>#{msg['pay_roll_config']}</li>
						<li class="active">#{msg['payroll_verification_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<span class="textb"> <h:outputText
								value="#{employeePayrollRegisterBean.totalRecords}"
								id="recordcount"></h:outputText></span> -
						#{msg['payroll_verification']}(#{msg['list_s']})
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<h:panelGroup id="menupanel">
							<p:commandButton id="addId" value="&#xea0e; #{msg['add']}"
								action="#{employeePayrollRegisterBean.payrollVerificationShowView}"
								onclick="PF('progressDlg').show();" update="growls"
								oncomplete="PF('progressDlg').hide();" title="#{msg['add']}"
								rendered="#{employeePayrollRegisterBean.payrollVerificationAdd and loginBean.userFeatures['PAY_ROLL_VERIFICATION_ADD']}}"
								class="btn bg-success font-iconmoon ">
								<f:setPropertyActionListener value="ADD"
									target="#{employeePayrollRegisterBean.payrollVerificationAction}"></f:setPropertyActionListener>
							</p:commandButton>
						</h:panelGroup>

						<p:commandButton value="&#xea18; #{msg['view']}"
							title="#{msg['view']}"
							rendered="#{loginBean.userFeatures['PAY_ROLL_VERIFICATION_VIEW']}"
							onclick="PF('viewCheckListDialog').show();" update="growls"
							class="btn bg-info font-iconmoon">
							<f:setPropertyActionListener value="VIEW"
								target="#{employeePayrollRegisterBean.payrollVerificationAction}"></f:setPropertyActionListener>
						</p:commandButton>

						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							onclick="PF('progressDlg').show();" immediate="true"
							oncomplete="PF('progressDlg').hide();"
							action="#{employeePayrollRegisterBean.payrollVerificationclear}"
							title="#{msg['clear']}" class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="employeePayDetail"
							widgetVar="employeePayDetailTable" class="table" var="data"
							rowKey="#{data.id}" lazy="true"
							selection="#{employeePayrollRegisterBean.selectedPayrollVerification}"
							value="#{employeePayrollRegisterBean.lazyPayrollVerificationList}"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom" styleClass="table m-0 cust-table"
							rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
							emptyMessage="#{msg['no_records_found']}">
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />

							<p:column headerText="#{msg['s_no']}"
								styleClass="width-4 text-center">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterable="true" filterBy="#{entityNameOrCode}"
								filterMatchMode="contains"
								headerText="#{msg['acc_cate_code']} / #{msg['name']}"
								sortBy="#{entityNameOrCode}" sortable="true">
								<h:outputText
									value="#{data.entityMaster.code} / #{data.entityMaster.name}" />
							</p:column>

							<p:column filterable="true" filterBy="#{year}"
								filterMatchMode="contains" headerText="#{msg['year']}"
								sortBy="#{year}" sortable="true">
								<h:outputText value="#{data.yearNumber}" />
							</p:column>

							<p:column filterBy="#{month}" headerText="#{msg['month']}"
								styleClass="" sortBy="#{month}" sortable="true">
								<f:facet name="filter">
									<h:selectOneMenu
										onchange="PF('employeePayDetailTable').filter()"
										id="cadreMaster" class="form-control select2">
										<f:selectItem itemLabel="#{msg['select']}" itemValue="#{null}"
											noSelectionOption="true" />
										<f:selectItems
											value="#{employeePayrollRegisterBean.monthList.entrySet()}"
											var="entry" itemValue="#{entry.key}"
											itemLabel="#{entry.value}" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.month}" />
							</p:column>

							<p:column headerText="#{msg['created_date']}"
								styleClass="text-center form-group_calend width-12"
								sortBy="#{data.createdDate}" sortable="true"
								filterBy="#{data.createdDate}" filterMatchMode="exact">
								<f:facet name="filter">
									<p:calendar onchange="PF('employeePayDetailTable').filter()"
										id="createDate" pattern="dd-MMM-yyyy"
										placeholder="dd-MMM-yyyy" mask="true" yearRange="c-10:c+10"
										navigator="true" styleClass="form-control calend-icon">
										<p:ajax event="dateSelect"
											oncomplete="PF('employeePayDetailTable').filter()" />
									</p:calendar>
								</f:facet>
								<h:outputText value="#{data.createdDate}">
									<f:convertDateTime pattern="dd-MMM-yyyy"
										timeZone="#{loginBean.timeZone}" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['status']}" filterBy="#{stage}"
								sortBy=" #{stage}" sortable="true"
								styleClass="text-center width-12">
								<f:facet name="filter">
									<h:selectOneMenu class="form-control select2"
										onchange="PF('employeePayDetailTable').filter()">
										<f:selectItem itemLabel="#{msg['select']}" />
										<f:selectItem itemValue="SUBMITTED" itemLabel="SUBMITTED" />
										<f:selectItem itemValue="APPROVED" itemLabel="APPROVED" />
										<f:selectItem itemValue="REJECTED" itemLabel="REJECTED" />
										<f:selectItem itemValue="FINAL APPROVED"
											itemLabel="FINAL APPROVED" />
									</h:selectOneMenu>
								</f:facet>
								<h:outputText value="#{data.stage}"
									styleClass="label label-warning width-custom"
									rendered="#{data.stage eq 'SUBMITTED'}" />
								<h:outputText value="#{data.stage}"
									styleClass="label label-success width-custom"
									rendered="#{data.stage eq 'APPROVED'}" />
								<h:outputText value="#{data.stage}"
									styleClass="label label-danger width-custom"
									rendered="#{data.stage eq 'REJECTED'}" />
								<h:outputText value="#{data.stage}"
									styleClass="label label-success width-custom"
									rendered="#{data.stage eq 'FINAL APPROVED'}" />
							</p:column>

							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-5" selectionMode="single">
							</p:column>
						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('recordcount')}" autoRun="true" />
					</div>
				</div>
			</div>
			
			<p:dialog modal="true" header="#{msg['view_payroll']}" width="50%"
				closable="true" id="viewCheckListDialog"
				styleClass="p-0 overlay-pop modal-dialog"
				widgetVar="viewCheckListDialog" hideEffect="fade"
				closeOnEscape="true">
				<p:outputPanel id="runchecklistpanelid">
					<div class=" border0">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<p:outputLabel value="#{msg['sec_pass']}" />
									<p:outputLabel value="*" class="text-danger mand-symbol" />
									<div class="input-group">
										<span class="input-group-addon"><i class=" icon-key"></i></span>
										<p:password
											value="#{employeePayrollRegisterBean.checkListSecondaryPassword}"
											class="form-control" autocomplete="false" id="secpwd2"
											required="#{not empty param[runchecklistsubmitId.clientId]}"
											requiredMessage="#{msg['sec_pass_req']}">
										</p:password>
									</div>
									<h:message for="secpwd2" class="validation-error-label" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group p-r-10">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										oncomplete="PF('viewCheckListDialog').hide();"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										binding="#{runchecklistsubmitId}" update="growls"
										action="#{employeePayrollRegisterBean.payrollVerificationShowView}"
										onstart="PF('statusDialog').show();"
										onsuccess="PF('statusDialog').hide();"
										class="btn bg-success heading-btn  font-iconmoon">
										<f:setPropertyActionListener value="VIEW"
											target="#{employeePayrollRegisterBean.payrollVerificationAction}"></f:setPropertyActionListener>
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
		</div>
	</ui:define>
</ui:composition>