<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{incomeTaxWorkSheetBean}"></ui:param>
		<title>InfoTex | Income Tax Worksheet List</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['inc_tax_wsheet_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['personnel']}</li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li class="active">#{msg['inc_tax_wsheet_list']}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<p:outputLabel id="totalSize" value="#{bean.totalRecords}"
							styleClass="textb play_class" />
						- #{msg['inc_tax_wsheet']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
			 	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="buttonpanel">
							<p:commandButton update="growls" id="addId" value="&#xea0e;&nbsp;#{msg['add']}"
								title="#{msg['add']}" class="btn bg-success font-iconmoon"
								action="#{bean.addPage}" disabled="#{bean.visibility}">
							</p:commandButton>
                         
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}" update="growls"
								title="#{msg['edit']}" onclick="PF('progressDlg').show();"
								class="btn bg-primary font-iconmoon"
								oncomplete="PF('progressDlg').hide();" 
								
								
								action="#{bean.editIncomeTaxWorksheet}" >
								
						
							</p:commandButton>

							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}" update="growls"
								title="#{msg['view']}" action="#{bean.viewIncomeTaxWorksheet}"
								class="btn bg-info font-iconmoon ">
							</p:commandButton>
							<ui:remove>
								<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
									id="idDelete" title="#{msg['delete']}"
									onclick="PF('progressDlg').show();"
									oncomplete="PF('progressDlg').hide();"
									action="#{bean.deletePage}" update="growls"
									class="btn bg-danger font-iconmoon">
								</p:commandButton>
							</ui:remove>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onclick="PF('progressDlg').show();" title="#{msg['clear']}"
								oncomplete="PF('progressDlg').hide();"
								action="#{bean.clearPage}" class="btn bg-slate font-iconmoon">
							</p:commandButton>

						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<p:dataTable id="worksheetable" value="#{bean.lazyModel}"
							lazy="true" widgetVar="sheetTable" rowIndexVar="idx"
							rowKey="#{sheet.id}" rows="10" paginatorPosition="bottom"
							paginator="true" rowsPerPageTemplate="5,10,15"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							emptyMessage="#{msg['no_records_found']}" var="sheet"
							selection="#{bean.selectedEmpIncomeTaxWorksheet}">
							<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}" update=":#{p:component('addId')}" />
							<p:ajax event="filter" oncomplete="updateFilterSelection()" />
							<p:ajax event="page" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" />

							<p:column headerText="#" styleClass="text-center width-3">
								<h:outputText value="#{idx+1}" />
							</p:column>
							<p:column filterBy="#{sheet.ho_ro}" styleClass="width-12"
								headerText="#{msg['ho_ro']}" filterMatchMode="contains"
								sortBy="#{sheet.ho_ro}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="horo" class="form-control" autocomplete="off"
										onkeyup="PF('sheetTable').filter()" tabindex="1">
										<p:focus for="horo" />
									</p:inputText>
								</f:facet>
								<h:outputText value="#{sheet.ho_ro}" />
							</p:column>

							<p:column styleClass="width-12"
								filterBy="#{sheet.entityMaster.entityTypeMaster.entityName}"
								headerText="#{msg['enty_typ']}" filterMatchMode="contains"
								sortBy="#{sheet.entityMaster.entityTypeMaster.entityName}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="entytype" class="form-control"
										autocomplete="off" onkeyup="PF('sheetTable').filter()"
										tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText
									value="#{sheet.entityMaster.entityTypeMaster.entityName}" />
							</p:column>

							<p:column headerText="#{msg['entity']}" filterable="true"
								styleClass="width-12" filterBy="#{sheet.entityMaster.name}"
								filterMatchMode="contains" sortBy="#{sheet.entityMaster.name}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText autocomplete="off" id="entity" 
										class="form-control" tabindex="3"
										onkeyup="PF('sheetTable').filter()" />
								</f:facet>
								<h:outputText value="#{sheet.entityMaster.name}" />
							</p:column>

							<p:column filterBy="#{sheet.empMaster.firstName}"
								filterable="true" styleClass="width-12"
								headerText="#{msg['employee']}" filterMatchMode="contains"
								sortBy="#{sheet.empMaster.firstName}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="empName" class="form-control"
										autocomplete="off" onkeyup="PF('sheetTable').filter()"
										tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{sheet.empMaster.firstName}">
								</h:outputText>
							</p:column>

							<p:column   filterable="true" styleClass="width-6"
								filterBy="#{sheet.finYear.startYear}"
								headerText="#{msg['year']}" filterMatchMode="contains"
								sortBy="#{sheet.finYear.startYear}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="year" class="form-control" autocomplete="off"
										onkeyup="PF('sheetTable').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText
									value="#{sheet.finYear.startYear} - #{sheet.finYear.endYear}" />
							</p:column>

							<p:column filterBy="#{sheet.totalTaxPaid}" filterable="true" styleClass="width-10"
							
								headerText="#{msg['tot_tax_paid']}" filterMatchMode="contains"
								sortBy="#{sheet.totalTaxPaid}" sortable="true">
								<f:facet name="filter">
									<p:inputText id="ttp" class="form-control" autocomplete="off"
										onkeyup="PF('sheetTable').filter()" tabindex="1">
									</p:inputText>
								</f:facet>
								<h:outputText value="#{sheet.totalTaxPaid}" >
							     <f:convertNumber pattern="#0"></f:convertNumber>
								</h:outputText>
							</p:column>

							<p:column  filterBy="#{sheet.balanceTaxToBePaid}" filterable="true" styleClass="width-12"
								
				 				headerText="#{msg['bal_tax_tobe_paid']}"
								filterMatchMode="contains" sortBy="#{sheet.balanceTaxToBePaid}"
								sortable="true">
								<f:facet name="filter">
									<p:inputText id="balance" class="form-control"
										autocomplete="off" onkeyup="PF('sheetTable').filter()"
										tabindex="1">
										
									</p:inputText>
								</f:facet>
								<h:outputText value="#{sheet.balanceTaxToBePaid}" >
									  <f:convertNumber pattern="#0"></f:convertNumber>
								</h:outputText>
							</p:column>

							<p:column headerText="#{msg['select']}"
								styleClass="text-center width-5" selectionMode="single">
							</p:column>

						</p:dataTable>
						<p:remoteCommand name="updateFilterSelection"
							update=":#{p:component('totalSize')}" autoRun="true" />
					</div>
				</div>
			</div>
		</div>

		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmEmpAddnlEarningDeductionDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">
			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>
			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmEmpAddnlEarningDeductionDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
					action="#{bean.deleteEmpAddnlEarningDeductionConfrom}"
					oncomplete="PF('confirmEmpAddnlEarningDeductionDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>
		
	</ui:define>
</ui:composition>