<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{payMasterBean}" />
		<h:form id="transferForm">
			<p:outputPanel id="transferPanel">
				<title>InfoTex | Pay Master</title>
				<!-- Page Header -->
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4>#{msg['pay_master']}</h4>
							<ul class="breadcrumb">
								<li><a href="#{request.contextPath}/pages/home.xhtml"><i
										class="icon-home2 position-left"></i>#{msg['home']}</a></li>
								<li>#{msg['personnel']}</li>
								<li>#{msg['human_resource']}</li>
								<li>#{msg['pay_roll']}</li>
								<li class="active">#{msg['pay_master']}</li>
							</ul>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</div>
						<ui:include src="/pages/pageHeadingElements.xhtml" />
					</div>
				</div>
				<!-- Page Header End -->
				<div class="content page-scroll-hp no-padding-bottom">
					<!-- collapse panel -->
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right"
						id="accordion-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['pay_master']}
									</a> <span class="pull-right text-13 m-r-25">(<span
										class="text-danger">*</span> #{msg['mand_fields']})
									</span>
								</h6>
							</div>
							<div id="accordion-control-right-group1"
								class="panel-collapse collapse in">
								<div class="panel-body p-t-10 no-padding-bottom">
									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['ho_ro']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="regionId" class="form-control"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['ho_ro_req']} "
														value="#{bean.headOrRegionFrom}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" />
														<f:selectItems itemLabel="#{entity.name}"
															itemValue="#{entity}"
															value="#{bean.headRegionalOfficeList}" var="entity" />
														<p:ajax event="change" update="transferForm transferPanel"
															listener="#{bean.onEntityOfficeChange}" />
													</h:selectOneMenu>
												</div>
												<h:message for="regionId" class="validation-error-label" />
												<p:focus for="regionId" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['enty_typ']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-list"></i></span>
													<h:selectOneMenu id="typeId" class="form-control"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['entity_type_required']}"
														converter="#{entityConverter}"
														value="#{bean.entityTypeMaster}">
														<f:selectItem itemLabel="#{msg['select']}" itemValue="" />
														<f:selectItems itemLabel="#{entityType.entityName}"
															itemValue="#{entityType}"
															value="#{bean.entityTypeMasterList}" var="entityType" />
														<p:ajax listener="#{bean.onEntityTypeChange}"
															update="transferForm transferPanel" />
													</h:selectOneMenu>
												</div>
												<h:message for="typeId" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['entity']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="entityId" class="form-control"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['entity_required']}"
														converter="#{entityConverter}" value="#{bean.entity}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" />
														<f:selectItems itemLabel="#{entity.name}"
															itemValue="#{entity}" value="#{bean.entityMasterList}"
															var="entity" />
														<f:ajax render="entityId" execute="@this" />
													</h:selectOneMenu>
												</div>
												<h:message for="entityId" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['dept']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="deptId1" class="form-control"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['dept_req']}"
														converter="#{entityConverter}" value="#{bean.department}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" />
														<f:selectItems itemLabel="#{dpt.name}" itemValue="#{dpt}"
															value="#{bean.departmentList}" var="dpt" />
														<p:ajax event="change"
															listener="#{bean.onEntityDepartmentChange}"
															update="transferPanel" />
													</h:selectOneMenu>
												</div>
												<h:message for="deptId1" class="validation-error-label" />
											</div>
										</div>
									</div>

									<div class="row label-form custom-form-1">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['sec']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-stack"></i></span>
													<h:selectOneMenu class="form-control" id="sectionId1"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['section_required']}"
														converter="#{entityConverter}" value="#{bean.section}">
														<f:selectItem itemLabel="Select" />
														<f:selectItems value="#{bean.sectionMasterList}" var="sec"
															itemLabel="#{sec.name}" itemValue="#{sec}" />
														<p:ajax event="change" listener="#{bean.onChangeSection}"
															update="transferPanel" />
													</h:selectOneMenu>
												</div>
												<h:message for="sectionId1" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<p:outputLabel value="#{msg['emp_name_code']}" />
											<span class="mand-red">*</span>
											<div class="form-group">
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i class="icon-user"></i></span>
													<h:selectOneMenu id="empId" class="form-control"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['emp_name_req']}"
														converter="#{entityConverter}"
														value="#{bean.employeeMaster}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" />
														<f:selectItems
															itemLabel="#{emp.firstName} #{emp.lastName}"
															value="#{bean.employeeList}" var="emp" />
														<p:ajax render="empId" />
													</h:selectOneMenu>
												</div>
												<h:message for="empId" class="validation-error-label" />
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel value="#{msg['month']}" />
													<span class="mand-red">*</span>
													<div class="form-group">
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<h:selectOneMenu id="empmonth" styleClass="form-control"
																value="#{bean.month}"
																required="#{not empty param[generate.clientId]}"
																requiredMessage="#{msg['month_req']}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" itemDisabled="null"></f:selectItem>
																<f:selectItems value="#{bean.monthList.entrySet()}"
																	var="entry" itemValue="#{entry.key}"
																	itemLabel="#{entry.value}" />
															</h:selectOneMenu>
														</div>
														<h:message for="empmonth" class="validation-error-label" />
													</div>
												</div>

												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel value="#{msg['year']}" />
													<span class="mand-red">*</span>
													<div class="form-group">
														<div class="input-group ui-outputlabel ui-widget">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<h:selectOneMenu id="empyear" styleClass="form-control"
																value="#{bean.year}"
																required="#{not empty param[generate.clientId]}"
																requiredMessage="#{msg['year_req']}">
																<f:selectItem itemLabel="Select"
																	noSelectionOption="true" itemDisabled="null"></f:selectItem>
																<f:selectItems value="#{bean.yearList}" var="year"
																	itemValue="#{year}" itemLabel="#{year}"></f:selectItems>
															</h:selectOneMenu>
														</div>
														<h:message for="empyear" class="validation-error-label" />
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 text-right">
											<div class="form-group">
												<p:commandButton update="growls"
													onclick="location.href='#';"
													value="&#xe916;&nbsp;#{msg['clear']}"
													title="#{msg['mis_clear']}"
													class="btn bg-slate font-iconmoon m-l-0">
												</p:commandButton>
												<p:commandButton update="growls payslippnl"
													value="&#xeda7;&nbsp;#{msg['generate']}"
													binding="#{generate}" title="#{msg['generate']}"
													action="#{bean.generatePayMaster}"
													class="btn bg-primary heading-btn font-iconmoon">
												</p:commandButton>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- colleps panel end -->


					<p:outputPanel id="payslippnl">
						<div class="panel panel-white m-b-0">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-lg-12">
										<div class="table-responsive">
											<div class="panel panel-info" style="border: none;">
												<table class="main-table cust-table2">
													<thead></thead>
													<tbody>
														<th colspan="6" style="text-align: left !important;">
															#{msg['primary_information']}</th>
														<tr>
															<td class="border-hed width-10">P.F NO</td>
															<td class="width-15">#{bean.payMasterDTO.employeePF}</td>
															<td class="border-hed width-10">CATEG / STAT</td>
															<td class="width-15"></td>
															<td class="border-hed width-10">UNIT/OFF - SECTION</td>
															<td class="width-15"></td>
														</tr>
														<tr>
															<td class="border-hed width-10">#{msg['emp_name']}</td>
															<td class=" width-15">#{bean.payMasterDTO.empName}</td>
															<td class="border-hed width-10">INCR-DUE</td>
															<td class=" width-15"></td>
															<td class="border-hed width-10">#{msg['dob']}</td>
															<td class=" width-15">#{bean.payMasterDTO.dateOfBirth}</td>
														</tr>
														<tr>
															<td class="border-hed width-10">#{msg['fm_designation']}</td>
															<td class=" width-15">#{bean.payMasterDTO.designation}</td>
															<td class="border-hed width-10">CADR-COD</td>
															<td class=" width-15"></td>
															<td class="border-hed width-10">#{msg['dt_joining']}</td>
															<td class=" width-15">#{bean.payMasterDTO.dateOfJoining}</td>
														</tr>
														<tr>
															<td class="border-hed width-10">#{msg['father_husband_name']}</td>
															<td class=" width-15">#{bean.payMasterDTO.fatherName}</td>
															<td class="border-hed width-10">FPF</td>
															<td class=" width-15">#{bean.payMasterDTO.fatherPF}</td>
															<td class="border-hed width-10">#{msg['dt_of_retire']}</td>
															<td class=" width-15">#{bean.payMasterDTO.dateOfRetirement}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

								<!-- Salary Rates -->
								<div class="row">
									<div class="col-md-6 col-sm-12 col-lg-6">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<div class="table-responsive ">
													<div class="panel panel-info" style="border: none;">
														<table class="main-table cust-table2">
															<thead></thead>
															<tbody>
																<th colspan="6" style="text-align: left !important;">
																	#{msg['salary_rates']}</th>
																<tr>
																	<td class="border-hed width-10">#{msg['eff_from_Date']}</td>
																	<td class="width-15"></td>

																</tr>
																<tr>
																	<td class="border-hed width-10">#{msg['basic_pay']}</td>
																	<td class=" width-15">#{bean.payMasterDTO.basicpay}</td>

																</tr>
																<tr>
																	<td class="border-hed width-10">D.A</td>
																	<td class=" width-15">#{bean.payMasterDTO.da}</td>

																</tr>
																<tr>
																	<td class="border-hed width-10">D.A. PAY</td>
																	<td class=" width-15">#{bean.payMasterDTO.daPay}</td>
																</tr>
																<tr>
																	<td class="border-hed width-10">H.R.A</td>
																	<td class=" width-15">#{bean.payMasterDTO.hra}</td>
																</tr>
																<tr>
																	<td class="border-hed width-10">C.C.A</td>
																	<td class=" width-15">#{bean.payMasterDTO.cca}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div class="table-responsive ">
													<div class="panel panel-info" style="border: none;">
														<table class="main-table cust-table2">
															<thead></thead>
															<tbody>
																<th colspan="3" style="text-align: left !important;">
																	#{msg['other_allowance']}</th>
																<tr>
																	<td class="border-hed width-3 text-center">S.No.</td>
																	<td class="border-hed width-10 text-center">Code</td>
																	<td class="border-hed width-10 text-center">Amount</td>
																</tr>

																<tr>
																	<td class="border-hed text-center">1.</td>
																	<td class="width-15"></td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed text-center">2.</td>
																	<td class=" width-15"></td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed text-center">3.</td>
																	<td class=" width-15"></td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed text-center">4.</td>
																	<td class=" width-15"></td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed text-center">5.</td>
																	<td class=" width-15"></td>
																	<td class="width-15"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-6 col-sm-12 col-lg-6 ">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<div class="table-responsive ">
													<div class="panel panel-info" style="border: none;">
														<table class="main-table cust-table2">
															<thead></thead>
															<tbody>
																<th colspan="6" style="text-align: left !important;">
																	#{msg['other_deduction']}</th>
																<tr>
																	<td class="border-hed width-10">P.F. Voluntary</td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['income_tax']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['gratitiyty']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['retire_bene_sche']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['Family_bene_sche']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['prof_tax']}</td>
																	<td class=" width-15"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>

											<div class="col-md-12 col-sm-12 col-lg-12 ">
												<div class="table-responsive ">
													<div class="panel panel-info" style="border: none;">
														<table class="main-table cust-table2">
															<tbody>
																<th colspan="6" style="text-align: left !important;">
																	#{msg['summary']}</th>
																<tr>
																	<td class="border-hed width-10">#{msg['monthly_earn']}</td>
																	<td class="width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['monthly_allow']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['monthly_deduc']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['amount_to_be_add']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['amount_to_be_sub']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['monthly_net_pay']}</td>
																	<td class=" width-15"></td>
																</tr>

																<tr>
																	<td class="border-hed width-10">#{msg['post_month_year']}</td>
																	<td class=" width-15"></td>
																</tr>

															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Salary Rates -->

								<!-- Salary Rates -->
								<div class="row ">
									<div class="col-md-6 col-sm-12 col-lg-6 ">
										<ui:remove>
											<div class="row ">
												<div class="col-md-12 col-sm-12 col-lg-12">
													<div class="table-responsive ">
														<div class="panel panel-info" style="border: none;">
															<table class="main-table cust-table2">
																<thead></thead>
																<tbody>
																	<th colspan="6" style="text-align: left !important;">
																		ML/LOP/Suspension Cases</th>
																	<tr>
																		<td class="border-hed width-10">DED-IND</td>
																		<td class="width-15"></td>
																	</tr>
																	<tr>
																		<td class="border-hed width-10">DED-Slab</td>
																		<td class=" width-15"></td>
																	</tr>
																	<tr>
																		<td class="border-hed width-10">DED-Effective
																			From</td>
																		<td class=" width-15"></td>
																	</tr>
																	<tr>
																		<td class="border-hed width-10">DED-Effective To</td>
																		<td class=" width-15"></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</ui:remove>
									</div>
								</div>

								<!-- End Salary Rates -->
								<div class="row">
									<div class="col-md-6 col-sm-6 m-b-0">
										<p:commandButton title="#{msg['pdf']}"
											value="&#xef36;&nbsp;#{msg['pdf']}"
											action="#{employeePayRollBean.generatePaySlipForEmployee()}"
											class="btn bg-primary min-wid-auto font-iconmoon m-l-0"
											ajax="false">
											<p:fileDownload value="#{employeePayRollBean.downloadFile}" />
										</p:commandButton>
										<p:commandButton type="button" title="#{msg['excel']}"
											value="&#xef39;&nbsp;#{msg['excel']}"
											class="btn bg-success btn-xs min-wid-auto font-iconmoon">
										</p:commandButton>
									</div>
									<div class="col-md-6 col-sm-6 text-right m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}" onclick="location.href='#';"
											class="btn bg-slate heading-btn  font-iconmoon">
										</p:commandButton>
										<p:commandButton value="&#xeab7;&nbsp;#{msg['print']}"
											title="#{msg['print']}"
											class="btn bg-primary heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>


							</div>

						</div>
					</p:outputPanel>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>