<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<ui:param name="bean" value="#{empAddnlEarningDeductionBean}"></ui:param>
		<h:form id="empAddnlEarningDeductionfromid">
			<title>InfoTex | Pay Roll</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['pay_roll_details']}</h4>

						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['human_resource']}</li>
							<li>#{msg['pay_roll']}</li>
							<li class="active">#{msg['pay_roll_details']}</li>
						</ul>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->
			<div class="content ">
				<div class="page-scroll-without-outsight-panel x-hide">
					<div
						class="panel-group m-b-10 panel-group-control panel-group-control-right">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right"
										href="#accordion-control-right-group1">#{msg['pay_roll_details']}
									</a> <span class="pull-right text-13 m-r-25 hidden-xs">(<span
										class="text-danger">*</span> #{msg['marked_field_mandatory']})
									</span>


								</h6>
							</div>
							<div>
								<p:outputPanel id="createTenderPanel">
									<div id="accordion-control-right-group1"
										class="panel-collapse collapse in">
										<div class="panel-body p-t-10 p-b-5">
											<div class="row label-form custom-form-1">


												<div class="col-lg-3 col-sm-3 col-md-3">
													<div class="form-group">
														<p:outputLabel value="#{msg['region']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-office"></i></span>
															<h:inputText class="form-control" disabled="true"></h:inputText>
														</div>


													</div>
												</div>

												<div class="col-lg-3 col-sm-3 col-md-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['year']}" for="yearId" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="yearId" rendered="#{empty param[generate.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<h:selectOneMenu id="yearId"
																required="#{not empty param[generate.clientId]}"
																value="#{bean.yearValue}"
																requiredMessage="#{msg['year_req']}"
																styleClass="form-control">
																<f:selectItem itemLabel="Select" itemValue="#{null}" />
																<f:selectItems value="#{bean.yearListData}" var="year"
																	itemLabel="#{year}" itemValue="#{year}"></f:selectItems>
															</h:selectOneMenu>
														</div>
														<h:message for="yearId" class="validation-error-label" />
													</div>
												</div>




												<div class="col-lg-3 col-sm-3 col-md-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['month']}" for="monthId" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="monthId"
															rendered="#{empty param[generate.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<h:selectOneMenu id="monthId" styleClass="form-control"
																required="#{not empty param[generate.clientId]}"
																value="#{bean.selectedMonth}"
																requiredMessage="#{msg['month_req']} "
																converter="#{entityConverter}">
																<f:selectItem itemLabel="#{msg['select']}"
																	noSelectionOption="true"></f:selectItem>
																<f:selectItems itemValue="#{month}" itemLabel="#{month}"
																	var="month" value="#{bean.monthsList}"></f:selectItems>

															</h:selectOneMenu>
														</div>
														<h:message for="monthId" class="validation-error-label" />
													</div>
												</div>



												<div class="col-lg-3 col-md-3 col-sm-6">
													<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
													<div class="form-group">
														<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
															title="#{msg['clear']}"
															class="btn bg-slate heading-btn font-iconmoon m-l-0">
														</p:commandButton>
														<p:commandButton value="&#xeda7;&nbsp;#{msg['generate']}"
															title="#{msg['generate']}"
															class="btn bg-primary heading-btn font-iconmoon">
														</p:commandButton>
													</div>
												</div>




											</div>


											<!-- end row -->
										</div>
									</div>
								</p:outputPanel>
							</div>
						</div>
					</div>
					<div class="">
						<div class="panel">
							<div class="panel-body p-0">
								<div class="row">
									<p:outputPanel id="externalPanel">
										<div class="col-sm-12">
											<div class="table-responsive m-b-10">
												<div class="panel-body p-0">
													<table class="main-table cust-table2">



														<thead>
															<tr>
																<th class=""><p:outputLabel value="#" /></th>
																<th class=""><p:outputLabel
																		value="#{msg['employee_code_name']} " /></th>
																<th class=""><p:outputLabel
																		class="text-center fa-input"
																		value="#{msg['earning']}&nbsp;(&#xf156;) " /></th>
																<th class=""><p:outputLabel
																		class="text-center fa-input"
																		value="#{msg['deduction']}&nbsp;(&#xf156;) " /></th>
																<th class=""><p:outputLabel
																		class="text-center fa-input"
																		value="#{msg['net_total']}&nbsp;(&#xf156;) " /></th>
																<th class=""><p:outputLabel
																		value="#{msg['action']}" /></th>






															</tr>
														</thead>

														<tbody>

															<tr>
																<td class="center">1</td>
																<td class="center">Somesh</td>
																<td align="right">25000.00</td>
																<td align="right">25000.00</td>
																<td align="right">25000.00</td>
																<td align="center"><p:commandLink
																		class="btn btn-info btn-xs btn-table-button font-iconmoon"
																		onclick="PF('viewlog').show();"
																		oncomplete="PF('progressDlg').hide();"
																		title="#{msg['view']}" value="&#xea18;">
																	</p:commandLink></td>

															</tr>
														</tbody>

														<tfoot>
															<tr>
																<td colsapn="1"></td>
																<td class="text-right"><strong>Total</strong></td>
																<td class="text-right"><b>25000.00</b></td>
																<td class="text-right"><b>25000.00</b></td>
																<td class="text-right"><b>25000.00</b></td>
																<td></td>


															</tr>
															<tr>

																<td
																	style="background: #fff !important; border-color: #fff !important;"></td>
																<td
																	style="background: #fff !important; border-color: #fff !important;"></td>


															</tr>

														</tfoot>

													</table>



												</div>




											</div>
										</div>
									</p:outputPanel>
								</div>




							</div>
							<div class="panel-body">
								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-3">
										<p:outputLabel class="p-r-10" value="#{msg['status']}">:<span
												class="label label-primary sts_shortl m-l-10">Pending</span>
										</p:outputLabel>
									</div>
								</div>
								<div class="row label-form m-t-10">

									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_to']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="fwdto" styleClass="form-control"
													converter="#{entityConverter}" value="#{bean.forwardTo}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems var="user" value="#{bean.userMasters}"
														itemValue="#{user}"
														itemLabel="#{user.empCode}/#{user.empName}"></f:selectItems>
													<p:ajax event="change" update="fwdto" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>




									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel class="" value="#{msg['frwd_for']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
												<h:selectOneMenu id="fwdfor" styleClass="form-control"
													value="#{bean.finalApproval}">
													<f:selectItem itemValue="False" itemLabel="Approval"></f:selectItem>
													<f:selectItem itemValue="True" itemLabel="Final Approval"></f:selectItem>
													<p:ajax event="change" update="fwdfor" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>




								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6">



										<p:commandButton value="&#xf067; #{msg['create_note']}"
											title="#{msg['create_note']}"
											styleClass="btn btn-success btn-md fa-input m-l-0"
											onclick="PF('notedialog').show();"></p:commandButton>





									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											onclick="window.location.href='#{request.contextPath}/pages/personnelHR/payRoll/listEmployeeAdditionalEarningsDeduction.xhtml'"
											class="btn bg-slate font-iconmoon">
										</p:commandButton>

										<p:commandButton value="&#xecf5; #{msg['approve']}"
											onstart="PF('statusDialog').show();"
											onsuccess="PF('statusDialog').hide();"
											title="#{msg['approve']}"
											action="#{bean.saveEmpAddnlEarningDeduction}" update="growls"
											class="btn bg-success heading-btn font-iconmoon">
										</p:commandButton>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</h:form>

		<p:dialog header=" #{msg['pay_roll_details']}" widgetVar="viewlog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="90%" styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-white ">
						<div class="panel-body p-b-0 p-t-5">
							<div class="row">

								<div class="col-md-2 col-md-offset-1">
									<img src="#{request.contextPath}/assets/images/logo-new.jpg"
										alt="Logo" style="width: 75px" class="pull-right" />
								</div>
								<div class="col-md-6 m-t-10 m-b-15">
									<h5 class="text-center no-margin">
										<b>#{msg['the_head1']}</b>
									</h5>
									<h6 class="text-center no-margin">
										#{employeePayRollBean.empWrkLoc}</h6>
									<h6 class="text-center no-margin">
										<b>Payslip for the period of
											#{employeePayRollBean.monthName}
											#{employeePayRollBean.payYear}</b>
									</h6>
								</div>
							</div>
						</div>
						<div class="panel-body p-0">
							<div class="row ">
								<div class="col-md-12 col-sm-12 col-lg-12 ">



									<div class="table-responsive ">


										<table class="main-table cust-table2">

											<thead></thead>
											<tbody>
												<tr>
													<td class="border-hed width-15">#{msg['emp_no']}</td>
													<td>#{employeePayRollBean.employee.empCode}</td>
													<td class="border-hed width-15">#{msg['emp_name']}</td>
													<td>#{employeePayRollBean.employee.firstName}</td>
													<td class="border-hed width-15">#{msg['fm_designation']}</td>
													<td>#{employeePayRollBean.employee.personalInfoEmployment.designation.name}</td>
												</tr>
												<tr>
													<td class="border-hed width-15">P.F NO</td>
													<td>#{employeePayRollBean.employee.personalInfoAccountDetails.pfNumber}</td>
													<td class="border-hed width-15">#{msg['father_husband_name']}</td>
													<td>#{employeePayRollBean.employee.personaInfoGeneral.fatherName}</td>
													<td class="border-hed width-15">#{msg['dept']} /
														#{msg['sec']}</td>
													<td>#{employeePayRollBean.employee.personalInfoEmployment.department.name}
														/
														#{employeePayRollBean.employee.personalInfoEmployment.sectionMaster.name}</td>
												</tr>
												<tr>
													<td class="border-hed width-15">PAN No</td>
													<td>#{employeePayRollBean.employee.personaInfoGeneral.panNumber}</td>
													<td class="border-hed width-15">#{msg['dt_joining']}</td>
													<td><h:outputText class="fa-input"
															value="#{employeePayRollBean.employee.personalInfoEmployment.dateOfJoining}">
															<f:convertDateTime pattern="dd-MMM-yyyy"
																timeZone="#{loginBean.timeZone}" />
														</h:outputText></td>
													<td class="border-hed width-15">#{msg['days_worked']}</td>
													<td>#{employeePayRollBean.workedDays}</td>
												</tr>




											</tbody>

										</table>


										<div class="no-filter">
											<table class="main-table cust-table2">
												<thead>
													<tr>
														<th class=""><p:outputLabel value="#{msg['earn']} " /></th>
														<th class=""><p:outputLabel value="#{msg['amount']}" /></th>

														<th class=""><p:outputLabel
																value="#{msg['deduction']}" /></th>
														<th class=""><p:outputLabel value="#{msg['amount']}" /></th>

													</tr>
												</thead>
												<tbody>
													<ui:repeat var="allowance"
														value="#{employeePayRollBean.commonAllowanceDeductionList}">
														<tr style="allowance .head.id!=null?'display: none ':''">

															<td>#{allowance.allowanceName}</td>
															<td align="right">#{allowance.allowanceAmount!=null?employeePayRollBean.formatDecimalNumber(allowance.allowanceAmount):''}</td>
															<td>#{allowance.deductionName}</td>
															<td align="right">#{allowance.deductionAmount!=null?employeePayRollBean.formatDecimalNumber(allowance.deductionAmount):''}
															</td>

														</tr>

														<tr style="allowance .head.id!=null?'': 'display:none'">
															<td colspan="2" class="border-hed">#{msg['other_allowance']}</td>
															<td>#{allowance.deductionName}</td>
															<td align="right">#{allowance.deductionAmount!=null?employeePayRollBean.formatDecimalNumber(allowance.deductionAmount):''}
															</td>


														</tr>

													</ui:repeat>

												</tbody>

												<tfoot>
													<tr>
														<td class="text-right"><strong>#{msg['gross_pay']}</strong></td>
														<td class="text-right"><b>#{employeePayRollBean.formatDecimalNumber(employeePayRollBean.grossPay)}</b></td>
														<td class="text-right"><b>#{msg['tot_deduct']}</b></td>
														<td class="text-right"><b>#{employeePayRollBean.formatDecimalNumber(employeePayRollBean.deduction)}</b></td>

													</tr>
													<tr>

														<td
															style="background: #fff !important; border-color: #fff !important;"></td>
														<td
															style="background: #fff !important; border-color: #fff !important;"></td>
														<td class="text-right"><strong>#{msg['net_pay_amt']}</strong></td>


														<td class="text-right"><b><img
																src="#{request.contextPath}/assets/images/inr.png"
																style="width: 14px; padding-right: 5px"></img>#{employeePayRollBean.formatDecimalNumber(employeePayRollBean.netPay)}</b></td>

													</tr>
												</tfoot>
											</table>
										</div>

										<div class="pull-right pad5">
											<b>#{msg['amt_in_words']} :</b>
											#{employeePayRollBean.amtInWords}
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xeddf; #{msg['back']}"
									class="btn btn-sm bg-info font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<p:dialog header=" #{msg['create_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			width="80%" styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0 m-b-10">
						<p:textEditor widgetVar="editor1" rendered="true"
							requiredMessage=" #{msg['note']} #{msg['required']}"
							placeholder="Enter text ..." value="#{bean.createNote}"
							height="200" />
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon"
									onsuccess="PF('notedialog').hide()" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>




		<!-- /.add note dialogue -->
		<!-- Comment -->
		<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="p-0">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel panel-flat">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="active"><a href="#solid-tab1" data-toggle="tab"><i
											class="icon-thumbs-up3"></i> #{msg['approve']}</a></li>
									<li><a href="#solid-tab2" data-toggle="tab"><i
											class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="solid-tab1">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Approved Comments</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="tab-pane" id="solid-tab2">
										<table class="table table-striped cust-table">
											<tbody>
												<tr class="success">
													<td><strong>Rejection Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td>100% Cotton printed Bed spread, printed with fast
														Rapid Indigo colours and with over...</td>
												</tr>

												<tr>
													<td><strong>Reply Comment</strong></td>
													<td><span class="pull-left m-b-10">Given By</span> <span
														class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
															User</span> <br /> <span class="pull-left">Given Date</span> <span
														class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
													</span></td>
													<td><textarea name="enter-message"
															class="form-control" rows="3" cols="1"
															placeholder="What's on your mind?"></textarea></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<div class="form-group m-b-0">
								<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
									title="#{msg['cancel']}" onclick="location.href='#';"
									class="btn bg-slate heading-btn  font-iconmoon" />
								<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
									title="#{msg['submit']}"
									class="btn bg-success heading-btn  font-iconmoon" />
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>

		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
	</ui:define>
</ui:composition>