<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Cadrewise Pay Head Configuration</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_cadrewise_pay_head_config']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['human_resource']}</li>
						<li>#{msg['pay_roll']}</li>
						<li>#{msg['pay_roll_config']}</li>
						<li class="active">#{msg['view']}
							#{msg['vi_cadrewise_pay_head_config']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title" value="view CadreWisePayHeadConfig">
						#{msg['cadrewise_pay_head_config']}</h6>
				</div>
				<div class="panel-body">
					<h:form id="catform">
						<p:outputPanel id="entity">
							<div class="row view-style label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['type']}" />
										<div class="input-group">
											<span class=""> <h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.head.name}"
													class="" /></span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['payscale']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.cadre.payScaleMaster.fromAmount} - #{cradeWisePayHeadConfigBean.payHeadCadreConfig.cadre.payScaleMaster.toAmount}"
													class="" /></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['cadre']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.cadre.name}"
													class="" /></span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['amount']}" />
										<span class="dis-inlineblock"><i
											class="fa fa-inr m-r-5"></i> <h:outputText
												value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.percentage}"
												class="fa-input dis-inlineblock">
												<f:convertNumber minFractionDigits="2"></f:convertNumber>
											</h:outputText></span>
									</div>
								</div>
							</div>

							<div class="row view-style label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<div class="input-group">
											<h:outputText
												value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.createdDate}"
												class="">
												<f:convertDateTime timeZone="GMT+05:30"
													pattern="dd-MMM-yyyy" />
											</h:outputText>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.createdBy.username}"
													class="" /></span>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.modifiedDate}"
													class="">
													<f:convertDateTime timeZone="GMT+05:30"
														pattern="dd-MM-yyyy" />
												</h:outputText></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<div class="input-group">
											<span class=""><h:outputText
													value="#{cradeWisePayHeadConfigBean.payHeadCadreConfig.modifiedBy.username}"
													class="" /></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row view-style">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										title="#{msg['back']}"
										onclick="location.href='listCadrewisePayHeadConfig.xhtml'"
										update="catform" class="btn bg-info btn-xs font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>