<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('AREA_MASTER_LIST')}" />
		</f:metadata>
		<ui:param name="bean" value="#{areaMasterBean}"></ui:param>
		<title>InfoTex | Area List</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['area_list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['general_master']}</li>
						<li class="active">#{msg['area_list']}</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:outputText value="#{bean.totalRecords}"
								id="recordcount"></h:outputText>
						</strong>- #{msg['area']}(#{msg['list_s']})<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
						<!-- 						<span class="textb">6</span> - Total AreaMaster List -->
					</h6>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:outputPanel id="menupanel">
							<p:commandButton value="&#xea0e; #{msg['add']}"
								title="#{msg['add']}" id="addId" update="growls"
								action="#{bean.showAreaMasterListPageAction}"
								rendered="#{bean.addButtonFlag and loginBean.userFeatures['AREA_MASTER_ADD']}"
								class="btn bg-success font-iconmoon">
								<f:setPropertyActionListener value="Create"
									target="#{bean.action}"></f:setPropertyActionListener>
							</p:commandButton>

							<ui:remove>
								<p:commandButton value="&#xe912; #{msg['edit']}" id="editId"
									rendered="#{bean.editButtonFlag and loginBean.userFeatures['AREA_MASTER_EDIT']}"
									title="#{msg['edit']}" update="growls"
									action="#{bean.showAreaMasterListPageAction}"
									class="btn bg-primary font-iconmoon">
									<f:setPropertyActionListener value="Edit"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>

								<p:commandButton value="&#xe99e; #{msg['delete']}" id="deleteId"
									action="#{bean.showAreaMasterListPageAction}" update="growls"
									rendered="#{bean.deleteButtonFlag and loginBean.userFeatures['AREA_MASTER_DELETE']}"
									title="#{msg['delete']}" class="btn bg-danger font-iconmoon">
									<f:setPropertyActionListener value="DELETE"
										target="#{bean.action}"></f:setPropertyActionListener>
								</p:commandButton>
							</ui:remove>
							
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								action="#{bean.showAreaMasterListPage}" title="#{msg['clear']}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</p:outputPanel>
					</div>
				</div>
			</div>

			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-responsive no-filter"></div>
					<p:dataTable id="areaMasterList" widgetVar="areaMasterListTable"
						class="table" var="data" rowKey="#{data.id}"
						selection="#{bean.selectedAreaMaster}"
						value="#{bean.lazyAreaMasterList}" lazy="true"
						paginatorAlwaysVisible="true" paginator="true"
						rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
						paginatorPosition="bottom"
						emptyMessage="#{msg['no_records_found']}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
						<p:ajax event="filter" oncomplete="updateFilterSelection()" />
						<p:ajax event="page" onstart="PF('progressDlg').show()"
							onsuccess="PF('progressDlg').hide()" />
						<p:ajax event="rowSelectRadio" listener="#{bean.onRowSelect}"
							update=":#{p:component('addId')},#{p:component('menupanel')}" />

						<p:column headerText="#{msg['s_no']}"
							styleClass="width-3 text-center">
							<h:outputText value="#{idx+1}" />
						</p:column>

						<p:column filterable="true"
							filterBy="#{data.cityMaster.districtMaster.stateMaster.name}"
							filterMatchMode="contains" styleClass="width-10"
							headerText="#{msg['state']}"
							sortBy="#{data.stateMaster.name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="stateName" class="form-control"
									onkeyup="PF('areaMasterListTable').filter()" />
							</f:facet>
							<h:outputText
								value="#{data.cityMaster.districtMaster.stateMaster.name}" />
						</p:column>

						<p:column filterable="true"
							filterBy="#{data.cityMaster.districtMaster.name}"
							filterMatchMode="contains" styleClass="width-10"
							headerText="#{msg['district']}"
							sortBy="#{data.districtMaster.name}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="distName" class="form-control"
									onkeyup="PF('areaMasterListTable').filter()" />
							</f:facet>
							<h:outputText value="#{data.cityMaster.districtMaster.name}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.cityMaster.name}"
							filterMatchMode="contains" styleClass="width-10"
							headerText="#{msg['city']}" sortBy="#{data.cityMaster.name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="cityname" class="form-control"
									onkeyup="PF('areaMasterListTable').filter()" />
							</f:facet>
							<h:outputText value="#{data.cityMaster.name}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.name}"
							filterMatchMode="contains" styleClass="width-10"
							headerText="#{msg['area_name']}" sortBy="#{data.name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="name" class="form-control"
									onkeyup="PF('areaMasterListTable').filter()" />
							</f:facet>
							<h:outputText title="#{data.name}"
								value="#{(data.name).length() gt 20 ? fn:substring({data.name}, 1, 19).concat('...'):(data.name)}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.localName}"
							filterMatchMode="contains" styleClass="width-10"
							headerText="#{msg['area_name']} (#{msg['in_tamil']})"
							sortBy="#{data.localName}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="localName" class="form-control"
									onkeyup="PF('areaMasterListTable').filter()" />
							</f:facet>
							<h:outputText title="#{data.localName}"
								value="#{(data.localName).length() gt 20 ? fn:substring({data.localName}, 1, 19).concat('...'):(data.localName)}" />
						</p:column>

						<p:column headerText="#{msg['created_date']}"
							styleClass="text-center form-group_calend width-10"
							sortBy="#{data.createdDate}" sortable="true"
							filterBy="#{data.createdDate}" filterMatchMode="exact">
							<f:facet name="filter">
								<p:calendar onchange="PF('areaMasterListTable').filter()"
									id="createdDae" pattern="#{loginBean.userInfoDTO.dateFormat}"
									placeholder="#{loginBean.userInfoDTO.dateFormat}" mask="false"
									yearRange="c-10:c+10" navigator="true"
									styleClass="form-control calend-icon">
									<p:ajax event="dateSelect"
										oncomplete="PF('areaMasterListTable').filter()" />

								</p:calendar>
							</f:facet>
							<h:outputText value="#{data.createdDate}">
								<f:convertDateTime pattern="#{loginBean.userInfoDTO.dateFormat}"
									timeZone="#{loginBean.timeZone}" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{msg['status']}"
							filterBy="#{data.activeStatus}" sortBy=" #{data.activeStatus}"
							sortable="true" styleClass="text-center width-8">
							<f:facet name="filter">
								<h:selectOneMenu class="form-control select2"
									onchange="PF('areaMasterListTable').filter()">
									<f:selectItem itemLabel="#{msg['select']}" />
									<f:selectItem itemValue="#{true}" itemLabel="Active" />
									<f:selectItem itemValue="#{false}" itemLabel="InActive" />
								</h:selectOneMenu>
							</f:facet>

							<h:outputText
								styleClass="#{ (data.activeStatus eq true) ? 'label label-success sts_shortl' : 'label label-default sts_shortl' }"
								value="#{data.activeStatus eq true?'ACTIVE':'INACTIVE'}">
							</h:outputText>
						</p:column>

						<p:column headerText="#{msg['select']}"
							styleClass="text-center width-4" selectionMode="single">
						</p:column>
					</p:dataTable>
					<p:remoteCommand name="updateFilterSelection"
						update=":#{p:component('recordcount')}" autoRun="true" />
				</div>
			</div>
		</div>


		<p:dialog header="#{msg['confirmation_delete_title']}"
			draggable="false" modal="true"
			styleClass="p-0 overlay-pop modal-dialog" closable="true" width="30%"
			widgetVar="confirmAreaMasterDelete" showEffect="fade"
			hideEffect="fade" closeOnEscape="true" resizable="false">

			<div class="modal-body">
				<h:outputText value="#{msg['confirmation_delete']}" />
			</div>

			<div class="modal-footer m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
					title="#{msg['no']}"
					styleClass="btn bg-slate heading-btn font-iconmoon"
					oncomplete="PF('confirmAreaMasterDelete').hide()" />
				<p:commandButton ajax="false"
					styleClass="btn bg-success heading-btn font-iconmoon"
					title="#{msg['yes']}" value="&#xed6e;&nbsp;#{msg['yes']}"
					action="#{bean.deleteConfirm}"
					oncomplete="PF('confirmAreaMasterDelete').hide()">
				</p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>
