<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Area</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_area']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/dashboard.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['view_area']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->
		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							#{msg['area']} 
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-t-10">
							<div class="row label-form view-style">

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['country']}" />
										<h:outputText id="country" onblur="" value="India" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['state']}" />
										<h:outputText id="state" onblur="" value="Tamilnadu" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['city']}" />
										<h:outputText id="city" onblur="" value="Chennai" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['area_name']}" />
										<h:outputText id="name" onblur="" value="Egmore" />
									</div>
								</div>

								

								
							</div>

							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText id="createddate" onblur="" value="10-Sep-2018" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText id="createdby" onblur="" value="Admin" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_date']}" />
										<h:outputText id="modifieddate" onblur="" value="20-Dec-2018" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['modified_by']}" />
										<h:outputText id="modifiedby" onblur="" value="Admin" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['status']}" />
										<h:outputText id="status" onblur="" value="Active" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<p:commandButton update="growls"
										value="&#xeddf;&nbsp;#{msg['back']}"
										onclick="window.location.href='#{request.contextPath}/pages/masters/checkList/listCheckList.xhtml'"
										title="#{msg['back']}" class="btn bg-info font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
