<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Stock Inward - Product Warehouse</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_stock_inward']} -
						#{msg['distribution_warehouse']}</h4>
					<ul class="breadcrumb">
						<li><i class="fa fa-home m-r-5"></i><a href="#">#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['product_warehouse']}</li>
						<li class="active">#{msg['create_stock_inward']} -
							#{msg['distribution_warehouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['stock_movement_details']}
							</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">

							<div class="row label-form">
								<div class="col-lg-4 col-md-4 col-sm-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['product_warehouse_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<select class="form-control">
												<option value="Select">Select</option>
												<option value="121-2017-35">121-2017-35</option>
												<option value="121-2017-36">121-2017-36</option>
												<option value="121-2017-37">121-2017-37</option>
											</select>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_out_no']} / #{msg['date']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<select class="form-control">
												<option value="Select">Select</option>
												<option value="121-2017-35">121-2017-35 /
													11-Aug-2017</option>
												<option value="121-2017-36">121-2017-36 /
													17-Feb-2017</option>
												<option value="121-2017-37">121-2017-37 /
													22-Mar-2017</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 text-left">
									<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
									<p:commandButton update="growls"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate font-iconmoon m-r-0">
									</p:commandButton>
									<p:commandButton update="growls"
										value="&#xe98e;&nbsp;#{msg['search']}"
										title="#{msg['search']}"
										class="btn bg-info heading-btn  font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
			<div class="panel panel-info ">
				<!-- <div class="panel-body">
					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['sender_details']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['product_warehouse']} #{msg['code']} / #{msg['name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="171077/JPY Thiyagi Theethagiriyar Indus"
												requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="APP10257A" requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['product_warehouse_address']}" />
										<textarea id="textarea"
											class="form-control cust-textarea-height"
											placeholder="Trial Weavers Coop Soc SA.86, Salem Main Road, Bharathiouramdharmapuri - 636 705."
											disabled="disabled" maxlength="225"></textarea>
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['receiver_details']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['distribution_warehouse_code']} / #{msg['name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="PWH0023 / Product Warehouse Salem"
												requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" id="gstnumber33"
												required=" " placeholder="AS102456A" requiredMessage=" "
												disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['distribution_warehouse_address']}" />
										<textarea class="form-control cust-textarea-height"
											disabled="disabled"
											placeholder="No.81, Bazaar Road, Salem - 641 018."
											maxlength="225"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="panel-body p-0">
					<!-- <div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['pdt_var_details']}
						</h5>
					</div> -->
					<div class="panel-heading">
						<h5 class="panel-title" style="display: inline">
							<i class="icon-grid6 position-left"></i>#{msg['pdt_var_details']}
						</h5>
						<p style="display: inline">
							<input type="button"
								value="&#xea0e;&nbsp;#{msg['receive_product']}"
								class="btn bg-success ui-widget font-iconmoon btn-sm pull-right m-b-5 m-r-5 btn-xs"
								data-toggle="modal" data-target="#productReceivedAdd" />
						</p>

					</div>
					<div class="row">
						<div class="col-sm-12">
							<div id="table-scroll"
								class="cust-tab2 table-scroll table-responsive">
								<div id="faux-table" class="faux-table" aria="hidden"></div>
								<div class="table-wrap">
									<table id="main-table" class="main-table cust-table">
										<thead>
											<tr>
												<th class="text-center width-3">#</th>
												<th class="text-center width-20"><p:outputLabel
														value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
												<th class="text-center width-10"><p:outputLabel
														value="#{msg['u_o_m']}" /></th>
												<th class="text-center width-10"><p:outputLabel
														value="#{msg['already_dispatched_unit']}" /></th>
												<th class="text-center width-10"><p:outputLabel
														value="#{msg['received_unit']}" /></th>
												<th class="text-center fa-input width-10"><p:outputLabel
														class="fa-input" value="#{msg['value']}&nbsp;(&#xf156; )" />
												</th>
												<th class="text-center width-4"><p:outputLabel
														value="#{msg['action']}" /></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center width-3">1</td>
												<td class="width-20">SPO6/SAREES PARAMAKUDI-BANARAS
													6YRD</td>
												<td class="text-center">PCS</td>


												<td class="text-center">180</td>
												<td><input type="text" class="form-control text-center"
													placeholder="180" /></td>
												<td style="text-align: right">82260.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">2</td>
												<td width="20%">SOMB/SAREES ORGANIC COT NATURAL DYE</td>
												<td class="text-center">PCS</td>


												<td class="text-center">350</td>
												<td><input type="text" class="form-control text-center"
													placeholder="350" /></td>
												<td style="text-align: right">15650.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">3</td>
												<td width="20%">BLD2/BEDSHEET &amp; TABLE CLOTH B.SHT
													KALLIDAIKURICHI DSN50X90</td>
												<td class="text-center">PCS</td>


												<td class="text-center">500</td>
												<td><input type="text" class="form-control text-center"
													placeholder="500" /></td>
												<td style="text-align: right">228500.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">4</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">250</td>
												<td><input type="text" class="form-control text-center"
													placeholder="250" /></td>
												<td style="text-align: right">114250.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">5</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">980</td>
												<td><input type="text" class="form-control text-center"
													placeholder="980" /></td>
												<td style="text-align: right">447860.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">6</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">420</td>
												<td><input type="text" class="form-control text-center"
													placeholder="420" /></td>
												<td style="text-align: right">191940.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">7</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">80</td>
												<td><input type="text" class="form-control text-center"
													placeholder="20" /></td>
												<td style="text-align: right">683.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">8</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">80</td>
												<td><input type="text" class="form-control text-center"
													placeholder="20" /></td>
												<td style="text-align: right">683.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">9</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">200</td>
												<td><input type="text" class="form-control text-center"
													placeholder="200" /></td>
												<td style="text-align: right">683.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">10</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">400</td>
												<td><input type="text" class="form-control text-center"
													placeholder="400" /></td>
												<td style="text-align: right">683.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
											<tr>
												<td align="center">11</td>
												<td width="20%">DHR2/ DHOTHIES VEL 2/40S ROUGH 2 YAR</td>
												<td class="text-center">PCS</td>


												<td class="text-center">80</td>
												<td><input type="text" class="form-control text-center"
													placeholder="20" /></td>
												<td style="text-align: right">683.00</td>
												<td style="text-align: center"><input type="button"
													value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
													data-toggle="modal" data-target="#qualitycheck" /></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td align="right" colspan="5"><strong>TOTAL</strong></td>

												<td class="text-right">1083875.00</td>
												<td align="center"></td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="panel-body p-t-10">
					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot m-t-10">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bundle_dispatched']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-price-tags"></i></span>
											<p:inputText maxlength="30" class="form-control text-right"
												value="40" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">

									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-balance"></i></span>
											<p:inputText maxlength="30" class="form-control text-right"
												value="40" />
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />
										<textarea class="form-control" rows="1"
											placeholder="11, 12, 13, 14" maxlength="225"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="bord_bot">
								<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bundle_received']}</span><span
									class="m-t-5"><input type="button"
									value="&#xea18;&nbsp;#{msg['view_bund_details']}"
									class="btn bg-info btn-xs ui-widget font-iconmoon pull-right btn-sm"
									data-toggle="modal" data-target="#productReceivedView"
									style="margin-top: -5px;" /></span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['tot_no_bund']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-price-tags"></i></span>
											<p:inputText maxlength="30" class="form-control text-right"
												value="40" />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">

									<div class="form-group">
										<p:outputLabel value="#{msg['tot_bund_wt']}" />
										<div class="input-group">
											<span class="input-group-addon"><i
												class="icon-balance"></i></span>
											<p:inputText maxlength="30" class="form-control text-right"
												value="40" />
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['bundle_number']}" />

										<textarea class="form-control" rows="1"
											placeholder="11, 12, 13, 14" maxlength="225"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h5 class="bord_bot">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['trans_details']}</span>
					</h5>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<p:inputText maxlength="30" value="In Person" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<p:inputText maxlength="30" value="Vinoth Lorry Transport"
										disabled="true" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_number']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<p:inputText maxlength="30" value="45120078" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-menu6"></i></span>
									<p:inputText maxlength="30" value="Yes" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-certificate"></i></span>
									<p:inputText maxlength="30" value="4512878001" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-stack3"></i></span>
									<p:inputText maxlength="30" value="Yes" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-menu6"></i></span>
									<p:inputText maxlength="30" value="Yes" disabled="true"
										class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
									<p:inputText maxlength="30" value="30000.00" disabled="true"
										class="form-control text-right" />
								</div>
							</div>
						</div>
					</div>
					<div class="row text-right m-t-10">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								immediate="true"
								action="#{purchaseOrderBean.getDistributionWarehouseStockInwardList}"
								class="btn bg-slate font-iconmoon m-r-0"
								title="#{msg['cancel']}">
							</p:commandButton>
							<p:commandButton update="growls" onclick="#"
								value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
								class="btn bg-primary heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="Generate"
									target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal with invoice -->
		<!-- Quality Check modal -->
		<div id="qualitycheck" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['at_num_wise_product_inward_dlt']}</h6>
					</div>
					<div class="modal-body" style="background: #fff;">
						<div class="row label-form view-style">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['product_code']} / #{msg['name']}" />
									<h:outputText value="SPO6/SAREES PARAMAKUDI-BANARAS 6YRD"
										class="" />
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['u_o_m']}" />
									<h:outputText value="PCS" class="" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-lg-12 col-md-12  label-form">
								<h5 class="bord_bot m-t-0">
									<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['item_details']}</span>
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="panel m-b-0">
									<div class="panel-body p-0">

										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<div class=" table-responsive">
													<div id="table-scroll" class="cust-tab2 table-scroll">
														<div id="faux-table2" class="faux-table" aria="hidden"></div>
														<div class="table-wrap-fst-pop">
															<table id="main-table2" class="main-table cust-table">
																<thead>
																	<tr>
																		<th class="text-center"><p:outputLabel value="#" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['at_no']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['bun_num']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['qunatity']}" /></th>
																		<th class="text-center"><p:outputLabel
																				class="fa-input"
																				value="#{msg['value']}&nbsp;( &#xf156; )" /></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">3</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073459</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073461</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">6</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">7</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">8</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">9</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073465</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">10</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073466</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">11</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073467</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>
																	<tr>
																		<td align="center">12</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073468</td>
																		<td class="text-center">20</td>
																		<td class="text-center">1</td>
																		<td class="text-right">1200.00</td>
																	</tr>

																</tbody>
																<tfoot>
																	<tr>
																		<td align="right" colspan="3"><strong>TOTAL</strong></td>
																		<td class="text-center">12</td>
																		<td class="text-right">14400.00</td>


																	</tr>
																</tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="panel-body">
											<div class="row view-style p-t-10">
												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="form-group m-b-5">
														<p:outputLabel value="#{msg['already_dispatched_unit']}" />
														<h:outputText value="50" class="" />
													</div>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="form-group m-b-5">
														<p:outputLabel value="#{msg['received_unit']}" />
														<h:outputText value="12" class="" />
													</div>
												</div>

												<div class="col-lg-4 col-md-4 col-sm-12">
													<div class="form-group m-b-5">
														<p:outputLabel value="#{msg['rec_val']}" />
														<h:outputText value="14400.00" class="" />
													</div>
												</div>

											</div>
											<div class="row">
												<div class="col-md-12 col-lg-12 text-right m-b-0 m-t-10">
													<!-- <p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
														immediate="true" onclick="#"
														class="btn bg-slate font-iconmoon m-r-0"
														title="#{msg['cancel']}">
													</p:commandButton> -->
													<!-- <p:commandButton update="growls"
														value="&#xea0e;&nbsp;#{msg['save']}"
														title="#{msg['save']}"
														class="btn bg-primary heading-btn  font-iconmoon">
													</p:commandButton> -->
													<!-- <p:commandButton update="growls"
														value="&#xed6e;&nbsp;#{msg['submit']}"
														title="#{msg['submit']}"
														class="btn bg-success heading-btn  font-iconmoon">
													</p:commandButton> -->
												</div>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- /modal with invoice -->
		<!-- stock received details pop-up start -->
		<div id="productReceivedAdd" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['receive_product']}</h6>
					</div>
					<div class="modal-body">
						<div class="row label-form">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['bun_num']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<select name="select" class="form-control">
											<option value="opt1">Select</option>
											<option value="opt2">21</option>
											<option value="opt3">22</option>
											<option value="opt4">23</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['qr_cd']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-qrcode"></i></span>
												<p:inputText placeholder="HS1703548"
													styleClass="form-control"></p:inputText>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-12 text-right">
										<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
										<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
											title="#{msg['add']}"
											class="btn bg-success heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['prod_variey_code_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<select name="select" class="form-control">
											<option value="opt1">Select</option>
											<option value="opt2">DHS4/ DHOTHIES CHINGLEPUT 60S
												4YDS</option>
											<option value="opt3">DHR2/ DHOTHIES VEL 2/40S ROUGH
												2 YAR</option>
											<option value="opt4">DMAB/SWAMY DHOTHY AYYAPPA BLACK</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['num_product_dispatched']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText placeholder="50" styleClass="form-control"></p:inputText>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['num_product_received']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText placeholder="9" styleClass="form-control"></p:inputText>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="fa-input"
										value="#{msg['rec_val']}&nbsp;( &#xf156; )" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-price-tags"></i></span>
										<p:inputText placeholder="5100.00"
											styleClass="form-control text-right"></p:inputText>
									</div>
								</div>
							</div>
						</div>
						<div class="panel m-b-0">
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-lg-12">
											<h5 class="popup-table-title">
												<i class="fa fa-th-large m-r-5"></i><span
													class="iform-title">#{msg['pdt_var_details']}</span>
											</h5>
											<div class=" table-responsive">
												<div id="table-scroll" class="cust-tab table-scroll">
													<div id="faux-table6" class="faux-table" aria="hidden"></div>
													<div class="table-wrap-fst-pop">
														<table id="main-table6" class="main-table cust-table">
															<thead>
																<tr>
																	<th class="ui-state-default text-center" width="3%"
																		style="vertical-align: middle;"><span
																		class="ui-column-title">#</span></th>

																	<th class="ui-state-default text-center" width="15%"
																		style="vertical-align: middle;"><p:outputLabel
																			value="#{msg['prod_variey_code']} / #{msg['name']}" />
																		<span
																		class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>

																		<p:inputText value="" styleClass="form-control"/></th>

																	<th class="ui-state-default text-center"><p:outputLabel
																			value="#{msg['u_o_m']}" /> <span
																		class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																		<p:inputText styleClass="form-control">
																		</p:inputText></th>

																	<th class="ui-state-default text-center"><p:outputLabel
																			value="#{msg['at_no']}" /><span
																		class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																		<p:inputText styleClass="form-control"></p:inputText></th>

																	<th class="ui-state-default text-center"><p:outputLabel
																			value="#{msg['qunatity']}" /></th>
																	<th class="ui-state-default text-center"><p:outputLabel
																			class="fa-input"
																			value="#{msg['value']}&nbsp;( &#xf156; )" /></th>

																	<!-- <th class="ui-state-default text-center" width="10%"><p:outputLabel
																				value="#{msg['status']}" /> <span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<select name="select" class="form-control">
																				<option value="opt1">Select</option>
																				<option value="opt2">Received</option>
																				<option value="opt3">Not Received</option>
																		</select></th> -->
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td align="center">1</td>
																	<td>MSS5 / ANGAVASTARAM SALEM WOVEN SILK</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073456</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-success width-custom">Received
																		</span></td> -->
																</tr>
																<tr>
																	<td align="center">2</td>
																	<td>MSS5 / ANGAVASTARAM SALEM WOVEN SILK</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">3</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																	<td class="text-center">1</td>
																	<td class="text-right">450.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">4</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073459</td>
																	<td class="text-center">1</td>
																	<td class="text-right">450.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-success width-custom">Received
																		</span></td> -->
																</tr>
																<tr>
																	<td align="center">5</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">6</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073461</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">7</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">8</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
																<tr>
																	<td align="center">9</td>
																	<td>BBR / BATIK PRINTED BEDSHEET 40X80</td>
																	<td align="center">PCS</td>
																	<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																	<td class="text-center">1</td>
																	<td class="text-right">600.00</td>
																	<!-- <td class="text-center"><span
																			class="label bg-danger width-custom">Not
																				Received </span></td> -->
																</tr>
															</tbody>
															<tfoot>
																<tr>
																	<td align="right" colspan="4"><strong>TOTAL</strong></td>
																	<td class="text-center">9</td>
																	<td class="text-right">5100.00</td>

																</tr>
															</tfoot>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-12 text-right m-b-10 m-t-10">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										immediate="true" onclick="#"
										class="btn bg-slate font-iconmoon m-r-0"
										title="#{msg['cancel']}">
									</p:commandButton>

									<p:commandButton update="growls"
										value="&#xed6e;&nbsp;#{msg['submit']}" title="Preview"
										class="btn bg-success heading-btn  font-iconmoon m-r-5">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bundle details pop-up end -->
		<!-- stock received view popup start -->
		<div id="productReceivedView" class="modal fade">
			<div class="modal-dialog modal-lg-cust3">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['view_bund_details']}</h6>
					</div>
					<div class="modal-body"
						style="padding-top: 5px; padding-bottom: 0px; background: #fff">
						<div class="row">
							<div class="panel-body  p-b-0 p-t-0">
								<div class="row">
									<div class="row view-style p-t-10">
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group m-b-5">
												<p:outputLabel value="#{msg['tot_no_bund']}" />
												<h:outputText value="15" class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group m-b-5">
												<p:outputLabel class="fa-input"
													value="#{msg['tot_bund_dispatched_value']}&nbsp;( &#xf156; )" />
												<h:outputText value="100,000.00" class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group m-b-5">
												<p:outputLabel class="fa-input"
													value="#{msg['tot_bund_received_value']}&nbsp;( &#xf156; )" />
												<h:outputText value="98,000.00" class="" />
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-12">
											<div class="form-group m-b-5">
												<p:outputLabel class="fa-input"
													value="#{msg['tot_bund_not_received_value']}&nbsp;( &#xf156; )" />
												<h:outputText value="2000.00" class="" />
											</div>
										</div>
									</div>
									<!-- Title -->
									<!-- <h5 class="m-t-0">
										<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bundle_status']}</span>
									</h5> -->
									<div class="row m-t-10">
										<div class="panel panel-white m-b-10">
											<div class="panel-heading">
												<h5 class="panel-title">
													<i class="fa fa-th-large m-r-5"></i><span class="">#{msg['bundle_status']}</span>
												</h5>
											</div>
											<div class="panel-body" style="padding: 0 20px 0 20px">

												<div class="row text-center">
													<div class="col-lg-3 col-md-3 col-sm-12 vl2">

														<h5 class="text-semibold no-margin">15</h5>
														<span class="text-muted text-size-medium popup_info_text"><string>#{msg['num_of_bundle']}</string></span>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-12 vl2">

														<h5 class="text-semibold no-margin">14</h5>
														<span class="text-muted text-size-medium popup_info_text">#{msg['number_bundle_varified']}</span>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-12 vl2">

														<h5 class="text-semibold no-margin">01</h5>
														<span class="text-muted text-size-medium popup_info_text">#{msg['number_bundle_varification_inprogress']}</span>
													</div>
													<div class="col-lg-3 col-md-3 col-sm-12">

														<h5 class="text-semibold no-margin">0</h5>
														<span class="text-muted text-size-medium popup_info_text">#{msg['number_bundle_yet_verified']}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-white m-b-10">
								<div class="panel-heading">
									<h5 class="panel-title">
										<i class="fa fa-th-large m-r-5"></i><span class="">#{msg['bund_details']}</span>
									</h5>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<div class=" table-responsive">
													<div id="table-scroll" class="cust-tab table-scroll">
														<div id="faux-table7" class="faux-table" aria="hidden"></div>
														<div class="table-wrap-fst-pop2">
															<table id="main-table7" class="main-table cust-table">
																<thead>
																	<tr>
																		<th class="ui-state-default text-center" width="3%"
																			style="vertical-align: middle;"><span
																			class="ui-column-title">#</span></th>

																		<th class="ui-state-default text-center"><p:outputLabel
																				value="#{msg['bun_num']}" /> <span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control">
																			</p:inputText></th>

																		<th class="ui-state-default text-center" width="10%"
																			style="vertical-align: middle;"><p:outputLabel
																				value="#{msg['prod_variey_code']} / #{msg['name']}" />
																			<span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>

																			<p:inputText value="" styleClass="form-control" /></th>

																		<th class="ui-state-default text-center" width="8%"><p:outputLabel
																				value="#{msg['u_o_m']}" /> <span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control">
																			</p:inputText></th>

																		<th class="ui-state-default text-center"><p:outputLabel
																				value="#{msg['at_no']}" /><span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control"></p:inputText></th>

																		<th class="ui-state-default text-center" width="8%"><p:outputLabel
																				value="#{msg['qunatity']}" /><span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control"></p:inputText></th>
																		<!-- <th class="ui-state-default text-center"><p:outputLabel
																				class="fa-input" value="#{msg['dsph_val']}&nbsp;( &#xf156; )" /><span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control"></p:inputText></th> -->

																		<th class="ui-state-default text-center"><p:outputLabel
																				class="fa-input"
																				value="#{msg['rec_val']}&nbsp;( &#xf156; )" /><span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<p:inputText styleClass="form-control"></p:inputText></th>

																		<!-- <th class="ui-state-default text-center" width="10%"><p:outputLabel
																				value="#{msg['status']}" /> <span
																			class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
																			<select name="select" class="form-control">
																				<option value="opt1">Select</option>
																				<option value="opt2">Received</option>
																				<option value="opt3">Not Received</option>
																		</select></th> -->
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073456</td>
																		<td class="text-center">1</td>

																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">1</td>

																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">3</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>


																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073459</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">6</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073461</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">7</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">8</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">9</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">10</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																	<tr>
																		<td align="center">11</td>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTARAM NAGARKOVIL..</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073465</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>

																	</tr>
																</tbody>
																<tfoot>
																	<tr>
																		<td align="right" colspan="5"><strong>TOTAL</strong></td>
																		<td class="text-center">11</td>
																		<td class="text-right">6600.00</td>


																	</tr>
																</tfoot>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="row">
								<div class="col-md-12 col-lg-12 text-right m-b-10">

									<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
										immediate="true" onclick="#"
										class="btn bg-info font-iconmoon m-r-5" title="#{msg['back']}">
									</p:commandButton>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- stock received voew popup end -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table1");
				var mainTable = document.getElementById("main-table1");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table2");
				var mainTable = document.getElementById("main-table2");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table3");
				var mainTable = document.getElementById("main-table3");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table6");
				var mainTable = document.getElementById("main-table6");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
	</ui:define>
</ui:composition>