<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Stock Inward List - Distribution Warehouse</title>
		<div class="row">
			<div class="col-lg-12">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="page-title">#{msg['stk_inrd_lst']} - #{msg['dist_whouse']}</h4>
					</div>
					<div class="pull-right">
						<ol class="breadcrumb hidden-xs mt text12 ph0">
							<li><i class="fa fa-home mr-sm"></i><a href="#">#{msg['home']}</a></li>
							<li><a href="#">#{msg['dist_whouse']}</a></li>
							<li class="active">#{msg['stk_inrd_lst']} - #{msg['dist_whouse']}</li>
						</ol>
					</div>
				</div>
				<div class="panel panel-color panel-top-bor">
					<!-- <div class="panel-heading">
                  <h3 class="panel-title text-grey">Add Society</h3>
                </div> -->
							<div class="panel-body">
<!-- 										<h4 class="bord_bot"><i class="fa fa-th-large m-r-5"></i><span class="iform-title">Stock Inward Details</span></h4>
 -->										<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
											<label class="control-label">#{msg['st_in_num']}</label>
                                                <select class="form-control">
                                                	<option>Select</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
											</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3">
											<p:outputLabel value="#{msg['inrd_dt_frm']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="dateapply1"
													value=""
													pattern="dd-MM-yyyy" mask="true" required="true"
													requiredMessage="Required"
													styleClass="form-control calend-icon" />
											</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3">
											<p:outputLabel value="#{msg['inrd_dt_to']}" />
											<div class="form-group form-group_calend">
												<p:calendar id="dateapply2"
													value=""
													pattern="dd-MM-yyyy" mask="true" required="true"
													requiredMessage="Required"
													styleClass="form-control calend-icon" />
											</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
											<label class="control-label">#{msg['otrd_enty_frm']}</label>
                                                <select class="form-control">
                                                	<option>Select</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
											</div>
											</div>
											</div>
											<div class="row">
											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
												<label class="control-label">#{msg['status']}</label>
                                                	<select class="form-control">
                                                		<option>Select</option>
                                                    	<option>Active</option>
                                                    	<option>In-active</option>
                                                	</select>
												</div>
											</div>
											</div>
											<div class="row m-b-20">
											<div class="col-md-12 text-right">
												<p:commandButton value="&#xf12d;&nbsp;#{msg['clear']}"
													styleClass="btn btn-sm btn-cancel waves-effect waves-light m-r-10 fa-input"></p:commandButton>
												<p:commandButton value="&#xf002;&nbsp;#{msg['search']}"
													styleClass="btn btn-sm btn-info waves-effect waves-light m-r-10 fa-input">
												</p:commandButton>
												
											</div>
											</div>				
						<div class="col-lg-12 ph0">
							<div class="portlet m-b-0">
								<div class="panel-grey">
									<h3 class="portlet-title">#{msg['inrd_dtl']}</h3>
									<div class="portlet-widgets">
										<p:commandButton value="&#xf067;&nbsp;#{msg['add']}"
											styleClass="btn btn-xs btn-success waves-effect waves-light fa-input">
										</p:commandButton>
										<p:commandButton value="&#xf044;&nbsp;#{msg['edit']}"
											styleClass="btn btn-xs btn-primary waves-effect waves-light m-l-10 fa-input">
										</p:commandButton>
										<p:commandButton value="&#xf06e;&nbsp;#{msg['view']}"
											styleClass="btn btn-xs btn-info waves-effect waves-light m-l-10 fa-input">
										</p:commandButton>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="portlet-body p0">
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table cust-table table-bordered">
													<thead>
														<tr>
															<th align="center">#{msg['sl']}</th>
															<th align="center">#{msg['inrd_dt']}</th>
															<th align="center">#{msg['indr_num']}</th>
															<th align="center">#{msg['out_val']}</th>
															<th align="center">#{msg['inrd_val']}</th>
															<th align="center">#{msg['out_frm']}</th>
															<th align="center">#{msg['created_date']}</th>
															<th align="center">#{msg['status']}</th>
															<th align="center">#{msg['select']}</th>
															
														</tr>
													</thead>
													<tbody>
													 	<tr>
															<td align="center">1</td>
															<td align="center">27-Jul-2017</td>
															<td align="center">9854</td>
															<td align="right">729</td>
															<td align="right">259</td>
															<td align="center">Coimbatore</td>
															<td align="center">23-Jul-2017</td>
															<td align="center">Active</td>
															<td align="center">
																	<div class="radio m-b-0 m-l-5">
																		<input type="radio" name="radio" id="radio1"
																			value="option1" /> <label for="radio1"> </label>
																	</div>
															</td>
														</tr>
														<tr>
															<td align="center">2</td>
															<td align="center">27-Jul-2017</td>
															<td align="center">9854</td>
															<td align="right">729</td>
															<td align="right">259</td>
															<td align="center">Coimbatore</td>
															<td align="center">23-Jul-2017</td>
															<td align="center">Active</td>
															<td align="center">
																	<div class="radio m-b-0 m-l-5">
																		<input type="radio" name="radio" id="radio1"
																			value="option1" /> <label for="radio1"> </label>
																	</div>
															</td>
														</tr>
														<tr>
															<td align="center">3</td>
															<td align="center">27-Jul-2017</td>
															<td align="center">9854</td>
															<td align="right">729</td>
															<td align="right">259</td>
															<td align="center">Coimbatore</td>
															<td align="center">23-Jul-2017</td>
															<td align="center">Active</td>
															<td align="center">
																	<div class="radio m-b-0 m-l-5">
																		<input type="radio" name="radio" id="radio1"
																			value="option1" /> <label for="radio1"> </label>
																	</div>
															</td>
														</tr>
													</tbody>
													<tfoot>
													</tfoot>
												</table>
											</div>
											<div class="col-md-12 ph0">
                        					<div class="col-lg-6 col-md-6 col-sm-6 text-right ph0">
                        					</div>
									
                        						<div class="col-lg-6 col-md-6 col-sm-6 text-right ph0">
                          						<ul class="pagination pagination-split m">
                            						<li> <a href="#"><i class="fa fa-angle-left"></i> Previous</a> </li>
                            						<li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
                            						<li> <a href="#">1</a> </li>
                            						<li class="active"> <a href="#">2</a> </li>
                            						<li> <a href="#">3</a> </li>
                            						<li> <a href="#">4</a> </li>
                            						<li> <a href="#">5</a> </li>
                            						<li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
                            						<li> <a href="#">Next <i class="fa fa-angle-right"></i></a> </li>
                          						</ul>
                        						</div>
                        						</div>
                     						 </div>
										</div>
										<!-- end col -->
										<div class="clearfix"></div>
										</div>
									</div>
									</div>
									<!-- end row -->
									<!-- end col -->
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>
			<!-- end col -->
	</ui:define>
</ui:composition>
