<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">

		<style type="text/css">
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style>

	<title>Infotex | View Stock Outward - Export Warehouse</title>

		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_stock_out']} - #{msg['export_warehouse']}</h4>
					<ul class="breadcrumb">
						<li><a href="#"><i class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['export_warehouse']}</li>
						<li class="active">#{msg['view_stock_out']} - #{msg['export_warehouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>


		<!-- Page Header End -->
		<div class="content page-scroll no-padding-bottom">
			<div class="panel-group m-b-10">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">#{msg['view_stock_out']} - #{msg['export_warehouse']}</h6>
					</div>

					<div id="accordion-control-right-group1">

						<div class="panel-body" style="padding:10px 15px 10px 15px;">

							<div class="row label-form view-style">

								<div class="col-lg-4 col-md-4 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['stock_out_to']}" />
										<h:outputText value="MDM251 / Madurai Showroom" class="" />
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12">
									<!-- <div class="form-group m-b-0">
										<p:outputLabel value="#{msg['stock_movement_number']} / #{msg['date']}" />
										<h:outputText value="1008-DEC17-10 / 10-JAN-18" class="" />
									</div> -->
								</div>

								<div class="col-lg-4 col-md-4 col-sm-12">
									 
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- collepse panel end -->


			<div class="panel panel-info">
			
			
				<h5 class=" m-b-0 m-t-5 col-md-6 m-l-5">
					<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
				</h5>

			 
				<div class="panel-body p-0">

					<div id="table-scroll"
						class="cust-tab2 table-scroll table-responsive">
						<div id="faux-table1" class="faux-table" aria="hidden"></div>
						<div class="table-wrap-fst-pop cus_bot_border">
							<table id="main-table1" class="main-table cust-table2">

									<thead>
										<tr>
											<th rowspan="2" align="center" style="width: 3%">#</th>
											<th rowspan="2" class="ui-state-default text-center">
												#{msg['prod_variey_code']} / #{msg['name']}</th>
											<th rowspan="2" class="ui-state-default text-center" style="width:10%">#{msg['uom']}</th> 
											<th rowspan="2" class="ui-state-default text-left" style="width:10%">#{msg['bun_num']}</th>
											<th rowspan="2" class="ui-state-default text-center" style="width:10%">#{msg['dis_qty']}</th>
											<!-- <th rowspan="2" class="ui-state-default text-center" style="width:10%">#{msg['received_unit']}</th> -->
											<!-- <th rowspan="2" class="ui-state-default text-center" style="width:10%">#{msg['product_sample_number']}</th> -->
											 <th rowspan="2" class="ui-state-default text-center fa-input" style="width:8%">#{msg['value']}&nbsp;(&#xf156;)</th>  
											<!-- <th rowspan="2" class="ui-state-default text-center">#{msg['action']}</th> -->

										</tr>
									</thead>
									<tbody>
										<tr>
											<td align="center">1</td>
											<td style="">HA2B / Handloom Saree</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
											<!-- <td align="center" style="">25</td> -->
						 					
											<td align="right" style="">2540.00</td>
										 	<!-- <td style="text-align: center; width: 50px;">	
										 	<p:commandLink title="#{msg['delete']}" styleClass="btn btn-xs btn-danger waves-effect waves-light"> <i class="fa fa-trash"></i>
											</p:commandLink>
											</td> -->
											
											 <!-- <td style="text-align: center; width: 50px;">	
											<input type="button" value="&#xea18;" class="btn bg-info font-iconmoon btn-xs" data-toggle="modal" data-target="#qualitycheck" />	
											</td>  --> 
												
											<!-- <td style="text-align: center; width: 50px;">	
											<p:commandLink
													title="#{msg['delete']}"
													styleClass="btn btn-xs btn-danger waves-effect waves-light">
													<i class="fa fa-trash"></i>
												</p:commandLink>
											</td> -->

										</tr>
										<tr>
											<td align="center">2</td>
											<td style="">PA2S / Padalloom Saree</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
											 
											<td align="right" style="">2540.00</td>
						 				</tr>
										<tr>
											<td align="center">3</td>
											<td style="">HD2C / Handloom Dhoti</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
										 
											<td align="right" style="">2540.00</td>
							 				 
										</tr>

										<tr>
											<td align="center">4</td>
											<td style="">PL2D / Padalloom Dhoti</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
									 
											<td align="right" style="">2540.00</td>
							 				 
										</tr>
										<tr>
											<td align="center">5</td>
											<td style="">PL2D / Padalloom Dhoti</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
										 
											<td align="right" style="">2540.00</td>
											 
										</tr>
										<tr>
											<td align="center">6</td>
											<td style="">PA2S / Padalloom Saree</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
										 
											<td align="right" style="">2540.00</td>
								 
										</tr>
										
										<tr>
											<td align="center">7</td>
											<td style="">PA2S / Padalloom Saree</td>
											<td align="center">PCS</td>
											<td align="center" style="">85</td>
											<td align="center" style="">12</td>
										 
											<td align="right" style="">2540.00</td>
									 
										</tr>

									</tbody>
									<tfoot>
										<tr>
										<td class="text-center"> </td>
											<td align="right" colspan="1"><strong>TOTAL</strong></td>
											
											 <td class="text-center">96</td>
											<td class="text-center">96</td>
											<td class="text-center">80</td>
											<td align="right" style="">22540.00</td>
										 
											<!-- <td></td> -->
										</tr>
									</tfoot>
								</table>
						</div>
					</div>


					<!-- Transport Details -->

					<div class="panel-body ">
 
 						<h5 class="bord_bot m-t-0">
							<i class="fa fa-th-large m-r-5 m-t-0"></i><span
								class="iform-title">#{msg['bund_details']}</span>
						</h5>
						
						<div class="row label-form view-style">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_no_bund']}" />
									<h:outputText value="562" class="" />
								</div>
							</div>
		 				 	
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['bun_num']}" />
									<h:outputText value="98" class="" />
								</div>
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-12">
								<div class="form-group">
									<p:outputLabel class="" value="#{msg['tot_bund_wt']}" />
									<h:outputText value="1250" class="" />
								</div>
							</div>
							 
						</div>
 
 
 
 
		 
						<h5 class="bord_bot m-t-10">
							<i class="fa fa-th-large m-r-5 m-t-0"></i><span
								class="iform-title">#{msg['trans_details']}</span>
						</h5>
						
						<div class="row label-form view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<h:outputText value="Speed Post" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<h:outputText value="Speed Post" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<h:outputText value="Yes" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<h:outputText value="#5845254852" class="" />
								</div>
							</div>
						</div>



						<div class="row label-form view-style">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<h:outputText value="Yes" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<h:outputText value="Cash" class="" />
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel class="fa-input"
										value="#{msg['trans_charge_amt']} &nbsp;(&#xf156;)" />
									<h:outputText value="268.00" class="" />
								</div>
							</div>
						</div>
						
						
						<div class="row text-right">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
									onclick="location.href='listStockOutwardEW.xhtml';"
									class="btn bg-info heading-btn font-iconmoon">
								</p:commandButton>
							</div>
						</div>





					</div>

					<!-- end row -->

				</div>

			</div>



		</div>




		<!-- Modal with invoice -->
		<!-- Quality Check modal -->



		<div id="qualitycheck" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">

					<div class="modal-lg-cust">

						<div class="modal-content">

							<div class="modal-header bg-info">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h6 class="modal-title">#{msg['bund_details']}</h6>
							</div>

							<div class="modal-body ">

								<div class="row label-form view-style">

									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['prod_variey_code_name']}" />
											<h:outputText value="HA2B / Saree" class="" />
										</div>
									</div>


									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group m-b-0">
											<p:outputLabel value="#{msg['dis_qty']}" />
											<h:outputText value="500	" class="" />
										</div>
									</div>


									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group m-b-0">
											<p:outputLabel value="#{msg['received_unit']}" />
											<h:outputText value="500	" class="" />
										</div>
									</div>





								</div>

								<div class="row label-form view-style">


									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group m-b-0">
											<p:outputLabel value="#{msg['accpt_qty']}" />
											<h:outputText value="620	" class="" />
										</div>
									</div>


									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group m-b-0">
											<p:outputLabel value="#{msg['rej_qty']}" />
											<h:outputText value="540	" class="" />
										</div>
									</div>


									<div class="col-lg-4 col-md-4 col-sm-12">
										<div class="form-group m-b-0">
											<p:outputLabel class="fa-input"
												value="#{msg['value']} &nbsp; (&#xf156;)" />
											<h:outputText value="12500.00	" class="" />
										</div>
									</div>

								</div>

								<hr></hr>



								<div class="row m-t-10">

									<div class="col-lg-12">

										<div class="panel-body p-0">

											<div class="row">
												<div class="col-md-12 col-sm-12 col-lg-12">


													<div id="table-scroll"
														class="cust-tab2 table-scroll table-responsive">
														<div id="faux-table" class="faux-table" aria="hidden"></div>
														<div class="scrollTabHgt-300">
															<table id="main-table" class="main-table cust-table2">

																<thead>
																	<tr>
																		<th rowspan="2" align="center" style="width: 3%">#</th>
																		<th rowspan="2" class="ui-state-default text-center">
																			#{msg['bun_nums']}</th>
																		<th rowspan="2" class="ui-state-default text-center"
																			style="width: 10%">#{msg['tot']}
																			#{msg['recd_unit']}</th>
																		<th rowspan="2" class="ui-state-default text-center"
																			style="width: 10%">#{msg['tot']}
																			#{msg['accpt_qty']}</th>
																		<th rowspan="2" class="ui-state-default text-center"
																			style="width: 10%">#{msg['tot']}
																			#{msg['rej_qty']}</th>


																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>



																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>


																	</tr>
																	<tr>
																		<td align="center">3</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>




																	</tr>

																	<tr>
																		<td align="center">4</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>

																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>

																	</tr>

																	<tr>
																		<td align="center">6</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>
																	</tr>


																	<tr>
																		<td align="center">7</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>

																	</tr>

																	<tr>
																		<td align="center">8</td>
																		<td>560, 648, 710, 820, 973</td>
																		<td align="center" style="">48</td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="12" /></td>
																		<td align="center" style=""><p:inputText
																				maxlength="30" class="form-control text-right"
																				value="36" /></td>

																	</tr>


																</tbody>
																<tfoot>
																	<tr>
																		<td align="right" colspan="2"><strong>
																				Total</strong></td>

																		<td align="center" style="">548</td>
																		<td align="right" style="">148</td>
																		<td align="right" style="">300</td>

																	</tr>
																</tfoot>
															</table>
														</div>
													</div>

												</div>
											</div>



											<div class="row">
												<div class="col-md-12 col-lg-12 text-right m-t-10 m-b-0">

													<p:commandButton onclick="#"
														value="&#xed6a;&nbsp;#{msg['cancel']}" title="Cancel"
														class="btn bg-slate heading-btn  font-iconmoon">
													</p:commandButton>
													<p:commandButton update="growls"
														value="&#xed6e;&nbsp;#{msg['submit']}" title="Preview"
														class="btn bg-success heading-btn  font-iconmoon">
													</p:commandButton>
												</div>
											</div>




										</div>


									</div>
								</div>
							</div>

						</div>

					</div>




				</div>
			</div>
		</div>
		<!-- /modal with invoice -->



		<!-- / Quality Check modal -->



		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>

		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table1");
				var mainTable = document.getElementById("main-table1");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

	</ui:define>
</ui:composition>