<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="societyForm">
			<ui:include src="retailSocietyWorkFlowCSS.xhtml" />
			<f:metadata>
				<f:event type="preRenderView"
					listener="#{retailSocietywisePlanBean.authorization}" />
			</f:metadata>
			<title>InfoTex | Retail Sales - Society Wise Production Plan</title>
			<style type="text/css">
#steps-uid-0-t-0 span.number {
	font-size: 14px;
}
</style>

			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h5>#{msg['retail_sales']} - #{msg['society_wise_pdt_plan']}</h5>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['prcurmnt']}</li>
							<li>#{msg['retail_procure']}</li>
							<li class="active">#{msg['retail_sales']} -
								#{msg['society_wise_pdt_plan']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>


				</div>
			</div>
			<!-- End Page Header -->

			<div class="content p-content">
				<ui:include src="retailSocietyWorkFlow.xhtml" />
			</div>

			<div class="content page-scroll pro_steps1line no-padding-bottom">
				<div
					class="panel-group panel-group-control panel-group-control-right"
					id="accordion-control-right">
					<div class="panel ">
						<div class="panel-heading bg-info">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['retail_sales']}
									- #{msg['society_wise_pdt_plan']}</a> <span
									class="pull-right text-13 m-r-25">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
								</h5>
								<p:outputPanel id="requiredpanel">
									<div class="row label-form">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}"
													for="prodplan" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="prodplan" rendered="#{empty param[generate.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-file-plus2"></i></span>
													<h:selectOneMenu id="prodplan"
														disabled="#{retailSocietywisePlanBean.action eq 'EDIT'}"
														value="#{retailSocietywisePlanBean.retailProductionPlan}"
														class="form-control select2"
														converter="#{entityConverter}"
														required="#{not empty param[generate.clientId] || not empty param[generateId.clientId] || not empty param[save.clientId]}"
														requiredMessage="#{msg['plan_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{retailSocietywisePlanBean.retailProductionPlanUniqueList}"
															var="productionplan"
															itemLabel="#{productionplan.planCode} / #{productionplan.planName}"
															itemValue="#{productionplan}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{retailSocietywisePlanBean.onChangeProductionPlan}"
															update="plandetails dnpoffice productcategory productgroup productvariety msg1" />
													</h:selectOneMenu>
												</div>
												<h:message for="prodplan" class="validation-error-label"
													id="msg1" />
												<p:focus for="prodplan"></p:focus>
											</div>
										</div>
										<p:outputPanel id="plandetails">
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_from']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.retailProductionPlan.planFrom}"
															styleClass="form-control">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="MMM-YYYY" />
														</p:inputText>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['plan_period_to']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.retailProductionPlan.planTo}"
															styleClass="form-control">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="MMM-YYYY" />
														</p:inputText>
													</div>
												</div>
											</div>

											<div class="clearfix"></div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['region_code']} / #{msg['name']}" />
													<h:outputText id="regions" rows="4" cols="20"
														escape="false" class="form-control m-t-5" disabled="true"
														value="#{retailSocietywisePlanBean.regionValues}"
														style="height: 90px;overflow:scroll;background-color:#f4f4f4; "
														placeholder="Region Name"></h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['prod_variey_code']} / #{msg['name']}" />
													<h:outputText id="categories" rows="4" cols="20"
														escape="false" class="form-control m-t-5" disabled="true"
														value="#{retailSocietywisePlanBean.productCategoryValues}"
														style="height: 90px;overflow:scroll;background-color:#f4f4f4; "
														placeholder="Category Name"></h:outputText>

												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.planCreatedDate}"
															styleClass="form-control">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-YYYY" />
														</p:inputText>
													</div>
												</div>
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_date']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-calendar22"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.planApprovedDate}"
															styleClass="form-control">
															<f:convertDateTime timeZone="GMT+05:30"
																pattern="dd-MMM-YYYY" />
														</p:inputText>
													</div>
												</div>

											</div>
											<div class="col-lg-3 col-md-3 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.planCreatedBy}"
															styleClass="form-control">
														</p:inputText>
													</div>
												</div>
												<div class="form-group">
													<p:outputLabel value="#{msg['approved_by']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText disabled="true"
															value="#{retailSocietywisePlanBean.planApprovedBy}"
															styleClass="form-control">
														</p:inputText>
													</div>
												</div>
											</div>
										</p:outputPanel>
									</div>

									<h5 class="bord_bot">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['dnp_office_detail']}</span>
									</h5>
									<div class="row label-form">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['d_n_p_office_code']} / #{msg['name']}"
													for="dnpoffice" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="dnpoffice"
													rendered="#{empty param[generate.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<p:inputText disabled="true" id="dnpoffice"
														value="#{retailSocietywisePlanBean.entityMaster.name}"></p:inputText>
												</div>
												<h:message for="dnpoffice" class="validation-error-label"
													id="msg2" />
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_category_code']} / #{msg['name']}"
													for="productcategory" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="productcategory"
													rendered="#{empty param[generate.clientId]}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<h:selectOneMenu id="productcategory"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['prod_cate_code_name_req']}"
														disabled="#{retailSocietywisePlanBean.action eq 'EDIT'}"
														value="#{retailSocietywisePlanBean.productCategory}"
														styleClass="form-control" converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="true" />
														<f:selectItems var="category"
															value="#{retailSocietywisePlanBean.productCategoryList}"
															itemValue="#{category}"
															itemLabel="#{category.productCatCode} / #{category.productCatName}" />
														<p:ajax
															listener="#{retailSocietywisePlanBean.onchangeCategory}"
															update="productgroup productvariety msg3"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
													</h:selectOneMenu>
												</div>
												<h:message for="productcategory"
													class="validation-error-label" id="msg3" />
											</div>
										</div>
										<!-- end col -->
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_group_code']} / #{msg['name']}"
													for="productgroup" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="productgroup"
													rendered="#{empty param[generate.clientId]}" />
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-tree7"></i></span>
														<h:selectOneMenu id="productgroup"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['prod_group_code_name_req']}"
															disabled="#{retailSocietywisePlanBean.action eq 'EDIT'}"
															value="#{retailSocietywisePlanBean.productGroup}"
															styleClass="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems var="group" itemValue="#{group}"
																itemLabel="#{group.code} / #{group.name}"
																value="#{retailSocietywisePlanBean.productGroupList}" />
															<p:ajax
																listener="#{retailSocietywisePlanBean.onchangeGroup}"
																update="productvariety msg4"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="productgroup"
														class="validation-error-label" id="msg4" />
												</div>
												<!-- input-group -->
											</div>
										</div>
										<!-- end col -->
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['prod_variey_code']} / #{msg['name']}"
													for="productvariety" />
												<p:outputLabel value="*" class="text-danger mand-symbol"
													for="productvariety"
													rendered="#{empty param[generate.clientId]}" />
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-stack3"></i></span>
														<h:selectOneMenu id="productvariety"
															required="#{not empty param[generate.clientId]}"
															requiredMessage="#{msg['prod_variety_code_name_req']}"
															disabled="#{retailSocietywisePlanBean.action eq 'EDIT'}"
															value="#{retailSocietywisePlanBean.productVarity}"
															styleClass="form-control" converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems var="variety" itemValue="#{variety}"
																itemLabel="#{variety.code} / #{variety.name}"
																value="#{retailSocietywisePlanBean.productvarityList}" />
															<p:ajax
																listener="#{retailSocietywisePlanBean.onchangeVariety}"
																update="fromMonthYear growls msg5"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()" />
														</h:selectOneMenu>
													</div>
													<h:message for="productvariety"
														class="validation-error-label" id="msg5" />
												</div>
												<!-- input-group -->
											</div>
										</div>

										<div class="col-md-3 col-sm-6 col-sm-6">
											<p:outputLabel value="#{msg['society_plan_from']}"
												for="fromMonthYear" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="fromMonthYear"
												rendered="#{empty param[generate.clientId]}" />
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu id="fromMonthYear" name="fromMonthYear"
														rendered="#{retailSocietywisePlanBean.action eq 'ADD'}"
														class="form-control"
														value="#{retailSocietywisePlanBean.societyPlanFromMonthYear}"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['society_plan_from_req']}">
														<f:selectItem itemLabel="Month-Year" itemValue="#{null}" />
														<f:selectItems var="planFromMonthYear"
															itemValue="#{planFromMonthYear.split('-')[0].substring(0,3)}-#{planFromMonthYear.split('-')[1]}"
															itemLabel="#{planFromMonthYear.split('-')[0].substring(0,3)}-#{planFromMonthYear.split('-')[1]}"
															value="#{retailSocietywisePlanBean.planFromMonthYearList}" />
														<p:ajax update="toMonthYear msg6" event="change" />
													</h:selectOneMenu>

													<p:inputText disabled="true"
														rendered="#{retailSocietywisePlanBean.action eq 'EDIT'}"
														value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.fromMonth} - #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.fromYear}"
														styleClass="form-control">
													</p:inputText>
												</div>
												<h:message for="fromMonthYear"
													class="validation-error-label" id="msg6" />
											</div>
										</div>
										<div class="col-md-3 col-sm-6 col-lg-3">
											<p:outputLabel value="#{msg['society_plan_to']}"
												for="toMonthYear" />
											<p:outputLabel value="*" class="text-danger mand-symbol"
												for="toMonthYear"
												rendered="#{empty param[generate.clientId]}" />
											<div class="form-group">
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-calendar22"></i></span>
													<h:selectOneMenu id="toMonthYear" class="form-control"
														name="toMonthYear"
														required="#{not empty param[generate.clientId]}"
														requiredMessage="#{msg['society_plan_to_req']}"
														rendered="#{retailSocietywisePlanBean.action eq 'ADD'}"
														value="#{retailSocietywisePlanBean.societyPlanToMonthYear}">
														<f:selectItem itemLabel="Month-Year" itemValue="#{null}" />
														<f:selectItems var="planToMonthYear"
															itemValue="#{planToMonthYear.split('-')[0].substring(0,3)}-#{planToMonthYear.split('-')[1]}"
															itemLabel="#{planToMonthYear.split('-')[0].substring(0,3)}-#{planToMonthYear.split('-')[1]}"
															value="#{retailSocietywisePlanBean.planToMonthYearList}" />
														<p:ajax update="msg7" event="change" />
													</h:selectOneMenu>

													<p:inputText disabled="true"
														rendered="#{retailSocietywisePlanBean.action eq 'EDIT'}"
														value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.toMonth} - #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.toYear}"
														styleClass="form-control">
													</p:inputText>
												</div>
												<h:message for="toMonthYear" class="validation-error-label"
													id="msg7" />
											</div>
										</div>


										<div class="col-lg-6 col-sm-12 col-md-6 text-right">
											<p:outputLabel value="&nbsp;&nbsp;"
												styleClass="dis-block-tab" />
											<p:commandButton action="#{retailSocietywisePlanBean.clearDandPofficeDetails}"
												rendered="#{retailSocietywisePlanBean.action eq 'ADD'}"
												value="&#xe916;&nbsp;#{msg['clear']}"
												title="#{msg['cancel']}"
												styleClass="btn bg-slate heading-btn  font-iconmoon"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()"
												update="productcategory productgroup productvariety fromMonthYear toMonthYear">
											</p:commandButton>
											<p:commandButton
												action="#{retailSocietywisePlanBean.generateSocietywiseproductionPlan}"
												rendered="#{retailSocietywisePlanBean.action eq 'ADD'}"
												binding="#{generate}"
												value="&#xeda7;&nbsp;#{msg['generate']}"
												title="#{msg['generate']}"
												class="btn bg-primary heading-btn  font-iconmoon m-r-0"
												onstart="PF('statusDialog').show()"
												onsuccess="PF('statusDialog').hide()"
												update="requiredpanel growls table">
											</p:commandButton>

										</div>
									</div>
								</p:outputPanel>

							</div>
						</div>
					</div>

				</div>
				<!--  search panel -->


				<div class="row m-t-20">
					<div class="col-lg-6">
						<!-- <div class="form-group">Total Retail Production Result : 11</div> -->
					</div>
					<div class="col-md-6 text-right">
						<!-- <div class="form-group">(Values are in Quantity / Meters)</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel m-b-0 page-scroll-1row">
							<div class="panel-body ">
								<h5 class="m-b-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['soc_pdt_plan_details']}</span>
								</h5>
								<div class="table-responsive">
									<div class="cust-table">
										<p:dataTable class="report-table" rowIndexVar="rowIndex"
											tableStyle="table-layout: auto;" editable="true"
											widgetVar="mainTable" id="table"
											styleClass="report-table m-b-10"
											value="#{retailSocietywisePlanBean.societyPlanDetailsMap.entrySet().toArray()}"
											var="productEntry">

											<p:columnGroup type="header">
												<p:row>
													<p:column rowspan="3" headerText="#" styleClass="width-3" />
													<p:column rowspan="3"
														headerText="#{msg['society_code']} / #{msg['name']}" />
													<p:column rowspan="3"
														headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Total Value ( &#xf156; )' : 'Total Quantity' }"
														styleClass="fa-input" />
												</p:row>
												<p:row>
													<p:columns value="#{retailSocietywisePlanBean.societyList}"
														var="column" colspan="2" columnIndexVar="colIndex">
														<f:facet name="header">
															<span class="m-t-5"><h:outputText
																	value="#{column.monthValue} - #{column.yearNumber}" /></span>&nbsp;
														<span class="fa-input label bg-white"
																style="float: right;"> <p:outputLabel
																	styleClass="fa-input text-right"
																	value="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Total Value ( &#xf156; )' : 'Total Qty : ' }" />
																<h:outputText
																	value="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? column.dnpMonthwiseTotalValue : column.dnpMonthwiseTotalQty }">
																	<f:convertNumber pattern="#0.00" />
																</h:outputText>
															</span>
														</f:facet>
													</p:columns>
												</p:row>
												<p:row>
													<ui:repeat var="data" varStatus="status"
														value="#{retailSocietywisePlanBean.societyList}">
														<p:column
															headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Previous Year Supplied ( &#xf156; )' : 'Previous Year Supplied Qty' }"
															escape="true" styleClass="fa-input" />
														<p:column
															headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Current Year Requirement ( &#xf156; )' : 'Current Year Requirement Qty' }"
															escape="true" styleClass="fa-input" />
													</ui:repeat>
												</p:row>
											</p:columnGroup>
											<p:column styleClass="text-center width-3">
												<h:outputText value="#{rowIndex+1}" />
											</p:column>

											<p:column>
												<h:outputText
													value="#{productEntry.key.split('/')[0]} / #{productEntry.key.split('/')[1]}" />
											</p:column>

											<p:column>
												<p:inputText disabled="true"
													value="#{productEntry.value.get(0).societywiseTotalQty}"
													dir="rtl" style="float:right">
												</p:inputText>
											</p:column>


											<c:forEach items="#{retailSocietywisePlanBean.societyList}"
												varStatus="myIndex" var="data">
												<p:column>
													<h:outputText
														value="#{productEntry.value.get(myIndex.index).previousYearSupplied}"
														dir="rtl" style="float:right">
														<f:convertNumber pattern="#0.00" />
													</h:outputText>
												</p:column>
												<p:column>
													<p:inputText
														onkeypress="if( (event.which &lt; 48 || event.which &gt; 57) ) if(event.which != 46) return false;"
														value="#{productEntry.value.get(myIndex.index).currentYearRequirement}"
														dir="rtl" style="float:right">
														<f:convertNumber pattern="#0.00" />
														<p:ajax event="change" update="table growls"
															listener="#{retailSocietywisePlanBean.editSocietywise(productEntry.key, productEntry.value.get(myIndex.index), myIndex.index)}" />
													</p:inputText>
												</p:column>
											</c:forEach>
											<p:columnGroup type="footer">
												<p:row>
													<p:column colspan="3" footerText="Total" />
													<c:forEach items="#{retailSocietywisePlanBean.societyList}"
														varStatus="myIndex" var="data">
														<ui:repeat var="month"
															value="#{retailSocietywisePlanBean.totalFinalValueMapForPrevious.entrySet().toArray()}">
															<p:column rendered="#{data.monthValue eq month.key}">
																<f:facet name="footer">
																	<h:outputText value="#{month.value}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
														</ui:repeat>
														<ui:repeat var="month"
															value="#{retailSocietywisePlanBean.totalFinalValueMapForCurrent.entrySet().toArray()}">
															<p:column rendered="#{data.monthValue eq month.key}">
																<f:facet name="footer">
																	<h:outputText value="#{month.value}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
														</ui:repeat>
													</c:forEach>
												</p:row>
											</p:columnGroup>
										</p:dataTable>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											title="#{msg['cancel']}"
											action="#{retailSocietywisePlanBean.cancel}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-slate heading-btn font-iconmoon">
										</p:commandButton>

										<p:commandButton update="growls requiredpanel"
											binding="#{save}"
											action="#{retailSocietywisePlanBean.submitSocietyProcurementPlan('INITIATED')}"
											value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-primary heading-btn font-iconmoon">
										</p:commandButton>

										<p:commandButton binding="#{generateId}"
											update="growls requiredpanel"
											value="&#xed6e;&nbsp;#{msg['submit']}"
											action="#{retailSocietywisePlanBean.submitSocietyProcurementPlan('SUBMITTED')}"
											title="#{msg['submit']}" onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											class="btn bg-success heading-btn font-iconmoon">
										</p:commandButton>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</div>


			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		</h:form>
	</ui:define>
</ui:composition>
