<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Contract / Export Society Wise Production
			Plan List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['con_exp_wppl']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['prcurmnt']}</li>
						<li>#{msg['otr_procurement']}</li>
						<li>#{msg['soc_wis_prod']}</li>
						<li class="active">#{msg['con_exp_wppl']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h6 class="panel-title">
						<strong> <h:panelGroup id="size">
								<h:outputText
									value="#{govtSocietyWiseProductionPlanBean.conExportTotalRecord}" />
							</h:panelGroup>
						</strong> - #{msg['soc_pdt_plan_govt_scheme_list']}(#{msg['list_s']}) <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}" immediate="true"
							action="#{govtSocietyWiseProductionPlanBean.getAddPage('Contract')}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							rendered="#{loginBean.userMaster.userType != 'SUPPLIER'}"
							class="btn bg-success font-iconmoon m-r-0" title="#{msg['add']}">
							<f:setPropertyActionListener value="ADD"
								target="#{govtSocietyWiseProductionPlanBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe912; #{msg['edit']}"
							class="btn bg-primary font-iconmoon" title="#{msg['edit']}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							rendered="#{loginBean.userMaster.userType != 'SUPPLIER'}"
							action="#{govtSocietyWiseProductionPlanBean.gotoEditPage('Contract')}"
							update="growls">
							<f:setPropertyActionListener value="Edit"
								target="#{govtSocietyWiseProductionPlanBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"
							class="btn bg-info heading-btn  font-iconmoon"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							action="#{govtSocietyWiseProductionPlanBean.gotoViewPage('Contract')}"
							update="growls" title="#{msg['view']}">
							<f:setPropertyActionListener value="VIEW"
								target="#{govtSocietyWiseProductionPlanBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe99e; #{msg['delete']}"
							class="btn bg-danger font-iconmoon" title="#{msg['delete']}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							rendered="#{loginBean.userMaster.userType != 'SUPPLIER'}"
							action="#{govtSocietyWiseProductionPlanBean.showDelete('Contract')}"
							update="growls">
							<f:setPropertyActionListener value="Delete"
								target="#{govtSocietyWiseProductionPlanBean.action}"></f:setPropertyActionListener>
						</p:commandButton>
						<p:commandButton value="&#xe916; #{msg['clear']}"
							action="#{govtSocietyWiseProductionPlanBean.clearPlan('Contract')}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" title="#{msg['clear']}"
							class="btn bg-slate font-iconmoon">
						</p:commandButton>

					</div>
				</div>
			</div>



			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="table-responsive">
						<div class="ui-datatable ui-widget ui-datatable-scrollable table">
							<div class="ui-datatable-scrollable-header-box cust-table">
								<p:dataTable id="table" var="data" class="table"
									widgetVar="table" tableStyleClass="" lazy="true"
									value="#{govtSocietyWiseProductionPlanBean.contractExportSocietyPlanList}"
									selection="#{govtSocietyWiseProductionPlanBean.selectedContractExportSocietyPlan}"
									rowKey="#{data.id}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									paginator="true" paginatorPosition="bottom"
									rowsPerPageTemplate="10,15" rows="10" rowIndexVar="idx"
									emptyMessage="#{msg['no_records_found']}">

									<p:ajax event="rowSelectRadio"
										listener="#{govtSocietyWiseProductionPlanBean.onRowConExportSelect}" />

									<p:ajax event="filter" oncomplete="updateFilterSelection()"
										update=":#{p:component('size')}" autoRun="true" />

									<p:column headerText="#" styleClass="text-center width-4">
										<h:outputText value="#{idx+1}" />
									</p:column>


									<p:column headerText="#{msg['plan_code_name']}"
										filterMatchMode="contains" filterable="true"
										filterBy="#{data.contractExportPlan.planName}"
										sortBy="#{data.contractExportPlan.planName}" sortable="true">
										<h:outputText value="#{data.contractExportPlan.planName}" />
									</p:column>

									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}"
										filterMatchMode="contains" filterable="true"
										filterBy="#{data.productVariety.name}"
										sortBy="#{data.productVariety.name}" sortable="true">
										<h:outputText
											value="#{data.productVariety.code} / #{data.productVariety.name}" />
									</p:column>

									<p:column
										headerText="#{msg['d_n_p_office_code']} / #{msg['name']}"
										filterMatchMode="contains" filterable="true"
										filterBy="#{data.entityMaster.name}"
										sortBy="#{data.entityMaster.name}" sortable="true">
										<h:outputText
											value="#{data.entityMaster.code} / #{data.entityMaster.name}" />
									</p:column>

									<p:column filterBy=" #{data.planStatus}"
										headerText="#{msg['status']}" filterMatchMode="contains"
										filterable="true"
										sortBy=" #{data.contractExportSocietyPlanLog}" sortable="true"
										styleClass="text-center width-12">
										<f:facet name="filter">
											<h:selectOneMenu onchange="PF('table').filter()"
												id="statusDropdown" class="form-control select2">
												<f:selectItem itemLabel="#{msg['select']}"
													itemValue="#{null}" noSelectionOption="true" />
												<f:selectItems
													value="#{govtSocietyWiseProductionPlanBean.statusValues}"
													var="status" itemLabel="#{status}" itemValue="#{status}" />
											</h:selectOneMenu>
										</f:facet>

										<h:outputText value="#{data.contractExportSocietyPlanLog}"
											styleClass="label label-default width-custom"
											rendered="#{data.contractExportSocietyPlanLog eq 'INITIATED'}" />

										<h:outputText value="#{data.contractExportSocietyPlanLog}"
											styleClass="label label-warning width-custom"
											rendered="#{data.contractExportSocietyPlanLog eq 'SUBMITTED'}" />

										<h:outputText value="#{data.contractExportSocietyPlanLog}"
											styleClass="label label-success width-custom"
											rendered="#{data.contractExportSocietyPlanLog eq 'APPROVED'}" />

										<h:outputText value="#{data.contractExportSocietyPlanLog}"
											styleClass="label label-danger width-custom"
											rendered="#{data.contractExportSocietyPlanLog eq 'REJECTED'}" />

										<h:outputText value="#{data.contractExportSocietyPlanLog}"
											styleClass="label label-success width-custom"
											rendered="#{data.contractExportSocietyPlanLog eq 'FINAL_APPROVED'}" />

									</p:column>

									<p:column headerText="#{msg['select']}" selectionMode="single"
										styleClass="text-center width-5">
									</p:column>

								</p:dataTable>
								<p:remoteCommand name="updateFilterSelection" autoRun="true"
									update=":#{p:component('size')}" />

								<div class="pagi">
									<div
										class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0"
										id="DataTables_Table_2_paginate" role="status"
										aria-live="polite"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<p:dialog header="#{msg['confirmation_delete_title']}"
				draggable="false" modal="true"
				styleClass="p-0 overlay-pop modal-dialog" closable="true"
				width="30%" widgetVar="confirmUserDelete" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<div class="modal-body">
					<h:outputText value="#{msg['confirmation_delete']}" />
				</div>
				<div class="modal-footer m-t-10">
					<p:commandButton value="&#xed6a;&nbsp;#{msg['no']}"
						title="#{msg['no']}"
						styleClass="btn bg-slate heading-btn font-iconmoon"
						oncomplete="PF('confirmUserDelete').hide()" />
					<p:commandButton ajax="false"
						styleClass="btn bg-success heading-btn font-iconmoon"
						value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
						action="#{govtSocietyWiseProductionPlanBean.deletePlan('Contract')}"
						oncomplete="PF('confirmUserDelete').hide()">
					</p:commandButton>
				</div>
			</p:dialog>

			
		</div>
	</ui:define>
</ui:composition>