<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/pages/template/layout.xhtml"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<ui:define name="content">
		<ui:include src="retailSocietyWorkFlowCSS.xhtml" />
		<title>InfoTex | Retail Sales - Society Wise Production Plan</title>
		<style type="text/css">
#steps-uid-0-t-0 span.number {
	font-size: 14px;
}
</style>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h5>#{msg['retail_sales']} - #{msg['society_wise_pdt_plan']}</h5>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['prcurmnt']}</li>
						<li>#{msg['retail_procure']}</li>s
						<li class="active">#{msg['retail_sales']} -
							#{msg['society_wise_pdt_plan']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content p-content">
			<ui:include src="retailSocietyWorkFlow.xhtml" />
		</div>

		<div class="content page-scroll pro_steps1line no-padding-bottom">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel ">
					<div class="panel-heading bg-info">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['retail_sales']}
								- #{msg['society_wise_pdt_plan']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body p-b-0 view-style">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prodt_plan_delt']}</span>
							</h5>

							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['plan_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailProductionPlan.planCode} / #{retailSocietywisePlanBean.retailProductionPlan.planName}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['plan_from']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailProductionPlan.planFrom}"
											class="">
											<f:convertDateTime pattern="MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['plan_to']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailProductionPlan.planTo}"
											class="">
											<f:convertDateTime pattern="MMM-yyyy"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['region_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.regionValues}"
											escape="false" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['prod_category_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.productCategoryValues}"
											escape="false" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_date']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.planCreatedDate}" class="">
											<f:convertDateTime pattern="dd-MMM-yyyy  hh:mm aa"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['approved_date']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.planApprovedDate}"
											class="">
											<f:convertDateTime pattern="dd-MMM-yyyy  hh:mm aa"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['created_by']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.planCreatedBy}" class="" />
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['approved_by']}" />

										<h:outputText
											value="#{retailSocietywisePlanBean.planApprovedBy}" class="" />

									</div>
								</div>
							</div>


							<h5 class="bord_bot">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['d_n_p_office_details']}</span>
							</h5>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['d_n_p_office_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.danpOfficeCode} / #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.danpOfficeName}"
											class="" />
									</div>
								</div>
								<!-- end col -->

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['prod_category_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productCategory.productCatCode} / #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productCategory.productCatName}"
											class="" />
									</div>
								</div>
								<!-- end col -->

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['prod_group_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productGroupMaster.code} / #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productGroupMaster.name}"
											class="" />
										<!-- input-group -->
									</div>
								</div>
								<!-- end col -->

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['prod_variey_code']} / #{msg['name']}" />
										<h:outputText
											value="#{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productVarietyCode} / #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.productVarietyName}"
											class="" />

										<!-- input-group -->
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_plan_from']}" />
										<h:outputText
											value="#{fn:substring(retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.fromMonth,0,3)} - #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.fromYear}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="form-group">
										<p:outputLabel value="#{msg['society_plan_to']}" />
										<h:outputText
											value="#{fn:substring(retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.toMonth,0,3)} - #{retailSocietywisePlanBean.retailSocietyPlanDetailsDTO.toYear}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--  search panel -->


			<!-- <div class="row m-t-20">
				<div class="col-lg-6">
					<div class="form-group">Total Retail Production Result : 11</div>
				</div>
				<div class="col-md-6 text-right">
					<div class="form-group">(Values are in Quantity / Meters)</div>
				</div>
			</div> -->

			<div class="row m-t-10">
				<div class="col-lg-12">
					<div class="panel m-b-0">
						<div class="panel-body">
							<h5 class="panel-title">
								<i class="icon-grid6 position-left"></i>
								#{msg['soc_pdt_plan_details']} <span style="color: #0a754c;"></span>
							</h5>

							<div class="table-responsive swpp-input cust-table">
								<p:dataTable class="report-table" rowIndexVar="rowIndex"
									tableStyle="table-layout: auto;" editable="true"
									widgetVar="mainTable" id="table"
									value="#{retailSocietywisePlanBean.societyPlanDetailsMap.entrySet().toArray()}"
									var="productEntry">

									<p:columnGroup type="header">
										<p:row>
											<p:column rowspan="3" headerText="#"
												styleClass="text-center width-3" />
											<p:column rowspan="3"
												headerText="#{msg['society_code']} / #{msg['name']}" />
											<p:column rowspan="3"
												headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Total Value ( &#xf156; )' : 'Total Quantity' }"
												styleClass="fa-input" />
										</p:row>
										<p:row>
											<p:columns value="#{retailSocietywisePlanBean.societyList}"
												var="column" colspan="2" columnIndexVar="colIndex">
												<f:facet name="header">

													<span class="m-t-5"><h:outputText
															value="#{fn:substring(column.monthValue,0,3)} - #{column.yearNumber}" /></span>&nbsp;
														<span class="fa-input label bg-white"
														style="float: right;"> <p:outputLabel
															styleClass="fa-input text-right"
															value="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Total Value ( &#xf156; )' : 'Total Qty : ' }" />
														<h:outputText
															value="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? column.dnpMonthwiseTotalValue : column.dnpMonthwiseTotalQty }">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</span>

												</f:facet>
											</p:columns>
										</p:row>
										<p:row>
											<ui:repeat var="data" varStatus="status"
												value="#{retailSocietywisePlanBean.societyList}">
												<p:column
													headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Previous Year Supplied ( &#xf156; )' : 'Previous Year Supplied Qty' }"
													escape="true" styleClass="fa-input text-right" />
												<p:column
													headerText="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? 'Current Year Requirement ( &#xf156; )' : 'Current Year Requirement Qty' }"
													escape="true" styleClass="fa-input text-right" />
											</ui:repeat>
										</p:row>
									</p:columnGroup>

									<p:column styleClass="text-center width-3">
										<h:outputText value="#{rowIndex+1}" />
									</p:column>

									<p:column>
										<h:outputText
											value="#{productEntry.key.split('/')[0]} / #{productEntry.key.split('/')[1]}" />
									</p:column>

									<p:column>
										<p:inputText disabled="true"
											value="#{(retailSocietywisePlanBean.productFlag eq 'A' || retailSocietywisePlanBean.productFlag eq 'AJ') ? productEntry.value.get(0).societywiseTotalValue : productEntry.value.get(0).societywiseTotalQty }"
											dir="rtl" style="float:right">
										</p:inputText>
									</p:column>


									<c:forEach items="#{retailSocietywisePlanBean.societyList}"
										varStatus="myIndex" var="data">
										<p:column styleClass="fa-input text-right">
											<h:outputText
												value="#{productEntry.value.get(myIndex.index).previousYearSupplied}"
												disabled="true" dir="rtl">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column>
											<p:inputText styleClass="fa-input text-right"
												value="#{productEntry.value.get(myIndex.index).currentYearRequirement}"
												disabled="true" dir="rtl" style="float:right">
												<f:convertNumber pattern="#0.00" />
											</p:inputText>
										</p:column>
									</c:forEach>
									<p:columnGroup type="footer">
										<p:row>
											<p:column colspan="3" footerText="#{msg['total']}" />
											<c:forEach items="#{retailSocietywisePlanBean.societyList}"
												varStatus="myIndex" var="data">
												<ui:repeat var="month"
													value="#{retailSocietywisePlanBean.totalFinalValueMapForPrevious.entrySet().toArray()}">
													<p:column rendered="#{data.monthValue eq month.key}">
														<f:facet name="footer">
															<h:outputText value="#{month.value}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
												</ui:repeat>
												<ui:repeat var="month"
													value="#{retailSocietywisePlanBean.totalFinalValueMapForCurrent.entrySet().toArray()}">
													<p:column rendered="#{data.monthValue eq month.key}">
														<f:facet name="footer">
															<h:outputText value="#{month.value}">
																<f:convertNumber pattern="#0.00" />
															</h:outputText>
														</f:facet>
													</p:column>
												</ui:repeat>
											</c:forEach>
										</p:row>
									</p:columnGroup>
								</p:dataTable>
							</div>
							<div class="row">
								<div class="col-md-12 text-right m-t-10">
									<p:commandButton update="growls"
										rendered="#{loginBean.userFeatures['RETAIL_SOCIETY_PLAN_REJECT'] and (retailSocietywisePlanBean.retailSocietyPlanListDTO.status eq 'SUBMITTED')}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf6;&nbsp;#{msg['reject']}"
										title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
										onclick="PF('dlgComments2').show();" type="button">
										<p:ajax event="click"
											listener="#{retailSocietywisePlanBean.changeCurrentStatus('REJECTED')}"></p:ajax>
									</p:commandButton>
									<p:commandButton update="growls"
										rendered="#{loginBean.userFeatures['RETAIL_SOCIETY_PLAN_APPROVE'] and (retailSocietywisePlanBean.retailSocietyPlanListDTO.status eq 'SUBMITTED')}"
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()"
										value="&#xecf5;&nbsp;#{msg['approve']}"
										title="#{msg['approve']}" class="btn bg-success font-iconmoon"
										onclick="PF('dlgComments1').show();" type="button">
										<p:ajax event="click"
											listener="#{retailSocietywisePlanBean.changeCurrentStatus('APPROVED')}"></p:ajax>
									</p:commandButton>
									<p:commandButton update="growls"
										action="#{retailSocietywisePlanBean.cancel}" immediate="true"
										value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
										class="#{retailSocietywisePlanBean.retailSocietyPlanListDTO.status ne 'SUBMITTED' ? 
													'btn bg-info heading-btn font-iconmoon ' : 'btn bg-info heading-btn font-iconmoon'} "
										onstart="PF('statusDialog').show()"
										onsuccess="PF('statusDialog').hide()">
									</p:commandButton>
								</div>
							</div>



							<p:dialog modal="true" draggable="false"
								header="#{msg['approve_comment']}"
								styleClass="p-0 overlay-pop modal-dialog"
								widgetVar="dlgComments1" width="40%" focus="comments1">
								<div class="modal-body p-0">
									<div class="row">
										<div class="col-lg-12">
											<p:outputLabel value="#{msg['remarks']}" />
											<div class="form-group">
												<p:inputTextarea autoResize="false" rows="4" cols="50"
													styleClass="form-control"
													value="#{retailSocietywisePlanBean.approveComments}"
													id="comments1" />
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer ph0 m-t-10">
									<h:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon">
									</h:commandButton>
									<h:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										update="growls" title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										action="#{retailSocietywisePlanBean.statusUpdate}"
										onclick="PF('dlgComments1').hide();">
									</h:commandButton>
								</div>
							</p:dialog>


							<p:dialog modal="true" draggable="false"
								header="#{msg['reject_comment']}"
								styleClass="p-0 overlay-pop modal-dialog"
								widgetVar="dlgComments2" width="40%" focus="comments2">
								<div class="modal-body p-0">
									<div class="row">
										<div class="col-lg-12">
											<p:outputLabel value="#{msg['remarks']}" />
											<div class="form-group">
												<p:inputTextarea autoResize="false" rows="4" cols="50"
													styleClass="form-control"
													value="#{retailSocietywisePlanBean.rejectComments}"
													id="comments2" />
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer ph0 m-t-10">
									<h:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon">
									</h:commandButton>
									<h:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										update="growls" title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										action="#{retailSocietywisePlanBean.statusUpdate}"
										onclick="PF('dlgComments2').hide();">
									</h:commandButton>
								</div>
							</p:dialog>


						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>

		<!-- <script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/wizards/steps.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/wizard_steps.js"></script> -->
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/plugins/forms/inputs/duallistbox.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/assets/js/pages/form_dual_listboxes.js"></script>
	</ui:define>
</ui:composition>
