<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Stock Inward - Product Warehouse</title>
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{stockInwardPWHBean.authorization}" />
			<f:event type="preRenderView"
				listener="#{stockInwardPWHBean.redirectSVInProgressPage}" />
		</f:metadata>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{stockInwardPWHBean.action eq 'ADD' ? msg['create'] :
						msg['edit']} #{msg['stock_inward']} - #{msg['product_warehouse']}</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li>#{msg['product_warehouse']}</li>
						<li class="active">#{stockInwardPWHBean.action eq 'ADD' ?
							msg['create'] : msg['edit']} #{msg['stock_inward']} -
							#{msg['product_warehouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->
		<p:outputPanel id="searchPanel">
			<div class="content pg-scroll-panel-2 no-padding-bottom">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['stock_movement_details']}
								</a> <span class="pull-right text-13 m-r-20">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>

							</h6>
						</div>

						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row label-form">
									<h:panelGroup
										rendered="#{stockInwardPWHBean.stockTransfer.id==null}">
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel value="#{msg['stok_in_from']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-exit2"></i></span>
													<h:selectOneMenu id="ddlStockTransferFrom"
														required="#{not empty param[submitBtn.clientId] or not empty param[searchBtn.clientId] or not empty param[saveBtn.clientId]}"
														requiredMessage="#{msg['stok_in_from_req']}"
														class="form-control select2"
														value="#{stockInwardPWHBean.stockTransferFrom}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockInwardPWHBean.stockTransferFromList}"
															var="val" itemLabel="#{val}" itemValue="#{val}" />
														<p:ajax event="change" update="searchPanel"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{stockInwardPWHBean.onChangeStockTransferFrom}"></p:ajax>
													</h:selectOneMenu>
												</div>
												<p:focus for="ddlStockTransferFrom" />
												<h:message for="ddlStockTransferFrom"
													id="ddlStockTransferFromMsg" class="validation-error-label" />
												<p:focus for="ddlStockTransferFrom" />
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{stockInwardPWHBean.stockTransferFrom == 'Entity'}">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel value="#{msg['enty_code']} / #{msg['name']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="fromEntityMaster"
														rendered="#{stockInwardPWHBean.stockTransfer.id == null}"
														value="#{stockInwardPWHBean.stockTransfer.fromEntityMaster}"
														class="form-control select2"
														converter="#{entityConverter}" required="true"
														requiredMessage="#{msg['entity_code_name_req']}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockInwardPWHBean.entityMasterList}"
															var="fromEntity"
															itemLabel="#{fromEntity.code} / #{fromEntity.name}"
															itemValue="#{fromEntity}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{stockInwardPWHBean.onChangeFromEntityMaster}"
															update="stockTransfer fromEntityMaster fromEntityMasterMsg" />
													</h:selectOneMenu>

													<h:inputText
														rendered="#{stockInwardISSRBean.stockTransfer.id != null}"
														value="#{stockInwardISSRBean.stockTransfer.fromEntityMaster.code}/#{stockInwardISSRBean.stockTransfer.fromEntityMaster.name}"
														class="form-control" disabled="true" />
												</div>
												<h:message for="fromEntityMaster" id="fromEntityMasterMsg"
													class="validation-error-label" />
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{stockInwardPWHBean.stockTransferFrom == 'Supplier'}">
										<div class="col-lg-3 col-md-3 col-sm-6">
											<div class="form-group">
												<p:outputLabel
													value="#{msg['society_code']} / #{msg['name']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-tree6"></i></span>
													<h:selectOneMenu id="supplierMaster"
														rendered="#{stockInwardPWHBean.stockTransfer.id == null}"
														disabled="#{stockInwardPWHBean.stockTransfer.id!=null}"
														value="#{stockInwardPWHBean.stockTransfer.supplierMaster}"
														class="form-control select2"
														converter="#{entityConverter}" required="true"
														requiredMessage="#{msg['society_code_name_req']}"
														validatorMessage="#{errorMap.msg(9904)}"
														a:autofocus="true">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockInwardPWHBean.supplierMasterList}"
															var="supplierMaster"
															itemLabel="#{supplierMaster.code} / #{supplierMaster.name}"
															itemValue="#{supplierMaster}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															listener="#{stockInwardPWHBean.onSelectSupplierMaster}"
															update="stockTransfer supplierMasterMsg" />
													</h:selectOneMenu>

													<h:inputText
														rendered="#{stockInwardPWHBean.stockTransfer.id != null}"
														value="#{stockInwardPWHBean.stockTransfer.supplierMaster.code}/#{stockInwardPWHBean.stockTransfer.supplierMaster.name}"
														class="form-control" disabled="true" />
												</div>
												<h:message for="supplierMaster" id="supplierMasterMsg"
													class="validation-error-label" />
												<p:tooltip for="supplierMaster" value="" />
											</div>
										</div>
									</h:panelGroup>
									<div class="col-lg-3 col-md-3 col-sm-6">
										<div class="form-group">
											<p:outputLabel
												value="#{msg['stock_movement_number']} / #{msg['date']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-hash"></i></span>
												<h:selectOneMenu id="stockTransfer"
													rendered="#{stockInwardPWHBean.stockTransfer.id == null}"
													disabled="#{stockInwardPWHBean.stockTransfer.id!=null}"
													value="#{stockInwardPWHBean.stockTransfer.stockTransfer}"
													class="form-control select2" converter="#{entityConverter}"
													required="true"
													requiredMessage="#{msg['stock_movement_req']}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockInwardPWHBean.stockTransferList}"
														var="stockTransfer"
														itemLabel="#{stockTransfer.createdByName}"
														itemValue="#{stockTransfer}"></f:selectItems>
													<p:ajax event="change" onstart="PF('statusDialog').show()"
														onsuccess="PF('statusDialog').hide()"
														listener="#{stockInwardPWHBean.onSelectStockTransfer}"
														update="searchPanel stockTransferMsg" />
												</h:selectOneMenu>
												<h:inputText
													rendered="#{stockInwardPWHBean.stockTransfer.id != null}"
													value="#{stockInwardPWHBean.stockTransfer.referenceNumber}"
													class="form-control" disabled="true" />
											</div>
											<h:message for="stockTransfer" id="stockTransferMsg"
												class="validation-error-label" />
											<p:tooltip for="stockTransfer" value="" />
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" class="btn bg-slate font-iconmoon"
											title="#{msg['cancel']}"
											action="#{stockInwardPWHBean.getListPage}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											rendered="#{stockInwardPWHBean.stockTransfer.id==null}">
										</p:commandButton>
										<p:commandButton id="btnSearch" update="growls searchPanel"
											disabled="#{stockInwardPWHBean.disableBtnSearch}"
											value="&#xe98e;&nbsp;#{msg['search']}"
											title="#{msg['search']}" binding="#{searchBtn}"
											class="btn bg-info heading-btn  font-iconmoon"
											action="#{stockInwardPWHBean.searchStock}"
											onstart="PF('statusDialog').show()"
											onsuccess="PF('statusDialog').hide()"
											rendered="#{stockInwardPWHBean.stockTransfer.id==null}">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->


				<div class="panel panel-info m-b-0">
					<div class="panel-body">
						<p:outputPanel id="receivePanel">
							<h:panelGroup rendered="#{stockInwardPWHBean.purchaseorderFlag}">
								<h5 class="bord_bot m-t-0">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['receive_product']}</span>
								</h5>
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bun_num']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<h:selectOneMenu id="bundleNumberSet"
													disabled="#{stockInwardPWHBean.disableBtnSearch}"
													value="#{stockInwardPWHBean.stockTransferItems.bundleNumber}"
													class="form-control select2">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockInwardPWHBean.bundleNumberSet}"
														var="bundleNumber" itemLabel="#{bundleNumber}"
														itemValue="#{bundleNumber}" />
													<p:ajax event="change"
														listener="#{stockInwardPWHBean.changeBandleNumber}" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bar_code_qr_ref_num']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-barcode2"></i></span>
												<p:inputText id="atNumber"
													disabled="#{stockInwardPWHBean.disableBtnSearch}"
													value="#{stockInwardPWHBean.stockTransferItems.atNumber}"
													maxlength="30" styleClass="form-control"
													required="#{not empty param[addProductBtn.clientId]}"
													requiredMessage="#{msg['bar_code_qr_ref_num']}  #{msg['required']}"
													autocomplete="off">
													<p:ajax event="change"
														listener="#{stockInwardPWHBean.scanOrAddReceiveProduct}"
														update="growls, stockItemsTable, atNumberMsg, bundleNumberSet, atNumber, 
											receivedBundleNumbers, receivedTotalBundles" />
												</p:inputText>
											</div>
											<h:message for="atNumber" id="atNumberMsg"
												class="validation-error-label" />
										</div>
									</div>

									<div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
										<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
										<ui:remove>
											<h:commandButton id="btnProductReceive" validateClient="true"
												value="&#xea0e;&nbsp;#{msg['add']}"
												disabled="#{stockInwardPWHBean.disableBtnSearch}"
												title="#{msg['add']}" binding="#{addProductBtn}"
												class="btn bg-success heading-btn  font-iconmoon cust-btn-h"
												action="#{stockInwardPWHBean.scanOrAddReceiveProduct()}"
												update="growls, stockItemsTable, 
								atNumber, bundleNumberSet, 
								receivedBundleNumbers, receivedTotalBundles">
											</h:commandButton>
										</ui:remove>

										<p:commandButton id="btnProductReceive" validateClient="true"
											value="&#xea0e;&nbsp;#{msg['add']}"
											disabled="#{stockInwardPWHBean.disableBtnSearch}"
											title="#{msg['add']}" binding="#{addProductBtn}"
											class="btn bg-success heading-btn  font-iconmoon m-l-0">
										</p:commandButton>
									</div>

									<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 m-t-5">
										<p:outputLabel value="&nbsp;" styleClass="dis-block-tab" />
										<span class="text-primary">(#{msg['use_add_button']}) </span>
									</div>
								</div>
							</h:panelGroup>
						</p:outputPanel>


						<h5 class="m-b-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_var_details']}</span>
						</h5>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-lg-12">
								<div class="table-responsive report-table">
									<p:dataTable id="stockItemsTable" var="item" rowKey="#{item}"
										styleClass="report-table"
										value="#{stockInwardPWHBean.stockTransferItemsDisplayList}"
										rowIndexVar="idx">

										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
											<f:facet name="footer">
												<h:outputText value="#{msg['tot']}"></h:outputText>
											</f:facet>
										</p:column>

										<p:column headerText="#{msg['uom']}" styleClass="text-center">
											<h:outputText value="#{item.uomMaster.code}" />
										</p:column>

										<p:column headerText="#{msg['bun_nums']}"
											styleClass="text-right width-10"
											rendered="#{!stockInwardPWHBean.purchaseorderFlag}">
											<h:outputText value="#{item.bundleNumber}">
												<f:convertNumber pattern="#0" />
											</h:outputText>
										</p:column>

										<p:column headerText="#{msg['already_dispatched_unit']}"
											styleClass="text-center width-15">
											<h:outputText value="#{item.dispatchedQty}">
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardPWHBean.stockTransferItemsDisplayList.stream().map(data->data.dispatchedQty).sum()}"></h:outputText>
											</f:facet>
										</p:column>

										<p:column headerText="#{msg['received_unit']}"
											styleClass="text-center width-10">
											<p:inputText class="form-control fa-input text-right"
												value="#{item.receivedQty}"
												styleClass="text-right tableInputBox"
												rendered="#{!stockInwardPWHBean.purchaseorderFlag}">
												<p:keyFilter regEx="/[0-9]/i" />
											</p:inputText>
											<h:outputText value="#{item.receivedQty}"
												rendered="#{stockInwardPWHBean.purchaseorderFlag}">
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardPWHBean.stockTransferItemsDisplayList.stream().map(data->data.receivedQty).sum()}"></h:outputText>
											</f:facet>
										</p:column>

										<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
											styleClass="fa-input text-right">
											<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
												class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
											<f:facet name="footer">
												<h:outputText
													value="#{stockInwardPWHBean.stockTransferItemsDisplayList.stream().map(data->data.itemNetTotal).sum()}">
													<f:convertNumber pattern="#0.00" />
												</h:outputText>
											</f:facet>
										</p:column>

										<p:column headerText="#{msg['action']}"
											styleClass="text-center width-5">
											<p:commandButton update="dlgItemsDetail" value="&#xea18;"
												action="#{stockInwardPWHBean.viewItemDetails(item)}"
												title="View" class="btn bg-info font-iconmoon m-l-0"
												oncomplete="PF('dlgItemsDetail').show();" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['bundle_dispatched']}</span>
								</h5>
								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_no_bund']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<p:inputText maxlength="30" id="totalBundlesTransfered"
													class="form-control"
													value="#{stockInwardPWHBean.transferredBundleNumbers}"
													disabled="true" />
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_bund_wt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" id="bundleWeightTransfered"
													class="form-control"
													value="#{stockInwardPWHBean.transferredBundleWeight}"
													disabled="true" />
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bundle_number']}" />
											<p:inputText id="bundleNumbersTransfered" disabled="true"
												styleClass="form-control"
												value="#{stockInwardPWHBean.transferredBundleNumbers}" />
										</div>
									</div>
								</div>
							</div>


							<div class="col-lg-6 col-md-6 col-sm-6">
								<h5 class="bord_bot">
									<span class="iform-title"><i
										class="fa fa-th-large m-r-5"></i>#{msg['bundle_received']}</span>
								</h5>
								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_no_bund']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span>
												<p:inputText id="receivedTotalBundles" maxlength="30"
													class="form-control text-right"
													value="#{stockInwardPWHBean.stockTransfer.totalBundles}"
													disabled="true" />
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['tot_bund_wt']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-balance"></i></span>
												<p:inputText maxlength="30" class="form-control text-right"
													value="#{stockInwardPWHBean.stockTransfer.bundleWeight}" />
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<p:outputLabel value="#{msg['bundle_number']}" />
											<p:inputText id="receivedBundleNumbers" disabled="true"
												styleClass="form-control"
												value="#{stockInwardPWHBean.stockTransfer.bundleNumbers}" />
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Transport Details -->

						<h5 class="bord_bot m-t-0">
							<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-wrench3"></i></span>
										<p:inputText id="transportTypeMaster" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.transportMaster == null || stockInwardPWHBean.stockTransfer.transportMaster.transportTypeMaster == null?'': stockInwardPWHBean.stockTransfer.transportMaster.transportTypeMaster.name}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-steering-wheel"></i></span>
										<p:inputText id="transportMaster" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.transportMaster == null?'': stockInwardPWHBean.stockTransfer.transportMaster.name}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-file-text-o"></i></span>
										<p:inputText id="waybillAvailable" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.waybillAvailable?'Yes':'No'}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-hash"></i></span>
										<p:inputText id="waybillNumber" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.waybillNumber}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-cogs"></i></span>
										<p:inputText id="transportChargeAvailable" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.transportChargeAvailable?'Yes':'No'}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-menu6"></i></span>
										<p:inputText id="transportChargeType" disabled="true"
											styleClass="form-control"
											value="#{stockInwardPWHBean.stockTransfer.transportChargeType}" />
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_amt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
										<p:inputText id="transportChargeAmount" disabled="true"
											styleClass="form-control text-right"
											value="#{stockInwardPWHBean.stockTransfer.transportChargeAmount}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row text-right m-t-10">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<h:commandButton id="btnMainFormCancel"
									value="&#xed6a;&nbsp;#{msg['cancel']}" title="#{msg['cancel']}"
									immediate="true" action="#{stockInwardPWHBean.getListPage}"
									class="btn bg-slate font-iconmoon cust-btn-h" update="growls"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSave"
									value="&#xead4;&nbsp;#{msg['save']}" title="#{msg['save']}"
									action="#{stockInwardPWHBean.saveStockTransfer}"
									validateClient="true" update="growls"
									class="btn bg-primary font-iconmoon cust-btn-h m-l-8"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
								<h:commandButton id="btnMainFormSubmit"
									value="&#xed6e;&nbsp;#{msg['submit']}" title="#{msg['submit']}"
									action="#{stockInwardPWHBean.submitStockTransfer}"
									validateClient="true" update="growls"
									class="btn bg-success font-iconmoon cust-btn-h m-l-8"
									onclick="PF('statusDialog').show()">
								</h:commandButton>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p:outputPanel>

		<ui:include src="../popup/stockTransferItemsDetailsPopup.xhtml" />
	</ui:define>
</ui:composition>