<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
			<title>InfoTex | Create Stock Outward - Product Warehouse</title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['create_stock_outward']} -
							#{msg['product_warehouse']}</h4>
						<ul class="breadcrumb">
							<li><a href="index.html"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['product_warehouse']}</li>
							<li class="active">#{msg['create_stock_outward']} -
								#{msg['product_warehouse']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<div class="content page-scroll">
				<!-- collapse panel -->
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-10"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-control-right"
									href="#accordion-control-right-group1">#{msg['stock_out_details']}</a>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row label-form">
									<div class="col-lg-3 col-md-3 col-sm-3">
										<div class="form-group">
											<p:outputLabel value="#{msg['stock_movement_to']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-exit2"></i></span>
												<h:selectOneMenu id="ddlStockTransferTo"
													class="form-control select2"
													value="#{stockOutwardPWHBean.stockTransfer.stockMovementTo}"
													disabled="#{stockOutwardPWHBean.stockTransfer.id != null}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true" />
													<f:selectItems
														value="#{stockOutwardPWHBean.stockMovementToList}"
														var="val" itemLabel="#{val}" itemValue="#{val}" />
													<f:ajax render="panelMovementType"
														listener="#{stockOutwardPWHBean.onChangeStockMovementTo}" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>


									<h:panelGroup layout="block" id="panelMovementType">
										<h:panelGroup
											rendered="#{stockOutwardPWHBean.stockTransfer.stockMovementTo=='Warehouse'}">


											<div class="col-lg-3 col-md-3 col-sm-3">
												<p:outputLabel value="#{msg['warehs_type']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="ddlWarehouseType" class="form-control" 
														disabled="#{stockOutwardPWHBean.stockTransfer.id != null}" 
														value="#{stockOutwardPWHBean.selectedWarehouseType}">
														<f:selectItem itemLabel="#{msg['select']}"
															noSelectionOption="true" />
														<f:selectItems
															value="#{stockOutwardPWHBean.warehouseTypeList}"
															var="val" itemLabel="#{val.name().replace('_',' ')}"
															itemValue="#{val}" />

														<p:ajax event="change"
															listener="#{stockOutwardPWHBean.onChangeWarehouseType}"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															update="ddlWarehouse" />
													</h:selectOneMenu>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['warehs_name']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>
														<h:selectOneMenu id="ddlWarehouse" rendered="#{stockOutwardPWHBean.stockTransfer.id == null}"
															disabled="#{stockOutwardPWHBean.selectedWarehouseType==null || stockOutwardPWHBean.selectedWarehouseType==''}"
															value="#{stockOutwardPWHBean.stockTransfer.toEntityMaster}"
															class="form-control select2"
															converter="#{entityConverter}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{stockOutwardPWHBean.warehouseList}"
																var="warehouse"
																itemLabel="#{warehouse.code} / #{warehouse.name}"
																itemValue="#{warehouse}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{stockOutwardPWHBean.onChangeWarehouse}" 
																update="growls stockItemsTable  productVarietyMasterSet  btnProductAdd transportType transport waybillAvailable waybillNo transportChargeAvailable transportChargeType transportChargeAmount" />
														</h:selectOneMenu>
														
														<h:inputText disabled="true" rendered="#{stockOutwardPWHBean.stockTransfer.id != null}"
															value="#{stockOutwardPWHBean.stockTransfer.toEntityMaster.code} / #{stockOutwardPWHBean.stockTransfer.toEntityMaster.name} "
															class="form-control"/>
													</div>
												</div>
											</div>



										</h:panelGroup>

										<h:panelGroup
											rendered="#{stockOutwardPWHBean.stockTransfer.stockMovementTo=='Showroom'}">
											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
													<p:outputLabel value="#{msg['showroom_type']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"> <i
															class="icon-office"></i>
														</span>
														<h:selectOneMenu id="ddlShowroomType" class="form-control"
															value="#{stockOutwardPWHBean.selectedShowroomType}"
															disabled="#{stockOutwardPWHBean.stockTransfer.id != null}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{stockOutwardPWHBean.showroomTypeList}"
																var="val" itemLabel="#{val}" itemValue="#{val}" />

															<p:ajax event="change"
																listener="#{stockOutwardPWHBean.onChangeShowroomType}"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																update="ddlRegionalOffice, ddlShowroom" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['regional_off_code']} / #{msg['name']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"> <i
															class="icon-office"></i>
														</span>

														<h:selectOneMenu id="ddlRegionalOffice"
															disabled="#{stockOutwardPWHBean.selectedShowroomType==null || stockOutwardPWHBean.selectedShowroomType==''}"
															value="#{stockOutwardPWHBean.selectedRegionalOffice}"
															class="form-control select2"
															converter="#{entityConverter}"
															rendered="#{stockOutwardPWHBean.stockTransfer.id == null}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{stockOutwardPWHBean.regionalOfficeList}"
																var="region" itemLabel="#{region.code} / #{region.name}"
																itemValue="#{region}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{stockOutwardPWHBean.onChangeRegionalOffice}"
																update="ddlShowroom" />
														</h:selectOneMenu>
														
														<h:inputText disabled="true" rendered="#{stockOutwardPWHBean.stockTransfer.id != null}"
															value="#{stockOutwardPWHBean.selectedRegionalOffice.code} / #{stockOutwardPWHBean.selectedRegionalOffice.name} "
															class="form-control"/>
														
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['sroom_code']} / #{msg['name']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-office"></i></span>

														<h:selectOneMenu id="ddlShowroom"
															disabled="#{stockOutwardPWHBean.selectedShowroomType==null || stockOutwardPWHBean.selectedShowroomType=='' || stockOutwardPWHBean.selectedRegionalOffice == null}"
															value="#{stockOutwardPWHBean.stockTransfer.toEntityMaster}"
															class="form-control select2"
															converter="#{entityConverter}"
															rendered="#{stockOutwardPWHBean.stockTransfer.id == null}">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{stockOutwardPWHBean.showroomList}"
																var="showroom"
																itemLabel="#{showroom.code} / #{showroom.name}"
																itemValue="#{showroom}" />
															<p:ajax event="change"
																onstart="PF('statusDialog').show()"
																onsuccess="PF('statusDialog').hide()"
																listener="#{stockOutwardPWHBean.onChangeShowroom}" 
																update="growls stockItemsTable productVarietyMasterSet btnProductAdd transportType transport waybillAvailable waybillNo transportChargeAvailable transportChargeType transportChargeAmount" />
														</h:selectOneMenu>
														
														
														<h:inputText disabled="true" rendered="#{stockOutwardPWHBean.stockTransfer.id != null}"
															value="#{stockOutwardPWHBean.stockTransfer.toEntityMaster.code} / #{stockOutwardPWHBean.stockTransfer.toEntityMaster.name} "
															class="form-control"/>

													</div>
												</div>
											</div>
										</h:panelGroup>
										<h:panelGroup
											rendered="#{stockOutwardPWHBean.stockTransfer.stockMovementTo=='Soceity' }">
											<div class="col-lg-3 col-md-3 col-sm-3">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['society']} #{msg['code']} / #{msg['name']}" />
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-office"></i></span> <select class="form-control">
															<option>Select</option>
															<option>450012 / Aiswarya Bangalore Showroom</option>
															<option>450013 / Basvangudi Showroom</option>
														</select>
													</div>
												</div>
											</div>
										</h:panelGroup>
									</h:panelGroup>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- colleps panel end -->
				<div class="panel panel-info">
					<div class="panel-body">

						<div class="panel-heading">
							<h5 class="bord_bot panel-title">
								<i class="icon-grid6 position-left"></i> #{msg['add_products']}
							</h5>
						</div>

						<div class="row">
							<div class="col-lg-3">
								<p:outputLabel value="#{msg['bun_num']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-stack3"></i></span>
									<p:inputText id="bundleNumber"
										value="#{stockOutwardPWHBean.stockTransferItems.bundleNumber}"
										maxlength="30" styleClass="form-control" 
										required="#{not empty param[addProductBtn.clientId]}"
										requiredMessage="#{msg['bun_num']}  #{msg['required']}">
										<p:ajax event="change" update="bundleNumberMsg" />
									</p:inputText>
								</div>
								<h:message for="bundleNumber" id="bundleNumberMsg" class="validation-error-label" />
							</div>

							<div class="col-lg-3">
								<p:outputLabel value="#{msg['bar_code_qr_ref_num']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-barcode"></i></span>
									<p:inputText id="atNumber"
										value="#{stockOutwardPWHBean.stockTransferItems.atNumber}"
										maxlength="30" styleClass="form-control" 
										required="#{not empty param[addProductBtn.clientId]}"
										requiredMessage="#{msg['bar_code_qr_ref_num']}  #{msg['required']}">
										<p:ajax event="change" update="atNumberMsg" />
									</p:inputText>

								</div>
								<h:message for="atNumber" id="atNumberMsg" class="validation-error-label" />
							</div>

							<div class="col-lg-3">
								<p:outputLabel value="#{msg['prod_variey_code_name']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-stack3"></i></span>
									<h:selectOneMenu id="productVarietyMasterSet"
										converter="#{entityConverter}"
										value="#{stockOutwardPWHBean.stockTransferItems.productVarietyMaster}"
										class="form-control select2"
										required="#{not empty param[addProductBtn.clientId]}"
										requiredMessage="#{msg['prod_variey_code_name']}  #{msg['required']}">
										<f:selectItem itemLabel="#{msg['select']}"
											noSelectionOption="true" />
										<f:selectItems
											value="#{stockOutwardPWHBean.productVarietyMasterSet}"
											var="productVarietyMaster"
											itemLabel="#{productVarietyMaster.code} / #{productVarietyMaster.name}"
											itemValue="#{productVarietyMaster}" />

										<p:ajax event="change"
											listener="#{stockOutwardPWHBean.onSelectProductVarietyMaster}" 
											update="productVarietyMasterSetMsg"/>
									</h:selectOneMenu>

								</div>
								<h:message for="productVarietyMasterSet" id="productVarietyMasterSetMsg" class="validation-error-label" />
							</div>

							<div class="col-lg-3 m-t-25">

								<h:commandButton id="btnProductAdd"  validateClient = "true" ajax="false" 
									disabled="#{stockOutwardPWHBean.disableBtnProductAdd}"
									value="&#xea0e;&nbsp;#{msg['add']}" title="#{msg['add']}"
									binding="#{addProductBtn}"
									class="btn bg-success heading-btn  font-iconmoon"
									action="#{stockOutwardPWHBean.addProduct}" 
									update="growls, stockItemsTable, productVarietyMasterSet, atNumber, bundleNumber, totalBundles, bundleNumbers">
								</h:commandButton>
							</div>
						</div>

						<div class="row  m-t-25">
							<div class="col-sm-12">
								<div class=" table-responsive cust-table">
									<p:dataTable id="stockItemsTable" var="item" class="table"
										rowKey="#{item}"
										value="#{stockOutwardPWHBean.stockTransfer.stockTransferItemsList}"
										rowIndexVar="idx">

										<p:column headerText="#"
											style="text-align: center; width: 6%;">
											<h:outputText value="#{idx+1}" />
										</p:column>
										<p:column
											headerText="#{msg['prod_variey_code']} / #{msg['name']}">
											<h:outputText
												value="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
										</p:column>
										<p:column headerText="#{msg['uom']}">
											<h:outputText value="#{item.uomMaster.code}" />
										</p:column>
										<p:column headerText="#{msg['received_unit']}" styleClass="text-center" width="12%">
											<h:outputText value="#{item.receivedQty}">
												<f:convertNumber pattern="#0" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)" styleClass="fa-input text-right">
											<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}" class="">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['action']}" styleClass="text-center" width="6%">
											<p:commandButton update="dlgItemsDetail" value="&#xea18;"
												action="#{stockOutwardPWHBean.viewItemDetails(item)}"
												title="View" class="btn bg-info font-iconmoon m-l-0"
												oncomplete="PF('dlgItemsDetail').show();" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<h5 class="bord_bot m-t-0">
							<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bund_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_no_bund']}" />
									<div class="input-group">
										<span class="input-group-addon">
											<i class="icon-price-tags"></i>
										</span>
										<p:inputText 
											styleClass="form-control" 
											disabled="true"
											id="totalBundles"
											value="#{stockOutwardPWHBean.stockTransfer.totalBundles}" />
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['bundle_number']}" />
									<p:inputText 
										id="bundleNumbers" 
										disabled="true"
										styleClass="form-control"
										value="#{stockOutwardPWHBean.stockTransfer.bundleNumbers}" />
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<p:outputLabel value="#{msg['tot_bund_wt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-balance"></i></span>
										<p:inputText 
											id="bundleWeight" 
											maxlength="10"
											class="form-control"
											value="#{stockOutwardPWHBean.stockTransfer.bundleWeight}" />
									</div>
								</div>
							</div>
						</div>


						<h5 class="bord_bot">
							<i class="fa fa-th-large m-r-5 m-t-0"></i><span
								class="iform-title">#{msg['trans_details']}</span>
						</h5>
						<div class="row label-form">
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_type']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-car"></i></span>
										<h:selectOneMenu id="transportType"
											value="#{stockOutwardPWHBean.selectedTransportTypeMaster}"
											class="form-control select2" converter="#{entityConverter}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockOutwardPWHBean.transportTypeMasterList}"
												var="transportType"
												itemLabel="#{transportType.code} / #{transportType.name}"
												itemValue="#{transportType}" />
											<p:ajax event="change"
												listener="#{stockOutwardPWHBean.onChangeTransportTypeMaster}"
												update="transport" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_ser_name']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-car"></i></span>
										<h:selectOneMenu id="transport"
											value="#{stockOutwardPWHBean.stockTransfer.transportMaster}"
											class="form-control select2" converter="#{entityConverter}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems
												value="#{stockOutwardPWHBean.transportMasterList}"
												var="transport"
												itemLabel="#{transport.code} / #{transport.name}"
												itemValue="#{transport}" />
											<p:ajax event="change"
												listener="#{stockOutwardPWHBean.onChangeTransport}"></p:ajax>
										</h:selectOneMenu>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_available']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="waybillAvailable"
											value="#{stockOutwardPWHBean.stockTransfer.waybillAvailable}"
											class="form-control select2" converter="#{entityConverter}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardPWHBean.yesOrNoList}"
												var="yesOrNo" itemLabel="#{yesOrNo.text}"
												itemValue="#{yesOrNo.value}" />

											<p:ajax event="change" update="waybillNo" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['waybill_no']}" />
									<div class="input-group">
										<span class="input-group-addon"><i
											class="icon-certificate"></i></span>
										<p:inputText id="waybillNo" maxlength="10"
											disabled="#{stockOutwardPWHBean.stockTransfer.waybillAvailable==null || !stockOutwardPWHBean.stockTransfer.waybillAvailable}"
											class="form-control"
											value="#{stockOutwardPWHBean.stockTransfer.waybillNumber}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row label-form">

							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['transport_charge_available']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-stack3"></i></span>
										<h:selectOneMenu id="transportChargeAvailable"
											value="#{stockOutwardPWHBean.stockTransfer.transportChargeAvailable}"
											class="form-control select2" converter="#{entityConverter}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardPWHBean.yesOrNoList}"
												var="yesOrNo" itemLabel="#{yesOrNo.text}"
												itemValue="#{yesOrNo.value}" />

											<p:ajax event="change"
												update="transportChargeType transportChargeAmount" />
										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_type']}" />
									<div class="input-group ui-outputlabel ui-widget">
										<span class="input-group-addon"><i class="icon-menu6"></i></span>
										<h:selectOneMenu id="transportChargeType"
											value="#{stockOutwardPWHBean.stockTransfer.transportChargeType}"
											class="form-control select2"
											disabled="#{stockOutwardPWHBean.stockTransfer.transportChargeAvailable==null || !stockOutwardPWHBean.stockTransfer.transportChargeAvailable}">

											<f:selectItem itemLabel="#{msg['select']}"
												noSelectionOption="true" />
											<f:selectItems value="#{stockOutwardPWHBean.payToPayList}"
												var="val" itemLabel="#{val}" itemValue="#{val}" />

										</h:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['trans_charge_amt']}" />
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
										<p:inputText id="transportChargeAmount" maxlength="10"
											class="form-control"
											value="#{stockOutwardPWHBean.stockTransfer.transportChargeAmount}"
											disabled="#{stockOutwardPWHBean.stockTransfer.transportChargeAvailable==null || !stockOutwardPWHBean.stockTransfer.transportChargeAvailable}" />
									</div>
								</div>
							</div>
						</div>
						<div class="row m-t-20">
							<div class="col-lg-12 text-right">
								<div class="form-group">

									<h:commandButton update="growls" immediate="true"
										onclick="PF('statusDialog').show()"
										action="#{stockOutwardPWHBean.getListPage}"
										value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon m-r-5 button-ui">
									</h:commandButton>

									<h:commandButton update="growls" validateClient="true"
										onclick="PF('statusDialog').show()"
										action="#{stockOutwardPWHBean.submit('save')}"
										value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
										class="btn bg-primary heading-btn  font-iconmoon m-r-0 button-ui">
									</h:commandButton>
									&nbsp;

									<h:commandButton update="growls" title="#{msg['submit']}"
										validateClient="true" onclick="PF('statusDialog').show()"
										action="#{stockOutwardPWHBean.submit('submit')}"
										value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn font-iconmoon m-r-0 button-ui">
									</h:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

					<ui:include src="../popup/dwhOutwardItemsDetailsPopup.xhtml" />
	</ui:define>
</ui:composition>