<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
	
		<ui:param name="bean" value="#{societyBoardApprovalBean}"></ui:param>
		<ui:param name="societyregreq"
			value="#{societyBoardApprovalBean.selectedSocietyRegistration}"></ui:param>
		<ui:param name="societyenrollment"
			value="#{societyBoardApprovalBean.societyEnrollment}"></ui:param>
		<!-- 	<style>
#steps-uid-0-t-0 .number:after {
	content: "1";
	color: #ff5722;
}

#steps-uid-0-t-0 .number {
	border-color: #ff5722;
	color: #ff5722;
}
</style> -->
		<style>
#steps-uid-0-t-0 .number:after, #steps-uid-0-t-1 .number:after,
	#steps-uid-0-t-2 .number:after, #steps-uid-0-t-3 .number:after {
	content: '\ed6f';
	color: #fff !important;
	font-family: icomoon;
	display: inline-block;
	margin-left: -7px;
	font-size: 16px;
	line-height: 34px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#steps-uid-0-t-0 span.number, #steps-uid-0-t-1 span.number,
	#steps-uid-0-t-2 span.number, #steps-uid-0-t-3 span.number {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
	color: #4caf50 !important;
}

#steps-uid-0-t-0 {
	color: #bbb !important;
}

#steps-uid-0-t-4 span.number {
	border-color: #ff5722 !important;
	color: #ff5722 !important;
}

#steps-uid-0-t-0 .number:after {
	margin-left: 0px;
}

#steps-uid-0-t-4 {
	color: #000 !important
}
</style>
		<title>InfoTex | View Board Approval</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['view_board_approval']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['weavers']}</li>
						<li>#{msg['soc_enroll']}</li>
						<li class="active">#{msg['view_board_approval']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
			</div>
		</div>
		<!-- Page Header End -->
		<!-- Process Steps -->
		<div class="content p-content padding-bottom-2">
			<div class="box-shadow-wizard wizard">
				<div class="steps clearfix ">
					<ul role="tablist">
						<li class="first current smnone" aria-disabled="false"
							aria-selected="true"><a id="steps-uid-0-t-0"
							href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span
								class="current-info audible">current step: </span><span
								class="number">1</span> #{msg['rec_req_letter']}</a></li>
						<li class="disabled smnone" aria-disabled="true"><a
							id="steps-uid-0-t-1" href="#steps-uid-0-h-1"
							aria-controls="steps-uid-0-p-1"><span class="number">2</span>
								#{msg['supp_doc_coll']}</a></li>
						<li class="disabled" aria-disabled="true"><a
							id="steps-uid-0-t-2" href="#steps-uid-0-h-2"
							aria-controls="steps-uid-0-p-2"><span class="number">3</span>
								#{msg['field_veri']}</a></li>
						<li class="disabled" aria-disabled="true"><a
							id="steps-uid-0-t-3" href="#steps-uid-0-h-3"
							aria-controls="steps-uid-0-p-3"><span class="number">4</span>
								#{msg['dept_appr']}</a></li>
						<li class="disabled" aria-disabled="true"><a
							id="steps-uid-0-t-4" href="#steps-uid-0-h-4"
							aria-controls="steps-uid-0-p-4"><span class="number">5</span>
								#{msg['board_appr']}</a></li>
						<li class="disabled" aria-disabled="true"><a
							id="steps-uid-0-t-5" href="#steps-uid-0-h-5"
							aria-controls="steps-uid-0-p-5"><span class="number">6</span>
								#{msg['soc_code_allot']}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Process Steps end -->
		<div class="content page-scroll-process-flow-top no-padding-bottom">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group1"> <span>#{msg['soc_details']}</span>
							</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body ">
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['soc_type']}" />
										<h:outputText value="#{societyregreq.loomTypeMaster.name}"
											class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['society_name']}" />
										<h:outputText value="#{societyregreq.name}" class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class=""
											value="#{msg['society_name']} (#{msg['in_tamil']})" />
										<h:outputText value="#{societyregreq.locName}" class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['soc_reg_number']}" />
										<h:outputText value="#{societyregreq.registrationNumber}"
											class="">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row label-form view-style">
								<div class="col-lg-9 col-md-9 col-sm-8">
									<div class="row label-form view-style">
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['soc_reg_date']}" />
												<h:outputText value="#{societyregreq.registeredDate}"
													class="">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['soc_pro_start_date']}" />
												<h:outputText value="#{societyregreq.productionStartedDate}"
													class="">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['soc_res_date']}" />
												<h:outputText value="#{societyregreq.resolutionDate}"
													class="">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row label-form view-style">
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['soc_res_Number']}" />
												<h:outputText value="#{societyregreq.resolutionNumber}"
													class="">
												</h:outputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class=""
													value="#{msg['recom_letter_rec_frm']}" />
												<p:commandButton value="&#xf019;"
													class="btn bg-primary fa-input btn-xs min-wid-auto m-l-0"
													id="htDwnldId" ajax="false" title="#{msg['download']}"
													actionListener="#{bean.getDownloadFile(societyregreq.requestLeterFilePath)}">
													<p:fileDownload value="#{bean.file}" />
												</p:commandButton>
												<!-- <button type="button" data-toggle="modal"
													data-target="#modal_cust_info"
													class="btn bg-info btn-xs cust-btn-h  font-iconmoon  pull-right m-b-10"
													title="View Customer Details">&#xea18;
													#{msg['view']}</button> -->
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
											<div class="form-group">
												<p:outputLabel class=""
													value="#{msg['adht_off_code']} / #{msg['name']}" />
												<h:outputText
													value="#{societyregreq.circleMaster.code} / #{societyregreq.circleMaster.name}"
													class="">
												</h:outputText>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-4">
									<div class="form-group ">
										<p:outputLabel value="#{msg['soc_add']}" class="" />
										<h:outputText
											value="#{addressMasterBean.prepareAddress(societyenrollment.societyAddress)}"
											class=""></h:outputText>
									</div>
								</div>
							</div>


							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['recom_by']}" />
										<h:outputText value="#{societyregreq.recommendedBy}" class="">
										</h:outputText>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel class="" value="#{msg['recom_date']}" />
										<h:outputText value="#{societyregreq.recommendedDate}"
											class="">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row label-form view-style">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['soc_pres_details']}</span>
									</h5>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<p:outputLabel class="" value="#{msg['soc_pres_name']}" />
														<h:outputText value="#{societyenrollment.presidentName}"
															class="">
														</h:outputText>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<p:outputLabel class="" value="#{msg['tot_mem_soc']}" />
														<h:outputText value="#{societyenrollment.totalMembers}"
															class="">
														</h:outputText>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group ">
												<p:outputLabel value="#{msg['soc_add']}" class="" />
												<h:outputText
													value="#{addressMasterBean.prepareAddress(societyenrollment.societyAddress)}"
													class=""></h:outputText>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<h5 class="bord_bot m-t-0">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>#{msg['dd_details']}</span>
									</h5>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['dd_num']}" />
												<h:outputText value="#{societyenrollment.ddNumber}" class="">
												</h:outputText>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel class="" value="#{msg['dd_date']}" />
												<h:outputText value="#{societyenrollment.ddDate}" class="">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group ">
												<p:outputLabel value="#{msg['dd_amt']}" class="" />
												<span class="dis-inlineblock"><i
													class="fa fa-inr m-r-5"></i> <h:outputText
														value="#{societyenrollment.ddAmount}"
														class="fa-input dis-inlineblock">
														<f:convertNumber pattern="#0.00"></f:convertNumber>
													</h:outputText></span>
											</div>
										</div>
									</div>
								</div>
							</div>


							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['prod_details']}</span>
							</h5>
							<div class="row view-style ">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['loom_type']}" />
										<h:outputText value="#{societyenrollment.loomTypeMaster.name}"
											class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['num_of_loom_avail']}" />
										<h:outputText value="#{societyenrollment.numberOfLooms}"
											class="" />
									</div>
								</div>
								<!-- <div class="col-lg-3 col-md-3 col-sm-3">
								<div class="form-group">
									<p:outputLabel value="#{msg['list_of_man_prod_var']}" />
									<h:outputText value="Saree" class="" />
								</div>
							</div> -->
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['d_n_p_office_code']}" />
										<h:outputText value="#{societyregreq.entityMaster.name}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading" style="border-bottom: 0px;">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group2"> <span>#{msg['attach_sup_doc']}
							</span>
							</a>
						</h6>
					</div>
					<div id="accordion-control-right-group2"
						class="panel-collapse collapse in">
						<div class="panel-body no-padding-top">
							<div class="row">
								<div class="col-lg-12">
									<h5>
										<span class="pull-right m-b-5"> <span
											class="badge badge-flat cust-badge border-grey text-grey-600">Total
												Files <span class="badge badge-details badge-success">#{bean.total}</span>
										</span> <span
											class="badge badge-flat cust-badge border-grey text-grey-600">Attached
												<span class="badge badge-details badge-info">#{bean.attached}</span>
										</span> <span
											class="badge badge-flat cust-badge border-grey text-grey-600">Remaining
												<span class="badge badge-details badge-warning">#{bean.remaining}</span>
										</span>
										</span>
									</h5>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="table-responsive m-b-10">
										<p:dataTable id="attachments" styleClass="report-table"
											value="#{societyenrollment.societyEnrollmentFilesList}"
											var="data" widgetVar="attachmentListTable"
											rowKey="#{data.id}" rowIndexVar="idx">

											<p:column headerText="#" styleClass="width-3 text-center">
												<h:outputText value="#{idx+1}" />
											</p:column>

											<p:column headerText="#{msg['file_name']}"
												styleClass="width-15">
												<h:outputText value="#{data.fileName}" />
											</p:column>

											<p:column headerText="#{msg['file_path']}"
												styleClass="width-15">
												<h:outputText title="#{data.filePath}"
													value="#{(data.filePath).length() gt 30 ? fn:substring({data.filePath}, 1, 29).concat('...'):(data.filePath)}" />
											</p:column>

											<p:column headerText="#{msg['action']}"
												styleClass="width-3 text-center">
												<p:commandButton value="&#xf019;"
													class="btn bg-primary fa-input btn-xs" id="htDwnldId"
													ajax="false" title="#{msg['download']}"
													actionListener="#{bean.getDownloadFile(data.filePath)}">
													<p:fileDownload value="#{bean.file}" />
												</p:commandButton>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div
				class="panel-group panel-group-control panel-group-control-right m-b-0"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading" style="border-bottom: 0px;">
						<h6 class="panel-title">
							<a data-toggle="collapse" class="block"
								data-parent="#accordion-control-right"
								href="#accordion-control-right-group3"> <span>#{msg['field_veri']}
							</span>
							</a>
						</h6>

					</div>
					<div id="accordion-control-right-group3"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['committee_mem_list']}</span>
							</h5>
							<div class="row view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group m-b-0">
										<p:outputLabel class="" value="#{msg['date_of_visit_soc']}" />
										<h:outputText
											value="#{bean.societyFieldVerification.dateOfVisit}" class="">
											<f:convertDateTime
												pattern="#{loginBean.userInfoDTO.dateFormat}"
												timeZone="#{loginBean.timeZone}" />
										</h:outputText>
									</div>
								</div>
								<!-- end col -->
							</div>

							<div class="row">
								<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
									<div class="table-responsive">
										<p:dataTable value="#{bean.committeeMembersList}"
											var="committee" id="committeeListTable"
											rowIndexVar="rowindex" styleClass="report-table m-b-15">

											<p:column headerText="#" styleClass="width-3 text-center">
												<h:outputText value="#{rowindex +1 }" styleClass="fa-input" />
											</p:column>

											<p:column headerText="#{msg['emp_pf_num']} / #{msg['name']}"
												styleClass="fa-input width-5">
												<h:outputText
													value="#{committee.empMaster.personalInfoEmployment.pfNumber} / #{committee.empMaster.firstName} #{committee.empMaster.lastName}"
													styleClass="fa-input" />
											</p:column>

											<p:column headerText="#{msg['designation']}"
												styleClass="fa-input width-10">
												<h:outputText
													value="#{committee.empMaster.personalInfoEmployment.currentDesignation.name}"
													styleClass="fa-input">
												</h:outputText>

											</p:column>
											<p:column headerText="#{msg['enty_cod_nam']}"
												styleClass="fa-input width-8">
												<h:outputText
													value="#{committee.entityMaster.code} / #{committee.entityMaster.name} "
													styleClass="fa-input">
												</h:outputText>
											</p:column>
										</p:dataTable>
									</div>
								</div>
							</div>

							<h5 class="m-b-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['loom_veri_list']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="table-responsive">
										<p:dataTable value="#{bean.loomVerificationList}" var="loom"
											id="loomVerificationTable" rowIndexVar="rowindex"
											editable="true" styleClass="report-table m-b-15">

											<p:column headerText="#" styleClass="width-3 text-center">
												<h:outputText value="#{rowindex +1 }" styleClass="fa-input" />
											</p:column>

											<p:column headerText="#{msg['mem_name']}"
												styleClass="width-15">
												<h:outputText value="#{loom.memberName}"
													styleClass="fa-input" />
											</p:column>


											<p:column headerText="#{msg['mem_add']}"
												styleClass="width-15">
												<h:outputText value="#{bean.subString(loom.memberMaster)}"
													styleClass="fa-input">
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['indus_add']}"
												styleClass="width-8">
												<h:outputText
													value="#{bean.subString(loom.memberIndustryAddress)}"
													styleClass="fa-input">
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['num_of_loom']}"
												styleClass="width-8">
												<h:outputText value="#{loom.numberOfLooms}"
													styleClass="fa-input">
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['ration_card_num']}"
												styleClass="width-8">
												<h:outputText value="#{loom.rationCardNumber}"
													styleClass="fa-input">
												</h:outputText>
											</p:column>

											<p:column headerText="#{msg['aadhaar_no']}"
												styleClass="width-8">
												<h:outputText value="#{loom.aadharNumber}"
													styleClass="fa-input">
												</h:outputText>
											</p:column>
										</p:dataTable>

									</div>
								</div>
							</div>
							<div class="row view-style">
								<div class="col-lg-4 col-md-4 col-sm-6">
									<div class="form-group">
										<label class="display-block text-semibold">#{msg['reg_under_adht_off']}</label>
										<h:outputText
											rendered="#{bean.societyFieldVerification.isRegistered}"
											value="#{msg['yes']}" class=""></h:outputText>
										<h:outputText
											rendered="#{not bean.societyFieldVerification.isRegistered}"
											value="#{msg['no']}" class=""></h:outputText>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-6">
									<div class="form-group">
										<label class="display-block text-semibold">#{msg['recom_to_alot_soc_code']}</label>
										<h:outputText
											rendered="#{bean.societyFieldVerification.isRecommended}"
											value="#{msg['yes']}" class=""></h:outputText>
										<h:outputText
											rendered="#{not bean.societyFieldVerification.isRecommended}"
											value="#{msg['no']}" class="">
										</h:outputText>
									</div>
								</div>
							</div>

							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<h:panelGroup styleClass="form-group"
										rendered="#{bean.approvalFlag}">
										<p:outputLabel value="#{msg['frwd_to']}" />
										<span class="text-danger">*</span>
										<div class="form-group">
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-forward"></i></span>
										<ui:remove><h:selectOneMenu id="fwdto" styleClass="form-control"
													rendered="#{bean.approvalFlag}"
													disabled="#{bean.finalapprovalFlag}"
													converter="#{entityConverter}"
													value="#{bean.societyRegReqNote.userMaster}">
													<f:selectItem itemLabel="#{msg['select']}"
														noSelectionOption="true"></f:selectItem>
													<f:selectItems itemValue="#{forward}"
														itemLabel="#{forward.empCode}/#{forward.empName}"
														var="forward" value="#{bean.forwardToUsersList}"></f:selectItems>
													<p:ajax event="change" update="fwdto" />
												</h:selectOneMenu>
												</ui:remove>		
												<p:autoComplete id="fwdto" minQueryLength="2"
														styleClass="form-control" converter="#{entityConverter}"
														required="#{not empty param[submitId.clientId]}" rendered="#{bean.approvalFlag}"
														disabled="#{bean.finalapprovalFlag}"
														requiredMessage="#{msg['forward_to_required']}"
														value="#{bean.societyRegReqNote.userMaster}" itemValue="#{emp}" var="emp"
														itemLabel="#{emp.empName}"
														completeMethod="#{bean.loadAutoCompleteUserMaster}"
														effect="fade">
														<p:ajax event="itemSelect" update="fwdto"></p:ajax>
													</p:autoComplete>
											</div>
										</div>
									</h:panelGroup>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<h:panelGroup styleClass="form-group"
										rendered="#{bean.approvalFlag}">
										<p:outputLabel value="#{msg['frwd_for']}" />
										<span class="text-danger">*</span>
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i
												class="icon-forward"></i></span>
											<h:selectOneMenu id="fwdfor" styleClass="form-control"
												rendered="#{bean.approvalFlag}"
												disabled="#{bean.finalapprovalFlag}"
												value="#{bean.societyRegReqNote.finalApproval}">
												<f:selectItem itemValue="False" itemLabel="Approve"></f:selectItem>
												<f:selectItem itemValue="True" itemLabel="Final Approve"></f:selectItem>
												<p:ajax event="change" update="fwdfor" />
											</h:selectOneMenu>
										</div>
									</h:panelGroup>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<p:commandButton value="&#xea18; #{msg['view_note']}"
										title="#{msg['view_note']}"
										styleClass="btn bg-info btn-md font-iconmoon m-l-0"
										onclick="PF('notedialog').show();"></p:commandButton>

									<!-- <p:commandButton value="&#xeb0d;" title="#{msg['add']}"
										style="min-width:32px;"
										styleClass="btn btn-primary btn-md font-iconmoon"
										onclick="PF('commentdialog').show();"></p:commandButton> -->
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 text-right">
									<div class="form-group m-b-0" id="dontprint">
										<p:commandButton update="growls comments2" immediate="true"
											rendered="#{bean.societyRegReqLog.stage ne 'BOARD_REJECTED'  and bean.societyRegReqLog.stage ne 'BOARD_FINAL_APPROVED' and bean.approvalFlag}"
											value="&#xecf6;&nbsp;#{msg['reject']}"
											title="#{msg['reject']}" class="btn bg-danger font-iconmoon"
											onclick="PF('dlgComments2').show();" type="button">
											<p:ajax event="click" update="comments2"
												listener="#{bean.changeCurrentStatus('BOARD_REJECTED')}"></p:ajax>
										</p:commandButton>
										<p:commandButton update="growls comments1" immediate="true"
											rendered="#{bean.societyRegReqLog.stage ne 'BOARD_REJECTED' and bean.societyRegReqLog.stage ne 'BOARD_FINAL_APPROVED' and bean.approvalFlag}"
											value="&#xecf5;&nbsp;#{bean.finalapprovalFlag eq false ?msg['approve']: msg['final_approve']}"
											title="#{msg['approve']}"
											class="btn bg-success font-iconmoon"
											onclick="PF('dlgComments1').show();">
											<p:ajax event="click" update="comments1"
												listener="#{bean.changeCurrentStatus('BOARD_APPROVED')}"></p:ajax>
										</p:commandButton>
										<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
											title="#{msg['back']}"
											action="#{bean.showsocietyBoardApprovalListPage}"
											class="btn bg-info heading-btn  font-iconmoon">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<p:dialog modal="true" draggable="false"
			header="#{msg['approve_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments1"
			width="40%" focus="comments1">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{bean.remarkscomment}" id="comments1">
								<p:ajax update="comments1"></p:ajax>
							</p:inputTextarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" onclick="PF('dlgComments1').hide();"
					class="btn bg-slate heading-btn  font-iconmoon">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls comments1" title="#{msg['submit']}"
					onclick="PF('dlgComments1').hide();"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{bean.statusUpdate}">
				</p:commandButton>
			</div>
		</p:dialog>


		<p:dialog modal="true" draggable="false"
			header="#{msg['reject_comments']}"
			styleClass="p-0 overlay-pop modal-dialog" widgetVar="dlgComments2"
			width="40%" focus="comments2">
			<div class="modal-body p-0">
				<div class="row">
					<div class="col-lg-12">
						<p:outputLabel value="#{msg['remarks']}" />
						<div class="form-group">
							<p:inputTextarea autoResize="false" rows="4" cols="50"
								styleClass="form-control" maxlength="235"
								value="#{bean.remarkscomment}" id="comments2">
								<p:ajax update="comments2"></p:ajax>
							</p:inputTextarea>
						</div>
						<h:message for="comments2" class="validation-error-label" />
					</div>
				</div>
			</div>
			<div class="modal-footer ph0 m-t-10">
				<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
					title="#{msg['cancel']}" onclick="PF('dlgComments2').hide();"
					class="btn bg-slate heading-btn  font-iconmoon">
				</p:commandButton>
				<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
					update="growls" title="#{msg['submit']}"
					class="btn bg-success heading-btn  font-iconmoon"
					action="#{bean.statusUpdate}"
					onsuccess="PF('dlgComments2').hide();">
				</p:commandButton>
			</div>
		</p:dialog>


		<p:dialog header="#{msg['view_note']}" widgetVar="notedialog"
			modal="true" showEffect="fade" hideEffect="fade" resizable="false"
			styleClass="create-note-panel">
			<h:form>
				<p:outputPanel id="customerPanel">
					<div class="panel-body p-0">
						<div class="tabbable">
							<ul
								class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
								<li class="active"><a href="#large-tab1" data-toggle="tab">Note
								</a></li>
								<li class="pull-right"><a href="#large-tab2"
									data-toggle="tab"> <i class="icon-plus3"></i></a></li>
							</ul>
							<div class="tab-content">
								<div class="panel-body p-0 m-b-10">
									<p:textEditor widgetVar="editor1" id="note" readonly="true"
										placeholder="Enter text ..."
										value="#{bean.societyRegReqNote.note}" height="200" />
								</div>
								<ui:remove>
									<div class="tab-pane active" id="large-tab1">
										<!-- WYSIHTML5 basic -->
										<div class="panel panel-flat">
											<form action="#">
												<div class="form-group text-wysihtml5-toolbar">
													<p:inputTextarea cols="18" rows="18"
														requiredMessage="Note #{msg['required']}" id="note"
														class="wysihtml5 wysihtml5-min form-control"
														placeholder="Enter text ..." disabled="true"
														value="#{bean.societyRegReqNote.note}">
														<p:ajax update="note" event="keyup" />
													</p:inputTextarea>
												</div>
											</form>
										</div>
									</div>
								</ui:remove>
							</div>
							<div class='col-md-12'>
								<p:carousel value="#{bean.viewLogResponseList}" var="data">
									<div
										class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
										<ul class="list list-icons m-b-0">
											<li>
												<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
												<h:panelGroup>
													<h6 class="m-t-0 text-center">
														<p:outputLabel
															value="#{data.planStatus.replace('_','  ')}">
														</p:outputLabel>
													</h6>
												</h:panelGroup>
											</li>
											<li>Name : #{data.employeeName}</li>
											<li>Designation : #{data.employeeDesignation}</li>
											<li>Date : <h:outputText value="#{data.planCreatedDate}">
													<f:convertDateTime
														pattern="#{loginBean.userInfoDTO.dateFormat}"
														timeZone="#{loginBean.timeZone}"></f:convertDateTime>
												</h:outputText></li>
										</ul>
									</div>
								</p:carousel>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										title="#{msg['cancel']}" onsuccess="PF('notedialog').hide()"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										title="#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon"
										action="#{bean.getNote}" />
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		<!-- Comment -->
		<!-- <p:dialog header="Comment" widgetVar="commentdialog" modal="true"
         showEffect="fade" hideEffect="fade" resizable="false"
         styleClass="p-0">
         <h:form>
            <p:outputPanel id="customerPanel1">
               <div class="panel panel-flat">
                  <div class="panel-body p-0">
                     <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-bottom">
                           <li class="active"><a href="#solid-tab1"
                              data-toggle="tab"><i class="icon-thumbs-up3"></i>
                              #{msg['approve']}</a>
                           </li>
                           <li><a href="#solid-tab2" data-toggle="tab"><i
                              class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
                        </ul>
                        <div class="tab-content">
                           <div class="tab-pane active" id="solid-tab1">
                              <table class="table table-striped cust-table">
                                 <tbody>
                                    <tr class="success">
                                       <td><strong>Approved Comments</strong></td>
                                       <td><span class="pull-left m-b-10">Given By</span> <span
                                          class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
                                          User</span> <br /> <span class="pull-left">Given Date</span> <span
                                             class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
                                          </span>
                                       </td>
                                       <td>100% Cotton printed Bed spread, printed with fast
                                          Rapid Indigo colours and with over...
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="tab-pane" id="solid-tab2">
                              <table class="table table-striped cust-table">
                                 <tbody>
                                    <tr class="success">
                                       <td><strong>Rejection Comment</strong></td>
                                       <td><span class="pull-left m-b-10">Given By</span> <span
                                          class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
                                          User</span> <br /> <span class="pull-left">Given Date</span> <span
                                             class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
                                          </span>
                                       </td>
                                       <td>100% Cotton printed Bed spread, printed with fast
                                          Rapid Indigo colours and with over...
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><strong>Reply Comment</strong></td>
                                       <td><span class="pull-left m-b-10">Given By</span> <span
                                          class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
                                          User</span> <br /> <span class="pull-left">Given Date</span> <span
                                             class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
                                          </span>
                                       </td>
                                       <td><textarea name="enter-message"
                                          class="form-control" rows="3" cols="1"
                                          placeholder="What's on your mind?"></textarea></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                     <div class="form-group m-b-0">
                        <p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
                           title="#{msg['cancel']}"
                           onclick="window.location.href='listInitiateRequirementRequest.xhtml'"
                           class="btn bg-slate heading-btn  font-iconmoon" />
                        <p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
                           title="#{msg['submit']}"
                           class="btn bg-success heading-btn  font-iconmoon" />
                     </div>
                  </div>
               </div>
            </p:outputPanel>
         </h:form>
      </p:dialog> -->

	</ui:define>
</ui:composition>