<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<title>InfoTex | Loan Advance List</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['loan_ad']} #{msg['list']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['loan_ad']} #{msg['list']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title m-t-5">
						<strong>0</strong> - Total #{msg['loan_ad']} #{msg['list']}<a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>

				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xea0e; #{msg['add']}"
							rendered="#{loginBean.userFeatures['USER_ADD']}"
							title="#{msg['add']}"
							action="#{trainingTypeMasterBean.addTrainingType}"
							class="btn bg-success font-iconmoon" update="growls"
							onclick="PF('progressDlg').show();">
							<f:setPropertyActionListener value="ADD"
								target="#{trainingTypeMasterBean.action}"></f:setPropertyActionListener>
						</p:commandButton>




						<p:commandButton value="&#xe912; #{msg['edit']}"
							rendered="#{loginBean.userFeatures['USER_EDIT']}"
							action="#{trainingTypeMasterBean.editTrainingTypeMaster}"
							title="#{msg['edit']}" update="growls"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>



						<p:commandButton value="&#xea18; #{msg['view']}"
							rendered="#{loginBean.userFeatures['USER_VIEW']}"
							title="#{msg['view']}"
							action="#{tenderCategoryBean.viewTenderCategory}"
							class="btn bg-info heading-btn  font-iconmoon"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();" update="growls">
							<f:setPropertyActionListener value="VIEW"
								target="#{tenderCategoryBean.action}"></f:setPropertyActionListener>
						</p:commandButton>



						<p:commandButton value="&#xe99e; #{msg['delete']}"
							rendered="#{loginBean.userFeatures['USER_DELETE']}"
							action="#{trainingTypeMasterBean.delete}"
							title="#{msg['delete']}" update="growls"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();"
							class="btn bg-danger font-iconmoon">
						</p:commandButton>

						<p:dialog header="Confirm Delete" draggable="false" modal="true"
							styleClass="p-0 overlay-pop modal-dialog" closable="true"
							width="30%" widgetVar="confirmtrainingTypeMasterDelete"
							showEffect="fade" hideEffect="fade" closeOnEscape="true"
							resizable="false">

							<div class="modal-body">

								<h:outputText
									value="Are you sure you want to delete this Record ?" />

							</div>

							<div class="modal-footer m-t-10">
								<p:commandButton value="&#xed6a;&nbsp;No"
									styleClass="btn bg-slate heading-btn font-iconmoon"
									oncomplete="PF('confirmtrainingTypeMasterDelete').hide()" />
								<p:commandButton ajax="false"
									styleClass="btn bg-success heading-btn font-iconmoon"
									value="&#xed6e;&nbsp;Yes"
									action="#{tenderCategoryBean.deleteTenderCategoryConfirm}"
									oncomplete="PF('confirmTenderCategoryDelete').hide()">
								</p:commandButton>
							</div>
						</p:dialog>

						<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
							immediate="true" action="#{tenderCategoryBean.clear}"
							onclick="PF('progressDlg').show();"
							oncomplete="PF('progressDlg').hide();" title="#{msg['clear']}"
							class="btn bg-slate font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>



			<div class="panel">
				<div class="panel-body p-0">

					<p:dataTable id="trainingTypeMasterlisttable" var="data"
						class="table" widgetVar="tendercategorytablewdgt"
						selection="#{trainingTypeMasterBean.trainingTypeMaster}"
						rowKey="#{data.id}"
						value="#{trainingTypeMasterBean.trainingTypeMasterLazyList}"
						lazy="true" emptyMessage="No records found with given criteria"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rows="10" paginator="true" paginatorPosition="bottom"
						tableStyleClass="" rowsPerPageTemplate="5,10,15" rowIndexVar="idx">


						<p:column headerText="#" class="width-5 text-center">
							<h:outputText value="#{idx+1}" />
						</p:column>
						<p:column filterable="true" filterBy="#{data.code}"
							class="width-15 text-center" filterMatchMode="contains"
							headerText="#{msg['type']}" sortBy="#{data.code}"
							sortable="true">
							<f:facet name="filter">
								<h:selectOneMenu id="statusFiter" class="form-control"
									onchange="PF('tendercategorytablewdgt').filter()">
									<f:selectItem itemLabel="Loan" itemValue="true" />
									<f:selectItem itemLabel="Advance" itemValue="false" />
									<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>
							</f:facet>
							<h:outputText value="#{data.code}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.name}"
							styleClass="text-center width-12" filterMatchMode="contains"
							headerText="#{msg['name']}" sortBy="#{data.name}" sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterName" class="form-control "
									onkeyup="PF('tendercategorytablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.name}" />
						</p:column>

						<p:column filterable="true" filterBy="#{data.l_name}"
							styleClass="text-center width-12" filterMatchMode="contains"
							headerText="#{msg['lname']}" sortBy="#{data.l_name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText id="globalFilterLtendercategoryName"
									class="form-control "
									onkeyup="PF('tendercategorytablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.l_name}" />
						</p:column>
						
						<p:column filterable="true" filterBy="#{data.l_name}"
							styleClass="text-center width-12" filterMatchMode="contains"
							headerText="#{msg['max_amt']}" sortBy="#{data.l_name}"
							sortable="true">
							<f:facet name="filter">
								<p:inputText
									class="form-control "
									onkeyup="PF('tendercategorytablewdgt').filter()" />
							</f:facet>
							<h:outputText value="#{data.l_name}" />
						</p:column>
						
						<p:column sortBy="#{data.status}" sortable="true"
							filterable="true" filterBy="#{data.status}"
							styleClass="text-center width-12" headerText="#{msg['status']}">
							<f:facet name="filter">
								<h:selectOneMenu id="statusFiter" class="form-control"
									onchange="PF('tendercategorytablewdgt').filter()">
									<f:selectItem itemLabel="Active" itemValue="true" />
									<f:selectItem itemLabel="InActive" itemValue="false" />
									<f:selectItem itemLabel="Select" />
								</h:selectOneMenu>

							</f:facet>

							<h:outputText
								styleClass="label width-custom sts_shortl #{data.status eq 'true'?' label-success':'label label-danger'}"
								value="#{data.status eq 'true'?'Active':'Inactive'}"></h:outputText>
						</p:column>

						<p:column headerText="#{msg['select']}" selectionMode="single"
							style="width:6%;text-align:center" />
					</p:dataTable>



				</div>
			</div>

		</div>

	</ui:define>
</ui:composition>