<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layoutWithIndividualForm.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('CIRCLE_ADD')}" />
		</f:metadata>
		<h:form id="createCircleMasterForm">
			<title>InfoTex | Circle</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{circleMasterBean.action eq 'ADD' ? msg['create'] :
							msg['edit']} #{msg['circle']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['oper_master']}</li>
							<li class="active">#{circleMasterBean.action eq 'ADD' ?
								msg['create'] : msg['edit']} #{msg['circle']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->
			<div class="content">
				<div
					class="panel-group panel-group-control panel-group-control-right m-b-15"
					id="accordion-control-right">
					<div class="panel panel-info ">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['circle']}<span class="pull-right text-13">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div id="accordion-control-right-group1"
							class="panel-collapse collapse in">
							<div class="panel-body p-t-10 page-scroll-without-process">
								<div class="row label-form">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['circle_code']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="circleCode"
															maxlength="30"
															value="#{circleMasterBean.circleMaster.code}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['circle_code_req']}">
															<p:keyFilter regEx="/[a-zA-Z\d\s]/i"></p:keyFilter>
															<p:ajax event="keyup" update="circleCodeMsg" />
														</p:inputText>
													</div>
													<p:focus for="circleCode" />
													<h:message for="circleCode" id="circleCodeMsg"
														class="validation-error-label" />
													<p:tooltip for="circleCode"
														value="#{msg['code_valid_msg']}" />
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel value="#{msg['circle_name']}" />
													<span class="text-danger">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="circleName"
															maxlength="30"
															value="#{circleMasterBean.circleMaster.name}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['circle_name_req']}">
															<p:keyFilter regEx="/[a-zA-Z\d\s]/i"></p:keyFilter>
															<p:ajax event="keyup" update="circleNameMsg" />
														</p:inputText>
													</div>
													<h:message for="circleName" id="circleNameMsg"
														class="validation-error-label" />
													<p:tooltip for="circleName"
														value="#{msg['name_valid_msg']}" />
												</div>
											</div>
										</div>

										<div class="row label-form">
											<div class="col-lg-6 col-md-6 col-sm-6">
												<div class="form-group">
													<p:outputLabel
														value="#{msg['circle_name']} (#{msg['in_tamil']})" />
													<span class="text-danger">*</span>
													<div class="input-group ui-outputlabel ui-widget">
														<span class="input-group-addon"><i
															class="icon-location4"></i></span>
														<p:inputText class="form-control" id="localName"
															maxlength="30"
															value="#{circleMasterBean.circleMaster.localName}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['circle_name_req']}">
															<p:keyFilter regEx="/[a-zA-Z\d\s]/i"></p:keyFilter>
															<p:ajax event="keyup" update="localNameMsg" />
														</p:inputText>
													</div>
													<h:message for="localName" id="localNameMsg"
														class="validation-error-label" />
													<p:tooltip for="localName" value="#{msg['name_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-6">
												<p:outputLabel
													value="#{msg['d_n_p_office_code']} / #{msg['name']}"
													for="ddlEntityMaster" />
												<p:outputLabel value="*" class="mand-red"
													for="ddlEntityMaster"
													rendered="#{empty param[submit.clientId]}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-office"></i></span>
													<h:selectOneMenu id="ddlEntityMaster"
														value="#{circleMasterBean.circleMaster.dnpOffice}"
														class="form-control select2"
														required="#{not empty param[submit.clientId]}"
														requiredMessage="#{msg['d_n_p_office_req']}"
														converter="#{entityConverter}">
														<f:selectItem itemLabel="#{msg['select']}"
															itemValue="#{null}" noSelectionOption="false" />
														<f:selectItems
															value="#{circleMasterBean.entityMasterList}"
															var="entityMaster"
															itemLabel="#{entityMaster.code} / #{entityMaster.name}"
															itemValue="#{entityMaster}" />
														<p:ajax event="change" onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()" />
														<p:ajax event="keyup" update="dnpmessage" />
													</h:selectOneMenu>
												</div>
												<h:message for="ddlEntityMaster" id="dnpmessage"
													class="validation-error-label" />
											</div>
										</div>
									</div>


									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="row">
											<div class="col-lg-8 col-md-8 col-sm-9">
												<div class="form-group">
													<p:outputLabel value="#{msg['circle_add']}" />
													<p:inputTextarea rows="4"
														class="form-control cust-textarea-height cust-dis-textarea"
														disabled="true" id="address"
														value="#{circleMasterBean.address}" />
												</div>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-3">
												<p:outputLabel value="&nbsp;&nbsp;" styleClass="dis-block" />
												<p:commandButton id="btnAddressDialog"
													value="#{circleMasterBean.action eq 'ADD' ?  '&#xea0e;' :  '&#xeda7;' }  #{circleMasterBean.action eq 'ADD' ?  msg['add'] :  msg['update'] }"
													title="#{circleMasterBean.action eq 'ADD' ?  msg['add'] :  msg['update'] }"
													styleClass="#{circleMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon m-l-0' : 'btn bg-primary font-iconmoon m-l-0' }"
													action="#{addressMasterBean.openAddressDialog}"
													onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()"
													oncomplete="PF('addressDialog').show();"
													update="addressDialogForm">
												</p:commandButton>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-lg-12">
										<h5 class="bord_bot m-t-0">
											<span class="iform-title"><i
												class="fa fa-th-large m-r-5"></i>#{msg['con_dtl']}</span>
										</h5>
									</div>
								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_name']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<p:inputText class="form-control" id="contactName"
													maxlength="30"
													value="#{circleMasterBean.circleMaster.contactName}">
													<p:keyFilter regEx="/[a-zA-Z\s]/i"></p:keyFilter>
												</p:inputText>
											</div>
											<p:tooltip for="contactName" value="#{msg['name_valid_msg']}" />
										</div>
									</div>



									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['contact_num']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="fa fa-phone"></i></span>
												<p:inputText class="form-control" id="contactNumber"
													maxlength="11"
													value="#{circleMasterBean.circleMaster.contactNumber}">
													<p:keyFilter regEx="/[\d\s]/i"></p:keyFilter>
												</p:inputText>
											</div>
											<p:tooltip for="contactNumber"
												value="#{msg['contact_num_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['mob_no']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-mobile"></i></span>
												<p:inputText class="form-control" id="mobileNumber"
													maxlength="10"
													value="#{circleMasterBean.circleMaster.mobileNumber}">
													<p:keyFilter regEx="/[\d\s]/i"></p:keyFilter>
												</p:inputText>
											</div>
											<p:tooltip for="mobileNumber" value="#{msg['mob_valid_msg']}" />
										</div>
									</div>

									<div class="col-lg-3 col-md-6 col-sm-6">
										<div class="form-group">
											<p:outputLabel value="#{msg['email']}" />
											<div class="input-group ui-outputlabel ui-widget">
												<span class="input-group-addon"><i
													class="icon-envelope"></i></span>
												<p:inputText class="form-control" id="email" maxlength="30"
													value="#{circleMasterBean.circleMaster.emailId}">
												</p:inputText>
											</div>
											<p:tooltip for="email" value="#{msg['email_valid_msg']}" />
										</div>
									</div>

								</div>

								<div class="row label-form">
									<div class="col-lg-3 col-md-6 col-sm-6">
										<p:outputPanel rendered="#{circleMasterBean.action!='ADD'}">
											<div class="form-group">
												<p:outputLabel value="#{msg['status']}" />
												<div class="input-group ui-outputlabel ui-widget">
													<span class="input-group-addon"><i
														class="icon-file-check"></i></span>
													<h:selectOneMenu class="form-control"
														value="#{circleMasterBean.circleMaster.activeStatus}"
														tabindex="4">
														<f:selectItem itemValue="true"
															itemLabel="#{msg['active']}" />
														<f:selectItem itemValue="false"
															itemLabel="#{msg['inactive']}" />
													</h:selectOneMenu>
												</div>
											</div>
										</p:outputPanel>
									</div>
								</div>

								<div class="row m-t-0">
									<div class="col-lg-12 col-md-12 col-sm-12 text-right">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" class="btn bg-slate font-iconmoon m-r-10"
											title="#{msg['cancel']}"
											action="#{circleMasterBean.gotoPage('List')}">
										</p:commandButton>
										<h:commandButton id="btnMainFormSubmit"
											value="#{circleMasterBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{circleMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											title="#{circleMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
											styleClass="#{circleMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon m-l-0 cust-btn-h' : 'btn bg-primary font-iconmoon cust-btn-h' }"
											action="#{circleMasterBean.create()}" validateClient="true"
											update="growls" onclick="PF('statusDialog').show()"
											binding="#{submit}">
										</h:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>

		<ui:include src="../../address/addressPopup.xhtml">
			<ui:param name="parameterBean" value="#{circleMasterBean}"></ui:param>
			<ui:param name="ctrlToUpdate"
				value="#{createCircleMasterForm.address}"></ui:param>
		</ui:include>

	</ui:define>
</ui:composition>
