<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Quotation</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>#{msg['gen_quot']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['retail_pdt_plan']}</li>
						<li>#{msg['gen_quot']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content  page-scroll">
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['gen_quot']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['product_selection_number']}" />
										<span class="mand-red">*</span>
										<div class="form-group">
											<h:selectOneMenu id="planname"
												value="#{discountMasterBean.discountMasterDTO.activeStatus}"
												styleClass="form-control">
												<f:selectItem itemLabel="#{msg['select']}"
													noSelectionOption="true"></f:selectItem>
											</h:selectOneMenu>
										</div>
										<!-- input-group -->
									</div>
								</div>
								<!-- end col -->

								<div class="col-lg-3 col-md-3 col-sm-12 m-t-5">
									<div class="form-group">
										<p:outputLabel value=" " />
										<div class="text-right">
											<p:commandButton value="&#xed6a; #{msg['cancel']}"
												styleClass="btn btn-sm bg-slate font-iconmoon m-l-10" />
											<p:commandButton value="&#xe98e; #{msg['search']}"
												styleClass="btn btn-sm bg-info font-iconmoon m-l-10" />
										</div>
									</div>
								</div>
							</div>


							<div class="row label-form">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<h4 class="bord_bot m-t-10">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Supplier Details</span>
									</h4>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="Supplier Code / Name" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location3"></i></span>
		<p:inputText styleClass="form-control" id="suppliername" required=" " requiredMessage=" " disabled="true" >
														</p:inputText>
													</div>
												</div>
											</div>


											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="GSTIN Mumber" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="gstnumber"
															required=" " requiredMessage=" " disabled="true" >
														</p:inputText>
													</div>
												</div>
											</div>


											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pan_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="fannumber"
															required=" " requiredMessage=" " disabled="true" >
														</p:inputText>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Suplier Address" />
												<p:inputTextarea rows="7" cols="35"
													completeMethod="#{inputTextareaView.completeArea}"
													queryDelay="750" minQueryLength="4" disabled="true" />
											</div>
										</div>
									</div>
								</div>



								<div class="col-lg-6 col-md-6 col-sm-12">
									<h4 class="bord_bot m-t-10">
										<span class="iform-title"><i
											class="fa fa-th-large m-r-5"></i>Buyer Details</span>
									</h4>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="Buyer Code / Name" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-location3"></i></span>
														<p:inputText styleClass="form-control" id="buyercode"
															value="#{freeDistributionSystemBean.govtSchemePlan.planName}"
															disabled="true"
															required="#{not empty param[add.clientId]}"
															requiredMessage="#{msg['production_plan_name']} #{msg['required']}" >
														</p:inputText>
													</div>
												</div>
											</div>


											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="GSTIN Mumber" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="gstnumber1"
															required=" " requiredMessage=" " disabled="true" >
														</p:inputText>
													</div>
												</div>
											</div>


											<div class="col-lg-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['pan_no']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="fannumber1"
															required=" " requiredMessage=" " disabled="true" >
														</p:inputText>
													</div>
												</div>
											</div>
										</div>

										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="form-group">
												<p:outputLabel value="Buyer Address" />
												<p:inputTextarea rows="7" cols="35"
													completeMethod="#{inputTextareaView.completeArea}"
													queryDelay="750" minQueryLength="4" disabled="true" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div class="panel-body p-0">
							<div class="panel-heading">
								<h5 class="panel-title">
									<i class="icon-grid6 position-left"></i> #{msg['pdt_details']}
								</h5>
								<!-- <div class="heading-elements">
									<p class="text-right m-t-10">(#{msg['values_in_lakh']})</p>
								</div> -->

							</div>
							<div class="table-responsive">
								<div
									class="ui-datatable ui-widget ui-datatable-scrollable table">
									<div class="ui-datatable-scrollable-header-box cust-table">
										<table class="table m-0 cust-table">
											<thead>
												<tr>
													<th class="ui-state-default width-5" rowspan="2"
														align="center">#</th>
													<th class="ui-state-default" rowspan="2" align="center">Product
														Variety Code/Name</th>
													<th class="ui-state-default" rowspan="2" align="center">Unit
														of Measurement</th>
													<th class="ui-state-default" rowspan="2" align="center">HSN
														Code</th>
													<th class="ui-state-default" rowspan="2" align="center">Unit</th>
													<th class="ui-state-default" rowspan="2" align="center">Unit
														Price</th>
													<th class="ui-state-default" rowspan="2" align="center">GST
														Rate</th>
													<th class="ui-state-default" rowspan="2" align="center">GST
														Amount</th>
													<th class="ui-state-default" rowspan="2" align="center">Total
														Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td align="center">1</td>
													<td>SOCS / Selam Saree</td>
													<td class="text-center">Qty</td>
													<td class="text-center">5007</td>
													<td class="text-right">1</td>
													<td class="text-right">650</td>
													<td class="text-right">5%</td>
													<td class="text-right">33</td>
													<td style="text-align:right">683.00</td>

												</tr>
												<tr>
													<td align="center">2</td>
													<td>HS / Cotton Shirt</td>
													<td class="text-center">Qty</td>
													<td class="text-center">6304</td>
													<td class="text-right">1</td>
													<td class="text-right">700</td>
													<td class="text-right">12%</td>
													<td class="text-right">84</td>
													<td style="text-align:right">784.00</td>
												</tr>

											</tbody>
											<tfoot>
												<tr>

													<td align="right" colspan="8"><strong>SUB TOTAL</strong> <p:outputLabel value="&nbsp;(&#xf156;)"
															styleClass="fa-input" /></td>
													<td align="right">1350.00</td>

												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="panel-body p-0">
									<div class="col-lg-12 col-md-12 col-sm-12 m-b-10 text-right">
										<table class="table m-t-0 cust-table"
											style="width: 26%; float: right;">
											<tr>
												<td class="text-right">CGST 2.5%</td>
												<td class="text-right">16.00</td>
											</tr>
											<tr>
												<td class="text-right">SGST 2.5%</td>
												<td class="text-right">16.00</td>
											</tr>
											<tr>

												<td class="text-right">CGST 6.0%</td>
												<td class="text-right">42.00</td>
											</tr>
											<tr>

												<td class="text-right">SGST 6.0%</td>
												<td class="text-right">42.00</td>
											</tr>

											<tr class="success">
												<td class="text-right"><strong> TOTAL </strong> <p:outputLabel
														value="&nbsp;(&#xf156;)" styleClass="fa-input" /></td>
												<td class="text-right"><strong> 1467.00 </strong></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="panel-body">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group  m-t-10">
											<p:outputLabel value="Terms and Conditions" />
											<span class="mand-red">*</span>
											<p:inputTextarea rows="4" cols="80"
												completeMethod="#{inputTextareaView.completeArea}"
												queryDelay="750" minQueryLength="4" />
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-sm-12">
										<div class="form-group  m-t-10 m-l-10">
											<p:outputLabel value="Quotation Validity Date" />
											<div class="form-group_calend">
												<p:calendar pattern="dd-MM-yyyy" placeholder="DD-MM-YY"
													mask="true" required="true" requiredMessage="Required"
													styleClass="form-control calend-icon" />
											</div>
										</div>
									</div>
									<div
										class="col-lg-3 col-md-3 col-sm-12 text-right m-t-20">
										<input type="submit" value="&#xed6a;&nbsp;Cancel"
											title="Cancel" class="btn bg-slate heading-btn font-iconmoon" />
										<input type="submit" value="&#xea18;&nbsp;Preview"
											title="Preview"
											class="btn bg-primary heading-btn font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
		</div>
	</ui:define>
</ui:composition>
