<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | Retail Sales - Final Production Plan List</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['retail_sales']} - #{msg['final_pdt_plan_list']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['pdt_planning']}</li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['retail_sales']} -
								#{msg['final_pdt_plan_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h6 class="panel-title">
							<h:panelGroup id="pageSize">
								<strong><h:outputText
										value="#{retailProductionHeadOfficeBean.listSize}" /></strong>
							</h:panelGroup>
							- #{msg['final_production_plan']}(#{msg['list_s']}) <a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xec56; #{msg['list_regi']}"
								title="#{msg['list_regi']}"
								action="#{retailProductionRegionalOfficeBean.getRegionalOfficePlanList(retailProductionHeadOfficeBean.retailProductionPlanResponse.planId)}"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>

							<p:commandButton update="growls" immediate="true"
								action="#{retailProductionHeadOfficeBean.viewFinalPlan}"
								value="&#xea18;&nbsp;#{msg['view']}" title="#{msg['view']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								title="#{msg['clear']}" onclick="location.reload();"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>

				<p:dialog header="#{msg['confirmation']}" widgetVar="dlg1"
					modal="true" position="center" resizable="false" closable="false"
					width="30%" styleClass="cus-model-popup card_dialogbox p-0">
					<h:form>
						<div class="modal-body p-0">
							<div class="bot-space text-center">
								<h5 class="line-height18">#{msg['confirm_delete']}</h5>
							</div>
						</div>
						<div class="modal-footer text-center">
							<h:commandButton
								styleClass="btn btn-sm btn-danger ui-confirmdialog-no "
								value="#{msg['no']}" onclick="PF('dlg1').hide();">
							</h:commandButton>
							<h:commandButton
								styleClass="btn btn-sm btn-success ui-confirmdialog-yes m-l-5"
								value="#{msg['yes']}"
								action="#{retailProductionPlanBean.delete}"
								onclick="PF('dlg1').hide();">
							</h:commandButton>
						</div>
					</h:form>
				</p:dialog>

				<div class="row">
					<div class="col-lg-12">
						<div class="panel m-b-0">
							<div class="panel-body p-0">
								<div class="table-responsive">
									<div
										class="ui-datatable ui-widget ui-datatable-scrollable table">
										<div class="ui-datatable-scrollable-header-box cust-table">
											<p:dataTable id="table" widgetVar="table" var="data"
												class="table"
												selection="#{retailProductionHeadOfficeBean.retailProductionPlanResponse}"
												rowKey="#{data.planId}"
												value="#{retailProductionHeadOfficeBean.retailProductionPlanResponseLazyList}"
												lazy="true" emptyMessage="#{msg['no_records_found']}"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												rows="10" paginator="true" paginatorPosition="bottom"
												tableStyleClass="" rowsPerPageTemplate="5,10,15"
												rowIndexVar="idx">

												<p:ajax event="filter" oncomplete="updateFilterSelection()" />

												<p:column headerText="#" styleClass="text-center width-3">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['plan_code']} / #{msg['name']}"
													filterMatchMode="contains" filterable="true"
													filterBy=" #{data.codeOrName}" sortBy=" #{data.codeOrName}"
													sortable="true">
													<h:outputText value="#{data.planCode} / #{data.planName}" />
												</p:column>

												<p:column headerText="#{msg['plan_dt']} - #{msg['from']}"
													styleClass="text-center form-group_calend width-12"
													sortBy="#{data.planFrom}" sortable="true"
													filterBy="#{data.planFrom}" filterMatchMode="exact">
													<f:facet name="filter">
														<p:calendar onchange="PF('table').filter()"
															navigator="true" id="productionplanfrom"
															pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
															mask="true" styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
															<p:ajax event="change" execute="@this"
																oncomplete="PF('table').filter()" update="table,@form" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.planFrom}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['plan_dt']} - #{msg['to']}"
													styleClass="text-center form-group_calend width-12"
													sortBy="#{data.planTo}" sortable="true"
													filterBy="#{data.planTo}" filterMatchMode="exact">
													<f:facet name="filter">
														<p:calendar onchange="PF('table').filter()"
															navigator="true" id="productionplanTo"
															pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
															mask="true" styleClass="form-control calend-icon">
															<p:ajax event="dateSelect" update="table,@form"
																oncomplete="PF('table').filter()" />
															<p:ajax event="change" execute="@this"
																oncomplete="PF('table').filter()" update="table,@form" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.planTo}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column filterBy=" #{data.stageOrStatus}"
													headerText="#{msg['plan_stage']} / #{msg['status']}"
													filterMatchMode="contains" filterable="true"
													sortBy=" #{data.stageOrStatus}" sortable="true"
													styleClass="text-center width-15">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('table').filter()"
															id="statusDropdown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems
																value="#{retailProductionPlanBean.statusAndStageValues}"
																var="status" itemLabel="#{status}" itemValue="#{status}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{data.status.name().replace('_', ' ')}"
														styleClass="label label-default width-custom"
														rendered="#{data.status eq 'INITIATED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ') } - #{ data.status.name().replace('_', ' ')}"
														styleClass="label label-warning width-custom"
														rendered="#{data.status eq 'SUBMITTED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{data.status.name().replace('_', ' ')}"
														styleClass="label label-success width-custom"
														rendered="#{data.status eq 'APPROVED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{ data.status.name().replace('_', ' ')}"
														styleClass="label label-danger width-custom"
														rendered="#{data.status eq 'REJECTED'}" />
												</p:column>

												<p:column headerText="#{msg['select']}"
													selectionMode="single" styleClass="text-center width-4" />
											</p:dataTable>

											<p:remoteCommand name="updateFilterSelection"
												update=":#{p:component('pageSize')}" autoRun="true" />

											<!-- <div class="dataTables_info m-b-0 m-l-5"
												id="DataTables_Table_2_info" role="status"
												aria-live="polite">
												<button type="button" title="Download PDF"
													class="btn btn-primary btn-xs">
													<i class="icon-file-pdf position-left"></i>PDF
												</button>
												<button type="button" title="Download Excel"
													class="btn btn-success btn-xs">
													<i class="icon-file-excel position-left"></i>Excel
												</button>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
