<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="topForm">
			<title>InfoTex | Retail Sales - Showroom Production Plan List</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['retail_sales']} - #{msg['show_pdt_plan_list']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['retail_sales']} -
								#{msg['show_pdt_plan_list']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<h:panelGroup id="countId">
							<h6 class="panel-title">
								<strong><h:outputText
										value="#{retailProductionPlanShowroomBean.resultSize}" /> </strong> <strong><h:outputText
										value=" - "
										rendered="#{retailProductionPlanShowroomBean.resultSize!=null}" />
								</strong> #{msg['showroom_wise_plan']} (#{msg['list_s']}) <a
									class="heading-elements-toggle"><i class="icon-more"></i></a>
							</h6>
						</h:panelGroup>
					</div>

					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xe912;&nbsp;#{msg['edit']}"
								title="#{msg['edit']}" update="growls"
								action="#{retailProductionPlanShowroomBean.editPlanByShowroom()}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xea18;&nbsp;#{msg['view']}"
								title="#{msg['view']}" update="growls"
								action="#{retailProductionPlanShowroomBean.viewPlan('SHOWROOM',null)}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-info heading-btn  font-iconmoon">
							</p:commandButton>
							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['clear']}"
								onclick="location.reload();" class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel">
							<div class="panel-body p-0">
								<div class="table-responsive">
									<div
										class="ui-datatable ui-widget ui-datatable-scrollable table">
										<div class="ui-datatable-scrollable-header-box cust-table">
											<p:dataTable id="table" var="data" widgetVar="table"
												lazy="true"
												value="#{retailProductionPlanShowroomBean.retailProductionPlanResponseLazyList}"
												selection="#{retailProductionPlanShowroomBean.retailProductionPlanResponse}"
												rowKey="#{data.planId}" tableStyleClass="table table-hover"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												paginator="true" paginatorPosition="bottom"
												rowsPerPageTemplate="5,10,15" rows="10" rowIndexVar="idx"
												emptyMessage="#{msg['no_records_found']}">

												<p:ajax event="filter" oncomplete="updateFilterSelection()" />

												<p:ajax event="page" onstart="PF('statusDialog').show()"
													onsuccess="PF('statusDialog').hide()" />

												<p:column headerText="#" styleClass="width-3 text-center">
													<h:outputText value="#{idx+1}" />
												</p:column>

												<p:column headerText="#{msg['plan_code_name']}"
													styleClass="width-20" filterMatchMode="contains"
													filterable="true" filterBy=" #{data.codeOrName}"
													sortBy=" #{data.codeOrName}" sortable="true">
													<h:outputText value="#{data.planCode}/#{data.planName}" />
												</p:column>

												<p:column headerText="#{msg['plan_dt']} - #{msg['from']}"
													filterBy="#{data.planFrom}"
													styleClass="text-center form-group_calend width-12"
													filterMatchMode="equals" sortBy="#{data.planFrom}"
													sortable="true">

													<f:facet name="filter">
														<p:calendar onchange="PF('table').filter()" id="planFrom"
															pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
															navigator="true" mask="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.planFrom}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['plan_dt']} - #{msg['to']}"
													filterBy="#{data.planTo}"
													styleClass="text-center form-group_calend width-12"
													filterMatchMode="equals" sortBy="#{data.planTo}"
													sortable="true">
													<f:facet name="filter">
														<p:calendar onchange="PF('table').filter()" id="planTo"
															pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
															navigator="true" mask="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.planTo}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['received_dt']}"
													filterBy="#{data.receivedDate}"
													styleClass="text-center form-group_calend width-12"
													filterMatchMode="equals" sortBy="#{data.receivedDate}"
													sortable="true">
													<f:facet name="filter">
														<p:calendar id="receivedDate"
															onchange="PF('table').filter()" pattern="dd-MMM-yyyy"
															placeholder="dd-MMM-yyyy" mask="true" navigator="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.receivedDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>

												<p:column headerText="#{msg['due_date']}"
													filterBy="#{data.dueDate}"
													styleClass="text-center form-group_calend width-12"
													filterMatchMode="exact" sortBy="#{data.dueDate}"
													sortable="true">
													<f:facet name="filter">
														<p:calendar id="dueDate" onchange="PF('table').filter()"
															pattern="dd-MMM-yyyy" placeholder="dd-MMM-yyyy"
															navigator="true" mask="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('table').filter()" />
														</p:calendar>
													</f:facet>
													<h:outputText value="#{data.dueDate}">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</p:column>


												<p:column filterBy=" #{data.stageOrStatus}"
													headerText="Plan Stage / Status" filterMatchMode="contains"
													filterable="true" sortBy=" #{data.stageOrStatus}"
													sortable="true" styleClass="text-center width-15">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('table').filter()"
															id="statusDropdown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																itemValue="#{null}" noSelectionOption="true" />
															<f:selectItems
																value="#{retailProductionPlanShowroomBean.statusAndStageValues}"
																var="status" itemLabel="#{status}" itemValue="#{status}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{data.status.name().replace('_', ' ')}"
														styleClass="label label-default width-custom"
														rendered="#{data.status eq 'INITIATED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ') } - #{ data.status.name().replace('_', ' ')}"
														styleClass="label label-warning width-custom"
														rendered="#{data.status eq 'SUBMITTED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{data.status.name().replace('_', ' ')}"
														styleClass="label label-success width-custom"
														rendered="#{data.status eq 'APPROVED'}" />

													<h:outputText
														value="#{data.stage.name().replace('_', ' ')} - #{ data.status.name().replace('_', ' ')}"
														styleClass="label label-danger width-custom"
														rendered="#{data.status eq 'REJECTED'}" />
												</p:column>

												<p:column headerText="#{msg['select']}"
													styleClass="text-center width-4" selectionMode="single">
												</p:column>

											</p:dataTable>
											<p:remoteCommand name="updateFilterSelection"
												update=":#{p:component('countId')}" autoRun="true" />
											<!-- <div class="dataTables_info m-b-0 m-l-5"
												id="DataTables_Table_2_info" aria-live="polite">
												<button type="button" title="Download PDF"
													class="btn btn-primary btn-xs">
													<i class="icon-file-pdf position-left"></i>PDF
												</button>
												<button type="button" title="Download Excel"
													class="btn btn-success btn-xs">
													<i class="icon-file-excel position-left"></i>Excel
												</button>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>

			</div>
		</h:form>
	</ui:define>
</ui:composition>