<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
			<title>InfoTex | Plan Input Form List - Retail Production
				Plan</title>
			<!-- Page Header -->
			<div class="page-header page-header-default"
				style="margin-top: 50px;">
				<div class="page-header-content">
					<div class="page-title">
						<h4>
							<i class="icon-arrow-left52 position-left"></i>#{msg['plan_input_form_list']}
							- #{msg['retail_pdt_plan']}
						</h4>
						<ul class="breadcrumb">
							<li><a href="index.html"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li><a href="#">#{msg['oper']}</a></li>
							<li><a href="#">#{msg['retail_pdt_plan']}</a></li>
							<li class="active">#{msg['plan_input_form_list']} -
								#{msg['retail_pdt_plan']}</li>
						</ul>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- End Page Header -->

			<div class="content">
				<div class="row">
					<div class="col-lg-6">
						<h6 class="panel-title">
							Total Input Form Request :
							<p:outputLabel value="#{retailInputFormBean.totalFormSize}"></p:outputLabel>
							<a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-6 text-right">
						<div class="form-group m-b-10">
							<p:commandButton update="growls"
								action="#{employeeServiceRegisterBean.showEmployeeForm}"
								value="&#xe912;&nbsp;#{msg['edit']}" title="Edit"
								class="btn bg-primary font-iconmoon">
								<f:setPropertyActionListener value="EDIT"
									target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton update="growls"
								action="#{employeeServiceRegisterBean.showEmployeeForm}"
								value="&#xea18;&nbsp;#{msg['view']}" title="View"
								class="btn bg-info heading-btn  font-iconmoon">
								<f:setPropertyActionListener value="VIEW"
									target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
							<p:commandButton value="&#xe99e;&nbsp;#{msg['delete']}"
								title="Delete" update="growls"
								action="#{employeeServiceRegisterBean.showEmployeeForm}"
								class="btn bg-danger font-iconmoon m-r-10">
								<f:setPropertyActionListener value="DELETE"
									target="#{employeeServiceRegisterBean.action}"></f:setPropertyActionListener>
								<p:confirm header="#{msg['confirmation']}"
									message=" #{msg['confirm_delete']}?" />
							</p:commandButton>
							<p:commandButton update="growls"
								action="#{retailInputFormBean.showRetailInputForm}"
								value="&#xea0e;&nbsp;#{msg['add']}" title="Add"
								class="btn bg-success font-iconmoon m-r-0">
								<f:setPropertyActionListener value="ADD"
									target="#{retailInputFormBean.action}"></f:setPropertyActionListener>
							</p:commandButton>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel">
							<div class="panel-body p-0">
								<div class="table-responsive">
									<div
										class="ui-datatable ui-widget ui-datatable-scrollable table">
										<div class="ui-datatable-scrollable-header-box cust-table">
											<p:dataTable id="table" var="data" class="table"
												selection="#{retailInputFormBean.retailInputFormListDTO}"
												widgetVar="retailTable"
												emptyMessage="No records found with given criteria"
												rowKey="#{data.id}"
												value="#{retailInputFormBean.lazyInputFormList}" lazy="true"
												paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
												rows="5" paginator="true" paginatorPosition="bottom"
												tableStyleClass="" rowsPerPageTemplate="5,10,15"
												rowIndexVar="idx">
												<p:column headerText="#{msg['serial_no']}"
													style="width:50px; text-align:center;">
													<h:outputText value="#{idx+1}" />
												</p:column>
												<p:column filterable="true"
													filterBy="#{data.productionPlanName}"
													filterMatchMode="contains" style="width:16%;"
													headerText="#{msg['production_plan_name']}"
													sortBy="#{data.productionPlanName}" sortable="true">
													<h:outputText value="#{data.productionPlanName}" />
												</p:column>
												<p:column filterable="true" filterBy="#{data.planNumber}"
													filterMatchMode="contains"
													headerText="#{msg['plan_input_code']}"
													sortBy="#{data.planNumber}" sortable="true">
													<h:outputText value="#{data.planNumber}" />
												</p:column>
												<p:column filterable="true"
													filterBy="#{data.producingRegionName}"
													headerText="#{msg['region_name']}"
													sortBy="#{data.producingRegionName}" sortable="true">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('retailTable').filter()"
															id="regionDropDown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{retailInputFormBean.entityMasterRegionWiseList}"
																var="prodRegion" itemLabel="#{prodRegion.name}"
																itemValue="#{prodRegion.id}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText value="#{data.producingRegionName}" />
												</p:column>
												<p:column filterable="true"
													filterBy="#{data.productCategoryName}"
													headerText="#{msg['pro_cat']}"
													sortBy="#{data.productCatName}" sortable="true">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('retailTable').filter()"
															id="productCategoryDropdown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems
																value="#{retailInputFormBean.productCategoryList}"
																var="category" itemLabel="#{category.productCatName}"
																itemValue="#{category.id}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText value="#{data.productCategoryName}" />
												</p:column>

												<p:column filterable="true" id="date"
													headerText="#{msg['created_date']}"
													filterFunction="#{retailInputFormBean.filterByDate}"
													filterBy="#{data.createdDate}" sortBy="#{data.createdDate}"
													sortable="true">
													<f:facet name="filter">
														<p:calendar id="cal1" pattern="dd-MM-yyyy"
															placeholder="DD-MMM-YYYY" mask="true"
															styleClass="form-control calend-icon">
															<p:ajax event="dateSelect"
																oncomplete="PF('retailTable').filter()" update="table" />
														</p:calendar>
													</f:facet>
													<p:outputLabel value="#{data.createdDate}">
														<f:convertDateTime pattern="yyyy-MM-dd" />
													</p:outputLabel>
												</p:column>
												<p:column filterable="true" filterBy="#{data.status}"
													headerText="#{msg['status']}" sortBy="#{data.status}"
													sortable="true">
													<f:facet name="filter">
														<h:selectOneMenu onchange="PF('retailTable').filter()"
															id="statusDropdown" class="form-control select2">
															<f:selectItem itemLabel="#{msg['select']}"
																noSelectionOption="true" />
															<f:selectItems value="#{retailInputFormBean.statusList}"
																var="status" itemLabel="#{status}" itemValue="#{status}" />
														</h:selectOneMenu>
													</f:facet>
													<h:outputText value="#{data.status}"
														styleClass="#{data.status eq 'DRAFT' ? 'label bg-success-400':'label bg-danger-400'}" />
												</p:column>
												<p:column selectionMode="single" headerText="Select"
													style="text-align : center">
												</p:column>
											</p:dataTable>
											<div class="dataTables_info m-b-0 m-l-10"
												id="DataTables_Table_2_info" role="status"
												aria-live="polite">
												<p:commandButton id="getneratePdfButton" class="btn btn-primary btn-xs" value="#{msg['operation_retail_input_form_pdf']}"
													actionListener="#{retailInputFormBean.generatePDF}" icon="ui-icon-disk">
												</p:commandButton>
												<button type="button" title="Download Excel"
													class="btn btn-success btn-xs">
													<i class="icon-file-excel position-left"></i>Excel
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
