<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Retail Production Plan Showroom List (For HO)</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>Retail Production Plan Showroom List (For HO)
					</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['operation_retail_production_plan']}</li>
						<li class="active">Retail Production Plan Showroom List (For HO)</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>

		<div class="content">
			<div class="row">
				<div class="col-lg-6">
					<h6 class="panel-title">
						Total Count : 5 <a
							class="heading-elements-toggle"><i class="icon-more"></i></a>
					</h6>
				</div>
				<div class="col-lg-6 text-right">
					<div class="form-group m-b-10">
						<p:commandButton value="&#xe912; #{msg['edit']}" onclick="location.href='finalProductionPlanHoUpdate.xhtml';"
							class="btn bg-primary font-iconmoon">
						</p:commandButton>
						<p:commandButton value="&#xea18; #{msg['view']}"  onclick="location.href='finalProductionPlanHo.xhtml';"
							class="btn bg-info heading-btn  font-iconmoon">
						</p:commandButton>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body p-0">
					<div class="table-lay-a">
						<div class="table-responsive">
							<div class="ui-datatable ui-widget ui-datatable-scrollable table">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="ui-state-default text-center width-5"><span
												class="ui-column-title">S.No</span></th>

											<th class="ui-state-default text-center" style="width: 18%"><p:outputLabel
													value="#{msg['sroom_code']} / #{msg['name']}" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<p:inputText value="" class="form-control" /></th>

											<th class="ui-state-default text-center" style="width: 18%"><p:outputLabel
													value="Production Plan Code / Name" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<p:inputText value="" class="form-control" /></th>

											<th class="ui-state-default text-center"><p:outputLabel
													value="Plan From" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<div class="form-group_calend">
													<p:calendar pattern="dd-MM-yyyy" mask="true"
														required="true" requiredMessage="Required"
														styleClass="form-control calend-icon" />
												</div></th>
											<th class="ui-state-default text-center"><p:outputLabel
													value="Plan To" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<div class="form-group_calend">
													<p:calendar pattern="dd-MM-yyyy" mask="true"
														required="true" requiredMessage="Required"
														styleClass="form-control calend-icon" />
												</div></th>
											<th class="ui-state-default text-center"><p:outputLabel
													value="Due Date" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<div class="form-group_calend">
													<p:calendar pattern="dd-MM-yyyy" mask="true"
														required="true" requiredMessage="Required"
														styleClass="form-control calend-icon" />
												</div></th>
											<th class="ui-state-default text-center" style="width: 13%"><p:outputLabel
													value="#{msg['net_eligible_pp']}" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<p:inputText value="" class="form-control" /></th>
											<th class="ui-state-default text-center"><p:outputLabel
													value="Status" /> <span
												class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
												<p:inputText value="" class="form-control" /></th>
											<th class="ui-state-default text-center width-5"><p:outputLabel
													value="#{msg['select']}" /></th>
										</tr>
									</thead>

									<tbody>

										<tr>
											<td class="text-center">1</td>
											<td>1123/Vannamalar Showroom</td>
											<td>RPP/2017-2018</td>
											<td class="text-center">10-Mar-2015</td>
											<td class="text-center">10-Apr-2016</td>
											<td class="text-center">15-Apr-2016</td>
											<td class="text-right">10000.00</td>
											<td class="text-success"><span
												class="label label-warning">Pending</span></td>
											<td class="text-center"><input type="radio" /></td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td>1138/Alwaye Showroom</td>
											<td>RPP/2017-2018</td>
											<td class="text-center">10-Mar-2016</td>
											<td class="text-center">10-Apr-2017</td>
											<td class="text-center">15-Apr-2017</td>
											<td class="text-right">15000.00</td>
											<td class="text-success"><span
												class="label label-success">Completed</span></td>

											<td class="text-center"><input type="radio" /></td>
										</tr>
										<tr>
											<td class="text-center">3</td>
											<td>1139/Trichur Showroom</td>
											<td>RPP/2017-2018</td>
											<td class="text-center">10-Mar-2017</td>
											<td class="text-center">10-Apr-2018</td>
											<td class="text-center">15-Apr-2018</td>
											<td class="text-right">30000.00</td>
											<td class="text-success"><span
												class="label label-warning">Pending</span></td>

											<td class="text-center"><input type="radio" /></td>
										</tr>
										<tr>
											<td class="text-center">4</td>
											<td>1140/Calicut Showroom</td>
											<td>RPP/2017-2018</td>
											<td class="text-center">10-Mar-2017</td>
											<td class="text-center">10-Apr-2018</td>
											<td class="text-center">15-Apr-2018</td>
											<td class="text-right">20000.00</td>
											<td class="text-success"><span
												class="label label-warning">Pending</span></td>

											<td class="text-center"><input type="radio" /></td>
										</tr>
										<tr>
											<td class="text-center">5</td>
											<td>1146/Vasantham Showroom</td>
											<td>RPP/2017-2018</td>
											<td class="text-center">10-Mar-2017</td>
											<td class="text-center">10-Apr-2018</td>
											<td class="text-center">15-Apr-2018</td>
											<td class="text-right">50000.00</td>
											<td class="text-success"><span
												class="label label-warning">Pending</span></td>

											<td class="text-center"><input type="radio" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="dataTables_paginate paging_simple_numbers m-t-10 m-b-0 m-r-10">
						<div class="dataTables_info m-r-10 m-b-0" id="DataTables_Table_0_info "
							role="status" aria-live="polite">Showing 1 to 10 of 15
							entries</div>
						<ul class="pagination pagination-separated">
							<li><a href="#">&lsaquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&rsaquo;</a></li>
							<li>
								<div class="dataTables_length" id="DataTables_Table_1_length">
									<label><select name="DataTables_Table_1_length"
										aria-controls="DataTables_Table_1"
										class="select2-hidden-accessible" tabindex="-1"
										aria-hidden="true"><option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option></select><span
										class="select2 select2-container select2-container--default"
										dir="ltr" style="width: auto;"><span class="selection"><span
												class="select2-selection select2-selection--single"
												role="combobox" aria-haspopup="true" aria-expanded="false"
												tabindex="0"
												aria-labelledby="select2-DataTables_Table_1_length-hy-container"><span
													class="select2-selection__rendered"
													id="select2-DataTables_Table_1_length-hy-container"
													title="10">10</span><span class="select2-selection__arrow"
													role="presentation"><b role="presentation"></b></span></span></span><span
											class="dropdown-wrapper" aria-hidden="true"></span></span></label>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>


		</div>
	</ui:define>
</ui:composition>