<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<ui:include src="retailPlanWorkFlowCSS.xhtml" />
		<h:form id="retailPlan">
			<f:metadata>
				<f:event type="preRenderView"
					listener="#{retailProductionPlanBean.authentication}" />
			</f:metadata>
			<title>InfoTex | Retail Sales - Initial Production Plan</title>

			<style type="text/css">
#steps-uid-0-t-0 span.number {
	font-size: 14px;
}
</style>
			<!-- Page Header -->

			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{msg['retail_sales']} -
							#{retailProductionPlanBean.action eq 'ADD' ?
							msg['create_initial_pdt_plan'] : msg['ed_initial_pdt_plan']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['oper']}</li>
							<li>#{msg['retail_pdt_plan']}</li>
							<li class="active">#{msg['retail_sales']} -
								#{retailProductionPlanBean.action eq 'ADD' ?
								msg['create_initial_pdt_plan'] : msg['ed_initial_pdt_plan']}</li>
						</ul>

					</div>

					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content p-content">
				<ui:include src="retailPlanWorkFlow.xhtml" />
			</div>

			<div class="content no-padding-bottom">
				<div class="page-scroll-with-process-insight-panel x-hide">
					<div
						class="panel-group panel-group-control panel-group-control-right m-b-10"
						id="accordion-control-right">
						<div class="panel panel-info ">
							<div class="panel-heading">
								<h6 class="panel-title">
									<a data-toggle="collapse"
										data-parent="#accordion-control-right" class="block"
										href="#accordion-control-right-group1">#{msg['retail_pdt_plan']}
										<span class="pull-right text-13">(<span
											class="text-danger">*</span>
											#{msg['marked_field_mandatory']})
									</span>
									</a>
								</h6>
							</div>

							<div id="accordion-control-right-group1"
								class="panel-collapse #{retailProductionPlanBean.dataToggle}">
								<div class="panel-body p-t-10">
									<div class="row label-form">
										<div class="col-md-6">
											<div class="row">
												<div class="col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['plan_name']}" for="planName" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="planName"
															rendered="#{empty param[generate.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-file-plus2"></i></span>
															<h:inputText class="form-control" id="planName"
																maxlength="100"
																required="#{not empty param[generate.clientId]}"
																requiredMessage="#{msg['plan_name_req']}"
																validatorMessage="#{errorMap.msg(8526)}"
																value="#{retailProductionPlanBean.retailProductionPlanRequest.planName}"
																placeholder="">
																<p:ajax event="keyup" update="planNameMsg" />
																<f:validateLength minimum="3" maximum="100" />
															</h:inputText>
														</div>
														<h:message for="planName" id="planNameMsg"
															class="validation-error-label" />
														<p:tooltip for="planName" value="#{errorMap.msg(8526)}" />
														<p:focus for="planName"
															rendered="#{retailProductionPlanBean.retailProductionPlanRequest.planName==null}" />
													</div>
												</div>
												<!-- end col -->
												<div class="col-md-6 col-sm-6">
													<div class="form-group retail">
														<p:outputLabel
															value="#{msg['region_code']} / #{msg['name']}" />
														<span class="text-danger">*</span>
														<div class="multi-select-full">
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-tree6"></i></span>
																<p:selectCheckboxMenu id="regionMenu" appendTo="@this"
																	class="form-control"
																	required="#{retailProductionPlanBean.selectedRegions.size()==0 and not empty param[generate.clientId]}"
																	requiredMessage="#{msg['region_code_name_req']}"
																	value="#{retailProductionPlanBean.selectedRegions}"
																	widgetVar="regionSelect" panelStyle="width:250px"  
																	label="(#{retailProductionPlanBean.selectedRegions.size()}) Selected"
																	converter="#{entityConverter}" filter="true"
																	filterMatchMode="contains">
																	<f:selectItems var="region" itemValue="#{region}"
																		itemLabel="#{region.code}/#{region.name}"
																		value="#{retailProductionPlanBean.regionList}" />
																	<p:ajax update="regions,regionMenu,regionMenuMsg"
																		event="change" oncomplete="PF('regionSelect').show()"
																		listener="#{retailProductionPlanBean.changeRegions}"></p:ajax>
																	<p:ajax event="toggleSelect"
																		oncomplete="PF('regionSelect').show()"
																		update="regions,regionMenu,regionMenuMsg"
																		listener="#{retailProductionPlanBean.changeRegions}"></p:ajax>
																</p:selectCheckboxMenu>
															</div>
															<h:message for="regionMenu" id="regionMenuMsg"
																class="validation-error-label" />
														</div>
													</div>
													<h:outputText id="regions" rows="4" cols="20"
														escape="false" class="form-control m-t-5 multi-scroll"
														disabled="true"
														value="#{retailProductionPlanBean.regionNames}"
														placeholder="Region Name"></h:outputText>
												</div>

												<div class="col-md-6 col-sm-6">
													<div class="form-group retail">
														<p:outputLabel
															value="#{msg['prod_category_code']} / #{msg['name']}" />
														<span class="text-danger">*</span>
														<div class="multi-select-full">
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="icon-stack3"></i></span>
																<p:selectCheckboxMenu id="categoryMenu" appendTo="@this"
																	class="form-control ui-check-456"
																	required="#{retailProductionPlanBean.selectedproductCategories.size()==0 and not empty param[generate.clientId]}"
																	requiredMessage="#{msg['prod_cate_code_name_req']}"
																	value="#{retailProductionPlanBean.selectedproductCategories}"
																	widgetVar="productCategorySelect"
																	panelStyle="width:250px"
																	label="(#{retailProductionPlanBean.selectedproductCategories.size()}) Selected"
																	converter="#{entityConverter}" filter="true"
																	filterMatchMode="contains">
																	<f:selectItems var="category" itemValue="#{category}"
																		itemLabel="#{category.productCatCode}/#{category.productCatName}"
																		value="#{retailProductionPlanBean.productCategoryList}" />
																	<p:ajax
																		update="categories,categoryMenu,categoryMenuMsg"
																		event="change"
																		oncomplete="PF('productCategorySelect').show()"
																		listener="#{retailProductionPlanBean.changeProductCategory}"></p:ajax>
																	<p:ajax event="toggleSelect"
																		oncomplete="PF('productCategorySelect').show()"
																		update="categories,categoryMenu,categoryMenuMsg"
																		listener="#{retailProductionPlanBean.changeProductCategory}"></p:ajax>
																</p:selectCheckboxMenu>
															</div>
															<h:message for="categoryMenu" id="categoryMenuMsg"
																class="validation-error-label" />
														</div>
													</div>
													<h:outputText
														class="form-control m-t-5 m-b-10 multi-scroll"
														id="categories" disabled="true" escape="false"
														value="#{retailProductionPlanBean.productCategoryNames}"
														placeholder="Product Category Name"></h:outputText>
												</div>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel
														value="#{msg['production_plan']} - #{msg['from']}"
														for="planFromMonthYear" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="planFromMonthYear"
														rendered="#{empty param[generate.clientId]}" />
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12">
															<div class="form-group">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-calendar22"></i></span>
																	<h:selectOneMenu id="planFromMonthYear"
																		name="planFromMonthYear" class="form-control"
																		disabled="#{retailProductionPlanBean.retailProdPlanPeriodConfig!='ANY'}"
																		required="#{not empty param[generate.clientId]}"
																		requiredMessage="#{msg['production_plan_from_req']}"
																		value="#{retailProductionPlanBean.planFromMonthYear}">
																		<f:selectItem itemLabel="Month-Year"
																			itemValue="#{null}" />
																		<f:selectItems var="planFromMonthYear"
																			itemValue="#{planFromMonthYear}"
																			itemLabel="#{planFromMonthYear.split('-')[0].substring(0,3)}-#{planFromMonthYear.split('-')[1]}"
																			value="#{retailProductionPlanBean.planFromMonthYearList}" />
																		<p:ajax
																			update="planFromMonthYearMsg,planToMonthYear, salesFrom, salesTo"
																			event="change"
																			listener="#{retailProductionPlanBean.calculateSalesDuration('planFrom')}"></p:ajax>
																	</h:selectOneMenu>
																</div>
																<h:message for="planFromMonthYear"
																	id="planFromMonthYearMsg"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>
												<!-- end col -->

												<div class="col-lg-6 col-md-6 col-sm-6">
													<p:outputLabel
														value="#{msg['production_plan']} - #{msg['to']}"
														for="planToMonthYear" />
													<p:outputLabel value="*" class="text-danger mand-symbol"
														for="planToMonthYear"
														rendered="#{empty param[generate.clientId]}" />
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12">
															<div class="form-group">
																<div class="input-group">
																	<span class="input-group-addon"><i
																		class="icon-calendar22"></i></span>
																	<h:selectOneMenu id="planToMonthYear"
																		class="form-control"
																		required="#{not empty param[generate.clientId]}"
																		disabled="#{retailProductionPlanBean.retailProdPlanPeriodConfig!='ANY'}"
																		requiredMessage="#{msg['production_plan_to_req']}"
																		value="#{retailProductionPlanBean.planToMonthYear}">
																		<f:selectItem itemLabel="Month-Year"
																			itemValue="#{null}" />
																		<f:selectItems var="planToMonthYear"
																			itemValue="#{planToMonthYear}"
																			itemLabel="#{planToMonthYear.split('-')[0].substring(0,3)}-#{planToMonthYear.split('-')[1]}"
																			value="#{retailProductionPlanBean.planToMonthYearList}" />
																		<p:ajax
																			update="planToMonthYearMsg, salesFrom, salesTo"
																			event="change"
																			listener="#{retailProductionPlanBean.calculateSalesDuration('planTo')}"></p:ajax>
																	</h:selectOneMenu>
																</div>
																<h:message for="planToMonthYear" id="planToMonthYearMsg"
																	class="validation-error-label" />
															</div>
														</div>
													</div>
												</div>
												<!-- end col -->

												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel
															value="#{msg['prev_sales']} - #{msg['from_date']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<p:inputText id="salesFrom" type="text"
																class="form-control fa-input"
																value="#{retailProductionPlanBean.retailProductionPlanRequest.salesFrom}"
																disabled="true">
																<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
																	timeZone="#{loginBean.timeZone}" />
															</p:inputText>
														</div>
													</div>
												</div>
												<!-- end col -->
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="form-group">
														<p:outputLabel
															value="#{msg['prev_sales']} - #{msg['to_date']}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-calendar22"></i></span>
															<p:inputText id="salesTo" type="text"
																class="form-control fa-input"
																value="#{retailProductionPlanBean.retailProductionPlanRequest.salesTo}"
																disabled="true">
																<f:convertDateTime type="date" pattern="dd-MMM-yyyy"
																	timeZone="#{loginBean.timeZone}" />
															</p:inputText>
														</div>
													</div>
												</div>
												<!-- end col -->

												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-group">
														<p:outputLabel value="#{msg['bast_stock']}"
															for="baseStockPercentage" />
														<p:outputLabel value="*" class="text-danger mand-symbol"
															for="baseStockPercentage"
															rendered="#{empty param[generate.clientId]}" />
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-percent"></i></span>
															<h:inputText class="form-control fa-input" placeholder=""
																id="baseStockPercentage"
																value="#{retailProductionPlanBean.retailProductionPlanRequest.baseStockPercentage}"
																required="#{not empty param[generate.clientId]}"
																maxlength="5"
																validatorMessage="#{msg['invalid']} #{msg['bast_stock']}"
																converterMessage="#{msg['invalid']} #{msg['bast_stock']}"
																requiredMessage="#{msg['base_stock_per_req']}"
																onkeypress="if( (event.which == 47 || event.which &lt; 46 || event.which &gt; 57) ) return false;">
																<f:validateDoubleRange minimum="0.01" maximum="100.00" />
																<f:convertNumber pattern="#0.00" />
																<p:ajax update="baseStockPercentageMsg" event="keyup"></p:ajax>
															</h:inputText>
														</div>
														<h:message for="baseStockPercentage"
															id="baseStockPercentageMsg"
															class="validation-error-label" />
														<p:tooltip for="baseStockPercentage"
															value="#{errorMap.msg(8527)}" />

													</div>
												</div>
												<!-- end col -->
												<div class="col-md-6 text-right">
													<p:outputLabel value="&nbsp;"
														class="hidden-xs hidden-sm dis-block" />
													<h:commandButton update="growls"
														onclick="PF('statusDialog').show()"
														action="#{retailProductionPlanBean.clear}"
													    value="&#xe916;&nbsp;#{msg['clear']}"
														title="Cancel"
														class="btn bg-slate font-iconmoon cust-btn-h">
													</h:commandButton>
													<h:commandButton binding="#{generate}"
														validateClient="true" onclick="PF('statusDialog').show()"
														action="#{retailProductionPlanBean.generateRegionWisePlan}"
														value="&#xeda7;&nbsp;#{msg['generate']}"
														title="#{msg['generate']}"
														class="btn bg-primary font-iconmoon m-l-8 cust-btn-h">
													</h:commandButton>
												</div>
											</div>
										</div>
									</div>
									<div class="row"></div>
								</div>
							</div>
						</div>

					</div>
					<!--  search panel -->





					<div class="row">
						<div class="col-lg-12">
							<div class="panel m-b-0">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<h6 style="line-height: 0;">
													<h:outputText
														value="#{retailProductionPlanBean.regionWiseSalesList.size()}">
													</h:outputText>
													#{msg['re_pro_re']}
												</h6>
											</div>
										</div>
										<div class="col-md-6 text-right">
											<div class="form-group">(#{msg['values_in_lakh']})</div>
										</div>
									</div>
									<div class="table-responsive">
										<div
											class="ui-datatable ui-widget ui-datatable-scrollable table">
											<div class="ui-datatable-scrollable-header-box custom-form-1">
												<p:dataTable id="table" var="data" styleClass="report-table"
													rowKey="#{data.regionId}"
													selection="#{retailProductionPlanBean.selectedregionWiseSales}"
													value="#{retailProductionPlanBean.regionWiseSalesList}"
													emptyMessage="#{msg['no_record_found']}" rowIndexVar="idx">

													<p:column headerText="#" styleClass="text-center width-3">
														<h:outputText value="#{idx+1}" />
													</p:column>

													<p:column
														headerText="#{msg['region_code']} / #{msg['name']}"
														styleClass="width-15">
														<p:commandLink class="text-primary"
															oncomplete="PF('showroomdetail').show()"
															update="retailPlan:showroompopup"
															onstart="PF('statusDialog').show()"
															onsuccess="PF('statusDialog').hide()"
															value="#{data.regionCode}/#{data.regionName}"
															actionListener="#{retailProductionPlanBean.regionWiseCategoryList(data)}">
														</p:commandLink>
													</p:column>

													<p:column
														headerText="#{msg['retail_sales_value']}&lt;br/&gt;( &#xf156; )"
														styleClass="text-right fa-input width-10">
														<h:outputText value="#{data.netRetailSalesInRP/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column
														headerText="#{msg['base_stock_value']}&lt;br/&gt; ( &#xf156; )"
														styleClass="text-right fa-input width-10">
														<h:outputText value="#{data.baseStockValue/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column
														headerText="#{msg['tot_eligible']} &lt;br/&gt;( &#xf156; )"
														styleClass="text-right fa-input width-12">
														<h:outputText value="#{data.totalEligibilityInRP/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>

													<p:column styleClass="text-right fa-input width-12">
														<f:facet name="header">
													#{msg['close_stock_value']} (<i class="fa fa-inr"></i>)<br></br> #{msg['as_on']} (<h:outputText
																value="#{retailProductionPlanBean.retailProductionPlanRequest.stockClosedDate}">
																<f:convertDateTime pattern="dd-MMM-yyyy"
																	timeZone="#{loginBean.timeZone}" />
															</h:outputText>)</f:facet>

														<h:outputText value="#{data.stockValueAsOnDate/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column
														headerText="#{msg['net_eligi_rp']} &lt;br/&gt;( &#xf156; )"
														styleClass="text-right fa-input width-10">
														<h:outputText value="#{data.netEligibilityInRP/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column
														headerText="#{msg['net_eligible_pp']}&lt;br/&gt; ( &#xf156; )"
														styleClass="text-right fa-input width-10">
														<h:outputText value="#{data.totalPurchaseValue/100000}">
															<f:convertNumber pattern="#0.00" />
														</h:outputText>
													</p:column>
													<p:column headerText="#{msg['due_date']} *"
														styleClass="width-12">
														<div class="form-group form-group_calend m-b-0">
															<p:calendar id="dueDate" value="#{data.dueDate}"
																mindate="new Date()" placeholder="dd-mmm-yyyy"
																pattern="dd-MMM-yyyy" navigator="true"
																maxdate="#{retailProductionPlanBean.dueDateLimit}"
																required="#{not empty param[submit.clientId]}"
																requiredMessage="#{msg['due_date']} #{msg['required']}"
																styleClass="form-control-1 calend-icon-1">
																<p:ajax event="dateSelect" update="dueDateMsg" />
															</p:calendar>
														</div>
														<h:message for="dueDate" id="dueDateMsg"
															style="color:#e17576"></h:message>
													</p:column>
													<p:columnGroup type="footer"
														rendered="#{retailProductionPlanBean.regionWiseSalesList.size() != 0}">
														<p:row>
															<p:column colspan="2" footerText="#{msg['total']}" />
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.totalRetailSalesValue/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.totalBaseStockValue/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.totalEligibilityRP/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.totalClosingStockValue/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.netEligibilityRP/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
																<f:facet name="footer">
																	<h:outputText
																		value="#{retailProductionPlanBean.netEligibilityPP/100000}">
																		<f:convertNumber pattern="#0.00" />
																	</h:outputText>
																</f:facet>
															</p:column>
															<p:column>
															</p:column>
														</p:row>
													</p:columnGroup>
												</p:dataTable>
											</div>
										</div>
									</div>

									<div class="row m-t-10">
										<div class="col-lg-12 text-right">
											<h:commandButton update="growls"
												onclick="PF('statusDialog').show()"
												action="#{retailProductionPlanBean.getHeadOfficePlanList}"
												immediate="true" value="&#xed6a;&nbsp;#{msg['cancel']}"
												title="#{msg['cancel']}"
												class="btn bg-slate font-iconmoon cust-btn-h">
											</h:commandButton>
											<h:commandButton onclick="PF('statusDialog').show()"
												action="#{retailProductionPlanBean.saveDraftPlan}"
												validateClient="true"
												value="&#xead4;&nbsp;#{msg['save_draft']}"
												title="#{msg['save_draft']}"
												class="btn bg-primary font-iconmoon cust-btn-h m-l-8">
											</h:commandButton>
											<h:commandButton binding="#{submit}"
												onclick="PF('statusDialog').show()"
												action="#{retailProductionPlanBean.submitDraftPlan}"
												validateClient="true"
												value="#{retailProductionPlanBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{retailProductionPlanBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												title="#{retailProductionPlanBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
												class="btn bg-success font-iconmoon cust-btn-h m-l-8">
											</h:commandButton>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- end col -->
					</div>
				</div>
			</div>


			<p:dialog draggable="true" modal="true"
				header="#{msg['cate_wise_pro_plan']}"
				styleClass="p-0 overlay-pop modal-dialog" height="350" width="90%"
				closable="true" widgetVar="showroomdetail" showEffect="fade"
				hideEffect="fade" closeOnEscape="true" resizable="false">
				<p:outputPanel id="showroompopup">
					<div class="modal-body p-10 border0">

						<h6 class="">
							#{msg['region_code_name']} :
							<h:outputText
								value="#{retailProductionPlanBean.retailProductionPlanRequest.regionCodeOrName}">
							</h:outputText>
							&nbsp; #{msg['bast_stock']} :
							<h:outputText
								value="#{retailProductionPlanBean.retailProductionPlanRequest.baseStockPercentage}">
								<f:convertNumber pattern="#0.00"></f:convertNumber>
							</h:outputText>
							<span class="pull-right">#{msg['values_in_lakh']}</span>
						</h6>

						<div class="row">
							<div class="col-lg-12">
								<div class="table-lay-a">
									<p:dataTable id="detailsList" styleClass="report-table"
										value="#{retailProductionPlanBean.regionWiseCategoryDatalist}"
										rowIndexVar="idx" var="data"
										emptyMessage="#{msg['no_record_found']}">

										<p:column headerText="#" styleClass="width-3 text-center">
											<h:outputText value="#{idx+1}" />

										</p:column>
										<p:column headerText="#{msg['product_category_code_or_name']}">
											<h:outputText
												value="#{data.categoryCode}/#{data.categoryName}"></h:outputText>
										</p:column>
										<p:column headerText="#{msg['retail_sale_value']}"
											class="text-right">
											<h:outputText value="#{data.netRetailSalesInRP/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['bast_stock']}" class="text-right">
											<h:outputText value="#{data.baseStockValue/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['tot_eligible']}"
											class="text-right">
											<h:outputText value="#{data.totalEligibilityInRP/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['close_stock_as']} on "
											class="text-right">

											<f:facet name="header">
													#{msg['close_stock_value']} (<i class="fa fa-inr"></i>)<br></br> #{msg['as_on']} (<h:outputText
													value="#{retailProductionPlanBean.retailProductionPlanRequest.stockClosedDate}">
													<f:convertDateTime pattern="dd-MMM-yyyy"
														timeZone="#{loginBean.timeZone}" />
												</h:outputText>)</f:facet>

											<h:outputText value="#{data.stockValueAsOnDate/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>


										</p:column>
										<p:column headerText="#{msg['net_eligi_rp']}"
											class="text-right">
											<h:outputText value="#{data.netEligibilityInRP/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>
										<p:column headerText="#{msg['net_eligible_pp']}"
											class="text-right">
											<h:outputText value="#{data.totalPurchaseValue/100000}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</p:column>

										<p:columnGroup type="footer"
											rendered="#{retailProductionPlanBean.regionWiseCategoryDatalist.size() != 0}">
											<p:row>
												<p:column colspan="2" footerText="#{msg['total']}" />
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.netRetailSalesInRP).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.baseStockValue).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.totalEligibilityInRP).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.stockValueAsOnDate).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.netEligibilityInRP).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
												<p:column>
													<f:facet name="footer">
													<h:outputText value="#{retailProductionPlanBean.regionWiseCategoryDatalist.stream().map(data->data.totalPurchaseValue).sum()/100000}">
													<f:convertNumber pattern="#0.00" />
													</h:outputText>
													</f:facet>
												</p:column>
											</p:row>
										</p:columnGroup>
									</p:dataTable>

									<div class="text-right m-b-10 m-t-10">
										<p:commandButton value="&#xed6a; #{msg['cancel']}"
											title="#{msg['cancel']}"
											styleClass="btn btn-sm bg-slate font-iconmoon"
											oncomplete="PF('showroomdetail').hide()" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>



			<p:dialog header="#{msg['create_note']}" widgetVar="notedialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				width="80%" styleClass="p-0 top-100">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel-body p-0">
							<div class="tabbable">
								<ul
									class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component m-b-5">
									<li class="active"><a href="#large-tab1" data-toggle="tab">Note
											- 1</a></li>
									<li class="pull-right"><a href="#large-tab2"
										data-toggle="tab"> <i class="icon-plus3"></i></a></li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="large-tab1">
										<div class="panel-body p-0 m-b-10">
											<p:textEditor widgetVar="editor1" height="200" />
										</div>


										<div class='col-md-12'>
											<div class="carousel slide media-carousel" id="media">
												<div class="carousel-inner">
													<div class="item  active">
														<div class="row">
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="row">
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div class="item">
														<div class="row">
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>

															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
															<div class="col-md-3">
																<div
																	class="panel panel-body border-top-warning no-padding-bottom m-b-0 p-8 wysihtml5-sign">
																	<ul class="list list-icons m-b-0">
																		<li>
																			<!-- <i class="icon-checkmark-circle text-success position-left"></i> -->
																			<h6 class="m-t-0 text-center">Created By</h6>
																		</li>
																		<li>Name : Ramesh Kumar N</li>
																		<li>Designation : Ramesh Kumar N</li>
																		<li>Date : 12-Jul-2017</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<a data-slide="prev" href="#media"
													class="left carousel-control">‹</a> <a data-slide="next"
													href="#media" class="right carousel-control">›</a>
											</div>
										</div>
									</div>


								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 text-right">
									<div class="form-group m-b-0">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											class="btn bg-slate heading-btn  font-iconmoon" />
										<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
											class="btn bg-success heading-btn  font-iconmoon" />
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>


			<p:dialog header="#{msg['comment']}" widgetVar="commentdialog"
				modal="true" showEffect="fade" hideEffect="fade" resizable="false"
				styleClass="p-0">
				<h:form>
					<p:outputPanel id="customerPanel">
						<div class="panel panel-flat">
							<div class="panel-body p-0">
								<div class="tabbable">
									<ul class="nav nav-tabs nav-tabs-bottom">
										<li class="active"><a href="#solid-tab1"
											data-toggle="tab"><i class="icon-thumbs-up3"></i>
												#{msg['approve']}</a></li>
										<li><a href="#solid-tab2" data-toggle="tab"><i
												class="icon-thumbs-down3"></i> #{msg['reject']}</a></li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="solid-tab1">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Approved Comments</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>
												</tbody>
											</table>
										</div>

										<div class="tab-pane" id="solid-tab2">
											<table class="table table-striped cust-table">
												<tbody>
													<tr class="success">
														<td><strong>Rejection Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td>100% Cotton printed Bed spread, printed with fast
															Rapid Indigo colours and with over...</td>
													</tr>

													<tr>
														<td><strong>Reply Comment</strong></td>
														<td><span class="pull-left m-b-10">Given By</span> <span
															class="label label-flat border-success text-success-600 pull-right m-b-10">Admin
																User</span> <br /> <span class="pull-left">Given Date</span> <span
															class="label label-flat border-warning text-warning-600 pull-right">12-Dec-2017
														</span></td>
														<td><textarea name="enter-message"
																class="form-control" rows="3" cols="1"
																placeholder="What's on your mind?"></textarea></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 text-right">
								<div class="form-group m-b-0">
									<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
										class="btn bg-slate heading-btn  font-iconmoon" />
									<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
										class="btn bg-success heading-btn  font-iconmoon" />
								</div>
							</div>
						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>


			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js"></script>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/toolbar.js"></script>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/parsers.js"></script>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js"></script>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/editor_wysihtml5.js"></script>

			<script type="text/javascript"
				src="#{request.contextPath}/assets/js/pages/form_multiselect.js"></script>
		</h:form>
	</ui:define>
</ui:composition>


