<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">



		<title>InfoTex | Preview Quotation</title>

		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>#{msg['quotation']}
					</h4>
					<ul class="breadcrumb">
						<li><a href="#{msg['DefaultHomePage']}"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['retail_procure']}</li>
						<li>#{msg['quotation']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>

				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- End Page Header -->

		<div class="content page-scroll">


			<h4 class="bord_bot m-t-20">
				<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['quotation']}
				</span>
			</h4>

			<div class="panel panel-info ">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">
								<table class="table m-0 cust-table">
									<thead>
										<tr>
											<th class="ui-state-default width-5" align="center"></th>

											<th class="ui-state-default" align="center"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td width="90%">

												<p>
													<strong>Opp.To Railway Station Road </strong>
												</p>

												<p>
													<strong>No.81, State Bank Road,</strong>
												</p>
												<p>
													<strong>Coimbatore-641 018</strong>
												</p>
												<p>
													<strong>Tel: 4578125478</strong>
												</p>


											</td>

											<td class="text-center"><img
												src="#{request.contextPath}/assets/images/logo-new.jpg" /></td>



										</tr>


									</tbody>
									<tfoot>
										<tr>

											<td colspan="2" align="center"><strong>QUOTATION
													RAISED TO </strong></td>

										</tr>
										<tr>

											<td colspan="2" style="background-color: #ffffff !important;"><strong>The
													Tamilnadu Handloom Weavers Cooperative Society Ltd., <br></br>
													Chennai - 28
											</strong></td>

										</tr>
									</tfoot>
								</table>
							</div>

						</div>
					</div>
					<!-- end row -->


				</div>
			</div>


			<div class="row">
				<div class="col-lg-6 col-lg-6 col-md-6 col-sm-12 ">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th class="ui-state-default" align="center">DELIVERY
										ADDRESS</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td><strong>Opp.To Railway Station Road </strong></td>
								</tr>
								<tr>
									<td><strong>No.81, State Bank Road,</strong></td>
								</tr>
								<tr>
									<td><strong>Coimbatore-641 018</strong></td>
								</tr>
								<tr>
									<td><strong>Tel: 4578125478</strong></td>
								</tr>

							</tbody>

						</table>
					</div>

				</div>


				<div class="col-lg-6 col-lg-6 col-md-6 col-sm-12 ">
					<div class="table-responsive">
						<table class="table m-0 cust-table">
							<thead>
								<tr>
									<th colspan="2" class="ui-state-default" align="center">QUOTATION
										DETAILS</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>Quotation Number</td>
									<td><strong>7890 </strong></td>
								</tr>

								<tr>
									<td>Quotation Date</td>
									<td><strong>10-11-2017 </strong></td>
								</tr>



								<tr class="success">
									<td colspan="2" class="text-center"><strong>Billing
											Address </strong></td>
								</tr>

								<tr>
									<td colspan="2"><strong>Cooptex Head Office </strong></td>
								</tr>
								<tr>
									<td colspan="2"><strong>Pantheon Road,</strong></td>
								</tr>
								<tr>
									<td colspan="2"><strong>Chennai - 600003</strong></td>
								</tr>
								<tr>
									<td colspan="2"><strong>Tel: (044)1234-1234, Fax:
											(044)1234-1234</strong></td>
								</tr>

							</tbody>

						</table>
					</div>

				</div>

			</div>



			<div class="panel panel-info m-t-20">
				<div class="panel-body p-0">
					<div class="row">
						<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12">
							<div class="table-responsive">
								<table class="table m-0 cust-table">
									<tr>
										<th class="ui-state-default width-3" rowspan="2"
											align="center">#</th>
										<th class="ui-state-default" rowspan="2" align="center">Product
											ID</th>
										<th class="ui-state-default" rowspan="2" align="center">Product
											Name</th>
										<th colspan="5">Technical Specifications</th>
										<th class="ui-state-default" rowspan="2" align="center">Number
											0f Unites</th>
										<th class="ui-state-default" rowspan="2" align="center">Unite
											Measurement</th>
										<th class="ui-state-default" rowspan="2" align="center">Amount
											for Unit</th>
										<th class="ui-state-default width-10" rowspan="2"
											align="center">Amount</th>

									</tr>
									<tr>


										<th>Length</th>
										<th>Width</th>
										<th>Wrap Count</th>
										<th>Weft Count</th>
										<th>Reeds/Picks</th>



									</tr>
									<tr>
										<td>1</td>
										<td>SCOB</td>
										<td>Silk Saree</td>
										<td class="text-right">5.5</td>
										<td class="text-right">117CM</td>
										<td class="text-right">20</td>
										<td class="text-right">36</td>
										<td class="text-right">96 84</td>
										<td class="text-right">1</td>
										<td class="text-center">Qty</td>
										<td class="text-right">1000.00</td>
										<td class="text-right">10000.00</td>
									</tr>



								</table>




							</div>

						</div>
					</div>
					<!-- end row -->
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-12"></div>


						<div class="col-lg-3 col-md-3 col-sm-12"></div>

						<div class="col-lg-4 col-md-4 col-sm-12 m-b-10">
							<table class="table m-t-0 cust-table"
								style="width: 82%; float: right;">
								<tr>
									<td class="text-right">Sub Total <p:outputLabel
											value="&nbsp;(&#xf156;)" styleClass="fa-input" /></td>
									<td class="text-right"><strong>10000.00</strong></td>
								</tr>
								<tr>
									<td class="text-right">Freight Charges <p:outputLabel
											value="&nbsp;(&#xf156;)" styleClass="fa-input" /></td>
									<td class="text-right"><strong>500.00</strong></td>
								</tr>
								<tr class="success">
									<td class="text-right">Total Amount <p:outputLabel
											value="&nbsp;(&#xf156;)" styleClass="fa-input" /></td>
									<td class="text-right"><strong>10,500.00</strong></td>
								</tr>

							</table>
						</div>





						<div class="col-md-12 m-t-20">
							<div class="table-responsive">
								<table class="table m-b-20 cust-table">

									<tbody>

										<tr>
											<td>Rupees in Words</td>
											<td><strong>Ten Thousand Five Hundred Rupees
													Only</strong></td>
										</tr>

										<tr class="success">
											<td colspan="2"><strong>Certified Terms </strong></td>
										</tr>

										<tr>
											<td colspan="2"><strong> </strong></td>
										</tr>
										<tr>
											<td colspan="2"><strong>Signature of Society</strong></td>
										</tr>



									</tbody>

								</table>
							</div>

						</div>





					</div>





				</div>
			</div>


		</div>

	</ui:define>
</ui:composition>