<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | Create Stock Outward - Product Warehouse</title>
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['create_stock_outward']} -
						#{msg['product_warehouse']}</h4>
					<ul class="breadcrumb">
						<li><a href="index.html"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['product_warehouse']}</li>
						<li class="active">#{msg['create_stock_outward']} -
							#{msg['product_warehouse']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<div class="content page-scroll">
			<!-- collapse panel -->
			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info ">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['stock_out_details']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['stock_movement_to']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-exit2"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>Warehouse</option>
												<option>Showroom</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['warehs_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>Product Warehouse</option>
												<option>Distribution Warehouse</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['showroom_type']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>Interstate Showroom</option>
												<option>Intrastate Showroom</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['regional_off_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>11025 / Regional Office Selam</option>
												<option>11027 / Regional Office Madurai</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row label-form">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['warehs_name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>DWH0023 / Distribution Warehouse Salem</option>
												<option>DWH0024 / Distribution Warehouse Madurai</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3">
									<div class="form-group">
										<p:outputLabel value="#{msg['sroom_code']} / #{msg['name']}" />
										<div class="input-group ui-outputlabel ui-widget">
											<span class="input-group-addon"><i class="icon-office"></i></span>
											<select class="form-control">
												<option>Select</option>
												<option>450012 / Aiswarya Bangalore Showroom</option>
												<option>450013 / Basvangudi Showroom</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
			<div class="panel panel-info ">
				<!-- <div class="panel-body">
					<div class="row label-form">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['product_warehouse_address']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['product_warehouse_code']} / #{msg['name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-tree6"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="171077/JPY Thiyagi Theethagiriyar Indus"
												requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="APP10257A" requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['sender_address']}" />
										<textarea id="textarea"
											class="form-control cust-textarea-height"
											placeholder="Trial Weavers Coop Soc SA.86, Salem Main Road, Bharathiouramdharmapuri - 636 705."
											disabled="disabled" maxlength="225"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h5 class="bord_bot m-t-0">
								<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['distribution_warehouse']}
									/ #{msg['saddress']}</span>
							</h5>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['warehouse']} or #{msg['sroom_code']} / #{msg['name']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-stack3"></i></span>
											<p:inputText styleClass="form-control" required=" "
												placeholder="DWH0054 / Distribution Warehouse Salem"
												requiredMessage=" " disabled="true">
											</p:inputText>
										</div>
									</div>
									<div class="form-group">
										<p:outputLabel value="#{msg['gst_no']}" />
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-hash"></i></span>
											<p:inputText styleClass="form-control" id="gstnumber33"
												required=" " placeholder="AS102456A" requiredMessage=" "
												disabled="true">
											</p:inputText>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['delievery_address']}" />
										<textarea class="form-control cust-textarea-height"
											disabled="disabled"
											placeholder="No.81, Bazaar Road, Salem - 641 018."
											maxlength="225"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="panel-body p-0">

					<div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['selected']} -
							#{msg['pdt_var_details']}
						</h5>
						<div class="heading-elements">
						<input type="button" value="&#xea6d;&nbsp;#{msg['add_products']}"
								data-toggle="modal" data-target="#bundleDetails"
								title="#{msg['bund_details']}"
								class="btn bg-primary heading-btn btn-xs  font-iconmoon m-t-5" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class=" table-responsive">
								<div id="table-scroll" class="cust-tab2 table-scroll">
									<div id="faux-table" class="faux-table" aria="hidden"></div>
									<div class="table-wrap">
										<table id="main-table" class="main-table cust-table">
											<thead>
												<tr>
													<th scope="col" width="3%">#</th>
													<th class="ui-state-default text-center"><p:outputLabel
															value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
													<th class="ui-state-default text-center width-5"><p:outputLabel
															value="#{msg['u_o_m']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['current_unit']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input"
															value="#{msg['current_unit_value']}&nbsp;( &#xf156; )" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input" value="#{msg['qty_to_be_dispatched']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['already_dispatched_unit']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input"
															value="#{msg['curr_dis_unit_value']}&nbsp;( &#xf156; )" /></th>

													<th class="ui-state-default text-center width-4"><p:outputLabel
															value="#{msg['action']}" /></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">1</td>
													<td class="width-20">SPO6/SAREES PARAMAKUDI-BANARAS
														6YRD</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">2</td>
													<td class="width-20">SOMB/SAREES ORGANIC COT NATURAL
														DYE</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">3</td>
													<td class="width-20">BLD2/BEDSHEET &amp; TABLE CLOTH
														B.SHT KALL..</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">4</td>
													<td class="width-20">DHR2/ DHOTHIES VEL 2/40S ROUGH 2
														YAR</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">5</td>
													<td class="width-20">DHS4/ DHOTHIES CHINGLEPUT 60S
														4YDS</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">6</td>
													<td class="width-20">ANE1/ANGAVASTRAM NAGERCOIL 80 S</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">7</td>
													<td class="width-20">BBR1/BATIK PRINTED BEDSHEET 40X80</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">8</td>
													<td class="width-20">CSB3/COTTON FANCY PRINTED SAREES</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">9</td>
													<td class="width-20">DKSG/DHOTHIES KUMBAKONAM 60s GREY</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">10</td>
													<td class="width-20">DSP1/COT X POLYESTER WHITE
														SHIRTING</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="right" colspan="3"><strong>TOTAL</strong></td>
													<td class="text-center">2000</td>
													<td class="text-right">2700000.00</td>
													<td class="text-center">120</td>
													<td class="text-center">120</td>
													<td class="text-right">194400.00</td>
													<td align="center"></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body p-0 m-t-20">
					<div class="panel-heading">
						<h5 class="panel-title">
							<i class="icon-grid6 position-left"></i>#{msg['not_selected']} -
							#{msg['pdt_var_details']}
						</h5>
						<div class="heading-elements">
						<input type="button" value="&#xea6d;&nbsp;#{msg['add_products']}"
								data-toggle="modal" data-target="#bundleDetails"
								title="#{msg['bund_details']}"
								class="btn bg-primary heading-btn btn-xs  font-iconmoon m-t-5" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class=" table-responsive">
								<div id="table-scroll" class="cust-tab2 table-scroll">
									<div id="faux-table2" class="faux-table" aria="hidden"></div>
									<div class="table-wrap">
										<table id="main-table2" class="main-table cust-table">
											<thead>
												<tr>
													<th scope="col" width="3%">#</th>
													<th class="ui-state-default text-center"><p:outputLabel
															value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
													<th class="ui-state-default text-center width-5"><p:outputLabel
															value="#{msg['u_o_m']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['current_unit']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input"
															value="#{msg['current_unit_value']}&nbsp;( &#xf156; )" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['qty_to_be_dispatched']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															value="#{msg['already_dispatched_unit']}" /></th>
													<th class="ui-state-default text-center width-10"><p:outputLabel
															class="fa-input"
															value="#{msg['curr_dis_unit_value']}&nbsp;( &#xf156; )" /></th>

													<th class="ui-state-default text-center width-4"><p:outputLabel
															value="#{msg['action']}" /></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">1</td>
													<td class="width-20">SPO6/SAREES PARAMAKUDI-BANARAS
														6YRD</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">2</td>
													<td class="width-20">SOMB/SAREES ORGANIC COT NATURAL
														DYE</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">3</td>
													<td class="width-20">BLD2/BEDSHEET &amp; TABLE CLOTH
														B.SHT KALL..</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">4</td>
													<td class="width-20">DHR2/ DHOTHIES VEL 2/40S ROUGH 2
														YAR</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">5</td>
													<td class="width-20">DHS4/ DHOTHIES CHINGLEPUT 60S
														4YDS</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">6</td>
													<td class="width-20">ANE1/ANGAVASTRAM NAGERCOIL 80 S</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">7</td>
													<td class="width-20">BBR1/BATIK PRINTED BEDSHEET 40X80</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">8</td>
													<td class="width-20">CSB3/COTTON FANCY PRINTED SAREES</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">9</td>
													<td class="width-20">DKSG/DHOTHIES KUMBAKONAM 60s GREY</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
												<tr>
													<td class="text-center">10</td>
													<td class="width-20">DSP1/COT X POLYESTER WHITE
														SHIRTING</td>
													<td class="text-center">PCS</td>
													<td class="text-center">200</td>
													<td class="text-right">270000.00</td>
													<td class="text-center">12</td>
													<td><input type="text"
														class="form-control text-center" placeholder="12" /></td>
													<td style="text-align: right">16200.00</td>
													<td style="text-align: center"><input type="button"
														value="&#xea18;" class="btn bg-info font-iconmoon btn-xs"
														data-toggle="modal" data-target="#qualitycheck" /></td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td align="right" colspan="3"><strong>TOTAL</strong></td>
													<td class="text-center">2000</td>
													<td class="text-right">2700000.00</td>
													<td class="text-center">120</td>
													<td class="text-center">120</td>
													<td class="text-right">194400.00</td>
													<td align="center"></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<h5 class="bord_bot m-t-0">
						<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['bund_details']}</span>
					</h5>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_no_bund']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-price-tags"></i></span>
									<p:inputText maxlength="30" class="form-control" value="40" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_bund_wt']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-balance"></i></span>
									<p:inputText maxlength="30" class="form-control" value="400" />
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="form-group">
								<p:outputLabel value="#{msg['bundle_numbers']}" />

								<textarea class="form-control" rows="1"
									placeholder="11, 12, 13" disabled="disabled" maxlength="225"></textarea>
							</div>
						</div>
					</div>
					<h5 class="bord_bot">
						<i class="fa fa-th-large m-r-5 m-t-0"></i><span
							class="iform-title">#{msg['trans_details']}</span>
					</h5>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<select class="form-control">
										<option>In Person</option>
										<option>Lorry</option>
										<option>Bus</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<select class="form-control">
										<option>Mr Vinoth Transport Agency</option>
										<option>Ramkrishanan Transport Agency</option>
										<option>Sangeetha Transport Agency</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_number']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-car"></i></span>
									<p:inputText maxlength="30" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="icon-stack3"></i></span>
									<select class="form-control">
										<option>Yes</option>
										<option>No</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row label-form">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<div class="input-group">
									<span class="input-group-addon"><i
										class="icon-certificate"></i></span>
									<p:inputText maxlength="30" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<div class="input-group ui-outputlabel ui-widget">
									<span class="input-group-addon"><i class="icon-stack3"></i></span>
									<select class="form-control">
										<option>Yes</option>
										<option>No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<div class="input-group ui-outputlabel ui-widget">
									<span class="input-group-addon"><i class="icon-menu6"></i></span>
									<select class="form-control">
										<option>Pay</option>
										<option>To Pay</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-rupee"></i></span>
									<p:inputText maxlength="30" class="form-control text-right" />
								</div>
							</div>
						</div>
					</div>
					<div class="row text-right m-t-10">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
								title="#{msg['cancel']}" immediate="true"
								action="#{purchaseOrderBean.getProductWarehouseStockOutwardList}"
								class="btn bg-slate heading-btn  font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
								title="#{msg['submit']}"
								class="btn bg-success heading-btn  font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal with invoice -->
		
		<!-- bundle details pop-up start -->
		<div id="bundleDetails" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['add_bun_num_pro_variety']}</h6>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="panel-body  p-b-0 p-t-0">
								<div class="row">
									<div class="row label-form">
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['enter_bund_num']}" />
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-bag"></i></span>
												<p:inputText placeholder="12" styleClass="form-control"></p:inputText>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<div class="row label-form">
												<div class="col-lg-8 col-md-8 col-sm-12">
													<p:outputLabel value="#{msg['qr_cd']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-qrcode"></i></span>
														<p:inputText placeholder="800"
															styleClass="form-control"></p:inputText>
													</div>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-12 m-b-10 text-right"
													style="margin-top: 27px;">
													<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
														title="#{msg['add']}"
														class="btn bg-success heading-btn  font-iconmoon">
													</p:commandButton>

												</div>

											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-12">
											<p:outputLabel value="#{msg['prod_variey_code']} / #{msg['name']}" />
											<div class="input-group">
												<span class="input-group-addon"><i
													class="icon-stack3"></i></span> <select name="select"
													class="form-control">
													<option value="opt1">Select</option>
													<option value="opt2">SPO6/SAREES
														PARAMAKUDI-BANARAS 6YRD</option>
													<option value="opt3">SOMB/SAREES ORGANIC COT
														NATURAL DYE</option>
													<option value="opt4">BLD2/BEDSHEET &amp; TABLE
														CLOTH B.SHT KALLIDAIKURICHI DSN50X90</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel m-b-0">
								<div class="row">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-lg-12">
												<h5 class="popup-table-title">
													<i class="fa fa-th-large m-r-5"></i><span
														class="iform-title">#{msg['at_num_wise_bun_details']}</span>
												</h5>
												<div class=" table-responsive">
													<div id="table-scroll" class="cust-tab2 table-scroll">
														<div id="faux-table4" class="faux-table" aria="hidden"></div>
														<div class="table-wrap-fst-pop">
															<table id="main-table4" class="main-table cust-table">
																<thead>
																	<tr>
																		<th class="text-center"><p:outputLabel value="#" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['prod_variey_code']} / #{msg['name']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['uom']}" /></th>

																		<th class="text-center"><p:outputLabel
																				value="#{msg['at_no']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['purchase_order_number']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['bundle_number']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['unit']}" /></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['value']}&nbsp;( &#xf156; )" styleClass="fa-input"/></th>
																		<th class="text-center"><p:outputLabel
																				value="#{msg['action']}" /></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td align="center">1</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073456</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">2</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073457</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>

																		<td align="center">3</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073458</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">4</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073459</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">5</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073460</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">6</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073461</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">7</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073462</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">8</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073463</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">9</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073464</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">10</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073465</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">11</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073467</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>
																	<tr>
																		<td align="center">12</td>
																		<td>MSS5 / ANGAVASTIRAM SALEM WOVEN SILK</td>
																		<td align="center">PCS</td>
																		<td style="white-space: nowrap;" class="text-center">HS1073467</td>
																		<td class="text-center">981213-SQY17DEC-34-66</td>
																		<td class="text-center">12</td>
																		<td class="text-center">1</td>
																		<td class="text-right">600.00</td>
																		<td align="center"><input type="button"
																			value="&#xe99e;"
																			class="btn bg-danger font-iconmoon btn-xs" /></td>
																	</tr>

																</tbody>
															<tfoot>
																	<tr>
																		<td align="right" colspan="6"><strong>TOTAL</strong></td>
																		<td class="text-right">12</td>
																		<td class="text-right">7200.00</td>
																		<td class="text-right"></td>

																	</tr>
																</tfoot>

															</table>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-lg-12 text-right m-b-10 m-t-10">
										<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
											immediate="true" onclick="#"
											class="btn bg-slate font-iconmoon m-r-0"
											title="#{msg['cancel']}">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xea0e;&nbsp;#{msg['save']}" title="#{msg['save']}"
											class="btn bg-primary heading-btn  font-iconmoon">
										</p:commandButton>
										<p:commandButton update="growls"
											value="&#xed6e;&nbsp;#{msg['submit']}" title="Preview"
											class="btn bg-success heading-btn  font-iconmoon m-r-5">
										</p:commandButton>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<!-- bundle details pop-up end -->
		
		
		<!-- Quality Check modal -->
		<div id="qualitycheck" class="modal fade">
			<div class="modal-dialog modal-lg-cust">
				<div class="modal-content">
					<div class="modal-header bg-info">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">#{msg['at_num_wise_product_outward_dlt']}</h6>
					</div>
					<div class="modal-body p-10">
						<div class="panel-body p-10">
							<div class="row label-form view-style">
								<div class="col-lg-4 col-md-4 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['product_code']} / #{msg['name']}" />
										<h:outputText value="SPO6/SAREES PARAMAKUDI-BANARAS 6YRD"
											class="" />
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['u_o_m']}" />
										<h:outputText value="PCS" class="" />
									</div>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-sm-12 col-lg-12 col-md-12  label-form">
									<h5 class="bord_bot m-t-0">
										<i class="fa fa-th-large m-r-5"></i><span class="iform-title">#{msg['item_details']}</span>
									</h5>
									<div class="row">
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['bundle_num']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-stack3"></i></span>
													<p:inputText placeholder="20" styleClass="form-control"
														id="comments1"></p:inputText>

												</div>
											</div>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3">
											<div class="form-group">
												<p:outputLabel value="#{msg['bar_code_qr_ref_num']}" />
												<div class="input-group">
													<span class="input-group-addon"><i
														class="icon-barcode2"></i></span>
													<p:inputText placeholder="HS2316A12"
														styleClass="form-control"></p:inputText>
												</div>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-sm-3 text-left">
											<p:outputLabel value="&nbsp;&nbsp;" style="display:block" />
											<p:commandButton value="&#xea0e;&nbsp;#{msg['add']}"
												title="#{msg['add']}"
												class="btn bg-success heading-btn  font-iconmoon">
											</p:commandButton>
										</div>
									</div>
								</div>


							</div> -->
						</div>








						<div class="row">
							<div class="col-md-12 col-sm-12 col-lg-12">
								<div class=" table-responsive">
									<div id="table-scroll" class="cust-tab2 table-scroll">
										<div id="faux-table3" class="faux-table" aria="hidden"></div>
										<div class="table-wrap-fst-pop">
											<table id="main-table3" class="main-table cust-table">
												<thead>
													<tr>
														<th class="text-center"><p:outputLabel value="#" /></th>
														<th class="text-center"><p:outputLabel
																value="#{msg['at_no']}" /></th>
														<th class="text-center"><p:outputLabel
																value="#{msg['bundle_num']}" /></th>
														<th class="text-center"><p:outputLabel
																value="#{msg['qunatity']}" /></th>
														<th class="text-center"><p:outputLabel
																class="fa-input"
																value="#{msg['value']}&nbsp;( &#xf156; )" /></th>
														<th class="text-center"><p:outputLabel
																value="#{msg['action']}" /></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td align="center">1</td>
														<td style="white-space: nowrap;" class="text-center">HS1073457</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">2</td>
														<td style="white-space: nowrap;" class="text-center">HS1073458</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>

														<td align="center">3</td>
														<td style="white-space: nowrap;" class="text-center">HS1073459</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">4</td>
														<td style="white-space: nowrap;" class="text-center">HS1073460</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">5</td>
														<td style="white-space: nowrap;" class="text-center">HS1073461</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">6</td>
														<td style="white-space: nowrap;" class="text-center">HS1073462</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">7</td>
														<td style="white-space: nowrap;" class="text-center">HS1073463</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">8</td>
														<td style="white-space: nowrap;" class="text-center">HS1073464</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">9</td>
														<td style="white-space: nowrap;" class="text-center">HS1073465</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">10</td>
														<td style="white-space: nowrap;" class="text-center">HS1073466</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">11</td>
														<td style="white-space: nowrap;" class="text-center">HS1073467</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
													<tr>
														<td align="center">12</td>
														<td style="white-space: nowrap;" class="text-center">HS1073467</td>
														<td class="text-center">20</td>
														<td class="text-center">1</td>
														<td align="right">1350.00</td>
														<td style="text-align: center"><input type="button"
															value="&#xe912;"
															class="btn bg-primary font-iconmoon btn-xs" /> <input
															type="button" value="&#xe99e;"
															class="btn bg-danger font-iconmoon btn-xs" /></td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td align="right" colspan="3"><strong>TOTAL</strong></td>
														<td class="text-center">12</td>
														<td class="text-right">16200.00</td>
														<td class="text-right"></td>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['current_unit']}" />
										<h:outputText value="200" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel class="fa-input"
											value="#{msg['current_unit_value']}&nbsp;( &#xf156; )" />
										<h:outputText value="270000.00" class="" />
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['curr_dis_unit']}" />
										<h:outputText value="12" class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="form-group">
										<p:outputLabel class="fa-input"
											value="#{msg['curr_dis_unit_value']}&nbsp;( &#xf156; )" />
										<h:outputText value="16200.00" class="" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-12 text-right m-b-0 m-t-10">
									<p:commandButton onclick="#"
										value="&#xed6a;&nbsp;#{msg['cancel']}" title="Cancel"
										class="btn bg-slate heading-btn  font-iconmoon">
									</p:commandButton>
									<p:commandButton update="growls"
										value="&#xed6e;&nbsp;#{msg['submit']}" title="Preview"
										class="btn bg-success heading-btn  font-iconmoon">
									</p:commandButton>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /modal with invoice -->
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table");
				var mainTable = document.getElementById("main-table");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table1");
				var mainTable = document.getElementById("main-table1");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table2");
				var mainTable = document.getElementById("main-table2");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table3");
				var mainTable = document.getElementById("main-table3");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>
		
		<script>
			/*
			 //  jquery equivalent
			 jQuery(document).ready(function() {
			 jQuery(".main-table").clone(true).appendTo('#table-scroll .faux-table').addClass('clone');
			 jQuery(".main-table.clone").clone(true).appendTo('#table-scroll .faux-table').addClass('clone2'); 
			 });
			 */
			(function() {
				var fauxTable = document.getElementById("faux-table4");
				var mainTable = document.getElementById("main-table4");
				var clonedElement = mainTable.cloneNode(true);
				var clonedElement2 = mainTable.cloneNode(true);
				clonedElement.id = "";
				clonedElement2.id = "";
				fauxTable.appendChild(clonedElement);
				fauxTable.appendChild(clonedElement2);
			})();
		</script>

	</ui:define>
</ui:composition>