<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:viewAction action="#{stockOutwardPWHBean.onPageLoad}"
				onPostBack="true"></f:viewAction>
		</f:metadata>

		<h:form>
			<title>InfoTex | Stock Outward List - <h:outputText value="#{stockOutwardPWHBean.pageName}" /></title>
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="page-title">
								<h4>
									#{msg['stock_outward_list']} -
									<h:outputText value="#{stockOutwardPWHBean.pageName}" />
								</h4>
								<ul class="breadcrumb">
									<li><a href="#{request.contextPath}/pages/home.xhtml"><i
											class="icon-home2 position-left"></i>#{msg['home']}</a></li>
									<li>#{msg['oper']}</li>
									<li>#{msg['warehouse_management']}</li>
									<li><h:outputText value="#{stockOutwardPWHBean.pageName}" /></li>
									<li class="active">#{msg['stock_outward_list']} - <h:outputText value="#{stockOutwardPWHBean.pageName}" /></li>
								</ul>
								<a class="heading-elements-toggle"><i class="icon-more"></i></a>
							</div>
						</div>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>

			<div class="content pg-scroll-panel-3 no-padding-bottom">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-3">
						<h6 class="panel-title">
							<strong> <h:panelGroup id="stockSize">
									<h:outputText value="#{stockOutwardPWHBean.stockSize}" />
								</h:panelGroup></strong> - #{msg['stock_outward']}(#{msg['list_s']})<a
								class="heading-elements-toggle"><i class="icon-more"></i></a>
						</h6>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-9 text-right p-l-0">
						<div class="form-group m-b-10">
							<p:commandButton value="&#xed76; #{msg['outward_report']}"
								title="#{msg['outward_report']}"
								action="#{stockOutwardPWHBean.loadDate}"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>

							<p:commandButton update="growls" renderd="false"
								value="&#xe9a5; #{msg['transfer_invoice']}"
								title="#{msg['transfer_invoice']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-info font-iconmoon"
								action="#{stockOutwardPWHBean.createStockTransferInvoice}">
							</p:commandButton>

							<p:commandButton update="growls"
								value="&#xea08; #{msg['delivery_chellan']}"
								onstart="PF('statusDialog').show()"
								title="#{msg['delivery_chellan']}"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-primary font-iconmoon"
								action="#{stockOutwardPWHBean.createDeliveryChallan}">
							</p:commandButton>

							<p:commandButton value="&#xea0e; #{msg['add']}"
								action="#{stockOutwardPWHBean.gotoPage('ADD')}"
								class="btn bg-success font-iconmoon" title="#{msg['add']}"
								update="growls" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" id="addButton"
								disabled="#{stockOutwardPWHBean.disableAddButton}">
							</p:commandButton>

							<p:commandButton value="&#xe912; #{msg['edit']}" update="growls"
								title="#{msg['edit']}" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{stockOutwardPWHBean.gotoPage('EDIT')}"
								class="btn bg-primary font-iconmoon">
							</p:commandButton>

							<p:commandButton value="&#xea18; #{msg['view']}" update="growls"
								class="btn bg-info heading-btn  font-iconmoon"
								title="#{msg['view']}" onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								action="#{stockOutwardPWHBean.gotoPage('VIEW')}">
							</p:commandButton>

							<p:commandButton update="growls"
								value="&#xe99e;&nbsp;#{msg['delete']}" title="#{msg['delete']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()"
								class="btn bg-danger font-iconmoon"
								action="#{stockOutwardPWHBean.processDelete}">
							</p:commandButton>

							<p:commandButton value="&#xe916;&nbsp;#{msg['clear']}"
								onstart="PF('statusDialog').show()"
								onsuccess="PF('statusDialog').hide()" title="#{msg['clear']}"
								action="#{stockOutwardPWHBean.getListPage}"
								class="btn bg-slate font-iconmoon">
							</p:commandButton>
						</div>
					</div>
				</div>

				<div class="panel panel-info m-b-0">
					<div class="panel-body p-0">
						<div class="table-responsive">
							<div class="ui-datatable ui-widget ui-datatable-scrollable table">
								<div class="ui-datatable-scrollable-header-box cust-table">
									<p:dataTable id="table" widgetVar="table" var="data"
										class="table"
										selection="#{stockOutwardPWHBean.stockTransferRequest}"
										rowKey="#{data.id}"
										value="#{stockOutwardPWHBean.stockTransferRequestLazyList}"
										lazy="true" emptyMessage="#{msg['no_records_found']}"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rows="10" paginator="true" paginatorPosition="bottom"
										tableStyleClass="" rowsPerPageTemplate="5,10,15"
										rowIndexVar="idx">

										<p:ajax event="filter" oncomplete="updateFilterSelection()" />

										<p:ajax event="rowSelectRadio"
											listener="#{stockOutwardPWHBean.onRowSelect}"
											update=":#{p:component('addButton')}" />

										<p:column headerText="#" styleClass="text-center width-3">
											<h:outputText value="#{idx+1}" />
										</p:column>

										<p:column headerText="#{msg['stock_outward_hash']}"
											styleClass="width-12 text-center" filterMatchMode="contains"
											filterable="true" filterBy=" #{data.referenceNumber}"
											sortBy=" #{data.referenceNumber}" sortable="true">
											<h:outputText value="#{data.referenceNumber}" />
										</p:column>

										<p:column filterBy=" #{data.stockMovementTo}"
											styleClass="width-10"
											headerText="#{msg['stock_movement_to']}"
											filterMatchMode="contains" filterable="true"
											sortBy=" #{data.stockMovementTo}" sortable="true">

											<f:facet name="filter">
												<h:selectOneMenu onchange="PF('table').filter()"
													id="movementDropdown" class="form-control select2">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems
														value="#{stockOutwardPWHBean.stockMovementToValues}"
														var="status" itemLabel="#{status}" itemValue="#{status}" />
												</h:selectOneMenu>
											</f:facet>
											<h:outputText value="#{data.stockMovementTo}" />
										</p:column>

										<p:column headerText="#{msg['sender_code']} / #{msg['name']}"
											filterMatchMode="contains" filterable="true"
											filterBy=" #{data.senderCodeOrName}" styleClass="width-12"
											sortBy=" #{data.senderCodeOrName}" sortable="true">
											<h:outputText value="#{data.senderCodeOrName}" />
										</p:column>

										<p:column
											headerText="#{msg['receiver_code']} / #{msg['name']}"
											filterMatchMode="contains" filterable="true"
											filterBy=" #{data.receiverCodeOrName}" styleClass="width-15"
											sortBy=" #{data.receiverCodeOrName}" sortable="true">
											<h:outputText value="#{data.receiverCodeOrName}" />
										</p:column>

										<p:column headerText="#{msg['stock_sent_date']}"
											styleClass="text-center form-group_calend width-12"
											sortBy="#{data.dateTransferred}" sortable="true"
											filterBy="#{data.dateTransferred}" filterMatchMode="exact">
											<f:facet name="filter">
												<p:calendar onchange="PF('table').filter()" navigator="true"
													id="dateTransferred" pattern="dd-MMM-yyyy"
													placeholder="dd-MMM-yyyy" mask="true"
													styleClass="form-control calend-icon">
													<p:ajax event="dateSelect" update="table,@form"
														oncomplete="PF('table').filter()" />
													<p:ajax event="change" execute="@this"
														oncomplete="PF('table').filter()" update="table,@form" />
												</p:calendar>
											</f:facet>
											<h:outputText value="#{data.dateTransferred}">
												<f:convertDateTime pattern="dd-MMM-yyyy"
													timeZone="#{loginBean.timeZone}" />
											</h:outputText>
										</p:column>

										<p:column filterBy=" #{data.status}"
											headerText="#{msg['status']}" filterMatchMode="contains"
											filterable="true" sortBy=" #{data.status}" sortable="true"
											styleClass="text-center width-12">

											<f:facet name="filter">
												<h:selectOneMenu onchange="PF('table').filter()"
													id="statusDropdown" class="form-control select2">
													<f:selectItem itemLabel="#{msg['select']}"
														itemValue="#{null}" noSelectionOption="true" />
													<f:selectItems value="#{stockOutwardPWHBean.statusValues}"
														var="status" itemLabel="#{status}" itemValue="#{status}" />
												</h:selectOneMenu>
											</f:facet>

											<h:outputText value="#{data.status.replace('_', ' ')}"
												styleClass="label label-default width-custom"
												rendered="#{data.status eq 'INITIATED'}" />

											<h:outputText value="#{data.status.replace('_', ' ')}"
												styleClass="label label-warning width-custom"
												rendered="#{data.status eq 'SUBMITTED'}" />

											<h:outputText value="#{data.status.replace('_', ' ')}"
												styleClass="label label-primary width-custom"
												rendered="#{data.status eq 'ACKNOWLEDGE'}" />

											<h:outputText value="#{data.status.replace('_', ' ')}"
												styleClass="label label-success width-custom"
												rendered="#{data.status eq 'COMPLETED'}" />
											
											<h:outputText value="#{data.status.replace('_', ' ')}"
												styleClass="label label-danger width-custom"
												rendered="#{data.status eq 'CANCELLED'}" />
										</p:column>

										<p:column headerText="#{msg['acknowledge_status']}"
											styleClass="text-center width-12 width-custom-acknow">
											<h:outputText value="Acknowledged"
												rendered="#{data.isInward}" update="dlgItemsDetail"
												styleClass="label label-success width-custom-acknow" />
											<h:outputText value="Awaiting Acknowledgement"
												update="dlgItemsDetail" rendered="#{!data.isInward}"
												styleClass="label label-primary width-custom-acknow">
											</h:outputText>
											<p:commandButton value="&#xea18;" title="#{msg['view']}"
												update="dlgItemsDetail"
												actionListener="#{stockOutwardPWHBean.onAckStatusClick(data)}"
												class="btn bg-info font-iconmoon m-l-5">
											</p:commandButton>
										</p:column>

										<p:column headerText="#{msg['select']}" selectionMode="single"
											styleClass="text-center width-4">
										</p:column>
									</p:dataTable>

									<p:remoteCommand name="updateFilterSelection"
										update=":#{p:component('stockSize')}" autoRun="true" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Confirm Delete Start -->
				<p:dialog header="#{msg['confirmation_delete_title']}"
					widgetVar="dlg1" modal="true" position="center" resizable="false"
					closable="false" width="30%"
					styleClass="p-0 overlay-pop modal-dialog">
					<h:form>

						<div class="modal-body">
							<h:outputText value="#{msg['delete_record']}" />
						</div>

						<div class="modal-footer m-t-10">
							<h:commandButton
								styleClass="btn bg-slate heading-btn font-iconmoon cust-btn-h"
								title="#{msg['no']}" value="&#xed6a;&nbsp;#{msg['no']}"
								onclick="PF('dlg1').hide();">
							</h:commandButton>
							<h:commandButton
								styleClass="btn bg-success heading-btn font-iconmoon cust-btn-h m-l-8"
								value="&#xed6e;&nbsp;#{msg['yes']}" title="#{msg['yes']}"
								action="#{stockOutwardPWHBean.delete}"
								onclick="PF('dlg1').hide();">
							</h:commandButton>
						</div>
					</h:form>
				</p:dialog>
				<!-- Confirm Delete End -->
			</div>
		</h:form>

		<p:dialog modal="true" id="dlgItemsDetail" closeOnEscape="true"
			closable="true" showEffect="fade"
			styleClass="p-0 overlay-pop modal-dialog top-100"
			widgetVar="stockAckdlg" width="80%" draggable="true"
			header="#{msg['acknowledgement_status']}">

			<div class="row text-right">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<p:outputLabel value="Acknowledged"
						rendered="#{stockOutwardPWHBean.stockTransferRequest.isInward}"
						styleClass="label label-success" />
					<p:outputLabel value="Awaiting Acknowledgement"
						rendered="#{!stockOutwardPWHBean.stockTransferRequest.isInward}"
						styleClass="label label-primary" />
				</div>
			</div>

			<h5 class="bord_bot m-t-0">
				<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['sender']}</span>
			</h5>

			<div class="row view-style">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['enty_cod_nam']}" />
						<h:outputText
							value="#{stockOutwardPWHBean.stockTransferRequest.senderCodeOrName}"
							class="" />
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['stock_out_no']}" />
						<h:outputText id="refNumber"
							value="#{stockOutwardPWHBean.stockTransferRequest.referenceNumber}"
							class="" />
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['stok_out_dat']}" />
						<h:outputText
							value="#{stockOutwardPWHBean.stockTransferRequest.dateTransferred}"
							class="">
							<f:convertDateTime pattern="dd-MMM-yyyy"
								timeZone="#{loginBean.timeZone}" />
						</h:outputText>
					</div>
				</div>
			</div>

			<h5 class="bord_bot m-t-0">
				<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['receiver']}</span>
			</h5>
			<div class="row view-style">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['enty_cod_nam']}" />
						<h:outputText
							value="#{stockOutwardPWHBean.stockTransferRequest.receiverCodeOrName}"
							class="" />
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['st_in_num']}" />
						<h:outputText id="stockInwardRefNumber"
							value="#{stockOutwardPWHBean.stockTransferRequest.stockInwardReferenceNumber==null?'-':stockOutwardPWHBean.stockTransferRequest.stockInwardReferenceNumber}"
							class="" />
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="form-group m-b-10">
						<p:outputLabel value="#{msg['st_in_dt']}" />
						<h:outputText
							value="#{stockOutwardPWHBean.stockTransferRequest.stockInwardDateTransferred==null?'-':stockOutwardPWHBean.stockTransferRequest.stockInwardDateTransferred}"
							class="">
							<f:convertDateTime pattern="dd-MMM-yyyy"
								timeZone="#{loginBean.timeZone}" />
						</h:outputText>
					</div>
				</div>
			</div>
		</p:dialog>


	</ui:define>
</ui:composition>