<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Stock Outward - <h:outputText value="#{stockOutwardPWHBean.pageName}" /></title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						#{msg['view_stock_outward']} -
						<h:outputText
										value="#{stockOutwardPWHBean.pageName}" />
					</h4>

					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['oper']}</li>
						<li>#{msg['warehouse_management']}</li>
						<li><h:outputText
										value="#{stockOutwardPWHBean.pageName}" /></li>
						<li class="active">#{msg['view_stock_outward']} - <h:outputText
										value="#{stockOutwardPWHBean.pageName}" /></li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>
				<ui:include src="/pages/pageHeadingElements.xhtml" />
			</div>
		</div>
		<!-- Page Header End -->

		<div class="content page-scroll-hp no-padding-bottom">
			<!-- collapse panel -->

			<div
				class="panel-group panel-group-control panel-group-control-right m-b-10"
				id="accordion-control-right">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h6 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-control-right"
								href="#accordion-control-right-group1">#{msg['view_stock_outward']}</a>
						</h6>
					</div>
					<div id="accordion-control-right-group1"
						class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="row label-form view-style">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['stock_out']} Number" />
										<h:outputText
											value="#{stockOutwardPWHBean.stockTransfer.referenceNumber}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel value="#{msg['stock_movement_to']}" />
										<h:outputText
											value="#{stockOutwardPWHBean.stockTransfer.stockMovementTo}"
											class="" />
									</div>
								</div>

								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div class="form-group">
										<p:outputLabel
											value="#{msg['distribution_warehouse']} / #{msg['sroom_add_success']}" />
										<h:outputText
											value="#{stockOutwardPWHBean.stockTransfer.toEntityMaster.code} / #{stockOutwardPWHBean.stockTransfer.toEntityMaster.name}"
											class="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- colleps panel end -->
			<div class="panel panel-info ">
				<div class="panel-body no-padding-top">
					<h5 class="m-b-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['pdt_details']}</span>
					</h5>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p:outputPanel
								styleClass="#{stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() gt 5 ? 'overflow-table':'col-lg-12 ph0'}">
								<p:dataTable id="stockItemsTable" var="item"
									styleClass="custom-input-width m-b-10" rowKey="#{item}"
									value="#{stockOutwardPWHBean.stockTransferItemsDisplayListTemp}"
									rowIndexVar="idx" scrollable="true"
									scrollHeight="#{stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() eq 0 ? '30' : 
								  				stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() eq 1 ? '36':
								  				stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() eq 2 ? '71':
												stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() eq 3 ? '105':
												stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() eq 4 ? '140':
												stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() gt 4 
												 and stockOutwardPWHBean.stockTransferItemsDisplayListTemp.size() lt 6 ? '174' :'185'}">

									<p:column headerText="#" styleClass="text-center sno-ovrflw-5">
										<h:outputText value="#{idx+1}" />
									</p:column>
									<p:column
										headerText="#{msg['prod_variey_code']} / #{msg['name']}"
										styleClass="width-40">
										<h:outputText
											value="#{item.productVarietyMaster.code} / #{(item.productVarietyMaster.name).length() gt 38 ? fn:substring({item.productVarietyMaster.name}, 1, 34).concat('...'):(item.productVarietyMaster.name)}"
											title="#{item.productVarietyMaster.code} / #{item.productVarietyMaster.name}" />
										<f:facet name="footer">
											<h:outputText value="#{msg['tot']}"></h:outputText>
										</f:facet>
									</p:column>
									<p:column headerText="#{msg['uom']}" styleClass="width-15">
										<h:outputText value="#{item.uomMaster.code}" />
									</p:column>
									<p:column headerText="#{msg['value']}&nbsp;(&#xf156;)"
										styleClass="fa-input text-right width-30">
										<h:outputText id="itemNetTotal" value="#{item.itemNetTotal}"
											class="">
											<f:convertNumber pattern="#0.00" />
										</h:outputText>
										<f:facet name="footer">
											<h:outputText
												value="#{stockOutwardPWHBean.stockTransferItemsDisplayList.stream().map(data->data.itemNetTotal).sum()}">
												<f:convertNumber pattern="#0.00" />
											</h:outputText>
										</f:facet>
									</p:column>
									<p:column headerText="#{msg['action']}"
										styleClass="text-center width-10">
										<p:commandButton update="dlgItemsDetail" value="&#xea18;"
											action="#{stockOutwardPWHBean.viewItemDetails(item)}"
											title="View" class="btn bg-info font-iconmoon m-l-0"
											oncomplete="PF('dlgItemsDetail').show();" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</div>
					</div>

					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['bund_details']}</span>
					</h5>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_no_bund']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.totalBundles}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['tot_bund_wt']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.bundleWeight}"
									class="" />
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['bundle_number']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.bundleNumbers}"
									class="" />
							</div>
						</div>
					</div>

					<h5 class="bord_bot m-t-0">
						<span class="iform-title"><i class="fa fa-th-large m-r-5"></i>#{msg['trans_details']}</span>
					</h5>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_type']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.transportMaster.transportTypeMaster.name}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_ser_name']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.transportMaster.name}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_available']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.waybillAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['waybill_no']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.waybillNumber}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row label-form view-style">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['transport_charge_available']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.transportChargeAvailable?'Yes':'No'}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_type']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.transportChargeType}"
									class="" />
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="form-group">
								<p:outputLabel value="#{msg['trans_charge_amt']}" />
								<h:outputText
									value="#{stockOutwardPWHBean.stockTransfer.transportChargeAmount}"
									class="" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 text-right">
							<h:commandButton update="growls" immediate="true"
								onclick="PF('statusDialog').show()"
								action="#{stockOutwardPWHBean.gotoPage('LIST')}"
								value="&#xeddf;&nbsp;#{msg['back']}" title="#{msg['back']}"
								class="btn bg-info heading-btn cust-btn-h font-iconmoon">
							</h:commandButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<ui:include src="../popup/pwhOutwardItemsDetailsPopup.xhtml" />
	</ui:define>
</ui:composition>