<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{loginBean.checkPrivilege('TRAINING_TYPE_ADD')}" />
		</f:metadata>
		<h:form id="tenderCategory">
			<title>InfoTex | Create Training Type</title>
			<!-- Page Header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4>#{trainingTypeMasterBean.action eq 'ADD' ?
							msg['cr_tra_ty'] : msg['ed_tra_ty']}</h4>
						<ul class="breadcrumb">
							<li><a href="#{request.contextPath}/pages/home.xhtml"><i
									class="icon-home2 position-left"></i>#{msg['home']}</a></li>
							<li>#{msg['masters']}</li>
							<li>#{msg['personnel_master']}</li>
							<li class="active">#{trainingTypeMasterBean.action eq 'ADD'
								? msg['cr_tra_ty'] : msg['ed_tra_ty']}</li>
						</ul>
					</div>
					<ui:include src="/pages/pageHeadingElements.xhtml" />
				</div>
			</div>
			<!-- Page Header End -->

			<div class="content page-scroll no-padding-bottom">
				<div
					class="panel-group m-b-10 panel-group-control panel-group-control-right">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h6 class="panel-title">
								#{msg['training_type']} <span class="pull-right text-13 ">(<span
									class="text-danger">*</span> #{msg['marked_field_mandatory']})
								</span>
							</h6>
						</div>
						<div>
							<p:outputPanel id="createTenderPanel">
								<div class="pg-scroll-panel-1">
									<div class="panel-body p-t-10">
										<div class="row label-form custom-form-1">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['code']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-hash"></i></span>
														<p:inputText styleClass="form-control" id="code"
															value="#{trainingTypeMasterBean.trainingTypeMaster.code}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['code_is_req']}" maxlength="30"
															placeholder=" ">
															<p:keyFilter regEx="/[a-zA-Z\d\s]/i"></p:keyFilter>
														</p:inputText>
													</div>
													<h:message for="code" styleClass="validation-error-label"></h:message>
													<p:tooltip for="code" value="#{msg['code_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['name']}" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText styleClass="form-control" id="name"
															value="#{trainingTypeMasterBean.trainingTypeMaster.name}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['name_is_req']}" maxlength="30"
															placeholder=" ">
														</p:inputText>
													</div>
													<h:message for="name" styleClass="validation-error-label"></h:message>
													<p:tooltip for="name" value="#{msg['name_valid_msg']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['lname']} (#{msg['in_tamil']})" />
													<span class="mand-red">*</span>
													<div class="input-group">
														<span class="input-group-addon"><i
															class="icon-user"></i></span>
														<p:inputText styleClass="form-control" id="l_name"
															value="#{trainingTypeMasterBean.trainingTypeMaster.l_name}"
															required="#{not empty param[submit.clientId]}"
															requiredMessage="#{msg['local_name_req']}" maxlength="30"
															placeholder=" ">
															<!-- <p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter> -->
														</p:inputText>
													</div>
													<h:message for="l_name" styleClass="validation-error-label"></h:message>
													<p:tooltip for="l_name"
														value="#{msg['local_name_tamil_tool']}" />
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<div class="input-group">
														<span class="input-group-addon"><i
															class=" icon-file-text2"></i></span>
														<p:inputText styleClass="form-control" id="remarks"
															value="#{trainingTypeMasterBean.trainingTypeMaster.remarks}"
															requiredMessage="#{msg['remarks']} #{msg['required']}"
															maxlength="50" placeholder=" ">
															<!-- <p:keyFilter regEx="/[0-9_]/i" preventPaste="false"></p:keyFilter> -->
														</p:inputText>
													</div>
													<h:message for="remarks"
														styleClass="validation-error-label"></h:message>
													<p:tooltip for="remarks"
														value="#{msg['pl_en']} #{msg['remark']}" />
												</div>
											</div>



											<div class="col-lg-3 col-md-6  col-sm-6 ">
												<div class="form-group">
													<p:outputPanel
														rendered="#{trainingTypeMasterBean.action!='ADD'}">
														<p:outputLabel value="#{msg['status']}" />
														<span class="mand-red">*</span>
														<div class="input-group">
															<span class="input-group-addon"><i
																class="icon-file-check"></i></span>
															<h:selectOneMenu class="form-control" id="status"
																value="#{trainingTypeMasterBean.trainingTypeMaster.status}"
																tabindex="4">
																<f:selectItem itemLabel="Select" itemValue="true" />
																<f:selectItem itemLabel="Active" itemValue="true" />
																<f:selectItem itemLabel="InActive" itemValue="false" />
															</h:selectOneMenu>

														</div>
													</p:outputPanel>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12 text-right ">
												<p:commandButton value="&#xed6a;&nbsp;#{msg['cancel']}"
													title="#{msg['cancel']}"
													action="#{trainingTypeMasterBean.gotoPage('LIST')}"
													class="btn btn-sm bg-slate font-iconmoon m-l-0" />

												<p:commandButton
													value="#{trainingTypeMasterBean.action eq 'ADD' ?  '&#xed6e;' :  '&#xeda7;' }  #{trainingTypeMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
													title="#{trainingTypeMasterBean.action eq 'ADD' ?  msg['submit'] :  msg['update'] }"
													styleClass="#{trainingTypeMasterBean.action eq 'ADD' ?  'btn bg-success font-iconmoon' : 'btn bg-primary font-iconmoon' }"
													binding="#{submit}"
													action="#{trainingTypeMasterBean.create}"
													update="createTenderPanel growls" />

												<ui:remove>
													<p:commandButton value="&#xed6e;&nbsp;#{msg['submit']}"
														title="#{msg['submit']}"
														action="#{trainingTypeMasterBean.create()}"
														validateClient="true" update="growls"
														class="btn bg-success heading-btn  font-iconmoon cust-btn-h"
														onclick="PF('statusDialog').show()" binding="#{submit}">
													</p:commandButton>
												</ui:remove>
											</div>
										</div>
										<!-- end row -->
									</div>
								</div>
							</p:outputPanel>
						</div>
					</div>
				</div>
			</div>

		</h:form>
	</ui:define>
</ui:composition>