<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	template="/pages/template/layout.xhtml">
	<ui:define name="content">
		<title>InfoTex | View Training Type</title>
		<!-- Page Header -->
		<div class="page-header page-header-default">
			<div class="page-header-content">
				<div class="page-title">
					<h4>#{msg['vi_tra_ty']}</h4>
					<ul class="breadcrumb">
						<li><a href="#{request.contextPath}/pages/home.xhtml"><i
								class="icon-home2 position-left"></i>#{msg['home']}</a></li>
						<li>#{msg['masters']}</li>
						<li>#{msg['personnel_master']}</li>
						<li class="active">#{msg['vi_tra_ty']}</li>
					</ul>
					<a class="heading-elements-toggle"><i class="icon-more"></i></a>
				</div>


			</div>
		</div>
		<!-- End Page Header -->
		<div class="content">
			<div class="panel view-style">
				<div class="panel-heading bg-info">
					<h6 class="panel-title">#{msg['training_type']}</h6>
				</div>
				<div class="pg-scroll-panel-1">
					<div class="panel-body p-t-10">
						<h:form id="catform">
							<div class="row view-style">
								<div class="col-sm-12">
									<p:outputPanel id="entity">
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['code_no']}" />
													<h:outputText id="code" onblur=""
														value="#{trainingTypeMasterBean.trainingTypeMaster.code}">
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['name']}" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.name}"
														id="cname">
													</h:outputText>
												</div>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['name']} (#{msg['in_tamil']})" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.l_name}"
														id="lname">
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['status']}" />
													<h:outputText id="status"
														value="#{trainingTypeMasterBean.trainingTypeMaster.status eq 'true'?'Active':'Inactive'}">
													</h:outputText>
												</div>
											</div>
										</div>
										
										<div class="row view-style">
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['remarks']}" />
													<h:outputText id="remarks"
														value="#{trainingTypeMasterBean.trainingTypeMaster.remarks}">
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_date']}" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.createdDate}"
														id="createDate">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['created_by']}" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.createdBy.username}"
														id="createBy">
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['modified_date']}" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.modifiedDate}"
														id="modDate">
														<f:convertDateTime pattern="dd-MMM-yyyy"
															timeZone="#{loginBean.timeZone}" />
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
												<div class="form-group">
													<p:outputLabel value="#{msg['modified_by']}" />
													<h:outputText
														value="#{trainingTypeMasterBean.trainingTypeMaster.modifiedBy.username}"
														id="modBy">
													</h:outputText>
												</div>
											</div>
											
											<div class="col-lg-12 col-md-12 col-sm-12 text-right">
												<p:commandButton value="&#xeddf;&nbsp;#{msg['back']}"
													title="#{msg['back']}"
													action="#{trainingTypeMasterBean.gotoPage('LIST')}"
													update="catform" immediate="true"
													class="btn bg-info btn-xs font-iconmoon">
												</p:commandButton>
											</div>
										</div>
									</p:outputPanel>
								</div>
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>